[2019-06-10 10:38] hairesis opened #420 "RBD's PV claim can require the volume to be encrypted"
# Describe the feature you'd like to have #

PV claims with RBD can require the volume to be encrypted.
Note to avoid confusion: I do know ceph encrypts at rest with LUKS already. What I am actually trying to achieve is to encrypt the single volume, similarly at what an EBS request would do.

# What is the value to the end user? (why is it a priority?) #
- This feature would put Ceph almost in par

[2019-06-10 11:03] Madhu-1 commented on #251
closed by https://github.com/ceph/ceph-csi/pull/375

[2019-06-10 11:03] #251 closed

[2019-06-10 11:04] Madhu-1 commented on #255
closing this one as a master is the default brach

[2019-06-10 11:04] #255 closed

[2019-06-10 11:05] Madhu-1 commented on #266
@j-griffith can we close this one?

[2019-06-10 11:05] #266 closed

[2019-06-10 11:05] Madhu-1 commented on #268
closed by https://github.com/ceph/ceph-csi/pull/298

[2019-06-10 11:05] #268 closed

[2019-06-10 11:59] ajarr commented on #411
@humblec , no. not available atm.

[2019-06-10 15:38] humblec commented on #411
Thanks for confirming, we need this functionality too.

[2019-06-10 16:35] batrick commented on #411
The ceph-mgr "volumes" plugin that @ajarr is working on.

It would probably look like `ceph fs subvolume clone <vol> <subvol> <snapshot> <new_subvol>`. @ajarr ?

[2019-06-10 16:42] humblec commented on #411
Oh. OK, thanks for clarifying.

Does above command can be reused, if we want to clone a subvol from an existing one  ? or is the plan to do it with a seperate command?. If `ceph fs subvolume clone` is the first strings, may be its good to accommodate that functionality too in the same, Isnt it ? @batrick @ajarr

[2019-06-10 16:48] tombarron commented on #411
We'd like to be able to use this directly from the OpenStack Manila driver as well.  This would enable both (1) Manila CephFS (and CephFS with NFS) create-share-from snapshot support, and (2) manila-CSI (recently merged by gman0 in k8s/cloud-provider-openstack) support for creating a new volume from snapshot.

[2019-06-10 17:32] ktdreyer commented on #367
Could you please give an example of this problem?

[2019-06-10 17:39] ktdreyer opened #421 "document the differences between the three cephcsi images"
_What new functionality do you want?_

I would like a paragraph of documentation that describes the differences in [the three images we publish](https://quay.io/organization/cephcsi):

1. `cephcsi/cephfsplugin`
2. `cephcsi/rbdplugin`
3. `cephcsi/cephcsi`

The differences between these three are not clear to me. I suspect `cephfsplugin` and `rbdplugin` are going to go away at some point, but this i

[2019-06-10 20:34] dillaman commented on #420
@hairesis Is the goal to have the RBD CSI interface w/ LUKS behind the scenes? For example, you could store a k8s secret and either instruct the storage class to encrypt new volumes using the secret or provide the secret for individual PVCs?

I'd imagine snapshots would remain encrypted with the original key but any attempt to create a new volume from the snapshot w/ a new secret would require a d

[2019-06-11 00:58] humblec commented on #421
The support matrix will be updated soon after the v1.1.0 release with the docker images or version and that should avoid this confusion.

We do have to maintain those for earlier versions of CSI spec. Say for example , v1.0 and 0.3. But eventually it will go out or will vanish. From csi v1.1.0 it will be just one iimage which is "cephcsi"

Downstream should be just one image which is "cephcsi" and

[2019-06-11 14:53] hairesis commented on #420
@dillaman thanks.

yes, that is the idea. We would like to encrypt new volumes for individual persistent volume claims.

At the moment we are not concerned about snapshots but it's certainly something we would like to think about  going forward.

[2019-06-12 05:48] Madhu-1 opened #424 "ceph versions supported by ceph-csi"
we need to add a matrix related to the minimum and maximum version of ceph supported by the ceph-csi driver.

[2019-06-12 08:54] humblec commented on #424
Yep . I will update it along with the release update. Thanks

[2019-06-12 08:55] humblec commented on #424
Similar to #421

[2019-06-12 09:06] humblec commented on #379
The PR is merged and I am closing this issue.

[2019-06-12 09:06] #379 closed

[2019-06-12 09:07] humblec commented on #380
@poornimag Is it something u can address with Ceph Mgr PR #400 ?

[2019-06-12 11:37] #404 closed

[2019-06-12 12:17] Madhu-1 opened #426 "rbd creating multiple images in the backend for single PVC"
# Describe the bug #

rbd creating multiple images in the backend for single PVC

# Environment details #

- Image/version of Ceph CSI driver (canary)
- helm chart version
- Kubernetes cluster version (1.14.1)
- Logs

# Steps to reproduce #
* deploy rbdplugin
* create/delete multiple PVC
* check rbd ls output

# Actual results #

rbd is creating multiple images in the backend for single PVC
Descri

[2019-06-12 12:17] Madhu-1 commented on #426
@humblec @ShyamsundarR PTAL

[2019-06-12 12:35] Madhu-1 commented on #426
samething is happening with snapshot also

log is from  different volume
[code]

[2019-06-12 13:09] humblec commented on #199
@poornimag can you please take a look at this ?

[2019-06-12 13:43] humblec commented on #426
@Madhu-1 first thing to check here is the number of attempts the CSI driver made to create the volume in the backend. The volume create call is idempotent, still we have to check that. If its something wrong in the backend ( by logging in the tool box pod), it should be easily reproducible by creating a volume in the backend manually.  If its CSI code, we have to track down from which commit this

[2019-06-12 13:44] humblec commented on #426
@dillaman Any thoughts here while we continue our analysis from CSI side?

[2019-06-12 14:39] dillaman commented on #199
Just to clarify, it is sent as the ```--pool``` argument

[2019-06-12 15:03] nehaberry commented on #426
@Madhu-1

Is it that the rbd image is not getting deleted and staying behind ?

OR

Is it that for a single pvc request, more than one rbd volume is getting created ?

Thanks

[2019-06-12 15:06] Madhu-1 commented on #426
@nehaberry yeah correct let's wait till we fix https://github.com/ceph/ceph-csi/issues/426

[2019-06-12 16:17] lbogdan commented on #199
@dillaman Updated, thanks for the heads up!

[2019-06-12 17:00] ShyamsundarR commented on #426
The issue is that once we moved to a `Deployment` from a `StatefulSet`, in PR https://github.com/ceph/ceph-csi/pull/414 we are getting a create request being sent to all replicas in the `Deployment`. This causes each running instance to not lock out the other (as the locks are in memory locks, and will not conflict across processes/nodes) request, and so we end up losing atomicity.

The `Deploymen

[2019-06-12 17:26] tombarron commented on #426
I am reminded of slides 44-48 in the Storage 101 [1] talk at Kubecon Barcelona this year.

[1] https://static.sched.com/hosted_files/kccnceu19/cf/slides.pdf

[2019-06-12 17:56] ShyamsundarR commented on #426
Looks like this is achieved using the leader election feature in the csi-provisioner side car, BUT in order for this to trigger we need the following additions/corrections to the file: deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml

This line needs an opening quotation mark (IOW, has a typo): https://github.com/ceph/ceph-csi/blob/69662e63ed0eaaaef1d135138b997a45cf6d8793/deploy/rbd/kubernetes

[2019-06-13 06:04] humblec commented on #353
We are still waiting for the upstream ceph container image update to roll out this release. Delay of couple of weeks is expected, however working on other methods to address it, if possible

[2019-06-13 09:04] tangle329 commented on #217
Does this really work? I tested  #282 in my cluster, it seems the remount can not take effect in container. And `Transport endpoint is not connected` still exist when I visit the mounted path in the pod.

[2019-06-13 10:20] ShyamsundarR commented on #217
When I was working on https://github.com/ceph/ceph-csi/pull/390 I faced a similar issues, the re-mount occurs, but transport end point errors are still reported.

Further, the code stores the ID/Key on a local [empty dir](https://kubernetes.io/docs/concepts/storage/volumes/#emptydir) volume supported by Kubernetes. I see 2 problems here,
1. Should we really store the ID/Key on the local host for e

[2019-06-13 16:18] ktdreyer commented on #353
While we wait for Ceph upstream to cut a v14.2.2 release, I see many other open tickets in the ceph-csi project that have a "release-1.1.0" label. Can we resolve these in the meantime?

[2019-06-14 14:19] ShyamsundarR opened #433 "Build a cache of pool and FS information, for faster lookup, than calling Ceph commands each time"
Currently in the code we fetch poolIDs, FscID each time it is required. This means calling into Ceph multiple times in the case of some requests (say create) or just fetching the same information repeatedly from Ceph across calls.

Instead, the enhancement proposed is to build a cache of pool names and IDs, and similarly for FSNames and it's IDs, for faster lookups.

This would help in quicker res

[2019-06-14 14:29] ShyamsundarR opened #434 "Fetch OMap keys in bulk that one by one"
In function [GetObjectUUIDData](https://github.com/ceph/ceph-csi/blob/983f28ad2f3f6cb05eca59fbe222ee19bc701e0e/pkg/util/voljournal.go#L377-L401) we fetch multiple keys from the same OMap, this can be optimized to fetch all keys in one call, and hence save a network roundtrip in fetching these one by one.

This should speed up operations around snapshot management, as the second key is fetched (at

[2019-06-14 14:33] ShyamsundarR opened #435 "Provide tools/scripts to trace a PVC to its RADOS maps, keys and image/subvolume"
It would be useful to have a tool, that can take in a PVC as input and trace it to its image (rbd) or subvolume (cephFS), while also dumping required OMap and key information regarding the same.

Also a reverse mapping tool would be helpful to do the same in reverse.

This can aid debugging and troubleshooting to understand how things are linked up, and if they are linked up correctly as well.

Th

[2019-06-16 16:12] briantopping commented on #190
Hi, thanks for a great product! `README.md` still refers to cephcsi.slack.com. Is the rook csi channel the correct one?

[2019-06-18 05:41] Madhu-1 commented on #190
@briantopping we are active on both slack channels. but later on, we will be moving to `cephcsi.slack.com`

[2019-06-18 13:36] humblec commented on #353
@ktdreyer Its other way around :), while we wait, we are getting maximum in. :)

[2019-06-18 16:28] briantopping commented on #190
Ah great, thanks @Madhu-1! Don't forget to provide some means of getting an invitation to the latter!! :D

[2019-06-18 19:05] ShyamsundarR commented on #411
A clone in CSI is created using the [CreateVolume](https://github.com/container-storage-interface/spec/blob/master/spec.md#createvolume) call, with a VolumeContentSource as the snapshot to clone from. If we perform a recursive copy of data when such a CreateVolume is invoked, it would very likely take time, causing the caller to time out on the CreateVolume call, and try again.

The ceph-csi behav

[2019-06-18 19:47] batrick commented on #411
Well this is troublesome.

Native clone is complex and simply will not be done anytime soon. The urgency surrounding this feature is to eliminate the feature gap between CephFS and RBD volumes.

Is there no way we can block volume creation in CSI somewhere in the chain of operations of provisioning/using a volume?

[2019-06-18 21:25] ShyamsundarR commented on #411
Just to be clear, the first call to clone will time out on the caller end (the client end), the Ceph-CSI plugin (the server end) would still progress and (say) wait on a response to the clone from ceph, so eventually the first call will be complete, and hence the clone would be created.

The server on one of the subsequent retries would finally detect that the clone was complete and respond in tim

[2019-06-19 06:55] humblec commented on #426
@Madhu-1 after reverting the patch, things are working as expected , Isnt it ?

[2019-06-19 07:00] Madhu-1 commented on #426
yes closing this one

[2019-06-19 07:00] #426 closed

[2019-06-19 14:30] ktdreyer commented on #421
I was discussing the ceph-csi project with someone, and the question of "what is the canary image" came up. It would be great to document the technical explanation of the "canary" tag for the container, because I don't think that's common terminology like "master" or "latest". In fact, maybe we should rename "canary" to "master".

[2019-06-19 18:09] batrick commented on #411
We can build those semantics in a new call like:

`ceph subvolume clone ...`

It would just work in the background and return immediately. Then just build another call to check the status:

`ceph subvolume info ...`

or similar. Would htat work?

[2019-06-20 14:53] Daniel-Pivonka commented on #356
There are 2 different implementation ideas to add a liveness prometheus metric.

1.sidecar implementation
2.built into the plugin

There is a similar liveness probe [1] that is part of kubernetes-csi but it just supplies an http endpoint but we want a prometheus endpoint. This implementation creates a sidecar container inside the csi-plugin pod that when an http request happens a grpc request is m

[2019-06-21 04:43] Madhu-1 commented on #356
@humblec @ShyamsundarR @anmolsachan @shtripat please let me know your thoughts on both the approaches which one to follow

 I would go with approach 1 because of the below points

* no extra service will be running if user don't want metrics
* even if matrics container  fails we don't need to restart csi-plugin container inside stateful sets (as we can define different liveness probe rules for eac

[2019-06-21 04:48] Madhu-1 commented on #356
@anmolsachan am not sure how running sidecar will become overhead
IMO if we put memory and CPU limit per container then I think we won't have any issue related to resources.

if we run as a sidecar container we can have it matrics per PVC also (but need some code implementaion)

[2019-06-21 04:51] shtripat commented on #356
@Madhu-1 I would agree to option-1.

[2019-06-21 04:55] humblec commented on #356
@Daniel-Pivonka @Madhu-1  As mentioned earlier , I would like to get this resolved with option `1` ie nothing but `sidecar container`.

This sidecar container can stay in other repo and dont have to be part of `ceph-csi` repo.
We also have to validate whether this cause any performance impact on csi plugin while serviing the requests as its connected via UDS. If there is a performance hit, it has

[2019-06-21 11:47] anmolsachan commented on #356
@Madhu-1 @Daniel-Pivonka @humblec I also agree with the sidecar approach. Sounds good. Regarding which repo this should go to is the question here. @humblec  If this cannot go to the ceph-csi, then would you advice this to go with ceph-csi deployment via rook-operator ?

[2019-06-21 12:11] humblec commented on #356
Yeah, it can be part of deployment via Rook, however this could be altogether a different deployment so that a user/admin can deploy it any time independently and start receiving metrics. Are we seeing any glitches if we deploy at any point in time or later to CSI deployment ?

[2019-06-21 14:43] anmolsachan commented on #356
@humblec According to my understanding, the flow is something like this: Rook Operator depolyment -> Rook-Ceph-Csi deployment -> Cluster Creation -> deployment of monitoring pieces. This all has to be in a flow and there shall not be any interaction with the admin once the Rook deployment starts. Thus we will have to integrate with either CSI deployment or monitoring deployment. I feel this can be

[2019-06-21 14:50] Madhu-1 commented on #356
I would like to make this deployment configurable during CSI deployment in rook.
currently we are doing same for cephfs and rbd https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator-with-csi.yaml#L41

[2019-06-21 17:27] Daniel-Pivonka commented on #356
This is the sidecar container #438 Where do we want this? @anmolsachan @humblec

[2019-06-22 04:13] humblec opened #440 "Make Ceph-CSI topology aware."
# Describe the feature you'd like to have #

CSI provide a mechanism to provision volumes based on topology. its called as topology aware provisioning. This functionality is available in upstream ( Beta @1.14) and this is the feature request for adopting the same in ceph-csi.

# What is the value to the end user? (why is it a priority?) #

The user will be able to provision volumes based on failov

[2019-06-22 04:23] humblec commented on #411
I completely agree to @batrick here and the urgency is really high!!! We have to sort this out asap. Even if CSI timeout, the subsequent calls is going to pick it up and thats the design for most of the CSI calls. Secondly,  this is not specific to ceph,  other storage systems behaves the same way, most of the storage operations are heavy.

ceph subvolume clone ...

It would just work in the backg

[2019-06-24 13:46] #270 closed

[2019-06-24 14:52] hairesis commented on #420
I've created a proof of concept change according to what described above.
Code changes can be found here:
https://github.com/hairesis/ceph-csi/blob/csi-v0.3-encrypt/pkg/rbd/rbd_attach.go
https://github.com/hairesis/ceph-csi/blob/csi-v0.3-encrypt/pkg/rbd/rbd_util.go
Note:
- the change is on top of v0.3.0 because of the Kubernetes version available to me. It should not be ro much of a problem to ada

[2019-06-24 15:48] humblec commented on #420
@liewegas JFYI

[2019-06-25 02:11] huaizong commented on #217
remount only take effect when pod restart @tangle329 @ShyamsundarR

[2019-06-25 02:23] huaizong commented on #217
yeah, you are right. it depends on the mechanism of kubernetes secrets.

when pod restart on the same node the empty dir will not wipe off mount cache.

[2019-06-25 06:48] humblec commented on #435
@ShyamsundarR are u working on this ? if not, let me find a volunteer :).. This can come handy , tagging it for next release with a flexible schedule.

[2019-06-25 10:30] james58899 commented on #264
@Madhu-1 Can be reproduce or need more information?

[2019-06-25 10:33] Madhu-1 commented on #264
@james58899 forgot about this issue. I will test this out shortly.

[2019-06-25 10:56] ShyamsundarR commented on #435
I am not working on this currently @humblec please reassign as appropriate.

[2019-06-25 11:04] ShyamsundarR commented on #407
I did a round of tests with pre-provisioned CephFS volumes (or directories) and exposing them as static PVs or pre-provisioned volumes, the requires YAML for that test/example can be found [here](https://gist.github.com/ShyamsundarR/1009b79966992470f588a277429ae2e1). This maybe a little dated, but can serve as an example for RBD as well.

Let me know if this helps, else I can create one for RBD as

[2019-06-25 11:21] tiwalter commented on #353
@humblec does this mean, that you generally need the CEPH version 14.2.2 for running v1.1.0?

[2019-06-25 11:28] humblec commented on #353
@tiwalter yeah! or (latest) nautilus version which support ceph manager based cephfs volume provisioning. The reason being the ceph manager based volume provisioning has to be supported in the cluster and thats what we are trying achive with PR#400 . We are also figuring out if we can get `14.2.1` latest build with required patches in. Any specific queries on this ?

[2019-06-25 12:00] tiwalter commented on #353
@humblec thanks ! ;)

The problem is, that i have CEPH v12.2.10 and need the feature "Resize Ceph FS volumes" (https://github.com/ceph/ceph-csi/pull/412), that will be available with the newest v1.1.0.

Is there any opportunity to use this feature without the newest CEPH version?
Or is it possible to release for example version 1.0.1 with the new features (like resizing) except the used features o

[2019-06-25 13:10] humblec commented on #353
YW :)

I see :).  Valid ask.

The version `1.0` plugin use a different mechanism which use "subdirs".  Ideally if we add resize support for that branch (`1.0`) it should work too. However the 'resize' sidecar..etc have to be added/qualified too. Let me think some more before confirming.

We had a thought about it. It duplicate good amount of work between branches. The main reason for `1.1.0` is to

[2019-06-25 15:28] tiwalter commented on #353
Yes, i'm absolutely with you ;)

I also understand this point of view.

Nevertheless, it also impossible to release a new Version "1.0.1" with the resizing functionality (and maybe more features) even if we implement this feature and open a PR for it?
I think, that a lot of people have not the newest CEPH version and an update on a productive system generates a big administrative overhead.

I thin

[2019-06-25 17:44] netzzer opened #444 "[csi-cephfs] cephfs PVC fails to mount in OCP4 postgresql pod"
Cannot mount a cephfs PVC into a postgresql pod created from an openshift default template (attached).
# Environment details #

- Image/version of Ceph CSI driver
$ cat operator-openshift-with-csi.yaml
...
CSI enablement
        - name: ROOK_CSI_ENABLE_CEPHFS
          value: "true"
        - name: ROOK_CSI_CEPHFS_IMAGE
          value: "quay.io/cephcsi/cephfsplugin:canary"
        - name: ROOK_CS

[2019-06-25 18:02] netzzer commented on #444
Most likely it is due to securityContext of the pod. First pod is created from pod.yaml in ~/csi/examples/cephfs. Second pod is postgresql pod created from attached postgresql template using csi-rbd vs csi-cephfs storageclass (so that pod is created and you can look at yaml output).

$ oc get csicephfs-demo-pod -o yaml
...
    securityContext:
      capabilities:
        drop:
        - MKNOD

[2019-06-25 18:22] netzzer commented on #444
logs for failed postgresql pod (cannot mount PVC created from csi-cephfs)
$ oc logs -f postgresql-x-xxxxx
mkdir: cannot create directory '/var/lib/pgsql/data': Permission denied

[2019-06-25 18:45] ShyamsundarR commented on #444
Problem faced here is fixed in https://github.com/ceph/ceph-csi/pull/423

@netzzer The images in use in your setup do not have the fix `"quay.io/cephcsi/rbdplugin:canary"`

The PR that got merged into Rook today [1] has the [changes](https://github.com/rook/rook/blob/004f795a7928f407d4d108cd678ffbd1264834fe/cluster/examples/kubernetes/ceph/operator-openshift-with-csi.yaml#L125-L126) to use the lat

[2019-06-26 01:42] netzzer commented on #444
I did retest with fresh clone of rook master branch and the issue is fixed. I am able now to mount a cephfs PVC in a postgresql pod.

$ oc rsh postgresql-1-l9tqb
sh-4.2$ df -h
Filesystem      Size  Used Avail Use% Mounted on
overlay         119G  6.8G  113G   6% /
tmpfs            64M     0   64M   0% /dev
tmpfs           7.7G     0  7.7G   0% /sys/fs/cgroup
shm              64M  8.0K   64M   1% /

[2019-06-26 03:57] Madhu-1 commented on #444
@netzzer thanks for confirming. closing this issue.

[2019-06-26 03:57] #444 closed

[2019-06-26 05:05] anmolsachan commented on #356
@Daniel-Pivonka Let's have it in the CSI deployment in rook and a configurable component as @Madhu-1 said.  Please push a PR on Rook for the same with the design spec, as its expected there.

[2019-06-26 07:42] humblec commented on #356
The sidecar container image can be hosted anywhere, the deployment piece can be clubbed in CSI. But my point/question is that,
@anmolsachan @Daniel-Pivonka at any point in time the deployment of sidecar can be done  in a cluster and serving of the request can be performed , Isnt it ?

If above is the case, the sidecar itself can have a seperate 'deployment artifact/manifest" which is consumable in

[2019-06-26 08:40] anmolsachan commented on #356
The sidecar container has to be deployed before monitoring pieces are deployed.

Yes, that sounds good but again it needs to be deployed with the storage deployment flow before monitoring pieces are deployed in rook

[2019-06-26 11:38] Madhu-1 opened #446 "create and delete a large number of snapshots leaving stale snapshots in the backend"
# Describe the bug #

create and delete a large number of snapshots  leaving  stale snapshots  in the backend
# Environment details #

- Image/version of Ceph CSI driver: canary
- helm chart version
- Kubernetes cluster version:1.14.2
- Logs

rbd plugin logs
[rbd.log](https://github.com/ceph/ceph-csi/files/3329777/rbd.log)

snapshotter logs

[snap.log](https://github.com/ceph/ceph-csi/files/332977

[2019-06-26 11:38] Madhu-1 commented on #446
@ShyamsundarR @humblec PTAL

[2019-06-26 13:06] itmuckel commented on #407
@ShyamsundarR Yes, please show me how a file for rbd restoration should look.

My current file looks like this:
[code]

The only value that ties this pv to the rbd is the `volumeHandle`. It is the same name as the rbd.
When I try to use this, I get the following error at pod level:

[code]

My pool is called `rbd`, just the default name, but where in the PersistentVolume definition can I specify i

[2019-06-26 14:45] ajarr commented on #411
@nixpanic, this discussion might be interesting for you.

[2019-06-27 00:56] ShyamsundarR commented on #446
There are few things happening here, primarily because the requests are timing out.

The snapshotter sidecar does NOT retry taking snapshots, instead it tries once and if the call times out, the `volumesnapshot` object gets an error. In the background the snapshot is actually created by the first RPC to request the same, but kubernetes does not have a record of the same (i.e the `SnapID`). Thus, w

[2019-06-27 01:17] ShyamsundarR commented on #411
There is one corner case where, when the clone by copy takes time, and the PVC that started the clone is deleted, may leak the clone against Ceph.

On experimenting with induced sleep in a create volume call, such that it would never report success in time, I observed that the moment the PVC is deleted (it is stll in `Pending` state till then as it never received a success) the provisioner stops c

[2019-06-27 01:28] ShyamsundarR commented on #446
We possibly need the snapshotter side car to implement a more robust timeout and retry mechanism like the provisioner does: https://github.com/kubernetes-csi/external-provisioner#csi-error-and-timeout-handling

[2019-06-27 19:07] ShyamsundarR opened #449 "Can the CSI RBD plugin catch up in terms of performance to native CLI calls?"
As a part of the discussion in PR https://github.com/ceph/ceph-csi/pull/443 it was noted by @dillaman [that native CLI calls](https://github.com/ceph/ceph-csi/pull/443#issuecomment-505135380) outperform the plugin by a large factor.

As part of the discussion I [noted](https://github.com/ceph/ceph-csi/pull/443#issuecomment-505172783) that the plugin does more work than just an image create, and th

[2019-06-27 19:24] ShyamsundarR commented on #449
First test, to compare numbers generated using PR https://github.com/ceph/ceph-csi/pull/443 and the script below, that generate exact nature and order of calls as the plugin, is provided in this comment.

Script to mimic what the plugin does as of commit hash `59d3365d3b13f37a9b914d59d931c71269a21eec` on master: [raw-rbd-perf.sh.txt](https://github.com/ceph/ceph-csi/files/3336340/raw-rbd-perf.sh.t

[2019-06-27 19:47] dillaman commented on #449
RBD deletes are highly dependent on the image size since it requires issuing RADOS deletes for every *possible* backing object (regardless of whether or not they actually exists). Therefore, 1 GiB image deletion could be an order of magnitude faster than a 10 GiB image.

Longer term, that is why I am proposing moving long-running operations to a new MGR call so that the CSI can "fire and forget".

[2019-06-28 22:00] dillaman opened #451 "Implement a merged RBD/CephFS "csi.ceph.com" driver"
# Describe the feature you'd like to have #

Once both the RBD and CephFS CSI driver reach (near) feature parity, provide a unified driver that hides the low-level implementation details between RBD/CephFS. When requesting RWO for filesystem PVs or RWO/RWX for block PVs, it should automatically use RBD. When requesting RWX for filesystem PVs, it should automatically use CephFS.

# What is the valu

[2019-06-28 22:05] dillaman commented on #433
Note: this would be handled automatically as part of [using native API calls](https://github.com/ceph/ceph-csi/issues/449#issuecomment-506485209) since the MON maps are cached within the librados connection.

[2019-06-29 05:30] humblec commented on #451
@dillaman this is one of the goal we should chase once we are in feature completion in individual drivers. The abstraction or control completely at SP's hand would be most of the people like, but there are some users who want to tweak their own too. Considering that, my opinion would be having 2 versions available. One completely in SP's control , one for controlling it from admin side. Almost sam

[2019-06-29 11:12] #264 closed

[2019-06-29 11:17] ShyamsundarR commented on #446
On further thought, snapshot may not be able to retry endlessly (owing to concepts like freezing/thawing workloads using the volume, prior and post the snapshot, and IO to the volume cannot be held back for long duration's). It may hence require some other form of fix in the kubernetes snapshotter. Will start a discussion there.

[2019-06-29 14:26] dillaman commented on #451
Indeed, that was the intention of my caveat in the first sentence.

Given the use-case of users requesting PVCs from SCs, that implies the creation of a new CSI that understands the business logic of Ceph. To me, since it would be inherently tied to the capabilities of Ceph, it makes sense to keep it all within `ceph-csi`.

I don't think the operator pattern would apply here since that would imply

[2019-07-01 10:08] Madhu-1 commented on #446
@ShyamsundarR can you point me to the snapshot discussion if it already started?

[2019-07-01 14:10] #279 closed

[2019-07-03 03:31] batrick commented on #411
@ajarr please summarize this discussion (with the links to the specs provided by @ShyamsundarR) and propose the new APIs in a tracker ticket.

There are ways to approach this so that cleanup is possible. The cloned(-ing) subvolume could be put in an isolated location until the final `ceph fs subvolume clone...` call comes in to **commit** the operation. The volumes plugin can garbage collect any c

[2019-07-03 05:21] Madhu-1 opened #455 "ceph-csi panic during cephfs volume create"
# Describe the bug #
cephfsplugin-provisioner-0 goes to CrashLoopBackOff when many PVC's are created with csi-cephfs storage class

# Deviation from expected behavior:
PVC is not created and `cephfsplugin-provisioner-0` pod goes in CrashLoopBackOff status

# Expected behavior:
PVC to get created

# How to reproduce it (minimal and precise):

Testing to create 900 Pods/PVC on top of csi-cephfs stor

[2019-07-03 06:47] ripulpatel commented on #167
@rollandf ,
Can you please provide detail on which other place feature gate was missing? I have enabled feature gate on API server and also on kube-controller-manager but still seeing the same error as yours.

`
kube-apiserver --authorization-mode=Node,RBAC --encryption-provider-config=/etc/kubernetes/pki/secrets.conf --feature-gates=VolumeSnapshotDataSource=true,BlockVolume=true,CSIBlockVolume=tr

[2019-07-03 06:51] Madhu-1 commented on #167
@ripulpatel please check the flag is present on kubelet

[code]

[2019-07-03 07:07] humblec commented on #353
Thanks!

Yeah, true, but we are taking help from "Rook" to simplify this process.

Completely agree and this matrix will be available with 1.1 release.

Sure, that make better deal, but please note that, there are huge number of bug fixes or enhancements went to "master" branch which are missing in `1.0` branch.

[2019-07-03 07:11] humblec commented on #353
[status update]

Apologies for the delay on rolling out this release, but we have a good news that, an upstream ceph container is available now with a tag `latest-nautlius-devel`which is very very close to `Ceph Nautlius 14.2.2` . It is helpful to unblock our Ceph Manager based PRs or work. We expect the release to be made available soon :

ETA :  08- Jul - 2019

[2019-07-03 07:32] ripulpatel commented on #167
@Madhu-1 , Thanks. That worked.

[2019-07-03 10:00] Madhu-1 commented on #153
during the `NodeStageVolume` the stagingPath is a directory, not file (this directory is created by kube not by csi driver). can we bind a /dev/rbdx` to the directory and again bind that directory to a file in nodePublish volume?

@j-griffith @dillaman @humblec @nixpanic  any idea how to solve this.

[2019-07-03 10:09] Madhu-1 commented on #370
#346 is merged now, closing this one. please reopen if requried

[2019-07-03 10:09] #370 closed

[2019-07-03 10:09] Madhu-1 commented on #358
This is not an issue now as we moved from data to string data in secret

[2019-07-03 10:09] #358 closed

[2019-07-03 10:45] obnoxxx commented on #153
In the block type case, can't we create a device file inside the stagingPath and map that into the container at publish?

[2019-07-04 08:52] jianglingxia opened #458 "Ceph CSI provisioner volume failed"
# Describe the bug #
I test in k8s v1.13.0 and deploy two ceph csi plugin then create pvc but can not dynamic create pv and volume

the pvc log is :
Events:
Type Reason Age From Message

Warning ProvisioningFailed 5m28s cephfs.csi.ceph.com_csi-cephfsplugin-provisioner-0_7bc9dd4a-9d2d-11e9-8e5e-fa163e4279c0 failed to provision volume with StorageClass "csi-cephfs-sc": rpc error: code = InvalidArgum

[2019-07-04 08:53] jianglingxia commented on #458
PTAL @Madhu-1
thanks

[2019-07-04 08:55] Madhu-1 commented on #458
@jianglingxia can you paste  the secret yaml file you used, and can you paste the `ceph mon dump` output from the ceph cluster and also logs from  csi-cephfsplugin  container in cephfs-provisioner pod

[2019-07-04 09:03] jianglingxia commented on #458
my first secret.yaml:
[root@node-8:/home/ubuntu/ceph-csi]$ cat secret.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: csi-cephfs-secret
  namespace: default
stringData:
  # Required for statically provisioned volumes
  #userID: <plaintext ID>
  #userKey: <Ceph auth key corresponding to ID above>

  # Required for dynamically provisioned volumes
  adminID: YWRtaW4=
  adminKey: QVFBMHdobGRleD

[2019-07-04 09:11] Madhu-1 commented on #458
@jianglingxia adminID and adminKey should not be base64 encoded
https://github.com/ceph/ceph-csi/blob/5cf0599367f46c7b8b14fd84bdac5765664ae75c/examples/cephfs/secret.yaml#L12-L14

[2019-07-04 09:24] jianglingxia commented on #458
ok,thanks
but now my problem can not dynamic create pv and volume is that :
E0704 07:36:46.950034       1 controllerserver.go:56] failed to create volume pvc-0ed39014-9e2e-11e9-82a9-fa163e3dc6af: an error occurred while running (6448) setfattr [-n ceph.quota.max_bytes -v 5368709120 /var/lib/kubelet/plugins/cephfs.csi.ceph.com/controller/volumes/root-csi-vol-79f4b0b0-9e2e-11e9-ba63-fa163e4279c0/csi

[2019-07-04 09:29] Madhu-1 commented on #458
in cephfs code the plugin path is hardcoded https://github.com/ceph/ceph-csi/blob/master/pkg/cephfs/driver.go#L43 it assumes the pluginpath is `/var/lib/kubelet/plugin`

[2019-07-04 09:35] jianglingxia commented on #458
yeah,i just now see it ,maybe i modify the plugin yaml or modify the driver code,really thanks!

[2019-07-04 09:55] Madhu-1 commented on #458
@jianglingxia can you try this image `madhupr001/cephcsi:canary` i have done the changes if it works let us know. you need to pass `pluginpath` argument for this new image

https://github.com/ceph/ceph-csi/pull/460

[2019-07-04 12:51] nixpanic opened #461 "Data inconsistency danger when multiple nodes accessing a krbd raw-block volume without directio"
# Describe the bug #

When accessing a raw-block RBD volume on two nodes, the data is not consistent. There might be some caching playing a role here.

# Environment details #

- latest cephcsi:canary image
- development version of OCP-4.2 (kubernetest 1.14+)
- Red Hat CoreOS (kernel 4.18.0-80.1.2.el8_0.x86_64)

# Steps to reproduce #

Steps to reproduce the behavior:

1. create a block-PVC with R

[2019-07-04 12:54] nixpanic commented on #461
I have been experimenting with `rbd create --image-shared` and `rbd config set ... rbd_cache false`, but this does not seem to be sufficient. Maybe there are other options needed for `rbd map ...` or something.

An RBD image should be configured with very strict consistency when it is used with RWX permissions. At the moment I do not know yet how to do that.

[2019-07-04 13:12] Madhu-1 commented on #461
cc @dillaman

[2019-07-04 16:58] mykaul commented on #246
@humblec  - status?

[2019-07-05 01:51] jianglingxia commented on #458
@Madhu-1
i need modify the csi-cephfsplugin container add arg pluginpath in /csi-cephfsplugin-provisioner.yaml and  in csi-cephfsplugin.yaml ? is right? thanks
https://github.com/ceph/ceph-csi/blob/master/deploy/cephfs/kubernetes/csi-cephfsplugin-provisioner.yaml
https://github.com/ceph/ceph-csi/blob/master/deploy/cephfs/kubernetes/csi-cephfsplugin.yaml

[2019-07-05 05:02] Madhu-1 commented on #458
@jianglingxia yes, can  you try and let us know the result

[2019-07-05 06:49] jianglingxia commented on #458
i test it but always can not dynamic create pv and volume
the error logs csi-provisioner ,thanks for your reply:

E0704 07:34:08.446281       1 controllerserver.go:56] failed to create volume pvc-0ed39014-9e2e-11e9-82a9-fa163e3dc6af: an error occurred while running (4866) setfattr [-n ceph.quota.max_bytes -v 5368709120 /var/lib/kubelet/plugins/cephfs.csi.ceph.com/controller/volumes/root-csi-vol-0f

[2019-07-05 07:02] Madhu-1 commented on #458
@jianglingxia can  you provide he statefulset template, looks like the plugin path is not updated

[2019-07-05 07:06] jianglingxia commented on #458
the ds yaml:
---
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: csi-cephfsplugin
spec:
  selector:
    matchLabels:
      app: csi-cephfsplugin
  template:
    metadata:
      labels:
        app: csi-cephfsplugin
    spec:
      serviceAccount: cephfs-csi-nodeplugin
      hostNetwork: true
      # to use e.g. Rook orchestrated cluster, and mons' FQDN is
      # resolved through k8s service

[2019-07-05 07:19] Madhu-1 commented on #458
@jianglingxia check https://github.com/ceph/ceph-csi/issues/99, if this won't work let me know how to install kube to use `/paasdata/docker/plugins` directory?

[2019-07-05 07:45] jianglingxia commented on #458
in my k8s node i exec the command  the result print no the dir or file ,it mean that the setfattr command support in my k8s node ,but why the controoler/volume xxxxx dir can not created,i donot no why :

the /paasdata/docker means /var/lib/kubelet

[root@node-7:/paasdata/docker]$ ls
containers  cpu_manager_state  image  network  overlay2  plugin-containers  plugins  plugins_registry  pod-resources

[2019-07-05 09:28] jianglingxia commented on #99
Hi all,
I exec the command that my k8s minion or ceph minion that both failed,it means that my ceph cluster donot support the para? thanks very much

1/use kernel : mount -t ceph 178.178.178.189:1091,178.178.178.19:1091,178.178.178.188:1091:/ /home/jlx -o name=admin,secret=AQA0whldex5NJhAAnLkp5U9Iwh+69lz9zbMhMg==,mds_namespace=cephfs

mount error 22 = Invalid argument  i found add mds_namespace pa

[2019-07-05 09:49] Madhu-1 commented on #99
cc @ajarr

[2019-07-05 14:08] nixpanic commented on #461
**Summary**
I suspect that there is some client-side caching that does not get invalidated (in time). Disabling `rbd_cache` on the image does not make a difference. The only success (and no failures) is when the 2nd node (reader node in the tests) uses `dd iflag=direct ..` to bypass any caching.

While comparing checksums, I observed that the repeated `sha512sum /dev/xvda` on the reader node reads

[2019-07-05 14:44] humblec commented on #461
@nixpanic IMO, the data consistency here is application's responsibility and most of the application who need that level of consistency use `O_DIRECT` or avoid cache in between.  RBD's responsibility should be to provide the block device and leave rest to the application. Also, this is not something CSI layer has to  worry about, the reason being , this is no different than using RBD in similar fa

[2019-07-05 15:25] humblec commented on #246
@mykaul the snapshot has to wait for ceph manager based volume provisioning and deletion work (https://github.com/ceph/ceph-csi/pull/400)  and also partially on https://github.com/ceph/ceph-csi/issues/411. There is also a design discussion happening to have a common interface to support snapshot and its subsequent operations based on https://github.com/ceph/ceph-csi/issues/411#issuecomment-5004904

[2019-07-05 16:29] JohnStrunk commented on #461
@humblec is correct.

Kernel caching for the block device is normal and expected. Applications are responsible for synchronization via o_direct and/or sync calls. Applications sharing block devices have well-defined synchronization points when they flush data, and they should be left to handle that on their own due to the performance overhead of the flush. Additionally, yes, readers must be carefu

[2019-07-05 17:16] batrick commented on #246
The `ceph fs volume` interface has everything needed (imminent v14.2.2) for ceph-csi except the clone-from-snapshot feature (#411). That work is planned for the next sprint. Asynchronous purge is in the current sprint but not a blocker.

[2019-07-08 05:15] #292 closed

[2019-07-08 11:36] humblec commented on #353
[Status update]

The Rook Master has been updated to use `latest-nautlius-devel` tagged containers and  #400 is ready to go. We are on track for the release!!

[2019-07-08 12:11] #455 closed

[2019-07-08 16:57] ShyamsundarR commented on #435
## Write-up of instructions to go from a PVC or a VolumeSnapshot to an image or subvolume in Ceph

**NOTE:** Assumption is that the input is the PVC-Name or snapshot name (as applicable) and that Ceph cluster details are known

### RBD images:
- PVC `volumeName` inspection
  - Command: ```kubectl get pvc/<PVC-Name> -o jsonpath='{.spec.volumeName}'```
  - Output is the PV `<volumeName>`

- PV `volu

[2019-07-09 00:36] jianglingxia commented on #458
the problem that setfattr:  Operation not supported I am going to check my ceph cluster version,if the problem fixed i will test the image you providered ，if can let the pod running then i will tell you and you can merge the pr,thanks

[2019-07-09 09:04] strigazi commented on #63
@gman0 For me it blocks mount of volumes to pods.

[2019-07-09 09:30] jianglingxia commented on #99
can anyone help me with the problem? I found that i exec the setfattr command in the csi-cephfsplugin container will print log Operation not supported but in my ceph cluster minion and k8s minion exec command can run correct, why ? thanks all!

setfattr -n ceph.quota.max_bytes -v 2073741824 csi-vol-097f0e23-a221-11e9-8c5a-fa163e58264b-creating

[root@node-7:/usr/bin]$ docker ps
CONTAINER ID

[2019-07-09 09:52] Madhu-1 commented on #99
CC @poornimag can you help?

[2019-07-09 15:16] BlaineEXE commented on #367
I believe the problem statement is that a container is released, for example as `cephcsi/cephcsi:vX.Y.Z`. When there is an update to the code, a container is built, and that code is built into a container with the same tag `cephcsi/cephcsi:vX.Y.Z`. This is bad, because now users can be running old versions and new versions of the same container in production environments. Any update to containers

[2019-07-09 15:18] BlaineEXE opened #462 "Please tag built releases"
# Describe the bug #

Please tag versioned releases which are published to Docker Hub and/or Quay in the source so that users may cross-reference the code with the container image. If there is a container `cephcsi/cephcsi:vX.Y.Z`, I should be able to find the tag `vX.Y.Z` in the source to know what code is built into that container.

[2019-07-09 15:23] humblec commented on #462
@BlaineEXE sure, do u see this is missing any where ? with CSI v1.1 #353 we will be chaning the driver version too . https://github.com/ceph/ceph-csi/pull/405

[2019-07-09 15:27] BlaineEXE commented on #462
Yes. GitHub shows only 1 tag/release for the `cephcsi` project. Each time a new container is built and published with a version, there should be a corresponding GitHub release.

[2019-07-09 15:34] humblec commented on #462
This is correct :), the reason being we havent released any versions yet! csi v1.1.0 going to be the first release.

[2019-07-10 05:17] humblec commented on #451
As this is our ultimate goal and this going to be a version of ceph-csi  for 'operating in an automatic way' which help admin to forget about the internals, this is a critical feature to have!. I am raising the priority for this issue/feature and would like to reach on the solution at the earliest. The current plan is to track it for the release after v1.1.  Calling out for volunteers for this enh

[2019-07-10 05:19] Madhu-1 commented on #451
@humblec I will work on this.
/assign @Madhu-1

[2019-07-10 05:27] humblec opened #463 "Establish weekly meeting for Ceph-CSI issue/bug triage"
With this, we would like to establish a process to triage ceph-csi issues ( https://github.com/ceph/ceph-csi/issues) weekly once . This helps on improving the code and also bring a forum for Ceph-CSI users to ask or highlight issues/bugs they encounter in their setup.

The initial version of this meeting can be in ceph-csi slack or via video conferencing.
https://cephcsi.slack.com/messages/CJV6G2D

[2019-07-10 05:30] humblec commented on #463
@Madhu-1 @poornimag @ShyamsundarR ...etc

[2019-07-10 09:04] danielzhanghl commented on #99
I made some private change to ignore error with the "setfattr“ operation, which is not support in my kernel version, and the volume create/mount is not impacted.

[2019-07-10 09:15] jianglingxia commented on #99
yeah,today I also want to use the method you said,the problem is in csi driver the ceph-fuse version not  compatible to my ceph cluster version? why the problem can not resolved and merge to the github?thanks all

the csi driver :the ceph-fuse version is
sh-4.2# rpm -qa | grep ceph
ceph-base-14.2.1-0.el7.x86_64
ceph-mgr-rook-14.2.1-0.el7.noarch
ceph-osd-14.2.1-0.el7.x86_64
ceph-iscsi-config-2.6-2.

[2019-07-10 13:19] mykaul commented on #451
@humblec  - what happens when I wish to change from RWO to RWX? If I've started with RBD/RWO, how will it move to CephFS/RWX? PVs can change between modes freely (not on runtime of course).

[2019-07-10 14:25] dillaman commented on #451
We will also need to support clone-from-snapshot/volume between the two backend provisioners. Switching access modes is similar to the clone-from-volume case.

[2019-07-11 00:55] jianglingxia opened #465 "bug with master code can not build"
# Describe the bug #
i fetch the master code but can not make,make print error that :
[root@LIN-FE325E0FEA1 ceph-csi]# make
cephcsi image settings: quay.io/cephcsi/cephcsi version canary
if [ ! -d ./vendor ]; then dep ensure -vendor-only; fi
CGO_ENABLED=0 GOOS=linux go build -a -ldflags '-extldflags "-static"' -o  _output/cephcsi ./cmd/
# k8s.io/ceph-csi/cmd
cmd/cephcsi.go:120:13: too many argumen

[2019-07-11 00:57] jianglingxia commented on #465
/assign Madhu-1
thanks

[2019-07-11 01:38] Madhu-1 commented on #465
@jianglingxia please check you  might be having an old code  or you have modified it,

it just tested it, the master is not broken.

[2019-07-11 03:19] jianglingxia commented on #458
the problem i have fixed that the ceph client version not compatible to the  ceph version in csi driver  container,i modify the csi driver container ceph client version v1.14 to v1.12,then the pv and volume can dynamic created and pod use pvc claim can running,thanks

to Madhu-1 :
the pr can you merge the master branch? thanks
https://github.com/ceph/ceph-csi/pull/460

[2019-07-11 03:19] jianglingxia commented on #99
the problem i have fixed that the ceph client version not compatible to the ceph version in csi driver container,i modify the csi driver container ceph client version v1.14 to v1.12,then the pv and volume can dynamic created and pod use pvc claim can running,thanks

to Madhu-1 :
the pr can you merge the master branch? thanks
#460

[2019-07-11 03:20] Madhu-1 commented on #458
@jianglingxia #460 is working as expected?

[2019-07-11 03:28] jianglingxia commented on #458
yeah
i modify the csi-provisioner yaml and rigister yaml
then deploy and create pvc and pod
[root@node-8:/home/ubuntu/ceph-csi]$ kubectl get pvc -w
NAME             STATUS    VOLUME   CAPACITY   ACCESS MODES   STORAGECLASS    AGE
csi-cephfs-pvc   Pending                                      csi-cephfs-sc   0s
csi-cephfs-pvc   Pending                     csi-cephfs-sc   0s
csi-cephfs-pvc   Pending

[2019-07-11 03:29] Madhu-1 commented on #458
@jianglingxia Thanks for the confirmation :+1:

[2019-07-11 06:10] jianglingxia commented on #458
you are welcome!
another problem i want to your help :
that i clone the ceph-csi code and make :
[root@LIN-FE325E0FEA1 ceph-csi]# make
cephcsi image settings: quay.io/cephcsi/cephcsi version canary
if [ ! -d ./vendor ]; then dep ensure -vendor-only; fi
CGO_ENABLED=0 GOOS=linux go build -a -ldflags '-extldflags "-static"' -o  _output/cephcsi ./cmd/

[root@LIN-FE325E0FEA1 ceph-csi]# ls
cmd  deploy

[2019-07-11 06:29] Madhu-1 opened #466 "Failed to unmount PVC after nodeplugin restart"
# Describe the bug #
after updating to use latest  canary  cephcsi images, failed to  unmount legacy volume created  with v1.0.0 plugin from the pod
# Environment details #

- Image/version of Ceph CSI driver: canary
- helm chart version
- Kubernetes cluster version :1.15.0
- Logs

# Steps to reproduce #
* Create PVC with v1.0.0 driver
* Mount PVC to app pod
* Delete old plugin  deployment
* Deplo

[2019-07-11 07:03] Madhu-1 commented on #466
This is known issue due to unmounted target path https://github.com/ceph/ceph-csi/blob/master/pkg/rbd/nodeserver.go#L250

[2019-07-11 09:05] Madhu-1 commented on #466
if the target path is not mounted, am trying to delete the file getting below error

`E0711 08:27:22.757851   17384 utils.go:109] GRPC error: rpc error: code = Internal desc = unlinkat /var/lib/kubelet/plugins/kubernetes.io/csi/volumeDevices/publish/pvc-931d12f0-df23-482b-a351-6624e695c5dc: device or resource busy
`

@humblec @dillaman @ShyamsundarR any idea how to fix this?

[2019-07-11 11:14] dillaman commented on #466
Can you run "lsof /dev/rbd0" to see if something is holding the block device open? Can you manually "rbd unmap /dev/rbd0" now? If nothing is (now) holding the block device open and you can unmap it, the CSI just needs to handle this case and properly retry the "unmap" and not just fail if it cannot find the previously unmounted path.

[2019-07-11 11:34] ShyamsundarR commented on #466
This is the same as what @Daniel-Pivonka posted [here](https://github.com/ceph/ceph-csi/pull/438#issuecomment-510208879) and also the same in the bugzilla [bug](https://bugzilla.redhat.com/show_bug.cgi?id=1728848).

The final analysis on the bug was to retry the unmap, and looks like @dillaman agrees, so that would be the way forward to fix this.

@Madhu-1 if the question was how to determine whic

[2019-07-11 11:37] Madhu-1 commented on #466
@dillaman @ShyamsundarR during my testing rbd unmap was successful and remove of target path failed. above logs are not updated

[2019-07-12 10:25] Madhu-1 commented on #465
closing this is not an issue

[2019-07-12 10:25] #465 closed

[2019-07-12 10:28] Madhu-1 commented on #463
Proposed time:  **weekly once on Tuesday from 7:00 PM IST to 8:00 PM IST**

any comments or thoughts on this?

[2019-07-12 10:49] humblec commented on #463
The proposal looks good to me. Thanks! lets kickstart it .

[2019-07-12 11:58] Madhu-1 commented on #463
@nehaberry please add relavent person if am missing any  one

[2019-07-12 15:54] ShyamsundarR opened #471 "Context based logging is required in the CSI code base"
### Describe the feature you'd like to have

All logs should carry a request or unique context. This is to help correlate logs form a single request when there are multiple requests in flight.

### What is the value to the end user? (why is it a priority?)

Currently the logs are intertwined when there are multiple requests. With context added to logs, we can troubleshoot and identify logs for a s

[2019-07-13 09:41] humblec commented on #353
Finally, the release is OUT !!!

Details @ https://github.com/ceph/ceph-csi/releases/tag/v1.1.0

Thanks all for the contribution and making this big release out !

@rootfs @gman0   @Madhu-1 @poornimag @ShyamsundarR @j-griffith @travisn  @leseb @tiwalter @ajarr @batrick @dillaman ...etc!!

[2019-07-13 09:41] #353 closed

[2019-07-14 11:18] ShyamsundarR opened #474 "getVolumeRootPathCeph should detect and return ENOENT errors"
When a subvolume is deleted but before its relevant RADOS objects and keys are deleted a service fault occurs, then the next delete request is expected to garbage collect the same. This is done on errors where the image is not found in the background, but RADOS information leads us to the image (like in `newVolumeOptionsFromVolID`).

To satisfy this requirement and edge case, ENOENT errors from `g

[2019-07-14 11:46] ShyamsundarR commented on #463
This is fine, where are we meeting (i.e chat/call or other means and details)? Thanks.

[2019-07-14 12:42] ShyamsundarR commented on #371
@Daniel-Pivonka as investigated we should possibly use https://github.com/grpc-ecosystem/go-grpc-prometheus instead of writing our own interceptor, as the other one seems richer in what it provides. Other intentions of how to integrate this with ceph-csi remains the same.

[2019-07-15 16:12] ajarr commented on #360
For CephFS CSI plugin, please see,
https://github.com/ceph/ceph-csi/pull/437#issuecomment-511460712

[2019-07-15 19:07] mykaul commented on #466
@Madhu-1  - why is it tagged with 1.1.0 if it missed it? Should it be tagged differently?

[2019-07-15 20:26] ShyamsundarR opened #476 "Mount CephFS once per node and bind mount the subvolumes for subsequent NodeStage requests"
### Describe the feature you'd like to have

Each CephFS subvolume that goes through NodeStage request maps the subvolume to the passed in `target_path`. Instead, we could try and check if we can map the subvolumes_group, and then bind mount the sub-directory for the request. Thereby, reuse the mount of the subvolumes_group for other NodeStage requests on the same node.

### What is the value to t

[2019-07-15 20:27] ShyamsundarR commented on #476
This is part of the request put into #269 and as we are removing the per subvolume credential creation, we should be able to think about this enhancement separately.

[2019-07-16 03:01] Madhu-1 commented on #466
@mykaul yes it got missed, moving it to v1.1.1

[2019-07-16 03:02] Madhu-1 commented on #424
Fixed in https://github.com/ceph/ceph-csi/pull/468

[2019-07-16 03:02] #424 closed

[2019-07-16 03:02] Madhu-1 commented on #378
@ShyamsundarR anything pending on this one?

[2019-07-16 03:03] Madhu-1 commented on #328
@ajarr anything pending on this one?

[2019-07-16 03:05] Madhu-1 commented on #421
@humblec any update on this one, moved to release-1.1.1

[2019-07-16 03:18] Madhu-1 commented on #463
@ShyamsundarR planning to meet on the slack channel. if we require audio/screen share etc will move to bluejeans (maybe in upcoming meetings)

[2019-07-16 04:58] Madhu-1 commented on #474
@poornimag would you like to take this?

[2019-07-16 05:02] Madhu-1 commented on #471
@ShyamsundarR unique ID should be the PVC/snapshot name or volume/snapshot ID?

[2019-07-16 05:18] humblec commented on #462
This is done with v1.1.0 release https://github.com/ceph/ceph-csi/releases

! closing this issue

[2019-07-16 05:18] #462 closed

[2019-07-16 05:21] humblec commented on #328
This has been taken care by https://github.com/ceph/ceph-csi/releases v1.1.0.  @ajarr can you confirm and close the same?

[2019-07-16 10:40] ShyamsundarR commented on #378
@Madhu-1 what is the current status of CephFS. Also, we possibly need documentation on how to upgrade and use older volumes from 1.0.

[2019-07-16 10:43] ShyamsundarR commented on #463
The slack channel seems invite only and I do not have one, or a way to ask for one from the landing signup page, I see this message:
"Don't have an account on this workspace yet?Contact the workspace administrator for an invitation" but do not know what next.

What are the next steps?

[2019-07-16 10:46] ShyamsundarR commented on #471
ID that all messages for a request can log in addition to the message. We can even choose different IDs for different requests, as long as they are used for all the messages.

So I would say we can even create/craft one that can help identify a request, as soon as we recieve on one of the gRPC calls. It does not need to be from the RPC content (i.e the VolID/Name).

[2019-07-16 10:51] ajarr commented on #328
Completed in V1.1.0

[2019-07-16 10:51] #328 closed

[2019-07-16 11:13] Madhu-1 commented on #463
@humblec can you help out with this.

[2019-07-16 11:24] Madhu-1 commented on #378
@poornimag anything pending for cephfs 1.0?

Note: I think we don't need  to support migration of 0.3 to 1.0 or 1.1.0

[2019-07-16 11:31] ShyamsundarR commented on #393
@humblec The dates need a refresh here?

Also, are we using [semantic versioning]() and hence z in this case is a patch release and not a feature release? If so should the next release really be 1.1.1 or should it be 1.2?

I am asking to understand how we will hasten a 1.1.1 release or a refresh to 1.1.0 release for a critical bug fix that is needed by users ASAP.

[2019-07-16 11:38] ShyamsundarR commented on #378
If I understand the above right, you are stating "migration" is not supported, but "backward compatibility" is, correct?

[2019-07-16 11:46] Madhu-1 commented on #378
do we need to support backward compatibility?

[2019-07-16 12:21] mykaul commented on #250
@ShyamsundarR  - any updates?

[2019-07-16 12:39] ShyamsundarR commented on #378
Yes, that is what we agreed to do. So we should support "using" 1.0 created volumes, and by that I mean node services and ability to delete such volumes.

[2019-07-16 12:41] Madhu-1 commented on #378
@ShyamsundarR backward compatibility for 1.0 is fine not for 0.3

[2019-07-16 12:42] ShyamsundarR commented on #250
I am not on this task. I provided information based on runs and setup that I did to test the same out, to aid adoption into the e2e framework.

I agree this is a priority, as it helps keep the CSI plugins code quality higher and should be tracked as such.

[2019-07-16 12:42] ShyamsundarR commented on #378
Agreed.

[2019-07-16 12:43] Madhu-1 commented on #378
@ShyamsundarR, in that case, can you please fix the issue title

[2019-07-16 12:56] humblec commented on #463
@ShyamsundarR can you use this invite link https://join.slack.com/t/cephcsi/shared_invite/enQtNjc2NjEwMjUwODA2LWZjNzA1YjcwOGZjNjE1ODE5ZTZiOTE5OTEyY2NiM2QyZGE0MzVlZjcxNzA2MGM1MjBkNjI3MTI2NzBkZmJiODA ?

[2019-07-16 13:07] Madhu-1 commented on #463
@humblec can you update the readme on how to join ceph-csi slack channel?

[2019-07-16 13:08] ShyamsundarR commented on #463
Worked for me, now joined the channel.

[2019-07-16 13:14] dillaman opened #477 "Use MGR 'rbd_support' module for long-running tasks"
# Describe the feature you'd like to have #

Long-running tasks like image removal, trash image removal, and flatten should be handled via the MGR module (will backport to Mimic and later releases). This module keeps a persistent task list that can be recovered in the case of crashes and restarts.

# What is the value to the end user? (why is it a priority?) #

The CSI no longer needs to handle ru

[2019-07-16 13:26] Madhu-1 commented on #477
@dillaman https://github.com/ceph/ceph-csi/pull/467  has to wait till we get this feature?

[2019-07-16 13:27] humblec commented on #463
Thanks @ShyamsundarR for confirming.

[2019-07-16 13:34] dillaman commented on #477
I don't think that is necessary since we can tweak the CSI to use this new background helper at a later time (when handling flatten and trash removal). If `flatten` and `trash remove` are needed right now, it will just block the CSI thread, and as long as that is OK (i.e. k8s will just time-out and retry), we should be fine.

[2019-07-16 13:41] Madhu-1 commented on #135
This has been fixed in several  PR's Thanks @ShyamsundarR for fixing this.

closing this one

[2019-07-16 13:41] #135 closed

[2019-07-16 13:43] ShyamsundarR commented on #13
This issue is now resolved using a [config map](https://github.com/ceph/ceph-csi/blob/master/examples/README.md#creating-csi-configuration) provided to the CSI plugin that can take the required monitor information and also be used to keep it updated.

Closing this based on the provided details as above.

[2019-07-16 13:43] #13 closed

[2019-07-16 13:44] Madhu-1 commented on #275
as we are moved  configmap to rados omap to  store volume and snapshot information, this issue is no more valid

[2019-07-16 13:44] #275 closed

[2019-07-16 13:48] Madhu-1 commented on #227
closing as this is the duplicate of #70

[2019-07-16 13:48] #227 closed

[2019-07-16 13:49] dillaman opened #478 "Automatically attempt to use rbd-nbd when krbd cannot support RBD image features"
# Describe the feature you'd like to have #

If an image has features enabled that are not supported by krbd, the attacher should automatically attempt to use rbd-nbd. The end user shouldn't need to know when to set the `mounter` StorageClass attribute [1]

# What is the value to the end user? (why is it a priority?) #

The implementation details (and limitations of krbd) will be hidden from the u

[2019-07-16 13:55] Madhu-1 commented on #68
we are not facing any issue while mounting the cephfs volumes.
@mkimuram if you  face the same issue again please reopen it

[2019-07-16 13:55] #68 closed

[2019-07-16 13:57] humblec commented on #393
@ShyamsundarR  This is a haunting question for sometime now :),  Have to think about this some more , but one thing which we are sure here is, there going to be "features" as mentioned in the description.

Does users have a real concern if we implement features in next "async" release is the question,  I dont think thats going to be a big concern.

We have almost a month for next release , so what

[2019-07-16 14:00] humblec commented on #58
@Madhu-1 this is addressed already, Isnt it ?

[2019-07-16 14:01] humblec commented on #72
@krmayankk would you like to send a PR on this ?

[2019-07-16 14:01] Madhu-1 commented on #67
tagging it with next release. let me check this
/assign @Madhu-1

[2019-07-16 14:03] Madhu-1 commented on #256
@j-griffith can we close this issue

[2019-07-16 14:05] j-griffith commented on #256
Fixed in: https://github.com/ceph/ceph-csi/pull/261

[2019-07-16 14:05] #256 closed

[2019-07-16 14:06] Madhu-1 commented on #58
will verify and close it humble

[2019-07-16 14:11] Madhu-1 commented on #284
this is fixed in https://github.com/ceph/ceph-csi/pull/443, closing this one.
please reopen if the issue persists

[2019-07-16 14:11] #284 closed

[2019-07-16 14:12] Madhu-1 commented on #257
this should be fixed once we implement resize functionality

[2019-07-16 14:12] Madhu-1 commented on #263
https://github.com/ceph/ceph-csi/pull/467 will take care of flattening the image

[2019-07-16 14:14] Madhu-1 commented on #250
@humblec @ShyamsundarR @poornimag @nixpanic anyone like to take this up for next release?

[2019-07-16 14:15] Madhu-1 commented on #214
@poornimag can you consider this scenario for cephfs volume create?

[2019-07-16 14:17] Madhu-1 commented on #202
Fixed in #201

[2019-07-16 14:17] #202 closed

[2019-07-16 14:18] Madhu-1 commented on #172
@dillaman @humblec @ShyamsundarR is it possible to handle this one?

[2019-07-16 14:21] Madhu-1 commented on #95
the req.Name() is  a mandatory parameter . so we won't be constructing our own volume name
as this is not going to happen. closing this one

[2019-07-16 14:21] #95 closed

[2019-07-16 14:22] Madhu-1 commented on #94
this is fixed in #443

[2019-07-16 14:22] #94 closed

[2019-07-16 14:27] Madhu-1 commented on #80
closing this one as we moved using base64 encoded userID and password to use plain text in secret.
#395

[2019-07-16 14:27] #80 closed

[2019-07-16 14:29] Madhu-1 commented on #85
This is fixed as  stated in #213

[2019-07-16 14:29] #85 closed

[2019-07-16 14:31] Madhu-1 commented on #96
master is based on v1.1.0 spec we have done the v1.1.0 couple of days back, and we won't be maintaining v0.3 anymore. closing this one

[2019-07-16 14:31] #96 closed

[2019-07-16 15:31] ShyamsundarR commented on #466
@Madhu-1 Are you working on a fix for the same? Asking to see if you need me to take it up instead, thanks.

[2019-07-16 15:33] Madhu-1 commented on #466
Yes shyam please assign it to you. Thanks

[2019-07-17 04:08] humblec commented on #463
[update on 16-Jul-2019]

Open issues were at "83" and we were able to close "12" issues !!! Currently it stands @ 71.
4 issues were triaged or tracked for next and upcoming releases.

[2019-07-17 04:10] humblec commented on #478
@dillaman do we have list of features which are not supported or missing in krbd?

[2019-07-17 04:14] humblec commented on #477
I have to look into the Ceph PR in detail, however a quick question here, Isnt it a good idea to wrap these operations in a single command or "switch" option for client to consume easily? In short, "move to trash" and "async deletion later"..etc can be exposed by a single command ?

[2019-07-17 12:23] dillaman commented on #478
It depends on the kernel version [1]

[1] http://docs.ceph.com/docs/master/rbd/rbd-config-ref/#rbd-features

[2019-07-17 12:48] dillaman commented on #477
They are different operations, so I don't believe it makes sense to combine. Just because the CSI is going to use the "ceph rbd task trash remove" op after a "rbd trash move" op, doesn't mean that *all* users want that. Plus, adding support for "trash move" into the background async maintenance op runner breaks the abstraction that it's for long-running ops (which "trash move" is not).

[2019-07-17 14:09] ajarr commented on #357
The [ceph PR](ceph/ceph#28003) has been merged in master. Working on nautilus backport, http://tracker.ceph.com/issues/40796

[2019-07-18 03:59] humblec commented on #393
As per team discussion, this release will be tracked as `1.2.0` instead of `1.1.1` , the main reason being we will have many new `features` or `enhancements` in this release, IOW, its not going to be a `bug fix release`.

[2019-07-18 04:04] Madhu-1 commented on #393
@humblec snapshot/and cloning from the already created snapshot will not be backward compatible and also we can remove legacy volume handing code?
can we consider release as a major release instead of minor release?

[2019-07-18 04:13] humblec commented on #393
Can we disallow `cloning or snapshotting` on `already` existing ones and allow only `delete` on those?  so that we ensure backward compatibility with previous version ?

[2019-07-18 04:15] Madhu-1 commented on #393
as the snapshot and cloning is an alpha feature we don't need to do it. allowing backward compatibility will increase the complexity

[2019-07-18 04:21] humblec commented on #393
True,  I was checking whether if its possible with little bit of work we could accommodate the same.  One of the enhancement we can do here is, we can have a `mark` on the PVs or Snapshots about the version of the driver created it. It will come handy when we have to hack between CSI driver versions. For ex: for new snapshot and clone we can mark the metadata with `v1.2.0` , so that if we dont see

[2019-07-18 08:39] nixpanic commented on #461
Thanks! I was just surprised to see that there is a read-ahead cache that does not get disabled by `--image-shared` or `rbd_cache`. If there is nothing the CSI driver can configure to optimize access to shared block devices (or single access block devices for that matter), then this issue can be closed.

[2019-07-18 10:01] ShyamsundarR commented on #393
Is this support to mount and delete v1.0.0 volumes? If so, are you suggesting we remove this just one release later? Without any deprecation warning? which is further just ~5-6 weeks from the previous release.

I would say no to that.

[2019-07-18 10:04] Madhu-1 commented on #393
@humblec this cannot be done, as we cannot encoding the driver version it's difficult to do it

[2019-07-18 10:06] Madhu-1 commented on #393
why not of we release 2.0.0? as can mention no direct upgrade from 1.0.0 to 2.0.0?
better to upgrade 1.0.0 to 1.1.0 and 1.1.0 to 2.0.0

@humblec can you please update readme for supported upgrade versions.

[2019-07-18 10:07] ShyamsundarR commented on #393
We can always use the `VolumeID` version field and up that to 2 for the newly created volumes and snapshots that exhibit appropriate support levels. This was one of the reasons to have that in there.

[2019-07-18 10:11] ShyamsundarR commented on #393
My point is,
- We would hence be supporting the backward compatibility for exactly 1 release, which looks too short
- Also, what is the reason to do this? The code is there and restricted in its scope, so I do not see a need to remove it in a hurry
- I would go with a deprecation announcement in the next release, and then one or two releases later, deprecate the feature (we possibly can make this

[2019-07-18 11:06] dillaman commented on #461
The vast majority of RBD configuration options are not applicable to `krbd`. In that respect, the block device is therefore acting like every other block device under Linux (the `rbd-nbd` block device would have the save "issue"). The `--image-shared` option only disables the `exclusive-lock` feature (which the `ceph-csi` never enables anyway).

[2019-07-18 11:26] lelvisl opened #481 "Unable to mount volumes for pod"
# Describe the bug #

can't mount pvc to pod

# Environment details #

- image: quay.io/cephcsi/rbdplugin:v1.0.0 (imageID: docker-pullable://quay.io/cephcsi/rbdplugin@sha256:e04fa3d1d210ef07f3287d58362067b17b313a0b5e46ce0879b3142df484a12b
)
- Kube 1.13.2

logs

[code]

pvc mounted to host. and i can see all my files in mounted dir
[code]

[2019-07-18 11:28] Madhu-1 commented on #481
@lelvisl please provide the csi-rbdplugin logs.

[2019-07-18 11:29] lelvisl commented on #481
[code]

[2019-07-18 11:35] Madhu-1 commented on #481
@lelvisl I don't see any error in logs provided. can this be reproduced?

btw ceph-csi has a new release **v1.1.0** with many bug fixes

[2019-07-18 11:42] lelvisl commented on #481
Jul 18 14:36:55 worker9 kubelet: E0718 14:36:55.587519    1715 nestedpendingoperations.go:267] Operation for "\"kubernetes.io/csi/csi-rbdplugin^csi-rbd-vol-de362dda-a257-11e9-802f-82a94f37c037\"" failed. No retries permitted until 2019-07-18 14:38:57.587474343 +0300 MSK m=+45776.794167099 (durationBeforeRetry 2m2s). Error: "Volume has not been added to the list of VolumesInUse in the node's volume

[2019-07-18 11:44] lelvisl commented on #481
@Madhu-1 i don't see image with tag 1.1.0

![Screen Shot 2019-07-18 at 2 43 09 PM](https://user-images.githubusercontent.com/9326764/61454727-5f2e2d00-a96a-11e9-98e2-28b756ecceea.png)

and upgrade from 1.0.0 to 1.1.0 - just change image tag or something more?

[2019-07-18 11:48] Madhu-1 commented on #481
there is no rbdplugin and cephfs plugin in v1.1.0 we have a single image with work as both cephfs and rbd

https://quay.io/repository/cephcsi/cephcsi?tag=latest&tab=tags

check  [release changelog](https://github.com/ceph/ceph-csi/releases) and deploy and example docs for more info  ceph-csi

[2019-07-18 11:55] Madhu-1 commented on #481
@lelvisl change image tag won't work (some configuration are changed after v1.0.0) (you can compare the template in v1.1.0 branch and the template in your deployment)

@humblec can we add a migration document for migration from v1.0.0 to v1.1.0

[2019-07-19 10:26] ShyamsundarR opened #483 "For block volumes changing the mode of the block file to 777 on Publish/Staging needs a revisit"
### Describe the bug

In the nodeplugin Publish call the mode of the block volume/file is modified to 777 as in [here](https://github.com/ceph/ceph-csi/blob/0f1bee84ff7b91aea5f5234a21764bf26bde830d/pkg/rbd/nodeserver.go#L125-L128). NOTE: Soon to be modified to be part of the nodeplugin Stage request.

This was needed for non-block cases, as we mount an FS on the same and wanted any app to be able

[2019-07-19 11:15] Madhu-1 opened #484 "Document steps for upgrading from v1.0.0 to v1.1.0"
# Describe the bug #
Need to add a document for the changes required for upgrading v1.0.0 to v1.1.0

[2019-07-19 18:17] Madhu-1 opened #485 "Add validation for stagingpath"
# Describe the bug #
currently, we are not validating staging path  is present or not, as per the spec its CO responsibility to create the staging path  we need  to handle same in the ceph-csi

this  applies for both cephfs and rbd

[2019-07-22 04:12] Madhu-1 commented on #67
not able to reproduce this one. closing

[2019-07-22 04:12] #67 closed

[2019-07-22 04:13] Madhu-1 commented on #399
@nehaberry are you still seeing this issue?

[2019-07-22 04:14] Madhu-1 commented on #101
as humble is working on this one. assigning to humble
https://github.com/ceph/ceph-csi/pull/331

[2019-07-22 05:39] nehaberry commented on #399
Hi @Madhu-1 yeah last when I tested lst week, some PVs were still being left behind. The corresponding bugzilla was updated.

https://bugzilla.redhat.com/show_bug.cgi?id=1716276

[2019-07-22 06:00] Madhu-1 commented on #399
assigning to @ShyamsundarR as he is looking into it.

[2019-07-22 08:28] Madhu-1 opened #486 "Failed to create cephfs PVC"
# Describe the bug #

Failed to create cephfs PVC
# Environment details #

- Image/version of Ceph CSI driver: canary
- helm chart version
- Kubernetes cluster version: 1.15.0
- Logs
[code]

# Steps to reproduce #
deploy cephfs plugin and create PVC

[2019-07-22 08:29] Madhu-1 commented on #486
@humblec @poornimag PTAL

[2019-07-22 08:38] humblec commented on #486
@ajarr @batrick can you please take a look at this ?

[2019-07-22 12:27] ajarr commented on #486
As per the log, the failure is when ceph-mgr tries to create a `/volumes/csi` directory within the filesystem.

The Ceph cluster version is `ceph-14.2.1-636-g64f035c`. This implies that the ceph HEAD is at `64f035c`, which is the commit previous to the 14.2.2 tag commit. What's curious is that there were no code changes to ceph-mgr volumes module, and cephfs since the version of Ceph (HEAD at `51a

[2019-07-22 12:33] humblec opened #487 "Allow custom volume prefix for Ceph {FS && RBD }CSI volumes"
# Describe the feature you'd like to have #

What new functionality do you want?

As an admin I would like to create custom volume name prefixed volumes via Ceph CSI. There is an option for `volumenameprefix` per driver, but that is not getting tracked here, rather by this issue, we are looking for an option to specify volumename prefixes via SC for CephFS and RBD volumes.

# What is the value to

[2019-07-22 12:40] Madhu-1 commented on #487
same applies for a snapshot also

[2019-07-22 12:41] humblec commented on #487
Sure, we could start with volumes first.

[2019-07-22 12:52] Madhu-1 commented on #487
/assign @Madhu-1

[2019-07-22 16:27] ShyamsundarR commented on #471
One further clarification, as we have RPCs being re-triggered due to timeouts, we should refrain from using the VolID/ReqName as the ID to distinguish between repeated RPC calls for the same ID or name.

[2019-07-22 22:28] ajarr commented on #486
OK. I setup kubeadm single node k8s cluster in a test VM.
[code]
setup Ceph cluster (v14.2.2) with latest rook (HEAD at `36479fec1`). From inside the ceph-tool box pod ran the `subvolumegroup create` command and it executed successfully,
[code]
@poornimag were you able to recreate the environment as done by travis CI?

[2019-07-22 22:31] ajarr commented on #486
@Madhu-1 can you re-trigger the CI and check?

[2019-07-23 05:14] invent-lwj commented on #486
I encounter same error when create pvc.
my ceph is 14.2.2, kubernetes is 1.13.5
I run "ceph fs subvolumegroup create cephfs aaa" on ceph monitor, see the same error:
[code]
This is the issue of ceph 14.2.2 ?

[2019-07-23 08:59] mkey-cdx opened #490 "Cephfs "fs subvolumegroup create" no valid command found"
# Describe the bug #

When creating a PVC, it remains in Pending state. csi-cephfsplugin-provisioner-0/csi-provisioner logs shows an 'command not found' error during volume creation.
The same behavior happens when running the fs subvolumegroup create command from within the container.

Note that we have a ceph cluster with multiple filesystems feature enabled. Can this be related?
I found this com

[2019-07-23 10:02] ajarr commented on #357
The PR has been backported to nautilus, and the fasync purge feature will be available in 14.2.3 version of Ceph

[2019-07-23 10:33] poornimag commented on #486
After debugging with @ajarr
Possible RCA: The ceph mgr process now runs as ceph user and not root user, after commit 900abbc967e108ad622648b740a7c57f1268209f got merged in rook master.
Ceph user might not have permission to create volumes/<subvolgroupname> in the ceph fs filesystem, but root user can. All these while ceph-mgr was running as root and could create these directories.

[2019-07-23 14:51] raghavendra-talur opened #491 "Intergration with https://coveralls.io/ for coverage"
# Describe the feature you'd like to have #

What new functionality do you want?
Have a link to https://coveralls.io/ and a badge in readme for test coverage in the project.

# What is the value to the end user? (why is it a priority?) #
Having a coverage report will enable new developers to contribute easy tests. The end user in this case is developer.

[2019-07-23 15:08] Madhu-1 commented on #491
@raghavendra-talur is this something related to UT?

[2019-07-23 15:31] Madhu-1 commented on #490
@mkey-cdx can you point me to the dockerhub image you are using. this functionality is available in `ceph/ceph:v14.2.2-20190722` image

[2019-07-23 15:45] Madhu-1 commented on #490
@ajarr  ceph  fs commands are available in 1.14.2?
 btw the ceph is downloaded from `https://download.ceph.com/debian-nautilus/`

[2019-07-24 00:24] jasonbrooks commented on #486
I'm getting this, too, with OCP 4.1.6 and rook: v1.0.0-284.g93716bc

[2019-07-24 01:05] invent-lwj commented on #486
How to fix it ?  @poornimag  could you provide some idea?

[2019-07-24 05:21] humblec commented on #490
@poornimag

[2019-07-24 05:30] humblec commented on #486
@travisn FYI, is the change in Rook Master expected ? if thats the case, we have to find a way to solve it .

[2019-07-24 06:35] poornimag commented on #486
To fix this we need to provide the user 'ceph', RW permission to the root of the cephfs filesystem, either  chmod or acl or ceph auth?, @ajarr will have more insight into fixing this.

[2019-07-24 08:32] mkey-cdx commented on #490
Ceph version we use from https://download.ceph.com/debian-nautilus/:
`ceph version 14.2.2 (4f8fa0a0024755aae7d95567c63f11d6862d55be) nautilus (stable)`

[2019-07-24 09:38] mykaul commented on #486
@poornimag  - can you look if https://github.com/rook/rook/pull/3498 and/or https://github.com/rook/rook/pull/3487 help?

[2019-07-24 10:10] eriklindahl commented on #486
This hit us too when testing with our existing bare-metal ceph-14.2.2 cluster.

I can confirm that editing /lib/systemd/system/ceph-mgr@.service to remove the setuser/setgroup options to ceph-mgr and then restarting the process fixes it, but that hack will be overwritten any time we update ceph.

I have this far not been able to fix it by adjusting the ceph auth capabilities of the client.mgr cert

[2019-07-24 10:12] humblec commented on #486
Thanks @eriklindahl for the insight. We are working on this and hopefully will get into a solution soon.

[2019-07-24 10:27] ajarr commented on #486
After this  commit merged on Friday in rook master, https://github.com/rook/rook/commit/900abbc967e108ad622648b740a7
the ceph-csi started failing. @poornimag identified this

[2019-07-24 10:31] ajarr commented on #486
@eriklindahl , can you try adding the following options in the `global` section of ceph.conf in the ceph-mgr node and try again,
[code]

[2019-07-24 11:21] eriklindahl commented on #486
Thanks @ajarr - that seems to have solved the permissions for creating the subvolumes!

Mostly for the record: I still got some errors about the main "csi" volumegroup not having been created, but that might have been due to me fiddling around creating/removing it earlier - in any case it worked fine again when I first created the csi group manually.

This might not be related to the permissions h

[2019-07-24 11:29] ajarr commented on #486
https://github.com/ceph/ceph-csi/pull/492 is a temporary fix to unblock the PRs in ceph-csi

The proper fix will be tracked in ceph/rook

[2019-07-24 12:06] ajarr commented on #486
Were you root or a regular user?

This is strange. @batrick any idea?

[2019-07-24 12:12] ajarr commented on #486
@invent-lwj , @jasonbrooks  were you able to try this https://github.com/ceph/ceph-csi/issues/486#issuecomment-514577205 ?

[2019-07-24 12:14] ajarr opened #493 "Use ceph image with a more specific tag that includes the date or commit ID"
Currently, ceph csi image is built using ceph image with tag, v14.2. We can use a ceph image with tag that is more specific, e.g., with the date the image was created, v14.2.2-20190722, or with the HEAD commit ID. Rook does this currently.

[2019-07-24 12:15] Madhu-1 commented on #493
@ajarr how this is helpful for the end user?

[2019-07-24 12:27] ajarr commented on #493
I'm not sure who you're referring to as end user?

IMO, this is good practice for the person who builds the CSI image that he uses a image with a more detailed tag. Unless otherwise you want the base Ceph image to always be the latest 14.2.x ? What if there was a bug in latest 14.2.x stable that affects Ceph CSI?

[2019-07-24 12:33] Madhu-1 commented on #493
the commit tag added to the image in this PR https://github.com/ceph/ceph-csi/pull/469. from this, we can check from which tag the image is built.

[2019-07-24 12:45] eriklindahl commented on #486
Hi,

I tried both with the same result. When testing as root on the node running the container, I noticed I got the same permission troubles even when accessing it under /var/lib/kubelet.

This made me look into the ceph auth permissions. When creating the PVC, according to the log files on the csi plugin, it creates a new client user specific to the volume. If I change the osd permissions from "a

[2019-07-24 12:49] #153 closed

[2019-07-24 12:54] eriklindahl commented on #486
Sorry, I'm an idiot/PEBKAC. I made a typo when specifying the namespace, so it *is* sufficient to merely specify the namespace.

That also makes me suspect I found the actual issue. Our CephFS storage is setup with multiple pools, where the fast storage pool is not the same as the default pool - and I think I need the permissions to apply to both pools ;-) I'll see if I can get that working, but i

[2019-07-24 13:09] ajarr commented on #486
@poornimag ,  ^^   I thought we took care of this?

@eriklindahl , ah! OK. We're getting rid of auth ID creation for every PVC create. The corresponding PR  https://github.com/ceph/ceph-csi/pull/437 is close to being merged. Out of curiousity, can you share the output of the following command when you run them from the root of the mount,
[code]

[2019-07-24 13:13] ajarr commented on #486
@ShyamsundarR , @poornimag ^^

[2019-07-24 13:32] ajarr commented on #493
PR #469 helps check the tag of Ceph-CSI release. I'm talking about the base Ceph image.

[2019-07-24 13:37] Madhu-1 commented on #493
@ajarr if you do docket inspect on the image you will see ceph version

[code]

is this enough?

[2019-07-24 14:46] eriklindahl commented on #486
Hi,

On Wed, Jul 24, 2019 at 3:09 PM Ramana Raja <notifications@github.com>
wrote:

Sure. First, just to follow up - the only reason for the pool discrepancy
seems to have been that I also need to use the same pool layout when I
(manually) created the csi subvolumegroup. After that everything works
beautifully, and it doesn't seem to matter that the default pool of cephfs
is actually a different o

[2019-07-24 16:57] ajarr commented on #486
The temporary fix in rook for rook users is close to being merged,
https://github.com/rook/rook/pull/3513

The fix in Ceph is being tracked here,
http://tracker.ceph.com/issues/40927

[2019-07-24 17:02] Madhu-1 commented on #486
@poornimag can you revert back  the PR  for e2e workaround once https://github.com/rook/rook/pull/3513 is merged

[2019-07-24 18:28] ShyamsundarR commented on #449
With a go lang program [ceph-golib.go.txt](https://github.com/ceph/ceph-csi/files/3428226/ceph-golib.go.txt) that uses [go-ceph](https://github.com/ceph/go-ceph) on a vagrant based kube+Rook(ceph) setup on a laptop the following measures were taken,

**NOTE:** timing is coarse as it is based on `date` output before and after executing the command/script
**NOTE:** serial operations were only perfor

[2019-07-24 19:54] jasonbrooks commented on #486
I updated my operator to the version of the image w/ this 3513 PR and my cephfs pv is working as expected.

[2019-07-24 20:31] ajarr commented on #486
@jasonbrooks thanks!

[2019-07-24 21:11] goodidea-kp opened #495 "needed step by step instructions of external cephfs cluster with pod."
# Describe the feature you'd like to have #

better instruction on how to integrate external cephfs cluster with pod without using 3rd parties as rook etc

# What is the value to the end user? (why is it a priority?) #

I spent 3 days already trying different options and still not there. It will help save time

# How will we know we have a good solution? (acceptance criteria) #

document with bare

[2019-07-24 23:03] ShyamsundarR commented on #486
@ajarr Thanks for tracking this and ensuring things are healthy. Can I know what we need to reflect in CSI documentation for non-rook setups?

[2019-07-25 09:23] ajarr commented on #486
@ShyamsundarR , ask folks to do this https://github.com/ceph/ceph-csi/issues/486#issuecomment-514577205 until the issue http://tracker.ceph.com/issues/40927 gets resolved in ceph nautlius stable release?

[2019-07-25 09:48] #354 closed

[2019-07-25 11:22] wangxiao86 commented on #490
How is it compatible with the ceph previous versions?  we use ceph:v12.2.5 which does not support “ceph fs subvolumegroup create”,  it prompts the same error.

[2019-07-25 11:25] Madhu-1 commented on #490
@batrick  @ajarr will this be backported to other releases?

[2019-07-25 11:31] ajarr opened #499 "cephfs: do not set subvolumegroup's pool layout"
Currently, while creating CSI volumes, the subvolume group `csi` the pool layout is set based on the pool setting in the storageclass.
https://github.com/ceph/ceph-csi/commit/32ea550e3#diff-33a13f3231aad3a3f5ec45f308007699R78
The storage class's pool setting is meant to change the pool layout of CSI volumes/CephFS subvolumes and not that of the `csi` subvolume group, which may contain subvolumes o

[2019-07-25 11:49] humblec commented on #499
@poornimag

[2019-07-25 11:50] ajarr commented on #499
@humblec , can I get the permissions to just set the labels, and assignee?

[2019-07-25 11:52] humblec commented on #499
You are in!! Please feel free to send PRs too!

[2019-07-25 12:02] ajarr commented on #499
ah! ;-)  I'll try.

FYI, I'm creating issues so that upstream development effort can be better tracked in the agile model.

[2019-07-25 12:46] #318 closed

[2019-07-25 13:10] ajarr commented on #490
@Madhu-1 , I don't see ceph-mgr fs volumes being backported to luminous or mimic. The CephFS team had discussed this with the CSI team. For CSI v 1.1.0 to work you'd need nautilus. If this not documented, we need to document this ASAP.

[2019-07-25 13:34] Madhu-1 commented on #490
@ajarr its already documented here https://github.com/ceph/ceph-csi#ceph-csi-features-and-available-versions, but wanted to get confirmation is it getting backported

[2019-07-25 14:13] ajarr commented on #490
@mkey-cdx , can you please check the version of ceph-mgr?
[code]
The commands are definitely in 14.2.2 version of Ceph. As you can see in v14.2.2's source code,
https://github.com/ceph/ceph/blob/v14.2.2/src/pybind/mgr/volumes/module.py#L47

Also, please make this change, and test,
https://github.com/ceph/ceph-csi/issues/486#issuecomment-514577205

This seemed to have worked for others with Ceph v1

[2019-07-25 15:15] ajarr commented on #490
Cool. Thanks, @Madhu-1

[2019-07-25 15:30] mkey-cdx commented on #490
@ajarr ceph mgr version is also
`ceph version 14.2.2 (4f8fa0a0024755aae7d95567c63f11d6862d55be) nautilus (stable)`
I made the change ([#486 (comment)](https://github.com/ceph/ceph-csi/issues/486)) in the ceph-mgr node and could get a much more comprehensible log error:
[code]
After enabling volumes module I could get PVC provisioned correctly :)
Note that I tested removing [#486 (comment)](https:/

[2019-07-25 19:55] ajarr commented on #490
Great! Thanks @mkey-cdx. I'm working on documenting the ceph-mgr config setting for 14.2.2 tracked by #486.

Looks like this issue is resolved. Please feel free to open this issue if you think otherwise.

[2019-07-25 19:55] #490 closed

[2019-07-25 20:18] ajarr commented on #493
@Madhu-1 , let's suppose Ceph 14.2.3 has a bug that affects Ceph-CSI. The travis CI would start failing once the new image is pushed with tag v14.2 in ceph/ceph repo. Can you not avoid this with more detailed tags?

[2019-07-26 03:48] Madhu-1 commented on #493
@ajarr you are taking from client library side right? this  cannot be avoided as the base ceph-csi image  as `FROM ceph/ceph:v14.2` i assume this is a stable image

[2019-07-26 05:19] Madhu-1 opened #504 "setup CSI to run E2E against OCP environment"
# Describe the bug #
This will make sure that we have all the required functionality in OCP for CSI

[2019-07-26 05:23] Madhu-1 opened #505 "use bot to merge the PR instead of mergify"
# Describe the bug #
The issue with mergify is if the committer pushes the new changes after having 2 approvals if tests are passed mergify will merge the PR. this could be an issue if you are not monitoring the PR. we need a bot to remove the approval if there is a new commit in  PR.

[2019-07-26 05:26] humblec commented on #505
Indeed, I was about to file this issue !! Thanks for filing it we need a bot integration.

[2019-07-26 10:55] ajarr commented on #493
Yes, client side. And the base ceph csi image cannot be changed to `FROM ceph/ceph:v14.2.2-20190722`? v14.2.x might have bugs, right?

[2019-07-26 11:36] #486 closed

[2019-07-26 12:38] Madhu-1 opened #507 "Rbd map takes more than 3 minutes to map a volume on node"
# Describe the bug #
during node staging for some requests rbd map takes more than 3 minutes to map the rbd volume on the node (note volume size was 1 Gb) this could be a bottleneck to support more parallel request from node plugin, this will affect the pod creation time.

sometimes the map fails without and we can see rbd volume mapped to the node, this will affect
the volume mounting to other no

[2019-07-26 13:39] ajarr commented on #486
[SOLVED] in rook based Ceph deployments since https://github.com/rook/rook/commit/e52efdb8d4ed98129708d49cbbbbbcb083b02d6c

and in non-rook Ceph deployments by,
https://github.com/ceph/ceph-csi/commit/7dc723ebbc0300

[2019-07-26 13:53] Madhu-1 commented on #507
@rootfs @travisn how this is solved in rook and Kube rbd provisioner?

[2019-07-26 14:00] dillaman commented on #507
There is really no reason why "rbd map" should ever take 3 minutes. Has anyone attempted to 'strace' or gcore the 'rbd' process when this occurs? I still suspect it's related to udev but I haven't been provided w/ my requested data yet.

[2019-07-26 14:05] Madhu-1 commented on #507
i havent tried it. let me get the strace for rbd process

I still suspect it's related to udev but I haven't been provided w/ my requested data yet.

@dillaman strace is enough or you need any other data?

[2019-07-26 14:18] dillaman commented on #507
@Madhu-1 It's it's udev I would suspect that strace would show it stuck in a `poll` syscall:

[2019-07-26 14:50] humblec commented on #507
@Madhu-1 have to analyse where is the bottleneck. Btw, this could be "CSI" specific too and not really applicable for intree drivers. Just a thought here. As @dillaman said, we have to start analysis from `rbd map`.

[2019-07-26 14:58] dillaman commented on #507
BTW -- hopefully it's fixed by this PR [1] in the 14.2.2 release, but the strace would still be helpful in the meantime to confirm.

[1] https://github.com/ceph/ceph/pull/28019

[2019-07-27 08:08] Madhu-1 commented on #507
@dillaman here is the log of one such instance where rbd took 1.18m to map image
[stace-vol-1-18m.log](https://github.com/ceph/ceph-csi/files/3437961/stace-vol-1-18m.log)

[2019-07-27 11:27] dillaman commented on #507
Definitely a lot of extra udev related things in the strace. Is this a container running 14.2.1 or had it been respun w/ the new 14.2.2 Ceph release? An "strace -tT" might be nice as well since it will include the times and durations of each syscall.

[2019-07-27 11:49] Madhu-1 commented on #507
@dillaman looks like container base image is `14.2.1`

[code]

[2019-07-27 12:04] Madhu-1 commented on #507
@dillaman attaching the strace with a timestamp . let me try to update the docker image for 14.2.2 and check
[stace-vol-1-18m.log](https://github.com/ceph/ceph-csi/files/3438135/stace-vol-1-18m.log)

[2019-07-27 16:52] Madhu-1 commented on #507
@dillaman attaching strace for image 14.2.2 , still for some request map took around 2 minutes

[stace-ceph14-2-2.log](https://github.com/ceph/ceph-csi/files/3438382/stace-ceph14-2-2.log)

base docker image details

[code]

[2019-07-28 22:16] ShyamsundarR commented on #487
Is it not feasible to just filter PVs provisioned using a named storage class, and then using the `volumeID` to list the image names backing these PVs?

This way the same scripts/applications that help trace a PVC all the way to a image can be reused with this and other such use-cases. Also, removes the need to add extra parameters to the storage class to track names or other such information.

Ta

[2019-07-29 10:11] #499 closed

[2019-07-29 12:52] #485 closed

[2019-07-29 13:18] Madhu-1 commented on #507
@dillaman did you get anything from strace logs? why rbd map is taking more time?

[2019-07-29 13:19] dillaman commented on #507
First slow down relates to creating the device, which seems to take about 8 seconds:

Then it seems to require about a minute for the udev events to appear:

@idryomov Any ideas about these "rbd map" slowdowns?

[2019-07-29 14:09] ShyamsundarR commented on #449
On the same setup as the [above](https://github.com/ceph/ceph-csi/issues/449#issuecomment-514747017) comment, here are some more times based on parallel invocation of creates and deletes from the golang [ceph-golib.go](https://github.com/ceph/ceph-csi/files/3442648/ceph-golib.go.txt) version of the program.

NOTE: All tests are run for 2 iterations for 25 objects (PVCs/creates/deletes) and average

[2019-07-29 15:07] idryomov commented on #507
It would be nice to get a trace with -s 1000, to get more context.  "udevadm monitor -k -u -p" might be useful too.

Did you run this "rbd map" manually or was it executed by something?  Were there concurrent "rbd map" commands being executed, for other images?  I might be misremembering how it works, but this trace suggests that it got 7 other rbd "add" events in the meantime.

[2019-07-29 15:10] dillaman commented on #507
I think this is a test that is concurrently mapping 50 - 100 krbd devices on a node. This particular log example for for "/dev/rbd4", though.

[2019-07-29 16:06] idryomov commented on #507
(I assume you meant "/dev/rbd42".)

That might be why udev is getting us in trouble.  It's hard to tell what it is doing...  I would like to see "udev monitor" output to confirm that the kernel event is seen right after the mapping is established and that the entire time is spent waiting for the udev "I'm done with processing my rules, etc" event.

[2019-07-29 16:10] dillaman commented on #507
The Ceph 14.2.2 strace log (stace-ceph14-2-2.log) shows:

[2019-07-29 16:11] Madhu-1 commented on #507
@idryomov @dillaman let me know  what logs you need, i will get it tomorrow.

 udev monitor on host machine or container?
And to add - s 1000 to strace.
 Anything else?

[2019-07-29 16:46] idryomov commented on #507
@dillaman I was looking at stace-vol-1-18m.log, the one you quoted above.

[2019-07-29 17:37] idryomov commented on #507
@Madhu-1 Well, you haven't answered my question:

"udev monitor" needs to be executed where "rbd map" is executed.  For CSI this would be csi-rbdplugin container run on every node as a DaemonSet, right?

[2019-07-30 04:00] Madhu-1 commented on #507
sorry, This is a test that is concurrently mapping 50 - 100 krbd devices on a node plugin

mapping will be done by the node plugin process inside the container. nothing is done manually

yes you are right

[2019-07-30 06:23] humblec opened #511 "Implement util function for volumeID validation from TargetPath"
# Describe the feature you'd like to have #

This function can be invoked and used to validate a targetpath belongs to the volumeID specified. This may be used by features like metrics..etc wherever required.

[2019-07-30 11:10] humblec commented on #393
**Release Call update:**

This release will be `**v2.0.0**` considering the features we are bringing here and also because the new snapshot implementation in this release.  The issue and other references are updated with `**v2.0.0**`.

@Madhu-1 Did I miss anything to add here ?

[2019-07-30 11:52] Madhu-1 commented on #507
@idryomov @dillaman attaching the logs with -s 1000 option with strace and udev monitor
[map-2m-13s.log](https://github.com/ceph/ceph-csi/files/3446636/map-2m-13s.log)

[udevadm-monitor.log](https://github.com/ceph/ceph-csi/files/3446639/udevadm-monitor.log)

[2019-07-30 16:08] idryomov commented on #507
Here the actual mapping took over a minute:

[code]

I don't know why it took so long, it could be just calling class methods.  How many OSDs does this cluster have?

The rbd event is fine:

[code]

The block event took another minute:

[code]

Note that the _kernel_ block event came 11 seconds after the rbd event, but the _udev_ block event took another ~50 seconds.  (The udev monitor log was cut

[2019-08-01 07:54] humblec commented on #458
It looks like the issue has been resolved. I am closing this for now and please feel free to reopen a new issue if need help.

[2019-08-01 07:54] #458 closed

[2019-08-01 09:08] ekuric opened #516 "cephfs-csi not able to handle massive PVC create requests"
# Describe the bug #

cephfs-csi not able to handle massive PVC create requests

In this test we created
-> one project
-> inside project 900 pods with 1 GB PVC from csi-cephfs.

A clear and concise description of what the bug is.
Pods fails to mount PVC

# Environment details #
OCP 4.1
[code]
- Image/version of Ceph CSI driver
[code]
- Kubernetes cluster version
[code]
- Logs
All pods which fail

[2019-08-01 09:11] humblec commented on #516
@ekuric are you able to create a single PVC of CephFS CSI in this setup ?

[2019-08-01 09:11] humblec commented on #516
/assign @ajarr

[2019-08-01 09:12] humblec commented on #516
@poornimag

[2019-08-01 09:16] ekuric commented on #516
images
[code]

[2019-08-01 09:20] ekuric commented on #516
@humblec
yes,
[code]
pods are not starting - error message see above

[code]
424 pods started fine

[code]
with rbd-csi started all 900 without issue.

[2019-08-01 09:46] humblec commented on #516
Thanks for the additional info. Lets take a look at this.

[2019-08-01 09:49] humblec commented on #516
Warning  FailedMount             4m51s                 kubelet, ip-10-0-163-194.us-west-2.compute.internal  MountVolume.MountDevice failed for volume "pvc-34ca4cbc-b438-11e9-90f8-02c74cbd389e" : rpc error: code = Internal desc = cannot get process >

pid while running ceph [-m 172.30.58.149:6789,172.30.182.233:6789,172.30.187.168:6789 --id admin --keyfile=***stripped*** -c /etc/ceph/ceph.conf fs d

[2019-08-01 09:56] invent-lwj opened #518 "Bug #486 always active now"
# Describe the bug #
Bug #486 is exited now. but error message is changed.
A clear and concise description of what the bug is.
I0801 09:51:19.152285       1 event.go:209] Event(v1.ObjectReference{Kind:"PersistentVolumeClaim", Namespace:"default", Name:"csi-cephfs-pvc", UID:"27936876-b43d-11e9-aa69-005056bcf374", APIVersion:"v1", ResourceVersion:"6423617", FieldPath:""}): type: 'Warning' reason: 'P

[2019-08-01 10:39] #518 closed

[2019-08-01 10:51] nixpanic commented on #516
PR #517 is expected to address issues where the PID Limit is reached.

[2019-08-01 11:38] ShyamsundarR opened #519 "NodeGetVolumeStats needs to support or safeguard against, block volumes"
Tracker to ensure we deal with the comments here at an appropriate time: https://github.com/ceph/ceph-csi/pull/512#discussion_r309468054

[2019-08-01 11:41] humblec commented on #519
@ShyamsundarR I was about to open an issue, but u were fast. I am assigning myself.

[2019-08-01 12:57] idryomov commented on #507
I tested both the actual mapping (i.e. bare syscall) and "rbd map" (which tries to wait for the corresponding udev events) but didn't see anything close to two or three minutes.  That said, the numbers for the bare syscall are higher than I expected to see, so I'm working on some profiling code to make sure we don't block unnecessarily in the kernel.  As for udev, I encountered what I think is a b

[2019-08-01 15:46] Madhu-1 commented on #449
I have modified ceph-csi  code  to use `ceph -go` library

tested in  kube, I was able to create and delete 100 rbd PVC in less 2 minutes
100 PVC creation took 58 seconds
100 PVC deletion took 60 seconds

Note: This is parallel PVC operation

@humblec @ShyamsundarR @dillaman FYI

[2019-08-01 16:45] ShyamsundarR commented on #449
@Madhu-1 is it an improvement over running it without the `ceph-go` library on the same setup? Currently, with the data above, I am not able to figure out if it is an improvement or the numbers are the same (or worse), as our setups would be different.

[2019-08-02 08:46] Madhu-1 commented on #507
There is no resource limit we have on rbd-plugin

nope in my testing, I created around 100 volumes and starting mounting each volume into a  pod (there will be 100 parallel requests (mapping)

I don't test it on physical nodes, I use a vagrant setup.
with each node having
4 CPU
4GB RAM
2 100GB devices

its 3 node kuberenetes cluster (1 master,2 worker nodes)

there will  be 1 rbd-plugin running on

[2019-08-02 10:49] Madhu-1 commented on #449
using `cephcsi:canary` image.
tested in Kube,
100 PVC creation took 60 seconds
100 PVC deletion took 62 seconds

I don't see any performance improvement, we need to do the same  testing in other setups to check are we gaining any performance improvement for using the ceph-go library.

[cirros-create-with-pvc-without-io (copy).txt](https://github.com/ceph/ceph-csi/files/3460881/cirros-create-with-p

[2019-08-02 10:59] idryomov commented on #507
If you grep udevadm-monitor.log for ACTION=remove, you will see quite a lot of these events, so something must be unmapping images while the test is running.

So the images are pre-created?  Do you mount them into existing pods or does your test also create pods?  Are they distributed (e.g. 50 on worker1 and 50 on worker2) or all images are mapped on one of the workers?

How many OSDs?  Is the clu

[2019-08-02 14:29] ShyamsundarR commented on #507
Aside from the fact that we are dealing with and attempting to understand (and possibly fix) why rbd map times out, I think in the rbd CSI plugin code we need to add some safety workarounds/checks, that will unmap the device on timeout errors from `rbd map` (of course checking if the device is mounted or not etc.). This will ensure that we do not leave behind stale maps in such conditions, which i

[2019-08-02 14:33] ShyamsundarR opened #520 "Detect `rbd map` timeout errors and detect if image is mapped, to undo the mapping"
It is noted that there are cases when,
- `rbd map` invocation times out #507
- It leaves behind a mapped image to a device (because mapping actually completed, but state/success of the same was missed out)

This causes future attempts to map the image on other nodes, or attempts to delete the image, to error out stating image is in use.

This issue is being opened to add some safety checks and wor

[2019-08-02 14:38] raghavendra-talur commented on #487
@ShyamsundarR @Madhu-1 @humblec IMO, overloading the name with a filtering requirement would be less flexible thing to do. Based on what we have learnt from gluster and heketi we know:

1. Getting a list of PVs and PVCs backed by a storageclass is very easy both using the API and by using go templates in cli.
2. It is much more flexible if such attributes which may be required for filtering are pl

[2019-08-02 21:28] mmgaggle opened #521 "librbd QoS settings for RBD based PVs"
# Describe the feature you'd like to have #

The ability to set [librbd QoS settings](https://docs.ceph.com/docs/nautilus/rbd/rbd-config-ref/#rbd-qos-settings) on a PV to limit how much IO can be consumed from the Ceph Cluster.

The exactly limits would be informed through the storage-class configuration. Ideally we would support three different types of limits:

1. static rbd_qos_iops_limit and r

[2019-08-05 05:10] Madhu-1 commented on #507
@idryomov

if there is an error during the node staging (which means mounting rbd devices  to a path fails) we unmap the rbd device

 I have tested the above script in the container,

I got an error during mapping
[code]
after disabling these features

[code]

mapping was fast. it took max 10 sec to map few  images

@nehaberry is it possible to test this in OCP?

[2019-08-05 05:54] nehaberry commented on #507
@Madhu-1 first would need to understand the flow and the issue first :) . Maybe, we can share the cluster and try together sometime ?

[2019-08-05 05:59] Madhu-1 commented on #507
@nehaberry sure

[2019-08-05 06:51] Madhu-1 commented on #520
I think we can call unmap with image name also, why to wait for #510?

[2019-08-05 07:24] reith commented on #407
@ShyamsundarR Is static PV for block volumes are supported too? My PV's being created but I doubt it even talked with RBD, since I see same behavior with having and not having `rootPath`.

My RBD image is `t1` in `pool`:

[code]

PV bounds (which I assume is just a check for accessModes and size…) but mount fails:
[code]

[2019-08-05 10:03] idryomov commented on #520
Yes, "rbd unmap" supports unmapping by image name.  No need to list mapped images just for that.

[2019-08-05 10:23] idryomov commented on #507
So you were seeing other, not related to "rbd map", failures during your test?  What was the cause?

Unless the image features are spelled out, "rbd create" creates images with "rbd_default_features", which includes object-map, fast-diff and deep-flatten.

[2019-08-05 11:19] ShyamsundarR commented on #520
Ack! was not aware of that. We should use imagespec instead of hunting for the devicePath. Also, I assume this is true when `--device-type` is nbd?

[2019-08-05 13:20] dillaman commented on #507
The `ceph-csi` RBD provisioner defaults to (and currently only supports) `layering` [1]

[1] https://github.com/ceph/ceph-csi/blob/f4c80dec9ab82d0239b2b89c9cb9669dad728f08/examples/rbd/storageclass.yaml#L25

[2019-08-05 13:21] dillaman commented on #520
Yes, with the caveat for both where it doesn't handle different clusters.

[2019-08-05 13:22] idryomov commented on #520
@ShyamsundarR Yes, it should be true.

I'm not sure I understand the need to unmap the device in this case.  If "rbd map" times out because udev decided to take a break but the device is there (i.e. you listed mapped images and got the device node), would pretending that nothing happened not work?

If we keep encountering issues with udev, we could probably adopt this course of action for the gene

[2019-08-05 13:25] idryomov commented on #507
@dillaman Madhu ran my bash script which does "rbd create".

[2019-08-05 13:34] idryomov commented on #520
This is another thing that I don't fully understand.  I thought we controlled image names in CSI?  In https://github.com/ceph/ceph-csi/pull/510#issuecomment-516074646 @ShyamsundarR mentioned that we indeed do use UUIDs there, but the discussion continued with various workarounds...

[2019-08-05 13:35] ShyamsundarR commented on #520
So the manner in which kubernetes (and possibly other container orchestrators) behaves (and also laid out in the [spec](https://github.com/container-storage-interface/spec/blob/master/spec.md#timeouts) around timeout handling of various RPCs), is as follows,
- Call NodeStageVolume with a timeout of `t1`
- If call timed out, wait for some exponential backoff time `t2`
- Call NodeStageVolume again
-

[2019-08-05 14:01] ShyamsundarR commented on #520
So the caveat here is that IF there are 2 images with the same poolname and imagename, but from different ceph clusters, imagespec based commands are inadequate to identify which image we are referring to.

The workaround or statement to say this will not happen, is that we use UUIDs to name the image, and this collision across cluster hence needs a UUID collision to occur as well, and that is mat

[2019-08-05 14:16] ajarr commented on #360
@ShyamsundarR would you know the capabilities required by the RBD plugin? We can then close this issue

[2019-08-05 14:23] ajarr commented on #269
@ShyamsundarR can we close this issue now?

[2019-08-05 14:43] idryomov commented on #520
(I might be talking nonsense here because I'm not familiar with CSI RPCs, please bear with me.)

This makes me slightly concerned about the reliability of the system, but the fact that these RPCs must be idempotent is even more reason for UUID-based image names.  If the CO doesn't always cancel pending operations, stale mappings are unavoidable.

I guess I don't see why leaving behind a mapped dev

[2019-08-05 18:05] ShyamsundarR opened #523 "Use latest Ceph Manager extensions for RBD to speed up responses to DeleteVolume requests"
Ceph manager has been enhanced with a few rbd commands to enable moving image deletion (and other activities) as a Ceph manager managed rbd task. This helps speed up the responses to DeleteVolume requests in the CSI driver, as image deletion takes time proportional to image size otherwise.

CSI driver for ceph can consume these rbd extensions to move the responsibility of image deletion to the Cep

[2019-08-05 18:16] ShyamsundarR commented on #523
@dillaman I tried the following experiment, as I understood the deletion process as a 2 step process, like so,
- Invoke `ceph rbd task add remove <image_spec>` to move the image to trash
- Followed by, `ceph rbd task add trash remove <image_id_spec>` to empty the image from trash

When I installed a cluster based of the Ceph master daemon image, I find that the first command itself deletes the ima

[2019-08-06 06:28] jianglingxia opened #524 "why ceph-provisioner deployed statefulset replicas is one not multipl replicas?"
# Describe the feature you'd like to have #
why ceph fs or rbd plugin that deployed statefulset,the replicas is one,not 2 or 3?
if the sts down only k8s to let it run agian?
What new functionality do you want?
or the replicas are 2 or 3 cause what problem?

---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: csi-cephfsplugin-provisioner
spec:
  selector:
    matchLabels:
      app: csi-cep

[2019-08-06 06:31] Madhu-1 commented on #524
@jianglingxia if you are looking for more than one provisioner running consider using `1.14+`  https://github.com/ceph/ceph-csi/blob/master/docs/deploy-rbd.md#deployment-with-kubernetes templates, leader election is only supported in kube1.14+ higher version

[2019-08-06 06:51] jianglingxia commented on #524
thanks for your reply,you means that the k8s version is v1.13 can not  use cephfs template v1.14?
another problem that the v1.14 has the lead election function can Ensuring data consistency ？thanks

[2019-08-06 06:53] Madhu-1 commented on #524
@jianglingxia yes with leader election only one provisioner will be processing your request with lock held.

you cannot use 1.14 templates with 1.13

[2019-08-06 07:21] Madhu-1 opened #526 "Add E2E for helm chats"
# Describe the bug #
currently, we don't have test support to test helm chats,  this needs manual testing, we need to add E2E  to deploy ceph-csi using helm chats

[2019-08-06 07:24] jianglingxia commented on #524
now my project decide use the k8s v1.13,if so only use v1.13 template,i want to know that use v1.13 template that the replicas is one ,the way have some problem? or occure some problem?

[2019-08-06 07:35] Madhu-1 commented on #524
for more than one replica we will end up in a situation where the same request will be provisioned by multiple provisioners, this will be fixed with leader election but you need Kube 1.14+ for that one.

[2019-08-06 07:43] jianglingxia commented on #524
yeah,i mean that use one replica provisioner there occure some problem when use csi create delete volume?

[2019-08-06 07:52] Madhu-1 commented on #524
yes it will be a problem for create/delete volume and snapshot also

[2019-08-06 07:57] jianglingxia commented on #524
ok,really thanks maybe occure problem only let k8s restart the pod，
another problem that the cephfs can resize volume ？or only ceph rbd can resize it?

[2019-08-06 08:17] Madhu-1 commented on #524
currently, both cephfs and rbd  doesn't  support resize

[2019-08-06 09:41] Madhu-1 commented on #520
I have a dumb question, do CSI has to bother about the timeout error and handle it specially. it should be the client work to unmap the image if timeouts right?

@idryomov we can add some default timeout for rbd map command I will check whats the timeout for RPC call from Kube side. this should fix the timeout issue I believe

@idryomov any preferred timeout option from rbd side. as we don't know

[2019-08-06 09:43] wilmardo opened #527 "Config.json invalid error is obfuscated"
# Describe the bug #

Unhelpful error message when the config.json isn't valid.

# Environment details #

Helm charts of #513

# Steps to reproduce #

Steps to reproduce the behavior:

Use a configmap with for example a trailing comma in the monitors list
[code]

# Actual results #

The error message failed to fetch monitor list:

[code]

# Expected behavior #

An error about an invalid config.jso

[2019-08-06 09:44] Madhu-1 opened #528 "make csi deployment optional in E2E"
# Describe the bug #

currently, we deploy csi in E2E. so we cannot run the E2E against the already deployed cluster. if we can separate out the E2E and csi deployment, it will help us/others to run E2E tests and make sure things are working fine.

[2019-08-06 10:06] idryomov commented on #520
As @ShyamsundarR said, we probably don't want to tune our timeout (be it at a higher level in the plugin or at a lower level in "rbd map"/"rbd unmap") to various kubernetes timeouts because this is not reliable, both in general and (especially) at scale.

No preferences, I would pick one based on test results on real hardware.

Currently, with just layering supported, the size of the image is comp

[2019-08-06 10:25] Madhu-1 commented on #520
is there a way to handle this as this action belongs to rbd map and udev to map the image on a node. as  @idryomov  said earlier what if udev takes a break and maps the rbd device on the node, this will become stale device on the node which we cant delete (need manual cleanup)

[2019-08-06 10:29] idryomov commented on #520
I was deferring to @ShyamsundarR an @humblec because I'm not very familiar with CSI.  As I said in https://github.com/ceph/ceph-csi/issues/520#issuecomment-518263480, given the CSI spec, I think stale mappings/image/etc are unavoidable.

What is the client you are thinking of here?  The CO, the end user who just wants her PV, someone else?  If my reading of the spec is correct, only the plugin can

[2019-08-06 13:23] ShyamsundarR commented on #269
Fixed, closing.

[2019-08-06 13:23] #269 closed

[2019-08-06 13:36] ShyamsundarR commented on #360
I actually do not, the best reference I have/had is/was [here](https://github.com/rook/rook/blob/7fb43d72ebfaba5afbb8faf017962a38364b2901/Documentation/ceph-csi-drivers.md#create-rbd-secret)

The credentials needed would be (from above),

`ceph auth get-or-create-key client.kubernetes mon \"allow profile rbd\" osd \"profile rbd pool=<poolname>\""`

If someone could validate this, and add it (and t

[2019-08-06 14:01] ShyamsundarR commented on #523
Updating understanding based on discussions,

1. To delete an image using the manager commands it is enough to invoke `ceph rbd task add remove <image_spec>`
2. For images with snapshots or clones, to move them to trash and delete them later when dependent clones and snapshots are deleted, is when we need the other command set

[2019-08-07 05:58] invent-lwj opened #532 "Fail to mount pvc in pod on openshift"
# Describe the bug #
First of all, i‘m not sure this is bug. Cloud you take some suggestion. Ths!
my ceph is 14.2.2  ceph-csi image is v1.1.0

pvc has bound:
NAME             STATUS    VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS    AGE
csi-cephfs-pvc   Bound     pvc-c579c1fa-b8d3-11e9-a4a5-005056bcfdf1   5Mi        RWO            csi-cephfs-sc   8m
but pod don

[2019-08-07 05:59] Madhu-1 commented on #528
/assign @umangachapagain

[2019-08-07 05:59] Madhu-1 commented on #526
/assign @umangachapagain

[2019-08-07 06:02] Madhu-1 commented on #532
@invent-lwj CSI node plugin doesn't receive any request from kubelet, can you check why

[2019-08-07 08:25] invent-lwj commented on #532
@Madhu-1  This is container logs.

[2019-08-07 12:59] ShyamsundarR commented on #449
**Update:**
Went through the code changes used for ceph-go bindings in CSI and between @Madhu-1 and me revisited it to use a single connection and IOContext (sample code [here](https://github.com/ShyamsundarR/ceph-csi/commit/381dca46c37af18d9f2ade0549cc056bcb95b3ab)). Briefly tested this on the setup used to get numbers in this [comment](https://github.com/ceph/ceph-csi/issues/449#issuecomment-516

[2019-08-07 13:20] humblec commented on #449
@Madhu-1 @ShyamsundarR  if we are seeing performance improvement on parallel requests and also if we think the ceph go client is stable enough for atleast happy path or create and delete Volume , lets bring it to the repo. I am fine with the same.

[2019-08-07 13:30] #380 closed

[2019-08-07 23:47] kfox1111 commented on #484
We concur.

[2019-08-08 02:11] warmchang opened #534 "The configmap steps are missing from the cephfs deployment process description"
# Describe the bug #
The configmap steps are missing from the cephfs deployment process description.

https://github.com/ceph/ceph-csi/blob/0063727199a8f557ad713896fff0f11bb78b190f/docs/deploy-cephfs.md

# Environment details #

- Image/version of Ceph CSI driver
- helm chart version
- Kubernetes cluster version
- Logs

# Steps to reproduce #

Steps to reproduce the behavior:

1. Setup details: '.

[2019-08-08 02:25] warmchang commented on #534
/assign

[2019-08-08 12:34] ekuric commented on #516
Issue not visible with image that has adapted --pidlimit @nixpanic @humblec @Madhu-1

[2019-08-08 12:42] Madhu-1 commented on #516
awesome Thanks @ekuric for testing, @humblec can we merge the PR

[2019-08-08 12:42] humblec commented on #516
Great!! Thanks for the experiment and sharing the result!

[2019-08-08 12:53] #534 closed

[2019-08-08 12:56] Madhu-1 commented on #507
the latest result for a different mount type

# Mounting PVC as block device

For 50 pods to  up and running time taken is  1Min05Sec
max time taken for mapping is around  2 sec
max time  taken to mount  is 1 sec

# for file mount  with format type *xfs*

For 50 pods to  up and running time taken is  2Min20Sec
max time taken for mapping is around 8 sec
max time is taken for format and mount is 1m1

[2019-08-08 13:00] humblec commented on #507
This is great result !!!

This ultimately shows a remarkable performance boost wrt filesystem we use for format. At present we are defaulting to `ext4` , may be this is the good time to think about using `xfs` or atleast make it as a choice by SC parameter.

[2019-08-08 13:03] Madhu-1 commented on #507
@humblec yes as per the result. even  I went through rook code,  in rook flex storageclass its added xfs as fstype @travisn can  confirm it

[2019-08-08 13:04] Madhu-1 commented on #507
https://github.com/rook/rook/pull/1928
https://github.com/rook/rook/issues/1280
leaving it here  for reference issue and PR in rook

[2019-08-08 20:44] ShyamsundarR commented on #449
Completed the test and here are the results:

### Legend:
`<key>`:` <value>`
Operation: time in seconds per operation
NOTE: For node plugins operation count and time is collected from 3 nodes, and hence represented as total-time/#calls-on-node + ... + ... and average is the prior total divided by 3

### 1) Test results with existing code and added [Prometheus gRPC metrics](https://github.com/Shyam

[2019-08-09 11:17] idryomov commented on #507
I'm glad that our meeting bore some fruit ;)

Another thing for the future might be to pursue https://bugzilla.redhat.com/show_bug.cgi?id=1523885.  Looks like `formatAndMount()` still doesn't allow passing mkfs options.  `options []string` is for mount options:

https://github.com/ceph/ceph-csi/blob/44e807c36bb2e9e826a0f41f6af5b83a23079713/vendor/k8s.io/kubernetes/pkg/util/mount/mount_linux.go#L42

[2019-08-09 16:16] ajarr opened #539 "cephfs: optimize getVolumeRootPathCeph"
For every volume delete/mount, the CephFS CSI driver uses a getVolumeRootPathCeph function to determine the CSI volume's RootPath. Internally, the getVolumeRootPathCeph function issues a Ceph command (`ceph fs subvolume getpath`) to get the path of the FS subvolume , which serves as the CSI volume.

We can optimize the getVolumeRootPathCeph function, by not calling the `fs subvolume getpath` comma

[2019-08-09 16:16] ajarr commented on #539
@ShyamsundarR , does this issue look OK? Please edit the description if needed.

[2019-08-09 17:08] ShyamsundarR commented on #539
Looks good, thanks for keeping track of the same.

Implementation note: should consider possibility of different fsNames/clusters that may use the same instance of the plugin, and build a cache based on the same.

[2019-08-12 04:07] Madhu-1 commented on #449
could not test with the above-mentioed code, facing issue in PVC create

[code]

[2019-08-12 05:04] Madhu-1 commented on #449
@ShyamsundarR I have created a new image as per our discussion on reusing the connection, I don't see any major overall performance improvement

on 100 PVC creation, it took around 57 seconds to bound all PVC's

[2019-08-12 08:10] Madhu-1 commented on #507
@idryomov agree, this applies for the fresh image, need to identify the image contains any data or not, if not we can set these options in csi node-plugin as a temp fix,

[2019-08-12 08:22] humblec commented on #507
Yeah , thanks for the discussion!

[2019-08-12 11:18] ShyamsundarR commented on #449
The initial `csi.volumes.default` OMap needs to be created by hand, as error detection there is not added, once done the existing code works as expected.

Can you please share the code and the test? Also did you measure gRPC metrics for the same, pre and post change, tests?

[2019-08-12 13:25] novakoki commented on #393
Will resize support still be in this release? I can't find related code but it should be in RC stage now according to the plan. @humblec

[2019-08-13 08:56] MrOffline77 opened #543 "missing ID field 'userID' in secrets"
# Describe the bug #

We deployed the ceph-csi rbd inside a rancher drive k8s cluster. We get a valid pv, but the pod is not able to mount the attached pv volume. Since we are getting a valid PV the secrets inside the secrets.yaml should be fine. We also tried to escape the userID but not different behavior.
We are a little bit clueless what the problem here is.

[code]

# Environment details #

[

[2019-08-13 08:58] Madhu-1 commented on #543
@MrOffline77 can you paste the storageclass?

[2019-08-13 09:04] humblec commented on #393
[Release call update]

As this release is mainly on bug fixes, we plan to call this as `1.2.0` instead of `2.0.0`.  The features like `resize` , `snapshot` and `cloning` has been taken out from this release due to the fact that, it was difficult to get it in due to other fixes which were touching the same area of the code. The deferred features are moved to `v2.0.0` which is planned around 3rd wee

[2019-08-13 09:07] MrOffline77 commented on #543
Hi,
@Madhu-1 of course. We deployed all of the ceph-csi components to a namespace called ix-system. The secret and config map is also present in this namespace.

[code]

[code]
secret
[code]

[2019-08-13 09:09] Madhu-1 commented on #543
[code]
 is for ceph-csi  canary image which is build on master

you need to use
[code]
https://github.com/ceph/ceph-csi/blob/v1.1.0/examples/rbd/storageclass.yaml

[2019-08-13 09:12] Madhu-1 commented on #543
@MrOffline77 let me know if it works, we can close this issue

[2019-08-13 09:19] MrOffline77 commented on #543
<3 thanks for the das reponse ;). Problem solved
[code]

[2019-08-13 09:20] Madhu-1 commented on #543
awesome, closing this issue

[2019-08-13 09:20] #543 closed

[2019-08-13 12:16] ajarr opened #546 "cephfs: use kernel client as the default mounter instead of FUSE client"
Discussed with CephFS developers @batrick and @jtlayton. They recommend switching the default FS mounter to kernel client [1] as it has much better performance than the FUSE client. FS kernel clients >= 4.17 support quotas and snapshots required to support CSI features.

For users with kernels clients < 4.17, they can switch to using fuse mounter by setting the `mounter` option in the storage clas

[2019-08-13 12:42] ajarr commented on #546
Also as per @ShyamsundarR ,
"From a CSI operations standpoint, kernel CephFS would be preferred as this retains the mount even when the CSI nodeplugin restarts. Thus providing smoother upgrade/recovery of the plugin on such cases, rather than having to drain a node of pods and then upgrade the nodeplugin"

[2019-08-13 14:43] #516 closed

[2019-08-13 15:19] #507 closed

[2019-08-13 16:08] #523 closed

[2019-08-13 17:16] #527 closed

[2019-08-14 04:30] Madhu-1 commented on #524
closing this one

[2019-08-14 04:30] #524 closed

[2019-08-14 04:33] Madhu-1 commented on #520
@idryomov as you said above it purely depends on `udev` to map the rbd image on the node ( as you said it can take a break and map the image later also) do you think this need to be handled in the code?
if yes I would like to check how this can be handled whether do we need to start a goroutine periodically and check the device is stale or not, if yes mark it for unmapping.

@humblec @ShyamsundarR

[2019-08-14 04:35] Madhu-1 commented on #481
closing this one, upgrade issue is tracked in #484

[2019-08-14 04:35] #481 closed

[2019-08-14 05:58] humblec commented on #546
@ajarr @poornimag can you please check any functionalty break with this change in CSI pov ?

[2019-08-14 06:48] #421 closed

[2019-08-14 07:35] humblec commented on #371
@Daniel-Pivonka I believe this is taken care now. Closing for the same reason. :+1:

[2019-08-14 07:36] humblec commented on #356
Closing this as this is taken care now!. Thanks!

[2019-08-14 07:36] #356 closed

[2019-08-14 08:29] Madhu-1 commented on #371
@humblec this is not done yet reopening

[2019-08-14 08:47] Madhu-1 commented on #371
having  https://github.com/grpc-ecosystem/go-grpc-prometheus interceptor seems heavy and also provides a lot of information which is not relevant,  it also doesn't provide info like total time spent on a particular request.  I would like to see below information in metrics

Request type, request unique ID, time spent on request, the total number of request received, the total number of success, fa

[2019-08-14 09:38] idryomov commented on #520
@Madhu-1 Are you referring to https://github.com/ceph/ceph-csi/issues/520#issuecomment-518263480 where I described a theoretical scenario for "rbd map" and udev?

A periodic check for stale images/mappings/etc sounds good, but it would be needed primarily to guard against the CO silently giving up and moving the workload to a different node, which is a separate issue.  The case of a CLI command ta

[2019-08-14 09:39] idryomov opened #552 "A periodic check for stale images, snapshots, mappings, etc"
From discussions in https://github.com/ceph/ceph-csi/issues/520, it appears that some kind of a periodic check for stale artifacts (such as rbd images and mappings, ceph subvolumes and mounts, snapshots, etc) might be needed to deal with a case where the CO silently gives up and moves the workload to a different node.

Per @ShyamsundarR

    - Call NodeStageVolume with a timeout of t1
    - If cal

[2019-08-14 10:05] idryomov opened #553 "Handling CLI commands that interact with RADOS"
(This might be obvious, feel free to close...)

I'm spawning this issue from https://github.com/ceph/ceph-csi/issues/520 to emphasise that any CLI command that interacts with RADOS, whether directly (such as "rbd create", "rbd ls", etc) or indirectly through the kernel (such as "rbd map", "rbd unmap", "mount", "umount") can take a long time and, in extreme cases, defeat the internal timeout (if pr

[2019-08-14 11:02] Madhu-1 commented on #371
am still thinking do we need to implement metrics at all, I would suggest using some shell script to fetch the logs, and grep for the request ID. one thing we need to do is to log the time taken for the request.
this will avoid the running metrics server in cephcsi

[2019-08-14 11:04] ShyamsundarR commented on #520
The above is what I would suggest as well, or maybe even checking if the device is mapped or not is optional, and we can issue a blanket unmap for the `image-spec`.

[2019-08-14 11:06] Madhu-1 commented on #553
some discussion regarding the same issue

https://github.com/ceph/ceph-csi/pull/194
https://github.com/ceph/ceph-csi/issues/140

[2019-08-14 11:57] Madhu-1 commented on #520
the image will be mapped immediately  if rbd map timeouts or it may take some time to map the image ( want to understand all the possible scenarios)

[2019-08-14 13:27] idryomov commented on #520
If "rbd map" fails because of this udev timeout, the image is definitely mapped -- it doesn't wait for udev events unless the mapping succeeds.  However, I think the kernel can return ETIMEDOUT as well and in this case the image is definitely not mapped.  You can distinguish between these cases by parsing the error message: a mapping failure will always have "rbd: sysfs write failed" in it, any ot

[2019-08-14 13:55] ajarr commented on #546
We'll have to do a kernel version check. If it's >= 4.17, then use kernel client as the default mounter, else use FUSE client. When the user explicitly mentions the mounter as kernel and uses a kernel version < 4.17, we'll have to error out with a useful message.

[2019-08-14 17:47] yydzhou opened #554 "cephcsi-cephfs nodeplugin pod got OOM killing when using FUSE mounter"
# Describe the bug #
When using cephfs FUSE mounter in cephfs csi, the cephcsi-cephfs nodeplugin  pod is very easy to get killed due to OOM. I have tried with 256M and then 1G resource setting, but the issue still happens.

A clear and concise description of what the bug is.

# Environment details #

- Image/version of Ceph CSI driver
image: quay.io/cephcsi/cephfsplugin:v1.0.0
- helm chart version

[2019-08-14 18:06] ShyamsundarR commented on #554
@yydzhou Is the test to only create pods that consume the PVCs or do the pods also perform any IO or filesystem operation?

cc @ajarr can you help understand the behavior here?

[2019-08-14 18:08] yydzhou commented on #554
Yes, the pods will also perform I/O and filesystem operations.

[2019-08-15 06:33] wavezhang commented on #101
Any progress on this?

[2019-08-15 09:43] wilmardo commented on #526
@Madhu-1 @umangachapagain

Might be cool to look into `ct`:

https://github.com/helm/chart-testing/blob/master/doc/ct_lint-and-install.md

This could replace the functionality introduced in #556

[2019-08-15 11:14] ShyamsundarR commented on #399
https://github.com/ceph/ceph-csi/pull/510 should fix this issue.

[2019-08-15 11:14] #399 closed

[2019-08-15 15:14] ShyamsundarR commented on #371
There are a few points made here, so segregating them to the best of my understanding and responding on what we need.

1. Metrics

The intent of metrics is not to provide per-operation times and such, it is a broader set of statistics that can help set monitors and triggers for possible failures or latency etc. Hence gathering per operation or request-id times are an overkill for metrics.

What th

[2019-08-15 16:58] davi5e commented on #101
Besides any updates on the progress status, which would be the Kubernetes version this is being developed for? 1.14? 1.15?

[2019-08-16 03:46] humblec commented on #101
@wavezhang @davi5e we have a prototype on resize  here #331, but has not completed as there were various changes happening on rbd code with other bug fixes and enhancements. This feature was planned for #393 , however deferred to `v2.0.0` which is planned at 3rd week of September.

[2019-08-16 03:48] humblec opened #557 "Release v2.0.0. of Ceph CSI driver."
- [x] **Define release process**
  - Release doc would be a good start
- [x] **Define release deadlines**
  - Code Freeze : 15-Dec-2019
  - RC : 20-Dec-2019
  - GA : 29-Dec-2019

- [x] **Define/list roadmap for v2.0.0**
  - Proposed contents for v.2.0.0 release
  - [x] Resize support for CephFS and RBD plugin
     Issues:
      #101
      #660

  - [x] Snapshot/Cloning support for CephFS and RBD.

[2019-08-16 06:20] Madhu-1 commented on #554
@ajarr @poornimag PTAL

[2019-08-16 12:50] ajarr commented on #554
@yydzhou , what's the version of Ceph cluster and FUSE client (ceph-fuse)? Exact version would be helpful to know, 14.2.x?

After how many PVCs consumed by the pods and doing I/Os, do you hit OOM?

[2019-08-16 12:51] ajarr commented on #554
@ShyamsundarR , is 256 M or 1G  memory limit typical settings for CephFS and RBD node plugins?

[2019-08-16 13:35] ShyamsundarR commented on #554
I am not aware of the memory constraints or usage of RBD. I think we need to understand this better.

For example, switching to kernel cephfs and/or krbd instead of rbd-nbd may not charge the container namespace (in this case the nodeplugin) the memory overhead and further would let the kernel manage space reclamation based on usage. I think this may be a better direction in the longer run (unless

[2019-08-16 13:53] yydzhou commented on #554
@ajarr The ceph version is 13.2.4. The OOM happens when mounting the 3rd pv on the node.  I am using cephfs-csi chart release 1.0. So I assume the ceph.fuse version is 14.2.x?  I think Once the pv is mounted the related pods will issue some I/O against it. But not that much. Because the failure happens during the deployment of our cluster.

[2019-08-16 14:00] yydzhou commented on #554
JFYI, Using of ceph.FUSE mounting is to support centos with old kernel (3.10).  The external cephfs provisioner has an option to disable RADOS pool namespace  ioslation to allow old kernel mount (ref https://github.com/kubernetes-incubator/external-storage/commit/4fefaf622ecfa58508629bfd2b3eb11de101599f#diff-3ccb4687fb599e0453570308087f8252). But seems the cephfs-csi does not support that. So we h

[2019-08-16 14:08] ajarr commented on #554
@ batrick ^^

[2019-08-16 14:17] ajarr commented on #554
This is surprising. Not sure how other CephFS CSI v1.0.0 users didn't hit this.

This is helpful information. I'll try tracking down the issue.

[2019-08-16 20:33] lelvisl commented on #484
any updates?

[2019-08-16 20:59] mmgaggle commented on #440
This rook-ceph feature request would be a consumer of this logic:

https://github.com/rook/rook/issues/3639

[2019-08-16 21:27] mmgaggle opened #559 "Multiple pool storage classes informed by topologyKeys"
# Describe the feature you'd like to have #

Ability to have multiple pools per storage class, and use topologyKeys from the CSINode to inform pool selection.

# What is the value to the end user? (why is it a priority?) #

This would allow for the construction of a storage class that behaves in a similar fashion as Amazon EBS, Google Persistent Disk, and Azure Disk drivers provide. These provisio

[2019-08-16 21:28] mmgaggle commented on #440
Another potential consumer:

https://github.com/ceph/ceph-csi/issues/559

[2019-08-16 22:57] mmgaggle opened #560 "Cross (ceph-csi) storage-class clone support"
# Describe the feature you'd like to have #

Ability to clone volumes between Ceph-CSI managed storage-classes.

# What is the value to the end user? (why is it a priority?) #

A rook-ceph cluster may have pools with multiple device classes, or pools with different failure-domain rules and may want to transition a PVC to another. For example one may want to snapshot a PVC from rbd-ssd storage clas

[2019-08-18 03:37] dillaman commented on #560
@mmgaggle FYI -- there is a goal for RBD-backed PVs/snaphots to hide all Ceph implementation details. To support that, creating a CSI snapshot will actually create a new RBD clone image -- and will allow the parent PV to be deleted while it's still in-use by a snapshot. We would definitely want to support creating CSI PVs/snapshots across pools (via RBD clones w/ optional flattening) and just make

[2019-08-19 06:11] #271 closed

[2019-08-19 06:56] Madhu-1 commented on #435
@ajarr can you update on how to track cephfs PVC?

[2019-08-19 13:08] scott0000 opened #562 "[cephfs csi] cephfs csi plugin cannot create volume normally"
# Describe the bug #
cephfs csi plugin cannot create volume normally

# Environment details #

- Image/version of Ceph CSI driver

[code]

- helm chart version
not use helm
- Kubernetes cluster version
[code]
- Logs
[code]
# Steps to reproduce #

Steps to reproduce the behavior:
Follow the steps in https://github.com/ceph/ceph-csi/blob/master/README.md and using
the template files under examples/c

[2019-08-19 13:44] Madhu-1 commented on #562
CC @ajarr @poornimag

[2019-08-20 06:58] ajarr commented on #562
This seems to be a duplicate of https://github.com/ceph/ceph-csi/issues/486

 The next stable release of Ceph nautilus v14.2.3 will have the fix
.
See, https://github.com/ceph/ceph-csi/issues/486#issuecomment-515455991

@scott0000 ,  can you try doing this for now,  https://github.com/ceph/ceph-csi/blob/master/docs/deploy-cephfs.md#configuration ?

[2019-08-20 10:19] nixpanic opened #563 "Do not remove the /etc/yum.repos.d/ceph-iscsi.repo file"
# Describe the bug #

Currently #551 removed the `ceph-iscsi.repo` file, which should not be needed. However the yum repositories in the file are broken and can not be used. Disabling the repositories would have been nicer, but the end result is pretty much the same (unable to update ceph iscsi components).

# Actual results #

`yum -y update` fails due to several cehp-iscsi repositories.

# Expec

[2019-08-20 12:07] scott0000 commented on #562
Sorry,  I didn’t notice the special NOTE in https://github.com/ceph/ceph-csi/blob/master/docs/deploy-cephfs.md#configuration.  : (

And I will try it later.  Thanks！

[2019-08-20 22:26] kfox1111 opened #564 "helm chart locations"
We're currently uploading v1.1.0 to the hub. But there seems to be multiple helm chart versions located in trunk. Is there a reason for this?

[2019-08-20 22:36] kfox1111 opened #565 "helm chart config"
The new chart has a hardcoded config of: []. There needs to be a way for the user to specify the config, as it is not good for a user to manually edit a file that helm manages.

I think this can be easily acomplished by changing

https://github.com/ceph/ceph-csi/blob/release-v1.1.0/deploy/rbd/helm/templates/csiplugin-configmap.yaml to instead of:
[code]
do:
[code]

and add to values.yaml:
[code]

[2019-08-21 06:10] humblec commented on #393
[Status update]
Out of 40 issues/PRs tagged for `release-1.2.0` , `36` are closed and `4` more is still open. We are postponing the GA to 30-Aug-2019 for the same reason.

[2019-08-21 06:12] humblec commented on #434
Moving out of `release-1.2.0` as this is yet to be started.

[2019-08-21 07:04] Madhu-1 commented on #520
Fixed in #561

[2019-08-21 07:04] #520 closed

[2019-08-21 10:08] Madhu-1 commented on #305
@humblec looks like this is not fixed. can you take a look at it https://quay.io/repository/cephcsi/cephcsi/manifest/sha256:d34fa7a188662e385437eee2dd2ce72481e0f4b678a8c548396ad0169fdf7b9a?tab=vulnerabilities&fixable=true

[2019-08-21 10:29] humblec commented on #305
@Madhu-1 I was looking at this today morning. There are still good number of vulnerabilities. Enabling epel repo is one of the solution mentioned and removal of iscsi repo.  Will experiment more , however this should get some or good amount of support from Base Image I believe. @leseb can you please take a look at these vulnaribilites and any thoughts on how to fix it in base image ?

[2019-08-21 14:08] wilmardo commented on #565
I will pick this up, hopefully tomorrow also implementing:
https://github.com/ceph/ceph-csi/pull/555#discussion_r314618704

[2019-08-21 14:10] Madhu-1 commented on #565
awesome :+1:
/assign @wilmardo

[2019-08-23 06:48] wilmardo opened #568 "Mounting of RBD volume fails with input/output error"
# Describe the bug #

Mounting of a volume fails with input/output error:

[code]

# Environment details #

- Cpeh-CSI 1.1.0
- K8S 1.15.2

## Logs

#### csi-attacher:
[code]
#### csi-provisioner:
[code]

#### csi-rbdplugin:
[code]

#### kubelet logs

[code]

# Steps to reproduce #

I do not know how to reproduce this sadly. All my other volumes do not experience this behavior. I hope the logs show

[2019-08-23 06:53] Madhu-1 commented on #568
@wilmardo can you provide the rbd node plugin logs to find out what happened. btw in the latest canary image, we have fixed some issues related to the mounting failure.

earlier  we  are  not  unmounting the rbd device if the mounting fails, this has been fixed now if the pod moves to a different node you can still use the volume

[2019-08-23 07:18] wilmardo commented on #568
I grabbed the logs from the times above and saw nothing peculiar. So I redeleted the pod but again nothing different from the previous logs. What would you expect to see in the logs? @Madhu-1

### Current logs

#### csi-rbdplugin

[code]

#### driver-registrar
[code]

[2019-08-23 07:24] Madhu-1 commented on #568
I was expecting some error message in nodestage volume but am not able to see it.

[2019-08-23 07:26] wilmardo commented on #568
I will try this later today, right now I am working on the Helm chart :)

[2019-08-24 19:01] wilmardo commented on #568
Tried it with the canary but to no avail, still the same error. But I dug some more and found this error in the nodeplugin:

[code]

Which led me to that directory and saw:

[code]

So the globalmount directory is created funky.

I drained the node and left it drained, redeployed the pod and it got scheduled to another node. There the error seems the same only at another location and this error ke

[2019-08-24 19:05] wilmardo commented on #568
Also found this in the csi-attacher logs:

[code]

And added patch to the clusterrole rules which fixed it. Should I patch this in #570?

[2019-08-26 10:52] lukshap opened #572 "Restore from snapshot"
# Describe the bug #

A pod can't attach the pvc created from the snapshot.

# Environment details #

- Image/version of Ceph CSI driver: csi-node-driver-registrar:v1.1.0, csi-provisioner:v1.3.0, csi-snapshotter:v1.2.0, csi-attacher:v1.2.0
- helm chart version: ceph-csi-rbd-0.8.0
- Kubernetes cluster version: v1.15.2
- Logs

# Steps to reproduce #

Steps to reproduce the behavior:

I followed the

[2019-08-26 11:13] Madhu-1 commented on #572
@lukshap please provide the node plugin logs to check why its failing

[2019-08-26 11:23] lukshap commented on #572
[code]

[2019-08-26 11:25] Madhu-1 commented on #572
I will try to reproduce and check what's happening.

[2019-08-26 11:25] lukshap commented on #572
Thank you, waiting then.

[2019-08-26 11:34] ajarr commented on #562
@scott0000 any updates?

[2019-08-26 11:54] scott0000 commented on #562
I have not tried it yet for I was blocking by others things. Whatever close this issue

[2019-08-26 11:55] #562 closed

[2019-08-26 14:59] lukshap commented on #572
Hi!
Is there any updates about the issue?

[2019-08-27 01:00] jianglingxia opened #574 "cephfs create volume failed of subvolumegroup"
# Describe the bug #
i use the master branch in ceph v1.12,create volume failed by subvolumegroup
A clear and concise description of what the bug is.

I0824 07:44:53.930346       1 controllerserver-default.go:60] Using default ControllerGetCapabilities
I0824 07:44:53.930354       1 log.go:44] ID: 9 GRPC response: {"capabilities":[{"Type":{"Rpc":{"type":1}}}]}
I0824 07:44:54.682204       1 util.go:

[2019-08-27 01:04] jianglingxia commented on #574
@Madhu-1
the question maybe that my ceph version is v1.12 and do not support the subvolumegroup command

but on july when i use master branch the create volume function do not have the function,so how can i modify the code in master branch? do not use the subvolumegroup command?
is the pr:https://github.com/ceph/ceph-csi/pull/400 merged reason?

[2019-08-27 04:26] humblec commented on #574
@jianglingxia whats your Ceph Cluster version?

[2019-08-27 05:29] Madhu-1 commented on #574
@jianglingxia check ceph supported version for cephfs here https://github.com/ceph/ceph-csi#ceph-csi-features-and-available-versions

[2019-08-27 05:47] jianglingxia commented on #574
yeah,my ceph version is v12 not v14,but if let csi driver support the ceph version,can i modify the code that delete the subvolumegrop?

[2019-08-27 05:51] Madhu-1 commented on #574
why modify code to delete subvolume group?

[2019-08-27 05:57] jianglingxia commented on #574
because my ceph version now only v12,v14 not commercial until next year,so now use v12 ceph version

[2019-08-27 06:02] Madhu-1 commented on #574
okay I can't comment on the ceph commercial release, you can modify the code and use it but there won't be any migration supported in cephcsi

@humblec can give more info on this.

[2019-08-27 09:14] ajarr commented on #546
https://github.com/ceph/ceph-csi/pull/571

[2019-08-27 09:28] jianglingxia commented on #574
can you help me with how many pr and what the pr is i need modify with the fssubvolumegroup?
thanks i only found the https://github.com/ceph/ceph-csi/pull/400 pr

[2019-08-27 09:33] Madhu-1 commented on #574
yes #400 will help you

[2019-08-27 14:49] wilmardo commented on #568
@Madhu-1 Also with the new canary no pods can be recreated:
[code]

While the userID is available and the config is working with the latest release. Just did a rollback to the v1.x images and it started working again without changing the config.

[2019-08-28 05:16] Madhu-1 commented on #574
@mcronce its supported in 14.2.2 version

[2019-08-28 06:15] jianglingxia commented on #574
@Madhu-1 i found the subvolume function not only the pr #400,many code place have the subvolume,i do not know how to modify the code...can helo me with it?thanks very much

[2019-08-28 07:00] Madhu-1 commented on #568
@wilmardo canary image need node-stage secret to mount the volume, are you referring to the storage class of master branch

[2019-08-28 09:19] scott0000 commented on #562
I tried to add the following setting to /etc/ceph.conf and restart the ceph-mgr service，but it didn't work.
[code]
I found that the user of ceph-mgr was still 'ceph' but not 'root', do not know why.
And I modify the systemd service unit of ceph-mgr as the following, this way can work
[code]

[2019-08-28 09:41] wilmardo commented on #568
This is my current storageclass:

[code]

The secret exists and has valid data:

[code]

I tried it again to test the Helm chart but both the v1.1.0 and the canary tag of the `quay.io/cephcsi/cephcsi` image aren't working and throwing the same error:

[code]

[2019-08-28 10:02] Madhu-1 commented on #568
@wilmardo can you paste secret if possible

[2019-08-28 10:02] Madhu-1 commented on #568
you have already attached secret,didnt noticed

[2019-08-28 13:45] wilmardo commented on #568
I think there are several issues within this issue. First the issue in the OP which seems related to this in the node kubelet logs:

[code]

My guess is that the teardown never completes and therefore the volume cannot be remounted.

---

The second problem about the userID has developed while testing with the canary. I am now also seeing these in the kubelet logs on the node. It seems that the so

[2019-08-29 13:54] ShyamsundarR opened #578 "Add the ability to use exclusive RBD locking to prevent inadvertent multi-node access of an RWO image"
Although CO systems are meant to ensure an RWO volume is attached to a single node, under any (un)availability constraints. It seems prudent to have an additional layer of protection to ensure this is taken care of.

Quoting solutions presented by @dillaman here:
"The best solution is to ensure that k8s will never request the CSI to map a PV to a node when it could already be mapped on an unrespon

[2019-08-29 14:04] dillaman commented on #578
I want to retract the possibility of using "rbd device map --exclusive". The issue being that when that option is used, krbd will never release the lock. Normally that is exactly what you'd want, except for the case where you are trying to perform some maintenance operation on the image (snapshot create/remove, flatten, ...).

[2019-08-29 14:54] Madhu-1 commented on #578
we need to do  below steps
During create
* add `--exclusive-lock` feature while creating an image if its RWO
During node stage
* use `rbd map --exclusive`
During unstage
* list the lock on image
* remove the lock
* unmap the rbd device

@dillaman @ShyamsundarR correct me  if am wrong

@dillaman to remove the lock we need  to connect the cluster right, means we need mon endpoints, admin ID and cred

[2019-08-29 15:57] dillaman commented on #578
It's `--image-feature layering,exclusive-lock,......` (there is no `--exclusive-lock` optional)

Negative -- that was my retraction above. If you use this, you will break the ability to have third-party tools (i.e. `rbd snap create`) function against in-use images.

Negative -- on a normal unstage, if you were using `exclusive-lock`, it will automatically clean up the lock. You would only need to

[2019-08-29 18:27] lukshap opened #579 "A volumesnapshotcontent is not removed when volumesnapshot is removed."
# Describe the bug #

A volumesnapshotcontent is not removed when relevant volumesnapshot is removed

# Environment details #

- Image/version of Ceph CSI driver: csi-node-driver-registrar:v1.1.0, csi-provisioner:v1.3.0, csi-snapshotter:v1.2.0, csi-attacher:v1.2.0
- helm chart version: ceph-csi-rbd-0.8.0
- Kubernetes cluster version: v1.15.2
- Logs

# Steps to reproduce #

Steps to reproduce the b

[2019-08-30 06:50] #371 closed

[2019-09-02 11:41] nixpanic commented on #505
Mergify supports dropping approval status when a PR is updated. See the [documentation for dismiss-reviews](https://doc.mergify.io/actions.html#dismiss-reviews).

[2019-09-03 07:54] HaveFun83 commented on #393
Hi how is the status here?

[2019-09-03 08:39] mykaul commented on #449
@Madhu-1  , @ShyamsundarR  - any updates?

[2019-09-03 10:12] humblec commented on #393
Pretty much there, got a small delay due to CI issues + holiday yesterday. Waiting for CI to pass on couple of important PRs which @poornimag working on. Once its done, we will cut the release, targetting tomorrow for the release.

[2019-09-03 11:36] ShyamsundarR opened #584 "Update code and documentation about removal of cephfs-plugin option `volumemounter`"
Prior to [this](https://github.com/ceph/ceph-csi/pull/571) commit the plugin args could specify a default using the option `volumemounter`, which is no longer the case as we are not using DefaultVolumeMounter in the code, as noted in the [review](https://github.com/ceph/ceph-csi/pull/571#discussion_r319655197). We would need to cleanup the option from the possible set of options and update the doc

[2019-09-03 12:54] ShyamsundarR commented on #449
@mykaul It was decided to pick up this work post 1.2.0 release for the following reasons,
- [go-ceph](https://godoc.org/github.com/ceph/go-ceph) does not yet have a stable [release branch](https://github.com/ceph/go-ceph/issues/92) for use
- There is at least one feature still needed in [go-ceph](https://github.com/ceph/go-ceph/issues/94)
- Finally, we need to settle on the gains when operations a

[2019-09-03 14:06] HaveFun83 commented on #393
Thanks for the info

[2019-09-03 14:38] humblec commented on #393
[Pending PRs]
https://github.com/ceph/ceph-csi/pulls?q=is%3Apr+is%3Aopen+label%3Arelease-1.2.0

[2019-09-03 18:02] lbogdan commented on #199
Ping!
@rootfs From what I can see, there's still no way of creating a `StorageClass` backed by different metadata and  data pools. Any idea if this was considered / is on the roadmap?

[2019-09-04 06:51] Madhu-1 commented on #435
for rbd, we have a tool for mapping the PVC to backend image name, for cephfs we need to add the same. as this cannot be done before the release. moving this out of  v1.2.0

[2019-09-04 09:44] #505 closed

[2019-09-04 13:32] Madhu-1 commented on #584
This has to be done before release

[2019-09-05 07:20] #584 closed

[2019-09-05 12:58] wilmardo commented on #314
This is now all done!

[2019-09-05 12:58] #314 closed

[2019-09-05 13:38] wilmardo commented on #568
Look into this again today, userID error is gone with the canary images (might have been a imagePullPolicy: IfNotPresent thing, fixed that).

I tried to setup this comment as comprehansible as possible :)

The behaviour is still with one of the four pvs I am using at the moment. None of the others have this behaviour. I tried to provide all the logs again underneath.
The issue seems similar to: ht

[2019-09-06 15:23] sbskas commented on #296
I'm closing the issue since we no longer are using the ceph-csi 0.3 and ceph-csi team decided to not support ceph-csi 0.3 -> ceph-csi 1.x.x migration.

[2019-09-06 15:23] #296 closed

[2019-09-06 15:51] sbskas opened #593 "Upgrading to ceph-csi 1.1.0 leaves older pv unusable"
We tried to migrate to the latest release of ceph-csi (1.1.0) from a previous version of ceph-csi (1.0.x-something).
After migration, creation and usage of new pv are ok.
Old pv are marked for release are not cleaned up and cannot and cannot be umounted if they were in usage.

Ceph-csi driver is from the ceph-csi release-v1.1.0 branch commit adad72ae83089e48450260af8d1fee36d0052c16

Testing cluste

[2019-09-06 15:56] sbskas commented on #593
We also try to scale a prometheus down :
The pod is stuck in terminating state.
`prometheus-monitoring-k8s-prometheus-prometheus-0        0/4     Terminating   0          9d`
Logs at the csi-rbdplugin are showing the following logs:
`I0906 15:55:20.595209   41313 utils.go:105] GRPC call: /csi.v1.Node/NodeUnpublishVolume
I0906 15:55:20.595262   41313 utils.go:106] GRPC request: {"target_path":"/var

[2019-09-06 16:25] Madhu-1 commented on #593
@sbskas will prepare the doc on how to update from 1.0.x to 1.1.0

[2019-09-06 17:20] Madhu-1 commented on #393
closing this as we have released v1.2.0

[2019-09-06 17:20] #393 closed

[2019-09-06 17:20] humblec commented on #393
Finally the release v1.2.0 is out !!

[2019-09-06 23:20] sbskas commented on #593
@Madhu-1 Care to explain the update in a few sentences ? I'm a little puzzled here.
I migrated a ceph-plugin on another cluster previously and didn't face this problem.

[2019-09-07 07:21] jianglingxia opened #599 "pod delete but globalmount dir not delete"
# Describe the bug #
i use the csi driver v1.1.0 and delete the pr  https://github.com/ceph/ceph-csi/pull/400 and merge the pr https://github.com/ceph/ceph-csi/pull/460 then make image and run the csi driver
then create pvc and dynamic create pv and volume and pod running

csi-cephfs-demo-pod-alpile       1/1     Running   0          4m12s   11.11.11.250
but delete pod the globalmount dir can not

[2019-09-07 11:17] humblec opened #600 "Release v1.2.1 of Ceph-CSI driver"
- [x] Define release process
  - Release doc would be a good start
- [x] Define release deadlines
  - Code Freeze : 20-Sep-2019
  - RC : 23-Sep -2019
  - GA : **25-Sep-2019**
- [x] Define/list roadmap for v1.2.1
  - Proposed contents for v1.2.1 release

- [x] Release Team:
 - @Madhu-1
 - @humblec

  - The release blockers (issues/PRs) are labelled with `release-1.2.1`.
https://github.com/ceph/ceph

[2019-09-07 11:19] humblec commented on #600
The plan here is to make a bug fix release, either we can call it as `1.2.1` or `1.3.0`. Any preference?

[2019-09-07 11:24] humblec opened #602 "Increase sidecar timeout from 60s to higher value"
# Describe the bug #

At present, the request timeout of sidecars are at 60s and this is a request to increase this time out value to 150s or higher. The higher timeout value can help to reduce the load of our backend ceph cluster and also can avoid throttling issues at sidecars to an extend.

[2019-09-07 11:45] ShyamsundarR commented on #600
I would stick semver as the defined in the releases.md file, IOW move this to 1.2.1 not 1.3.0.

[2019-09-08 04:42] humblec commented on #393
**docker pull quay.io/cephcsi/cephcsi:v1.2.0** is the release container image!  @HaveFun83

[2019-09-09 02:58] Madhu-1 commented on #599
@jianglingxia this must be fixed in 1.2.0 release

[2019-09-09 03:11] Madhu-1 commented on #600
@humblec, as we are doing bug fixes, will go with 1.2.1

[2019-09-09 03:21] humblec commented on #600
yeah. lets stick to `1.2.1`.

[2019-09-09 08:33] HaveFun83 commented on #393
Thanks a lot

[2019-09-09 15:36] humblec commented on #599
@jianglingxia  closing this for now, please feel free to reopen if its not fixed with 1.2.1

[2019-09-09 16:11] HaveFun83 opened #603 "update helm chart repo to v1.2.0"
The helm chart repo under https://ceph.github.io/csi-charts still points to the old release version 1.1.0.

Please also update the chart to the new release there.
It also look like the new helm-chart version for v1.2.0 is moved out of the chart repo tree with wrong chart metadata
https://github.com/ceph/ceph-csi/blob/release-v1.2.0/deploy/rbd/kubernetes/v1.14%2B/helm/ceph-csi-rbd/Chart.yaml

Pleas

[2019-09-09 19:15] wilmardo commented on #603
What do you mean by this?

The helm charts are undergoing a major change which is scheduled for the next release #570

[2019-09-10 00:28] jianglingxia commented on #599
can you tell me which commit fixed the problem?really thanks

[2019-09-10 04:55] Madhu-1 commented on #599
@jianglingxia here it is https://github.com/ceph/ceph-csi/pull/510

[2019-09-10 04:57] Madhu-1 commented on #603
@HaveFun83 we have some issue with CI pushing 1.12.0 helm chats, as we are doing major changes for helm chats, will backport it to v1.2.0

[2019-09-10 05:55] #91 closed

[2019-09-10 06:16] jianglingxia commented on #599
thanks @Madhu-1
the #510 i see is rbd type volume.but i use cephfs storage,it can fixed also?thanks

[2019-09-10 06:23] Madhu-1 commented on #599
@jianglingxia we are using cephfs subvolume code to create PVC?

@humblec @ShyamsundarR this is happening with cephfs also

[2019-09-10 06:38] jianglingxia commented on #599
the case is i use the release version v1.1.0 then merge the pr:https://github.com/ceph/ceph-csi/pull/460  and delete the fssubvolume function because my ceph server is v12 can not supprot the command and then makefile in k8s v1.13 to create pod with pvc of cephfs,then delete pod can not umount

[2019-09-10 08:05] Madhu-1 commented on #599
CC @poornimag

[2019-09-10 08:20] Madhu-1 commented on #572
@lukshap I tested with the master branch, its working can you retry with master branch or release 1.1.0 or 1.2.0 branch?

[2019-09-10 08:32] Madhu-1 commented on #579
known issue with snapshot https://github.com/ceph/ceph-csi/issues/70 https://github.com/ceph/ceph-csi/issues/227 if not, please reopen

[2019-09-10 08:32] #579 closed

[2019-09-10 09:40] HaveFun83 commented on #603
The helm chart metadata is wrong
From branch release-1.2.0
[code]
from branch release-v1.1.0
[code]

also the directory structure was changed so the chart went out of the repo url https://ceph.github.io/csi-charts

Do you have a timeframe when the backported chart for v1.2.0 will be out?

[2019-09-10 11:45] Madhu-1 commented on #199
@lbogdan #605 adds support for erasure-coded pools

[2019-09-10 13:28] dillaman opened #607 "Remove support for "imageFormat" V1"
librbd prevents the creation of V1 images but still supports opening existing V1 images. Attempting to create a V1 image using the `rbd` CLI will result in the following failure message:

[2019-09-10 13:45] Madhu-1 commented on #607
@dillaman we need to remove `imageFormat` option from storageclass?

[2019-09-10 14:07] dillaman commented on #607
@Madhu-1 If it doesn't break existing storageclass's to remove it, I would say yes. Otherwise, remove it from the examples and ignore it in the CSI driver.

[2019-09-11 04:08] Madhu-1 commented on #574
closing this as not an issue

[2019-09-11 04:08] #574 closed

[2019-09-11 04:11] Madhu-1 commented on #563
@nixpanic closing this as we removed the workaround in the docker image, please feel free to reopen if it's still valid

[2019-09-11 04:11] #563 closed

[2019-09-11 04:17] Madhu-1 commented on #554
even I have seen this issue with more I/O the memory consumption of fuse increases.
@poornimag can you confirm it.

[2019-09-11 04:18] Madhu-1 commented on #546
Fixed by #571

[2019-09-11 04:18] #546 closed

[2019-09-11 04:21] Madhu-1 commented on #532
@invent-lwj this should be some miss-configuration of csi, please check kubelet logs on the node to make sure csi driver is registred with kubelet.

[2019-09-11 04:24] Madhu-1 commented on #495
@goodidea-kp can you tell us what you have tried and what is the current state?

[2019-09-11 04:24] Madhu-1 commented on #484
upgrade document for v1.2.0

[2019-09-11 04:27] Madhu-1 commented on #471
Fixed by #540

[2019-09-11 04:27] #471 closed

[2019-09-11 04:28] Madhu-1 commented on #461
@nixpanic @humblec  can you close this as not a bug?

[2019-09-11 04:30] Madhu-1 commented on #367
this is fixed now, on each release we are tagging the container with vX.Y.Z. the same container will not be updated

[2019-09-11 04:30] #367 closed

[2019-09-11 04:31] Madhu-1 commented on #374
CC @dillaman

[2019-09-11 06:27] Madhu-1 opened #609 "PR list to be backported for v1.2.1 release"
PR list to be backported for v1.2.1 release
(please update this issue so that we can keep track of PR's)

https://github.com/ceph/ceph-csi/pull/608
https://github.com/ceph/ceph-csi/pull/570

[2019-09-11 06:32] Madhu-1 commented on #600
https://github.com/ceph/ceph-csi/issues/609

[2019-09-11 06:34] humblec commented on #609
Rather we can track the PRs with just label .

[2019-09-11 06:43] Madhu-1 commented on #609
closing this as per @humblec suggestion we can track PR's with labels

[2019-09-11 06:43] #609 closed

[2019-09-11 06:48] #199 closed

[2019-09-11 06:50] wilmardo opened #610 "Make use of Travis environment variables in deploy.sh"
# Describe the feature you'd like to have #

Make the deploy.sh smarter so less manual interference is needed to release.
The logic here seems flawed at the moment:
https://github.com/ceph/ceph-csi/blob/master/deploy.sh#L27

We could improve this with the TRAVIS_TAG variable like #570 introduced.

Travis environment files reference:
https://docs.travis-ci.com/user/environment-variables/

# What is

[2019-09-11 06:52] wilmardo opened #611 "Improve helm documentation"
# Describe the feature you'd like to have #

More documentation for the helm charts to be more uniform with other charts. Followup on #570
Create a readme.md like for example:

https://github.com/helm/charts/tree/master/stable/apm-server

# What is the value to the end user? (why is it a priority?) #

Easier understanding of the Helm charts, more uniform with all the other charts.

# How will we k

[2019-09-11 07:18] wilmardo opened #612 "Update the helm labels to new app.kubernetes.io namespace"
# Describe the feature you'd like to have #

Update the helm charts labels to the new app.kubernetes.io namespace:
https://helm.sh/docs/topics/chart_best_practices/labels/#standard-labels

# What is the value to the end user? (why is it a priority?) #

Helm chart is up to standard, what the users expect.

# How will we know we have a good solution? (acceptance criteria) #

All the helm labels upda

[2019-09-11 10:12] ajarr commented on #554
@joscollin can you also take a look?

[2019-09-11 19:15] gnufied opened #615 "Handle concurrent operation of NodeUnstage with NodeStage and NodeUnpublish with NodePublish"
/kind bug

While reviewing the CEPH driver code, I found that we don't correctly handle concurrent processing of NodeUnstage call if a previous NodeStage was in-progress and same thing applies to NodeUnpublish call too.

The specs says, if an operation is in-progress for the volume then SP should return error code "10 ABORTED" - https://github.com/container-storage-interface/spec/blob/master/spec.

[2019-09-11 20:36] msfrucht commented on #600
I would prefer the following format.

VERSION.RELEASE.BUGFIX

Where VERSION.RELEASE should follow the CSI standard's current specification version as much as possible. That makes it easy to understand the capabilities of each release.

[2019-09-12 07:13] humblec commented on #615
Thanks @gnufied for reporting this ! much needed fix. The PR #616  address this issue. Thanks @Madhu-1 for quick action on this. Lets keep this in `1.2.1`. I am tagging the PR with the same.

[2019-09-12 07:52] #607 closed

[2019-09-15 10:18] sbskas commented on #593
Any new about this doc ? We'te stuck here with a test cluster half working (for the new PV) / half broken  (for the PV in use). If you could just give us a hint about what's wrong with the current PV, that'll be most welcome.

[2019-09-15 14:34] mykaul commented on #602
Is the above PR closing this issue?
@Madhu-1 , @humblec  ?

[2019-09-15 14:34] mykaul commented on #463
Do we still need this issue open?
@humblec  ?

[2019-09-15 14:36] Madhu-1 commented on #602
@mykaul this has been updated in rook, people who are using rook to deploy  ceph-csi will get higher timeout values, will updated templates in ceph-csi in 1.2.1 release

[2019-09-15 16:36] Madhu-1 commented on #593
@sbskas am working on  the Doc  for upgrade (facing some issue while uprgading from 1.0.0  to 1.1.0 ( soon will update the doc)

this is the steps you need to follow to fix is issue found in https://github.com/ceph/ceph-csi/issues/593#issuecomment-528911758

while deleting the pod which uses the older PVC you might face below error message, this has been fixed in v1.2.0 branch
we need to do some m

[2019-09-15 16:44] Madhu-1 commented on #593
to fix the issue in https://github.com/ceph/ceph-csi/issues/593#issue-490400319  please add `metadatastorage` flag to the rbd-provisioner statefulset, This is required to delete  the old PVC

 if the backend image is deleted and PV is still present, delete the PV object forcefully

[2019-09-16 03:24] humblec commented on #463
hmm.. tricky to answer, we currently spent some time in a week to clear the backlog issues. However the slot is not consistent all the weeks. so give me some time, let me try to make it consistent and accordingly we can take the call.

[2019-09-16 03:25] humblec commented on #602
@mykaul we are yet to receive the test results on increased timeout. so, we will update the template here too and based on the test result we can update and close this.

[2019-09-16 13:45] wilmardo commented on #612
Waiting on #570 to get merged, will then pick this up ASAP

[2019-09-16 16:26] yydzhou opened #617 "allowing kernel mount for versions of kernel version < 4.17"
# Describe the feature you'd like to have #
Kernel mount for cephfs on kernel version < 4.17
# What new functionality do you want?
 When the `mounter: kernel` is specified in the storage class, the csi should do their best to use the specified mounter even through this may result in lose some features.

# What is the value to the end user? (why is it a priority?) #
There are a couple reasons.
1. T

[2019-09-16 21:10] vicaya commented on #617
Quota and snapshot are usually an optional features that are not used by default in many deployments. Hard code 4.17+ for using kernel client seems unreasonable. 4.14 (a LTS release)+ with warnings for missing features, would be a more reasonable default. At a minimum, there should be an option to override default behavior.

[2019-09-17 08:52] jianglingxia opened #618 "use cephcsi driver v1.1.0 and yaml deploy but container can not running"
# Describe the bug #
i use the cephcsi driver v1.1.0, and use the example by the :
https://github.com/ceph/ceph-csi/blob/master/deploy/cephfs/kubernetes/v1.13/csi-cephfsplugin-provisioner.yaml
deploy the provisioner and ds but have two containers  can not running,the logs prints:
flag provided but not defined: -controllerserver
[root@paas-controller-11-11-11-94:/home/ubuntu/newimages/tasks]$ kubec

[2019-09-17 08:53] jianglingxia commented on #618
@Madhu-1
thanks

[2019-09-17 09:05] Madhu-1 commented on #618
@jianglingxia use https://github.com/ceph/ceph-csi/tree/v1.1.0 branch not the master branch

[2019-09-17 09:05] #618 closed

[2019-09-17 10:27] Madhu-1 opened #619 "liveness container not connecting to proper socket in provisioner pod"
in current deployment, liveness container is connecting to `csi.sock` socket which is exposed by node plugin, not the provisioner
 is listening on csi-provisioner.sock. the liveness container inside the provisioner pod should connect to the provisioner socket, not the node plugin  socket

[2019-09-17 18:36] dillaman opened #621 "Disable mkfs.ext4/xfs discard for RBD RXO volumes"
# Describe the feature you'd like to have #620

It's expensive (both in time and IO) to have ext4 or XFS discard a newly created RBD-backed block device when laying down the file system. Either get a patch merged into upstream k8s' `FormatAndMount` API that allows the RBD CSI to specify the no-discard flags to mkfs, or wrap the k8s `FormatAndMount` API call w/ a custom call that (1) calls `GetDisk

[2019-09-17 18:38] dillaman commented on #621
Also revert https://github.com/ceph/ceph-csi/pull/545 and https://github.com/rook/rook/pull/3601

[2019-09-18 03:09] jianglingxia commented on #618
@Madhu-1
can you join the slack ,i call you in threads,thanks
i ocure a problem that choose which  version use the ceph csi driver,really thanks

[2019-09-18 03:47] humblec commented on #621
@dillaman I am already working on wrapping the formatAndMount in our driver. so will take that route.

[2019-09-18 03:47] humblec commented on #621
/assign @humblec

[2019-09-18 04:44] Madhu-1 commented on #617
@humblec can this be fixed before 1.2.1 release?

[2019-09-18 04:44] Madhu-1 commented on #617
CC @poornimag @ajarr

[2019-09-18 09:45] afraserbm opened #622 "SnapshotCreationFailed using ceph-csi rbd and external ceph cluster"
# Describe the bug #
A snapshot pod mounts but the actual snapshot is not created correctly. Kubernetes complains about the snapshot not existing but the pvc is created. Any data copied to the original pvc is not copied over in the snapshot.

# Environment details #

- Image/version of Ceph CSI driver - cephcsi:canary csi-node-driver-registrar:v1.1.0, csi-provisioner:v1.3.0, csi-snapshotter:v1.2.1

[2019-09-18 10:07] Madhu-1 commented on #622
please provide rbdplugin container logs

[2019-09-18 10:12] afraserbm commented on #622
Just noticed a line - "Cannot run systemd-run, assuming non-systemd OS".
The node is running coreos.

[code]

[2019-09-18 10:25] humblec commented on #622
[code]
Its not related to snapshot call, rather its when retrieving volume stats. So, it can be ignored.

[2019-09-18 11:08] Madhu-1 commented on #622
@afraserbm I mean to ask please provide `csi-rbdplugin` container logs from provisioner pod, sorry for missing that

[2019-09-18 11:51] afraserbm commented on #622
No problem, here you go :

[code]

[2019-09-18 11:55] Madhu-1 commented on #622
@afraserbm snapshot creation was successful from ceph-csi  might be some issue with a snapshot sidecar container

[2019-09-18 11:57] Madhu-1 commented on #622
even describe snapshot shows snapshot is created an available
[code]

[2019-09-18 13:17] afraserbm commented on #622
Agreed, the snapshot to all intents seems to be present. I'm deleted the snapshot and created a new on so the id's will be different but here's a description of the volumesnapshotcontent.

[code]
The strange thing is that there is no data replicated to the snapshot from the original pvc.

[2019-09-18 15:35] humblec opened #626 "Get formatting Args from SC parameter list."
# Describe the feature you'd like to have #

Provide an option in SC for submitting filesystem formatting options. Once these are available, use it in FormatAndMount. This come handy to troubleshoot/improve performance ..etc while formatting FS on RBD device.

[2019-09-18 15:37] humblec opened #627 "Expand E2E test for "ext4" FS on RBD device."
# Describe the bug #

At present, E2E make use of `XFS` FS on RBD device. This issue track an improvement for getting `ext4` based FS in E2E.

[2019-09-18 15:58] Madhu-1 commented on #627
closing this based on https://github.com/ceph/ceph-csi/pull/624#issuecomment-532750361

[2019-09-18 15:58] #627 closed

[2019-09-18 16:12] Madhu-1 commented on #617
@vicaya @yydzhou please check https://github.com/ceph/ceph-csi/pull/623#issuecomment-532754344

[2019-09-18 17:32] yydzhou commented on #617
@Madhu-1 and @poornimag  Thanks for your quick response and action.

[2019-09-19 08:49] Madhu-1 commented on #466
This issue is still reproducible with simple steps, reopening the issue

as specified in  the issue  upgrade caused the rbd nodeplugin pod to restart

simple steps to  reproduce

* create and mount a PVC to app pod
* restart nodeplugin pod
* try  to delete the app pod

[2019-09-19 08:50] Madhu-1 commented on #466
changed the bug description

[2019-09-19 09:01] Madhu-1 commented on #466
[code]
lsof output from node
[code]

[2019-09-19 09:12] Madhu-1 commented on #466
[code]

after unmounting the above 2 the app pod got removed

[2019-09-19 09:14] Madhu-1 commented on #466
@humblec @ShyamsundarR  providing my analysis above . i would like to take this as a blocker for 1.2.1 release

[2019-09-19 09:25] Madhu-1 commented on #466
@nixpanic any idea why this is happening

[2019-09-20 07:37] #615 closed

[2019-09-20 08:13] #619 closed

[2019-09-20 09:47] Madhu-1 opened #633 "option to specify format type in node plugin"
currently, external-provisioner defaults the format type to `ext4`, there is a discussion going on to provide an option in sidecar container https://github.com/kubernetes-csi/external-provisioner/issues/328 .

if sidecar container does not provide an option to specify the format options, in ceph-csi we need to provide a flag to set it

[2019-09-20 13:16] #621 closed

[2019-09-20 15:03] sbskas commented on #593
We added the --metadatastorage=k8s_configmap on all rbdplugin deployed.
First, rbdplugin is looking for configmaps in default namespace for which it has no rights.
We deployed the ceph-csi in the kube-system namepace.
Once given the correct rights, it blocks at mounting the voume with the following statement :
`I0920 15:01:18.684159   37110 utils.go:119] ID: 62 GRPC call: /csi.v1.Node/NodeStageVol

[2019-09-20 15:05] sbskas commented on #593
Same thing on the csi-provsionner :
`I0920 13:05:45.754614       1 utils.go:120] ID: 47 GRPC request: {"secrets":"***stripped***","volume_id":"csi-rbd-vol-013a34c0-65cf-11e9-8afa-aa232122848b"}
I0920 13:05:45.757168       1 controllerserver.go:303] ID: 47 attempting deletion of potential legacy volume (csi-rbd-vol-013a34c0-65cf-11e9-8afa-aa232122848b)
I0920 13:05:45.797065       1 controllerserver

[2019-09-20 15:14] Madhu-1 commented on #593
@sbskas in v1.0.0 RBD stores the volume  information in the configmap in the default namespace or the namespace where  rbdplugin pod is  running https://github.com/ceph/ceph-csi/blob/csi-v1.0/pkg/util/k8scmcache.go#L53

node  stage secret is not required if you  are using `v1.1.0` ceph-csi images, can you please check what version of CSI you are using

`v1.1.0` does not implement nodestagevolume r

[2019-09-20 15:15] Madhu-1 commented on #593
can you list the configmaps stored in the namespace where the pod is running and also in  default namespace

[2019-09-20 15:20] sbskas commented on #593
kube-system    csi-rbd-vol-013a34c0-65cf-11e9-8afa-aa232122848b                  1      150d
kube-system    csi-rbd-vol-93d0bdcc-ae1b-11e9-93f6-161600d4e3fc                  1      58d
kube-system    csi-rbd-vol-d20c8fd0-9d69-11e9-93f6-161600d4e3fc                  1      79d
kube-system    csi-rbd-vol-f2dea2b2-ae1c-11e9-93f6-161600d4e3fc                  1      58d

The map is here in the kube-sy

[2019-09-20 15:21] Madhu-1 commented on #593
are you trying to upgrade from 1.0.0 to 1.2.0? why

[2019-09-20 15:22] sbskas commented on #593
Just to try, you mentioned some bugs fixed in next version.

[2019-09-20 15:24] Madhu-1 commented on #593
please add https://github.com/ceph/ceph-csi/blob/e2890a27ffe7c530295c62de3bf159dbdbc8537e/deploy/cephfs/kubernetes/v1.14%2B/csi-cephfsplugin-provisioner.yaml#L96 to your  deployment template and try to delete PVC ( this is missing in rbd template)

[2019-09-20 15:26] Madhu-1 commented on #593
updating to 1.2.0 from  1.1.0 can cause issue while deleting pods this is because we have implemented node stage volume in  1.2.0 which does the rbd mapping and unmapping ( earlier this was done in  node publish/unpublish request)

[2019-09-20 15:28] Madhu-1 commented on #593
@sbskas updating from 1.2.0 requires  node drain ( as we have implemented node staging in v1.2.0)

[2019-09-20 16:09] sbskas commented on #593
@Madhu-1 we aren't doing cephfs, only rbd. You mean adding
 `           - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace`
In the rbdplugin-provisioner and csi-rbdplugin ?
I

[2019-09-20 16:14] Madhu-1 commented on #593
yes please add it to rbd provisioner

[2019-09-20 16:58] sbskas commented on #593
Ok, I went back to 1.1.0 since I don't want to debug multiple problem at the same time.
Patched the yaml and recreated the whole thing.
Now I got "missing ID field 'userID' in secrets"

Whch user
`I0920 16:47:19.827060   63397 utils.go:106] GRPC request: {"secrets":"***stripped***","target_path":"/var/lib/kubelet/pods/a564c1c0-dbc0-11e9-aac6-0050568e50c1/volumes/kubernetes.io~csi/pvc-93ad516d-ae1b

[2019-09-20 17:02] sbskas commented on #593
Same thing to mounting the volume.
  Normal   Scheduled    15s   default-scheduler   Successfully assigned monitoring/prometheus-monitoring-k8s-prometheus-prometheus-0 to w2-pic-pp
  Warning  FailedMount  5s    kubelet, w2-pic-pp  MountVolume.SetUp failed for volume "pvc-93ad516d-ae1b-11e9-ac6a-0050568e92c4" : rpc error: code = Internal desc = missing ID field 'userID' in secrets

[2019-09-23 13:22] #466 closed

[2019-09-24 01:56] boxuan666 opened #634 "FailedMount PVC in pod. even pv successfully create by storageclass"
# Describe the bug #
storageclass is working. use SC auto create PV is successfully . but pvc can not mount in pod

# Environment details #
[code]
# detail #
when i using pv which is auto create by ceph-csi-SC. my pod always in `ContainerCreating` state.

error logs as follow :
[code]

the node kubelet logs as follow(which is pod runing node):
[code]

my `dmesg | tail` output like this:
[code]

an

[2019-09-24 03:55] Madhu-1 commented on #634
@boxuan666 what is the kernel version you are using?

[2019-09-24 06:26] mmgaggle commented on #420
Please note that in the case of snapshot, we actually have to re-encrypt the snapshot with a new key to be cryptographically sound. This is because when you use AES with the XTS block cipher mode you can use the delta between images to mount a cryptanalytic attack.

This is why Google uses a new encryption key for snapshots -

https://cloud.google.com/compute/docs/disks/customer-supplied-encryptio

[2019-09-24 08:24] boxuan666 commented on #634
@Madhu-1
My K8s node kernel version is `Linux k8s-master 4.4.0-161-generic #189-Ubuntu SMP Tue Aug 27 08:10:16 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

Ceph cluster kernel version is `Linux ceph-node1 3.10.0-1062.1.1.el7.x86_64 #1 SMP Fri Sep 13 22:55:44 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
`

[2019-09-24 08:28] Madhu-1 commented on #634
@dillaman what is the minimum kernel version need to use rbd? can we document it?

[2019-09-24 10:22] boxuan666 commented on #634
problem resolved.
after upgrade the K8s node kernel version from `4.4.0-161-generic` to `4.13.16-041316-generic`

about the kernel pls refer
- http://ubuntuhandbook.org/index.php/2017/09/install-linux-kernel-4-13-ubuntu-16-04-higher/
- https://kernel.ubuntu.com/~kernel-ppa/mainline/v4.13.16/

[2019-09-24 10:22] #634 closed

[2019-09-25 05:23] humblec opened #639 "Release v1.2.2 of Ceph-CSI driver"
- [x] Define release process
  - Release doc would be a good start
- [x] Define release deadlines
  - Code Freeze : 20-Oct-2019
  - RC : 23-Oct -2019
  - GA : **25-Oct-2019**
- [x] Define/list roadmap for v1.2.2
  - Proposed contents for v1.2.2 release

- [x] Release Team:
 - @Madhu-1
 - @humblec

  - The release blockers (issues/PRs) are labelled with `release-1.2.2`.
https://github.com/ceph/ceph

[2019-09-25 09:04] zgfh opened #642 "csi-rbdplugin should set cpu and memory"
# Describe the bug #

I find when disk of node Pressure, csi-rbdplugin  will Evicted first
we should set cpu and memory to be given a QoS class of Guaranteed
# Environment details #

- Image/version of Ceph CSI driver v1.2.0
- Kubernetes cluster version 1.15.3

[2019-09-25 09:24] HaveFun83 commented on #603
Any news here? yesterday v1.2.1 was released but is now missing again

[2019-09-27 05:49] #565 closed

[2019-09-27 14:48] sbskas opened #658 "csi1.0 to 1.1 migration : finalizer on volumeattachment"
volume created by old csi-plugin 1.0 and in use cannot be unmounted by new plugin.

Here's a volume attachment related to a 1.0 pv.
[code]

When stopping pod using this PV,  the rbdplugin gets invoked by the finalizer of the volume attachement.
Here's the log
[code]

It seems that the fs was already unmounted and thus yields an error.

 By comparing with a volumeattachment created with the new vol

[2019-09-27 15:04] sbskas commented on #593
Everything seems to be in order after the few corrections.
Let me summarize them in the post.
To migrate from 1.0 to 1.1 one has to  :
1- recreate the storageclass with the new format and add 2 secrets for provison and publish
2- Add the POD_NAMESPACE env in the relevant pods (csi-rbdplugin needs this)
3- add the --metadatastorage k8s_configmap in the relevant pods
4- remove the finalizers in the

[2019-09-27 16:08] sbskas opened #659 "ceph-csi 1.1 cannot delete PV created with 1.0 plugin"
After having upgraded the ceph-csi plugin from version 1.0 to 1.1 and made the corresponding accomodation in the different configmaps, storage classes and other various places, one is not able to supress old pv created with older version of plugin.

# Environment details #

- release_v1.1.0
- Kubernetes cluster version 1.14.6

# Steps to reproduce #

Steps to reproduce the behavior:

1. create a P

[2019-09-27 16:12] Madhu-1 commented on #593
And to delete fix unmount issue i think you can try below things.

Remove rootfs mount from daemonset and set containerized=false in argument flags

With this you can fix unmount issue. There is a pr which merged into master just search for it if you need reference

[2019-09-27 16:28] sbskas commented on #658
After more testing, it seems that removing the finalizer on volumeattachment is not enough to allow PV to be operated normally.
1- rbd image is not unmaped
2- After manually unmapping the image with '-o force', one has to remove the /var/lib/kubelet/pods/<pod-id> on the client
3- removing the directory yields a warning in the kernel logs.
4- after the following steps, the PV can be operated normal

[2019-09-27 16:32] Madhu-1 commented on #658
After upgrade can you remove the rootfs mount and set containerized=false to fix umount issue

[2019-09-30 08:33] humblec commented on #600
The `v1.2.1` release is out
https://github.com/ceph/ceph-csi/releases/tag/v1.2.1
I am closing this issue !!

[2019-09-30 08:33] #600 closed

[2019-09-30 08:51] humblec opened #660 "Resize support for CephFS volumes."
Add support for cephfs volume resizing .
See https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/

[2019-09-30 08:52] humblec commented on #440
@poornimag would you like to volunteer for this RFE implementation?

[2019-10-01 08:59] Madhu-1 commented on #642
what should be the CPU and memory can be set for rbd and cephfs provisioner and nodeplugin?

@dillaman @ajarr @humblec @ShyamsundarR

[2019-10-01 09:01] Madhu-1 commented on #659
@sbskas can you provide the csi-provisioner container logs? which is responsible for deleting the PV object

[2019-10-01 09:04] Madhu-1 commented on #658
the above-suggested idea should fix this, closing this one, feel free to reopen if the issue persists

PR  fixes this issue https://github.com/ceph/ceph-csi/pull/628

[2019-10-01 09:04] #658 closed

[2019-10-01 09:11] Madhu-1 commented on #603
@HaveFun83 sorry for the issue, we  had some issue with pushing the helm charts, I made  a PR to  push helm chats https://github.com/ceph/ceph-csi/pull/663

from next release onwards will have helm charts for each release (once PR is merged  will  start pushing canary helm  charts to https://github.com/ceph/csi-charts)

[2019-10-01 09:18] Madhu-1 commented on #564
@kfox1111 can you point me the link where the issue is seen and  what is wrong. do we need to remove older chart versions once we upload new helm charts?

any idea of how to fix this issue

[2019-10-01 11:44] dillaman commented on #642
@Madhu-1 No clue -- but it is outrageously high in certain situations (like it's not cleaning up orphaned processes or something):

[code]

[2019-10-01 18:28] mmgaggle commented on #440
I might, if I had experience writing golang.

That said, I'd be happy to work up a design document for someone that would do a much better job.

[2019-10-02 05:06] Madhu-1 commented on #440
@mmgaggle sounds good.

[2019-10-04 14:44] humblec commented on #449
@nixpanic assigning this task to you as per the discussion. This is a very high priority item for `v2.0.0` , so we need immediate attention and priority here. Please let me know if you need any help here.

[2019-10-04 14:45] humblec commented on #449
#557

[2019-10-04 14:47] humblec commented on #440
@poornimag this is a very important functionality we are looking for at `v2.0.0` . Assigning this to you. Please let me know if you need any help in getting this done.

[2019-10-04 14:47] humblec commented on #440
#557

[2019-10-04 14:50] humblec commented on #411
@batrick @ajarr as cloning is supported in upstream , we have to provide the support from CephFS CSI side and this is a critical feature for `v2.0.0`  ( #557 ) , Do we have a volunteer to work on this feature ? Please suggest .

[2019-10-04 14:51] humblec commented on #660
#557

[2019-10-04 14:52] humblec commented on #660
#412

[2019-10-04 14:54] humblec commented on #578
This is an important item for `v2.0.0` ( #557 ) and would like to solve it at this release.  @ShyamsundarR @Madhu-1 @dillaman any volunteers for this task?

[2019-10-04 14:56] humblec opened #667 "Qualify or move RBD NBD to full support"
Eventhough we have support for rbd nbd in CSI , it is not the default or not qualified much. This is a feature request to bring more qualification to rbd-nbd and make it fully supported with RBD CSI.  The main issue we have come across on user space based client/mounter ( fuse, rbd-nbd) is the unavailability or disturbed mounts on workload attached shares/volumes when the CSI pods are respawned. T

[2019-10-04 14:57] humblec commented on #667
#557

[2019-10-04 14:58] dillaman commented on #578
@humblec There is currently no agreed path forward on this issue. The RBD exclusive-lock feature cannot be used and the CSI RPCs do not provide the necessary credentials to provide a manual workaround.

[2019-10-04 15:05] humblec commented on #578
@dillaman true, I am aware of  the conclusion we made with our last discussions on this topic. However, trying to figure out what can be done here to reach to a (new) solution/workaround, be it by adding support from RBD core side or by trying  possibilities from other layers. I was told that, we have to bring this extra safety measure to be assured that,  we dont end up in multi access and thus i

[2019-10-04 15:07] dillaman commented on #578
Agreed it's a great safety feature -- but it will require a CSI spec change. There is no workaround possible w/o the credentials.

[2019-10-04 20:13] ShyamsundarR opened #669 "Document and add tests for static cephfs PV definitions"
With the change in https://github.com/ceph/ceph-csi/issues/382 we got in static PV support for CephFS, and removed the older scheme that made provisioning a no-OP.

The means to use static CephFS PVs with ceph-csi needs to be documented and also test cases added to ensure we do not regress the functionality.

This issue is raised to track the same.

Initial sample yaml that helps create a static-P

[2019-10-07 09:12] Glorf opened #671 "Plugins are not compatible with ARM64 when running on rook"
Originally filled as rook issue: https://github.com/rook/rook/issues/4051

[2019-10-09 03:47] Madhu-1 commented on #639
@humblec we have couple for blocking issue in cephfs and we need to backport and do a minor release? can we prepone the release date?

[2019-10-09 04:10] Madhu-1 commented on #602
@humblec can you shorten the commit heading message

[2019-10-09 04:46] Madhu-1 opened #672 "Add documentation to delete stale backend images/omap"
Add documentation to delete the backend `omap` metadata and backend cephfs and rbd images.

if the PVC is created with storage class which is having the `reclaimPolicy` as `Retain` will not delete the PV object and backend `omap` metadata and backend image. Manual deletion of PV will result in stale `omap` keys, values and also stale cephfs and rbd images.

we need to document the steps to clean u

[2019-10-09 05:07] Madhu-1 commented on #669
we need to add support for rbd also.

[2019-10-09 05:11] Madhu-1 commented on #578
@dillaman @humblec if possible can we create an issue in CSI spec for the changes required? what changes did we require in the external provisioner sidecar?

[2019-10-09 05:12] humblec opened #673 "Resize RBD volumes on demand with resizer request."
Kubernetes 1.16 added support for online/offline support for volume resize and we should make Ceph RBD support available soon to support many user stories. This issue track this feature for v2.0.0.
#557 .

[2019-10-09 05:14] Madhu-1 commented on #673
@humblec can we close this in favor of https://github.com/ceph/ceph-csi/issues/101?

[2019-10-09 05:15] #673 closed

[2019-10-09 05:27] humblec commented on #578
@dillaman sure, we can poke upstream for the changes in external provisioner sidecar and try our best to get it in . But we have to list it out the same.

@Madhu-1 this issue track it in CSI repo, we need to come up with steps we are missing to achieve it here.

[2019-10-09 05:28] #602 closed

[2019-10-09 09:10] Madhu-1 commented on #671
got some idea from @travisn here https://github.com/rook/rook/issues/4051#issuecomment-539852395

@nixpanic is it possible to take it up?

[2019-10-09 09:59] Madhu-1 opened #675 "Add support for smart cloning in rbd"
below are the sub-tasks to  achieve the smart cloning

* Implement stand-alone snapshot creation more info here (https://github.com/ceph/ceph-csi/pull/467)
* Implement rbd image flattening
*  Implement rbd cloning from a snapshot
* Implement cloning image from another image (combined with above 3 implementations)
*  Enable E2E testing for snapshot
* Add E2E testing for smart cloning

[2019-10-09 11:55] dillaman commented on #578
It seems silly to me to tag a ceph-csi issue against v2 and priority 0 when it will 100% not land in v2 due to upstream dependencies. I think the best you can do is have an issue against the spec and/or CSI external provisioner limitation just to track the the opening of an issue against the other external components. Actually adding support for exclusive locking is something that cannot be schedu

[2019-10-09 11:59] dillaman commented on #557
Tracking here as well that RBD locking support will not land in the v2.0 due to missing external dependencies.

[2019-10-09 12:10] dillaman opened #676 "Manage RBD image mirroring via StorageClass parameter"
# Describe the feature you'd like to have #

Add a new SC 'mirroring' parameter that can be used to annotate that PVs should be mirrored via RBD mirroring. The current values for this parameter can be "off" and "journal" (or similar). When set to "journal", upon PVC creation the exclusive-lock and journaling RBD image features should be enabled. Additionally, the CSI will need to enable mirroring

[2019-10-09 13:56] ShyamsundarR commented on #357
@ajarr I think this issue can be closed, as all required work is done?

[2019-10-09 13:58] ShyamsundarR commented on #117
Stale issue, reopen if this is still a problem, with logs and any other data that can be provided.

[2019-10-09 13:58] #117 closed

[2019-10-09 14:01] ajarr commented on #357
Yes. Async deletion available in Ceph version >= 14.2.3

[2019-10-09 14:01] #357 closed

[2019-10-09 14:08] ShyamsundarR commented on #93
@pohly The current deployment manifests do this exactly. The [provisioners](https://github.com/ceph/ceph-csi/blob/master/deploy/rbd/kubernetes/v1.14%2B/csi-rbdplugin-provisioner.yaml) are deployed as a deployment with leader election and the [nodeplugin](https://github.com/ceph/ceph-csi/blob/master/deploy/rbd/kubernetes/v1.14%2B/csi-rbdplugin.yaml) is deployed on all nodes. (rbd manifests are prov

[2019-10-09 14:08] #93 closed

[2019-10-09 14:19] ShyamsundarR commented on #58
This has been fixed with this PR https://github.com/ceph/ceph-csi/pull/457

[2019-10-09 14:19] #58 closed

[2019-10-09 15:20] dillaman commented on #667
Perhaps the biggest current limitation of NBD is that the rbd-nbd daemon is run within the ceph-csi container. Upgrading the container is not possible w/o killing running workloads.

There are plans to support multiple NBD block devices under a single rbd-nbd process. Additionally, multiple rbd-nbd daemons could be attached to the same block device to provide round-robin IO support (multipath). If

[2019-10-09 15:47] metti-himself opened #677 "Unable to Delete Volume without allow * on MGR"
# Describe the bug #
Deleting rbd volume fails without admin rights. Creation works flawless.

# Environment details #

- quay.io/cephcsi/cephcsi:v1.2.0
- k8s 1.16.1

Provisioner Log:

I1009 12:07:01.243556       1 utils.go:119] ID: 236 GRPC call:
/csi.v1.Controller/DeleteVolume
I1009 12:07:01.243583       1 utils.go:120] ID: 236 GRPC request:
{"secrets":"***stripped***","volume_id":"0001-0024-608

[2019-10-09 17:10] dillaman commented on #677
Is this an upgraded cluster? The MGR's caps should have plenty of privledges on a fresh install, but perhaps there was an issue w/ the original MGR release (or you manually adjusted the caps for the MGR)?

[2019-10-09 17:12] dillaman commented on #677
... see [1] for correct MGR caps.

[1] https://docs.ceph.com/docs/nautilus/mgr/administrator/#manual-setup

[2019-10-09 21:29] stefanfritsch commented on #407
@ShyamsundarR commented [here](https://github.com/rook/rook/issues/4064#issuecomment-540110740) that this is indeed missing functionality but that the team hasn't forgotten about it.

I just wanted to add this comment because I misinterpreted his comment here. That's entirely my fault but perhaps it has happened to other people, too. :)

[2019-10-10 05:14] Madhu-1 commented on #677
credentials are not handled by cephcsi. user has to pass the proper valid credentials which are having the access to do  certain operations, closing this as not a BUG

[2019-10-10 10:29] metti-himself commented on #677
ok guys maybe I was not clear enough, the question is why the creation and mounting of images is possible, but the deletion is not. In https://github.com/ceph/ceph-csi/blob/master/pkg/rbd/rbd_util.go#L211 there is a comment above to delete images _if_ Ceph manager base deletion is supported. This is my problem, in this setup I have no MGR access, but I have pool access. so any chance to make this

[2019-10-10 11:54] dillaman commented on #677
@metti-himself  Fair enough -- it should fall back to the regular (slow) deletion process if you don't have access to the MGR. But, (1) why doesn't your ceph-csi user have access to the MGR? and (2) why would you want RBD image deletions to block other CSI operations as would be the case w/ the fallback? You don't need admin access to talk to the MGR -- you just need "profile rbd" caps.

[2019-10-10 12:13] metti-himself commented on #677
@dillaman (1) because the customer will have direct access to this user, and we have safety concerns if the customer user has mgr access. (2) I just need a solution, so that persistent volumes that are created by ceph-csi, also get deleted by ceph-csi. Maybe Iam doing it all wrong possibly, these are the caps for this user:

caps mon = "profile rbd"
caps osd = "profile rbd pool=xxxxxxxx"

Is there

[2019-10-10 13:03] dillaman commented on #677
OK, this turns out to be an oversight that got through testing because Rook is deploying w/ admin credentials for the CSI. I'll get a new 'caps mgr = "profile rbd [pool=XYZ]"' added, but in the meantime you can update your caps as follows to get unblocked:

`ceph auth caps client.<client id> mon "profile rbd" osd "profile rbd pool=<pool_name>" mgr "allow command 'rbd task add remove' with image_sp

[2019-10-10 15:05] ShyamsundarR commented on #578
The solution to use `rbd lock add ...` commands is not quite correct, as it provides only an advisory lock, and further is equivalent to setting an annotation on the image that we do not control.

Instead, it is was discussed that we can add our own annotation and ensure this is set, before mapping the image on the node. This will be done in NodeStage (and hence undone in NodeUnstage), to ensure w

[2019-10-10 15:08] ShyamsundarR commented on #407
@itmuckel changed the title of the issue to suit the ask, do revert in case this does not cover the requirement.

[2019-10-11 10:31] metti-himself commented on #677
Works like a charm, thank you.