[2021-06-08 06:44] Yuggupta27 opened #2144 "cleanup: rework approach to traverse rbd image chain"
In current approach for iteration of chained images in functions like [getCloneDepth()](https://github.com/ceph/ceph-csi/blob/devel/internal/rbd/rbd_util.go#L530) and [checkImageChainHasFeature()](https://github.com/ceph/ceph-csi/blob/devel/internal/rbd/rbd_util.go#L701),
we re-use and update an rbdVolume with different attributes which is quite wrong.
https://github.com/ceph/ceph-csi/blob/7b5c78e

[2021-06-08 07:11] Yuggupta27 opened #2146 "ci: failed to checkout PR"
# Describe the bug #

Job fails to checkout PR with error
[code]
See: https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e-helm_k8s-1.19/detail/mini-e2e-helm_k8s-1.19/1437/pipeline

[2021-06-08 08:34] nixpanic commented on #2146
Please check in #centos-ci on libera.chat for updates from the CentOS team.

[2021-06-08 17:28] nin0-0 commented on #2104
My colleague had forgotten to ask all firewall / network routing rules, so only the monitors where routing, thus I could list the pools but the SYN-ACK never completed on the first OSD it tried to conatct.
Thanks very much for your help and for your useful blog !

[2021-06-08 17:28] #2104 closed, assigned to nobody

[2021-06-09 05:07] Madhu-1 commented on #2142
@gman0 sounds good hope we can see a design doc soon on this one. Also, note we are planning for cephfs mirroring support in cephcsi soon which will directly replicate the volume to remote ceph cluster but looks like this is useful if someone wants to do backup to some other store (object store).

cc @ShyamsundarR @kotreshhr

[2021-06-09 07:51] Yuggupta27 commented on #2146
Closing this issue, as it is not with our jobs, but an [issue from centos-ci side](https://pagure.io/centos-infra/issue/353)

[2021-06-09 07:51] #2146 closed, assigned to nobody

[2021-06-09 08:41] gman0 commented on #2142
I'm still working on it but I'll submit it soon.

[2021-06-09 12:52] humblec commented on #2003
Unfortunately the `unmount`is failing which I find as the final blocker for the iscsi csi driver to be in a consumable state, refer https://github.com/kubernetes-csi/csi-driver-iscsi/pull/45#issuecomment-853807843.  Debugging it and the RCA is known at this time though.

[2021-06-10 04:47] #1781 closed

[2021-06-10 06:55] miaoshixuan commented on #2137
Why not let users set it by themselves? Actually,I must add a initcontainer to remove 777 mod when running  some serive like postgres database.

[2021-06-10 14:01] discostur commented on #1933
I think we hit the same bug / error in our cluster:

k8s: 1.20.6
ceph: 14.2.10
ceph-csi: 3.3.1

[code]

I think because of the `DeadlineExceeded` error we also get the `already exists` message @nixpanic mentioned in https://github.com/ceph/ceph-csi/issues/1881

The error happens from time to time if we create RBD volumes. On the ceph cluster side there are not many operations ongoing so i think it

[2021-06-10 16:04] discostur commented on #1933
I could just trigger the error again and this is what i saw from `csi-provisioner`:

[code]

[code]

However, the given pvc volume does not exist in my cluster:
[code]

After killing the ceph pod and waiting for the new leader election the volume was bound immediately.

PS: I also saw that volume deletion was not working / was in pending state. I can provide further logs if needed ...

[2021-06-12 20:42] rsoika opened #2156 "containers crash directly after initializing"
# Describe the bug #

I followed the installation guide from ceph [here](https://docs.ceph.com/en/latest/rbd/rbd-kubernetes/)

The files [csi-rbdplugin.yaml](https://raw.githubusercontent.com/ceph/ceph-csi/master/deploy/rbd/kubernetes/csi-rbdplugin.yaml) and [csi-rbdplugin-provisioner.yaml](
https://raw.githubusercontent.com/ceph/ceph-csi/master/deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml

[2021-06-13 03:36] Rakshith-R commented on #2156
@rsoika Please replace the image tag with any one of the tags mentioned [here](https://quay.io/repository/cephcsi/cephcsi?tab=tags) in proper format.

[2021-06-13 04:09] yati1998 commented on #2156
check it [here](https://github.com/ceph/ceph-csi#ceph-csi-container-images-and-release-compatibility)
quay.io/cephcsi/cephcsi:3.1 -> quay.io/cephcsi/cephcsi:v3.1.0

[2021-06-13 12:41] rsoika commented on #2156
yes - sorry this was a typo form me in this bug report.
I think I tried every version. It takes me some hours.

I am running my kuberentes cluster on Debian Buster. Can this be an issue?

[2021-06-13 15:38] rsoika commented on #2156
Ok, now I understand that I should take all the kubernetes objects form the corresponding release path like

https://github.com/ceph/ceph-csi/tree/release-v3.2/deploy/rbd/kubernetes

Sorry, this is not clear form the documentation which seems to mean that I should change the container versions inside the latest plugin objecs form the dev path

The sentence of the documentation [here](https://docs.

[2021-06-13 16:07] rsoika opened #2157 "Cant't mount staticVolume"
I have installed ceph-csi v3.2 in my kubernetes cluster from [here](https://github.com/ceph/ceph-csi/tree/release-v3.2)

My storage class looks like this:

[code]

Everything works fine if I am using dynamic volume claims like this:

[code]

But what I need for my static application is a static volume. From the [documentation](https://github.com/ceph/ceph-csi/blob/devel/docs/static-pvc.md), I firs

[2021-06-13 21:02] rsoika commented on #2157
Maybe the problem begins when I delete my POD with the static volume. In the csi-rbdplugin I can see the message:
`
csi-rbdplugin rbd: unmap failed: (16) Device or resource busy`

In more detail the log messages during deleting the POD looks like this:

[code]

[2021-06-13 21:15] rsoika commented on #2157
maybe this is related to https://github.com/ceph/ceph-csi/issues/2075 or https://github.com/rook/rook/issues/7787 ?

[2021-06-14 03:29] Madhu-1 commented on #2156
@yati1998 can you please add a note to replace canary with version tag when deploying in production. https://github.com/ceph/ceph-csi/blob/devel/docs/deploy-rbd.md#deployment-with-kubernetes and https://github.com/ceph/ceph-csi/blob/devel/docs/deploy-cephfs.md#deployment-with-kubernetes

[2021-06-14 03:48] yati1998 commented on #2156
Yes sure @Madhu-1

[2021-06-14 03:49] Rakshith-R commented on #2157
https://github.com/ceph/ceph-csi/blob/devel/docs/static-pvc.md#create-rbd-static-pv
Make sure of the following,
[code]

`# rbd create demo-internal-index --size=1024 --pool=kubernetes --image-feature layering`
Use `demo-internal-index` as `volumeHandle`, or `demo-internal-imixs` as image name while creating.
This is the reason, its throwing **`does not exist`** error.
[code]
You can also ping us a

[2021-06-14 05:52] rsoika commented on #2157
Thanks for the hint. Yes you are right, but this was just a typo in this issue post. I am sure that I take care about the right volume names the last 8 hours of testing.

But anyway, now retried it with a complete new Test-POD with new PV-, PVC- and Image names - and everything works as it did two days ago with my initial demo POD. The last two days I played around a lot (including a complete new

[2021-06-14 06:06] rsoika commented on #2157
Finally I figured out, that it was something in the directory

`/var/lib/kubelet/plugins/kubernetes.io/csi/pv/demo-internal-index/`

on my worker node. After I removed this directory everything runs again like a charm. I can't believe that it took me so many hours before looking in that direction. Sorry for suspecting your project.

[2021-06-15 03:14] #2156 closed, assigned to nobody

[2021-06-15 06:45] Madhu-1 commented on #2157
@rsoika closing this one as its working. Please feel free to reopen if you see this issue again.

[2021-06-15 06:45] #2157 closed, assigned to nobody

[2021-06-16 06:53] agarwal-mudit commented on #2071
We need this also along with the clone PR, @humblec are you working on this?

[2021-06-16 08:32] idryomov opened #2169 "Add e2e test cases for nodeplugin restart with mapped volumes"
https://github.com/rook/rook/issues/8085 should have been caught very early on.  Add appropriate tests cases for rbd-nodeplugin and cephfs-nodeplugin, triggering restart by scaling the number of pods down to 0 (and perhaps additionally `kill -9` from the host, for a total of 2 + 2 = 4 test cases).

[2021-06-16 08:40] humblec commented on #2071
@agarwal-mudit, iic, the referred  thick provisioning  clone PR pretty much cover the base code path and it is good to club it with/over the same, may be thats why this was assigned to Niels.

[2021-06-16 11:01] nixpanic opened #2171 "rbd-nbd does not support `--options notrim`, fails mapping thick-provisioned volumes"
# Describe the bug #

Enabling both thick-provisioning and the `rbd-nbd` mounter in a StorageClass causes mapping RBD images to fail:

[code]

It seems that the `--options notrim` is not accepted when using nbd. There might be an alternative option, or we should return a failure while provisioning when both thick-provisioning and nbd are enabled.

cc: @pkalever

[2021-06-16 11:17] pkalever commented on #2171
@nixpanic please assign this to me, I will look into this one.

Thanks!

[2021-06-16 11:24] nixpanic commented on #2171
A test case is available at #2172. Feel free to cherry-pick that commit (and adapt it if needed) when posting a fix for the issue.

[2021-06-17 07:21] Madhu-1 opened #2176 "Only allow Restore/Clone from thick to thick"
Allow creation of Clone from thick PVC to thick PVC and Restore of a snapshot of a thick PVC to a thick PVC. this will keep the implementation simple.

 In the future, we can allow thick-to-thin and thin-to-thick operations. will open an issue to allow this functionality(we can consider this in upcoming releases)

[2021-06-17 07:23] Madhu-1 opened #2177 "Allow Creation of Clone and Restore snapshot from thick-to-thin and thin-to-thick"
This issue is to track the feature support to allow the below operations

* Allow Restore of snapshot from Thick PVC to Thin PVC
* Allow Restore of snapshot from Thin PVC to Thick PVC

Note:- cloning might only be supported if one deleted the thick storageclass and recreates the storageclass with the same name with thick provisioned enabled.

[2021-06-17 07:24] Madhu-1 commented on #2176
https://github.com/ceph/ceph-csi/issues/2177 to track  thick-to-thin and thin-to-thick operations

[2021-06-17 07:35] humblec commented on #2176
Agreed. This matrix has to be carefully analysed and fixed and possibly by phase. Its good to seggregate it in different issues :+1:

[2021-06-17 07:39] humblec opened #2178 "Enhance/Refactor E2E tests"
# Describe the feature you'd like to have #

Looking at the E2E, our deployment model for E2E tests is bit clumsy,  Repeated code and the sequential lay out of the code make very difficult to folllow and also make it hard to add more deployment logic in future. This is an enhancement request to make it more modular and clear.

Items planned to address:

- [x] Improve RBD deployment model and make

[2021-06-17 08:21] nixpanic commented on #2178
Indeed! There are also several tests that modify the StorageClass with additional/different options. This should get simplified so the deletion and re-creation of the StorageClass is not so bulky anymore.

I suggest doing something like:

[code]

Where `withStorageClass()` then deletes the existing default StorageClass, and recreates it with the given options, runs the inner function and restores

[2021-06-17 08:27] humblec commented on #2178
@nixpanic looking at the E2E code, I see a good room for improvement which is really required anyway.  I will start one by one and would like to refactor it one by one.  The first PR I am planning to place it for RBD deployment from templates, that part itself looks clobbered. May be I will quickly drop a PR for it , so that we can have further discussions and continue improving one by one.

[2021-06-17 09:20] nixpanic commented on #2178
Sure, lots of improvements can be made. It helps to create a list of them in the issue description and be able to

- [x] check them (#2180)
- [ ] when they are done

Just make sure to not use `Fixes: #2178` in the PR description or commit message, use `Updates: #2178` instead.

In general, the e2e testing code should have the same quality standard (including linters that suggest simplification) as

[2021-06-17 11:10] Rakshith-R opened #2181 "rbd: use deep cp instead of clone in thick PVC snapshot process"
# Describe the bug #

<details>
<summary>
Current snapshot process as explained here https://github.com/ceph/ceph-csi/blob/devel/docs/design/proposals/rbd-snap-clone.md#rbd-cli-commands-to-create-snapshot :
</summary>

[code]
</details>

<details>
<summary>
Using deep-cp : PVC->tmp-snap->deep-cp->(add task to rm tmp-snap)->(use tmp-snap of cloned image ??)
</summary>

[code]
</details>

[2021-06-18 02:32] elrondwong opened #2185 "deploy: unable to pull any image from k8s.gcr.io"
# Describe the bug #

In China，`k8s.gcr.io` can't be accessed. There are both `k8s.gcr.io/sig-storage/` and `quay.io/cephcsi/` in the following configuration files:

- `deploy/cephfs/kubernetes/csi-cephfsplugin-provisioner.yaml`
- `deploy/cephfs/kubernetes/csi-cephfsplugin.yaml`
- `deploy/rbd/kubernetes/csi-rbdplugin.yaml`
- `deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml`

Wouldn't it be be

[2021-06-18 02:42] Rakshith-R commented on #2185
@elrondwong The k8s external provisioner,snapshotter, resizer, etc are maintained at https://github.com/kubernetes-csi.
You file a issue/ check with them for alternative container registry.
Then replace the respective urls in the yaml files.

[2021-06-18 03:09] elrondwong commented on #2185
OK, got it, thack you! @Rakshith-R

[2021-06-18 03:09] #2185 closed, assigned to nobody

[2021-06-18 04:07] Madhu-1 opened #2186 "Use go-ceph for ceph task manager commands"
Currently, we are using RBD CLI for the below two manager functionalities

* Add task to fatten the rbd image
* Add task to move the image to the trash

go-ceph issue https://github.com/ceph/go-ceph/issues/516 to track the same work. Once go-ceph API's are available we should switch from  CLI to go-ceph

Thanks, @phlogistonjohn for finding this one and opening the go-ceph issue :)

[2021-06-18 06:25] #2077 closed, assigned to nixpanic

[2021-06-18 07:53] Madhu-1 opened #2190 "RBD: Do flattening only the temporary cloned images not the images given to user for mapping"
In the case of CreateVolume from snapshot and CreateVolume from Volume, when the soft or hard limit is reached we do flattening on the image. and we need to ensure that we only flatten the intermediate clones we create not the volumes which might get mapped when the application mounts the PVC. flattening on the images can affect the read/write performance of the image due to some internal locking.

[2021-06-18 07:54] Madhu-1 commented on #2190
This needs some testing and may or may not code changes but it's good to validate this case.

[2021-06-18 10:30] humblec commented on #2178
@nixpanic @Madhu-1 2180 is ready for review which addresses first 2 check boxes here in this issue. Please take a look :+1:

[2021-06-18 10:57] #2176 closed, assigned to nobody

[2021-06-18 11:52] Madhu-1 opened #2192 "panic when creating thick pvc-pvc clone"
[code]

Pulled the master code and build image and this got caused when doing the below steps

* Create 10 Gib Thick PVC
* Create 2 parallel clones of 10Gib each
* restart csi-provisioner pod when cloning is going on

[2021-06-18 12:39] crsoph commented on #2080
In a way, I also have that issue. I deployed ceph-csi manually (i.e. no helm) following the documentation and examples from this Github repo, devel branch.
The CephX user is called `client.cephfs-csi`.
Let's look at the Error Code returned by RADOS: I receive Error -13 as above when I enter `client.cephfs-csi` to the adminID attribute of the secret.yaml from the examples.
However, entering only `c

[2021-06-18 14:00] discostur commented on #1933
I have multiple k8s clusters running (same k8s version, same ceph-csi version) but i'm only able to reproduce the error in one cluster - the other clusters are running smooth (still trying to figure out what is different ...).

However, i can reproduce the error now relatively easy by just creating a few PVs by shellscript (one after the other) and then the error happens and provisioning is broken

[2021-06-21 14:29] nixpanic commented on #2192
I have been able to reproduce this, and will try to address this in a PR soon.

[2021-06-22 11:40] humblec opened #2196 "E2E test failure with fsGroupChangePolicy"
https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/k8s-e2e-external-storage-1.20/detail/k8s-e2e-external-storage-1.20/451/pipeline/105

[code]

[2021-06-22 11:57] Madhu-1 commented on #2071
This is not something supported now. Am moving this out of 3.4.0 for now. please feel free to revert if someone wants to see this in 3.4.0

[2021-06-22 14:02] nixpanic commented on #2196
Ceph-CSI does not seem to respect the `fsGroupChangePolicy` that was introduced with the Kubernetes 1.20 storage-e2e There might be an option to disable the test.

Ideally Ceph-CSI would support the feature though...

[2021-06-23 03:26] humblec opened #2197 "Improve locking in various code paths"
# Describe the feature you'd like to have #

This is a feature request to revisit the code paths for various lock operations and improve areas which we could. It is also about cross checking against what CO provides and making CSI code flexible with the same.

- [x] Remove volumeLock at time of NodeUnpublish #2149
- [x] Remove volumeLock at time of NodePublish #2149
- [x] Remove deleteLock check w

[2021-06-23 07:12] humblec opened #2199 "[Tracker ] Move listed features from Alpha -> Beta and Beta-> GA"
# Describe the feature you'd like to have #

At present, we have listed some features in Alpha state, however some of them are qualified already and also deployed in production setups.  we have to lift these features from Alpha/Beta to Beta/GA state in upcoming Ceph CSI releases.

`RBD`

||Features   | Feature Status | CSI Driver Version | CSI Spec Version | Ceph Cluster Version | Kubernetes Versi

[2021-06-23 14:22] #2181 closed, assigned to nobody

[2021-06-23 16:18] humblec commented on #2032
@Madhu-1 https://github.com/ceph/ceph-csi/issues/2027 was about Testing encryption at mirroring setup, is this issue also on `testing` of encryption in a mirroring setup ? also,  can you please add some details about:  what is the final goal /target here or covered with this issue ?

Are we planning to support encryption from any KMS provider ( vault, AWS, secret based ..etc) ? or its limited to s

[2021-06-24 02:47] Madhu-1 commented on #2032
#2027 was closed as a duplicate. This issue was opened as a tracker and I still need to update with more details.

We will come to know once we start testing it. and as a general idea if the KMS instance is the same across both clusters the encryption should work seamlessly

IMO if we don't support both failover and failback this becomes pretty useless. and to complete the DR feature the volume sh

[2021-06-24 03:05] Madhu-1 opened #2204 "rbd-nbd: occasionally file system entering into read-only on nodeplugin restart"
Requires below PR from ceph:

- [ ] https://github.com/ceph/ceph/pull/42609
[code]
failed at https://github.com/ceph/ceph-csi/pull/2095
Logs at https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e_k8s-1.20/runs/1270/nodes/87/steps/90/log/?start=0

[2021-06-24 03:05] Madhu-1 commented on #2204
@pkalever PTAL

[2021-06-24 04:24] Madhu-1 opened #2205 "[RBD] Add E2E for Regional DR"
* Modify/Add scripts to setup multiple kubernetes cluster
* Add required deployment and example templates
* Add E2E framework to Test Failover and failback (the testing framework should be easily reusable for CephFS)
... etc

[2021-06-24 06:14] Madhu-1 commented on #2032
Assigning this to @Rakshith-R based on the discussion

[2021-06-24 06:14] Rakshith-R commented on #2032
:+1: i'll work on it.

[2021-06-24 07:15] pkalever commented on #2204
Ack! Thanks for reporting Madhu, I have also encountered this before, but looks like it's not hit very frequently.

I will investigate on the root cause and get back.

PS: once the volume-healer patches are merged, probably we don't see this!

[2021-06-24 08:05] Madhu-1 commented on #2121
Just tested this one. Here is the flow

* Create a thick PVC of 10 Gib
* Enable mirroring on the thick PVC with snapshot mode

## Primary cluster

[code]
[code]
[code]

## Secondary cluster

[code]
[code]

As expected the image gets mirrored to the second site and i can see the Used  size 10 Gib but the image meta-data is not mirrored to the second cluster.

@nixpanic do you see any other features

[2021-06-24 08:08] Madhu-1 commented on #2121
[code]

[2021-06-24 08:35] humblec commented on #2121
Snapshot mirroing says ``` The remote cluster will determine any data or metadata updates between two mirror-snapshots and copy the deltas to its local copy of the image.``` , so its supposed to mirror both data and metadata.

[2021-06-24 16:46] tareksha opened #2209 "external encryption/decryption of passphrase"
# Describe the feature you'd like to have #

I'm trying to find the best method for integrating an external encryption service into the encryption flow of ceph-csi in a manner that also allow me to rotate the keys and invalidate them externally, just like the hard-coded `aws-metadata`. `aws-metadata` itself is not an option because the solution must be hyperscaler-agnostic. `vault` and `vaulttoken

[2021-06-24 23:28] evindunn opened #2210 "Any plans to make CSIIdentifier parsing logic public?"
# Describe the feature you'd like to have #
I'm working on a project that maps k8s volumes to CephFS subvolume paths, and it would be nice to be able to import [CSIIdentifier](https://github.com/ceph/ceph-csi/blob/v3.3.1/internal/util/volid.go) through a Go module instead of reimplementing the parsing logic. I'm new to go modules though, so it's possible there's already a way to do this and I'm mi

[2021-06-25 08:24] nixpanic commented on #2209
I expect that implementing this should not be very difficult, different KMS providers already have the majority functionality that is needed, but it needs to be combined into a new KMS provider.

SecretsMetadataKMS uses a passphrase from the StorageClass Secret to encrypt a per Volume key:

https://github.com/ceph/ceph-csi/blob/5aca04d540744110aaf160e191b096e5584f9c86/internal/util/secretskms.go#L

[2021-06-25 08:30] nixpanic commented on #2210
We  currently do not have any plans do facilitate this. By placing parts of Ceph-CSI in a public package, we have to maintain compatibility. This is something that we prefer not to need to commit to.

Instead, we can consider features that benefit a broader audience. Would #1086 or similar help you?

[2021-06-25 09:06] nixpanic commented on #2177
csi-addons/spec#15 might be an alternative to support moving from thick to thin.

I do not know what a good reason is to use thick-provisioning and then clone thin volumes from it. What is the use-case?

[2021-06-25 10:01] #2192 closed, assigned to nixpanic

[2021-06-25 11:50] tareksha commented on #2209
Thanks @nixpanic, this is exactly my intention! an encrypted DEK in RBD metadata that is decrypted by a per-volume KEK. i'll proppse a design asap.

[2021-06-25 15:31] evindunn commented on #2210
@nixpanic #1086 looks perfect. Thanks for the explanation!

[2021-06-25 15:31] #2210 closed, assigned to humblec

[2021-06-25 15:45] #2122 closed, assigned to Yuggupta27

[2021-06-26 07:34] shoaibjdev commented on #2156
Indeed, instead of just instructing to replace the release version for **cephcsi** image, one should take all the kubernetes objects form the corresponding release path.

[2021-06-27 21:27] idryomov commented on #2121
Correct, but keys starting with ".rbd" are considered internal and not mirrored.  Such keys are not copied when cloning or deep-copying locally either.

[2021-06-28 05:05] Madhu-1 commented on #2121
@idryomov for the confirmation.

Currently, these are the metadata keys used by cephcsi to set on rbd images

[code]

 To support DR for both mirroring and thick PVC we need to rename `.rbd.csi.ceph.com`  to `rbd.csi.ceph.com`.
 @nixpanic do you think any other changes are required? for backward compatibility, we need to support older keys for few releases. and clearly document that mirroring of `

[2021-06-28 05:54] humblec commented on #2121
Thanks @idryomov .. Thats interesting :). If thats the case, may be we have to revisit the code paths ( cloning, deep cp , thick provisioning) where Keys embedded with `.rbd` on volumes and  make sure we are not landing  into surprise side effects.

@idryomov Is it just `.rbd` get special treatment ? or any other `key format` we should be aware of ?

[2021-06-28 13:29] idryomov commented on #2121
Yes, anything that starts with `.rbd`.  For example snapshot-based mirroring uses `.rbd_mirror.<mirror_uuid>` key for storing image-specific mirroring state such as whether resync has been requested.

[2021-06-29 05:54] Madhu-1 opened #2219 "RBD: Image metadata created by cephcsi on rbd images is not mirrored or copied when clone is created."
Currently, these are the metadata keys used by cephcsi to set on rbd images

[code]

From RBD keys starting with ".rbd" are considered internal and not mirrored and such keys are not copied when cloning or deep-copying locally either.

We need to change the key from `.rbd` to `rbd` so that metadata is available when mirroring is enabled  or when we create internal clones

This issue is to track be

[2021-06-29 05:57] Madhu-1 commented on #2219
More details at https://github.com/ceph/ceph-csi/issues/2121

[2021-06-29 11:00] pkalever opened #2221 "rbd-nbd: update all the support related documenation"
# Describe the bug #
A Reminder issue for adding all the support level documentation for the rbd-nbd storage type.

[2021-06-29 11:00] pkalever commented on #2221
@Madhu-1 please track this for `3.4.0` release.

Thanks!

[2021-06-29 11:28] pkalever commented on #1469
Can anyone please tell, why the encrypted volume is not able to expand?
I'm I missing some steps?

[code]

Thanks!

[2021-06-29 11:46] pkalever commented on #1469
Please ignore, I think I got it now,

With the below steps, it works now:
[code]

Thanks!

[2021-06-29 12:33] pkalever commented on #1469
For the curious readers:

The resize was working all fine with LUKS1 version too:
[code]

Thanks!

[2021-06-29 12:54] nixpanic opened #2222 "New KMS that supports Hashicorp Vault with a ServiceAccount per Tenant"
Introduce a new KMS implementation that has support for Hashicorp Vault where each Tenant can configure access with its own ServiceAccount.

- [x] design document (#2227)
- [x] implementation (#2246)
- [ ] user documentation

[2021-06-29 13:10] yati1998 opened #2224 "resolve exhaustivestruct linter error"
exhaustivestruct is a go static analysis tool to find structs that have uninitialized fields.
For example:
type User struct {
  Name string
  Age int
}

var user = User{ // fails with "Age is missing in User"
  Name: "John",

Related to issue: https://github.com/ceph/ceph-csi/issues/1586

[2021-06-29 13:13] yati1998 commented on #2224
I suggest to disable this linter.
the following has been mentioned in the description of linter too.
`warning This linter is meant to be used only for special cases. It is not recommended to use it for all files in a project.`

What's your thought on this? @Madhu-1 @nixpanic @Yuggupta27

[2021-06-29 13:33] Madhu-1 commented on #2224
am okay with disabling it :+1:

[2021-06-29 14:27] Rakshith-R commented on #2224
+1 :+1:

[2021-06-29 17:13] Yuggupta27 commented on #2224
Sure, We can disable it.

[2021-06-30 04:59] humblec opened #2226 "Reaserch on VolumeGroup snapshotting and taking advantages of it"
# Describe the feature you'd like to have #

Kubernetes KEP and implementation of Volume Group snapshot is in progress and we have to do some research on how this can be made use of in Ceph CSI project for both RBD and CephFS volumes we provision and control.

Ceph implementation is in progress and we have to list down the consumption of this feature by correlating between upstream API and core Ce

[2021-06-30 05:02] pkalever commented on #1469
BTW, here are my env details

[code]

[2021-06-30 05:38] pkalever commented on #1469
@Madhu-1 @nixpanic @humblec @dillaman @vasyl-purchel
After performing the above experiment, for me, it looks like neither LUKS1 nor LUKS2 is directly involved in the unnecessary query for the passphrase at the time of resizing while the crypt device is open, but it looks like cryptsetup tool version matters here.

Yes, as @dillaman also mentioned before, commit

[code]

https://gitlab.com/cryptset

[2021-06-30 05:51] Madhu-1 commented on #1469
Thanks @pkalever

From downstream ceph image, we have below crypto version

[code]
From upstream docker image
[code]

if we can get 2.3.5 `cryptsetup` in the ceph base image we don't need to workaround. if we don't get it then we have to do it.

[2021-06-30 05:56] pkalever commented on #1469
[You are too quick, I had a slightly edited version in the previous comment]

Yes, @Madhu-1 that makes sense.

Maybe at ceph-csi we can defend on the cryptsetup version, if cryptsetup >= 2.3.5 use LUKS2 else use LUKS1 (as LUKS1 doesn't have this bug)?

[2021-06-30 05:58] Madhu-1 commented on #1469
let see if we can get the cryptsetup updated in the ceph base image. if not we can have this workaround.

[2021-06-30 07:50] humblec commented on #1356
[update] Experimenting on how we can make use of it and hopefully expand this later for wider use cases or automation.

[2021-06-30 08:00] Madhu-1 commented on #2219
To summarize, because of this one we cannot support mirroring of the Thick, Encrypted PVC created from older cephcsi releases.

[2021-06-30 08:08] nixpanic opened #2229 "Run `codespell` on local contiainerized testing"
# Describe the feature you'd like to have #

`codespell` is run as a GitHub Action on PRs. This test is not included when developers run `make containerized-test` before creating a new PR.

# What is the value to the end user? (why is it a priority?) #

Developers would not get surprised by simple CI failures that are expected to have been run locally before creating a PR or updating one.

# How w

[2021-06-30 08:21] Madhu-1 commented on #2022
closed by #2095

[2021-06-30 08:23] #2022 closed, assigned to yati1998

[2021-06-30 10:34] pkalever commented on #1469
Apologies, I think I had jumped the gun :-(

I see with LUKS2 its prompting for the password on resize even with `cryptsetup 2.3.5`

[code]

[2021-06-30 12:13] pkalever commented on #1469
cryptsetup will always ask for a passphrase if the volume key is passed via kernel keyring (default for LUKS2)

LUKS1 devices don't use kernel keyring for volume key (backward compatibility)

LUKS2 devices use kernel keyring for volume key by default, but luckily users can choose to override the default by `--disable-keyring` option during cryptsetup open command.

From cryptsetup man pages:
[code

[2021-06-30 13:40] #1963 closed, assigned to nixpanic

[2021-07-01 03:35] #1968 closed, assigned to Rakshith-R

[2021-07-01 09:47] pkalever opened #2234 "rbd-nbd: expand volume support"
# Describe the feature you'd like to have #

Tracker issue to implement the missing bits and qualify volume expansion backed by the rbd-nbd mounter

[2021-07-01 09:49] pkalever opened #2235 "rbd-nbd: volume encryption support"
# Describe the feature you'd like to have #

Tracker issue to implement the missing bits and qualify volume encryption backed by the rbd-nbd mounter

[2021-07-01 13:11] pkalever opened #2237 "rbd-nbd: thick provisioned volumes support"
# Describe the feature you'd like to have #

Tracker issue to implement the missing bits and qualify thick provisioned volumes backed by the rbd-nbd mounter

Known issues# https://github.com/ceph/ceph-csi/issues/2171

[2021-07-01 15:27] ikogan opened #2238 "CephFS PVs cannot unmount when the same volume is mounted twice on the same node."
# Describe the bug #

When two (or possibly more) ReadWriteMany PVs are used to attach the same CephFS volume or subvolume on the same node, these volumes will be stuck unable to unmount due to:

[code]

In my case, here are the two mounts:

[code]

This also happens with subvolumes. So when I try to mount `/volumes/shared` twice on the same node, the same problem occurs when one of those workload

[2021-07-01 15:28] ikogan commented on #2238
Here's the bug report @humblec, thanks for helping me out last week!

[2021-07-02 04:36] humblec commented on #2238
@ikogan Thanks for reverting here!! much appreciated..  I wanted to ask you that, is this cluster running in production? because recently I have been revisiting the 'locking operation' we do in various code paths and working on some improvements in the same area as mentioned or tracked under #2149.

I have a feeling that, this bug fix could take care of this scenario. so just wanted to ask if it p

[2021-07-05 00:30] ikogan commented on #2238
I can give it a shot, this is in my homelab so the definition of "production" varies depending on who's inconvenienced at the moment .

I'm assuming, to test this, I can just set `csi.cephcsi.image` in the Rook `values.yaml` to `quay.io/humble/cephcsi:publish`?

[2021-07-05 05:20] humblec commented on #2238
@ikogan That should do, if you already have a running cluster, you can directly edit the deamonset ( also deployment) and change the plugin/driver image path:

[code]

[code]
.....
[code]

[2021-07-05 11:38] yati1998 opened #2240 "Resolve Exhaustive linter error"
On updating the golangci-version we get error due to exhaustive linter.
For more details check: https://github.com/ceph/ceph-csi/issues/1586

[2021-07-05 11:48] yati1998 opened #2241 "Set max-complexity of cyclop to 20"
cyclop linter was introduced in v1.37.0 which checks function and package cyclomatic complexity.
By default the --max-complexity =10, due to which the go-lint test is failing.

## Suggestion:
We have min-complexity set to 20 for gocyclo linter and hence I suggest to set the max-complexity for
cyclop linter to be 20 too, which will resolve this issue.

[2021-07-06 10:55] #1483 closed

[2021-07-06 14:41] #2119 closed, assigned to Madhu-1

[2021-07-06 20:49] lyind opened #2248 "Kernel Subversion Parsing Failure"
# Description #

A parsing issue in `internal/util/util.go` prevents proper detection of OS kernel support.

# Environment details #

- Image/version of Ceph CSI driver : `cephcsi/cephcsi:v3.3.1`
- Kernel version : 5.12.14xlinux-svr
- Mounter used for mounting PVC : krbd
- Kubernetes cluster version : 1.21.1
- Ceph cluster version : v16.2.4

# Steps to reproduce #

Steps to reproduce the behavior:

[2021-07-07 08:31] #2121 closed, assigned to Madhu-1

[2021-07-07 11:04] yati1998 opened #2250 "resolve gocritic linter"
This issue is to track the gocritic linter errors.
In reference to the issue:  #1586

[2021-07-07 11:30] Madhu-1 commented on #2118
Targetting only design doc for 1st sprint.

[2021-07-07 16:13] humblec commented on #1106
Considering `skipAttach` has been GAd with `1.18` and take care of the burden on unncessary operation (round-trip) in the preparation of a volume for a container, and requires CSI Drivers to deploy an unnecessary sidecar container (external-attacher), this is a good time to take it out.

[2021-07-08 05:19] #2250 closed, assigned to nobody

[2021-07-08 09:44] #1076 closed

[2021-07-08 14:33] kifeo opened #2254 "Could not connect to ceph server : Invalid argument"
# Describe the bug #

from the csi-provisionner pod's logs :
 failed to provision volume with StorageClass "rbd-csi": rpc error: code = Internal desc = failed to get connection: connecting failed: rados: ret=-22, Invalid argument

# Environment details #

- Image/version of Ceph CSI driver :
- Helm chart version : 3.3.1
- Kernel version : 4.19.0.17
- Mounter used for mounting PVC (for cephfs its `

[2021-07-08 14:36] kifeo opened #2255 "Helm chart does not create secret and storageclass"
# Describe the bug #

when setting in the values.yaml file
storageClass:
  create: true

and

secret:
  create: true

these are not created on helm install --values as decribed in the README file here
https://github.com/ceph/ceph-csi/tree/devel/charts/ceph-csi-rbd

# Environment details #

- Helm chart version : 3.3.1

[2021-07-08 14:47] Rakshith-R commented on #2255
The Readme.md file is yet to be updated with storage class and secret settings.

Please set these options and try again https://github.com/ceph/ceph-csi/blob/853d77d7939cd17b3122f6a9b8a585848fe181a8/charts/ceph-csi-rbd/values.yaml

[2021-07-08 15:10] yati1998 commented on #2255
Sure @kifeo. Will add it to the README file.

[2021-07-08 15:38] kifeo commented on #2255
Hi @yati1998 , not sure that changing the README will change the behavior ?
I would expect that setting true to secret.create would do it, same for the storageclass

[2021-07-08 16:03] yati1998 commented on #2255
Hey @kifeo. Sorry, I thought you wanted the options to be mentioned in the README file. So JFYI, for now, is set to default values false and if you want, you can set the value true while installing the helm charts.
`helm install --set secret.create=true --set storageClass.create=true`
and set other configuration that is required.

[2021-07-08 17:06] #2107 closed, assigned to Rakshith-R

[2021-07-08 20:13] Yuggupta27 commented on #2255
Hey @kifeo , we recently added this feature in https://github.com/ceph/ceph-csi/pull/1786
Can you please try the following steps for deploying storage class and secret during installation via helm:

-  `./scripts/install-helm.sh up`
-  `./scripts/install-helm install-cephcsi --namespace "insert namespace" --deploy-sc --deploy-secret`

This should deploy both storageclass and secret for you. Let us

[2021-07-09 07:12] yati1998 opened #2259 "Add unit test for func toError()"
We have toError() function which converts cephfsClonestate to an error.
Need to add a unit test for that function.

Additional Info:
https://github.com/ceph/ceph-csi/pull/2243#discussion_r666697276

[2021-07-09 07:36] #2248 closed, assigned to nobody

[2021-07-09 10:36] pkalever opened #2262 "nbd-tracker: e2e for all access mode and volume mode"
# Describe the bug #

The idea is to cover e2e tests as much as possible for access modes like:
ReadWriteOnce
ReadWriteMany
ReadOnlyMany

with FS mode and Block mode (as needed).

[2021-07-09 10:47] pkalever opened #2263 "nbd-tracker: investigate the pros/cons of acquiring the lock in the healer"
# Describe the bug #

This is to remind us about our thoughts to move the lock to the healer.
Currently, the healer prepares the NodeStageVolume() request and sends the call to the ceph-csi node plugin. As the NodeStageVolume() can also be called by the kubelet, to coordinate b/w healer and kubelet we currently are taking lock in the NodeStageVolume(), but it appears there might be still a small w

[2021-07-09 13:17] nixpanic opened #2264 "CI jobs often fail with minikube error `X Exiting due to GUEST_PROVISION`"
# Describe the bug #

When runninc CI jobs, minikube regularly fails with the following error:
[code]

This prevents the job from continuing, and a `/retest ...` is needed.

# Logs #

From [mini-e2e_k8s-1.20/1523](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.20/detail/mini-e2e_k8s-1.20/1523/pipeline):
[code]

[2021-07-12 04:47] #2240 closed, assigned to nobody

[2021-07-12 12:03] #2255 closed, assigned to nobody

[2021-07-12 12:57] kifeo commented on #2255
Please reopen this issue as the merge #2257 does not resolve the situation

[2021-07-12 12:58] kifeo commented on #2255
@Yuggupta27 the goal would be to use the helm chart deploy the secret and storageclass, as there are these settings available in the values.yaml file

[2021-07-12 13:02] Yuggupta27 commented on #2255
Sure, I'll verify the same and get back to you.

[2021-07-13 06:08] humblec commented on #2226
Here is the summary:

- [ ] CephFS volumegroup snapshot works in such a way that, The volumeGroup snapshot list is not generated for underlying subvolume groups. That said, while
a client request volumegroupsnapshot on CephFS, we get a snapname back but it does not carry list of individual snapshot of PVCs inside it. As per the KEP
The volumeGroupSnapshotStatus get updated with the list of snapsho

[2021-07-13 10:19] #2124 closed, assigned to pkalever

[2021-07-13 13:29] pkalever commented on #2235
@Madhu-1 can this be a `3.4.0` item?

[2021-07-13 13:29] pkalever commented on #2234
@Madhu-1 can this be a `3.4.0` item?

[2021-07-13 13:44] kifeo commented on #2254
ok I could progress checking the logs of the csi-rbdplugin :

`2021-07-13T13:36:58.603+0000 7fcacb7fe700 -1 auth: failed to decode key 'QVFDdmFPUm<STRIPPPEDSECRITINFO>VObEUvZ2lwTkE9PQ=='

2021-07-13T13:36:58.603+0000 7fcacb7fe700 -1 monclient: keyring not found

E0713 13:36:58.605096       1 controllerserver.go:291] ID: 3675 Req-ID: pvc-a17fbce2-21d8-4c5a-8984-1ad92756a94f failed to connect to vol

[2021-07-13 14:15] kifeo commented on #2254
OK I could find the problem.

In the secret I was using stringData with base64 encoded, whereas the template uses data with plaintext.

[2021-07-13 14:15] #2254 closed, assigned to nobody

[2021-07-14 05:30] Madhu-1 commented on #2234
we can target but not sure it will make it as we have more priority items on the list for 3.4.0

[2021-07-14 05:30] Madhu-1 commented on #2235
we can target but not sure it will make it as we have more priority items on the list for 3.4.0

[2021-07-14 07:27] pkalever commented on #2235
This is mostly qualification only item, unless there are any surprises, I don't expect we need to make much changes.

[2021-07-14 07:27] pkalever commented on #2234
This is mostly qualification only item, unless there are any surprises, I don't expect we need to make much changes.

[2021-07-14 07:28] pkalever commented on #2262
@Madhu-1 we should qualify these for alpha support at 3.4.0 ?

[2021-07-14 07:52] Madhu-1 commented on #2234
This also covers E2E and documentation right?

[2021-07-14 07:53] Madhu-1 commented on #2235
This also covers E2E and documentation right? Lets see in today's sprint planning

[2021-07-14 07:55] pkalever commented on #2234
Yes, we can also include e2e if needed but I thought of manually running them locally and moving to qualified initially.

[2021-07-14 07:55] pkalever commented on #2235
Yes, we can also include e2e if needed but I thought of manually running them locally and moving to qualified initially.

[2021-07-14 07:56] Madhu-1 commented on #2262
As we have a volume healer coming in 2nd sprint it's good to cover this one to make a support statement.

[2021-07-14 07:57] Madhu-1 commented on #2235
Yes E2E is needed to qualify with basic functionality and to make it complete and to avoid the regressions in future

[2021-07-14 07:58] pkalever commented on #2235
Sure, that shouldn't be an issue. Let's cover them.

[2021-07-14 08:15] madianas opened #2282 "Installing via Helm chart produces an error: no matches for kind "CSIDriver" in version "storage.k8s.io/betav1""
# Describe the bug #

Installing via latest Helm chart produces an error.

# Environment details #

- Image/version of Ceph CSI driver : v3.3.1
- Helm chart version : v3.3.1
- Kubernetes cluster version : v1.16.6

# Steps to reproduce #
Steps to reproduce the behavior:

Follow helm steps here https://github.com/ceph/ceph-csi/tree/devel/charts/ceph-csi-rbd

# Actual results #
Error: unable to build

[2021-07-14 08:36] madianas commented on #2282
Duplicate of #2281 Closing my issue

[2021-07-14 08:36] #2282 closed, assigned to nobody

[2021-07-14 10:18] #1969 closed, assigned to nobody

[2021-07-14 10:55] pkalever commented on #2221
As part of this, we should be summarizing the rbd-nbd support details, what's supported and what are {known + unsupported} operations, for example, thick provisioning might not be possible until we have https://github.com/ceph/ceph/pull/41954

[2021-07-14 12:40] Rakshith-R opened #2285 "rbd: fix vol.VolID in cloneFromSnapshot() & clone bugs"
# Describe the bug #
Volume generated from snap using genrateVolFromSnap
already copies volume ID correctly, therefore removing
vol.VolID = rbdVol.VolID which wrongly copies parent
Volume ID instead leading to error from copyEncryption()
on parent and clone volume ID being equal.

Tracker issue for #2260

[2021-07-14 15:02] #2259 closed, assigned to nobody

[2021-07-14 16:07] nixpanic opened #2288 "e2e CI jobs sometimes fail to deploy Vault"
# Describe the bug #

When the e2e tests start, Vault gets deployed by applying `.yaml` files. This sometimes fails with `etcdserver: request timed out` messages in the logs.

For example:
[code]

# Suggested Fix

The applying of the `.yaml` templates should have a `isRetryableAPIError()` check and re-apply the configuration in case something went wrong.

https://github.com/ceph/ceph-csi/blob/2999

[2021-07-15 04:15] ikogan commented on #2238
Sorry for taking so long to get to this! Unfortunately, the only thing that changed after using `quay.io/humble/cephcsi:publish` was that everything happened significantly faster, which, as I understand it, is an important goal of the changes in that image, so that's great:

[code]
So it looks like I'm correctly running `quay.io/humble/cephcsi:publish`. I then try to deploy:

[code]
Once those pod

[2021-07-15 06:27] pkalever commented on #667
Here are the Items needed to move this issue to fixed:
- [ ]  Volume Healer Design doc: https://github.com/ceph/ceph-csi/pull/2275
- [ ]  Volume Healer Code Changes: https://github.com/ceph/ceph-csi/pull/2108

[2021-07-15 07:36] nixpanic opened #2289 "CephFS operations sometimes hang while executing NodePublishVolume"
# Describe the bug #

In CI jobs, CephFS sometimes hangs while running `NodePublishVolume`, subsequent operations then fail as an operation with the same volume-ID is already in progress:

[code]

This seems to have started recently. At the time of reporting this issue only two jobs (https://github.com/ceph/ceph-csi/pull/2265#issuecomment-880035693 and https://github.com/ceph/ceph-csi/pull/2253#is

[2021-07-16 07:57] Rakshith-R commented on #1883
Summarising findings & discussions.
(see https://kubernetes.slack.com/archives/C8EJ01Z46/p1626353172285500?thread_ts=1626353172.285500&cid=C8EJ01Z46)

### From the external snapshotter /k8s perspective:

- On Snapshot request, application using parent PVC is frozen. Then createSnapshot call is sent to CSI driver
- CSI driver returns `snapshot-id & readyToUse: false` after cutting the snapshot from

[2021-07-16 13:18] alexcern opened #2295 "SELinux-related mount options are silently ignored"
# Describe the bug #

SELinux-related `kernelMountOptions` for a cephfs mount (typically `-o context=...`) are silently ignored.

# Environment details #

- Image/version of Ceph CSI driver : 3.2.1
- Helm chart version : 3.2.1
- Kernel version : 5.10.19-200.fc33.x86_64 (FCOS)
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : cephfs / kernel
-

[2021-07-16 13:26] humblec commented on #2295
@alexcern Thanks for the report!

One quick question,

In above:,
did you get a chance to check both node mount and pod mount and verify `contexts` are populated properly ?
also, any permission denials/audit do you see while app access or work on the files inside the volume ?
does your app pod also carry any `SCC` setting for `selinux` in this case ?

The context population have given some tough t

[2021-07-16 13:42] alexcern commented on #2295
Thanks @humblec for pointing out the possible issues. I'll check this in details and come back with answers ASAP.

[2021-07-16 13:48] alexcern commented on #2295
BTW, I forgot to mention in the issue description that setting a `context` mount option is an attempt to avoid the expensive SELinux relabeling at each container start - https://github.com/kubernetes/kubernetes/issues/69799

Since https://github.com/torvalds/linux/commit/ac6713ccb5a6d13b59a2e3fda4fb049a2c4e0af2 this affects kernel-mounted cephfs

[2021-07-18 14:37] rsoika opened #2299 "StorageClass for staticVolume"
# Describe the feature you'd like to have #

I am not sure if my question/feature request is valid or still exists. It is about the usage of static volumes.

I am running the Ceph ceph-csi plugin and provisioner in version 3.3.1 within my Kubernetes cluster. Everything works grate (Thanks for your work!)

To define a static volume I currently do the following

1.) I create in my ceph cluster an im

[2021-07-18 18:56] ikons opened #2300 "CEPH RBD plugin does not *-+"
# Describe the bug #

A clear and concise description of what the bug is.

# Environment details #

- Image/version of Ceph CSI driver :
- Helm chart version :
- Kernel version :
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :
- Kubernetes cluster version :
- Ceph cluster version :

# Steps to reproduce #

Steps to reproduce the behavior:

1

[2021-07-18 18:57] #2300 closed, assigned to nobody

[2021-07-18 19:17] ikons opened #2301 "CEPH rbd plugin does not communicate with CEPH cluster"
# Describe the bug #

csi-rbdplugin-provisioner cannot create persistent volume on a local CEPH cluster. I have followed the setup listed here:
https://docs.ceph.com/en/latest/rbd/rbd-kubernetes/
and everything has been configured without any issue.
When I create a persistent volume claim, either for a block device or for a file system, then the output of the
kubectl describe pvc
command shows the

[2021-07-19 08:57] AmazingPangWei opened #2303 "Is there a way to specify rbd pool namespace?"
# Describe the feature you'd like to have #

I've read this [doc](https://github.com/ceph/ceph-csi/blob/devel/docs/deploy-rbd.md#configuration)，but I still don't know how to specify a rbd pool namespace for a image like this `rbd create --pool my_pool --namespace my_ns`. Did I miss something?

[2021-07-19 09:20] Rakshith-R commented on #2303
hey @AmazingPangWei ,
Currently, rados namespace setting for rbd images is present in [csi-config-map-sample.yaml](https://github.com/ceph/ceph-csi/blob/devel/examples/csi-config-map-sample.yaml).
It is not configurable via storageclass.

[2021-07-19 09:29] Rakshith-R commented on #2301
hey @ikons,
Can you please add csi-rbdplugin-provisioner pod / csi-rbdplugin container logs, storageclass.yaml, csi-config-map.yaml and secrets.yaml which you have created.
Refer to steps provided at https://github.com/ceph/ceph-csi/blob/devel/docs/deploy-rbd.md#deployment-with-kubernetes and see if you've missed anything.
Go through https://github.com/ceph/ceph-csi/issues/2104, if any of these st

[2021-07-19 09:33] nixpanic commented on #2299
This is more of a Kubernetes question/limitation than Ceph-CSI. It seems you do not want to use dynamic provisioning, but still want to have some of its benefits. You could propose/request this as a feature from the Kubernetes SIG Storage maintainers, and see where it goes. Maybe others have a similar interest too.

[2021-07-19 09:46] AmazingPangWei commented on #2303
@Rakshith-R Thank you so much, I'll try this.

[2021-07-19 11:34] PetzJohannes commented on #2049
@devinmatte can you please share how you edited `volumeAttributes` of a pv?
@mnaser what was your solution? Have you discovered a workaround?

[2021-07-19 12:54] humblec commented on #1883
Return snapshot-id & readyToUse: true only after everything is done(including flattening). Takes care of all leaks.
    Disadv: application is frozen for prolonged time until flattening is done completely (frequency of occurence should be very low )

True, imo, the right solution would be we ( CSI driver) return the proper Snapshot ID/Handle, once we have it properly recorded in the storage system

[2021-07-19 14:49] ikons commented on #2301
Hi, thanks for the prompt reply.
I attach the requested files.
It seems it does not attempt to contact at all the CEPH cluster, although everything is configured correctly and mon IPs and ports can be contacted.
I see more users face similar issues.

[requested_files.zip](https://github.com/ceph/ceph-csi/files/6841848/requested_files.zip)

[2021-07-19 16:12] #2288 closed, assigned to nobody

[2021-07-20 09:37] Rakshith-R commented on #2301
@ikons , I don't see anything wrong in the logs or other files.

Can you try to exec into the csi-rbdplugin container & manually try executing ceph cmds similar to https://github.com/ceph/ceph-csi/issues/2104#issuecomment-851968816.
And also check on Ceph cluster health.

[2021-07-20 09:42] nixpanic commented on #1883
I think that **Soln 2** is the most appropriate.

There might be a twist/enhancement possible, in case flattening is needed. Can the snapshot-id be returned, with `readyToUse: false`, so that subsequent requests can validate if flattening is completed?

[2021-07-20 09:52] Rakshith-R commented on #1883
@nixpanic, The problem is when there's a failure after such a response `snapshot-id be returned, with readyToUse: false`.

Currently we are just cleaning up, creating a new snapshot-id(**which is never updated by the external snapshotter**) and taking another snapshot on a PVC with possibly a running application using it.

So if we do this `return snapshot-id, with readyToUse: false` and there's a

[2021-07-20 12:31] #2222 closed, assigned to nixpanic

[2021-07-20 13:58] ikons commented on #2301
Hi @Rakshith-R  thanks for the reply.
Indeed I run the ceph osd lspools command on the plugin container, and it hang, it could not communicate with the CEPH mon. The mon has a private and a public IP, and it could be contacted only from the public IP (although the ping to the private ip worked). When I changed the config to contact the public IP everything worked.

[2021-07-20 14:49] nixpanic opened #2309 "e2e CI jobs should retry to create the deployment namespace"
# Describe the bug #

e2e tests sometimes fail to create the namespace where Ceph-CSI will be deployed. When this happens, the tests will not start to run at all.

The output will look like
[code]

# Expected behavior #

`etcdserver: request timed out` is a common failure where a retry can work later on. The CI script that creates the Kubernetes Namespace should have a way to retry in case of a fa

[2021-07-21 10:33] #2301 closed, assigned to nobody

[2021-07-21 11:42] robin-2016 opened #2311 "Unable to attach or mount volumes: unmounted volumes when I create many pods and pvc"
# Describe the bug #
MountVolume.MountDevice failed for volume "pvc-a9c4f9de-d51a-4133-822d-b1b0bdeb9111" : rpc error: code = Aborted desc = an operation with the given Volume ID 0001-0024-21548d8e-705e-4613-8b3d-3e96173c9575-000000000000000b-00941d16-ea10-11eb-a6e1-522d64d7bad8 already exists
MountVolume.MountDevice failed for volume "pvc-a9c4f9de-d51a-4133-822d-b1b0bdeb9111" : rpc error: code =

[2021-07-21 11:42] nixpanic commented on #1693
This is all been done. Images are mirrored in the CI environment, and refreshed nightly.

[2021-07-21 11:42] #1693 closed

[2021-07-21 14:50] #1050 closed

[2021-07-21 14:50] #1620 closed

[2021-07-21 14:50] #1506 closed

[2021-07-21 14:50] #440 closed

[2021-07-21 16:50] #1487 closed

[2021-07-22 02:57] #2311 closed, assigned to nobody

[2021-07-22 02:59] robin-2016 commented on #2311
we use storageclass cephfs is ok, maybe mount or mkfs time too long

[2021-07-22 09:56] houz42 commented on #1292
Sorry to reply to a closed issue. Cause kubernetes allows assigning more than one access modes to one PVC (RWO and ROX for example), I may want to create a PVC using ceph rbd like this, and I wish I could start a "data preparing" pod writting data to the PVC first, and stop the first pod and then start more than one pods mount the PVC read from the same PVC. I know I can achieve this workflow by c

[2021-07-22 18:15] #1586 closed

[2021-07-22 18:15] #2224 closed, assigned to nobody

[2021-07-23 10:00] #1469 closed

[2021-07-26 06:37] #2120 closed, assigned to yati1998

[2021-07-26 09:00] humblec opened #2318 "Issue Triage process"
# Describe the bug #

Considering we are almost done with `3.4.0` items, its good time to kickstart an effort for issue/bug traige more continuously in this repo. We have `137` issues at present here in this repo where most of them are getting fixed or got fixed in recent releases.

As discussed in our meeting we need to:

*) Have a triage owner for few weeks and rotate  the responsibilty to next

[2021-07-26 09:01] humblec opened #2319 "Release 3.4.1 plan and milestones."
# Describe the bug #

Issue to track next minor release of `3.4.0` series:

The idea here is to capture the wishlist from Ceph CSI community which they would like to see in this release. We could capture this in a google doc or in form of comments on the issue. However the format should not be a blocker for capturing this info, thus tracking it for the next release.

[update] Wish list:

https://h

[2021-07-26 09:04] humblec opened #2321 "3.5.0 planning and release discussions"
# Describe the bug #

Issue to track next major release 3.5.0:

The idea here is to capture the wishlist from Ceph CSI community which they would like to see in this release. We could capture this in a google doc or in form of comments on the issue. However the format should not be a blocker for capturing this info, thus tracking it for the next release.

[update] Wish list:

https://hackmd.io/8Oq

[2021-07-26 09:20] humblec commented on #667
I think this issue can remain open till we have atleast beta version of the support for NBD. I am not sure about the exact reason for reopening this though.

[2021-07-26 09:22] pkalever commented on #667
We have tied this issue with 2 tasks. 1. volume healer, 2. design doc.

The 2nd one https://github.com/ceph/ceph-csi/pull/2275 is still in the open state.

[2021-07-26 09:27] humblec commented on #667
@pkalever one idea would be having a sub issue for alpha support and list the items ? likely list sub tasks or pending items for `beta` or above support. so proper tracking can be done with each stage

[2021-07-26 09:52] pkalever commented on #667
Sure, I can open a new issue to track the list of tasks that needs to move rbd-nbd mounter to Beta support, if that's what you meant.

[2021-07-26 10:25] pkalever opened #2323 "rbd-nbd: moving towards Beta support"
# Describe the feature you'd like to have #

This is an issue to track the missing gaps that we have identified to move the rbd-nbd userspace mounter from Alpa to Beta support.

Here is the list:

- Must
  - [x] https://github.com/ceph/ceph-csi/issues/2262
  - [x] https://github.com/ceph/ceph-csi/issues/2221
  - [ ] https://github.com/ceph/ceph-csi/issues/2204

- Other Features
  - [x] https://git

[2021-07-26 11:49] #2219 closed, assigned to nixpanic

[2021-07-27 11:41] Rakshith-R opened #2327 "RBD: getImageInfo() on rbd images on which flattening is in progress throws `ErrImageNotFound`"
Running `getImageInfo()` may return `ErrImageNotFound` when rbd images are undergoing flattening operation.
 https://github.com/ceph/ceph-csi/blob/43f753760b0800beb023de066ff33e850fb4189e/internal/rbd/rbd_util.go#L1292

We need to try to do cleanup when we encounter `ErrImageNotFound` since it maybe unreliable in such cases

<details>
<summary>Ceph exec logs</summary>

[code]
</details>

This was

[2021-07-27 11:43] #2117 closed, assigned to Yuggupta27

[2021-07-27 12:28] Rakshith-R commented on #2327
Cephcsi uses `getImageInfo()` at various places listed below.
If it returns false positive  `ErrImageNotFound` in situations where the image is still present(but undergoing flattening), it will leave stale images in ceph cluster.
https://github.com/ceph/ceph-csi/search?q=getImageInfo%28%29
Operations which may leave stale images are `create/delete Snapshot`, `create PVC from data source(PVC or sna

[2021-07-27 12:32] Madhu-1 commented on #1248
We need to work on this one. some idea related to cephfs is being captured at https://hackmd.io/LtSsWzO3TDea4c9rJtVFzQ

[2021-07-28 02:18] Madhu-1 opened #2328 "Remove clusterID mapping from the PV annotation"
we have added clusterID mapping to identify the volumes in case of a failover in Diaster recovery in https://github.com/ceph/ceph-csi/pull/1946. with https://github.com/ceph/ceph-csi/pull/2314 we are moving to a configuration in configmap for clusterID and poolID mapping. and with #2314 we have  all the required information to  identify the image  mappings and the workaround implementation in #194

[2021-07-28 06:31] humblec commented on #667
@pkalever this issue need to be kept open till we are out of alpha state as it says full support. so if you can create tracker issues for the concerns raised here https://github.com/ceph/ceph-csi/pull/2275#issuecomment-887508997 and add it as a subtask we can use this issue for tracking till we have a full support verison

[2021-07-28 06:36] pkalever commented on #667
I would rather track it with a fresh issue to make other's life easy.

I have opened a new tracker to track the beta status and linked the issues there, PTAL
https://github.com/ceph/ceph-csi/issues/2323

If you still think that is not enough, I'm fine with whatever works with others.

[2021-07-28 06:39] humblec commented on #667
Lets keep this open and have trackers pointing here as this issue exist and pointed out in other issues raised in this area. I have also updated the description section with the progress, so that helps to get the summary.

[2021-07-28 06:54] humblec commented on #1883
As discussed we have to continue the analysis and get into the completion in upcoming releases. Moving this out of 3.4.0 release.

[2021-07-28 06:56] humblec commented on #1728
As discussed we have to continue the analysis and get into the completion in upcoming releases. Moving this out of 3.4.0 release.

[2021-07-28 06:57] humblec commented on #2059
As discussed we have to continue the analysis and get into the completion in upcoming releases. Moving this out of 3.4.0 release.

[2021-07-28 06:57] humblec commented on #2032
As discussed we have to continue the analysis and get into the completion in upcoming releases. Moving this out of 3.4.0 release.

[2021-07-28 06:57] humblec commented on #2118
As discussed we have to continue the analysis and get into the completion in upcoming releases. Moving this out of 3.4.0 release.

[2021-07-28 06:57] humblec commented on #2190
As discussed we have to continue the analysis and get into the completion in upcoming releases. Moving this out of 3.4.0 release.

[2021-07-28 06:57] humblec commented on #2199
As discussed we have to continue the analysis and get into the completion in upcoming releases. Moving this out of 3.4.0 release.

[2021-07-28 06:58] humblec commented on #2144
As discussed we have to continue the analysis and get into the completion in upcoming releases. Moving this out of 3.4.0 release.

[2021-07-28 06:58] humblec commented on #2285
As discussed we have to continue the analysis and get into the completion in upcoming releases. Moving this out of 3.4.0 release.

[2021-07-29 04:52] Madhu-1 commented on #2117
@Yuggupta27 looks like this is closed now can you please open a separate issue for Metro DR?

[2021-07-29 05:16] Yuggupta27 commented on #2117
Sure @Madhu-1 , will open another issue for the same.

[2021-07-29 07:27] humblec commented on #2318
As we are out of `3.4.0` this is the right time to give it a shot to triage the issues and mark it for the upcoming bug fix release ( 3.4.1).  Looking for volunteers  to drive this effort.

[2021-07-29 07:33] humblec commented on #2319
@Yuggupta27 thanks for volunteering as the release owner for 3.4.1 :+1: , so please take it forward wrt to release items sorting, sprint plan, board management...etc..

[2021-07-29 07:38] Madhu-1 commented on #2319
Project board for 3.4.1 https://github.com/ceph/ceph-csi/projects/15

[2021-07-29 08:05] Yuggupta27 commented on #2319
My pleasure :) Will do the needful.
Thanks @Madhu-1 for sharing the project board :+1:

[2021-07-29 13:52] p-v-a opened #2335 "Pod anti-affinity breaks upgrades"
I have tired to upgrade ceph chars from 3.3.0 to 3.4.0 and ended up in a inconsistent state, with a new 3.4.0 pod in the pending state due to https://github.com/ceph/ceph-csi/blob/d3beaeb014fbc3a7f605054ab03006d127ac0430/charts/ceph-csi-rbd/templates/provisioner-deployment.yaml#L28-L42

In my case I have 3 workers and 3 replicas of ceph-provisioners, this leaves no node to start a new pod, as anti

[2021-07-29 19:15] dc-weizhenhua opened #2336 "Csi-provisioner can't dynamic create PersistentVolume after PVC created。false image features: [layering] mounter: rbd"
### hi, I have a problem with ceph

 ### My environment:
ceph:  ceph version 15.2.13 (c44bc49e7a57a87d84dfff2a077a2058aa2172e2) octopus (stable)
native k8s: 1.21.0  1master; 3 worker nodes, all nodes have installed ceph-common;
ceph-csi: v3.4.0 release

### Here is more info:
note: All pods are deployed in ns default;

[root@master kubernetes]# **ceph mon dump**
dumped monmap epoch 3
epoch 3
fsid

[2021-07-29 23:16] MisterBlueBear commented on #2084
Perhaps another example:
Our ceph-csi (with rook) is configured to provision volumes on an external ceph cluster (outside of K8s). The Ceph dashboard is not able to display metrics for data usage (provisioned space, total provisioned space, etc) because it requires fast-diff (actually, since ceph Nautilus, 'object-map' will implicitly enable 'fast-diff' and vice-versa).

What would be the downside

[2021-07-30 02:44] troian opened #2337 "getCgroupPidsFile produces striped path when extra : present"
# Describe the bug #

a pod `csi-cephfsplugin-xxxxx` container `csi-cephfsplugin` reports error below
[code]

Path for `pids.max` file is created by `getCgroupPidsFile` based on the content of the `/proc/self/cgroups` which in our case is following:
[code]

# A clear and concise description of what the bug is.
The path in this case has extra `:` symbols in it which blows `getCgroupPidsFile` as it

[2021-07-30 04:26] yati1998 commented on #2337
Thanks @troian for reporting this. Will make a PR now.

[2021-07-30 04:52] yati1998 commented on #2335
@Yuggupta27  can you have a look into this?

[2021-07-30 04:53] yati1998 commented on #2303
@AmazingPangWei let us know if you have resolved this issue and if we can close it?

[2021-07-30 04:54] yati1998 commented on #2299
@nixpanic can we close this issue, if not required?

[2021-07-30 04:58] Rakshith-R commented on #2336
hey @dc-weizhenhua ,  ceph capabilities need some tweaks,please take a look at [capabilities.md ](https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md#capabilities-of-a-user-required-for-ceph-csi-in-a-ceph-cluster) and try again.

[2021-07-30 05:04] yati1998 commented on #2241
Closing this issue as the PR:https://github.com/ceph/ceph-csi/pull/2131 has already being merged.

[2021-07-30 05:04] #2241 closed, assigned to nobody

[2021-07-30 06:21] yati1998 commented on #2337
Thanks @troian  for the workaround. I have added a PR for this issue and also, added you as a co-author for this. Do Review the PR.

[2021-07-30 06:42] Yuggupta27 commented on #611
Since #2236 and #2257 are merged, we can close this issue now.

[2021-07-30 06:44] humblec commented on #2337
Indeed, thanks @troian for chasing it! :+1:

[2021-07-30 06:47] rsoika commented on #2299
What did you think about my issue https://github.com/kubernetes/kubernetes/issues/103819 ?

Can you - as the experts - give some comment, so that the kubernetes team can start a discussion?

[2021-07-30 07:26] #611 closed

[2021-07-30 07:28] dc-weizhenhua commented on #2336
Thanks for you reply!
I'v tried update auth:  ceph auth caps client.kubernetes mon 'profile rbd' mgr 'allow rw' osd 'profile rbd'; &&  re-create pvc; Pvc is still pending and the error is the same;
[root@master kubernetes]# ceph auth get client.kubernetes
exported keyring for client.kubernetes
[client.kubernetes]
        key = AQBrSABhPHWbCBAAeYlPWBymTAU2ehcPhr90XA==
        caps mgr = "allow rw"

[2021-07-30 07:34] Rakshith-R commented on #2336
@dc-weizhenhua , can you check the following issue https://github.com/ceph/ceph-csi/issues/2301 and follow the debugging steps mentioned there.

- check mon ip is accessible from csi pods
- cluster, pool health
- try executing rbd, ceph, osd cmds manually inside csi pods

[2021-07-30 08:17] nixpanic commented on #1636
Failed again with [logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.19/detail/mini-e2e_k8s-1.19/2304/pipeline):
[code]

[2021-07-30 11:01] troian commented on #2337
if workaround works as solution i can make pr then

[2021-07-30 11:11] yati1998 commented on #2337
Hey @troian  made the PR already and added you as co-author too https://github.com/ceph/ceph-csi/pull/2338. I hope its fine with you.

[2021-07-30 11:13] troian commented on #2337
ah, np, didn't see your message on mobile version of github

[2021-07-30 11:37] dc-weizhenhua commented on #2336
hey,@Rakshith-R，I just follow the debugging and login csi-rbdplugin；I found there is no route to  ceph-mon, the ceph-conf is not correct, and the version of ceph-common is not the same to ceph node;    How should I do to troubleshooting: my  k8s pod network plugin is CALICO.

[root@csi-rbdplugin-provisioner-5c7d9c94d-8v5sn /]# cat /etc/ceph-csi-config/config.json
[
  {
    "clusterID": "dd7ed546-e

[2021-07-30 12:04] Rakshith-R commented on #2336
@dc-weizhenhua You have to setup network between csi pods and ceph cluster. Where's the ceph cluster running ?

This is created by ceph csi internally.

You can try a lower ceph csi version if you want ceph base image version to be the same( but it should not matter much here).

[2021-07-30 12:28] fad3t commented on #2335
Same issue here.
As a workaround, it's possible to delete one pod at a time (from the previous deployment) to let the new ones start.

[2021-07-30 12:40] p-v-a commented on #2335
Probably the best option in this case would be to add Release Version key to matchExpressions. This would allow multiple pods from different release versions to coexists on the same host while upgrade is running. This way Helm would be able to complete upgrade using RollingUpgrade strategy. This can be done by overwriting podAffinity rules via .Values.provisioner.affinity, but this is not ideal.

[2021-07-30 12:44] p-v-a commented on #2335
That's what I did to rectify this issue, but K8S should be able to manage this automatically if configured correctly.

[2021-07-30 12:45] fad3t commented on #2335
Agreed, I was just mentioning it so people facing the same problem have an immediate solution until the Helm chart gets updated ;)

[2021-07-30 12:59] nixpanic commented on #2336
This problem looks very much the same as [RHBZ#1986794](https://bugzilla.redhat.com/show_bug.cgi?id=1986794), which I am looking into at the moment too.

[2021-07-30 13:25] dc-weizhenhua commented on #2336
@Rakshith-R The ceph cluster is another 3vms; The mon public_network is 192.168.6.0/24;   the k8s cluster network  as follow:
[root@master rbd-csi]# ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/

[2021-08-01 00:53] dc-weizhenhua commented on #2336
@Rakshith-R  @nixpanic
Thank you very much!  I figured out the issue: The reason is there is no ip-route to the ceph-cluster，When i change the calico network-mode to CrossSubnet, I successfully ping ceph-mon and  pv is created dynamicly

[root@csi-rbdplugin-provisioner-5c7d9c94d-6hh6d /]# ping 192.168.6.149
PING 192.168.6.149 (192.168.6.149) 56(84) bytes of data.
64 bytes from 192.168.6.149: icmp_

[2021-08-02 05:05] Rakshith-R commented on #2336
@dc-weizhenhua , Glad to hear that its working ! :smiley:
Please feel free to close the issue if you are satisfied.

[2021-08-02 05:49] Yuggupta27 commented on #2335
Thanks for reaching out @p-v-a @fad3t, are you facing this issue in upgrade only for an upgrade from v3.3 to v3.4? Or is it the same with all the other releases too?

[2021-08-02 09:22] fad3t commented on #2335
In my case, that was an upgrade from v3.1.0 to v3.3.1.

[2021-08-02 09:42] pehlert commented on #2142
Just to add here from a user perspective:

Through the amazing kasten.io, we not only create snapshots but also regularly transfer the data to an S3 store off-site which I think is a very common use-case.

While rbd snapshots and exports are working just fine, creating volumes from even medium-size cephfs snapshots is virtually impossible as the volume creation alone takes 30min+ for <60GB of data

[2021-08-02 09:52] gman0 commented on #2142
@pehlert Thanks for your feedback! We have essentially the same use-case.

Yes, if all goes well, this should be the result.

[2021-08-02 12:17] Yuggupta27 commented on #2335
Thanks for confirming @fad3t ! Seems like updating the rolling update strategy to set maxUnavailable to 50% can be a good solution for the issue, and we can also make it configurable. Will send a PR to fix the same shortly :+1:

[2021-08-02 16:00] dc-weizhenhua commented on #2336
Thanks a lot! Appreciate!

[2021-08-02 16:00] #2336 closed, assigned to nobody

[2021-08-02 16:01] dc-weizhenhua commented on #2336
@Rakshith-R Thanks a lot! It works.

[2021-08-02 19:42] gpl opened #2344 "Upgrade from CSI v3.2.1 -> v3.4.0 requires explicitly setting imageFeatures, and does not allow exclusive-lock"
# Describe the bug #

(I'm not sure if this is really a bug report rather than a feature request, but:)

With ceph-csi v3.4.0 it looks like imageFeature is now required and not documented when creating a PVC.  It looks like previously, the images were created with the following features:

`deep-flatten exclusive-lock fast-diff layering object-map`

We attached the following line to our storageclas

[2021-08-03 04:36] Madhu-1 commented on #2344
@gpl `layering` was the only imageFeature supported in v3.2.1 https://github.com/ceph/ceph-csi/blob/bf0cc103228d54bcced0d76fc363ee1806484b32/examples/rbd/storageclass.yaml#L32-L34. there was a bug in cephcsi where we are not validating the image features. This is fixed in v3.4.0 as we are supporting imagefeatures mentioned  at https://github.com/ceph/ceph-csi/blob/94ef181bc866c8ccaf507de66f213b266

[2021-08-03 05:41] humblec opened #2345 "Support Service account token for Ceph CSI driver"
# Describe the feature you'd like to have #

Currently, the CSI drivers acquire service account tokens is to directly read the token in the file system. However, this approach has drawbacks like : It will not work for csi drivers which run as a different non-root user than the pods.   CSI driver will have access to the secrets of pods that do not use it because the CSI driver should have a hostPat

[2021-08-03 06:03] gpl commented on #2344
I see -- I have a lot of images created with `deep-flatten exclusive-lock fast-diff layering object-map`.

Do I need to disable the features retroactively to upgrade to newer versions of ceph-csi?

Additionally, the images work fine for me -- was there any reason why these features were disabled?

[2021-08-03 06:03] #2337 closed, assigned to nobody

[2021-08-03 06:47] Madhu-1 commented on #2344
Yes you can disable all the features except `layering` for PVC and `deep-flatten` for PVC clone and snapshots restores.

All the imageFeatures not well tested from the cephcsi side to make sure everything works when mount PVC, creating clones, snapshots etc. we are enabling features one by one based on the feature requests by  users.

[2021-08-03 07:26] nixpanic opened #2347 "e2e: add retry around calls to `framework.ExecWithOptions()`"
e2e failed while creating a Ceph user. This calls `framework.ExecWithOptions()` which needs to be wrapped in a function like `retryKubectlFile()`.

See-also: https://github.com/ceph/ceph-csi/pull/2298#issuecomment-889916215

[2021-08-03 09:45] nixpanic commented on #2345
Could you elaborate a little more on these points?

Ceph-CSI only has a single executable running in the container, and it should have access to the ServiceAccount/token which get automatically mapped under the default `/var/run/secrets/kubernetes.io/serviceaccount/token` path. Do you recommend to use the Kubernetes API to fetch the ServiceAccount/token?

This is a phrase I do not understand, and

[2021-08-03 12:40] majacal opened #2352 "helm repo update "invalid entry for chart - canary""
# Describe the bug #

i updated my helm repo and receive the following error msg:

[code]

# Environment details #

- Helm chart version :
[code]

- helm version:

[code]

# Steps to reproduce #

- `helm repo update`
- `helm search repo ceph-csi`

# Actual results #

# Expected behavior #

fetch newest chart release without any errors

A clear and concise description of what you expected to happen

[2021-08-03 12:59] nixpanic commented on #2264
https://github.com/ceph/ceph-csi/pull/2343#issuecomment-891825471 failed again ([logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e-helm_k8s-1.19/detail/mini-e2e-helm_k8s-1.19/2298/pipeline))

[2021-08-03 13:40] nixpanic commented on #2264
https://github.com/ceph/ceph-csi/pull/2308#issuecomment-891856084 failed here too ([logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.20/detail/mini-e2e_k8s-1.20/1908/pipeline))

[2021-08-03 13:51] pkalever commented on #2204
Sent a PR to rbd-nbd: https://github.com/ceph/ceph/pull/42609

[2021-08-03 13:57] alexcern commented on #2295
Hi @humblec

I opened #2353 to add support of selinux mount options. In addition to bind-mounting host's `/etc/selinux`, it includes a fix for a code path (in volume option processing) that would ignore `kernelMountOptions`.

@gman0 and myself validated the patch in the following environments:

## Environment using selinux: OKD4.7

- sets pod SCC to `securityContext: { seLinuxOptions: { level: s0:

[2021-08-04 06:28] nixpanic commented on #2264
https://github.com/ceph/ceph-csi/pull/2354#issuecomment-892400000 as well ([logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e-helm_k8s-1.20/detail/mini-e2e-helm_k8s-1.20/1902/pipeline/))

[2021-08-04 06:59] pkalever commented on #1929
@Madhu-1 @nixpanic given we have volume healer now, can we move this to closed, please?

[2021-08-04 07:13] Madhu-1 commented on #1929
Yes closing this one, Thanks @pkalever for fixing it :+1:

[2021-08-04 07:13] #1929 closed, assigned to nobody

[2021-08-04 07:17] Madhu-1 commented on #1439
@pkalever can we target this one 3.4.1 or 3.4.2?

[2021-08-04 08:08] #1874 closed

[2021-08-04 09:00] fanzetian opened #2355 "Can I use iscsi storage by the csi?"
# Describe the bug #

A clear and concise description of what the bug is.

# Environment details #

- Image/version of Ceph CSI driver :
- Helm chart version :
- Kernel version :
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :
- Kubernetes cluster version :
- Ceph cluster version :

# Steps to reproduce #

Steps to reproduce the behavior:

1

[2021-08-04 09:16] nixpanic commented on #2264
failed in https://github.com/ceph/ceph-csi/pull/2350#issuecomment-892500553 too ([logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.21/detail/mini-e2e_k8s-1.21/589/pipeline)

[2021-08-04 09:41] nixpanic commented on #2264
https://github.com/ceph/ceph-csi/pull/2341#issuecomment-892516420 hit this too ([logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.19/detail/mini-e2e_k8s-1.19/2363/pipeline))

[2021-08-04 09:43] Madhu-1 commented on #2264
@nixpanic as we are hitting frequently is it a good idea to add a wrapper to retry?

[2021-08-04 09:43] humblec commented on #2355
@fanzetian not yet we are ready. #https://github.com/ceph/ceph-csi/issues/2003 has the active progress on this front.

[2021-08-04 09:55] humblec opened #2356 "Try to get rid of global permission on cephFS volume and support FSGROUP based mount option"
# Describe the feature you'd like to have #

CSI allows us to add optional `volume_mount_group` field to VolumeCapability to enable cephfs csi driver to apply an `fsgroup` to a volume filesystem during NodeStageVolume or NodePublishVolume operations. I am not sure compared to existing global permission we open on the volume mount, the advantages or disadvantages of supporting it with fsgroup at th

[2021-08-04 10:04] humblec opened #2357 "Support SINGLE_NODE_{SINGLE/MULTI}_WRITER Capabilities and RWOP in Ceph CSI driver"
# Describe the feature you'd like to have #

csi spec 1.5 have a new capability which allows us to support SINGLE_NODE_SINGLE_WRITER and SINGLE_NODE_MULTI_WRITER under SINGLE_NODE_WRITER , which intact allow us to support  the real RWO kind of volume accessmode PVCs.  The changes in place also bringing `RWOP` access mode support addition to the access mode currently supported in kubernetes CO.  Th

[2021-08-04 11:01] nixpanic commented on #2204
problem was hit in https://github.com/ceph/ceph-csi/pull/2341#issuecomment-892565234 too

[2021-08-04 11:35] Rakshith-R commented on #1875
This can be closed since we are not seeing it occur anymore and it was probably due to `mon allowing insecure id` issue https://github.com/rook/rook/issues/7746

[2021-08-04 11:57] #1875 closed

[2021-08-04 12:59] #2295 closed, assigned to nobody

[2021-08-04 13:01] nixpanic commented on #2264
https://github.com/ceph/ceph-csi/pull/2322#issuecomment-892634477 hit this ([logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.21/detail/mini-e2e_k8s-1.21/608/pipeline))

[2021-08-04 13:03] nixpanic commented on #2264
I don't know. There is already an automated retry by minikube. We should try to identify the cause and work on preventing it. Gathering the hostnames of the CentOS CI bare-metal machines might give a clue. Different groups of hosts have different hardware, and are in different subnets (https://wiki.centos.org/QaWiki/PubHardware).

[2021-08-04 15:48] nixpanic commented on #1636
A similar problem happened at https://github.com/ceph/ceph-csi/pull/2322#issuecomment-892769083 ([logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.21/detail/mini-e2e_k8s-1.21/615/pipeline))

[2021-08-04 15:54] nixpanic commented on #2264
https://github.com/ceph/ceph-csi/pull/2341#issuecomment-892773815 as well ([logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/upgrade-tests-cephfs/detail/upgrade-tests-cephfs/2566/pipeline))

[2021-08-04 17:49] nixpanic commented on #2264
https://github.com/ceph/ceph-csi/pull/2339#issuecomment-892851474 hit this too ([logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/upgrade-tests-cephfs/detail/upgrade-tests-cephfs/2572/pipeline))

[2021-08-05 04:30] Madhu-1 commented on #2204
problem hit again https://github.com/ceph/ceph-csi/pull/2322#issuecomment-893155681

[2021-08-05 04:51] Yuggupta27 opened #2362 "ci: jobs fail occasionally as rbd-nbd process fails to run"
CI runs occasionally fail with
[code]
on running the test case `STEP: perform IO on rbd-nbd volume after nodeplugin restart`

Job run: https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.21/detail/mini-e2e_k8s-1.21/622/pipeline/

[2021-08-05 06:21] nixpanic opened #2364 "e2e: CephFS resize failed"
[code]

[Logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e-helm_k8s-1.22/detail/mini-e2e-helm_k8s-1.22/24/pipeline) from the run are marked to prevent deletion.

Report: https://github.com/ceph/ceph-csi/pull/2322#issuecomment-892573930

[2021-08-05 07:39] pkalever commented on #2204
[ Copying Comment from the other thread, for context:]

I see we are hitting Read-only even after sync is run successfully:

[code]
@idryomov @trociny @nixpanic @lxbsz

I had suspected that the image/connection closing at rbd-nbd as part of SIGTERM handling, but after my tests I can see that the  image, the IO context, and the connection to RADOS are closed properly with sign-handler/detach/unmap,

[2021-08-05 08:52] nixpanic opened #2367 "Improve contribution workflow to speed up issue tracking and PR merging"
This proposal aims to improve the workflow for accepting contributions to the project.

## Current Bottlenecks

Maintainers of the project are the only ones that can add labels to issues and PRs, update project boards and manage the merging of PRs.

## Suggested Improvement

There is a group of _core-contributors_ that regularly

- handles reported Issues
- send PRs
- reviews PRs
- works on Issues

[2021-08-05 08:58] nixpanic commented on #2264
https://github.com/ceph/ceph-csi/pull/2351#issuecomment-893288535 has seen this

[2021-08-05 08:59] Madhu-1 commented on #2367
Thanks, @nixpanic. This looks to be a good suggestion at least this helps in a couple of ways from my point of view

* Better sprint planning (creating boards, Moving issues, labeling issues, etc) and avoid burden on maintainers
* Helps for the better review process and PR's will get merge on time and smooth transition
* Getting help from team on issue handling and Release
* More team involvement

[2021-08-05 08:59] nixpanic commented on #2264
2x even! https://github.com/ceph/ceph-csi/pull/2351#issuecomment-893288932

[2021-08-05 09:00] pkalever commented on #2367
Sounds like a good plan to me :+1:

[2021-08-05 09:00] Madhu-1 commented on #2367
cc @pkalever @Yuggupta27 @yati1998 @Rakshith-R

[2021-08-05 09:16] Yuggupta27 commented on #2367
Really great step! It will definitely help to smoothen the flow as well as make the review/triage process faster!

[2021-08-05 09:21] trociny commented on #2204
@pkalever Actually I was pessimistic about your "sync" patch because it does not help much in general case (you can't guarantee an application of fs would do some more io after sync), and I don't see actually why we need to do this and I don't understand what you meant by "rbd-nbd can sync data" in the comment.

Disabling the rbd case does not look useful here too. When you run sync and it comes t

[2021-08-05 12:10] Rakshith-R commented on #2367
Looks good to me too ! :+1:

[2021-08-05 12:57] ShyamsundarR commented on #2367
LGTM! (adding a triage group is useful (triage to include counting review votes))

[2021-08-05 13:15] pkalever commented on #2204
Hello @trociny

Thanks for looking at this, much appreciate all the help.

The `sync` command was on the **e2e test only** fixing to temporarily avoid CI failures for a known issue. In this specific case, the application pod is running nginx and we are very sure that there won't be any IO from nginx web server pod post `sync` command is run.

By "rbd-nbd can sync data" I'm probably referring to th

[2021-08-05 13:22] nixpanic commented on #2264
backports sometimes hit this too, like https://github.com/ceph/ceph-csi/pull/2369#issuecomment-893454809

[2021-08-05 14:04] #2335 closed, assigned to Yuggupta27

[2021-08-05 14:38] idryomov commented on #2204
@trociny What sets it?  We don't have a default value for `--io-timeout` option in rbd-nbd (i.e. not specifying `--io-timeout` is interpreted as no/infinite timeout) and the kernel doesn't seem to be setting it either.  The kernel would default it to 30 seconds if rbd-nbd set `NBD_ATTR_TIMEOUT` to 0 but we don't do that.  Am I missing something?

[2021-08-05 14:40] idryomov commented on #2204
Or has the kernel behaviour changed across releases?

[2021-08-05 15:30] trociny commented on #2204
Honestly, I don't know. This is what I recall from the cases reported in the past, that when timeout was not explicitly set via option (or when we did not have this option) the kernel used 30 sec timeout. But my memory is vague here.

And currently we have this in the rbd-nbd man [1]:

If this is wrong it would be nice to update the man.

[1] https://docs.ceph.com/en/latest/man/8/rbd-nbd/

[2021-08-05 15:59] trociny commented on #2204
Yes, because even without the cache you still may have inflight io, and the flush just guarantees the caller that all write io that was issued before the flush is complete at the moment when the flush is returned.

[2021-08-05 16:07] #2118 closed, assigned to Madhu-1

[2021-08-05 18:20] nixpanic commented on #2362
Failed at https://github.com/ceph/ceph-csi/pull/2329#issuecomment-893681377 too

[2021-08-06 04:57] Rakshith-R opened #2371 "Standardise logging, error message formatting,wrapping etc across codebase"
### Describe the feature you'd like to have #
Standardised logging, error message formatting,wrapping etc across code base.

Currently, we use a variety of logging (Info,Debug,Error) and error formatting (`"failed with ... with err %w"` , `"failed with ... : %w"` ).
Its good to document these and keep it uniform across codebase.

### How will we know we have a good solution? (acceptance criteria)

[2021-08-06 05:32] yati1998 commented on #2371
@Rakshith-R  Yes true, there are lots of un-uniformity across the codebase regarding logging, error messages, etc. It will be good to document a fixed format and have small patches to fix it.

[2021-08-06 06:25] pkalever commented on #2204
Hello @idryomov and @trociny

I'm on the latest master.

[code]
[code]
Hence the default seems 30 seconds currently.

[2021-08-06 06:35] nixpanic commented on #2362
https://github.com/ceph/ceph-csi/pull/2329#issuecomment-894037224 hit this too

[2021-08-06 07:01] humblec commented on #2367
Thanks @nixpanic , indeed the maintainers have burden now with respect to handling many things at hand and we have to come out of this situation one by one. Thats one of the reason for me to also propose more maintainers to the project https://github.com/ceph/ceph-csi/issues/1922 ( which didnt get in for some reason) ...etc. Regardless, indeed we have to take a different route on atleast process l

[2021-08-06 08:10] nixpanic commented on #2371
Yes, standardization on logging format would be nice.

I prefer the format like `"failed to do something: %w", err`, not including the string `with error:`. For cases where errors are nested, there would be a repetition of `with error:` which only takes space and does not add any value (it should be obvious that after the `:` the nested error is added).

[2021-08-06 09:22] nixpanic commented on #2367
`write` permissions seem to be sufficient for _maintainers_ to do releases.

Additional _admins_ might be useful, but that is out of scope for this request. A group with the _admins_ is of course easiest to use in case we want additional checks or request attention from _admins_ in an Issue or PR (using `@ceph-csi-admins`).

This is difficult to express with Mergify rules. I also do not think ther

[2021-08-06 09:43] idryomov commented on #2204
The block layer indeed sets it to 30 seconds by default but I had a vague memory of nbd not following that, likely based on an email exchange with a user who had the entire dmesg filled with:

messages.  They didn't touch `--io-timeout` (I asked) but it looks like the kernel was Ubuntu 5.4, so quite old...

When I checked nbd.c yesterday, I got confused by the logic in `nbd_set_cmd_timeout()` whic

[2021-08-06 14:39] pkalever commented on #2204
@idryomov

There is a possible bug in this area, i.e. once we alter io-timeout (say for nbd0), the sysfs will keep it persistent and use the same for future mapped images associated with that blk device (nbd0). We might have hit it many times unknowingly: https://lkml.org/lkml/2021/8/6/713

cc: @trociny @lxbsz @nixpanic

[2021-08-06 15:58] idryomov commented on #2204
I think most people aren't even aware of `--io-timeout` so the fact that it happens to be persisted isn't a big deal.  Those who need a particular timeout would always specify it, overwriting the old value.  But yeah, looks worth fixing to me (although I might have opted for always explicitly setting the timeout on connect rather than clearing on disconnect).

[2021-08-08 11:59] ShyamsundarR opened #2373 "`mirroringMode` parameter is not treated as optional across the code in handling rbd mirroring"
[`getMirroringMode`](https://github.com/ceph/ceph-csi/blob/bb60173a9839b155d67b3c6c69d94a2973022201/internal/rbd/replicationcontrollerserver.go#L108) function assumes the default of mirror image mode snapshot, if the `mirroringMode` parameter is missing.

[`getScheduleingDetails`](https://github.com/ceph/ceph-csi/blob/bb60173a9839b155d67b3c6c69d94a2973022201/internal/rbd/replicationcontrollerserve

[2021-08-08 12:00] ShyamsundarR commented on #2373
Attn.: @Madhu-1

[2021-08-09 07:28] #1883 closed

[2021-08-09 07:28] #2285 closed, assigned to Rakshith-R

[2021-08-09 07:39] Madhu-1 commented on #2264
hit it again https://github.com/ceph/ceph-csi/pull/2374#issuecomment-895014980

[2021-08-09 09:06] humblec opened #2380 "GetClusterMappingInfo() test fails on unmarshal."
# Describe the bug #

The `TestGetClusterMappingInfo` test fail at times:

[code]

[2021-08-09 09:10] Madhu-1 commented on #2380
@humblec in which PR it's failing?

[2021-08-09 09:15] humblec commented on #2380
it was failing locally @Madhu-1 while on `make contenarized-test` on devel branch

[code]

[2021-08-09 09:15] humblec commented on #2380
Cc @nixpanic

[2021-08-09 09:52] Madhu-1 commented on #2380
[code]
I don't see it getting failed on any of the PR's and also locally it's passing for me. Maybe some issue with setup?
Sent https://github.com/ceph/ceph-csi/pull/2381 based on the guess not sure it will fix the problem as am not able to reproduce it locally.

[2021-08-09 09:52] humblec commented on #2380
It is the same file used for different runs causing the issue.

[2021-08-09 09:58] nixpanic commented on #2380
Repeated runs sometimes fail for me too. Because the parallel tests use the same filename, the file might exist in the case `TestGetClusterMappingInfo/mapping_file_not_found` gets scheduled after one of the other tests. Using a different filename for each test should prevent the dependency on the order of the tests (or not run them in parallel).

[2021-08-09 10:00] Madhu-1 commented on #2380
okay in that case #2381 should fix it.

[2021-08-09 11:05] #2373 closed, assigned to Madhu-1

[2021-08-09 11:34] Rakshith-R opened #2383 "RBD: TODO: check image needs flattening and completed? for clone/snapshot"
# Describe the bug #
This issue is to track progress on

https://github.com/ceph/ceph-csi/blob/3c852199625333c8ccf8db18e592bb5627270d6b/internal/rbd/rbd_journal.go#L314

[2021-08-09 12:29] humblec commented on #2295
@alexcern Thanks for the detailed testing report and summary.

with the context set in mount options, the whole cephfs filesystem gets the specified context and individual file labels are disabled.

The fix definitely helps!  the part which I am not completely sure here is the practice of explictly setting a specified selinux context at mount (May be this is  a 'usual' practice.) . Indeed it helps

[2021-08-09 12:50] nixpanic commented on #2264
once more https://github.com/ceph/ceph-csi/pull/2376#issuecomment-895195300

[2021-08-09 13:37] #2380 closed, assigned to nobody

[2021-08-09 18:03] rsoika opened #2385 "csi-rbdplugin - find fastest node?"
Is am using the csi-rbdplugin which works fine, but I have a question about the following architecture problem:

I am running ceph nodes in different data centres and also the kubernetes worker nodes in different data centres.

In each data centre there is a ceph node and a kubernetes worker node. Within a data centre I have a network bandwith of 1Gbit/s which works fine. Between the different dat

[2021-08-10 03:42] humblec commented on #2385
@rsoika by default no such criteria has been applied by the ceph csi rbd plugin driver , the close solution which we can think of here is making use of topology aware provisioning ( #760 ) available with ceph csi. can you check this can help   ?

[2021-08-10 06:16] rsoika commented on #2385
Thanks for your reply. I tried to follow the discussions, but I am not sure if I am able understand the details.
Is it possible, in some way, to define that the csi-plugin chooses a node within the same zone  (I understand a zone as an equivalent to a data centre) as the POD is running?

For example:

My Ceph Cluster is running nodes in all zones and the pool is replicated over all zones.

1. POD

[2021-08-10 06:51] humblec commented on #2345
@nixpanic sorry, I missed this notification.  let me add a detailed info about this soon. Thanks

[2021-08-10 09:18] #2032 closed, assigned to Rakshith-R

[2021-08-10 09:31] pkalever commented on #2204
[code]
 Hit count +1

 https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e_k8s-1.21/runs/709/nodes/95/log/?start=0

[2021-08-10 09:35] alexcern commented on #2295
Hi @humblec, thanks for merging this so quickly!

AFAICS `noseclabel` can be used as a filter in `findmnt` but we cannot pass it as an actual option for `mount`. Like `seclabel` itself it looks like an implied option.

We've indeed been looking for the possibility to specify something like a `noseclabel` mount option and the `context` mount option was the closest we could find. I interpret it as "

[2021-08-10 10:45] AmazingPangWei commented on #2303
Sorry to reply so late. My issue has been resolved. I will close this issue.

[2021-08-10 10:46] #2303 closed, assigned to nobody

[2021-08-10 12:40] humblec commented on #2295
yeah , it went fast  than I expected too :).

I did some testing on setting this option in SC and it seems that,  it was a  successful attempt:

This is what it resulted:

[code]
As expected, it actually wiped the `seclabel` from the mount.

This was performed on a kube cluster where SCC from namespace controller is not enforced like Openshift. Not sure what are the other gotchas in place in vario

[2021-08-10 13:21] #2234 closed, assigned to pkalever

[2021-08-11 04:10] #2235 closed, assigned to pkalever

[2021-08-11 05:03] pkalever commented on #2171
@nixpanic https://github.com/ceph/ceph/pull/41954 is already merged and should be out with the next release.
So we want to keep this issue open until we have a release?
I would like to hear your thoughts about it.
Thanks!

[2021-08-11 07:00] nixpanic commented on #2171
This should stay open until we have a test-case that validates thick-provisioning and rbd-nbd, including the `--notrim` attach option.

If the test-case can be adapted to check for the available options that `rbd-nbd` offers, and skips the test when the option is not available, that would be a good start.

[2021-08-11 07:01] jtr109 opened #2397 "Failed to Mount PVC with RBD Map Failed Input/Output Error"
# Describe the bug #

Hello everyone:

I met a problem when following the block storage example to create a MySQL Deployment.

# Environment details #

- Image/version of Ceph CSI driver: `quay.io/cephcsi/cephcsi:v3.3.1`
- Helm chart version: Not using Helm
- Kernel version: kernel 4.1.0-25.el7.ucloud.x86_64
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` o

[2021-08-11 07:08] pkalever commented on #2171
Yep, I remember that I added notrim option to the help here: https://github.com/ceph/ceph/blob/master/src/tools/rbd_nbd/rbd-nbd.cc#L155

So yes, I will adopt your https://github.com/ceph/ceph-csi/pull/2172 and make necessary changes.

Thanks @nixpanic :+1:

[2021-08-11 07:40] Rakshith-R commented on #2397
Hey @jtr109 , Can you run `ceph -s` in toolbox to get ceph status, by applying https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/toolbox.yaml.

Also please send the cephblock pool, storageclass & pvc yamls you are using.

[2021-08-11 07:54] Madhu-1 commented on #2397
@jtr109 also please provide

* rbd info of the image
* dmsg logs from the node where the map is failing

[2021-08-11 07:59] jtr109 commented on #2397
Thanks for your response!

## Ceph Status

[code]

## Block Storage

The CephBlockPool and StorageClass I used follow [this example yaml](https://github.com/rook/rook/blob/33ba8fa4ea472a204bbb028e6994253e437bf495/cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml).

<details>
<summary>The information about CephBlockPool `replicapool`</summary>

[code]

</details>

<details>
<summary>The in

[2021-08-11 08:13] jtr109 commented on #2397
Hi Madhu, thanks for your response!

I am a newbie of Ceph and I am not sure how to get dmsg logs.

## rbd info

I found the pool named `replicapool` and get the image:

[code]

A image name returned:

[code]

Then I get image info:

[code]

It shows:

[code]

## dmesg

Is that what you need is the log of `/var/log/dmesg` for that node?

<details><summary>Here it is</summary>

[code]

</details>

[2021-08-11 09:04] jtr109 commented on #2397
I found the error log in csi-rbdplugin is `kernel 4.1.0-25.el7.ucloud.x86_64 does not support required features`. Is that the root of the problem?

The kernel of my CentOS 7 is upgraded into `kernel 4.1.0`. Is it possible to cause a problem?

[2021-08-11 09:40] alexcern commented on #2295
Interesting... I'm not able to easily reproduce this exact setup with rook but in our current environment (OKD4.7/FCOS33 and Openstack Manila) `noseclabel` is not accepted as a valid mount option:

[code]

`dmesg` shows:

[code]

However `findmnt --options noseclabel` does work.

[2021-08-11 11:51] nixpanic commented on #2289
[logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e-helm_k8s-1.20/detail/mini-e2e-helm_k8s-1.20/2072/) from https://github.com/ceph/ceph-csi/pull/2400#issuecomment-896759946 are marked as "keep forever" so that they can be used to check and resolve this problem

[2021-08-11 12:16] idryomov commented on #2204
Is there a dmesg for this (or any other) occurrence?  I'm still not sure where the timeout is coming from.

[2021-08-11 12:27] Rakshith-R commented on #2204
@idryomov , you can find dmesg logs here
https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e_k8s-1.20/runs/2053/nodes/104/log/?start=0
for one of the runs where this issue occured.

https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.20/detail/mini-e2e_k8s-1.20/2053/pipeline/104

its part of `log system status` st

[2021-08-11 12:54] idryomov commented on #2204
Thanks, Rakshith.  So it indeed went through the "normal" io-timeout path:
[code]
But this same code seems to be responsible for resubmitting requests to the new rbd-nbd instance after a restart, so setting
`io-timeout` to the same value as `reattach-timeout` (which is really a dead socket timeout) is probably not a good idea...

[2021-08-12 04:12] #2229 closed, assigned to nobody

[2021-08-12 04:32] Rakshith-R commented on #2309
Merging https://github.com/ceph/ceph-csi/pull/2378 should have closed this issue(auto-close does not work across branches ?).
Anyway this has been addressed and can now be closed.
Thanks !

[2021-08-12 04:33] #2309 closed, assigned to nobody

[2021-08-12 05:01] humblec commented on #2362
https://github.com/ceph/ceph-csi/pull/2358/#issuecomment-897337628 hit this

[2021-08-12 06:05] pkalever commented on #2362
From the recently available logs we can see the Healer and its respective NodeStageVolume calls return success:

[code]
And the device is successfully attached, but the process is not running!?

Did the process abnormally terminate? Or failed to start? is the real question here!

Perhaps, we will be able to guess this only with the help of the rbd client logs which are missing at the moment. And P

[2021-08-12 06:31] nixpanic commented on #2397
Can you check on the node where the Pod was tried to get started, if the `rbd` kernel module is available? If the module is available, you can try to load it and have the Pod start again.

[code]

[2021-08-12 06:46] nixpanic commented on #2385
You are correct that for writing there will be no improvement when the OSD local to the site will be used, it is required to write and acknowledge the data on remote OSDs as well.

It's been a while since I had to understand this, so take the following as super simplified and possibly not-100%-correct:
One RBD image is split into many objects. The location of an object is calculated into a Placeme

[2021-08-12 06:50] jtr109 commented on #2397
Hi, thanks for your suggestion.

I restart the module as you suggested.

[code]

I found the value of column `Used by` changed but also changed back into `0` later.

Then I tried to restart the Pod:

[code]

But after a while, the error happened again:

[code]

Is there anything possible I can have a try?

[2021-08-12 07:00] Huweicai commented on #1819
Can you talk more about your new design on how fuse client avoid the restart problem, I've been stuck with the question these days, too. Thanks!

[2021-08-12 07:02] Madhu-1 commented on #1819
There is no design doc for now. Once we have something will create a design doc PR

[2021-08-12 07:15] Huweicai commented on #1819
Thanks,  hope everything goes smoothly.

[2021-08-12 07:20] jtr109 commented on #2397
By the way. The Memory of my node is only using a CPU with 2 cores and 4G for testing. Will it be a problem?

[2021-08-12 11:00] rsoika commented on #2385
Thanks a lot for clarifying.  This helps me to understand better the architecture.

[2021-08-14 06:31] pehlert opened #2410 "Syslog / kubelet logs cluttered with gRPC messages"
# Describe the bug #

On all our nodes that run ceph-csi, we observe a high number of log messages (every few seconds), seemingly from gRPC that attempts to collect to the Ceph CSI socket.

Example:

[code]

# Environment details #

- Image/version of Ceph CSI driver : 3.4.0 (but issue has been present for much longer)
- Helm chart version : n/a
- Kernel version : 5.4.0-80-generic
- Mounter used f

[2021-08-16 05:05] Yuggupta27 commented on #2397
No, afaik, it should not be a problem.

[2021-08-16 05:31] Yuggupta27 commented on #2397
Also, I tested the mentioned scenario @jtr109 with Rook v1.7.1, seems to work fine for me; So I don't see any bug with rook or ceph-csi. Need to see what's happening in your scenario.

[2021-08-16 05:40] jtr109 commented on #2397
Hi @Yuggupta27, thanks for your reply!

What OS and kernel version do you use?

I still haven't found what causes the problem. Maybe it is time for me to reinstall the system with a suitable kernel version and try again.

[2021-08-16 05:57] Yuggupta27 commented on #2397
Here is my minikube setup:
[code]

[2021-08-16 05:59] jtr109 commented on #2397
Thanks again for your help! I will retry soon!

[2021-08-16 07:57] nixpanic commented on #2410
The `/var/lib/kubelet/plugins/rbd.csi.ceph.com/csi.sock` file is listed in the `deploy/rbd/kubernetes/csi-rbdplugin.yaml` file which is used for the node-plugin `driver-registrar` container. The same parameter is passed when deploying with Helm (see `charts/ceph-csi-rbd/templates/nodeplugin-daemonset.yaml`).

Could you update your `csi-rbdplugin` deamonset and change the
[code]
to
[code]
So, prefi

[2021-08-16 07:58] Madhu-1 commented on #1248
New doc where i have captured the steps for the script https://hackmd.io/733ztbXjQeO09a7iSIP1Gg @Rakshith-R see this helps

[2021-08-16 08:01] Madhu-1 commented on #2410
@nixpanic are you working on this one?

[2021-08-16 08:04] nixpanic commented on #2410
Not really, just asking if the suggestion addresses the issue. Maybe @pehlert wants to send a PR for correcting all `--kubelet-registration-path=` options if it fixes the problem.

[2021-08-16 08:13] pehlert commented on #2410
@nixpanic Thanks for getting back on this! I could only briefly test without checking out any details yet.
However the pod will not come up anymore when I make that suggested change:

[code]

[2021-08-16 08:13] Madhu-1 commented on #2410
Looking at https://github.com/grpc/grpc-go/blob/master/clientconn.go#L251-L268 it might work to reduce `scheme "" not registered, fallback to default scheme` not the other log messages but worth to try, updating example/doc at  https://github.com/kubernetes-csi/node-driver-registrar might also help other drivers also.

[2021-08-16 08:20] Rakshith-R commented on #1248
We also need to add details about RBD temp clones we create during snapshot, restore  and cloning and about cloning snapshots on parent cephfs subvolumes.
I'll add some details about these and cmds to be executed to the same doc.

Update: just add instruction to delete <image-name+'-temp'> if present. (created in case of rbd pvc-pvc clone)

[2021-08-16 08:27] nixpanic commented on #2410
Thanks for testing @pehlert! I think the `hostPath` mount/volume is missing for the `driver-registrar` container as well. this is documented at https://github.com/kubernetes-csi/node-driver-registrar#required-permissions. There is already a `plugin-dir` volume that points to `/var/lib/kubelet/plugins`, so adding that should be relatively simple.

Is that something you can try out easily?

[2021-08-16 08:36] Madhu-1 commented on #2410
@pehlert can you also try `- --kubelet-registration-path=passthrough:///var/lib/kubelet/plugins/rbd.csi.ceph.com/csi.sock` ?

[2021-08-16 08:38] Madhu-1 commented on #2410
the open issue already exists at https://github.com/kubernetes-csi/node-driver-registrar/issues/88

[2021-08-16 11:34] humblec commented on #2226
[update]
more discussions are happening on the KEP about individual snapshot list ..etc
Ref:
 #https://github.com/kubernetes/enhancements/pull/1551#discussion_r687683605
 #https://github.com/kubernetes/enhancements/pull/1551#issuecomment-878805651

[2021-08-16 16:32] pehlert commented on #2410
I tried this and while the pod came up just fine and seemingly worked as expected, it didn't have any effect on the warnings.
They were still showing in the same verbosity and frequency.

[2021-08-17 04:27] humblec commented on #2295
above looks like a FS issue than mount option issue to me. may be something causing it ? I will check on this though.

When you list the PV object do you see the mountOption there ?

[2021-08-18 09:56] nixpanic commented on #2367
Proposed teams, based on current contributions:

**Ceph-CSI-Contributors** (includes all maintainers too)
 - @Madhu-1
 - @Rakshith-R
 - @ShyamsundarR
 - @Yuggupta27
 - @agarwal-mudit
 - @humblec
 - @nixpanic
 - @pkalever
 - @yati1998

**Ceph-CSI-Maintainers**
 - @Madhu-1
 - @humblec
 - @nixpanic

[2021-08-18 10:03] agarwal-mudit commented on #2367
LGTM

[2021-08-18 10:48] tomiles commented on #2138
Indeed I get a panic running this on a Nomad cluster, so for now should we revert to v3.3.1 until there is a workaround?

[2021-08-18 10:56] Madhu-1 commented on #2138
Sounds good to revert to avoid panic. Will see we can work about this with some `--orchestrator=kubernetes` flag when starting the cephcsi.

[2021-08-18 11:34] humblec commented on #2410
@pehlert does decreasing the log level helps?
also it looks to me scenario with  docker engine, but not fully sure on this.

[2021-08-18 12:24] pkalever commented on #2138
Makesense. Count me in, I can look into it.

[2021-08-18 12:26] Madhu-1 commented on #2138
Thanks, @pkalever. am assigning this to you. see if you can fix it in 3.4.1

[2021-08-18 12:45] nixpanic commented on #2138
Actually, `util.NewK8sClient()` should return an error that is handled by the caller. The features are optional, so there should not be any real issue. Autodetection this way is much more user-friendly :v:

[2021-08-18 12:47] nixpanic commented on #2138
And, cleaning up Kubernetes dependencies would be much better too! `util.NewK8sClient()` and callers of that function might be more suitable to be placed in an `internal/k8s` package, providing helper functions so that there is no need to use Kubernetes objects anywhere else.

[2021-08-18 13:34] pkalever commented on #2138
@tomiles it will be helpful if you can paste the logs, I want to understand the panic causing instances better.

[2021-08-19 05:42] jtr109 commented on #2397
Hello everyone:

I update OS into CentOS 8 with kernel 4.18.0 and Install with the Octopus version. Everything works well!

Thanks all!

[2021-08-19 05:42] #2397 closed, assigned to nobody

[2021-08-19 08:08] ekochen opened #2422 "ceph csi v3.2.1 is not compatible with ceph version 15.2.14"
# Describe the bug #
Use the ceph csi  v3.2.1 which ceph-common version is 15.2.8, and I use a ceph admin to deploy a ceph version is 15.2.15,  deploy n the csi to the kubernetes cluster and then flow the docs to create a ceph sc , a pod use the pvc from the cephs sc hung at createing status which error is "cephfs-sc": rpc error: code = InvalidArgument desc = failed to get connection: connecting f

[2021-08-19 08:16] nixpanic commented on #2422
I assume that this is due to https://docs.ceph.com/en/latest/security/CVE-2021-20288/ . There are configuration options for the Ceph cluster that can be set to allow older clients to connect.

Commit d719986cacc5945c409fa70e42601d1fed89b2e6 fixed the issue for v3.2.2, so updating to a more recent version should work too.

[2021-08-19 11:27] ekochen commented on #2422
Thanks , it's better to add this to support Matrix docs

[2021-08-19 11:46] nixpanic commented on #2422
Not sure how that fits in the current matrix... Suggestions in form of a PR welcome! But, in general we recommend to use the latest releases, and we do not document incompatibilities for older/fixed minor releases.

What is the reason you picked v3.2.1 for your deployment?

[2021-08-19 12:57] Yuggupta27 commented on #2397
Thanks for confirming :)

[2021-08-19 14:13] Madhu-1 opened #2426 "RBD Async: Failed to mirrored Cloned PVC created from another PVC (PVC-PVC Clone)"
Failed to mirror cloned PVC created from the another PVC

Steps to Reproduce
* Create a PVC
* Create a Clone from the PVC
* Create VolumeReplication to Enable Replication
[code]

Even i tried to mirror the cloned rbd images manually.

[code]
[code]

[2021-08-19 14:24] Madhu-1 opened #2427 "RBD Async: Failed to mirrored Cloned PVC created from snapshot (PVC from snapshot)"
Failed to mirror  PVC created from a snapshot

Steps to Reproduce

Create a PVC
Create a snapshot of PVC
Create a PVC from snapshot
Create VolumeReplication to Enable Replication

[code]

[code]

[code]

Note:- if we flatten the image before mirroring than the image can be mirrored

[2021-08-19 14:26] Madhu-1 commented on #2427
cc @ShyamsundarR

[2021-08-19 14:26] Madhu-1 commented on #2426
cc @ShyamsundarR

[2021-08-19 14:33] Madhu-1 commented on #2426
as we create a temporary clone we need to take care of image clone and image deletion properly. There should be no stale images on both cluster

[2021-08-19 15:44] BlaineEXE commented on #1881
We still get questions about this issue in Rook. Is it possible to get more information reported in these messages that can help narrow down the source of these issues when they occur?

[2021-08-19 22:52] laptimus opened #2428 "Are encrypted and encryptionKMSID properties supported in cephfs storageclass.yaml?"
Are below properties supported in cephfs storageclass.yaml? they are present in rbd storageclass.yaml

   # (optional) Instruct the plugin it has to encrypt the volume
   # By default it is disabled. Valid values are "true" or "false".
   # A string is expected here, i.e. "true", not true.
   # encrypted: "true"

   # (optional) Use external key management system for encryption passphrases by
   #

[2021-08-19 22:54] #2428 closed, assigned to nobody

[2021-08-19 22:54] laptimus commented on #2428
strange format

[2021-08-19 22:57] laptimus opened #2429 "Are encrypted and encryptionKMSID properties supported in cephfs storageclass.yaml?"
Below properties are present in ceph-csi/examples/rbd/storageclass.yaml but missing in ceph-csi/examples/cephfs/storageclass.yaml

(optional) Instruct the plugin it has to encrypt the volume
   By default it is disabled. Valid values are "true" or "false".
   A string is expected here, i.e. "true", not true.
   encrypted: "true"

   (optional) Use external key management system for encryption pass

[2021-08-20 02:07] Madhu-1 commented on #2429
No encryption is only supported for rbd not for cephfs for now, but there is an open issue to add support for cephfs also

[2021-08-20 02:09] Madhu-1 commented on #2429
https://github.com/ceph/ceph-csi/issues/1563 closing as duplicate

[2021-08-20 02:09] #2429 closed, assigned to nobody

[2021-08-20 06:16] Madhu-1 commented on #1881
@Yuggupta27 @Rakshith-R PTAL

[2021-08-20 06:40] Yuggupta27 commented on #1881
Sure, We can definitely narrow the returned error which will help in reducing the noise and also the confusion. Will look into this :+1:

[2021-08-20 08:26] jpsn123 opened #2430 "How can i disabled standalone snapshot creation #675, the unorthodoxy implement cause other problem and confuse me."
Hello @Madhu-1,  I am a cloud architecture engineer, and I want to promote private cloud based on open source solution in my company. I use Rook as a bridge between Ceph storage and K8S.  After deploying all the production applications, I backed up the cluster with Velero including taking a snapshot of all the PVC (about 100),  then I went to Ceph Dashbord and I was shocked that all the image corr

[2021-08-20 10:12] Rakshith-R commented on #2190
In current implementation of CephCSI rbd driver,  flattening is triggered for two reasons hitting snaps and CloneDepth limit:
Ceph CSI rbd processes(highly summarized):
- k8s snapshot = PVC->snap->tmp-snap-img->snap
- k8s PVC-restore= Snapshot's snap->clone-img
- k8s PVC-PVC-clone= PVC -> snap->temp-clone-img->snap->clone-img

(snap refers to rbd image snapshot)

With respect to snap limit:
- rbd

[2021-08-20 15:51] laptimus commented on #1563
Thanks Madhu for the prompt reply and reopening this issue.

We are at a point of making critical design choices for our application. We will be going with CepfFS hoping that KMS encryption support will be added soon to the CephFS provisioning and storageclass.

regards

[2021-08-23 05:23] Madhu-1 commented on #2430
If you are not seeing your original images something wrong with your setup and I suggest opening a separate issue for that one.

Mirroring is not a problem, for now, I have opened few issues related to mirroring and we will handle that in cephcsi internally

The images will get flatten once a certain limit is reached and We have not seen any issue when creating more images and the design was sugge

[2021-08-23 06:12] Yuggupta27 commented on #2385
Thanks @rsoika , feel free to close the issue if your query has been answered, let us know if there is anything else we can help with!

[2021-08-23 06:36] humblec commented on #2430
@jpsn123 just to confirm above, are you saying after taking just `100` PVC snapshots, you are seeing "1000s" of image in the cluster ? if thats the case, its not supposed to happen and looks there is something wrong in the cluster. we have to find out whats causing the extra images to pop up. That looks to be the core issue here.

[2021-08-23 06:46] #2385 closed, assigned to nobody

[2021-08-24 05:34] jpsn123 commented on #2430
@Madhu-1 thank your help.

* original images was hidden by ceph dashboard, i will post a new issue.
* I'm very happy you guys are already working on Mirroring, thanks.
* performance anxiety is just my concern. I just want to make sure that you have given it serious thought. If the RBD engineer says there is no problem, it's great.
* >PVC and snapshot are independent objects

    This sentence insp

[2021-08-24 05:36] jpsn123 commented on #2430
@humblec  there is no extra images, actually i take snapshot serveral times, so it pop up about 600 images.

[2021-08-24 05:39] #2430 closed, assigned to nobody

[2021-08-24 08:19] pkalever opened #2432 "Improve e2e tests to help nbd tests"
# Describe the bug #

Improve e2e tests to help nbd tests:

Add the below intelligence to the utilities

* Check all the nodes for kernel versions that are stable enough for nbd
* If any of the nodes is having expected kernel version
* Schedule the application pod to the specific node

Depends on:

- [ ] https://github.com/ceph/ceph-csi/issues/857

[2021-08-24 09:22] Madhu-1 commented on #852
* Move files to a specific folder based on the operations
* Break larger functions in the smaller functions
* Implement interfaces for all the functions/methods which does go-ceph/CLI calls
  - This helps in adding more unit testings
* Change error implementations
  - Internal functions should not return GRPC error codes/messages

[2021-08-24 09:22] Madhu-1 commented on #852
Reopening as planning to work on this one.

[2021-08-24 09:23] Madhu-1 commented on #852
@humblec @nixpanic @pkalever @Yuggupta27 @yati1998 @Rakshith-R please add your suggestions here so that we can consider for refactoring

[2021-08-24 11:29] nixpanic commented on #852
I would really like to see separate packages for:

* k8s usage: helper functions that do not return k8s objects directly (1st step in moving to a k8s sidecar)
* provisioner and node-plugin: separated from `internal/rbd` and `internal/cephfs` API
* (future) `cmd/tool`: using ` internal/rbd` and `internal/cephfs` API

[2021-08-24 11:46] nixpanic commented on #852
And of course, the KMS API should move to its own `internal/kms` package too. With each provider placed in `internal/kms/<provider>`.

[2021-08-25 05:24] humblec commented on #852
@Madhu-1 as I brought up in earlier meetings and had some discussions on, a couple of items I have been working on this regard are :
[1] Refactoring operational framework  and [2] e2e refactoring:

The first should help us to address transactional chain for the operation and help us to improve each transaction we have in place..etc, the design https://hackmd.io/TvrswhUUQDGwVk1vFLY7Pw
The second sh

[2021-08-25 05:28] Madhu-1 commented on #852
Yes, agree am not tracking E2E on this one. so won't makes any changes to E2E as part of this issue. Updated the Issue title

[2021-08-25 05:30] humblec commented on #852
Ok. If thats the case operational framwork improvement is something which I have been working on which could be part of this larger issue.

[2021-08-25 05:32] humblec commented on #852
@Madhu-1 may be I can open a seperate issue for that and add this as tracker ?

[2021-08-25 05:32] Madhu-1 commented on #852
Do you have any draft doc or idea on which area you are working on. Please post-draft PR or update this issue with more details so that we can avoid duplication of work.

[2021-08-25 05:33] Madhu-1 commented on #852
sounds good to open separate issue for E2E

[2021-08-25 05:34] humblec commented on #852
sure , this was the draft design I started sometime back https://hackmd.io/TvrswhUUQDGwVk1vFLY7Pw  . I will open an issue and add more details.

[2021-08-25 05:45] humblec opened #2435 "Revisit the transactions chain , rollback ..etc"
# Describe the bug #

At the moment ceph csi driver does not have a proper transaction framework which tracks or take care the transaction like createVolume, deleteVolume, CreateSnapshot...etc and do its rollback functions in  a chained fashion.

We have many small routines in various places which does the transaction rollbacks and sub tasks of a job and at the moment it lack the support for prope

[2021-08-25 06:59] humblec opened #2437 "Get rid of util package and move functions around"
# Describe the bug #

Keeping `util` package around has been considered as an outcome of deep package hierarchies and its not recommended or not considered as a best practice of go project package dependency.

With this issue I would like to propose and get opinion on getting rid of `util` package in the project and moving the common functions to a seperate library.

It could also help us to expor

[2021-08-25 07:08] pkalever commented on #852
Right! We need to carve out utility functions that operate based on the container orchestration engine and return common ceph-csi understandable data formats.

We need a mechanism to identify CO, is this something that we want our users to specify as a flag?

Also, it would be nice to start listing some of the functions that need to get benefited out of this effort, example:

* NewK8sClient()
* k8

[2021-08-25 07:10] humblec commented on #852
One other thought I have here is, moving the utility functions to a common library and take it outside the `internal` package hierarchy. #2437

[2021-08-25 07:16] Madhu-1 commented on #2437
This increases the dependency on the external library and also we need to maintain backward compatibility.
 :-1:  from my side for common library

[2021-08-25 07:24] Madhu-1 commented on #2052
Not seen in recent builds closing this one.

[2021-08-25 07:24] #2052 closed, assigned to nobody

[2021-08-25 07:30] Madhu-1 commented on #2123
Closing this one as #2149 is merged. Thanks, @mape90 for opening the issue and for providing more detailed information :+1:

[2021-08-25 07:30] #2123 closed, assigned to humblec

[2021-08-25 07:32] Madhu-1 commented on #1986
closing this one as 3.4.0 release is done

[2021-08-25 07:32] #1986 closed, assigned to Madhu-1

[2021-08-25 07:32] Yuggupta27 commented on #852
With refactoring, we will also be able to revisit returning correct errors based on the function call level and where it lies in the granular request chain (Some gRPC level errors are returned even in some util functions currently)

[2021-08-25 07:41] humblec commented on #2437
There can be 2 approaches :

1) take very common and independent functions to a library .
2) Forget completely about `util` package and move the functions to its callers even if there are some duplication..

[2021-08-25 08:19] humblec opened #2438 "Start deprecating previous CSI releases"
# Describe the bug #

We dont have a clear policy on which ceph csi releases are supported and what are deprecated, I would like to propose below support policy and would like to get opinion on this :

1) Deprecate or mark all the `N-1` major releases as deprecated

For ex:
Considering we have release `3.X` now, mark all the releases `<v2.0.0` as deprecated and remove from the support.

@nixpanic

[2021-08-25 08:24] Madhu-1 commented on #2438
Sounds good to me to deprecate all releases less than N-1.

[2021-08-25 08:30] Yuggupta27 commented on #2437
Calls of util functions are tailored currently to support their requirement in ceph-csi. Creating a separate library will in turn make us maintain the util functions as per other projects, which use them as well (which we might not want). Also, we might not want to move all the util functions in a separate library, and keep some in our repo, which will then get us back to having util package. Thou

[2021-08-25 08:31] Yuggupta27 commented on #2438
Sure, we can deprecate N-1 and suggest an upgrade for the same :+1:

[2021-08-25 09:23] Madhu-1 commented on #2367
https://github.com/orgs/ceph/teams/ceph-csi-contributors and https://github.com/orgs/ceph/teams/ceph-csi-maintainers team are created with write and admin access. Thanks to @leseb for helping on creating the teams.

 @nixpanic can please you send a PR to make sure of it?

[2021-08-25 09:38] Rakshith-R commented on #2435
👍I would love to see well defined transaction process, stages, checkpoints and rollback actions.

IMO, it will be great if CreateVolume is also split into createVolume, restoreSnapshot, & createClone with sharing common function/methods rather than having a single control flow with if conditions added in between for each.

[2021-08-25 09:40] humblec commented on #2435
Indeed thats the plan @Rakshith-R :+1: , currently the control flow is really complicated and the aim here is to make it more transactional and commit/checkpoint/stage model.

[2021-08-25 09:46] humblec commented on #2438
Also what about `minor releases`? I think supporting last 2 or 3 minor releases are good enough , Isnt it ?

For example, on supported major versions, last 2 minor releases are supported.

In that sense, with the release of `3.4.0` , we drop support for `3.1.0` ? and only support from `3.2.0`?

[2021-08-25 09:50] Madhu-1 commented on #2438
IMO Minor releases will always be backward compatible and no breaking changes and we should support all the minor releases for the supported major releases. the deprecation should be only for major releases.

[2021-08-25 10:02] humblec commented on #2438
also what about the `patch releases`?  considering patch releases are CVE fixes mostly, may be only last 2 patch releases in support?

[2021-08-25 10:20] humblec commented on #2367
@nixpanic I propose to include @gman0 on the contributors team as he is still around and been a good contributor to this repo.
@leseb can we add him to contributors team?

[2021-08-25 11:05] humblec commented on #2367
@Madhu-1 I think above comment ( updating the contribuotrs team) is yet to be addressed..

[2021-08-25 11:11] Madhu-1 commented on #2367
Reopening as @gman0 is still not added to the team

[2021-08-25 11:42] nixpanic commented on #2437
Care to share the documented recommended practises? Our `util` package is not deeply nested, just one level, adding a 2nd level to split utilities in smaller pieces seems reasonable to me.

Other projects should probably not depend on ceph-csi specific behaviour or functions. Ceph-CSI as a project does not have an interest in supporting other projects with an API. If there are functions that are g

[2021-08-25 14:56] humblec opened #2441 "Add more metadata by enabling features on csidriver object"
# Describe the feature you'd like to have #

There are some flags we can enable on csiDriver object which could help us to get more information on various requests our driver receive, for example, enable `podinfoonmount` which could help on getting more details like pod  namespace/UID..etc

https://kubernetes-csi.github.io/docs/pod-info.html

This information could be handy while we operate later.

[2021-08-26 06:24] nixpanic commented on #2441
"This information could be handy while we operate later." is hardly a justification for adding features that are currently not used. Better to have a plan to use the feature and test-cases that consume the new functionality.

[2021-08-26 06:46] leseb commented on #2367
I just added @gman0 to the contributors.

[2021-08-26 06:46] #2367 closed, assigned to nobody

[2021-08-26 06:47] Madhu-1 commented on #2367
Thanks @leseb

[2021-08-26 06:48] humblec commented on #2367
Thanks @leseb

[2021-08-26 06:50] gman0 commented on #2367
Thank you all.

[2021-08-26 15:00] nixpanic commented on #2435
Ideally a way of executing transactions is very modular, and should be re-usable for any of the transactions that Ceph-CSI does. A very much simplified view could be:

[code]

Each step can then implement a minimal interface
[code]

The component that then wants to set metadata on an rbd image will create an instance of `Transaction`, add an instance of `SetMetadata` to the `Transaction.steps` and

[2021-08-26 21:06] #2004 closed, assigned to humblec

[2021-08-26 21:06] #1987 closed, assigned to nobody

[2021-08-26 21:06] #1971 closed, assigned to nobody

[2021-08-26 21:06] #1943 closed, assigned to nobody

[2021-08-27 07:05] pkalever opened #2451 "rbd-nbd logs are not getting dumped to the CI log collection"
# Describe the bug #

Unfortunately, the CI logs dump is not working as expected:

[code]

[2021-08-27 21:05] #1922 closed, assigned to nobody

[2021-08-27 21:05] #1909 closed, assigned to nobody

[2021-08-27 21:05] #1907 closed, assigned to nobody

[2021-08-28 03:15] stevefan1999-personal commented on #1933
nope

[2021-08-28 03:16] stevefan1999-personal commented on #1933
some news: it seems like after upgrading Ceph to the latest version of today (28-8-2021) solved this problem. I have yet to confirm it however.

[2021-08-28 21:05] #1871 closed

[2021-08-28 21:05] #1867 closed

[2021-08-29 12:11] JohnKiller opened #2452 "Using driver outside of K8S breaks in 3.4.0"
# Describe the bug #

I'm using RBD driver with Nomad instead of K8S. Upgraded from 3,3.1 to 3.4.0
Controller works fine, however nodes fails to start with this error: `unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined`

# Environment details #

- Image/version of Ceph CSI driver : quay.io/cephcsi/cephcsi:v3.4.0
- Helm chart version :
- Ke

[2021-08-29 12:12] JohnKiller commented on #2452
Also tested in canary, same problem: `Driver version: canary and Git version: f9d4972444f8be1ad5f180bf076077e8b46ac884`

[2021-08-29 21:04] #1848 closed

[2021-08-30 03:40] Rakshith-R commented on #2327
This is waiting for a fix at ceph layer.

[2021-08-30 03:47] Rakshith-R commented on #2094
This issue is no longer being observed in ci runs.

[2021-08-30 03:47] #2094 closed, assigned to nobody

[2021-08-30 03:51] Rakshith-R commented on #2328
This is still a TODO for v3.5.

[2021-08-30 06:46] nixpanic commented on #2452
@pkalever, I think this has been reported earlier? Is it something you are planning to look at, or do you want someone else to take care of it?

[2021-08-30 06:49] pkalever commented on #2452
@nixpanic I had plans to work on it, but I doubt I will have some time for it this week. If anyone got some cycles to look at it, please go ahead.

Thanks!

[2021-08-30 06:49] nixpanic commented on #2451
Is it confirmed that the files have been created, and not deleted again? The CI run where this failed should still have PVCs with rbd-nbd available, if those have been unstaged, the logs would be gone too (I think?).

[2021-08-30 08:07] pkalever commented on #2451
Bingo! Yeah, I was thinking on similar lines later on the day I created this issue after cross-checking the code again. Should we also provide an option to disable the deletion of the logs on unmap, this should be helpful at CI?

[2021-08-30 09:43] Rakshith-R commented on #2452
@JohnKiller , Can you please try with this image [ghcr.io/rakshith-r/cephcsi:fix-k8s-panic ](https://github.com/users/rakshith-r/packages/container/cephcsi/7060382?tag=fix-k8s-panic)?

Replaced `util.FatalLogMsg` with `util.ErrorLogMsg` with this commit https://github.com/ceph/ceph-csi/commit/017136bc367bb8d7d48b0f583a092f582cc757ac , which should hopefully prevent the panic.

[2021-08-30 14:37] nixpanic commented on #2264
https://github.com/ceph/ceph-csi/pull/2448#issuecomment-908397774 failed too

[2021-08-31 11:26] abmybgx opened #2465 "ceph-csi v3.4.0 may always use krbd thought I configured mounter"
# Describe the bug #

I just configured storageclass with "mounter: rbd-nbd". But I got below error, seems it also used krbd as device-type.
![image](https://user-images.githubusercontent.com/34848440/131493557-62b0b590-4f0d-421f-be0a-acbcc417e43d.png)
![image](https://user-images.githubusercontent.com/34848440/131493430-8db0b9f4-134c-44bc-a126-465111067b4c.png)

# Environment details #

- Image/v

[2021-08-31 11:27] humblec commented on #2465
/assign @pkalever

[2021-08-31 13:54] nixpanic opened #2467 "e2e should retry running ExecWithOptions()"
# Describe the bug #

https://github.com/ceph/ceph-csi/pull/2464#issuecomment-909255706 failed with an `etcdserver: request timed out` while running `f.ExecWithOptions()`. Calls to `ExecWithOptions()` should be wrapped in retry-loops like `retryKubectlArgs()` and similar.

[logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/mini-e2e_k8s-1.20/2286/) have been marked as _keep forever_ for ref

[2021-08-31 14:50] nixpanic opened #2469 "e2e failed to detect a Bound PVC and aborted"
# Describe the bug #

https://github.com/ceph/ceph-csi/pull/2457#issuecomment-909269282 failed while checking the phase of a PVC. It is possible that the error reporting is incorrect, and that the Pod that uses the PVC could not get started.

In the [logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e-helm_k8s-1.22/detail/mini-e2e-helm_k8s-1.22/223/pipeline/)

[2021-09-01 10:23] nixpanic commented on #2438
The process to deprecate a release should be part of the process that is used for releasing a new version. This should also include adding/removing `backport-to*` labels, updating Mergify rules, ...

[2021-09-02 11:22] #2452 closed, assigned to nixpanic

[2021-09-02 11:40] JohnKiller commented on #2452
Thanks for the fix. Is this available in some beta images so I can test?

[2021-09-02 11:42] Madhu-1 commented on #2452
you can use a canary image https://quay.io/repository/cephcsi/cephcsi?tab=tags which will be updated when a PR gets merged in the devel branch

[2021-09-02 12:24] Rakshith-R commented on #2190
https://github.com/ceph/ceph-csi/blob/60c2afbccadf008ebcd1293f3c10f0d5596b0e62/internal/rbd/clone.go#L258-L290

If a temporary clone does not exist for given image ,
we need to find the parent image here, which would be a rbd image image under k8s snapshot and flatten it instead.

[2021-09-02 14:15] humblec opened #2483 "e2e failed with "read only FS issue""
# Describe the bug #
[code]

The subjected run # https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e_k8s-1.21/runs/1027/nodes/87/steps/90/log/?start=0

Cc @pkalever

[2021-09-02 14:53] Rakshith-R commented on #2483
Duplicate of https://github.com/ceph/ceph-csi/issues/2204.
It's still a open issue.

[2021-09-03 05:45] Madhu-1 commented on #2352
This needs to be fixed. @Yuggupta27 PTAL

[2021-09-03 05:51] Madhu-1 commented on #2483
Closing as  duplicate

[2021-09-03 05:51] #2483 closed, assigned to nobody

[2021-09-03 05:55] Madhu-1 commented on #2190
In which case the temporary clone does not exists?

from PVC-PVC clone case both image and the temporary image will be deleted when we delete the image.

Yes, the snapshot needs to be flattened in case of PVC restoration from snapshot operation.

[2021-09-03 06:05] Madhu-1 commented on #2465
@abmybgx please provide the logs from the csi-rbdplugin container from the node where the mount is failing.

[2021-09-03 06:11] abmybgx commented on #2465
![image](https://user-images.githubusercontent.com/34848440/131959069-2f543d99-d8d8-4a3c-8855-e42b63a8020c.png)

[2021-09-03 06:14] Madhu-1 commented on #2465
can you please check `/sys/module/nbd` path present on the node if not can be please run `modprobe nbd`  and `rbd-nbd --version` on the node and see if rbd-nbd is present?

[2021-09-03 06:26] abmybgx commented on #2465
![image](https://user-images.githubusercontent.com/34848440/131960061-92a0aa70-c64c-49f1-a7d3-4ed99670f99b.png)
![image](https://user-images.githubusercontent.com/34848440/131960138-1b51f774-9bb0-4399-a2ad-368f8e474c0d.png)

[2021-09-03 06:27] Madhu-1 commented on #2465
@abmybgx the above confirms that you don't have rbd-nbd available on your node. because of that krbd is tried by default

[2021-09-03 06:29] Madhu-1 commented on #2465
https://github.com/ceph/ceph-csi/blob/8fc7db8d80c06acd2d2c54620849e223b87590f8/internal/rbd/rbd_attach.go#L196-L216 this check is failing on your clusters. you should be able to  see the logs when  cephcsi start

[2021-09-03 06:32] Madhu-1 commented on #2465
apologies for this one. can you please below the output from the node?

[code]

[2021-09-03 06:38] abmybgx commented on #2465
![image](https://user-images.githubusercontent.com/34848440/131960988-229d679e-8b83-47d8-849b-c8bdd2ce33d9.png)
Maybe the server was installed nbd before, but is unusable now, I'll reinstall it and have a check

[2021-09-03 06:39] Madhu-1 commented on #2465
Thanks for providing the information, in that case, am closing this issue as not a bug. please feel free to open a new issue if you face any issues again.

[2021-09-03 06:39] #2465 closed, assigned to nobody

[2021-09-03 06:41] Rakshith-R commented on #2190
I meant ErrImageNotFound for temp clone -> for a snapshot restored parent PVC.

[2021-09-03 07:37] humblec commented on #2422
@ekochen recently we have came up with the support policy and more inclined to support last 2 minor releases https://github.com/ceph/ceph-csi/blob/devel/README.md . please feel free to upgrade to latest versions if possible  . I am closing this issue for now, and please revert if you face any issues.

[2021-09-03 07:37] #2422 closed, assigned to nobody

[2021-09-03 07:41] humblec commented on #2344
@gpl hope above response answer your queries, if you have any further queries, please feel free to reopen this issue. thanks :+1:

[2021-09-03 07:41] #2344 closed, assigned to nobody

[2021-09-03 07:43] humblec commented on #2289
@nixpanic my thinking here is that, the locking improvement we have one #2197 would have resolved this issue as we havent seen this issue recently or after 3.4.0 release.

may be we can close this issue and reopen if we hit again?

[2021-09-03 08:11] humblec commented on #2197
One pending thing here is `the omap` transactions revisit which I am currently doing or looking into as part of the `transaction` framework rework. Keeping this open.

[2021-09-03 08:14] humblec commented on #2144
@Yuggupta27 just to revisit .

[2021-09-03 08:16] humblec commented on #2138
#2466 should have the fix for this issue. i am closing this issue for now . `3.4.1` release planned next week should carry this too @tomiles  :+1:

[2021-09-03 08:16] #2138 closed, assigned to pkalever

[2021-09-03 14:14] #1799 closed

[2021-09-03 16:10] JohnKiller commented on #2452
Thanks, tested and working perfectly!

[2021-09-03 21:05] #2209 closed, assigned to nobody

[2021-09-03 21:05] #2178 closed, assigned to humblec

[2021-09-03 21:05] #2177 closed, assigned to nobody

[2021-09-03 21:05] #2169 closed, assigned to nobody

[2021-09-03 21:05] #2137 closed, assigned to nobody

[2021-09-03 21:05] #2130 closed, assigned to nobody

[2021-09-03 21:05] #2128 closed, assigned to nobody

[2021-09-03 21:06] #2093 closed, assigned to nobody

[2021-09-03 21:06] #2080 closed, assigned to nobody

[2021-09-03 21:06] #2075 closed, assigned to humblec

[2021-09-03 21:06] #2071 closed, assigned to nobody

[2021-09-03 21:06] #2034 closed, assigned to nobody

[2021-09-03 21:06] #2031 closed, assigned to nobody

[2021-09-03 21:06] #1828 closed

[2021-09-04 17:21] phlogistonjohn commented on #2186
I don't know how relevant this is to csi but I did recently assign the go-ceph issue to @Rakshith-R  - so take that as you will. :-)

[2021-09-04 21:05] #2318 closed, assigned to nobody

[2021-09-04 21:05] #1816 closed

[2021-09-04 21:05] #1814 closed

[2021-09-04 21:05] #1810 closed

[2021-09-04 21:05] #1809 closed

[2021-09-04 21:05] #1801 closed

[2021-09-04 21:05] #1797 closed

[2021-09-04 21:05] #1785 closed

[2021-09-04 21:05] #1761 closed

[2021-09-04 21:05] #1710 closed

[2021-09-04 21:05] #1695 closed

[2021-09-04 21:05] #1650 closed

[2021-09-04 21:05] #1642 closed

[2021-09-04 21:05] #1562 closed

[2021-09-04 21:05] #1543 closed

[2021-09-05 00:41] ikogan commented on #2238
This is still an issue and the only workaround I can see so far is to ensure CephFS workloads using the same volume don't start on the same node. I'm running out of nodes.

[2021-09-05 02:29] Rakshith-R commented on #2186
😅yes it's in progress,  I'll re-open this.

[2021-09-05 21:05] #2299 closed, assigned to nobody

[2021-09-05 21:05] #2084 closed, assigned to nobody

[2021-09-05 21:05] #1521 closed

[2021-09-05 21:05] #1519 closed

[2021-09-05 21:05] #1424 closed

[2021-09-05 21:05] #1352 closed

[2021-09-05 21:05] #1222 closed

[2021-09-05 22:31] godber commented on #2238
We've gone back to gluster.

[2021-09-07 12:00] Madhu-1 commented on #2238
@ikogan am planning to work on this one. please provide the below details for now
* The issue is only with the static PVC not with dynamic PVC?
* If the issue exists for dynamic PVC what are the reproducer steps?
* Did you try to reproduce the latest cephcsi v3.4.0 version?

[2021-09-07 13:40] michaelgeorgeattard commented on #521
Hi, are there any plans or updates on this topic please?

[2021-09-08 20:16] ikogan commented on #2238
Hi, thanks for working on this!

1. I've only tried this with static PVCs. I think it likely wouldn't happen with dynamic ones as the volume path would be different for each PVC, right? That is, if you did a `mount | grep ceph`, you'd see a different "device" for each PVC because the path on the CephFS volume would be different, right?
2. I'm not sure how it could happen with dynamic PVCs, you'd h

[2021-09-09 03:24] humblec commented on #1725
With the community feedback and requirements this has been planned for kube v1.23 and kubernetes KEP is available here https://github.com/kubernetes/enhancements/issues/2923  .

Reopening this issue as this has been getting worked on (https://github.com/ceph/ceph-csi/projects/18)  which should allow all existing in tree users to have a smooth migration path... we need few changes in the CSI driver

[2021-09-11 21:05] #1155 closed

[2021-09-11 21:05] #1120 closed

[2021-09-12 21:05] #2364 closed, assigned to nobody

[2021-09-12 21:05] #2319 closed, assigned to Yuggupta27

[2021-09-12 21:05] #2263 closed, assigned to nobody

[2021-09-12 21:05] #2221 closed, assigned to pkalever

[2021-09-12 21:05] #1636 closed

[2021-09-13 15:38] abalib opened #2504 "Snapshot multiple rbd volumes at once"
Suppose I have 10s to 100s of rbd volumes in the same pool.   How do I go about snapshotting them at the same time?  I see the subvolume concept in cephFS.  Not sure if that is what I need.  Can you please advise?

[2021-09-13 16:01] #2504 closed, assigned to nobody

[2021-09-13 21:05] #925 closed

[2021-09-14 05:50] humblec commented on #2003
Further experiments were carried on this and various issues are noticed in the driver due to broken library which iscsi driver currently consumes for its operations. Most of the  issues are fixed and few are still left to fix. There is a  refactoring happening on the library and after that, it has to be retested.

In short, this is getting good pace https://github.com/kubernetes-csi/csi-lib-iscsi/

[2021-09-14 06:53] Madhu-1 commented on #2238
Okay, one thing am failing to understand is why do you need multiple PV with the same `RootPath: /` as CephFS supports RWX volumes you need only one PVC/PV with `RootPath: /` if the RootPath is pointing to different paths then you need different PVC/PV  can you be more specific about creating of multiple PV with same `RootPath`?

[2021-09-14 13:00] husseinharake opened #2506 "Operation not permitted"
K8s v1.21.3
CSI version 3.4.0
CEPH octopus

I am trying to use subvolumes, the idea is to allow each k8s cluster to access a subvolume which should sort the multi-tenancy issue using a single cephfs infrastructure. A single username is created and used for each k8s cluster.

The steps are as follows: I create a subvolumegroup, create a subvolume as part of the subvolumegroup created in teh first s

[2021-09-15 05:10] Rakshith-R commented on #2506
@husseinharake Have you mentioned the subvolmeGroup in csi-config-map which contains the mon-ip ?

For example https://github.com/ceph/ceph-csi/blob/3aab8dad008c8f9299296e9f63fc00ef533214d5/examples/csi-config-map-sample.yaml#L47

[2021-09-15 06:17] husseinharake commented on #2506
Thanks @Rakshith-R, yes it is mentioned in the configmaps, my csi-configmap is below:

[root@node ~]# kubectl get configmaps ceph-csi-config -n ceph-csi-cephfs -o yaml
apiVersion: v1
data:
  config.json: '[{"cephFS":{**"subvolumeGroup":"manuel"**},"clusterID":"f635a9cc-f917-11eb-bb78-248a071e3a06","monitors":["192.168.1.2:6789","192.168.1.19:6789","192.168.1.20:6789","192.168.1.21:6789","192.168.1

[2021-09-15 06:26] Rakshith-R commented on #2506
@husseinharake ,Can you try with these caps https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md#cephfs

And modify user auth accordingly https://docs.ceph.com/en/latest/cephfs/client-auth/

[2021-09-15 08:04] humblec opened #2509 "Tracker issue for intree rbd to ceph csi online migration"
# Describe the bug #

This issue track the few changes required to support in tree rbd migration to ceph csi ( Project # https://github.com/ceph/ceph-csi/projects/18) , this allows an in tree rbd user to do  online migration without changing any existing templates. This feature is tracked in kubernetes for v1.23 as alpha under https://github.com/kubernetes/enhancements/pull/2963.

Demo : part 1 sh

[2021-09-15 08:04] husseinharake commented on #2506
@Rakshith-R  I changed the user manuel caps and gave him the same permissions of the admin users but i am still getting  the same error

 ceph auth caps client.manuel osd 'allow *' mgr 'allow *' mon 'allow *' mds 'allow *'

client.manuel
	key: AQCUDjphhG7vABAAf9ZWcwADizXgu43h5UQMRA==
	caps: [mds] allow *
	caps: [mgr] allow *
	caps: [mon] allow *
	caps: [osd] allow *

Events:
  Type     Reason

[2021-09-15 08:08] Rakshith-R commented on #2506
@husseinharake can you try creating cephfs subvolume/rados ls with the same client and key directly on ceph cluster ?

And add logs from csi-cephfsplugin-provisioner pod csi-cephfsplugin container.

[2021-09-15 08:20] Madhu-1 commented on #2509
@humblec any specific reason not to use/suggest the CSI migration tool which is getting developed by @Yuggupta27 and @subhamkrai?

 use a volume handle passed in and support static volume mounting, unmounting, and delete operations on existing volumes.

IMO This is an extra burden to the cephcsi supportability point of view

can you please provide more details with examples of why we are taking th

[2021-09-15 08:54] humblec commented on #2509
@Madhu-1 For `offline migration` ( taking down the app and untangling from pvc and attaching old pv after renaming to new pvc)  , the  tool can also be used,   as mentioned in the issue, this is an `online` migration for existing in tree users, the users will be capable to continue using the templates as they do today and everything will be taken care by the kubernetes, they dont want to change an

[2021-09-15 09:09] Madhu-1 commented on #2509
yes if we go for offline tools we can support all these features.

we don't support DeleteVolume for the static PVC but you have added it to the list. as I already mentioned in https://github.com/ceph/ceph-csi/issues/1725#issuecomment-823225160 not sure it's worth supporting this one with extra effort.

If we really need/want to support this one please  make sure we support only the ceph version m

[2021-09-15 09:22] humblec commented on #2509
Yep, iow, at any point in time ( even after online migration has been enabled) , if users want to go with offline migration (now or  later or even only for few volumes) , they can take that route based on the production downtime and feasibility of making other changes for the  consumers of current volumes and its templates.

Online can be an intermediate path as well for many deployments.

As this

[2021-09-15 11:18] husseinharake commented on #2506
I think i figured the reason of the permissions issue. The first problem is the caps as you mentioned earlier, the document you shared showed that the OSD requires these permissions:
"osd", "allow rw tag cephfs *=*"

earlier i changed the permissions to * for OSD, MGR etc. but it did not work, the changes were applied but did not effect until i redeployed the helm chart of CSI. After every changes

[2021-09-15 11:20] husseinharake commented on #2506
my goal is that the user should be able to access a subvolumegroup and not admin access to every volume in cephfs

[2021-09-15 12:29] husseinharake commented on #2506
removing the path parameter sorted the mount issue.
caps: [mds] allow rw

[2021-09-15 12:37] husseinharake commented on #2506
@Rakshith-R the final question would be is there anyway to limit the access to a user by subvolumegroup or subvolume?
a user should be able to access a single subvolume only.

Thanks

[2021-09-15 13:22] Rakshith-R commented on #2506
Mentioning subvolumegroup in csiconfigmap and creating storageclass with that clusterid already serves that purpose, if user is confined to that storageclass in k8s perspective since a regular user cannot modify/recreate storageclass or even view sc secrets.

@husseinharake check this for limiting access to just a single subvolume https://www.github.com/ceph/ceph-csi/tree/devel/docs%2Fstatic-pvc.m

[2021-09-15 13:29] husseinharake commented on #2506
@Rakshith-R my problem is that i have a single cephfs and multiple k8s clusters. Users could fire their k8s cluster on the fly and have a complete access to their k8s (cluster admin access). RBD could help by giving a user access to a single pool but it does not support RWM. I will check the link that you shared and hopefully that helps limiting the access per subvolume.

Thanks for your help :)

[2021-09-15 16:25] taxilian commented on #2142
This would definitely enable use cases which are very important to me as well -- the benefits for backup solutions would be difficult to overstate.

`Users could simply go to .snap/<snapshot name> by themselves.` - I was not aware of this and don't know how to use it in kubernetes -- I will definitely be looking into it to see if it can be used as a reasonable solution in the mean time

[2021-09-15 16:37] taxilian commented on #2142
It looks like this shouldn't be too difficult to do -- it's even technically possible to do it semi-reasonably using a script, though maybe I'm missing something that would make it easier?

- Look at the VolumeSnapshot you want to back up, get the VolumeSnapshotContent
- Look at the VolumeSnapshotContent you want to use and grab the last 36 characters of the Snapshot Handle (a guid)
- Look inside

[2021-09-16 06:40] pkalever commented on #2264
I don't know if it was by chance or the real workaround, but after generating the ssh keys locally via ssh-keygen it worked now for me for the first time after 20-25 different attempts.

Is this something that we can try?

[2021-09-16 06:46] Madhu-1 commented on #2264
Just want to be sure how generating ssh keys will fix this issue?

[2021-09-16 06:48] pkalever commented on #2264
Yac! You are right! It doesn't make any sense.

The other thing I tried was
1. Flushing IP tables locally
2. Disable SELinux

Maybe it worked because of this!

[2021-09-16 09:59] k0ste opened #2513 "Support for all Ceph RBD features"
Currently RBD csi isn't support all possible image features, but features support by kernel

[code]

So we need allow for `storageClass.imageFeatures`: `layering,object-map,fast-diff,deep-flatten,exclusive-lock`

[2021-09-16 22:12] jbpratt opened #2515 "error starting driver-registar: resource name may not be empty"
# Describe the bug #

After installing and creating a test cluster, all pods come up except for the driver-registrar containers for rbd and fs plugins.

# Environment details #

- Image/version of Ceph CSI driver :
- Helm chart version : v1.7.3
- Kernel version : `5.13.12-200.fc34.aarch64`
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : unsu

[2021-09-17 05:40] Rakshith-R commented on #2515
@jbpratt try applying the scc from here https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator-openshift.yaml.

[2021-09-17 07:45] pkalever commented on #2264
Today I'm hitting this again locally and none of my previous mentioned guess workarounds are working :-(

[2021-09-17 09:25] adabuleanu opened #2519 "run ceph-csi as non-root and configurable UID/GID"
# Describe the feature you'd like to have #

Run ceph-csi as non-root and with configurable UID/GID.

# What is the value to the end user? (why is it a priority?) #

In an enterprise environment, running containers as root is a security concern.
For example, Ceph daemons support running as non-root with configurable UID/GID
https://docs.ceph.com/en/pacific/man/8/ceph/?highlight=setuser#cmdoption-c

[2021-09-17 11:59] jbpratt commented on #2515
thanks for the reply @Rakshith-R , it seems to still be happening. Let me reset things to a fresh state and try manually installing via the manifests. By chance, do you know what resource the error `resource name may not be empty` is referring to?

[2021-09-17 14:05] ikogan commented on #970
I experienced something like this today. I believe it may have to do with the VM hard rebooting at some point and leaving entries around. Unfortunately it's hard to reproduce. I was getting this error from the kubelet:

[code]

I went and saw the same behavior as above with a sort of broken mount. I was able to fix it by simply unmounting that directory but I couldn't do anything else to it. Is th

[2021-09-17 17:38] ikogan commented on #2238
While I can re-use the same PVC if my workloads are in the same namespace, since a PVC is a namespaced object, I cannot use it across namespaces. I can also only have one PVC bound to a single PV. The only way to have two different _namespaces_ use the same underlying filesystem path is to have two different PVs.

[2021-09-18 08:46] feeyman opened #2520 "When I use the CSI RBD plug-in, the newly created PVC is always in the pending state; It also indicates that PVC already exists, which is very strange"
**### Hello, it's a great honor to get your attention. The environmental information I configured is as follows;**
![图片](https://user-images.githubusercontent.com/24524775/133882799-d128f05b-c009-48b0-8021-a192a01e4b01.png)

### **However, when creating PVC, you will be prompted that PVC already exists. Please help me how to solve or debug this problem？**
![图片](https://user-images.githubuserconten

[2021-09-18 21:05] #2171 closed, assigned to pkalever

[2021-09-19 11:32] jbpratt commented on #2515
Hmm, seems I'm still getting the same results on a slightly different environment (microshift on Fedora34 server aarch64, not in podman) and using the files from `clusters/examples/kubernetes/ceph/`. The operator starts without issue, but then things fail when trying to create a cluster. cc @rootfs as this was working for https://github.com/redhat-et/ushift-workload so this very well may be a smal

[2021-09-20 03:36] Rakshith-R commented on #2520
hey @feeyman , please check the steps [here](https://github.com/ceph/ceph-csi/blob/devel/docs/deploy-rbd.md#deployment-with-kubernetes).

Make sure,
- mon ips are reachable from ceph csi pods.
- ceph cluster is healthy
- verify rbd block pool `rados ls -p <pool_name>`,`rbd ls -p <pool_name>` , `rbd create test-img -p <pool_name>`
- Execute the same commands from ceph csi rbdplugin pods, (pass -m <

[2021-09-20 10:03] Rakshith-R opened #2521 "[RBD] parallel PVC creation on a newly created block pool will hang"
# Describe the bug #

The following bug in librbd causes parallel pvc creation request on a newly created block
pool to hang.

[code]

Ceph issue tracker : https://tracker.ceph.com/issues/52537

Ceph pacific backport pr with fix : https://github.com/ceph/ceph/pull/43113

# Environment details #

- Image/version of Ceph CSI driver : v3.4.0

# Steps to reproduce #

- Create new rbd block pool(with n

[2021-09-20 21:06] #899 closed

[2021-09-20 21:06] #559 closed

[2021-09-21 01:58] Jerryy959 commented on #2520
I have the same problem.

[2021-09-21 02:08] Rakshith-R commented on #2520
Hey @feeyman @ProdigyYanng
If the block pool is newly created with no image in it and they are multiple parallel pvc requests, it maybe this issue https://github.com/ceph/ceph-csi/issues/2521

Can you please try the workaround mentioned in the issue?

[2021-09-21 02:10] Rakshith-R commented on #2521
Hey @idryomov, a lot of users seem to be hitting this issue, would you recommend adding `rbd_pool_validate = false `(which does prevent this problem) in ceph.conf to workaround the issue in cephcsi ?

Will there be any side affects or reason not to do this ?

Thanks !

[2021-09-21 04:50] Madhu-1 opened #2528 "unit testing failing for missing cluster-id"
[code]

https://github.com/ceph/ceph-csi/pull/2525/checks?check_run_id=3656180602

[2021-09-21 12:15] idryomov commented on #2521
How many reports of this exact issue did you get so far?  I see you linked #2520 but it doesn't look related at first sight.

I could be wrong but it feels like the combination of a fresh uninitialized pool and concurrent creation requests should make this rather unlikely to hit for a general user.  I'm inclined to just visibly document this as a known issue and wait for the 16.2.7 release.

[2021-09-21 12:24] Rakshith-R commented on #2521
Quite a few are reported [here](https://github.com/rook/rook/issues/8696).

@idryomov
For a user using rook (>=v1.7.1), hitting this can be very easy.
Just create a BlockPool and issue more than one RBD PVC request.

I suspect, we will get more such reports and if I am not wrong `ceph: v16.2.7` will be out in two months?

Thanks!

[2021-09-21 16:16] idryomov commented on #2521
I see two reports there.

This is not the first rook release based on pacific, right?  The bug is present in all pacific releases (16.2.0 - 16.2.6), if we only got two reports in this time frame I'm not sure it is worth rushing in a workaround instead of just waiting for 16.2.7.

We don't have a set date for 16.2.7 so yes it could take two months but we could also expedite it.

[2021-09-22 05:04] Madhu-1 opened #2530 "github actions are failing to pull fedora image"
All GitHub actions are failing to pull the fedora image from the registry

[code]

[code]

[2021-09-22 05:11] Madhu-1 commented on #2530
CI is passing when using fedora:34 image https://github.com/ceph/ceph-csi/pull/2531

[2021-09-22 05:18] Madhu-1 commented on #2530
Even CI is able to pull the fedora latest image. If anyone sees an issue on the PR please try to close and reopen again to fix it. keeping it open for sometime if anyone faces the issue again

[2021-09-22 06:01] Rakshith-R commented on #2521
This is the first CephCSI release `v3.4.0` based on pacific https://github.com/ceph/ceph-csi/commit/8fafc4256ea6227781633521c877ad3730be42c9, picked up by rook in `v1.7.1`.

okay :+1: .
Thanks ilya.

@ceph/ceph-csi-contributors I think we can go ahead with cephcsi `v3.4.1` release and pick up the fix in `v3.4.2` when its out.

[2021-09-22 06:13] Madhu-1 commented on #2521
@idryomov couple of questions

* We will hit this one only on the new pools or on the existing pool also

* Is there any command to check pool is uninitialized/unvalidated?

* The issue exists on both the ceph cluster version (server) and also in the client library  (librbd)?

@Rakshith-R below is the workaround you mentioned in the issue.

Restart csi rbdplugin provisioner pod
Either
Issue a sing

[2021-09-22 06:20] Rakshith-R commented on #2521
only new pools as per my tests.

yes, that works too but need direct access to ceph cluster to execute the commands and will still leave stale omap entries.

[2021-09-22 06:26] Madhu-1 commented on #2521
executing a command on the ceph cluster is not an issue and it's better than leaving the stale resources. if the pending PVC is not deleted how this will leave a stale omap?

[2021-09-22 06:41] Madhu-1 opened #2533 "[E2E] generate unique names for PVC/PV and pod Names"
With the current E2E it's difficult to identify the problem based on the PVC name or the pod name as we reuse the same name in multiple tests. It's good to generate a unique name each time which helps in debugging.

[2021-09-22 06:52] Rakshith-R commented on #2521
okay, tested it. It will not leave any stale resources.

- execute `rbd pool init <pool_name>` directly on cluster or from csi pods.
- delete provisioner pods

and PVCs will go to bound state without leaving any stale resources.

[2021-09-22 10:21] humblec commented on #2530
Havent seen this in the PR yet.. just mentioning it if it helps.

[2021-09-22 12:02] Madhu-1 commented on #2264
adding minikube logs when this fails might be helpful to see what's happening.

[2021-09-22 12:02] Madhu-1 commented on #2264
[code]

[2021-09-22 12:05] Madhu-1 commented on #2530
closing this one as we haven't seen this anymore

[2021-09-22 12:05] #2530 closed, assigned to nobody

[2021-09-22 16:20] Ananth-vr opened #2535 "improve documentation to include the missing configmap"
Trying https://docs.ceph.com/en/latest/rbd/rbd-kubernetes/ to integrate ceph-csi:canary with Pacific release of Ceph.

Documentation does not cover the steps required to create config-map for ceph-config which is needed by csi-rbdplugin.yaml

Steps to reproduce:
1.Follow steps as in the document
2. execute csi-rbdplugin.yaml

Expected Result:
csi-rbdplugin-xxx pods in running state

Actual state:

[2021-09-23 08:01] feeyman commented on #2520
**### Hello,  @Rakshith-R
I'm glad to receive your reply. I tried the method you mentioned, but the problem still exists. It is worth mentioning that I was able to successfully create PVC. You can see from the records that I didn't make any changes after my success.**
![BD692A83-BE27-4B3F-B3BC-9C0768B6450A_1_105_c](https://user-images.githubusercontent.com/24524775/134472012-e43b8306-ca42-422a-959

[2021-09-23 08:20] Rakshith-R commented on #2520
@feeyman can you verify the mon ips and
Id  & key created has the required permissions ?

https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md#rbd

Which ceph version are you using ?

[2021-09-23 08:47] feeyman commented on #2520
Hello, @Rakshith-R  I have confirmed that they are all correct, and PVC has been successfully created before. It should not be the problem of insufficient permissions; The version of CEPH is 14.2.22.
![IMG_5006](https://user-images.githubusercontent.com/24524775/134478746-ec4c6986-4eed-4c87-aaf8-ad0c647c6d5c.PNG)

[2021-09-23 09:00] Rakshith-R commented on #2520
@feeyman Can try to execute the following cmd from the same pod

`rbd ls -m <mon-ip> --id <username> --key <key>`

And I assume cephcsi version is `v3.4.0` ?

[2021-09-24 12:47] idryomov commented on #2521
Only on the new (empty) _and_ uninitialized pools.  It can't occur once even a single image is created or the pool is initialized.

I don't think so.  One possibility is to check if the pool's application is "rbd" but that is a bit wonky -- as part of initialization we set it to "rbd" but it is possible to set the application separately.

OTOH initialization requests are more or less idempotent, s

[2021-09-24 13:06] Madhu-1 commented on #2521
@idryomov Thanks for your reply.  till pacific 16.2.7 is released is it good to switch back to octopus release as the issue is in librbd and doesn't exist in octopus? or as suggested earlier documenting it would be good enough?

[2021-09-24 13:18] idryomov commented on #2521
Technically the issue exists in octopus librbd too but it is *much* harder to hit there and rolling back to octopus should fix it.
Up to you -- I still feel that it shouldn't affect that many users and just documenting would be good enough but I could be underestimating it.

[2021-09-24 16:06] Madhu-1 commented on #2535
Closing as ceph PR is merged

[2021-09-24 16:06] #2535 closed, assigned to nobody

[2021-09-24 17:05] isavl commented on #899
I have the same error with ceph-csi and nfs-csi drivers.

[2021-09-24 21:05] #2410 closed, assigned to nobody

[2021-09-26 07:17] byjos commented on #2520
@Rakshith-R ，hello，cephcsi version is ceph-csi-release-v3.1，rbd ls
can be used, but still have the same problem.--Permission denied
![image](https://user-images.githubusercontent.com/25920168/134797757-1a29c4f4-697a-435e-9461-cc77ed4d0f06.png)

[2021-09-26 08:41] Rakshith-R commented on #2520
Hey @byjos , I think it might be related to
https://docs.ceph.com/en/pacific/security/CVE-2021-20288.html

Can you try with cephcsi `v3.2.2` or `v3.3.1` ?

And also make sure you the client id has all the caps mentioned.
https://www.github.com/ceph/ceph-csi/tree/devel/docs%2Fcapabilities.md  .

[2021-09-26 09:59] byjos commented on #2520
Thank you for your reply, “https://docs.ceph.com/en/pacific/security/CVE-2021-20288.html”:I am visiting this URL does not exist.
when I use v3.3.1version,I ran into a problem:
The "apiVersion:use" in the "csidriver.yaml" file has an error when configuring ‘storage.k8s.io/v1‘ or ’storage.k8s.io/v1betav1’
![image](https://user-images.githubusercontent.com/25920168/134802555-6e4e7920-cda6-4db4-9c72-c

[2021-09-26 11:07] Rakshith-R commented on #2520
@byjos
Sorry, try this https://docs.ceph.com/en/latest/security/CVE-2021-20288/

Just change the api version in csidriver.yaml to storge.k8s.io/v1

Try to manually pull  csi external  sidecar container image and resolve error

Can you set it to the following
[code]
https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md#rbd

[2021-09-27 12:18] jsompis commented on #2352
I have same issue.

[2021-09-28 04:55] Madhu-1 commented on #2521
Thanks, @idryomov for your opinion. Much appreciated!. Looks like whoever is trying cephcsi with new pools might hit this issue.

Most of the things are automated like pool creation, PVC creation, etc. As its much harder to hit this in octopus, Instead of documenting am more inclined towards using octopus as the base image for 3.4.1 and switch to the new 16.2.7 in cephcsi 3.4.2

@humblec @nixpanic

[2021-09-28 05:09] Rakshith-R commented on #2521
We cannot use ceph octopus as base image since `deep_copy()` which is required for `thick-provisioning` does not work as expected in ceph octopus.
refer : https://github.com/ceph/ceph-csi/pull/2202
https://github.com/ceph/ceph-csi/pull/2187#issuecomment-870368381

[2021-09-28 05:10] Madhu-1 commented on #2521
:D looks like we have another problem, Do we have any other option left except documentation to make the life easier?

[2021-09-28 06:59] Madhu-1 commented on #2519
@ceph/ceph-csi-contributors any volunteers for analysis/PR to check is it possible especially for daemonset pods?

[2021-09-28 07:08] Madhu-1 commented on #2238
got it. Let me see what can be done here.

[2021-09-28 07:09] Madhu-1 commented on #2438
@humblec anything pending on this one or we can close it?

[2021-09-28 07:13] humblec commented on #2438
This has been addressed in both of the projects ( ceph-csi ) and rook https://github.com/rook/rook/pull/8756 , so closing it.

[2021-09-28 07:13] #2438 closed, assigned to nobody

[2021-09-28 09:22] Madhu-1 commented on #2238
okay am seeing different problem on this one :dagger:

## Create static PVC, PV and pods

[code]
[code]

[code]

## Delete static PVC, PV, and pods

[code]

[code]

[code]

The strange thing here is kubelet is not sending any NodeUnstage Request and i can see the mounts still exists on the node.

[2021-09-28 09:39] Madhu-1 commented on #2238
Kubelet logs
[code]

[2021-09-28 10:33] Madhu-1 commented on #2238
@ikogan this looks more of a kubernetes issue as cephcsi side we do mount/umount operations as requested from the kubelet. the kubelet is not sending any request for cephcsi to UnStage the volume. because of that, the volumes are left stale on the node.

[2021-09-28 12:05] leseb opened #2541 "Expose SCC's through ceph-csi package"
# Describe the feature you'd like to have #

The ceph-csi project is imported by several projects, typically Kubernetes operators.
When running on environments like OpenShift, Security Context Constraints need to be imported for Ceph-CSI to operate normally.
It would be nice if ceph-csi could export its own SCCs through its API (one of the packages). An exported function that returns the minimum S

[2021-09-28 12:16] Madhu-1 commented on #2541
is it only to export SCC or pod/service templates also?

[2021-09-28 12:19] leseb commented on #2541
I'll open a different one for the templates :-)

[2021-09-28 12:24] leseb opened #2542 "Expose templates through ceph-csi package"
# Describe the feature you'd like to have #

Similar to https://github.com/ceph/ceph-csi/issues/2541, it would be nice, to reduce friction and duplication of effort to export the templates (ds, dep, etc) through the ceph-csi package so consumers can easily create the appropriate resources.
For example, we see a lot of back and forth between ceph-csi and rook-ceph to update the template.
Those coul

[2021-09-28 13:24] nixpanic commented on #2528
This is just an error message that is reported while testing, the tests do not fail due to this.

The linked run https://github.com/ceph/ceph-csi/pull/2525/checks?check_run_id=3656180602 causes a failure while compiling tests because of conflicting vendored dependencies (should get addressed with the related PR).

[2021-09-28 13:24] #2528 closed, assigned to nobody

[2021-09-28 17:40] ikogan commented on #2238
@Madhu-1 that's what I was thinking...possibly. Based on my very naive and inexperienced look at the kubelet source code, it's asking the, I think, the CSI driver for the _device_ for the mount in `GetDeviceMountRefs`. If the _device_ is mounted more than once, it will not make the UnStage request because it assumes the device is in use by another volume. In this case, the "device" is a CephFS URI

[2021-09-28 21:04] #2362 closed, assigned to nobody

[2021-09-29 05:50] Madhu-1 commented on #2238
@ikogan NFS driver doesn't implement NodeStage and Unstage API maybe because of that things are working fine. As per the CSI spec, cephcsi is mounting the volume to a stagingPath and in this case, we are getting two stagingPath's (one stagingPath per PVC) as there are two PVC's but a common volume.

[2021-09-29 07:20] nixpanic commented on #2541
Could this easily be used to generate the deployment/Helm yaml files too? That would be ideal!

[2021-09-29 07:23] Madhu-1 commented on #2541
Yes, we need to unmarshal the file and expose that as a function in the cephcsi package. main note here we don't have CI to test the SCC atleast

[2021-09-29 07:35] nixpanic commented on #2541
What I meant is that I hope we can maintain a single location (as a public API) where the SCC (and other templates) are maintained. When these are updated, we would need to run a small tool that takes the templates from the API and generates the files under `charts/` and `deploy/`.

[2021-09-29 07:36] Madhu-1 commented on #2541
Sounds good :+1:

[2021-09-29 07:53] leseb commented on #2541
Yes definitely, I have opened https://github.com/ceph/ceph-csi/issues/2542 separately, we can merge both if you want.

[2021-09-29 14:58] nixpanic commented on #2541
Hmm, I have been looking at this, and considered giving it a try. But there is no reference to `SecurityContextConstraints` or `security.openshift.io` in the Ceph-CSI repository. Where is a SCC for Ceph-CSI maintained now?

[2021-09-29 15:02] leseb commented on #2541
It's maintainers in at least 2 repos:

* in rook here https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator-openshift.yaml#L47-L90
* in https://github.com/red-hat-storage/ocs-operator/blob/main/controllers/ocsinitialization/sccs.go

For ocs-op it will consume the SCCs through Ceph-CSI API. For Rook, we will add this in our build to auto-generate soon, based on the Ceph

[2021-09-29 17:16] mixMugz opened #2547 "Need help with ceph. Today all PVC unmounted and cant be create/mount again."
# Describe the bug #
Today our dev product stop working. All PVC cant mount, new cant create (stay in Pending state)
No any changes in CEPH/Kubernetes clusters.

There is a log from csi-provisioner

[code]

[2021-09-29 17:19] mixMugz commented on #2547
Aditional. Mount from any node with command:

[code]
is success

[2021-09-30 07:36] pkalever commented on #2204
To address this, we have alredy set `io-timeout=0` by default, but as @idryomov rightly mentioned at https://github.com/ceph/ceph-csi/pull/2394#issuecomment-903636068

I'm hoping for kernels without torvalds/linux@2da22da we should use the quiesce on signal mechanism https://github.com/ceph/ceph/pull/42609

cc: @nixpanic @Madhu-1

[2021-09-30 08:28] haslersn commented on #2142
This feature is important to me, too. It is important for implementing https://github.com/vmware-tanzu/velero/issues/3544 in an ideomatic way instead of accessing `.snap`.

[2021-09-30 10:01] Rakshith-R commented on #2547
hey @mixMugz , Can you please add

ceph version:
cephcsi version:
Logs from
- csi-cephfsplugin-provisioner pod -> csi-cephfsplugin container
- csi-cephfsplugin pod(on the nodes with problem) -> csi-cephfsplugin container

Make sure,
- ceph cluster is healthy
- verify ceph fs commands work with the particular id and keys used for cephcsi

And check whether https://docs.ceph.com/en/latest/security/C

[2021-09-30 10:32] mixMugz commented on #2547
Thanks for reply. Tonight it was fixed just changing all images to v3.4.0. Was v3.2.0

[2021-09-30 10:32] #2547 closed, assigned to nobody

[2021-09-30 10:38] Rakshith-R commented on #2506
hey @husseinharake , please feel free to close the issue if your satisfied :)

[2021-09-30 11:34] husseinharake commented on #2506
Hi @Rakshith-R ,

To be honest the situation is not yet sorted, and we are moving to the CSI-RBD solution (min. requirments with RWO access). The problem with the CSI-Cephfs is that the required caps "https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md#cephfs" allows a user to access all Subvolumegroups / subvolumes that breaks the multi tenancy. I believe CSI-Cephfs driver should off

[2021-09-30 11:37] Rakshith-R commented on #2506
@Madhu-1 @nixpanic @humblec any opinions/suggestions on this ?

[2021-09-30 13:03] knfoo commented on #521
I am also very interested in this feature :+1:

[2021-09-30 13:49] nixpanic commented on #2541
@leseb please have a look at the commit at https://github.com/ceph/ceph-csi/pull/2551/commits/6ba498f5cc2b77a04f87e89a9f5a619562c37992 and see if that is what you would like to have.

This is a separate Go module, so that importing it does not pull in the whole Ceph-CSI pieces. It should be possible to keep the API part of Ceph-CSI relatively small and self-contained that way. Other projects that

[2021-09-30 14:21] rsoika opened #2552 "resize RBD static PVC"
I am using RBD static PVCs in my Kubernetes Cluster. Everything works fine so far.

Today I stumbled into the problem that my PV was to small and I resized it in ceph.
But I did not recognized that resizing is not yet supported by the ceph-csi plugin as stated on this page:
https://github.com/ceph/ceph-csi/blob/devel/docs/static-pvc.md

My question is: are there any plans to support this feature.

[2021-09-30 14:26] Madhu-1 commented on #2552
For now, AFAIK you can go and resize the filesystem on the rbdplugin for now.

The fix for this one is
* Check the filesystem created for rbd block device\
* check the size and compare it with the rbd image
* If resize is required do it

and this also might help for allowing PVC-PVC clone to higher size and PVC created from snapshot also.

[2021-09-30 14:57] rsoika commented on #2552
Thanks for your response. When I check the size within my POD I can see that the new size is not assigned to the device.

With '_If resize is required do it_', do you mean I should use the `resize2fs` command?

[2021-09-30 15:12] leseb commented on #2541
Yes it really matches the expectation. Thanks.

[2021-09-30 16:40] nixpanic commented on #2552
Yes, you would need to run `resize2fs` to update the metadata in the ext4 filesystem to reflect the new rbd image size. You can run this command from the csi-rbdplugin container from the daemonset on the node where the rbd image is mapped (and the Pod using the PVC is running).

[2021-09-30 16:44] nixpanic commented on #2017
#2532 makes the tests pass. #2015 can be used to enable fsGroupChangePolicy again (once fixed).

[2021-09-30 16:44] #2017 closed, assigned to nobody

[2021-09-30 16:56] nixpanic commented on #2519
Mounting will still require `CAP_SYSADMIN`, so the DaemonSet Pods can not drop a lot of privileges. The provisioner and other components should not need to run as root.

[2021-09-30 17:46] rsoika commented on #2552
Ok, I found an additional hint [here](https://github.com/rook/rook/issues/3133#issuecomment-501675614) which helps me to understand the procedure.

It seems that my main problem was, that in my Postgres Container I did not set the flag '`securityContext.privileged:true`'

     .....
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: dbdata
          subPath: postgr

[2021-10-01 05:34] Madhu-1 commented on #2519
To  add to above statement we cannot run the daemonset plugin pod with normal users as we need to create/delete the csi socket on the hostPath and the hostPath is created by kubelet with root user and if we try to run the daemonset plugin pod with the normal user the plugin pod will never come up

[code]

[2021-10-01 06:56] nixpanic commented on #2552
Adding the steps to resize a static PV seems reasonable to me. Feel free to send a PR for that :+1:

[2021-10-01 06:58] Madhu-1 commented on #2552
already working on this one, will send a  PR soon

[2021-10-01 09:48] rsoika commented on #2552
I have now tried to develop a king of generic JOB to resize an image. The only thing to specify here is the name of the PVC.

[code]

What did you think about this job?

[2021-10-01 12:29] nixpanic commented on #2541
@leseb, the PR has been updated to reflect what we want to do. There are unit tests that show how to get the SecurityContextConstraints object, by passing a struct that contains keys to replace in a template. If this is an API that Rook still can use easily, we'll continue along this path.

[2021-10-01 14:46] nixpanic commented on #2552
Looks good! You might want to add checking for the filesystem on the device, `resize2fs` will work for ext4, not for xfs or block-mode formats.

But, on the other hand, it is a `ext4-resize2fs` Job :smiley:

[2021-10-01 21:09] #2437 closed, assigned to humblec

[2021-10-03 21:05] #2441 closed, assigned to humblec

[2021-10-03 21:05] #2435 closed, assigned to nobody

[2021-10-04 21:05] #1933 closed, assigned to nobody

[2021-10-05 05:04] yati1998 commented on #2515
@jbpratt are you still facing any issue or is it resolved?

[2021-10-05 08:12] jbpratt commented on #2515
Hi @yati1998, I believe I am, I can try to reproduce it again this afternoon to be sure. I haven't found a fix at least.

[2021-10-06 12:28] pkalever commented on #2432
@Madhu-1 I remember this was your suggestion (comment on some PR review)? If you still remember was it for e2e only or for actual workflow?

If it is for actual workflow, who can check for the preferred kernel version in all the hosts in ceph-csi, is there anything currently in our framework which can help run the `uname -r` command in all the nodes easily and return the output? Can you please pro

[2021-10-06 13:15] #2552 closed, assigned to Madhu-1

[2021-10-06 14:23] nixpanic opened #2558 "rbd: rewrite `updateVolWithImageInfo()` to use go-ceph"
ceph/go-ceph#448 (part of upcoming go-ceph v0.12) adds support for `GetImageMirrorMode()` which can be used to rewrite

https://github.com/ceph/ceph-csi/blob/8ebc0659ab706f1b033876327d2b5c96dc74d9c5/internal/rbd/rbd_util.go#L1478-L1509

Using go-ceph instead of the `rbd` command will reduce the chance on hitting resource limits and running into undefined behaviour.

[2021-10-06 14:29] Rakshith-R commented on #2558
it's already supported in go-ceph v0.11.
https://github.com/ceph/go-ceph/blob/v0.11.0/rbd/mirror.go#L311

[2021-10-07 06:55] nixpanic commented on #2541
#2551 has been merged

[2021-10-07 06:55] #2541 closed, assigned to nixpanic

[2021-10-07 08:02] #2558 closed, assigned to nobody

[2021-10-07 16:29] adamdrozdz opened #2561 "CephFS - extended client information in mds [client_metadata]"
# Environment details #

- Image/version of Ceph CSI driver : v3.4.0
- Kernel version :5.13.12
- Mounter used for mounting PVC (for cephFS its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : cephFS with kernel
- Kubernetes cluster version : 1.20
- Ceph cluster version : 16.2.6

I'm looking for a way to extend the information provided by a client connected to a volume on cephFS. We have se

[2021-10-08 07:32] nixpanic commented on #2561
Not sure why the `pid` would not be listed, maybe because the kernel client is used by default and only the FUSE client provides it? In any case, the `pid` of the client (mount process) does not tell you a lot, it can not be correlated to the actual process that does I/O on the filesystem.

Is there an option for you to take the `root` attribute and match that with the details from the PersistentV

[2021-10-08 08:23] adamdrozdz commented on #2561
OK I understand. I didn't know that this information depends on the mounting method.

yes, this is an option, unfortunately it only works when using separate volumes per pod. In my case, 90% of pods use one static volume in `ROX` mode.
[code]
I also found in client's configuration the option to add [client_metadata](https://docs.ceph.com/en/latest/cephfs/client-config-ref/#confval-client_metadata)

[2021-10-08 10:18] nixpanic commented on #2561
The mounting of the filesystem is done during [`NodeStageVolume`](https://github.com/container-storage-interface/spec/blob/master/spec.md#nodestagevolume):

https://github.com/ceph/ceph-csi/blob/90ecd2d7e84449288529b2884164b612c26b106c/internal/cephfs/nodeserver.go#L77

There is very little data available during that procedure, the Pod for which the mount is done is not known. It seems possible to

[2021-10-08 14:00] #2451 closed, assigned to pkalever

[2021-10-08 21:05] #2469 closed, assigned to nobody

[2021-10-08 21:05] #2467 closed, assigned to nobody

[2021-10-11 10:48] adamdrozdz commented on #2561
Is it possible to tag PVC or PV in a specific way that would allow any of these tags to be passed on?
Maybe you know about any other way to easily identify a client using cephfs? I was thinking about using separate credentials per workload (username is in metadata), but it's a very painful thing to do in a dynamic environment.

[2021-10-11 14:42] ikogan commented on #2238
Looks like this is being talked about on the k8s GitHub here: https://github.com/kubernetes/kubernetes/issues/105323.

[2021-10-11 21:05] #2289 closed, assigned to nobody

[2021-10-11 21:06] #2197 closed, assigned to humblec

[2021-10-12 05:36] Madhu-1 commented on #2238
Yes opened an issue in kubernetes to check Is this expected or not. but looks like no response

[2021-10-13 05:56] Madhu-1 opened #2566 "[RBD] Add E2E testing for EC pool"
EC Feature got added in https://github.com/ceph/ceph-csi/pull/605 we don't have any E2E tests for the same in our framework. This issue is opened to track below E2E testings

* PVC creation/Deletion and binding to the application
* Creation of snapshot and Restore to new PVC
* Creation of PVC-PVC clone
* Encryption testing for an image in EC pool (key in image metadata)

Below are some more testin

[2021-10-13 14:57] nixpanic commented on #2186
go-ceph v0.12.0 has been released and contains API support for this :partying_face:

[2021-10-13 21:06] #2196 closed, assigned to nobody

[2021-10-13 21:06] #2099 closed, assigned to Rakshith-R

[2021-10-14 08:57] byjos opened #2570 "Volume snapshot is always not ready to use"
hello,I installed csi driver followed https://fuckcloudnative.io/posts/kubernetes-storage-using-ceph-rbd/
k8s version：v1.18.8
ceph version：14.2.22
snapshotter version ：2.1
When I create a volumesnapshots,my volumesnapshot is always showing READYTOUSE: false
![image](https://user-images.githubusercontent.com/25920168/137281070-fce1701c-bef7-443c-ba4a-59575408d9a0.png)
If further info can be helpful

[2021-10-14 09:03] Madhu-1 commented on #2570
@byjos please provide the required logs as mentioned in issue template

[2021-10-14 13:51] dren-dk opened #2573 "Creation of RBD PV of existing image with full snapshot/clone/etc. functionality"
# Describe the feature you'd like to have #

I have a number of large RBD images, some created with external provisioner, some by other means, that I'd like to use with ceph-csi, specifically so I can start using the snapshot/clone functionality.

Ideally I would just create a PV with a volumeHandle of my own choosing and the pool and imageName attributes needed to point to the image and have it w

[2021-10-15 11:25] easonboy commented on #904
quay.io/cephcsi/cephcsi    v3.1.0  docker image
There seems to be the same problem，error:= failed to get connection: connecting failed: rados: ret=13, Permission denied. change to image  quay.io/cephcsi/cephcsi:canary  it's ok ,pls help check, thanks!

explain:

[root@master01 ceph-csi]# git branch
* (detached from v3.1.0)
  devel

[root@master01 ceph-csi]#
[root@master01 rbd]# kubectl -n ceph-csi

[2021-10-15 11:48] dren-dk commented on #2573
I have been digging around in the code and experimenting a bit with manually creating a PV, so far it seems to work with a PV that I modified to use a different image than the one ceph-csi created for me.

Generating the volumeHandle wasn't too bad, the prefix can be lifted from an existing PV and the last 36 chars must be the same as pv.spec.csi.volumeAttributes.imageName, which must be the rbd i

[2021-10-18 11:57] easonboy opened #2575 "ceph permsion deny"
quay.io/cephcsi/cephcsi v3.1.0 docker image
There seems to be the same problem，error:= failed to get connection: connecting failed: rados: ret=13, Permission denied. change to image quay.io/cephcsi/cephcsi:canary it's ok ,pls help check, thanks!

explain:

[root@master01 ceph-csi]# git branch

(detached from v3.1.0)
devel
[root@master01 ceph-csi]#
[root@master01 rbd]# kubectl -n ceph-csi describe

[2021-10-18 11:58] #2575 closed, assigned to nobody

[2021-10-18 11:59] easonboy opened #2576 "Can't dynamic create PersistentVolume after PVC created. Operation not permitted #904"
quay.io/cephcsi/cephcsi v3.1.0 docker image
There seems to be the same problem，error:= failed to get connection: connecting failed: rados: ret=13, Permission denied. change to image quay.io/cephcsi/cephcsi:canary it's ok ,pls help check, thanks!

explain:

[root@master01 ceph-csi]# git branch

(detached from v3.1.0)
devel
[root@master01 ceph-csi]#
[root@master01 rbd]# kubectl -n ceph-csi describe

[2021-10-18 12:01] Madhu-1 commented on #2576
3.1.0 is too old and it's not supported anymore. @easonboy have you tried the 3.4.0 image?

[2021-10-18 12:05] easonboy commented on #2576
ok ,i will try 3.4.0 image,thansks!

[2021-10-18 14:19] majacal commented on #2352
@Madhu-1
any update on this ?

[2021-10-18 14:50] Madhu-1 commented on #2352
@Yuggupta27 did you get a chance to look into it?

[2021-10-18 14:57] Yuggupta27 commented on #2352
Will take a look shortly, thanks for the reminder!

[2021-10-18 18:39] bbatha opened #2579 "Cephfs `kubelet_volume_stats_used_bytes` only updates on pod start"
# Describe the bug #

When using cephfs volumes I would like for the `kubelet_volume_stats` metrics especially `kubelet_volume_stats_used_bytes` to update periodically when the pod is running. Currently it only updates when a pod mounting the volume starts. This makes monitoring disk full conditions impossible.

# Environment details #

- Image/version of Ceph CSI driver : 3.4.0
- Helm chart versi

[2021-10-19 04:01] humblec commented on #2579
As a  CSI driver we just return to the RPC call, so the frequency/when ,..etc are controlled outside the CSI driver . Can you please open an issue with Kubernetes and see any enhancements can be done here? @bbatha

[2021-10-19 04:04] bbatha commented on #2579
Apologies if it wasn't clear in my bug report. But you can see in the logs that the VolumeNodeStatus call is made at some interval however the Usage field is only returned by the csi driver on the call immediately following the mount event.

[2021-10-19 04:55] PV-giri opened #2584 "How can i create a new persistent volume with existing subvolumepath ?"
# Describe the bug #

A clear and concise description of what the bug is.

# Environment details #

- Image/version of Ceph CSI driver :
- Helm chart version :
- Kernel version :
- Mounter used for mounting PVC (for cephFS its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :
- Kubernetes cluster version :
- Ceph cluster version :

# Steps to reproduce #

Steps to reproduce the behavior:

1

[2021-10-19 05:05] Madhu-1 commented on #2584
please take a look at CephFS static PVC https://github.com/ceph/ceph-csi/blob/devel/docs/static-pvc.md#cephfs-static-pvc

[2021-10-19 05:46] Madhu-1 commented on #1461
@humblec if you are not working on this one anymore can you please unassign it so someone else can take it up?

[2021-10-19 05:52] Madhu-1 commented on #2573
@dren-dk can you try the below steps if you want a hack to use existing rbd image in place of csi created image

* Delete the csi created image (image name will be available in the PV volume attributes)
* use `rbd rename` command to rename the old image to the new image name

If you do the above steps you should be able to use the non-csi image as a csi image for all operations.

[2021-10-19 06:00] Rakshith-R commented on #2573
++  change `omap key csi.imageid`, you can find it using `rbd info pool/img-name`  (needed for delete operation)
[code]

[2021-10-19 06:11] Madhu-1 commented on #2573
Yes, it is needed to remove the image from the trash, or else the image will be left in the trash and will be removed when the timer expires.

[2021-10-19 06:28] humblec commented on #1461
Have done some experiments here @Madhu-1 , so let me revisit the same. If help is requred, I will reassign

[2021-10-19 06:38] Madhu-1 commented on #1461
yes please, this is pending for a long time. planning to work on this one if there is no draft PR/design yet.

[2021-10-19 07:22] humblec opened #2585 "Add encryption support for RBD volumes with IBM HPCS KMS"
# Describe the feature you'd like to have #

IBM Cloud™ Hyper Protect Crypto Services is a key management and cloud hardware security module (HSM). It is designed to enable a user to take control of their cloud data encryption keys and cloud hardware security models, and is the only service in the industry built on FIPS 140-2 Level 4-certified hardware. The request here is to support this KMS inte

[2021-10-19 07:47] nixpanic commented on #2579
The response on `NodeGetVolumeStats` does seem to miss the `used` field on some calls(`pvc-71c4a7ec-32fa-4a1a-b2e0-95631dd77df1`):
[code]
but it is returned for others (`pvc-c582290f-389b-4071-817f-49286322588f`):
[code]
From the logs, I can not see the relation to the moiunting, it seems that for the 2nd volume the `used` field is returned always.

The [NodeGetVolumeStats](https://github.com/cont

[2021-10-19 07:49] nixpanic commented on #2579
Actually, there is an other separate bug here. The `available` field for inodes (`"unit":2`) may not be `-1`, instead it should be omitted from the response:
[code]

[2021-10-19 08:26] dren-dk commented on #2573
Thank you very much for the image id vs. deletion hints.

If I understand correctly then without the csi.imageid in omap then a delete operation will end up moving the image to trash and leaving it there?

I would personally find the above a more comfortable mode of deletion as I'm perpetually scared of having a fat-fingering moment with Kubernetes nuke the image, so I've always chosen to retain t

[2021-10-19 12:05] nixpanic commented on #2579
@bbatha I have been looking into the code that gets the usage for the volumes, and there is only one explanation that I can think of for the missing `used` field in the NodeGetVolumeStats result. As the attributes are all marked OPTIONAL in the CSI specification, Kubernetes CSI does not include a value for the attributes that are set to `0` (assuming empty, unset). In the case a volume is indeed e

[2021-10-19 16:35] humblec opened #2587 "Add inline volume support for Ceph CSI driver"
# Describe the feature you'd like to have #

Traditionally, volumes that are backed by CSI drivers can only be used with a PersistentVolume and PersistentVolumeClaim object combination. Two different Kubernetes features allow volumes to follow the Pod's lifecycle: CSI ephemeral volumes and generic ephemeral volumes.

In both features, the volumes are specified directly in the pod specification for

[2021-10-19 16:47] humblec commented on #1461
A couple of things to note here, the inline ephemeral volume support has been undergoing  bit heavy changes in upstream  in last kube releases and different modes were introduced in last few kube releases to support this functionality for different scenarios. This feature support is still not GAd. That said, inline ephemeral support is still in `BETA` state upstream kubernetes.

Regardless, these

[2021-10-19 18:49] Raboo commented on #1818
This is still very valid.
I have ceph-csi installed via rook, and using the rook scripts to create the ceph clients

[code]

trying to provision a cephfs subvolumegroup doesn't work using csi-cephfs-provisioner. However if I tell the storageclass to use admin, it works, so something is either missing from these caps or the code does something different when admin is used.

Update: the csi-cephfs-p

[2021-10-20 05:10] Madhu-1 commented on #1461
@humblec Thanks for the design doc. IMO the design doc contains the same or most of the information from https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html does not contain more required implementation details which are required in cephcsi nor the major challenges.

the doc only talks about rbd nothing related to cephfs as the requirement is for the ceph-csi drivers.

I see **3 maj

[2021-10-20 05:11] Madhu-1 commented on #2587
@humblec why have one more tracker as we already have an issue opened for this one? can we close this one and make use of #1461?

[2021-10-20 05:47] humblec commented on #2587
That issue has been filed only for cephfs and this tracker supposed to cover ceph csi driver in general and also kind of umbrella tracker for the feature.  #1461 can be added as a subtracker in that sense.

[2021-10-20 05:53] humblec commented on #1461
These are bit more on the implementation side, not sure it has to be mentioned in the design doc. But I can add those as well in the same if required. As mentioned earlier, please feel free to comment on the design doc in line of any other information you would like to see in the doc, so that I can fill it and continue.

[2021-10-20 05:57] Madhu-1 commented on #1461
IMHO this is a design enhancement/change I would like to see these things in the design doc without these high-level details it's difficult to understand the flow/design to review or to do suggestions. and it's good to open a GitHub PR for the design doc instead of using hackmd for the design and suggestions.

[2021-10-20 07:05] cl51287 commented on #1819
@Madhu-1 I found that the 3.4.0 version contains rbd-nbd volume healer support. Has this problem been solved?

[2021-10-20 07:12] Madhu-1 commented on #1819
@cl51287 yes its is alpha support and it's only for RBD not for CephFS.

[2021-10-20 07:13] humblec commented on #1819
We have introduced a method here to take care of the plugin service restart of user space mounted rbd volumes, so it is worth to experiment with nbd mounter if you are on RBD PVs and wanted to use user space mounter instead of krbd.

[2021-10-20 07:43] cl51287 commented on #1819
@humblec We just want to use rbd, and want to use user space mounted, but our version of kubernetes is still relatively low, and it is estimated that it will not be used for the time being.
How is the problem solved?

[2021-10-20 11:10] Madhu-1 opened #2588 "Add last sync time to ResyncVolumeResponse"
RBD provides the last_updated time in the `rbd mirroring image status` API calls. we need to pass the same to the ResyncVolumesResponse also. This issue is to track the changes required in cephcsi

dependent issues:-

https://github.com/csi-addons/spec/issues/24
https://github.com/csi-addons/volume-replication-operator/issues/121