[2018-01-29 17:00] kfox1111 opened #13 "ceph mon list doc"
The ceph mon list is currently included in every pv created. This can be annoying to fix if you add a new mon and remove an old mon but don't maintain the old ip's.

Feature request: allow specifying a configmap (or crd) instead of a mon list. This document will have the list of mons in it. This will allow much more easily switching mons out as you will only have to go to one place to do so.

[2018-01-29 17:28] rootfs commented on #13
@kfox1111 alternatively, if you have DNS entries for your mon hosts, you can use the hostnames
also see https://github.com/kubernetes-incubator/external-storage/pull/537

[2018-01-29 18:03] kfox1111 commented on #13
That does help. But wouldn't address scaling a mon cluster from 3 to 5 for example.

[2018-01-31 17:18] sbezverk commented on #13
@kfox1111 if you use a single dns name entry for your monitors, would it not do round-robin between ip addresses of your monitors  as a result helping in scaling?

[2018-01-31 17:43] kfox1111 commented on #13
I have never seen a ceph.conf configured in that way before. No idea if it would work or not. Typically though I've seen ceph used in environments so low level and detached that dns isn't used at all for it. Like, your dns infra might be hosted out of ceph, so you don't use it to configure ceph.

[2018-01-31 17:47] sbezverk commented on #13
@kfox1111 good point about dns, there is a definitely assumption (right or wrong not sure) that there is dns service available.

[2018-02-01 16:17] kfox1111 commented on #13
With it in its own crd, it would be easy to make a little ceph watcher deployment that asks ceph what its current mons are and keeps the crd up to date.

[2018-02-01 17:19] sbezverk commented on #13
@kfox1111 if you can formulate a more detailed proposal, I would be happy to work with you to program it.

[2018-02-06 16:55] sbezverk commented on #13
@kfox1111 @rootfs Please correct me if I ma wrong, but I think all these problems (need for ceph cluster specific info) will go away if we build native rbd-go api library. In this case things like monitors and other ceph cluster specific info will not be needed. All a client would need is api endpoint and credentials.
If you agree that this approach is more efficient, then maybe we do not need dns

[2018-02-06 17:24] kfox1111 commented on #13
still gotta feed the rbd-go library a mon list I believe?

[2018-02-06 18:20] sbezverk commented on #13
@kfox1111 I am not sure, what I find strange is that I do not see user credentials being passed in API calls, it seems API server uses credentials which it was started with to run client's request. I hope I am missing something.

[2018-02-06 18:50] dillaman commented on #13
rbd-go depends upon rados-go -- so you would provide all those details to the rados-go API prior to attempting the connection. I think the rados-go API needs a little bit of extra fleshing out in order to cleanly provide the monitor IP list and keyring, but you technically should be able to do that w/ the existing API via ```SetConfigOption``` prior to issuing a ```Connect```

[2018-02-06 18:53] dillaman commented on #13
... the monitors can be set via ```mon_host``` config option [1] and the key can be set via the ```key``` config option [2].

[1] https://github.com/ceph/ceph/blob/v12.2.2/src/common/options.cc#L192
[2] https://github.com/ceph/ceph/blob/v12.2.2/src/common/options.cc#L538

[2018-02-20 17:15] dillaman opened #26 "[RFE] separate node attach/detach/get device behind interface"
By default krbd would be utilized, but it would be great if we could quickly and easily provide NBD and TCMU-based drivers if the node is configured to utilize something besides krbd.

[2018-02-20 17:23] rootfs commented on #26
+1
current rbd_util.go is extracted from kubernetes source. Will make an interface for rbd-nbd and tcmu drivers.

[2018-04-24 03:10] arm64b opened #32 "cannot find package "github.com/gman0/ceph-csi/pkg/cephfs""
When trying to get the `ceph-csi` source code with below command:
`# go get -d github.com/ceph/ceph-csi/...`
The output is:
[code]
Then I try to use `go get github.com/gman0/ceph-csi/pkg/cephfs` to get the `gman0 cephfs`, but the command still complains that:
[code]

Any idea?

[2018-04-24 08:07] gman0 commented on #32
I've submitted a PR https://github.com/ceph/ceph-csi/pull/33 that fixes this issue. For the time being, you should now be able to do a build without waiting for the merge of that PR - I've updated the master branch on the original repo, sorry for the inconvenience!

[2018-04-24 08:29] arm64b commented on #32
Thanks @gman0  for the quick response 😃 I will try it soon...

[2018-04-24 09:00] arm64b opened #34 "rbdplugin container image build failed"
With below command to build the `rbdplugin` container, it generates below error:
[code]

[2018-04-26 03:12] arm64b commented on #32
fixed, so close it.

[2018-04-26 03:12] #32 closed

[2018-06-13 07:18] malc0lm opened #40 "rbd: csi-provisioner can't create pv automatically after create pvc."
csi-provisioner logs:

I0613 06:18:36.347071       1 controller.go:836] provisionClaimOperation [default/rbd-pvc] started, class: "csi-rbd"
I0613 06:18:36.350852       1 controller.go:84] GRPC call: /csi.v0.Identity/GetPluginCapabilities
I0613 06:18:36.350874       1 controller.go:85] GRPC request:
I0613 06:18:36.355318       1 controller.go:87] GRPC response: capabilities:<service:<> >
I0613 06:1

[2018-06-19 07:09] #40 closed

[2018-07-10 16:39] mkimuram opened #44 "Cephfs plugin should return false to ValidateVolumeCapabilities if Block volume is specified"
Cephfs doesn't have a feature to provide Block Volume, therefore it should return ```false``` to ```ValidateVolumeCapabilities``` if Block Volume is specified.

[2018-07-10 16:57] #44 closed

[2018-07-19 15:25] mkimuram opened #46 "Docker image for cephfsplugin should be public"
Cephfsplugin should be able to be pulled from public repository.

Currently, below command fails and only rbdplugin seems visible in https://quay.io/organization/cephcsi .
```# docker pull quay.io/cephcsi/cephfsplugin```

This is required to make cephfsplugin run in k8s e2e testing https://github.com/kubernetes/kubernetes/issues/66388.

[2018-07-19 15:33] gman0 opened #47 "Move to CSI 0.3.0"
I already have some code ready, hopefully should be finished by the end of the next week.

[2018-07-19 15:39] mkimuram opened #48 "PV deletion of cephfsplugin on PVC deletion fails"
If a PV is dynamic-provisioned and has delete reclaim-policy, it should be deleted when PVC for it is deleted. However, the deletion fails with the following error messages, when tested with kubernetes/kubernetes#66388.

[Error messages in cephfsplugin]
[code]

[2018-07-19 17:14] rootfs commented on #46
It should be `quay.io/cephcsi/cephfsplugin:v0.2.0` but I just realized the repo was not there yet. I created it and the image should be pushed there by Travis CI when next PR (hopefully from @gman0) is merged

[2018-07-19 17:35] rootfs commented on #48
this is the problem
[code]

At the time the user is to be deleted, the volume should have already be deleted, confirming the credential and cluster are working.

@mkimuram what ceph cluster you are using? could you please get the ceph mon logs and see if there is any message about deleting user?

@gman0 have you seen this error before?

[2018-07-19 18:08] gman0 commented on #48
@rootfs no. Indeed, ceph logs could help.

[2018-07-19 18:19] rootfs commented on #46
@mkimuram it is there now (thanks to CI)
[code]

[2018-07-19 18:21] #46 closed

[2018-07-19 18:22] mkimuram commented on #46
@rootfs Thank you for quickly handling this! I also confirmed that this issue is resolved.

[2018-07-19 18:41] mkimuram commented on #48
@gman0 @rootfs

I'm using ceph docker image used in e2e testing.
(Created by using https://github.com/kubernetes/kubernetes/tree/master/test/images/volumes-tester/rbd .)

Logs are extracted below way. Please check it.
[ceph_logs.txt](https://github.com/ceph/ceph-csi/files/2211247/ceph_logs.txt)

[code]

[2018-07-19 19:40] rootfs commented on #48
there is no `auth rm` in `ceph-audit.log`, last msgs are:
[code]

[2018-07-19 19:41] rootfs commented on #48
@mkimuram can you post the relevant e2e test console messages too? I wonder if the ceph cluster was (in the process of) teardown before the PV was deleted in the background.

[2018-07-19 19:46] rootfs commented on #48
@mkimuram this is what message i would look for to ensure the PV is deleted before the cluster is teared down.
https://github.com/mkimuram/kubernetes/blob/b461cb7acad0a0912fda198b8df46cd5ae452f0a/test/e2e/storage/volume_provisioning.go#L166

[2018-07-19 20:30] mkimuram commented on #48
@rootfs

I run e2e test again with saving console log([e2e-console.txt](https://github.com/ceph/ceph-csi/files/2211546/e2e-console.txt)) and wait until "Waiting up to 20m0s for PersistentVolume pvc-xxx to get deleted" message shows up.
After that, I got the logs ([all_logs.txt](https://github.com/ceph/ceph-csi/files/2211544/all_logs.txt)) with the below script.

However, I still can't find ```auth

[2018-07-19 21:23] rootfs commented on #48
right, the timeline matches: in CSI logs, delete volume happened before cluster was teared down.

[2018-07-19 23:01] mkimuram commented on #48
Sharing logs with debug messages:
[all_logs5.txt](https://github.com/ceph/ceph-csi/files/2211890/all_logs5.txt)
[e2e-console5.txt](https://github.com/ceph/ceph-csi/files/2211891/e2e-console5.txt)

[2018-07-23 19:44] rootfs commented on #48
This is what happened.

The e2e test just creates/deletes volume, it doesn't publish the volume, thus the volume is never mounted during the test.

However, the cephfs controller service doesn't create the user; the node service creates it [here](https://github.com/ceph/ceph-csi/blob/master/pkg/cephfs/nodeserver.go#L157). So by the time volume is to be deleted by controller service, the user doesn

[2018-07-25 09:04] gman0 commented on #48
@rootfs very nice find, thanks! I'll move
this to NodeStageVolume/NodeUnstageVolume.

[2018-07-27 16:40] gman0 commented on #47
@rootfs Ok, I've tested both RBD and CephFS in my 1-VM Ceph cluster so hopefully this should be ready for review. I'll be gradually pushing four PRs to make it easier to track and review:
- PR 1: vendor update to CSI 0.3.0
- PR 2: makefile, manifests, examples, docs
- PR 3: csi-cephfs 0.3.0
- PR 4: csi-rbd 0.3.0 (this is just a version bump for now)

[2018-07-30 03:34] nak3 opened #53 "[RFE] cephfs: storageclass should create and assign different pool or subpath for each pvc"
Current behavior of storageclass for cephfs is same with static
PV. Even if we create different PVCs, storageclass always assigns same
pool and same path like static PV.

I think that ceph-csi should create specific directory based on UUID
of PVC like [external-storage](https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/cephfs)'s `/<"claimRoot" in StorageClass>/kubernetes/ku

[2018-07-30 11:46] gman0 commented on #53
Ok so how it's done now is for each `CreateVolume` request, a new directory is created in `/csi-volumes/<Generated UUID>` on Ceph's filesystem. I agree that the `/csi-volumes` part could be configurable. As for PVC UUIDs, those can't be accessed from inside CSI.

[2018-07-30 12:35] gman0 commented on #53
@nak3 Yes, exactly as you said :) `provisionVolume: false` will use an existing CephFS volume (this requires `rootPath` parameter with an absolute path to the volume), `provisionVolume: true` creates a new volume.

[2018-07-30 15:37] gman0 commented on #53
If you don't have any further questions I'll close this ticket now.

[2018-07-30 15:37] #53 closed

[2018-07-31 06:55] nak3 opened #54 "cephfs: Scaling up fails if mount directory contains some files"
### description

When target directory for cephfs has some files, ceph-fuse fails to mount without `nonempty` option. Therefore, scaling up pods also fails once the volume contained files.

### steps to reproduce

#### 1. Run one pod with with fuse mount

[code]

#### 2. make a file under the mounted volume in the

[code]

#### 3. scale up the pod

[code]

### Result

- Failed to mount the volume:

[2018-07-31 06:58] nak3 commented on #54
Just FYI, same error could be produced by local command.

[code]

[2018-07-31 13:03] gman0 commented on #47
Just FYI, here is the branch with all the prepared changes (i.e. the upcoming 4 PRs together): https://github.com/gman0/ceph-csi/tree/v0.3.0

[2018-08-06 07:51] clkao opened #58 "shadow MountPropagation doesn't seem to work"
`deploy/cephfs/kubernetes/cephfsplugin.yaml` has `/var/lib/kubelet/pods` enabled with `mountPropagation: "Bidirectional"`, however it seems `plugin-dir` is also required to have `mountPropogation` enabled, for the CSI to work properly and the mounts to be visible outside the plugin container.

As the `csi-cephfsplugin` conatiner first mounts under `plugin-dir` and then bind-mount to `pods-mount-di

[2018-08-07 14:20] clkao opened #60 "Provisioner is kernel ceph only"
If a storage class has `provisionVolume: true`, the provisioner fails on nodes without kernel ceph support, since `createVolume` has mountKernel hardcoded.  Does it make sense to use the mounter specified by volOptions.Mounter?

[2018-08-07 15:27] rootfs commented on #60
good point!

in the long run, i would like to see a cephfs fuse mounter and use it for provisioner

@gman0

[2018-08-07 17:44] gman0 commented on #60
Thanks for the suggestion, this will get in as a post-0.3.0, meaning the beginning of the next week if everything goes smoothly.

[2018-08-07 18:14] #54 closed

[2018-08-08 14:03] #48 closed

[2018-08-08 15:28] clkao opened #63 "ceph fuse admin socket path too long"
in csi-cephfsplugin /var/log/ceph/, there are error messages because the per-volume user we created (client.csie-user-$id) is of very long name.  However the mount seems to be working.  Does the broken adminsocket have any negative impact?

`AdminSocketConfigObs::init: failed: AdminSocket::bind_and_listen: The UNIX domain socket path /var/run/ceph/ceph.share.8ad1c60a-9a28-11e8-93d6-fe356a4c2823-cl

[2018-08-08 15:36] clkao opened #64 "Spurious logs about non-systemd OS"
in csi-cephfsplugin log, every mount tries to detect systemd.

[code]

This seems to be caused by `isMountPoint` check that calls `mount.New("").IsLikelyNotMountPoint(p)`

[2018-08-08 15:47] #64 closed

[2018-08-09 08:17] gman0 opened #66 "Consider options for persisting metadata"
Currently, both RBD and CephFS CSI plugins suffer from relying on metadata stored locally on nodes - this will cause problems if e.g. the node goes down and the plugin gets relocated, losing the persisted state. This issue is intended to open a discussion and weigh the options to solve this problem.

[2018-08-09 13:52] gman0 commented on #47
https://github.com/ceph/ceph-csi/pull/61 concluded the upgrade to 0.3.0, I'm closing this issue. Thanks.

[2018-08-09 13:52] #47 closed

[2018-08-10 14:58] clkao commented on #66
What are the current metadata stored that are supposed to be persistent and are not node-specific, for rbd and cephfs, respectively?  from the linked PR the rbd snapshot info seems to be one of them.

[2018-08-10 15:09] gman0 commented on #66
Yes, snapshot info and both rbd and cephfs CSI plugins store volume attributes.

[2018-08-10 16:06] clkao commented on #64
Can we somehow make it do the detection just once by caching mount.New("") ?

[2018-08-10 16:37] mkimuram opened #67 "[csi-rbd] Mount volume fails when PVC is reused to second pod after first pod is deleted"
When csi-rbd is used, e2e test for ```testDynamicProvisioning``` with setting ```skipWriteReadCheck``` to ```false``` fails with below messages:

- Console log for e2e test with ```--ginkgo.focus=".*csi rbd.*"```
[code]

- Events for the pod with error at that time
[code]

It seems that second ```runInPodWithVolume``` run to read the volume contents fails to launch pod,
because it fails to mount t

[2018-08-10 16:42] mkimuram opened #68 "[csi-cephfs] Mount volume fails with failed to find stage secret"
When csi-cephfs is used, e2e test for ```testDynamicProvisioning``` with setting ```skipWriteReadCheck``` to ```false``` fails with below messages:

- Console log for e2e test with --ginkgo.focus=".*csi cephfs.*"
[code]

[code]

It seems that first ```runInPodWithVolume``` run to write volume contents fails to launch pod,
because it fails to mount the volume in finding stage secret. Therefore the

[2018-08-10 16:48] rootfs commented on #67
@mkimuram thanks for testing, anything in kubelet that can help us diagnose what was going on with rbd mount?

[2018-08-13 07:50] gman0 commented on #34
Fixed in #35

[2018-08-13 07:50] #34 closed

[2018-08-13 09:39] gman0 commented on #68
I've left some comments in the referenced issue, should be ok once those are fixed - at least regarding secrets.

[2018-08-14 09:57] gman0 commented on #63
Thanks for the info and no, this has no real effect on the driver's functionality - the admin socket is not used anywhere ATM.

Closing

[2018-08-14 09:57] #63 closed

[2018-08-14 14:59] #60 closed

[2018-08-16 13:06] gman0 commented on #66
I'm playing around with having etcd as a metadata store. Is it ok to have it as a dependency @rootfs ?

[2018-08-16 13:25] dillaman commented on #66
Note that RBD allows you to associate arbitrary key/value pairs to images via "rbd image-meta get/set".

[2018-08-16 13:42] rootfs commented on #66
@gman0 i would like a cli option to persist meta data in kubernetes api server (e.g. as a configmap). This option can disable meta data persist if the driver runs in mesos.

@dillaman thanks for help. this case is a bit tricky since we want to persist both rbd as well as ceph cluster meta data.

[2018-08-17 01:57] sngchlko opened #70 "[csi-rbd] detach cloned images from snapshots"
If rbd snapshots have child cloned images, we can't remove the snapshots because of protecting the snapshots. We can use `rbd flatten` for detaching cloned images from snapshots or we can consider using RBD clone v2 feature with later versions of Mimic as well.
The short-term plan would be using `rbd flatten` for detaching cloned images from snapshots.

[2018-08-21 17:46] mkimuram commented on #67
Attaching logs that is tested with https://github.com/kubernetes/kubernetes/pull/67088/commits/ca0888362c40a2da2039f6c3a5ecbdbbd6d8c2a2

[e2e_rbd_console.txt](https://github.com/ceph/ceph-csi/files/2307412/e2e_rbd_console.txt)
[e2e_rbd_all_log.txt](https://github.com/ceph/ceph-csi/files/2307413/e2e_rbd_all_log.txt)

[2018-08-21 17:47] mkimuram commented on #68
Attaching  logs that is tested with kubernetes/kubernetes@ca08883

[e2e_ceph_console.txt](https://github.com/ceph/ceph-csi/files/2307417/e2e_ceph_console.txt)
[e2e_ceph_all_log.txt](https://github.com/ceph/ceph-csi/files/2307418/e2e_ceph_all_log.txt)

[2018-08-28 21:47] mkimuram commented on #67
@gman0 @rootfs

Is my understanding right that csi rbd plugin also requires csiNodePublishSecretName and csiNodePublishSecretNamespace?

After I looked into the logs a bit more, I found that it fails to get nodePublishSecret from request, but the request doesn't have the one. I tried adding these parameters, then it seemed that the key error disappeared, although there was still another error.

[C

[2018-08-28 23:08] mkimuram commented on #67
Oh, I checked the document again and it is well described there. I was confused with cephfs configuration.

[2018-08-29 05:24] krmayankk opened #72 "Store additional metadata about RBD Image owner(PVC name) in RBD Image"
implement the following proposal for csi-rbd and in core kubernetes for rbd provisioner

https://github.com/kubernetes/community/pull/1790/files

I wrote this proposal and was interested in working on this , but since we are no longer using RBD,  i do not have time to work on this. Putting this here so that someone can take it from here.

[2018-08-29 15:05] mkimuram commented on #67
@rootfs @gman0

After I modified rbd driver to specify csiNodePublishSecretName and csiNodePublishSecretNamespace,
I got below error. Please see log files attached for details. Could you check it?

[e2e_rbd_console20180829.txt](https://github.com/kubernetes/kubernetes/files/2332624/e2e_rbd_console20180829.txt)
[e2e_rbd_all_log20180829.txt](https://github.com/kubernetes/kubernetes/files/2332626/e2e

[2018-08-29 15:12] mkimuram commented on #68
@rootfs @gman0

As for ceph, I saw below error in cephfs-driver. It seems that NodeStageVolume fails in creating ceph user.
Could you check what is wrong?

[code]

[2018-08-29 17:29] gman0 commented on #67
@mkimuram Well just from looking at the output from the driver it looks like the `NodePublishVolume` succeeded. All those error messages are just k8s' `mount` being too verbose (the same applies for those `systemd-run` errors), see the code in here https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L460
1. try to mount
2. fails => tries to get filesystem
3. fails as

[2018-08-29 20:39] mkimuram commented on #67
@gman0

Thank you for your comment.

Yes, the first pod was deleted. Let me explain a little be more in detail.

As seen in the code, dynamic provisioning test for [```skipWriteReadCheck=false``` case](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/volume_provisioning.go#L138),
calls [```runInPodWithVolume```](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/sto

[2018-09-07 15:08] gman0 commented on #68
@mkimuram could you please retry with the latest revision?

[2018-09-10 16:53] mkimuram commented on #68
@gman0

I tried with latest cephfsplugin image and got below error.

It seems that ```createCephUser``` called from ```CreateVolume``` fails. Any thoughts?
https://github.com/ceph/ceph-csi/commit/3c111291493105ba738e10f21ee498616d173d6e#diff-01fa60bfd1cb775a41dbe64df314fa3cR79

[code]

[2018-09-10 18:41] mkimuram opened #73 "driver-registrar needs configurations to handle kubelet-plugin-watcher"
kubelet-plugin-watcher became beta by [the commit](https://github.com/kubernetes/kubernetes/pull/68200/), so driver-registrar needs configurations to handle kubelet-plugin-watcher, as described in [kubelet-plugin-watcher](https://kubernetes-csi.github.io/docs/print.html#kubelet-plugin-watcher)

Therefore, below two files needs to be updated:

- [deploy/cephfs/kubernetes/csi-cephfsplugin.yaml](http

[2018-09-10 21:34] mkimuram commented on #68
@gman0 @rootfs

I manually reproduced this issue and found out that below commands populate below logs.

[Commands]
[code]
[Logs]
[code]
Does it mean that below issue is related to this behavior?

[Issue]
http://tracker.ceph.com/issues/21027

If so, should we update ceph and ceph-fuse package in [rbd server image](https://github.com/kubernetes/kubernetes/blob/master/test/images/volume/rbd/Dockerfi

[2018-09-11 11:59] #73 closed

[2018-09-11 13:50] gman0 commented on #68
@mkimuram I tried to deploy the image you've linked locally + deployed the same image that's used for csi-cephfs and manually set up the ceph conf + keyring the same way csi-cephfs is doing it. The problem seems to be in the authentication parameters of the Ceph cluster.

csi-cephfs requires cephx for authentication, but the cluster doesn't have cephx enabled:

https://github.com/kubernetes/kubern

[2018-09-11 13:52] gman0 commented on #68
Here's what's csi-cephfs doing:

https://github.com/ceph/ceph-csi/blob/c2b69d30e0912af305f960e8e925e117fc96d063/pkg/cephfs/cephconf.go#L28-L30

[2018-09-11 16:35] gman0 commented on #68
@mkimuram as a precaution I'd suggest having either a separate `images/volume/cephfs` image with cephx enabled, or have cephx optional (e.g. via an environment variable) so that this change won't break existing tests that rely on cephx being disabled.

[2018-09-11 20:54] mkimuram commented on #68
@gman0

With below change in rbd server image, this issue seems to be resolved.
I will continue further tests and check if this change won't break existing tests.

Meanwhile, could you review below change?
Especially, I would like you to check mds.sh. Without this change, below error appears. So, I added two lines before ceph-mds command. (I checked http://docs.ceph.com/docs/mimic/rados/configurat

[2018-09-13 18:33] kfox1111 commented on #26
Any updates on this?

[2018-09-17 13:46] rootfs commented on #26
yes, it is being worked on, see https://github.com/rook/rook/pull/2059

[2018-09-18 14:48] #26 closed

[2018-09-18 15:31] dillaman commented on #26
@rootfs will do

[2018-10-02 11:28] pohly opened #80 "doc: adminid and userid not documented"
`examples/rbd/storageclass.yaml` contains these settings:
[code]

Those are not mentioned under https://github.com/ceph/ceph-csi/blob/master/docs/deploy-rbd.md#configuration. Are both users needed?

I found the entire "Required secrets"  section a bit confusing:
- `the value is its password` - is that really called `password` in Ceph? I think this refers to the base64 encoded `key` that is stored

[2018-10-02 11:39] pohly commented on #80
Nope, looks like I didn't populate my secret correctly. The external-provisioner is sent binary data for the secrets and then complains (these are disposable secrets, so I can log them as they are):
[code]

[2018-10-02 11:48] pohly commented on #80
I got provisioning working by storing the string from the keyring (for example, `AQCXUrNbpl4XChAAfw781qFBSwXagarbYvFcCg==`) encoded once more with base64 in the secret (`QVFDWFVyTmJwbDRYQ2hBQWZ3NzgxcUZCU3dYYWdhcmJZdkZjQ2c9PQo=`).

[2018-10-02 14:59] pohly commented on #80
Another pitfall was that `--kubelet-registration-path` mode for the `driver-registrar` in https://github.com/ceph/ceph-csi/blob/master/deploy/rbd/kubernetes/csi-rbdplugin.yaml only works when the kubelet supports registration, which apparently wasn't the case on my 1.11 cluster. https://github.com/kubernetes-csi/docs/pull/55/files is open and will have more information about this requirement.

I g

[2018-10-02 15:07] rootfs commented on #80
that `/etc/ceph.conf` message is benign, rbd gets all config from cli options, not from ceph.conf

can you check if id `kubernetes` has access to rbd pool? `ceph auth ls` output will help

[2018-10-02 15:10] rootfs commented on #80
btw, k8s 1.11 has feature gate against driver probe, while 1.12 turns on the feature by default.

[2018-10-02 15:27] pohly commented on #80
`ceph auth ls` shows that there is an entry for `kubernetes`:
[code]

According to my understanding of http://docs.ceph.com/docs/mimic/rbd/rados-rbd-cmds/#create-a-block-device-user, that should grant read/write access to the pool, right?

So `admin` is used for provisioning and `kubernetes` for publishing?

[2018-10-02 15:32] dillaman commented on #80
@pohly Is that a typo on your ```pool=rdb```?

[2018-10-02 15:37] pohly commented on #80
@dillaman that's copied straight from the `ceph auth ls` output, so no, not a typo. The example from http://docs.ceph.com/docs/mimic/rbd/rados-rbd-cmds/#create-a-block-device-user also uses `profile rbd pool=vms`. Is that wrong?

[2018-10-02 15:39] pohly commented on #80
Here's the command I used for creating the user:
[code]

[2018-10-02 15:40] dillaman commented on #80
@pohly Your RBD pool is really named "rdb" and not "rbd"?

[2018-10-02 15:40] pohly commented on #80
@dillaman Ooops! You are right of course. Thanks for spotting this.

[2018-10-04 16:28] pohly opened #81 "deploy/rbd/kubernetes: service definitions unnecessary?"
Why do `deploy/rbd/kubernetes/csi-rbdplugin-attacher.yaml` and `deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml` contain `Service` definitions?

Even if there is a reason for them, I'd prefer to have them in separate files, because then admins can decide whether they want them and/or create/delete them independently.

[2018-10-04 16:36] gman0 commented on #81
Please see the paragraph about the headless service requirement at https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#limitations

[2018-10-04 16:50] pohly commented on #81
You probably mean that, right? The way I read this is that "if you need a network identity, then you must create a Service". But for provisioner and attacher we don't need any network identity, do we?

Let me rephrase: what breaks if the Services get removed from the .yaml files?

[2018-10-04 17:03] rootfs commented on #81
@pohly this is a requirement/limitation

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/#statefulset-v1-apps
[code]

[2018-10-04 17:03] #81 closed

[2018-10-04 18:34] pohly commented on #81
I asked on the wg-csi Slack channel and Michelle confirmed that the Service isn't needed. She provided these two examples:
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/deploy/kubernetes/stable/controller.yaml
https://github.com/kubernetes-sigs/gcp-filestore-csi-driver/blob/master/deploy/kubernetes/manifests/controller.yaml

Can we reopen this issue? I can t

[2018-10-04 18:57] rootfs commented on #81
Thanks getting the feedback, I cannot speak for GCP's case but before we have a definitive answer from upstream k8s sig, I prefer keeping them here. The headless service doesn't consume networking resources. But this is surely confusing. Would you please opening a doc PR and get this limitation into details?

[2018-10-04 19:47] pohly commented on #81
With doc PR, do you mean against https://github.com/kubernetes/kubernetes/tree/master/docs? I'm not sure at the moment where the source code for the two quotes above is.

[2018-10-04 20:09] rootfs commented on #81
let's do it here
https://github.com/ceph/ceph-csi/blob/master/docs/deploy-rbd.md

[2018-10-05 18:36] rootfs commented on #80
@mkimuram has a k8s e2e PR using rbd csi driver

[2018-10-05 19:56] mkimuram commented on #80
Please see https://github.com/kubernetes/kubernetes/pull/67088

[2018-10-08 08:13] pohly opened #82 "rbd: deleting volumes not idempotent?"
Creating a volume worked fine. But the initial `DeleteVolume` operation times out in the provisioner while the rbd driver was still working on the deletion, then things went south: external-provisioner kept issuing `DeleteVolume` calls for the same volume, which keep failing because the `.json` file had already been removed. It looks to me like this later `DeleteVolume` call then should succeed. H

[2018-10-08 14:02] rootfs commented on #82
I see in the delete log:
`
rbdplugin: I1008 08:05:16.470638       1 controllerserver.go:163] deleting volume pvc-59a6fe14cad011e8
...
provisioner: I1008 08:05:26.470676       1 controller.go:107] GRPC error: rpc error: code = DeadlineExceeded desc = context deadline exceeded
provisioner: E1008 08:05:26.470695       1 controller.go:1138] Deletion of volume "pvc-59a6fe14cad011e8" failed: rpc error:

[2018-10-08 14:59] pohly commented on #82
@rootfs: I agree with your analysis. To make the call idempotent, it would have to return success when the volume info cannot be loaded.

But I am still worried that this local .json file is needed at all. Do you agree that this can only work across cluster and node restarts if the provisioner always runs on the same host? Any plans to address this?

[2018-10-08 15:01] gman0 commented on #82
@pohly we already have an issue for this https://github.com/ceph/ceph-csi/issues/66

[2018-10-08 15:06] rootfs commented on #82
@pohly
agree, local json is persistent and won't be crash resistent.
as discussed with @gman0 , for kubernetes use case, we should consider a more robust cluster level storage for meta info. A configmap is a way to go for that.

@pohly if you are volunteering for #66, that'll be a great contribution, thanks.

[2018-10-08 17:35] pohly commented on #81
@rootfs I don't know whether this is what you wanted, but I've opened PR #83 to remove the Service definitions. I can confirm that provisioning and attaching works fine this way.

[2018-10-09 15:04] #82 closed

[2018-10-10 10:04] pohly opened #85 "minimum size of an rbd image"
When I created a small test PVC with `1Mi` as size, that was rounded down to size 0:

[code]

[code]

Obviously the resulting `/dev/rbd0` then was unusable ;-}

Is there a minimum size?

[2018-10-10 13:36] pohly opened #86 "rbd NodeUnpublishVolume: does not detach"
I'm running on a Kubernetes 1.11 cluster, Linux kernel

While running the E2E test (= create PVC, use it first in one pod, then another) I noticed that the second pod got stuck in NodePublishVolume because the image was still in use (= had watchers) by the node on which the first pod ran.

After adding a bit more debug output I traced it down to:
[code]

In my case, `cnt` is 1 in that if check and

[2018-10-10 15:03] rootfs commented on #86
`if cnt != 0` then there is another mount point for this rbd device and mostly likely used by other pods. In such case, we cannot detach the device (that'll cause data loss). Only when the last mount point removed, we can safely detach it.

do you see what is the other mountpoint when cnt > 0?

[2018-10-10 15:11] rootfs commented on #85
this is a bug here https://github.com/ceph/ceph-csi/blob/master/pkg/rbd/controllerserver.go#L100

PR welcome!

[2018-10-10 16:14] pohly commented on #86
Huamin Chen <notifications@github.com> writes:

What can lead to this situation, and what is the plan to recover from
this if it happens?

There is none. "mount | grep rbd" shows nothing and "lsblk" also
confirms that the device isn't mounted.

[2018-10-10 17:02] rootfs commented on #86
can you add a debug message around here to print out the target path and device when there is a refcount?
https://github.com/ceph/ceph-csi/blob/master/vendor/k8s.io/kubernetes/pkg/util/mount/mount.go#L239

[2018-10-10 17:06] rootfs commented on #86
is that just an e2e problem or do you see the same issue on manual test? i couldn't reproduce it on my test locally

[2018-10-10 17:16] pohly commented on #86
Huamin Chen <notifications@github.com> writes:

Yes. See the note in the description. That was manual, but wasn't a
problem when using only a single node. Have you ensured that the pods
get to run on different nodes?

[2018-10-11 06:34] pohly commented on #86
Here's the debug output from `GetDeviceNameFromMount`:
[code]

It's basically the same mount, just appearing under different paths inside the container because both `host` and `pods-mount-dir` bind-mound the same directory: https://github.com/ceph/ceph-csi/blob/e761d69ce87e48df85eee644e8d106f50fef730d/deploy/rbd/kubernetes/csi-rbdplugin.yaml#L65-L72

I'm still not sure whether it works for you. Ha

[2018-10-11 12:10] rootfs commented on #86
how did you run your kubelet? inside a container?

[2018-10-11 12:47] rootfs commented on #86
in any case, the code is buggy to me as the following:

# mounter
the mounter shouldn't be a blindly `mount.New("")` [here](https://github.com/ceph/ceph-csi/blob/e761d69ce87e48df85eee644e8d106f50fef730d/pkg/rbd/nodeserver.go#L99)

kubelet starts up in [a more robust way](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L354) as the following
[code]

# host path
the ho

[2018-10-11 14:31] pohly commented on #86
Huamin Chen <notifications@github.com> writes:

No, inside a VM. The cluster itself gets brought up with kubeadm.

[2018-10-11 14:57] pohly commented on #86
Huamin Chen <notifications@github.com> writes:

[code]

Does your deployment have the `host` volume? It's not obvious to me why
that is needed.

[2018-10-12 15:56] Cynerva opened #87 "csi-rbdplugin FailedMount with fsType: xfs"
I have a StorageClass with `fsType: xfs`. When I create a PVC and a pod to use it, the pod gets a FailedMount event with `executable file not found in $PATH`:

[code]

The error originates from the csi-rbdplugin container:
[code]

Looks like it tries to mount it, fails because it is not formatted yet, tries to format it, then fails because a required executable is missing.

My best guess is that i

[2018-10-12 16:31] Cynerva commented on #87
After running `yum install xfsprogs` in the csi-rbdplugin container, the format succeeded and the pod came up.

[2018-10-12 17:22] #87 closed

[2018-10-17 06:41] huaizong opened #91 "when csi-plugin need exit and restart for upgrade or painc, pod will recive error msg that 'Transport endpoint is not connected',"
when csi-plugin exit and restart for upgrade or painc, pod will recive  error msg that 'Transport endpoint is not connected', is cephfs-csi plan to support remount history mounted path when
csi-plugin start

[code]

[2018-10-17 09:48] gman0 commented on #91
Please attach the plugin logs.

[2018-10-17 10:32] pohly commented on #86
I know, a bit late, but I can also confirm that this fixed the issue :-) Any chance of publishing a new version? Or has the v0.3.0 image been updated?

I'm still wondering whether it wouldn't be better to use NodeStageVolume.

[2018-10-17 11:59] rootfs commented on #86
yes, new container image is published, please try it out, thanks!

[2018-10-17 13:08] pohly opened #93 "rbdplugin: provision seperately from node controller"
I'd like to deploy the rbdplugin a bit differently: instead of running it on each node, I want to handle provisioning in one pod that has external-provisioner+external-attacher+rbdplugin. Then rbdplugin can get deployed as NodeServer only on those nodes which are supposed to use it, or not at all (for example, when only testing provisioning).

This kind of deployment is currently possible, but cou

[2018-10-18 06:14] huaizong commented on #91
what i mean is that may be ceph-csi need a feature that can mounted history mounted path,

[2018-10-18 12:57] rootfs commented on #91
mountpath is given by kubelet. if the pod is deleted, the mountpoint will be gone too.

[2018-10-20 07:43] huaizong commented on #91
if we need upgrade ceph-csi now, we need to taint all node all drain all pod that used ceph-csi plugin ,  so if the ceph-csi plugin support  remount last mounted path,  may be ceph-csi plugin can support rolling update

[2018-10-26 13:13] pohly opened #94 "protect against concurrent gRPC calls"
gRPC executes each method call in its own goroutine. Therefore access to global data structures must be protected against concurrent access and long-running operations (like volume provisioning) must ensure that the same operation doesn't get triggered twice.

[2018-10-26 13:14] pohly commented on #94
https://github.com/ceph/ceph-csi/pull/92 tries to solve some of this, but probably won't be complete, hence this issue.

[2018-10-26 15:10] pohly opened #95 "simplify volume and snapshot ID"
The following comment isn't correct, as confirmed by the CSI developers on Slack:
[code]
https://github.com/ceph/ceph-csi/blob/188cdd1d683dbfcca7c376112c2216fd77b78339/pkg/rbd/controllerserver.go#L85-L90

The spec says they MAY be different, not MUST.

Perhaps simplify the code by using the volume name also as ID?

The same probably applies to snapshots.

[2018-10-26 15:54] gman0 commented on #95
[RPC Interactions](https://github.com/container-storage-interface/spec/blob/master/spec.md#rpc-interactions):

Maybe I'm misunderstanding (this line is indeed a bit confusing) but it really does sound like they are supposed to be different.

[2018-10-29 11:52] pohly opened #96 "new release"
Can a new release of ceph-csi be released? Looks like master has accumulated a good number of fixes (PR #92, PR #84, PR #89) and features (PR #79), so perhaps a 0.4 is justified or even required (0.3 is not working for me)?

[2018-10-29 12:58] rootfs commented on #96
we need some release engineering here :)
currently the release tag is tied up to the csi spec, we need a branching mechanism instead.

[2018-10-29 12:59] rootfs commented on #96
btw, merged code is always built into the container image.

[2018-10-29 13:49] pohly commented on #96
Huamin Chen <notifications@github.com> writes:

Right, I had forgotten that v0.3.0 gets continuously updated. Good, so I
can already use a prebuild image :-)

Or bad, depending on how you look at it - it would be better to tag
releases and then build images for each fixed release.

[2018-10-29 23:41] kfox1111 commented on #66
Is this just for snapshotting, or are other uses also affected?

[2018-11-06 23:24] CompileNix opened #98 "Can't get example working: GRPC error: <nil>"
I was following the readme from `examples/README.md`.
The problem happens after `kubectl create -f pvc.yaml`
The Persistent Volume Claim `rbd-pvc` hangs in the `pending` state.

I noticed that the csi-rbdplugin-provisioner and csi-rbdplugin-attacher pod are not able to reach anything in the cluster, local network or internet but the csi-rbdplugin pod can reach the k8s dns server, all ceph mon's an

[2018-11-07 20:58] compilenix commented on #98
the network problem was on my end and had nothing to do with ceph-csi.

it's still not working and the logs are looking the same as uploaded.

[2018-11-07 21:08] rootfs commented on #98
at least the ceph keyring doesn't look right to me in the provisioner log, there was an extra trailing `\n`
`AQDi4QVa4oKkKRAAjNMW7IzhwfqSDFWyW2jaxQ==\n`

Please recreate the secret with
`echo -n AQDi4QVa4oKkKRAAjNMW7IzhwfqSDFWyW2jaxQ==|base64`

[2018-11-07 21:10] rootfs commented on #98
please also attach the driver log from container csi-rbdplugin here https://github.com/ceph/ceph-csi/blob/master/deploy/rbd/kubernetes/csi-rbdplugin.yaml#L41

[2018-11-07 22:06] compilenix commented on #98
Thanks, i've recreated the secret, this part looks fine now.
A pvc can't be created, yet.

Here are the current logs:
[logs-from-csi-provisioner-in-csi-rbdplugin-provisioner-0(1).txt](https://github.com/ceph/ceph-csi/files/2559398/logs-from-csi-provisioner-in-csi-rbdplugin-provisioner-0.1.txt)
[logs-from-csi-rbdplugin-attacher-in-csi-rbdplugin-attacher-0(1).txt](https://github.com/ceph/ceph-csi/fi

[2018-11-08 13:45] rootfs commented on #98
this is where rbd got stuck,
[code]

can you check on your rbd driver container, if
`rbd status --pool test -m pve2.wbig-wg.net:6789,pve3.wbig-wg.net:6789,pve6.wbig-wg.net:6789 --id kubernetes --key=AQAWDeJbnPREOhAASSyoGW8YmZPM49ct5AQlvQ== pvc-6fa0d2c1e2d811e8` works?

[2018-11-08 14:02] compilenix commented on #98
[code]

and

[code]

[2018-11-08 14:07] compilenix commented on #98
I also tried the following:
[code]

the output is the same and the command does hang / not complete.

[2018-11-08 14:16] compilenix commented on #98
Ahh i found that the ceph monitor does listen on a seperate ip address and not to any address (as i assumed). the cli test from the container works now.

i'll try this by updating the config that the pod's use and report here again.

[2018-11-08 14:25] #98 closed, assigned to nobody

[2018-11-08 14:33] rootfs commented on #98
cool!

[2018-11-11 21:01] compilenix opened #99 "cephfs volume creation error: setfattr: Operation not supported on k8s node"
I'm hoping you can help me with that, though it seems not directly a cause of ceph-csi
 itself.

attr's in general are supported and enabled by the filesystem (EXT4) on the node (tried with `setfattr -n user.foo -v bar foobar`).
I've tried the setfattr command on the node and within the container. It does not work on either of those.

The k8s node is running on a `Ubuntu 18.04.1 LTS`

Container (`

[2018-11-11 21:40] gman0 commented on #99
I don't think that's related, and the plugin defaults to the FUSE driver anyway. Could you please attach `/etc/ceph/ceph.conf` from the Ceph cluster?

[2018-11-11 21:54] compilenix commented on #99
[code]

[2018-11-14 12:11] Electronn commented on #80
WOW . You save a lot of my time. We need to base64 encode one more time our ceph client user key.

[2018-11-14 14:06] gman0 commented on #99
@rootfs could you please have a look?

[2018-11-14 15:40] rootfs commented on #99
@compilenix it looks `setfattr` is missing in your container?

[2018-11-14 15:46] gman0 commented on #99
@rootfs well the provisioner doesn't need setfattr anyway so I don't think that's the issue here, rather that the plugin is complaining about `Operation not supported` when setting the attributes, even though the mount with ceph-fuse was successful.

[2018-11-14 16:29] rootfs commented on #99
setfattr is called here in provisioner
https://github.com/ceph/ceph-csi/blob/master/pkg/cephfs/volume.go#L84

the error message is
[code]

@compilenix what is your ceph release?  @batrick any idea why setfattr failed with operation not supported on cephfs quota?

[2018-11-14 19:31] compilenix commented on #99
I have Ceph on Debian 9 (12.2.8 -> luminous)

[2018-11-14 19:41] compilenix commented on #99
Correct setfattr is not installed in the provisioner container / image.

I've installed it manually to see if it makes any difference, using `apk add attr`. But the behavior and logs doesn't look differnent.

[2018-11-14 19:58] gman0 commented on #99
`external-provisioner` sidecar-container does not need these utilities

[2018-11-14 21:01] rootfs commented on #99
@compilenix can you turn on mds logging and post the mds log?

[2018-11-15 00:00] kfox1111 commented on #80
We got this working, but have a question. I don't see anywhere in the code, where it actually needs a full blown cluster admin credential as opposed to just a credential that has access just to the pool the provisioner will be creating images in. We'd much rather give it the more restricted account if possible as we have multiple clusters targeting the same ceph. Is this safe? This is a config sim

[2018-11-15 06:39] gman0 commented on #99
@compilenix and also please could you try mounting the volume manually with `ceph-fuse -d` in the plugin container?

After you get that error, check the logs to see the mount command and just copy-paste that along with the `-d` flag like so:
logs:
[code]
so the command would be:
[code]
and also try `ls`-ing the mount point to see if ceph-fuse is not exiting silently. Thanks!

[2018-11-15 07:43] compilenix commented on #99
the file `/etc/ceph/ceph.share.csi-cephfs-1bd3d4bc-e5f2-11e8-b5a7-c60474a907dc.conf` did not exist anymore, but there are plenty similar named files so i used `ceph.share.csi-cephfs-ffb93536-e5f8-11e8-91f0-c60474a907dc.conf`.

the `ceph-fuse -d` seems to work:
[code]

the mds log level was set to 3 during this command:
[code]

using `mount` in the plugin container in a seperate shell i can see tha

[2018-11-15 13:16] rootfs commented on #80
@kfox1111 that makes sense. the `admin` credentials only needs to have caps to create images. If you have multiple clusters and want to restrict admin accounts, you have a per pool admin (refer to [this doc](http://docs.ceph.com/docs/mimic/rados/operations/user-management/) and use that pool admin instead of ceph `admin` to provision images.

[2018-11-15 14:04] rootfs commented on #99
@compilenix can you setfattr on that directory?

`setfattr -n ceph.quota.max_bytes -v 5000000 mnt/csi-volumes/csi-cephfs-ffb93536-e5f8-11e8-91f0-c60474a907dc/`

[2018-11-15 14:21] compilenix commented on #99
No.

[code]

mds log at this time:
[code]

[2018-11-15 14:59] rootfs commented on #99
@jcsp @batrick can you take a look? thanks

[2018-11-15 18:17] kfox1111 commented on #80
so you would use the same account for user and admin, or would the user account be further restricted?

[2018-11-16 00:53] kfox1111 commented on #80
@rootfs ok, thanks.

@pohly thats very interesting. Thanks for the link. :)

[2018-11-19 20:03] batrick commented on #99
So the problem only occurs with the kernel client? What version of the kernel is being used? Kernel quota management is not supported until Mimic and 4.17 kernel: http://docs.ceph.com/docs/master/cephfs/kernel-features/

[2018-11-19 21:47] compilenix commented on #99
No, the problem occurs with the fuse client.
I suspected this [earlier](https://github.com/ceph/ceph-csi/issues/99#issuecomment-437706615), too.

The kernel is at version 4.15.0 (Ubuntu 18.04).

Is there a option not to define a quota, this would work for me just fine?

[2018-11-20 14:47] rootfs commented on #99
let's see if #100 fixes this issue

[2018-11-20 14:57] rootfs commented on #99
@compilenix I merged #100, please try the new cephfs plugin image

[2018-11-20 15:34] rootfs commented on #91
yes, drain the node before update. It is not the best solution but gives you some protection

[2018-11-20 15:46] compilenix commented on #99
I've used this image url: quay.io/cephcsi/cephfsplugin:v0.3.0

Sure, i've updated the yml files (see attached, i've excluded the rbac config) to include `imagePullPolicy: Always`.

[csi-cephfsplugin.txt](https://github.com/ceph/ceph-csi/files/2600445/csi-cephfsplugin.txt)
[csi-cephfsplugin-attacher.txt](https://github.com/ceph/ceph-csi/files/2600446/csi-cephfsplugin-attacher.txt)
[csi-cephfsplugin

[2018-11-22 10:17] JrCs commented on #66
Also if snapshotter container is not start in the same node as provisionner container, trying to create a snapshot result in: Source Volume ID csi-xxx-xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx cannot found cannot found

[2018-11-22 10:21] JrCs opened #101 "Add support for rbd volume resizing"
Can you add support for rbd volume resizing ?
See https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/

[2018-11-23 16:18] mickymiek commented on #66
Made a [PR](https://github.com/ceph/ceph-csi/pull/102) to address this issue (still WIP), please give me your feedbacks :)

[2018-11-26 13:05] rootfs commented on #101
that has to wait till kubernetes csi volume plugin supports expandable volume, something like [this](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/rbd/rbd.go#L62)

[2018-11-29 20:59] gman0 commented on #99
@rootfs:

This was not an issue before, the kernel client would just ignore the quota

[2018-11-29 21:00] gman0 commented on #99
@compilenix @rootfs  I tried to reproduce this issue with Ceph Luminous cluster (it's 12.2.4 but regardless) and it's indeed successfully failing with the aforementioned error message. There seems to be an incompatibility between Ceph Luminous cluster and Ceph Mimic FUSE driver when setting attributes. It's also worth noting that the kernel client does _not_ exhibit this issue and works as expecte

[2018-11-29 21:56] gman0 commented on #80
Regarding the need of encoding the keys in base64: that's more of just a quirk in Kubernetes where users creating Secret objects manually with `kubectl create` need to pass the values encoded in base64 (for example, they wouldn't have to do this extra step with `--from-literal`). It's all documented in the [official Kubernetes docs for Secrets](https://kubernetes.io/docs/concepts/configuration/sec

[2018-11-30 11:04] compilenix commented on #99
@gman0 which OS and kernel version did you use?

[2018-11-30 21:53] gman0 commented on #99
@compilenix I've used [ceph-container](https://github.com/ceph/ceph-container), tested on hosts:

[code]

and

[code]

[2018-12-07 22:16] abrden commented on #101
CSI seems to be supporting volume expansion now:
https://github.com/container-storage-interface/spec/blob/master/spec.md#controllerexpandvolume
https://github.com/container-storage-interface/spec/blob/master/spec.md#nodeexpandvolume
Is anything else needed on the k8s side in order to implement this feature?

[2018-12-08 09:46] gman0 commented on #101
@abrden yes, something (external-provisioner) needs to implement the controller for expansion.

[2018-12-10 21:25] mcronce opened #109 "[cephfs] Volume mounts with subpaths are failing to mount"
This might be specific to `csi-v1.0` - there seems to be a race condition or simply something wrong with the order of operations involved with bind mounting the globalmount's subdirectory into the pod tree - the device providing the subvolume mounts ends up being whatever device is providing the root of `/var/lib/kubelet`.

I'm troubleshooting it to see what's wrong now, will hopefully have a fix

[2018-12-13 17:28] #109 closed, assigned to nobody

[2018-12-17 08:22] zhucan opened #112 "I think this is an issue specific to that plugin because it stores volume info in a file when the workload node shutdown"

[2019-01-06 18:10] kfox1111 commented on #96
+1. I didn't realize v0.3.0 image was rebuilt. so I could have version skew on my clusters...

[2019-01-07 14:09] rootfs commented on #112
being addressed by #113

[2019-01-07 14:09] #112 closed

[2019-01-08 11:14] pohly opened #115 "RBAC rules for configmaps"
When https://github.com/ceph/ceph-csi/pull/113 was merged, the https://github.com/ceph/ceph-csi/blob/master/deploy/rbd/kubernetes/csi-nodeplugin-rbac.yaml file wasn't updated.

I've not tried it with exactly that file, but in a custom deployment the result was that RBAC prevented updating the config map.

I had to add something like this:
[code]

I suspect that the set of verbs could be smaller, b

[2019-01-08 14:51] gman0 commented on #115
Ah yes, absolutely, thanks for noticing this! @mickymiek could you please fix those RBACs?

[2019-01-08 17:14] #115 closed

[2019-01-09 10:50] zhucan opened #117 "when delete pod, the "mount path" is Residue"
when delete pod，there is no action to remove the "mount point" ；when create pod，make a "mount point"

[2019-01-09 14:54] UrbanWizardry opened #119 "Breaking metadatastorage change in quay.io/cephcsi/cephfsplugin:v0.3.0"
A change has been made in `master` concerning the following files:

deploy/cephfs/kubernetes/csi-cephfsplugin.yaml: 52
`     - "--metadatastorage=k8s_configmap"`

pkg/util/cachepersister.go: 38:52
[code]

`cachepersister.go` now explicitly requires the --metadatastorage flag to be passed in.

However, the Docker image build has been updated with the new code, but the tag has *remained* v0.3.0. Thi

[2019-01-09 15:05] rootfs commented on #119
fixing in progress...

[2019-01-09 15:18] #119 closed

[2019-01-10 18:19] rootfs commented on #117
can you be more specific and provide test results?

[2019-01-16 13:37] mickymiek commented on #66
@gman0 I think this can be closed?

[2019-01-16 13:40] gman0 commented on #66
Done, closing.

[2019-01-16 13:40] #66 closed

[2019-01-17 13:05] Madhu-1 opened #134 "Remove logging secrets from provisioner pod"
Logs
`
I0117 13:01:49.310886       1 controller.go:122] GRPC request: name:"pvc-07c76cb3-1a58-11e9-92a2-525400592e74" capacity_range:<required_bytes:5368709120 > volume_capabilities:<mount:<fs_type:"ext4" > access_mode:<mode:MULTI_NODE_MULTI_WRITER > > parameters:<key:"csiNodeStageSecretName" value:"csi-cephfs-secret" > parameters:<key:"csiNodeStageSecretNamespace" value:"default" > parameters:<ke

[2019-01-17 13:30] rootfs commented on #134
i am using csi-v1.0 branch, secret is stripped there

[code]

[2019-01-17 13:33] Madhu-1 commented on #134
even am using the using csi-v1.0 `quay.io/k8scsi/csi-provisioner:v1.0.0`

[2019-01-17 19:16] abrden opened #135 "What is the advantage of maintaining the rbdVolumes map?"
Hi all, I've read the conversation on #66 and the cm fix but I still don't understand the advantage of having maps like `rbdVolumes` and `rbdSnapshots`.
For example, the `rbdVolumes` map is used just 2 times:
* On `CreateVolume` to check if the given volume name already exist, could't the same thing be done with a call to `rbd info` or `rbd status`?
* On `CreateSnapshot` seems to be used to retrie

[2019-01-17 19:51] rootfs commented on #135
When calling `rbd info` or `rbd status`, we have to supply mon/pool/user. But such info is not in CSI volume handle. So we have to persistent volume map, which includes meta info such as mon/pool/user. This is crucial when the compute node on which provisioners runs is down.

[2019-01-18 13:57] abrden commented on #135
But both `CreateVolumeRequest` and `CreateSnapshotRequest` have a `parameters` map that includes that info (mon/pool/user), right? Why not use it from there?

[2019-01-18 21:35] abrden commented on #135
Ohh, I see that `DeleteVolumeRequest` does not have that info.
Another question then, I don't see the map getting updated between nodes on runtime (besides from the call to `LoadExDataFromMetadataStore` in the initialization). If a volume gets created on node A and a snapshot for that volume is requested on node B, how does B have the vol info on it's map?

[2019-01-19 13:01] rootfs commented on #135
vol info should be retrieved from configmaps if not in local cache

[2019-01-21 16:00] rootfs opened #138 "Switch driver-registrar canary image to other releases"
currently csi-v1.0 uses `quay.io/k8scsi/driver-registrar:canary`, since there is no 1.0 image yet.

Create an issue to track upstream release and make a switch once 1.0 tag is there.

[2019-01-21 16:03] Madhu-1 commented on #138
@rootfs any idea when we will be switching to node-driver-registrar and cluster-driver-registrar as driver-registrar is deprecated?

[2019-01-21 17:13] rootfs commented on #138
@Madhu-1 make a PR :)

[2019-01-22 17:59] Madhu-1 opened #140 "ceph-fuse command hangs"
logs from one of the plugin pod

[code]

I think https://github.com/ceph/ceph-csi/blob/07dbea766e6b9b3fad48d0ccef9ead73fdd3f09a/pkg/cephfs/util.go#L44 `cmd.CombinedOutput()`  can hang and cause this issue.

[2019-01-22 18:31] Madhu-1 commented on #140
this is the log of `ps -ef |grep ceph-fuse` from plugin container. due to the hang state mutliple ceph-fuse for same PVC

[2019-01-22 18:33] lelvisl opened #141 "Kubelet can't mount pvc to pod"
I try to create yours demo pvc and pod.

In Kubelet logs I see `MountVolume.MountDevice succeeded` and after `kubernetes.io/csi: mounter.SetupAt failed: rpc error: code = DeadlineExceeded desc = context deadline exceeded`

[code]

[code]

[2019-01-22 18:39] gman0 commented on #140
It should've exited after the error you were getting (I'm guessing this is related to https://github.com/ceph/ceph-csi/pull/133 ?) . We could add a timeout for such cases when we encounter a run-away process like this one.

[2019-01-22 18:42] Madhu-1 commented on #140
yes, it's better to add a timeout to avoid this situation.

[2019-01-22 18:45] Madhu-1 commented on #140
this is the error message am getting on provisioner pod
[code]

[2019-01-22 18:49] gman0 commented on #140
Would you happen to have cephfsplugin's logs as well?

[2019-01-22 19:03] Madhu-1 commented on #140
no specific error log in plugin pod

[code]

but we i manually ran
[code]
then it got hang

[2019-01-22 19:22] rootfs commented on #141
please post csi-rbdplugin container logs, kubernetes versions, csi driver image version

[2019-01-22 19:48] gman0 commented on #140
Ok well, what I wanted to see in the logs is whether any of the`CreateVolume` calls got through, or if it just hangs on mount all together right from the start - if that's the case, I'd look somewhere else for the cause of this problem. Either way, the plugin has to synchronize with the exec and must block until the process finishes.

[2019-01-22 21:01] lelvisl commented on #141
rbdplugin logs from node with pod

[code]
[code]

---
full log:
[code]

[2019-01-22 21:17] lelvisl commented on #141
k8s v1.13.2, csi v0.3.0

[2019-01-22 21:19] lelvisl commented on #141
In   csi-rbdplugin I see
[code]
is it correct?

[2019-01-22 21:38] lelvisl commented on #141
[code]

[code]

[code]

[code]

[2019-01-23 02:20] rootfs commented on #141
@lelvisl try csi-v1.0 image for kubernetes 1.13

https://github.com/ceph/ceph-csi/blob/csi-v1.0/deploy/rbd/kubernetes/csi-rbdplugin.yaml#L47

[2019-01-23 20:37] kfox1111 opened #143 "static manifests from helm chart"
Currently we have two different implementations of the driver plumbing. The helm chart and the static manifests. They can and do get out of sync. We could generate the static manifests as part of the release process by running 'helm template' on the chart. Then there would only be one set of templates to update for both use cases.

[2019-01-25 00:09] oaudry opened #144 "Snapshot issue"
hello

following the documentation everything was fine until testing snapshots.

[code]
here my snapshotclass.yaml
[code]
the pods are running

[code]
I got the pvc
[code]

but the snapshot fail :

[code]

On my ceph cluster I got the volume

[code]

but no snapshot
[code]

version :
[code]
and feature gates is activated :
[code]

I someone got some time to give me my some help. Many thx.

[2019-01-25 04:43] mcronce commented on #143
+1

[2019-01-25 11:47] Madhu-1 commented on #144
@oaudry as you are testing with kube1.13.2 why can't you try `CSI-v1.0` images  https://github.com/ceph/ceph-csi/tree/csi-v1.0/deploy/rbd/kubernetes

[2019-01-25 12:11] Madhu-1 commented on #144
@rootfs why snapshot yaml files are not added to CSI-v1.0? any specific reason?

[2019-01-25 12:50] oaudry commented on #144
I will try. I'm installing a brand new on premise k8s platform and have the capability to snapshot the database is mandatory for going further with k8s.

[2019-01-25 13:24] Madhu-1 opened #146 "failed to create snapshot"
HI able to see volume snapshot on the backend but its failing in the external snapshotter because of the timestamp issue.

[code]

logs from external snapshotter
[code]

this is because of the code https://github.com/ceph/ceph-csi/blob/csi-v1.0/pkg/rbd/controllerserver.go#L328

sample failed code snippet
[code]

external snapshotter does timestamp to unix time conversion at https://github.com/kube

[2019-01-25 14:03] Madhu-1 opened #148 "add snapshot yaml files to CSI-v1.0"
@rootfs am working on adding the snapshot yaml files to CSI-v1.0 branch

[2019-01-25 14:03] oaudry commented on #144
Hello

on kube 1.13.2 I successfully deployed ceph-csi v1.0. I can create pvc and attach it to a pod. But I also deployed external-snapshotter-1.0.1 and I got the same previous error when creating the snapshot.

[code]

Here the files I used for the external-snapshotter-1.0.1

the rbac file without any modifications : https://github.com/kubernetes-csi/external-snapshotter/blob/master/deploy/kubern

[2019-01-25 14:08] Madhu-1 commented on #144
Just now i fixed an issue with snapshot,i guess you need to wait for new images

[2019-01-25 14:09] Madhu-1 commented on #144
Please attach complete logs from external snapshoter i will help us to debug

[2019-01-25 14:13] oaudry commented on #144
[code]

uhm uhm

[2019-01-25 14:15] gman0 commented on #146
Closed via #147

[2019-01-25 14:15] #146 closed

[2019-01-25 14:17] oaudry commented on #144
can you share your statefullset ?

[2019-01-25 14:48] oaudry commented on #144
For any reason the socket dir mounted in the snapshotter pod does not respond.

On the node :

[code]

socat can connect

On the pod:

[code]

[2019-01-25 16:39] Madhu-1 commented on #144
@oaudry socket path is `unix://var/lib/kubelet/plugins/csi-rbdplugin/csi.sock` can you try once?

[2019-01-25 17:05] oaudry commented on #144
Ok. So. You right. This is not the correct path. BUT. The correct path is unix://var/lib/kubelet/plugins_registry/csi-rbdplugin/csi.sock. Is that the path created by the pods csi-rbdplugin witch are using image quay.io/k8scsi/driver-registrar:canary  and  quay.io/cephcsi/rbdplugin:v1.0.0.

With this setup the snapshot is almost working. I found the bug with timestamp you fix. BUT the snapshot is c

[2019-01-25 19:51] oaudry commented on #144
yes ! many thx

[2019-01-25 19:51] #144 closed

[2019-01-28 21:38] kfox1111 commented on #143
Question. should we just have it upload the generated objects somewhere on release, like at https://github.com/ceph/ceph-csi/releases and remove the static version from git entirely, or should we try and get a hook to have it happen at contribute time back to git? @rootfs

[2019-01-29 08:35] Madhu-1 commented on #148
Fixed in #149

[2019-01-29 08:35] #148 closed

[2019-01-29 08:36] Madhu-1 commented on #138
@rootfs can we close this one?

[2019-01-29 12:33] #138 closed

[2019-01-31 05:07] kindule opened #153 "Why not implement NodeStageVolume/NodeUnstageVolume?"
Hi, all

I've read the code of [ceph-csi/pkg/rbd/nodeserver.go](https://github.com/ceph/ceph-csi/blob/master/pkg/rbd/nodeserver.go). And wonder why NodeStageVolume/NodeUnstageVolume not implemented. In my opinion, NodeStageVolume is responsible for mkfs/mount rbd to global path of the node and NodeUnstageVolume is responsible for umount rbd from global path of the node, which currently is the part

[2019-01-31 12:20] rootfs commented on #153
sure, PR is always welcome 👍

[2019-01-31 16:32] rootfs opened #154 "add .mergify.yml"
@leseb can you help make megify work? thanks.

[2019-01-31 16:35] leseb commented on #154
Yup!

What do you need? How many approvals for a merge?

[2019-01-31 16:42] rootfs commented on #141
closing now, @lelvisl if you hit the issue with csi-v1.0 image, feel free to reopen the issue

[2019-01-31 16:42] #141 closed

[2019-01-31 16:43] rootfs commented on #140
@Madhu-1 still have the problem?

[2019-01-31 16:43] lelvisl commented on #141
Yes, with v1.0 all works well. Thx!

[2019-01-31 17:13] #154 closed

[2019-02-01 04:03] Madhu-1 commented on #140
@rootfs yes still I have this error.

[2019-02-01 14:07] gman0 commented on #135
If I'm not mistaken, such situation shouldn't occur because both the provisioner and snapshotter are deployed within the same pod: https://github.com/ceph/ceph-csi/blob/832e0bb5915dcb5941ba870c910d69e6f4cb81d9/deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml#L41

[2019-02-04 08:26] Madhu-1 opened #157 "Failed to delete RBD pvc"
logs from provisioner

[code]

logs from rbd plugin
[code]

i think this is the issue with `quay.io/k8scsi/csi-provisioner:canary`

@rootfs @gman0 ^^

[2019-02-04 08:32] Madhu-1 commented on #157
@rootfs any idea why we are using the canary tag. what I know was canary is a testing image, don't we need to stick to the stable versions of sidecar containers?

[2019-02-04 09:02] Madhu-1 opened #159 "update deprecated storage class parameters"
`
W0204 06:33:37.729784       1 controller.go:810] "csiProvisionerSecretName" is deprecated and will be removed in a future release, please use "csi.storage.k8s.io/provisioner-secret-name" instead
W0204 06:33:37.729794       1 controller.go:815] "csiProvisionerSecretNamespace" is deprecated and will be removed in a future release, please use "csi.storage.k8s.io/provisioner-secret-namespace" instea

[2019-02-04 14:00] rootfs commented on #157
there is a rbac issue:
[code]

[2019-02-04 14:02] Madhu-1 commented on #157
@rootfs everything worked fine after updating sidecar containers to v1.0.1

[2019-02-04 14:40] rollandf opened #163 "Restore from snapshot"
Hi,

I am trying to test the snapshot feature with RBD.
I am working with kubeadm, with k8s version 1.13.

Everything is fine while following the examples.
However, creating a PVC from a snapshot is not working from me.
The PVC is in pending state and I could not see anything in the logs.

Here is the yaml I tried:
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vol-from-snap
spec:

[2019-02-04 14:48] rootfs commented on #163
can you post logs from rbd provisioner, snapshotter and plugin containers?

[2019-02-04 15:21] rollandf commented on #163
Here are the logs:

https://gist.github.com/rollandf/c00fade2ab8fb1af30f86ec66bd3d363

Tell if I missed something

[2019-02-04 15:53] rootfs commented on #163
I see, you are using 0.3 images.

For k8s 1.13+, you need csi-v1.0 images
https://github.com/ceph/ceph-csi/tree/csi-v1.0/deploy/rbd/kubernetes

[2019-02-05 08:09] rollandf commented on #163
Thanks for updating the documentation, I will try with csi-v1.0 images.
Closing this issue.

[2019-02-05 08:09] #163 closed

[2019-02-05 08:16] rollandf opened #164 "Missing doc about snapshots in CSI-v1.0 branch"
Missing doc and snapshotter yaml files in CSI-v1.0 branch in examples directory.

[2019-02-05 08:18] Madhu-1 commented on #164
@rollandf we have yaml files for snapshot https://github.com/ceph/ceph-csi/blob/csi-v1.0/examples/rbd/snapshot.yaml

[2019-02-05 09:00] rollandf commented on #164
I can do it if you want

[2019-02-05 09:00] Madhu-1 commented on #164
@rollandf sure PR's are most welcome :)

[2019-02-05 12:24] denitol opened #165 "After reboot host, FailedMount PersistentVolumeClaim (CSI)"
After rebooting host, my POD doesn't mount PVC

I saw, logs:
`rpc error: code = DeadlineExceeded desc = context deadline exceeded`

and logs docker:
`kubernetes.io/csi: mounter.SetupAt failed: rpc error: code = DeadlineExceeded desc = context deadline exceeded`

Helps, service docker restart

[2019-02-05 14:02] rootfs commented on #165
can you post the rbd (or cephfs) plugin logs?

[2019-02-05 14:18] rollandf opened #167 "[csi-rbd] Pod with block volume PVC fails to start: "CSIBlockVolume feature not enabled""
**Describe the bug**
Creating a pod with Blockvolume PVC fails with:
Warning  FailedMapVolume         28s (x11967 over 20m)  kubelet, ishaby2.tlv.redhat.com  MapVolume.NewBlockVolumeMapper initialization failed for volume "pvc-52e08ebd-294b-11e9-8e0f-b8ca3aad030b" : CSIBlockVolume feature not enabled

**Kubernetes and Ceph CSI Versions**
Kubernetes: 1.13
csi-v1.0
**Ceph CSI Driver logs**

https://

[2019-02-05 14:19] rollandf commented on #167
the feature-gate used: VolumeSnapshotDataSource=true,CSIBlockVolume=true

ps output:
kube-apiserver --authorization-mode=Node,RBAC --feature-gates=VolumeSnapshotDataSource=true,CSIBlockVolume=true --advertise-address=10.35.0.11 --allow-privileged=true --client-ca-file=/etc/kubernetes/pki/ca.crt --enable-admission-plugins=NodeRestriction --enable-bootstrap-token-auth=true --etcd-cafile=/etc/kuberne

[2019-02-05 14:21] Madhu-1 commented on #167
https://kubernetes-csi.github.io/docs/Setup.html#enable-raw-block-volume-support-alpha

[2019-02-05 14:32] denitol commented on #165
-c driver-registrar
`                                                                                                                                              I0205 11:54:06.175695    3621 main.go:120] Version: v0.3.0-0-g8dd4550d
I0205 11:54:06.183084    3621 main.go:135] Attempting to open a gRPC connection with: "/var/lib/kubelet/plugins/csi-rbdplugin/csi.sock"
I0205 11:54:06.183094    3621

[2019-02-05 14:49] denitol opened #168 "After POD csi-rbdplugin Evicted - POD - CrashLoopBackOff"
**Describe the bug**
After POD csi-rbdplugin - Evicted
Pod not restarting, status - CrashLoopBackOff

**Kubernetes and Ceph CSI Versions**
Kubernetes: 1.13
Ceph CSI: 1.0.0

**Ceph CSI Driver logs**

-c csi-rbdplugin
[code]
-c driver-registrar
[code]

[2019-02-05 14:51] rootfs commented on #168
i see, this is related to the klog refactoring

[2019-02-05 15:05] denitol commented on #165
log in messages
[code]

I tried remove /var/lib/kubelet/pods/6fc1e414-2930-11e9-907f-0050562c0156  and restart kubelet

but still not helps

[2019-02-05 15:11] rollandf commented on #167
Thanks, I missed a place configurating the featuregates

[2019-02-05 15:11] #167 closed

[2019-02-05 15:19] rootfs commented on #165
cc @dillaman, will the watcher go away, eventually?

[2019-02-05 15:32] rootfs commented on #168
@humblec no worries, we'll make our CI better.

[2019-02-05 20:54] kfox1111 opened #171 "logging key"
Seen in the 1.0 csi driver log

I0205 20:48:10.456278   17192 rbd_util.go:170] rbd: status pvc-32961cb4-1b85-11e9-9566-001aef16017e using mon xxx,yyy,zzz, pool thingy id otherthingy key ACTUALKEYHERE

It shouldn't log this.

[2019-02-05 21:23] kfox1111 opened #172 "rbd driver restart"
I upgraded 1.0.0 to a newer release causing the pods to be recreated. I then deleted a pod that had an rbd mount. it moved to another node but /dev/rbd0 was still mounted on the original host. The driver seems to have forgotten it had mounts after the reload.

It would be nice if restarting the driver didn't require the node to be drained first.

[2019-02-06 09:03] denitol commented on #168
@rootfs Thank you, I'm pulling new image for rbd-plugin and I don't saw errors.

P.S. For update image rbd-plugin, you need edit daemonset (rbd plugin) and change imagePullPolicy
`imagePullPolicy: Always`

[2019-02-06 09:03] #168 closed

[2019-02-06 12:21] rootfs commented on #168
great!

[2019-02-06 23:49] ShyamsundarR commented on #135
I had the same observation reading the code as the initial reporter, that the additional maps are actually not required and a concern.

Thanks to @JohnStrunk for help with understanding k8s plumbing in this regard, and disclaimer ahead that I am a Ceph noob!

The problem as I see, storing these config maps are,
1) The maps can go out of sync with reality, as it really is a duplicate config being m

[2019-02-07 13:02] rootfs commented on #135
Agree. Split brain is a constant theme in storage orchestration sadly.

This is being addressed. The drivers can store both monitors and keyrings in the secret. When monitors or keyring change, controller only needs to update the secret that is used by PVs rather than all PVs.

If there are multiple Ceph clusters, we have to create one storageclass per ceph cluster.
CSI spec doesn't limit how the

[2019-02-08 07:16] Madhu-1 commented on #164
Fixed by #170

@rootfs can we close this one?

[2019-02-08 07:22] Madhu-1 commented on #159
Fixes in #142

[2019-02-08 07:22] #159 closed

[2019-02-08 07:23] Madhu-1 commented on #134
Fixed in #161

[2019-02-08 12:14] ShyamsundarR commented on #135
Had an offline discussion with @rootfs on the topic.

What it came down to was,
1) Remove the existing rbdVolumes map, both in memory and as a config map store
  - This is to keep the CSI driver content lean, and make it more a pass-thru than retain state that may go stale
  - Further, when volume counts increase, this map is also going to grow, stashing this as a config map may prove challenging

[2019-02-08 12:17] #164 closed

[2019-02-08 12:20] rootfs commented on #135
@ShyamsundarR looking forward to your PR 👍

[2019-02-08 20:36] gman0 opened #187 "Logging is broken"
It seems that after the recent glog->klog changes, both cephfs and rbd plugins have stopped outputting anything but error log messages (i.e. `klog.Info`s are muted). Can someone please replicate and verify that this is really broken? I have a PR ready which seems to fix the issue but i want to make sure it's not just a problem in my setup - I haven't tested+ran the code for quite some time now so

[2019-02-09 00:18] rootfs commented on #187
cc @humblec

[2019-02-10 16:17] gman0 opened #189 "Question: can we remove gocyclo from the CI?"
**Is your feature request related to a problem? Please describe.**
IMHO the gocyclo tool (measures the cyclomatic complexity of a function) in this repo's CI is too strict. I _do_ like functions short and lean, but there are cases where longer functions are justifiable and sometimes are more readable than if they were artificially split into more smaller functions.

From [fzipp/gocyclo](https://gi

[2019-02-11 09:05] Madhu-1 commented on #189
@gman0  if we increase the complexity to 10+ maybe we will hit the issue one or other day.
 am fine with removing the gocyclo from the CI.

am not sure that we can provide the unit test code coverage more than 70 to 80 % if we remove gocyclo as it increases the number of if-else statements in a single function.

[2019-02-11 13:10] rootfs commented on #189
@gman0 if necessary, you can skip lint by adding `// nolint: gocyclo`

[2019-02-11 13:26] Madhu-1 opened #190 "create ceph-csi channel on slack"
@rootfs can we create ceph-csi channel slack channel for development communication?

[2019-02-11 13:49] rootfs commented on #190
@Madhu-1 how about creating a csi channel under rook?
also cc @travisn

[2019-02-12 02:35] #190 closed

[2019-02-12 02:36] Madhu-1 commented on #171
@kfox1111 hope this is Fixed in #184, can we close this one?

[2019-02-12 07:49] Madhu-1 opened #191 "Failed to disconnect ceph-fuse after pvc deleted"
**Describe the bug**
ceph-fuse clients are not disconnected inside ceph provisoner pod once the created pvc's are deleted
**Kubernetes and Ceph CSI Versions**
Kubernetes: 1.13

Ceph CSI:  1.0.0

**Ceph CSI Driver logs**
Post logs from rbdplugin/cephfs plugin, provisioner, etc.

**To Reproduce**
create 100 pvc and delete pvc
**Expected behavior**
all pvc should be succesfully created and deleted (m

[2019-02-12 07:52] Madhu-1 opened #192 "failed to delete pv"
**Describe the bug**
failed to  delete pv when the pvc got  deleted
**Kubernetes and Ceph CSI Versions**
Kubernetes: 1.13
Ceph CSI:  1.0.0

**To Reproduce**
create 100 pvc and delete 100 pvc
**Expected behavior**
all  pv should be deleted  when pvc  is deleted

[code]
[code]
[code]

[2019-02-12 07:53] gman0 commented on #191
Yes, i'm working on this

[2019-02-12 08:10] gman0 commented on #189
@rootfs ah, that seems sensible. Closing.

[2019-02-12 08:10] #189 closed

[2019-02-12 13:10] humblec commented on #191
@gman0 may be you can self assign this issue. :)

[2019-02-12 13:13] gman0 commented on #191
/assign

[2019-02-12 13:16] gman0 commented on #191
@humblec :)

[2019-02-12 13:37] rootfs commented on #192
as discussed with @ShyamsundarR, current per PV configmap has a scaling issue. We aim to shift to a per Ceph cluster configmap and embeds the configmap name in the PV name, so controller server can look up the configmap and get ceph config from the configmap.

[2019-02-12 13:41] humblec commented on #191
Thanks @gman0 !

[2019-02-12 13:54] gman0 commented on #192
This might be related to https://github.com/kubernetes-csi/external-provisioner/issues/131: what might be happening is that while one `DeleteVolume` RPC (A) is still in progress, the 10s timeout is hit and another `DeleteVolume` RPC (B) is issued. Meanwhile, (A) finishes successfully and deletes the configmap. From (B)'s perspective, it fails to find the CM and returns error - and that's what the

[2019-02-12 13:59] Madhu-1 commented on #192
@gman0 I destroyed the setup,but I will try once again,  from  the logs, it looks like the issue  is  with the configmap (need to investigate in which case am hitting this issue and also why am getting configmap not found error and when configmap it got  deleted)

[2019-02-12 14:06] Madhu-1 commented on #192
@gman0 what we have to do if the configmap not found. currently we are  returning an  `internal-server`  error.

[2019-02-12 14:12] gman0 commented on #192
@Madhu-1 That's one of the harder problems - there is no way to distinguish between "volume already deleted" and "missing information to delete a volume". See the issue i've linked above.

[2019-02-12 16:06] #171 closed

[2019-02-12 16:44] gman0 commented on #187
Closed via #188

[2019-02-12 16:44] #187 closed

[2019-02-12 17:09] gman0 commented on #191
@Madhu-1 should be fixed now, please close this issue once you verify it works for you.

[2019-02-12 17:15] gman0 commented on #140
@Madhu-1 you're deploying ceph using rook, right? I finally got around to try it and I haven't run into the problem you're describing :/ I've used all default values, the only thing I've changed was to deploy only 1 monitor instead of 3.

[2019-02-13 08:42] rollandf opened #195 "Operator for easy install of CSI plugin"
**Is your feature request related to a problem? Please describe.**
The user needs an easy way to install the CEPH-CSI plugin in a cluster.

**Describe the solution you'd like**
An operator that will install the needed pods.

[2019-02-13 13:15] rootfs commented on #195
That would be a nice addition. Currently we have a helm chart for rbd driver (no cephfs yet). Rook will orchestrate the driver deployment soon.

[2019-02-14 10:10] lbogdan opened #199 "[csi-rbd] Support erasure coded pools"
As suggested by @travisn, I'm opening this to track a feature gap between the rook RBD volume provisioner and the ceph CSI RBD plugin:

From what I could gather from the [source](https://github.com/ceph/ceph-csi/blob/master/pkg/rbd/rbd_util.go#L138), when defining a `StorageClass`, the plugin only supports specifying a single pool, which will be sent as `--pool` argument to `rbd create`.
But, in o

[2019-02-14 11:27] denitol commented on #192
Hello,
I have the same problem, I can't del PV
[code]

when are you fix that?

[2019-02-14 12:59] rootfs commented on #199
this will be addressed in rook https://github.com/rook/rook/issues/2650

[2019-02-14 21:14] gman0 commented on #192
Got hit by this in rbdplugin as well.

Some so helpful logs:
[code]
but on the ceph cluster:
[code]
so the image is actually deleted, but external-provisioner ignores the success (https://github.com/kubernetes-csi/external-provisioner/issues/131).

Looking at the logs, the first attempt (A) to delete takes too long to finish so the external-provisioner issues a new `DeleteVolume` RPC (B):
[code]

[2019-02-15 08:07] Madhu-1 commented on #192
@gman0 @rootfs don't we need to continue for volume deletion if config map not found?
as CSI spec says all operations should be  `idempotent` if the resource doesn't exist anymore.

[2019-02-15 13:32] gman0 opened #202 "Cleaning up resources"
**Is your feature request related to a problem? Please describe.**
Cleaning up resources is showing to be a prevalent issue in regards to how we handle deletion idempotency.

The CSI spec states:
[`DeleteVolume`](https://github.com/container-storage-interface/spec/blob/master/spec.md#deletevolume)

[`DeleteSnapshot`](https://github.com/container-storage-interface/spec/blob/master/spec.md#deletesna

[2019-02-15 13:43] Madhu-1 commented on #202
@gman0 ,@rootfs  I think same applies for volume/snapshot create also. suppose volume creation succeed in ceph but failed to store the metadata, don't we end up in the same situation?

and currently, we delete the rbd volume and snapshot if storing metadata fails. do we need to delete the same? cant we retrieve the volume/snapshot based on the name?

[2019-02-15 13:46] gman0 commented on #202
@Madhu-1 not anymore, see https://github.com/ceph/ceph-csi/pull/201

[2019-02-15 13:48] Madhu-1 commented on #202
@gman0 sorry i missed the recent change, Thanks :)

[2019-02-18 04:51] Madhu-1 commented on #134
/close

[2019-02-18 04:51] #134 closed

[2019-02-18 05:15] Madhu-1 opened #204 "question about volumeName in RBD"
In RBD, volume name is a required parameter and for the same validation has been done [here](https://github.com/ceph/ceph-csi/blob/csi-v1.0/pkg/rbd/controllerserver.go#L82).
and [here](https://github.com/ceph/ceph-csi/blob/csi-v1.0/pkg/rbd/controllerserver.go#L102) we are checking if the length of volume name is `zero`, is it possible to hit this case in any mean?

[2019-02-18 05:16] Madhu-1 commented on #204
@rootfs @gman0 ^^

[2019-02-18 19:47] gman0 commented on #204
Correct me if I'm wrong, but it seems like the spec doesn't have an opinion on the minimum name length.

[2019-02-18 19:54] Madhu-1 commented on #204
I don't see a minimum length of volume name, but i have read it again to double check. But as i said earlier we are making the volume name as mandatory parameter we can skip the second length check IMO.

[2019-02-19 20:00] gman0 commented on #204
Can we close this?

[2019-02-19 20:42] lelvisl opened #213 "Cant mount pvc to pod not multiple to 1Gi"
**Describe the bug**
[code]

**Kubernetes and Ceph CSI Versions**
Kubernetes: 1.13
Ceph CSI:  1.0.0

**Ceph CSI Driver logs**
`$ k logs csi-rbdplugin-fxd79 -n ceph csi-rbdplugin | grep pvc-a54a3182-3485-11e9-907f-0050562c0156`
[code]

**To Reproduce**

add etcd-operator and apply this yaml
[code]

[2019-02-19 21:09] lelvisl commented on #213
I changed storage to 1Gi and it works.

As i see here
https://github.com/ceph/ceph-csi/blob/07d26e640379b01eef604dab623884a3a93144bb/pkg/rbd/controllerserver.go#L131
you calculate in Gb and always get rounded result (zero in case volSizeBytes lower than 1Gb) - https://play.golang.org/p/jKVGCud8Jsi

[2019-02-20 03:59] Madhu-1 opened #214 "MInimum volume size in ceph-csi"
What is the minimum volume size supported in ceph-csi for both cephfs and rbd?
I fell an input validation is missing for the same.
@rootfs @gman0 ^^

[2019-02-20 10:20] #204 closed

[2019-02-20 12:42] gman0 commented on #214
For cephfs ([configuration docs](https://github.com/ceph/ceph-csi/blob/master/docs/deploy-cephfs.md#configuration)):

smallest quota unit is in bytes.

For RBD, smallest allocation unit seems to be in megabytes http://docs.ceph.com/docs/mimic/rbd/rados-rbd-cmds/#creating-a-block-device-image - even though the RBD plugin passes the size in gigabytes, hmm... @rootfs ?

[2019-02-20 13:39] lelvisl commented on #214
1Gi is minim - #213

[2019-02-20 13:52] Madhu-1 commented on #214
@lelvisl  we need  to figure out what is the  minimum value  for both cephfs and RBD

I think once we address this issue #213 will be fixed

[2019-02-20 14:17] lelvisl commented on #214
ok, really looking forward to the decision.

[2019-02-20 16:03] herrypio opened #217 "[csi-cephfs] Plugin Pod dies"
First of all, thanks for the csi-cephfs plugin implementations.

I have been using the csi-cephfs version `0.3.0` in our production Kubernetes `1.11.5-gke.5` for about a month. Most of the time the plugin works great, except when the plugin Pod was suddenly died and re-created by the DaemonSet. When this happened, I had to re-deploy the Pods and PVCs that use CephFS because the Pods got an error `

[2019-02-20 17:12] liewegas commented on #217
``Transport endpoint is not connected`` is what happens when the ceph-fuse process dies.  The question in my mind is why was the plugin pod killed/why did it die/whatever...

[2019-02-20 17:27] herrypio commented on #217
@liewegas I and my colleagues are still collecting the data around this problem.

This might be a stupid question. Is it possible to replace the ceph-fuse process without re-deploying the user Pods and PVCs?

[2019-02-20 17:32] liewegas commented on #217
Nope.

If you have a reasonably recent kernel, you can use the kernel cephfs client instead...

[2019-02-20 17:34] liewegas commented on #217
Actually, I'm not 100% sure about that.  Ignoring the container part, if you mount ceph-fuse to /mnt, and ceph-fuse dies, you have to (1) fusermount -u /mnt, (2) remount at the same location.  I'm not sure if the bind mount of that path into a container will have a dangling reference to the old mount or will see the new mount.  Independent of that, though, if any files are/were open in the mount w

[2019-02-20 17:47] herrypio commented on #217
As far as I know, the mount config files are stored in `/etc/ceph` directory which is located in the plugin Pod internal volume. These config files disappear when the Pod dies. However, if the plugin Pod mounts the node's volume to `/etc/ceph` then it can recover the mount config files by mounting the same node's volume when it is re-created. Afterwards the plugin can do the steps that you've ment

[2019-02-20 17:50] herrypio commented on #217
I'm using cephfs-csi plugin because it is easier to maintain than kernel cephfs client.

[2019-02-20 18:05] gman0 commented on #217
@herrypio I think Sage meant you could use the kernel client instead of FUSE. See the `mounter` volume parameter in the [documentation](https://github.com/ceph/ceph-csi/blob/master/docs/deploy-cephfs.md#configuration). Unfortunately, as you already pointed out, another problem is `/etc/ceph`. We don't store keyrings anymore in the csi-v1.0 branch (requires k8s 1.13+) but it's still a very much WIP

[2019-02-20 18:21] ShyamsundarR commented on #217
@liewegas it could also be triggered due to an upgrade, as mentioned in #91

[2019-02-21 07:37] muhlba91 opened #219 "Can't create PVC using example: DeadlineExceeded"
I have installed a Rook cluster which exposes it's mon on the internal service address, and the files in `deploy/cephfs/kubernetes`. On the node I can mount and write to Ceph when using the credentials used for the CSI plugin and the address `rook-ceph-mon-a.rook-ceph.svc.cluster.local:6790` -> Ceph/Rook is working properly with those credentials and the monitor address.

However, when creating a

[2019-02-21 08:23] Madhu-1 commented on #219
@muhlba91 I think you are hitting  #140, please check  comments  on #140  for more details how to check  whether the  fuse command  is struck

[2019-02-21 08:26] Madhu-1 commented on #219
for more logs please check the logs of mon pod you are targeting

[2019-02-21 09:23] UrbanWizardry commented on #217
@gman0 The trouble with kernel mounting is that it requires the Ceph packages to be installed on the host, which introduces operational overhead/issues when working on a cloud provider. We (I am a colleague of herrypio) moved from kernel mounting the old-school way to the CSI plugin with ceph-fuse partially to avoid that overhead but, per this thread, it comes with its own complications.

[2019-02-21 09:30] muhlba91 commented on #219
ah, thank you. the issue was with the monitor not listening correctly. now it works! :)

[2019-02-21 09:30] #219 closed

[2019-02-21 11:40] #157 closed

[2019-02-22 00:38] saad-ali opened #222 "Incorrectly named drivers"
**Describe the bug**
Per the [CSI spec](https://github.com/container-storage-interface/spec/blob/master/spec.md#getplugininfo) the name of a CSI driver must conform to the following requirements:

[code]
The current names are:

* csi-cephfsplugin
* csi-rbdplugin

Consider renaming to include the fully qualified domain name, maybe something like:

* cephfsplugin.csi.ceph.com
* rbdplugin.csi.ceph.co

[2019-02-22 06:42] Madhu-1 commented on #191
@gman0 i  see defunc cepfs-fuse  process

[code]
[code]

[2019-02-25 12:52] rootfs commented on #213
the min size is very fs type dependent

[2019-02-25 13:01] lelvisl commented on #213
yes, but we talking about rbd, fs goes after.

[2019-02-25 16:19] rollandf opened #227 "Unremoved RBD volume after removing PVC with snapshot"
**Describe the bug**
Unremoved RBD volume after removing PVC with snapshot

**Kubernetes and Ceph CSI Versions**
Kubernetes: 1.13
Ceph CSI: 1.0.0

**Ceph CSI Driver logs**
Post logs from rbdplugin/cephfs plugin, provisioner, etc.

**To Reproduce**
From examples/rbd dir: (with Block mode for all PVCs)

1. Create PVC
2. Create VolumeSnapshot from PVC
3. Create PVC from VolumeSnapshot
4. Delete PVC f

[2019-02-25 16:31] Madhu-1 commented on #227
@rollandf can you provide logs from the provisioner and node plugin.

[2019-02-25 17:40] rollandf commented on #227
https://gist.github.com/rollandf/d598c2e24735abb0b825f6c3668e9456

[2019-02-27 08:40] Madhu-1 commented on #227
From logs

[code]

if a snapshot exists for a volume , i think we cannot delete volume.
@rootfs @gman0  any pointer to fix this issue?

[2019-02-27 08:41] Madhu-1 commented on #227
/bug

[2019-02-27 09:06] Madhu-1 commented on #214
@rootfs need your input on this.

[2019-02-27 10:27] rollandf commented on #227
Maybe we should add a validation that a PVC with snapshots cannot be deleted as long as the snapshots exist?

[2019-02-27 10:32] Madhu-1 commented on #227
@rollandf in current situation PVC is getting deleted but PV will be in terminating state.
as you suggested we can fail the precheck and return `FAILED_PRECONDITION` as suggested in [spec](https://github.com/container-storage-interface/spec/blob/master/spec.md#deletevolume-errors)
need to test this out.

[2019-02-27 10:34] rollandf commented on #70
**To Reproduce**
    1. Create PVC
    2. Create VolumeSnapshot from PVC
    3. Create PVC from VolumeSnapshot
    4. Delete VolumeSnapshot
    5. RBD snapshot is still present in the Ceph Server

[2019-02-27 10:37] Madhu-1 commented on #227
https://github.com/ceph/ceph-csi/issues/70

[2019-02-27 14:08] rootfs commented on #214
let's follow in-tree rbd convention here https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/rbd/rbd_util.go#L584

[2019-02-27 14:20] Madhu-1 commented on #214
@rootfs what about cephfs? same applies for that one also?

[2019-02-27 14:28] rootfs commented on #227
status 39 is ENOEMPTY
[code]

[2019-02-27 14:38] rootfs commented on #227
looks flatten is the way to go to decouple image and snapshot
http://docs.ceph.com/docs/giant/rbd/rbd-snapshot/#flattening-a-cloned-image

[2019-02-27 15:00] rootfs commented on #214
@Madhu-1 good idea

[2019-02-28 15:03] j-griffith opened #237 "Multinode Access for RBD Plugin"
There are use cases where it's not only safe, but required to mount a CSI in RW Many mode.  Yes, in general this is a dangerous plan if you don't know what you're doing.  But for synchronized workloads including (but not limited to) Kubevirt VM migration it's necessary.

**Describe the solution you'd like**
Add an option to enable Multi Node access, this would include:

1. Providing the ability fo

[2019-02-28 15:03] j-griffith commented on #237
/assign j-griffith

[2019-03-01 11:24] Madhu-1 commented on #214
@rootfs then we need  to reject the volume creation request volume  size is  less than 1mb?

https://play.golang.org/p/j2aqRY7_7zb sample of
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/rbd/rbd_util.go#L584

[2019-03-01 12:27] gman0 commented on #214
Just a general knowledge question, could you please explain where ceph enforces limit for directory quota to be >1MiB for cephfs? As far as I know, quota is measured in bytes, so it can be as little as 1B no?

[2019-03-01 12:30] Madhu-1 commented on #214
@gman0 if we enforce the rule, we  will face this issue in external-provisioner https://github.com/kubernetes-csi/external-provisioner/issues/199

[2019-03-01 12:50] gman0 commented on #214
@Madhu-1 ok but that's an issue with that particular sidecar container. AFAIK neither cephfs nor CSI has such requirement where the size has to be >1MiB.

[2019-03-01 12:58] Madhu-1 commented on #214
yes, you are right, what could be the minimum volume size we can create in cephfs?

@rootfs we  cant use this utility function in cephfs as in current code we can create volume of  size in bytes (if we want to use the  function minimum volume size will be of 1Mib)

[2019-03-01 15:30] gman0 commented on #191
@Madhu-1 could you please verify that you no longer get `<defunct>` processes and close this issue once you do? The ref'd PR above should have fixed this particular problem.

Note that this is not solved completely, we can continue in https://github.com/ceph/ceph-csi/issues/140

[2019-03-01 15:42] gman0 commented on #140
I did a bit testing with csi-cephfs + rook and requested 10 PVCs at once. Once the provisioning completed (10 bound PVCs):

one sleeping ceph-fuse process
[code]

an abort in ceph-fuse reported in `/var/log/ceph/ceph-client.admin.log`
[code]
the same thing happens with Luminous. @rootfs sounds familiar?

[2019-03-01 22:11] j-griffith commented on #237
Merged in #239

[2019-03-01 22:11] #237 closed

[2019-03-03 23:10] j-griffith commented on #227
In the case of Snapshots I think it's ok to keep the linking in place and not take the time penalty on flatten; along those lines attempts to delete the parent volume with existing snapshots should fail.  For clones, or create from snapshot however we should definitely use faltten resulting in an independent volume object.

I'd be happy to work on this if @Madhu-1 or @rollandf aren't interested.

[2019-03-04 01:53] ShyamsundarR opened #242 "Change linter from gometalinter to golangci-lint"
**Describe the bug**
gometalinter is being deprecated in favor of golangci-lint (see, https://github.com/alecthomas/gometalinter/issues/590).

We possibly need to move `make test` and the TravisCI job to the newer linter.

[2019-03-04 02:13] ShyamsundarR opened #243 "[nit] indentation of 2 source files differ from the rest"
**Describe the bug**
The indentation in the following files use a 7 width tab stop, and the rest of the go files use 4 width tab. It would nice if this can be fixed, so that each time these files are touched, special care not to redo the tab stops need not be taken from any IDE of choice.

Files with the odd 7 width indentation:
controllerserver.go
rbd_util.go

Branch: csi-v1.0

If acceptable I ca

[2019-03-04 03:05] Madhu-1 commented on #243
@ShyamsundarR please do send a PR

[2019-03-04 04:45] Madhu-1 commented on #227
@j-griffith Thank you, please do send a PR.

[2019-03-04 09:16] Madhu-1 commented on #191
@gman0 verified and closing

[2019-03-04 12:45] ShyamsundarR commented on #243
Ok this is interesting, I cannot get my IDE to disagree with how the code is indented this morning. Closing this as it looks more like an issue on my end.

[2019-03-04 12:45] #243 closed

[2019-03-04 16:35] socketpair opened #246 "Implement snapshots functions for CephFS (like RBD ones)"
Implement snapshots functions for CephFS (like RBD ones)

[2019-03-04 16:35] socketpair commented on #246
@vm86

[2019-03-04 17:24] rootfs commented on #246
cc @gman0

[2019-03-05 02:54] Madhu-1 commented on #242
@ShyamsundarR @rootfs can we close this one?

[2019-03-05 09:53] Madhu-1 commented on #192
tested and not reproducible now ,closing this one

[2019-03-05 09:53] #192 closed

[2019-03-05 09:53] #191 closed

[2019-03-05 10:21] Madhu-1 commented on #153
@kindule are you working on this issue?

[2019-03-05 10:25] Madhu-1 commented on #213
@lelvisl this is fixed now, can you verify and close this one?

[2019-03-05 10:38] lelvisl commented on #213
one or two days for tests on our cluster

[2019-03-05 11:58] #242 closed

[2019-03-06 10:33] mykaul commented on #195
@rollandf  - is https://github.com/rook/rook/pull/2580 good enough?

[2019-03-06 14:37] j-griffith commented on #227
/assign j-griffith

[2019-03-06 21:49] lelvisl commented on #157
Same problem -  can't delete pv after delete pvc
[code]

[2019-03-06 21:54] gman0 commented on #157
@lelvisl my first guess would be to get rid of the `external-provisioner.volume.kubernetes.io/finalizer` finalizer

[2019-03-06 22:27] lelvisl commented on #157
@gman0 why?

[2019-03-06 22:29] lelvisl commented on #157
And why that finalayzer was assigned?

[2019-03-06 22:37] lelvisl commented on #165
Any updates?

[2019-03-06 23:05] lelvisl commented on #213
Yes, it works. Thanks!
[code]

[code]

[2019-03-06 23:05] #213 closed

[2019-03-06 23:51] lelvisl commented on #85
fixed in #213

[2019-03-07 19:01] rootfs commented on #101
now [external-resize ](https://github.com/kubernetes-csi/external-resizer/) supports csi resize, we should pick it here.

cc @Madhu-1 @gman0 @humblec @j-griffith

[2019-03-07 19:05] Madhu-1 commented on #101
@rootfs does kube latest version supports volume expansion? , if yes i think we can take it, i was waiting for kube 1.14 release (i think it supports volume expansion) correct me if am wrong.

[2019-03-07 19:09] Madhu-1 commented on #101
/assign Madhu-1

[2019-03-07 19:25] rootfs commented on #101
yes, k8s csi volume volume expansion is scheduled for k8s 1.14
https://github.com/kubernetes/kubernetes/pull/74863

[2019-03-08 08:02] humblec commented on #101
@rootfs sure, we will take care of it.. @Madhu-1 lets sync up ..

[2019-03-08 08:05] humblec commented on #222
@saad-ali sure. thanks for the report. We are addressing it via pr#223.

[2019-03-08 08:05] humblec commented on #222
/assign @Madhu-1

[2019-03-11 07:12] dungdm93 commented on #222
Hello guys,

My suggestion the better names are:
* `csi.ceph.com/rbd`
* `csi.ceph.com/cephfs`

Because it follow the same pattern as in-tree Kubernetes plugins as well as Rook:
* `kubernetes.io/rbd`
* `kubernetes.io/gce-pd`
* `kubernetes.io/aws-ebs`
* `ceph.rook.io/block`
* ...

[2019-03-11 08:47] Madhu-1 commented on #222
@rootfs @gman0 @humblec @ShyamsundarR can you guys  suggest which driver naming convention we have to follow?

[2019-03-11 09:00] humblec commented on #222
@Madhu-1
```csi.ceph.com/rbd``` or ```rbd.csi.ceph.com .
I would vote for `csi.ceph.com/rbd` , but lets hear from others too.

[2019-03-11 09:38] Madhu-1 opened #250 "run kubernetes csi-test suite on ceph-csi"
we need to integrate ceph-csi with [csi-test](https://github.com/kubernetes-csi/csi-test) to test the CSI API capability of a driver.

[2019-03-11 09:39] Madhu-1 commented on #250
@nixpanic

[2019-03-11 11:55] Madhu-1 commented on #222
we are not doing much for the fixes in the master branch. do we still need to do fixes in both master and V1.0 branch?

[2019-03-11 12:42] Madhu-1 commented on #165
after rebooting node (used minikube  for testing) not able to ssh  to the machine getting below  logs

[code]

@rootfs ^^

[2019-03-11 12:45] Madhu-1 commented on #165
some more logs

[code]

[2019-03-11 12:46] Madhu-1 commented on #165
after few minutes of waiting all pods came  into running state

[code]

note: used  csi v1.0.0 images

[2019-03-11 13:55] JohnStrunk commented on #222
Per my reading of the spec, "/" is not a permitted character.

[2019-03-11 16:41] ShyamsundarR commented on #222
Based on comments above I would suggest that we use the following defaults,
`rbd.csi.ceph.com` and `fs.csi.ceph.com` (dropping the additional ceph reference in the other option suggested `cephfs.csi...`)

[2019-03-12 08:49] humblec commented on #222
@JohnStrunk Thanks for the catch.. !! yeah, `/` cant be in driver name. So the better choice here would be
For RBD: `rbd.csi.ceph.com`
For CephFS: `fs.csi.ceph.com` or `cephfs.csi.ceph.com`?  the latter looks good to me.
@Madhu-1 @rootfs @JohnStrunk @gman0 @travisn any preference?

[2019-03-12 08:52] humblec opened #251 "Implement an E2E test framework for CSI drivers."

[2019-03-12 08:53] humblec commented on #251
@Madhu-1 jFYI

[2019-03-12 08:55] humblec commented on #195
@rollandf the initial work is done with the Rook PR# 2580, however some more followup PRs are in flight. For ex: :https://github.com/rook/rook/issues/2649

[2019-03-12 09:08] dungdm93 commented on #222
+1 for `cephfs.csi.ceph.com`

[2019-03-12 10:55] Madhu-1 opened #252 "incorrect snapshot size"
create a PVC of size 1Gi and create a snapshot from PVC.
after creation snapshot is showing incorrect  size  in `kubectl describe`

[code]

output from rbd

[code]

[2019-03-12 11:04] namreg opened #253 "exec user process caused "exec format error""
Hello there,

I am trying to deploy `rbdplugin` by running the command `examples/rbd/plugin-deploy.sh`. After that, I see the following status of the deploy:
[code]
As we can see, the provisioner status is `CrashLoopBackOff`. I found out container `rbdplugin` in that pod has failed.
[code]
the output of the previous command is:
[code]
AFAIK, it is docker error. Googling did not give me a result.

[2019-03-12 13:10] rootfs commented on #253
that's odd, csi-rbdplugin container looks running well in other pods.

Can you get an output of kubectl get pods -o wide and see which host the provisioner was running and if that host has a different cpu?

[2019-03-12 13:20] namreg commented on #253
@rootfs
[code]

[2019-03-12 14:59] ktdreyer opened #255 "merge all fixes into master"
Would you please merge all fixes into the "master" branch? We have two branches in GitHub currently:

1. `master`
2. `csi-v1.0`

I would expect the default branch (remote HEAD) to point to `master`, but it currently points to `csi-v1.0`.

This makes me think `csi-v1.0` must be some kind of long-lived feature branch, moving ahead of master in some ways, and behind master in other ways?

It's not cl

[2019-03-12 18:41] travisn commented on #222
agreed on `cephfs.csi.ceph.com` and `rbd.csi.ceph.com`

[2019-03-12 19:47] rootfs commented on #253
which csi image you are using?
cc @Madhu-1

[2019-03-12 19:48] rootfs commented on #255
I'd think rename the branches so that:

- csi-v1.0 (current default) becomes the "new" master
- current master (i.e. csi v0.3 support) becomes new csi-v0.3 branch.

[2019-03-12 19:54] gman0 commented on #255
@rootfs i thought csi-v1.0 will stay in alpha until we sort out all the metadata-related issues?

[2019-03-12 20:08] ShyamsundarR commented on #255
As this has come up in a couple of other conversations posting my thoughts as well,

- Although we state v1.0 branch is alpha, the images from these branches are available for use by users, is there a definitive statement we can make regarding v1.0's alpha status?

- The kubernetes driver [list](https://kubernetes-csi.github.io/docs/drivers.html) carries ceph drivers as v1.0, does this mean anythi

[2019-03-13 02:57] j-griffith opened #256 "Allow multi-attach by default for Block mode"
We added multi node write capability via storage class as per issue #237
It would makes sense to allow volumes that are block mode to do this by default, and not require an SC entry.  We don't need to remove the SC entry; but with a new default would just update the documentation and wording to clarify that the SC option is only for non-block mode RBD volumes.

We could probably rename the sc vari

[2019-03-13 03:01] j-griffith commented on #256
/assign j-griffith

[2019-03-13 03:56] humblec commented on #255
@ktdreyer merging all the changes from CSI v1.0 branch to master is not possible because of the spec it maintains. ie master is on v0.3 and csiv1.0 is v1.0.0.  I think the best bet would be what @rootfs suggested. however, I doubt it can have some impact on the users who already cloned these repos and using it .

[2019-03-13 04:54] Madhu-1 commented on #253
@namreg if you give some more information as @rootfs suggested

and I would also like to know the host image used in your deployment, I would try to reproduce the issue once I get this information, looks like some dependency issue for me.

[2019-03-13 05:05] Madhu-1 commented on #252
Fixed in https://github.com/ceph/ceph-csi/pull/254

[2019-03-13 05:05] #252 closed

[2019-03-13 06:57] Madhu-1 opened #257 "volume size missmatch for cloned volume"
rbd csi missing the volume size validation of cloned volume, if the newly requested volume is greater than the parent volume we need to resize the volume to expected size and if the requested volume size is less than the parent volume we should reject the volume creation request.

[code]
[code]

@rootfs @gman0 any thoughts?

[2019-03-13 07:29] rollandf commented on #195
If Rook is supporting this, I am OK to close this issue.

[2019-03-13 07:29] #195 closed

[2019-03-13 07:36] namreg commented on #253
I figured out what's the problem. We have `init` option on in the our docker daemon config file (the last param).
[code]
According to the docs this options responsible for the `Run an init in the container to forward signals and reap processes`. In our version of the docker the location of the tini (init system) is `/dev/init`. But for deploying the `provisioner` we re-mount `dev` directory (see h

[2019-03-13 07:36] #253 closed

[2019-03-13 08:10] Madhu-1 commented on #195
@rollandf if you want to try this out this will help https://github.com/rook/rook/blob/master/Documentation/ceph-csi-drivers.md

[2019-03-13 08:51] Madhu-1 commented on #257
we cant create volume size less than snapshot size, the check is already present in external-provisioner
https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller.go#L626

[2019-03-13 08:52] Madhu-1 commented on #257
[code]

[2019-03-13 15:54] namreg opened #259 "AttachVolume.Attach failed for volume"
I have stumbled on the issue when tried to deploy yours demo pod and pvc. I had the error **AttachVolume.Attach failed for volume "pvc-981049d4-45a5-11e9-9012-525400472984" : node "p20b-vr3-r1-k8s-n1" has no NodeID annotation**
[code]

[code]

[code]

[code]
Kubelet has the following errors:
[code]

kubernetes version - 1.12
ceph-csi version - csi-v1.0

Can you help me?

Thanks.

[2019-03-13 15:55] rootfs commented on #259
you need kubernetes 1.13 and above to run csi-v1.0 images

[2019-03-13 15:58] namreg commented on #259
Thanks for the response. What images I can use for k8s 1.12?

[2019-03-13 16:10] namreg commented on #259
I have tried v0.3.0 but got the following error:
[code]

[2019-03-13 16:11] ktdreyer commented on #255
Ok. Can we make `master` the mainline for development at least?

[2019-03-14 05:39] Madhu-1 commented on #222
@gman0 am reopening till we get  same changes in the master branch

[2019-03-14 05:42] humblec commented on #222
As an update , the changes in `v1.0` branch is done and the patch is merged!

[2019-03-14 21:45] dillaman commented on #227
One of the design goals for the RBD trash was to handle situations like this. Removing the RBD image should actually run ```rbd trash mv``` to move the image to the trash. Images with snapshots and clones can be moved to the trash without issue. Upon removal of a snapshot or removal of a cloned PV, you can attempt to remove the (parent) image from the trash and if it fails, it just means it's stil

[2019-03-14 22:11] dillaman opened #263 "RBD maximum parent image chain for clones"
When cloning an RBD image, it might be required to immediately flatten the image if it has more than 16 parents (ancestors). This is a limit of the kernel driver [1], but for IO performance you still wouldn’t want a potentially large chain of parent images to search through for read requests.

Note that Cinder will perform a flatten at a much more manageable 5 parents [2].

[1]
https://github.com/

[2019-03-15 12:48] wilmardo opened #264 "Format of disk fails due missing entry in /etc/fstab"
As the title state, the format of disk fails due missing entry in /etc/fstab or at least that seems the issue to me from the logs.
I don't know how to proceed further as this seems an issue with the code itself or at least a case which isn't handled since it tries to format an undefined("") disk:

[code]

`kubectl get nodes --show-labels` (please ignore the notReady nodes, cluster is in parts at t

[2019-03-15 13:27] wilmardo commented on #264
Is fixed in the latest canary, I will close the issue but leave it for reference, for who is searching trough the issues (like I did).

Sorry for opening the issue but I couldn't find any information about it :)
[code]

[2019-03-15 13:46] ShyamsundarR commented on #227
Just pointing out that text in the spec has been added to address this condition as well, see [here](https://github.com/container-storage-interface/spec/pull/347/files). We could now return pre-condition failures if snapshots exist for a given volume, and hence cannot be deleted.

@dillaman given this, what are you thoughts on deleting images with snapshots?

[2019-03-15 20:13] dillaman commented on #227
If the natural representation within k8s is that snapshots can have independent lifetimes from the volume they were created from, personally, I like the idea of creating a brand new clone for each snapshot so that they are also represented as first-class citizens within RBD.

[2019-03-15 22:05] rootfs commented on #259
does csi v0.3 use driver-registrar v1.0.1-0-g27703026? @Madhu-1

[2019-03-18 04:22] Madhu-1 commented on #259
@rootfsdriver-registrar is `0.3.0`
https://github.com/ceph/ceph-csi/blob/76a647d20e9f6218c8be161fa02a76a7383f3651/deploy/rbd/kubernetes/csi-rbdplugin.yaml#L22

[2019-03-18 04:23] Madhu-1 commented on #259
@namreg looks like one of your side car image is greater than `0.3.0` let me know if its not we can debug further

[2019-03-18 04:31] Madhu-1 commented on #222
Fixed in #262

[2019-03-18 04:31] #222 closed

[2019-03-18 04:50] Madhu-1 commented on #255
@rootfs ^^

[2019-03-18 08:07] namreg commented on #259
@Madhu-1 I've checked out to the commit you specified, and now everything works fine. Thanks a lot!
P.S. It would be nice to have a tag for such users as I that using an old version of the k8s :)

[2019-03-18 08:07] #259 closed

[2019-03-18 08:09] Madhu-1 commented on #259
templates in master support `kube 1.12` and templates in csiv1.0 branch supports 1.0.0 spec ie `kube 1.13`

[2019-03-18 09:51] Madhu-1 commented on #217
@gman0 if we take the patches from csiv1.0 branch and apply to master will this be fixed?
if we do so, will there be any breaking changes?

[2019-03-18 09:53] Madhu-1 commented on #91
@rootfs do we need to do something in the code to fix this issue? if not can we close this one?

[2019-03-18 10:00] Madhu-1 commented on #99
@gman0 can we close this issue? or still, this issue is present?

[2019-03-18 10:44] humblec commented on #255
Sure, the only concern here is, how is it going to effect the existing customers if we do branch flip/switch..  @rootfs @gman0 can you share your thoughts?

[2019-03-18 12:39] gman0 commented on #217
@Madhu-1 i'm afraid not - the absence of keyrings after a pod restart is only 1% of the problem. It would still need a remount because of FUSE running in the container. If the container exits for whatever reason, the mount goes unavailable as well.

[2019-03-19 13:39] rootfs commented on #91
@Madhu-1 would you add a upgrade process in readme? for cephfs mount, drain the node before upgrade. I believe this process applies to other FUSE mount drivers too.

[2019-03-19 13:40] #99 closed

[2019-03-19 13:42] rootfs commented on #255
@ktdreyer @humblec let's cut a v0.3 branch from master, then reset master to replicate v1.0 branch, and then make master the dev branch.

[2019-03-19 15:57] humblec commented on #255
@rootfs sounds good to me. Just to make sure, we are in same page, if some users already have the image from current master and if their CO is on a version which is compatible with `0.3` spec, after our update of master branch, do you foresee any issues ?

[2019-03-19 16:06] rootfs commented on #255
There will be some CI work for 0.3 branch [here](https://github.com/ceph/ceph-csi/blob/csi-v1.0/.travis.yml#L12)

@Madhu-1 can you take all these? thanks

[2019-03-19 16:20] Madhu-1 commented on #255
@rootfs, sure let me check what changes i need to make.

[2019-03-19 18:24] j-griffith opened #266 "Discuss making master branch tip of current development"
I'm not sure if this has already been discussed, and there might be a really good reason for the repo layout that's in place... but I'll raise the discussion anyway.

Going to this repo and puling master ends up with unexpected consequences of checking out the latest master of the current release; makes sense once a new comer figures that out :)

I was wondering what folks thought about changing t

[2019-03-19 18:51] ShyamsundarR commented on #266
Agree.

Also related to #255 and actions being taken there. (specifically this [comment](https://github.com/ceph/ceph-csi/issues/255#issuecomment-474375356))

I would further like to add that we should not update the images in quay for every PR that gets merged, rather make selected tag based release (as suggested) and update the images in quay on these tags.

Also, the images in quay should start

[2019-03-19 19:10] j-griffith commented on #255
proposal here #266

[2019-03-19 19:11] j-griffith commented on #266
@ShyamsundarR thanks, I hadn't seen that one.

[2019-03-19 23:50] j-griffith commented on #255
@Madhu-1 @humblec Sorry I started a discussion on this topic at #266 not realizing you had this going here.  I set what I was thinking in terms of a task-list, let me know what you think; if we get a branch csi-v0.3 branch I'm happy to help out with the remaining tasks.

[2019-03-20 08:17] leseb opened #268 "Support matrix table?"
It'd be nice to have a comprehensive table that shows the features supported by the driver (create/delete/resize etc) for both RBD and CephFS provisioners.
Thanks.

[2019-03-20 10:38] ShyamsundarR opened #269 "Provide an option to use a common Ceph credential across CephFS subvolumes"
Currently, each CephFS volume gets a sub-directory under the CephFS root and further gets a user created with rw access to the directory (and a few other rights as required to access the directory). For each stage and publish request of such a sub-directory to a node, the CephFS root volume is mounted, and then the sub-directory is bind mounted into the requested directory, using the user credenti

[2019-03-20 10:41] ShyamsundarR commented on #266
Agree with the laid out list of items to run down to close on the task.

I was tempted to add a "List pending tasks to release v1.0" to the task queue above, but that maybe beyond current scope of what we intend to achieve in this discussion (or not, hence dropping it here for consideration anyway).

[2019-03-20 10:57] gman0 commented on #269
I had a similar idea in mind, but wanted to wait till we have cluster IDs in place - those could be used to simplify things down further.

[2019-03-20 11:18] ShyamsundarR opened #270 "Suggested changes to ID and key requirements for rbd CSI plugin"
Currently the CSI rbd plugin requires 2 IDs and its respective keys in secrets. Each ID seems to serve the following purpose,
- adminID: Used for create/delete/snapshot operations (IOW, controller service operations)
- userID: Used for mount/umount of the rbd image on nodes using the same (IOW, node service operations)

There are a few issues with the same, some of which is related to lack of docu

[2019-03-20 11:22] ShyamsundarR commented on #269
:) totally agree, this can wait. I am just filing away stuff that is in my notes for consideration. Thanks!

[2019-03-20 11:26] ShyamsundarR opened #271 "Provide hints to the plugin binaries on their roles"
Currently each plugin (CephFS or rbd in their Run routines), create and start all 3 services (Identity, Node and Controller). This is incorrect, but does not cause issues, as the consumer of these services are the k8s sidecars, which are selectively installed with the plugin. Hence, due to the sidecars the right services get used.

Suggest that we make this configurable, such that only the require

[2019-03-20 12:20] gman0 commented on #271
Could you please elaborate how is this incorrect? The CSI spec allows either of those configurations. Anyway, as you pointed out, there could be some advantages.

[2019-03-20 12:57] tombarron commented on #271
Yeah, it explicitly a variety of [deployment architectures](https://github.com/container-storage-interface/spec/blob/master/spec.md#architecture) including ones where "unified Plugin component supplies both the Controller Service and Node Service."  Still worth considering the advantages w.r.t. doing some specialized tasks in startup, I'm not disagreeing with that.

[2019-03-20 13:04] ShyamsundarR commented on #271
This is how I see it.
- At present we [create](https://github.com/ceph/ceph-csi/blob/csi-v1.0/pkg/rbd/rbd.go#L117-L123) and [start](https://github.com/ceph/ceph-csi/blob/csi-v1.0/pkg/rbd/rbd.go#L130) CS, NS and IS on all instances of the plugin
- IS running on all instances of the plugin is required
- CS in our case should run only as a singleton in the cluster, hence creating and starting a liste

[2019-03-20 13:25] dillaman commented on #271
Forgive my ignorance in this matter, but is there any technical reason why the CS cannot run on all nodes? Does the CO ensure that only a single CS receives a given request (except in failure cases) [1] or are the requests multicasted to all listening CS instances so it would become a coordination issue between CS instances to determine which one is needed to actually perform the work?

[1] https:

[2019-03-20 13:39] ShyamsundarR commented on #271
In my understanding, the limitation at present comes from co-ordination requirements within our plugin implementation. As we use config maps that are closely managed by the CS to store created volumes and their respective CO generated volNames and such, we need strict/locked access to the same to ensure it's consistency. Further, we depend on name hash based locks to ensure idempotency of requests

[2019-03-20 14:52] huaizong commented on #217
if i want to  fixed remount problem,   the patch do these things is enough ?

1.  save the keyring info at configmap just add keyring info at controllerCacheEntry
2.  save the nodePublishVolume info when bindmount  volume root and pod mount dir as mount cache
3.  when csi-plugin start we load mount cache from node  and remount all pod pv

[2019-03-20 15:14] gman0 commented on #271
You've raised good points, @ShyamsundarR . My question is however, whose job is it to ensure that the CS is being run as a singleton: if it's the operator's responsibility, then I guess it's not that much different from how we're doing it now already...although being more explicit about the fact that one particular instance of the plugin runs with CS couldn't hurt. If the plugin is the one who ens

[2019-03-20 15:15] huaizong commented on #91
@rootfs  as mentioned in #217 if csi plugin exit unexpect,  the pod use cephfs pv can not auto recovery until  pod  be killed and reschedule.  i think this is may be a problem.  may be it can do more thing to remount  the old path  so when pod may be auto recovery  when  exit and  restart ,  the old mount path can use

[2019-03-20 15:27] j-griffith commented on #266
@ShyamsundarR That's a good point, I think it falls in the "middle" somewhere; I'd be curious what @Madhu-1 and @humblec think.  Personally I'd probably favor having a new issue created for it, even if we reference it here at some point.

[2019-03-20 15:28] gman0 commented on #271
I'm just reading between the lines because the spec doesn't seem to be very clear on the subject, in the [Architecture](https://github.com/container-storage-interface/spec/blob/master/spec.md#architecture) section it states that:

my guess is that we, as storage providers, may demand that the plugin is running in such and such a way (and if those demands are not met then bad things may happen), [A

[2019-03-20 15:33] ShyamsundarR commented on #271
Agree, I would state the same.

This is how I was running it in one of my local branches, as I needed to do some startup work that was CS specific. So from an approach POV I acknowledge what you suggest, a bool stating WhoAmI equivalent.

Also, should we be adding cmd flags or using ENV variables? pod manifests seem to suggest using env variables more than CLI args (cmd vars), just dropping the th

[2019-03-20 15:56] gman0 commented on #217
@huaizong this is a node-local problem so instead of going through the trouble of storing such information in a cluster-wide space, a better approach would be to use, in k8s case, an `emptyDir` mount and store the mount info there.

[2019-03-20 16:05] gman0 commented on #217
But still, see this comment https://github.com/ceph/ceph-csi/issues/217#issuecomment-465679017

so this probably won't work either and draining may still be the best option, granted not very nice...

[2019-03-20 16:13] huaizong commented on #217
i agree draining may be the clean option,  but  we can not  auto  drain all  pod at node, because it may be danger when  it is a cluster wide problem

[2019-03-20 16:16] huaizong commented on #217
thank you for relpy.  save thease info at   node local is a better approach

[2019-03-20 18:23] phlogistonjohn opened #272 "Why is the copyright attributed to "The Kubernetes Authors""
Shouldn't the copyright for code original to ceph-csi be "The Ceph-CSI Authors" and code that's a modified copy-n-pasted could be attributed to both sources.

This looks like a case of copy-n-paste of headers to me. Any thoughts?

[2019-03-21 00:54] rootfs commented on #272
PR please :)

[2019-03-21 11:30] Madhu-1 commented on #266
@j-griffith Agreed, we can have a separate issue for it.

[2019-03-21 15:56] humblec commented on #266
@j-griffith Completely agree on your thought. IOW, we already have some discussions going on this. As a first step, we have cut `v0.3` branch from current master. Setting up CI is a common pending item for this repo and we had some discussions around it and hopefully we will be making some progress on this.

The only pending item is, how to make/rebase master to `v1.0` branch. @rootfs any thoughts

[2019-03-21 16:01] j-griffith commented on #266
@humblec Great, looks like that branch was just cut in the last 10 hours or so?  As far as the rebase, it's ugly and brute force, but what about just removing the current master and dropping in v1.0, commit; push?

We'll still have git history in the other two branches, the initial update might look ugly but it *should work*.

[2019-03-21 16:04] humblec commented on #266
Yeah! You got him :)

Yeah, thats  brute force approach and I am bit worried about the folks who already cloned and working on (may be with a fork) thinking master is still on v0.3 branch. but in other way, we dont have any choice!

Agreed..

[2019-03-21 16:09] j-griffith commented on #266
@humblec Yeah, there's an "ugly" cut over no matter what here; I don't know of another way to address it other than to get through the pain sooner rather than later (it only gets worse if we wait longer).  I guess the other option is to advertise that the branches will be changing, leave master idle for a while, changes are only allowed in V0.3 and V1.0.

The idea being that we could lock down mas

[2019-03-21 16:14] humblec commented on #266
IMO, above is a good idea. One drawback here is, people may think we are not progressing on this repo. But , the  default branch of this repo is `csi-v1.0` , so thats kind of taken care.
@rootfs please share your thoughts and lets fix our path :)

[2019-03-21 19:51] LiGeNvidia opened #275 "[csi-cephfs] cache entries are not cleaned up when provision="false""
When using csi-cephfs with `provision="false"`, the cache entries are not being deleted (1, 2). This would cause the number of configmaps to store csi-cephfs to grow indefinitely:

[code]

1: https://github.com/ceph/ceph-csi/blob/csi-v1.0/pkg/cephfs/controllerserver.go#L131-L135
2: https://github.com/ceph/ceph-csi/blob/csi-v1.0/pkg/cephfs/controllerserver.go#L166

[2019-03-22 10:42] Madhu-1 commented on #275
@LiGeNvidia Thanks for pointing out the issue, would you like to send a PR to fix this one?

[2019-03-22 11:05] de1m opened #277 "[csi-rdb] Mount snashopt in pod for backups, it is possible?"
Hi, sorry, I have't found the info about my question.
I'll make a snapshot and then mount this snapshot in a pod, where I can create a backup of this data.
Can I mount the snapshot directly in a pod, without convert this to an image?

[2019-03-22 19:44] ShyamsundarR opened #278 "Attacher fails to communicate with the provided socket as there is no listener"
Branch: csi-v1.0

Recent change to the attacher YAML has changed it's communication socket form csi.sock to csi-attacher.sock, but there are no listeners (or even creators) of the same. Hence attach requests are failing if a new CSI instance is deployed using the provided deploy yaml manifests.

The fix though seems not to be to change the socket back to csi.sock, as this socket is being serviced

[2019-03-22 19:49] gman0 commented on #278
Neither rbd nor cephfs csi drivers need the attachment RPCs, I'd vote for removing the external-attacher completely (and adding cluster-driver-registrar)

[2019-03-23 04:56] Madhu-1 commented on #278
Yeah i will go for option 2, currently am working on removing attacher from both cephfs and rbd, i will send a patch for same.

[2019-03-23 11:39] ShyamsundarR opened #279 "Need to change from using 0 as the initializer value for keymutex based hash locks"
Currently the code uses ["k8s.io/kubernetes/pkg/util/keymutex"](https://github.com/kubernetes/utils/blob/master/keymutex/hashed.go#L30) based hash mutex lock scheme.

All lock initialization pass in a value of 0 for the count of hash buckets (or # mutexes to use). 0 is a special value that keymutex computes as NumCPU and allocates as many hash buckets.

These locks are used for VolName and VolID d

[2019-03-23 11:48] gman0 commented on #279
Recently I've implemented a bit different synchronization scheme for csi-manila which is imho better than either of those approaches...i can post a PR once things settle down (esp. the branches and your PRs)

[2019-03-25 22:32] ktdreyer commented on #266
I think it makes a lot of sense to have "master" be the main branch, just like other projects (ceph, rook, etc).

[2019-03-26 13:10] muhlba91 opened #284 "provisioner CreateVolume endless loop"
I have deployed the CephFS provisioner according to `deploy/cephfs/kubernetes` of the `csi-v1.0` branch (Ceph deployed with Rook). After the driver starts, I created a simple PVC and the provisioner picks it up.
However, it starts an endless loop calling `CreateVolume` over and over again:
[code]

I can confirm that the provisioner successfully created one client (`ceph auth ls`) and one volume (d

[2019-03-26 13:21] huaizong opened #285 "[csi-cephfs] ceph volume root path invalid"
cephfs.PluginFolder  update at cmd/cephfs/main.go, so volume.go cannot directly use it construct var cephRootPrefix

https://github.com/ceph/ceph-csi/blob/csi-v1.0/cmd/cephfs/main.go#L51

[code]

[code]

[2019-03-26 13:58] gman0 commented on #284
This is expected behavior for now. There are a few changes planned that should improve the performance.

[2019-03-26 14:04] ShyamsundarR commented on #284
Ah! @gman0 so the 11 seconds to respond to the request is causing the driver to reject the response (due to some timeout?) and retry? Is that what is happening here?

[2019-03-26 14:13] gman0 commented on #284
Afaik, the rpc on external-provisioner's side times out and retries. https://github.com/ceph/ceph-csi/issues/279 will take care of those timeouts, https://github.com/ceph/ceph-csi/issues/269 will save some load on repeatedly mounting cephfs root.

[2019-03-26 14:40] muhlba91 commented on #284
@gman0 when can we expect a release taking care of those issues?
Atm, this prevents creating any PVC at all since even though the volume gets created in Ceph it's not bound and neither registered as a volume in Kubernetes.

[2019-03-26 14:50] ShyamsundarR commented on #284
@muhlba91 I would try adding a higher operation timeout for the driver in the interim to overcome the problem. IOW, use the `operationtimeout` option and move it to 20 seconde instead of 10 seconds which is the [default](https://github.com/kubernetes-csi/external-provisioner/blob/41036d7a3f8a5dae7aa48ac33131b44958fb0cf6/cmd/csi-provisioner/csi-provisioner.go#L59) for the driver.

A patch to the pr

[2019-03-26 16:04] gman0 commented on #284
@muhlba91 none? Uff... I'll try to push a PR this weekend, hopefully speeding things up at least a bit. What @ShyamsundarR suggested could help.

[2019-03-26 16:17] muhlba91 commented on #284
@gman0 no, no PVC gets created and bound at all. For every PVC I try to create, I end up in this loop.

@ShyamsundarR the provisioner doesn‘t accept this command line argument. I end up with a crashing pod throwing the error it‘s an unknown command line argument.

[2019-03-26 17:13] gman0 commented on #284
@muhlba91

According to https://github.com/kubernetes-csi/external-provisioner/blob/41036d7a3f8a5dae7aa48ac33131b44958fb0cf6/cmd/csi-provisioner/csi-provisioner.go#L59

it should be just `timeout`, not `operationtimeout`.

[2019-03-26 17:42] hongkailiu opened #287 "DocRequired: deployment of examples for cephfs"
It would be nice to have more docs on [examples/cephfs](https://github.com/ceph/ceph-csi/tree/csi-v1.0/examples/cephfs).

Also I got a question ceph-csi in general:
For example, the [sc defined in rook repo](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/storageclass.yaml) can also be used to provision rbd PVCs. What is the difference if we use the [one defined here](htt

[2019-03-26 17:46] ShyamsundarR commented on #284
Yes, my mistake, confused the variable name with the option name. Please try `timeout` instead. Thanks @gman0 for catching that.

[2019-03-26 22:44] ShyamsundarR commented on #277
There is no way in CSI to allow a mount of a snapshot. The way the protocol is written is to only support mounting of created volumes. Thus, for the case of backup, a snapshot once taken needs to be converted to a volume and then mounted and backed up.

IOW, this [yaml](https://github.com/ceph/ceph-csi/blob/b0d6737db81e2ba658514ea2ab19d043caa0b43f/examples/rbd/pvc-restore.yaml#L1) example in the c

[2019-03-27 06:13] muhlba91 commented on #284
@ShyamsundarR I think this change is not in a release yet and I get the same error as before when using `operationtimeout`.

The commit adding this timeout is https://github.com/kubernetes-csi/external-provisioner/commit/45a92e290be317396c3c8f5b67a842fad85822f6#diff-38b23914da9991d96c9ec4fc3c2525aa but all releases are from December (https://github.com/kubernetes-csi/external-provisioner/releases)

[2019-03-27 11:22] Nefelim4ag opened #291 "Can't pass any map options to rbd map"
https://github.com/ceph/ceph-csi/blob/csi-v1.0/pkg/rbd/rbd_attach.go#L295-L300

As example we use that options to pass: `osd_request_timeout=300,queue_depth=1024`

[2019-03-27 11:24] Nefelim4ag opened #292 "Mount options not passed to mount command"
https://github.com/ceph/ceph-csi/blob/csi-v1.0/pkg/rbd/nodeserver.go#L129

As example we currently set in our StorageClass:
`mount_options: errors=remount-ro,discard,lazytime`
- - -
Moreover, we also add _netdev to mount options, to correctly handle node reboot.

I think _netdev can be also usable for RBD & CSI

[2019-03-27 11:27] Madhu-1 commented on #291
@Nefelim4ag currently we don't support passing extra options to rbd commands.

@rootfs @gman0 @ShyamsundarR do we need to consider this use case?

[2019-03-27 16:33] rootfs commented on #291
yes, csi mount option supported in kubernetes https://github.com/kubernetes/kubernetes/pull/67898

[2019-03-28 10:39] leseb commented on #277
@ShyamsundarR is right, snapshots are read-only so they are not intended for pod's consumption.

[2019-03-28 14:30] de1m commented on #277
okay, thank you, then I close this "issue"

[2019-03-28 14:30] #277 closed

[2019-03-29 07:31] Madhu-1 commented on #285
Fixed in #285

[2019-03-29 07:31] #285 closed

[2019-03-29 13:29] huaizong opened #293 "csi-provisioner rbac need add resources `nodes` get, list, watch"
[code]

provisioner 1.0 support  VolumeNodeAffinity

https://github.com/kubernetes-csi/external-provisioner/blob/release-1.0/pkg/controller/topology.go#L114

[code]
https://github.com/kubernetes-csi/external-provisioner/blob/release-1.0/pkg/controller/topology.go#L148

[code]

[2019-03-30 10:59] sbskas opened #295 "csi-attacher fails to register"
Using kubernetes 1.13.5 and ceph-csi branch csi-v1.0
Creation of ceph-csi works ok but for the attacher that tries to register through a csi-attacher.sock and fails miserably.
2 two problems are present
1- csi-attacher.sock is connected to nothing (should it be a rbdpluging ?)
2- after a couple of minutes of warning CONNECT/TRANSIENT failure, the attacher goes on and tries to call Identity/probe w

[2019-03-30 13:19] sbskas opened #296 "How to migrate from csi-driver 0.3 -> csi-driver csi-1.0"
Since driver name changed and PV are tagged with driver-name, how do one migrate the already created PV from pre-csi-1.0 version to the new version.

Changing the driver in the persistent volume fails with :
"# persistentvolumes "pvc-638476e6264211e9" was not valid:
# * spec.persistentvolumesource: Forbidden: is immutable after creation"

What's the plan then to migrate smoothly from csi-rbdplugin

[2019-04-01 06:20] Madhu-1 commented on #296
@ShyamsundarR @humblec do we support migration?

[2019-04-01 06:24] Madhu-1 commented on #295
duplicate of https://github.com/ceph/ceph-csi/issues/278

@sbskas please reopen if its not duplicate

[2019-04-01 06:24] #295 closed

[2019-04-01 13:58] rootfs commented on #293
the offending code is more likely in https://github.com/kubernetes-csi/external-provisioner/blob/release-1.0/pkg/controller/topology.go#L189
[code]

[2019-04-01 14:03] huaizong commented on #293
you are right

[2019-04-01 18:24] #293 closed

[2019-04-01 20:17] deveshk0 commented on #141
I am having same issue, Running kubernetes in dcos.
kubernetes version  - 1.13.5 csi-version v1.0

[2019-04-02 10:37] Madhu-1 commented on #255
@ktdreyer @j-griffith can we close this one or #266 so that we can continue our discussion on one place so that we don't need to track the same issue in different places.

[2019-04-02 11:49] humblec commented on #255
I would rather keep this open and close #266 considering this came first. @ktdreyer @j-griffith @Madhu-1 .

[2019-04-02 11:54] Madhu-1 commented on #255
anything would be fine for me. let  @ktdreyer and @j-griffith decide.

[2019-04-02 12:51] ShyamsundarR commented on #296
@sbskas Currently the PV naming scheme in 1.0 is undergoing more changes, thus the naming would be different than what was present in v0.3 of the Ceph-CSI implementation. As this is immutable post creation, a direct upgrade to the v1.0 version from v0.3 version is not feasible.

We also have to analyze the [breaking changes](https://github.com/container-storage-interface/spec/releases/tag/v1.0.0)

[2019-04-03 17:08] dillaman opened #301 "Improve integration with "rbd-nbd""
The decision to use ```rbd-nbd``` should not be handled by detecting if the package exists in the node container. Instead, it should be a configuration choice to use ```rbd-nbd```. This is especially important since ```krbd``` does not support all available RBD image features.

Additionally, ```rbd-nbd``` should never be invoked directly. Preferably it should be executed via ```rbd device map --de

[2019-04-04 05:49] Madhu-1 commented on #250
CC @ShyamsundarR

[2019-04-04 06:46] Madhu-1 opened #305 "Fix image vulnerabilities found in quay.io"
currently there are 2 vulnerabilities issues  found in both [rbdplugin](https://quay.io/repository/cephcsi/rbdplugin/manifest/sha256:893f9d27d3abfb3a4a263566f638af6b98c0660ad684f94ecd4e0586a90c05ec?tab=vulnerabilities&fixable=true)  and [cephfsplugin](https://quay.io/repository/cephcsi/cephfsplugin/manifest/sha256:60a139192580f4d06aabe075842cd987d8147e569b6d04e7a9b849c64d35a1d3?tab=vulnerabilities

[2019-04-04 06:46] Madhu-1 commented on #305
CC @humblec @leseb

[2019-04-04 09:23] nixpanic opened #307 "Include deployment manifests as an artifact with releases"
When a Ceph-CSI release is made, it should also provide an artifact with the deployment manifests. This makes it easier for users of Ceph-CSI to deploy a certain version. Other projects (like Rook) can then remove their copies of the manifests and refer to the original ones of a release.

[2019-04-04 09:33] nixpanic commented on #307
It will likely be needed to merge certain pieces from [the Rook Ceph CSI manifests](https://github.com/rook/rook/tree/master/cluster/examples/kubernetes/ceph/csi) so that there are no regressions when Rook consumes the manifests from Ceph-CSI.

[2019-04-04 12:09] leseb opened #308 "Can I change the default branch on GH to master now?"
Since we resynced v1.0 on master, I believe we can change the default pointing branch to master.
I can easily do that if necessary. Thanks.

[2019-04-04 12:10] Madhu-1 commented on #308
@leseb once #302 is done, planning to make `master` as  default

[2019-04-04 12:14] leseb opened #309 "Switch to the 'ceph' org on quay"
I can add whoever we want to the org and use that account for pushing images.

I already created: https://quay.io/repository/ceph/csi-cephfs and https://quay.io/repository/ceph/csi-rbd.

I believe it makes more sense to use the 'ceph' org.

[2019-04-04 12:18] Madhu-1 commented on #309
@leseb makes sense to have csi images under ceph org.

just to note, current images names are `rbdplugin` and `cephfsplugin`, do we need to make changes in  https://github.com/ceph/ceph-csi/blob/csi-v1.0/Makefile#L19 ?

[2019-04-04 12:20] leseb commented on #309
I guess I removed the 'plugin' part because I thought it wasn't that necessary and that `csi-cephfs` was pretty self-explanatory? wdyt?

[2019-04-04 12:20] leseb commented on #309
So yes, if we go that route we will have to change the Makefile accordingly and just push the image to the new quay, that's easy.

[2019-04-04 12:23] Madhu-1 commented on #309
Agreed, someone with access needs to edit Travis configuration and Makefile to push the image to quay.

[2019-04-04 12:41] wilmardo commented on #272
@rootfs @phlogistonjohn @Madhu-1

This can be closed now, the reference was lost somehow when merging the PR

[2019-04-04 12:42] Madhu-1 commented on #272
@wilmardo Thanks, closing

[2019-04-04 12:42] #272 closed

[2019-04-04 13:21] wilmardo opened #311 "How stable is the csi-v1.0 implementation currently?"
I was using the [external-storage/ceph/rbd](https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/rbd) provisioner but in the [PR](https://github.com/kubernetes/org/issues/324) to move it to kubernetes-sigs I saw that this repo will deprecate that provisioner.
So I am trying to switch to the new cis-v1.0 plugin since that seems to be the way forward but PR's like #280 and #288

[2019-04-04 16:02] ShyamsundarR commented on #250
csi-test plugin [sanity](https://github.com/kubernetes-csi/csi-test/tree/master/pkg/sanity) runs by acting like the kubernetes driver services (provisioner/attacher/snapshotter etc.). IOW it sends in the required RPCs that invoke CSI plugin functionality across supported calls.

Hence, it does not need a kubernetes setup to run, or the kubernetes sidecars to function, it needs a running plugin ins

[2019-04-04 16:03] ShyamsundarR commented on #250
csi-test plugin [sanity](https://github.com/kubernetes-csi/csi-test/tree/master/pkg/sanity) runs by acting like the kubernetes driver services (provisioner/attacher/snapshotter etc.). IOW it sends in the required RPCs that invoke CSI plugin functionality across supported calls.

Hence, it does not need a kubernetes setup to run, or the kubernetes sidecars to function, it needs a running plugin ins

[2019-04-04 17:44] ShyamsundarR commented on #250
Here are the pod and RBAC manifests used against v1.0.0 rbdplugin for a test.

[rbdplugin-pod.yaml](https://gist.github.com/ShyamsundarR/4749f028a9c25add199b9cf87ecf294c)
[rbdplugin-rbac.yaml](https://gist.github.com/ShyamsundarR/d3dacc69b2e3312af4493b77980894dd)
[Output from the test](https://gist.github.com/ShyamsundarR/9d90d3795e4d984faabd31ea47f434a8)

[2019-04-04 19:29] ShyamsundarR commented on #291
The options mentioned (osd_request_timeout, queue_depth) seem to be rbd options that have to be passed to the `rbd map` command when using the krbd client. Possibly other clients also support these options in different ways, but my investigation has been till [krbd](http://docs.ceph.com/docs/mimic/man/8/rbd/#kernel-rbd-krbd-options) client.

The code that you link to also points to `rbd map` so we

[2019-04-04 19:40] ShyamsundarR commented on #291
Correction as noted in issue #292 the mount options are not currently passed to the FS mounter.

@Nefelim4ag based on the other issue filed, I assume that this request is for rbd map options, that is separate from the mount options?

[2019-04-04 19:42] ShyamsundarR commented on #292
I believe we should pass the mount options as noted [here](https://github.com/ceph/ceph-csi/issues/291#issuecomment-477241644). This needs to be fixed in the code pointed to above.

[2019-04-05 06:42] Nefelim4ag commented on #291
@ShyamsundarR, yep
That request for pass options to `rbd map`

[2019-04-05 07:13] Madhu-1 commented on #278
Fixed in #290

[2019-04-05 07:13] #278 closed

[2019-04-07 22:56] ShyamsundarR commented on #250
As a part of broader CI possibility, played with running minikube on TravisCI and [here](https://travis-ci.com/ShyamsundarR/gittests/builds/107385509) is an initial run, that setups up rook on a minikube instance in TravisCI. The files and code are [here](https://github.com/ShyamsundarR/gittests), and we can possibly start from here and see how to run csi-test suite next on the same.

[2019-04-08 08:09] leseb commented on #305
This basically means:

* build more often
* add a timestamp to each build

[2019-04-08 13:06] sandromodarelli opened #313 "Add PodSecurityPolicy"
Can you add PodSecurityPolicy for attacher, provisioner and nodeplugin?
It would be great to have a psp creation option in helm chart values.

[2019-04-10 07:35] wilmardo opened #314 "Create ROADMAP.md to adress concerns of new users"
As discussed in #311 a ROADMAP.md would be nice in the root of this repository.
This roadmap should address concerns about:

* Current state and steps to take to call it alpha
* Approximate release dates for alpha, beta and GA
* Versioning and backwards compatibility of the (container) versions
* Production readiness

This might depend on a consensus in #302

[2019-04-10 07:35] wilmardo commented on #311
@ShyamsundarR Thanks for the response, a ROADMAP.md would be really helpful!

Closing this in favor of #314

[2019-04-10 07:35] #311 closed

[2019-04-10 14:36] leseb commented on #250
CircleCI config to run minikube https://github.com/ceph/cn/blob/master/.circleci/config.yml

[2019-04-11 16:49] shantur opened #317 "Unable to mount with kernel client"
Hi,

I am using Kubernetes 1.14.0 with latest ceph-csi helm chart.
I tried to use examples to create volume claims. It only works with ceph-fuse mounter, if i specify kernel mounter then it fails with error below

```failed to provision volume with StorageClass "csi-cephfs": rpc error: code = Internal desc = error mounting ceph root: an error occurred while running (45) modprobe [ceph]: exit statu

[2019-04-12 11:48] shantur commented on #317
I think i have found the issue.

https://github.com/ceph/ceph-csi/blob/csi-v1.0/deploy/cephfs/helm/templates/provisioner-statefulset.yaml#L72
is missing the `/lib/modules` mounts like in
https://github.com/ceph/ceph-csi/blob/csi-v1.0/deploy/cephfs/kubernetes/csi-cephfsplugin.yaml#L84

[2019-04-12 12:05] dillaman opened #318 "The CephX key should never be passed via a command-line argument"
When using Ceph CLI tools, never use the ```--key``` parameter. Instead, write the key to a temporary file and point the ```--keyfile``` optional to the file.

[2019-04-12 12:13] dillaman commented on #270
From the point-of-view of the ceph-rbd CSI, I agree that the current usage of admin vs user doesn't make much sense. The CSI would only need a user w/ caps similar to the following:

```ceph auth get-or-create client.{ID} mon 'profile rbd' osd 'profile rbd [pool={pool-name}][, profile ...]'```

There isn't currently any need for full Cluster "admin"-level permissions (i.e. ceph.admin) to any RBD o

[2019-04-16 00:41] ShyamsundarR commented on #270
@dillaman if we use namespaces, can we still maintain pool level RADOS omaps and keys. Assuming we are removing the `csi.volumes` and csi.snaps` omaps, we still need to create the other omaps and keys, do those need any privileges that would be missed in this scheme?

[2019-04-17 12:26] ajarr opened #328 "[csi-cephfs] use ceph mgr volumes module to provision/manage csi volumes"
Currently, cephfs CSI drivers fuse/kernel mounts a ceph filesytem to create/purge csi volumes, which are cephfs subdirectories with a specific quota and layout. There are already ceph CLI commands (nautilus version of Ceph onwards) that can create/delete csi volumes. The cephfs CSI driver can issue the following commands to ceph-mgr daemon to do this,
[code]

[2019-04-18 14:43] dillaman commented on #270
@ShyamsundarR Technically you could grant additional access to the default ('') namespace on specific objects like ```csi.volumes``` and ```csi.snaps```. It does bring up a good design question of whether or not that would violate the expected isolation between pool namespaces and therefore should the namespace name be encoded in the volume/snap id as well?

[2019-04-19 10:11] sandromodarelli commented on #101
any news about this issue? plans of release?

[2019-04-20 11:30] lxs137 opened #329 "Branch 'csi-v0.3' does not support block volume, should remove block-pvc example"
I found this https://github.com/ceph/ceph-csi/commit/3b74bff6b6d099ac517064f9a9dbf58168c3f6b5 commit is merged into branch 'csi-v0.3', but this https://github.com/ceph/ceph-csi/pull/132/commits PR has not merged into branch 'csi-v0.3'.

So actually branch 'csi-v0.3' does not support block volume, but we still can find the 'pvc-block.yaml' and README in examples dir. I think we should delete the co

[2019-04-20 11:40] lxs137 commented on #329
If branch 'csi-v0.3' plan to support block volume, we should merge the #132 into this branch?

[2019-04-22 20:09] briantopping opened #332 "Encrypted RBD Volumes"
http://docs.ceph.com/docs/master/ceph-volume/lvm/encryption/ documents a process by which RBD volumes can be encrypted. https://kubernetes-csi.github.io/docs/secrets-and-credentials.html#node-publish-secret documents how PVCs could contain an annotation with a secret name the can templated into the PV.

Put together, the templated key name could be used to set up the encryption in `CreateVolume` a

[2019-04-23 09:16] herrypio commented on #217
Thanks @huaizong for #282. The PR will help us to recover when the CSI plugin Pod unexpectedly exits.

Does anyone know when this will be released?

[2019-04-23 16:22] ShyamsundarR commented on #296
The mentioned repository is now updated to point to this one instead: https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/csi-translation-lib

[2019-04-24 12:30] ShyamsundarR commented on #270
@dillaman anything added to the Storage Class that specializes where the volume (image) will land, will need encoding into the volume/snap ID. So, if we decide in the future to add namespace support into the StorageClass then this would need to be added to the returned ID.

Is it not feasible to query and determine which namespace a user has access to in a pool, and use an appropriate namespace in

[2019-04-24 12:40] dillaman commented on #270
Agreed (given the assumption that the CSI driver cannot pull the StorageClass or additional Secret metedata from k8s).

Negative, it's not realistically feasible. You would need to pull their caps from the MONs (which would require high privilege) and then parse out the caps to determine which ones apply to which pool and namespace -- possibly multiple).

Right, it doesn't stall current stateless

[2019-04-24 12:51] mykaul commented on #246
@ShyamsundarR - do we know what the gap is?

[2019-04-24 23:17] ShyamsundarR commented on #246
@mykaul I do not know this yet, been focusing on the rbd parts. Tagging @ajarr for any comments.

[2019-04-24 23:33] ShyamsundarR commented on #307
Query: Where would such an artifact be released/made available? We build images in quay, so would it be fine if these are in the github releases assets? Or, is there a more canonical location for the same?

[2019-04-24 23:39] ShyamsundarR commented on #296
@kfox1111 @sbskas

Question: **Supposing** we state the following support statement for volumes (and snapshots) created using existing 0.3 and 1.0 versions of the Ceph-CSI drivers (rbd and CephFS), is it sufficient to address any concerns with already in use plugins?

For volumes created using 0.3 and existing 1.0 versions of the Ceph-CSI plugins the following actions would be supported by a futur

[2019-04-24 23:53] kfox1111 commented on #296
I think there's multiple things maybe here....

This issue is talking about specifically 0.3 -> 1.0 ?

The driver rename happend post 1.0. as I got hit by that and I manually burned down all my 0.3 volumes and deployed 1.0 fresh and then the driver rename happened.

Then there's the issue where they want to drop configmaps and push that info into ceph directly (I support this)

But thats already p

[2019-04-25 00:58] sbskas commented on #296
For me, I think it should be enough.
Just one question though : why not mutate the pv object to the new format and manage it like created objects with the new drivers ?

[2019-04-25 02:15] huaizong commented on #217
The PR already merged in csi-v1.0 and master branch.

@gman0  @Madhu-1  maybe we can release  some minor version just like  v1.0.1 ?

[2019-04-25 07:31] zhucan opened #335 "external-provisioner set replica as 1 with StatefulSet when the node status is unhealthy will case cluster unavailable"
sidecar set replica >= 2 with deployment be better

[2019-04-25 12:50] ShyamsundarR commented on #217
The v1.0.0 [image](https://quay.io/repository/cephcsi/rbdplugin?tab=tags) in quay should already be built with this fix. Every PR merge refreshes the image, and hence this should be updated with the fix.

In the near future we would get to a versioned system, for minor updates to the 1.0 branch.

[2019-04-25 13:52] herrypio commented on #217
I'm closing this issue because #282 is available in v1.0.0 image. Thank you all.

[2019-04-25 13:52] #217 closed

[2019-04-25 16:05] kfox1111 commented on #296
the pv's cant be edited after they are created. The apiserver blocks changes.

[2019-04-25 16:08] kfox1111 commented on #296
I can see 3 possible solutions to that:
1. the kubernetes storage team provides an option to allow "unsafe" api editing of pv's.
2. we try a procedure like: shutdown the driver, backup all relevant pv's. Delete them. update the driver name in backups, import from backups.
3. We shutdown the apiserver and tweak the docs directly in etcd.

option two might be the most expedient and safe

[2019-04-25 17:41] ShyamsundarR commented on #296
I would not vote for the above, just for this plugin, seems like a lot of work.

Wouldn't the PV delete step move it to "pending" state if the driver is not up? and, hence not really delete the PV till the driver is back up again, at which point the real PV on Ceph gets deleted as well?

To prevent this, would an option in 0.3/1.0 versions of the plugin work, that would fake a delete? IOW, respond

[2019-04-25 17:47] kfox1111 commented on #296
Yeah. maybe an extra step of: update the pv's to have state <insert appropriate state here> so they get deleted is needed. If the driver isn't running, its probably ok?

[2019-04-25 19:13] JohnStrunk commented on #296
Another migration option would be to swap things around directly on the ceph back end...

Assume: Both 0.3 and 1.0 can co-exist during the migration

Starting w/ a 0.3 PVC/PV pair: pvc/myvol and pv/myvol:
- Provision a new, empty volume via the 1.0 provisioner: pvc/myvol-1.0 and pv/myvol-1.0.
- By looking at the metadata, it should be possible to figure out both the original (pv/myvol) RBD volume

[2019-04-26 09:46] 1337andre opened #337 "Hard to debug, with missing logs"
We had problems to debug mount problems.

Currently only StdErr will print out in logs, when mounting cephfs failed. But in our cause mount only write in stdout. This results into an empty message log with only exitCode 1.

It would be helpful if you could write stdOut in logMessage, if something went wrong.
https://github.com/ceph/ceph-csi/blob/csi-v1.0/pkg/cephfs/util.go#L57

[2019-04-26 12:19] mmack opened #338 "RoleBinding in the helm chart does not work"
Error when using the helm chart:
[code]

K8S Api does not have a namespace field in the roleref:
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#roleref-v1-rbac-authorization-k8s-io

One of the problematic lines:
https://github.com/ceph/ceph-csi/blob/de94cb62a99b899dc95bf9db79510a1c6ae9a867/deploy/rbd/helm/templates/provisioner-rolebinding.yaml#L20

[2019-04-26 20:03] ShyamsundarR commented on #296
Ran the above procedure on a test cluster, and it works as required (thanks @JohnStrunk ).

@kfox1111 and @sbskas this would be the way to migrate, without leaving behind any older PVCs with older metadata for a longer duration, or without having to copy out the data. Let me know your thoughts, and we can possibly coordinate on scripts that can help achieve the same.

Here are some more intermedia

[2019-04-26 20:51] kfox1111 commented on #296
Thanks for coming up with the procedure. looks like that was a fair amount of work.

But it is also a very long procedure that has many potential places where a mistake could be made.

I'm going to ask advice on the k8s sig-storage channel to see what other options are available. If there was a quick way to rename the driver under the hood, that may be preferable?

[2019-04-27 08:30] #329 closed

[2019-04-27 10:51] sbskas commented on #296
Indeed, this is what we did to migrate the pv.
However, there is still few roadblocks on the roard.
1- we have been unable to install both driver together. Either it's 1.0, or 0.3 not both. The csinodeinfo/driverregistrar features whatever barfs with the old driver registration.
2- the pv must be migrated with all the  applications using the PV down (i.e. scaled to 0). Quite a big blackout.
3- Las

[2019-04-29 03:06] chenqiangzhishen opened #340 "can not create pv dynamically when using csi-v0.3"
when using the `StorageClass.yaml` to create `rbd StroageClass`, it failed to create PV,  it shows pending, as the provisioner can't dynamically create it according to the new pvc.

[2019-04-29 03:20] chenqiangzhishen commented on #340
find the provisioner specified not as the same as  it is declared in the csi-provisioner StatefulSet , which leads to fail to create PV dynamically.
I used the example list in the dir `ceph-csi/examples/rbd/storageclass.yaml` in git branch csi-v0.3

[2019-04-29 03:21] chenqiangzhishen commented on #340
fix it, please review, thanks

https://github.com/ceph/ceph-csi/pull/339/commits/cd03d39f97c1af895bf69bb58f64c8fb07d8b8d7

[2019-04-29 13:24] ShyamsundarR commented on #340
Closing the issue as the relevant PR is merged. Thanks.

[2019-04-29 13:24] #340 closed

[2019-04-29 14:51] ShyamsundarR commented on #317
@shantur That seems right, the rbd nodeservice plugins also require `/lib/modules` access, and that seems rightly plumbed in with the Helm charts for rbd, but missed out for CephFS.

Would you be sending a PR to fix this?

[2019-04-29 16:03] kfox1111 commented on #296
@msau42 any ideas?

[2019-04-29 16:24] msau42 commented on #296
The "simplest" I know of currently is to:

1. VERY IMPORTANT: Modify all your PVs to use reclaim policy Retain!
2. Create new copies of the PV.spec object with the new driver name.  In that new copy, specify the same PV.spec.ClaimRef.Name/Namespace (but not uid).
3. One by one, delete pod, then PVC.  Recreate a new PVC (if you're not using statefulsets) with the same name.  Since the newPV.spec.Cl

[2019-04-29 16:29] kfox1111 commented on #296
Hmm.. sounds like that might work... still a good chance of messing something up in the process.

How possible would it be to make the csidriver field of the pv editable?

[2019-04-29 16:46] msau42 commented on #296
That may fix this particular case, but doesn't solve the general issue of how to "upgrade" a PV.

[2019-04-29 16:51] shantur commented on #317
I am not sure what all mounts would be necessary out of

[code]

[2019-04-29 16:57] kfox1111 commented on #296
The problem is, pvc's and pv's are the abstraction between the user (pvc) and admin (pv) allowing scaleout of workload. If the admin has to deal with pvc's then it re-intertwines the workload from the cluster maintenance. This is especially hard on multitenant clusters. Being able to have a procedure that leaves the pvc's alone would be a huge benefit.

Solving it completely generally may not be p

[2019-04-29 17:00] msau42 commented on #296
Name of the driver should be treated like any other API field.  Once something is 1.0, then there are strict backwards compatibility rules that drivers need to follow.

Anything pre 1.0 though does not have such strict guarantees.

[2019-04-29 17:01] msau42 commented on #296
On another note, you should be able to run a 0.3 driver with name X, and a 1.0 with name Y alongside each other.  They should be seen as 2 different drivers. However, you may need to make sure they're not clobbering each other's sockets

[2019-04-29 17:08] kfox1111 commented on #296
so, should the driver be renamed back, since it started life in 1.0 with the other name?

[2019-04-29 17:16] ShyamsundarR commented on #296
The 1.0 versioning was a misnomer IMO, as the version of the driver went along with the CSI spec version that it supported (it should have been a version for the driver, not the spec version).

The problem is larger than the driver name in this case, we are changing the on-disk rbd image name and also the passed back `volumeID`. Thus, mutating older PVs to newer ones, requires rbd changes (image n

[2019-04-29 17:22] kfox1111 commented on #296
I asked when backwards compatability would be honoured, and it sounded like the answer was, once the driver hit 1.0.  So I thought 1.0 had a meaning there.

I too have seen potentially breaking changes, but thus far they could be maintained unbroken by telling the chart to use the old name. I was planning on trying to block further breaking changes without migration plans.

I'm still looking for a

[2019-04-29 17:44] ShyamsundarR commented on #296
I did not fully understand this comment, hence asking for clarifications.

Could you point to the context in which this was answered. I am wondering if I answered this in some way or if this was before the [current breaking](https://github.com/ceph/ceph-csi/pull/312) changes under review.

I see that using the old name, would prevent any breakage **till now**, and the name is configurable, hence e

[2019-04-29 18:13] kfox1111 commented on #296
I think the discussion was offline with some folks. So, sorry I don't have history of it. :(

https://github.com/ceph/ceph-csi/pull/312 has not merged. This change in particular was the one I had in mind when I mentioned trying to block such changes unless there is a clear, reasonable migration plan. it Being under review isn't necessarily a bad thing as it allows progress to be made. But merging

[2019-04-29 19:30] ShyamsundarR commented on #296
I did my initial experiments with 1.0 and 1.0+ code, hence repeated part of it (i.e running 2 CSI instances) with 0.3 today. I am able to run both instances without much trouble. The changes are,
- Driver name should be different
- Namespace where the CSI pods are running is different
- Socket path is different (like the driver names)

A patch to the v1.0 helm chart looks like [this](https://gist.

[2019-05-01 10:46] ShyamsundarR commented on #308
@leseb The above is now done, we can move the default branch to master.

[2019-05-02 00:45] kfox1111 opened #342 "ceph-csi-rbd configmap rbac broken"
We have had breakage after we moved to the newest chart. We tracked down the issue to this commit:
5c600a1bc5193b35c1f050fda527bd83be6d04c7

This fixed a bug where too many permissions were given to the provisioner but exposed a bug where the driver was always writing configmaps to the default namespace, not the configured namespace and after that commit, the provisioner no longer has permissions

[2019-05-02 00:45] kfox1111 commented on #342
@plnordquist @rootfs

[2019-05-02 17:33] hyperbolic2346 opened #344 "Error 95 Operation not supported when mounting pvcs"
I'm running a test that worked a few weeks ago and is now failing with error 95. I have Kuberentes 1.14.1 running in AWS.

[code]
[code]
[code]
[code]

[2019-05-02 17:39] hyperbolic2346 opened #345 "Docker image tags being rolled"
In trying to debug an issue I was having, I noticed that the v1.0.0 docker image is constantly rolling https://quay.io/repository/cephcsi/rbdplugin?tab=history. This makes it hard to have a working setup because the image keeps changing and possibly breaking. Is there a way to tag some stable docker images so that one can rely on them for testing and rollout? I don't see a stable tag for the v1 al

[2019-05-02 18:00] dillaman commented on #344
@hyperbolic2346 You are hitting [1] - the initial Nautilus release of librbd fails to open images stored on a Luminous release cluster.

[1] http://tracker.ceph.com/issues/38834

[2019-05-02 18:03] ShyamsundarR commented on #345
Thanks, we are aware of this and is handled in [master](https://github.com/ceph/ceph-csi/pull/302). As we firm up the [release process](https://github.com/ceph/ceph-csi/pull/302#issuecomment-481296073), let me backport relevant changes from the same to the 1.0 branch, so that in the future the 1.0 image is not updated for each PR.

[2019-05-02 18:39] hyperbolic2346 commented on #344
@dillaman Yes, that seems exactly my issue. Do we have an estimate on how long that fix will take to roll out into the containers? Due to #345 I can't just roll back to a previous docker image to fix this.

[2019-05-02 18:41] hyperbolic2346 commented on #345
@ShyamsundarR Thank you for this update. Good to know you're aware and working towards a solution here.

[2019-05-02 18:41] #345 closed

[2019-05-02 19:00] dillaman commented on #344
@hyperbolic2346 I'm not truly involved in the CSI workload, so I couldn't say. The 14.2.1 release is out so a new re-build of the container should hopefully pick up the fixed packages.

[2019-05-02 19:13] ShyamsundarR commented on #344
@dillaman The latest builds of 1.0 uses mimic [afaict](https://quay.io/repository/cephcsi/rbdplugin/manifest/sha256:77f9dfaa6f2408e94262e97aba9994bcc19f6892f4c01c1db6eacce7340d0d86) as well as from the Makefile and the docker file in `deploy/rbd/docker/`. So, should this issue be present on mimic client to luminous server versions as well?

@hyperbolic2346 we started building using nautilus versio

[2019-05-02 19:33] dillaman commented on #344
Negative -- it was only an issue in 14.2.0.

[2019-05-02 19:35] dillaman commented on #344
The package manifest shows that 14.2.0 of librbd1 is installed [1]

[1] https://quay.io/repository/cephcsi/rbdplugin/manifest/sha256:77f9dfaa6f2408e94262e97aba9994bcc19f6892f4c01c1db6eacce7340d0d86?tab=packages

[2019-05-02 20:46] ShyamsundarR commented on #344
Right, the line that calls out mimic as no meaning in the dockerfile,
[code]

The line above that actually installs the latest `centos-release-ceph' and moves on from there. Thanks for catching the package manifest @dillaman .

The latest in CentOS storage is still [14.2.0](http://mirror.linuxfix.com/centos/7.6.1810/storage/x86_64/ceph-nautilus/).

@hyperbolic2346 we either need to fix the DockerF

[2019-05-03 05:57] kannanvr opened #350 "Could not create the CephFsvolume"
Hi,
   I could not create the CephFs volume on rook-ceph
I have deployed rook-ceph. Also, I have deployed filesystem Crd on rook-ceph
Then I have deployed the Ceph-CSI to allocate the PVC dynamically

Following is my secret
[code]

Also, I have mentioned the rook-ceph Mon IP and port as a monitor IP's on storageclass.
Then I have created the PVC as mentioned on the example of this project
But PVC

[2019-05-03 10:57] humblec opened #353 "Release v1.1.0 of Ceph-CSI driver"
- [x] Define release process
  - Release doc would be a good start
- [x] Define release deadlines
  - Code Freeze : 25-May-2019
  - RC : 04-May -2019
  - GA : 14- Jun-2019
- [x] Define/list roadmap for v1.1.0
  - Proposed contents for v1.1.0 release
  -- Provision cephfs volumes using Ceph manager
  -- E2E CI
  -- Kubernetes 1.14 base.
  -- CSI spec 1.1.0
  -- Stateless implementation ( RBD, CephF

[2019-05-03 11:00] humblec commented on #353
@rootfs @gman0 @j-griffith @leseb @Madhu-1 @ShyamsundarR Can you share your thoughts or add input ?

[2019-05-03 11:21] ShyamsundarR commented on #350
In your secret the word "admin" is base64 encoded with a trailing new line character, IOW like so,
[code]

This is causing the command to not take in the "key" which is the following argument, and hence failing in mount due to permissions as the key is missing.

Use the following to base64 encode the "admin" string instead,
[code]

[2019-05-03 11:21] #350 closed

[2019-05-03 11:30] ShyamsundarR opened #354 "Find ways to avoid ceph CLI keyring error strings in logs"
As we do not have ceph keyring files on the CSI containers, CLIs that fail and are reported in the logs have additional errors calling out the same. This is a little noisy when debugging issues and is at times misleading. Need to find ways to determine how to let Ceph CLI commands ignore the absence of a keyring.

Sample output:
[code]

[2019-05-03 11:33] ShyamsundarR opened #355 "Troubleshooting and problem reporting guide/text/doc"
It would be helpful to add a troubleshooting and problem reporting instructions to the repository. It can ease initial self-help and also data collection requirements when reporting issues.

For example which logs to collect and report, or what manifests to collect and report for a bug.

This can even be pointed to when opening a new issue.

[2019-05-03 11:42] anmolsachan opened #356 "Ceph-csi should expose a prometheus metric for CSI service status"
Ceph-csi should expose a prometheus metric for its own service status. This metric is required for detecting if the CSI is working and PV and PVC's can be created. If possible PV and PVC creation ability metrics should also be available. Otherwise on a minimum the Ceph-csi service running status metric should be available.

These metrics are required to generate prometheus alerts, in cases where s

[2019-05-03 14:48] bennycooly commented on #342
I'm having this same issue when using the ceph-csi-rbd chart (v1.0.0). Until this is fixed, I'm using a temporary solution for granting the provisioner service account permissions:
[code]

[2019-05-03 15:19] kfox1111 commented on #342
Yeah, that should work around the issue.

[2019-05-06 11:12] ShyamsundarR opened #357 "CephFS plugin needs an async subvolume purge mechanisim"
Currently the CephFS plugin on a volume delete is purging the contents of the deleted volume [in-line](https://github.com/ceph/ceph-csi/blob/882bebf1d8507d6bcd4b4bfae23a861057353785/pkg/cephfs/volume.go#L116) as a part of the DeleteVolume request. This may take time and hence cause the CO system to retry deletes against the same volume.

Further, this will also lock up the VolID name based [mutex]

[2019-05-06 11:14] ShyamsundarR commented on #357
@ajarr Are there ways to achieve this when using the ceph volume based subvolume creation and deletion? Or, other means possible with the CephFS backend?

[2019-05-06 13:16] ajarr commented on #357
Yes, we plan to purge fs subvolumes asynchronosuly in the backend. @vshankar is working on this.

[2019-05-06 14:29] vshankar commented on #357
I'll push the pr soon for review.

[2019-05-06 18:59] ShyamsundarR opened #358 "Check for newline characters in secrets, and log appropriate messages"
In the recent past there have been a couple of issues in the repository and in the slack channels where users have inadvertently missed out using `echo -n ...` when encoding id and key in secrets. This causes the CLI commands to fail with permission errors, but the log output looks healthy (barring a line break).

To ease self service in terms of correcting such situations, we should maybe conside

[2019-05-06 19:21] ShyamsundarR opened #359 "Provide ability to select CephFS fsname to provision from in the StorageClass"
Currently the CephFS plugin storage class does not provide a means to select a file system name to provision from. As multiple FS support is present in CephFS, the storage class is better equipped to handle the same in the future, if the fsname is explicitly mentioned in the same.

This was based on a review conversation around volume ID encoding changes in the rbd plugin and can be found [here](h

[2019-05-07 00:42] ShyamsundarR opened #360 "Document exact capabilities a id requires against a Ceph cluster for RBD and CephFS plugins"
The [various](https://github.com/ceph/ceph-csi/blob/3a308eaeeec724ed2bf4163a9e58d5c50bbde2b2/examples/rbd/secret.yaml#L9) [secrets](https://github.com/ceph/ceph-csi/blob/3a308eaeeec724ed2bf4163a9e58d5c50bbde2b2/examples/cephfs/secret.yaml#L13) that need to be provided to the plugins for provisioning and mounting needs documentation regarding exact capabilities that these identities require.

This

[2019-05-07 07:31] Madhu-1 commented on #360
do we need to document these capabilities or we can just point to the ceph user management for information?

[2019-05-07 07:40] Madhu-1 commented on #356
there is no way to check PV and PVC can be created.(But I think we can check the ceph backend status, but this also required the storage class and secret to be created prior to the probing)

if we want to check the ceph-csi is running you can just run a sidecar container to send ProbeRequest and check the response.

[2019-05-07 07:46] Madhu-1 commented on #355
is this should be part of the GitHub issue template?

[2019-05-07 07:49] Madhu-1 commented on #353
we need to make master as the default branch for this one.
@humblec assigning this to you as I see you already working on this one.

[2019-05-07 08:04] humblec commented on #353
Yep, lets make `master` as the default branch.

Before we make `master` as the default branch, I think we have to do or make `csiv1.0` and `master` in parity.

[2019-05-07 08:10] Madhu-1 opened #362 "push helm chats to different folders"
currently, we are pushing the helm chats for both csiv1.0 and 0.3 to the same folder in https://github.com/ceph/csi-charts/tree/master/docs/

we need to push 1.0 changes to a different folder and 0.3 changes to a different folder so that it will be easy for a user to pick it up.

[2019-05-07 10:47] humblec commented on #353
https://github.com/ceph/ceph-csi/pull/363 is to bring `master` and `csi v1.0` in parity.

[2019-05-07 11:10] ShyamsundarR commented on #355
Yes that is what I intended with the above statement, i.e the final result is pointing to the doc/guide and listing additional details when an issue is being filed using templates.

[2019-05-07 11:17] humblec commented on #353
Once above PR is merged, @Madhu-1 would you be changing the default branch to `master`?

[2019-05-07 11:20] Madhu-1 commented on #353
yeah, am planning to make master as the default branch. I will wait till EOD if anyone has any suggestions.

[2019-05-07 17:50] ShyamsundarR commented on #360
We need to document what capabilities CSI needs. Ceph documentation links can be pointed to for how to create it etc. but exact capabilities that are needed by the ID needs documentation from the CSI end I would think.

[2019-05-08 05:53] humblec commented on #356
@anmolsachan I am not sure checking ceph-csi service status is something of interest or in plate of CSI. The reason being, as these are pods, it will be taken care by the kubelet, but definitely there is a possibility for service not available, however its possible to get it from kubelet metrics about the pod status `up` or not. isnt it ?

[2019-05-08 09:44] anmolsachan commented on #356
@Madhu-1 The CSI service metric is reqired as a prometheus metric to create alerts. So creating a Sidecar container will a big overhead. Also, in kubernetes each service can give its own metrics, so it will be much better to have from Ceph-csi.
Regarding PV and PVC if its not possible, its not a major requirement. Would have been a add on to create better alerts to the user.

[2019-05-08 15:36] james58899 commented on #264
I have same issue
can success mount first volume but second will failed
it trying find all nbd pid and error when mount first volume and try reuse nbd0 when mount second volume

[code]

full log: [container.log](https://github.com/ceph/ceph-csi/files/3158104/container.log)

[2019-05-08 23:37] kfox1111 opened #367 "atomic container tagging"
The released container tag is updated with a different version of the container. This prevents Kubernetes from properly ensuring consistency between all cluster members and performing upgrades and rollbacks. We need a way to guarantee that a tag is not overridden, but instead a new tag is created.

[2019-05-09 04:18] humblec commented on #328
@ajarr as per yesterday's discussion we are tracking this for `v1.1` release.
@Madhu-1 @ShyamsundarR any further thoughts?

As discussed in CSI call, one outstanding item is the migration story. The implementation and code availability looks feasible by v1.1 release deadline.

[2019-05-09 04:22] humblec commented on #251
@poornimag @Madhu-1 lets get this going. Thanks.

[2019-05-09 04:23] humblec commented on #251
/assign @Madhu-1
/assign @poornimag
/assign @humblec

[2019-05-09 04:26] humblec opened #368 "Update Ceph-CSI repo to kube 1.14 and latest v1.1.0 CSI Spec"

[2019-05-09 04:27] humblec commented on #368
@Madhu-1 jyi

[2019-05-09 04:28] Madhu-1 commented on #368
CSI spec v1.1.0

[2019-05-09 04:30] Madhu-1 commented on #368
@humblec just to node after updating we should test this with different kube version

[2019-05-09 07:45] wilmardo commented on #264
@james58899 Have you tried with the canary tag? That fixed the problem for me :)

[2019-05-09 08:15] james58899 commented on #264
@wilmardo I tried change rbdplugin using canary tag but did not help

[2019-05-09 11:52] Madhu-1 commented on #264
@james58899 is there a way we can reproduce this issue?

[2019-05-09 12:08] james58899 commented on #264
@Madhu-1 I am not sure how reproduce but I set `mounter: rbd-nbd` in storageclass will cause this issue.

Cluster info:
OS: Ubuntu 18.04.2
Docker: 18.09.5
Kubernetes: 1.13.5 (kubeadm)
Ceph: 14.2.1 (rook 1.0.0)

[2019-05-09 12:11] Madhu-1 commented on #264
@james58899 if possible i will try to reproduce and update the issue

[2019-05-09 17:26] gokimax80 opened #370 "FailedMount -MountVolume.SetUp failed Kubernetes 1.14"
Hi,

I'm trying create a pod with a volume using CSI.  The volume is created but it have problems with the mount.

The cluster was created with juju. Kubernetes version: 1.14.1
`
Events:
  Type     Reason       Age   From                            Message
  ----     ------       ----  ----                            -------
  Normal   Scheduled    117s  default-scheduler               Successfull

[2019-05-09 17:31] gokimax80 commented on #370
`storageclass.yaml

kind: StorageClass
metadata:
   name: csi-rbd
provisioner: rbd.csi.ceph.com
parameters:
   # Comma separated list of Ceph monitors
   # if using FQDN, make sure csi plugin's dns policy is appropriate.
   monitors: 10.10.0.10:6789 10.10.0.25:6789 10.10.0.5:6789

   # Ceph pool into which the RBD image shall be created
   pool: kube

   # RBD image format. Defaults to "2".
   ima

[2019-05-09 18:37] ShyamsundarR commented on #370
Quick scan, you seem to be facing this issue #344 can you let us know the version of the Ceph cluster in use?

[2019-05-09 18:45] Daniel-Pivonka opened #371 "ceph-csi metrics"
Ceph-csi should collect metrics about grpc response times. These metrics could be useful for setting timeout values that could prevent creating endless loops (#284). We will also be able to see how the system response time is affected by a large amount of requests.

In addition to the response time this will allow us to build in other metrics in the future.

Here are a few examples of other metric

[2019-05-10 15:47] gokimax80 commented on #370
Hi,

Checking is the same issue #344

The Ceph version is 12.2.11

Thank you!

[2019-05-10 19:53] hongkailiu commented on #287
OCP 4.1 uses k82 1.13.
Any doc about ceph-csi and ocp4.1?

[code]

[2019-05-13 06:01] humblec commented on #371
@Madhu-1 @ShyamsundarR @phlogistonjohn PTAL

[2019-05-13 06:04] humblec commented on #353
What has been achieved so far:
[x] Master is the default branch now.
[x] Master branch has been filled with missed PRs from CSI v1.0 branch

[2019-05-13 06:14] Madhu-1 commented on #371
i will work on this
/assign @Madhu-1

[2019-05-13 07:43] Madhu-1 commented on #371
@Daniel-Pivonka are you working on this PR?

[2019-05-13 08:32] mykaul commented on #246
Any updates? @humblec  ?

[2019-05-13 09:24] humblec commented on #328
Current plan is to get the volume provisioning and deletion based on ceph mgr in v1.1. Once that is in , we will enhance further functionalities.

[2019-05-13 09:26] humblec commented on #246
@mykaul sure, that said, at the moment, we are using subdir based cephfs volumes in CSI or its the method followed since start.  Last meeting, we have decided to move on from this method and stick to ceph manager based volume provisioning.
https://github.com/ceph/ceph-csi/issues/328

Volume provisioning and deletion is planned with v 1.1 release. Once its in, I will implement the snapshot for ceph

[2019-05-13 09:27] humblec commented on #246
/assigning myself for this .

[2019-05-13 09:52] leseb commented on #308
Done.

[2019-05-13 09:52] #308 closed

[2019-05-13 10:44] leseb commented on #354
Does that mean you're executing a `ceph` command without a key? Can you describe in under which circumstances you are getting this error?

[2019-05-13 11:21] ShyamsundarR commented on #354
For example the following command from within the rbdplugin provisioner container would throw such warnings(?) but proceed. These get captured by the plugin when executing these commands from the [code](https://github.com/ceph/ceph-csi/blob/3f35bfd4d770adbb31480bec7575787d56eaab50/pkg/rbd/rbd_util.go#L573) and pollute the logs.

[code]
We do have a minimal ceph.conf in the [code](https://github.co

[2019-05-13 12:29] dillaman commented on #354
@ShyamsundarR Until the CSI gets to the point where it no longer passes the key on the command-line, you can just create an empty "/etc/ceph/ceph.conf" to remove the log message.

[2019-05-13 13:16] Daniel-Pivonka commented on #371
@Madhu-1  yes ive started some work on this already

[2019-05-13 13:18] Madhu-1 commented on #371
@Daniel-Pivonka Thanks, assigning this to you as you are already working on this

[2019-05-14 14:29] denitol opened #374 "Change limit INODES rbd device"
I trying formatting device real time, but I can't doing that because device is busy
```mkfs -t ext4 -N iNumberOfINodes /dev/XdY```
```/dev/rbd11 is mounted; will not make a filesystem here!```

How I can change limit inodes for my rbd block?

[2019-05-14 17:05] SchoIsles commented on #141
I have same problem, the rbdplugin ceph version is 14.0, but my cluster version is 12.2,
so command `rbd status` failed

[2019-05-15 13:28] ShyamsundarR opened #376 "All CLI error and output needs to be audited for possible key leaks in the messages"
All CLIs used that take in a key needs to be audited or checked against Ceph to ensure that they do not under any circumstance output the key itself in the messages.

As pointed by @Madhu-1 [here](https://github.com/ceph/ceph-csi/pull/312#discussion_r282765322)

[2019-05-17 19:38] ShyamsundarR opened #378 "Backward compatibility and migration to 1.1 volumes from existing 1.0 versions"
As the plugin moves from the current config maps to instead use a more descriptive VolumeID and RADOS objects (once #312 is merged), to store Kubernetes VolumeName and its backing image details, it needs to ensure the following for existing users:

1) Backward compatibility with older Volumes provisioned
2) Migration possibilities to the new scheme

#### 1) Backward compatibility:
**NOTE:** This i

[2019-05-17 19:50] kfox1111 commented on #378
Why not just read the data out of the configmaps, inject it into the omaps and drop the old configmaps?

[2019-05-17 23:28] ShyamsundarR commented on #378
Mounting does not need the config maps and also does not use them in the current scheme.

That would leave the `VolumeID` that has been exchanged with Kubernetes in the old format. It still means translating that into, a `pool` and `monitors` (or Ceph cluster) to find and delete the image. This information is no ex-tractable from the old format `VolumeID`, and is used from the config maps, and hen

[2019-05-18 13:24] ShyamsundarR opened #379 "Additional parameter `pool` in SnapshotClass for RBD seems redundant"
The SnapshotClass for RBD requires a `pool` parameter [1]. This is redundant as a snapshot is not created on a different pool than the source image of the snapshot (refer rbd man page [2]).

Further, when a snapshot needs to be created its source CSI `VolumeID` is passed to the creation call, and hence the source volumes pool needs to be reused to create the snapshot.

Similarly to clone a snapsho

[2019-05-18 13:26] ShyamsundarR commented on #379
@JohnStrunk was mentioning the same, tagging him as well.

[2019-05-18 13:46] ShyamsundarR opened #380 "Parameter `pool` in CephFS storageclass should be made optional"
The CephFS storage class parameters mention that `pool` is a required parameter when `provisionVolume` parameter is `true` [1].

When a pool name is provided, its value is being used to set the following extended attributes on the subdirectory created for the CSI volume request in order to govern its layout [2],
- ceph.dir.layout.pool
and,
- ceph.dir.layout.pool_namespace

This parameter should be

[2019-05-18 14:51] ShyamsundarR commented on #379
Also, on he same lines parameter `clusterID` is redundant and should be removed when this issue is fixed.

[2019-05-20 15:32] kfox1111 commented on #378
Why was the volumeid format changed?

[2019-05-20 22:11] ShyamsundarR opened #382 "Use static PV based provisioning for pre-provisioned CephFS volume support"
OR, **Title: Use CephFS CSI storage class for dynamic provisioning only**

Current implementation of CephFS CSI plugin, has the option to use pre-provisioned CephFS subvolumes. This is done by crafting a StorageClass that contains `provisionVolume` as `false` and giving the `rootPath` a value of the actual path on the CephFS volume to mount and use. Further, when mentioning such pre-provisioned st

[2019-05-20 22:12] ShyamsundarR commented on #382
@gman0 PTAL, I plan on removing the pre-provisioned CephFS support in 1.1.0 in favor of using the same via static PV provisioning.

[2019-05-20 22:16] ShyamsundarR commented on #378
The config maps held the required cluster/pool to `VolumeID` relationship for a provisioned image. During a `DeleteVolume` call, we only get the `VolumeID` to work with in the request. Thus without the config maps, we needed to encode required information in the `VolumeID` that can help locate the cluster/pool where the image (and its related OMaps in RADOS) are present.

The above required us to

[2019-05-20 22:35] kfox1111 commented on #378
so in the new format, the cluster/pool is encoded into the volumeid's?

[2019-05-20 22:43] kfox1111 commented on #378
Would sticking them in as volumeAttributes work too?

[2019-05-21 00:37] ShyamsundarR commented on #378
No, this is not passed to the Delete request as detailed in this issue https://github.com/container-storage-interface/spec/issues/167 (there was one other discussion that I am failing to find the link to that talks about a timing issue regarding when the attribute information is deleted and when the volume is deleted, but in short this information is not available).

Also, the cluster/pool in the

[2019-05-21 10:16] Madhu-1 commented on #368
Fixed in #299

[2019-05-21 10:16] #368 closed

[2019-05-21 13:08] gman0 commented on #382
@ShyamsundarR yes this is fine, thanks!

[2019-05-21 14:28] ShyamsundarR opened #383 "Improve logs.sh helper script to capture logs from all pods of interest"
Currently logs.sh in both rbd and cephFS examples do not capture all relevant logs. Although these are helper scripts, it would be useful to improve them to capture logs across pods of interest and across all containers in the logs (say, `kubectl logs $PODNAME --all-containers=true --since=1h` across all pods of interest).

This can also be leveraged as an log collection example when new bugs are

[2019-05-21 15:42] kfox1111 commented on #378
Hmm.. I see.

What about saad's suggestion of adding cluster/pool into a secret and injected via 'credentials'?

That would decouple it from the volume id.

[2019-05-21 15:42] kfox1111 commented on #378
I guess that would still require an edit to the pv's which may not be supported.

[2019-05-21 15:51] kfox1111 commented on #378
Another migration option was mentioned on sig-storage. Force delete the pv while leaving the pvc. This would leave the state in 'lost'. if you then delete all pods referencing the pvc, no new instances will be launched. Then you can reupload the pvc with any changes and the pvc should become unlost and work again.

I have not tested this theory.

[2019-05-21 17:19] ShyamsundarR commented on #378
I think it is important to decide on what the end result looks like here, and if we are looking at migration or just plain backward compatibility.

For backward compatibility, retain the config maps, and function with them as before, just not adding any more to the config maps. We can even flatten the config maps to a file and use that instead of an actual Kubernetes config map being accessed by t

[2019-05-21 17:32] kfox1111 commented on #378
Same goal really. The configmaps have always been a bit of a pain for operators to deal with. So not having to special case some old volumes would be better all around. The helm chart also has a bug in it that caused the configmaps to enter the wrong namespace (default). So one additional goal is to decide if we need yet another migration plan for those, migrating them from the wrong namespace to

[2019-05-21 18:08] ShyamsundarR commented on #378
The current migration plan, will get rid of the config map, as we would not need it any longer. As a result at the end of the migration it would solve the config maps landing in the default namespace (as those would be deleted). Just to be on the same page, the current migration plan is to recreate the PV/PVC on the Kubernetes end, but shift the old image as the new image in the Ceph pool, and hen

[2019-05-21 19:20] kfox1111 commented on #378
I'm good getting rid of the configmaps if we can but, deleting PVC's is really really painful/error prone/potentially disastrous.

My preferred list of ways to solve this (highest to lowest preference):
1.  get the k8s folks to add an api to let us just fix the pv's directly.
2. write a tool that updates the pv's in etcd directly while the api server is off.
3. backup pv's, force delete them, dele

[2019-05-24 13:55] humblec commented on #378
We understand the manual efforts, but unfortunately we are into that state. Also please remember that, this driver has not declared as stable or there were no stable releases before. We will  make sure we will not break again, but this change is inevitable.

    get the k8s folks to add an api to let us just fix the pv's directly.
......

PVs are immutable since start or from day0 for a reason. I

[2019-05-27 09:54] AkarshES commented on #332
[LVM Encryption](http://docs.ceph.com/docs/master/ceph-volume/lvm/encryption/) is referring to the OSD encryption which is not the same as RBD volumes. The underlying storage that the OSD is encrypted using a single encryption key. This is the same dmcrypt encryption support that was present in ceph-disk, prior to moving everything to ceph-volume in Ceph 14 Nautilus.

[2019-05-27 16:28] briantopping commented on #332
Ahh, got it. So this is probably a relevant "to-do", but the wrong way to do it. I'm going to close this out in deference to someone with a better solution. Thanks @AkarshES!

[2019-05-27 16:28] #332 closed

[2019-05-28 06:08] Madhu-1 commented on #344
@hyperbolic2346 this issue is Fixed in #346.

[2019-05-28 06:13] humblec commented on #344
Yep, I am closing this issue for now, please feel free to reopen @hyperbolic2346 and thanks for reporting it!!

[2019-05-28 06:13] #344 closed

[2019-05-28 10:21] humblec commented on #353
Progress:

- [x] E2E prereq PRs are merged.
- [x] Stateless RBD is merged, cephfs is pending/WIP
- [x] Ceph Mgr based Volume provisioning is pending/WIP

[2019-05-28 13:28] vshankar commented on #357
https://github.com/ceph/ceph/pull/28003

[2019-05-29 04:21] Madhu-1 opened #388 "Failed to deploy RBD CSI driver"
# Describe the bug #

Failed to deploy RBD CSI drivers
# Environment details #

- Image/version of Ceph CSI driver: `quay.io/cephcsi/cephcsi:canary`
- helm chart version
- Kubernetes cluster version
- Logs:
[code]

[code]

# Steps to reproduce #

Steps to reproduce the behavior:

Deploy RBD csi driver.

# Actual results #
deployment of RBD CSI driver is failing due to image pull error
Describe wha

[2019-05-29 04:23] Madhu-1 commented on #388
@leseb @rootfs can you guys help me to fix it. I don't have the permission to check the image present in quay or not

[2019-05-29 04:23] Madhu-1 commented on #388
getting below error from `quay`

[code]

[2019-05-29 13:48] sandromodarelli commented on #353
rbd volume resizing will be included in v1.1?

[2019-05-29 13:50] humblec commented on #353
There is a PR in progress and I would like to get this in next minor release.

[2019-05-29 17:06] hyperbolic2346 commented on #344
Yes, this is fixed for me now. Thank you all for your help.

[2019-05-29 23:42] ShyamsundarR commented on #270
@dillaman require some clarifications/confirmation as I start part of the implementation here, as follows,

- We are stating that we do NOT need 2 IDs ([adminID and userID](https://github.com/ceph/ceph-csi/blob/b6b7cf2c3d42f08b5200068dc6f73ff5d822cec4/examples/rbd/storageclass.yaml#L34-L35)) but just a single ID (calling it a adminID) for RBD

- We will move the ID/Key configuration to the secret

[2019-05-30 10:58] gman0 commented on #328
Does this mean dropping support for pre-Nautilus clusters? That's not exactly ideal.

[2019-05-30 12:03] humblec commented on #328
@gman0 not really. the `v1.0` images will stay and will be supporting previous ceph clusters. However `v1.1` will be only supported with Nautilus clusters due to this dependency.

[2019-05-30 13:48] dillaman commented on #270
Correct -- the "admin" vs "user" split doesn't currently make sense (at least for RBD). I'd actually vote for calling it ```userID``` since you don't need any administrator-level permissions to create/read/update/delete RBD images.

Make sense to me.

[2019-05-31 15:10] humblec commented on #388
@Madhu-1 I am looking into..

[2019-06-01 14:08] humblec commented on #388
@Madhu-1 it should be working now. I am closing this issue. Please feel free to reopen if required.

[2019-06-01 14:08] #388 closed

[2019-06-01 14:18] humblec opened #393 "Release v1.2.0 of Ceph-CSI driver"
- [x] Define release process
  - Release doc would be a good start
- [x] Define release deadlines
  - Code Freeze : 05-Aug-2019
  - RC : 10-Aug -2019
  - GA : **15-Aug-2019**
  - GA postponed to **30-Aug-2019**
- [x] Define/list roadmap for v1.2.0
  - Proposed contents for v1.2.0 release
  -- Metrics support ( RBD, CephFS)
  -- Resize support for Ceph and RBD plugin  **[Deferred]**
  -- Snapshot s

[2019-06-03 06:47] nehaberry opened #399 "Bulk delete of CSI based rbd volumes through project delete leaves behind some undeleted pvs"
**Description of problem:**

Bulk delete of CSI based rbd volumes leaves behind some undeleted pvs.

Created a project with ~120 app pods, each bound with one csi-rbd volume. To initiate bulk delete, deleted the whole project. Even though the pods and PersistentVolumeClaims are deleted, ~17 PersistentVolumes still stayed undeleted and in "Released" state. The volumes still existed on the ceph back

[2019-06-03 06:54] nehaberry commented on #399
Logs attached

[issue-399.zip](https://github.com/ceph/ceph-csi/files/3246223/issue-399.zip)

[2019-06-03 06:57] Madhu-1 commented on #399
@nehaberry current RBD version used  is `quay.io/cephcsi/rbdplugin:v1.0.0` please use `quay.io/cephcsi/cephcsi:canary`

[2019-06-03 11:14] nehaberry commented on #399
@Madhu-1 we are using the rook image from upstream master.  Do we need to change the image names for these params in **operator-openshift-with-csi.yaml**

       - name: ROOK_CSI_CEPHFS_IMAGE
        - name: ROOK_CSI_RBD_IMAGE
        - name: ROOK_CSI_REGISTRAR_IMAGE
        - name: ROOK_CSI_PROVISIONER_IMAGE
        - name: ROOK_CSI_SNAPSHOTTER_IMAGE
        - name: ROOK_CSI_ATTACHER_IMAGE

Pleas

[2019-06-03 11:18] Madhu-1 commented on #399
using `canary` image needs more changes in rook. we are going to update rook once we release  ceph-csi `v1.1.0`
CC @humblec

[2019-06-03 11:25] hnallurv commented on #399
@Madhu-1 when will ceph-csi v1.1.0 be available?

[2019-06-03 11:31] Madhu-1 commented on #399
@hnallurv https://github.com/ceph/ceph-csi/issues/393

[2019-06-03 11:50] humblec commented on #399
@hnallurv its actually https://github.com/ceph/ceph-csi/issues/353 and as per our schedule its going to land on Jun 7th. .  https://github.com/ceph/ceph-csi/issues/393 is for next minor release.

[2019-06-03 12:05] nehaberry commented on #399
@Madhu-1 so do you suggest that temporarily changing the image version to **quay.io/cephcsi/cephcsi:canary** for all the below variables be helpful to get past this bug ? I understand that it is WIP for the canary build as well

   - name: ROOK_CSI_CEPHFS_IMAGE
    - name: ROOK_CSI_RBD_IMAGE
    - name: ROOK_CSI_REGISTRAR_IMAGE
    - name: ROOK_CSI_PROVISIONER_IMAGE
    - name: ROOK_CSI_SNAPSHOTTE

[2019-06-03 12:13] Madhu-1 commented on #399
@nehaberry need to do some change in rook code itself changing template won't fix the issue.

[2019-06-03 12:24] nehaberry commented on #399
@Madhu-1 ok. Please let us know once the code changes are made. Thanks :)

[2019-06-04 08:04] Madhu-1 opened #403 "dump cephcsi container logs in E2E"
dumping cephcsi  container logs in E2E will help us to analyze the failure

[2019-06-04 08:51] humblec commented on #353
[Status update]:

- [x] E2E is now available in this Repo!! Its been enabled for all the PRs landing here.
- [x] stateless PRs are merged.
- [x] updated kube dependency to 1.14.2.
- [x] updated all sidecar containers to latest available.

Pending
- [x] Ceph Mgr based volume provisioning https://github.com/ceph/ceph-csi/pull/400

[2019-06-04 08:52] humblec commented on #353
@sandromodarelli here is the release planning of https://github.com/ceph/ceph-csi/issues/393. If you wish to see any features or bug fixes, please feel free to mention it there.

[2019-06-04 08:56] humblec commented on #353
https://github.com/ceph/ceph-csi/pulls?q=is%3Apr+is%3Aclosed+label%3Arelease-1.1.0

[2019-06-04 10:05] silenceshell opened #404 "could ceph-csi support RBD snapshot on kubernetes v1.11 ?"
# Describe the bug #

According to this [doc](https://raw.githubusercontent.com/ceph/ceph-csi/csi-v0.3/examples/README.md),  it looks like ceph-csi supports snapshot on v1.11, but there is no `VolumeSnapshot`, `VolumeSnapshotContent`, and `VolumeSnapshotClass` feature on kubernetes v1.11

So here is the question: could ceph-csi support RBD snapshot on kubernetes v1.11 ? or I have to upgrade to v1.

[2019-06-06 13:02] itmuckel opened #407 "How to create a pre-provisioned PV for an existing rbd image"
In https://kubernetes.io/blog/2019/01/15/container-storage-interface-ga/ under the section "Pre-Provisioned Volumes" is a template of how to create a PV from a prepopulated CSI volume. What values do I need to create a PV that references an rbd image? Once the PV is created, I'm sure just creating a PVC will bind automatically to the PV.

I've read a lot of the official kubernetes docs, but how do

[2019-06-07 04:37] humblec commented on #353
[status update]

Last item to sort out for the release!

https://github.com/ceph/ceph-csi/pull/400

[2019-06-07 05:14] #382 closed

[2019-06-07 05:14] #359 closed

[2019-06-07 15:01] humblec opened #411 "[CephFS] Create a CSI volume from a snapshot"
# Describe the feature you'd like to have #

We will be using ceph manager based volume provisioning from v1.1.0. Afaict, we only have a way to create snapshots from a volume. The support for cloning a volume from
existing snapshot looks to be unavailable. This is an important functionality which has to be supported in CSI driver.

This issue tracks this feature support.

[2019-06-07 15:02] humblec commented on #411
@ajarr can you please share your view on this ?

[2019-06-07 19:25] batrick commented on #411
The plan is to have the volumes plugin add a command to recursive copy another subvolume@snapshot to a new subvolume. The interface is still TBD. What do you think?

[2019-06-08 04:27] humblec commented on #411
Could you please explain some more on the `volume plugin` referred here?  basically some interface like `ceph fs snapshot clone <clonename> <snapname>` is what I was proposing.

Most of the storage systems has such interface and one example would be `gluster` as mentioned here  https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.3/html/administration_guide/ch08s03

[2019-06-10 07:44] #335 closed

[2019-06-10 08:18] humblec commented on #411
@batrick @ajarr  Do we have a functionality available today to clone or create a new volume from existing subvol ?  If not, we need this functionality too.