[2020-08-04 08:59] Madhu-1 commented on #1265
you may need to add snapshot, clone and restore commands also.

[2020-08-04 14:55] i033653 commented on #1109
We have a similar use case, where we want to create ~1,000 pods, each with rook pvc (ceph) – empty volumes.
k8s version is 1.18.4 and rook 1.4 beta
Every pod has a PVC of 2GB. We have 6 OSDs (one per node) with 2TB on each (EBS volume).
The test creates a pod every ~10 sec. The pvc is cerated in several seconds, but the mounting time is growing as the number of created pods+pvcs until timeout. Onl

[2020-08-04 14:58] Madhu-1 commented on #1109
@i033653 please try with kubernetes 1.19 as a bug related to volume attachment is fixed in 1.19

[2020-08-04 15:39] i033653 commented on #1109
thanks @Madhu-1 . I was not able to find related bug.
Could you please provide a link to the bug that was fixed in 1.19?

[2020-08-04 15:48] humblec opened #1316 "Enhance CephFS subvolume backend validation in E2E tests"
# Describe the bug #

Atm, we are not doing any backend validation in ceph fs backend and compare the subvolume information to make sure we are in parity and working as expected. This is the request to enhance e2e with subvolume validation for all the test cases.

CC @Madhu-1

[2020-08-04 16:00] #1288 closed

[2020-08-05 05:33] Madhu-1 commented on #1109
check https://github.com/ceph/ceph-csi/issues/1109#issuecomment-645408206 https://github.com/ceph/ceph-csi/issues/1109#issuecomment-644735568

[2020-08-05 07:05] agarwal-mudit commented on #1260
Please assign to me if no one has planned yet to work on it.

[2020-08-05 08:42] i033653 commented on #1109
I found this PR that is supposed to solve this problem: https://github.com/kubernetes/kubernetes/pull/91307
It was also cherry-picked to 1.18 with this PR https://github.com/kubernetes/kubernetes/pull/92015
Already in 1.18.5: https://gitlab.cern.ch/strigazi-groups/github.com/kubernetes/kubernetes/-/commits/v1.18.5

And it was cherry-picked to 1.17 with this PR https://github.com/kubernetes/kuberne

[2020-08-05 12:03] i033653 commented on #1109
Tested with 1.18.5 and 1.17.8.
The problem was fixed!
Thanks @Madhu-1 !

[2020-08-05 12:04] Madhu-1 commented on #1109
@i033653 Thanks for the confirmation closing this issue.

[2020-08-05 12:04] #1109 closed

[2020-08-05 15:17] rohan47 opened #1323 "rbd command stuck inside the csi-nodeplugin/csi-rbdplugin container"
# Describe the bug #
while using multus network for rook-ceph cluster, we use multus instead of host network for the csi daemon-set pods.
We are able to create PV and PVC which are in bound state.
but the rbd command to map the device gets stuck inside the csi-rbdplugin container and the pod consuming the pvc is not able to mount it and fails to get created.

# Environment details #

- Image/versi

[2020-08-05 15:18] Madhu-1 commented on #1323
cc @dillaman @idryomov

[2020-08-05 15:21] rohan47 commented on #1323
cc @leseb

[2020-08-05 15:25] leseb commented on #1323
As a follow-up, we need to consider removing the use of hostnetwork although that's the property that allows us to successfully map a device inside a container.

@rohan47 we need to test to run the CSI pods without hostnetworking but with:

* both  `CAP_SYS_ADMIN` and `CAP_SYS_NET`
* only `CAP_SYS_NET`

And see if we can have this working or not.

[2020-08-05 15:26] rohan47 commented on #1323
ACK @leseb

[2020-08-05 16:26] humblec commented on #1323
yeah as discussed in the call we need to test it with these cap combination, mount need `CAP_SYS_ADMIN` so I doubt we can get rid of it.

[2020-08-06 04:39] humblec commented on #1265
Yeah, we need to add ceph fs snapshot and clone commands to complete the list.

[2020-08-06 05:21] Madhu-1 commented on #440
@humblec / @ShyamsundarR can this be done in 3.1.0? or do we need to move it out to next release?

[2020-08-06 05:21] Madhu-1 commented on #1256
@nixpanic can this be done in 3.1.0? or do we need to move it out to the next release?

[2020-08-06 05:22] Madhu-1 commented on #250
@nixpanic can this be done in 3.1.0? or do we need to move it out to the next release?

[2020-08-06 05:23] Madhu-1 commented on #1248
@agarwal-mudit can this be done in 3.1.0? or do we need to move it out to the next release?

[2020-08-06 05:23] Madhu-1 commented on #1265
@nixpanic @phlogistonjohn can this be done in 3.1.0? or do we need to move it out to the next release?

[2020-08-06 05:24] Madhu-1 commented on #1106
@humblec can this be done in 3.1.0? or do we need to move it out to the next release?

[2020-08-06 05:24] Madhu-1 commented on #1096
@humblec can this be done in 3.1.0? or do we need to move it out to the next release?

[2020-08-06 05:25] Madhu-1 commented on #1276
This is already done.closing this one

[2020-08-06 05:25] #1276 closed

[2020-08-06 05:55] Madhu-1 commented on #1242
- [ ] Add test in upgrade e2e to create snapshot and clone from older PVC

[2020-08-06 10:04] humblec opened #1326 "Mini e2e fails intermittently with resource quota error"
[code]

Subjected job# https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/mini-e2e_k8s-1.17.8/70/console

[2020-08-06 10:04] humblec commented on #1326
@nixpanic @Yuggupta27 ptal

[2020-08-06 10:09] Madhu-1 commented on #1326
sometimes it fails with

[code]

[2020-08-06 13:15] ShyamsundarR commented on #440
This will be post 3.1.0

[2020-08-06 15:36] phlogistonjohn commented on #1265
I'm sorry that I don't follow ceph-cis's release process well enough to to know when that is expected. If you gave an estimated date I can suggest if that falls before or after the first go-ceph release that is expected to have the new cephfs admin package.

[2020-08-06 15:40] Madhu-1 commented on #1265
Thanks for the update @phlogistonjohn , had a discussion with @nixpanic in todays meeting will be moving this for next release.

[2020-08-06 15:50] agarwal-mudit commented on #1248
Haven't started yet, won't be able to start until next week.

[2020-08-06 15:57] nixpanic commented on #1326
This was discussed in our community call today. The idea is to add a function in `scripts/rook.sh` that retries the kubectl command. Something like this (untested):
[code]

And then all occurrences of `kubectl` need to be replaced with `kubectl_retry`

[2020-08-07 08:07] humblec opened #1328 "helm test fails with ` etcdserver: request timed out`"
# Describe the bug #
[code]
job# https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/mini-e2e-helm_k8s-1.18.5/67/console

[2020-08-07 08:09] Madhu-1 commented on #1328
This should be fixed by https://github.com/ceph/ceph-csi/pull/1327 and it's already tracked in https://github.com/ceph/ceph-csi/issues/1326

[2020-08-07 08:09] #1328 closed

[2020-08-07 09:28] #1326 closed

[2020-08-07 12:00] HackerDotCN opened #1334 "redeploy ceph-csi error"
# Describe the bug #

I deploy the cephfs csi plugin as the instruction, then create storageclass/pvc/pod, all is normal.
but when I delete the resource to redeploy them, then comes the following error:
`  Warning  Failed     39m                   kubelet, k8s-robin-rancher-1-1f0b05347-6  Error: failed to start container "csi-cephfsplugin": Error response from daemon: oci runtime error: container_

[2020-08-07 12:02] Madhu-1 commented on #1334
@HackerDotCN have you used helm or kubernetes templates?

[2020-08-07 12:04] HackerDotCN commented on #1334
I used the k8s template by the plugin-deploy.sh in the example folder

[2020-08-07 12:06] Madhu-1 commented on #1334
@Yuggupta27 can you please try to reproduce this one?

[2020-08-07 12:07] Madhu-1 commented on #1334
AFAIK this is not an issue with ceph-csi rather looks to be an issue in kubernetes cluster but let @Yuggupta27 confirm

[2020-08-07 12:44] Yuggupta27 commented on #1334
Hi @HackerDotCN , I tried to reproduce this issue locally using the ceph-csi version v2.1.1. As the steps mentioned by you to reproduce, redeploying the driver again does not raise any red flags for me locally.

[2020-08-07 12:46] Madhu-1 commented on #1334
Thanks for trying to reproduce @Yuggupta27 , @HackerDotCN looks to be an issue on kubernetes side, please check

[2020-08-07 12:46] Yuggupta27 commented on #1334
As @Madhu-1 mentioned, the issue doesn't seem to be from ceph-csi side to me too. Let me know if we can help you with anything else :)

[2020-08-07 17:00] baznikin opened #1337 "Helm ceph-csi-rbd - not enough permitions"
# Describe the bug #

It is not possible to provision with current (3.0.0) Helm chart version. See _Steps to reproduce_ for details

# Environment details #

- Image/version of Ceph CSI driver :
- Helm chart version : 3.0.0
- Kernel version :
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :
- Kubernetes cluster version :
- Ceph cluster versio

[2020-08-08 05:37] humblec opened #1338 "Accomodate `--retain-snaps` and `auto-protect` functionalities to CephFS CSI snapshot operations."
# Describe the bug #

There were some good enhancements in CephFS ( :+1: ) recently to support snapshot and clone workflow.

Decoupling of snapshot from parent subvol: https://github.com/ceph/ceph/pull/35647

Protect and unprotect deprecation : https://github.com/ceph/ceph/pull/35755

As part of the decoupling work of snapshot and parent sub volume, and deprecation of protect and unprotect, couple

[2020-08-08 08:16] humblec opened #1340 "Release 3.3.0 ( Planning Doc)"
# Describe the feature you'd like to have #

The idea here is to capture the `wishlist` from  Ceph CSI community which they would like to see in this release. We could capture this in a google doc or in form of comments on the issue. However the format should not be a blocker for capturing this info, thus tracking it for the next release.

[update] Wish list:
https://hackmd.io/8OqCr1mrTMGtBcJ7XNdD

[2020-08-09 17:57] 0x4139 commented on #1340
I think it would be nice to have:

-  Updated docs, at this moment some pieces of getting up and running with `ceph-csi` are not complete and might cause confusion
- A helm chart maybe, that will work with external clusters while just setting `clusterid, monitors, pool, and client data`
- A comparison of why would one opt in for `ceph-csi` instead of the old `ceph-rbd` provisioner

[2020-08-10 10:12] Madhu-1 commented on #1133
@ShyamsundarR  when i tried to create more than 100 snapshots on a subvolume it stated failing
[code]
[code]
[code]

with octopus, even max snapshots I can create is 100

[code]

@ShyamsundarR @kotreshhr anything am missing here?

[2020-08-10 10:14] humblec commented on #1133
@Madhu-1 the 100 snapshot limit is coming from `mds_max_snaps_per_dir` as mentioned here https://github.com/ceph/ceph-csi/issues/1133#issuecomment-639288396

[2020-08-10 10:21] kotreshhr commented on #1133
The traceback is during the handling of EMLINK error thrown by cephfs for exceeding per directory snapshot limit. Following is the actual error.

[code]
The traceback should not have occurred. It should just returned the error message. This issue [1] is fixed by @ajarr in master and backported to natuilus. Octopus backport is still pending.

[1] https://tracker.ceph.com/issues/46360

[2020-08-10 10:30] humblec commented on #1133
Thats great..so to summarize, the limit is imposed by above mentioned configuration (`mds_max_snaps_per_dir`) and when it exhausted we get `EMLINK`. Isnt it?

[2020-08-10 11:10] humblec commented on #1256
@nixpanic please adjust the milestone accordingly.

[2020-08-10 11:14] Madhu-1 commented on #1133
The above are snapshots per-directory limit which CSI doesn't care about. cephcsi need to worry about the kernel limit (which can cause issues in  mounting a subvolume which is having 400+ snapshots)

[2020-08-10 13:25] humblec commented on #1256
Moving this from 3.1.0 considering the release timeline.

[2020-08-10 13:25] humblec commented on #250
Moving this from release 3.1.0

[2020-08-10 13:26] humblec commented on #1106
Yeah, we have to move this from 3.1.0. Done.. thanks :+1:

[2020-08-10 13:28] humblec commented on #1248
Moving this out of 3.1.0 release.

[2020-08-10 13:28] humblec commented on #702
This can be closed as we have #394 is merged now! :+1:

[2020-08-10 13:29] humblec commented on #701
This can be closed now as #394 is merged and provide the functionality. :+1:

[2020-08-10 13:29] #702 closed

[2020-08-10 13:29] #701 closed

[2020-08-10 13:37] humblec commented on #411
Closing this as the functionality is already available with #394

[2020-08-10 13:37] #411 closed

[2020-08-10 22:41] rohan47 commented on #1323
I tested with the above cap combination and its still not working.

[2020-08-10 22:56] rohan47 commented on #1323
The `rbd unmap --device-type krbd replicapool/csi-vol-a14e6b5a-db46-11ea-80db-0a580a800013` command gets stuck as well.
Also the rbd device that is mapped on the host gets stuck on the node.

[2020-08-11 08:27] idryomov commented on #1323
This is the expected behaviour and has to do with how udev works.  `rbd map` and `rbd unmap` listen for udev events and block until a specific udev event is seen, even when the actual block device is already there.  Unfortunately, udev events don't cross network namespace boundaries, so `--net=host` is more or less required here.

We can probably work around this either by ditching udev for the CS

[2020-08-11 09:57] eachirei opened #1352 "Missing cephfs volume metrics"
# Describe the bug #

I am not able to see usage stats for cephfs volumes, only those for rbd - `kubelet_volume_stats_used_bytes`.

# Environment details #

- Image/version of Ceph CSI driver : 3.0
- Helm chart version : not installed via helm
- Kernel version : 4.15.0-112-generic
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : fuse
- Kubern

[2020-08-11 10:32] humblec commented on #1272
[update]
On track for GA on 12-Aug-2020.

[2020-08-11 10:35] humblec opened #1353 "Ceph CSI Release 3.3.0"
Release 3.3.0 planning :+1:

_Wishlist from community_
#1340

Release Timeline:

Release Team:

[2020-08-11 12:27] humblec opened #1356 "Expand Volume Health monitoring via VolumeCondition field in CSI RPC of Controller and Node"
# Describe the feature you'd like to have #

There is an enhancement in NodeGetVolumeStats() which gives provision for us to inform the volume condition of the PV. This is an optional interface and informational message at this moment. However it would be good if we can extend the current interface with this information.

- [ ] nodeGetVolumeStats() can be expanded for volumeCondition field , one s

[2020-08-11 12:29] humblec commented on #1356
I would like to target this for 3.2.0 release , so adding the milestone.

[2020-08-11 12:32] nixpanic opened #1357 "Use scripts/skip-doc-change.sh to not run certain CI jobs"
# Describe the feature you'd like to have #

All jobs in the CentOS CI run on all PRs. This is not needed, as some PRs only make changes to documentation or some files that are not used for testins, deployment or runtime.

# What is the value to the end user? (why is it a priority?) #

By not running all CI jobs (or return success without completely running), affected PRs will be able to get merge

[2020-08-11 13:16] Madhu-1 commented on #1242
@humblec can you please add documentation for 400 snapshot limit in release notes

[2020-08-11 14:19] nixpanic opened #1359 "cephfs: e2e test fails deleting cloned PVCs"
Occasionally different CentOS CI jobs fail the CephFS cloning e2e tests. Running `/retest ci/centos/mini-e2e_k8s-1.18.5` (or whatever job failed) often makes it pass with the 2nd time.

The error is caused during the cleanup of parallel cloned PVCs:

[code]

[2020-08-11 14:19] nixpanic commented on #1359
Failed job: https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/mini-e2e_k8s-1.18.5/162/console

[2020-08-11 14:19] nixpanic commented on #1359
Failed job: https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/mini-e2e_k8s-1.17.8/136/console

[2020-08-11 14:45] rohan47 commented on #1323
The problem with using `--net=host` is that we are not able to get access to the multus network as it is in a different network namespace and also we are not able to access other ns from inside the container.
So the csi pods are not able to communicate with the OSDs as they are listening only on multus network.

[2020-08-11 16:21] #1316 closed

[2020-08-12 07:15] idryomov commented on #1323
You can access other network namespaces from inside the pod as long as you bind mount them into the pod, but the problem is that, as it stands, we sort of need `rbd map` to be in two network namespaces at the same time: the one with the multus interface so that it gets picked up by the kernel client and the initial network namespace for systemd-udevd.

@leseb How important is multus integration an

[2020-08-12 07:58] leseb commented on #1323
Exactly.

Multus is a must-have when you deploy on bare metal. So I'd say the sooner the better, by the end of the year would be nice.

[2020-08-12 10:52] #798 closed

[2020-08-12 13:11] humblec commented on #1352
@eachirei I tried to reproduce this issue in my setup and I could see the metrics getting emitted from the driver.

My setup details:

Ceph CSI version:
         3.0.0
Ceph Version :
          ceph version 15.2.4 (7447c15c6ff58d7fce91843b705a268a1917325c) octopus (stable)
Kube:
      Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.3", GitCommit:"2e7996e3e2712684bc73f0dec0200d

[2020-08-12 14:29] Madhu-1 commented on #1242
@humblec FYI this also needs to be updated  in current cephfs snapshot doc

[2020-08-13 06:21] eachirei commented on #1352
Hello! How can I be sure which mounter I'm using? I haven't configured anything special, so I'd say it's the default one in use.

Just to make sure, do you require the logs from the `driver-registrar` container?

[2020-08-13 06:26] Madhu-1 commented on #1352
@humblec if we use `fuse` metrics won't work?

[2020-08-13 06:27] Madhu-1 commented on #1352
@eachirei have you specified any mounter is storage-class? if you have not specified and the kernel is less than 4.17 on nodes fuse mount will be used by default.

[2020-08-13 06:53] eachirei commented on #1352
@Madhu-1
This is one of our storage classes:
[code]

[2020-08-13 06:56] Madhu-1 commented on #1352
@eachirei can you please try out with kernel mounter in storage-class example is present at https://github.com/ceph/ceph-csi/blob/master/examples/cephfs/storageclass.yaml#L43

[2020-08-13 07:32] eachirei commented on #1352
Just tested, kernel mounter provides metrics, thank you!
Unfortunately, we have a lot of volumes and the storage class cannot be edited.
So will there be metrics support for fuse or do you have a recommendation to migrate existing volumes from a storage class to another without data loss?

[2020-08-13 07:35] Madhu-1 commented on #1352
I don't have any recommendations for migration.

@humblec this need to be documented in ceph-csi that metrics are not available for Fuse.

[2020-08-13 07:41] humblec commented on #1352
:+1:

Cant we just recreate the SC with same name but a different mounter? I havent tried though.

[2020-08-13 09:48] eachirei commented on #1352
So, initially I created a new storage class using same cephfs parameters, with kernel mounter and I got metrics.
Now I recreated the storage classes in use, but I'm still not getting any metrics.
What logs should I provide?

[2020-08-13 09:51] eachirei commented on #1352
Looking in the logs, for some reason the cephfsplugin still loads the fuse mounter:
[code]

[2020-08-13 10:01] Madhu-1 commented on #1352
you may need to set https://github.com/ceph/ceph-csi/blob/master/cmd/cephcsi.go#L66 `forcecephkernelclient=true` on your node plugins and also am not sure  recreating storage-class helps here

[2020-08-13 10:14] eachirei commented on #1352
Setting `forcecephkernelclient` doesn't seem to do the trick. The kernel mounter is loaded, but it doesn't seem to do much.
[code]
Why do you say recreating the storage-class doesn't help? What should be the procedure to preserve the data but also have metrics available?

[2020-08-13 10:15] Madhu-1 commented on #1352
can you provide the logs after restarting the nodeplugin pod? i want to see the mounter  is sent in a request for mounting PVC?

[2020-08-13 10:39] eachirei commented on #1352
I'm not sure which logs are you referring to: `csi-cephfsplugin-2l46q [driver-registrar, csi-cephfsplugin, liveness-prometheus]` or `csi-cephfsplugin-provisioner-585b4f6947-97kcf [csi-provisioner, csi-resizer, csi-cephfsplugin-attacher, csi-cephfsplugin, liveness-prometheus]`?
I created a new volume and got some logs for both pods mentioned above from the cephfsplugin container.
[code]
Now I got m

[2020-08-13 10:49] Madhu-1 commented on #1352
this might be due to  quota is not supported in older kernel  version(the kernel you are using)

[2020-08-13 10:51] eachirei commented on #1352
Okay, but in the initial setup I got correct metrics. The initial setup means: a copy of one of the current storage classes, modified to specify the kernel mounter.
I noticed the kernel warnings, but how come it worked in the first place and what could I do to achieve the same results now?

[2020-08-13 10:56] Madhu-1 commented on #1352
it could be a bug let someone reproduce  it

[2020-08-13 10:57] eachirei commented on #1352
Can I provide any more information to help fixing this?

[2020-08-13 11:00] Madhu-1 commented on #1352
@eachirei if anything is required we will update this issue.

[2020-08-13 11:04] Madhu-1 commented on #1242
as this is deferred to 3.2.0 moving this to next milestone

[2020-08-13 16:28] Madhu-1 commented on #1272
closing this one as the release is available https://github.com/ceph/ceph-csi/releases/tag/v3.1.0

[2020-08-13 16:28] #1272 closed

[2020-08-13 16:30] humblec opened #1379 "Make use of Volumecapability in Expand request to avoid NodeExpansion when its of type block volumemode."
# Describe the bug #

[code]

As we are already on SPEC 1.2 we could get rid of this TODO.

[2020-08-13 16:31] humblec commented on #1379
Targeting this for next release, so adding milestone. Self assigning too.

[2020-08-14 07:59] ryanmickler opened #1381 "Update docs to reference Nomad Deployment Configuration"
Recently, I commited an example configuration of using the ceph-csi (rbd) plugin with Nomad, instead of K8S, see **https://github.com/hashicorp/nomad/pull/8664**.

Perhaps we could link somewhere in the Readme to this **https://github.com/hashicorp/nomad/tree/master/demo/csi/ceph-csi-plugin**.

[2020-08-14 08:26] humblec commented on #1381
@ryanmickler  thats great. :+1: . Documentation can be done. May be we could keep a document for `integrations` in general, have to think through it thogh. Also, if possible some article about this integration could also help!

[2020-08-14 08:27] humblec commented on #1381
@ryanmickler one suggestion here is, may be instead of using `2.1.0` version of Ceph CSI , I would recommend to use `3.1.0` or `3.0.0`

[2020-08-15 16:25] zjcnew commented on #834
Why haven't the fixed in ceph document https://docs.ceph.com/docs/master/rbd/rbd-kubernetes/,This will affect the use of many ceph users!

[2020-08-17 03:10] Madhu-1 commented on #1334
closing this one as its not an issue from ceph-csi side

[2020-08-17 03:10] #1334 closed

[2020-08-17 03:12] Madhu-1 commented on #1301
Fixed in #1295

[2020-08-17 03:12] #1301 closed

[2020-08-17 06:45] wavezhang opened #1384 "Block PVC are marked as FileSystemResizeRequired"
# Describe the bug #

Block PVC are marked as FileSystemResizeRequired

# Environment details #

- Image/version of Ceph CSI driver : v1.2.1
- Helm chart version :
- Kernel version :
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :
- Kubernetes cluster version :
- Ceph cluster version :

# Steps to reproduce #

Steps to reproduce the behavior

[2020-08-17 07:32] humblec commented on #1384
@wavezhang regardless of that event, it should work. I mean you get the new size in the POD, isnt it ?

[2020-08-17 07:48] wavezhang commented on #1384
If I didnot bind pvc to any pod，what is expected is that pvc resized as soon as I update pvc size， and pvc capacity updated to the new size.  But actually pvc capacity not updated and confusing my upstream apps。

[2020-08-17 07:48] humblec commented on #1359
Not sure this has anything to do with the common e2e functions we use , however its failing like below for RBD cloning too with below errors:

[code]

job: https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/mini-e2e-helm_k8s-1.18.5/156/consoleFull

@Madhu-1 this is what I was referring to in our meeting.

[2020-08-17 07:51] Madhu-1 commented on #1359
Thanks @humblec let me add more backend testing for rbd images.

[2020-08-17 08:02] humblec commented on #1359
@Madhu-1 do need to track the RBD case in a separate issue?

[2020-08-17 08:03] Madhu-1 commented on #1359
Yes please that helps

[2020-08-17 08:11] humblec opened #1387 "rbd: e2e test fails while validating the backend RBD images."
# Describe the bug #

Noticed that  CentOS CI jobs fail the RBD cloning e2e tests.  The error is caused by the rbd image backend validation to the clone count.

[code]

job: https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/mini-e2e-helm_k8s-1.18.5/156/consoleFull

Additional info# https://github.com/ceph/ceph-csi/issues/1359#issuecomment-674721053

[2020-08-17 08:12] humblec commented on #1359
Done. may be revisiting the e2e function or framework help to get rid of these kind of errors.

[2020-08-17 09:10] nixpanic commented on #1357
This has been addressed with #1369

[2020-08-17 09:10] #1357 closed

[2020-08-17 09:47] #360 closed

[2020-08-17 11:28] rohan47 commented on #1323
@idryomov as mentioned above we can't use hostNetwork when we use multus.
So can you please suggest what we can look into to solve this issue?

[2020-08-17 11:37] idryomov commented on #1323
I'll work on a change to `rbd map` to optionally skip waiting for udev events.  Should be very simple to do, but I'm not sure how well it would work yet.

[2020-08-18 05:53] Madhu-1 commented on #1359
one more cephfs clone failure https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/mini-e2e_k8s-1.17.8/299/console

[2020-08-18 06:01] Madhu-1 commented on #834
@zjcnew please open a bug in ceph.

[2020-08-18 07:12] nixpanic commented on #1359
CephFS again at https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/mini-e2e_k8s-1.17.8/325/console :
[code]

[2020-08-18 11:28] n-marton opened #1397 "Removal of namespaced rbd image fails"
# Describe the bug #

The creation of namespaced rbd image work flawlessly, but the removal fails, if the user has right only in that namespace.

# Environment details #

- Image/version of Ceph CSI driver : v3.1.0
- Helm chart version : 1.3.0-canary
- Kernel version : 4.15.0-88-generic
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :
- Kuber

[2020-08-18 12:37] nixpanic commented on #1384
@humblec please close this as duplicate of #1379 if that is the case. Or add `Fixes: #1384` to the description of PR #1386.

[2020-08-19 07:23] nixpanic commented on #1387
Happened for #1403 too ([ci logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/mini-e2e-helm_k8s-1.18.5/322/))

[2020-08-19 09:56] houz42 opened #1406 "RBD PVC with multi access mode (RWO and ROX) can not be mounted readwrite"
# Describe the bug #

Mounting a new RBD PVC with 2 access modes (RWO and ROX) to a pod by readOnly=false will be failed. The pod stucks on "containerCreating" and the error message is "cannot mount unformatted disk /dev/rbd1 as we are manipulating it in read-only mode".

If mounting a used RBD PVC, the pod starts, but the PVC is mounted read only, no matter readOnly is set or not.

# Environment

[2020-08-19 09:58] Madhu-1 commented on #1406
am PVC cannot be used with both access mode at a given point of time.

[2020-08-19 09:59] houz42 commented on #1406
It is not "at a given point of time."

the first pod is stopped when the other "reader pods" starts

[2020-08-19 10:00] Madhu-1 commented on #1406
please provide the logs of all node plugins. need to check `accessmode`  sent in the NodeStageRequest

[2020-08-19 10:03] houz42 commented on #1406
@Madhu-1  Sorry, I'm afraid it is not possible. I downgraded the node plugins to v2.1.x. I will try the elk later.

And Thanks for your reponse and great work.

[2020-08-19 10:48] humblec opened #1408 "Make sure the FS resize is attempted on proper path in NodeExpand call"
# Describe the bug #
At present, we go ahead and issue FS resize regardless of whether the mapped RBD device already reached to the new requested size or not. we should check the size of the mount before attempting the resize on the volumepath given at the node expansion request which could avoid issues on various scenarios or help us to make sure we are doing `really required resize` instead of d

[2020-08-19 12:34] #1379 closed

[2020-08-19 15:08] Madhu-1 commented on #1359
one more failure https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/mini-e2e-helm_k8s-1.17.8/350/console

[2020-08-20 05:22] Madhu-1 opened #1416 "failed to create snapshot CRD"
the snapshot beta CRD path in the master repo is changed from https://github.com/ceph/ceph-csi/blob/0bd45a5eb172477ea29e3b9c97eb79b654587044/scripts/install-snapshot.sh#L17-L19 the path `config/crd` to `client/config/crd`  in the external-snapshotter master branch

[code]

This will block the cephcsi E2E testing.

[2020-08-20 05:56] Madhu-1 commented on #1406
@houz42 please provide the exact steps to reproduce this one, so that we can also try it out locally

[2020-08-20 06:01] Madhu-1 commented on #1406
This can happen only if the filesystem format is not present on the rbd device and when you tried to mount the PVC as readonly. but i would like to see the corner cases if we are missing any. getting the nodeplugin logs helps a lot to see whats happening

[2020-08-20 06:14] #1416 closed

[2020-08-20 08:18] nixpanic commented on #1406
Testing this quickly on an OpenShift cluster that I have available, shows it is possible to reproduce the issue with a few steps.

1. create a PVC woth RWO and ROX modes:
[code]
2. create a pod that writes something to the PVC
[code]
3. wait until the previous pod is in `completed` state
4. create a pod that reads the created file:
[code]
4. check with `kubectl logs busybox-reader-1` that the file

[2020-08-20 11:55] houz42 commented on #1406
@Madhu-1 sorry for the delay, I upgraded csi plugins in another cluster and reproducted the issue.
logs from node plugin:
[code]

[2020-08-20 11:59] Madhu-1 commented on #1406
@houz42 can you provide the steps to reproduce it.

as its, an rbd image doesn't have the filesystem on it and mapped as the readonly we cannot format the device path which is readonly.

Is the PVC previously mounted to any application pod and does it contains any data?

[2020-08-20 12:00] houz42 commented on #1406
@Madhu-1

[2020-08-20 12:01] houz42 commented on #1406
@Madhu-1

no

[2020-08-20 12:02] Madhu-1 commented on #1406
New PVC cannot be used in such a way. that's why sent PR https://github.com/ceph/ceph-csi/pull/1388 to support ROX only for cloned volumes which are having data and filesystem on top of it.

[2020-08-20 12:58] Madhu-1 commented on #1384
This is fixed already

[2020-08-20 12:58] #1384 closed

[2020-08-21 01:34] houz42 commented on #1406
The PVC is mounted as read/write, not readonly. Can I use it in such a way? Or can I use the PVC RWO first and ROX then without creating a snapshot?

[2020-08-21 06:42] #1296 closed

[2020-08-22 22:50] f1-outsourcing opened #1424 "Maybe it is possible to add some command line examples to test the driver?"
If I run the csi plugin like

`/usr/libexec/csi/csiceph --endpoint $CSI_ENDPOINT --type rbd --drivername rbd.csi.ceph.com --nodeid test`

I can get some plugin info
[code]

But of course this command listing the rbd images fails, because I am not specifying any pool, clusterid or credentials.

[code]

I am testing also with a local lvm csi plugin which has only a few command line parameters that a

[2020-08-24 06:44] Madhu-1 opened #1427 "Skip E2E tests if the PR is trivial"
We need to skip the E2E tests if the PR is making trivial changes. as it doesn't make sense to run complete E2E tests for Doc or some script changes. we need to Skip E2E tests based on the PR comment like adding `[skip ci] or based on the PR label.

[2020-08-24 06:45] Madhu-1 commented on #1427
cc @nixpanic

[2020-08-24 07:35] nixpanic commented on #1427
I'd like to start with a `[ci/skip/e2e]` label, so that the **ci/centos/mini-e2e** and **ci/centos/mini-e2e-helm** jobs can be skipped.

[2020-08-24 08:17] #1387 closed

[2020-08-24 10:38] nixpanic commented on #1427
#1428 got merged, this issue should have been closed.

[2020-08-24 10:38] #1427 closed

[2020-08-24 13:23] Madhu-1 opened #1431 "./scripts/minikube sh is failing"
./scripts/minikube.sh up
minikube already installed with v1.12.0
Installing minikube. Version: v1.12.3
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 55.9M  100 55.9M    0     0  6834k      0  0:00:08  0:00:08 --:--:-- 8746k
mv: cannot create regular file '/usr/local/bin/minikube': Pe

[2020-08-24 14:30] nixpanic commented on #1431
`minikube.sh install` should be run as root. Other actions should not try to install minikube (or kubectl).

[2020-08-24 14:33] Madhu-1 commented on #1431
just a minor correction we don't have `minikube install` we have `minikube up` still we should not update to the latest minikube version without user concern. (I would suggest just to install the minikube version which is specified in build.env which can  be overridden from MINIKUBE_VERSION env)

[2020-08-24 15:16] MrD2 opened #1433 "Error in clusterrolebindng"
# Describe the bug #

There is a missing " in this file

https://github.com/ceph/ceph-csi/blob/38892c3068cfacf1f3b9595b681d30e31722ec2a/charts/ceph-csi-cephfs/templates/provisioner-clusterrole.yaml#L55

should be "watch"

[2020-08-24 21:33] rohan47 commented on #1323
@idryomov Is there an open issue tracking this?

[2020-08-25 04:59] Madhu-1 opened #1435 "Restore/ PVC-PVC clone to a bigger size is allowed for cephfs PVC"
Currently, snapshot Restore/PVC-PVC to a bigger size is not allow for rbd volume and it got disabled in https://github.com/ceph/ceph-csi/pull/1244. for now, this is supported for cephfs due to the workaround we are doing in cephfs for volume size in https://github.com/ceph/ceph-csi/issues/1254

[2020-08-25 06:09] #1433 closed

[2020-08-25 07:06] #1260 closed

[2020-08-25 07:45] humblec commented on #1338
https://docs.ceph.com/docs/master/cephfs/fs-volumes/

So we have to make use of `features` field in subvol info and operate accordingly.

[2020-08-25 07:47] humblec commented on #1338
As discussed last week , I am assigning to you @agarwal-mudit

[2020-08-25 07:50] Yuggupta27 opened #1437 "Verify snapshot and pvc cloning functionalities as a part of upgrade testing"
Adding upgrade testing for snapshot and clone functionalities will
enable us to validate backward compatibility of the same.

Steps to follow:
1. Deploy ceph-csi `v3.1.0`
2. Create PVC.
2. Create a snapshot of the PVC.
3. Upgrade ceph-csi to `master/canary` release
4. Restore snapshot
5. Clone a new PVC from the existing one.
6. Create a Snapshot from PVC created in step 2 (just to validate we are

[2020-08-25 07:50] Yuggupta27 commented on #1437
Please assign @Madhu-1

[2020-08-25 07:59] humblec commented on #1437
3.1.0 @Yuggupta27

[2020-08-25 08:40] humblec opened #1438 "Allow bigger size restore/clone for RBD FileMode PVCs"
# Describe the bug #

CSI spec allows a user to create bigger volumes at restore/clone path. Ideally we should enable it in our driver too. This issue tracks the requirement for RBD.

[2020-08-25 08:41] humblec opened #1439 "Allow bigger size restore/clone for CephFS"
# Describe the bug #
CSI spec allows a user to create bigger volumes at restore/clone path. Ideally we should enable it in our driver too. This issue tracks the requirement for CephFS

Eventhough its allowed in today's code, we have to revisit this path with the fix present in CephFS for snapshot size.

[2020-08-25 08:43] idryomov commented on #1323
I've filed https://tracker.ceph.com/issues/47128.  I'll try to post a PR this week.

[2020-08-25 08:43] humblec commented on #1438
Please feel free to take this if some one is interested to work on this :+1:

[2020-08-25 09:49] nixpanic commented on #1435
Duplicated by #1438 and #1439?

[2020-08-25 12:04] pkalever commented on #1431
@Madhu-1 I can look at this issue. Feel free to assign it to me. Thanks!

[2020-08-25 15:58] #1408 closed

[2020-08-26 09:17] #1431 closed

[2020-08-26 12:17] Madhu-1 commented on #1437
Note: Upgrade testing need to be moved to centos CI, currently we are running upgrade tests on Travis CI which doesn't support cephfs snapshot

[2020-08-26 14:27] angelsantillana94 commented on #1109
Hello,

I think really the problem is not the Kubernetes version.

I have tried another provisioner and have not had this problem. The problem persists only with ceph-csi.

I have deployed two exactly the same statefulset applications (in this example, Artifactory), but with different provisioners.

[code]

To install the ceph-com-rbd provisions I followed the guide --> https://computingforgeeks.c

[2020-08-26 14:32] Madhu-1 commented on #1109
@angelsantillana94 both driver you are using is completely different one is in-tree and another one is CSI driver. the operation of both drivers is completely different.

if you think its a CSI issue, please provide logs of rbdplugin container of rbd daemonset pod from the node where it's taking more time. i want to measure the time taken by ceph-csi to map and mount the rbd image

[2020-08-31 07:42] andrewsali opened #1447 "[Question] Maximum number of volumes supported"
# Describe the feature you'd like to have #

This is more of a request for documenting known limits (if any) - is there any known limit on the maximum number of CSI volumes (CephFS subvolumes) supported for a single filesystem?

For example, for snapshots, there is currently a global limit of 400 for a single CephFS filesystem if using the kernel driver: https://github.com/ceph/ceph-csi/issues/113

[2020-08-31 09:25] windayski opened #1448 "cephfs pvc create failed: setfattr: Operation not supported"
I am using ceph-csi to create cephfs pvc. But it's failed and got and error "setfattr: Operation not supported".

Here is the log:
[code]

I execute the setfattr cmd on the host, and got :

[code]

It's using kernel mounter.
After I edit the sc, and use fuse mounter, the pvc could be create successfully.

It's seems a problem related with kernel.
My kernel version is 5.4.0

[2020-09-01 17:11] ep4eg opened #1449 "PVC hangs in "Pending" status"
# Describe the bug #

There are no meaningful error messages available. Just trying to deploy csi-rbd-provisioner.

# Environment details #

- Image/version of Ceph CSI driver : https://github.com/ceph/ceph-csi/tree/master/deploy/rbd/kubernetes as is.
- Helm chart version : -
- Kernel version : 3.10.0-862.el7.x86_64
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its

[2020-09-02 04:37] Yuggupta27 commented on #1449
Hi @ep4eg , can you please check if the `clusterID` provided in the csi-configmap matches the one in the storage class (`csi-rbd-sc.yaml` in your case)?

[2020-09-02 10:44] ep4eg commented on #1449
I confirm it's the same ID

[2020-09-02 11:50] Yuggupta27 commented on #1449
Can you please check if any command is stuck, For that you need to exec into csi-rbdplugin of the provisioner pod and run
[code]

[2020-09-02 13:10] ep4eg commented on #1449
Nothing interesting here
[code]

[2020-09-02 13:44] chandr20 commented on #1236
@Madhu-1
we are able to reproduce this issue
I0902 13:31:49.544793       1 leaderelection.go:246] failed to acquire lease rook-ceph/rook-ceph-rbd-csi-ceph-com
I0902 13:31:55.630272       1 leaderelection.go:350] lock is held by csi-rbdplugin-provisioner-76d465bbc-zqdrh and has not yet expired
I0902 13:31:55.630297       1 leaderelection.go:246] failed to acquire lease rook-ceph/rook-ceph-rbd-csi-c

[2020-09-02 13:49] Madhu-1 commented on #1236
check `ps -aux|grep rados` `ps -auz|grep  rbd` and `ps -aux|grep ceph` output on `csi-rbdplugin` container of `csi-rbdplugin-provisioner-76d465bbc-zqdrh` pod

[2020-09-02 15:22] ShyamsundarR commented on #1133
Retested this today, at 100 it errors out (or throws a traceback as per the version in use). This limit handling should hence not need any CSI changes, as the call to CreateSnapshot would error out at these limits.

[2020-09-03 05:06] chandr20 commented on #1236
[root@csi-rbdplugin-provisioner-76d465bbc-t6kpd /]#  ps -aux|grep rados
root       103  0.0  0.0   9096   672 pts/0    S+   05:00   0:00 grep --color=auto rados
[root@csi-rbdplugin-provisioner-76d465bbc-t6kpd /]# ps -aux|grep rbd
root         1  0.0  0.0 1163228 33380 ?       Ssl  Sep02   0:04 /usr/local/bin/cephcsi --nodeid=reli-10-prod-worker-7 --endpoint=unix:///csi/csi-provisioner.sock --v=5 -

[2020-09-03 05:07] chandr20 commented on #1236
[root@csi-rbdplugin-provisioner-76d465bbc-t6kpd /]# ps -aux|grep rados
root       124  0.0  0.0   9096   672 pts/0    S+   05:07   0:00 grep --color=auto rados
[root@csi-rbdplugin-provisioner-76d465bbc-t6kpd /]#  ps -aux|grep rbd
root         1  0.0  0.0 1163228 33380 ?       Ssl  Sep02   0:04 /usr/local/bin/cephcsi --nodeid=reli-10-prod-worker-7 --endpoint=unix:///csi/csi-provisioner.sock --v=5 -

[2020-09-03 05:29] Madhu-1 commented on #1236
looks like `csi-rbdplugin-provisioner-76d465bbc-zqdrh` is the leader pod can you check  `ps` output in leader pod

[2020-09-03 06:31] humblec commented on #291
This has to be considered. With different map options coming along ( readonly, noudev..etc), we should make it configurable and at times pass these options for dynamic mapping of RBD devices at time of NODE mapping.

[2020-09-03 11:58] joe-bowman opened #1454 "Unable to create volume - error returned by RADOS call"
# Describe the bug #

Probably not a bug, more likely a configuration issue :)

# Environment details #

- Image/version of Ceph CSI driver : 2.1
- Helm chart version : -
- Kernel version : 5.4.0-32
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :  ?
- Kubernetes cluster version : 1.18-8
- Ceph cluster version : octopus

# Steps to reproduce

[2020-09-03 12:00] joe-bowman commented on #1454
This seems to be the common factor, but unable to replicate this manually:
`failed to fetch mon config (--no-mon-config to skip)`

[2020-09-03 13:09] joe-bowman commented on #1454
bumping to 3.1.0 fixed this issue. no idea why, but it works now :D

[2020-09-04 03:15] duxvfeng opened #1455 "error getting secret csi-rbd-secret in namespace default"
# Describe the bug #

   Warning  ProvisioningFailed    0s (x5 over 7s)  rook-ceph.cephfs.csi.ceph.com_csi-cephfsplugin-provisioner-5f49d658bf-5gcbl_63f651c5-8a6a-4600-b930-24eaeee2f078  failed to provision volume with StorageClass "csi-cephfs-sc": error getting secret csi-rbd-secret in namespace default: secrets "csi-rbd-secret" not found
[root@k8s-master ~]# kubectl delete -f pvc-db.yaml

# Envi

[2020-09-04 06:04] agarwal-mudit commented on #1338
Hi @ShyamsundarR,

Just a couple of questions for clarification:

-  --retain-snaps is a flag while auto-protect is a subvolume feature?
- Both should be used while creating a subvolume not later or before?
- What about the existing subvolumes, pardon me if that is already discussed

If we already have a pvc based on subvolume which was not created using these feature/flag then we have a problem.

[2020-09-04 06:09] Madhu-1 commented on #1338
What is the minimum required ceph version for this one?

the changes we do should be backward compatible for older volumes (we should be able to do all operation on older subvolumes and snapshots)

[2020-09-04 06:10] agarwal-mudit commented on #1338
@ShyamsundarR
I just realized that --retain-snaps needs to be provided while deleting a subvolume not while creating it, so in that case will it work with a subvolume which was created in a release where this feature was not present?

[2020-09-04 06:12] Madhu-1 commented on #1455
as you are using cephfs provisioner why you are mentioning `csi-rbd-secret`?

and also you are using cephcsi with the rook. please refer to rook examples at https://github.com/rook/rook/tree/master/cluster/examples/kubernetes/ceph/csi/cephfs

Closing this one as this is completely miss-configuration.

[2020-09-04 06:12] #1455 closed

[2020-09-04 06:18] Yuggupta27 commented on #1338
Afaik, the user will not be able to ` --retain-snapshots` on subvolume removal of older subvolumes. Also, If snapshots are not present, the subvolume can be automatically upgraded.

[2020-09-04 06:19] Yuggupta27 commented on #1338
Though, v1 subvolumes with snapshots, are not upgraded.

[2020-09-04 10:53] humblec commented on #1448
@yati1998 is it something you can check ?

[2020-09-04 10:54] humblec commented on #1449
@ep4eg can you also check the other provisioner pod ?

[2020-09-04 10:54] Madhu-1 commented on #1448
@humblec I don't think its an issue with cephcsi I would like to close this one

[2020-09-04 10:54] humblec commented on #1454
@joe-bowman not sure what could have caused it , but if you are happy with the issue is fixed in 3.1.0 , can we close this issue ?

[2020-09-04 10:55] Madhu-1 commented on #1448
@windayski please fill the issue template when you are creating the issue

[2020-09-04 10:55] #1448 closed

[2020-09-04 10:55] chorus-techops commented on #1454
Yes of course, thank you :)

[2020-09-04 10:56] joe-bowman commented on #1454
yes of course, thank you!

[2020-09-04 10:56] #1454 closed

[2020-09-04 11:00] Madhu-1 commented on #1406
Yes if kubernetes allow, you need to mount PVC as RWO/RWX write some data to PVC, and mount it as ROX. if you face an issue please feel free to reopen it again.

[2020-09-04 11:00] #1406 closed

[2020-09-04 12:23] Yuggupta27 commented on #1338
Hi @ShyamsundarR , which Octopus release has the snapshot retention feature? Rook `1.4.2` uses Ceph `15.2.4` where I couldn't test the same.

[2020-09-04 12:24] IsaackRasmussen commented on #1449
I have the same issue and all my pods do not have any stuck commands

[2020-09-04 15:36] ep4eg commented on #1449
@humblec there's only 1, I set the number of replicas to 1. Also, kernel was updated to 5.8.1-1.el7.elrepo.x86_64 - not the case.

[2020-09-04 16:38] humblec commented on #1449
@ep4eg how did you deploy this cluster ? if you have a different kubelet path you have to configure accordingly. We should have used "/var/lib/kubelet" instead of "/my_not_var_dir//kubelet" or should have changed `rook-ceph-csi-config` configmap.

[2020-09-04 17:14] ep4eg commented on #1449
With my hands apparently. There's a symlink from default kubelet data-dir to the custom one so you can access the socket through `/var/lib/kubelet` . Can't see any problem with this, fix me If I'm wrong. Is there a way to see any meaningful logs?

[2020-09-04 18:08] batrick commented on #1447
This is no longer true as of v14.2.12 (to be released). There will be no snapshot limit globally for subvolumes.  Each subvolume is limited to 100 snapshots however.

[2020-09-04 18:08] batrick commented on #1447
There is no subvolume count limit.

[2020-09-05 07:58] andrewsali commented on #1447
Thank you all for the insights!

[2020-09-05 07:58] #1447 closed

[2020-09-05 15:36] ShyamsundarR commented on #1338
Yes

As answered later, the --retain-snapshots is to be used while deleting a subvolume, the auto-protection is a feature of the subvolume, based on the version of Ceph in use.

For existing subvolumes (again as covered in later comments), if the features state `snapshot-retention` then removal of the subvolume retaining snapshots is possible. IOW, this is another feature of the subvolume based on

[2020-09-07 06:29] Madhu-1 commented on #1449
you cannot use `ps` output to identify the hang commands in recent cephcsi release as we moved to go-ceph bindings. @ep4eg can you please provide the complete `csi-rbdplugin` container logs to check whats wrong

[2020-09-07 07:03] Madhu-1 commented on #1337
@baznikin in tried to reproduce it with master build am not seeing any issue can you retry with v3.1.0 helm charts, if the issue persists can you provide the deployment, cluster role of rbd? and also the PVC -oyaml output

[2020-09-07 07:13] Madhu-1 commented on #1290
@humblec ceph images are available for ppc64le arch?

[2020-09-07 07:15] Madhu-1 commented on #1284
currently, this use-case is not supported as ceph-csi. please open a feature request so that we can have more discussions

[2020-09-07 07:15] #1284 closed

[2020-09-07 07:23] Madhu-1 commented on #1120
This is the liveness sidecar which belongs to csi, not for the kubernetes sidecar containers, @jisnardo can you please retest this with v3.1.0?

[2020-09-07 07:24] Madhu-1 commented on #1119
closing this one as it's not an issue

[2020-09-07 07:24] #1119 closed

[2020-09-07 09:53] ep4eg commented on #1449
Hey @Madhu-1  here's the entire log file - https://pastebin.pl/view/d758038c

[2020-09-07 10:50] Madhu-1 commented on #1449
[code]

just went through the log it looks to be a connectivity issue. can you please provide the configmap you have created for mon configuration and also can you run `ceph -s` from the csi-rbdplugin container of the provisioner pod. **Note** you need to provide user id and userkey and mon IP when running the `ceph -s` command manually inside the csi-rbdplugin container.

[2020-09-07 13:16] ep4eg commented on #1449
Well, there's no access to `3300` ( which is supposed to be for `v2` protocol requests). Is this the root cause? I thought ceph-csi supports `v1` only. Would be nice to have timeouts and corresponding log messages on it.

[2020-09-07 13:21] Madhu-1 commented on #1449
Cephcsi is mostly tested with v1 monitor. It could be the issue. can you change the mon port and check things are working fine?

[2020-09-07 13:55] ep4eg commented on #1449
Access to `3300` solved the issue, however, I'd like to see such things in the logs. Thank you, guys!

[2020-09-07 13:57] Madhu-1 commented on #1449
as ceph, as not returned any error we cannot log such things in cephcsi. As its working now closing this one

[2020-09-07 13:57] #1449 closed

[2020-09-07 15:50] tamas-ac opened #1459 "[Question] Restoring PersistentVolumeClaims and VolumeSnapshots after failure"
### Managing critical failures with Ceph-CSI

We plan to use CephFS as out persistent storage in Kubernetes with Ceph-CSI, so we want to create PersistentVolumeClaims and VolumeSnapshots and let the CSI driver handle the rest on the Ceph side.

Now let's assume there is a critical Ceph failure, and we are able to restore the Ceph cluster to an earlier state. However, now probably some of the Persi

[2020-09-08 07:01] dpaks opened #1461 "Inline Volume Support for K8s Pod"
# Describe the bug #

I'm trying to unsuccessfully create a k8s pod with inline CSI filesystem static volume. The static volume mount works if I create a persistent volume.

# Environment details #

- Image/version of Ceph CSI driver : ceph/ceph:v15.2.4
- Helm chart version : rook's v1.4.2
- Kernel version : 5.0.0-1029-gcp
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd

[2020-09-08 07:03] dpaks commented on #1461
https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html
Will it work if I add --feature-gates=CSIInlineVolume=true since I use k8s 1.15?

[2020-09-08 07:24] humblec commented on #1461
@dpaks havent experimented this, let me give a try. I will get back soon.

[2020-09-08 07:26] humblec commented on #1461
one general thought here is, the inline volume got better support with kube 1.19. @dpaks , if at all you have this version of cluster , can you give a try ?

[2020-09-08 07:37] dpaks commented on #1461
I enabled feature gate on 1.15 and pod creation API succeeded. However, mount failed. I didn't yet check the logs though.
`Warning  FailedMount  36s    kubelet, dpak-m1   Unable to mount volumes for pod "inline-csicephfs-pod_xx-infra(77116229-3c3a-4754-9de0-35bacc79abd7)": timeout expired waiting for volumes to attach or mount for pod "xx-infra"/"inline-csicephfs-pod". list of unmounted volumes=[v

[2020-09-08 07:40] humblec commented on #1461
@dpaks any luck if you specify nodestagesecretref too ?

[2020-09-08 07:42] dpaks commented on #1461
Pod spec uses https://godoc.org/k8s.io/api/core/v1#CSIVolumeSource which sadly doesn't have nodestagesecretref.

[2020-09-08 07:43] humblec commented on #1461
I see, let me spend some time on this. Will get back to you.

[2020-09-08 08:43] Madhu-1 commented on #1461
@humblec as this is assigned to you please add an E2E and documentation for the same.

[2020-09-08 13:36] jisnardo opened #1462 "Version of ceph library / binary inside csi-rbd for cephcsi connections"
Hello, I have the following question:

When csi-rbd connects with ceph, what version of the library / binary does it use and in what container of which pod is it located?

[code]

Is there any way to update it?

[code]

Thank you.

[2020-09-08 15:36] Madhu-1 commented on #1462
csi-rbdplugin container is the one that connects to the ceph cluster in both the provisioner and nodeplugin pod.

you can exec into the container and run `rpm -qa|grep ceph` `rpm -qa|grep rbd` to find out the release we use in cephcsi.

[code]

in above ceph version is 15.2.4 which is the base ceph image cephcsi v3.1.0 is built on

[2020-09-08 15:37] Madhu-1 commented on #1462
only way to update the ceph version is you need to build your own cephcsi container from the base image you want

[2020-09-09 07:01] jisnardo commented on #1462
Thanks @Madhu-1

[2020-09-09 10:42] jisnardo commented on #1462
I'm confused...

I see jewel connections but inside the pod in the rbdplugin container the ceph version is nautilus.

[code]

[code]

[code]

[code]

How is this explained?

We understand that if https://github.com/ceph/ceph-csi/blob/master/build.env appears:

[code]

And it has been used to build Cephcsi Version: v2.1.1 via https://github.com/ceph/ceph-csi/blob/master/deploy/cephcsi/image/Dockerf

[2020-09-09 11:42] Madhu-1 commented on #1462
"MonSession(client.4039878 192.168.81.13:0/4121742705 is open allow *, features 0x27018fb86aa42ada (jewel))",
"MonSession(client.3904259 192.168.81.11:0/384834475 is open allow *, features 0x27018fb86aa42ada (jewel))",
"MonSession(client.3884870 192.168.81.12:0/4070399204 is open allow *, features 0x27018fb86aa42ada (jewel))",
"MonSession(client.3884426 192.168.81.14:0/4205492656 is open allow *,

[2020-09-09 12:55] jisnardo commented on #1462
[code]

[2020-09-09 13:37] Madhu-1 commented on #1462
@dillaman @idryomov can help us more on this one

[2020-09-09 15:03] idryomov commented on #1462
@jisnardo What kernel are you running on those `192.168.81` nodes?

The kernel client used to report itself as jewel up to kernel 5.3, even though all luminous features were implemented in kernel 4.13.  I'm pretty sure this has nothing to do with CSI pods -- you are seeing kernel rbd sessions.

[2020-09-09 15:16] jisnardo commented on #1462
[code]

[2020-09-09 15:26] idryomov commented on #1462
Yup, 4.15 kernels will be reported as jewel.

[2020-09-09 15:29] jisnardo commented on #1462
Ok, i try.

[2020-09-09 21:22] msfrucht commented on #1340
Speaking of documentation. A table of the meaning of the elements of values.yaml table would be ideal. Seen that in a lot of other helm charts. As well as an example of volume resizing would be helpful.

As for:

My organization has been using ceph-csi-rbd exclusively with external clusters rather than rook.io or OCS. The only thing missing from the helm chart is the required authentication secret

[2020-09-10 03:53] humblec commented on #1340
Sure. !

Sure. I can take an AI on it.

Lets revisit this and also add missing details accordingly.

Thanks @msfrucht for the suggestions.

[2020-09-10 05:25] Madhu-1 opened #1465 "rework on naming conventions/ Test case description in E2E"
currently, the naming conventions need to be corrected as mentioned in https://github.com/ceph/ceph-csi/pull/1452#issuecomment-688658553 and also a few enhancements need to be done on the same line for optimization also. This issue is to track the same.

[2020-09-10 06:38] jisnardo commented on #1462
Now working as expected after installing https://wiki.ubuntu.com/Kernel/LTSEnablementStack over Ubuntu 18.04 LTS.

[code]

[code]

[code]

Thanks.

[2020-09-10 06:38] #1462 closed

[2020-09-10 11:53] tamas-ac commented on #1459
I'll be a bit more specific.

I experimented with the following scenario: created manually using ceph commands a subvolume /volume/csi/restore-test,
and then tried to create a PVC and PV that would point to this manually created subvolume. This is to emulate disaster recovery of a CephFS state where the subvolume still existed but the corresponding PVC and PV has been removed from kubernetes.

The

[2020-09-10 11:58] Madhu-1 commented on #1459
@tamas-ac resize/ snapshot on static PVC  is not supported in cephcsi as of now.

[2020-09-10 12:03] Madhu-1 commented on #1459
if have restored the ceph cluster and the ceph cluster is having rbd images/cephfs subvolumes with the same names as before everything works smoothly,  if names are different, the best options would be renaming the subvolumes to match the earlier names

[2020-09-10 12:22] tamas-ac commented on #1459
@Madhu-1 thanks for the heads up on expand/delete and snapshots for static PVC!

I assumed that if the ceph cluster can be restored, the existing PVCs should work. I'm concerned about subvolumes where the PVC is no longer there.

Example:
1.  Create a dynamic PVC 'pvc-1'. Kubernetes provisions a PV 'pv-<uuid>', binds it to 'pvc-1' and everything works.
1.  The entire Ceph cluster is backed up, let

[2020-09-10 12:30] Madhu-1 commented on #1459
I think if you periodically back up the kubernetes objects, you can recreate it back

in  PV output the CSI part is the main for CSI, if you can add the CSI section as before in think you can reuse things

this example is for rbd
[code]

`volumeHandle: 0001-0009-rook-ceph-0000000000000002-17382c21-f35a-11ea-9abc-0242ac110008`  is important for use its encoded one and  its container ceph pool, clus

[2020-09-10 14:56] tamas-ac commented on #1459
Thanks @Madhu-1, indeed restoring PVCs and PVs works if I use a volumeHandle that was generated by the CSI driver.

Is the same expected to work with VolumeSnapshots? I tried a similar method for restoring together the VolumeSnapshot and VolumeSnapshotContents:

[code]

However, I encountered here
[code]

Also found a new VolumeSnapshotContent object being created - seem like the VolumeSnapshot co

[2020-09-11 11:32] IsaackRasmussen commented on #1236
@Madhu-1  I'm having the same issue, what should I look for in the PS outputs?

`[root@ceph-csi-rbd-provisioner-6c87774fbd-rsh9b /]# ps -aux|grep rados
root         106  0.0  0.0   9176  1084 pts/4    S+   11:30   0:00 grep --color=auto rados

[root@ceph-csi-rbd-provisioner-6c87774fbd-rsh9b /]# ps -aux|grep rbd
root           1  0.0  0.0 2486356 59132 ?       Ssl  07:45   0:07 /usr/local/bin/cephc

[2020-09-11 12:22] humblec commented on #1465
@yati1998 is it something you are interested to take it?

[2020-09-11 12:29] humblec opened #1469 "Allow expansion on "encrypted volumes""
# Describe the bug #

At present the expansion of volumes are blocked if the volume is encrypted. Considering expansion is a valid operation on an existing PVC, we should allow it eventhough volume is encrypted.

I am still not sure, we have to reencrypt the volume after expansion with the same key or we can use different key. But either way this operation can go through.

@vasyl-purchel any thoug

[2020-09-11 12:36] humblec opened #1470 "Allow snapshot creation on an encrypted volume"
# Describe the bug #

At present, snapshot creation is blocked on a volume which is already encrypted. The reason to disallow this operation was to avoid the possibilities of the  attack   on encryption key.

Considering our current snapshot implementation create a new CLONED volume in backend , I feel, we can use a new key for the snapshot volume. However we have to figure out the the possibile s

[2020-09-11 12:43] dillaman commented on #1469
This is handled automatically by LUKS during `luksOpen` -- it actually doesn't care about the block device size. If you are doing an online resize, just run `cryptsetup resize` and it will pick up the new size. This would be done before resizing any FS system.

[2020-09-11 12:48] humblec commented on #1469
Thanks for information. Considering we are doing online expansion we should be able to perform it with cryptsetup resize without hiccups.

[2020-09-11 20:10] vasyl-purchel commented on #1470
hi @humblec, I haven't followed much on how snapshots are created, but if I'm getting it right, cloning doesn't mean copying over data from one volume to another but actually cloning the volume. in order to use new key it would require to implement re-encryption, which is not currently done... we haven't looked into that yet...

also I'm not sure how snapshot is linked to the original volume... bu

[2020-09-11 21:56] dillaman commented on #1470
Technically, if you don't re-encrypt the full volume after the creation of each snapshot (or similarly for each create-from-snapshot / create-from-volume call), yes, it's possible to brute-force the master encryption key (e.g. known plaintext attacks).

For example, cloud providers (like GCE) say that snapshots will be "full" snapshots if your volumes are encrypted [1].

[1] https://cloud.google.c

[2020-09-12 14:15] yati1998 commented on #1465
@humblec sure.

[2020-09-14 06:53] humblec commented on #463
@Madhu-1 @ShyamsundarR @nixpanic @Yuggupta27 @agarwal-mudit @pkalever @yati1998 I think we have to bring back this process. That said, we have a good count of issues opened here in this repo, most of them are actually solved. However the issue still remain open .

So 2 proposals:

1) Lets kickstart bug triage call or meeting once again ( May be weekly)
2) Look at the the stale bot configuration, l

[2020-09-14 07:06] humblec opened #1471 "Disable --handle-volume-inuse-error flag in resizer sidecar"
# Describe the feature you'd like to have #

v1.0.0 of external-resizer has brought in a new behaviour with below flag.

[code]

We have to disable this for better performance of the sidecar for the Ceph CSI expand use case.

[2020-09-14 07:09] humblec opened #1472 "[v1.0.0] Replace --csiTimeout flag of resizer with --timeout flag"
# Describe the bug #
The --csiTimeout flag of external-resizer is obsoleted with v1.0.0 release. Instead --timeout flag has been introduced for the same purpose. This timeout is used by external-resizer to decide how long it should wait for a response from CSI driver. timeout value defaults to 10 seconds. With the upgrade of resizer sidecar we have to adjust our deployment templates or artifacts h

[2020-09-14 07:20] humblec commented on #440
Topology Aware provisioning has been moved to GA in upstream kuberenetes and requires K8s api server >= 1.17 . Considering this feature has been came to GA state,  its good to continue our efforts on this and hopefully move topology feature support in Ceph CSI to Beta/GA. I would like to propose this for next release ( 3.2.0).
@ShyamsundarR can you please share your thoughts/plans  on taking this

[2020-09-14 07:20] vasyl-purchel commented on #1470
yes, that's pretty much what I was thinking of also - they also mention you must specify new encryption key, so in case of using kms instead of a single key from k8s secrets we could go similar way as with creating new disk - create new encryption key, make a full copy of existing volume (with all the metadata attached I guess) and then re-encrypt it with a new key

although I know it is possible

[2020-09-14 07:25] humblec opened #1473 "make use of configurable fsType in the templates."
With latest version (v2.0.1) of external provisioner, its now possible to configure `fstype` . The fstype on provisioned PVs no longer defaults to "ext4". A `defaultFStype` arg is added to the provisioner. Admins can also specify this `fstype` via storage class parameter. If `fstype` is set in storage class parameter, it will be used. The sidecar arg is only checked if fstype is not set in the SC

[2020-09-14 07:36] humblec commented on #1470
@vasyl-purchel indeed we are planning to consider the scenario of using KMS with Vault configuration. The kube secret way is not scalable or its not what we want to really consider for enterprise customers/users. So we will be giving or kind of defaulting to KMS+ Vault configuration ..

This is the process we follow for snapshot creation:

[code]

So the volumesnapshot is carved out from the  'new

[2020-09-14 08:44] humblec commented on #463
@kuja53 has offered help on looking into the `stale` bot issues and its configuration..etc. Thanks :+1:

[2020-09-14 15:35] WolfspiritM opened #1475 "Chart: Make nodeplugin mount points configurable"
# Describe the feature you'd like to have #
Currently the mountPath for plugin-dir and mountpoint-dir for the nodeplugin is hardcoded to `/var/lib/kubelet/plugins` and `/var/lib/kubelet/pods`. When installing k8s via microk8s then that needs to be changed to `/var/snap/microk8s/common/var/lib/kubelet/...` otherwise mounting will fail. See #1067

I'd like to have a setting for helm to set the requi

[2020-09-15 09:37] lixiaopengxiya opened #1479 "Failed to create a new service mount disk"
The service mount disk error is as follows:
[code]

[2020-09-15 11:12] Madhu-1 commented on #1479
@lixiaopengxiya please fill the issue template when you are creating the issue

[2020-09-15 18:37] dm3ch commented on #899
Having very similar problem:
csi-rbdplugin: v2.1.1
kubernetes: v1.16.9

nodeplugin logs:
[code]

And have next in kubelet beetwen orphaned messages:
[code]

P.S. My node have UTC+3 timezone. And as far as I see kubelet is reporting in UTC+3 and rbd plugin is reporting in UTC, that's why there's 3hours difference in logs

[2020-09-16 10:18] gabrilabs75 opened #1483 "Add storageclass definition and secret on file values"
Hi all,
I would like to bring to your attention an helpful improvment giving the possibility to set the storageclass definition and the secret directly on file values.
In our case we need to create sc definition and secret applying custom yaml files after the installation of ceph-csi-rbd by helm chart.

Below are the versions of chart and appl. used in our environment based on k8s 1.9.1:
appl.: v3

[2020-09-16 10:47] iul1an opened #1484 "ceph-csi-rbd v3.1.0 resize not working properly"
# Describe the bug #

When resizing an RBD PVC, the RBD image gets resized but the filesystem inside of it is not.

# Environment details #

- Image/version of Ceph CSI driver: v3.1.0
- Helm chart version: v3.1.0
- Kernel version:
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : krbd
- Kubernetes cluster version : v1.19.1
- Ceph cluster versi

[2020-09-16 11:05] humblec commented on #1484
@iul1an Is this PVC attached to a pod?

[2020-09-16 11:09] iul1an commented on #1484
@humblec I'm using latest version, v1.19.1

[2020-09-16 11:11] humblec commented on #1484
There was a change and we accomodated it in via

https://github.com/ceph/ceph-csi/pull/1426 this was one of the change which is also part of the v3.1 branch, but its not released.

[2020-09-16 11:13] iul1an commented on #1484
Will there be a patch to v3.1?

[2020-09-16 14:58] flarno11 opened #1485 "ceph-fuse fails when FuseMountOptions is set"
# Describe the bug #

When setting `fuseMountOptions` (e.g. to "debug") in the storageClass, ceph-fuse fails with
[code]

# Environment details #

- Image/version of Ceph CSI driver : 3.1.0
- Helm chart version : no helm in use
- Kernel version : 3.10.0
- Mounter used for mounting PVC : fuse
- Kubernetes cluster version : 1.17.5
- Ceph cluster version : 15.2.4

# Steps to reproduce #

Steps to rep

[2020-09-16 15:23] Madhu-1 commented on #1485
@nixpanic can you please take a look at it?

[2020-09-16 16:05] #1338 closed

[2020-09-16 23:47] kfox1111 opened #1487 "security hardening volume mounts"
# Describe the feature you'd like to have #

For volumes, it would be great of a ceph user with limited rights to mount that one volume was created for each volume dynamically created. This would help security when a single node is compromised. Only the volumes already mounted on that host would be accessible, not all volumes in the cluster.

[2020-09-17 00:22] kfox1111 opened #1488 "ceph permissions"
the docs at:
* https://github.com/ceph/ceph-csi/blob/master/docs/capabilities.md

Are very useful, but can be tightened further. There are some additional restrictions listed in these pages that could be applied:

* https://docs.ceph.com/en/latest/rbd/rbd-kubernetes/
* https://docs.ceph.com/en/latest/cephfs/client-auth/

[2020-09-17 16:56] DavidePrette opened #1490 "Csi snapshot error failed to provision volume with StorageClass"
Hi everyone,
I just update the helm chart for ceph-csi. If I try to use the snapshot i recevie this error (csi-provisioner):
[code]
Log from csi-snapshotter:
[code]
Those are my config yml:
[code]
[code]
[code]
[code]
The result is:
[code]
[code]
**Rancher Kubernetes 1.18.6
Ceph nautilus 14.2.11**
Is there something wrong with the configuration?
Thanks in advance :)

[2020-09-18 06:34] Madhu-1 commented on #1475
The above mentioned is a volume mounts which will be mounted inside the container  not the actual volumes for volumes refer https://github.com/ceph/ceph-csi/blob/master/charts/ceph-csi-rbd/templates/nodeplugin-daemonset.yaml#L144-L187

@Yuggupta27 or @pkalever can you please try to reproduce the issue and see if we need to fix anything? May be we may need to fix pods path as its hardcoded here htt

[2020-09-18 06:38] Madhu-1 commented on #1490
NAME               READYTOUSE   SOURCEPVC   SOURCESNAPSHOTCONTENT   RESTORESIZE   SNAPSHOTCLASS             SNAPSHOTCONTENT   CREATIONTIME   AGE
rbd-pvc-snapshot                rbd-pvc                                           csi-rbdplugin-snapclass                                    21m

The snapshot is not created yet, to create the pvc from snapshot  once the snapshot is ready to use. the volu

[2020-09-18 06:41] Madhu-1 commented on #1484
closing this one as its already fixed, @humblec can update on the release ETA

[2020-09-18 06:41] #1484 closed

[2020-09-18 06:42] Madhu-1 commented on #1483
Good to have a single storageclass and secret in helm templates

[2020-09-18 07:01] Madhu-1 commented on #1487
@kfox1111 can you provide the link to the ceph docs is it possible to have these capabilities for a single user?

Note:- creating a new user for a indivisual subvolumes is not a great idea.

CC @ShyamsundarR

[2020-09-18 07:02] Madhu-1 commented on #1488
@kfox1111 can you please specify the additional caps you would like to see in cephcsi doc?

@yati1998 PTAL

[2020-09-18 07:05] Madhu-1 commented on #1459
Deleting the snapshotcontent wont trigger any CSI calls, if you delete the volumesnapshot object it should trigger the DeleteSnapshot Request can you please check.

[2020-09-18 07:39] Madhu-1 commented on #899
can this is reprodced or cephcsi 3.1.0 ? after we have done some enhancement on stale mounts and maps when something goes wrong.

[2020-09-18 08:16] DavidePrette commented on #1490
Thanks for the respond. I deployed with helm and after I install the beta crd with the command:
`kubectl create -f config/crd`
I tried now to add the volumesnapshotcontenentname:
[code]
 But the result still the same the snapshot is not ready:
[code]
I have those images for ceph-csi (default installed by helm chart):
[code]
Error on pvc side:
[code]

[2020-09-18 08:39] Madhu-1 commented on #1490
kind: VolumeSnapshot
metadata:
  name: rbd-pvc-snapshot
spec:
  volumeSnapshotClassName: csi-rbdplugin-snapclass
  source:
    persistentVolumeClaimName: rbd-pvc
    volumeSnapshotContentName: test-content

you don't need to  add volumecontent name as it will be auto  created for dymanic snapshots

[2020-09-18 09:56] Madhu-1 opened #1491 "Cephfs: check ENOTEMPTY in DeleteVolume for subvolumes having snapshots"
Currently, if the subvolume has the snapshots and the `--retain-snaps`feature is not present on the subvolume we will attempt for the subvolume deletion, due to this from the logs its not clear why the subvolume deletion is failing.
Incase `--retain-snaps` feature is not present we should check for the snapshots to give better error message to the user.

[2020-09-18 09:57] Madhu-1 commented on #1491
cc @ShyamsundarR @humblec  @agarwal-mudit @Yuggupta27

[2020-09-18 10:10] DavidePrette commented on #1490
Also without volumeSnapshotContentName continue not working :cry:

[2020-09-18 10:19] Madhu-1 commented on #1490
Have you installed the common-controller https://github.com/kubernetes-csi/external-snapshotter/tree/master/deploy/kubernetes/snapshot-controller?

refer Install Common Snapshot Controller: in https://github.com/kubernetes-csi/external-snapshotter#usage

[2020-09-18 12:34] DavidePrette commented on #1490
Ok I forgot to install snapshot-controller!
After the installation work perfectly :+1:

[2020-09-18 12:34] #1490 closed

[2020-09-18 16:32] kfox1111 commented on #1487
Why do you consider it not a great idea?

The reasons for that need to balance against the not great idea of allowing any node in the cluster to mount any volume.

[2020-09-18 16:34] kfox1111 commented on #1488
I need to go through the other docs and create a more restricted account. Planning on doing that in the next couple of weeks so I'll get back to you. Just off the bat, it looks a little weird the cephfs node secret is recommended to get "mgr", "allow rw".

[2020-09-19 10:42] ShyamsundarR commented on #1491
The error returned when snapshots are present and the subvolume is attempted to be deleted (without the `--retain-snapshots` or due to older subvolume version) is ENOTEMPTY. This error can be inspected to throw an appropriate log message, rather than look at snapshot count from the CSI plugin to show a relevant error message.

The entire message is, `subvolume <subvolumename> has snapshots`

[2020-09-19 10:49] Madhu-1 commented on #1491
Yes above looks good thanks @ShyamsundarR

[2020-09-20 14:10] cumirror opened #1493 "After VolumeSnapshot was created, snapshot could not display by [rdb snap ls] command"
# Describe the bug #
 After VolumeSnapshot was created, snapshot could not display by [rdb snap ls] command

# Environment details #
- Image/version of Ceph CSI driver : v1.3.0
- Kernel version : CentOS Linux release 7.8.2003 (Core) 3.10.0-1127.19.1.el7.x86_64
- Kubernetes cluster version : v1.19.0
- Ceph cluster version : 14.2.11 nautilus (stable)

# configs for snapshot #
1. VolumeSnapshotClass

[2020-09-20 15:16] cumirror commented on #1493
After reading the [document](https://github.com/ceph/ceph-csi/blob/master/docs/design/proposals/rbd-snap-clone.md) carefully, i know the reason: a temporary snapshot was in trash so it didn't show up, and use [rdb snap ls --all] will show all snaps.

/close

[2020-09-20 15:16] #1493 closed

[2020-09-21 04:31] humblec opened #1494 "make use of ceph.quota.max_bytes xattr within snapshots to set the size"
ceph.quota.max_bytes xattr within snapshots are set with latest Ceph release and we could make use of the same for setting this value.

https://github.com/ceph/ceph/pull/36404

[2020-09-21 05:44] Madhu-1 commented on #1494
@humblec why this is required and what is the use of this one? can  you please update the issue

[2020-09-21 05:45] Madhu-1 commented on #1494
@ShyamsundarR do we need to mount the subvolume/snapshot to update this value or is there a CLI option to do it?

[2020-09-21 09:25] lixiaopengxiya opened #1496 "Cephfs failed to create a volume using CEPH CSI"
[code]

[2020-09-21 11:15] Madhu-1 commented on #1438
This cannot be done without https://github.com/kubernetes/kubernetes/issues/94929

[2020-09-21 11:35] humblec commented on #1438
true.. we need support from CO. We will consume it once we have it.

[2020-09-21 11:58] nixpanic commented on #1485
Yes, that definitely is the problem.

[2020-09-21 12:52] ShyamsundarR commented on #1494
I assume @humblec meant that CSI-Volume clone size would be set based on the above xattr? If so, the clone operation issued to CephFS subvolumes would automatically do this, which was the reason to expose the mentioned xattr in the snapshot in CephFS.

To read the value, a CephFS mount would be required as this is not exposed in `subvolume snapshot info` output.
The value cannot be set on a snapsh

[2020-09-21 12:57] humblec opened #1500 "Enable token based authentication in vault"
# Describe the feature you'd like to have #

At the moment vault token authentication is not enabled in CSI code and it is good to enable this method too so that we have more coverage on different type of vault authentication and can make use of it based on the user input. This issue tracks the same.

[2020-09-21 13:27] #291 closed

[2020-09-21 14:12] ShyamsundarR commented on #440
Most of the work for RBD is complete. CephFS was blocked on the need for an info API, which is now present can hence I will work on enabling the same for CephFS as well. Cannot ensure this will be for 3.2.0 release.

As an aside, the use-case for read optimized topology usage, assumed we could [takeover](https://github.com/ceph/ceph-csi/pull/760/files#diff-133c3c07046f779e3502b6b5f3f1236eR144) the

[2020-09-21 14:19] Yuggupta27 commented on #1494
Thanks, Shyam. As the intended use case will be handled automatically, Is there any other use case for us to read the value(as mounting may not be the most viable approach for us)? @Madhu-1 @humblec

[2020-09-23 06:21] PrometheusYu opened #1506 "Ineffective configuration option in StorageClass "mountOptions:[noatime]" when using cephfs as backend storageclass"
Environment:
Ceph cluster: 14.2.7 nautilus (stable)
Kubernetes: v1.16.3
Ceph CSI version: v2.1.1

We use helm chart to deploy ceph-csi-cephfs-plugin in namespace: kube-system
$ helm list -n kube-system
NAME            NAMESPACE       REVISION        UPDATED                                 STATUS          CHART                           APP VERSION
ceph-csi-cephfs kube-system     4               20

[2020-09-23 07:40] nixpanic commented on #1506
The mount commands that are executed do list the options correctly:

    "mount_flags":["debug","noatime","_netdev"]

It is possible that the options passed to fuse are not available on the output of `mount` (or `/proc/mounts`). In order to check that the options are passed, you will need to check the running `ceph-fuse` process and its commandline parameters. In the `csi-cephfsplugin` container y

[2020-09-23 07:45] nixpanic commented on #1496
The text in the issue is formatted weirdly, it is difficult to understand if the additional spaces are introduced by the formatting, or of they are part of the output/configuration.

For example, there is an incorrect space in the list of monitors that will cause issues when executing the command:

    [-m 192.168.200.181:6789,192.168.200.182:6789, 192.168.200.183:6789 --id admin --keyfile=...

Pl

[2020-09-23 08:03] PrometheusYu commented on #1506
Well, I used to check the `ceph-fuse` process in container `csi-cephfsplugin` of which node the mount action took place. I got printout as following:
[code]
From which, We can find that in this `ceph-fuse` command, for option '-o', in fact, there is no parameter about **noatime**,

[2020-09-23 11:37] humblec commented on #1494
yeah.. @madhu-1 as @ShyamsundarR mentioned,  the idea was to explore can we make use of the mentioned field and use it while deriving the size logic in CSI code. however it looks like there is no easy way to retrieve or fetch this info from the backend . If thats the case , we may have to survive with the logic we have now.

Thanks @Yuggupta27 for exploring different possibilities. !
I will wait f

[2020-09-23 12:08] Madhu-1 commented on #1506
you need to set fuseMountOptions https://github.com/ceph/ceph-csi/blob/9ab197bc630efa7af7933abc97696104155b8269/examples/cephfs/storageclass.yaml#L25

[2020-09-23 12:12] #1485 closed

[2020-09-23 13:29] ShyamsundarR commented on #1487
@kfox1111 CSI 1.0 had the option to add a per PV cephx credential for CephFS. The deal though was that, we still needed the node stage secret, to access per PV credentials to then pass them to the required operations. Which sort of defeats the node compromise situation, as now the compromised node has access to the node stage secret, which can be used to fetch all required credentials for all PVs.

[2020-09-23 13:51] #1491 closed

[2020-09-23 14:40] ShyamsundarR commented on #1494
Ack! If you want the value it needs to be read from a mount point or post clone from the subvolume info of the clone.

[2020-09-23 15:08] humblec commented on #1494
May be we can use that field from the cloned volume to avoid or control "resize" volume call which we do blindly today and can avoid one network call. @Yuggupta27

[2020-09-24 01:40] PrometheusYu commented on #1506
Thanks for your advice. @Madhu-1
But after following your instruction, there may be something wrong during the parameter process:
Modified storageclass.yaml appears as following:
[code]
Then deploy the demo.yaml file, I can find the error described as following:
[code]

[2020-09-24 01:51] olivejing opened #1511 "Encryption for RBD volumes failed when encrypted was enabled"
# Describe the bug #

I am trying the encrytion for RBD volumes, guide from cephcsi:
https://github.com/ceph/ceph-csi/blob/master/docs/deploy-rbd.md
[code]

PVC stucks at Pending status:
[code]

new created secret and StorageClass:
[code]

From the error log, it checks KMS config although i don't use KMS.

# Environment details #

- cephcsi : v2.1.2
- Kernel version : # uname -a
Linux olive-2006-c

[2020-09-24 03:46] Madhu-1 commented on #1511
csi.storage.k8s.io/node-stage-secret-namespace: test1
  csi.storage.k8s.io/provisioner-secret-name: csi-cephrbd
  csi.storage.k8s.io/provisioner-secret-namespace: ncms

@olivejing for encryption both provisioner secret and node-stage-secret should be the same can you change provisioner secret to `csi-cephrbd-test1` and see?

[2020-09-24 03:50] Madhu-1 commented on #1506
space between mount options is fixed with https://github.com/ceph/ceph-csi/pull/1499 which will part of the next release. and we are using sinlge `-o` for all the mount options.

@nixpanic PTAL

[2020-09-24 06:11] olivejing commented on #1511
@Madhu-1  Thanks for your support, pvc is created successfully.

[2020-09-24 06:19] olivejing commented on #1511
@Madhu-1 To expand the encrypted PVC, i also need to change controller-expand-secret-name, right? If i need to create snapshot for encrypted PVC, how to config StorageClass or VolumeSnapshotClass?

[2020-09-24 06:26] Madhu-1 commented on #1470
We also need to support PVC-PVC cloning

[2020-09-24 06:27] Madhu-1 commented on #1511
currently no support for expand,clone,snapshot for encrypted PVC. please refer
https://github.com/ceph/ceph-csi/issues/1469
https://github.com/ceph/ceph-csi/issues/1470

closing this as its fixed now

[2020-09-24 06:27] #1511 closed

[2020-09-24 06:30] olivejing commented on #1511
Ok, thanks for your kindly support.

[2020-09-24 07:12] Madhu-1 commented on #1496
ceph cluster `11.14` is not supported by cephcsi see https://github.com/ceph/ceph-csi#support-matrix for supported versions

[2020-09-24 07:12] #1496 closed

[2020-09-24 07:13] Madhu-1 commented on #1479
Closing this one as there is no update on this issue. please feel free to reopen.

[2020-09-24 07:13] #1479 closed

[2020-09-24 07:15] Madhu-1 commented on #1459
I hope most of the questions are answered, closing this one

[2020-09-24 07:15] #1459 closed

[2020-09-24 07:21] tamas-ac commented on #1459
Thanks for the help, I'm not sure VolumeSnapshots work according to the same logic as PVCs but I'll need to do some more testing.

[2020-09-24 07:26] Madhu-1 commented on #1459
@tamas-ac Please feel free to reopen  if you need any help

[2020-09-24 14:19] x-bytes opened #1519 "PVC cannot bind to PV , rpc error: code = DeadlineExceeded desc = context deadline exceeded"
**PVC cannot bind to PV，Is this a bug ?**

# Soft Version
Kubernetes version : 1.18.4
Ceph version : 14.2.11 nautilus (stable)
OS version : Ubuntu 20.04 LTS
CSI version : Ceph CSI 3.1.0 Release
CSI image :
- csi-provisioner:v1.6.0
- csi-snapshotter:v2.1.0
- csi-attacher:v2.1.1
- csi-resizer:v0.5.0
- cephcsi:v3.1.0
- csi-node-driver-registrar:v1.3.0

![1](https://user-images.githubusercontent.com/2

[2020-09-24 14:29] Madhu-1 commented on #1519
looks to be network issue can you see are you able to execute ceph or rbd commands from csi-rbdplugin of csi-rbdplugin-provisioner pod?

[2020-09-24 14:30] Madhu-1 commented on #1519
also please paste the configmap you created for clusterID just want to check mon `ip:port` details

[2020-09-24 14:35] x-bytes commented on #1519
mon dump
[code]
csi-config-map.yaml
[code]

[2020-09-24 14:42] x-bytes commented on #1519
My english is not good, sorry !

this csi-provisioner up logs
[code]

this csi-rbdplugin up logs
[code]

[2020-09-24 16:56] kfox1111 commented on #1487
Something's wrong I think if you need a k8s secret that can access all the pv secrets for all of the nodes. There needs to be a way to restrict access to the pv's secrets just to the nodes on which they are assigned. I would have figured the NodeRestriction
admission controller would do that, but maybe not. This is a long standing problem in K8s I think where you need to have support daemonsets to

[2020-09-25 06:40] yati1998 opened #1521 "Update E2E test with automatic cleanup after every run"
## Current Behavior:
While running e2e tests, we need to do manual cleanup every time before re-running the tests i.e., If any test case fails or panics, the already created resources are not cleaned up, which results in server errors like: The resource already exists.
## Expected Behavior:
The test should do automatic cleanup every time so that we can run the e2e test smoothly even after any fail

[2020-09-25 15:35] #1397 closed

[2020-09-28 13:17] Madhu-1 commented on #1155
@humblec is working on this one. removing stalebot label

[2020-09-28 13:18] Madhu-1 commented on #1139
still need to fix this one

[2020-09-28 13:19] Madhu-1 commented on #1173
This is needed

[2020-09-28 13:25] pkalever commented on #1139
@Madhu-1 assign this to me.

[2020-09-28 13:27] Madhu-1 commented on #1139
done. Thank you

[2020-09-28 14:16] facchettos opened #1532 "Do snapshots freeze fs before snapshotting ?"
What new functionality do you want?

Just some doc update, I could not find anywhere in the docs, whether or not when you create a snapshot the fs/block is frozen or not before the snapshot is taken. In the alpha description of volume snapshots (kubernetes), they talked about having to get the fs/bd into a frozen state before doing the snapshot but it disappeared in beta. I wonder if cephcsi does

[2020-09-28 14:20] Madhu-1 commented on #1532
Yes, it's the user's responsibility to make sure PVC is not in use before taking snapshots or creating the clone. Hope in feature, kubernetes will add a hook to do options to freeze the IO when we are taking snapshots or clone

[2020-09-28 14:26] facchettos commented on #1532
Thanks !
Do you think it is worth it to update [](https://github.com/ceph/ceph-csi/blob/master/docs/cephfs-snap-clone.md#snapshot) and possibly for rbd too or not ?

[2020-09-28 14:27] Madhu-1 commented on #1532
Yes please, @facchettos is it possible to send PR to update the doc?

[2020-09-28 14:28] facchettos commented on #1532
I'm on it =)

[2020-09-28 14:29] Madhu-1 commented on #1532
Need changes here also https://github.com/ceph/ceph-csi/tree/master/examples#how-to-test-rbd-snapshot-feature

[2020-09-28 14:31] Madhu-1 opened #1533 "Move RBD snapshot to a new document"
currently, RBD snapshot doc is part for the main example README file. https://github.com/ceph/ceph-csi/tree/master/examples#how-to-test-rbd-snapshot-feature. this need to be moved to a new file

[2020-09-28 14:32] Madhu-1 commented on #1533
need to add a document for RBD cloning also it can be part of the same document

[2020-09-28 15:57] humblec commented on #1532
@facchettos true , volume should not be in use while snapshot is  taken, this has been mentioned as a prerequisties in kube. However there is no enforcement happening from the controller . Also refer https://github.com/kubernetes-csi/external-provisioner/issues/437

[2020-09-28 16:47] facchettos commented on #1532
Right, so the bigger point in the end is that ceph’s snapshots recommend
the volume not to be in use while taking the snapshot (
https://docs.ceph.com/en/latest/rbd/rbd-snapshot/ )

On Mon, 28 Sep 2020 at 17:57, Humble Devassy Chirammal <
notifications@github.com> wrote:

[2020-09-28 16:57] humblec commented on #1532
correct, also ceph as a storage provider offers crash consistent snapshots.

[2020-09-29 05:05] yati1998 commented on #1533
@Madhu-1 is there any document already written for rbd clonning, or I need write myself. Let me know if you have any resource for that.

[2020-09-29 05:09] Madhu-1 commented on #1533
@yati1998 nothing is there yet, you need to write new one

[2020-09-29 05:11] yati1998 commented on #1533
@Madhu-1 okay sure.

[2020-09-29 05:13] Madhu-1 commented on #1533
https://github.com/ceph/ceph-csi/blob/master/docs/cephfs-snap-clone.md rename this to snapshot-clone.md and add both cephfs and rbd inside this doc. it should be the same as expand, static pvc etc (refer doc folder)

[2020-09-29 05:15] yati1998 commented on #1533
okay sure.

[2020-09-29 05:55] humblec commented on #1521
@yati1998 are you working on this ?

[2020-09-29 05:59] humblec commented on #1472
@agarwal-mudit assigning this to you as you are working on this.

[2020-09-29 06:00] yati1998 commented on #1521
@humblec no I am not working on this now.

[2020-09-29 06:05] humblec opened #1537 "Enable Per PV unique key encryption when using "secret" based encryption for RBD"
# Describe the feature you'd like to have #

While using secret based encryption at present, the PVCs are encrypted with a single passphrase which is in nodestage/provisioner secret. All the PVCs created on top of this sc will be encrypted with the same key/passphrase. The request here is to enable the encryption on this method with different keys.

I could think of few solutions as below, but I d

[2020-09-29 06:12] Madhu-1 commented on #1537
isn't it almost same as https://github.com/ceph/ceph-csi/issues/826

[2020-09-29 06:16] humblec commented on #1470
Considering the discussions so far on this:

*)  While we create a new image ( image from temp snapshot of source image) at time of snapshot we will **reencrypt it with different key.**
*) while we clone PVC to a new PVC the same process of **reenryption with a different key** can be performed.

One question I have here is, if we have a new key encrypted data on snapshotted or cloned volume , will

[2020-09-29 08:43] humblec commented on #1227
@Yuggupta27 can you please revisit this issue ? and take care pending items if any?

[2020-09-29 08:45] humblec commented on #1222
@nixpanic as an overall thought, may be we could close this?

[2020-09-29 08:46] humblec commented on #1236
@chandr20 @IsaackRasmussen is this still an issue at your end?

[2020-09-29 08:48] humblec commented on #1242
Closing this one for now as these are already addressed.

[2020-09-29 08:48] #1242 closed

[2020-09-29 08:50] humblec commented on #757
@ShyamsundarR closing this for now, as the mount options are respected in the rpc calls.

[2020-09-29 08:52] humblec commented on #778
@huaizong this shouldnt be an issue any more with latest versions. Closing this for now. Please feel free to reopen if required.

[2020-09-29 08:52] #778 closed

[2020-09-29 08:54] humblec commented on #803
@shayrybak @vgauzzi considering 1.2.1 and 1.2.2 is really old and many bug fixes in CSI and also in ceph csi code, this shouldnt be an issue any more. I am closing this issue for now, please feel free to reopen this if you face issues with latest version of ceph csi driver . We are at 3.1.1

[2020-09-29 08:54] #803 closed

[2020-09-29 08:55] humblec commented on #836
@shayrybak @vgauzzi considering 1.2.1 and 1.2.2 is really old and many bug fixes in CSI and also in ceph csi code, this shouldnt be an issue any more. I am closing this issue for now, please feel free to reopen this if you face issues with latest version of ceph csi driver . We are at 3.1.1

[2020-09-29 08:55] #836 closed

[2020-09-29 08:56] humblec commented on #1076
@yati1998 is it something you are interested to work on ?

[2020-09-29 09:08] yati1998 commented on #1076
@humblec sure I will take a look into this.

[2020-09-29 09:09] humblec commented on #1079
@mattirantakomi with the latest version of Ceph CSI driver we expose the SUBVOLUME name in the volume attribute. I believe thats good enough and if someone want to get the exact path then can issue it from the backend. We really dont want to expose all the backend details to the consumer world. I have also updated #5471.. lets continue the discussion over there and accordingly we can sort it out.

[2020-09-29 09:09] #1079 closed

[2020-09-29 09:11] humblec commented on #1096
@Yuggupta27 interested to work on this ?

[2020-09-29 09:12] humblec commented on #1120
@jisnardo here is the feature request to consume CSI liveness sidecar https://github.com/ceph/ceph-csi/issues/1096 .. we are not using it atm.

[2020-09-29 09:12] IsaackRasmussen commented on #1236
No, mine was caused by wrong network configuration. I unfortunately misunderstood the network setup and had only given my clients access to the monitor network, which wasn't enough.

[2020-09-29 09:16] humblec commented on #1173
@yati interested to work on this ?

[2020-09-29 09:20] pkalever commented on #1096
@humblec, I think @Yuggupta27 is busy with CI/e2e stuff, I'm happy to take over.

@Yuggupta27 feel free to jump in :-)

Thanks!

[2020-09-29 09:21] humblec commented on #1236
Cool.. Good to know it was a configuration issue. I am closing this issue for now. :+1:

[2020-09-29 09:21] #1236 closed

[2020-09-29 09:30] humblec commented on #1340
So far we got

[code]

Planning to close the 3.2.0 items this week, so please chime in if you want to target any extra features for the release.

[2020-09-29 09:59] taozix opened #1539 "ceph-cluster report client version is jewel when using rbd-csi."
# Describe the bug #
ceph-cluster will report client version is jewel when using rbd-csi.
A clear and concise description of what the bug is.

# Environment details #

- Image/version of Ceph CSI driver :
  ceph-csi-2.1.0
- Kernel version :
  4.15.18-041518-generic
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :
   krbd
- Kubernetes cluster

[2020-09-29 10:00] Madhu-1 commented on #1539
duplicate of https://github.com/ceph/ceph-csi/issues/1462, updating the kernel version should fix it

[2020-09-29 10:06] taozix commented on #1539
thanks.

[2020-09-29 10:06] #1539 closed

[2020-09-29 10:37] humblec opened #1540 "Record POOL information in Volume snapshot/content object,"
# Describe the bug #

While restoring a PVC from snapshot , this information come handy. Also in future we will have restore between pools ..etc supported/qualified.

This is a request to record `pool` for other consumers and may not help CSI driver with the present scenario as we can derive the pool information from volume handle. However if the volume handle is taking another format this could b

[2020-09-29 10:38] humblec opened #1541 "Support Restore or snapshot and clone operation between different Pools"
# Describe the feature you'd like to have #

Ceph allows to take snapshots in different pool and it also allow restore and clone operation in different pool. CSI driver could make use of this and allow the operations from our end too.

This issue track it.

[2020-09-29 10:39] Madhu-1 commented on #1541
isn't it a duplicate of https://github.com/ceph/ceph-csi/issues/560?

[2020-09-29 11:07] Madhu-1 commented on #1540
[code]
This cannot be done as there is no context to set in CreateSnapshotResponse
https://github.com/container-storage-interface/spec/blob/master/spec.md

We have to make the pool as a parameter in snapshotclass

cc @dillaman @ShyamsundarR

[2020-09-29 11:50] humblec commented on #1540
Marking/recording the `pool` information in the `SnapshotClass` may not be the correct choice here. Because/by design the snapshotclass got a totally different lifecycle than the snapshot/content object. I have opened an upstream issue to get something similar to the PV volumeattribute in snapshotcontent object here https://github.com/kubernetes-csi/external-snapshotter/issues/379 and I believe th

[2020-09-29 12:48] #1532 closed

[2020-09-29 13:18] vasyl-purchel commented on #1470
I don't think it should cause any issues as pointer to the key in kms is stored along with the image, so snapshot/clone image will have a pointer to another key, once deleted - you delete a pointer, no one cares of the key itself but would be good to remove it also from kms just to not leave it behind.

although I don't know how "moving" is done as currently key is stored in kms by volume id I bel

[2020-09-29 18:08] pkalever opened #1543 "rbd node service: flattern image when it has references to parent"
# Describe the bug #

Currently, as part of node service, we add rbd flatten task for new PVC creates. Ideally, we should add a flatten task only for snapshots/cloned PVCs as required.

[code]

# Environment details #

[code]

# Steps to reproduce #
[code]

# Actual results #
Flatten task is added for new PVC

# Expected behavior #
No Flattern task

[2020-09-30 07:03] humblec commented on #476
@ShyamsundarR considering subvolume namespaced mounts brings more security and better persmission handling, I believe we no longer require this. Closing this for now. Please feel free to reopen if required.

[2020-09-30 07:03] #476 closed

[2020-09-30 07:04] humblec commented on #483
This is already fixed .. Closing it for the same reason.

[2020-09-30 07:04] #483 closed

[2020-09-30 07:06] humblec commented on #484
This is no longer valid in different aspects. closing this .

[2020-09-30 07:06] #484 closed

[2020-09-30 07:11] jisnardo commented on #1120
Thanks @Madhu-1 @humblec

[2020-09-30 07:23] humblec commented on #559
We have topology aware support with current code, however we have to revisit/improve it and move to `beta` support.  @ShyamsundarR can give more details on this.

[2020-09-30 07:26] humblec commented on #1541
yeah, let me close this.

[2020-09-30 07:26] #1541 closed

[2020-09-30 08:22] humblec commented on #593
@kfox1111 apologies and couldnt help much on this.  however the backward compabitility since current versions are respected. so we should be good from now on :).. Closing this issue for now.

[2020-09-30 08:22] #593 closed

[2020-09-30 08:45] jisnardo commented on #699
Upgraded to https://github.com/ceph/ceph-csi/releases/tag/v3.1.1

[2020-09-30 08:45] #699 closed

[2020-09-30 08:50] humblec commented on #699
Thanks @jisnardo !! :+1:

[2020-09-30 08:54] yati1998 commented on #1076
@humblec or @Madhu-1 can you please give me some more details on the other options available when deploying the helm charts? Or if there are any reference for this that can help me in the documentation.

[2020-09-30 09:29] Madhu-1 commented on #1076
the configuration we need to documents are https://github.com/ceph/ceph-csi/blob/master/charts/ceph-csi-cephfs/values.yaml and https://github.com/ceph/ceph-csi/blob/master/charts/ceph-csi-rbd/values.yaml https://github.com/rook/rook/blob/master/Documentation/helm-operator.md is an example you can follow

[2020-09-30 10:02] yati1998 commented on #1076
@Madhu-1 thanks for the insights.

[2020-09-30 10:17] humblec commented on #912
considering we have the design directory which explain the features to an extent, we can keep on improving it .. Closing this for now.

[2020-09-30 10:17] #912 closed

[2020-10-01 06:52] humblec commented on #287
@hongkailiu we have addressed the documentation in various PRs and also have a support matrix..etc now. I believe this is addressed and if you see any missing documentation please open a new issue. I am closing this for now.

[2020-10-01 06:52] #287 closed

[2020-10-01 06:52] humblec commented on #250
@yati1998 is this something you would like to explore ?

[2020-10-01 07:01] humblec commented on #140
@Madhu-1 iic, with the improvements in latest versions , may be we are out of this issue. Definitely go ceph could improve.. but I think this kind of lockups were improved on our way to 3.1.1. I am closing this issue for now and please feel free to reopen if you think this is still an issue.

[2020-10-01 07:01] #140 closed

[2020-10-01 07:04] humblec commented on #553
@idryomov we have addressed RBD execution part to a great extent by the GO Ceph bindings. It has also gone through the some good amount of scale testing. CephFS improvements are on going as well and tracked under other PRs and issues. I am closing this issue for now and we could reopen it if we think there is something left which is handled in other PRs or issues.

[2020-10-01 07:04] #553 closed

[2020-10-01 07:07] Madhu-1 commented on #140
@humblec as its related to mounting how go-ceph can improve it? or am I missing something else?

[2020-10-01 07:10] Madhu-1 commented on #553
note:- rbd map and rbd unmap is done mount, umount with CLI, not with go-ceph

we may still face the issue and leave stale rbd maps or mounts if something timeouts

[2020-10-01 07:26] humblec commented on #140
@Madhu-1 as in isolation steps, the suspecion here is that, the load on the server could have caused the behaviour too. In short, with go ceph and other connection improvements, we are reducing the load which eventually help on subsequent operations coming in.

Are you able to reproduce this issue ? or want to analyse this further ? if yes, we can keep this open. Also last update here in this issu

[2020-10-01 07:37] humblec commented on #301
@dillaman now we have the mounter configuration in SC and also have the device mapping using the device type. I am closing this issue for now. Please feel free to reopen/open an issue if some other improvements required. :+1:

[2020-10-01 07:37] #301 closed

[2020-10-01 07:38] Yuggupta27 commented on #1437
Closing this issue as #1464 is merged.

[2020-10-01 07:38] #1437 closed

[2020-10-01 07:39] humblec commented on #305
OK.. so most of the vulnarabilities are addressed now and it an ongoing process. Atm, it report 1 vulnariability which would be addressed with the base images we use and its common for different dockerfiles in the ceph org. There is no point in keeping an issue opened here for long. Closing it for now.

[2020-10-01 07:39] #305 closed

[2020-10-01 07:41] humblec commented on #337
@1337andre we have improved the error return to great extent with the latest releases and this is actually addressed. That said, the error returned from the core is also sent back to the user now. I am closing this issue for now and please feel free to reopn thi issue if needed.

[2020-10-01 07:41] #337 closed

[2020-10-01 07:45] humblec commented on #1229
@Yuggupta27 can you revisit this?

[2020-10-01 07:49] humblec commented on #1521
@pkalever @agarwal-mudit @Yuggupta27 any volunteers?

[2020-10-01 08:08] humblec commented on #1133
Considering this has been already addressed and looks like we dont need any other adjsutements in CSI code. I am closing this for now and please feel free to reopen if required. Thanks @ShyamsundarR

[2020-10-01 08:08] #1133 closed

[2020-10-01 08:44] yati1998 commented on #250
@humblec sure I will take a look in this.

[2020-10-01 09:14] nixpanic opened #1547 "rebase go-ceph to v0.6 to include CephFS Admin API"
go-ceph gets support for managing CephFS volumes with release v0.6. The release of the new version is planned for 13 October.

Once the rebase is available, #1545 can proceed with its consumption.

[2020-10-02 07:48] nixpanic commented on #1519
This means, can you `kube exec ...` into the rbd-provisioner pod (csi-rbdplugin container) and execute `rbd` or `ceph` commands?

The logs of the `csi-rbdplugin` container above, do not show any `CreateVolume` requests, which is odd. Also, `context deadline exceeded` is not in any of the logs, only in the events of the PVC. Can you try again, and collect the logs at the same time the problem is ha

[2020-10-02 09:27] nixpanic opened #1549 "cephfs: replace getFsName() with a go-ceph implementation"
Once #1545 is merged, implement `getFsName()` with go-ceph language bindings too.

[2020-10-02 09:27] nixpanic opened #1550 "cephfs: replace getFscID() with a go-ceph implementation"
Once #1545 is merged, implement `getFscID()` with go-ceph language bindings too.

[2020-10-02 09:31] nixpanic opened #1551 "cephfs: replace getSubVolumeInfo() with a go-ceph implementation"
Once #1545 is merged, implement getSubVolumeInfo() with go-ceph language bindings too.

[2020-10-02 09:33] nixpanic opened #1552 "cephfs: replace getSnapshotInfo() with a go-ceph implementation"
Once #1545 is merged, implement getSnapshotInfo() with go-ceph language bindings too.

[2020-10-02 09:34] nixpanic opened #1553 "cephfs: replace getCloneInfo() with a go-ceph implementation"
Once #1545 is merged, implement getCloneInfo() with go-ceph language bindings too.

[2020-10-02 09:41] nixpanic opened #1554 "cephfs: replace getMetadataPool() with a go-ceph implementation"
Once #1545 is merged, implement getMetadataPool() with go-ceph language bindings too.

[2020-10-02 12:27] 0x4139 commented on #1340
anything i can help with?

[2020-10-02 16:02] togoschi opened #1555 "RBD striping image feature support"
# Describe the feature you'd like to have #

CSI RBD currently supports only the `layering` image feature. I think it will be a good idea to support the `striping v2` image feature too. If possible the parameter `imageFeatures` becomes another value e.g `striping`

[code]

# What is the value to the end user? (why is it a priority?) #

I think I/O performance on RBD PV's could be possibly better w

[2020-10-02 16:03] Madhu-1 commented on #1555
Cc @dillaman

[2020-10-02 16:54] humblec commented on #1555
One of the model we could think of here is, passing through any values, but not sure will it land on issues later or when mutually exclusive feature combination comes in the list.

[2020-10-02 17:28] togoschi commented on #1555
Not sure if this will work. As fas as i know you will need to use the sum of the internal numeric values for the features enabled when creating an RBD image.

`# rbd create <image-name> -s <size in bytes> --image-format=2 --image-features=3`

As a result layering AND striping feature are enabled. If you use `--image-features=striping` my conclusion aftre reading the rbd man page is that layering i

[2020-10-02 18:43] tuxassault opened #1556 "RBD VolumeSnapshotClass not found"
**Kubernetes Version: 1.18.2
Ceph CSI Version: 3.1.0**

I deployed the Ceph CSI provisioner to my Kubernetes cluster using the instructions for Helm 3.0 at https://github.com/ceph/ceph-csi/blob/master/charts/ceph-csi-rbd/README.md

After doing so, and configuring the details in the configmap, I was able to successfully create RBD persistent volumes and claims. I have also configured my kube-apiser

[2020-10-02 19:56] Yuggupta27 commented on #1556
Hi @tuxassault , did you deploy the snapshot-controller ?

[2020-10-03 22:50] dillaman commented on #1555
`striping` is an implicitly enabled feature where a stripe unit < object size and stripe count > 1 is specified when creating the image. Therefore, I don't think it should ever be something allowed / permitted on the `imageFeatures` PVC parameters. In fact, recent versions of `librbd` will just ignore it if you attempt to pass it.

[2020-10-03 22:51] dillaman commented on #1555
You can pass the feature names as comma-delimited values:

`# rbd create <image-name> -s <size in bytes> --image-format=2 --image-features=layering,striping`

[2020-10-04 16:17] #1040 closed

[2020-10-04 16:17] #740 closed

[2020-10-05 15:09] Yuggupta27 commented on #1556
Thanks for the feedback! Please feel free to reach out if you face any further issues :)

[2020-10-05 15:17] #1556 closed

[2020-10-07 07:28] humblec commented on #1469
Gone through the design of this once again and tried POC code which is working from the LUKS side, However I see some blockers to proceed further here with the complete solution.  That said, retrivel of the passphrase from the KMS becomes the bottleneck while expanding on node.

The nodeExpandRequest does not carry any 'secrets' with it [1] ( there is a request , but yet to get some consensus on t

[2020-10-07 07:40] Madhu-1 commented on #1469
@humblec what all the information you need for expanding the encrypted volume?

[2020-10-07 09:33] vasyl-purchel commented on #1469
yes, in order to resize encrypted volume you need a passphrase and for that to be able to retrieve it - you need secrets... for vault as a kms - you don't need that as all configuration is in configmap (not secrets) and it uses service account to authenticate with vault 🤔

so the main problem is if your passphrase is stored in k8s secrets... storing it along the volume in metadata is not a good op

[2020-10-07 10:01] humblec commented on #1469
@vasyl-purchel  let me put some more info. We could make use of `GetKMS()`,  that pretty much read the required values for us, **but** currently GetKMS() need image attribute KMS ID as its arg,  which is missing in the NodeExpand. I was thinking that, if we could somehow get the KMSID we can use it (atleast) for Vault.

True.. Other option is placing kms ID in the metadata .

Indeed.

[2020-10-07 10:21] Madhu-1 commented on #1469
attaching kms configuration to a volumeID is not a good option.

we can enable resize of encrypted pvc if the vault is used as a KMS. we are already storing pieces of information related to the image on the staging path, we can add  `encryptionKMSID` to that. with this approach, we don't need a secret at all I believe.

[2020-10-07 12:59] dillaman commented on #1469
Why do you need the KMS to resize a volume? If I am reading the CSI spec correctly, since RBD is an online resizer, the LUKS device should already be opened (staged) by the time the `NodeExpandVolume` call arrives.

[2020-10-08 05:43] humblec commented on #1469
The device is opened and I could resize it with the POC code too. However I submitted `hardcoded` passphrase to this operation thinking that, the key is required for resize operation (https://github.com/ceph/ceph-csi/issues/1469#issuecomment-704815586) .
Also I see this for resize:
[code]
@dillman are you saying we dont need the key for resize operation is device is opened ? also regardless of LUK

[2020-10-08 11:15] humblec commented on #1555
@togoschi do you require any more information on this ? as @dillaman mentioned, we may not want to open it up  via Storage class parameter . If you still got some query, please revert, otherwise I would like to close this issue.

[2020-10-08 11:19] humblec opened #1562 "Enable SC based passphrase while KMS is in use"
# Describe the feature you'd like to have #

At present, we create or generate passphrase for each and every request of PVC when KMS is in use. However at times, it comes handy ( may be to satisfy multi tenancy use case) that having a single `passphrase` for a group of PVCs ( SC based) . This issue track this feature request.

[2020-10-08 11:20] humblec commented on #1562
@vasyl-purchel please share your thought :+1:

[2020-10-08 11:27] vasyl-purchel commented on #1562
It shouldn't be hard to implement I believe (just use pvc id instead of volume id I guess) but I'm not entirely sure what benefit would it give.
Re-using same passphrase for many volumes is not recommended since it opens it to brute force attack on the passphrase... (i.e. you can guess it if you have enough of data) and not sure why it would be needed instead of passphrase per volume...

[2020-10-08 11:58] humblec commented on #1562
Indeed implementation side we could achieve or I am confident. :+1:

I was trying to understand do we see  a use case for this requirement?  But from above, I interpret that, we dont see much value in that. I want to open this for further discussions or invite use cases from the community.
Will keep it open for others to chime in with their thoughts too .

@dillaman @ShyamsundarR @Madhu-1

[2020-10-08 12:07] humblec opened #1563 "Enable CephFS encryption for CephFS subvolumes"
# Describe the feature you'd like to have #

CephFS make use of `fscrypt` based encryption or it will be available soon.
Ref# https://lwn.net/Articles/829448/

We have to think about the possibilities of integration for the subvolumes we provision and manage  from CSI.

**CSI requirements can be summarized to below:**

[code]

I would like to capture the thoughts or would like to discuss on  `fscr

[2020-10-08 13:47] dillaman commented on #1469
Since the size of the block device is not stored on disk, `cryptsetup resize` just instructs `dm-crypt` to notice the new size. There shouldn't be a need for the keys for that operation to succeed.

[2020-10-08 13:59] dillaman commented on #1469
At least it seems to work on my laptop:

[code]

[2020-10-08 18:06] togoschi commented on #1555
I understand as much as it won't be possible to enable striping via storageClass parameters. But for me the question remains open how it could be possible to set stripe parameters over CSI layer to customize RBD images in such a way that pod I/O requests will be distributed across many OSD nodes.

[2020-10-08 18:12] dillaman commented on #1555
Just so we are clear, that happens automatically since RBD images have a default striping of 4MiB stripe units (i.e. each 4MiB extent will probabilistically land on a different OSD for large enough clusters). The "fancy" striping that you are referring to with the "striping" feature is for very limited use-cases of sequential IO + direct IO (since otherwise the OS page cache will merge sequential

[2020-10-09 03:43] humblec commented on #1469
@dillaman I will check it out at my end too. Thanks !
One other reason for having `credentials`  ( not kms passphrase) in the nodeExpansion call was that, to derive `rbdvol` struct and thus knowing whether we are operating on an `encrypted` PV or not. I will look around some ways to hack it till we have that support in NodeExpansion request.

[2020-10-09 04:43] humblec commented on #1469
@dillaman I continued to experiment on this and here is what I see ( To summarize I do see a difference in behaviour depend on the LUKS version in use ( https://github.com/ceph/ceph-csi/issues/1469#issuecomment-705343204)

[code]

The interesting bit here is that :

[code]
My cryptsetup version :`**` cryptsetup 2.2.2``**

Can you please share some more details about your setup wrt cryptsetup versi

[2020-10-09 05:16] Madhu-1 commented on #1469
we already store the encrypted status in node staging https://github.com/ceph/ceph-csi/blob/0b5da6a12796cdf10e467b220e24d703e08cbb7f/internal/rbd/rbd_util.go#L1014

[2020-10-09 05:20] humblec commented on #1469
I know that, as I said, I was figuring out we require any extra details..etc .

[2020-10-09 05:33] humblec opened #1564 "Make LUKS version 2 as the requirement or prereq for Ceph CSI RBD PV encryption."
# Describe the bug #

Depend on the cryptsetup version the default LUKs version may be different, we have to ensure we are operating on the LUKS version 2 which is the latest and also with feature support like online reencrypt..etc which is not available with LUKS version 1. This issue track defaulting and making LUKS v2 as the requirement for Ceph CSI.

Also refer # https://github.com/ceph/ceph-c

[2020-10-09 07:25] humblec commented on #1469
@dillaman  Tried again with a new LUKs 2 device with `cryptsetup (2.2.2)` and it ask for the password.

[code]
dm-crypt:

`name:           dm_crypt
vermagic:       5.3.7-301.fc31.x86_64 SMP mod_unload`

May be I can try to upgrade cryptsetup , however would like to cross check with the versions in your setup

[2020-10-09 08:11] humblec opened #1566 "Allow bigger size restore/clone for RBD Blockmode PVCs"
# Describe the bug #

CSI spec allows a user to create bigger volumes at restore/clone path. Ideally we should enable it in our driver too. This issue tracks the requirement for RBD Block mode PVCs.

[2020-10-09 10:43] togoschi commented on #1555
Yes, we are clear now. @dillaman thanks for the clarification.

[2020-10-09 10:47] humblec commented on #1555
Cool! Thanks @dillaman for your help here.

@togoschi I am closing this issue for now, please feel free to open a new one if required !! :+1:

[2020-10-09 10:47] #1555 closed

[2020-10-09 12:20] dillaman commented on #1469
@humblec My kernel is `5.7.11-200.fc32.x86_64`, my cryptsetup is `cryptsetup-2.3.4-1.fc32.x86_64`, and my device is LUKS1:

[code]

[2020-10-09 12:26] humblec commented on #1469
@dillaman thanks! may be this is LUKS v2 requirement ?

[2020-10-09 12:27] dillaman commented on #1469
You can also try to just store the passphrase in the kernel keyring while the device is mapped:

[code]

[2020-10-09 12:30] dillaman commented on #1469
Yes, since LUKSv2 stores a json-encoded bit of metadata that includes a `size` parameter (which it needs to verify is set to `dynamic`). I suspect it would need to decrypt that data to verify that your LUKSv2 is properly configured for dynamic resizing (but `dm-crypt` itself wouldn't care otherwise).

[2020-10-09 12:34] humblec commented on #1469
There we are :( .. back to the requirement of `passphrase` retrival for resize operation. Indeed as mentioned in previous comments in LUKS v2 it was asking for password. Also LUKS v2 looks to be the default now a days or atleast in RHEL ..etc, so we need to retrieve the passphrase for doing online expansion.

[2020-10-09 12:41] dillaman commented on #1469
Why? If LUKSv2 is being used, store the passphrase in the kernel keyring on map.

[2020-10-09 13:30] dillaman commented on #1469
Looks like `cryptsetup >= v2.0.3` has a bug with `cryptsetup resize` [1]

[1] https://gitlab.com/cryptsetup/cryptsetup/-/issues/601

[2020-10-09 13:40] humblec commented on #1469
I actually missed this update (https://github.com/ceph/ceph-csi/issues/1469#issuecomment-706151502) while composing my previous reply :)

I have to explore the kernel ring addition and retrival process. At the same time, I  find a way to get the required details to talk to the KMS and retrieve the password  with some additional details to rbdvol struct. So, may be I will go ahead with the latter o

[2020-10-09 13:42] dillaman commented on #1469
Please don't store KMS settings in the metadata :pray:

[2020-10-09 13:45] humblec commented on #1469
Sure, we dont need KMS settings embedded  in the metadata , rather just need one identifier or label which is `KMS ID` ( for ex: vault-test) which is the label to get the KMS settings later in the code path .. so we are good , however I have to experiment on this :)

[2020-10-09 13:54] dillaman commented on #1469
.... or you wait for the proper fix and apply pressure to RHEL to get the fix included in the next Z stream.

[2020-10-09 13:56] humblec commented on #1469
oh.. yeah.. thanks for finding the bug/regression in cryptsetup and reporting it @dillaman ! Also thanks for other discussions here :+1:

[2020-10-09 13:59] humblec commented on #1566
Cc @nixpanic , also please feel free to add the details of this requirement :+1:

[2020-10-09 14:40] humblec commented on #1566
@nixpanic jfyi, I had a quick try on solving this and it looks like I am able to get it working for PVC based Clone with Block Mode.

The parent volume size is `1GiB` and the request is for `2GiB`:
[code]

From backend:

[code]
I will push the PR after polishing a bit :+1:

[2020-10-09 15:47] vasyl-purchel commented on #1469
I think that what @dillaman proposes with storing it in kernel ring might be a much better option to explore since you won't need to instantiate KMS which means less chances of an error and will work no matter what KMS is in use... i.e. it will work exactly the same for single passphrase from k8s secretes for example...

[2020-10-11 23:33] #376 closed

[2020-10-11 23:33] #383 closed

[2020-10-11 23:33] #504 closed

[2020-10-12 00:33] #511 closed

[2020-10-12 00:33] #519 closed

[2020-10-12 00:33] #552 closed

[2020-10-12 00:33] #433 closed

[2020-10-12 00:33] #626 closed

[2020-10-12 01:33] #705 closed

[2020-10-12 01:33] #599 closed

[2020-10-12 01:33] #714 closed

[2020-10-12 01:33] #554 closed

[2020-10-12 01:33] #733 closed

[2020-10-12 02:33] #742 closed

[2020-10-12 02:33] #817 closed

[2020-10-12 02:33] #820 closed

[2020-10-12 02:33] #818 closed

[2020-10-12 02:33] #851 closed

[2020-10-12 03:33] #72 closed

[2020-10-12 03:33] #610 closed

[2020-10-12 03:33] #309 closed

[2020-10-12 05:33] #843 closed

[2020-10-12 05:33] #926 closed

[2020-10-12 05:33] #863 closed

[2020-10-12 05:33] #1203 closed

[2020-10-12 05:33] #451 closed

[2020-10-12 06:33] #307 closed

[2020-10-12 06:33] #953 closed

[2020-10-12 06:33] #952 closed

[2020-10-12 06:33] #841 closed

[2020-10-12 06:33] #826 closed

[2020-10-12 07:33] #642 closed

[2020-10-12 07:33] #355 closed

[2020-10-12 09:31] wilmardo commented on #143
#604 is still open and this issue hasn't been resolved just yet :'(

[2020-10-12 09:32] wilmardo commented on #612
#765 is still open, not stale

[2020-10-12 09:33] wilmardo commented on #611
Still not resolved sadly :'(

Might be worth marking this as an easy fix for the hacktoberfest? @Madhu-1

[2020-10-12 09:33] #449 closed

[2020-10-12 09:33] #477 closed

[2020-10-12 09:43] Madhu-1 commented on #611
I think its good to discuss how we can make use  of hacktoberfest to fix easy  fix issues

[2020-10-12 13:06] wilmardo commented on #611
@Madhu-1 Here is described how to opt-in to Hacktoberfest:
https://hacktoberfest.digitalocean.com/hacktoberfest-update

Then add the Hacktoberfest label to easy issues and issues that need contributing :)

[2020-10-12 13:33] #560 closed

[2020-10-12 13:33] #975 closed

[2020-10-12 13:33] #374 closed

[2020-10-12 13:33] #1001 closed

[2020-10-12 14:33] #1011 closed

[2020-10-12 14:33] #970 closed

[2020-10-12 14:33] #921 closed

[2020-10-12 14:33] #1030 closed

[2020-10-12 14:33] #1088 closed

[2020-10-12 15:33] #1095 closed

[2020-10-12 15:33] #1183 closed

[2020-10-12 15:33] #792 closed

[2020-10-13 04:21] yati1998 commented on #1173
@humblec probably this documentation will need the complete knowledge of insights of cephcsi. And currently I am not eligble to do this. If this is an urgent or priority task than it will be better if you assign this to someone else.

[2020-10-13 05:11] #1564 closed

[2020-10-13 08:28] HaojingLu97 commented on #783
If I turn on feature gate expandCSIvolume in v1.14 cluster, can I expand ?

[2020-10-13 08:30] Madhu-1 commented on #783
quay.io/k8scsi/csi-resizer:v0.1.0 should work with kube 1.14

[2020-10-13 16:09] #1547 closed

[2020-10-14 08:47] #1139 closed

[2020-10-14 14:26] strigazi opened #1583 "question cephfs: What is the recommneded way of detecting issue with a mount?"
If I have a mounted a cephfs volume and it stops being accessible for any reason (eg I use ceph-fuse and the mount fails), it would be nice if something triggered the plugin to redo the mount.

I tried to add a liveness probe in my app that just does an ls in the mountpoint but the restart of the container is not setting up he mount again.

Any recommendations?

[2020-10-14 14:41] strigazi commented on #1583
We have cases where the client is evicted from the cluster and csi_liveness still returns 1.

I think a good metric could be a check per mount on the node, and either return a value per mount or a boolean for the whole node as it is now. If any of the mounts is not responding, return 0. Then we could have optionally nodeProblemDetector to mark the node as NotReady.

[2020-10-14 14:45] strigazi commented on #1583
ATM the liveness check only of the plugin is up https://github.com/ceph/ceph-csi/blob/master/internal/liveness/liveness.go#L40

[2020-10-15 05:26] Madhu-1 opened #1586 "update all the static check tools to latest version"
I was going through the golangci-lint new release, looks like we have some static issues its good to run all static tools with latest versions

[code]

[2020-10-15 08:40] strigazi commented on #792
Just to clarify, this issue will not be fixed using the fuse client and we should change to the kernel one?

[2020-10-15 08:58] nixpanic opened #1588 "ci: minikube can not consume kubernetes v1.19.3 causing CI jobs to fail"
CI jobs that run with the latest Kubernetes 1.19 patch release (v1.19.3) fail. This seems to be an issue with minikube, as it can not deploy the Kubernetes cluster.

[code]

Temporary move to Kubernetes 1.19.2 so that CI jobs can function again. Once the minikube issue is resolved, we can enable auto-detection of the last Kubernetes 1.19 patch release again (and update minikube if needed).

See-al

[2020-10-15 12:33] #1550 closed

[2020-10-15 13:54] #1549 closed

[2020-10-16 07:33] mykaul commented on #667
We can't upgrade the RBD client either without killing the container as long as we are using kRBD, but I assume the concern is the reverse - about our inability to upgrade the ceph-csi container? I'm unsure - I believe we can upgrade it, but not change existing users to use it until they restart?

In any case, I believe we should unstale this and think about it some more.

[2020-10-16 12:42] konvergence opened #1591 "Allow to give the loglevel value --v arg"
Hi,

The chart actually fixe the arg "--v=5" which but all logs into trace level.
This generate a lot of logs.

Could you please templating the loglevel "--v={{ .Values.LogLevel }}" ?

It is ever done into the rook project: see rook/rook@88b5d5e

I pull request on https://github.com/ceph/csi-charts/pull/3
But it must be done here

Regards

[2020-10-16 13:19] dillaman commented on #667
Restarting the `ceph-csi` pod when using krbd won't result in IO failures of other pods using RBD PVs. We do have a solution to prevent IO failures if the `rbd-nbd` daemon is stopped/killed and the ability to re-attach a new `rbd-nbd` daemon to an orphaned `nbd` device. Next step is to persistently record (on `tmpfs`) live `rbd-nbd` mappings so a restart of the daemon can automatically recover.

T

[2020-10-17 08:16] Macrame opened #1592 "failed to acquire lease cephfs-csi-ceph-com"
# Describe the bug #

Fail to start csi-cephfsplugin-provisioner. csi-provisioner prints log
[code]
# Environment details #

- Image/version of Ceph CSI driver : canary
- Helm chart version :
- Kernel version : 4.18.0-147.8.1.el8_1.x86_64
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :
- Kubernetes cluster version : v1.19.3
- Ceph cluster ve

[2020-10-17 08:29] Macrame opened #1593 "Does not support ControllerCreateSnapshot"
# Describe the bug #

Fail to start csi-cephfsplugin-provisioner. csi-snapshotter prints log:
[code]

# Environment details #

- Image/version of Ceph CSI driver : v1.6.0(EDIT: this is not exactly. see the detail in below comment No. 3)
- Helm chart version :
- Kernel version : 4.18.0-147.8.1.el8_1.x86_64
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `

[2020-10-19 03:06] Macrame commented on #1593
I tried to use csi-snapshotter for version v2.1.1, v2.1.2 and v3.0.1 but none of them can support ControllerCreateSnapshot. @Madhu-1 Is there any plan to support it？

[2020-10-19 03:28] Madhu-1 commented on #1593
We don't have 1.6.0 cephcsi release, Cephcsi v3.1.0 supports cephfs snapshots, can you please check cephcsi version again

[2020-10-19 03:59] Macrame commented on #1593
My detail Ceph CSI version:
- csi-provisioner:v1.6.0
- csi-resizer:v0.5.0
- csi-snapshotter:v2.1.2
- csi-attacher:v2.2.0
- cephcsi:canary

Did you say the last one?

[2020-10-19 04:01] Madhu-1 commented on #1593
Can you please paste cephcsi logs and snapshotter container logs

[2020-10-19 04:08] Macrame commented on #1593
Here is the log of `csi-cephfsplugin`
[code]

The log of `csi-snapshotter`:
[code]

[2020-10-19 04:10] Madhu-1 commented on #1593
Thanks for the logs, I will go through it and check the cephcsi canary images are upto date, can you use cephcsi v3.1.0 and see that helps

[2020-10-19 04:18] Madhu-1 commented on #1593
[code]

This is the latest version details on the canary image, can you please check you have the latest image on the nodes

[2020-10-19 04:19] Macrame commented on #1593
Thank you! The v3.1.0 can work well. But the PVC is Pending for long time. Which log should I check?

[2020-10-19 04:21] Madhu-1 commented on #1593
you need to check csi-provisioner,cephcsi containers log

[2020-10-19 04:32] Macrame commented on #1593
Now, it is the other issue #1592.
My canary image is an old one. I should specify the clear version instead of using this tag to avoid such an issue. Thank you very much. Could you please help me for #1592?

[2020-10-19 04:33] Madhu-1 commented on #1593
let me close this one, Thank you

[2020-10-19 04:33] #1593 closed

[2020-10-19 04:35] Macrame commented on #1592
The PVC get Pending for ever. There is the description:
[code]

[2020-10-19 04:35] Madhu-1 commented on #1592
cehpcsi provisioner works with leader election (3 pods will be running), to check leader please run `kubectl get leases -n <namespace>` ,once you find the leader (in your case its `csi-cephfsplugin-provisioner-7b9c4677c-x9v7p`  pod is the leader) please check csi-cephfsplugin  and csi-provisioner or csi-snapshotter logs of leader pod

[2020-10-19 04:36] Madhu-1 commented on #1592
`ceph.com/cephfs` is not the proper provisioner cephfs provisioner name is `cephfs.csi.ceph.com` , are you sure you are using the correct storageclass?

[2020-10-19 04:53] Macrame commented on #1592
Sorry, I used the old [cephfs provisioner](https://github.com/kubernetes-retired/external-storage/tree/master/ceph/cephfs/deploy/rbac) in the last year. I am aware that repository became archived so I changed to use this [official one](https://github.com/ceph/ceph-csi/tree/master/deploy/cephfs/kubernetes) but forgot to modify the provisioner name.
My fault. You are so kind and professional!

[2020-10-19 04:53] #1592 closed

[2020-10-19 07:07] Macrame opened #1598 "CephFS CSI provisioner volume failed with exit status 13"
# Describe the bug #

I created a PVC and it was always Pending.

# Environment details #

- Image/version of Ceph CSI driver : canary
- Helm chart version :
- Kernel version : 4.18.0-147.8.1.el8_1.x86_64
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :
- Kubernetes cluster version : v1.19.3
- Ceph cluster version : 15.2.4

# Logs #

- csi-ce

[2020-10-19 07:09] Macrame commented on #1598
@Madhu-1 Excuse me, would you like to tell me what is the exact meaning of `code = InvalidArgument desc = an error (exit status 13)`?

[2020-10-19 07:16] Madhu-1 commented on #1598
@Macrame have you executed from the cephfs-plugin  container of provisioner pods?

[2020-10-19 07:25] Macrame commented on #1598
[code]
It looks like the permission issue like #996

[2020-10-19 07:32] Macrame commented on #1598
Is there any docs to explain how to solve this issue? I read the documentation of Ceph which dosen't mention using CephFS on Kubernetes except [RBD](https://docs.ceph.com/en/latest/rbd/rbd-kubernetes/#block-devices-and-kubernetes)

[2020-10-19 07:33] Madhu-1 commented on #1598
please check you have required caps https://github.com/ceph/ceph-csi/blob/master/docs/capabilities.md#cephfs and also make sure you pass the correct key.

[2020-10-19 07:41] Macrame commented on #1598
Thanks. That is what I am looking for. I'll close this if I succeeded to create my PVC.

[2020-10-19 07:49] Macrame commented on #1598
By the way, if I want to use both RBD and CephFS, do I have to create two clients for the separated purpose? It shows `Error EINVAL: key for client.kubernetes exists but cap mgr does not match` when I use `ceph auth get-or-create client.kubernetes` again after I used to create one for RBD.

[2020-10-19 08:02] #1598 closed

[2020-10-19 22:59] dm3ch commented on #899
Upgrade to 3.1.0 helped. Haven't reproduced such problems after upgrade.

[2020-10-20 05:21] Yuggupta27 opened #1608 "subvolume count greater than number of pvcs"
# Describe the bug #

On creation of multiple clones of a PVC in parallel (37 clones to be exact), the subvolume count came to be 39

# Environment details #

- Image/version of Ceph CSI driver : canary
- Helm chart version :
- Kernel version :
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :
- Kubernetes cluster version :
- Ceph cluster vers

[2020-10-20 06:34] Madhu-1 commented on #1608
@Yuggupta27 looks like you have attached csi-cephfsplugin pod log, please attach the csi-cephfsplugin container logs of the provisioner pod.

[2020-10-20 07:32] Madhu-1 commented on #1583
@strigazi currently ceph-fuse is having known issue when the plugin restarts we are investigating on the issue on how to solve the fuse client issue when plugin pod restarts. the liveness was not meant to solve this issue.

[2020-10-20 07:55] strigazi commented on #1583
@Madhu-1 Is this the known issue? https://github.com/ceph/ceph-csi/issues/792

Is there an open PR or issue about it?

[2020-10-20 08:52] tux-o-matic commented on #1340
What's the effort for taking volume resizing from being flagged as Beta to GA?

[2020-10-20 09:07] Madhu-1 commented on #1340
@tux-o-matic resizing is still not supported for filesystem pvc created from clone and snapshot (the work is still in progress in upstream Kubernetes-csi)

[2020-10-20 09:26] humblec commented on #1340
@tux-o-matic mostly we will be able to take it to GA with 1.20. As soon as upstream take it to GA, we will also move to GA. hope it helps.

[2020-10-20 09:27] humblec commented on #1340
@0x4139  Thanks for asking! Sure, lets triage and get back to you. May be we will tag the issues with `help wanted` or similar , so that we can easily fetch the items.

[2020-10-20 10:40] Yuggupta27 commented on #1608
On a second attempt to reproduce the issue...
1. Created 34 PVCs parallelly
[code]
[code]
2.  The  subvolume count this time:
[code]
[code]

Logs:

1. [csi-provisioner](https://termbin.com/6ru0)

1. [csi-cephfsplugin](https://termbin.com/nmpy)

[2020-10-20 13:59] #1591 closed

[2020-10-20 15:04] ShyamsundarR commented on #1608
The clone from volume is retried (as the first call takes time to complete), and the call to ensure intermediate snapshot is deleted is failing with EINVAL (22) rather than the expected string failure, causing CreateVolume (which has actually succeeded, to never return a success.

So in this case, the clone is found correctly using the OMap journals, but attempts to ensure the intermediate snapsho

[2020-10-20 15:06] ShyamsundarR commented on #1608
One interesting fact is we do not see a PVC that is in pending state for [this](https://github.com/ceph/ceph-csi/issues/1608#issuecomment-712919745) create, as that would never have completed. Unsure why though.

[2020-10-20 15:30] Yuggupta27 commented on #1608
Also, I will try to reproduce the issue for `ceph-master` again and verify if the issue persists.

[2020-10-20 15:38] #1554 closed

[2020-10-21 07:33] Yuggupta27 commented on #1608
Tested another scenario where this issue is arising,
1. Created a PVC of size 5 GB with 3 GB data in it.
2. On creation of clone, it stays Pending which on description gives
[code]
It might be again as the `snapshot info` command is called even though it is not supported in Ceph v14.2.8

cc @ShyamsundarR @Madhu-1

[2020-10-21 07:38] Madhu-1 commented on #1608
@Yuggupta27 Thanks for looking into it. this looks to be the issue. please send a patch to fix it. if  snapshotinfo command is not present to try to unprotect the snapshot and make some decisions based on the error message.

[2020-10-21 07:39] #1583 closed

[2020-10-21 07:40] Yuggupta27 commented on #1608
Sure @Madhu-1 :+1:

[2020-10-21 07:43] Madhu-1 commented on #1608
@Yuggupta27 looking at code the above issue exists but looks like it wont leak the omap data. please check and try  to reproduce it again to see where else the omap data is getting leaked

[2020-10-21 08:18] nixpanic commented on #1221
We're still interested in these kind of tests!

[2020-10-21 11:37] humblec commented on #1500
Solution: The vault token auth can use token based auth in a
    setup. If we want to use vault token based authentication in
    a setup, the ceph-csi-encryption-kms-config should have below
    values set:

    `
           "vaultTokenAuth": "true",
           "vaultTokenFromSecret": "vault-token",
    `

    Here the first param `vaultTokenAuth` say whether token based
    auth is enabled or no

[2020-10-21 14:31] Madhu-1 opened #1619 "log the commands we execute for better debugging"
As we are moving towards integrating with go-ceph API's.   it's good to log the commands which are equivalent to the RBD/ ceph/RADOS CLI which will help us in debugging the issues.

[2020-10-21 14:46] phlogistonjohn commented on #1619
I don't know if there is a particularly *easy* way to do this for the "built in" APIs such as the RBD calls. There's some logging built in to the ceph code that you can turn on by loading a ceph config file or using the set-option function calls in rados lib.
Otherwise you might just want to resort to adding custom logging calls around the rados/rbd api invocations.

For the cephfs admin API I pur

[2020-10-21 14:46] nixpanic commented on #1050
@humblec can the release-4.2 branch be deleted now?

[2020-10-21 14:54] Madhu-1 commented on #1619
@phlogistonjohn Thanks for the input, yes you are right even am not sure is there an easy way to log the command with "build-in" API's (i was thinking about enabling logging at CSI level not at the ceph level as we (I) cannot analyze it easily :D). even I was thinking the same to introduce a custom logging in cephcsi to keep track of the commands we execute which helps in debugging.

@dillaman @Sh

[2020-10-21 16:33] msfrucht commented on #1340
Will 3.2 recognize v1 snapshot objects for 1.20? If so, will it still include recognition of v1beta1 for some limited time?

[2020-10-22 04:05] #696 closed

[2020-10-22 11:36] andersosthus opened #1620 "ceph-csi shows errors regarding umount of volumes"
# Describe the bug #
In our ceph-csi logs, we see errors that looks like this:
`2020-10-22 12:40:26 | E1022 10:40:26.173335       1 utils.go:163] ID: 2262 Req-ID: 0001-0009-rook-ceph-0000000000000001-1ff293cc-1397-11eb-9662-0a580ac80704 GRPC error: rpc error: code = Internal desc = an error (exit status 32) occurred while running umount args: [/var/lib/kubelet/pods/9fd8d5d0-13bf-11eb-975b-0a362473

[2020-10-22 11:40] Madhu-1 commented on #1620
@andersosthus is this cluster is in a healthy state?  also the above logs are having only error logs it will be difficult to analyze the issue. can you please increase the log level from `0` to `5` [rook}(https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L35)  and provide the logs again?

[2020-10-22 11:41] Madhu-1 commented on #1620
and also can you run the `umount` command manually and see what error you are getting?

[2020-10-22 11:44] andersosthus commented on #1620
The cluster is healthy now, but we do get spikes of "MDS_SLOW_REQUESTS" that causes everything to grind to an halt.
I did an `umount` in my second example above, and it unmounted successfully without any errors. In the first example, the volume wasn't mounted at all.

I'll increase the log level and get you some better logs.

[2020-10-22 17:43] ilhaan commented on #899
I'm on 3.1.1 and seeing the same "an operation with the given Volume ID already exists" error.

[code]

[code]

[2020-10-23 02:20] LalitMaganti commented on #578
Not stale

[2020-10-23 02:41] yanchicago commented on #578
Still a blocking issue in the fields.

[2020-10-23 10:58] #1551 closed

[2020-10-23 15:32] nixpanic opened #1628 "Build Ceph-CSI images in CentOS CI OpenShift for job speedup"
# Describe the feature you'd like to have #

The CentOS CI is running inside OpenShift and can be used to build (and cache) container images. The ceph-csi:test image is heavily used during CI jobs, and does not change often (the `scripts/Dockerfile.test` file). Jobs that build and run the ceph-csi:test container image, can pull the existing image from the OpenShift envionment (if the PR does not c

[2020-10-26 08:50] nixpanic commented on #1628
Minor hickup in the idea, the firewall in the CI environment does not allow bare-metal systems access to the default OpenShift registry: https://lists.centos.org/pipermail/ci-users/2020-October/002141.html

[2020-10-27 04:08] Madhu-1 commented on #1543
@pkalever i tried to reproduce it on ceph octopus but am not able to do it

[code]

[code]

this is with a cephcsi canary image. let me know still you are able to reproduce it. I would like to check a few things.

[2020-10-27 04:58] yati1998 commented on #250
@humblec it will be difficult for me to work on this as of now. If it is a priority issue, it will be better to assign it to someone who have experience on this. Sorry for mentioning this so late.

[2020-10-27 04:59] Madhu-1 opened #1634 "shellcheck failure in CI"
[code]

Failed for https://github.com/ceph/ceph-csi/pull/1631 https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/containerized-tests/286/console

[2020-10-27 08:06] nixpanic opened #1636 "Deploying Rook sometimes fails in the CI"
Sometimes deploying Rook fails, but no errors are available. The output looks like this:

[code]

and also
[code]

More logging when deploying Rook is needed before this problem can be addressed.

[2020-10-27 14:05] #1588 closed

[2020-10-27 17:04] #1634 closed

[2020-10-28 08:44] jisnardo opened #1642 "Feature request: grafana dashboard for metrics visualization"
# Describe the feature you'd like to have #

What new functionality do you want?

# What is the value to the end user? (why is it a priority?) #

How would the end user gain value from having this feature?

# How will we know we have a good solution? (acceptance criteria) #

Add a list of criteria that should be met for this feature to be useful.

# Additional context #

Add any other context or s

[2020-10-28 08:47] Madhu-1 commented on #1642
more metrics will be provided with https://github.com/ceph/ceph-csi/pull/1086

[2020-10-29 05:28] Madhu-1 opened #1645 "Use external library for KMS integration"
currently, we are using the  HTTP package for the KMS integration. https://github.com/libopenstorage/secrets is an opensource library to support different KMS plugins. I think it's a good idea to use a library to reuse the existing library instead of developing our own package.

cc @leseb

[2020-10-29 05:28] Madhu-1 commented on #1645
@humblec @nixpanic any thoughts?

[2020-10-29 08:11] leseb commented on #1645
FYI Rook already uses it in its KMS integration here: https://github.com/rook/rook/pull/6474.
The lib is well maintained and they easily accept contributions too.

[2020-10-29 08:22] nixpanic commented on #1628
Report and research by the admins of the OpenShift environment can be found at https://pagure.io/centos-infra/issue/141

[2020-10-29 08:41] nixpanic commented on #1645
Yes, I'm much in favour of this!

[2020-10-29 13:23] Madhu-1 commented on #1628
@nixpanic are we planning to go with a workaround by deploying our own registry?

[2020-10-29 15:51] nixpanic commented on #1628
Yes, will try that to see if there is any improvement in the speed of the CI jobs

[2020-10-30 08:29] Madhu-1 opened #1646 "Cephfs: Proper Error message is not propagated during DeleteVolume when subvolume has snapshots"
[code]

## Steps to reproduce

* Install ceph cluster which doesn't have the `snapshot-retention`  feature (install rook+ceph from master branch)
* Create cephfs PVC
* Create snapshot
* Delete PVC

## Expected Result:

A clear error message needs to be returned to the User (cephcsi should return error code as per the CSI spec as per above log its returning internal error)

[2020-10-30 08:35] Madhu-1 opened #1647 "Cephfs: Failed to Delete snapshot when backend subvolume and snapshot is deleted"
## Describe the bug

Failed to delete voluesnapshot when backend subvolume (pvc) and ceph fs subvolume snapshot is deleted

## steps to reproduce it
* Install ceph cluster which doesn't have the snapshot-retention feature (install rook+ceph from master branch)
* Create PVC
* Create snapshot
* Delete PVC ---> Here PVC deletion fails (as its having snapshots)
* Now go and delete the snapshot and sub

[2020-10-30 08:48] Madhu-1 opened #1648 "Add support to pass client certificates for KMS"
# Describe the feature you'd like to have #

What new functionality do you want?

Currently, we don't have any option to pass the client certificates when we are authenticating with the vault server. We need to provide an option for the admin to pass the client certificates which cephcsi can use for authentication.

# What is the value to the end user? (why is it a priority?) #

More secured way o

[2020-10-30 08:53] Madhu-1 opened #1649 "Provide an option to set `InsecureSkipVerify` in KMS"
# Describe the feature you'd like to have

What new functionality do you want?

Currently, the value  `InsecureSkipVerify` always set to True, this disables the client-side certification validation.  and we need to provide an option to the user to set to `false` so that cephcsi will validate the server certificates also.

# What is the value to the end user? (why is it a priority?)

More security

[2020-10-30 08:54] Madhu-1 commented on #1649
cc @vasyl-purchel @leseb

[2020-10-30 08:54] Madhu-1 commented on #1648
cc @vasyl-purchel @leseb

[2020-10-30 08:56] Madhu-1 commented on #1649
This already exists at https://github.com/ceph/ceph-csi/blob/master/internal/util/vault.go#L61 closing it

[2020-10-30 08:56] #1649 closed

[2020-10-30 09:56] leseb commented on #1648
Client certificate and Client private key 👍

[2020-10-30 10:19] Yuggupta27 commented on #1646
Thanks for the issue @Madhu-1 , I reproduced it locally, the following are my observations on the same:

- PVC gets deleted seamlessly.
- But in the background, the PV does not get deleted (as it contains snapshot)
[code]
-  and the error message doesn't seem to be clear at all.

Logs:
[csi-cephfsplugin](https://termbin.com/77tpj)
[csi-provisioner](https://termbin.com/dxge)

[2020-10-30 13:00] Madhu-1 commented on #1646
@Yuggupta27 Thanks for reproducing it, can you please check https://github.com/ceph/ceph-csi/blob/eefaf09adec77a003296a2abfdae84a0a805444c/internal/cephfs/volume.go#L234-L236 why this is not working?

For me, it looks like this error is returned as `stderr` not as `err`

[2020-10-30 13:20] Yuggupta27 commented on #1646
Sure, I'll look into it

[2020-10-30 15:31] chris-sanders commented on #1475
Any progress/updates on this bug? I'm currently carrying a patch locally to make this work and would like to be able to follow upstream.

[2020-10-30 15:36] Madhu-1 commented on #1475
@chris-sanders I will fix it and will make it to next release

[2020-10-30 16:02] baznikin commented on #1337
@Madhu-1 sorry, I found workaround for my issue and live with it. My intention was to notify maintainer (who know his software better than me) about found lack of permissions. If you follow my steppes and it didn't reproduce with 3.0.0 then it fixed already and can be closed.

[2020-10-30 19:04] ttulong opened #1650 "rook ceph hang on reboot, fails to mount CephFS volume"
# Describe the bug #

A clear and concise description of what the bug is.
System hang on reboot when it is  consuming the PVC created by rook-ceph
# Environment details #

- Image/version of Ceph CSI driver : 3.1.0
- Helm chart version : n/a
- Kernel version : Sles 12.3 (4.4) Redhat 7.8 (3.10)
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :

[2020-11-02 05:27] Yuggupta27 commented on #1646
@Madhu-1 I found the issue, will send a fix shortly

[2020-11-02 05:30] Madhu-1 commented on #1646
@Yuggupta27 great. please check are there any other issues exists in the same area for functions in volume.go

[2020-11-02 08:24] nixpanic commented on #1650
Hi,

The error that is logged by the kernel:
[code]
translates to `errno 101`: **ENETUNREACH: Network is unreachable**

So, this suggests that there are network restrictions in place, the node that is mounting the CephFS volume does not seem to be able to connect to the Ceph cluster.

In the **additional context**, you do list mounted CephFS volumes, so at least that particular system can reach th

[2020-11-02 12:28] andrewsali commented on #1447
Regarding the snapshot limit addressed in v14.2.12 - is there any
information if it will be backported to octopus v15.2.6? With the global
400 limit, snapshot usability is unfortunately significantly impacted in
CSI.

On Fri, Sep 4, 2020 at 8:08 PM Patrick Donnelly <notifications@github.com>
wrote:

[2020-11-02 16:18] ttulong commented on #1650
Hi Nixpaic,
Actually those are on the same system. The error 101 occurred when we restarting the system by using "reboot" or "shutdown -r" command without drain the node from K8s. This issue have been described [here ](https://rook.io/docs/rook/v1.4/ceph-common-issues.html#node-hangs-after-reboot) and should be fixed with rook-ceph 1.3.1+ but it still existed  in our case. We are using rook-ceph 1

[2020-11-03 13:28] nixpanic commented on #1650
In that case, you may want to open an issue with [Rook](https://github.com/rook/rook/issues)?

[2020-11-03 14:37] ttulong commented on #1650
I can, but this is not the issue with Rook. It either the kernel/csi driver didnt unmount the drive before network go down when user execute the reboot command.

[2020-11-04 08:34] nixpanic commented on #1650
Well, the volumes you listed have the `_netdev` option, so they should get unmounted by the system before a reboot. However, there can be issues with the ordering of services that prevents the unmounting from happening. If parts of the network are shut down (like routes to the Ceph cluster), unmounting a CephFS volume will not be possible as flushing the data to the Ceph cluster can not be done wi

[2020-11-04 10:10] nixpanic commented on #1628
The `make containerized-build` commands in `mini-e2e.groovy`, `mini-e2e-helm.groovy` and `upgrade-tests.groovy` still build the `:devel` container for each run. These jobs need to be adapted to pull the image ad is done in #1656.

[2020-11-04 14:59] ttulong commented on #1650
hi Nixpanic,
Here is addtional logs. I see "Reached target Unmount All Filesystems", does that mean all  files system unmounted?
After the "Shutting down",  all message came from libceph repeatedly. Let me know if you need more logs.
Also for _netdev, i saw it on "mount|grep ceph" but cannot find the under "cat /proc/mounts". I am not sure if that make any different.

`Oct 29 22:29:49 nodename01 k

[2020-11-04 18:24] vasyl-purchel commented on #1648
hm... isn't CA enough in the secrets that is already available to have a TLS to KMS? or maybe I'm not getting the issue right...

[2020-11-05 08:58] leseb commented on #1648
This is for the TLS listener, see the following options:

[code]

From https://www.vaultproject.io/docs/configuration/listener/tcp.html#tls_disable_client_certs

[2020-11-05 08:59] nixpanic commented on #1650
The logs suggest that something happened before systemd logged its messages about shutting down. If Kubernetes gets stopped and kills pods that contribute to the networking before the pods that have CephFS volumes mounted, this problem can happen too.

You should probably have a look at the kubelet logs and verify the order in which the pods are stopped. I think daemonsets get stopped as last, but

[2020-11-05 09:27] nixpanic commented on #1359
Yes, #1644 is getting hit a lot with this. I have seen it occasionally on others too, although not that many times in a single PR.

[2020-11-05 15:18] ttulong commented on #1650
We dont have any daemonset running in our cluster, we have some deployment and statefulsets, not sure if that could cause the issue. I also notice the "libceph error 101" only show up after the systemd "Starting Reboot and Starting shutdown".  I will dig around to see if i can find the kubelet logs and report back. Thank you again.

[2020-11-05 18:49] phlogistonjohn opened #1670 "Can not run make containerized-test as rootless podman"
# Describe the bug #

The way the container command is invoked from the cli fails with rootless podman (2.1.1).
This appears to be caused by the "CPUSET" variable in the Makefile. I do not believe regular users can make use of this option.

# Environment details #

- Fedora 32 development environment

# Steps to reproduce #

Steps to reproduce the behavior:

1. checkout ceph-ci master branch
1. ma

[2020-11-09 07:51] #1258 closed

[2020-11-09 07:51] #694 closed

[2020-11-09 07:51] #1253 closed

[2020-11-09 07:51] #1240 closed

[2020-11-09 11:07] Yuggupta27 commented on #1608
This issue is now fixed by the following PRs: https://github.com/ceph/ceph-csi/pull/1674 , https://github.com/ceph/ceph-csi/pull/1671 and https://github.com/ceph/ceph-csi/pull/1660 .  As the testing indicates that this issue doesn't exist anymore, closing this for now.

[2020-11-09 11:07] #1608 closed

[2020-11-10 02:10] insanemal opened #1676 "CephFS showing 10x space consumption"
# Describe the bug #

We have started using CephFS CSI plugin on our K3s cluster. We recently installed Kasten (k10) backup. It looks like it is using snapshots as part of the backup process. We ran out of space on this cluster (it's small only 1TB made of 50GB OSD's) So I triggered the removal of all 900GB of snapshots.  Unfortunately it didn't quite work right.

As you can see below I have 47GB

[2020-11-10 02:10] insanemal commented on #1676
[code]

[2020-11-10 05:26] Yuggupta27 commented on #1676
Thanks @insanemal for connecting with us. We recently faced a [bug]( https://github.com/ceph/ceph-csi/issues/1608 ) where this could have happened. This is now fixed from our side recently. Can you please rebase to the latest changes or use our [last stable release](https://github.com/ceph/ceph-csi/releases).
Please let us know if your issue still persists.

[2020-11-10 05:55] insanemal commented on #1676
@Yuggupta27 Thanks for that, I will get right on to updating.

Will the update actually allow me to release the storage? Or will it require manual intervention?

[2020-11-10 06:04] Yuggupta27 commented on #1676
Afaik the cleanup has to be manual for now. After the update, you should not see the 10x consumption in the backend.

[2020-11-10 23:55] insanemal commented on #1676
I guess the issue for me is I have objects in K8s that I can't delete and even more objects on the backend that I don't quite know how to free? Is there a guide on something I can follow to clean this mess up?

I have deployed latest stable (I didn't actually want canary to be deployed, long story).

[2020-11-11 05:21] Yuggupta27 commented on #1676
To check resources in the backend, you need to run the following on the toolbox pod:

1. To verify the number of subvolumes present in the back-end (Expected count is the same as that of no. of PVCs)
[code]

2. To verify if stale snapshots are present
- Fetch the name of the subvolume from the parent PV

[code]

- Verify the number of snapshots

[code]

[2020-11-11 05:26] insanemal commented on #1676
Ok, but in terms of cleaning up? I mean I can get a list with these instructions for removing them. I think the k8s view of the world is different to the csi view as well.

[2020-11-11 05:29] Yuggupta27 commented on #1676
For cleaning up, You can do something similar to
[code]
This will cleanup the subvolumes in the backend.. just make sure the subvolumes getting deleted are stale

[2020-11-12 16:04] ttulong commented on #1650
Hi @nixpanic
Here is the kubelet logs. I am not really sure what to look. please advise
`Oct 29 22:29:21 nodename01 systemd[1]: var-lib-kubelet-plugins-kubernetes.io-csi-pv-pvc\x2d3f933360\x2d34e4\x2d43bf\x2dbcd6\x2d5bd1d566f4b9-globalmount.mount: Unit entered failed state.
Oct 29 22:29:21 nodename01 systemd[1]: Unmounted /var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-3f933360-34e4-43bf-bcd6-5b

[2020-11-13 04:42] insanemal commented on #1676
Ok so i think something weird is a foot.

When trying to list out the snapshots some subvols come back with:
`Error EAGAIN: subvolume 'csi-vol-468a8900-208d-11eb-9f05-ca15dfd3b3f0' is not ready for use`

Others throw this error:
`Error EINVAL: Traceback (most recent call last):
  File "/usr/share/ceph/mgr/volumes/fs/operations/versions/__init__.py", line 65, in get_subvolume_object
    version = i

[2020-11-13 05:08] insanemal commented on #1676
Also I think things are really out of sync:

[code]

So at the moment it looks like I've got Kubes thinking there are snapshots that don't exist on the backend.
And looking at the subvols I have, 147, vs the PV's I have:
[code]
Ahh yeah... this is not so good.

[2020-11-13 17:33] ttulong commented on #1650
I also notice, in this log below, some of them have the **_netdev**  (some does not) in the mount opts and they are the same volume. I am not sure if i missed anything? Thanks in advance

[code]

[2020-11-16 03:30] #1292 closed

[2020-11-17 01:29] vdi-kakui opened #1677 "I want to expand the storage capacity of the PVC that I have set up"
I want to expand the storage capacity in the PVC that I set up, so after deploying the storage / pvc that I set to expand,
Updated pvc resources with kubectl patch command and kubectl apply command!

However, when I check the pvc with describe, I get the following error.
What are the missing requirements to grow a volume?

[code]

[2020-11-17 13:28] tskdsb opened #1691 "got error when go get"
# Describe the bug #

I want to import `github.com/ceph/ceph-csi` as dependency, but got an error:
[code]

[2020-11-17 13:41] nixpanic commented on #1691
Ceph-CSI is not intended to be consumable by other projects, the API is not stable in any way or form.

Can you explain the reason why you want to import ceph-csi?

[2020-11-17 13:53] tskdsb commented on #1691
I want to use the struct:
https://github.com/ceph/ceph-csi/blob/22b631e991c5309e117f1b99f49d1163aa5c8744/internal/util/csiconfig.go#L37

to `json.Unmarshal` the value of key `config.json`) in the configMap:
https://github.com/ceph/ceph-csi/blob/master/examples/csi-config-map-sample.yaml

[2020-11-17 15:00] nixpanic commented on #1691
We could consider moving the struct to a non-internal package, so that other projects can import it. That is a cleaner solution than importing the internal packages from ceph-csi. It makes clear what parts are consumable by others, and Ceph-CSI developers can then take care not to break things unintentionally.

[2020-11-17 16:17] nixpanic opened #1693 "Enable pre-pulling of container images for CI jobs"
# Describe the feature you'd like to have #

Docker Hub introduced image pull rate limits for anonymous and free accounts. The e2e and other tests that run in the CI sometimes hit the limit and fail to pull images. This ultimately causes the CI jobs to fail.

There should be a list of images that come from Docker Hub, and have these images mirrored in the container registry that our CI jobs use.

[2020-11-18 01:49] lixiaopengxiya opened #1695 "The PVC size is not consistent with the mount size shown by DF in the service (cephfs type)"
**Version introduction**
Rook v1.4.6
kubernetes/kubeadm v1.17
docker 19.03.4
Linux Centos 7.5 3.10.0-862.el7.x86_64

**Question screenshot：**
[code]
**But in my other environments, PVC and service DF are shown to be consistent**
[code]
**Everything seems normal, and there is no error in the log(Please let me know if you need a log)
Thank you very much for your help**

[2020-11-18 02:54] tskdsb commented on #1691
event just init a go-module in the directory which other projects can import

[2020-11-18 02:56] tskdsb commented on #1691
/close

[2020-11-18 03:32] #1691 closed

[2020-11-18 03:34] Madhu-1 commented on #1695
@lixiaopengxiya Have you tried with kernel version >4.17, for cephfs 4.17 kernel is the minimum requirement for quotas to work properly.

[2020-11-18 03:35] Madhu-1 commented on #1695
CC @kotreshhr could this be a kernel version issue?

[2020-11-18 06:48] lixiaopengxiya commented on #1695
It should not be a problem with lower kernel versions
Although the kernel versions of the two clusters are different, they are similar

The cluster kernel version in question
[code]

There are no problematic versions of the cluster kernel
[code]
I will use "3.10.0-957.el7.x86"_ The 64 "cluster is redeployed. Find out if it's a kernel problem

[2020-11-18 08:10] Madhu-1 opened #1699 "Do golang profiling to find out any memory leak in cephcsi"
Golang supports [profiling](https://blog.golang.org/pprof) , we can also make use of profiling and check are we leaking any memory and if required we can also do some optimization to improve the performance.

[2020-11-18 10:04] lixiaopengxiya commented on #1695
I use 3.10.0-862.el7.x86_ When the 64 version tried to deploy again, cephfs quota failed. At present, it is caused by the lower kernel version

[2020-11-18 14:00] discostur opened #1705 "Rados Namespace: "failed to create rbd image: rbd: ret=-1, Operation not permitted""
Hi,

i'm trying to use the new rados namespace feature for RBD images which was introduced in ceph-csi 3.1 release. I already configured a new ceph-csi configmap with the `radosNamespace` like in the documentation. I also created a new ceph pool with a new user.

As far as i understood from the ceph documentation i cannot create a namespace within a pool - it's just kind of a prefix and gets creat

[2020-11-18 14:13] discostur commented on #1705
If i manually look in the pool / namespace i can see that csi has already created one object:

[code]

[2020-11-18 14:28] discostur commented on #1705
Just tried with admin credentials - still no luck.

Ceph-CSI is installed via helm chart:

[code]

Image Versions:
[code]

[2020-11-18 16:37] ttulong commented on #1650
hi @nixpanic
Look like the _netdev doesnt apply to host when

1. using symlink on kubelet directory. example: /var/lib/kubelet --> /var/lib/docker/kubelet (using default Kubelet host path, /var/lib/docker in on its own partition)
```10.43.175.61:6789,10.43.93.185:6789,10.43.242.11:6789:/volumes/csi/csi-vol-8aca0742-f3a6-11ea-9dcc-0a580a2a0bae/d6c21de5-5213-46bb-8153-423fe7e33f5e on /var/lib/docker

[2020-11-19 06:20] Madhu-1 opened #1706 "ceph-csi release v3.1.2"
This issue is a tracker for the v3.1.2 bugfix release which includes below bug fixes

# Bug Fixes

## CephFS
 * Fix wrong error check in CreateVolume rollback action #1607
 * Fix issues in cephfs clone #1671
 * Check only the stderror message for umount #1690
## RBD
 *  Add minsnapshotsonimage flag to have a soft limit for flattening to create clones faster on a single rbd image. #1698
## Journal

[2020-11-19 09:48] lixiaopengxiya opened #1710 "Cephfs file storage stops reading and writing when multiple application services are mounted"
Environmental inventory
[code]

Screenshot of cluster：
[code]
When I use two application services to mount the same disk at the same time, data write failure occurs
[code]

Similarly, the cephfs quota is correct, but it follows the writing of my file. The growth of DF does not appear
[code]
Cephfs  storageclass  information
[code]

CEPH cluster status
[code]
However, the status of CEPH cluster sho

[2020-11-19 09:57] Madhu-1 commented on #1710
@ShyamsundarR @kotreshhr can you please take a look at it?

[2020-11-19 13:59] discostur commented on #1705
Ceph Version:
[code]

[2020-11-19 14:05] discostur commented on #1705
@n-marton do you have any idea? looks like you got it running in https://github.com/ceph/ceph-csi/issues/1397

[2020-11-19 16:29] nixpanic commented on #1648
#1694 rewrites the communication with Vault to use the [libopenstorage/secrets API](https://github.com/libopenstorage/secrets/). Hopefully this makes it easier to add support for the client certificate and key.

[2020-11-20 06:01] lixiaopengxiya commented on #1710
I tested rook v1.3 and v1.5, and they all had the same problem. When two services mount the same disk and read and write the same file at the same time, the service data writing will enter the static state. However, this does not happen if the two services are not writing to the same file. This is not where the write lock is set. Only a single thread can write. When multithreading writes, it will

[2020-11-20 06:18] kotreshhr commented on #1710
@batrick @jtlayton Could you please help here ?

[2020-11-20 15:54] discostur commented on #1705
I investigated a few more hours today ... seems like there is a client side cacheing in ceph-csi? because i just figured out that every time i change ceph authx capabilities via

[code]

i have to restart the ceph-csi pods. Otherwise it looks like it doesn't work. Knowing that, i just did a new test with cluster admin rights:

[code]

I also tested the user credentials manually via
[code]

and tha

[2020-11-20 16:05] discostur commented on #1705
may this be relate to https://github.com/ceph/ceph-csi/pull/1501 ? Thought is is just for the deletion - not for creation ...

[2020-11-20 16:08] Madhu-1 commented on #1705
@discostur I will take a look at it soon

[2020-11-20 16:23] discostur commented on #1705
@Madhu-1 just saw one more thin which might help you - when i try to create a rbd with cluster admin rights, i can see that the `rbd_info` file is been created in the wrong `default` namespace:

[code]

`csi.volumes.default` is in the correct `services` namespace.

[2020-11-20 16:28] MrOffline77 commented on #1705
Hi, I'm are also interested in a solution for this.

[2020-11-22 08:13] #1261 closed

[2020-11-23 08:44] Madhu-1 commented on #1705
[code]

If you are seeing `failed to create rbd image: RBD image not found` error means the namespace doesn't exist in ceph, to validate it run the below command in your ceph cluster

[code]
If the output is empty, the admin Need to create the namespace,cephcsi will not create the rbd namespace

[code]

Once I create the rbd namespace my PVC went to Bound state.

[code]

[code]

[2020-11-23 10:49] discostur commented on #1705
@Madhu-1 thanks for the hint with the manual creation of the namespace. I can confirm that if i manually create the namespace i am able to create a PVC. Maybe you should write this to the documentation - it was not clear for me. Sorry for that ;)

But one more question: the ceph user still needs rights to access the default namespace. Is this correct? I thought this feature is for multi tenancy so

[2020-11-23 10:55] Madhu-1 commented on #1705
cephcsi won't create rbd_info, let me check  that one, we still need to write a document and add E2E testing for the user caps

[2020-11-24 06:16] Madhu-1 commented on #1706
the release is done and more details at https://github.com/ceph/ceph-csi/releases/tag/v3.1.2

[2020-11-24 06:16] #1706 closed

[2020-11-25 09:42] nixpanic commented on #1699
This should probably be a configurable option, either by setting a commandline parameter or environment variable.

heketi/heketi#1396 does something of the sort too.

[2020-11-25 11:27] JadeQin opened #1722 "cephcsi create too many process    "
# Describe the bug #

A clear and concise description of what the bug is.

# Environment details #

- Image/version of Ceph CSI driver : 2.1.1
- Kernel version : 5.7.2
- Kubernetes cluster version : 1.18.3
- Ceph cluster version : 14.2.9

I found that my node has too high load about 2000+, there are 2200+ sub process  about cephcsi.
![image](https://user-images.githubusercontent.com/1001227/100221

[2020-11-25 13:30] discostur commented on #1705
@Madhu-1 while you are trying to figure out where the `rbd_info` file is comeing from ... can you confirm that RHEL7 has no support for mounting rbd images in specific namespaces?

I just tried to mount it via krbd but
[code]

looks like the RHEL7.9 kernel (krbd) does still not support rbd namespaces. rbd-nbd seems neither to be an option, because the needed `nbd` kernel module is missing in RHEL

[2020-11-26 07:48] Madhu-1 commented on #1722
@JadeQin do you have any steps to reproduce it?

[2020-11-26 07:49] Madhu-1 commented on #1722
can you please also check is it happening with the latest cephcsi releases?

[2020-11-26 07:52] huchengze opened #1725 "Is there a plan to add rbd csimigration controller in kubernetes?"
# Describe the feature you'd like to have #

Add rbd csimigration controller in kubernetes.

# What is the value to the end user? (why is it a priority?) #

If CSI Migration is working properly, Kubernetes end users shouldn’t notice a difference. After migration, Kubernetes users may continue to rely on all the functionality of in-tree storage plugins using the existing interface.

# How will we k

[2020-11-26 08:30] cumirror opened #1726 "PVC clone failed with csi-rbd-sc when target PVC's capacity larger than source"
# Describe the bug #

PVC clone failed with csi-rbd-sc when target PVC's capacity larger than source.

# Environment details #

- Image/version of Ceph CSI driver :
image: k8s.gcr.io/sig-storage/csi-provisioner:v1.6.0
image: k8s.gcr.io/sig-storage/csi-snapshotter:v2.1.0
image: k8s.gcr.io/sig-storage/csi-attacher:v2.2.0
image: k8s.gcr.io/sig-storage/csi-resizer:v0.5.0
image: quay.io/cephcsi/cephcsi

[2020-11-26 08:32] Madhu-1 commented on #1726
This is not supported, the clone and target PVC should have the same size.

[2020-11-26 08:50] Madhu-1 commented on #1726
currently, it's not supported but in the future it will be supported.

[2020-11-26 08:56] cumirror commented on #1726
ok, thanks @Madhu-1

[2020-11-26 08:57] Madhu-1 commented on #1726
closing this one as we already have an issue opened to support this feature

[2020-11-26 08:57] #1726 closed

[2020-11-26 11:01] JadeQin commented on #1722
I do not know how it can reproduce

[2020-11-26 11:32] Madhu-1 opened #1728 "Rbd images left in the trash"
During the RBD volume deletion, we are doing 3 operation
1. Find image present in the pool
2. Move the image to the trash
3. Add a task to remove the image from the trash

In case if the 3rd step fails cephcsi will return an internal server error and the external-provisioner will retry again, now cephcsi will get a request, it will try to find the image in the pool now as the image is not present

[2020-11-26 13:18] discostur commented on #1705
Meanwhile i tested both, `krbd` and `rbd-nbd` with RHEL8 / CentOS8 and it does both work (out of the box).

[2020-11-29 04:04] #1645 closed

[2020-11-29 12:34] LuckySB opened #1732 "CephFS CSI Resize feature not working (again ;("
# Describe the bug #

Change storage size in pvc from 5G to 7G, pv and pvc object in kubernetes changed

[code]

but quota on cephfs directory not changed
[code]

# Environment details #

- Image/version of Ceph CSI driver :
    image: quay.io/cephcsi/cephcsi:v3.1.2
- Helm chart version :
ceph-csi-cephfs-3.1.2   v3.1.2
- Kernel version :
Centos 7, 4.20.13-1.el7.elrepo.x86_64
- Mounter used for mou

[2020-11-30 03:54] Madhu-1 opened #1734 "cephfs: go-ceph API doesnt return the CLI error like Error ENOENT"
ceph fs CLI used to return the errors listed in https://github.com/ceph/ceph-csi/blob/master/internal/cephfs/errors.go#L25-L35.
incase if the subvolume is not present its returning
[code]

 more logs at https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e-helm_k8s-1.19/runs/221/nodes/104/steps/107/log/?start=0 we need to check is really go-ceph is retu

[2020-11-30 03:56] Madhu-1 commented on #1734
cc @nixpanic

[2020-11-30 03:59] Madhu-1 commented on #1734
current code in  master is working because this check https://github.com/ceph/ceph-csi/blob/28793efc9026c0addec96c8d7944d9065ad3a0fe/internal/cephfs/volume.go#L100-L102 is wrong we should not check for `!` not here.

[2020-11-30 04:09] Madhu-1 commented on #1732
we will check for `subvolume info` command it's not present we will fallback for `ceph fs subvolume getpath` from the logs cephcsi is calling the create command with 7Gib it's expected that cephfs should resize the volume with a new size and as cephfs doesn't require any filesystem resize in node plugin we don't need to worry about it. Have you waited for enough time or tried recreating the applic

[2020-11-30 04:12] Madhu-1 commented on #1732
sorry I overlooked the issue, can you see restarting the cephcsi provisioner pod and try to resize the pvc, even if it won't work can you please check `ceph fs subvolume resize` command exists in your ceph cluster

[2020-11-30 09:07] LuckySB commented on #1732
Thank you for efficiency

[2020-11-30 09:27] Madhu-1 commented on #1734
different ceph version returns different error messages more info on https://github.com/ceph/ceph-csi/commit/1e5370a1f3aecec5339d44ffea2c9778310d49f0

[2020-11-30 10:40] Madhu-1 commented on #1677
i didn't see any  error in the provided logs, and as the BUG is not filed with more details am closing it now, if you face an issue again please feel free to reopen with issue tempate

[2020-11-30 10:40] #1677 closed

[2020-11-30 10:41] Madhu-1 commented on #1676
This issue is fixed now and available in release v3.1.2

[2020-11-30 10:41] #1676 closed

[2020-11-30 10:52] nixpanic commented on #1475
@WolfspiritM @chris-sanders care to review and/or test  #1736?

[2020-12-01 09:46] #1734 closed

[2020-12-01 13:31] #1732 closed

[2020-12-02 07:16] #1475 closed

[2020-12-02 21:48] #1533 closed

[2020-12-03 10:06] gabrilabs75 commented on #1483
Hi all,
any news about this request of improvment?

Regards,
Gabriele

[2020-12-04 01:40] insanemal opened #1761 "CephFS CSI used with Kasten has issues with EAGAIN"
# Describe the bug #

Using Kasten to do backups of workloads, some backups will get stuck in the copy-out part of the job.
During this period the application is mounting pvc's into a special copy-out pod. These mounts fail with Error 11 EAGAIN

FailedMount | MountVolume.MountDevice failed for volume "pvc-a51877a6-b630-4ee5-bc58-4bf9b11420e1" : rpc error: code = Internal desc = an error (exit stat

[2020-12-04 11:56] Madhu-1 commented on #1761
@insanemal can you run `ceph fs subvolume getpath kubes_ldr_cephfs csi-vol-37028e72-35ca-11eb-bb87-ca8c85f94050 --group_name csi` in your ceph cluster and see the subvolume exists

[2020-12-04 12:03] Madhu-1 commented on #1483
@yati1998 @Yuggupta27  can I assign this to you?

[2020-12-04 12:08] Yuggupta27 commented on #1483
Sure Madhu :)

[2020-12-04 12:36] Madhu-1 commented on #1705
@pkalever can I assign this to you, we need to update our E2E to test with the namespaced user.  https://github.com/ceph/ceph-csi/blob/master/e2e/rbd.go#L1077-L1169 , currently we are using user who is having access to all pools.

[2020-12-04 12:38] Madhu-1 commented on #1553
This is fixed now closing

[2020-12-04 12:38] #1553 closed

[2020-12-04 12:38] Madhu-1 commented on #1552
This is fixed now closing

[2020-12-04 12:38] #1552 closed

[2020-12-04 12:40] Madhu-1 commented on #1540
As we are planning to support the creation of a snapshot in a different pool, we need to take the pool parameter from the snapshot class.

[2020-12-04 12:46] Madhu-1 opened #1764 "Cephfs: use enum to check resize is supported or not"
currently, we are  using bool pointer to find out the ceph cluster supports resize or not we need to replace it with enum values more information is provided by @phlogistonjohn at https://github.com/ceph/ceph-csi/pull/1735#issuecomment-738083768

[2020-12-04 12:50] Madhu-1 commented on #1359
This should be fixed in https://github.com/ceph/ceph-csi/pull/1671, please reopen if we see the issue again.

[2020-12-04 12:50] #1359 closed

[2020-12-04 12:56] Madhu-1 commented on #1471
reassigning as @agarwal-mudit has https://github.com/ceph/ceph-csi/pull/1653

[2020-12-04 12:56] Madhu-1 commented on #1473
this should be fixed in https://github.com/ceph/ceph-csi/pull/1653 reassigning to @agarwal-mudit  as he is working on his one.

[2020-12-04 12:59] Madhu-1 commented on #1435
closing as duplicate

[2020-12-04 12:59] #1435 closed

[2020-12-04 13:04] Madhu-1 commented on #1337
closing this as not reproducible

[2020-12-04 13:04] #1337 closed

[2020-12-04 13:38] Madhu-1 commented on #1699
Assigning this to you @nixpanic as you have more idea and you already implemented the same for heketi

[2020-12-04 17:32] ba-work opened #1765 "Storage Class should be included with the helm charts"
# Describe the feature you'd like to have #

What new functionality do you want?
- I would like to have to the ability to deploy a Storage Class when using the helm chart.
- This means the helm chart should handle creating the csi-<rbd/cephfs>-secret as well.

# What is the value to the end user? (why is it a priority?) #

How would the end user gain value from having this feature?
- The user woul

[2020-12-05 00:25] insanemal commented on #1761
Yeah I did try that it returns the same error EAGAIN saying the specified subvol is not ready.

From a different node if I mount up the cephFS filesystem I can browse to the volume subfolder and locate this particular one, however it's empty.

So I can only assume something has gone wrong at some point

[2020-12-05 00:26] insanemal commented on #1761
But current theory is that the previous out of space event, that was triggered by the bug from my previous ticket has left the filesystem in a inconsistent state.

[2020-12-06 16:23] Berndinox commented on #1067
@chris-sanders
i do run into the same issue, do use microk8s 1.19.3
where do i have to set those vars?

i just can find the Var here: https://github.com/rook/rook/tree/c953de538bef894f8cba1dc3dad132d2ab66c99e/cluster/examples/kubernetes/ceph/csi/template/cephfs

However, i followed the docs to setup a ceph cluster and cephFS:
https://rook.io/docs/rook/v1.5/ceph-filesystem.html

Problem still here.

[2020-12-07 07:33] Madhu-1 commented on #1353
As the wishlist is having a good number of items and most of them are not covered. am update the issue title to reflect the next release.

[2020-12-07 07:37] Madhu-1 commented on #1765
@ba-work Thanks for creating the issue. This looks to be the duplicate of https://github.com/ceph/ceph-csi/issues/1483. closing it for the same reason, please feel free to reopen if its not.

[2020-12-07 07:37] #1765 closed

[2020-12-07 14:27] chris-sanders commented on #1067
@Berndinox the valies I've been using were removed and the chart updated to allow you to set the kubelet directory here: https://github.com/ceph/ceph-csi/pull/1736

I haven't had a chance to test the update, but hopefully that exposes the values you need in the chart. Otherwise, there was no chart value you allow you to set them. I was using ytt to patch the final yaml manifests to make the change

[2020-12-07 16:55] clwluvw commented on #1705
It seems there is a need to use kernel +4.19 for this feature!
http://lists.ceph.com/pipermail/ceph-users-ceph.com/2019-May/034878.html

[2020-12-08 06:49] Madhu-1 commented on #1761
I don't see an issue from the cephcsi side, if the subvolume is not ready in the backend cephcsi cannot do anything.

[2020-12-08 06:51] Madhu-1 commented on #1725
Currently, we don't have any plan to support migration.

@rootfs @gman0 any suggestion here?

[2020-12-08 06:54] Madhu-1 commented on #1722
Currently, cephcsi uses ceph CLI to perform all ceph fs operations, this will be replaced with go-ceph in the next releases.

[2020-12-08 06:56] Madhu-1 commented on #1722
@JadeQin few question below

* How many pvc are there in your cluster
*  How many applications are using the pvc on the node.
* Is it happening on all the nodes

[2020-12-08 07:11] insanemal commented on #1761
So the issue is, the previous version of cephCSI had a bug with snapshots. That has been fixed I believe.
I hit that bug at the same time as running out of space.

So now I have a bunch of stuck subvolumes. They can't be deleted because they have snapshots. The snapshots can't be deleted because they have pending clones. The clones aren't happening because of the previous bugs/ran out of space iss

[2020-12-08 07:19] Madhu-1 commented on #1761
Yes the bug is fixed now

You have an option in ceph to cancel ongoing clone see https://docs.ceph.com/en/latest/cephfs/fs-volumes/#cloning-snapshots

 Best option is now to clean up the stale snapshots and clones.

[2020-12-08 07:51] insanemal commented on #1761
To cancel an ongoing clone you need the clone name. And how does one find the clone name of a clone that didn't start/finish?
It's not stored in the .meta file.
I can't find it listed in the subvolume listing "ceph fs subvolume ls blah blah"

So yeah that doesn't really work. It looks like the volume might have been cleaned up due to a delete retention policy.

An while that bug I hit might be fix

[2020-12-08 08:19] nixpanic commented on #1693
Images in the CI registry are not automatically updated. This is still a TODO.

[2020-12-08 08:24] insanemal commented on #1761
[code]

Yeah exactly what I thought was the case. The 'target volume' doesn't exist anymore (or never did) so I can't actually rm the snapshots because "pending clones"

Yeah this is probably an upstream CephFS issue, but its something you can encounter with the CSI plugin.

Also it's causing me no end of issue because of the huge count of in progress clones it does know about taking up all the si

[2020-12-08 08:37] Madhu-1 commented on #1761
Okay we need to remove the stale subvolume created in the backend, we can get the list of subvolumes created by csi diver with

`kubectl get pv -o=jsonpath='{.items[*].spec.csi.volumeAttributes.subvolumeName}'`

make sure all PV has the subvolumeName in the spec. Once we get the list we need to get all created subvolumes list from  the ceph cluster
`ceph fs subvolume ls myfs csi  -> replace myfs w

[2020-12-08 09:24] insanemal commented on #1761
You would hope so, but alas that is not the case
[code]

I wasn't kidding when I said irreparable. I wouldn't have opened a ticket if I could have solved it with a few sternly worded rm commands.

[2020-12-08 09:28] insanemal commented on #1761
This is also why I'm going to be pretty insistent on some corner case detection for this particular bunch of fun.

This apparently isn't super hard to get yourself into a state where even manual intervention isn't possible and there is nothing like it automatically making thing far worse during what is already a major outage event

[2020-12-08 09:28] Madhu-1 commented on #1761
@ShyamsundarR @kotreshhr can you please help here?

[2020-12-08 10:23] #1471 closed

[2020-12-08 10:23] #1472 closed

[2020-12-08 16:09] #1473 closed

[2020-12-08 18:41] gman0 commented on #1725
No plans AFAIK, sorry.

[2020-12-08 23:28] ShyamsundarR commented on #1761
@insanemal As the Ceph cluster is lacking space (as per your troubleshooting) to complete operations, and due to the earlier CSI snapshot and clone leak, cleaning this up becomes more involved as clones would never complete.

We/I do acknowledge the fact that in progress clones have no way of being tracked from kubernetes to CephFS as things stand, but more on this later. Let's attempt to address

[2020-12-09 09:11] yati1998 commented on #1647
Hi,
I worked on reproducing the issue as mentioned in the description. And Below is the result that I got:
[yatipadia@localhost cephfs]$ kubectl get pvc
NAME             STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS    AGE
csi-cephfs-pvc   Bound    pvc-ca176a5a-08b3-4b9c-86e8-726b6aacaf94   1Gi        RWX            csi-cephfs-sc   5s
[yatipadia@localho

[2020-12-09 12:29] Madhu-1 opened #1779 "remove containerized test centos job"
currently, we are running all our static checks in the GitHub action. to avoid the duplication of the tests and also to avoid the resource consumption on the centos ci we can remove the containerized tests from the CI  jobs.

cc @nixpanic

[2020-12-09 13:07] Madhu-1 opened #1781 "Add github action to push canary image and helm charts"
we are using Travis CI to push the helm charts and the container image when a PR is merged is the branch. It would be good if we move from Travis CI to GitHub action to push these artifacts.

[2020-12-09 23:41] insanemal commented on #1761
@ShyamsundarR
Sorry I wasn't super clear. It's no longer out of space. I've fixed that quite some time ago.
The issues I'm facing are from when it ran out of space while colliding at high speed with the bug that has been fixed.

I'm on the latest stable cephfs and ceph rbd CSI plugins.  That was first cab off the rank.

I don't have any more clones happening. I've already stopped that from happeni

[2020-12-10 11:51] nixpanic opened #1782 "Provide a sidecar to fetch information from Kubernetes"
# Describe the feature you'd like to have #

There should be a sidecar that can be used to request information from Kubernetes (or any other CO) that is used by the provisioner and node-plugins.

# What is the value to the end user? (why is it a priority?) #

Currently the provisioner and node-plugins use a Kubernetes client to fetch extra information from the Kubernetes environment. This makes it

[2020-12-10 15:46] ShyamsundarR commented on #1761
There can be 2 cases here,
1. There really is a pending clone that is stuck
2. There is stale state for a clone that disallows the snapshot from being deleted

To determine what is the actual state if you could do the following, it may help taking this up further,
  - For the above snapshot that you presented, the UUID of the clone that is pending can be determined using the `.meta` file within th

[2020-12-10 23:11] insanemal commented on #1761
@ShyamsundarR
Yep I know and I already did that. Sorry you either missed it or I didn't explain it well enough. I checked the meta file then checked the clones folder... and

[code]

They don't exist! I mean they have left marks all over the file system but ultimately something is very VERY wrong here

[2020-12-10 23:45] ShyamsundarR commented on #1761
Thank you, I did miss the fact that you checked the clones symlinks and the meta file as in this [comment](https://github.com/ceph/ceph-csi/issues/1761#issuecomment-740464531).

Can you let me know if other clone symlinks other than `b94869cc-9147-4bc3-aa8b-00d21237d94c` also do not exist? I would like to ensure the problem is stale symlinks and hence snapshot can never be deleted.

Did you delete

[2020-12-11 07:59] insanemal commented on #1761
@ShyamsundarR I don't believe any of the subvols were "rm -rf"ed

This does however give me a way to move forward.

This isn't the only subvolume it's just the one I've had the most "Can't delete snapshot" errors in kubernetes about.

There are at least 3-4 others.

I can try and get you the mgr logs if it helps.

I want to be clear, I'm more worried about this being an unusual corner case when yo

[2020-12-11 09:58] Madhu-1 opened #1784 "e2e: update kubernetes version in ci"
we are running E2E with kubernetes v1.18  and v1.19. as kubernetes, 1.20  https://kubernetes.io/docs/setup/release/notes/#changelog-since-v1-19-0 is released we should update our E2E to run against the latest 2 versions of kubernetes 1.19 and 1.20

- [x] add v1.20 to CI jobs (ci/centos branch)
- [x] update mergify rules (master branch)
- [x] remove v1.18 from CI jobs (ci/centos branch)

[2020-12-11 11:48] Carlimeunier opened #1785 "CSI with Monitor DNS doesn't work when IP changed"
Hello,

We have a Ceph cluster with 3 monitors. For maintenance reasons, the IPs of its monitors sometimes change.
So, in the csi configmap, we opted for a configuration with FQDN.

The problem is that the CSI cannot communicate with the ceph cluster after the IPs have changed

Any idea ?

Thanks

[2020-12-11 11:52] Madhu-1 commented on #1785
cephcsi will use the passed FQDN to talk to the ceph cluster. it won't cache anything, are you seeing any struck commands provisioning or mounting?

[2020-12-11 12:35] Carlimeunier commented on #1785
Here is the CSI logs :

[code]

And MDS blocked these operation. Here is the message :

[code]

Even after restarting mds, it is still stuck

[2020-12-11 18:24] prazumovsky commented on #1650
Found exactly same issue with rdbplugin. Do we need to increase level of issue?

[2020-12-14 14:45] #1500 closed

[2020-12-15 12:37] nixpanic commented on #1785
Do you have the logs from the `csi-cephfsplugin` containers from the provisioner and node-plugin? Maybe those contain more useful logs.

[2020-12-15 12:49] Madhu-1 opened #1791 "Failed to create snapshot in CI"
Currently we are using https://github.com/ceph/ceph-csi/blob/master/scripts/install-snapshot.sh to install the snapshot controller and the snapshot version is mentioned in the build.env https://github.com/ceph/ceph-csi/blob/master/build.env#L28.

Recently external-snapshotter master is updated to use v1.snapshot CRD instead of beta.

the deployment templates from the v3.0.1 snapshot are using the

[2020-12-15 13:23] nixpanic commented on #1784
[1st job](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/mini-e2e_k8s-1.20/1/display/redirect) is running, we'll see if any updates to the scripts are needed or a minikube upgrade is required.

[2020-12-15 13:44] nixpanic commented on #1784
v1.20.0-beta.2 gets detected, but [minikube seems to install it](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.20/detail/mini-e2e_k8s-1.20/1/pipeline/64/#step-75-log-1681) just fine

[2020-12-15 16:15] nixpanic commented on #1784
#1792 fixes the version detection

[2020-12-16 04:50] Madhu-1 opened #1793 "Document standard Vault configuration options for KMS"
As mentioned in https://github.com/ceph/ceph-csi/pull/1789/files#r543221967, This issue is to track the documentation required for the Vault standard configuration options.

The ConfigMap contains `VAULT_*` options, and these match the KMS configuration file.

[2020-12-16 06:55] JadeQin commented on #1722
I

Some information on site has been lost because of the restoration at that time.

There are currently 12 PVCs, and each PVC corresponds to an app.

I will try to upgrade to the latest version to see if this problem will happen again

[2020-12-16 07:17] #1791 closed

[2020-12-16 07:19] Madhu-1 commented on #1646
@Yuggupta27 can you please reverify this with the latest master and clone this issue and #1652

[2020-12-16 08:13] Yuggupta27 commented on #1646
Thanks @Madhu-1  for bringing light to this issue. Afaik, these both issues should not persist now, but I will re-verify everything and update here.

[2020-12-16 08:41] nixpanic opened #1795 "CI jobs ocasionaly fail with: missing encryption passphrase in secrets"
# Describe the bug #

While running the mini-e2e CI jobs, on occasion these fail with

    invalid encryption kms configuration: missing encryption passphrase in secrets

# Actual results #

While provisioning, the KMS configuration gets read from the parameters in the StorageClass. These can define a KMS that uses a passphrase stored in the Secrets that are linked to the StorageClass. Sometimes,

[2020-12-16 11:01] #1648 closed

[2020-12-16 11:39] f1-outsourcing opened #1797 "config.json should be configurable path, otherwise this plugin is useless for mesos"
This directory does not exist on centos7

https://github.com/ceph/ceph-csi/blob/9160a5309ec1cdecce932b5466716780f5cc7405/internal/util/csiconfig.go#L33

[2020-12-16 11:59] Madhu-1 commented on #1797
currently, it's a configmap that will be mounted to the cephcsi plugins https://github.com/ceph/ceph-csi/blob/master/deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml#L174-L175.

If memos is not able to mount a file to a cephcsi container we can make it configurable.

[2020-12-16 12:59] f1-outsourcing commented on #1797
I am currently testing on the command line with csc when I noticed this, it would be nice to have this configurable. Because I am not fetching any files, nor do I use a container image.

[2020-12-16 15:12] f1-outsourcing opened #1798 "mounting a rbd image with csc, fails in LVroot getting mounted."
Maybe this could be added to docs for testing on the command line.

I can create a rbd image with this command:

[code]

But I have problems with mounting an rbd image from the command line. Currently using this command.
`csc -e unix:///tmp/csiceph.sock node publish --cap SINGLE_NODE_WRITER,mount,xfs --target-path /mnt/test --staging-target-path /mnt/staging --vol-context 'ClusterID=ceph,pool=app'

[2020-12-16 16:09] phlogistonjohn commented on #1619
[code]

Above is a very (very!) rough sketch of what I think CSI might want to do to log the things CSI cares about when making use of go-ceph. I don't think all functions need to be wrapped, just those that reach out to the ceph cluster and could block.

I propose defining interfaces for the various "items" ceph-csi uses from go ceph. Then based on needs the csi code defines simple uniform wrappe

[2020-12-16 16:18] f1-outsourcing opened #1799 "ceph.conf is deleted/changed at cephcsi startup"
Looks like the cephcsi plugin is changing the ceph.conf. This is not really desirable, nobody is going to expect that a csi plugin is going to change your /etc/ceph/ceph.conf file.

Before running the csi plugin
[code]
After running the csi plugin with
`/usr/libexec/csi/csiceph -endpoint unix:///tmp/csiceph.sock -nodeid $HOSTNAME -type rbd -drivername ceph-csi-v3.2.0-rbd -alsologtostderr -v 99`

[

[2020-12-16 18:12] cjheppell opened #1800 "Support creating volume snapshots and clones without flattening"
# Describe the feature you'd like to have #

Support creating volume snapshots and clones without flattening

# What is the value to the end user? (why is it a priority?) #

I'm able to create snapshots (and therefore clones) of an existing PVC without needing to wait for the full flatten operation to complete. This means I'll be able to take advantage of Ceph's block-level copy-on-write to quickl

[2020-12-16 18:25] dillaman commented on #1800
@cjheppell Have you overridden `softMaxCloneDepth` to 1? It shouldn't be flattening images unless you make chains of clones longer than the `softMaxCloneDepth` setting. If it's always flattening, that sounds like a bug.

[2020-12-16 18:34] cjheppell commented on #1800
Not as far as I'm aware.

For context, the Ceph CSI driver I'm using is `quay.io/cephcsi/cephcsi:v3.1.0` installed via Rook in a Kubernetes Cluster.

Having just manually patched the `cephcsi` version to `v2.1.2` I'm getting the behaviour I'd expect:

- Creating a VolumeSnapshot creates a snapshot _on_ the corresponding rbd image representing my PVC
- Creating a PVC with that VolumeSnapshot define

[2020-12-16 18:36] dillaman commented on #1800
None of the steps listed above will cause a flatten. Are you actually seeing a flatten?

[2020-12-16 18:40] cjheppell commented on #1800
This could well be a lack of understanding on my part on how Ceph works in that case...

I guess my confusion comes from the fact that reviewing the Ceph Dashboard (and indeed the output of `ceph rbd ls`) shows a new image representing the volumesnapshot with no parents, rather than a snapshot _on_ the original rbd image.

I was under the impression that _must_ cause a full-copy from the parent sn

[2020-12-16 18:52] dillaman commented on #1800
Perhaps there is a bug in the dashboard. What does "rbd info" show against the snapshot image?

[code]

[2020-12-16 18:53] f1-outsourcing opened #1801 "-h output is to stderr instead of stdout"
Just minor issue, but you have to redirect stderr to stdout to see  -h

`/usr/libexec/csi/csiceph -v  2>&1|less`

[2020-12-16 19:27] cjheppell commented on #1800
Yes, you're quite right!

Having run `rbd info` on the "snapshot" image shows that its parent is indeed my original PVC. Thanks a lot for clearing that up 👍

What _is_ confusing however, is that the dashboard is now only showing the "snapshot" rbd image, not the original PVC rbd image:

![image](https://user-images.githubusercontent.com/12884767/102396620-988e2080-3fd4-11eb-953c-8c9073358415.png)

[2020-12-16 22:26] f1-outsourcing opened #1802 "error decoding volume ID (failed to decode CSI identifier, string underflow)"
I am not sure if this is a bug or just me using incorrect syntax for staging a volume

`csc -e unix:///tmp/csiceph.sock node stage --cap SINGLE_NODE_WRITER,block --staging-target-path '/mnt/staging/' --vol-context 'clusterID=ceph,pool=app,imageFeatures=layering'  'app-test'`

This is what the plugin is loggin
[code]

using v3.2.0

[2020-12-17 10:27] nixpanic commented on #1798
Could you please provide the logs of the csi-rbdplugin container from the node-plugin?

[2020-12-17 10:32] #1800 closed

[2020-12-17 10:35] nixpanic commented on #1802
How did you create the `app-test` volume? It is not something ceph-csi expects as name of an RBD image.

[2020-12-17 10:58] f1-outsourcing commented on #1802
I created the app-test with rbd create

[code]
the image maps just fine on the same host with the same credentials.

[code]

[2020-12-17 11:21] Madhu-1 commented on #1802
this is not the way cephcsi works, the image is cannot be directly passed to the csi driver. the volumeHandle will be sent the in createVolume response. the same volumeHandle should be used to map the rbd image on the node.

[2020-12-17 11:26] Madhu-1 commented on #1798
Not sure how the plugin will mount the LV root to the target path. the cephcsi will map the rbd image on the node and mount the device path to the staging path and at the last stage, the staging path will be bind-mounted to the target path.

and also it's expected to run cephcsi as a container and please when you are filing the issue make sure you will fix the issue templates and provide the requi

[2020-12-17 11:26] #1798 closed

[2020-12-17 11:33] Madhu-1 commented on #1799
currently, cephcsi is built and shipped as a container image and when it starts will create its own ceph.conf with minimal required configurations. We don't have a requirement to pass the ceph.conf as an argument to the cephcsi pod. if you see any requirement in passing the ceph.conf as an argument please do open a feature request.

[2020-12-17 11:44] f1-outsourcing commented on #1802
I do not understand this. Do mind I am just user of csi. I did not read much of the specification of csi plugins.
If I use a csinfs I can supply a Volume, that is being mounted. I do not need to get the 'handle' of the volume first. Maybe I have seen old descriptions/processes of csi, but this is the first time I heard about it. I think this command line client does not even mention a handle argum