[2020-04-21 12:18] Madhu-1 commented on #966
please provide steps to reproduce it.

[2020-04-21 12:27] Madhu-1 commented on #966
what is the kernel version?

[2020-04-21 12:32] chandr20 commented on #966
3.10.0-1062.18.1.el7.x86_64

[2020-04-21 12:44] chandr20 commented on #966
steps to reproduce
1) installed k8s 1.16.7
2) used rook helm chart 1.2.5
3) replaced
#image: quay.io/cephcsi/cephcsi:v2.1.0 (replaced 2.0.0 to 2.1.0(
4) deployed ceph
ceph/ceph:v14.2.7
5) installed an app with pvc  and faced the above mentioned issue
same issue is not seen when using cephcsi:v2.0.0

[2020-04-21 13:21] Madhu-1 commented on #966
i dont see any issue

[code]

[2020-04-22 05:00] Madhu-1 commented on #966
closing this as not a CSI issue, feel free to reopen if the issue persists

[2020-04-22 07:00] chenxu1990 commented on #925
we can easily get subvolumeName or rbdImageName from pv object #957  . So we just need to list
all pvs and export the mappings ?

[2020-04-22 07:01] Madhu-1 commented on #925
This will not work for the older PVC which got created prior to it

[2020-04-22 07:11] chenxu1990 commented on #925
So we should  get the mappings following the logic of the existing tracevol.py tool.  I would like to take this feature

[2020-04-22 07:12] Madhu-1 commented on #925
Thank you sure, assigning this to you @c3y1huang

[2020-04-22 08:36] Madhu-1 opened #968 "Update Prepare.sh in centos CI branch"
Update the `prepare.sh` script in [ci/centos](https://github.com/ceph/ceph-csi/blob/ci/centos/prepare.sh) to pull the latest pull request (PR)  which is required for centos CI integration with cephcsi project.

[2020-04-22 08:40] Madhu-1 commented on #968
cc @Yuggupta27

[2020-04-22 08:41] Madhu-1 commented on #539
@Yuggupta27 can you please take a look at it.

[2020-04-22 11:58] humblec commented on #959
It should be resolved now. v2.1.0 charts are available here for both rbd and cephfs.  https://github.com/ceph/csi-charts

[2020-04-22 12:08] nixpanic commented on #968
The `prepare.sh` script is executed in the [Jenkins Pipeline `make-containerized-build.groovy`](https://github.com/ceph/ceph-csi/blob/ci/centos/make-containerized-build.groovy) and receives several parameters. The script does currently not interpret or handle any parameters at all.

Ideally the `prepare.sh` script uses a parameter `--ref=pulls/123/head` that points to the PR or branch that needs t

[2020-04-22 12:33] chandr20 commented on #966
The moment I do the following mount operation  manually

**mkfs.xfs /dev/rbd0 -f**

meta-data=/dev/rbd0              isize=512    agcount=16, agsize=4096000 blks
         =                       sectsz=512   attr=2, projid32bit=1
         =                       crc=1        finobt=0, sparse=0
data     =                       bsize=4096   blocks=65536000, imaxpct=25
         =

[2020-04-22 12:34] nixpanic commented on #959
@humblec should those also get tagged in the csi-charts repository? It seems there are no tags now, but that might be a good enhancement so that pointing to a release is easy.

[2020-04-22 12:45] humblec commented on #959
Yeah, make sense and its available now :+1:  @nixpanic

[2020-04-22 12:50] mobilesfinks opened #969 "failed to open log file in /var/log/pods/"
# Describe the bug #

On 1 of 5 nodes pod cannot start
In log of csi-rbdplugin container i see
[code]
%some_pod_hash% - some hash, change when recreate container
###.log - number that correlates with the number of pod restarts

As i can see all settings on all nodes look the same

# Environment details #

- Image/version of Ceph CSI driver:  quay.io/cephcsi/cephcsi:v2.1.0
- helm chart version: cep

[2020-04-22 12:54] Madhu-1 commented on #969
Seeing this issue for the first time. this should be the kubernetes issue. not specific to CSI

[2020-04-22 12:58] chandr20 commented on #966
@Madhu-1  could you please reopen the iisue

[2020-04-22 13:07] Madhu-1 commented on #966
@chandr20 am not seeing this issue. but reopening again. if you can give exact steps to reproduce it am happy to do it again.

[2020-04-22 13:21] mobilesfinks commented on #969
May be it is k8s problem
But maybe there will be some thoughts what options and where to look?

[2020-04-22 13:39] mobilesfinks commented on #969
i see problem on worker node.
There are no overlayfs mounts on it - I suspect something with a docker
I think the question can be closed, indeed the matter is in kubernetes

[2020-04-22 13:43] Madhu-1 commented on #969
closing as its a CO issue

[2020-04-22 13:43] #969 closed

[2020-04-22 15:18] mobilesfinks commented on #969
All problem was dissapear when i manually remove options MountPropagation from 2 volumeMounts
https://github.com/ceph/ceph-csi/blob/master/charts/ceph-csi-rbd/templates/nodeplugin-daemonset.yaml#L126
https://github.com/ceph/ceph-csi/blob/master/charts/ceph-csi-rbd/templates/nodeplugin-daemonset.yaml#L129

Found this solution in https://github.com/kubernetes/kubernetes/issues/61058#issuecomment-372

[2020-04-22 15:41] #856 closed

[2020-04-22 16:26] chandr20 commented on #966
steps to reproduce

**kernel (3.10.0-1062.18.1.el7.x86_64)**

  1)  installed k8s 1.16.7
  2)  used rook helm chart 1.2.5
  3)  replaced
       #image: quay.io/cephcsi/cephcsi:v2.1.0 (replaced 2.0.0 to 2.1.0)
  4) deployed ceph:v14.2.7
  5) installed an app with pvc and faced the above mentioned issue
      same issue is not seen when using cephcsi:v2.0.0
   **Issue occurs only when using cephcsi:

[2020-04-23 03:52] peacocktrain opened #970 "When the network fluctuates, the mount will report an error"
# Describe the bug #
When the network is suddenly disconnected and then restored, the file mount becomes unavailable.
**Here is the error report**

**the file on a physical machine**
![image](https://user-images.githubusercontent.com/15363932/80057012-36ba0b80-8558-11ea-9a41-37337a8fd717.png)

# Environment details #

- Image/version of Ceph CSI driver
2.0.1
- Kubernetes cluster version
1.16
- Ker

[2020-04-23 04:43] #920 closed

[2020-04-23 08:12] nixpanic opened #975 "Improve code quality and adhere better to Golang standards"
# Describe the feature you'd like to have #

[Go Report Card](https://goreportcard.com/report/github.com/ceph/ceph-csi) shows nice statistics about the code quality of the project. There are a few sections that do not reach 100%. This can easily be addressed, after which the configuration for the tests configuration in `scripts/golangci.yml` and similar can be updated.

# What is the value to the

[2020-04-23 08:12] madddi commented on #798
Hi, is there any way to find a decision here? This blocks #931.

We'd really like to deploy the provisioner on our clusters but need this feature first...

Cc @ShyamsundarR

[2020-04-23 08:40] Madhu-1 commented on #975
/assign  @Yuggupta27

[2020-04-23 08:53] Yuggupta27 commented on #975
Thanks. On it!

[2020-04-23 11:01] #903 closed

[2020-04-23 11:20] ShyamsundarR commented on #798
I think there is interest in the feature and option 3 seems the best way forward to address the use-cases. I would state we have waited enough for alternatives or preference voting, and hence should proceed with the same.

@madddi do you want to pick this up as part of #931? I am tied up on certain priorities as of this week (and a little into the next).

[2020-04-23 11:37] ShyamsundarR commented on #882
Understood.

@Madhu-1 thoughts? I am fine with request made by @gman0 given the context and restrictions as above.

[2020-04-23 11:48] nixpanic commented on #975
We do not have a bot that handles these requests. Done manually now.

I have just sent a PR for one of the parts, see #977. Reviews welcome :love_you_gesture:

[2020-04-23 12:01] Yuggupta27 commented on #968
Okay, I'll keep that in mind! Thanks

[2020-04-23 12:04] nixpanic commented on #970
Hi @peacocktrain!

Is this a problem with CephFS or RBD? And what type of mounter do you use (kernel client or userspace)?

Assuming CephFS for now, and the FUSE mounter... @joscollin @kotreshhr what is the expected behaviour, and can is be made to auto-recover after the network is back up?

[2020-04-23 12:07] Madhu-1 commented on #970
@nixpanic We have issues with cephfs fuse mounter. As its in userspace best suggestion will be to use kcephf

[2020-04-23 12:11] joscollin commented on #970
This is a normal behaviour. I think it would hang when the MDS become unavailable.

[2020-04-23 15:36] phlogistonjohn commented on #434
@nixpanic @ShyamsundarR  I'm interested in taking a stab at this. It looks nicely self contained and a good way to start re-learning ceph-csi again. Thoughts?

[2020-04-23 15:58] ShyamsundarR commented on #434
More power to you :) :+1:  you would be looking at one call instead of the swarm [here](https://github.com/ceph/ceph-csi/blob/master/internal/util/voljournal.go#L551-L627) I presume, to reduce the call counts. Thanks!

[2020-04-23 17:22] phlogistonjohn commented on #434
I'm happy to look at both. I'll probably start simple with a direct translation of GetOMapValue from cli to go-ceph. Then I'll look into making a "GetMultiOMapValues" kind of thing to see if we can cut down on round-trips.

The existing go-ceph calls, despite a number of issues I already have with them, already support handling multiple omap key/values in one call.

[2020-04-23 18:17] phlogistonjohn commented on #434
Pardon my confusion, but GetObjectUUIDData function appears to be gone now.
Interestingly, the file "./scripts/golangci.yml" appears to be the only thing left referring to it, stating:
[code]
I have no idea what "dogsled" is but my guess is that this comment is out of date. Shall I remove the comment? I don't have anything to put in its place.

[2020-04-23 19:10] phlogistonjohn opened #979 "makefile target 'go-lint-text' is poorly named"
# Describe the bug #

Running `make containerized-test` is failing for me. While attempting to debug the failure I focused a bit on the name reported by the make failure.
[code]

However, it turns out the failure had nothing to do with changes I made to go code and rather was a failure of shellcheck. Since the script `lint-text.sh` does not check Go language code at all I'd like to suggest renamin

[2020-04-23 19:13] phlogistonjohn opened #980 "Running "make containerized-test" always fails"
# Describe the bug #

I can not run `make containerized-test` successfully at this time. It appears that shellcheck is checking a script `./tmp/get_helm.sh` that is not under control of the "ceph-csi" source control.

I have never run the tests non-containerized so perhaps that is why I am hitting this? I do realize that the make rule in question is fairly new.

# Environment details #

n/a

# Ste

[2020-04-23 19:14] phlogistonjohn commented on #980
@nixpanic I am not sure why I am hitting this 100% but I am assuming you did not when you added this.

[2020-04-23 20:23] phlogistonjohn commented on #980
Looks like a simple fix might be to exclude the "./tmp" directory assuming nothing else is expected to appear there. Let me know if you want to try and figure out why this didn't affect you or if you want me to just go and update the script regardless.

[2020-04-23 20:35] iExalt commented on #966
Having the same issue with
K8s: 1.18.0
Rook operator: 1.3.1
Ceph: 14.2.8

Steps:
1. Create rbd pvc
2. Snapshot rbd pvc
3. Create volume from snapshot
4. Try to mount cloned volume with a pod
[code]

[2020-04-24 01:59] peacocktrain commented on #970
CephFS,Kernel client,  Can't recover

[2020-04-24 02:02] peacocktrain commented on #970
The file cannot be mounted after network recovery, and the file mount is damaged. Restart the physical node to recover.

[2020-04-24 02:22] peacocktrain commented on #970
Mounting the error file after network recovery is not accessible. I have tried many recovery methods including restarting csi to remove the damaged mount file. Finally, the machine had to be restarted

[2020-04-24 06:46] Madhu-1 commented on #966
@iExalt please provide below details
* what is the kernel version here
* What cephcsi version you are using
* Is it happening for cloned PVC or normal PVC also

[2020-04-24 06:47] Madhu-1 commented on #966
@dillaman @humblec is it something related to kernel version? because I could not reproduce it in 4.19 kernel

[2020-04-24 07:14] humblec commented on #966
At glance, rather than a kernel issue, my suspicion is that, this happens when we `mount the volumes which were referred by the same `UUID``. That could have happened when there is a setup with a snapshot/clone. , It looks like the volume created from a snapshot will have the same UUID as the source volume.  so you can only mount one at a time.
Thats why you are able to work around this issue with

[2020-04-24 07:17] humblec commented on #966
This theory can be validated by taking a look at the parent and cloned volume `UUIDs`. If both are the same before regenerating the UUID, it could be the same root cause.

@Madhu-1 @iExalt @chandr20

[2020-04-24 07:20] Madhu-1 commented on #966
@humblec this is happening even without snapshot as mentioned in https://github.com/ceph/ceph-csi/issues/966#issuecomment-617156079

the same UUID is not possible, we always ensure the UUID generated is unique, even the mountpath is always unique isn't It as it is (PVC+volumeID)

the one mentioned https://github.com/ceph/ceph-csi/issues/966#issuecomment-617751185 is not require the xfs_admin comma

[2020-04-24 07:29] humblec commented on #966
@Madhu-1 I am referring `filesystem UUID` and not `volumeID`  we create :)

@iExalt in your comment, the error is on `/dev/rbd4` and the repair or regeneration happens on `/dev/rbd5`. Why its so?  Is `/dev/rbd5` is also in use with other pod ?

[2020-04-24 07:30] humblec commented on #966
Again, if this is because of `UUID` issue `-o nouuid` option with mount command could help or atleast work around the issue.

[2020-04-24 07:34] iExalt commented on #966
@humblec I tried it again with another pvc, which was given /dev/rbd5. Sorry about that.

[2020-04-24 07:35] iExalt commented on #966
@Madhu-1 I believe I'm using 5.4, will check tomorrow.

[2020-04-24 07:37] humblec commented on #966
nw :) , by any chance you could gather the source volume and cloned volume UUIDs when this issue occurs?

[2020-04-24 07:40] iExalt commented on #966
@humblec Will do tomorrow

[2020-04-24 07:46] Madhu-1 commented on #966
Just to add nothing has changed in v2.0.1 and 2.1.0 https://github.com/ceph/ceph-csi/blob/be6318716e08f6307206508d41a63eaa3781d408/pkg/rbd/nodeserver.go#L318-L332 and
https://github.com/ceph/ceph-csi/blob/b38f2c5c310fa4dfea2bc97a2e067c7a47aca188/pkg/rbd/nodeserver.go#L392-L406

[2020-04-24 07:54] iExalt commented on #966
I actually upgraded from v2.0.0 hoping that it would fix another error upon mounting a cloned PVC - interesting to know that nothing has changed though.

[2020-04-24 08:00] Madhu-1 opened #982 "Images pushing is failing during the deployment in travis CI"
recently we have added travis_wait in deploy section in the travis.yaml to overcome the timeout issue which we are facing due to image building is taking more than 10 Minutes, which is default timeout in deployment in Travis.

[2020-04-24 08:10] nixpanic commented on #980
hmm, I do not have the `./tmp/get_helm.sh` script here... Running the containerized tests for all things I do with this repository.

I guess you ran `./deploy.sh` in the repository? That is a script that you do not need to run :smile: You should be able to remove the `./tmp` directory completely. If it was caused by `deploy.sh`, the script should be corrected to clean up after itself.

[2020-04-24 08:21] Hughen opened #983 "provisionVolume is not working"
# Describe the bug #

The `provisionVolume` parameter can be not working with `false`.
I found there is such a string of code, why should it be implemented like this?
[code]

# Environment details #

- cephcsi/cephcsi:v2.0.1
- kubernetes v1.16.3

[code]

And then, the cephfs volume `/volumes/csi/csi-vol-11f89ab6-85fd-11ea-9b16-0a580a022e07/15d8e061-e7ea-4d80-8430-391223adbaa0` will be mounted

# E

[2020-04-24 08:25] nixpanic commented on #979
I would prefer to have different targets for each test, `make containerized-test TARGET=...` can then e used to run a single target to make developing/fixing/debugging faster.

[2020-04-24 08:26] Madhu-1 commented on #983
@Hughen please provide more details, what is the exact issue you are facing. and also provide required logs or yaml data.

[2020-04-24 09:03] madddi commented on #798
@ShyamsundarR Thanks! I'll start working on #931 then.

Regarding the namespace topic: I wouldn't like to do this as part of #931 to keep the PR small. Additionally I don't have that much time to spare right now, too... Maybe someone else who already offered to start working on this can pick it up?

[2020-04-24 12:01] Hughen commented on #983
[code]

[code]

And, the log posted above is from cephcsi

[2020-04-24 12:07] Madhu-1 commented on #983
provisionVolume is to support backward compatibility for 1.0.0 PVC now its replaced with  `staticVolume` we are working on adding documentation for static PVC

you need to create both PVC and PV manually and mention the subvolume root path in PV spec

[2020-04-24 13:21] ShyamsundarR commented on #434
I did not know this existed in that file. We can remove it, as I fixed that up to return a structure.

Apparently (googling states) dogsled is: "dogsled: Checks assignments with too many blank identifiers (e.g. x, _, _, _, := f())" (from [here](https://github.com/golangci/golangci-lint#quick-start)), which was true for this function prior to the change to return the struct.

[2020-04-24 18:43] iExalt commented on #966
@humblec Filesystem UUID is indeed the same, it makes sense that regenerating the UUID would fix the mount.

/dev/rbd1 is the original PVC
/dev/rbd6 is the cloned PVC
[code]

[2020-04-24 18:59] dillaman commented on #966
The "nouuid" mount option is certainly an easy workaround for XFS. Attempting to re-generate the UUID for clones/snapshots of XFS file systems is more awkward since you would either need to (1) map/re-generate/unmap the block device at provision time, or (2) store some metadata that it's UUID needs to be regenerated during creation from snapshot/source PVC and then re-generate/clear the flag upon

[2020-04-24 19:05] dillaman commented on #966
You can specify `mountOptions` as part of the `StorageClass`.
Have you tried to add it in your PV's `mountOptions` attribute [1]?

[1] https://kubernetes.io/docs/concepts/storage/persistent-volumes/#persistent-volumes

[2020-04-25 08:52] Hughen commented on #983
@Madhu-1 :+1::+1::tada::tada:
Thank you very much, finally, according to your prompt, I finally implemented a custom cephfs path.

[2020-04-25 14:57] fiveclubs commented on #966
I also see this, when creating dynamic PVs, and the thing that fixes it for me is to downgrade ceph-csi in the operator configuration from 2.1.0 to 2.0.1.

CentOS 7.7
Kernel: 3.10.0-1062.18.1.el7.x86_64
K8s: 1.17.0
Rook: 1.3.2
Ceph: 15.2.0

[2020-04-26 10:55] mykaul opened #987 "Support building via Podman"
# Describe the feature you'd like to have #
It'd be nice to be able to build and run containerized tests using podman, and not Docker (which requires root privs).

What new functionality do you want?
See above.
# What is the value to the end user? (why is it a priority?) #
No root privs.
How would the end user gain value from having this feature?
See above.
# How will we know we have a good soluti

[2020-04-27 01:45] #983 closed

[2020-04-27 03:22] chenxu1990 commented on #925
How about putting the mapping information into metric image_size, such as 'image_size(name=xx, pool=xx, pvc_name=xx, pv_name=xx) 20000' ?

[2020-04-27 04:13] luhailiang0527 commented on #923
@Madhu-1  thank you very much for this issue. and i also have a problem,How to migrate PV，PVC created by different storageclasses，Details are as follows：
**source storageclass**
NAME   PROVISIONER    RECLAIMPOLICY   VOLUMEBINDINGMODE   ALLOWVOLUMEEXPANSION   AGE
slow   ceph.com/rbd   Retain          Immediate           true                   27d
**destination storageclass**
NAME   PROVISIONER  REC

[2020-04-27 04:14] luhailiang0527 opened #989 "How to migrate PV，PVC created by different storageclasses"
@Madhu-1 thank you very much for this issue. and i also have a problem,How to migrate PV，PVC created by different storageclasses，Details are as follows：
source storageclass
NAME PROVISIONER RECLAIMPOLICY VOLUMEBINDINGMODE ALLOWVOLUMEEXPANSION AGE
slow ceph.com/rbd Retain Immediate true 27d
destination storageclass
NAME PROVISIONER RECLAIMPOLICY VOLUMEBINDINGMODE ALLOWVOLUMEEXPANSION AGE
csi-rbd-sc

[2020-04-27 05:05] Madhu-1 commented on #989
@luhailiang0527 I don't think it's possible as the PV object is immutable you cannot edit the driver name and other details in PV object.

[2020-04-27 05:08] Madhu-1 commented on #925
@dillaman this is new to me, do we have any sample format or already existing Prometheus exporters we can follow?

[2020-04-27 05:18] Madhu-1 commented on #966
do we need to fix this in code? or can the user make use of `-o nouuid` storage class parameter?

cc @humblec @dillaman

[2020-04-27 05:21] #987 closed

[2020-04-27 05:28] humblec commented on #966
Obviously the SC param is an option, however, if this is a `common or default` mount option which has to be followed, ideally the code can be adjusted to have this option in default mount list. But, before doing so, we have to think some more heavily. I will get back soon on this.

[2020-04-27 05:29] humblec commented on #966
@iExalt @fiveclubs thanks for the input and sharing details! We will revert soon on this.

[2020-04-27 06:37] luhailiang0527 commented on #989
@Madhu-1  Is there a solution to such a problem，Is there any other way based on what you know

[2020-04-27 06:38] Madhu-1 commented on #989
nothing am aware of, one thing I can thinkis using static PVC to mount older rbd images.

[2020-04-27 06:48] luhailiang0527 commented on #989
@Madhu-1  thank you  you can help me analysis this，Is it a solution to the problem https://github.com/redhat-cop/openshift-toolkit/tree/108586d05bf9e85854801509359e7b09dd05f08f/storage/pv-migrator

[2020-04-27 13:15] dillaman commented on #925
I don't have any concrete examples. Perhaps something like:

[code]

The important thing is we need some type of metric that would allow a PVC to be looked via an RBD image name so that a Grafana dashboard could show the k8s PVC name instead of the RBD image name (i.e. find the k8s noisy neighbour instead just the RBD image and making the admin chase down the associated PVC).

[2020-04-27 13:20] dillaman commented on #966
We definitely need a solution in-code -- we shouldn't expect users to have to add XFS mount options as a workaround for PVC from snapshot/PVC support.

[2020-04-27 14:50] humblec commented on #701
CephFS Tracker : https://tracker.ceph.com/issues/45290

[2020-04-27 14:51] fiveclubs commented on #966
I should have noted in my original comment, but setting the `-o nouuid` option did not solve it for me. Only reverting versions to 2.0.1 fixed it in my case.

[2020-04-27 17:00] iExalt commented on #966
Let me quickly verify if `-o nouuid` solves it for me as well.

[2020-04-27 17:09] iExalt commented on #966
@humblec @dillaman @Madhu-1 `-o nouuid` isn't enough to mount the PVC for me either.

[code]

[2020-04-27 18:14] phlogistonjohn commented on #980
I don't remember running deploy.sh, at least not w/in the last 6 months. It might be old, stale, stuff from when I last worked on ceph-csi many months ago. Deleting the ./tmp dir prevented the failure and it did not appear to get re-created. Hopefully @Madhu-1 change will prevent it from happening to other people in the future.

[2020-04-27 18:36] iExalt commented on #966
Actually, mountOption `-o nouuid` makes things worse because then the `xfs_repair -L /dev/rbd5 && xfs_admin -U generate /dev/rbd5` trick doesn't even work afterwards.

[2020-04-27 19:00] dillaman commented on #966
That doesn't seem to be correct

[2020-04-27 19:11] dillaman commented on #966
Thanks for the heads-up. Presuming both 2.0.1 and 2.1.0 are mapping the correct RBD image to the node, the only real change to the mounting code that I can see from a quick glance is what was noted here [1].

[1] https://github.com/ceph/ceph-csi/issues/966#issuecomment-618859416

[2020-04-27 19:13] fiveclubs commented on #966
@iExalt you have to specify `nouuid` to `mountOptions`. The `-o` is implied.

[2020-04-27 19:15] iExalt commented on #966
Ah, I see. I misunderstood how the field worked. I'll try it again with the right syntax.

[2020-04-27 21:32] iExalt commented on #966
Ah, I see. I misunderstood how the field worked. I'll try it again with the right syntax.
[code]
Works for me now, thanks @fiveclubs.

---

^^^ Solved! This was a case of PEBKAC. I misunderstood how the Postgres image saves its data and mounted the PVC to the wrong location... which meant that I was snapshotting an empty PVC all along

[2020-04-28 09:13] #982 closed

[2020-04-28 09:26] chandr20 commented on #966
mountOptions:
  - nouuid                   **did  not solve the problem.The problem still persist**

Events:
  Type     Reason                  Age                  From                                 Message
  ----     ------                  ----                 ----                                 -------
  Warning  FailedScheduling        <unknown>            default-scheduler

[2020-04-28 09:37] chandr20 commented on #966
attaching rbdplugin logs
[csi-rbdplugin.txt](https://github.com/ceph/ceph-csi/files/4544703/csi-rbdplugin.txt)

[2020-04-28 10:57] humblec commented on #966
[Refer] https://github.com/kubernetes/utils/pull/150/ .

[2020-04-28 11:45] #980 closed

[2020-04-28 12:36] dillaman commented on #966
@chandr20  I just noticed your dmesg logs in the original problem description. Can you run the following against `/dev/rbd0`?

[code]

What kernel version did you use to (1) create the original volume and (2) what kernel version are you using on the current node? That `0x4` feature error relates to have metadata UUID that is different from the fs UUID -- which can occur on older kernels.

[2020-04-28 12:43] chenxu1990 commented on #925
I have two solutions.
One, get all pvc then get related image
Two, get all images then get related pvc
which solution is better and if the data collection will
cause performance problems when the total number is large ?

[2020-04-28 14:26] chandr20 commented on #966
@dillaman
kindly find the output of the command

xfs_db -c "sb" -c "print uuid meta_uuid features_incompat" /dev/rbd1
Superblock has unknown read-only compatible features (0x4) enabled.
Attempted to mount read-only compatible filesystem read-write.
Filesystem can only be safely mounted read only.
no current type
cache_purge: shake on cache 0x12792a0 left 1 nodes!?

**kernel vesrion :3.10.0-1062.18

[2020-04-28 14:50] dillaman commented on #966
I am betting that the version of xfsprogs changed between v2.0.0 and v2.1.0. If v2.1.0 is based on RHEL 8, it's known that out-of-the-box XFS will not be compatible w/ RHEL 7 kernels and you will see that `unknown read-only compatible features (0x4)` read-only error.

https://access.redhat.com/solutions/4582401

[2020-04-28 15:05] chandr20 commented on #966
@dillaman  there is changes in mkfs.xfs  in the container
cephcsi 2.0.0

mkfs.xfs -V
mkfs.xfs version 4.5.0

ceph v2.1.0
mkfs.xfs version 5.0.0

[2020-04-28 15:30] Madhu-1 commented on #966
@dillaman Do we need to make changes in cephcsi to add '  # mkfs.xfs -m reflink=0 /dev/sdN' to support both rhel7 and rhel8?

[2020-04-28 15:37] nixpanic commented on #966
#374 is a request to add `mkfs` options in the StorageClass. If this option would be available, users can add the `-m reflink=0` there.

As a workaround, possibly ext4 can be used by setting it as the `csi.storage.k8s.io/fstype`.

[2020-04-28 15:44] nixpanic commented on #374
Also, this feature is probably useful in the Kubernetes external-provisioner. So maybe it should get implemented there, and not in Ceph-CSI directly.

[2020-04-28 16:09] chandr20 commented on #966
@nixpanic @dillaman
if there is an option which can be specified in storage class that would be helpful

but we want to use xfs as our fstype

[2020-04-28 16:20] dillaman commented on #966
@chandr20 If you could verify that `mkfs.xfs -m reflink=0` work within the CSI container against `/dev/rbd0`, that would be helpful in making a fast fix.

[2020-04-28 17:11] chandr20 commented on #966
@dillaman after performing the mkfs.xfs -m reflink=0 within the container mounting was successful
rbd2   252:32   0  250G  0 disk /var/lib/kubelet/pods/f7f32fe8-d231-45dc-84da-fc3187351a48/volumes/kubernetes.io~csi/pvc-b1

[2020-04-28 20:58] ragingpastry opened #996 "RADOS permission error during Cephfs PVC creation"
# Describe the bug #

I have deployed ceph-csi in my cluster using the manifest files provided in this repository. I am unable to provision a new volume when submitting a PVC. I received the error:

[errno 1] RADOS permission error (error connecting to the cluster)

# Environment details #
Images:
[code]
logs
[code]

# Steps to reproduce #

Steps to reproduce the behavior:

1. Deploy ceph-csi ceph

[2020-04-29 05:03] Madhu-1 commented on #996
the log clearly says that this is a permission issue, can you please check you are using valid credentials and the user is having required permission to access the cluster.

[2020-04-29 07:52] nixpanic opened #998 "make util.clusterInfo usable outside of the util package"
Functions like `getClusterInformation()` should probably return a `util.ClusterInfo` struct, instead of the single members.

This requires the current `util.clusterInfo` from to be renamed to `util.ClusterInfo` so that `internal/cephfs/volumeoptions.go` can use it. Also the copies in `e2e/utils.go` can then be removed.

[2020-04-29 07:55] Madhu-1 commented on #998
/assign @yuggupta27

[2020-04-29 07:56] Madhu-1 commented on #998
@Yuggupta27 let me know if you take it up.

[2020-04-29 07:56] humblec commented on #966
To summarize, there are 2 issues:
1) The FS UUID issue
2) The kernel reflink support wrt `xfsprogs` in the CSI containers.

Both should be addressed with https://github.com/ceph/ceph-csi/pull/990

[2020-04-29 10:16] nixpanic commented on #998
This does not work until we have a bot that handles these requests. After @Yuggupta27 responds in this issue, we can manually assign him.

[2020-04-29 10:23] Yuggupta27 commented on #998
Thanks! I'm on it👍

[2020-04-29 16:22] volvicoasis commented on #966
Hello all, thanks for all your amazing work.
I can contribute with my env (test).
Same here with
redhat kernel 3.10.0-957 el7,
k8s 1.15.5
ceph csi 2.1.0
Storage class type fs is xfs of course
Just a single creation of pvc
In kernel output on node :
[5549047.308318] XFS (rbd11): Superblock has unknown read-only compatible features (0x4) enabled.
[5549047.309603] XFS (rbd11): Attempted to mount read

[2020-04-30 02:31] peacocktrain commented on #970
How to repair？

[2020-04-30 03:23] joscollin commented on #970
@peacocktrain

Your initial problem itself doesn't give enough idea what you are trying to achieve.

Why did you do that? Is it a part of your workflow?

At this stage, you have to define what do you want to recover on your cluster. There are different disaster recovery methods for CephFS defined under: https://docs.ceph.com/docs/master/cephfs/#troubleshooting-and-disaster-recovery. These are only

[2020-04-30 04:13] peacocktrain commented on #970
@joscollin
ceph cluster is HEALTH_OK .
I mean the mounted pv is not available，the mount file is damaged.
I want to recover mounted pv to the available state

[2020-04-30 06:12] joscollin commented on #970
What happens when you try to remount?

@Madhu-1 Will it (PV) try to remount in this scenario?

[2020-04-30 06:27] peacocktrain commented on #970
csi report err

`E0423 03:19:03.235751 1 utils.go:161] ID: 59294 GRPC error: rpc error: code = Internal desc = stat /var/lib/kubelet/pods/37124b57-9d0d-4aea-8e42-488db9ae2e3d/volumes/kubernetes.io~csi/pvc-minio-0-copy/mount: permission denied`

damaged mount file
![image](https://user-images.githubusercontent.com/15363932/80679027-aac35900-8aee-11ea-994f-1a8882910664.png)

[2020-04-30 06:36] joscollin commented on #970
So this error is basically a Permission Denied from the CSI. We need to fix that issue first before thinking about the "recovery".

@Madhu-1 Why this gives a Permission Denied?

[2020-05-01 19:09] kfox1111 opened #1001 "csi-rbd provisioner resources"
The helm chart does not allow you to independently set resources for the csi-rbdplugin in the provisioner separately from the node. We are finding that the mememory uses are different for each. The node is how many parallel mounts need to happen at once. The provisioner needs more memory to cover all the creates/deletes that can happen in parallel.

[2020-05-01 19:31] kfox1111 commented on #921
We're still running hard into this issue. https://github.com/ceph/ceph-csi/projects/3 makes it seem like the go based fix is still a long time out. How do we fix this in the mean time?

Can we limit the number of grpc calls it takes a time? That may help.

[2020-05-01 19:38] kfox1111 commented on #921
Looks like the provisioner supports a flag:
--worker-threads <num>: Number of simultaneously running ControllerCreateVolume and ControllerDeleteVolume operations. Default value is 100.

This value is WAY too high with forking. But setting it lower should fix the problem.

Currently the helm chart does not allow this to be set. Please can we add support for that?

Thanks!

[2020-05-01 22:12] kfox1111 commented on #921
I can confirm on my cluster once I patched in --worker-threads=4 the cluster became reliable.

[2020-05-02 09:33] mehdy commented on #798
Just to be verbose, I'll continue working on this issue with the third option (`csi-config.yaml`).

[2020-05-02 15:48] LuckySB opened #1002 "CephFS CSI driver not update quota when pvc request size resized"
# Describe the bug #
Change in pvc.yaml
[code]
storage: 20Mi

pv and pvc object in kubernetes changed
[code]

but quota on cephfs directory not changed
[code]
# Environment details #

- Image/version of Ceph CSI driver
2.1.0
- helm chart version
- Kubernetes cluster version
1.16.9
- Logs
`k logs ceph-csi-cephfs-provisioner-6d7cb9978b-b58nh -c csi-resizer`
[code]
# Steps to reproduce #

install csi

[2020-05-04 05:03] Madhu-1 opened #1003 "Cannot run cephcsi on multi arch (amd64,arm64) kubernetes cluster"
If the kubernetes nodes in a cluster are having both amd64 and arm64 nodes, cephcsi cannot be utilized, In node plugin, you can specify either arm64 or amd64 image, not both,.
we have restrictions in quay.io as quay does not support multi-architecture images. you need to move to dockerhub for our official images or get the support from quay.io(am not sure it's possible)

[2020-05-04 05:15] Madhu-1 commented on #1002
on which directory you checked the PVC size?

i suggest you mount the PVC to an app and check the directory size. if the size is not reflected please let us know

[2020-05-04 05:56] Madhu-1 commented on #970
no idea why its permission denied @peacocktrain can you please check the cephfs subvolume is mounted on the cephfsplugin container? if yes can you try to write some data to it?

[2020-05-04 05:57] Madhu-1 commented on #970
@peacocktrain can you please provide logs of cephfsplugin once the node is rebooted?

[2020-05-04 06:00] Madhu-1 commented on #966
@dillaman @humblec as a temp fix how about changing the base image back to ceph:v14.2 in release v2.1 branch?
but in the long run we need to fix this issue.

[2020-05-04 06:09] Madhu-1 commented on #834
@dillaman still this need fix in ceph document https://docs.ceph.com/docs/master/rbd/rbd-kubernetes/

[2020-05-04 07:53] nixpanic commented on #1003
Can Rook have a variable that it substitutes when using the name of the image?

Does Ceph support a mix of architectures in the same cluster?

[2020-05-04 07:55] Madhu-1 commented on #1003
not always required. cephcsi can use the external ceph cluster. this is not specific to ceph or rook I believe

[2020-05-04 07:56] nixpanic commented on #1001
@Madhu-1 or @leseb were you not looking into this for Rook?

[2020-05-04 07:57] Madhu-1 commented on #1001
this is already fixed in rook

[2020-05-04 07:57] Madhu-1 commented on #1001
here it is https://github.com/rook/rook/pull/5287

[2020-05-04 08:39] nixpanic commented on #1001
Should this not also get added to the Helm charts and examples we maintain in this repository?

[2020-05-04 08:41] Madhu-1 commented on #1001
yes, these changes we need in helm charts, its kind of refactoring the helm value.yaml files.

[2020-05-04 08:55] humblec commented on #966
Yeah as dicussed in slack( cephcsi.slack.com) lets revert the base image in 2.1 branch and come back with the complete fix later.

[2020-05-04 09:09] nixpanic opened #1006 "In case mounting fails, log a recommendation to check the kernel logs"
In case mounting of an RBD-image or CephFS-volume fails, the error reported by the `mount` command (for kernel clients) is probably not sufficient to identify the issue. Users that hit problems while mounting should also look in the kernel logs (`dmesg` command).

When mounting fails, the node-plugin should give a suggestion to check the kernel logs, so that users can report problems better.

[2020-05-04 09:10] Madhu-1 commented on #1006
we need to update the github issue template for the user to include the logs. let me add more details to issue template

[2020-05-04 09:28] nixpanic commented on #1006
Yes, that would be a good addition as well.

[2020-05-04 10:15] nixpanic commented on #1003
I do not mean an environment variable, but wanted to know if Rook can adapt the envionement variable for deployments, and separate them out per architecture. Like passing
[code]
but I guess not, as Docker Hub supports multi-arch container images...

Ceph clients (provisioner, attacher) and MONs, OSDs, ... are all part of the same Ceph cluster. Can these run on a mix of architectures? It does not m

[2020-05-04 10:15] Madhu-1 commented on #959
this is fixed now

[2020-05-04 10:15] #959 closed

[2020-05-04 10:34] Madhu-1 commented on #1003
i don't think its possible, as the daemonset need to be run on different arch, the rook cannot control it

provisioner and attacher are CSI components, they should be able to run on the different arch, let's just keep rook aside now. cephcsi should be able to consume the ceph cluster. i don't think ceph won't work in such environment
cc @dillaman @travisn

[2020-05-04 10:44] Madhu-1 opened #1010 "Release v2.1.1 of Ceph CSI driver"
- [x] **Define release process**
  - Release doc would be a good start
- [x] **Define release deadlines**
  - GA : 05-May-2020

- [x] **Define/list roadmap for v2.1.1**
  - Proposed contents for v2.1.1 release
  - The release blockers (issues/PRs) are attached to [the `release-2.1.1` milestone](https://github.com/ceph/ceph-csi/milestone/4)

  - [x] Bug fix for xfs
     #966
    https://github.com/

[2020-05-04 10:57] humblec commented on #1010
Thanks @Madhu-1 ..

[2020-05-04 14:47] nixpanic commented on #434
There are a few old commits in my [wip/rbd/go-ceph](https://github.com/nixpanic/ceph-csi/commits/wip/rbd/go-ceph) tree. See commits like `util: use go-ceph for GetOMapValue()`. These need to get adapted to use `rbdVol.conn.GetIoctx(poolname)` as is done for `deleteImage()` in PR #862

[2020-05-04 15:45] nixpanic opened #1011 "GitHub should not report all tests as passed when parsing .travis.yaml fails"
# Describe the bug #

When there is an error in the `.travis.yaml` file, Travis CI does not run. The checks in the PR are green, as everything (mergify only) passed. There should be a check in the mergify configuration that highlights the not-passing of Travis CI.

[2020-05-04 15:50] kfox1111 commented on #921
There may be other --worker-threads options in other sidecars. We should set them all for better reliability.

[2020-05-04 15:50] kfox1111 commented on #1010
Needs the fix for threads in https://github.com/ceph/ceph-csi/issues/921 before release I think.

[2020-05-04 15:53] Madhu-1 commented on #1010
IMO #921 is not a blocker bug for the release. I feel it's an enhancement  not a regression.

[2020-05-04 15:55] kfox1111 commented on #1010
ok.

[2020-05-04 23:12] LuckySB commented on #1002
[code]

mount cephfs to external server and check
[code]
getfattr inside pod
[code]

size in manifests changed, but aatribute with quota not increased

[2020-05-05 04:01] Madhu-1 commented on #1002
@humblec PTAL

[2020-05-05 04:02] Madhu-1 commented on #773
@humblec I don't have the permission to add bot to this project, can you please resolve this one?

[2020-05-05 04:03] Madhu-1 commented on #743
@humblec I don't have the permission to add bot to this project, can you please resolve this one?

[2020-05-05 04:58] humblec commented on #773
@Madhu-1 let me check

[2020-05-05 04:59] humblec commented on #743
sure.

[2020-05-05 05:39] humblec commented on #1002
@LuckySB can you please let us know the ceph cluster version running in the backend ?

[2020-05-05 05:42] humblec commented on #1002
@kotreshhr can you please check why the quota didnt get adjusted here ?

[2020-05-05 07:39] humblec commented on #1002
@joscollin any idea why quota resize is not happening in this cluster?

[2020-05-05 08:00] Madhu-1 commented on #1010
cephcsi v2.1.1 is released more info at https://github.com/ceph/ceph-csi/releases/tag/v2.1.1

[2020-05-05 08:00] #1010 closed

[2020-05-05 08:31] joscollin commented on #1002
@humblec @LuckySB Hold on for resizing the quota. First of all, check if quota is available or not.
Which mounting method you use? Do you have kernel client >= 4.17? Do you have mimic+ cluster (mimic or later versions)?

[2020-05-05 08:39] joscollin commented on #1002
You will fail to handle quotas on older clusters(older than mimic), even if you may be able to set the quotas.

[2020-05-05 08:50] Madhu-1 commented on #1002
@joscollin
this should not be a cluster issue as the subvolume is already supported (means the user is able to create the PVC), the issue can be the mounter, checking kernel version can help us. but if the kernel version is less than 4.17 the fuse will be used as the default, unless its overridden in storage-class or deployment(i don't think kernel version is helpful here)

Is anything helpful if

[2020-05-05 08:57] joscollin commented on #1002
I repeat:
Which mounting method you use? Do you have kernel client >= 4.17? Do you have mimic+ cluster (mimic or later versions)?

Else forget about quotas.

[2020-05-05 11:48] chandr20 commented on #966
@humblec @Madhu-1 @dillaman @nixpanic @iExalt
Thanks for the support issue is fixed in cephcsi-2.1.1

[2020-05-05 12:26] humblec commented on #966
@chandr20 Thanks for the confirmation!!! Also appreciate for getting back with the result !

[2020-05-05 12:29] humblec commented on #773
The bot is working now !! thanks !

[2020-05-05 12:34] Madhu-1 commented on #773
@humblec Still need to add commitlint bot https://probot.github.io/apps/commitlint/

[2020-05-05 12:41] LuckySB commented on #1002
ceph nautilus 14.2.9 on centos from community repo
installed via ceph-ansible  https://github.com/ceph/ceph-ansible

[2020-05-05 12:42] Madhu-1 commented on #773
closing as both bots added now.

[2020-05-05 12:42] #773 closed

[2020-05-05 12:42] LuckySB commented on #1002
kernel version 4.20.13-1.el7.elrepo.x86_64
ceph nautilus 14.2.9

[2020-05-05 13:57] LuckySB commented on #1002
mds log: https://pastebin.com/pTr2Vygb
mgr log: https://pastebin.com/JAAMfur0  (without log_channel(cluster) log [DBG] line)

[2020-05-05 13:59] LuckySB commented on #1002
[code]
[code]
[code]

[2020-05-05 19:50] kotreshhr commented on #1002
@LuckySB We would need mds logs from all the nodes during the operation.

[2020-05-05 20:19] LuckySB commented on #1002
node-1: https://pastebin.com/Gq8QwwDH
node-2: https://pastebin.com/7EC0AKn1
ingress-1: https://pastebin.com/pTr2Vygb

[2020-05-05 22:29] LuckySB commented on #1002
[code]

[2020-05-05 23:21] travisn commented on #1003
@Madhu-1 Ceph and Rook both have multi-arch images today, which has allowed Rook to run in the multi-arch environments. I haven't heard any issues of the multi-arch clusters about incompatibility for Ceph. We need the CSI driver to also have multi-arch images since the only alternative in those environments is to use the flex driver.

[2020-05-06 01:42] donggyupark commented on #1002
I also had the same issue.
In my case, I had deployed ceph csi v2.0 using rook v1.2.7 (kubernetes v1.18)
As a result of testing in various ceph versions, it worked normally in ceph v14.2.2 and v14.2.7, but not in ceph v14.2.8.

In ceph v14.2.8, `cephfs subvolume resize command` has appeared. ( cephfs: mgr/volumes: fs subvolume resize command [pr#31332](https://github.com/ceph/ceph/pull/31332) )

H

[2020-05-06 03:05] peacocktrain commented on #970
It's mounted，but can‘t be writen.

The change after reboot is that the broken mount file is fixed. cephfsplugin recovery journey
So the point is why the mount file is broken when the network is disconnected.@Madhu-1

[2020-05-06 05:38] Madhu-1 commented on #669
@agarwal-mudit whould you like to take this up?

[2020-05-06 05:39] Madhu-1 commented on #1006
@agarwal-mudit would you like to take this up?

[2020-05-06 05:40] Madhu-1 commented on #1006
i will update the issue template

[2020-05-06 05:40] Madhu-1 commented on #1011
@agarwal-mudit would you like to take this up?

[2020-05-06 05:47] Madhu-1 opened #1016 "Update Mergify rules for commitlint bot and DCO bot"
currently, Mergify will merge the PR if the Travis CI is a success. we need to enhance the Mergify rules to merge the PR if all the 3 rules are met.

[2020-05-06 05:55] agarwal-mudit commented on #669
Sure, assign please.

[2020-05-06 05:56] agarwal-mudit commented on #1006
Sure, assign please.

[2020-05-06 05:57] Madhu-1 commented on #669
you can refer https://github.com/ceph/ceph-csi/blob/master/docs/static-pvc.md. we already have doc for RBD

[2020-05-06 05:57] agarwal-mudit commented on #1011
Sure, please assign.

[2020-05-06 05:59] Madhu-1 commented on #1006
need code changes in https://github.com/ceph/ceph-csi/blob/master/internal/rbd/nodeserver.go and https://github.com/ceph/ceph-csi/blob/master/internal/cephfs/volumemounter.go

[2020-05-06 08:34] Madhu-1 commented on #968
closing this as #997 is merged

[2020-05-06 08:34] #968 closed

[2020-05-06 09:14] nixpanic commented on #1003
Are the side cars that we need available as multi-arch image yet? That was an issue earlier, and some users built their own side-cars for non x86_64 architectures.

[2020-05-06 09:16] Madhu-1 commented on #1003
Yes kubernetes CSI team is working on providing the multi arch images for sidecar containers

[2020-05-06 09:16] nixpanic commented on #966
Our current e2e can not test this, as it requires a provisioner with CentOS-8 as base, running attachers on CentOS-7. Removing the `needs test case` label.

[2020-05-06 09:17] Madhu-1 commented on #1003
Yes, that was my assumption as well, we need to move to dockerhub as its supports multi arch now as quay.io currently not supporting it for free account AFAIK.

[2020-05-06 11:09] Madhu-1 commented on #1002
@joscollin @kotreshhr is this the issue? why ceph fs subvolume is not resizing the subvolume if the ceph version is greater?

[2020-05-06 11:19] joscollin commented on #1002
@Madhu-1 I would simply ignore @donggyupark comment, as this is an over-post. It doesn't matter if it is a similar issue or not. Let's continue with the original issue without deviating from it.

@donggyupark Please create a new github issue for your problem and link to #1002.

[2020-05-06 11:19] Madhu-1 commented on #1002
I just verified it the ceph fs subvolume create is not actually resizing the PVC in my cluster ie `15.2.1`

[2020-05-06 11:45] Madhu-1 commented on #1002
this looks to a regression on the CSI side, irrespective or ceph cluster it's connecting to, the cephcsi should be able to resize the PVC, it has to be fixed in CSI layer as to use `ceph fs subvolume resize` for particular ceph versions ie greater than 14.2.8. created https://tracker.ceph.com/issues/45398 for tracking this in ceph

[2020-05-06 11:51] joscollin commented on #1002
Yeah, that's pending on CSI side.

[2020-05-06 11:52] Madhu-1 commented on #671
closing this as we are providing separate arm64 image for cephcsi

[2020-05-06 11:52] #671 closed

[2020-05-06 15:14] nixpanic commented on #1003
This depends on the availability of multi-arch sidecar images from the Kubernetes CSI projects

[2020-05-06 15:41] #1016 closed

[2020-05-06 16:45] LuckySB commented on #1002
@joscollin csi call `fs subvolume create` for resize

[code]

[2020-05-06 17:04] LuckySB commented on #1002
https://github.com/ceph/ceph/blob/a96f9583f4f9d2552e0d326bdac31373faaa0b3e/src/pybind/mgr/volumes/fs/volume.py#L130-L142

if volume open - do nothing with when try to create existings volume

[2020-05-07 07:19] olivejing opened #1022 "cephcsi v2.1.0 image build failed: error: rados/librados.h: No such file or directory"
# Describe the bug #
vendor/github.com/ceph/go-ceph/rados/conn.go:5:29: fatal error: rados/librados.h: No such file or directory
 // #include <rados/librados.h>
                             ^
compilation terminated.
make: *** [cephcsi] Error 2

# Environment details #
go version
go version go1.13.9 linux/amd64

# Steps to reproduce #

run make command to build cephcsi:
`
if [ ! -d ./vendor ]; then

[2020-05-07 07:21] Madhu-1 commented on #1022
@olivejing on which environment you are building cephcsi? you can make use of containerized build `make containerized-build`  to avoid this issue.

[2020-05-07 07:25] olivejing commented on #1022
I build it on one host:
# go version
go version go1.13.9 linux/amd64
# uname -a
Linux olive-deploy 3.10.0-957.21.3.el7.x86_64 #1 SMP Fri Jun 14 02:54:29 EDT 2019 x86_64 x86_64 x86_64 GNU/Linux

[2020-05-07 07:55] nixpanic commented on #1022
Have a look at the [Workspace and repository setup](https://github.com/ceph/ceph-csi/blob/master/docs/development-guide.md#workspace-and-repository-setup). It mentions to install the development packages for Ceph (librbd and cephfs).

When you build with the provided `make containerized-build` command, all dependencies will be installed inside a container and you do not need to install the depende

[2020-05-07 08:19] olivejing commented on #1022
Thanks for your quickly responce, i tried to to install libcephfs-devel librados-devel librbd-devel, but failed:
`
yum install libcephfs-devel librados-devel librbd-devel
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
Resolving Dependencies
--> Running transaction check
---> Package libcephfs-devel.x86_64 2:15.2.1-0.el7 will be installed
--> Processing Dependency: libceph

[2020-05-07 08:34] nixpanic commented on #1022
Installing Ceph packages is not really part of this project, you are better of asking on a Ceph users/developers forum. My guess is that you are missing some other repository, and which one(s) may well be explained in some Ceph documentation.

[2020-05-07 11:07] humblec commented on #1003
/assign @humblec

[2020-05-07 11:11] nixpanic opened #1023 "Remove unmaintained kubernetes versions from testing"
Kubernetes maintains the latest minor version, and the two before it. That means with the release of Kubernetes 1.18, version 1.17 and 1.16 are still maintained. Deployments should not use unmaintained versions, so there is no need to test on older versions either.

See [supported versions in the k8s documentation](https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-versions).

[2020-05-07 11:13] humblec commented on #1023
@nixpanic are you working on the PR ?

[2020-05-07 13:01] nixpanic opened #1027 "Travis CI should run e2e tests with Kubernetes 1.18.2"
Kubernetes 1.18.2 has been released as last patch update for version 1.18. The e2e tests should run with a 1.18.x version too.

Initial tries with [minikube and installing Kubernetes 1.18.2 failed](https://travis-ci.org/github/ceph/ceph-csi/jobs/684226855#L581). Needs some investigation and more testing, maybe an update of minikube as is in progress in PR #868.

[2020-05-07 13:12] Madhu-1 commented on #1027
@nixpanic we need to upgrade minikube first for that one, am tracking this one, will update kube version once this is fixed in minikube

[2020-05-07 14:07] nixpanic commented on #1011
This might be a problem on the Travis CI side. In case `.travis.yaml` can not be parsed (invalid formatting or typo), the state of the PR  should not marked 'passed'.

[2020-05-08 03:59] Madhu-1 commented on #1011
the mergify won't merge the PR if there is an issue with travis yaml file as the build won't be successes you can check the status here https://github.com/ceph/ceph-csi/pull/1028/checks?check_run_id=654968919 for PR https://github.com/ceph/ceph-csi/pull/1028. it is behaving as intended i believe. i don't think travis CI will show as failed as the file is not proper.

[2020-05-08 03:59] Madhu-1 commented on #1011
if required we can file a bug in travis CI to show failure if the yaml is not proper or configuration is not proper

[2020-05-08 04:09] agarwal-mudit commented on #1011
I have corrected the title of the commit and now it is showing that all checks have passed but if you go to mergify checks (https://github.com/ceph/ceph-csi/pull/1028/checks?check_run_id=655286102)  you can see that the checkbox against **status-success=continuous-integration/travis-ci/pr** is not marked check which means that **ci never ran** so I don't think mergify will go ahead with auto mergi

[2020-05-08 08:07] nixpanic commented on #1011
Yes, there is an additional check in mergify to prevent merging. However the PR in github will have a green :heavy_check_mark: even if the `.travis.yaml` is incorrect. I expect that this is something Travis CI should be able to report back to the PR. It may be a configuration option somewhere in the Travis UI, or maybe a setting in the GitHub repository itself.

[2020-05-08 14:09] Tatsu-Kishi opened #1030 "Document RBAC/PSP required namespace changes"
# Describe the bug #

When deploying manually from deploy/rbd/kubernetes manifests into a dedicated namespace (ie. not default), the rbac and psp files require the namespaces for references to be updated.
This is nowhere documented outside of those files.

https://github.com/ceph/ceph-csi/blob/master/docs/deploy-rbd.md

# Environment details #
- Image/version of Ceph CSI driver: 2.1.1

# Steps to

[2020-05-09 03:06] olivejing commented on #1022
Thanks, i will try to change my config.

[2020-05-11 08:10] Madhu-1 commented on #1022
closing this as nothing need to be fixed on cephcsi side for this one

[2020-05-11 08:10] #1022 closed

[2020-05-11 09:04] #743 closed

[2020-05-11 15:55] discostur opened #1038 "Add support for ReadWriteMany (RWX) for rbd"
# Describe the feature you'd like to have #

Regarding the ceph-csi / rbd-kubernetes documentation (https://docs.ceph.com/docs/master/rbd/rbd-kubernetes/) you are able to mount a rbd device in "block" mode RWX. If you choose the default filesystem mode, you are only able to mount it in "RWO" mode.

If it is possible it would be helpful if you can mount an rbd image in filesystem mode RWX.

# What

[2020-05-11 15:59] dillaman commented on #1038
ext4 and XFS are not cluster-aware file systems and therefore cannot operate in RWX mode (w/o massive data corruption). If you want to use RBD in RWX mode, you need to use block and install your own cluster-aware file system on top (i.e. GFS2)

[2020-05-11 16:02] discostur commented on #1038
@dillaman ok thanks for the explanation

[2020-05-11 16:02] #1038 closed

[2020-05-11 18:29] ferdelatejera commented on #865
Is this Ceph CSI driver still on track for 6/30? I noted at the top of the issue these deadlines:

Code Freeze : 20 -Jun-2020
RC : 25-Jun-2020
GA : 30-Jun-2020

[2020-05-11 18:54] humblec commented on #865
@ferdelatejera yes, that's the current ETA for the release. If any change, it will be populated/updated here.

[2020-05-11 19:30] #1023 closed

[2020-05-11 22:27] isehgu opened #1040 "csi-rbdplugin causes kubelet to die"
# Describe the bug #

When csi-rdbplugin pod is running on the node, kubelet keeps dying.

# Environment details #

- Image/version of Ceph CSI driver : quay.io/cephcsi/cephcsi:v1.2.2
- Helm chart version : rook-ceph 1.2.6
- Kernel version : 4.19.106 (Coreos 2345.3.0)
- Kubernetes cluster version : 1.17.4
- Ceph cluster version : 14.2.8

# Steps to reproduce #

Steps to reproduce the behavior:

1.

[2020-05-12 06:28] Madhu-1 commented on #1040
Apr 22 18:55:02 worker22 rkt[21726]: E0422 22:55:02.962109   21726 kubelet.go:1844] skipping pod synchronization - container runtime status check may not have completed yet
Apr 22 18:55:03 worker22 rkt[21726]: I0422 22:55:03.102293   21726 cpu_manager.go:173] [cpumanager] starting with none policy
Apr 22 18:55:03 worker22 rkt[21726]: I0422 22:55:03.102352   21726 cpu_manager.go:174] [cpumanager] r

[2020-05-12 06:57] #1002 closed

[2020-05-12 07:10] nixpanic opened #1042 "Check for available Ceph development headers"
# Describe the feature you'd like to have #

The `scripts/check-env.sh` script should verify that the Ceph development headers are available and fail with a useful error when they are missing.

# What is the value to the end user? (why is it a priority?) #

New developers that run `make` will get useful error messages, and a hint to install additional tools, libraries or make other changes to thei

[2020-05-12 11:51] invent-lwj opened #1047 "Some pods is can't mount rbd volume on Openshift 4.2"
# Describe the bug #
Pods on some nodes is can't mount rbd volume on Openshift 4.2, but pods on other nodes is can mount rbd volume succeed.

# Environment details #
Openshift 4.2
rbd-csi 2.0

- Image/version of Ceph CSI driver :
quay.io/k8scsi/csi-node-driver-registrar:v1.2.0
quay.io/cephcsi/cephcsi:v2.0.0
quay.io/k8scsi/csi-provisioner:v1.4.0
quay.io/k8scsi/csi-snapshotter:v1.2.2
quay.io/k8scsi/

[2020-05-12 11:56] Madhu-1 commented on #1047
looks like the operator already  in progress, can  you please check below thing in the csi-rbdplugin container
* Any rbd commands are struck with `ps -ef |grep rbd`

note: if you can provide complete logs it will be helpful to check  what is the exact issue

[2020-05-12 13:12] Madhu-1 opened #1050 "Remove unwanted branches in ceph-csi repo"
currently, we have below branches in the repo

[code]
we need to remove the unwanted branches from the ceph-csi repo

[2020-05-12 15:39] isehgu commented on #1040
So here's what I did.
Starting from a clean node with only pods from kube-system are running --

- Put back each ds (except rook-ceph) and then restart kubelet after each. (without the workaround)
  - promtail
  - node-problem-detector
  - monitoring-prometheus-node-exporter
  - sysdig
  - metallb-speaker
- When all other ds are back on the node.
  - Reboot
- Restart kubelet again to verify it can

[2020-05-13 02:16] invent-lwj commented on #1047
Thanks for your quick response.
Maybe the reason is this command `root      651578  646290  0 May11 ?        00:00:01 rbd --id admin -m 9.125.70.41,9.125.70.42,9.125.70.43 --keyfile=/tmp/csi/keys/keyfile-379830399 map openshift42-test/csi-vol-3e6d33e6-935a-11ea-8161-0a580a80011d --device-type krbd`, i run it manually is also stuck. But i run same command on other worker node, it's can map succeed.

[2020-05-13 09:02] nixpanic commented on #1050
These should be kept:

- ci/centos
- master
- release-v1.1.0
- release-v1.2.0
- release-v1.2.1
- release-v2.0
- release-v2.1

Not sure about the `csi-*` or others.

You can delete the branches by pushing like this (may need `--force`?):
[code]

[2020-05-13 09:20] humblec commented on #1050
@Madhu-1 can you revisit?
the branches I see are these:
`csi-*` are for legacy reasons.

[2020-05-13 09:23] Madhu-1 commented on #1050
now unwanted branches are deleted.
but do we need to keep release-* in upstream to track downstream releases? can that be moved to openshift org?

[2020-05-13 09:24] Madhu-1 commented on #1050
just to add only release-v4.2 is for downstream, not other release-v1.2 or release-v2.1, etc

[2020-05-13 09:26] humblec commented on #1050
yeah only one branch is there for downstream. So, are you saying we will delete other 2 upstream `release-` branches?

[2020-05-13 09:28] Madhu-1 commented on #1050
not upstream branch, the downstream branch (release-4.2) from ceph/ceph-csi repo. and use openshift/cephcsi for downstream builds

[2020-05-13 09:34] nixpanic opened #1055 "Add make-containerized-test job for CentOS CI"
... or include it in the make-containerized-build job like it is currently done with Travis CI.

[2020-05-13 09:36] Madhu-1 commented on #1055
@nixpanic what are the jobs we are planning to  test in centos CI?
i was think we can  run E2E testing in centos CI and other small  jobs can be run on Travis CI. any thoughts?

[2020-05-13 09:38] Yuggupta27 commented on #1055
I would love to work on it!

[2020-05-13 10:18] nixpanic commented on #1050
There should not be any downstream branches in an upstream project?! Use a downstream fork of the git repository for that.

[2020-05-13 11:51] nixpanic opened #1057 "Replace unmaintained commitlint by confgurable CI job"
# Describe the bug #

[commitlint](https://github.com/z0al/commitlint-bot) is not maintained and the Semantic Pull Request bot is not a suitable replacement (#1053).

We need a functional bot or CI job that can be configured for the use in Ceph-CSI.

# Additional context #

A Travis CI job with [conventional-changelog/commitlint](https://commitlint.js.org/#/guides-ci-setup) should be simple to set

[2020-05-14 01:45] peacocktrain commented on #970
Is there any progress？

[2020-05-14 07:17] invent-lwj commented on #1047
Hi Madhu-1, i see `mkfs.ext4` and `fsck` process always running at every time. Would you tell me some way to remove them?
[code]
I have deleted those pvc and pv, but it's also existed, i have remove three rbd images on ceph server. How to clean them? Thanks!
[code]

[2020-05-14 08:28] Madhu-1 commented on #1047
the fsck  and mkfs run on the rbd image where there is a node stage request and it will be done only once per node( ie the nodestage is only once per PVC on a node).

i assume the when you are deleting the app pod the kubelet will unmap the below rbd images i dont know why they are still present on the node.

once suggest  is that you can manually unmap the rbd images from the node (if  you are su

[2020-05-14 08:34] Madhu-1 commented on #970
@peacocktrain is there any way i can reproduce this issue in a VM? if yes can you give me the exact commands or steps to reproduce this issue

[2020-05-14 08:36] Madhu-1 commented on #970
Even am not sure who will restart the pods when the network system is back online? either its job of kubelet or others. when you disconnected the network cephfs-plugin pod will be in running the state?

[2020-05-14 08:52] invent-lwj commented on #1047
I found even if i delete pod and pv and pvc, the `mkfs` process is still exited
[code]
Output of dmesg of csi-rbdplugin container
[code]
I run `rbd map <IMAGE_NAME>` and `mkfs.ext4 -m0 -Enodiscard,lazy_itable_init=1,lazy_journal_init=1 /dev/rbd0`, this rbd image can be formatted suceed.
What's wrong on `mkfs.ext4` command?
Thanks!

[2020-05-14 08:59] Madhu-1 commented on #1047
checking with experts @dillaman @idryomov @nixpanic any idea on this one?

[2020-05-14 09:00] Madhu-1 commented on #1047
if more `mkfs` command runs in parallel you might see this issue. restarting the pod fixes this issue(this should not a fix it will be a workaround)?

[2020-05-14 09:03] invent-lwj commented on #1047
I first found upper error message, then run `rbd map <IMAGE_NAME>` and `mkfs.ext4 -m0 -Enodiscard,lazy_itable_init=1,lazy_journal_init=1 /dev/rbd0` on ceph monitor.
So i think mkfs don't run in parallel.

[2020-05-14 09:05] Madhu-1 commented on #1047
what I meant was when you have more number of PVC are getting mounted to app pod on the same node, CSI will handle the request in individual goroutines

[2020-05-14 09:10] invent-lwj commented on #1047
And more, i delete csi-rbdplugin-4cnwx pod is stuck.
[code]
pod is can't remove on worker node
[code]

[2020-05-14 09:12] nixpanic commented on #921
There are also PRs #1033 and #1034 that add `--worker-threads`. In one of the PRs there is a discussion/question about the ideal value for this, and how testing was done.

[2020-05-14 09:12] invent-lwj commented on #1047
Thanks for your attend, just one pvc on this node and one app pod mount it.

[2020-05-14 09:21] Madhu-1 commented on #1047
it's better to discuss and debug the issue in the upstream slack channel instead of having a discussion here. you can follow https://github.com/ceph/ceph-csi#contact to join the slack channel

[2020-05-14 09:40] Madhu-1 commented on #1030
@Tatsu-Kishi you need to change the namespace if you want to run in a different namespace, we have added a comment for replacing the namespace where you want to replace it

example https://github.com/ceph/ceph-csi/blob/master/deploy/rbd/kubernetes/csi-nodeplugin-psp.yaml#L51-L52
best option is to run some shell script to replace `namespace: default` with required values and then deploy the cephcsi

[2020-05-14 12:05] vgauzzi opened #1062 "Volume provisioning fails with error: failed to provision volume with StorageClass "csi-rbd-sc": rpc error: code = Aborted desc = an operation with the given Volume ID ... already exists"
# Describe the bug #

when following the instructions in docs.ceph.com/docs/master/rbd/rbd-kubernetes/ and the additional fix suggested in github.com/ceph/ceph-csi/issues/834 the pvc hangs impending with the
[code]

# Environment details #

- Kubernetes cluster version :
minikube version: v1.10.1
commit: 63ab801ac27e5742ae442ce36dff7877dcccb278

# Steps to reproduce #

Steps to reproduce the behav

[2020-05-14 12:12] Madhu-1 commented on #1062
please provide logs from csi-rbdplugin container of provisioner pod

looks like some commands are struck,  can you exec into the csi-rbdplugin of the provisioner pod and check?

[2020-05-14 12:14] vgauzzi commented on #1062
the requested logs are already included, sorry for the bad formatting, I couldn't separate it better, ill check regarding the commands

[2020-05-14 12:17] vgauzzi commented on #1062
here is the requested logs

`I0514 11:42:48.300042    7108 cephcsi.go:117] Driver version: canary and Git version: 25ea25368a7ccf9b65c10f87c744ea4526c90ed0
I0514 11:42:48.300164    7108 cephcsi.go:172] Starting driver type: rbd with name: rbd.csi.ceph.com
I0514 11:42:48.325501    7108 mount_linux.go:173] Cannot run systemd-run, assuming non-systemd OS
I0514 11:42:48.325535    7108 mount_linux.go:1

[2020-05-14 12:22] Madhu-1 commented on #1062
looks like some commands are struck, can you exec into the csi-rbdplugin of the provisioner pod and check? i dont see any operation happening (check any rados or rbd commands are struck)

[2020-05-14 12:22] vgauzzi commented on #1062
Sorry for the confusion, I couldn't format it better the logs were included in the question

[2020-05-14 12:31] vgauzzi commented on #1062
could you provide further instructions on how to do that?

[2020-05-14 12:36] Madhu-1 commented on #1062
you need to check in  provisioner pod
[code]

[2020-05-14 12:41] vgauzzi commented on #1062
output is:

sh-4.4# ps -ef|grep rados
root        65    49  0 12:40 pts/0    00:00:00 grep rados
sh-4.4# ps -ef |grep rbd
root         1     0  0 11:43 ?        00:00:00 /usr/local/bin/cephcsi --nodeid=minikube --type=rbd --controllerserver=true --endpoint=unix:///csi/csi-provisioner.sock --v=5 --drivername=rbd.csi.ceph.com --pidlimit=-1
root        67    49  0 12:40 pts/0    00:00:00 grep rbd

[2020-05-14 12:43] Madhu-1 commented on #1062
can you get the output from all provisioner pods?

[2020-05-14 12:46] invent-lwj commented on #1047
I create a rbd image on ceph server manully and disable some feature, only retain layering.
[code]
I can map on some worker-node by `rbd --id admin -m 9.125.70.41,9.125.70.42,9.125.70.43 --keyfile=ceph_key map test_lwj --device-type krbd` manully, but it's stuck on other worker-nodes.
dmesg output of map stuck container:
[code]

[2020-05-14 12:49] vgauzzi commented on #1062
all pods give the same output

kubectl exec  -it pod/csi-rbdplugin-provisioner-766d788cc-8mxnr -c csi-rbdplugin sh
sh-4.4#  ps -ef|grep rados
root        21    14  0 12:45 pts/0    00:00:00 grep rados
sh-4.4#  ps -ef |grep rbd
root         1     0  0 11:43 ?        00:00:00 /usr/local/bin/cephcsi --nodeid=minikube --type=rbd --controllerserver=true --endpoint=unix:///csi/csi-provisioner.sock --v=5

[2020-05-14 12:58] Madhu-1 commented on #1062
Sorry to ask again can you please check any ceph commands are struck? And all get 'ps -ax' output also

[2020-05-14 13:09] vgauzzi commented on #1062
ps -ax outputs:

[code]

on all provisioners and
[code]
on ceph

[2020-05-14 13:42] dillaman commented on #1047
I would double-check that your worker nodes can properly connect to *all* the OSDs in your Ceph cluster. Those specific messages usually mean that the socket is being closed due to in-activity (which is normal).

[2020-05-14 14:55] nixpanic opened #1065 "Add mergify rule to merge PRs with a single positive review and special label"
In todays call we discussed about the difficultie of reviewers keeping up with the number of new and updated PRs. There are many PRs that have been reviewed by a single reviewer, and are waiting for a 2nd one.

In order to speed up the development of Ceph-CSI, we decided that there can be a label that indicates a 2nd review is not needed (or the opposite, implementation does not matter).

The sugg

[2020-05-14 14:56] Madhu-1 commented on #1065
@nixpanic i have sent a PR with slightly different approach PTAL if that works out https://github.com/ceph/ceph-csi/pull/1064

[2020-05-14 16:54] #979 closed

[2020-05-14 19:43] #998 closed

[2020-05-15 01:46] chris-sanders opened #1067 "Pod creation fails with "staging path does not exists on node""
# Describe the bug #

Trying to setup ceph-csi with microk8s against a ceph cluster, just rbd for now. The plugin installs, a pvc/pv is created and be seen in ceph, but the pod stalls with the missing staging path error in the title. The path is indeed missing when I look on the worker, but I can't figure out where/how it was suppose to be created.

# Environment details #

- Image/version of Ceph

[2020-05-15 08:21] nixpanic opened #1069 "Address review comments for e2e/snapshot.go"
PR #924 re-enabled tests that were commented out. Several review comments have been added to improve the test cases. These still need to be addressed, see the comments in the PR for the tasks.

[2020-05-15 08:59] nixpanic commented on #1067
The error comes from [util/validate.go](https://github.com/ceph/ceph-csi/blob/master/internal/util/validate.go#L30) which uses the staging path it received from the request. The `StagingTargetPath` is passed from the Kubernetes-CSI layer into the cephcsi NodeServer. Unfortunately cephcsi does not seem to log the staging path in error cases.

You might be able to increase the verbose/debug level of

[2020-05-15 09:01] Madhu-1 commented on #1067
E0515 01:25:50.964644 498118 utils.go:163] ID: 28 Req-ID: 0001-0024-28c76192-9586-11ea-9b35-00163e408a9d-0000000000000003-9bb25594-9645-11ea-a90d-1ef02b6b9cff GRPC error: rpc error: code = InvalidArgument desc = staging path does not exists on node

the staging path is available in the node, let me give a try to deploy cephcsi in microk8s I tried last time with the rook. with few modifications, it

[2020-05-15 09:02] vgauzzi commented on #1062
any further advice you could provide?

[2020-05-15 09:05] Madhu-1 commented on #1062
have you executed this command and its command stuck?

[2020-05-15 09:08] nixpanic commented on #1067
Ah, yeah, it gets logged already!

Maybe we should try to run e2e tests on microk8s in addition to a minikube environment?

[2020-05-15 09:11] Madhu-1 commented on #1067
it will be a more work, we can do it.

[2020-05-15 09:29] Madhu-1 commented on #1067
- name: socket-dir
              mountPath: /csi
            - mountPath: /dev
              name: host-dev
            - mountPath: /sys
              name: host-sys
            - mountPath: /run/mount
              name: host-mount
            - mountPath: /lib/modules
              name: lib-modules
              readOnly: true
            - name: ceph-csi-config
              mountPath: /etc/c

[2020-05-15 09:32] Madhu-1 commented on #1067
as the  `/var/snap/microk8s/common/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-14670fe3-b4c6-4924-8660-dcbcfdc05504/globalmount` staging path directory is not present on the container it will throw the error,  if you map the directories to the same path as host path it should work.

[2020-05-15 12:44] vgauzzi commented on #1062
we are using croit for management and it ran that, but the command is not stuck and is not there anymore, any other logs I could provide you?

[2020-05-15 13:13] chris-sanders commented on #1067
You're right that was it, pod started right up after that. I didn't even catch that the path was the full hostPath. I was thinking all of the modified host paths were mapped to their standard locations in the containers and the rest of the plugin wouldn't know the difference.

For future travelers these two edits fixed it:

[2020-05-15 13:13] #1067 closed

[2020-05-15 16:15] Yuggupta27 commented on #1055
Since #1068 is merged, anything else is required or can we close this issue?

[2020-05-16 03:25] chenxuc opened #1072 "Cannot detect error for not enough space"
# Describe the bug #

I use rook to create a ceph cluster with CSI in my single node k8s cluster. My backend total harddisk for the ceph cluster is only 10G size. But when I create a pod with 20G PVC/PV block device, there's no error or warning reported that the ceph cluster does not have enough space. And the pod still up and running.

I understand Ceph cluster images are sparse and it allows ove

[2020-05-17 12:57] ezYakaEagle442 opened #1073 "HELM install doc does not mention which repo to add"
# Describe the feature you'd like to have #
Improve install doc

What new functionality do you want?
# What is the value to the end user? (why is it a priority?) #
Improve user experience

The [HELM install doc](https://github.com/ceph/ceph-csi/blob/master/charts/ceph-csi-cephfs/README.md) does not mention which repo to add

How would the end user gain value from having this feature?

# How will w

[2020-05-18 07:22] Madhu-1 commented on #1072
Thanks for opening the issue, closing as this is Duplicate of https://github.com/ceph/ceph-csi/issues/820

[2020-05-18 07:22] #1072 closed

[2020-05-18 07:29] Madhu-1 commented on #1062
I don't see any failure in logs, if the operation is in progress we will return this error message.  as you said you are not seeing any commands which are hang am  out of the idea

[2020-05-18 08:29] Madhu-1 opened #1076 "Update helm chart documentations"
Current helm chart Readme https://github.com/ceph/ceph-csi/blob/master/charts/ceph-csi-cephfs/README.md and https://github.com/ceph/ceph-csi/tree/master/charts/ceph-csi-rbd  will talk about only on how to install and uninstall cephfs and rbd csi driver. we need to document all the available options when deploying these helm charts, This will help users to understand available options which they ne

[2020-05-18 08:43] nixpanic commented on #1055
Yes, as we noticed there needs to be a re-try in case the reserving of a bare-metal machine fails.

Also, both containerized-test and containerized-build stages could be run in parallel (nice enhancement, not urgent)

[2020-05-18 10:29] ezYakaEagle442 opened #1077 "HELM install failed with Azure RedHat Openshift"
# Describe the bug #

CEPH HELM chart  installation failed with Azure RedHat Openshift 4.3.
The security context looked correctly set both in [yaml ](https://github.com/ceph/ceph-csi/blob/master/charts/ceph-csi-cephfs/templates/provisioner-deployment.yaml#L117) and [HELM chart](https://github.com/ceph/ceph-csi/blob/master/deploy/cephfs/kubernetes/csi-cephfsplugin.yaml#L25) , the issue is that the

[2020-05-18 10:31] ezYakaEagle442 commented on #1077
[code]

but the deployment fails with the same error :

12s         Warning   FailedCreate        replicaset/csi-cephfsplugin-provisioner-54d955869d   Error creating: pods "csi-cephfsplugin-provisioner-54d955869d-" is forbidden: unable to validate against any security context constraint: [spec.volumes[1]: Invalid value: "hostPath": hostPath volumes are not allowed to be used spec.volumes[2]: Inval

[2020-05-18 10:31] Madhu-1 commented on #1077
@ezYakaEagle442 Thanks for reporting the issue the deployment files and helm charts what we have now is only tested with upstream kubernetes not openshift, PR's are welcome to update required templates and documentation to deploy cephcsi  on OCP

[2020-05-18 11:58] ezYakaEagle442 commented on #1077
I was wrong to create a new SCC as the pods are configured with the existing privileged one, so it looks like that was just need was :
**oc adm policy add-scc-to-user privileged system:serviceaccount:$CSI_NAMESPACE:cephfs-csi-nodeplugin**

[code]

[2020-05-18 12:21] mattirantakomi opened #1079 "Make ceph fs subvolume path available on PV/PVC details"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Full CephFS CSI volume details should be available through `kubectl describe pvc/pv`. At the moment only csi volume name (part of PersistentVolume: spec.csi.VolumeHandle) is available.

Subvolume information in PV/PVC could be something like:
[code]

When PVC is mounted on pod, its path will be somethi

[2020-05-18 16:54] ezYakaEagle442 commented on #1077
repo updated at [https://github.com/ezYakaEagle442/aro-pub-storage/blob/master/setup-store-CSI-driver-ceph.md](https://github.com/ezYakaEagle442/aro-pub-storage/blob/master/setup-store-CSI-driver-ceph.md)

[2020-05-18 18:05] ezYakaEagle442 opened #1082 "Explain how to get User ID & Key + admin ID & Key"
# Describe the feature you'd like to have #

Following [this guideline](https://github.com/ceph/ceph-csi/tree/master/examples) , I wanted to test the CEPH CSI driver but I do not know how to get the here under values to set in the secret.yaml file
-userID
- userKey
- adminID
- adminKey

[code]

# What is the value to the end user? (why is it a priority?) #

At this stage I have used Rook to instal

[2020-05-19 02:36] lanak01 commented on #1062
Having the same problem with csi driver v2.0.0, Git version: e58d537a07ca0184f67d33db85bf6b4911624b44 on k8s v1.16.9 single node cluster.
Noticed that ceph-csi-rbd containers cannot connect to ceph-csi cluster machines or to any network addresses other than local host:
[root@cirrus19 ~]# kubectl exec -it -n ceph-csi-rbd -c csi-rbdplugin ceph-csi-rbd-provisioner-6b5d54b49b-5xgqz -- /bin/bash
bash:

[2020-05-20 05:03] Madhu-1 opened #1087 "Document volumeNamePrefix and snapshotNamePrefix in storageclass"
In https://github.com/ceph/ceph-csi/pull/758 PR we have added a feature to have volumeNamePrefix and snapshotNamePrefix for both cephfs(doesnot support snapshot as of now) and rbd. we need to update the storageclass.yaml file with these parameters

[2020-05-20 05:03] Madhu-1 commented on #1087
/assign @Yuggupta27

[2020-05-20 05:13] Yuggupta27 commented on #1087
On it!

[2020-05-20 05:34] Madhu-1 commented on #1082
rook already provides its own CSI driver for the ceph cluster its managing you can make use of it here is the info about CSI driver on rook https://rook.io/docs/rook/master/ceph-csi-drivers.html

@agarwal-mudit would you like to add documentation about cephfs and rbd user required for cephcsi?

this will be covered in https://github.com/ceph/ceph-csi/issues/360

[2020-05-20 05:36] Madhu-1 commented on #1062
closing this one as its not an issue with cephcsi, before creating PVC, user should make sure the mon is reachable from both provisioner pod and nodeplugin pod

[2020-05-20 05:36] #1062 closed

[2020-05-20 05:39] Madhu-1 opened #1088 "Add documentation to install cephcsi on openshift 4.x"
currently, cephcsi is only deployed and tested with kubernetes. we need to add documentation on how to deploy cephcsi in the openshift cluster.

[2020-05-20 05:40] Madhu-1 commented on #1088
This should cover both on how to deploy using yaml files and also helm insatllation

[2020-05-20 05:42] Madhu-1 commented on #1077
@ezYakaEagle442 Thanks for opening the issue and providing pointers on how to install cephcsi in openshift closing this one as this will be covered in https://github.com/ceph/ceph-csi/issues/1088

[2020-05-20 05:42] #1077 closed

[2020-05-20 05:43] Madhu-1 commented on #1082
closing this one as this need to be covered in #360

[2020-05-20 05:43] #1082 closed

[2020-05-20 05:44] Madhu-1 commented on #1057
@nixpanic hope this can be closed once we add commilint to Travis CI

[2020-05-20 05:45] Madhu-1 commented on #1050
@humblec anything pending here?

[2020-05-20 05:45] Madhu-1 commented on #1055
closing this one as this job is already added to centos CI. @nixpanic @Yuggupta27 Thanks

[2020-05-20 05:45] #1055 closed

[2020-05-20 05:48] Madhu-1 commented on #996
closing this one as this is a permission issue, hope nothing can be done on cephcsi side other than documenting the capabilities which will be covered in #360

[2020-05-20 05:48] #996 closed

[2020-05-20 05:49] Madhu-1 commented on #989
closing this one as this is outside of cephcsi.

[2020-05-20 05:49] #989 closed

[2020-05-20 05:56] Madhu-1 commented on #935
This is not something can be done in cephcsi directly, this has to be fixed in kubernetes closing this one

[2020-05-20 05:56] #935 closed

[2020-05-20 05:58] Madhu-1 commented on #881
@agarwal-mudit would you like to take this up?

[2020-05-20 06:37] #1069 closed

[2020-05-20 07:53] agarwal-mudit commented on #881
Sure, please assign.

[2020-05-20 10:36] #1073 closed

[2020-05-21 15:25] isehgu commented on #1040
Any suggestions?

[2020-05-22 04:44] Madhu-1 commented on #1065
Fixed in #1064 closing

[2020-05-22 04:44] #1065 closed

[2020-05-22 04:49] Madhu-1 commented on #1042
@Yuggupta27 would you like to take this one?

[2020-05-22 04:50] Madhu-1 commented on #1040
@agarwal-mudit can you try to reproduce and see what happens?

[2020-05-22 04:53] Madhu-1 commented on #1027
closing this as a duplicate of https://github.com/ceph/ceph-csi/issues/963. @nixpanic feel free to reopen if both are different

[2020-05-22 04:53] #1027 closed

[2020-05-22 04:54] Yuggupta27 commented on #1042
Sure. Please assign.

[2020-05-22 04:55] Madhu-1 commented on #899
@devopsjonas can you please provide nodeplugin logs, I would like to see is this s corner case and if yes we need to fix this one,

[2020-05-22 05:01] Madhu-1 commented on #718
closing this one as its not a cephcsi issue.

[2020-05-22 05:01] #718 closed

[2020-05-22 05:03] Madhu-1 commented on #669
closing as this is fixed in #1059

[2020-05-22 05:03] #669 closed

[2020-05-22 05:07] Madhu-1 commented on #435
@agarwal-mudit this might be interesting to you, would you like to take this up? the support is already present for rbd we need to add for cephfs

[2020-05-22 05:36] agarwal-mudit commented on #1040
Sure, let me check.

[2020-05-22 05:37] agarwal-mudit commented on #435
sure, please assign.

[2020-05-22 10:19] humblec opened #1095 "Add documentation or support matrix we use for csi release or master branch"
At present its very difficult to assume which sidecar versions are used in this repo and branches. We could add a matrix or update existing support matrix to include this information and it will be really handy.

[2020-05-22 10:19] humblec commented on #1095
@Madhu-1 fyi

[2020-05-22 10:21] Madhu-1 commented on #1095
Thanks for opening this issue humble, we need to document min and Max supported version of kubernetes sidecar

[2020-05-22 10:22] humblec opened #1096 "Add liveness sidecar to ceph csi drivers"
The CSI livenessprobe is a sidecar container that monitors the health of the CSI driver and reports it to Kubernetes via the Liveness Probe mechanism. This enables Kubernetes to automatically detect issues with the driver and restart the pod to try and fix the issue.

[2020-05-22 10:24] humblec commented on #1096
@Madhu-1 fyi

[2020-05-22 17:18] akgunjal opened #1097 "CephFS Volume has Permission Denied error"
# Describe the bug #
CephFS Volume throws Permission Denied error when accessing the volume from pod.

I created a CephFS based PVC on the OpenShift cluster OCP 4.3 version. When I create a pod and mount it in the pod I get `Permission Denied` error while trying to access the mount path. It works fine when I create a privileged container. What is the way to use the CephFS volume using non-privileg

[2020-05-22 17:23] Madhu-1 commented on #1097
Please provide the pod template you used to your testing

[2020-05-22 17:27] Madhu-1 commented on #1097
This is already covered in e2e testing https://github.com/ceph/ceph-csi/blob/c2d4200bd87976f5a65b15f58b3609624a48195d/e2e/utils.go#L808

Also provide the ceph user capabilities used for mounting pvc

[2020-05-22 20:44] dillaman opened #1098 "Limits for RBD create PVC from snapshot"
# Describe the bug #
Prior to the GA release of snapshot support, we need to ensure that the ceph-csi driver enforces some sane limits on snapshot creation and creating PVCs from snapshots.

**RBD snapshot limits**
* no more than 510 RBD snapshots per RBD image

**RBD clone limits**
* no more than 15 images in clone chain
* no more than TBD total clones from a parent image

The ceph-csi driver can

[2020-05-23 20:53] jamesorlakin commented on #1003
I came across this comment recently: https://github.com/moby/moby/issues/39220#issuecomment-492773638. It seems Quay may experimentally support multi-architecture manifests if you request it. I can't find anything official on the matter though, but Prometheus' images are [indeed multiarch](https://quay.io/repository/prometheus/prometheus?tab=tags).

[2020-05-25 13:01] vgauzzi commented on #803
Currently facing the same issue

[2020-05-26 00:18] vvavepacket commented on #838
@mr-yaky

How do you exactly know if its using fuse or kernel?

If I run your command

`kubectl exec -it pod-657bd6cfcd-rgv29 mount  | grep ceph`

and I dont get any, does it mean its mounted using kernel module instead of fuse?

[2020-05-26 02:51] agarwal-mudit commented on #435
@Madhu-1 Please point to the location of the existing rbd tool.

[2020-05-26 02:54] agarwal-mudit commented on #435
Got it, troubleshooting/tools/tracevol.py

[2020-05-26 05:29] akgunjal commented on #1097
@Madhu-1 : I have used `ReadWriteMany` for PVC. Posting the PVC and pod yamls for your reference.

**PVC:**
[code]

**Pod:**
[code]

In the above file, I have commented `securityContext` to reproduce the issue. If I uncomment that it will work.

[2020-05-26 11:11] agarwal-mudit commented on #1040
Not happening on my local minikube setup where only csi plugins are running, have to check on multi node cluster also.

muagarwa@dhcp53-217 rbd]$ kubectl get pods
NAME                                         READY   STATUS    RESTARTS   AGE
csi-rbdplugin-fqq84                          3/3     Running   0          26m
csi-rbdplugin-provisioner-7b4b98b96f-kjbdw   6/6     Running   0          26m
csi

[2020-05-26 15:24] isehgu commented on #1040
I just tried it on a different kernel -- 4.19.68-coreos
Same thing, kubelet kept dying. Kubelet log is attached.
[4.19.68-coreos.log](https://github.com/ceph/ceph-csi/files/4683204/4.19.68-coreos.log)

[2020-05-26 17:31] mr-yaky commented on #838
@vvavepacket yes, I checked with the same way and could see the mounted volume with ceph kernel module. Also you can check which kernel modules already loaded on your k8s node. I guess you still on `fuse` one.

[2020-05-26 17:34] vvavepacket commented on #838
Sorry I'm new to kernel modules. Do you have the command in hand to know which kernel modules are already loaded in a k8s node?

Also what does it say if the volume is mounted using kernel module? Mine says just ext4, no traces of ceph or fuse wording

[2020-05-27 02:39] agarwal-mudit commented on #435
While running the existing script for RBD pvc I found some issue with python, may be when this script was written python version was lower which didn't care about bytes. Newer python version (python 3+) is strict about the binary mode.

For example:
[code]
stdout is opened in binary mode and would be treated as binary-like object, if the coder treats it as string like in the below code:
`lines = [

[2020-05-27 03:31] luhailiang0527 opened #1105 "when i create a Job pod，found pvc do not mount pvc"
kubernetes.io/csi: attacher.MountDevice failed to create newCsiDriverClient: driver name rbd.csi.ceph.com not found in the list of registered CSI drivers

[2020-05-27 03:45] Madhu-1 commented on #1105
@luhailiang0527 can you restart rbd-plugin pod, that should fix the issue.

[2020-05-27 03:47] Madhu-1 commented on #435
as python2.7 is EOL we can consider moving to python 3.x and fix this in all places

[2020-05-27 04:03] luhailiang0527 commented on #1105
thank you very much，i had fix the issue，so ，i close this issue

[2020-05-27 04:08] Madhu-1 commented on #1105
@luhailiang0527 Thanks for the confirmation, closing this issue

[2020-05-27 04:08] #1105 closed

[2020-05-27 04:38] humblec opened #1106 "Remove external-attacher from the repo."
# Describe the bug #

The presence of external-attacher adds on overhead and issues wrt attachment in various scenarios. One of them would be the lack of performance on syncing volumeattachment from api server..etc. More or less we don't have controller publish and unpublish capabilities , so we should not make use of this sidecar and cause unnecessary addon here thus other issues.

A clear and co

[2020-05-27 04:42] humblec commented on #1106
/me on it.

[2020-05-27 04:42] Madhu-1 commented on #1106
This needs extensive testing to make sure there won't be an issue for RWO PVC

[2020-05-27 04:43] Madhu-1 commented on #1106
this is already tried in https://github.com/rook/rook/pull/4172 and reverted back https://github.com/rook/rook/pull/4332 due to the issue we have seen in RWO PVC

[2020-05-27 04:44] humblec commented on #1106
Yeah, rather this need extensive testing for all types of PVCs :).

[2020-05-27 04:45] humblec commented on #1106
The difference here is, this is GA in 1.18 compared to previous versions. So ideally it should work without issues. Lets try out with 1.18 version and see.

[2020-05-27 05:38] Madhu-1 commented on #1097
I don't think this is something with CSI, because the above-pasted pod yaml is same as https://github.com/ceph/ceph-csi/blob/master/examples/cephfs/pod.yaml what we use in our testing, and even we are giving full permission for the target path https://github.com/ceph/ceph-csi/blob/master/internal/cephfs/nodeserver.go#L212

[2020-05-27 05:54] #1087 closed

[2020-05-27 06:12] Madhu-1 commented on #539
This cannot be implemented as subvolume path is dynamic(with subvolume versioning) and cannot be constructed. more info can be found on  https://github.com/rook/rook/issues/5471

@ajarr @ShyamsundarR am I missing something or this can be closed?

[2020-05-27 07:43] mykaul commented on #1096
What is an unhealthy CSI driver? How we define it? Are there are any metrics we can use?

[2020-05-27 07:46] Madhu-1 commented on #1096
if the CSI driver is not sending any response to the GRPC request sent by liveness container it will be treated as unhealthy

how to use liveness is here https://github.com/kubernetes-csi/livenessprobe#usage

[2020-05-27 07:48] Madhu-1 commented on #1096
@humblec as we already have a liveness container which is built as part of ceph-csi can we expose an endpoint and use the same or do we need to use k8s-csi liveness

[2020-05-27 10:52] #1006 closed

[2020-05-27 12:18] akgunjal commented on #1097
@Madhu-1 : The issue I get is when I use CephFS storage class. So I was directed to open a issue here. Is this the right place for CephFS issues? I an easily reproduce the issue with my yaml files.

[2020-05-27 12:51] #1057 closed

[2020-05-27 13:25] ShyamsundarR commented on #1106
Tagging @gnufied

On a prior discussion regarding removal of the attacher, as it improved performance of overall pod startup times, it was pointed out by @gnufied that this essentially means double attach is detected and prevented by the storage plugin, and the basic AD controller will not ensure that the older node running the pod has actually detached etc. (this is even when the csi plugin Contr

[2020-05-27 13:28] ShyamsundarR commented on #539
Agreed, the subdirectory naming is no longer unique for CSI plugin to construct the same.

[2020-05-27 13:28] #539 closed

[2020-05-27 14:38] jisnardo opened #1109 "kubernetes: Unable to attach or mount volumes timed out waiting for the condition"
# Describe the bug #

PVC mounting

Every time a pod wants to use a volume there is an undefined time (from 1 to 15 minutes) until it succeeds.

# Environment details #

k8s v1.16
docker v18.6.3
csi-rbd v2.1.1 (latest available)
Ubuntu 18.04.4 LTS 4.15.0-101-generic

ceph-13.2.2-0.el7.x86_64
ceph-base-13.2.2-0.el7.x86_64
ceph-common-13.2.2-0.el7.x86_64
ceph-deploy-2.0.1-0.noarch
ceph-iscsi-config-

[2020-05-27 14:40] Madhu-1 commented on #1109
Please attach the logs as per issue template

[2020-05-27 14:49] jisnardo commented on #1109
Oops, issue templated.

[2020-05-27 14:51] Madhu-1 commented on #1109
Still it's missing logs from rbdplugin container log from the node where mount is failing

[2020-05-27 15:16] jisnardo commented on #1109
Logs provided.

[2020-05-27 15:49] nixpanic opened #1111 "jjb-deploy and jjb-validate CI jobs show the wrong logs"
# Describe the bug #

The OpenShift batch job that gets created starts a container indirectly. The script that parses the logs from the batch job, uses the logs from the 1st container that gets listed. This can be a container with old logs, showing jobs failed in the Jenkins WebUI and failed state in PRs.

Corrections need to be made in [`deploy/jjb.sh`](https://github.com/ceph/ceph-csi/blob/ci/ce

[2020-05-27 16:42] jarrpa commented on #1097
@Madhu-1 Can you or someone else help him troubleshoot what might be going wrong? Can he provide any logs, like say for the cephfs provisioner or node plugin?

[2020-05-27 16:55] Madhu-1 commented on #1097
Csi-cephfsplugin container logs from the cephfs-plugin pod from the node on which the app is mounted might be helpful. @akgunjal can you please provide the same.

[2020-05-29 09:17] akgunjal commented on #1097
[cephfsplugin.log.zip](https://github.com/ceph/ceph-csi/files/4700816/cephfsplugin.log.zip)
@Madhu-1 : Please find the the cephfs plugin logs where the pod is mounted.

[2020-05-29 09:26] Madhu-1 commented on #1097
@akgunjal I don't see any error in the log. can you check the mountpoint permission on the app pod?

[2020-05-29 09:38] akgunjal commented on #1097
This is a issue when we use non-root user. In my case mongodb is a non root user. Is there some way we can set uid/gid for volumes in cephfs. I guess that should resolve this.

Please check the permissions on mount path.
[code]

[2020-05-29 09:48] Madhu-1 commented on #1097
Am able to write data with normal user. @humblec Am i missing something?

[code]
[code]

[2020-05-29 09:49] Madhu-1 commented on #1097
Am able to write data with normal user. @humblec Am i missing something?
[code]
[code]

[2020-05-29 09:57] Madhu-1 commented on #1097
This is with different user
[code]

[2020-05-29 10:03] Madhu-1 commented on #1097
@akgunjal please check the `scc` attached for the openshift project I think it might be the issue

[2020-05-29 10:36] md-shabbir opened #1119 "cephfs static pv, rootPath is ignored by cephfs csi"
I followed [this](https://github.com/ceph/ceph-csi/blob/master/docs/static-pvc.md#cephfs-static-pvc) doc to create static cephfs pv.
I have created following pv and pvc:
[code]
Then I created a pod to consume the volume. When I list mounts then I could see the expected path was not mounted.

[code]
I was expecting the path ```/volumes/testGroup/testSubVolume``` has to be mounted.

**Note:** I am u

[2020-05-29 10:37] Madhu-1 commented on #1119
@agarwal-mudit can you please take a look at it?

[2020-05-29 10:44] jisnardo opened #1120 "metrics endpoint will not be started because metrics-address was not specified"
# Describe the bug #

Unable to get metrics from nodeplugin / provisioner.

# Environment details #

k8s v1.16
docker v18.6.3
csi-rbd v2.1.1 (latest available)
Ubuntu 18.04.4 LTS 4.15.0-101-generic

# Steps to reproduce #

Deploy the app.

[code]

Port forward to the pod / service.

[code]

# Get metrics.

[code]

# Fail.

[code]

# Actual results #

Unable to get metrics from nodeplugin / provisi

[2020-05-29 11:42] Madhu-1 commented on #1120
nodeplugin uses the hostnetwork  can you please verify it once using hostIP and port instead of localhost

[2020-05-29 12:03] nixpanic opened #1121 "Travis CI fails with minikube errors, unable to launch Kubernetes"
# Describe the bug #

Travis CI fails to launch Kubernetes from within minikube. This might be caused with #1118 merged?

# Environment details #

- Kernel version : whatever comes with Ubuntu Bionic?
- Kubernetes cluster version : 1.16, 1.17

# Steps to reproduce #

Steps to reproduce the behavior:

1. post a PR, see the Travis CI job fail

# Actual results #

[code]

# Affected PRs (so far) #

#

[2020-05-29 12:46] jisnardo commented on #1120
The test using host ip and port instead of localhost outputs the same result.

[2020-05-29 14:04] akgunjal commented on #1097
@Madhu-1 : I see my pod dont have any`scc` applied. Have you tested above in openshift? I have default scc created in my cluster but none are applied to pod. The issue is with ownership of volume for non-root user. Can you try your test once with a `mongo` image and let me know the results.

[2020-05-29 14:12] nixpanic commented on #1121
Any of my tests in a local Ubuntu Bionic VM pass. It seems unlikely that #1118 is the cause of the problems.

[2020-05-29 14:30] mehdy commented on #1121
@nixpanic Maybe there's something wrong with travis-ci. Have you noticed the arm64 job never starts?

[2020-05-29 14:34] nixpanic commented on #1121
Yes, I think Travis CI is out of aarch64 systems at the moment. We'll just have to wait and see when those machines get back online again :disappointed:

[2020-05-29 14:59] nixpanic commented on #1121
This might have been a temporary issue with Travis CI. Without any changes, https://travis-ci.org/github/ceph/ceph-csi/builds/692534486 passed for #1122

[2020-05-29 15:01] nixpanic commented on #1121
Restarted the failed jobs for #1113 to see if things work there now too ([job](https://travis-ci.org/github/ceph/ceph-csi/builds/692139656))

[2020-05-30 04:33] agarwal-mudit commented on #1119
Its working for me:

[code]
Have attached pvc/pv/pod definition, only difference is that I am using rook-ceph secret but that has nothing to do with mount failure.

And my cephfs plugin has similar logs as I have pasted earlier:

[code]

[static-pv.txt](https://github.com/ceph/ceph-csi/files/4705084/static-pv.txt)

[2020-05-30 04:38] agarwal-mudit commented on #435
This script will not work for static/pre-provisioned volumes because:
1. volume name would be in a different format compared to the format expected by the script.
2. subvolumefroup can be different from the one mentioned in configmap.

Do we need to enhance it for that, may be in a separate PR.

[2020-05-31 13:19] dkrizic commented on #1003
Here is a very nice example of a quay image with multi arch support:

https://quay.io/repository/jetstack/cert-manager-controller?tab=tags

I have a hybrid cluster as well (3 x amd64, 5 x arm64) and can use Ceph-CSI only if there is support for multi arch image.

For those who don't know: If I pull a docker image which is multi arch, the local docker will pull the appropriate image for the local a

[2020-06-01 11:13] Madhu-1 commented on #1121
@nixpanic as this is a temp issue in CI am closing this one

[2020-06-01 11:13] #1121 closed

[2020-06-01 11:17] Madhu-1 commented on #1098
@dillaman isn't covered by flattening the image based on the hard and soft limit? do we need anything else?

[2020-06-01 12:24] dillaman commented on #1098
The flatten logic only protects against the "no more than 15 images in the chain" test. For the 511 snapshots per image, that's a new test that *could* be solved by flattening older k8s snapshots off the RBD image so that the snapshots can be removed. Same w/ the no more than X total clones.

[2020-06-01 16:44] ShyamsundarR commented on #1098
@dillaman as CSI RBD snapshots will be RBD clones of the parent image and the intermediate RBD snapshot from which these are cloned would be deleted post the clone is completed, does the 511 limitation pertain to,
- The number of intermediate RBD snapshots that are in-flight before the RBD clone is done, or
- Total number of RBD clones (that represent CSI-Snapshots) per RBD image?

If the former,

[2020-06-01 17:21] dillaman commented on #1098
Neither -- it's the total number of RBD snapshots on an RBD image (i.e. `rbd snap ls --all`). This total includes any and all snapshots that are in the trash. Remember also that k8s snapshots can be deleted after you create a new PVC from it, so even though the RBD image associated with the k8s snapshot is moved to the trash, it's still linked to the parent.

If you prefer the older ones, you coul

[2020-06-01 18:00] ShyamsundarR commented on #1098
Yikes! understood. We (CSI) were just using the trash as a convenient parking lot I guess, so those count as well.

We may need to start flattening sooner than later then, with soft/hard limits as you state. @Madhu-1 we may need to rethink this based on our earlier conversation.

[2020-06-01 18:04] dillaman commented on #1098
Correct. CephFS is going to have its own set of limits so we should also probably starting documenting that somewhere as well (hopefully w/ a similar end-result that the CSI can hide it).

[2020-06-02 03:39] Madhu-1 opened #1123 "Add support to create multiple subvolume groups"
in https://github.com/ceph/ceph-csi/pull/931 we have added support to have subvolumegroup configurable(which means we can have more than one subvolume group in cephcsi). with the current code base the subvolumegroup will be created once ie https://github.com/ceph/ceph-csi/blob/44da7ffb4e4d8861265f3ecd421cd06dfce9f34a/internal/cephfs/volume.go#L90 we need to make changes to support the creation of

[2020-06-02 03:39] Madhu-1 commented on #1123
@Yuggupta27 would you like to give a  try for this one, I can help you out if you need anything

[2020-06-02 04:09] Yuggupta27 commented on #1123
Sure. Please Assign.

[2020-06-02 08:39] nixpanic commented on #1111
Merged commit 6a631e6 mentions `Fixes: #1111`, but this issue was not automatically closed!?

[2020-06-02 08:39] #1111 closed

[2020-06-02 09:33] jisnardo commented on #1109
Any update will be appreciated, thanks in advance.

[2020-06-02 09:41] Madhu-1 commented on #1109
@jisnardo i just went over the logs, i don't see that nodeplugin is taking much time to mount the PVC. maybe you are hitting any kube bug? check https://github.com/rook/rook/issues/5366#issuecomment-621501373 helps you if you are facing some issue in kube side

[2020-06-02 11:17] agarwal-mudit commented on #1040
Hi @isehgu ,
I am still not able to repro it on a multinode minikube setup, but as @Madhu-1 pointed out, to me also this looks like a broader issue.
Can you please check this [issue](https://github.com/kubernetes/kubernetes/issues/91023), looks very similar but with a different csi driver?
Meanwhile I will try to repro it on a real setup.

[2020-06-02 11:33] ShyamsundarR commented on #1123
Something to think about would be, when a subvolumegroup and the cephx credentials for the same are pre-created, to restrict access just to that subvolume group, would the called out function still work?

IOW, we started out with creating the subvolume group in CSI, but it may so happen that for security reasons, these are pre-created and the credentials for CSI are restricted to this subvolumegro

[2020-06-02 14:22] isehgu commented on #1040
Hi @agarwal-mudit
What os, and kernel version did you try it on?

[2020-06-02 14:47] jisnardo commented on #1109
Hi @Madhu-1,

I've tried **disable-attach-detach-reconcile-sync**

/etc/kubernetes/manifests/kube-controller-manager.yaml

[code]

or like this

`    - --disable-attach-detach-reconcile-sync=true`

Unfortunately does not solve the problem...

[2020-06-02 14:48] nixpanic commented on #1121
@Yuggupta27 if you hit this issue on CentOS-7, you can run the following commands to make sure `/run/systemd/resolve/resolv.conf` gets created (before installing/running minikube):

[code]

With that, the `kubelet.resolv-conf=/run/systemd/resolve/resolv.conf` should work, and Kubernetes should get installed.

[2020-06-02 16:23] Yuggupta27 commented on #1121
Worked like a charm. Thanks :)

[2020-06-03 01:31] agarwal-mudit commented on #1109
I guess that the problem/workaround mentioned above is for a scale setup with 1000s of pods/volumes. Is the case same here?

Also, I am unable to see the complete rbdplugin logs (from unmounting to mounting started, to mounting completed), sorry to bother you again but can you please provide the complete rbdplugin logs as an attchment instead of pasting the same.

[2020-06-03 02:08] agarwal-mudit commented on #1040
$ cat /etc/os-release
NAME=Buildroot
VERSION=2019.02.10
ID=buildroot
VERSION_ID=2019.02.10
PRETTY_NAME="Buildroot 2019.02.10"

$ uname -a
Linux minikube-m02 4.19.107 #1 SMP Mon May 11 14:51:04 PDT 2020 x86_64 GNU/Linux
$

Host is running Fedora 32

[2020-06-03 05:43] agarwal-mudit commented on #1097
I created the pod using mongo image (not in openshift) and it worked for me also:

[code]

[2020-06-03 07:17] Madhu-1 commented on #1123
we need to check what if the subvolume is already created, and the csi user doesn't have the permission to create it, how we can check this if the create subvolume group fails in this case and on what basis we need to continue with creating subvolumes etc.
 we need to create a user who is having access to create subvolume, not the subvolume group and test this out,  the caps can be found in this c

[2020-06-03 09:22] joscollin commented on #1123
There is a `--mode` parameter for subvolumegroup create command.

From your description, I don't quiet understand what you are trying to achieve.

[2020-06-03 09:25] humblec commented on #1098
@dillaman Having such limits as mentioned in this issue is good to have. At the same time, we have to see how this is going to effect our scalability requirements. I believe this is going to be bit of trial and error and adopting what we can do best from our end against it.

As a side question# is there an option available in rbd where we can set or trigger the deletion in the backend/trash/purge

[2020-06-03 09:39] jisnardo commented on #1109
Hi @agarwal-mudit and thanks for your interest,

this is not the same case, we are handling about 100 pods, and for this test **only one statefulset** that uses **only one provisioned persistent volume** thought the ceph-csi-plugin.

Ubuntu 18.04.4 LTS
kubernetes v1.16.10
Docker 18.06.3-ce, build d7080c1
Ceph 13.2.2 Mimic
Ceph CSI v2.1.1

Last test tooks about 8 minutes:

[code]

Full **csi-rbd-ce

[2020-06-03 11:40] dillaman commented on #1098
Scalability means nothing if ceph-csi breaks Ceph

[2020-06-03 13:54] ShyamsundarR commented on #702
To support snapshot decoupling from source volumes, CephFS subvolumes needs a structural change.

Older CephFS subvolumes directory structure was, `/volumes/<group-name>/<vol-name>`, where user data is under <vol-name>.
Since introduction of subvolumes clone feature, it is, `/volumes/<group-name>/<vol-name>/<UUID>`, where user data is under the <UUID> directory.

The subvolumes clone feature was i

[2020-06-03 14:03] akgunjal commented on #1097
As per suggestion from Madhu, I enabled the `container_use_cephfs` SELinux boolean and then it started working in openshift. However, I am checking if its fine to enable this config from security point of view for customers in the production.

[2020-06-03 14:29] ShyamsundarR commented on #1123
Pasting from #437 on caps required to work with a subvolume group,
[code]

I would assume as long as rw caps are provided for `caps mds = "allow rw path=/volumes/csi"` a `ceph fs subvolumegroup create cephfs csi` would return a success and is idempotent (this is how ceph-csi works at present)

The question is,
- Can subvolume lifecycle operations work if caps are instead only "r" for the subvolume

[2020-06-03 20:10] isehgu commented on #1040
@agarwal-mudit you are correct. It is due to leaked mount info from containers for some reason. Once I `umount` the extra mounts, kubelet was able to come up with no issue. I will follow that thread. Although it's unclear to me why it's only the csi plugins having this leaking mount info issue. Any theories?

[2020-06-04 00:59] agarwal-mudit commented on #1109
Hi @jisnardo, sorry but these logs are not useful.
Unmounting to mounting happened here in seconds, there was no delay:

`
0603 09:11:38.845081    5699 nodeserver.go:609] ID: 15546 Req-ID: 0001-0024-16042995-ff80-4561-8d47-70d5a80ff4ea-0000000000000010-5ddd037e-74b1-11ea-9d12-f2eedd7cc4d2 successfully unmounted volume (0001-0024-16042995-ff80-4561-8d47-70d5a80ff4ea-0000000000000010-5ddd037e-74b1-1

[2020-06-04 01:53] ShyamsundarR commented on #1098
@dillaman do snapshots in trash (or otherwise) of parents in a clone chain count towards the 511 total snapshots limit?

IOW, assuming I did the following,
- create image -> snap image -> clone snap -> rm snap -> repeat for one more clone,

I would end up with 1 snap for the first image in trash, and one snap for the next cloned image in trash. Now, the image at tail of this chain (`test2`) can ha

[2020-06-04 06:41] jisnardo commented on #1109
Hi @agarwal-mudit, what logs should i provide instead?

So, how this can be explained?

[code]

[code]

There is no rbd image still being used.

[code]

[code]

[code]

[code]

[code]

Thanks in advance.

[2020-06-04 09:20] Madhu-1 opened #1132 "RUN pylint as part of CI process"
We have one python file in the project to trace the pvc-backend volumes. we need to run static check on the file to catch the static issues as part of CI

[2020-06-04 12:33] md-shabbir commented on #1119
Yes @agarwal-mudit I was trying dynamic and static both on the same setup.

I destroyed the cluster and brought back a new one. Now I am not able to reproduce the issue.

However, I got another issue with static PV, now mount is failing.
Describe of pod is showing following events:
[code]
I edited the secret ```rook-csi-cephfs-node```(this secret is provided in PV's ```nodeStageSecretRef``` field)

[2020-06-04 12:44] agarwal-mudit commented on #1119
That's a known thing, static CephFS PV works with userID not adminID, ite mentioned [here](https://github.com/ceph/ceph-csi/blob/master/docs/static-pvc.md#node-stage-secret-ref-in-cephfs-pv)

However, you can create your own secret with userID/userKey and reference it in PV definition or edit rook-csi-cephfs-node (as you mentioned in last post) and use that.

[2020-06-04 16:35] dillaman commented on #1098
The limit is in krbd (and kernel CephFS) since they only allocate 1 4KiB page to handle all the snapshot ids for an image / file.

The snapshot limit only counts for the image where the snapshot actually exists -- it does not apply to the total number of snapshots in the entire grandparent-parent-child hierarchy.

[2020-06-04 22:58] ShyamsundarR commented on #1098
Laying out steps as discussed with @Madhu-1 (and based on various comments and discussions, in the snapshot PRs and in this issue from @dillaman ) for implementation.

### Ensuring clone depth is in check

**N:** Configured hard limit for image depth
**NOTE:** There is a soft limit also configured, where flatten would be started as an async task, when this is reached

- CSI-Snapshot of a volume:

[2020-06-04 23:03] ShyamsundarR opened #1133 "Limits for CephFS snapshots"
The limit is in krbd (and kernel CephFS) since they only allocate 1 4KiB page to handle all the snapshot ids for an image / file.

The snapshot limit only counts for the image where the snapshot actually exists -- it does not apply to the total number of snapshots in the entire grandparent-parent-child hierarchy.

_Originally posted by @dillaman in https://github.com/ceph/ceph-csi/issues/1098#issu

[2020-06-04 23:04] ShyamsundarR commented on #1133
@joscollin @batrick Request what the current CephFS snapshot limits would be. Also, if CSI should limit outstanding clone operations in any manner.

[2020-06-05 04:59] Madhu-1 opened #1136 "Release v2.1.2 of Ceph CSI driver"
- [x] **Define release process**
  - Release doc would be a good start
- [x] **Define release deadlines**
  - GA : 05-Jun-2020

- [x] **Define/list roadmap for v2.1.1**
  - Proposed contents for v2.1.1 release
    https://github.com/ceph/ceph-csi/pull/1135
    https://github.com/ceph/ceph-csi/pull/1049
- [x] **Release Team**:
 @Madhu-1
 @humblec

- [x] **Document features and announce the release.

[2020-06-05 06:06] joscollin commented on #1133
@ShyamsundarR
Kernel client only supports up to 400 snapshots per filesystem. Please see http://tracker.ceph.com/issues/21420. There is no limit for the number of clones that could be created. The only limitation, I see, would be based on the available system resources.

The `snapshot create` command would fail, if you try to create snapshots beyond the limit. I think you need to check for failure

[2020-06-05 06:36] humblec commented on #1133
@ShyamsundarR there is no flattening available as a command for CephFS. Also, the maximum number of snapshots can be configured by below Param. The default value is 100.

`mds_max_snaps_per_dir`

[2020-06-05 08:51] Madhu-1 commented on #1136
v2.1.2 release is done at https://github.com/ceph/ceph-csi/releases/tag/v2.1.2, closing this one

[2020-06-05 08:51] #1136 closed

[2020-06-05 09:28] nixpanic opened #1139 "Make scripts/install-snapshot.sh easier to re-use"
# Describe the feature you'd like to have #

Currently the `scripts/install-snapshot.sh` script needs to be called depending on the Kubernetes version. It would be much easier to use the script if it is intelligent enough to decide itself what version of the snapshot components to install (or none at all).

# What is the value to the end user? (why is it a priority?) #

- manually deploying ceph-c

[2020-06-05 13:14] ShyamsundarR commented on #1133
So total cap for all subvolumes (at the fs layer) is at 400, this seems to be clarified in tracker as well.

If the limits are per filesystem, the best manner for CSI to prevent it is to get an error and process it as above. Thanks.

[2020-06-05 13:16] ShyamsundarR commented on #1133
Yes, this is noted in the issue, and we should look at errors like RESOURCE_EXHAUSTED to be returned at the CSI layer.

I believe this is a further cap at the per directory level, with the overall limit at 400 per filesystem.

[2020-06-05 13:42] dillaman commented on #1098
Should it return an error or would it be better to just return a "PENDING" error code so that it's retried periodically while a background flatten is taking place?

[2020-06-05 13:49] ShyamsundarR commented on #1098
Thinking along the lines that snapshot should be as instantaneous as possible (with possible future application and fs quiesce in play in the overall workflow), an error seems better as we would have not started any work to create the snapshot.

The case where we return PENDING, for clones or while flattening for a snapshot image, is safer, as the snapshot is already taken, and we are post process

[2020-06-05 14:18] dillaman commented on #1098
Ack -- worst case the logic can be tweaked if it causes UX concerns down the road.

[2020-06-05 19:28] batrick commented on #1133
I'm not sure if that 400 snapshot limit applies only to the mount and what it can see. If we have a mount like:

`mount -t ceph <mon-ip>:/volumes/_nogroup/foo/<uuid>/`

then it will only see snapshots of the `_nogroup` subvolumegroup and snapshots of `_nogroup/foo`.

@ukernel, can you tell me if that helps with avoiding the 400 snapshot per-file-system limit?

[2020-06-05 21:51] ShyamsundarR commented on #1133
I tested the following and found no errors from the `ceph fs subvolume snapshot create <args>` CLI. The subvolumes were not mounted and tested to detect any client side errors.

1. Create > 100 snapshots per subvolume - Passed
- I was able to go upto ~550 snapshots for a single subvolume

2. Create > 400 snapshots across various subvolumes - Passed
- I was able to go upto ~800 snapshots with no CL

[2020-06-06 15:30] ShyamsundarR commented on #1098
@dillaman The MAX snapshot per image limit should be 510 from the kernel [sources](https://github.com/torvalds/linux/blob/aaa2faab4ed8e5fe0111e04d6e168c028fe2987f/drivers/block/rbd.c#L98). Maybe this is more bleeding edge than versions we are considering, where it can be 511?

[2020-06-06 16:21] dillaman commented on #1098
Nope -- you are correct @ 510. Of course, I'd imagine we would want the CSI hard limit well below that (i.e. 5-10% reserve minimum). There is a large performance hit for small IOs with you have hundreds of snapshots since each write carries along that full list of snapshots again (i.e. so a 512 byte write might have 4KiB of additional overhead just listing the snapshots).

[2020-06-07 19:06] angelsantillana94 commented on #1109
I have an almost identical environment and I have the same problem.

[2020-06-08 08:26] agarwal-mudit commented on #1109
As stated in my previous post I am unable to match pod describe output with rbd-plugin logs, in rbd-plugin logs there is nothing suspicious.
See the time taken in two calls NodeStage and NodePublish, they are being completed in no time:

[code]

In the last pod describe output there is an error which says "rbd image is being used" but rbd-plugin logs say that there are no watchers on that image:

[2020-06-08 08:40] Madhu-1 commented on #1109
Thanks @agarwal-mudit for validating the issue.

From the log provided in this issue, am assuming the volume handle in pv is `0001-0024-16042995-ff80-4561-8d47-70d5a80ff4ea-0000000000000010-5ddd037e-74b1-11ea-9d12-f2eedd7cc4d2`
the kebelet will make 2 calls for the cephcsi plugin pod to mount pvc to staging and staging to target path

* NodeStageRequest
[code]
The time spent on node stage request

[2020-06-08 11:54] agarwal-mudit opened #1143 "Fix tracevol.py such that it can work with dynamically configued storageclass values."
# Describe the bug #

tracevol.py script traces a PVC to its Omap information. At many places this script is using hard coded values instead of dynamically configured values for certain attributes.
For example:  image name / subvolume name prefix is "csi_vol" which can be configured by storageclass.yaml

For details, see [here](https://github.com/ceph/ceph-csi/pull/1114#discussion_r432346532).

Th

[2020-06-08 12:39] jisnardo commented on #1109
Hi @agarwal-mudit, the logs are from the same failure instance.

Thanks.

[2020-06-08 12:43] jisnardo commented on #1109
So at this point @Madhu-1, @agarwal-mudit, what should I check an the kubernetes part related to dynamic volume provisioning?

Thanks in advance.

[2020-06-08 12:46] Madhu-1 commented on #1109
Yes from cephcsi side the mounting is fast enough, you need to check where
exactly the extra time is spent.

On Mon, Jun 8, 2020, 6:13 PM Jorge Isnardo Altamirano <
notifications@github.com> wrote:

[2020-06-09 07:50] nixpanic opened #1148 "Remove non-release branches from the repo"
There are again more branches than expected. @humblec seems to have pushed branches for PRs to the main repository, not his personal fork. Once the PRs have been closed, the branches should get deleted.

From the [active branches](https://github.com/ceph/ceph-csi/branches/active):
- [ ] config #1147
- [ ] go-update #1145
- [ ] node-rbac #1142
- [ ] readmdlint #1146

See-also: #1050

[2020-06-09 09:09] humblec commented on #1148
Yeah. .it was my mistake..  I am closing those PRs for now.

[2020-06-09 09:11] humblec commented on #1148
This is taken care now. Closing this issue.

[2020-06-10 09:49] #1042 closed

[2020-06-10 10:06] nixpanic commented on #1148
Reopening.

The `more` and `more-1` branches have been added.

[2020-06-10 10:08] humblec opened #1155 "Come up with a documentation on review process by also making use of Owners file"
# Describe the feature you'd like to have #
Considering we have approvers and reviewers in the repo, we should come up with a process and auto handling of much tasks via OWNERS file. We also need to define the process around this

What new functionality do you want?

# What is the value to the end user? (why is it a priority?) #

The documented process will help many community users to get proper

[2020-06-10 10:08] humblec commented on #1155
The first step is taken here https://github.com/ceph/ceph-csi/pull/1150

[2020-06-11 16:20] ukernel commented on #1133
the problem is inodes have multiple links, these inodes are in a dummy snaprealm, which contains all snapshots in the filesystem. For cephfs volume, we only create snapshots at volume root. we can disable the special handling for inodes with multiple links. If the special handling is disabled, that can help avoiding the 400 snapshot per-file-system limit

[2020-06-11 18:07] batrick commented on #1133
You mean the "volumes" mgr plugin? We're creating snapshots on each subvolume directory, e.g. `/volumes/_nogroup/foo` or on the group directory `/volumes/_nogroup`.

How do we disable this special handling and what are the side-effects for hardlinks?

[2020-06-15 17:23] travisn commented on #1003
@humblec Since quay 3.0 (about a year ago) the [multi-arch images](https://access.redhat.com/documentation/en-us/red_hat_quay/3/html/red_hat_quay_release_notes/index#multi_architecture_container_image_support) are supported. This is really a blocker for multi-arch clusters and [workarounds](https://github.com/rook/rook/issues/4051#issuecomment-643782302) are also popping up. Are you working on thi

[2020-06-16 04:49] humblec commented on #1003
@travisn from previous responses, I was in an impression that quay.io multiarch support was coming in recently and experimental, so the delay. I am checking on this and will also take help from @leseb if needed.

[2020-06-16 05:00] Madhu-1 commented on #1003
even if the support is not available in quay.io we don't need to wait, we can move to dockerhub as it already supports multi-arch.

[2020-06-16 05:05] humblec commented on #1003
Yeah, more or less we have to see the quay.io support is on `Paid Vs Free` account.

[2020-06-16 05:12] Madhu-1 commented on #1003
when we tested last time the quay.io was not supporting multi arch more info at https://github.com/ceph/ceph-csi/pull/707#discussion_r358246360 https://github.com/ceph/ceph-csi/pull/707#issuecomment-571400449 https://github.com/ceph/ceph-csi/pull/707#issuecomment-572088862. @humblec may be you can test it again with the steps mentioned in https://github.com/ceph/ceph-csi/pull/707#discussion_r35827

[2020-06-16 05:34] humblec commented on #1003
Yeah. Indeed we had tried in recent past as in https://github.com/ceph/ceph-csi/pull/707. But I am confused with @travisn's comment saying it's available for more than a year.

[2020-06-16 06:50] Madhu-1 opened #1167 "Failed to load cephfs kernel mounter even if kernel>4.17"
The cephfs plugin container is failed to load the kernel mounter even if the kernel is higher than the 4.17, this issue can be reproducible if we created kubernetes cluster with minikube VM(vm_driver=kvm2)

Logs from cephfsplugin
[code]

the kernel version on minikube node
[code]

Note:  we need to discard `0` in bytes  at https://github.com/ceph/ceph-csi/blob/master/internal/cephfs/volumemounter.

[2020-06-16 07:36] Madhu-1 opened #1168 "cephfs: unmount targetpath if chmod fails"
currently, we do not unmount the target path if the chmod fails at https://github.com/ceph/ceph-csi/blob/2793b79ad8e04628ade7bce4d16c4954363d8947/internal/cephfs/nodeserver.go#L215-L218. This can cause issues with the subsequent request comes in as the mount is already present we return success https://github.com/ceph/ceph-csi/blob/2793b79ad8e04628ade7bce4d16c4954363d8947/internal/cephfs/nodeserve

[2020-06-16 07:40] nixpanic commented on #1167
That looks weird. What version of Golang are you using? I would expect that a `\x00` byte is a marker for the end of a string. Maybe there is a cleaner way to convert a byte-array to a string?

[2020-06-16 07:42] Madhu-1 commented on #1167
go version go1.13.10 linux/amd64.

[code]
the above change should fix the issue, we need to discard the 0's  in the byte array, just need testing and e2e

[2020-06-16 08:55] nixpanic commented on #1167
I do not think using `bytes.IndexByte()` is a clean approach, there should be a way to convert a byte array ending with `0x00` to a string without manual stripping the end-of-string-characters.

[2020-06-16 08:59] Madhu-1 commented on #1167
that's the one I can think of, if we can get a better approach it will great

[2020-06-16 12:37] jisnardo commented on #1109
I did not found anything where exactly the extra time is spent.

How about this @Madhu-1, @agarwal-mudit?

CSI VolumeAttachment slows pod startup time as # concurrent attaches increases

https://github.com/kubernetes/kubernetes/issues/84169

CSI: Modify VolumeAttachment check to use Informer/Cache

https://github.com/kubernetes/kubernetes/pull/91307

[2020-06-16 13:56] Madhu-1 commented on #1167
one other thing is we can use bytes.Trim functions

[2020-06-16 14:48] phlogistonjohn commented on #1167
Just a reminder that native Go strings are pascal style and do not have trailing nulls like C-strings.

Yeah. TrimRight is probably  closest to what you want.

[2020-06-16 18:00] travisn commented on #1003
@humblec It was in the quay.io release notes from 3.0, although I was not clear about whether it requires a paid account either.

[2020-06-16 19:40] phlogistonjohn opened #1171 "check-env.sh is surprisingly resource hungry"
# Describe the bug #

When developing ceph-csi the build toolchain now appears to run the check-env.sh script somewhat frequently. This tool takes a very long time to run ( >5m for me) compared to most build tasks which complete quickly.

# Steps to reproduce #

I have hit this running 'make' and 'make containerized-tests'.
My local state appears to have changed and it is not happening when I buil

[2020-06-16 19:46] phlogistonjohn commented on #1171
Some additional poking and I suspect that this may also have to do with the arguments to go run in the script. In other instances of go build, etc in the makefile the arguments `-mod vendor` is used but is not here. I suspect this might mean that go build is re-fetching all the dependencies every time.

[2020-06-16 19:50] phlogistonjohn commented on #1171
Adding in -mod vendor seems to avoid the issues. Submitting a PR soon.

[2020-06-17 04:58] #1171 closed

[2020-06-17 05:47] Madhu-1 opened #1173 "Add cephcsi troubleshooting guide"
Currently, we don't have a troubleshooting guide to help users to understand the issue in first step. we need to come up with a document which helps in debugging the issues with cephcsi

* Which pod logs to check
* Any helper commands to identify the issue(in case of operation already exists, what logs user need to check and which command he execute and where to execute to check running/hang comma

[2020-06-17 13:26] ukernel commented on #1133
yes

need to small patch to disable it. the side effect is: if there are hardlinks (to the same inode) across multiple subvolumes, snapshots have no effect for remote links

[2020-06-17 14:27] kvaps commented on #1109
Yep, looks like the same bug

https://github.com/kubernetes/kubernetes/issues/86281

[2020-06-18 06:58] humblec commented on #702
Can anyone share more details on, which Ceph release this is planned? Will it be backported to previous releases too? Is there any deadline available for this enhancement?  In absence of this, RBD snapshot implementation and CephFS implementation look different in behavior for a Kubernetes/openshift user, which may not be good from user experience pov. In rbd the user is free to delete the parent

[2020-06-18 11:42] #1167 closed

[2020-06-18 12:29] ShyamsundarR commented on #702
Currently this is being worked on in master branch, once complete it will be released with the next available Ceph release vehicle.

The Ceph tracker has been marked as requiring backports to Octopus and Nautilus, and the plan is to backport this to all releases that support the subvolume clone feature.

No, work is in progress, there is currently no "deadline" as such. **Estimate** is that it wou

[2020-06-18 12:35] nixpanic commented on #1148
I still see a `more` branch, please cleanup.

[2020-06-18 13:05] ShyamsundarR commented on #1133
Added a tracker for the above patch: https://tracker.ceph.com/issues/46074

[2020-06-18 18:37] yanchicago commented on #578
@nixpanic Is there a plan to resolve this "multi-attach" issue? Is this ticket still targeted to any future release?
Any known solution/workaround on this issue?

[2020-06-18 18:50] dillaman commented on #578
What's the issue that you are concerned about (this issue tracker is talking about a lot of different things now)? A hypothetical issue where k8s has a hypothetical bug that incorrectly attempts to map an RXO PVC on multiple nodes concurrently? CephFS hanging a RWX PVC workload if a node dies unexpectedly? A desire for a higher-level k8s node STONITH functionality to detect dead nodes and automati

[2020-06-18 19:02] yanchicago commented on #578
https://github.com/ceph/ceph-csi/issues/740
The above ticket referenced this ticket. Is there any relationship? Or I should trace the740 instead of 578.

[2020-06-18 19:11] dillaman commented on #578
Might want to check out https://github.com/rook/rook/issues/1507 and https://github.com/rook/rook/issues/1507#issuecomment-582635853 specifically. Also perhaps https://github.com/kvaps/kube-fencing.

[2020-06-19 05:48] #435 closed

[2020-06-19 06:25] nixpanic opened #1180 "Use a single file with versions and parameters for building, CI and deployment"
Currently versions of different components and tools are listed in several places. Including `Makefile`, `.travis.yml` and several of the `Dockerfile`s. When updating a version of a tool or component, the change needs to get done everywhere.

Instead, all versions should be stored in `build.env` (or other filename) that can be consumed everywhere.

[2020-06-19 06:57] humblec commented on #1180
This is much required one! the current way of env handling is a mess.

[2020-06-22 06:15] #725 closed

[2020-06-22 06:37] yeganeahmadnejad commented on #1109
hi
because of #90589 issue I had to upgrade my kube cluster form 16.4 to 18.2
and have same problem
I0622 05:36:20.336626 1 request.go:621] Throttling request took 3h32m8.394756742s, request: GET:https://192.168.100.68:6443/apis/storage.k8s.io/v1/volumeattachments/csi-3dee2b16f91302d22fe3b48c80316885378019fa46ddb38eaede2a8454f8a211
and it is increasing by time

[2020-06-22 06:41] jianglingxia opened #1181 "ceph-csi-driver provisioner volume must use ceph admin user and adminkeyring?"
# Describe the bug #
I found the ceph-csi-driver provisioner volume and pv create the secret must use the adminID and adminKey

the secret yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: {{fssecret}}
  namespace: {{ns}}
stringData:
  # Required for statically provisioned volumes
  #userID: <plaintext ID>
  #userKey: <Ceph auth key corresponding to ID above>

  # Required for dynamically pro

[2020-06-22 06:42] jianglingxia commented on #1181
@Madhu-1  can you help the issue ?thanks

[2020-06-22 07:06] Madhu-1 commented on #1181
Its Just name naming convention, it doesnt need to be admin user and its creads,
the user should have the access to create subvolume and to mount subvolume

an example caps like below
[code]

[2020-06-22 07:23] nixpanic commented on #1181
@Madhu-1 are the required caps documented somewhere? If not, we should really do so.

[2020-06-22 07:25] Madhu-1 commented on #1181
https://github.com/ceph/ceph-csi/issues/360 issue already exists to document these caps

[2020-06-22 07:26] Madhu-1 commented on #1181
@jianglingxia if above answers your question, can this be closed?

[2020-06-22 07:40] jianglingxia commented on #1181
really thanks for your repliy, is mean that user can use plain user and userkey?
but the code when provisioner volume get the secret resource by adminID value and adminKey value

cr, err := util.NewAdminCredentials(secret)
	if err != nil {
		return nil, err
	}
	defer cr.DeleteCredentials()

you mean provisioner volume the secret yaml use the adminID and adminKey but the value use plain user have a

[2020-06-22 08:27] Madhu-1 commented on #1181
Yes you are correct.

[2020-06-22 15:41] #434 closed

[2020-06-23 01:35] yanchicago commented on #740
Anyone has an "official" workaround? Currently, I'm just blacklist the watcher of the csi volume. And the newly scheduled pod is able to attach to the volume. Someone mentioned "detach" the volume on the previous host. Is it necessary?

[2020-06-23 15:38] clwluvw commented on #798
@Madhu-1 Do you have any release date for this feature? It's really needed for preventing creating many pools!! :(

[2020-06-24 12:15] nixpanic opened #1183 "Volumes created from a snapshot/volume may have non-accessible content"
There are places in the VolumeStage path where the permissions of the contents on the volume get modified. This is mainly important for new volume creations, so that the volume becomes writable for the users (`chmod 0777` on the root of the volume). See `internal/cephfs/nodeserver.go:mount()` for an example.

This works fine for volumes that do not have any content yet. However, when creating a vo

[2020-06-24 22:15] clwluvw commented on #798
ping @Madhu-1 @nixpanic

[2020-06-24 23:23] Madhu-1 commented on #798
If everything goes will this will be part of 3.0.0 release. There is already a issue create to track release status

[2020-06-25 06:16] clwluvw commented on #798
@Madhu-1 Can you please tell more details about the things (issues) that should be done before this issue and a due date for release 3.0.0?

[2020-06-25 06:18] Madhu-1 commented on #798
cc @humblec

[2020-06-25 06:39] nixpanic opened #1184 "Update golangci to v1.27.0 (or current latest version)"
We are testing with golangci v1.21.0, while v1.27.0 is [currently the latest version](https://github.com/golangci/golangci-lint/tags).

Several new linters have been added since. Our codebase is not following best practices, so the new golangci linters report errors.

This issue is a tracker for how to run with the new linter version, and which PRs address code cleanups (or linter configuration tu

[2020-06-25 09:17] Yuggupta27 commented on #1132
Please assign @Madhu-1

[2020-06-26 08:41] Madhu-1 opened #1188 "Tracker to fix todo in #1160 snapshot PR"
This issue is for tracking the TODO which needs to be fixed after merging #1160, this will be closed after fixing all the todo's
for easier tracking am adding the TODO list here from the PR

- [ ] Create PVC from PVC
- [ ]  Fix issues with snapshot/clone (512) limits #1098
- [ ]  Allow Parallel cloning and snapshots creation on one PVC/clone (Need to work on in-memory locking)
- [ ]  Improve/Add D

[2020-06-26 09:19] #1123 closed

[2020-06-26 21:58] yanchicago commented on #1173
Yes, needed above.

[2020-06-28 02:46] jianglingxia commented on #1181
thanks all

[2020-06-28 02:46] #1181 closed

[2020-06-28 03:20] jianglingxia opened #1190 "ceph-csi-driver pod used cephfs pvc exec controllerPublishVolume(attach volume)?"
# Describe the bug #
the kubelet log is Volume not attached according to node status for volume \"pvc-68e8f364-7b51-461b-8cc2-ec2ef766c0fa\"

i found the cephfs csi-cephfs-driver code not found the method ControllerPlublishVolume，is mean the pod used cephfs pvc maybe no need exec attached ,is right?
so the attacher sidecar watch the volumeattachment,the csi driver do nothing then the k8s will modi

[2020-06-28 03:22] jianglingxia commented on #1190
@nixpanic   @Madhu-1

really thanks

[2020-06-28 17:46] #1180 closed

[2020-06-29 14:21] humblec commented on #798
@clwluvw this RFE or enhancement was not tracked for `3.0.0` release, so the ideal thing here is to target it for next minor release of 3.x ( ie 3.1.0). We did an initial triage on getting this in `3.0.0` release as @Madhu-1 mentioned, however the first impression was that, this could shake the other work going on to add snapshot,restore,clone features for cephfs and rbd. Thats why the release cal

[2020-06-29 16:45] clwluvw commented on #798
@humblec I thought it could be merged and doesn't impact anything like other cleanup PRs! :)

[2020-06-30 04:43] #1132 closed

[2020-06-30 17:43] #1168 closed

[2020-06-30 19:15] ferdelatejera commented on #865
Hi, where we can take Ceph CSI driver?

[2020-07-01 05:43] yati1998 commented on #360
Hi @Madhu-1 can you assign me this issue? I would like to work on this.

[2020-07-01 05:45] Madhu-1 commented on #360
@yati1998 Am not able to assign this to you.

[2020-07-01 05:45] Madhu-1 commented on #360
@humblec can you help here?

[2020-07-01 07:12] Madhu-1 commented on #849
Closing this one as snapshot is moved to beta in master

[2020-07-01 07:12] #849 closed

[2020-07-01 07:14] Madhu-1 commented on #1190
cephfs does not support ControllerPublishVolume

[2020-07-01 07:16] Madhu-1 commented on #1047
Closing this one as its not an issue in CSI side

[2020-07-01 07:16] #1047 closed

[2020-07-01 07:23] Madhu-1 commented on #696
@Yuggupta27 would you like to take this up?

[2020-07-01 07:24] Madhu-1 commented on #696
the Upgrade needs to be done from v2.x to master

[2020-07-01 07:26] Madhu-1 commented on #1183
@nixpanic can you please provide the steps to reproduce this issue? so that we can fix it in this release.

[2020-07-01 07:29] Madhu-1 commented on #1120
looks to be an issue in kubernetes itself not in CSI, the kubernetes need to handle the port forwarding

W0525 08:11:08.973783       1 metrics.go:142] metrics endpoint will not be started because `metrics-address` was not specified.

we are not starting any mertrics server in sidecar containers

[2020-07-01 08:21] #263 closed

[2020-07-01 08:21] #446 closed

[2020-07-01 08:25] nixpanic opened #1193 "Rename the "master" branch to "devel" or similar"
The name of the `master` branch in git has associations with slavery and can make contributors feel less welcome. Instead of being triggering emotional reactions while developing software, it would be preferred to rename the main working branch to `devel` or something like that.

My opinion is that `main` is not specific enough, users could consider it as a stable release. Hence `devel` is my sugg

[2020-07-01 08:37] mykaul commented on #1193
+1 for devel.

[2020-07-01 08:38] Madhu-1 commented on #1193
+1 for devel

[2020-07-01 08:39] Madhu-1 commented on #1193
@humblec @ShyamsundarR @Yuggupta27 @agarwal-mudit any suggestion.

[2020-07-01 08:42] Yuggupta27 commented on #1193
I'm fine with both devel and main. Both are better than master anyways :)

[2020-07-01 08:42] Yuggupta27 commented on #1193
@nixpanic https://eyqs.ca/tools/rename/ might help.

[2020-07-01 09:02] humblec commented on #1193
Yeah, lets use `devel` instead of `master.

[2020-07-01 09:14] agarwal-mudit commented on #1193
devel is better than main

[2020-07-01 16:16] innobead commented on #849
Super n thanks.

[2020-07-01 16:21] nixpanic commented on #966
While considering an approach to address this, I wonder if there is a reason why the provisioner does not do the full provisioning (and create the filesystem). Could you tell me why that is, @humblec or @Madhu-1? Would it not be cleaner to have a separation between provisioning and consumtion? Now there is a partial provisioning done, and the final steps are done in the NodeStageVolume procedure (

[2020-07-01 17:26] dillaman commented on #966
Hmm -- would that be any better to have the controller map and mkfs the FS upon creation? The controller is a bottleneck right now as it is (since there is only 1 active) and it too could be a different kernel version than the worker nodes so it wouldn't address this issue, right?

[2020-07-02 02:31] jianglingxia commented on #1190
yeah,the attach in sidecar external-attacher used trivialHandler markAsAttached
but cephfs if not attached can create the CSIDriver resource in k8s  like this

apiVersion: storage.k8s.io/v1beta1
kind: CSIDriver
metadata:
  name: csi-cephfs-sc
spec:
  attachRequired: false     //marked false then the k8s no need create volumeattachment resource because there have some problem when volumeattachment

[2020-07-02 07:30] Madhu-1 commented on #1097
closing this as its not a CSI issue

[2020-07-02 07:30] #1097 closed

[2020-07-02 07:44] humblec commented on #792
@devopsjonas is it possible for you to try `kcephfs` mounter instead of `fuse`?  because fuse or userspace deamon restart is a known issue as you noted and we dont have a complete solution atm.

[2020-07-02 08:05] devopsjonas commented on #792
We are running centos 7 and I have no clue how to find out what features are supported on that etc, so we decided just to use fuse client. Maybe you have a link where we could look this information up? if thats pretty up to date we can definetely switch.

[2020-07-02 08:59] agarwal-mudit commented on #1193
@phlogistonjohn @nixpanic I guess same is required for go-ceph also?

[2020-07-02 11:15] Yuggupta27 opened #1197 "containerized test fails on multiple re-runs."
# Describe the bug #

Re-running containerized test fails with an error.
Container Runtime: Docker

# Steps to reproduce #

Steps to reproduce the behavior:

` make containerized-test TARGET=go-lint`
and re-run multiple times.

# Actual results #

[code]

# Expected behavior #

re-running the command starts a new test.

# Additional context #

Workaround is deleting .test-container-id manually.

[2020-07-02 11:39] nixpanic commented on #1197
Could it be that the `quay.io/cephcsi/cephcsi:test` container image was removed in a different way than running `make clean` in the repository?

[2020-07-02 11:41] Yuggupta27 commented on #1197
Are images being deleted automatically due to low disk space?

[2020-07-02 12:03] nixpanic commented on #966
It would not address the issue. The `mkfs.xfs` that is used for the formatting comes from the base Ceph container and can well be a different version than what is available on the host running the containers. The question was more about the correctness of the CSI-spec implementation.

[2020-07-02 12:06] Yuggupta27 commented on #1197
I cleared up space and still, the image seems to be gone after some time... I need to check what makes the image gets deleted...

[2020-07-02 12:10] dillaman commented on #966
Is there a specific part of the spec that you think ceph-csi is out of compliance with?

[2020-07-02 12:51] Madhu-1 commented on #966
the provisioner work is to just create the RBD images and it will be part of node plugin to make sure the image is available on a given path on the node where the PVC needs to be mounted.

is it possible to check the mkfs supports reflink or not when formatting if supported use it else dont't use it?

[2020-07-02 13:03] Yuggupta27 commented on #1197
Docker images get deleted automatically when sufficient free space is not present. If anyone else faces this issue, make sure you have enough free space on your disk, especially where you store the Docker images.
Closing this as it is not a ceph-csi issue.

[2020-07-02 13:03] #1197 closed

[2020-07-02 14:40] jpsaneesh opened #1199 "Error in pod "csi-rbdplugin-provisioner" Still connecting to unix:///csi/csi-provisioner.sock"
# Describe the bug #

[code]
On checking logs of the  pods, we see the following messages on repeat

W0702 14:07:56.018101       1 connection.go:172] Still connecting to unix:///csi/csi-provisioner.sock
W0702 14:08:06.018139       1 connection.go:172] Still connecting to unix:///csi/csi-provisioner.sock
W0702 14:08:16.018104       1 connection.go:172] Still connecting to unix:///csi/csi-provisione

[2020-07-02 14:43] Madhu-1 commented on #1199
Please use templates from release v2.1.2 branch not from master.

[2020-07-02 22:19] ansiwen commented on #1184
I have to run the test with `CPUSET= make containerized-test TARGET=go-lint`, because I use root-less podman. Is this a known issue?

[2020-07-03 04:35] Madhu-1 commented on #1188
@dillaman @idryomov can you please help us to know the kernel version which supports the deep-flatten features.

[2020-07-03 07:25] idryomov commented on #1188
deep-flatten is supported starting with upstream 5.1 and RHEL 8.2.

[2020-07-03 07:30] Madhu-1 commented on #1188
any exact version of RHEL 8.2? like `4.18.0-193` because we need to flatten the image if the kernel version is less than the required version.

[2020-07-03 07:47] idryomov commented on #1188
Yes, use `4.18.0-193`.  Technically it is in `4.18.0-154`, but going by released versions is better.

[2020-07-03 07:49] Madhu-1 commented on #1188
@idryomov So we can flatten the rbd images before use if the kernel version is less than 4.18.0-154 ?

[2020-07-03 07:53] idryomov commented on #1188
I think it's better to use `4.18.0-193` as the cutoff version.

[2020-07-03 07:58] Madhu-1 commented on #1188
Okay will consider it, Thanks @idryomov

[2020-07-03 09:04] HackerDotCN commented on #865
v3.x version is abandoned ? I just find v4.x in tags

[2020-07-03 09:05] Madhu-1 commented on #865
Can you point me to 4.x tagged images link?

[2020-07-03 10:29] Yuggupta27 commented on #696
Sure Madhu, I'll start working on it.

[2020-07-03 14:08] ferdelatejera commented on #865
Hi, so the GA targeted for 30-Jun was pushed? I see that the ticked suddenly changed the target dates.

[2020-07-04 16:10] ansiwen opened #1203 "Error types carry unused data and are overly complicated"
The error types in internal/util/errors.go contain metadata, that is constructed and managed in many places in the code, but actually never used, for example `keyName` field in the `ErrKeyNotFound` type or `objectName` in `ErrObjectExists` [here](https://github.com/ceph/ceph-csi/blob/826f7126cdf18a698b2ac637e0821567c90131d2/internal/util/errors.go#L21). Also, inspecting errors by their type is not

[2020-07-06 10:08] #1098 closed

[2020-07-06 13:26] nixpanic commented on #1199
@jpsaneesh were you able to resolve the issue?

[2020-07-06 13:46] jpsaneesh commented on #1199
@Madhu-1
Image quay.io/cephcsi/cephcsi:v2.1-canary worked for us in branch "release-v2.1".

I hope this docker image is stable?

[2020-07-06 13:49] Madhu-1 commented on #1199
better to use `https://github.com/ceph/ceph-csi/tree/v2.1.2`  and `quay.io/cephcsi/cephcsi:v2.1.2`, closing this one as it works

[2020-07-06 13:49] #1199 closed

[2020-07-07 09:51] andrewsali commented on #546
Is the snapshot feature fully supported by the kernel driver?  It seems there can be issues if a larger amount of snapshots are created: https://tracker.ceph.com/issues/21420

[2020-07-07 09:57] Madhu-1 commented on #546
you cannot have more than 400 snapshots for cephfs more info on https://github.com/ceph/ceph-csi/issues/1133

[2020-07-08 14:33] #1143 closed

[2020-07-08 19:27] turettn opened #1216 "Handle cases where ceph command blocks indefinitely"
# Describe the bug #

If the `ceph` command hangs indefinitely, k8s will eventually give up.  ceph-csi will not, and any subsequent attempt to do anything to that volume will result in an "operation in progress" error.

We're seeing a weird bug on the ceph side where a bunch of ceph commands (e.g. `ceph fs subvolume getpath`) blocks.  We're working on that separately, but it exposed this issue wit

[2020-07-09 02:48] Macrame opened #1217 "Fail to mount RBD PVC with error Internal desc = exit status 2"
# Describe the bug #

I deployed ceph cluster using [cephadm](https://docs.ceph.com/docs/master/cephadm/#cephadm) successfully. I can create StorageClass and pvc with **CephFS** , instead, **RBD** failed.

# Environment details #

- Image/version of Ceph CSI driver : **v1.3.0-0**
- Helm chart version : **NO**
- Kernel version :  **4.18.0-147.8.1.el8_1.x86_64**
- Mounter used for mounting PVC (for

[2020-07-09 02:50] Madhu-1 commented on #1217
@Macrame please use latest version of cephcsi (v2.1.2), let us know if the issue exists.

[2020-07-09 02:57] Madhu-1 commented on #1217
From the log it's look like you are using canary image. Let me take a look at it

[2020-07-09 03:00] Macrame commented on #1217
I am sorry that I was puzzled. The version information:
**driver-registrar** :
[code]

[2020-07-09 03:03] Madhu-1 commented on #1217
Yeah this is the latest version, can you please provide the pvc template used for your testing

[2020-07-09 03:06] Madhu-1 commented on #1217
And also provide the rbd info of the image from ceph cluster

[2020-07-09 03:12] Macrame commented on #1217
I just used the example of ceph [documentation](https://ceph.readthedocs.io/en/latest/rbd/rbd-kubernetes/#using-ceph-block-devices) and I changed the name of `namespace` and `pool`.
**csi-rbd-sc.yaml**
[code]

**raw-block-pvc.yaml**
[code]

rbd info
[code]

Thanks for your response.

[2020-07-09 03:15] Madhu-1 commented on #1217
@dillaman if we don't provide the image features when creating a rbd image will these features comes as default?

[2020-07-09 03:16] Madhu-1 commented on #1217
@Macrame can you please pass image-feature=layering in storageclass and create new pvc and see

[2020-07-09 03:19] Madhu-1 commented on #1217
Here is the example https://github.com/ceph/ceph-csi/blob/4e82384b43478b4f034b41e90760ed1a9d962166/examples/rbd/storageclass.yaml#L30

[2020-07-09 03:22] Macrame commented on #1217
I see. I am trying to delete them and create them again. But the previous issue appears again.

`MapVolume.SetUpDevice failed for volume "pvc-7fcd65f2-42c6-4ab1-a95d-e9eb27de22f4" : kubernetes.io/csi: blockMapper.SetUpDevice failed to get CSI client: driver name rbd.csi.ceph.com not found in the list of registered CSI drivers`

I am restarting the rbd-plugin pod.

[2020-07-09 03:24] Madhu-1 commented on #1217
For above error see driver-registrar logs it might help

[2020-07-09 03:37] Macrame commented on #1217
This issue can resolved by adding `imageFeatures: layering`.
The `name rbd.csi.ceph.com not found` issue only occurs some of nodes. Only one node can run the pod successfully.
**driver-registrar logs **
[code]
It looks like normal.

[2020-07-09 03:54] Macrame commented on #1217
Ok, I should open a new issue for `driver name rbd.csi.ceph.com not found in the list of registered CSI drivers`. Let me close this issue. Thanks for your help.

[2020-07-09 03:54] #1217 closed

[2020-07-09 04:03] Macrame opened #1218 "driver name rbd.csi.ceph.com not found in the list of registered CSI drivers"
# Describe the bug #

I deployed ceph cluster using [cephadm](https://docs.ceph.com/docs/master/cephadm/#cephadm) successfully. I can create StorageClass and pvc with **CephFS** and **RBD** in only one of 3 nodes. The others encounter an error `MapVolume.SetUpDevice failed for volume "pvc-7fcd65f2-42c6-4ab1-a95d-e9eb27de22f4" : kubernetes.io/csi: blockMapper.SetUpDevice failed to get CSI client: d

[2020-07-09 06:45] Macrame commented on #1218
After restarting the host server it works now.

[2020-07-09 06:45] #1218 closed

[2020-07-09 11:55] nixpanic opened #1221 "Add regular workload test: KubeVirt/Containerized-Data-Importer"
# Describe the feature you'd like to have #

[Containerized-Data-Importer](https://github.com/kubevirt/containerized-data-importer) is a [KubeVirt](https://kubevirt.io) project that can work with CSI drivers. It is a straight forward workload that exercises many features of Ceph-CSI. In case a change breaks an external consumer like CDI, developers working on Ceph-CSI need to have a look at the ca

[2020-07-09 11:59] nixpanic opened #1222 "Add workload test: Velero"
# Describe the feature you'd like to have #

[Velero](https://velero.io) is a project that can work with CSI drivers. It is a straight forward workload that exercises many features of Ceph-CSI. In case a change breaks an external consumer like Velero, developers working on Ceph-CSI need to have a look at the cause and address it.

# What is the value to the end user? (why is it a priority?) #

Les

[2020-07-09 12:00] Madhu-1 commented on #1222
ceph-csi upstream testing becomes heavy if we keep adding tests for the consumers. if we can validate the normal functional testing works fine from kubernetes point of view it should be fine I believe.

[2020-07-09 12:11] nixpanic commented on #1222
Although that is true, testing with real-world applications in addition to the expected-functionality tests is important. This is a little similar to adding tests like #250. We just do not know if functional tests are sufficiently complete. Proving functionality through workload (smoke/happy-path) tests gives better assurance that we do not break things.

[2020-07-09 13:49] humblec commented on #1222
agree. I am not in favor of adding tests for consumers in this repo or project. We should stick to the minimum app/workload e2e testing and that should be it.  As an extension to this, we could also add csi sanity tests to make sure we are in parity with the spec.

[2020-07-09 14:43] DavidePrette opened #1223 "csi-snapshotter not working error the snapshot source is not the right type"
Hi everyone,
I configured Ceph-csi-rbd with helm (chart version v2.1.2) correctly, everything work as excepted but the snapshot no.
This is my error:
[code]
Definition of snapshot:
[code]

This is the snapshotclass config:
[code]
OS: Ubuntu 20.04
K8: version 18.3 from rancher
Ceph nautilus version 14.2.10

[2020-07-10 05:44] Madhu-1 commented on #1223
Alpha snapshots are not backward compatible, the snapshot is moved to beta in the master branch if you want to try out you can test it with the master.

[2020-07-10 05:44] Madhu-1 commented on #1223
closing it for the same reason, please try out the master branch or wait for the v3.0.0 release.

[2020-07-10 05:44] #1223 closed

[2020-07-10 09:20] nixpanic commented on #1222
I think there should be real workload tests, and not only synthetic functional tests. We can run them nightly/weekly and not for every PR if that is preferable.

[2020-07-10 09:24] nixpanic commented on #1216
We are removing all calls to `ceph`, `rados` and `rbd` commands in favour of ceph/go-ceph API calls.

That said, there is no timeout in the Ceph libraries that can be used for this. ceph/go-ceph#165 has been filed for a similar request.

[2020-07-10 10:03] Madhu-1 commented on #1216
I tried to do add a timeout for CLI commands long back https://github.com/ceph/ceph-csi/pull/194 but we closed that one as it can cause issues. @nixpanic is it something we can request from ceph libraries?

is there a way to identify which command is struck in go-ceph now?

[2020-07-10 10:55] Madhu-1 commented on #882
opened #1226 to remove the support but keeping the support request from @gman0 for cephfs mounting.

[2020-07-10 11:14] nixpanic commented on #1216
There is no way at the moment. We could consider adding something optionally to the `rados.IOContext` or somewhere else. I imagine a member added to one of the types that can be used to construct a `context.Context` when calling out to the Ceph libraries. @phlogistonjohn and @ansiwen, what do you think?

[2020-07-10 11:14] strigazi commented on #882
@gman0 does this mean after #1226 manila-csi won't be able to use ceph-csi?

[2020-07-10 11:54] gman0 commented on #882
@strigazi no, we're making sure it will keep working :)

[2020-07-10 12:59] Yuggupta27 opened #1227 "Address goerr113 warnings"
`goerr113` is a golang linter to check the errors handling expressions.
It warns about using wrapped static errors in place of dynamic at multiple places.
Issue reported:  `err113: do not define dynamic errors, use wrapped static errors instead`

Steps:
1. Enable `goerr113` linter from `scripts/golangci.yml.in` (if #1157 is merged)
2. Run `make containerized-test TARGET=go-lint`

# How will we kno

[2020-07-10 13:20] phlogistonjohn commented on #1216
There are some ceph configuration values with timeouts that can be experimented with and tweaked.

Additionally, I would suggest a mechanism for monitoring long running calls using a goroutine. Perhaps something like:
[code]
Or for more complex multi call function
[code]

This approach would work for both go-ceph calls or cli calls. It would basically act as a supplement to inline logging and woul

[2020-07-10 13:52] Madhu-1 opened #1228 "rename function related to v1.0.0 in cephfs nodestage"
This issue is to trach the comment in https://github.com/ceph/ceph-csi/pull/1226#issuecomment-656678463

[2020-07-10 16:07] #882 closed

[2020-07-11 05:00] Yuggupta27 opened #1229 "Refactor deeply nested if statements"
`nestif` reports deeply nested if statements in the codebase.
Issue reported: `... is deeply nested (complexity: X) (nestif)`

Steps:
1. Enable `nestif` linter from scripts/golangci.yml.in (if #1157  is merged)
2. Run `make containerized-test TARGET=go-lint`

# What is the value to the end user? (why is it a priority?) #
Improve understandability and reduce Cognitive Complexity.

# How will we kno

[2020-07-12 03:05] Madhu-1 opened #1230 "Parallelize the Snapshot Create and Restore and PVC-PVC cloning"
With the current implementation, the locking is taken based on the ID. if the lock already exists we return operation already exists Error Message, This works fine for Volume create/Delete/Resize. The current locking makes the operation serialized When its come for snapshot create and delete we need to take a lock on the parent volume when we are creating and deleting to Ensure that the parent vol

[2020-07-12 03:05] Madhu-1 commented on #1230
This is tracked in  https://github.com/ceph/ceph-csi/issues/1188

[2020-07-14 15:43] chandr20 opened #1236 "Failed to provisioner Volume, Volume operation already exists"
After deleting the helm chart apps and reinstalling the helm charts causes the PVC in pending state .Restarting the provisioner  pods has solved the problem

# Environment details #

    Image/version of Ceph CSI driver v2.1.1
    helm chart version 1.2.5
    Kubernetes cluster version 1.16.7
    kernel  3.10.0

Logs

Stuck up in following state

  Type    Reason                Age

[2020-07-15 06:16] Madhu-1 commented on #1236
lock is already held by `csi-rbdplugin-provisioner-76d465bbc-zbd96` please provide the logs of  csi-provisioner container of `csi-rbdplugin-provisioner-76d465bbc-zbd96` pod

[2020-07-15 08:24] HaveFun83 commented on #1120
@Madhu-1  What about this one here?
https://github.com/ceph/ceph-csi/blob/master/charts/ceph-csi-rbd/templates/provisioner-deployment.yaml#L159
https://github.com/ceph/ceph-csi/blob/master/charts/ceph-csi-rbd/templates/nodeplugin-daemonset.yaml#L130

[2020-07-15 17:06] ShyamsundarR opened #1239 "Provide secrets to the provisioner/nodeplugin pods directly, rather than rely on secrets via the CSI requests"
Branching off from this comment: https://github.com/ceph/ceph-csi/issues/578#issuecomment-583501921

This issue to track specifically, the ability to provide the CSI pods with cluster secrets for use as below,

To overcome lack of secrets for any required solution in NodeUnstageVolume request, it is proposed that we can add secrets (name/namespace data) to the clusterID configuration, and read/wat

[2020-07-15 18:17] kfox1111 commented on #593
FYI, we gave up, parallel installed the newer driver and have been manually moving pv's over from one driver to another as we have time. Ugly but gives us a path forward.

[2020-07-15 21:50] wccropper opened #1240 "missing configuration for cluster ID"
# Describe the bug #
unable to dynamically create pv (ceph rbd or fs). error below is the same for both.

# Environment details #
- Image/version of Ceph CSI driver : 2.1.2
- Helm chart version : 2.1.2
- Kernel version : 5.7.3
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : left to auto
- Kubernetes cluster version : 1.17.1
- Ceph cluster ve

[2020-07-16 05:55] humblec commented on #865
Yeah, we had to push it for 3/4 weeks to get and use  CephFS release ( `14.2.10 & 15.2.2`) out  which support some must have fixes or enhancements to support cephfs snapshot and clone functionality.  As they are released now, we are on track for new GA date which is of this month end.

[2020-07-16 05:58] Madhu-1 commented on #1240
the clusterID in configmap is "fsID" and in storageclass its `0603ffb5-a6da-4dbc-ab4d-aab667d2bc86`, the clusterID should match in configmap and storage class to provisioner a PVC, closing this one as its a miss-configuration.

[2020-07-16 06:00] Madhu-1 commented on #1050
@humblec i see cephfs-clone and more named branch in ceph/ceph-csi repo. can you please remove it?

[2020-07-16 06:14] humblec commented on #1050
sure @Madhu-1

[2020-07-16 06:16] humblec commented on #1050
cleaned up those @Madhu-1 :+1:

[2020-07-16 06:40] humblec opened #1242 "Tracker to fix todo in #394 CephFS snapshot/Clone PR"
This issue is for tracking the TODO which needs to be fixed after merging #394 , this will be closed after fixing all the todo's
for easier tracking am adding the TODO list here from the PR

- [x]  Update Documentation
<del> Describing e2e documentation on snapshot create,delete, restore and PVC clone
<del>Update support matrix to describe  which ceph versions are supported
- [x] Plugin restart co

[2020-07-16 06:45] Madhu-1 commented on #1239
@ShyamsundarR Thanks for creating the issue. We need to do this enhancement to overcome some limitations. This is a good candidate for next release after 3.0.0

[2020-07-16 06:46] Madhu-1 commented on #1242
@humblec Adding E2E for TODO doesn't seem correct. Without E2E in #394 how to ensure that everything works fine?

[2020-07-16 07:16] humblec commented on #1242
Sure, the rook cluster upgrade made me to put it here in first place, but removing it from the list as we need to sort this out any way. thanks ! :+1:

[2020-07-16 08:57] #1003 closed

[2020-07-16 13:38] wccropper commented on #1240
I was obfuscating the fsid but of course the logs show the real id which I did not obfuscate. I have replaced it in the original report. The same fsid is used everywhere in my config already.

[2020-07-16 14:35] wccropper opened #1246 "please reopen #1240"
please reopen #1240
There was a misunderstanding of what was reported and the actual issue. data was obfuscated and caused confusion and a misdiagnosis of the issue.

[2020-07-16 14:36] #1246 closed

[2020-07-16 14:40] Madhu-1 commented on #1240
is restarting the pod helps? and is it happening for all-new PVC? can you create a new PVC and verify it?

[2020-07-16 14:42] Madhu-1 commented on #1240
of below containers.

  provisioner pod.

and also provide the csi-cephfplugin logs. i would suggest you to provide logs as per issue template

[2020-07-16 15:09] wccropper commented on #1240
I did rolling restart on the entire k8s cluster (worker2, then 1 then master) New deployment of dokuwiki helm chart. Same issue. Applied test pvc using https://github.com/ceph/ceph-csi/blob/master/examples/cephfs/pvc.yaml same message. Provided the used yaml files for the csi-config-map.yaml and storageclass.yaml

`---
apiVersion: v1
kind: ConfigMap
data:
  config.json: |-
    [
      {
        "c

[2020-07-16 15:17] Madhu-1 commented on #1240
This log doesn't help you need to provide csi-cephfsplugin container logs from ceph-csi-cephfs-provisioner-5994cddd8-gv8pp as it is the leader at present

[2020-07-16 15:21] wccropper commented on #1240
I'm still a beginner with k8s. Understanding where the logs are isn't clear always. Is this what you need?

[code]

[2020-07-17 08:02] Madhu-1 opened #1248 "Add a script to cleanup the leftover omap and subvolume/rbd image"
When a PVC with `reclaimPolicy:retain` is deleted from the kubernetes cluster. the PV, OMAP data corresponding to the PVC and also the backend subvolume or rbd image need to be deleted to reclaim the space in the ceph cluster.

We need to add a script to list the all PVC, subvolume, rbd images (not we need to list the rbd images and subvolumes need to be cleanup)
Note: one Gotha here is that maybe

[2020-07-17 08:05] Madhu-1 commented on #1248
@agarwal-mudit / @Yuggupta27 @chenxu1990 anyone interested in working on this one?

[2020-07-17 08:17] agarwal-mudit commented on #1248
I can work on it.

[2020-07-17 08:20] Madhu-1 commented on #1248
Thanks a lot @agarwal-mudit

[2020-07-17 09:49] agarwal-mudit commented on #1248
Thanks @Madhu-1

[2020-07-17 14:39] simonpie commented on #798
What are the ETAs for version 3.0.0 and for 3.1 ?  Or where could I find that information ?

[2020-07-17 14:57] humblec commented on #798
3.0 Release issue is here # https://github.com/ceph/ceph-csi/issues/865

[2020-07-20 05:48] Madhu-1 commented on #1148
closing this one as there is no unwanted branches.

[2020-07-20 05:48] #1148 closed

[2020-07-20 07:10] Madhu-1 commented on #966
if we don't fix this issue before 3.0.0 we will hit it again. either we need to change our base image back to nautilus again or fix this issue in code.

[2020-07-20 09:39] Madhu-1 commented on #633
yeah closing this one as we have option to specify the default filesystem in external-provisioner. Thanks for reminding me @nixpanic

[2020-07-20 09:39] #633 closed

[2020-07-20 11:57] Madhu-1 commented on #1106
@humblec are you working on the fix? would you like to track this one for v3.0.0 if not please move this out of v3.0.0 release milestone

[2020-07-20 12:00] Madhu-1 commented on #250
@nixpanic do we need it in release-3.0.0 milestone? or can we move it outside

[2020-07-20 12:02] Madhu-1 commented on #675
This is fixed now closing this one

[2020-07-20 12:02] #675 closed

[2020-07-20 12:04] Madhu-1 commented on #360
moving this one out of  release-3.0.0 milestone.

[2020-07-20 12:06] Madhu-1 commented on #578
moving this one out of release-v3.0.0 milestone

[2020-07-20 12:07] Madhu-1 commented on #440
moving this one out of release-v3.0.0 release

[2020-07-20 12:08] Madhu-1 commented on #676
Moved this out of release-v3.0.0 milestone

[2020-07-20 12:11] Madhu-1 commented on #1096
@humblec do we need it in release-3.0.0 milestone? or can we move it outside

[2020-07-20 12:12] Madhu-1 commented on #881
@agarwal-mudit do we need it in release-3.0.0 milestone? or can we move it outside

[2020-07-20 12:15] Madhu-1 commented on #823
@ShyamsundarR am closing this one, as this is already covered.

[2020-07-20 12:15] #823 closed

[2020-07-20 12:16] Madhu-1 commented on #246
closing this one as its covered in https://github.com/ceph/ceph-csi/issues/702

[2020-07-20 12:16] #246 closed

[2020-07-20 12:25] agarwal-mudit commented on #881
We can move, I missed working on this and now it would be difficult to meet the timelines because it might need more testing. Will fix it in next release.

[2020-07-20 12:42] humblec opened #1253 "Parsing of cephfs snapshot.createTime to time.ANSIC generate fails"
# Describe the bug #

A clear and concise description of what the bug is.

ceph fs snapshot info returned `CreatedAt` timestamp fails to be parsed to time.ANSIC generate. We have to parse it to a layout and store in createSnapshot response due to this limitation. This issue tracks it.
Refer#https://github.com/ceph/ceph-csi/pull/394#discussion_r457059898
 https://github.com/ceph/ceph-csi/pull/394/f

[2020-07-20 12:44] Madhu-1 commented on #881
Thanks, @agarwal-mudit moving it out of release-v3.0.0 milestone

[2020-07-20 12:47] humblec opened #1254 "CephFS cloned volume size has to be explictly adjusted for the parent volume size."
# Describe the bug #

The CephFS snapshot size is not reflected correctly and while cloning from this snapshot we have to adjust the size of the cloned volume by an explicit call to `resizeVolume` to be in parity with the parent volume. This issue track the same.
Refer# https://github.com/ceph/ceph-csi/pull/394#discussion_r457051688

[2020-07-20 13:25] KateGo520 opened #1255 "Cannot get latest version: module contains a go.mod file, so module path should be github.com/ceph/ceph-csi/v2"
## Background
The github.com/ceph/ceph-csi uses [Go modules](https://github.com/golang/go/wiki/Modules) and the current release stream version is **v2**. It must comply with the specification of "Releasing Modules for v2 or higher" available in the Modules documentation and enforced since the most recent versions of Go. The module path of **github.com/ceph/ceph-csi** should be "github.com/ceph/cep

[2020-07-20 13:29] Madhu-1 commented on #1255
ceph-csi is not meant for imported that why all the files are moved to internal package. more info on https://github.com/ceph/ceph-csi/pull/955

[2020-07-20 13:32] KateGo520 commented on #1255
@Madhu-1 I get it. Thank you for your reply.

[2020-07-20 13:38] yanchicago commented on #578
This is #1 blocking issue for us to deploy rook/ceph in the fields. Any suggestions how to move on?

[2020-07-20 13:42] humblec commented on #578
@nixpanic was exploring the options on this feature support or workarounds to unblock such situations.  Niels, anything to add here from your end ?

[2020-07-21 03:03] Madhu-1 commented on #1188
closing this one as  `* [ ]   Allow Parallel cloning and snapshots creation on one PVC/clone (Need to work on in-memory locking)` already tracked in #1230

[2020-07-21 03:38] Madhu-1 commented on #257
This is fixed in https://github.com/ceph/ceph-csi/pull/1244, closing this one

[2020-07-21 03:38] #257 closed

[2020-07-21 08:05] nixpanic commented on #966
This would make the PVC unavailable in case it gets attached to a node that does not support reflink. It will be unpredictable and difficult for users to understand why a PVC can not be used on some nodes, but may work on others.

We can run `mkfs.xfs`and check for `reflink=` in stderr. In case it is there, pass `-m reflink=0` on the cmdline before formatting. This should ideally be a config optio

[2020-07-21 08:36] #1184 closed

[2020-07-21 08:38] nixpanic opened #1256 "RBD: Enable support for reflink on XFS"
# Describe the feature you'd like to have #

XFS supports reflinking that makes it possible to do copy-on-write with the `copy_file_range()` syscall. Not all Linux kernels support this feature, and when enabled on an RBD image, kernels without support will not be able to mount the filesystem.

Being conservative, and preventing breakage of users that migrate from Ceph Nautilus to Ceph Octopus base

[2020-07-21 08:40] Madhu-1 commented on #1256
Thanks for opening this one. Let's track it for the next release.

[2020-07-21 08:40] nixpanic commented on #966
After a chat with @Madhu-1 on the ceph-csi slack, we decided to always disable support for reflink. #1256 has been reported to make it possible to enable reflink in the future.

[2020-07-21 13:25] #1230 closed

[2020-07-21 16:20] walkamongus opened #1258 "Support Ceph msgr2 protocol"
# Describe the feature you'd like to have #
Support msgr2 enabled communication

# What new functionality do you want?
The messenger v2 protocol supports a secure mode for encrypting all data passing over the network (as well as other benefits). User should be able to use the new msgr2 protocol and settings with the K8s Ceph drivers.

# What is the value to the end user? (why is it a priority?) #

[2020-07-21 16:41] dillaman commented on #1258
Note that there is zero support for msgr2 in any Linux kernel at the moment.

[2020-07-22 08:16] humblec commented on #1239
This enhancement also help to overcome some validation and failure in CSI driver to perform some operations. One example would be expansion of the PVs which does not carry the expansion secret..etc.

[2020-07-22 12:04] nixpanic opened #1260 "RBD: implement rbd.updateVolWithImageInfo() with go-ceph"
# Describe the feature you'd like to have #

`updateVolWithImageInfo()` is currently executing an `rbd` command to get details about an RBD image.

Fetching the needed timestamps it not possible with a released version of go-ceph yet, PR ceph/go-ceph#310 is only available in the master branch.

Once go-ceph v0.5 has been released, this issue can get addressed.

[2020-07-22 13:27] Yuggupta27 opened #1261 "cephfs: pvc mount fails after csi upgrade"
# Describe the bug #

A PVC created in CSI v2.0.0 is unable to get mounted after upgrading to the latest release.

# Steps to reproduce #

Steps to reproduce the behavior:

1. Create a pvc in v2.0.0
1. upgrade to master
1. Bind the existing pvc to a pod.

# Actual results #
[code]
# Expected behavior #

The pvc gets bound seamlessly.

# Logs #

cephfs plugin logs: https://termbin.com/z8wm
cephfs a

[2020-07-22 13:29] Yuggupta27 commented on #1261
The Default Subvolumegroup name is `csi` in v2.0.0 and `e2e` now for the end to end testing.

[2020-07-22 13:35] Madhu-1 commented on #1261
This is really good Catch Thanks for catching this one, or else we would have introduced a regression for subvolumes groups

[2020-07-22 14:14] Madhu-1 commented on #1261
This issue exists for Expand or Deleting the older PVC,

[2020-07-22 14:18] Madhu-1 commented on #1261
CC @madddi The subvolumegroup is not backward compatible after upgrading the ceph-csi to lastest version if the user updates the current configmap with subvolume group name

[2020-07-22 14:45] Madhu-1 commented on #1261
This won't be a regression, This is working properly and we need to document that the user should not update the information for the current clusterID. for the clusterID which are used by the ceph-csi driver(<3.0.0 which is master) the subvolume should remain as it is, **we just need to document it in upgrade procedure and also we need to extend the documentation on how to configure a subvolume**,

[2020-07-22 14:45] Madhu-1 commented on #1261
@Yuggupta27 can you please take care of it in your E2E upgrade testing. and also please send a documentation update for this one.

[2020-07-22 14:59] Yuggupta27 commented on #1261
Sure. I'll do that. Thanks for looking into it.

[2020-07-22 14:59] nixpanic opened #1264 "Ceph Mimic is deprecated, no need to support it with Ceph-CSI v3.x"
Mimic has been retired as of today:
- https://lists.ceph.io/hyperkitty/list/dev@ceph.io/thread/X5IUICDEM4IVVWTMUTSSNEU424MB6WL7/
- https://ceph.io/releases/mimic-is-retired/

There should be no need to test the upcoming Ceph-CSI v3 releases with Mimic anymore. Users that have not migrated from Mimic to Nautilus or Octopus can use older Ceph-CSI releases (v2.x is still maintained) until they upgrad

[2020-07-22 15:00] Madhu-1 commented on #1264
@dillaman @kotreshhr @ShyamsundarR @travisn can you get an ack from core side to deprecate the support for Mimic

[2020-07-22 15:16] dillaman commented on #1264
@Madhu-1 I am not sure I understand what you are asking for

[2020-07-22 15:20] Madhu-1 commented on #1264
just checking with you guys is it good to remove Mimic support from ceph-csi v3.0.0(we need to update README for the same) as Mimic is deprecated in ceph

[2020-07-22 15:29] travisn commented on #1264
@Madhu-1 Rook already removed support for mimic in v1.3, so it's fine from Rook's perspective.

[2020-07-22 15:33] dillaman commented on #1264
@Madhu-1 Yup -- sounds good to me.

[2020-07-22 16:22] nixpanic opened #1265 "implement CephFS volume management with go-ceph"
CephFS provisioning and other volume management operations call out to the `ceph` executable. To enhance performance, it is desired to rewrite these functions to use go-ceph instead.

PRs that implement a function with go-ceph, should add `Updates: #1265` to the comment so that tracking progress is easy.

[2020-07-22 16:24] nixpanic commented on #1265
@phlogistonjohn is this something you want to take on? Or, at least pass pointers to how the JSON commands need to be structured?

[2020-07-22 17:38] phlogistonjohn commented on #1265
I am interested in this topic, yes.  I had previously meant to do more in this area but my time has been consumed with other (non-ceph-csi) topics.

[2020-07-23 04:44] #1264 closed

[2020-07-23 06:17] agarwal-mudit commented on #1248
A couple of questions, metntioning here for records:

1. Should we extend tracevol.py or write a new script?
2. Should the script be interactive (to get confirmation of the user before deleting anything)
3. How are we supposed to provide this script to the downstream user?

[2020-07-23 06:26] Madhu-1 commented on #1248
If possible we can extend the script, we can make it interactive ask for deleting for confirmation, not worried for downstream as of now, we can make it part of cephcsi image, and use it?

[2020-07-23 08:05] nixpanic commented on #1265
I'm proposing this for the 3.1 release (no due date at the moment).

[2020-07-23 08:09] nixpanic opened #1269 "RBD: implement volume resizing with go-ceph"
The `resizeRBDimage()` function (to be renamed to `rbdVolume.resize()`) still calls out to the `rbd` command. go-ceph supports image resizing, so that should be used instead.

[2020-07-23 11:26] nixpanic commented on #1216
This is actually a duplicate of #694.

[2020-07-23 11:26] #1216 closed

[2020-07-23 11:34] agarwal-mudit commented on #1269
@nixpanic I can pick it up

[2020-07-23 11:48] nixpanic commented on #1269
This can be worked on once #1262 has been merged (contains the rename of `resizeRBDimage()` to `rbdVolume.resize()`).

[2020-07-23 12:36] agarwal-mudit commented on #1265
Happy to participate in this if required.

[2020-07-24 05:49] humblec commented on #865
**[Release Call Update]**
Due to missing support and difficulty to enable lastest `Ceph master and v15` in our Travis  E2E CI we are deferring CephFS **snapshot create, delete, restore and smart cloning support from v3.0.0** even though its working and tested manually against master version of Ceph. It will be the first item for **v3.1.0** release which is going to happen in next couple of weeks t

[2020-07-24 06:28] Madhu-1 commented on #865
Thanks for the update @humblec we are good.

[2020-07-24 06:36] Madhu-1 commented on #411
Moving it to release-v3.1.0

[2020-07-24 06:36] Madhu-1 commented on #701
Moving it to release-v3.1.0

[2020-07-24 06:37] Madhu-1 commented on #702
Moving it to release-v3.1.0

[2020-07-24 06:37] Madhu-1 commented on #1096
Moving it to release-v3.1.0

[2020-07-24 06:37] Madhu-1 commented on #1106
Moving it to release-v3.1.0

[2020-07-24 08:41] humblec opened #1272 "Release 3.1.0 of Ceph CSI Driver"
- [x] **Define release process**
  - Release doc would be a good start
- [x] **Define release deadlines**
  - Code Freeze : 08-Aug-2020
  - RC : 10-Aug-2020
  - GA : 12-Aug-2020

- [x] **Define/list roadmap for v3.1.0**
  - Proposed contents for v3.1.0 release
  - The release blockers (issues/PRs) are attached to [the `release-3.1.0` milestone](https://github.com/ceph/ceph-csi/milestone/6)

- [x]

[2020-07-24 12:19] nixpanic commented on #1269
#1262 has been merged. The `rbdVolume.resize()` function can now be implemented with go-ceph.

While doing so, it is probably a good idea  to pass the new size as a parameter to the `resize(newSize)` function, instead of updating the member of the `rbdVolume` object and hoping that resize does not return an error. After successful resize the  `resize()` method should update the member of the objec

[2020-07-24 13:37] #966 closed

[2020-07-26 13:42] humblec opened #1276 "Enable CentOS CI and Deploy latest Rook + Ceph Cluster versions for E2E tests"
# Describe the bug #

Working with minikube driver in travis CI has limitations and blocking features to get E2E tested due to the limtation at times. One very recent example would be incapability of bringing up or deploying recent Rook Versions ( >=1.3) thus the E2E tests are running with very old Ceph Cluster versions in place.

Please refer #394 for more details on the requirement to bring up C

[2020-07-26 13:44] Madhu-1 commented on #963
This is fixed

[2020-07-26 13:44] #963 closed

[2020-07-26 13:45] Madhu-1 commented on #1276
https://github.com/ceph/ceph-csi/issues/857 @nixpanic  is already working on which track it

[2020-07-26 13:48] Madhu-1 commented on #1255
Closing this one as the cephcsi is not available for importing

[2020-07-26 13:48] #1255 closed

[2020-07-26 13:50] Madhu-1 commented on #1236
Closing this one as there is no requested logs

[2020-07-26 13:52] Madhu-1 commented on #1190
Attach is required or else we may face issue with rwo pvc it's not a good idea to disable it. Closing this one

[2020-07-26 13:52] #1190 closed

[2020-07-26 14:25] humblec commented on #1261
@Yuggupta27 isnt this solved already ?

[2020-07-26 14:25] humblec commented on #1256
Closing this issue as its already fixed.

[2020-07-26 14:27] humblec commented on #1229
@Yuggupta27 isnt this taken care already?

[2020-07-26 14:28] humblec commented on #1227
Isnt this already taken care @Yuggupta27

[2020-07-26 14:48] humblec commented on #1276
sure.. but this also track latest Rook + Ceph Cluster deployment for E2E.  :+1:

[2020-07-26 15:22] humblec commented on #1050
This can be closed now.

[2020-07-26 16:24] Madhu-1 commented on #1256
@humblec this is not fixed, this is a feature request to enable reflink, reopening it for the se reason

[2020-07-26 16:25] Madhu-1 commented on #1050
Reopening as release-4.2 downstream branch is not removed yet

[2020-07-26 16:28] humblec commented on #1050
that was actually referred to downstream release once. ideally we are out of it, we could delete. But I kept it in case if we want it. Ideally we shouldnt have been referred anytign about downstream here . But, let me recheck once again.

[2020-07-26 16:28] Madhu-1 commented on #1261
This is not fixed yet, we need to update the documentation

[2020-07-26 16:30] Madhu-1 commented on #1227
This is not fixed, there is a todo present and it's currently disabled at   https://github.com/ceph/ceph-csi/blob/02b4a7175c4679466fdc6eab6674ef84525351ee/scripts/golangci.yml.in#L170

[2020-07-26 16:31] Madhu-1 commented on #1229
This is not fixed, there is a todo present and it's currently disabled at https://github.com/ceph/ceph-csi/blob/02b4a7175c4679466fdc6eab6674ef84525351ee/scripts/golangci.yml.in#L169

[2020-07-27 11:07] Madhu-1 commented on #865
ceph-csi v3.0.0 is released, more info at https://github.com/ceph/ceph-csi/releases/tag/v3.0.0, Image is available in https://quay.io/repository/cephcsi/cephcsi?tab=tags and kubernetes templates are available at  https://github.com/ceph/ceph-csi/tree/v3.0.0

[2020-07-27 11:07] #865 closed

[2020-07-27 13:25] karibertils opened #1283 "Error deleting volumes with csi-provisioner:v2.0.0-rc2"
My deployment: https://pastebin.com/zzuR3Fee

Can successfully provision volumes. But when deleting they are not removed.
[code]

[2020-07-27 13:30] Madhu-1 commented on #1283
please fill the issue template

[2020-07-27 13:30] #1283 closed

[2020-07-27 14:10] karibertils opened #1284 "Volumes are not deleted"
# Describe the bug #

Volumes are not deleted

# Environment details #

- Image/version of Ceph CSI driver : v3.0.0
- Helm chart version : v3.0.0
- Kernel version for ceph cluster : 5.4.44
- Kernel version for kubernetes cluster : 5.4.19
- Mounter used for mounting PVC: krbd
- Kubernetes cluster version : 1.18.6-00
- Ceph cluster version : 15.2.4

# Steps to reproduce #

1. Create pvc.yaml
[code]

[2020-07-28 00:23] yanchicago opened #1285 "Need a workaround when the ceph-csi rbdplugin pod failed "fsck" on the disk."
# Describe the bug #

A clear and concise description of what the bug is.

# Environment details #

- Image/version of Ceph CSI driver : 1.2.1
- Helm chart version :
- Kernel version :
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : krbd
- Kubernetes cluster version : v1.15.4
- Ceph cluster version : v14.2.4

# Steps to reproduce #

Steps to

[2020-07-28 02:17] Madhu-1 commented on #1285
can you please try with the latest ceph-csi version and see the issue exists?

[2020-07-28 02:19] yanchicago commented on #1285
@Madhu-1 Thanks for your quick response. This is in the field. Could you help to see if there's any workaround so the manual fsck can run to recover the pod?

[2020-07-28 02:21] Madhu-1 commented on #1285
we do remove the map if the mounting fails, one thing you can try is, map this  PVC on another node manually and fsck command.

[2020-07-28 02:24] yanchicago commented on #1285
@Madhu-1 Could you point the source code so we can find the exact command for mapping the PVC?

[2020-07-28 02:27] Madhu-1 commented on #1285
here it is https://github.com/ceph/ceph-csi/blob/v1.2.1/pkg/rbd/rbd_attach.go#L199-L220

[2020-07-28 02:47] yanchicago commented on #1285
Could you provide an example mapping command?

[2020-07-28 02:51] Madhu-1 commented on #1285
rbd map <rbd_pool>/<rbd_image_name> -m <monip:port> --user <username> --keyfile <keyfile>

[2020-07-28 02:59] yanchicago commented on #1285
The code reads "rbd --id cr.id -m mon:port --keyfile cr.Keyfile map pool/rbd_image".
How to retrieve cr.id, cr.keyfile?

[2020-07-28 03:21] yanchicago commented on #1285
The key file is the "ca.crt"? What's the --user or --id ?

[code]

[2020-07-28 03:29] yanchicago commented on #1285
Tried with un-decoded ca.crt or decoded ca.crt. neither works.
[code]

[2020-07-28 03:39] danielzhanghl commented on #1285
try to use id "admin" and get the key file in manager pod,
/etc/ceph/ceph.client.admin.keyring

[2020-07-28 03:42] danielzhanghl commented on #1285
guess the volume is attached to the node already, could go to the node and repair the device?

[2020-07-28 03:48] yanchicago commented on #1285
@danielzhanghl The volume is not mapped, fsck failed then the volume is unmapped. So there's no device exists for manual repair.
@Madhu-1 Really appreciate if you can put a little more details on how to get the id and key file and use it in the command.
1). Is it "--id" or "--user".
2). The keyflie format? Should it be decoded or keep as it is as secret.

[2020-07-28 03:55] Madhu-1 commented on #1285
already provided that info on slack channel https://rook-io.slack.com/archives/CG3HUV94J/p1595907147301200?thread_ts=1595878052.299900&cid=CG3HUV94J or run `ceph auth ls` in the toolbox pod and use admin creds from the ceph  cluster

[2020-07-28 03:57] Madhu-1 commented on #1285
[code]
use the  decoded value for `--user` and `--keyring`

[2020-07-28 10:52] humblec opened #1286 "Tracevol.py does not work as expected."
# Describe the bug #

[code]
I do have PVCs in "test" ns as shown below:

[code]

I tried to create a PVC  in default ns but that fails too:

[code]

[2020-07-28 10:53] humblec commented on #1286
One thing to add here is: I only have "CephFS" PVC atm. May be it works for "RBD" volumes.

[2020-07-28 10:54] agarwal-mudit commented on #1286
Thanks for raising the issue @humblec
I just checked the script, we load PVCs in default namespace only.
Need to fix that, you can assign it to me.

[2020-07-28 10:58] humblec commented on #1286
Thanks @agarwal-mudit for the quick revert!! Thanks

[2020-07-28 10:59] humblec commented on #1286
one question is, when I created a PVC in default NS, it still fails with configmap issue.

[2020-07-28 11:10] agarwal-mudit commented on #1286
If I am not wrong, configmap also might be in different namsepace than default

[2020-07-28 11:11] agarwal-mudit commented on #1286
After my changes, it will work if config map is in same namespace as of PVCs.

[2020-07-28 15:46] yanchicago commented on #1285
Many thanks for your support. :+1:We were able to recover the pod.
Could you shed some light on the how the IP address was selected for the "watcher"?
We've a k8s cluster using Calico CNI via IPIP encapulate mode. There're two subnets among all hosts. And the watcher IP seems randomly allocated between the two subnets. Is the watcher IP used in any way? Do you see any issues with this type of IP c

[2020-07-28 15:49] Madhu-1 commented on #1285
This is not something cephcsi can handle, it's better to check with ceph or rook team. Closing this issue as its fixed.

[2020-07-28 15:49] #1285 closed

[2020-07-29 04:04] Yuggupta27 opened #1288 "Enhance rbd driver deployment script rbd/plugin-deploy"
Currently, the `rbd/plugin-deploy` script does not deploy the driver singlehandedly;
As the vault creation needs to be done prior to that.
The script can be enhanced to include the vault creation so that
one script can be sufficient to deploy the rbd driver.

# How will we know we have a good solution? (acceptance criteria) #

If running `rbd/plugin-deploy`, successfully deploys the rbd driver.

[2020-07-29 04:06] Madhu-1 opened #1289 "Enhance trace.py to work with independent a ceph cluster"
currently trace.py  works only with toolbox pod. we need to update the trace.py to work without toolbox pod.

[2020-07-29 04:07] Madhu-1 commented on #1289
@agarwal-mudit can I assign this to you?

[2020-07-29 04:10] agarwal-mudit commented on #1289
Sure

[2020-07-29 05:34] humblec opened #1290 "Support Ceph CSI for ppc64le arch"
# Describe the feature you'd like to have #

Ceph CSI currently support couple of arch builds like `arm64`, `x86_64`.. This is a request for building or enabling `ppc64le` arch build for the driver.

# What is the value to the end user? (why is it a priority?) #

We're getting a lot of queries from the community about ppc64le support and there are many installations on  Power based OCP environment

[2020-07-29 07:35] Madhu-1 opened #1291 "Update Snapshot restore E2E to check data consistency"
Currently, in rbd snapshot restore and volume clone E2E we are not checking any data consistency after doing snapshot restore or volume clone.

## current steps in  E2E

### For a snapshot
* create  PVC and App
* create snapshots from PVC
* create new PVC from the snapshot

### For clone
* Create PVC and APP
* Create new PVC from  above PVC

Additional to the above steps, we need  to do a few  ext

[2020-07-29 10:49] lichaonw opened #1292 "ROX(ReadOnlyMany) PVC for RBD seems to be wrong"
# Describe the bug #
When i using ceph-csi image with lastest version, i want to use ROX PVC feature for rbd, but something is wrong.

# Environment details #

- Image/version of Ceph CSI driver : v3.0.0
- Helm chart version : none
- Kernel version : Linux version 3.10.0-957.el7.x86_64
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : krbd
- K

[2020-07-29 10:51] Madhu-1 commented on #1292
Read-only is supported for only clone. Why someone will create read-only empty pvc? Is there any usecase?

[2020-07-29 10:53] Madhu-1 commented on #1292
currently, it's not disabled it would be best to disable it. @dillaman any thoughts?

[2020-07-29 11:09] Madhu-1 commented on #1292
[code]
you need to set `SYS_RAWIO`  see https://kubernetes.io/blog/2019/03/07/raw-block-volume-support-to-beta/

[2020-07-29 14:29] fad3t opened #1293 "Unable to mount PVC using nodeplugin v3.0.0"
Hello all,

I have installed the Ceph CSI plugin using the Helm chart. I was able to create a PVC however my pod is unable to mount it.
I've noticed that switching to the `cephcsi:canary` image resolves the issue (the Helm chart uses `v3.0.0` by default).

# Environment details #

- Image/version of Ceph CSI driver : `cephcsi:v3.0.0`
- Helm chart version : `latest`
- Kernel version : `3.10.0-957.1

[2020-07-29 14:33] Madhu-1 commented on #1293
@fad3t there is no code changes when compare to canary and v3.0.0 can you please provide rbd info of the image?

[2020-07-29 14:33] Madhu-1 commented on #1293
and also please provide ceph user caps

[2020-07-29 14:42] fad3t commented on #1293
Hi @Madhu-1,

I'll ask about the rbd info -- I'm not admin of the Ceph cluster.
Regarding the caps, is this enough?
`ceph auth get-or-create client.k8s_rancher mon 'profile rbd' osd 'profile rbd pool=rbd_k8s_rancher' mgr 'profile rbd pool=rbd_k8s_rancher'`

Note that it is working with this user (and the same RBD image) when using the canary tag, but also when using the native Kubernetes RBD provi

[2020-07-29 14:55] Madhu-1 commented on #1293
caps looks good. lets get the image info and see( the flattening task will be started only if the image has the deep flatten feature)

[2020-07-29 15:37] Madhu-1 commented on #1293
@Yuggupta27 can you please try to reproduce this one and see?

[2020-07-29 16:01] fad3t commented on #1293
Indeed, I re-did the whole setup again - using image tag v3.0.0 - and everything is OK.

I noticed that using the StorageClass manifest from the doc (https://docs.ceph.com/docs/master/rbd/rbd-kubernetes/) is causing the issue. There are a few differences with the StorageClass manifest from the examples directory:
* `csi.storage.k8s.io/controller-expand-secret-name` is not set
* `csi.storage.k8s.io

[2020-07-29 16:31] Madhu-1 commented on #1293
Yeah if you don't mention the imageFeatues in some version the mounting fails. closing  this one,  Thanks for the confirmation

[2020-07-29 16:31] #1293 closed

[2020-07-29 19:07] simonpie commented on #798
Hello,

Am I to understand from this :
https://github.com/ceph/ceph-csi/milestone/6

that ceph's namespace will not be in v3.1.0 ?

[2020-07-30 05:07] lichaonw commented on #1292
@Madhu-1 it seems doesn't work

[2020-07-30 05:08] Madhu-1 commented on #1292
Does the above pod works with readwritemany ?

[2020-07-30 06:20] chandr20 commented on #1236
@Madhu-1  could you please re-open issue .We will try to reproduce the issue....

[2020-07-30 06:50] lichaonw commented on #1292
no, it work in readonlymany mode

[2020-07-30 06:59] lichaonw commented on #1292
@Madhu-1 this is  run message about my pod :

[code]

---
In my opinion, something wrong with 'ReadOnly:   false' in stage of mount volume

[2020-07-30 07:13] Madhu-1 commented on #1292
@Yuggupta27 PTAL

[2020-07-30 07:29] Madhu-1 commented on #1284
for the logs the rbd image info is failing. can you please execute same command from the  csi-rbdplugin container of provisioner pod?

[2020-07-30 13:02] karibertils commented on #1284
Just tried it and I got:
[code]

I then did sed -i 's/cephx/none/g' /etc/ceph/ceph.conf inside the container so the file looks like this:
[code]

The previous command worked afterwards and all the stale volumes were deleted immediately.

So this clearly happens because i am running deployment with disabled cephx even though the plugin is able to create and mount the volumes successfully.

Performa

[2020-07-30 21:15] shawnweeks opened #1296 "Example CSI Config Map and Helm Chart Defaults Don't Match"
# Describe the bug #

The example config map csi-config-map-sample.yaml uses the name "ceph-csi-config" where as the Helm RBD Chart is expecting a config map called "ceph-csi-config-rbd" and the Helm CephFS chart is expecting "ceph-csi-config-cephfs", this leads to cryptic errors about not being able to find the config during provisioning. We should probably mention this in documentation on the He

[2020-07-31 11:43] nixpanic commented on #847
Duplicate of #694 and #1216

[2020-07-31 11:43] #847 closed

[2020-07-31 13:55] yanchicago commented on #1285
@Madhu-1 Could you please shed some light on how this can happen frequently in our site?

[2020-08-03 04:30] Madhu-1 commented on #1285
@yanchicago have you tried with the latest ceph-csi?

@nixpanic @humblec any idea?

[2020-08-03 06:55] Madhu-1 opened #1301 "return proper error message if reading for configmap file fails"
currently, we are returning Internal server error in case anything fails from https://github.com/ceph/ceph-csi/blob/74ba85f87b1526e615f1643d3475316137a18264/internal/rbd/rbd_util.go#L666-L681 we should return internal server error or invalid request based on the error messages from the caller.

[2020-08-03 07:14] #1286 closed

[2020-08-03 10:50] #1269 closed

[2020-08-03 14:07] yanchicago commented on #1285
@Madhu-1 Unfortunately, this is in the field, can't upgrade at will.

[2020-08-04 06:41] ankitladhania commented on #1217
@Madhu-1
I'm getting the same error:
rpc error: code = Internal desc = an error (exit status 2) occurred while running ceph args: [rbd task add flatten kubernetes/csi-vol-4acc48c5-d61d-11ea-bc35-ba86e3e2c39d --id kubernetes --keyfile=***stripped*** -m 10.8.0.14:6789,10.8.0.18:6789

But the cluster was working previously. I had to spawn a new node where I'm seeing this issue.

Any help is really ap

[2020-08-04 06:52] Madhu-1 commented on #1217
@ankitladhania do you have image-feature: layering in your storageclass?

[2020-08-04 07:00] ankitladhania commented on #1217
No, But when I try to update it in the existing storage class its not allowing me to.

How do I update the current storage. As we have 100's of users storage data. I cannot delete it, we need to convert it.

[2020-08-04 07:07] Madhu-1 commented on #1217
Delete and recreating only storageclass helps

[2020-08-04 07:17] ankitladhania commented on #1217
I deleted and recreated the storageclass but the old volumes still give the same error.

MountVolume.MountDevice failed for volume "pvc-6194351b-3fd4-4f76-a1ec-2e5537709b86" : rpc error: code = Internal desc = an error (exit status 2) occurred while running ceph args: [rbd task add flatten kubernetes/csi-vol-271fdd03-c1b5-11ea-a1b3-7e6749822114 --id kubernetes --keyfile=***stripped*** -m 10.8.0.14

[2020-08-04 07:19] Madhu-1 commented on #1217
Please disable the other features for older rbd images than layering

[2020-08-04 07:32] ankitladhania commented on #1217
Any way to disable it at mass? cause I have 464 volumes to do this with.

[2020-08-04 07:36] Madhu-1 commented on #1217
you need to  write some script for it

[2020-08-04 07:52] ankitladhania commented on #1217
Thanks @Madhu-1, wrote a small script to do the same:
[code]

@Madhu-1 - can you tell me the reason why this happened? We should be promoting the images like this. My team read the code from the documentation that was provided, there could be a small mention of use "vx.x.x" for production.

[2020-08-04 07:55] Madhu-1 commented on #1217
This can happen if you don't provide the imagefeature=layering in storage-class, the image will get created with default options in ceph.

[2020-08-04 08:53] nixpanic commented on #1265
Current `ceph fs` commands that need replacing:
- `getFscID()` calls `ceph fs get myfs` to get the ID of the filesystem
- `getMetadataPool()` calls `ceph fs ls` and filters on the name of the filesystem to return the metadata-pool
- `getFsName()` calls `ceph fs dump` to convert a filesystem-ID to the name of the filesystem
- `getVolumeRootPathCeph()` calls `ceph fs subvolume getpath <fs-name> <fs-