[2022-06-23 03:42] Madhu-1 commented on #3176
The stagingpath is changed in kubernetes 1.24 can you check on that.

[2022-06-23 03:46] pkalever commented on #3176
@Madhu-1 that is correct, the new staging path look something like
[code]

[2022-06-23 03:56] pkalever commented on #3176
@Madhu-1 do you know what is `c74962bd63d7f7d5c1ff0a986773ba9d2e42334c0835b1d211cd6924d751c7f6` in the staging path above?

[2022-06-23 04:09] humblec commented on #3176
@pkalever its sha256 of volumeHandle

[2022-06-23 04:19] pkalever commented on #3176
@humblec yep got it from https://github.com/csi-addons/kubernetes-csi-addons/pull/165/files. Thanks for jumping in.

[2022-06-23 07:10] chenyao13 opened #3208 "ceph: how to get ceph cluster available capacity"
1. My goal is to get the capacity of one ceph cluster by ceph-csi in kubernetes,not persistenceVolume

2. Same as the command in ceph 'ceph -s'
         usage: 10 Gib used, 12GiB /22 GiB avail

3.Version is

       ceph-csi v3.6.0

       kubernetes v1.21.8

4.I already hava open the kubernetes feature gate CSIVolumeHealth,but in prometheus I did not find any useful info

5.I search CSIStorageCapa

[2022-06-23 13:10] Madhu-1 opened #3209 "[Replication] Data loss due to resync because of the spurious split-brain errors reported by RBD"
During relocation when demoting the current primary,  the image will move the secondary and will be in split-brain state for sometime
As there are spurious split-brain errors reported by RBD, the resync will attempt to resync from the "known" secondary and that will cause data loss, From VolRep stack is aware that it is a relocate and hence can prevent any resync call in such situations, which is

[2022-06-23 13:28] #3209 closed, assigned to nobody

[2022-06-24 00:42] #3208 closed, assigned to nobody

[2022-06-24 12:23] #3176 closed, assigned to pkalever

[2022-06-27 13:07] Madhu-1 opened #3215 "[Replication] Failed to move image to primary after Failover"
Was running some tests with the entire stack for DR, and the issue that crops up with this secondary image check is that the VR is never marked Primary post a failover, IOW this condition remains false:

[code]
The reason being the image reports:

[code]
Overall the reason for adding this was to ensure the local image once enabled is marked for replication, instead of assuming that it is, hence th

[2022-06-28 05:25] pkalever opened #3220 "Set `setmetadata=false` in the deployment yaml templates"
# Describe the bug #

For now with https://github.com/ceph/ceph-csi/pull/3016 `setmetadata=true` in the csi deployment templates by default otherwise, our e2e tests will fail. (Please note in the code `setmetadata=false` by default)

See: https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e_k8s-1.22/runs/3462/nodes/93/log/?start=0
In an attempt to `set

[2022-06-28 10:10] pkalever opened #3221 "krbd map fails on minikube 1.26.0 [kernel 5.10.57]"
# Describe the bug #

krbd mapping fails with `mapOptions: "lock_on_read,queue_depth=1024"`
[code]
**csi-rbdplugin logs**
[code]
**dmesg**
[code]

**Ceph version**
[code]

**Other details**
When we try to reproduce the same mapping issue on minikube v1.25.0 with same ceph image version and map options, we couldn't hit the issue

[code]

**logs**
[dmesg.log](https://github.com/ceph/ceph-csi/files/9

[2022-06-28 10:10] pkalever commented on #3221
@idryomov do we have any workaround for this issue?

[2022-06-28 12:44] nixpanic commented on #3221
@pkalever do you have a testing environment available? Maybe check if `lock_on_read` requires also setting `exclusive-lock`...

[2022-06-28 13:17] #3215 closed, assigned to nobody

[2022-06-28 15:26] idryomov commented on #3221
It does, otherwise there is nothing to lock:

[2022-06-28 19:12] #3009 closed, assigned to pkalever

[2022-06-29 11:46] pkalever opened #3224 "e2e: validate snapshot count after their creation"
# Describe the bug #

As a good practice, always make sure to validate the snapshot count after we create them in the tests
Something like:
[code]

[Original conversation](https://github.com/ceph/ceph-csi/pull/3168#discussion_r909196029)

[2022-06-29 17:40] #3221 closed, assigned to nixpanic

[2022-06-30 19:33] #3140 closed, assigned to nixpanic

[2022-07-01 05:51] yati1998 commented on #3103
Closing this issue since the [fix](https://github.com/ceph/ceph-csi/pull/3155) is merged.

[2022-07-01 05:51] #3103 closed, assigned to yati1998

[2022-07-03 21:01] #3137 closed, assigned to humblec

[2022-07-03 21:23] kamiwa commented on #1067
@NewMountain : Thank you so much man! You've made my day!

[2022-07-04 15:14] #3167 closed, assigned to nobody

[2022-07-05 06:23] Rakshith-R commented on #2913
items are still yet to be done.

[2022-07-05 09:18] yati1998 opened #3230 "Enable HonorPVReclaimPolicy feature gate"
Enable the HonorPVReclaimPolicy feature gate supported by latest version of csi-provisioner sidecar.
https://github.com/kubernetes-csi/external-provisioner/releases/tag/v3.2.0

Currently, it is disabled due to nfs error handling issue, once it is handled in nfs, we can enable the feature gate.
Check out the comments for more details.: https://github.com/ceph/ceph-csi/pull/3186#issuecomment-1174679

[2022-07-05 14:37] BenoitKnecht opened #3231 "rbd: Snapshot creation fails when Ceph user is restricted to a rados namespace"
# Describe the bug #

Volume snapshots cannot be created if the Ceph CSI is setup to use a rados namespace and its user only has permissions on that namespace (as opposed to the whole pool).

# Environment details #

- Image/version of Ceph CSI driver : 3.6.1
- Helm chart version : 3.6.1
- Kernel version : 4.18
- Mounter used for mounting PVC (for cephFS its `fuse` or `kernel`. for rbd its
  `krbd

[2022-07-07 22:20] #3231 closed, assigned to nobody

[2022-07-09 16:17] haanhvu commented on #3224
Hi, can I work on this issue?

[2022-07-11 15:59] LukeMauldin opened #3238 "List supported file systems for csi.storage.k8s.io/fstype"
# Describe the bug #

The documentation states that `csi.storage.k8s.io/fstype` defaults to the file system type `ext4`.  What are the other supported file system values?  Specifically, is `btrfs` a supported value?

# Environment details #

- Image/version of Ceph CSI driver : v3.6.0
- Helm chart version :
- Kernel version : 5.3.18

[2022-07-12 04:39] Madhu-1 commented on #3238
for now ext4 and xfs, buts ext4 is recommended as there is an issue with xfs https://github.com/rook/rook/issues/3132#issuecomment-580508760

[2022-07-12 08:22] Madhu-1 opened #3240 "df output is not matching with cephfs pvc size"
If the cephFS PVC is created with a size, not in multiple of 4Mi, the df output is not matching the cephfs PVC size

## 3Mib PVC
[code]

## 4Mib PVC

[code]

## 5Mib PVC
[code]

## 6Mib PVC

[code]

## 8Mib PVC
[code]

[2022-07-12 09:09] nixpanic commented on #2890
https://github.com/kubernetes/kubernetes/pull/111083 has been proposed as a change to the k8s.io/mount-utils package. It will address the scary logging for `NodeGetVolumeStats` procedure calls.

[2022-07-12 10:50] LukeMauldin commented on #3238
Will other file systems such as `btrfs` work or will ceph-csi fail trying to provision them?

[2022-07-12 21:15] LukeMauldin opened #3242 "Need to mount existing ceph image into pod"
# Describe the bug #

I have an existing Ceph cluster and an existing Ceph image that was created outside of the CSI process that I would like to mount directly into my pod as an rbd device and mount as an ext4 file system.  How can I achieve that?
What I am looking for is similar to the Cephfs Kubernetes example referenced here https://github.com/kubernetes/examples/tree/master/volumes/cephfs/ bu

[2022-07-13 04:39] Madhu-1 commented on #3242
rbd static volume should be fine for your case, please give it a try with the steps mentioned here https://github.com/ceph/ceph-csi/blob/devel/docs/static-pvc.md#rbd-static-pvc

[2022-07-13 04:45] Madhu-1 commented on #3238
We have tested ext4 and xfs, if rbd/kubernetes supports other filesystem types it should be supported with cephcsi also. Please try it out and let us know how it works.

[2022-07-13 04:46] #3238 closed, assigned to nobody

[2022-07-13 18:32] #3240 closed, assigned to nobody

[2022-07-15 01:51] cl51287 commented on #1819
@Madhu-1 When we used 3.6.2, we found that the configuration in the document could not solve the problem. When the daemonset of csi was restarted, the corresponding fuse process still disappeared, and the mount also failed. I don't know if it is a problem.
Our kubernetes version is 1.14, we have configured netNamespaceFilepath as the net file of the No. 1 process of the host (other pods of the hos

[2022-07-15 04:56] Madhu-1 commented on #1819
automatic recovery of fuse is still not supported if you restart the application pod or create one more pod on the same node to use same PVC the mount should get recover.

nsenter is not related to fuse. it only for the pod networking

[2022-07-15 12:59] cl51287 commented on #1819
@Madhu-1  Will the next version solve this problem? What does the documentation say to solve this problem?

[2022-07-18 02:28] yati1998 commented on #3165
The epic for the same has been moved to 4.13 for now, will work on this once I am done with 4.12 epics.

[2022-07-18 10:04] #3147 closed, assigned to nobody

[2022-07-18 14:24] nixpanic opened #3246 "Reduce messages related to systemd in the logs"
# Describe the feature you'd like to have #

kubernetes/kubernetes#111083 already reduced the systemd related logging a lot. CephFS does not have any systemd logging at all anymore.\

RBD calls the `k8s.io/mount-utils` function `FormatAndMount()`, which still causes some systemd log messages. With the enhancement in kubernetes/kubernetes#111218, a `NewWithoutSystemd()` function has been proposed,

[2022-07-19 03:15] Madhu-1 commented on #1819
Auto recovery is not planned yet. you can use the existing mechanism https://github.com/ceph/ceph-csi/blob/devel/docs/ceph-fuse-corruption.md which is supported in 3.6.0 release.

[2022-07-19 05:29] kadasatya opened #3251 "Mount modprobe from host/node to csi-rbdplugin container"
# Describe the bug #

Mounting /user/sbin/modprobe from host to csi-rbdplugin container. The modprobe in csi-rbdplugin container does not support .zst. We are using zsdt algorithm for compression. So, the modprobe in csi-rbdplugin container not able to extract rbd.ko.zst.

Either modprobe in csi-rbdplugin must be upgraded or mount it from host.

# Environment details #

- Image/version of Ceph CSI

[2022-07-19 14:42] #3184 closed, assigned to yati1998

[2022-07-20 02:42] cl51287 commented on #1819
@Madhu-1 Thank you very much

[2022-07-24 21:01] #3190 closed, assigned to nobody

[2022-07-25 08:03] nixpanic commented on #3251
This is not trivial, as on many (if not all) systems, `modprobe` is a dynamically linked executable:

[code]

The Ceph-CSI project uses the `ceph/ceph:v17` image as base. In order to get a new `modprobe` in the container-image, the Ceph base layer needs to provide it. Currently `ceph/ceph:v17` uses CentOS Stream 8 as it's OS container-image.

If the Ceph base image can consume CentOS Stream 9, the

[2022-07-25 15:46] nixpanic opened #3259 "quay.io/ceph/ceph:v17.2.2 causes segfault of Ceph Mgr"
# Describe the bug #

The `ceph/ceph:v17` container-image (v17.2.2) does not have a fully working Ceph Mgr.

See the following links for more details:

- rook/rook#10627
- https://tracker.ceph.com/issues/56700 (closed as duplicate of 55304)
- https://tracker.ceph.com/issues/55304

[2022-07-26 04:32] humblec commented on #3259
@nixpanic considering the PR is merged, shall we close this issue?

[2022-07-26 07:07] nixpanic commented on #3259
No, we need to track the bug in Ceph(-containers) and use `:v17` once it it fixed.

[2022-07-27 05:17] Madhu-1 opened #3268 "RBD DR: Images are not marked as healthy after forced failover"
After Failover of workloads to the secondary cluster when the primary cluster is down, RBD Image Is not marked healthy, and VR resources are not promoted to the Primary, IN VolumeReplication, the `CURRENT STATE` remains Unknown and doesn't change to Primary.

This happens because the primary cluster went down, and we have force promoted the image on the secondary cluster. and the image stays in up

[2022-07-27 09:04] #3268 closed, assigned to nobody

[2022-07-27 12:49] Madhu-1 commented on #3086
Closing as completed

[2022-07-27 12:49] #3086 closed, assigned to Madhu-1

[2022-07-28 04:07] #2875 closed, assigned to pkalever

[2022-07-28 06:56] Rakshith-R opened #3271 "Document the nfs upgrade scenario to delete old `csi-nfs-node` daemonset"
Document the upgrade scenario as we will have new daemonset and users can delete old daemonsets

_Originally posted by @Madhu-1 in https://github.com/ceph/ceph-csi/pull/3258#discussion_r930979445_

[2022-07-28 10:52] Tristan971 commented on #1881
Maybe a good start would be for the provisioner to "ping" the monitors in a way that is visible to the user?

Because at the moment a network misconfiguration is extremely easy to miss (first CreateVolume GRPC request timing out) and followed by a ton of noise (retries being aborted as per this issue)

[2022-07-28 21:01] #3192 closed, assigned to nobody

[2022-07-29 13:23] humblec commented on #2997
This release has been postponed to August 19th to be in parity with Rook 1.10 release and also to include some more enhancement like KMS integration...etc to this release.

[2022-07-29 13:24] humblec commented on #2997
@ceph/ceph-csi-contributors  please add or create issues and link to 3.7 milestone to track the same.

[2022-08-01 09:55] Rakshith-R opened #3277 "Move volume replication operator to kubernetes-csi-addons"
This issue to track the work required to move standalone [volume replication operator](https://github.com/csi-addons/volume-replication-operator) into the kubernetes-csi-addons repo.

- [x] add volumereplication capability.
- [ ] move volumereplication server to as part of csi-addons.

Refer:

- https://github.com/csi-addons/kubernetes-csi-addons/issues/116
- https://github.com/csi-addons/kubernet

[2022-08-01 18:38] nixpanic commented on #3246
The `k8s.io/mount-utils` PR has been merged, the change wiill be included in Kubernetes 1.25 (1st pre-release scheduled for tomorrow).

[2022-08-02 11:08] Rakshith-R opened #3282 "Add encryption support for RBD volumes with KMIP"
# Describe the feature you'd like to have #

Encryption support for RBD volumes with KMIP

The Key Management Interoperability Protocol (KMIP) is an extensible communication protocol that defines message formats for the manipulation of cryptographic keys on a key management server. This facilitates data encryption by simplifying encryption key management.

#### References:

- [What is Key Manageme

[2022-08-02 11:09] humblec commented on #3282
Thanks @Rakshith-R .. tracking this for 3.7 :+1:

[2022-08-03 19:43] #3230 closed, assigned to nobody

[2022-08-04 09:53] #3246 closed, assigned to nixpanic

[2022-08-04 10:31] zhucan opened #3285 "Deploy csi cephfs failed"
# Describe the bug #
https://github.com/ceph/ceph-csi/blob/520903d07b5467e36f2b1ef03911a58f68902829/deploy/cephfs/kubernetes/csi-cephfsplugin-provisioner.yaml#L180

"ceph-config" is not found,  csi cephfs can not be deployed.

# Environment details #

- Image/version of Ceph CSI driver : 3.5.1
- Helm chart version : no
- Kernel version : 3.10.0-1127.el7.x86_64
- Mounter used for mounting PVC (for

[2022-08-04 10:33] Madhu-1 commented on #3285
You need to create https://github.com/ceph/ceph-csi/blob/devel/examples/ceph-conf.yaml

[2022-08-04 10:35] zhucan commented on #3285
@Madhu-1 Thanks

[2022-08-04 10:35] #3285 closed, assigned to nobody

[2022-08-04 21:01] #3220 closed, assigned to nobody

[2022-08-05 06:37] jpsn123 opened #3287 "PVC always be pending (failed) after startup few days."
# Describe the bug #

PVC always be pending (failed) after startup few days. if i restart the csi-rbd-provisioner pod, the blocked PVC will be readly, and every thing will be ok, but just several days later, PVC will be pending again and need to restart csi-rbd-provisioner pod manually.

# Environment details #

- Image/version of Ceph CSI driver : 3.6.2
- Helm chart version : 3.7.0
- Kernel versi

[2022-08-05 08:53] nixpanic commented on #3287
the CreateVolume request for `pvc-1af8d583-628b-4367-a2a6-fd8fe0f0f89d` never finished. The RBD-image should have been in the creation process. This can get stuck when the Ceph pool that should hold the image is not healthy. Please check the status of the Ceph cluster and the availability of the OSDs.

[2022-08-05 09:15] jpsn123 commented on #3287
@nixpanic  ceph cluster is always health, i sure that.  it seem rbdplugin lost connect to ceph cluster and can't reconnect to it, just need a restart, all will ok.

[2022-08-05 09:22] jpsn123 commented on #3287
in addition, if success create pvc, csi-rbdplugin and csi-rbdplugin-contoller will both show some action logs, but if pvc create failed, only csi-rbdplugin some logs , csi-rbdplugin-contoller container show nothing except `successfully renewed lease ceph/rbd.csi.ceph.com-ceph`.

[2022-08-08 12:09] Madhu-1 opened #3289 "RBD DR: Returning false success response during ResyncVolume"
[code]

[code]

If the rbd mirror daemon is not running on the cluster, the rbd image mirror status will not get updated as expected. As we dont have a check for the rbd mirror daemon, we are returning a resync success response and Ready=false. Due to this false response, Ramen is assuming the resync started and deleted the volume replication CR. Because of this, the cluster goes into a bad state

[2022-08-08 13:26] #3289 closed, assigned to nobody

[2022-08-09 06:12] fanchenxu-ship commented on #744
hi [vasyl-purchel](https://github.com/vasyl-purchel), can you tell me what is image-meta? and where can i find it ?

[2022-08-09 07:03] AntoineNGUYEN31 commented on #2506
you can reduce the scope of cephfs csi to only {{your filesystem}}

[client.kube]
        caps mon = "allow r"
        caps mgr = "allow rw"
        caps mds = "allow rwp fsname={{your filesystem}}"
        caps osd = "allow rw tag cephfs *={{your filesystem}}"

[2022-08-09 09:39] jisnardo opened #3296 "failed to use a balanced ip with haproxy in monitors list"
# Describe the bug #

It is possible to use a balanced ip with haproxy in config.json / cm ceph-csi-config-rbd instead of provide a monitors list?

[code]

# Environment details #

[code]

# Steps to reproduce #

[code]

restart csi-rbd pods

# Actual results #

[code]

# Expected behavior #

[code]

# Logs #

[code]

[code]

# Additional context #

haproxy backend config

[code]

Thanks in advanc

[2022-08-09 13:36] #3182 closed, assigned to Rakshith-R

[2022-08-09 16:08] vasyl-purchel commented on #744
hi @fanchenxu-ship , image-meta is metadata of an rbd image in ceph, so can be found with `rbd image-meta get <image> <key>` command

[2022-08-09 20:08] LukeMauldin opened #3297 "Static RBD PV mount options"
# Describe the bug #

Following documentation: https://github.com/ceph/ceph-csi/blob/devel/docs/static-pvc.md#create-rbd-static-pv
There is no documented way to specify mount options such as `noatime,discard`.  When using ceph with storageclass to create dynamic PVC, can specify mount options: https://github.com/ceph/ceph-csi/blob/devel/examples/rbd/storageclass.yaml#L147-L148

Need a way to speci

[2022-08-10 03:03] fanchenxu-ship opened #3298 "How to change encryptionPassphrase after RBD is encrypted"
Dear.
According to the security requirements, the encrypted key needs to be modified periodically, and there seems to be no relevant function in the rook ceph? How should I get to modify encryptionPassphrase?

myconfig:

    {
      "encryptionKMSType": "metadata",
      "secretName": "storage-encryption-secret",
      "secretNamespace": "default"
    }

[2022-08-10 04:37] Madhu-1 commented on #3297
@LukeMauldin, have you tried creating a storageclass and adding the storageclass name in the pvc/PV object?

[2022-08-10 05:28] Madhu-1 commented on #3296
@jisnardo if you can reach ceph mon with HA IP, it should also work with cephcsi also.

[2022-08-10 07:03] Madhu-1 opened #3299 "CephFS RWO PVC is getting attached to different pods on different nodes"
RWO is meant to be used only on multiple pods on a single node, but I can start multiple pods in different nodes which use the RWO PVC. This is happening with Rook master and cephcsi canary.

[code]

[2022-08-10 12:56] LukeMauldin commented on #3297
If I use a storageclass I am able to specify the mount options but I am following the static-pv example where the Ceph rbd volume is already created and there is no storageclass specified in that example.

[2022-08-10 12:58] Madhu-1 commented on #3297
Even I case of static pvc you can specify the storageclass to fetch the mount options. Examples might not be covering everything.

[2022-08-10 14:48] LukeMauldin commented on #3297
Can you please give me an example?

[2022-08-11 00:50] plnordquist-pnnl opened #3301 "Csi-rbdplugin-controller failed to regnerate journal errors"
# Describe the bug #

I recently checked on the csi-rbdplugin-controller container in my deployed RBD provisioners and discovered they have been throwing errors in the logs as seen below.  These errors don't seem to cause any issues with our persistent volumes but I'm not sure if there is something I'm missing.  We've been using the ceph-csi-rbd chart since the 1.1.0 days.  I don't think we skippe

[2022-08-16 06:02] Madhu-1 commented on #3301
@plnordquist can you please paste the complete logs of the controller and also the rbd-plugin container?

[2022-08-16 07:13] nixpanic commented on #3296
I am not sure the Ceph protocol supports this. The Ceph MONs might (likely) send IP-addresses of the MONs to the client. The client will then connect to those IP-addresess, bypassing HAProxy again.

The [cluster map](https://docs.ceph.com/en/latest/architecture/#cluster-map) contains an explanation about it, use `ceph mon dump` to find the hostnames/IP-addresses that a client will try to connect t

[2022-08-16 10:16] LukeMauldin commented on #3297
Is there anyone who can provide an example of using a storageclass with a static pvc?

[2022-08-16 11:14] Madhu-1 commented on #3297
You have `mountOptions` in PV itself you can use it like below?

[code]

[2022-08-16 11:14] #3297 closed, assigned to nobody

[2022-08-16 14:28] ygg-drop opened #3309 "CephFS mount syntax not updated for Quincy"
# Describe the bug #

Apparently there was a significant change in the `mount.ceph` syntax between Ceph [Pacific](https://docs.ceph.com/en/pacific/man/8/mount.ceph/) and [Quincy](https://docs.ceph.com/en/quincy/man/8/mount.ceph/). However Ceph-CSI code does not seem to be updated to support the new syntax.

I use Nomad 1.3.1 and I am trying to use Ceph-CSI to provide CephFS-based volumes to Nomad

[2022-08-17 05:04] Madhu-1 commented on #3309
AFAIK it should not an issue, we are using cephcsi with Qunicy, and we don't have this issue reported from anyone. @ygg-drop couple of questions
* Is your ceph cluster healthy?
* Have you retried running the mount command manually from the cephfsplugin container?
* `-t ceph 192.168.1.10,192.168.1.11,192.168.1.12:/` Have you tried specifying the monitor port?

[2022-08-17 08:22] ygg-drop commented on #3309
Someone has to make the first report :wink: maybe this use-case is not very popular?

Yes.

Yes, I get the same error:

[code]

Yes, same error:

[code]

When I try to mount using the Quincy `mount.ceph` syntax it works:

[code]

EDIT:

I just tested with `quay.io/cephcsi/cephcsi:v3.5.1` (which is based on Pacific) and the mount commands which failed previously do work there.

[2022-08-18 04:36] Rakshith-R opened #3311 "rbd: add e2e with pykimp for kmip encryption"
This was tested with pykimp server instance deployed in kubernetes cluster,
I'll open an issue to track this, so we can add e2e for kmip encryption in a follow-up pr.

_Originally posted by @Rakshith-R in https://github.com/ceph/ceph-csi/issues/3306#issuecomment-1219029880_

[2022-08-18 05:05] humblec commented on #1563
@irq0 Thanks for all the meetings or disussions on this topic and continuously making progress on the same.  We will continue reviewing the new PR in place https://github.com/ceph/ceph-csi/pull/3310 and track this for upcoming Ceph CSI release. I am untracking this feature from release 3.7 . :+1:

[2022-08-18 05:06] humblec commented on #2736
Moving out of 3.7.0 release.

[2022-08-18 05:07] humblec commented on #2371
@Yuggupta27 considering we havent made progress here, I am removing this from release 3.7 tracker and tracking for release 3.8.

[2022-08-18 05:10] humblec commented on #2997
@ceph/ceph-csi-contributors can you please list out the features/important bug fixes brought in from your end to this tracker, it will help us to carve out release changelog and also to have the release milestone or tracker on it.

[2022-08-18 05:38] Rakshith-R opened #3314 "rbd: complete migration of volrep to csi-addons"
TODO's:

- [x] move logic to `internal/csi-addons/rbd`
- [x] address [comment](https://github.com/ceph/ceph-csi/pull/3608/files#r1092953730)
- [x] remove replication service from controller server
- [x] add minimal unit tests like `internal/csi-addons/rbd/reclaimspace_test.go`
- [x] https://github.com/ceph/ceph-csi/pull/3349

_Originally posted by @nixpanic in https://github.com/ceph/ceph-csi/issu

[2022-08-18 06:26] Yuggupta27 commented on #2371
Sure, I am currently caught up with other things so un-assigning myself from this issue for the time being.

[2022-08-18 07:21] Rakshith-R opened #3315 "util: migrate from github.com/pborman/uuid to github.com/google/uuid instead"
we use github.com/pborman/uuid already, maybe create a new issue to move to github.com/google/uuid instead? The google one is used by IBM Keyprotect and Kubernetes packages already, pborman only in `internal/journal/voljournal.go`

_Originally posted by @nixpanic in https://github.com/ceph/ceph-csi/pull/3306#discussion_r948724791_

[2022-08-18 07:40] Rakshith-R opened #3316 "rbd: enhance kmip encryption type with more auth methods"
consider adding an option like `"AUTH_METHOD": "TLSCERT"` or something? That suggests making it more modular in the future. Of course, this can be the default if no `AUTH_METHOD` is set too...

_Originally posted by @nixpanic in https://github.com/ceph/ceph-csi/pull/3306#discussion_r948752673_

[2022-08-18 07:41] #3282 closed, assigned to Rakshith-R

[2022-08-18 08:19] #3277 closed, assigned to Rakshith-R

[2022-08-19 03:52] Madhu-1 commented on #3271
@Rakshith-R, Dont we need to address this one before 3.7 release?

[2022-08-19 03:58] Rakshith-R commented on #3271
Yes,  I'll send a pr for it now that 3.7 upgrade section is in.

[2022-08-19 04:17] Madhu-1 commented on #3277
@Rakshith-R is this completed or anything else is required but getting tracked in different issue?

[2022-08-19 04:20] Rakshith-R commented on #3277
This will be followed up with https://github.com/ceph/ceph-csi/issues/3314

[2022-08-19 04:37] Rakshith-R opened #3324 "nfs/doc: remove steps to delete old daemonset"
add `-ignore-not-found` flag so that we dont need to worry about it in the next release?

_Originally posted by @Madhu-1 in https://github.com/ceph/ceph-csi/pull/3323#discussion_r949790839_

[2022-08-19 04:47] #3271 closed, assigned to nobody

[2022-08-19 18:34] geraldwuhoo opened #3329 "ceph-csi-cephfs helm chart still contains provisioner-rules-clusterrole.yaml template"
# Describe the bug #

The latest `ceph-csi-cephfs` chart version, 3.7.0 still has the `provisioner-rules-clusterrole.yaml` template, despite
its removal [here](https://github.com/ceph/ceph-csi/pull/3149). This is causing deployments using the default values.yaml to fail.

# Environment details #

- Image/version of Ceph CSI driver : 3.7.0
- Helm chart version : 3.7.0
- Kernel version : N/A
- Mount

[2022-08-22 06:45] humblec commented on #3329
The templates looks to be not in sync between this and charts repo which caused the issue.
If you remove the attacher session https://github.com/ceph/csi-charts/blob/master/docs/cephfs/ceph-csi-cephfs/templates/provisioner-rules-clusterrole.yaml#L41 in the extracted directory and render it , is it working @geraldwuhoo ?

[2022-08-22 06:54] humblec commented on #3329
Cc @ceph/ceph-csi-contributors

[2022-08-22 10:05] geraldwuhoo commented on #3329
@humblec While this may work, I think there is a bigger underlying issue. It seems both the `provisioner-rules-clusterrole.yaml` and `nodeplugin-rules-clusterrole.yaml` files were removed entirely years ago: https://github.com/ceph/ceph-csi/commit/cc0f0b8a6a113e9f5e40c68dbe8ff53cd9029ecb. Yet these files remain in the charts repo: [1](https://github.com/ceph/csi-charts/blob/1d9e6ee0cfc56defcf6efcb

[2022-08-22 10:16] humblec commented on #3329
Indeed.

Yes, noticed the same while looking at this issue.

Above solution of "rsync" looks to be on spot to keep this repo files and chart repo files in parity. We definitely have to keep these repos in sync or single source is better.

While we wait for team's input, I would appreciate if you can file a PR and we can discuss the approach on the same too.

[2022-08-22 12:08] maciejlesny opened #3332 "Openshift (kubernetes) PV - no write permission"
Hi,
I've been looking for possibility adding Ceph to Openshift 4.9 as persistent volume for containers. Everything works great, except mount point has "drwxr-xr-x" (755) permissions. Openshift doesn't allow root user inside containers. I cannot chown/chmod mounted point.
I've tried Ceph RBD and CephFS (filesystems).

Is there any way to set default permissions to 777?

[2022-08-22 13:22] Madhu-1 commented on #3332
setting 777 on both cephfs and rbd mounts are removed in cephcsi, Have you considered setting `SecurityContext:` in both pod spec and container spec? https://github.com/ceph/ceph-csi/blob/3ddec80346f6fe6ae6da8c19adfdb92e49e41fa8/e2e/utils.go#L515-L537

[2022-08-22 13:39] maciejlesny commented on #3332
I'm looking for persistent volume solution which will work without modification deployments/pods. So using openshift with ceph-csi is not possible, am I right?

[2022-08-22 13:41] Madhu-1 commented on #3332
AFAIK Without modifying pod/deployment spec not possible

[2022-08-22 14:34] #3315 closed, assigned to nobody

[2022-08-23 04:45] #3332 closed, assigned to nobody

[2022-08-23 04:47] Madhu-1 commented on #1988
Still required as kubernetes 1.25 is next release

[2022-08-23 07:53] #1988 closed, assigned to Madhu-1

[2022-08-23 12:03] humblec opened #3335 "release 3.7.1 tracker issue"
# Describe the bug #

This issue tracks release 3.7.1 and the subjected milestone is available here :https://github.com/ceph/ceph-csi/milestone/16

#3340

[2022-08-23 12:05] humblec opened #3336 "Release 3.8.0 tracker"
# Describe the bug #

This issue tracks release v3.8 of Ceph CSI driver
The milestone is available here https://github.com/ceph/ceph-csi/milestone/15

- [ ] Code Freeze : 10 Feb 2023
- [ ] GA : 15 Feb 2023

Features:
- [x] #3310
- [x] read_from_replica support for better performance @Rakshith-R
- [x] https://github.com/ceph/ceph-csi/issues/757
- [x] https://github.com/ceph/ceph-csi/issues/3603
- [

[2022-08-24 07:25] jisnardo commented on #3296
Thanks, I'll check it.

[2022-08-24 07:25] #3296 closed, assigned to nobody

[2022-08-24 07:46] Rakshith-R commented on #3335
https://github.com/ceph/ceph-csi/pull/3340

[2022-08-24 07:57] humblec commented on #3335
~~#3340~~

[2022-08-24 13:14] dbenduga opened #3342 "permission issue of CSI-VOL* directory"

[2022-08-24 13:15] Madhu-1 commented on #3342
Please fill the template when creating an issue

[2022-08-24 13:17] dbenduga commented on #3342
by default csi-vol* directory permission is set to 755 due to that non-privileged user unable to write on it . If we changed it 777 working fine. I am using nautilus 14.2 22 ceph

drwxr-xr-x 1 root root 2 Aug 24 12:05 csi-vol-0668bb95-23a5-11ed-9a40-02f7d0d81756
drwxr-xr-x 1 root root 2 Aug 24 12:01 csi-vol-83fcb0c4-23a4-11ed-9a40-02f7d0d81756

[2022-08-24 13:20] Madhu-1 commented on #3342
setting 777 on both cephfs and rbd mounts are removed in cephcsi, Have you considered setting `SecurityContext:` in both pod spec and container spec? https://github.com/ceph/ceph-csi/blob/3ddec80346f6fe6ae6da8c19adfdb92e49e41fa8/e2e/utils.go#L515-L537

[2022-08-24 13:26] dbenduga commented on #3342
@Madhu-1 . Thanks for quick response.. Could you please share simple example of pod yaml file to use SecurityContext:

[2022-08-24 14:00] dbenduga commented on #3342
@Madhu-1 :  I am using below pod definition file  which is not working still directory is create by root user with 755 permission

apiVersion: v1
kind: Pod
metadata:
  labels:
    test: test123
  name: test123
spec:
  securityContext:
    runAsUser: 786
    runAsGroup: 1000
    fsGroup: 1000
  containers:
  - name: cephfs-pv-busybox
    image: busybox
    command: ["sleep", "60000"]
    volumeMoun

[2022-08-24 15:07] Madhu-1 commented on #3342
[code]
[code]

with above csidriver object and the app pod should work

[code]

[2022-08-24 15:15] takyon77 opened #3343 "Resizing of static volumes based on cephfs subvolumes"
# Describe the feature you'd like to have #

Make possible the resizing of static volumes when they use a cephfs subvolume.

# What is the value to the end user? (why is it a priority?) #

Static volumes can be used to recover data from dynamic volumes after an Openshift cluster reinstallation.
Being able to resize them would unify the way we manage our PVs/PVCs during their lifecycle and avoid in

[2022-08-24 15:22] Madhu-1 commented on #3343
We dont have any plan to support resize/clone/snapshot on the static volumes. I see two options for you
* why can't you take a pvc/PV object backup and restore it after reinstallation
* OR recalculate the volumeHandle as per the requirement of cephcsi and create the PV object; cephcsi will still consider this as the dynamic PVC

cc @ceph/ceph-csi-maintainers

[2022-08-25 03:52] Madhu-1 opened #3344 "Enhance trace.py to work with volumesnapshots"
trace.py will trace only the PVC objects and rbd/cephfs volumes mapping. we need to update the script to trace the mapping between snapshots and rbd/cephfs snapshots/volumes.

[2022-08-25 04:33] Madhu-1 commented on #3166
closing it, looks like jenkins job doesnt have any logs

[2022-08-25 04:33] #3166 closed, assigned to nobody

[2022-08-26 07:27] nixpanic commented on #3259
this was fixed with #3275

[2022-08-26 07:27] #3259 closed, assigned to nobody

[2022-08-26 13:32] pawanthegemini commented on #798
The feature is supposed to provide multi-tenancy, which means multiple k8s clusters will be able to use a single ceph cluster. What about the usage limit on per user basis? A user can create an rbd image of any size within its namespace as there is no such quota or restrictions either on a user basis or on a namespace basis to keep each individual user in check.
Any plans to add quotas as well alo

[2022-08-27 13:27] wanghongzhou opened #3347 "API call not implemented server-side: No handler found for 'fs subvolume metadata set' in ceph 15.2.17"
# Describe the bug #

failed to provision volume with StorageClass "csi-cephfs-sc": rpc error: code = Internal desc = failed to set metadata key "csi.storage.k8s.io/pvc/name", value "cephfs-pvc" on subvolume &{0xc000948160 a6893219-4fa6-437e-9de1-79c77c835fdb true 0xc0002f6648}: API call not implemented server-side: No handler found for 'fs subvolume metadata set'

# Environment details #

- Image

[2022-08-27 16:40] wanghongzhou commented on #3347
I have found the problem and need to set - "--extra-create-metadata=false"

[2022-08-29 07:34] Madhu-1 commented on #798
@pawanthegemini ceph needs to provide quota support at the rbd namespace level (which is outside of cephcsi). Please open an issue with ceph to request it.

[2022-08-29 11:19] Rakshith-R commented on #3335
https://github.com/ceph/ceph-csi/pull/3350

[2022-08-29 13:47] pawanthegemini commented on #798
Sure, thanks for the update. Created a request with ceph.

[2022-08-30 04:48] Madhu-1 opened #3358 "Failed to create kubernetes 1.25.0 cluster with minikube.sh"
[code]

The above is the logs when I run kubelet manually from the node. Due to the PodSecurity flag, we cannot deploy Kubernetes 1.25.0 with cephcsi minikube.sh script.

After Removing PodSecurity flag I can deploy kubernetes 1.25.0 cluster

[code]

[2022-08-30 04:49] Madhu-1 commented on #3358
This need to be fixed on priority as we need to run E2E with the kubernetes 1.25.0 release.

[2022-08-30 23:30] saiprashanth173 opened #3360 "Supporting TokenRequest API for vault tenant SA & K8s versions < 1.24"
# Describe the feature you'd like to have #

What new functionality do you want?
Currently, ceph-csi supports using the TokenRequest API in vault tenant SA approach from K8s 1.24+. However, for K8s version older than 1.24 we rely on secret references obtained from SA, even though the TokenRequest API is supported.

Proposal would be to use TokenRequest API by default and fall back to the secret re

[2022-08-31 18:51] kfox1111 commented on #2795
Does this affect existing volumes or just new volumes?

[2022-08-31 21:01] #3251 closed, assigned to nobody

[2022-08-31 21:01] #3242 closed, assigned to nobody

[2022-08-31 21:01] #3200 closed, assigned to pkalever

[2022-09-01 03:35] Madhu-1 commented on #3360
cc @Rakshith-R

[2022-09-01 05:55] Madhu-1 commented on #3343
Closing as not planned.

[2022-09-01 05:55] #3343 closed, assigned to nobody

[2022-09-01 05:55] Madhu-1 commented on #3342
Closing as works as expected

[2022-09-01 05:55] #3342 closed, assigned to nobody

[2022-09-01 06:14] Madhu-1 commented on #2795
@kfox1111 AFAIK Existing will also not work. you can manually add the `notrim` map/unmap option

[2022-09-01 16:13] kfox1111 commented on #2795
K. was preemptively asking as I wasn't sure if I had any or not. Now the next question becomes, how do I know if I have any? :)

[2022-09-02 05:28] Madhu-1 commented on #2795
You can check below

* Check if any storageclass has `"thickProvision": "true"` parameter set
* check if any rbd image contains `rbd.csi.ceph.com/thick-provisioned` metadata set

[2022-09-05 11:10] KarlHerler commented on #3329
Is there a non-invasive work around for this issue?

[2022-09-05 13:45] jaricek commented on #3329
Is possible solve this problem please ?

[2022-09-06 11:22] #3329 closed, assigned to nobody

[2022-09-07 19:30] jcollie commented on #3329
This issue does not appear to be solved yet. I cannot upgrade to 3.7.0, I am getting the same errors as everyone else. Has the job to resync the helm charts not been done yet? Is there a change that I can add to my values file to get this to work temporarily?

[2022-09-08 09:18] nixpanic commented on #3329
There is no 3.7.1 release yet. Once that is available, the removed files should be gone, finally.

[2022-09-08 14:56] zeppelinen commented on #2579
Same here

[2022-09-08 17:13] nixpanic commented on #2579
If this is still/again happening, please open an issue [against CephFS in their issue tracker](https://tracker.ceph.com/). Ceph-CSI uses the equivalent of the `df` command, and that requires CephFS to return correctly and up-to-date information.

[2022-09-09 10:13] #3360 closed, assigned to saiprashanth173

[2022-09-11 21:01] #3287 closed, assigned to nobody

[2022-09-12 07:42] Informize commented on #3309
I have exactly the same problem. With basic k8s installation (1.25) and ceph installation (17.2.3).
Where `cephcsi:v3.5.1` works fine and `cephcsi:v3.7.1` fails.

[2022-09-12 10:16] Rakshith-R commented on #2327
https://tracker.ceph.com/issues/52810

This has got a fix in ceph master
quincy pr https://tracker.ceph.com/issues/52810
pacific pr https://github.com/ceph/ceph/pull/47995

Next quincy release will have this fix.

[2022-09-13 05:10] humblec commented on #2997
Considering this release is out I am closing this https://github.com/ceph/ceph-csi/releases/tag/v3.7.0

[2022-09-13 05:10] #2997 closed, assigned to humblec

[2022-09-13 12:39] Rakshith-R commented on #3335
https://github.com/ceph/ceph-csi/pull/3385
@humblec one more pr

[2022-09-13 13:41] nixpanic opened #3387 "Support creating NFS-volumes that requires clients to authenticate with Kerberos"
# Describe the feature you'd like to have #

Rook supports configuring NFS-Ganesha with Kerberos support. This can not (easily) be used within a Kubernetes environment, but is useful for external NFS-clients. Ceph-CSI can have a parameter in the StorageClass that makes it possible to select one or more security flavours when a volume is created.

# What is the value to the end user? (why is it a p

[2022-09-13 14:16] humblec commented on #3335
Sure, its IN as well. thanks

[2022-09-13 16:09] ShyamsundarR opened #3388 "RBD mirroring: rbd.getLastSyncTime panics with "index out of range [1] with length 1""
Running a simple VolumeRelication resource creation for a PVC backed by RBD, causes the following message/stack in the csi-addons container in the rbd provisioner plugin:

[code]

The issue seems to stem from the `description` string read from `rbd mirror image status <image-spec>` where the post `replaying` description string is absent.

This possibly requires a fix to check if there is a further

[2022-09-13 18:34] ShyamsundarR commented on #3388
Issue stems from processing the data in local status, rather than peer status. Local status further does not have any `,` causing the array index issue.

A test patch that I used to overcome the problem as below:

[code]

[2022-09-14 05:49] Madhu-1 commented on #3309
@mchangir can you please help here, not sure why mounting fails here cephcsi uses ceph 17.2 as the base image but still looks like the mount is failing on the 17.2.3 cluster.

Note:- we have not seen this issue in Rook ceph clusters.

[2022-09-14 08:04] thrashwerk opened #3390 "ceph-csi-cephfs 3.7.0 no longer attaches the volume to the pod"
# Describe the bug #

After updating the ceph-csi-cephfs Helm chart to 3.7.0 the CephFS PVCs no longer get mounted to the pod and the pod stays undeployed.

We have static CephFS filesystems already created in Ceph, we have manually created PVs and PVCs for these filesystems and we use these PVCs to mount the CephFS in pods.

For example:
[code]

After creating a pod with those mounts it just gets

[2022-09-14 10:06] Rakshith-R commented on #3390
@thrashwerk , The logs don't contain information about the pvc `cephfs-read-smaug` you mentioned,
did you check whether that pvc got to bound state ?

I see a few other cephfs PVC working fine though.

[2022-09-14 10:08] thrashwerk commented on #3390
It's been bound for over a 100 days, it's not a new PVC. We create them manually once and re-use them.

[2022-09-14 12:06] #3388 closed, assigned to yati1998

[2022-09-14 14:12] Madhu-1 commented on #3309
@Informize can you please provide the dmesg on the node

[2022-09-14 14:13] Madhu-1 commented on #3309
@Informize can you also run the mount command in verbose mode?

[2022-09-14 14:37] humblec commented on #3309
@ygg-drop I am wondering the compatibility between userspace package (ex: ceph-common) for the binaries  to kernel ((5.15.41-0-lts) cause the issue here ?
With that assumption , is it the same versions you have in your cluster nodes ? and mount fails on all the nodes ? or speciifc to some nodes ?

[2022-09-14 17:26] cjohnston1158 opened #3393 "Update images to resolve CVEs"
# Describe the bug #

Is it possible to update the ceph-csi images to resolve the security vulnerabilities in the images?

Security scan can be seen at:
https://quay.io/repository/cephcsi/cephcsi?tab=tags

[2022-09-15 04:25] Muyan0828 opened #3395 "setting pids.max failed with cgroups v2"
# Describe the bug #

setting pids.max failed with cgroups v2

# Environment details #

- Image/version of Ceph CSI driver : quay.io/cephcsi/cephcsi:v3.7.0
- Helm chart version :
- Kernel version : 5.15.0-47-generic
- Mounter used for mounting PVC (for cephFS its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :
- Kubernetes cluster version : v1.21.14
- Ceph cluster version : v14.2.11

# St

[2022-09-15 04:34] vshankar commented on #3309
The mount syntax changes have been kept backward compatible. The old syntax _should_ work with newer kernels.

[2022-09-15 04:35] vshankar commented on #3309
@ygg-drop dmesg and running mount helper with verbose flag would help debug what's going on.

[2022-09-15 09:26] Informize commented on #3309
@Madhu-1

OS on ceph nodes and k8s control/worker nodes are all:
[code]

Version of cephcsi that works:
[code]
and mount command:
[code]

With ceph-csi 3.7
[code]
And mount command in verbose mode:
[code]

[2022-09-15 09:54] vshankar commented on #3309
Do you see no output after this or does the command hang? And does the mount go through (grep ceph /proc/mounts)?

Anything in dmesg? The 0's in fsid _might_ be the issue here.

[2022-09-15 11:34] Informize commented on #3309
@vshankar
It hangs for a bit and then returns to prompt
dmesg relevant messages:
[code]

and `cat /proc/mounts | grep ceph`:
[code]

pvc/pv's:
[code]

pod:
[code]

[2022-09-15 12:16] Informize commented on #3390
Maybe related to this issue: https://github.com/ceph/ceph-csi/issues/3309

[2022-09-15 12:25] vshankar commented on #3309
That the cephfs mount then, isn't it?

`stat /mnt`?

[2022-09-15 12:36] Informize commented on #3309
@vshankar yes indeed, with mount command i can manually mount it on worker node

[2022-09-15 12:45] vshankar commented on #3309
OK. Is the same command run by ceph-csi plugin? Can you enable mount helper debugging when its being run by ceph-csi?

[2022-09-15 12:50] mchangir commented on #3309
I wonder whats the `cat /proc/mounts | grep ceph` output where the mount succeeds at the command-line

[2022-09-15 12:59] Informize commented on #3309
sorry, can you point out where to look how to enable debug by ceph-csi ?

[2022-09-15 16:12] vshankar commented on #3309
I have no idea. @Madhu-1 @humblec might know.

[2022-09-15 16:13] vshankar commented on #3309
/proc/mounts has the record to the cephfs mount as mentioned in this comment https://github.com/ceph/ceph-csi/issues/3309#issuecomment-1247980121

[2022-09-16 23:19] geraldwuhoo commented on #3390
I can also confirm this issue &mdash; static cephfs PVs I've created by hand and working for the past few months broke following 3.7.0 update.

[2022-09-17 16:30] mchangir commented on #3309
I presume that [this comment](https://github.com/ceph/ceph-csi/issues/3309#issuecomment-1248031220) lists the contents of `/proc/mounts` when the commands doesn't succeed as desired.
What I meant to ask was the output of `/proc/mounts` when the command succeeds immediately to verify the `fsid` listed in the output against the failed/delayed version.

[2022-09-19 05:16] Madhu-1 commented on #3309
No option for doing it,  you can exec into the csi-cephfsplugin container and run the mount command manually with debug flags

[2022-09-19 05:22] Madhu-1 commented on #3390
@geraldwuhoo Can you please provide pvc/pv and app yaml files?

[2022-09-19 05:37] Madhu-1 commented on #3393
@cjohnston1158 we use ceph as the base image, if the vulnerabilities are in the ceph base image, they need to be resolved there first. https://quay.io/repository/ceph/ceph?tab=tags

[2022-09-19 07:20] Informize commented on #3309
It will manually mount but not from a pod. Debug flags are set as you can see in this comment: https://github.com/ceph/ceph-csi/issues/3309#issuecomment-1247834262

[2022-09-19 08:44] riccardo32 commented on #1258
Linux kernel  via rbd now has support  for this, will this now be extended to the CSI ?
https://docs.ceph.com/en/nautilus/man/8/rbd/#kernel-rbd-krbd-options

[2022-09-19 08:47] Madhu-1 commented on #1258
What extra support is required from cephcsi? if you specify the mon V2 IP:PORT in the cephcsi configmap cephcsi will use it to for communication with ceph.

[2022-09-19 08:51] riccardo32 commented on #1258
We want to be able to set the ms_mode=secure option to encrypt data

[2022-09-19 09:00] Madhu-1 commented on #1258
You can set the map option here https://github.com/ceph/ceph-csi/blob/4a1591236d80654a178bc3c127e6374d303f323a/examples/rbd/storageclass.yaml#L55. is this what you are looking for?

[2022-09-19 13:46] riccardo32 commented on #1258
Great Thank you this works!! might be worth updating https://docs.ceph.com/en/latest/rbd/rbd-kubernetes/#configure-ceph-csi

thanks for the prompt assistance

[2022-09-19 21:20] kub3let opened #3397 "fsGroupPolicy field is immutable"
# Describe the bug #

I'm trying to upgrade a cluster running Ceph CSI 3.7.0 to 3.7.1

# Environment details #

- Image/version of Ceph CSI driver : 3.7.0
- Helm chart version : 3.7.0
- Kernel version : 5.10.0-17-amd64
- Mounter used for mounting PVC (for cephFS its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : n/a
- Kubernetes cluster version : k3s v1.24.4+k3s1
- Ceph cluster version :

[2022-09-20 04:32] Madhu-1 commented on #3397
This is a bug we introduced in 3.7.0 release. we are not able to catch this one as we don't have e2e testing for helm upgrade. AFAIK We cannot fix this one in any release. can you follow the below workaround for now

* Delete the csidriver object

[code]
* Do helm upgrade

[2022-09-20 08:04] Antiarchitect opened #3399 "Optionally return old behavior"
# Describe the feature you'd like to have #

Abitlity to return old behavior before https://github.com/ceph/ceph-csi/pull/2697
Related: https://github.com/rook/rook/issues/10406

# What is the value to the end user? (why is it a priority?) #

Ability to upgrade Rook from 1.8 further without any backward incompatibility

# How will we know we have a good solution? (acceptance criteria) #

# Additio

[2022-09-20 09:35] Muyan0828 commented on #3395
@Madhu-1 cc

[2022-09-20 09:37] Madhu-1 commented on #3395
same as https://github.com/ceph/ceph-csi/issues/3085? https://github.com/ceph/ceph-csi/pull/3091 should have fixed it.

[2022-09-20 09:47] Muyan0828 commented on #3395
but the version I'm using is quay.io/cephcsi/cephcsi:v3.7.0, #3091 is already merged in the release

[2022-09-20 09:50] Rakshith-R commented on #3399
Refer https://github.com/rook/rook/issues/10406#issuecomment-1252111200

[2022-09-20 15:01] vshankar commented on #3309
@Informize Without debug logs from a failed mount instance, its hard to tell what's going on.

[2022-09-20 19:21] kub3let commented on #3397
Thanks @Madhu-1, update worked just fine now

[2022-09-20 19:21] #3397 closed, assigned to nobody

[2022-09-20 20:40] plnordquist-pnnl commented on #3301
I was checking this again with the 3.7.1 version of the driver and I don't see these log messages anymore.

[2022-09-20 20:40] #3301 closed, assigned to nobody

[2022-09-21 13:50] thrashwerk commented on #3390
Here's an example of my configuration.

PV:
[code]

PVC:
[code]

[2022-09-22 04:44] Madhu-1 commented on #3390
@Informize Thanks for the PVC/PV spec can you please also provide pod.yaml?

[2022-09-22 04:45] Madhu-1 commented on #3390
@thrashwerk Thanks for the PVC/PV spec can you please also provide pod.yaml?

[2022-09-22 05:35] Madhu-1 commented on #3395
@Muyan0828 i need to reproduce it locally and see whats happening. Thanks for reporting this one.

[2022-09-22 07:00] Informize commented on #3309
@vshankar

This is all the debug information that i have. Is there a way how to get extra debug information ? I see there is also another github issue related to this one: https://github.com/ceph/ceph-csi/issues/3390

[2022-09-22 08:51] vshankar commented on #3309
Do you have dmesg logs when the mount fails from the pod?

[2022-09-22 09:04] Madhu-1 commented on #3309
@Informize i dont see any mount failure in your case. Do you think the mount is failing? Can you please provide cephfsplugin container logs?

[2022-09-22 11:59] irq0 opened #3402 "Crashes during CreateVolume: Pods failing with "unexpected encryption status""
# Describe the bug

With RBD block encrypted volumes, interrupting CreateVolume leads with high likelihood to broken volumes / RBD images.
Broken in the sense that encryption metadata is in an invalid state and Ceph CSI is unable to attach the volume.
Pods will get stuck in ContainerCreating as a result.

# Environment details

-   Image/version of Ceph CSI driver: Saw this on 3.5.1 and current de

[2022-09-22 12:45] thrashwerk commented on #3390
This is the one I used to test it specifically:
[code]

[2022-09-23 21:01] #3299 closed, assigned to humblec

[2022-09-25 16:43] phucnv282 opened #3403 "One OSD has two many PGs compared to others"
# Describe the bug #

I have 5 OSDs, they have weight 1 but I don't know why the PGs aren't balanced between them
So, that makes the most PGs OSD store so much data while the rest still have many spaces

# Environment details #

- Image/version of Ceph CSI driver : v3.4.0
- Helm chart version : rook-ceph v1.7.9
- Kubernetes cluster version : 1.20.6

# Expected behavior #

Ceph OSDs have balanced P

[2022-09-26 04:03] Madhu-1 commented on #3402
@Rakshith-R PTAL

[2022-09-26 04:20] Madhu-1 commented on #3403
@phucnv282 please open the issue in [Rook](https://github.com/rook/rook) repo as this is related to the ceph cluster

[2022-09-26 04:21] Madhu-1 commented on #3393
Closing this one as nothing can be done at the cephcsi level. this is getting tracked at https://github.com/ceph/ceph-container/issues/2061

[2022-09-26 05:31] Rakshith-R commented on #3402
@irq0 can you confirm again that this same issue does not occur with just canary image?
Both the oom kill and encryption issue.

And can you manually check the created image meta data ?

[2022-09-29 09:23] nixpanic commented on #3298
This can not (easily) be done at the moment. It requires you to manually modify several things:

- change the LUKS passphrase when the RBD-image is attached to a node
- update the encrypted passphrase in the KMS or image metadata

We do want to have this as a feature, but there is no design for it yet. Possibly this will be added through [a new CSI Addons procedure](csi-addons/spec#16).

[2022-10-02 05:30] lixiaopengy opened #3406 "Failed to deploy the rbd by referencing the deployment document"
I refer to https://github.com/ceph/ceph-csi/blob/devel/docs/deploy-rbd.md  Unable to start service

The service shows that oidc token is missing
[code]

But I found no relevant resources in the file。

[2022-10-03 06:02] Rakshith-R commented on #3406
@lixiaopengy
Can you try with release v3.5 ?
https://github.com/ceph/ceph-csi/blob/v3.5.1/deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml

Which kubernetes version are you using ?

[2022-10-03 12:39] Madhu-1 commented on #3406
please check above error

[2022-10-03 14:19] lixiaopengy commented on #3406
I use kubernetes v1.17

[2022-10-03 14:24] Madhu-1 commented on #3406
We dont support kubernetes 1.17 you need to make some changes in provisioner and daemonset yaml to remove token part

[2022-10-03 14:27] #3406 closed, assigned to nobody

[2022-10-04 04:25] lixiaopengy commented on #3406
OK, thank you for your reply

[2022-10-04 11:21] thrashwerk commented on #3390
I've tried updating to 3.7.1 with not much luck but I did dig a bit more and I found some interesting things.

- Updated to 3.7.1
- Created the same pod using the same old PVC
- Checked mounts on the host where the pod was scheduled
[code]
- The mounts work correctly from the host

So it seems ceph-csi creates the mounts correctly but doesn't communicate back to K8s that it's ready and the pod can

[2022-10-06 07:50] humblec commented on #3402
@irq0 yeah, please give a try with canary or 3.7.1 image

[2022-10-06 09:22] vriabyk opened #3416 "Delete snapshots before deleting RBD image"
# Describe the feature you'd like to have #
I want image snapshots to be deleted on image delete request. So basically smth like this:
[code]

# What is the value to the end user? (why is it a priority?) #
It is important because images which have snapshots cannot be deleted from ceph and get stuck in trash. If you try to delete k8s pvc(pv) which has rbd snapshots in ceph, the image won't be actua

[2022-10-06 11:42] Madhu-1 commented on #3395
[code]

am not able to reproduce it, i dont see any error message in csi logs.

[2022-10-06 11:42] #3395 closed, assigned to nobody

[2022-10-07 06:35] Rakshith-R commented on #3416
@vriabyk
Were these rbd image snapshots you are talking about created manually through ceph cli or dashboard ?
If so, it is the user's responsibility to delete these snapshots themselves.

[2022-10-07 08:25] vriabyk commented on #3416
@Rakshith-R, yes, snapshot was created manually via rbd cli. Any problem to add this logic from your side? We can create simple PR for that. You may at least implement some option which will be disabled by default, but if enabled - will delete snapshots before deleting image.

Otherwise, ceph csi shouldn't delete pvc/pv from k8s if the image has snapshots in ceph and throw error message like: "Can

[2022-10-07 08:53] Rakshith-R commented on #3416
@vriabyk
I would prefer the user who has created the snapshot to delete it.
The deletion of image being blocked due presence of a rbd snapshot which was explicitly created outside of cephcsi makes sense to me. I don't think we need to add a step to purge something that was created outside of cephcsi scope.

cc @ceph/ceph-csi-contributors

[2022-10-07 08:59] Madhu-1 commented on #3416
yes agree to above point, if user created the snapshots its user responsibility to delete it before delete the pvc or snapshots. i dont we should purge snapshots in the rbd image before deleting.

[2022-10-07 11:25] crabique commented on #3416
This does sound like something that can be handled at CSI level, provisioning and deprovisioning volumes are the main things expected of an interface.

Things in ceph ecosystem usually handle snapshots that way, they are transparently purged upon RBD volume deletion unless they are protected. Most common scenario here is not that they are "manually" created by some user, but some backup routine cr

[2022-10-07 11:40] Madhu-1 commented on #3416
IMHO its not a best option to handle it at the cephcsi level which is created by some other entity. if some external component is doing some operation at the ceph level we should expect to redo the operation it has done before deleting the volume. providing this functionality behind a flag is not a problem but it doesnt sound right. if snapshots are created by some external entity we should expect

[2022-10-07 12:38] crabique commented on #3416
How would the entity responsible for snapshot creation know to delete the snapshots _before_ ceph-csi attempts to delete the volume? As far as I'm aware, there is currently no way to configure an external webhook dependency for the finalizer that would cause ceph-csi to wait until the snapshots are deleted either.

The issue here is that it's a responsibility scope for the CSI implementation to ei

[2022-10-07 13:22] Rakshith-R commented on #3416
@crabique
I disagree, cephcsi operates at csi level as an interface between orchestrator and ceph.

It is not responsible for anything that is done at ceph level by another user/entity on the images created by cephcsi. They need to cleanup after themselves, maybe by having a routine that checks images in trash for snaps created by it and purging the related snap?

Snap purge at cephcsi does not so

[2022-10-10 08:21] #3403 closed, assigned to nobody

[2022-10-10 08:54] Informize commented on #3309
here is the mount failing

[2022-10-10 09:49] Madhu-1 commented on #3390
I have tested with cephcsi v3.7.0 `quay.io/cephcsi/cephcsi:v3.7.0`  everything works fine for me

[code]

[code]
[code]
[code]

[2022-10-10 10:19] Madhu-1 commented on #3335
closing it as 3.7.1 release is out

[2022-10-10 10:19] #3335 closed, assigned to nobody

[2022-10-10 11:34] Madhu-1 commented on #2675
https://github.com/ceph/ceph-csi/pull/3413 fix it

[2022-10-10 11:34] #2675 closed, assigned to Madhu-1

[2022-10-10 11:48] thrashwerk commented on #3390
I've tried completely uninstalling the old Helm release, installed 3.7.1, created a PV and PVC for a different volume in a different namespace, and created a pod using that PVC. Still didn't work.

Nodeplugin logs show that the global and pod mounts were successful and checked that they're working from the host but the pod still gets `timed out waiting for the condition`.

I'm not sure where to ch

[2022-10-10 11:53] Madhu-1 commented on #3390
kubelet Rootpath is `/var/lib/kubelet` right? checking kubelet logs might help you. atleast what i can see from your nodeplugin logs is that from cephcsi the volume is attached to the requested targetPath (that is the work of cephcsi)

[2022-10-10 12:31] irq0 commented on #3402
Ran the steps again on the current devel branch (71e5b3f92). The csi-rbdplugin container limited to 256MiB memory. With 42 pods starting csi-rbdplugin is crashlooping without making much progress. Same result as above, pods failing with unexpected encryption status.

For a random pod:

[code]

Image metadata:

[code]

[2022-10-11 06:59] Rakshith-R commented on #3402
hey @irq0
Can you give a try with `ghcr.io/rakshith-r/cephcsi:enc-fix` ?
This contains the fix from #3422, it should fix this issue.
I'll try to test on my end too.

[2022-10-11 08:04] Bengrunt commented on #3347
Hello, I would suggest reopening this issue since although using the `--extra-create-metadata=false` parameter is a good workaround it does not solve the issue. FYI, We're using a Ceph 16.2.9 cluster (Pacific) and are using CSI 3.7.1.

From what we understood looking at [this Ceph PR](https://github.com/ceph/ceph/pull/45603) and the [Ceph source code](https://github.com/ceph/ceph/blob/v17.2.3/src/

[2022-10-11 08:39] Madhu-1 commented on #3347
You mean you get error with 3.7.1 release also?

This is configurable in the helm charts https://github.com/ceph/ceph-csi/blob/devel/charts/ceph-csi-cephfs/templates/provisioner-deployment.yaml#L131

[2022-10-11 08:39] Madhu-1 commented on #3347
opening for now, i will try to reproduce it with specified ceph version

[2022-10-11 11:55] Madhu-1 commented on #3347
https://github.com/ceph/ceph-csi/pull/3423 should fix the problem.

[2022-10-11 12:29] Bengrunt commented on #3347
Yes, that's the release we experienced this issue with.

It does not seem to be the parameter we need to set to workaround the issue. We had to set `--extra-create-metadata=false` in order for PVC binding to succeed.

[2022-10-11 12:55] Madhu-1 commented on #3347
Should be fixed in next release 3.7.2 (maybe next week we will release it)

It is the right parameter to set to disable metadata operation at cephcsi.

[2022-10-12 07:22] microyahoo opened #3424 "Why is the disk usage much larger than the available space displayed by the `df` command after disabling ext4 journal?"
# Describe the bug #

A clear and concise description of what the bug is.

# Environment details #

- Image/version of Ceph CSI driver : `cephcsi:v3.5.1`
- Helm chart version :
- Kernel version :
[code]
- Mounter used for mounting PVC (for cephFS its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : krbd
- Kubernetes cluster version :
[code]
- Ceph cluster version :
[code]

# Steps to repro

[2022-10-12 07:27] Madhu-1 commented on #3399
This should had been the first preference from cephcsi before making the major change, as we have passed a major release is it still good to have this support with some flag and remove it later once everyone corrects/fixes all the application templates. lets here from other maintainers/contributors

cc @ceph/ceph-csi-maintainers
cc @ceph/ceph-csi-contributors

[2022-10-12 07:31] Madhu-1 commented on #3424
@microyahoo looks like you are doing nothing with cephcsi driver apart from creating the image, it is good to ask this in ceph mailing list instead of cephcsi

cc @idryomov

[2022-10-12 07:51] celiawa opened #3426 "rbd volume failed to mount"
# Describe the bug #
rbd volume failed to mount.

# Environment details #

- Image/version of Ceph CSI driver : v3.3.1
- Helm chart version :
- Kernel version :  4.15.0-161-generic
- Mounter used for mounting PVC (for cephFS its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :  krbd
- Kubernetes cluster version :  v1.20.11
- Ceph cluster version :  Octopus

# Steps to reproduce #
We met se

[2022-10-12 07:56] Madhu-1 commented on #3426
@celiawa above error message is showing when command are stuck/not responding the cephCSI restarting cephcsi will get new RPC call and it issues in ceph commands and everything might work, if the ceph cluster is not in a healthy state or some network issue this is expected and pretty common., cephcsi 3.3 is deprecated and not supported anymore please upgrade to latest supported release https://git

[2022-10-12 08:02] microyahoo commented on #3424
OK, thanks.

[2022-10-12 08:43] celiawa commented on #3426
Thanks very much for your quick answer,  @Madhu-1.  Could you help a little more? I'm trying to read the code.
I think my case in the above is when calls rbdGetDeviceList here:
https://github.com/ceph/ceph-csi/blob/83df1eae53a0e0e2b3b8ff0972f32ca110baf862/internal/rbd/rbd_attach.go#L183

But the command stuck, so the thread hung till timeout.
https://github.com/ceph/ceph-csi/blob/83df1eae53a0e0e2b

[2022-10-12 08:59] Madhu-1 commented on #3426
it should not hung if no problem with the node machine because we run nodeplugin with privileged access and we use hostPid and its set to max https://github.com/ceph/ceph-csi/blob/devel/cmd/cephcsi.go#L205-L221

[2022-10-12 09:28] CindyLizi commented on #3426
@Madhu-1 , i have the same issue with cephcsi:v3.5.1

and all volumes cannot be mounted to one specific node, restart the csi-rbdplugin pod could resolve issue.
so my question is if the bad RPC call  will impact all the mount on the node?

thank you!

[2022-10-12 09:37] idryomov commented on #3424
This doesn't seem to have anything to do with RBD either.  I suspect you would see the same behavior with a loop device (or any other device) on that kernel.

[2022-10-12 09:48] Madhu-1 commented on #3426
No one bad RPC will impact only one pvc not all pvc on that node.

[2022-10-12 11:27] microyahoo commented on #3424
I tried to create a loop device on the local node, it is normal. In addition, I found a very strange phenomenon, if I only create pvc, and then do the above operations, it is normal, but if I apply this pvc in a pod, the above problem will occur. I suspect that the file system options setup by k8s or csi caused this problem. @idryomov

[2022-10-12 11:29] idryomov commented on #3424
Did you supply mkfs options that Ceph CSI hard-codes: `-m0 -Enodiscard,lazy_itable_init=1,lazy_journal_init=1` when trying with a loop device?

[2022-10-12 11:33] idryomov commented on #3424
Did you mount the filesystem before doing these operations when trying with a loop device?  Applying the PVC does more than just mount of course, but that's the most obvious difference.  Note that Ceph CSI may be passing some mount options as well.

[2022-10-12 13:15] kuhar2007 opened #3428 "Problems with creating and attaching pvc cephfs"
I redeployed one from five ceph nodes (**not rook**).
4 nodes have ceph v14.210 and the last node got v 14.2.22 after redeploy.

I updated ceph csi to last version 3.7. I think that will fix my problem, but no.

When I try create cephfs volume, I have next errors from pvc:
`Events:
  Type     Reason                Age              From

[2022-10-12 13:17] Madhu-1 commented on #3428
@kuhar2007 can you please provide below outputs

* ceph -s
* ceph fs ls

[2022-10-12 13:18] Madhu-1 commented on #3428
This is something coming from ceph, @kotreshhr @mchangir any idea about this error?

[2022-10-12 13:18] Madhu-1 commented on #3428
@kuhar2007 please also provide csi-cephfsplugin container logs from the csi-cephfs provisioner pod.

[2022-10-12 13:28] kuhar2007 commented on #3428
[code]

`ceph fs ls
name: cephfs, metadata pool: cephfs_metadata, data pools: [cephfs_data ]`

Logs from  csi-cephfsplugin I wrote in my first message.

[2022-10-12 13:44] Madhu-1 commented on #3428
@kuhar2007 we have 5/6 containers running in the cephfs provisioner pod the logs you provided is from csi-provisioner container i need to take a look at the csi-cephfsplugin container logs.

[2022-10-12 13:51] kuhar2007 commented on #3428
Logs from csi-cephfsplugin-provisioner container csi-cephfsplugin:
[code]

[2022-10-12 13:59] kotreshhr commented on #3428
Do we have mgr logs associated with this?

[2022-10-12 14:26] microyahoo commented on #3424
Yes, I followed your commands and it's normal like below. @idryomov
[code]

[2022-10-12 14:34] irq0 commented on #3402
With ghcr.io/rakshith-r/cephcsi:enc-fix, I get a whole different error. Any ideas?

[code]

Image metadata:

[code]

Didn't check the image in depth, but it does seem to at least have the LUKS magic set:

[code]

[2022-10-12 14:40] microyahoo commented on #3424
I created a rbd image throug k8s PVC, then map and mount it. It's normal to do like this.
[code]

[2022-10-12 14:49] #3324 closed, assigned to nobody

[2022-10-12 14:56] idryomov commented on #3424
OK, it sounds like the issue is caused by something else that happens as part of "applying the PVC", not the mount itself.  @Madhu-1 can you investigate?

[2022-10-12 14:58] Rakshith-R commented on #3402
@irq0
Can you add csi-rbdplugin provisioner and nodeplugin logs please?

The encrypted pvc seems to provisioned properly with everything in place.

Is that issue occurring on all pvc or a few ?

[2022-10-12 15:03] Madhu-1 commented on #3424
@idryomov Thanks for checking i will look into it.

[2022-10-12 15:07] microyahoo commented on #3424
This problem can be stably reproduced when pvc is applied in pods.
[code]
Attach the partial dmesg
[code]

[2022-10-12 15:19] microyahoo commented on #3424
Thanks for your advice and help @idryomov @Madhu-1

[2022-10-12 15:43] Madhu-1 commented on #3424
[code]

I tested with cephcsi 3.7.1 i dont see any problem, never seens this issue in cephcsi.

[2022-10-12 15:45] Madhu-1 commented on #3424
For 50Gb pvc

[code]

[2022-10-12 16:11] irq0 commented on #3402
With csi-rbdplugin having a 256M limit and crashing, 5/5 pvc / pods created concurrently fail

# Logs

## Provisioner

CreateVolume request:
[code]

## Nodeplugin

Failing NodeStageVolume
[code]

[2022-10-13 01:06] celiawa commented on #3426
@Madhu-1 , but when we saw this issue, all the pvc attach or dettach were failed on this node. We had to restart the csi-rbdplugin.

[2022-10-13 02:26] microyahoo commented on #3424
Hi @Madhu-1 , you could disable ext4 journal option after creating pods.
1. create pvc and pod
2. delete pod, because `e2fsck` should make sure the disk is not used.
3. map the rbd image in ceph cluster
4. disable ext4 journal, then run `e2fsck`.
5. mount the block device in ceph cluster or recreate the pod again.
6. check the output of `df`.

[2022-10-13 04:28] Rakshith-R commented on #3402
@irq0
Is the csi-rbdplugin nodeplugin also facing OOM kill?
Can you try mounting just one of those same PVC at a time or remove the memory limit on nodeplugin ?

[2022-10-13 07:06] Madhu-1 commented on #3424
@microyahoo why ext4 journal option need to be disabled?

[2022-10-13 07:12] Madhu-1 commented on #3426
@celiawa it could be due to some other reasons, as per the design lock is taken on volumeID and its unique per pvc.

[2022-10-13 07:20] microyahoo commented on #3424
Because  `jbd2` process caused the high IO, I want to disable ext4 journal to optimize it.
![20221013-151948](https://user-images.githubusercontent.com/10202906/195528805-e5f45c4b-661b-41bc-bce8-f64ba3b0845c.png)

[2022-10-13 07:53] celiawa commented on #3426
@Madhu-1 When had the problem, we could run rbd commands manually in the rbdplugin pod. And we shared the ceph cluster among different k8s clusters. The volume attach/mount has no issues on those clusters. I think that means the ceph cluster was in good status.

Do you have any suggestions on how we can debug it if we see it again?

[2022-10-13 07:54] Madhu-1 commented on #3424
Below is the test it did, i hope this is what you need to do to follow to disable journaling

[code]

[2022-10-13 07:58] Madhu-1 commented on #3426
https://rook.io/docs/rook/v1.10/Troubleshooting/ceph-csi-common-issues/ should help you to debug (steps to debug will remain same). closing this one for now as we cannot do anything here. please feel free to reopen if you need any help

[2022-10-13 08:00] celiawa commented on #3426
Thanks @Madhu-1

[2022-10-13 08:05] nixpanic commented on #3424
Isn't the journal used to write data to the ext4 filesystem? If you disabled the journal, would not an other process do the same I/O? Or maybe the workload is very filesystem metadata intense, in that case the app might benefit from some optimizations for storage...

If you really want to disable the journal, you could consider using `ext2` as filesystem type instead. `ext2` does not have journall

[2022-10-13 08:22] nixpanic opened #3431 "`rbd-nbd` tests fail when running minikube with Podman"
# Describe the bug #

While running `e2e.test` on a Kubernetes cluster created with `minikube start --driver=podman` (and some hacks from #3420), volumes created with a `rbd-nbd` mounter in the StorageClass can not be deleted.

# Steps to reproduce #

1. Setup details: enable `testNBD` in `e2e/e2e_test.go` by default
1. push the change to a new PR for testing
1. See error

[2022-10-13 09:14] microyahoo commented on #3424
Thank you for your investigation. I have two environments that can be reproduced stably. I am not sure if it is related to the system. @Madhu-1
[code]
[code]
Thanks for your advice, I will try it. @nixpanic

[2022-10-13 13:50] irq0 commented on #3402
The last run had a 1GiB memory limit on the csi-rbdplugin nodeserver. I did not see any OOMs of that container.

[2022-10-13 14:07] kuhar2007 commented on #3428
@kotreshhr mgr logs write something like this:
`Oct 13 16:04:52 ceph01 ceph-mgr[1881]: 2022-10-13 16:04:52.096 7f450534b700 -1 mgr.server reply reply (2) No such file or directory error in open /volumes/_/volumes/kubernetes/test-k8s-volumes:csi-vol-01921ca4-4b00-11ed-aaa9-5eb424f20c91.meta`

[2022-10-14 07:31] Madhu-1 commented on #3402
256Mib limit for provisioner should be more than enough for this workload, we need to do profiling and check is there any memory leak in cephcsi when provisioning the volume.

[2022-10-14 07:58] kuhar2007 commented on #3428
Cephfs-provisioner at okd4 has same errors:
[code]

[2022-10-14 08:05] Madhu-1 commented on #3428
@kuhar2007 AFAIK this is not related to cephcsi, its mostly problem with ceph cluster. can you create the ceph fs subvolume manually and share the output here?

[2022-10-14 08:47] Madhu-1 commented on #3402
I tested secret based encryption with 3.7.1 i dont see any crash with below limits

[code]
[code]

but when i tested with metadata type encryption i can see the crash, this confirms we have a memory leak?

[2022-10-14 15:01] bastienbosser opened #3437 "Possibility to add additional labels on all helm chart resources"
What new functionality do you want?

Add a commonLabels variable in the values.yml file that allows to add additional labels on all helm chart resources.

How would the end user gain value from having this feature?

As you know, labels can be used to organize and to select subsets of objects. In my case of use it allows me to group the applications by category and to check by a simple command the

[2022-10-15 07:19] Zempashi commented on #3309
[code]

Happen on rook 1.10.2 , external ceph installed via cephadm in version 16.2.10, kubernetes nodes are on archlinux, kernel  5.19.5-arch1-1

No really relevant dmesg error:

[code]

Same error trying to mount manually (in the container, archlinux remove ceph-library from repository few days ago), and volume don't get mounted:
[code]

[2022-10-15 19:38] Zempashi commented on #3309
Confirm that running rook 1.9.12  (rook 1.10.X supports cephcsi >=3.6.0, that does NOT solve the issue) and forcing cephcsi:3.5.1 solve the issue.

[2022-10-17 06:54] kuhar2007 commented on #3428
@Madhu-1 this command didn't make output:
[code]

[2022-10-17 07:03] Madhu-1 commented on #3428
@kuhar2007 you need to create subvolume not the group, refer https://docs.ceph.com/en/quincy/cephfs/fs-volumes/#fs-subvolumes for the right command

[2022-10-17 07:30] Madhu-1 commented on #3309
Can someone provide me the setup details/reproducer i would like to reproduce it locally and see what is wrong.

[2022-10-17 08:24] kuhar2007 commented on #3428
@Madhu-1 Sorry for wrong command:
[code]

[2022-10-17 08:29] Madhu-1 commented on #3428
@kuhar2007 can you please create it in the csi group

[code]

[2022-10-17 08:34] kuhar2007 commented on #3428
@Madhu-1  I did this command and didn't get any errors.
How can I check results?

[2022-10-17 08:35] Madhu-1 commented on #3428
same way `ceph fs subvolume ls cephfs csi`

[2022-10-17 08:36] Madhu-1 commented on #3428
@kotreshhr any idea why CLI commands are passing and csi commands are getting this error?

[2022-10-17 08:55] kuhar2007 commented on #3428
@Madhu-1 here is my output:
[code]

[2022-10-17 09:11] #3347 closed, assigned to Madhu-1

[2022-10-18 04:56] kotreshhr commented on #3428
@kuhar2007 If this is consistently happening with csi commands, please enable mgr debug logs, reproduce the issue and share the mgr logs. But I would suggest you to try this on the supported ceph cluster version (pacific[16.x], quincy[17.x]). Nautilus[14.x] is unsupported and lot of changes have gone in after that.

@Madhu-1
Is this happening during subvolume creation phase ? We do mantain a '/vol

[2022-10-18 07:33] Rakshith-R opened #3448 "Fix mdl related failures"
# Describe the bug #
Follow-up for #3447
The following changes need to be implemented.
https://github.com/ceph/ceph-csi/actions/runs/3271167181/jobs/5380622391

<details>

<summary> Click to see whole list of errors</summary>

[code]
</details>

[2022-10-18 08:17] kuhar2007 commented on #3428
@kotreshhr it isn't easy to upgrade ceph cluster safely to the last version pacific or quincy. We have a lot of dependencies.

[2022-10-18 08:29] Madhu-1 commented on #3428
Yes its happening during the create operation, Yes that is the crazy part here the error message doesnt match the subvolumegroup which is `csi` in our case and the error only happens to have with cephcsi not with CLI command (this is what i dont understand)

[2022-10-18 08:40] kuhar2007 commented on #3428
@kotreshhr @Madhu-1 I have one more idea. I use k8s which deployed in openstack version stein, this version use ceph-common packages lower then 14 version (v12), after installing new packages for nautilus(14.2.22), it (ceph) got  new feature about secure connections, that you can block unsecure connection, and if I allow unsecure connection ceph all works normally, instead of cephfs, if disallow -

[2022-10-18 08:45] Madhu-1 commented on #3428
cephcsi will not use the ceph packages from the host not even the unsecure connection. but good to test it. can you exec into the csi-cephfs-provisioner pod (csi-cephfsplugin container) and run the ceph commands manually and check? if we face similar error inside the pod something is wrong.

[2022-10-18 10:36] kuhar2007 commented on #3428
@Madhu-1  csi said me that have no permissions:
[code]

[2022-10-18 10:43] Madhu-1 commented on #3428
@kuhar2007 you need to pass `userid,key and monitor` details the above command it looks like below

```ceph fs subvolume create cephfs test-2 csi --m=<mon-ip:6789> --id=<userid> --key=keyring```

[2022-10-18 11:03] kuhar2007 commented on #3428
@Madhu-1 It works from container:
[code]

[2022-10-18 11:09] Madhu-1 commented on #3428
now am able to identify what is wrong :D can you please delete all pending pvc's and restart cephfs-provisioner pod and create a new pvc and check it works?

[2022-10-19 08:02] kuhar2007 commented on #3428
@Madhu-1 I have few k8s clusters and have the same error. I can't create cephfs volume even at cluster without any volumes.
Or you mean delete all volumes at each clusters?

[2022-10-19 09:16] Madhu-1 commented on #3428
i meant delete only pending pvc not all volumes. try restarting cephfs provisioner and create new pvc and try

[2022-10-19 09:56] kuhar2007 commented on #3428
@Madhu-1 I have no pvc with status "pending"

[2022-10-19 10:02] Madhu-1 commented on #3428
in that case can you please create a new PVC after restarting csi-cephfs-provisioner pods?

[2022-10-19 10:05] kuhar2007 commented on #3428
@Madhu-1 I restarted all pods in namespace ceph-csi and got same problem.
I'll try restart all cluster nodes for test and check it again.

[2022-10-19 10:26] kuhar2007 commented on #3428
Full cluster restart didn't help too...

[2022-10-19 10:32] Madhu-1 commented on #3428
Am sorry to say not sure what is happening with your cluster, i dont have path forward.

[2022-10-19 10:54] kuhar2007 commented on #3428
I'll plan to update containers in openstack for fix warning about unsecure connection, then write about results.

[2022-10-19 13:20] kuhar2007 commented on #3428
@Madhu-1 I found solution.
If we look to error:

`Warning ProvisioningFailed 2s cephfs.csi.ceph.com_csi-cephfsplugin-provisioner-f69755684-gv9kz_8262deb3-dcc7-4463-8a30-b124679da43a failed to provision volume with StorageClass "cephfs": rpc error: code = Internal desc = rados: ret=-2, No such file or directory: "error in open /volumes/_/volumes/kubernetes/test-k8s-volumes:csi-vol-2d993fe4-4a2e-11e

[2022-10-19 13:28] Madhu-1 commented on #3428
you are using `"subvolumeGroup"` option in the configmap, this should be the name of the group like `csi` not the path, cephfs will take carea of creating the path for you. if you still want to use it or just switch to some meaningful name not the path. as its working for you am closing this one. Thank you.

No this is not possible cephcsi will use the metadatapool from the ceph filesystem its not

[2022-10-19 13:28] #3428 closed, assigned to nobody

[2022-10-24 12:06] nirs commented on #925
@Madhu-1 #1894 was closed assuming that it is a dup of this, but this was closed as stale.

Is this solved in current version?

[2022-10-24 12:19] Madhu-1 commented on #925
@nirs We dont want to create the prometheus exported in the cephcsi itself, cephcsi adds the required details like (pvc name, pv name and namespace name and clusterid) to the rbd image/cephfs subvolume metadata. you can write your own exporter to list all the images and extract the requried information. In future ceph will expose the metadata on the image/subvolume as part of its metrics.

[2022-10-25 07:46] Bengrunt commented on #3347
I'm afraid to say that release 3.7.2 and #3423 did not solve the issue for us. 😢
Unless we set `provisioner.setmedata: false` in the cephfs chart values, we cannot provision cephfs volumes on clusters that do not support setting cephfs volumes metadata (ie. Ceph releases prior to v17.2.x).

[2022-10-25 07:52] Madhu-1 commented on #3347
@Bengrunt sorry to hear that but i have tested it manually see the results here https://github.com/ceph/ceph-csi/pull/3423#issue-1404509117, can you please check you have the v3.7.2 image? can you try to repull or test it on some test cluster? please provide logs and the ceph version i can retry it again with same version.

[2022-10-25 08:19] Bengrunt commented on #3347
I'm so sorry, Ansible helm module is so unreliable ... So yeah, I checked and was using the 3.7.1 images... It works now.

Sorry for the noise. I'll be more careful next time.

[2022-10-26 12:02] trociny commented on #3402
Note, the current issue is not about the memory leak. The memory leak is an issue but I believe it is out of scope of this ticket. It may be reported as a separate ticket if needed. The memory leak is the thing that triggers the crash. And I think it is a bug that if the crash happens in the middle of "create encrypted volume" operation, after restart the volume is reported as properly prepared wh

[2022-10-26 12:05] Madhu-1 commented on #3402
Yes agree but both are different issues but memory leak triggered other one. good to track it as a different issue.

[2022-10-26 12:06] Madhu-1 opened #3472 "RBD: OOMKills occurs when secret metadata encryption type is used with multiple PVC create request."
I tested secret based encryption with 3.7.1 i dont see any crash with below limits

[code]
[code]

but when i tested with metadata type encryption i can see the crash, this confirms we have a memory leak?

_Originally posted by @Madhu-1 in https://github.com/ceph/ceph-csi/issues/3402#issuecomment-1278691078_

[2022-10-26 14:32] #3358 closed, assigned to Madhu-1

[2022-10-27 11:50] martinfjohansen commented on #3390
I experience the same issue, what debug information can I provide to help resolve the issue?

cephcsi: v3.7.2
Kubernetes: v1.24
Ceph: v17.2.4

PV is provisioned, PVC is bound.

[code]
Pod does not start

[code]

These events are in the log:

[code]

[2022-10-27 12:08] Madhu-1 commented on #3390
@martinfjohansen is your ceph cluster healthy? If yes please open an issue with the required logs. Am closing this one as we dont get the required logs as requested.

[2022-10-27 12:08] #3390 closed, assigned to nobody

[2022-10-27 12:10] martinfjohansen commented on #3390
Sure, I will open a new ticket. What are the required logs?

[2022-10-27 12:13] Madhu-1 commented on #3390
Just fill in the issue template. Issue template contains all the required information.

[2022-10-27 12:59] thrashwerk commented on #3390
Completed? What is completed? Ignorance of the bug?

Sorry that I can't keep breaking cluster every day to get the logs.

[2022-10-27 13:03] Madhu-1 commented on #3390
@thrashwerk please check the above comment. Cephcsi's work is to mount the volume to the required targetPath asked by the kubelet, you should check kubelet logs to see what is happening which is outside of cephcsi.

[2022-10-27 13:25] martinfjohansen opened #3476 "Attach failed for volume"
# Describe the bug #

The issue is in the PVC mounting phase. The PV has been dynamically provisioned and is bound to a PVC.

Pod with CephFS PVC mount stays in ContainerCreating. Pod events reports: "AttachVolume.Attach failed for volume".

[code]

# Environment details #

- Image/version of Ceph CSI driver : v3.7.2
- Helm chart version : N/A
- Kernel version : 5.4.0
- Mounter used for mounting P

[2022-10-27 13:33] martinfjohansen commented on #3476
Kubelet log on the node

[code]

[2022-10-27 13:38] Madhu-1 commented on #3476
@martinfjohansen Looks like cephcsi not received any request to mount the volume. can you please attach below logs

* csi-attacher sidecar container logs from the csi-cephfs-provisioner pods
* csidriver object for the cephfs driver `kubectl get csidriver -oyaml`

[2022-10-27 13:40] martinfjohansen commented on #3390
I have now posted logs over in a new issue #3476

[2022-10-27 13:45] martinfjohansen commented on #3476
How do I find the csi-attacher sidecar container logs?

The csi-cephfs-provisioner pods contains the following containers.

[code]

csidriver object for the cephfs driver:

[code]

[2022-10-27 13:49] Madhu-1 commented on #3476
Looks like csidriver object is not created, can you please create one https://github.com/ceph/ceph-csi/blob/devel/deploy/cephfs/kubernetes/csidriver.yaml and recreate the application pod?

[2022-10-27 13:52] martinfjohansen commented on #3476
That worked!!

What was wrong? Why had the csidriver object not been created?

[2022-10-27 13:56] Madhu-1 commented on #3476
What document you followed to install cephcsi? Steps might be missing in document

[2022-10-27 14:25] martinfjohansen commented on #3476
I followed this guide:

https://github.com/ceph/ceph-csi/blob/v3.7.2/docs/deploy-cephfs.md

Did I skip some step?

[2022-10-27 14:46] Madhu-1 commented on #3476
No document is not up to date if you are okay to update the missing steps, happy to review PR. if not I will fix it sometime.

[2022-10-28 02:56] blackliner commented on #1067
Small addition: if you are into GitOps and use the [rook operator helm chart](https://rook.io/docs/rook/v1.9/helm-operator.html), what you want to change is called `csi.kubeletDirPath`:
before (it was commented out):
[code]
after:
[code]

[2022-10-30 13:05] kub3let commented on #1258
I defined my monitors with port 3000 but dmesg still shows libceph is using port 6789

This is a fresh install so port 6789 is never mentioned and seems to be automatically used by ceph

Is it the debian kernel not supporting it ?

---

k3s v1.24.7
ceph csi v3.7.1
kernel: Debian 5.10.149-2 (2022-10-21) x86_64

ceph server: 17.2.4

[code]

[code]

[2022-10-31 09:25] celiawa commented on #3426
@Madhu-1 , could you please reopen this issue, my colleague had some new findings and need your help. Many thanks!

[2022-10-31 21:19] ticpu commented on #3476
I have exactly the same problem on a new setup.

- Image/version of Ceph CSI driver : v3.7.2
- Helm chart version : N/A
- Kernel version : 5.4.0-120-generic
- Mounter used for mounting PVC (for cephFS its fuse or kernel. for rbd its
- krbd or rbd-nbd) : fuse (also tried kernel)
- Kubernetes cluster version : v1.25.2
- Ceph cluster version : v16.2.10

---

* Checked the endpoints.
* Cleared the lea

[2022-10-31 21:59] ticpu commented on #3476
Edit: Forgot about that, seems reinstalling 3.6.2 fixed the event part so it is likely another problem. I'll investigate tomorrow but I think the proposed fix with adding the CSIDriver element has worked.

---
After reinstalling with 3.6.2, I do get an event that looks like this however it still fails to mount.  I should note that the deployment for both providers has been done in the `ceph` names

[2022-11-01 01:17] yingxin-gh commented on #3426
We meet the same issue in another cluster also. The ceph-csi version is v3.5.1.  When the ceph-csi rbd pvc be used in pod, the volume do not attach/mount into the worker node. When enter the ceph-csi plugin container and check the rbd device, it display empty.
[code]
Check the plugin log as below, the GRPC call NodeUnstageVolume be called after GRPC call: /csi.v1.Node/NodeGetCapabilities. There ar

[2022-11-01 08:03] Madhu-1 commented on #3476
@ticpu please check your ceph cluster is healthy and its reachable from csi-cephfsplugin container

[2022-11-01 08:21] Madhu-1 commented on #3426
@yingxin-gh kubelet is the one who sends the request to csidriver to do Stage/Unstage operation. Please check kubelet logs to identify why it sent NodeUnstage, and for NodeStage check if are there any stale operations

[2022-11-01 18:23] ticpu commented on #3476
Yes. Sorry about that, re-deploying 3.7.2 with the CSI Driver fixed it after fixing firewall issues.

[2022-11-02 09:06] #3476 closed, assigned to nobody

[2022-11-02 10:24] #3393 closed, assigned to nobody

[2022-11-02 11:28] #3437 closed, assigned to nobody

[2022-11-03 10:55] pbkh-kimheang opened #3493 "Daemonset does not work well when I have 3 nodes and I cannot mount cephfs using fuse"
# Describe the bug #
- Daemonset:
  - I have 3 kubenodes but only one node can run Daemonset successfully
  - driver registrar failed to register the plugin:
[code]
- Mounting ceph fs using fuse client failed
  - Because Daemonset running only on one node, I need to assign pod to create on the node that has Daemonset running
  - During the mount process I get the log here:
[code]

# Environment de

[2022-11-03 15:19] nixpanic commented on #3493
Please include the logs from the `csi-cephfsplugin` container from the csi-cephfsplugin DaemonSet Pod that runs on the node where the mount failed.

[2022-11-04 03:12] pbkh-kimheang commented on #3493
@nixpanic  Thank you, Sir for your response.
I am sorry, it is my first time creating the issue and using mount technology of ceph.
Please excuse me!
I have added the logs from  csi-cephfsplugin DaemonSet Pod.
And do you have any idea about my first problem? Daemonset only work on my node 3 .

[2022-11-04 06:32] #2929 closed, assigned to Madhu-1

[2022-11-04 08:22] pbkh-kimheang commented on #3493
@nixpanic  @Madhu-1 Thank you, sir.
For now it work.
I need to update all my kube node server to have kernel version 4.17 up.
In the document, I don't think you have mentioned the OS version or Kernel version.
After I upgrade os and kernel version. All daemoset work fine and I can now mount successfully.
I will close this issue

[2022-11-04 08:22] #3493 closed, assigned to nobody

[2022-11-04 11:25] Rakshith-R commented on #3472
based on testing with secrets metadata and 128Mi memory limit with https://github.com/ceph/ceph-csi/pull/3422 fix
Seems to crash after this log continuously

https://github.com/ceph/ceph-csi/blob/07e9dede2cb10ceaa055b9b2486f688edf9008d6/internal/rbd/rbd_journal.go#L345

Only important thing that occurs after this logline is `rbdvol.Destroy()`, I think this is causing OOMKill

Lifting up memory lim

[2022-11-04 11:35] Rakshith-R commented on #3402
@irq0 ,
I tested the fix, though OOMKill still occurs but lifting up the mem limit, PVC got bound and I could mount the concerned PVC successfully.
The steps can be seen here.
https://github.com/ceph/ceph-csi/issues/3472#issuecomment-1303291476

[2022-11-04 15:32] Rakshith-R commented on #3472
Edit

My fix will call setupencryption() again in repairvol step. This is causing looping OOMKill.

[2022-11-07 08:05] JohnKiller opened #3494 "[Question] How many controllers do I need to run? And what happens during a migration?"
Hi, I didn't find this answer on the documentation, sorry if it's already been answered somewhere.

I'm using Nomad as the orchestrator, and I would like to know how many controllers do I need to run to maintain HA.

If only 1 is needed, what happens when the orchestrator moves the controller to another host? Any downtime?

Thanks

[2022-11-07 09:24] Madhu-1 commented on #3494
Am not exactly sure how Nomad works with storage, but CephCSI alone cannot be run in HA in the CO. it needs to be run with some sidecar, for example, external-provisioner, external-snapshotter/external-resizer which are the sidecars in the Kubernetes which works with the leader election, in Kubernetes, you can have active/passive leaders. if one leader pod goes down another leader will take over.

[2022-11-07 09:24] #3494 closed, assigned to nobody

[2022-11-07 12:34] Rakshith-R opened #3496 "rbd: add code to repair file encryption for create bare PVC"
_Originally posted by @Madhu-1 in https://github.com/ceph/ceph-csi/pull/3422#discussion_r1015252133_

currently file encryption repair procedure exists only for PVC clone,
the same steps are needed for bare PVC

[2022-11-07 12:36] Rakshith-R commented on #3496
cc @irq0
Similar to #3422

I check again, snapshot and pvc clone cases are covered

[2022-11-07 12:38] Rakshith-R commented on #3496
https://github.com/ceph/ceph-csi/blob/07e9dede2cb10ceaa055b9b2486f688edf9008d6/internal/rbd/rbd_util.go#L420

I dont see any steps to setup file encryption here,
maybe its not required during creating bare pvc ?

[2022-11-07 12:49] #3402 closed, assigned to nobody

[2022-11-09 07:27] Rakshith-R commented on #3472
OOMKill is due to this function
https://github.com/ceph/ceph-csi/blob/c65a4e1d8a869a0aa2c174259873b70f560d0716/internal/kms/secretskms.go#L274
https://pkg.go.dev/golang.org/x/crypto@v0.1.0/scrypt#Key

This issue is isolated to secrets-metadata kms alone.

[2022-11-09 16:04] JohnKiller opened #3511 "CephFS multiple attachments to same host results in "an operation with the given Volume ID already exists""
# Describe the bug #

When the container orchestrator launches multiple instances on the same host that all needs the same CephFS volume, if they are started too close toghether, the node plugin errors with `an operation with the given Volume ID already exists`. When the orchestrator tries again after some time, it then works.

Since cephfs does support multi-write, it shouldn't matter that the no

[2022-11-10 01:03] yingxin-gh commented on #3426
@Madhu-1 , what's means stale operations and how we can check it ?  If the grcp calls  are not working during our issue?

[2022-11-10 07:58] Madhu-1 commented on #3426
Please refer https://rook.io/docs/rook/latest/Troubleshooting/ceph-csi-common-issues/#shared-filesystem-cephfs this will give you some idea about it.

[2022-11-10 08:46] Madhu-1 commented on #3511
[code]

You can see the CO is sending two NodeStageRequest for the same volume at the same time (only difference is millisecond times). As per the CSI specification NodeStage should make sure the volume is mounted on the given node only once if already mounted we should return succecss https://github.com/container-storage-interface/spec/blob/master/spec.md#nodestagevolume. To avoid consequences of

[2022-11-10 10:12] JohnKiller commented on #3511
Thanks for your response. So it's a problem with Nomad that should have waited for the first allocation to complete before trying to mount it again? I'll open an issue there

[2022-11-10 10:12] #3511 closed, assigned to nobody

[2022-11-10 10:43] Madhu-1 commented on #3511
IMO It's more of an enhancement, not a problem.

[2022-11-10 10:51] JohnKiller commented on #3511
Eh it causes downtime during node draining where multiple tasks are being rescheduled at once

[2022-11-10 22:24] Pivert opened #3516 "DeadlineExceeded / an operation with the given Volume ID pvc-xxx already exists (rke2 / cephfs)"
# Describe the bug #
I did try different ways to configure the cephfs csi plugin, but always get to the same errors:
DeadlineExceeded / an operation with the given Volume ID pvc-xxx already exists

Since config is more concise I'll focus on the helm chart, but using the procedure at https://github.com/ceph/ceph-csi/blob/devel/examples/README.md gives the same results.

A clear and concise descript

[2022-11-11 04:50] humblec commented on #3516
@Pivert `Image/version of Ceph CSI driver : v2.5.1 (from default values.yaml)` this is too OLD version and unsupported one. We are at 3.7 version.  mostly this is a network connection issue between Ceph CSI  pods to Ceph Cluster.

[2022-11-11 09:13] Pivert commented on #3516
That's the registrar that is v2.5.1 (everything is latest stable):
- quay.io/cephcsi/cephcsi:v3.7.2
- registry.k8s.io/sig-storage/csi-provisioner:v3.2.1
- registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.5.1
That was misleading. I updated the post.

[2022-11-11 09:23] Madhu-1 commented on #3516
@Pivert Is the ceph cluster healthy? And reachable from csi-cephfsplugin from csi-cephfs-provisioner pod

[2022-11-11 09:46] Pivert commented on #3516
Touché Madhu

[code]

[2022-11-11 09:48] Madhu-1 commented on #3516
you need to pass `mon` `id` and `key ` when running the ceph status command from the above container.

[2022-11-11 10:17] Pivert commented on #3516
Thanks a lot for this help. The problem was the firewall blocking port 3300, but allowing other ceph ports.

[code]
So `ceph status` was working from the hosts using protocol v1 on port 6789, but not from the containers using protocol v2 (default port 3300). Firewall change:

[code]
I think this ceph status check from the container is key to avoid this in the future, and should be part of all the

[2022-11-11 10:17] #3516 closed, assigned to nobody

[2022-11-13 15:50] delorsh opened #3527 "cephfs: microk8s pod mount fails - globalmount missing"
# Describe the bug #

Using microk8s, pods are unable to mount PVCs.

# Environment details #

- Image/version of Ceph CSI driver : v3.7.2
- Helm chart version : n/a
- Kernel version :  5.4.0-128-generic (Ubuntu 20.04.5)
- Mounter used for mounting PVC (for cephFS its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : `fuse` or `kernel`
- Kubernetes cluster version : MicroK8s v1.25.3 revisio

[2022-11-14 15:26] nixpanic commented on #3527
The error `mount error 110 = Connection timed out` while mounting suggests that the Ceph-CSI container can not reach the Ceph cluster while mounting. Can you `kubectl exec ...` into the csi-cephfsplugin container of the daemonset and verify that you can connect to the Ceph cluster manually?

[2022-11-15 06:10] humblec opened #3538 "Address security vulnarabilities in the image/binary/repo"
# Describe the bug #

We are getting many reports against Ceph CSI image and the vulnerabilities it hold.  it is required/better to address as much as we can.
as part of this effort I have started enabling trvivy scanner in the repo via https://github.com/ceph/ceph-csi/pull/3537  and initial report says
[code]

[2022-11-15 09:41] nixpanic commented on #3538
Except for the CVEs in `usr/local/bin/cephcsi`, you'll need to report them to the Ceph team that builds the base container-image.

The Vault ones look related to the server only, not to the API/client?

[2022-11-17 08:25] #3448 closed, assigned to nobody

[2022-11-19 21:01] #3424 closed, assigned to nobody

[2022-11-19 21:01] #3399 closed, assigned to nobody

[2022-11-20 12:53] ItayRingler commented on #2295
Hi all, I have a question that is very much related to this solved issue. We have in production volumes used with csi-cephfs chart 3.4, before the fix for this issue was implemented (I guess before the backport too). So for me, when multiple pods access the same volume, only the newest pod will access to the mountpoint. The rest of them get 'Permission denied' with the exact same symptoms like in

[2022-11-21 11:09] Madhu-1 opened #3545 "Few E2E tests are getting skipped in devel branch"
I see a problem with tests in the devel branch here https://github.com/ceph/ceph-csi/blob/0f0957164ec882a91d11bf1c880e1c0777abfb01/e2e/rbd.go#L4592-L4610. You can see the ceph users are deleted. Now we are trying to run one more test, `pvcDeleteWhenPoolNotFound` which creates the PVC and deletes the PVC as the user is deleted. The test should never work. I feel somewhere something went wrong in th

[2022-11-21 12:16] #3224 closed, assigned to Madhu-1

[2022-11-22 19:35] VladimirMarkelov commented on #3538
Besides mentioned CVEs for Hashicorp, there is a newer one: CVE-2022-36129 (9.1 Critical): https://cve.report/CVE-2022-36129

Fixed in 1.11.1, 1.10.5, and 1.9.8 - https://discuss.hashicorp.com/t/vault-1-11-1-1-10-5-and-1-9-8-released/42389

[2022-11-23 06:25] yati1998 commented on #3314
@Rakshith-R I guess all the task here is done already. Can you confirm and close the issue, if done?

[2022-11-23 06:36] Rakshith-R commented on #3314
No, 3 out of 4 TODOs are still not done.

@riya-singhal31  do you wanna take up this issue ?

[2022-11-23 08:21] nixpanic commented on #3538
On Tue, Nov 22, 2022 at 11:35:32AM -0800, Vladimir Markelov wrote:

This CVE seems only applicable for the Vault server. Ceph-CSI uses the
Vault client API only, so it is not affected.

[2022-11-23 12:21] #1563 closed

[2022-11-23 21:01] #3309 closed, assigned to nobody

[2022-11-25 07:13] Rakshith-R commented on #3496
I am closing this, there's no setup run for file encryption type during create volume, so there's no need to repair file encryption for create bare pvc.

[2022-11-25 07:14] #3496 closed, assigned to nobody

[2022-11-25 07:20] Rakshith-R commented on #2327
The latest qunicy release has the fix.
cephcsi v3.7.2 is built on this image.
Closing this issue as done.

[2022-11-25 07:20] #2327 closed, assigned to Rakshith-R

[2022-11-25 21:01] #3416 closed, assigned to nobody

[2022-11-29 03:36] githubformichael opened #3559 "Memory leak seems to happen to container CSI-Cephfsplugin"
# Describe the bug #
Thanks for Ceph-CSI plugins.
There are thousands of nodes in our clusters. But on several nodes,
the container of csi-cephfsplugin in pod cephfs-csi-cephfs-nodeplugin reached memory limit and got OOM-killed.
Then the memory usage of new container of csi-cephfsplugin continues to grow and got killed again.

A clear and concise description of what the bug is.
- memory size of cs

[2022-11-29 03:48] humblec commented on #3559
@githubformichael thanks for the detailed report. I would like to point out a couple of things here,  that said, from the report it is "v3.3.1" of ceph csi version, which is really old and unsupported version. Could you please try with latest ceph CSI release (( may be 3.7) and check the same. There could many bug fixes and improvements fall into various components over the time , so eager to know

[2022-11-29 05:15] githubformichael commented on #3559
@humblec , Thanks for your quick response!

our side should use kernel cephfs client.  The PV volume type is **ceph**,  not type **fuse.ceph-fuse**( as mentioned in  https://github.com/ceph/ceph-csi/issues/838).
And static provisioning is used in our cluster. There is no value for **forcecephkernelclient** in [csi-cephfsplugin.yaml](https://github.com/ceph/ceph-csi/blob/devel/charts/ceph-csi-cephf

[2022-11-30 16:00] tareksha commented on #2782
hi @nixpanic any thoughts on this?