[2019-10-11 10:31] #677 closed

[2019-10-11 11:31] ajarr commented on #360
This is a critical issue. Currently, the CSI volumes are mounted with cephx admin user with full privileges. This allows Ceph CSI volume users to misuse them, e.g, RWX CephFS volume users might take lot CephFS snapshots of the CSI volume without the k8s csi interface that is currently unavailable.
We need to restrict the privileges of the cephx user used to mount the CSI volumes.

[2019-10-11 12:03] ajarr commented on #557
@humblec @Madhu-1, I don't see the clone of FS subvolume snapshots feature being implemented in Ceph master, and backported to nautilus in time for CSI to be use by Nov 5.

Yes, we already have `fs subvolume snapshot create/rm` commands. Hence, we can easily support CephFS CSI volume snapshots. Is there a ceph-csi issue for RBD/CephFS snapshot?

The `fs subvolume resize`command  is close to being

[2019-10-11 12:14] dillaman commented on #360
Right now RBD needs the following:

`ceph auth get-or-create-key client.kubernetes mon "allow profile rbd" osd "profile rbd pool=<poolname>" mgr "allow rw"`

That 'mgr' cap is a newly discovered issue from yesterday that is preventing the background image deletion from functioning. I am fixing that mgr cap issue by adding a `profile rbd`, but it will take time for that to trickle down into the nau

[2019-10-14 00:22] mcluseau commented on #478
Also, `/sys/bus/rbd/supported_features` fives access to the supported features in the system's krbd driver. It can be decoded using the list here too: https://github.com/ceph/ceph/blob/master/src/include/rbd/features.h#L4

[2019-10-14 07:23] ajarr commented on #557
@humblec @Madhu-1 ^^
Can you clarify? I don't see FS clone getting implemented in time for v2.0.0 dev freeze. So can we remove it?

Let's stick to FS `resize` and `snapshot` for now?

[2019-10-14 07:34] Madhu-1 commented on #557
moving FS clone out of v2.0.0 release as it is not getting implemented in ceph before cephcsi v2.0.0

[2019-10-14 10:53] techhanx commented on #676
Hi. is this issue still on-going? or developing by someone?
If not, I would like to work on it. @dillaman @humblec @Madhu-1

and I suggest that we can divide this issue to two issues.
1. add rbd image feature: journaling
2. add rbd mirror image enable

[2019-10-14 19:11] itmuckel commented on #407
@ShyamsundarR No that's exactly what I wanted to do. Thx.

[2019-10-15 07:39] Madhu-1 commented on #603
@HaveFun83 canary helm charts are available from testing https://github.com/ceph/csi-charts/tree/master/docs

[2019-10-16 07:58] WoohyungHan opened #688 "Running E2E with rook-version default value is not working"
# Describe the bug #
Running E2E with rook-version 'master' is not working.
Default setup of rook-version is 'master'. If we do not setup specific rook-version(like v1.1.0) the test try to execute with master version.

# Environment details #
- ceph-csi/master
- rook/master

# Steps to reproduce #
Run 'go test ./e2e/'

# Actual results #
The test is waiting for 'rook-ceph-agent' and timeout.

# Ex

[2019-10-16 08:40] Madhu-1 commented on #688
yes, flex driver is disabled in rook in master, need to add skip wait for agent pod if the rook master is used

[2019-10-16 09:11] WoohyungHan commented on #688
@Madhu-1
I'm not sure that using 'latest' or 'master' is good choice in the code. The meaning of 'latest' can be change over time, but code(commit) is not. how about explicitly set default version which is working in current code?

[2019-10-16 09:15] Madhu-1 commented on #688
we can change the default value and also if the rook version is less than `v1.1.0` we can skip the check for agent pods

[2019-10-16 09:20] WoohyungHan commented on #688
That's so true!

[2019-10-16 09:23] Madhu-1 commented on #688
@WoohyungHan would you like to send a patch?

[2019-10-16 09:25] WoohyungHan commented on #688
Sure, I will.

[2019-10-17 02:16] zhucan opened #690 "ceph csi only support snapshot but not support clone"
What new functionality do you want?
support create a new volume from src volume

[2019-10-17 02:21] zhucan commented on #675
@Madhu-1 I don't understand it that restore from snapshot not use “rbd rollback” but use "rbd clone" and the restore from snapshot not support flatten， why？

[2019-10-17 02:26] Madhu-1 commented on #675
we will support flatten with the new implementation

[2019-10-17 02:26] Madhu-1 commented on #690
closing as a duplicate of https://github.com/ceph/ceph-csi/issues/675

[2019-10-17 02:26] #690 closed

[2019-10-17 02:39] dillaman commented on #675
@zhucan From the point-of-view of k8s, the "restore" operation is to just create a new PV from the snapshot. Therefore, you *cannot* just rollback (plus it's very inefficient).

[2019-10-17 02:47] zhucan commented on #675
@dillaman Thanks， There is plan to do volume clone for ceph-csi?

[2019-10-17 02:51] dillaman commented on #675
@zhucan Indeed -- I believe that's what this issue is tracking.

[2019-10-17 02:56] zhucan commented on #675
@dillaman Thanks

[2019-10-18 11:41] l0nax commented on #101
@humblec Any updates?

[2019-10-21 08:40] #688 closed

[2019-10-22 02:06] peacocktrain opened #694 "exec “ceph -m xx get pool” hang the process"
# Describe the bug #

 EXEC ceph [-m 172.24.16.4:32701,172.24.16.5:31292,172.24.16.6:30502 --id admin --keyfile=***stripped*** -c /etc/ceph/ceph.conf fs get arsenal-replicated-pool --format=json]

this common hang the process，and the remaining command already exists

# Environment details #

-  csi-cephfsplugin 1.2.1
-  kubernetes 1.6.1
-  the ceph cluster is remote, connected via nodeport

# csi-

[2019-10-22 04:48] Madhu-1 commented on #694
@peacocktrain can you provide the admin caps,  @ajarr PTAL

[2019-10-22 06:20] peacocktrain commented on #694
sorry，It's not a public cloud

[2019-10-22 15:19] Madhu-1 commented on #675
I had a discussion with @dillaman since we are facing [issue](https://github.com/ceph/ceph-csi/pull/693#issuecomment-544950196) with the current approach. we are moving to a new implementation as detailed below
[code]

[2019-10-23 09:05] Madhu-1 opened #696 "Automate upgrade testing"
Add upgrade testing from `v.1.2.x` to `v.2.0.0`, This will help us to find out any breakage or bugs once users are upgraded from `v.1.2.x` to `v.2.0.0`

[2019-10-23 09:09] Madhu-1 commented on #696
Steps to be as follow

* Deploy cephcsi `v1.2.x`
* Create PVC
* Bind PVC to an app pod
* Create Snapshot
* Upgrade cephcsi to `master/canary` release
* create a snapshot from PVC
* Mount PVC(created by v1.2.x) to another Application Pod
* Delete All application pods
* Delete PVC
* Delete snapshot created by `v.1.2.x`
* Mount New PVC to application Pod
* Delete application Pod
* Delete PVC

[2019-10-23 16:03] rochaporto commented on #554
Any news on this one? We're seeing the same issue, even in nodes with no PVs mounted after a couple days they go OOM. Dropping the resource requests the nodes eventually die.

[2019-10-23 16:06] rochaporto commented on #642
We see the same with csi-cephfs, here's a running cluster:
[code]

[2019-10-24 09:42] Madhu-1 commented on #639
https://github.com/rook/rook/pull/4169 this required 1.2.2 release with ceph-csi patch https://github.com/ceph/ceph-csi/pull/698

[2019-10-24 13:25] nixpanic commented on #250
Not sure for what release this will be ready, but I'm working on this a little now.

Environment for local testing:
- vagrant VM with CentOS-7
- minikube inside the VM (with `--vm-driver-none`)
- Ceph Nano for minimal Ceph environment
- Ceph-CSI from local git repository with last commit

This should allow for easy integration in the CentOS CI or other CI environments.

[2019-10-24 19:26] rochaporto commented on #642
We're seeing this with the fuse client.

[2019-10-24 19:29] rochaporto commented on #642
More specifically:
[code]

[2019-10-28 11:45] jisnardo opened #699 "VolumeFailedDelete missing metadata store configuration to proceed with deleting legacy volume ID"
# Describe the bug #

Unable to use old pv created with v1.0.0 in v1.2.1 (ceph csi-rbd)

kksysn -n csi-rbd get all

Deployed ok

[code]

# Environment details #

- csi-rbd v1.2.1
- helm chart https://github.com/ceph/ceph-csi/releases/tag/v1.2.1
- ceph-csi/releases/ceph-csi-1.2.1/deploy/rbd/kubernetes/v1.14+
- kubernetes v1.15.0
- Logs csi-provisioner

[code]

# Steps to reproduce #

This happens a

[2019-10-29 09:30] ajarr commented on #557
Looking at the CSI documentation, cloning covers only **creating a PVC from an existing PVC**,
https://kubernetes.io/docs/concepts/storage/volume-pvc-datasource/
https://kubernetes.io/blog/2019/06/21/introducing-volume-cloning-alpha-for-kubernetes/
_"While cloning is similar in behavior to creating a snapshot of a volume, then creating a volume from the snapshot, a clone operation is more streamli

[2019-10-30 02:18] cyb70289 commented on #671
Hi @nixpanic , @Madhu-1,  are you working on this issue? We met with same problem and fixed it with multi arch image, would like to upstream if you are not on it.

[2019-10-30 04:02] billimek commented on #671
Related slack thread for this from the rook slack space: https://rook-io.slack.com/archives/CG3HUV94J/p1569616214102700

[2019-10-30 05:52] Madhu-1 commented on #699
statefulset and deployment files of rbd provisioner are identical there is no much difference you need to add `metadatastorage` flag to `csi-rbdplugin` container flags here https://github.com/ceph/ceph-csi/blob/v1.2.1/deploy/rbd/kubernetes/v1.14%2B/csi-rbdplugin-provisioner.yaml#L100

and also you need to add pod namespace here for `csi-rbdplugin` container https://github.com/ceph/ceph-csi/pull/64

[2019-10-30 06:32] Madhu-1 commented on #557
yes you are correct if we same logic is backed by single cephfs command to create a volume from the volume will be more helpful here

@ajarr Thanks for the update.

[2019-10-30 06:49] cyb70289 commented on #671
Thanks @billimek

[2019-10-30 06:54] Madhu-1 commented on #250
@nixpanic how about running this as a kubernetes Job in E2E testing?

we should be able to download the csi-sanity binary and connect to the socket where csi driver is running

[2019-10-30 06:55] Madhu-1 commented on #671
@cyb70289 waiting for @nixpanic response, if he has not started this one, am more happy to assign this to you

[2019-10-30 07:41] nixpanic commented on #671
Thanks @billimek , I have re-assigned this issue to you. Let me know if I should put it in my backlog again.

[2019-10-30 07:56] nixpanic commented on #671
Sorry, I should have paid attention while reading, now assigned to @cyb70289 :+1:

[2019-10-30 10:20] ajarr opened #701 "[CephFS] Support volume cloning"
# Describe the feature you'd like to have #

CSI volume cloning is beta in k8s v1.16
https://kubernetes.io/docs/concepts/storage/volume-pvc-datasource/
https://kubernetes.io/blog/2019/06/21/introducing-volume-cloning-alpha-for-kubernetes/

CephFS CSI driver should be able to support volume cloning similar to the RBD CSI driver.

[2019-10-30 10:54] ajarr opened #702 "[CephFS] Support Volume Snapshots"
# Describe the feature you'd like to have #

Add volume snapshot support for CephFS CSI driver.
https://kubernetes.io/docs/concepts/storage/volume-snapshots/

The CephFS CSI driver can issue simple ceph mgr-volume CLI to create/delete/list fs subvolume snapshots to support this feature.
[code]
https://docs.ceph.com/docs/master/cephfs/fs-volumes/#fs-subvolumes

Need Ceph version >= 14.2.5

The othe

[2019-10-30 10:57] ajarr commented on #557
Done. It should add more clarity.

[2019-10-30 12:03] ajarr commented on #360
FYI, rook now creates Ceph auth IDs with exact capabilities for provisioning and mounting volumes backed by RBD and CephFS
See,
https://github.com/rook/rook/pull/4086/commits/fcc2e21fafc338b55c4b3d6056e50ef900d38fa4#diff-0ffcd00c868712a2e6b1e27f823e304aR79-R110

[2019-10-30 12:44] dillaman commented on #702
... would also need create volume from snapshot support, correct?

[2019-10-30 13:29] ajarr commented on #702
There is a separate github issue with a lot of discussion tracking snapshot restore,
https://github.com/ceph/ceph-csi/issues/411

Is CSI snapshot feature is considered complete only if the driver can also support snapshot restore?
If so, then I can link the snapshot restore issue in the description of this one.

[2019-10-30 13:53] obnoxxx commented on #440
This issue does not really describe what is the desired effect. Please elaborate.

As far as I understand it, topology aware provisioning is not very relevant at all to what we're doing with ceph on kubernetes:

Kubernetes topology aware provisioning is a feature that is essentially resulting in a delayed creation of the PV, it is delayed until a pod using this PVC is scheduled. The motivation is

[2019-10-30 14:09] dillaman commented on #702
Separate is fine w/ me -- just wanted to make sure it wasn't dropped. #411 would then be dependent upon this issue.

[2019-10-30 15:26] dillaman commented on #440
... reachable at an additional $ cost and speed cost.

[2019-10-30 21:22] mmgaggle commented on #440
@obnoxxx take a look at #559, it's the primary use case for this sort of thing.

And as @dillaman mentioned, inter-az traffic is billed at a premium and the latency is higher.

So if CSI was toplogy aware, and we closed #559, then I could have a pool for each AZ, a pool that spans AZs, and users could select from storage classes -

csi-standard-rbd/cephfs
csi-regional-rbd/cephfs

standard favors l

[2019-10-31 08:03] mykaul commented on #702
How is this different than https://github.com/ceph/ceph-csi/issues/246 ?

[2019-10-31 08:53] cyb70289 commented on #671
Per my test, quay.io doesn't support multi arch images. Though quay v3.0 release notes say it supports.[1]

To build multi arch image is easy(take my personal dockerhub account as an example):
- on x86 host: build cephcsi image, push to cyb70289/cephcsi-amd64:v1.2.1
- on arm host: build cephcsi image, push to cyb70289/cephcsi-arm64:v1.2.1
- on x86 host: download manifest-tool[2], run "./manifest-t

[2019-10-31 09:32] Madhu-1 commented on #671
we have two options here
* Push images to  quay v3 (personally I have not tried this one)
* Switch from quay to dockerhub

@cyb70289 please send a PR with the current implementation, we can think about next step

@nixpanic @ShyamsundarR @humblec ^^

[2019-10-31 10:48] jisnardo commented on #699
1) metadatastorage flag should be like this?

- "--metadatastorage"

or like this?

https://github.com/ceph/ceph-csi/issues/119

- "--metadatastorage=k8s_configmap"

https://github.com/ceph/ceph-csi/blob/master/docs/deploy-rbd.md

Default value: empty

Points to where legacy (1.0.0 or older plugin versions) metadata about provisioned volumes are kept, as file or in as k8s configmap (node or k8s_co

[2019-10-31 11:21] mykaul commented on #559
@dillaman  - who created those different RBD pools in the 1st place?

[2019-10-31 12:01] dillaman commented on #559
@mykaul Rook would both create the per AZ pools (and inter-AZ pool) along w/ the two storage classes -- one for locally-redundant storage and the other for zone-redundant storage (to borrow Azure terminology)

[2019-10-31 15:48] billimek commented on #671
It does look like some things at least are leveraging quay for mult-arch images.  Here is the `quay.io/prometheus/prometheus` image, for example:

[code]

[2019-10-31 22:10] obnoxxx commented on #559
@dillaman well, to my understanding, we're not usually creating one pool/SC per zone but spreading one pool across failure domains as much as possible for availability. Of course we can work on affinity, but the topology aware provisioning feature of kubernetes sounds orthogonal to what we're doing.

Of course you could do the multiple pools thing (to spare costs etc), doing a 90 degree turn from

[2019-11-01 13:31] cyb70289 commented on #671
Maybe it's  because quay free account is of limited function?

Patch still needs some refinement and team review.
Below link is current build result. A new job runs on arm64 node to build arm64 image. Another new job "Publis-multiarch-image" is to push multi arch image. It fails at pushing multi arch image to quay.io, as described in last comment.
https://travis-ci.org/cyb70289/ceph-csi/builds/605

[2019-11-02 03:36] mmgaggle commented on #559
The idea is to both have a ‘regional’ storage class that is backed by a pool spread across multiple AZs (default crush root, zone failure domain). We currently do this downstream.

A proposed new ability is to have per AZ pools that map to a single ‘standard’/‘zonal’ storage class.

Just like with EBS, if a pod is defined with an affinity the PVC will be satisfied by a dynamically provisioned PV i

[2019-11-04 20:52] ShyamsundarR opened #703 "Document upgrade procedure for CSI nodeplugins"
CSI nodeplugins, specifically when using cephfs FUSE or rbd-nbd as the mounters, when upgraded, will cause existing mounts to become stale/not-rechable (usually connection timeout errors).

This is due to losing the mount processes running within the CSI nodeplugin pods.

We need documented steps to ensure upgrades are smooth, even when upgrading to minor image versions, for bug fixes.

[2019-11-04 21:07] travisn commented on #703
Upgrading the CSI driver will cause all the mounts to become stale? This seems like a blocker for upgrades. What's the workaround to keep a mount available during any upgrade? You have to failover all pods on one node, then upgrade its csi driver?

[2019-11-04 21:10] dillaman commented on #703
Yes (when using the referenced backend drivers).  We are working on a way to preserve the `rbd-nbd` state post-upgrade so that it can recover.

[2019-11-04 21:55] ShyamsundarR commented on #703
Also, for CephFS-FUSE driver we do have the feature to preserve mounts on the system, post restart via the `--mountcachedir` option. That needs to be tested better though.

[2019-11-06 05:12] Madhu-1 commented on #557
as cephfs cloning cannot be completed in ceph core before v2.0.0 release, moving it out

CC @ajarr @humblec

[2019-11-06 10:28] peacocktrain opened #705 "use sharedfs in a different cluster"
# Describe the feature you'd like to have #

What new functionality do you want?

I want to use sharedfs in a different cluster. Can I just create pv without creating storageclass and have pv point to the same place

[2019-11-07 09:21] Madhu-1 commented on #639
am going to do cephcsi v1.2.2 release by EOD.

[2019-11-08 02:23] cyb70289 commented on #671
PR create
https://github.com/ceph/ceph-csi/pull/707

[2019-11-08 06:55] jianglingxia opened #709 "ceph csi provisioner container has /sys/fs/cgroup/cpuacct,cpu: No such file or directory"
I deploy the cephfs csi driver,but the provisioner of ceph plugin container has some error;
I used the driver v1.2.0 version,thanks for your help:

20c321d309e2        82f4a0ee2b64                                                 "/usr/local/bin/cephc"   6 days ago          Up 6 days                                                                                                             k8s_csi-

[2019-11-08 07:46] windayski opened #710 "Failed Mount, driver name rbd.csi.ceph.com not found in the list of registered CSI drivers"
# Describe the bug #
Failed Mount of CSI RBD PVC, the log shows "driver name rbd.csi.ceph.com not found in the list of registered CSI drivers"

[code]

logs of csi-rbdplugin pod are shown below:

-c driver-registrar

[code]

-c csi-rbdplugin

[code]

[2019-11-12 00:55] leojonathanoh commented on #599
also getting this on `cephfs`. Any workaround ?

[2019-11-12 01:01] jianglingxia commented on #709
@Madhu-1
can review this issue?thanks

[2019-11-12 05:22] Madhu-1 commented on #710
@windayski can you please provide kubelet logs from the same node where mount is failing

[2019-11-12 05:23] Madhu-1 commented on #709
@jianglingxia can you paste the error message from container

[2019-11-12 05:33] Madhu-1 commented on #599
@leojonathanoh you need to provide logs from cephfs daemonset

[2019-11-12 05:56] jianglingxia commented on #709
the provisioner cephfs plugin  container i command the df -h
[root@paas-controller-100-100-100-3:/home/ubuntu]$ docker exec -it 2b28f6817f96 /bin/sh
/ # df -h
Filesystem                Size      Used Available Use% Mounted on
overlay                 837.8G     26.2G    811.6G   3% /
tmpfs                    62.5G         0     62.5G   0% /sys/fs/cgroup
df: /sys/fs/cgroup/cpuacct,cpu: No such file

[2019-11-12 06:00] Madhu-1 commented on #709
is this causing any issue during PVC creation or mounting? this is nothing to do with cephfs. `sys` module is shared between the host and container https://github.com/ceph/ceph-csi/blob/v1.2.1/deploy/cephfs/kubernetes/v1.13/csi-cephfsplugin.yaml#L93

[2019-11-12 06:06] jianglingxia commented on #709
my yaml use the document
now my ds container dir ls

/ # cd /sys/fs/cgroup/
/sys/fs/cgroup # ls
blkio             cpu,cpuacct       cpuset            freezer           memory            net_cls,net_prio  perf_event        systemd
cpu               cpuacct           devices           hugetlb           net_cls           net_prio          pids

can you compared with your container?really thanks

[2019-11-12 06:07] Madhu-1 commented on #709
https://github.com/ceph/ceph-csi/blob/v1.2.1/deploy/cephfs/kubernetes/v1.13/csi-cephfsplugin-provisioner.yaml#L104 provisioner also requires this value

[2019-11-12 07:04] jianglingxia commented on #709
yes,my provisioner and ds both use the value,but two container error

[2019-11-12 07:08] Madhu-1 commented on #709
@jianglingxia we have not seen this issue  till now, no idea  what causing this issue

[2019-11-12 09:32] leojonathanoh commented on #599
Sorry I had to make a quick fix to my cluster, so I don't have the `csi-cephfsplugin` pod logs, nor am I seeing this error in its logs anymore because I deleted the pod and restarted some pods consuming `cephfs` `pvc`s.

I'll post back if i get the error again.

[code]

[2019-11-12 19:07] lelvisl commented on #484
any updates? (2)

[2019-11-12 19:08] lelvisl commented on #484
(it is almost december now)

[2019-11-13 08:11] windayski commented on #710
@Madhu-1

Here is kubelet logs

[code]

[2019-11-14 06:36] matti commented on #639
@Madhu-1 ?

[2019-11-15 06:53] zhucan commented on #710
@windayski Can you paste the kubelet conf?  If the dir of the socket has been changed, it will register failed.

[2019-11-19 07:14] jianglingxia opened #714 "cephfs csi driver can run as nonroot use and Provide services？"
# Describe the feature you'd like to have #
now the cephfs csi driver run as root user,can the ds and sts run as nonroot?
What new functionality do you want?
now the cephfs csi driver run as root user,can the ds and sts run as nonroot?
# What is the value to the end user? (why is it a priority?) #

How would the end user gain value from having this feature?

# How will we know we have a good solut

[2019-11-19 07:15] jianglingxia commented on #709
@Madhu-1
cephfs csi driver can run as nonroot use and Provide services？
thanks

[2019-11-19 07:21] Madhu-1 commented on #709
@jianglingxia what is the use-case? why do you want to run as nonroot user?

[2019-11-19 07:22] Madhu-1 commented on #709
please open a new feature required so that we can  discuss about  it and closing this issue as this is nothing to do with ceph-csi deployment

[2019-11-19 07:22] #709 closed

[2019-11-19 07:24] Madhu-1 commented on #714
@jianglingxia please  Fill all the relevant fields in the feature request template

[2019-11-19 07:28] jianglingxia commented on #714
in my project that user think use root user maybe not security，so the community now can support the feature use nonroot run ds and sts to provider cephfs volume create and delete and mount and umount ?
if ds and sts can not run nonroot and why?
really thanks

[2019-11-19 07:29] Madhu-1 commented on #714
@ajarr ^^

[2019-11-19 11:28] Madhu-1 commented on #639
@matti sorry for delaying the release rook/rook#4169 doesn't require new ceph-csi release, will discuss about the release date with others and update this issue. Thank you

[2019-11-19 13:10] nixpanic commented on #493
the `ceph/ceph:v14.2` tag refers to the latest image build with Ceph 14.2.x. We should trust the Ceph maintainers to not introduce regressions in the 14.2.x stable updates. We **do** want updates of the image, specially for security and bugfixes in the packages that are provided by the OS.

I do not see a need for fixing the base image for Ceph-CSI to a very particular version of the Ceph image. I

[2019-11-19 13:12] #493 closed

[2019-11-19 13:22] ajarr commented on #493
There have been Ceph stable releases with regressions in the past. In that case wouldn't automatic updates be an issue?

Ceph stable releases don't happen too often. I'm not sure if it's too much maintenance work.
Rook does this currently, https://github.com/rook/rook/blob/master/images/ceph/Makefile#L20

[2019-11-19 13:58] nixpanic commented on #493
On Tue, Nov 19, 2019 at 05:22:04AM -0800, Ramana Raja wrote:

Yes, that could be a problem. But this should almost never happen. In
case of regressions we can always introduce a temporary workaround.

I do not know what advantage there could be for Rook. Maybe @leseb can
explain the reason. Otherwise they also might want to move to
ceph/ceph:v14.2 so that they do not need to update their Makefile

[2019-11-19 15:54] ShyamsundarR commented on #493
Please see comment dropped [here](https://github.com/ceph/ceph-csi/pull/573#discussion_r348008354), I am **unsure** if the base image is auto updated and reduces any work in terms of maintenance and rebuilds of CSI image when this changes.

[2019-11-20 09:45] ajarr commented on #714
@joscollin ^^

[2019-11-20 11:26] Madhu-1 commented on #484
assigning to  myself to work on this

[2019-11-20 11:45] joscollin commented on #714
@jianglingxia Can you explain what are `ds` and `sts`? It is possible to create and delete a Volume using a non-root user in CephFS.

[2019-11-20 11:49] Madhu-1 commented on #714
@joscollin  cephfsplugin `daemonset(ds)` which is responsible for mounting and unmounting cephfs subvolumeto/from  app pod
  cephfsplugin provisioner `statefulset(sts)` which is responsible for creating/deleting cephfs subvolume

[2019-11-20 12:29] joscollin commented on #714
Does any one of these `daemonset(ds)` or `statefulset(sts)` work with a non-root user from your side? Especially `statefulset(sts)`?

[2019-11-20 12:32] Madhu-1 commented on #714
I have not tested this one, but if we are able to execute ceph and rbd command without root user it should be possible ideally

[2019-11-20 12:41] joscollin commented on #714
Yeah those volume/subvolume operations should work with a non-root user.

@jianglingxia Could you please give us more clarity on this issue?

[2019-11-20 14:14] wilmardo commented on #568
Found a workaround for anyone with the same problem:

* Login to the node where the pod is scheduled
* Take note of the pvc path in the describe (eg. pvc-9174936d-f9d0-493b-87f2-49f1fb5835fe)
* See which block device is mounted to that path with `lsblk`
* umount this block device `sudo umount /dev/nbd2`
* umount this block device once more `sudo umount /dev/nbd2`
* Check `lsblk` to see that device

[2019-11-20 14:18] Madhu-1 commented on #568
Hey, @wilmardo any particular reason not to use krbd? we have not completely tested `rbd-nbd` yet

hope you have https://github.com/ceph/ceph-csi/pull/648 changes  in your templates

[2019-11-21 01:43] jianglingxia commented on #714
thanks for all of you reply!
yeah,ds provider mount and umount cephfs ,sts provider create and delete cephfs volume
if cephfs command can execute non-root user success then maybe ds and sts can run non-root,
but the community can support it?
or can you give me some advice  that if i modify the ds and yaml ,use PodSecurityPolicy
 runAsUser:
    # Require the container to run without root privileges

[2019-11-21 03:26] joscollin commented on #714
@Madhu-1 ^^

[2019-11-21 05:05] Madhu-1 commented on #639
Closing this issue as the release is done.
release notes at https://github.com/ceph/ceph-csi/releases/tag/v1.2.2

[2019-11-21 05:05] #639 closed

[2019-11-21 09:17] Madhu-1 commented on #714
@jianglingxia please give a try and let us know the result!

[2019-11-22 12:52] ShyamsundarR commented on #703
The stated feature and options do not work for CephFS. The reasons are as follows,

- When a volume is staged and published on a node it typically gets the following mounts (with kubernetes as the CO),
  - mount output from nodeplugin or on th host:
    `ceph-fuse on /var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-e2f04422-9786-4ad5-8cd0-49f8b8ee9b66/globalmount type fuse.ceph-fuse (rw,nosuid,no

[2019-11-22 14:51] ajarr commented on #703
@joscollin ^^

[2019-11-22 22:49] batrick commented on #703
It is ironic that the container movement partially started out of a desire to avoid dependency hell with shared libraries and other system files and yet here we are resolving dependencies between pods/infrastructure.

@ShyamsundarR it's not clear to me if this is a a result of dysfunction in the CSI "nodeplugin" interface or what. What is an example of a shared file system that is supposed to surv

[2019-11-22 22:59] dillaman commented on #703
@batrick The CephFS kernel driver will survive (as will krbd). The issue arises when we start mixing userspace daemons that are backing kernel file systems / block devices. This upgrade issue is only applicable for the ceph-fuse and rbd-nbd userspace tools since those daemons are run within the CSI node plugin pod, so when that pod gets upgraded, it results in those daemons getting killed. We are

[2019-11-22 23:32] batrick commented on #703
Right.

I understand moving the rbd-nbd userspace agent to another pod. Is that so you can avoid upgrades for the running application pods?

For ceph-fuse, we would never want to upgrade the client mount while an application pod is using it.

There's no way to recover the mount, no. That is unlikely to ever change.

[2019-11-22 23:43] dillaman commented on #703
You can adopt a similar approach. Move ceph-fuse to its own pod, have it run in the foreground (it becomes the container's pid 1) but spawn child processes or threads for each mount. Re-use the Ceph admin-daemon to communicate between this new ceph-fuse pod and the CephFS CSI node plugin (e.g. "ceph --admin-daemon /shared/path/to/the/ceph-fuse-pod.asok mount ...."), and boom goes the dynamite so l

[2019-11-23 02:07] batrick commented on #703
I'm not sure why we wouldn't have a `ceph-fuse` daemon for each pod. Sharing one libcephfs cache for all pods has dubious benefits. Also, a single `ceph-fuse` means all pods' I/O funnels through the single-threaded FUSE daemon.

[2019-11-23 02:26] ShyamsundarR commented on #703
The alternative here is to drain a node of application pods using PVs backed by fuse-cephfs  (and as an extension rbd-nbd), before upgrading the CSI nodeplugin. IOW, move pods out of the node before an upgrade of the nodeplugin pod.

In prior to CSI cases, the mount proxy was run on the host/node, hence was not tied to a pod and there was no such pod to upgrade as well in the first place. (this ma

[2019-11-23 02:28] ShyamsundarR commented on #703
Interesting, this may mean we should close [this](#476) issue as a result, where I was toying with the thought of running a single ceph-fuse for all subvolumes on that node.

[2019-11-23 02:32] ShyamsundarR commented on #703
Also one downside of this discussion is we need to pull out this PR from the code, as it serves no purpose at present https://github.com/ceph/ceph-csi/pull/282

[2019-11-23 22:05] raghavendra-talur commented on #703
That is right. Even though we did not have pods for client operation, we had client rpms that needed upgrade. We followed the same [rules](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/#upgrade-worker-nodes) for client rpms that are recommended for the `kubelet` on the nodes.

I was not able to find any docs specifically for the CSI pods.

[2019-11-23 22:14] raghavendra-talur commented on #703
I linked to the rules in the previous comment but the summary is that the worker nodes are drained, cordoned off before upgrading the kubelet.

Admins prefer to do this when the usage of cluster is low and the upgrade of all nodes in the cluster might take days.  Hence it is expected that the some nodes have lower version client and the other have higher version at a given point.

[2019-11-25 02:57] jianglingxia commented on #714
/ # cat /etc/passwd
root:x:0:0:root:/root:/bin/ash
storage:x:1000:1000:Linux User,,,:/home/storage:/bin/sh

/ # su storage
/ $ whoami
storage
/ $ ceph-fuse /paasdata/docker/plugins/cephfs.csi.ceph.com/controller -m 100.100.100.140,100.100.100.159,100.100.100.157 -c /etc/ceph/ceph.conf -n client.admi
n --key=AQBmVY1dAAAAABAA57Xt8+lGfYloaNtxRztmhA== -r / -o nonempty
ceph-fuse[817]: starting ceph cli

[2019-11-25 03:40] humblec commented on #449
@nixpanic can you please update this issue with the PR or WIP patch ?

[2019-11-25 03:41] humblec commented on #676
@WoohyungHan can you please revisit the PR or patch which solve this issue?  we would like to get this in `2.0.0`.

[2019-11-25 05:54] socketpair commented on #246
https://docs.ceph.com/docs/master/cephfs/fs-volumes/

[2019-11-25 05:54] socketpair commented on #702
@mykaul there is no difference. it's duplicate.

[2019-11-25 06:00] socketpair commented on #702
With RBD you actually can make writeable RBD volume based on some read-only image snapshot. In CephFS you can't.

CephFS does not able to make writable FS subtree based on subtree snapshot.In principle, it's possible to create FS volume from CephFS snapshot using OverlayFS (combining Readonly CephFS snapshot with a writable dir in CephFS)

[2019-11-25 06:21] joscollin commented on #714
@jianglingxia You may not have permissions. Follow this document [1], Check your keys, check if the user has write access to mountpoint.

[1] https://docs.ceph.com/docs/master/cephfs/fuse/

[2019-11-25 07:07] jianglingxia commented on #709
@ Madhu-1
 the error follow, the community use docker or runc? and if support docker then docker version is ?
my project use docker v1.12.6 and can I delete the hostpath: /sys if deploy the ds and sts ?
df: /sys/fs/cgroup/cpuacct,cpu: No such file or directory
df: /sys/fs/cgroup/net_prio,net_cls: No such file or directory

[2019-11-25 07:11] ajarr commented on #532
@invent-lwj are you still hitting this issue with latest CSI, v 1.1.x,  if not we can close this?

[2019-11-25 09:48] WoohyungHan commented on #676
sure, I will. @humblec

[2019-11-26 20:35] dimm0 opened #718 "Slow mounting of volumes with large files collections"
# Describe the bug #

Kubernetes chowns and selinux relabels all files in mounted volumes, which causes very slow mounts of volumes with large files collections (100K+)

Everything is described here: https://github.com/kubernetes/kubernetes/issues/69699

Is there a way to disable this on CSI Ceph driver level?

[2019-11-26 23:26] ShyamsundarR commented on #718
These cannot be disabled in CSI.

CSI did have a severe performance degrade when performing fsGroup changes, and this is fixed by this PR: https://github.com/kubernetes/kubernetes/pull/83747 (not sure which kube version it is part of though).

I have tested the above PR for around 90k files, it brings the attach time down from about ~330 seconds to about ~40 seconds. Your mileage may vary based on

[2019-11-27 00:27] dimm0 commented on #718
I have volumes with several millions files...
Is it also doing chown in cephFS volumes?

[2019-11-27 07:04] afraserbm commented on #718
Is it possible to fix the issue within ceph-csi and not rely on having to implement v1.17 of Kube? We currently run kube 1.15.2 on our clusters so upgrading to that version is a long road. Disabling selinux entirely works and resolves the issue as described (at least for me running coreos) however this doesn't feel like the correct approach.

The issue has been addressed in the rook implementation

[2019-11-27 11:20] humblec commented on #676
/assign @Madhu-1

[2019-11-28 07:44] hicker-kin opened #719 "how to configurate this ceph rbd to become a server for remote client?"
i want install this ceph rbd and configurate it as a server for remote user?

[2019-11-28 08:48] nixpanic commented on #719
ceph-csi are just some tools that acts on requests from a container orchestrator, and allocate or mount an RBD image on a [Ceph](https://ceph.io) cluster. You will need to have a working Ceph cluster before ceph-csi can be used.

If you are running on Kubernetes, you may want to have a look at [Rook](rook.io) to setup your Ceph cluster.

[2019-11-28 16:30] sbskas commented on #659
Blocked PV in terminated state is related to finalizers present in the PV in 1.0 whereas there is none in 1.1 PV.
Removal of the finalizer deletes the kubernetes object but rbd image has to be erased by hand.
Shall I close the issue ?

[2019-11-28 16:52] sbskas opened #720 "ceph-rbd plugin 1.2.0. New PV fails to be mounted."
# bug description #
Time to go for 1.2.0 rbdplugin and fresh start with a brand new cluster v1.16.

Provisionin is working but mount the PV on worker fails with the following error :
[code]
PV is not attached, and not mounted by anything.

# Environment details #

- Ceph csi driver v1.2.2 deploy with yaml manifests.
- Kubernetes is 1.16.
- Logs
Only relevant logs in provisioner :
[code]
rbdplugin

[2019-11-28 17:56] KipourosV commented on #669
Could you guys add documentation for static pv in external cluster pls?

[2019-11-29 06:43] Madhu-1 commented on #720
can you provide pod describe output and also the cluster-driver-registrar container logs from daemonset pod

[2019-11-29 06:44] Madhu-1 commented on #720
and also kubelet logs from the node where the pod is scheduled

[2019-11-29 09:43] nenadalm commented on #140
Hi. I am getting similar error in provisioner pod as mentioned here: https://github.com/ceph/ceph-csi/issues/140#issuecomment-456515680

**# kubectl -n ceph-csi-cephfs logs ceph-csi-cephfs-provisioner-7d69d9b59-jbq6w -c csi-provisioner**
[code]

plugin logs:
**# kubectl -n ceph-csi-cephfs logs ceph-csi-cephfs-nodeplugin-crsf9 -c csi-cephfsplugin**
[code]
then the plugin log just repeats the lines

[2019-12-01 03:23] WoohyungHan opened #721 "Not working e2e framework with no option kubeconfig"
# Describe the bug #
If we try to run e2e test without kubeconfig option, It does not found kubeconfig file. Its because k8s e2e framework try to find kubeconfig file using environment variable: KUBECONFIG.

# Environment details #
- all version

# Steps to reproduce #
1. run e2e test without --kubeconfig option

# Actual results #
Not set kubeconfig correctly

# Expected behavior #
running e2e te

[2019-12-01 06:43] woohhan opened #723 "e2e not destroy some resources when kubectl namespace is not 'default'"
# Describe the bug #
e2e not destroy some resources when kubectl namespace is not 'default'. It caused because some commands are executed by `framework.RunKubectl` but others are executed by `c.CoreV1().ConfigMaps("default").Create(&cm)`. Firstone (RunKubectl) is executed with kubeconfig namespace however second one is not.

# Environment details #
when re-run e2e tests, it failed because of confi

[2019-12-02 01:32] WoohyungHan opened #724 "Move rook-deploy code from e2e to ./scripts/minikube.sh"
# Describe the feature you'd like to have #
We have the e2e test with --deploy-rook=true that makes all test environment. It works fine, but It does not seem to be the role of e2e test. In addition, when developing the code we need to run full test scenario with deploying rook every time, or we need to build rook environment by hand. I think we can move this to ./scripts/minikube.sh.

If we make n

[2019-12-02 05:52] Madhu-1 commented on #723
CSI templates are working with the default namespace,  and all the resources are created in default namespace, need to test how e2e behaves with other namespaces (adding a new flag to pass namespace should work

[2019-12-02 07:26] WoohyungHan commented on #723
@Madhu-1 Yes, for now everything works on the default namespace. but some commands are executed with `framework.RunKubectl` command. The ploblem is, some commands are not executed with default namespace. This is caused If we set our kubectl config to use other namespace(kubectl config set-context --current --namespace rook-ceph), from now on, all kubectl command will be executed in rook-ceph names

[2019-12-02 10:02] #721 closed

[2019-12-02 10:23] sbskas commented on #720
Here's the log from the driver-registrar:
[code]
Logs for the kubelet:
[code]

[2019-12-02 10:50] Madhu-1 commented on #720
@sbskas from driver-registrar logs its says it registered, i will continue to see how to reproduce it, as a workaround can you restart node-plugin pod and see if it fixes the issue

[2019-12-02 16:49] D1abloRUS opened #725 "Add support ReadOnlyMany for rbd"
# Describe the feature you'd like to have #

Add support ReadOnlyMany for rbd

# What is the value to the end user? (why is it a priority?) #

Pods on different nodes can mount ceph rbd volume on read

[2019-12-03 12:20] humblec commented on #660
This is done via #412 :+1: .. closing for the same reason.

[2019-12-03 12:20] #660 closed

[2019-12-03 12:40] D1abloRUS commented on #557
@humblec When is this release expected?

[2019-12-03 14:01] nixpanic commented on #449
* ceph/go-ceph#111 (currently under review) adds support for CreateWithOptions() so that `createVolume()` can be implemented with the package
* https://github.com/nixpanic/go-ceph/tree/rbd/watchers adds support for replacing `rbdStatus()` so that at least the straight forward (non background task) deletion can be implemented

[2019-12-05 06:21] woohhan opened #730 "Add checking for rook rbdpool and cephfilesystem"
# Describe the feature you'd like to have #
Currently in the rook deploy script, we only check ceph health. We can add checking rbd pool and cephfilesystem for safety. Thanks for suggestion @Madhu-1

# What is the value to the end user? (why is it a priority?) #
NONE

# How will we know we have a good solution? (acceptance criteria) #
We can ensure the rook is ready to rbd/cephfs test.

# Addition

[2019-12-05 06:24] WoohyungHan opened #731 "update `kubectl apply` to `kubectl create` in e2e test"
# Describe the feature you'd like to have #
We currently use `kubectl apply -f` command but latest kubernetes warn to use `kubectl create -f`.

# What is the value to the end user? (why is it a priority?) #
NONE

# How will we know we have a good solution? (acceptance criteria) #
NONE

# Additional context #
Because `kubectl apply -f` is working when object already exists, but `kubectl create -f`

[2019-12-05 12:33] #724 closed

[2019-12-06 02:07] windayski commented on #710
@zhucan
here is the conf

The dir of the socket has not been changed.

[code]

[2019-12-06 03:20] zhucan commented on #710
@windayski
![image](https://user-images.githubusercontent.com/13997135/70292847-54d9d600-181a-11ea-9147-43b90f365cb9.png) I think that it's the root-dir been changed.

[2019-12-06 03:21] zhucan commented on #710
you can use the default value for the root-dir.

[2019-12-06 05:20] Madhu-1 commented on #710
@windayski did you make use of  https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L194-L195  during operator deployment?

[2019-12-06 06:16] Madhu-1 commented on #659
closing issue based on last update

[2019-12-06 06:16] #659 closed

[2019-12-06 06:17] Madhu-1 commented on #730
@WoohyungHan would you like to work on this one? if yes i can assign this to you

[2019-12-06 06:18] Madhu-1 commented on #731
@WoohyungHan would you like to work on this one? if yes i can assign this to you

[2019-12-06 06:20] Madhu-1 commented on #725
@D1abloRUS can you more information about the use-case?

[2019-12-06 06:39] WoohyungHan commented on #731
sure, i wilk @Madhu-1

[2019-12-06 06:39] WoohyungHan commented on #730
@Madhu-1 sure, i will

[2019-12-06 06:40] Madhu-1 commented on #730
done, Thanks for picking this up

[2019-12-06 06:41] Madhu-1 commented on #731
done, Thanks for picking this up

[2019-12-06 06:42] Madhu-1 commented on #719
as @nixpanic explained. this issue cannot be addressed with ceph-csi. closing this

[2019-12-06 06:42] #719 closed

[2019-12-06 06:44] Madhu-1 commented on #720
@sbskas am not able to reproduce this issue, is kubelet run-dir is other than `/var/lib/kubelet`  in your setup?

[2019-12-06 06:45] Madhu-1 commented on #718
cc @humblec @JohnStrunk

[2019-12-06 06:48] Madhu-1 commented on #710
closing this one as this is deployment issue you need to update the template path from `/var/lib/kubelet` to `/opt/cke/kubelet`  in deployment artifacts. please feel free to reopen if you face any issue

[2019-12-06 06:48] #710 closed

[2019-12-06 06:50] Madhu-1 commented on #694
@peacocktrain is there a way to reproduce this one

cc @joscollin

[2019-12-06 06:50] zhucan commented on #710
@Madhu-1 +1, Or modify the root-dir to '/var/lib/kubelet'

[2019-12-06 06:54] Madhu-1 commented on #622
@afraserbm do you still see this issue?

[2019-12-06 08:43] D1abloRUS commented on #725
@Madhu-1 I have data, I need to run several pods on different nodes, and to read this data, without ReadOnlyMany it is impossible

[2019-12-06 14:49] JohnStrunk commented on #718
Neither fsgroup, nor SELinux options are exposed through the CSI API. That all happens on the kube side. Regarding rook/rook#2219, that is for the old flexvol plugin that Rook used. The flexvol API **does** expose that info, unlike CSI.

The way kube makes the choice is:
* For fsgroup, it's based on fsType and RWO: https://github.com/kubernetes/kubernetes/blob/3994f52ee6bef7ea1572184ae0a31f3abeaa7

[2019-12-06 18:09] ShyamsundarR opened #732 "Fix log messages to use `util.Log`/`Log` for format string specifier"
The changes made by resize feature has introduced some messages without the context based logging specifier for the message format string. These need to be corrected, as these aid troubleshooting requests and related messages.

In this [function](https://github.com/ceph/ceph-csi/blob/master/pkg/cephfs/controllerserver.go#L297) and also once PR #331 gets merged in relevant places.

If feasible we n

[2019-12-06 20:32] dimm0 commented on #718
🎈🎉🎉🎉🎉🎈🎉🎉🎉🎉🎈

[2019-12-06 20:54] troeger commented on #725
@Madhu-1 We operate a Kubernetes cluster for machine learning workload. Some of the training jobs operate on millions of single text files, which currently must be stored on a Ceph file system for concurrent read access. The amount of files puts heavy stress on the MDS daemons, especially when multiple training pods access this data in parallel all the time.

A ReadOnlyMany support for volumes wou

[2019-12-06 21:21] dillaman commented on #725
How would you get the data into the ROX RBD-backed filesystem? Would you plan to create a new ROX volume from a snapshot?

[2019-12-07 04:10] WoohyungHan commented on #725
If you app use filesystem multiple active MDS daemon would be better. but if the app use block device itself, ROX rbd can be considered.

[2019-12-08 13:32] ShyamsundarR opened #733 "ValidateVolumeCapabilities needs better checks against volume_context and other passed in details"
Current implementation of `ValidateVolumeCapabilities` is only checking if the access mode of the volume and responding based on the same.

The CSI spec calls out more data that is being passed in to the call, to ensure the volume caters to the requirements of a new request. This becomes important as we add capabilities like encryption, as we do not want to return an un-encrypted volume (or vice-v

[2019-12-09 07:12] windayski opened #734 "attacher.Attach failed: volumeattachments.storage.k8s.io is forbidden"
# Describe the bug #

I installed the ceph-csi driver and create PVC successfully. But it cannot be attached to a pod with this error in kubelet's log.

[code]

# Environment details #

- Image/version of Ceph CSI driver v1.2.1
- Kubernetes cluster version: v1.14.3

# Steps to reproduce #

Steps to reproduce the behavior:

Install ceph-csi driver, create a pvc, attach it to a pod,
and then Attach

[2019-12-09 07:18] Madhu-1 commented on #734
@windayski can you provide `kubectl get po` output?

[2019-12-09 07:19] Madhu-1 commented on #734
which templates you have used for the deployment?

[2019-12-09 07:25] Madhu-1 commented on #734
we need `enable-controller-attach-detach=true` to take care of RWO issues

[2019-12-09 07:43] windayski commented on #734
@Madhu-1 The status of pod is ContainerCreating,

[code]

And I deployed the csi-rbdplugin follow the guide:  https://github.com/ceph/ceph-csi/blob/master/docs/deploy-rbd.md

I am really a noob.  You said “we need enable-controller-attach-detach=true to take care of RWO issues”， did it mean this is not a bug? And the flag must be enable-controller-attach-detach=true?

[2019-12-09 07:46] Madhu-1 commented on #734
as `enable-controller-attach-detach` default value is `true` in kubelet, I don't think its a bug, may I know the reason for setting `enable-controller-attach-detach` to false?

one more thing if you are using v1.2.1 please use template from https://github.com/ceph/ceph-csi/tree/v1.2.1

[2019-12-09 08:12] windayski commented on #734
@Madhu-1  Thanks for your reply.

Flexvolume plugins are used in some of our clusters.  If we set `enable-controller-attach-detach` to true, the drivers on each nodes cannot get attach/detach call.

[2019-12-09 08:21] Madhu-1 commented on #734
if you want to set  enable-controller-attach-detach=false try creating CSIObject as mentioned in   https://kubernetes-csi.github.io/docs/csi-driver-object.html

the yaml will look like
[code]

if `attachRequired` is set to false you will end up in issue like https://github.com/rook/rook/pull/4332

[2019-12-09 12:46] humblec commented on #557
@D1abloRUS planning to release at end of this year, however there are some concerns about some of the feature completion which gives us 2 choice atm, that said, either push some of the incomplete features out of `2.0.0` and release `2.1.0` with those or delay the release and include maximum features in this release. We are waiting for couple more weeks to take the call and it should also help us t

[2019-12-09 16:10] D1abloRUS commented on #557
@humblec We can pick it up from the master, in any case the request https://github.com/ceph/ceph-csi/pull/331 is still open

[2019-12-09 21:59] sbskas commented on #720
no it's not. It a plain vanilla deployment. I activated the kubelet dynamic configuration.

[2019-12-10 17:53] troeger commented on #725
@dillaman We didn't thought about this. The obvious first choice would be a job that fills the volume first. The data then usually persists forever in an unmodified state after this initial copy step.

@WoohyungHan We have that, 4 active MDS daemons and their backups. They still run under full load. Maybe this is only a case for MDS tuning, but without ROX volumes, we simply have no alternative to

[2019-12-11 06:26] Madhu-1 opened #736 "Update golangci-lint to latest released version 1.21.0"
https://github.com/golangci/golangci-lint/releases/tag/v1.21.0

I found  static check issues when I ran  `make static-check` against master with  golangci-lint 1.21.0

[code]

[2019-12-11 07:15] WoohyungHan commented on #736
I always wonder why this error occurred in my laptop. :+1:

[2019-12-11 07:35] humblec commented on #736
@WoohyungHan would you like to solve this ? :)

[2019-12-11 07:53] WoohyungHan commented on #736
@humblec it's my pleasure :>

[2019-12-11 09:31] #731 closed

[2019-12-11 09:38] zhucan commented on #292
@Madhu-1 The _netdev of the mountflags can't be pass through from pod to node？

[2019-12-11 09:38] humblec commented on #736
@WoohyungHan then go for it.. @Madhu-1 any other thought ?

[2019-12-11 09:39] Madhu-1 commented on #736
Assigned to @WoohyungHan

[2019-12-11 09:41] zhucan commented on #292
@Nefelim4ag It's ok to pass the mountflags of the _netdev？

[2019-12-11 09:41] Madhu-1 commented on #292
if kube supports it, it should be supported

[2019-12-11 09:43] humblec commented on #292
The mount options can be passed with mountflags now. @zhucan ..

[2019-12-11 09:47] zhucan commented on #292
@Madhu-1 @humblec Thanks, But now I can see the mountflags in the driver plugin, but can not see it in the node.

[2019-12-11 16:21] faust64 opened #740 "Node crash causes volumes to become unavailable"
# Describe the bug #

When one of my OpenShift node goes down, the (RWO/rbd) PVC that were attached to that machine would get unavailable.
Pods trying to restart on another node would be stuck in containerCreating, with events mentioning multi-attach errors.

Those would remain stuck until I eventually reboot my faulty node, which can take me hours or days (lab cluster).

# Environment details #

[2019-12-12 04:57] #736 closed

[2019-12-12 11:48] humblec commented on #449
@nixpanic as the PR (https://github.com/ceph/go-ceph/pull/111) is merged now, may be we could make some more progress here :).. Thanks !

[2019-12-12 13:58] lorenzomorandini commented on #740
We heave the same problem here too. If a node goes down, the new pods are stuck in container creating because the volume(s) are locked on the failed node.

[2019-12-12 14:00] Madhu-1 commented on #740
@humblec is it something to do with fencing? how to handle this scenario

CC @dillaman @nixpanic @ShyamsundarR

[2019-12-12 14:14] zhucan commented on #740
@faust64 @lorenzomorandini
Once a pod is marked for deleted (in this case, by the node eviction process), the a/d controller will only proceed with detach if the pod has no running containers per the pod object. Since the node is down, it will never update the pod object, which causes a chicken and egg problem. Detach, in this case, requires user to "force delete" the pod, which will cause the a/d

[2019-12-12 14:35] dillaman commented on #740
Negative -- this is k8s behaving correctly (if not sub-optimally). Just because a node is unresponsive to k8s doesn't mean that workloads aren't still running and actively manipulating storage (e.g. imagine the management network is down but the storage network is still active).

There is really nothing for ceph-csi to do in this instance. It would be great if one day we could storage fence "dead"

[2019-12-12 18:00] ShyamsundarR opened #742 "Kubernetes sidecar leaders and its impact on controller plugin operations, needs understanding/clarification"
We now will have 4 side cars performing [leader election](https://github.com/ceph/ceph-csi/blob/8a16f740d68b3f31b1955f81f1a4994aa72fd68b/deploy/rbd/kubernetes/v1.14%2B/csi-rbdplugin-provisioner.yaml#L38-L76), and hence, **to my understanding**, each sidecar can determine in isolation that one of the many (two in the default case) available controller plugin instances are the leader for the said si

[2019-12-13 01:24] WoohyungHan commented on #742
+1 very interesting problem. But I think `solving by same lock name` can decrease overall performance. Could we use per volume lock? I think there is no influence multiple sidecars working on individual, different volume.

[2019-12-13 04:09] Madhu-1 commented on #742
can be fixed by running single CSI sidecar images, more info at https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-sig-storage-wg-csi/qZvuOlCME5Y/YzKuurLVBwAJ

[2019-12-13 04:12] Madhu-1 commented on #742
currently, we are locking per  volume in CSI  container and its in-memory lock, as the lock is in memory and not centralized lock, we can hit the issue like on one provisioner pod we will be deleting the volume and in another provisioner pod we will  be resizing it or cloning from it( possible to hit this issue)

[2019-12-13 06:23] Madhu-1 opened #743 "Add Stale bot to the repo"
# Describe the feature you'd like to have #

What new functionality do you want?

Add Stake bot to the repo.
A stale bot is an automated mechanism responsible for marking issues and pull requests as “stale” when there’s no activity around them after a given amount of time.

[2019-12-13 11:37] sbskas commented on #720
I think the problem is related to the namespace.
I tried to deploy the ceph-csi plugin in a separate namespace and got the problem.
Redeploying the plugin in the default Namespace is ok.

[2019-12-13 11:40] Madhu-1 commented on #720
okay let me retry to deploy CSI  is separate namespace

[2019-12-13 12:30] ShyamsundarR commented on #742
The lock name I was referring to was to force the sidecars to contend for the same [leader lock](https://github.com/kubernetes-csi/csi-lib-utils/blob/3db811614bd14d294eb08069b7ac59bd46f69139/leaderelection/leader_election.go#L66-L69), it was not related to the volume names or ID based locks in the CSI plugin. Clarifying this for @WoohyungHan.

Also, the thought of using the same lock name is just

[2019-12-13 15:56] ShyamsundarR opened #744 "RBD Encryption improvements that need addressing"
1) Ensure volume creation is complete before responding with a volume match for a `CreateVolume` request

Comment: https://github.com/ceph/ceph-csi/pull/697/files?file-filters%5B%5D=.go#r356896828

The intention is to note the status of creation and later, either complete the creation if certain steps are missed (like adding the encryption attribute to the image) or garbage collect the image and t

[2019-12-13 16:19] ShyamsundarR opened #745 "Clarify and correct if required, creation of an RBD volume clone from an encrypted snap/volume as the source"
This issue is to clarify and if required add sufficient checks in the code, to ensure,

- Cloned volumes retain encryption property of the parent volume it was cloned from
- Cloned volumes volume_options retain necessary parameters to identify if these are encrypted
- Clone secrets for the cloned volumes carry required keys to stage encrypted volumes as required

This issue is a branch off from th

[2019-12-13 16:38] ShyamsundarR commented on #703
The current strategy (as discussed with @Madhu-1) to address this is as follows,
- Add an update strategy to the nodeplugin deamonsets to denote them as ["OnDelete"](https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/#daemonset-update-strategy)
    - This prevents the nodeplugins from being upgraded automatically without user/admin intervention
- Document upgrade procedure to ensure,

[2019-12-15 20:07] fire commented on #521
Is anyone working on this? What is the status of this?

[2019-12-15 23:35] dillaman commented on #521
I don't believe anyone is working on it -- and it really doesn't make much sense since `rbd-nbd` isn't really production worthy (right now), so we wouldn't want to encourage even more folks using it.

The best longer term solution would be to ensure cgroups v2 is being utilized on the k8s node so that generic block rate limiting controls can be applied (which would handle krbd both rbd-nbd). I'm n

[2019-12-16 01:08] fire commented on #521
Do you know where cgroups v2 integration in k8s for limiting block rates is tracked?

[2019-12-16 01:20] dillaman commented on #521
This [1] provides a really good overview and a theoretical timeline

[1] https://medium.com/nttlabs/cgroup-v2-596d035be4d7

[2019-12-16 15:07] ShyamsundarR commented on #703
[Here](https://docs.google.com/document/d/1opkOXxikHgfPgIw5ee1OwgTzCSDUi0gqcJZ2K1gfmKo/edit#) is another community discussion on the topic that is a useful read.

[2019-12-17 00:25] plnordquist opened #748 "RBD chart csi-snapshotter is not doing leader election"
# Describe the bug #

The csi-snapshotter container in the provisioner deployment for the RBD chart is missing a `--` for the leader election command line option [here](https://github.com/ceph/ceph-csi/blob/master/charts/ceph-csi-rbd/templates/provisioner-deployment.yaml#L74).  This causes the pods run independently and do duplicate work

# Environment details #

- Ceph CSI 1.2.2
- Ceph CSI RBD 1.

[2019-12-17 00:52] plnordquist commented on #622
I'm running into this issue on k8s 1.16.3 using the Ceph CSI RBD chart v1.2.2.  Here's the logs from the csi-snapshotter, I've applied a workaround from #748 to enable leader election:

[code]

[2019-12-17 10:56] humblec commented on #557
Its merged last week. You should be able to consume it from master. :+1:

[2019-12-17 11:02] humblec commented on #557
[Release call update]

**Feature completed:**

-[x]  CephFS resize
-[x]  RBD resize
-[x]  Encryption support on rbd volumes
-[x]  RBD nbd support -> Available : **Known issue:**  the client mount will be disturbed ( same as fuse deamon)  if node plugin is restarted.

**Waiting for completion:**

-[x] Multi arch support of CSI drivers
-[x] Native go client support

Deferred from `v2.0.0` to `2.1.0`

[2019-12-17 11:14] humblec commented on #440
@ShyamsundarR Can you please udpate where we are with this PR or design ?

[2019-12-17 11:16] humblec commented on #701
@joscollin Can you please update where we are with this feature ? we are planning to have this in `2.1.0` .

[2019-12-17 11:16] humblec commented on #701
/assign @joscollin

[2019-12-17 11:23] Madhu-1 commented on #622
@plnordquist log says snapshot not found, please check

`E1217 00:34:38.732958       1 goroutinemap.go:150] Operation for "create-default/rbd-pvc-snapshot[dd7365b2-f63f-403f-8c0a-2ded1c88a44b]" failed. No retries permitted until 2019-12-17 00:34:39.232936613 +0000 UTC m=+398.145968948 (durationBeforeRetry 500ms). Error: "snapshot controller failed to update default/rbd-pvc-snapshot on API server:

[2019-12-17 12:19] #748 closed

[2019-12-17 13:03] ShyamsundarR commented on #440
This is not for 2.0.0 release, at it would take time (3-6 weeks IMO). This was updated out of band to the team.

Current design thoughts/doc can be found here: https://gist.github.com/ShyamsundarR/8ff154555f137e71e5c0a80e224c61a2 which I intend to complete this week and post as a proposal PR.

[2019-12-17 13:06] humblec commented on #440
@ShyamsundarR sure and thanks for the update. May be we can post the design proposalhere  for more reviews .

[2019-12-17 14:25] #732 closed

[2019-12-17 17:45] plnordquist commented on #622
Unfortunately I cleaned up my cluster from yesterday but I replicated the issue again today.  Here's the output of the volume snapshot.  I think it has to have seen the snapshot to initiate any work but somehow can't update it?

[code]

[2019-12-17 17:58] Madhu-1 commented on #622
Please provide csi-rbdplugin container and csi-snaphotter container logs

[2019-12-17 22:06] plnordquist commented on #622
Here's the logs from my containers and some of the object details.  I scaled down the provisioner deployment so everything ran in one pod.
[csi-provisioner.log](https://github.com/ceph/ceph-csi/files/3975681/csi-provisioner.log)
[csi-rbdplugin.log](https://github.com/ceph/ceph-csi/files/3975682/csi-rbdplugin.log)
[objects.log](https://github.com/ceph/ceph-csi/files/3975683/objects.log)

[2019-12-18 12:36] humblec commented on #701
Thanks for the update @joscollin :+1:
Considering the timeline planned this is a good fit for release 2.1.0

[2019-12-18 14:35] ShyamsundarR opened #756 "Pass "_netdev" mount option by default for RBD/CephFS mounts"
As discussed in kubernetes [1], for network devices, addition of the `_netdev` ensures that the network is not stopped prior to unmounting the network devices.

This issue is opened to discuss and fix, if we should automatically add `_netdev` mount time option, and not require users to add these to the mount options in the storage class.

NOTE: This assumes passing the `_netdev` option from the no

[2019-12-18 14:36] Madhu-1 commented on #756
cc @nixpanic

[2019-12-18 14:41] Madhu-1 commented on #756
cc @dillaman

[2019-12-18 14:43] ShyamsundarR opened #757 "Honor mount options in NodeStage RPC as well"
Currently it was decided[1] not to honor mount options in NodeStage RPC request, and we mount the volume with default options.

While discussing regarding the `_netdev` options and what ceph-csi does with mount options with @gnufied, it was brought to my attention that we should honor mount options in the NodeStage request itself.

Opening this issue to add justifications around the same, and to d

[2019-12-18 15:45] skoef commented on #487
I would like to see such a feature as well. I'm not interested in filtering the PVs whatsoever, I need such a feature to integrate with an already existing ceph management plane we have running. I think there are two things we could understand by custom volume prefixes:

1. a `--volume-name-prefix` flag, just like the CSI provisioner has. This would only allow you to customise the default `csi-vol

[2019-12-18 15:54] dillaman commented on #756
:+1: to auto-adding `_netdev` mount option -- we know we have a network-based block device/file system so we shouldn't require/expect the mount options to be overridden to specify it.

[2019-12-18 19:37] plnordquist commented on #622
I checked out the snapshotter github since the error was coming from that sidecar and found that my CRDs for the snapshots were from February and they modified the CRDs without bumping the version to support subresource statuses, this comment has some of that info https://github.com/kubernetes-csi/external-snapshotter/issues/147#issuecomment-513569139.  I scaled down the provisioner deployment, de

[2019-12-18 20:49] skoef commented on #487
Basically, what I think i need to do is create an additional omap key, `csiImageKey`, to store the rbd image name that corresponds to that volume. That way, when you change image name prefixes at some point, or base the image names on something different, the volume always point to the image name it got when it was created.

[2019-12-19 04:23] afraserbm commented on #622
Unfortunately I haven’t looked at this issue again and destroyed the setup I had.

--

This e-mail and all information in, attached to, or linked via this
e-mail (together the ‘e-mail’) is confidential and may be legally
privileged. It is intended solely for the intended addressee(s). Access to,
or any onward transmission, of this e-mail by any other person is not
authorised. If you are not the in

[2019-12-19 23:45] sbskas commented on #720
Maybe I found the problème.
See PR #761 , POD_NAMESPACE was missing from rbdplugin.
Time to go helm.

[2019-12-20 14:18] sbskas commented on #720
Closing since PR has been accepted.

[2019-12-20 14:18] #720 closed

[2019-12-28 07:55] hh commented on #671
@cyb70289 / @billimek is there a work around to deploy to arm while we wait for pushed images / CI setup?

[2019-12-30 07:25] zhucan commented on #756
@Madhu-1 @dillaman Will you add "/run/mount/utab" to the plugin yaml and solute this issue?

[2020-01-03 04:33] Madhu-1 opened #773 "Add a bot to check commit messages and DCO"
* Add a bot to check better commit messages which help to review PR's

sample commit message taken from https://eslint.org/docs/developer-guide/contributing/pull-requests#step-2-make-your-changes

[code]

* Add a  DCO bot https://github.com/apps/dco
  - This App enforces the Developer Certificate of Origin (DCO) on Pull Requests. It requires all commit messages to contain the Signed-off-by line wi

[2020-01-03 05:02] hswong3i commented on #773
@Madhu-1 so something like this?

* Upgrade: csi-resizer from v0.3.0 to v0.4.0
* Upgrade: csi-node-driver-registrar from v1.1.0 to v1.2.0
* Upgrade: csi-snapshotter from v1.2.1 to v1.2.2
* Upgrade: csi-attacher from v1.2.0 to v2.0.0

[2020-01-03 05:17] Madhu-1 commented on #773
@hswong3i sounds good, please take care of longer description in commit message

[2020-01-03 05:19] hswong3i commented on #773
Yes that had be done, too. Hopefully in recommended format. Please kindly double confirm.

[2020-01-06 02:25] joscollin commented on #701
@ajarr @humblec Isn't this a duplicate of https://github.com/ceph/ceph-csi/issues/411? If duplicate, please close this ticket.

[2020-01-06 02:29] joscollin commented on #411
https://github.com/ceph/ceph-csi/issues/701#issuecomment-566879580

[2020-01-06 07:54] Madhu-1 commented on #701
@joscollin this is not duplicate, This is cloning a PVC from PVC not from cloning from a snapshot

[2020-01-06 07:55] Madhu-1 commented on #411
This is cloning a PVC from snapshot not cloning from PVC

[2020-01-06 14:29] humblec commented on #449
@nixpanic any update here ?

[2020-01-06 14:30] humblec commented on #449
We are freezing the code for `2.0.0` this week. Really appreciated if you can update on where we stand. Based on that we have to accept/defer the feature.

[2020-01-06 17:22] vasyl-purchel commented on #744
@ShyamsundarR I'd like to re-iterate on first task here:

current implementation in case of successful volume creation but failed image-meta step will get [here](https://github.com/ceph/ceph-csi/blob/master/pkg/rbd/controllerserver.go#L152-L158)
And before returning successful response it will call `ensureEncryptionMetadataSet` which will update this image-meta key to make sure that image is ready

[2020-01-07 12:24] nixpanic commented on #449
PR  #729 has the current state. Creating and deleting volumes work, and connections get cached for re-use. Not all pieces for deleting (checking for watchers) are in go-ceph yet.

If you are happy with including only creation of volumes through go-ceph, I can file a PR for that today or tomorrow. Deleting volumes will need to wait a little longer.

[2020-01-08 02:44] jianglingxia opened #778 "pod use cephfs volume when reboot minion appear two mount point"
# Describe the bug #
the application pod first in minion 172.20.0.3 used cephfs and the mount point in 172.20.0.3
[code]

then i reboot the  172.20.0.3 minion ,the pod auto scheduler to
[code]
and the mount point in    172.20.0.2 is
[code]
but the 172.20.0.3 the origin mount point existed,may be need umount ?
A clear and concise description of what the bug is.

# Environment details #

- Image/ver

[2020-01-08 02:45] jianglingxia commented on #778
@Madhu-1
thanks

[2020-01-08 08:34] humblec commented on #449
If we can have create and delete volumes, thats a decent milestone to consider this for `2.0.0`. Any ETA on how long delete will take ? if its before 13th Jan, lets have this in 2.0.0

[2020-01-08 10:55] nixpanic commented on #449
That would be "in-line" deletes, not the ones passed on to the manager
for background deletion. go-ceph does not have support for listing the
watchers of an RBD image, that is where things are blocked at the
moment. Implementing support for watchers is tricky as it involves
callbacks passed from Go -> librbd.so -> Go... Ceph-CSI only needs some
simple functionality, so maybe that can get merged in

[2020-01-08 12:09] nixpanic commented on #449
ceph/go-ceph#148 is posted for getting watchers of an image, that can be used to implement a more efficient alternative for `rbdStatus()`.

[2020-01-08 16:31] nixpanic commented on #250
More details are in https://kubernetes.io/blog/2020/01/08/testing-of-csi-drivers/

[2020-01-10 16:24] Tatsu-Kishi opened #780 "Make dynamically provisioned volumes (PVC-PV-ceph) recognizably related"
## Describe the feature you'd like to have #

Right now it is somewhat cumbersome to relate Pods, PVCs, PVs and ceph images with each other. A common unique prefix if not entire name, based on PVC name + namespace + kubernetes cluster (id) would make human interactions and debugging much easier.

Alternatively/least effort solution would be to have a volumeName field in PVs under  spec.csi.volumeA

[2020-01-13 03:56] Madhu-1 opened #781 "Failed to Delete PVC if rbd pool is already deleted"
# Describe the bug #

currently, we are checking the pool details and also removing the keys reserved in the rados omap, we need to make the PVC removal successful even if the pool is deleted
# Steps to reproduce #

Steps to reproduce the behavior:

* create PVC
* Delete rbd pool in the backend
* Delete PVC

# Expected behavior: #

PVC removal should be successful even if the pool is deleted in th

[2020-01-13 10:48] windayski opened #783 "Failed to resize an rbd volume, got error: provided secret is empty"
# Describe the bug #

I used cephcsi:canary to create an RBD volume,  and edit the size of this pvc. But the resize is failed.
Did I do anything wrong?

I got a message from csi-rbdplugin container as below:

[code]

output of
kubectl get pvc rbd-pvc-canary -n test -o yaml
[code]

# Environment details #

- Image/version of Ceph CSI driver: canary, master branch
- Kubernetes cluster version: v1.14

[2020-01-13 10:50] Madhu-1 commented on #783
you might be missing expand secret https://github.com/ceph/ceph-csi/blob/master/examples/rbd/storageclass.yaml#L32-L33

[2020-01-13 10:54] romantomchak opened #784 "Creation of PVC from non existing snapshot causes loop error"
Creation of PVC from non existing snapshot (through a typo) causes error in csi-provisioner and it is ok, but even after deleting PVC from cluster csi-provisioner still reports an error in loop that it  trying to create PVC but source snapshot does not exist.

# Environment details #

- Image/version of Ceph CSI driver
  - quay.io/k8scsi/csi-provisioner:v1.5.0
  - quay.io/k8scsi/csi-snapshotter:v2

[2020-01-13 11:03] Madhu-1 commented on #784
we are not supporting `quay.io/k8scsi/csi-snapshotter:v2.0.0` sidecar container, closing this  issue

[2020-01-13 11:03] #784 closed

[2020-01-13 11:10] romantomchak commented on #784
Hi @Madhu-1 ,

but this error is reported by `csi-provisioner` but not by `csi-snapshotter`.
It's OK that provisioner cannot create PVC because snapshot is really absent, because it was a typo in snapshot name, but the main problem is that after deletion of PVC provisioner is still trying to create it.

[2020-01-13 11:13] Madhu-1 commented on #784
as this is nothing to do with ceph-csi then the issue needs to be opened in `external-provisioner` repo. https://github.com/kubernetes-csi/external-provisioner

btw we have not updated csi-provisioner image to 1.5.0

[2020-01-13 11:26] romantomchak commented on #784
what do you mean?

there is 1.5.0 version in registry for this image

[2020-01-13 11:55] Madhu-1 commented on #784
please check  https://github.com/ceph/ceph-csi/blob/master/deploy/rbd/kubernetes/v1.14%2B/csi-rbdplugin-provisioner.yaml#L39 we have tested ceph-csi with only 1.4.0, not with 1.5.0

[2020-01-13 12:06] romantomchak commented on #784
@Madhu-1 thank you

[2020-01-14 03:07] windayski commented on #783
@Madhu-1  Thanks.  I missed the expand secret. But after added that secret in the storageClass, it still didn't work.
The error logs are same with before.

[code]

[2020-01-14 03:09] Madhu-1 commented on #783
Please provide storageclass and cephcsi image tag you used for testing

[2020-01-14 03:32] windayski commented on #783
cephcsi image is built by myself using codes on Master branch.
storageClass:
[code]

[2020-01-14 03:43] Madhu-1 commented on #783
if the provided secret is empty then only you will see the above error, can you please recreate the sc,PVC and then resize it?

[2020-01-14 07:50] #703 closed

[2020-01-14 08:51] #730 closed

[2020-01-14 09:25] windayski commented on #783
@Madhu-1  It didn't work. My k8s is v1.14.3, maybe it's too old to support resize?

[2020-01-14 09:28] Madhu-1 commented on #783
you need kubernetes 1.16+ to support resize, closing this issue as your kubernetes version is not per requirement see https://github.com/ceph/ceph-csi/blob/master/docs/resize-pvc.md#resize-rbd-pvcs

[2020-01-14 09:28] #783 closed

[2020-01-15 00:19] jianglingxia opened #792 "cephfsplugin in daemonset container restarted the app pod Transport endpoint is not connected"
# Describe the bug #
the daemonset not upgrade,but restart the csi-cephfsplugin container,like follow:

ae33cf5ab2d2 ed6f186ec08a "/usr/local/bin/cephc" 21 hours ago Up 21 hours k8s_csi-cephfsplugin_ceph1-csi-cephfsplugin-czl9r_default_3fd90197-32d4-11ea-9d2e-744aa4028226_0

[root@paas-controller-172-20-0-3:/home/ubuntu]$ docker restart ae33cf5ab2d2
ae33cf5ab2d2

the minion mountpath is :
ceph-fus

[2020-01-15 00:25] jianglingxia commented on #792
/cephfs

[2020-01-15 00:26] jianglingxia commented on #792
@huaizong   @Madhu-1
thanks

[2020-01-15 11:11] nixpanic commented on #557
Moving out the native go-ceph implementation for now. Expect it to be ready for release-2.1.0. Performance improvement is currently minimal, as there are still a few calls to the `rbd` executable while creating volumes.

go-ceph will also mature more, and will be better tested by the time 2.1.0 is ready.

[2020-01-15 15:31] wilmardo commented on #568
@Madhu-1 Thanks for the pointer! This issue now is "resolved" by using the kernel mounter, running stable for more than a month now.

Should I leave this open since there for sure is an issue with the `rbd-nbd`?

[2020-01-15 18:42] nixpanic commented on #449
This is just a snapshot of the current state, but it seems that using go-ceph (and re-using the connection to the Ceph cluster) speeds up creation of volumes. The output comes from the prometheus instance on csi-rdbplugin container from the provisioner.

Current cephcsi:canary image (of today):

[code]

Current image based on github.com/nixpanic/ceph-csi#wip/rbd/go-ceph (canary + additional patche

[2020-01-15 18:54] JohnStrunk commented on #449
@nixpanic I'm confused by the above numbers... Aren't these latency numbers?
Wouldn't the above indicate it's actually slower? Means (old vs new): `2266/250=9.06` vs `3356/250=13.4`.

[2020-01-15 19:01] nixpanic commented on #449
Uhm, right, yes. I wrote something conflicting... Maybe I copy/pasted the wrong way around? I'll check again tomorrow.

[2020-01-15 20:59] ttyS0 commented on #671
FWIW, I built an `arm64` image for `csi-node-driver-registrar` from https://github.com/kubernetes-csi/node-driver-registrar, and uploaded it to my local docker registry. Then I made a new DaemonSet config for the `cephfs` and `rbd` plugin suffixed with `-arm64` and `nodeSelector`'d to `arm64`. It was just a copy/paste of the existing DaemonSet configs with the `csi-node-driver-registrar` image poi

[2020-01-15 22:20] colek42 commented on #671
@ttyS0 would you mind giving us a pointer to that image and DaemonSet config?

[2020-01-15 23:12] ttyS0 commented on #671
@colek42

cephfs: https://github.com/ttyS0/kubernetes/blob/master/ceph/csi-cephfsplugin-arm64.yaml
rbd: https://github.com/ttyS0/kubernetes/blob/master/ceph/csi-rbdplugin-arm64.yaml

As far as the csi-node-registrar goes, I cloned the https://github.com/kubernetes-csi/node-driver-registrar repository on an RPi, ran `make` to build the `csi-node-driver-registrar` binary, did a `docker build`, tagge

[2020-01-16 00:50] travisn commented on #578
@athanatos @batrick To follow up from our discussion last week on the need for the csi driver to detach from a pod on a failed node and allowing attaching on another node, any input to add to this thread? This is in the list of critical rook issues that we need to solve.

[2020-01-16 02:00] cyb70289 commented on #671
Planning to add arm64 support to all k8s-csi sidecar images, similar to ceph-csi. Any help is welcomed.

[2020-01-16 10:14] nixpanic commented on #449
Todays run, 10 x 25 PVC burst creations, with 2 minutes between the bursts.

1. go-ceph implementation (quay.io/nixpanic/ceph-csi:wip_rbd_go-ceph image)
[code]

2. ceph-csi master (cephcsi:canary image):
[code]

This shows there is a benefit of using go-ceph. However there is some rate limit in Kubernetes/OpenShift that prevents speeding up parallel creation somewhat. The effective time creating P

[2020-01-16 11:59] windayski opened #793 "Data is not present after PVC restore from snapshot"
# Describe the bug #

I follow the guide of https://github.com/ceph/ceph-csi/blob/master/examples/README.md#how-to-test-rbd-snapshot-feature  to create and restore a snapshot but failed.

Did I do something wrong?

# Environment details #

- Image/version of Ceph CSI driver :  cephcsi canary, master branch
- Kubernetes cluster version: v1.14.3
- external-snapshotter: v1.2.2
- external-provisioner:

[2020-01-16 12:06] Madhu-1 commented on #793
this should be fixed in https://github.com/ceph/ceph-csi/pull/779, can you provide the steps to reproduce it?

[2020-01-16 12:07] Madhu-1 commented on #793
sorry you provided reproduce steps, i will check

[2020-01-16 12:13] nixpanic commented on #449
More testing, now 10 x a batch of 25 PVCs, waiting until Bound (not an additional 2 minute sleep as before):

1. go-ceph implementation (quay.io/nixpanic/ceph-csi:wip_rbd_go-ceph image)

[code]

2. ceph-csi master (cephcsi:canary image):

[code]

This also shows a significant improvement when using go-ceph instead of the rbd command.

[2020-01-16 12:22] nixpanic commented on #449
This is the [create-pvcs.sh](https://github.com/ceph/ceph-csi/files/4071109/create-pvcs.sh.txt) script that was used for the batch creation of 25 PVCs. Run it in a loop with or without sleep.

[2020-01-16 14:30] colek42 commented on #671
@cyb70289 I have a solution on my fork using buildx
https://github.com/colek42/node-driver-registrar

See the Dockerfile for notes.  It requires Docker v19

[2020-01-16 15:15] colek42 commented on #671
My multiarch image is located here:  https://hub.docker.com/r/colek42/csi-node-driver-registrar/tags  I will be working on getting this upstreamed, but will start maintining these with some automation if that does not go well.

[2020-01-16 22:30] batrick commented on #578
I'm not sure I've full wrapped my head the proposed solution by @ShyamsundarR. Can we arrange a meeting to discuss this?

[2020-01-17 06:25] Madhu-1 opened #795 "Audit log and follow klog standard while logging"
we need to audit all logs we are logging and make sure it is as per the standard of klog mentioned in https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md

[2020-01-17 07:36] Madhu-1 commented on #793
@windayski

is new PVC created from snapshot? but the issue heading says restore snapshot failed am little confused here what is the issue

[2020-01-17 09:20] windayski commented on #793
@Madhu-1  I used `kubectl create -f pvc-restore.yaml` to create a pvc, and the pvc is successfully created, but there is no data in this pvc.  So I think the snapshot is not restored successfully.

[2020-01-17 09:41] Madhu-1 commented on #793
Tested this one with the master branch, am able to see data after a new PVC from the snapshot and mounting it to a new app pod.
in old pod
[code]

in new pod
[code]

[2020-01-17 10:06] humblec commented on #557
[Release call update]

Out of pending 2 features,
- [x] Multi arch support of CSI drivers
- [x] Native go client support

Native go client support has been deferred from the release 2.0.0.
Multi arch support has been merged/completed!

We are at final  stage of building `2.0.0`. It should be available at any time now :)

[2020-01-17 14:39] humblec commented on #557
Waiting for  #https://github.com/ceph/ceph-csi/pull/764 to be merged. It should be the last PR for release `2.0.0`

[2020-01-17 14:44] Madhu-1 commented on #101
closing this one as this is implemented in #331

[2020-01-17 14:44] #101 closed

[2020-01-17 14:53] ouzklcn commented on #557
Is it possible for you to also consider #785 for `2.0.0` after #764 is merged?

[2020-01-17 15:03] humblec commented on #557
Sure, let me check.

[2020-01-17 15:08] humblec commented on #557
ACK.   Tagged for `release-2.0.0`

[2020-01-17 17:31] simonpie opened #798 "Support for Ceph's namespaces (not kubernetes namespaces)"
# Describe the feature you'd like to have #

Support for Ceph's namespace as [described here](https://docs.ceph.com/docs/master/rados/operations/user-management/#namespace).

# What is the value to the end user? (why is it a priority?) #

This would allow multiple kubernetes clusters to share one unique ceph cluster without creating a pool  per kubernetes cluster.  Pools in ceph *can be a computat

[2020-01-20 07:39] Madhu-1 commented on #669
@ShyamsundarR am planning to add support for cephfs volume created with `ceph fs subvolume create` command as we support cephfs from Nautilus (>=v14.2.2) onwards

[2020-01-20 10:32] humblec commented on #557
All the required PRs are merged.. We are at final stage of `2.0.0` release and build!! Thanks all !

[2020-01-20 14:00] Madhu-1 commented on #557
closing this as ceph-csi v2.0.0 release  is out https://github.com/ceph/ceph-csi/releases/tag/v2.0.0

[2020-01-20 14:00] #557 closed

[2020-01-20 14:30] humblec commented on #557
Thanks to Ceph CSI community for our next major release (`v2.0.0`) !! Many features, bug fixes, documentation updates are part of this release !!  It was a massive help from our community to roll out this big release .. Lets march toward our next big release **v2.1.1** !!!

@vasyl-purchel @cyb70289 @wilmardo @hswong3i @nixpanic @sophalHong @woohhan @Madhu-1 :+1:  :-1:

[2020-01-20 14:45] ShyamsundarR commented on #669
:+1: but as a side note, it does not really matter how the subvolume was created (IOW, which command was used), for examples in the documentation we can add the above command as a reference.

[2020-01-20 18:16] kfox1111 commented on #593
So, whats the current status of getting from 1.0.x to 1.2.2? There are comments above for getting to 1.1. Can you then successfully get to 1.2.2?

Any movement towards a procedure for migrating old volumes to current ones? I've got a 1.0.x cluster currently with 29 volumes. :/

[2020-01-20 21:31] shayrybak opened #803 "Creating RBD PVC in versions 1.2.1 and 1.2.2 hangs on provisioner request"
# Describe the bug #

I've set up the deployment as instructed in the documents. when creating the pvc I can see in the provisioner logs the grpc request to create the volume is being made but an error is returned.

`I0120 21:23:06.485540       1 controller.go:1196] provision "default/rbd-pvc" class "csi-rbd-sc": started
I0120 21:23:06.495021       1 controller.go:471] CreateVolumeRequest {Name:pv

[2020-01-20 23:20] mmgaggle commented on #521
The bigger problem with cgroups is that they only provide independent limits for read and write, compared with libdrbd/virtio which provide the ability to express limits against the aggregate of reads and writes.

If I want to limit a given PV to 100 IOPs, I can't do that with cgroups. I can only set a write IOPs limit to (50, 30, 10) and another distinct limit on read IOPS (50, 70, 90). A client

[2020-01-21 16:15] ShyamsundarR commented on #756
Added this to the next release queue, to avoid problems as reported in deployments.

[2020-01-21 16:44] ShyamsundarR commented on #474
Added this to the next release queue, looks like some testing has hit this path, when the provisioner pod is restarted, possibly interrupting deletions mid-way.

The test seems to be to issue ~100 PV deletes in parallel, and in between restarting the leader provisioner pod, causing an ENOENT error when looking for the image root path and failing deletion hence.

[2020-01-21 16:45] humblec commented on #474
@joscollin can you take a look at this ?

[2020-01-22 04:32] humblec opened #806 "Release v2.1.0 of Ceph CSI driver."
- [x] **Define release process**
  - Release doc would be a good start
- [x] **Define release deadlines**
  - Code Freeze : 15-Mar-2020
  - RC : 22-Mar-2020
  - GA : 31-Mar-2020

- [x] **Define/list roadmap for v2.1.0**
  - Proposed contents for v.2.1.0 release

 - [x] Dependency update to kube v1.17
    `status: Completed`
 -  [x] Support Mountoptions in RBD
   `status: Completed`
 -  [x] Migrate

[2020-01-22 05:39] joscollin commented on #474
@ShyamsundarR Subvolume delete is a two step operation. The step moves/renames the subvolume to a trash directory and then purged in the background. Are you passing the [`force` option](https://github.com/ceph/ceph/blob/nautilus/src/pybind/mgr/volumes/fs/subvolume.py#L153) from your code? If so, don't do it and it would give you an `ENOENT`.

[2020-01-22 05:56] Madhu-1 commented on #474
@joscollin currently we are using force option https://github.com/ceph/ceph-csi/blob/master/pkg/cephfs/volume.go#L207

[2020-01-22 05:59] joscollin commented on #474
@Madhu-1 Can you remove it and try? Then force would be `false` in `remove_subvolume`. Please see [this](https://github.com/ceph/ceph/blob/nautilus/src/pybind/mgr/volumes/fs/subvolume.py#L171).

[2020-01-22 08:19] #313 closed

[2020-01-22 14:13] ShyamsundarR commented on #474
Please note, irrespective of force flag or not, handling image/subvolume not found errors ([like in RBD](https://github.com/ceph/ceph-csi/blob/aadce54b2f2e50a139e2188dc6625df97241ef44/pkg/rbd/controllerserver.go#L366-L383)) in the ceph-csi code is something that needs to be added.

[2020-01-22 15:53] ShyamsundarR commented on #474
Post further discussion regarding subvolume deletion and usage of `--force` in the command ( as pointed to [here](https://github.com/ceph/ceph-csi/issues/474#issuecomment-577016917)), it is decided that we will also remove the `--force` option and detect ENOENT errors for the same routine as well, to safeguard against any other errors that force option may remove.

The `--force` option was added d

[2020-01-22 16:14] yanchicago commented on #165
Any workaround?

[2020-01-22 16:19] joscollin commented on #474
Read the [Remove a subvolume](https://docs.ceph.com/docs/master/cephfs/fs-volumes/#fs-subvolumes) doc. It says what we have discussed: `The removal of a subvolume fails if it has snapshots, or is non-existent. ‘–force’ flag allows the non-existent subvolume remove command to succeed.`, which means `--force` doesn't actually force anything and it doesn't do a 'force remove', but it ignores the fail

[2020-01-23 04:30] Madhu-1 commented on #671
ceph-csi is pushing new arm image here https://quay.io/repository/cephcsi/cephcsi?tab=tags quay.io/cephcsi/cephcsi:v2.0.0-arm64, if any help is required please feel free to reopen it

[2020-01-23 08:45] Madhu-1 commented on #756
I have added `_netdev` mount option to as the default mount option in both node stage and node publish request, I see an error in shutdown

 mount options in nodeplugin container
[code]
[code]
once i mounted the `/run` between host and plugin container and created a new app and reboot the node . during reboot i didnt see above issue

[2020-01-23 09:08] Madhu-1 commented on #756
yes, I have shared `/run` with plugin and host, check #809

[2020-01-23 10:17] PavloZabudskyi commented on #725
When deployment pod is scheduled at node that it lost, it can't be reschedulated at other node without ReadOnlyMany option.

[code]
[code]

PVC uses SC with replica 3, so data isn't lost.

[2020-01-28 07:02] Madhu-1 commented on #675
update snapshot from alpha to beta once we change the design for snapshot and cloning

[2020-01-28 15:05] humblec commented on #578
@batrick @ShyamsundarR et.al, can we update this issue with the discussion happened on the above said meeting?

[2020-01-28 16:50] #756 closed

[2020-01-29 10:05] #474 closed

[2020-01-29 10:56] Henning-GitHub opened #812 "cephfs pvc fails with "an operation with the given Volume ID already exists""
# Describe the bug #

When configuring cephfs-csi with the given charts + examples, creating the PVC fails with "an operation with the given Volume ID already exists". The PVC remains in "Pending" state.

# Environment details #

**- Image/version of Ceph CSI driver**
 2.0.0

**- helm chart version**
 2.0.0 (?)

**- Kubernetes cluster version**
kubectl version
Client Version: version.Info{Major:"1

[2020-01-30 16:01] Madhu-1 commented on #812
please provide complete logs of cephfs-plugin-container logs from provisioner pod to check what is the issue and also provide below output from cephfs-plugin container
[code]
[code]

[2020-01-30 16:28] Henning-GitHub commented on #812
I put the "kubectl -n ceph-csi-cephfs logs ceph-csi-cephfs-nodeplugin-*  --all-containers" output as 2 text files here:
https://ibm.box.com/s/sxvl6rm4tlre2op34p0adxf5zgv4dzxe

root           1       0  0 Jan29 ?        00:00:17 /usr/local/bin/cephcsi --nodeid=kansasprod8 --type=cephfs --nodeserver=true --pidlimit=-1 --metricsport=8091 --metricspath=/metrics --enablegrpcmetrics=true --endpoint=unix

[2020-02-02 03:42] jianglingxia commented on #792
can anyone give some advice about the issue ,thanks ,the cephfs volume always existed the problem?

[2020-02-04 04:46] Madhu-1 commented on #792
@jianglingxia this is a known issue if you are using cephfs-fuse client and daemonset container is restarted/upgraded,

@jianglingxia can you please switch to kernel client till we fix this  issue in ceph-csi both for ceph-fuse and rbd-nbd

[2020-02-04 04:58] Madhu-1 commented on #812
this is asking for login which am not intrested in, can you use https://pastebin.centos.org/ to paste your logs

[2020-02-04 06:59] Henning-GitHub commented on #812
I put them here:  https://paste.centos.org/view/ccaa922c
I deleted the repeating "Probe"-calls, the logs consist mainly of those.

[2020-02-04 07:05] Madhu-1 commented on #812
@Henning-GitHub i don't see anything related to volumeCreate in logs, can you provide log from provisioner pod which is responsible for cephfs subvolume creation

[2020-02-04 07:30] Henning-GitHub commented on #812
@Madhu-1 I hope these are the right ones:
https://paste.centos.org/view/fb19a70f

[2020-02-04 07:46] Madhu-1 commented on #812
can you provide only cephfs-plugin container logs from provisioner pod also also please check

[code]
from the same container

[2020-02-04 07:58] Henning-GitHub commented on #812
@Madhu-1 Here's the csi-cephfsplugin - container log: https://paste.centos.org/view/55bf46f3

Here's the ps output from the csi-cephfsplugin container:
**[root@ceph-csi-cephfs-provisioner-797d6f9797-2ckf7 /]# ps -ef |grep ceph**
root           1       0  0 Jan29 ?        00:01:08 /usr/local/bin/cephcsi --nodeid=kansasprod8 --type=cephfs --controllerserver=true --pidlimit=-1 --metricsport=8091 --me

[2020-02-04 08:04] Madhu-1 commented on #812
you can see above  commands are  hang, is this mon IP rechable from  the container?

[2020-02-04 08:13] Henning-GitHub commented on #812
Seems it's not, I can't ping it from inside the container. I can ping it from outside the container, ie. from the kubernetes master node.

[2020-02-04 08:38] Madhu-1 commented on #812
it should  be accessible from  inside the container then only it will work

[2020-02-04 08:40] Henning-GitHub commented on #812
It's working not, I re-installed the deployment using port 3300 for the monitors (instead of port 6789) in the values.yaml:
    - clusterID: "5e529728-2a59-4615-83f8-4f551f6f1785"
      monitors:
       #- "9.123.123.123:6789"
        - "9.123.123.123:3300"

I'm sorry, I guess I should have known this. Should I close this issue?

[2020-02-04 09:07] #812 closed

[2020-02-04 13:48] humblec opened #817 "Validate "ceph licence change" against CSI repo"
We have a notice here https://www.spinics.net/lists/fedora-devel/msg265994.html about the upcoming license change of Ceph project. I would like to get your attention on the same with this issue and validate the impact on this repo due to the same.

@Madhu-1 @nixpanic @dillaman @ShyamsundarR thoughts ?

[2020-02-04 15:24] ShyamsundarR opened #818 "Support sharding the CSI volumes OMAP, to overcome large (>200k) volume counts per pool/cephfs instance"
When ceph CSI started maintaining its journal in RADOS one if the concerns raised [1] was around the scale limits of a single RADOS object (which as of this writing is ~200k keys per object).

The CSI volumes directory RADOS object, per pool, maintains a single object that contains a key per currently in-use volumes (the `csi.volumes.<InstanceID>` object). At the scale limits of keys per object, m

[2020-02-05 05:18] #420 closed

[2020-02-05 05:18] #744 closed

[2020-02-05 08:24] jianglingxia commented on #792
@Madhu-1
thanks for your reply,

but Cephfs kernel client needs a higher kernel version >=4.17 to support quota management, and for kernel to resolve bugs maybe need wait some times and kernel client maybe cannot apply to most scenarios. when the CEPH fuse plan can be solved the problem? you think that only need to modify the CEPH client code?thanks

[2020-02-05 08:30] Madhu-1 commented on #617
closing as this is fixed

[2020-02-05 08:30] #617 closed

[2020-02-06 10:25] crombus opened #820 "Rook manages PV/PVC request based on the storage capacity and availability"
# Describe the feature you'd like to have #

What new functionality do you want?
When a client requests storage by pv/pvc request, if the available rook storage is less than being requested, rook denies the request.

Rook keeps track of the storage capacity and storage availability. If a new request comes in and there's not enough storage available, rook denies the request.
# What is the value to

[2020-02-06 14:10] dillaman commented on #820
Note that Rook is not involved at the CSI level. Rook will configure the CSI and Ceph cluster, but it is not in the PVC path. Instead, it sounds like you are looking for a generic overcommit ratio to be configured by Rook in the CSI provisioner.

[2020-02-06 15:01] windayski commented on #793
In this issue, I used k8s cluster of version 1.14.3 and ceph cluster of version 12.2.11 (may be too old). So today I have another try of rbd snapshot using rook-ceph (rook 1.2, and ceph 14.2.6) and cephcsi(relase2.0.0) in a new k8s (version1.16.2) cluster, and got the same result of this issue.
 So I opened a new issue https://github.com/rook/rook/issues/4828  @Madhu-1

[2020-02-06 15:03] windayski commented on #793
I provided the detailed steps in the new issue. Please check, thank you! @Madhu-1

[2020-02-07 17:03] ShyamsundarR commented on #578
Here are the meeting updates:

1. To overcome lack of secrets for any required solution in NodeUnstageVolume request, it was proposed that we can add secrets (name/namespace data) to the `clusterID` configuration, and read/watch said kubernetes secrets.
    - This separates the secrets into their own namespaces (a requirement when different users administer the different ceph clusters), and needs

[2020-02-07 18:18] dillaman commented on #578
Depending on the speed of implementation for (3) above and the demands from users, the CSI can provide an optional k8s operator sidecar to watch for such events where a pod associated to a RWX claim is removed.

[2020-02-07 22:52] ntolia commented on #806
@humblec @Madhu-1 Will this release also include the following issues and will Ceph CSI RBD snapshots enter beta in this release?

* https://github.com/ceph/ceph-csi/issues/675 (tagged with the 2.1.0 release label)
* https://github.com/ceph/ceph-csi/pull/693 (linked from #675 but not labeled)

[2020-02-09 12:37] ShyamsundarR opened #823 "Revisit and reduce, requested RBAC rules for kubernetes deployments"
While debugging a particular setup, it was interesting to note that nodeplugins are given an RBAC that includes ability to "watch", "update" VolumeAttachments. I believe this is not required, and hence on taking a look at the RBAC, I find a few other permissions granted that are not required, for example [these](https://github.com/ceph/ceph-csi/blob/1695c6965dbae56fd04eebbe3efefa9eb227cd64/deploy/

[2020-02-09 12:48] ShyamsundarR opened #824 "Revert code added to maintain cephfs mount cache on nodes"
As functionality added by PR #282 for CephFS fuse mounts does not work as intended, from a code maintainability standpoint we should revert this commit or remove the added code.

[2020-02-09 15:52] reith commented on #793
@windayski I spend a whole day struggling with same issue and finally realized `VolumeSnapshotDataSource` feature gate is disabled. Is it your case?

[2020-02-10 04:25] windayski commented on #793
@reith Thanks for your reply. I enabled `VolumeSnapshotDataSource` feature gate for both kube-controller-manager and kubelet, it's not working. Did I miss anything else?

[2020-02-10 04:54] Madhu-1 commented on #793
you also need to add it to api-server also

[2020-02-10 06:38] Madhu-1 commented on #823
this is on my pending task list for a long time, let me try to fix it up

[2020-02-10 07:10] Madhu-1 commented on #820
we need to save this information in a centralized manner which should be accessed by different provisioner instances. if we are doing it its kind of an overcommit. we may get into the problem and also the PVC creation operation can become slow

[2020-02-10 07:38] jianglingxia commented on #824
if the #282  PR reverted ,the ceph csi driver daemonset plugin existed,caused the pod mount path transport endpoint is not connected error  problem can resolved? @ShyamsundarR
thanks

[2020-02-10 07:39] Madhu-1 commented on #824
it won't resolve any issue. this code is not working as expected am working on removing the code

[2020-02-10 08:01] jianglingxia commented on #824
@Madhu-1  really thanks, i want to know that the transport endpoint is not connected error ,the problem is cephfs-fuse client reason? not csi driver reason is right?

[2020-02-10 08:56] Madhu-1 commented on #824
@jianglingxia see https://github.com/ceph/ceph-csi/issues/703#issuecomment-557520551 for the more detailed explanation

[2020-02-10 10:01] Madhu-1 opened #826 "Encrypt each RBD devices using uniquely generated ID in ceph-csi"
# Describe the feature you'd like to have #

What new functionality do you want?

currently, ceph-csi is supported only vault based encryption to encrypt each rbd device with unique Key, only one kubernetes secret will be used for encryption which will be provided in storage-class.

# What is the value to the end user? (why is it a priority?) #
if ceph-csi can generate its own secret and use it fo

[2020-02-10 10:02] Madhu-1 commented on #826
@vasyl-purchel @ShyamsundarR @humblec @dillaman can you please add your thoughts on this one?

[2020-02-10 13:41] renhwztetecs commented on #703
If there is only one ceph-fuse daemon for a single node, there will be performance bottlenecks

[2020-02-10 13:44] vasyl-purchel commented on #826
With current setup for the encryption using kms it should be easy to add another provider to use k8s secrets.
Currently we use volumeID as a key for kms so with multiple instances accessing it should not cause problems since we create key once and then we read it for all following operations (the only potential issue is if multiple instances try to mount volume at exactly the same time so first GE

[2020-02-10 13:51] Madhu-1 commented on #826
as we support RWX PVC  we need to make sure we are not overwriting the keys if the same operations are performed from the different nodes at the same time.

[2020-02-10 14:17] dillaman commented on #826
That's not quite correct, right? The CSI supports a static per-StorageClass LUKS passphrase or a Vault-managed per-PV passphrase. Is the goal with this future to implement a Vault-like service for managing per-PV LUKS passphrases? If so, I would say that it would be better to just integrate w/ the k8s KMS service directly and not try to build your own KMS.

[2020-02-10 14:44] ShyamsundarR commented on #826
I agree with @dillaman, if the intention is to create a kubernetes secrets based KMS for per-PV encryption, we should rather integrate with existing solutions and not (re)create our own.

The RWX discussion, and multi-node update/create of the secret does need handling/testing, but not at the cost of building out a KMS (at least till we run out of options or figure out otherwise).

[2020-02-10 14:51] Madhu-1 commented on #826
Yes, that's current, it's a static secret embedded into the node-stage secret. which will be passed to the csi plugin.

@dillaman  kubernetes KMS service is something deployed outside of kubernetes like vault service?

[2020-02-10 15:08] dillaman commented on #826
Right now it's basically a framework to encrypt k8s secrets within the backend etcd db. So the method to integrate with it would be to have the CSI driver create / delete per-PV k8s Secrets.

Of course, I'm not sure what the value-add is with per-PV LUKS passphrases vs a StorageClass passphrase. Any attack vector that could be used to extract the current StorageClass passphrase could most likely b

[2020-02-11 00:48] windayski commented on #793
@Madhu-1  It works. Thanks. Close issue.

[2020-02-11 00:48] #793 closed

[2020-02-11 00:51] #734 closed

[2020-02-11 14:51] humblec commented on #806
@ntolia planning to get these in next feature based release. Unless if there is a concern from community about having features in `minor release` ( `y` release), this should be part of `2.1.0`.

[2020-02-11 15:58] #781 closed

[2020-02-11 23:45] ntolia commented on #806
Thanks @humblec. If we truly are following SemVer and not doing breaking changes (snapshots is alpha anyway and can be broken though), I think we should be good, right? Looking forward to `2.1.0`!

[2020-02-12 00:18] dillaman commented on #806
Snapshots is beta in k8s v1.17 and cloning is beta in v1.16.

[2020-02-12 04:01] ntolia commented on #806
@dillaman What I have found is that there is K8s snapshots support and then Ceph CSI snapshot support. The latter is still in alpha from what I can make out.

[2020-02-12 09:14] topikachu opened #829 "wrong nodeplugin tag version in ceph-csi-rbd chart 2.0.0"
# Describe the bug #
Wrong tag `2.0.0` in the chart
https://github.com/ceph/ceph-csi/blob/v2.0.0/charts/ceph-csi-rbd/values.yaml#L107
It should be `v2.0.0`
https://quay.io/repository/cephcsi/cephcsi?tag=latest&tab=tags
# Environment details #
- helm chart version
2.0.0
- Kubernetes cluster version
1.16
- Logs
`Failed to pull image "quay.io/cephcsi/cephcsi:2.0.0": rpc error: code = Unknown desc = E

[2020-02-12 09:15] Madhu-1 commented on #829
@topikachu this will be fixed in next release, can you please set the image tag to `v2.0.0` while installing helm charts

[2020-02-12 12:55] humblec commented on #806
Yeah, that is ( snapshot is still in `alpha`)  our escape path :) , however couple of things around it  like , having some responsibility for the code we have here, bringing or wiping all the instance of previous spec of snapshots from the code..etc need some thought. figuring out the same meanwhile,

[2020-02-12 12:56] humblec commented on #806
True, thats correct.

[2020-02-12 13:34] topikachu commented on #829
no pr. I install the plugin by a customized values.yaml.

[2020-02-12 22:51] ShyamsundarR commented on #818
For snapshot OMap directory, as there can be more snapshots per volume, we may reach the RADOS per object key limits sooner.

There was a fleeting desire to create a per parent-image-UUID named snapshot OMap directory, but that will not catch snapshot name collisions across different parent UUIDs, which is required by the CSi plugins.

For the snapshot OMap as well, we would need some form of shar

[2020-02-13 21:02] vasyl-purchel commented on #826
the only benefit I see to have per-pv passphrase is to reduce chance of attack on this passphrase - i.e. guess it if you have a lot of pvs created from storage class and got access to the volumes itself.

re-encryption is something that is definitely need to be tackled, if there are any examples done in other providers - I'd like to take a look, but don't know when we'll get time to work on it.

c

[2020-02-13 21:03] ShyamsundarR commented on #823
Once RBAC is updated as per PR #827, prior to the next release we would need to,
- Rename (or merge the contents of) the dangling rbac files
- Update e2e/scripts/docs where the above files are referred to
- Add required upgrade documentation/steps to cover the RBAC change if any

[2020-02-16 14:38] gaoguangze111 opened #831 "How is cephfs's quota set in ceph-csi?"
# Describe the bug #

In ceph-csi\pkg\cephfs\volume.go, there is the function 'createVolume' which is used to expand cephfs volume:

[code]

It uses 'ceph fs subvolume' to expand volume, but in cephfs doc it uses the following command to expand quota (link: http://docs.ceph.org.cn/cephfs/quota/):
[code]

Is this a bug?
# Environment details #

[code]

[2020-02-16 14:49] humblec commented on #831
/assign @joscollin

[2020-02-17 11:26] nixpanic commented on #449
@humblec, @Madhu-1 while implementing volume delete with go-ceph, there is a need to check for watchers of the image. This is only possible with librbd from Nautilus and newer. Is it acceptible to move the dependency of the Ceph version to Nautilus (currently older versions are used with Travis CI).

[2020-02-17 11:47] Madhu-1 commented on #449
cc @dillaman

[2020-02-17 12:56] humblec commented on #449
I am not sure I get it correct,  we do support nautilus.  @nixpanic  Is it just about changing the travis  CI ?

[2020-02-17 12:56] humblec commented on #449
Lets also hear from @dillaman about removal of watchers.

[2020-02-17 16:55] nixpanic commented on #449
Older version of Ceph's librbd do not support fetching the watchers on an image. That has been introduced with Mimic (not Nautilus as mentioned in earlier comments). The `rbd` command in Luminous can get the watchers, but it uses some internal Ceph functions that are not exposed in public libraries.

So, the question is: does Ceph-CSI want to keep support for older Ceph versions (Luminous), or can

[2020-02-18 02:23] joscollin commented on #831
@gaoguangze111 It's not a bug. This is the correct doc for the subvolume create: https://docs.ceph.com/docs/nautilus/cephfs/fs-volumes/#fs-subvolumes. The doubt comes because `ceph-csi\pkg\cephfs\volume.go` uses an old mgr/volume interface (fs subvolume create) for setting/unsetting the quota.

[2020-02-18 12:34] #407 closed

[2020-02-18 17:29] Scronkfinkle opened #834 "Unable to deploy rbd plugin containers: missing "ceph-csi-encryption-kms-config" configmap"
# Describe the bug #
While following the installation instructions here: https://docs.ceph.com/docs/master/rbd/rbd-kubernetes/

After running the deployments `csi-rbdplugin.yaml` and `csi-rbdplugin-provisioner.yaml`, my containers get stuck in the "ContainerCreating" state and cannot progress.
[code]

Inspecting the pods with `kubectl describe` yields the following event log
[code]
# Environment d

[2020-02-18 17:44] ShyamsundarR commented on #834
Master branch has one additional config map that it uses for encryption details. Request that you create the following config map in addition for your deployment to work,
- https://github.com/ceph/ceph-csi/blob/master/examples/kms/vault/kms-config.yaml

Also the content of the config map should be empty, delete these lines, https://github.com/ceph/ceph-csi/blob/8163552b814b3acd2ac2143ffe097a389d0d

[2020-02-18 17:51] Scronkfinkle commented on #834
That fixed it, thank you!

[2020-02-18 17:51] #834 closed

[2020-02-19 03:13] jianglingxia opened #836 "when cephfsplugin existed restart pod report mount: file exists"
# Describe the bug #
the pod used cephfs volume running,when the daemonset csiplugin exist, then the pod mountpath maybe error: Transport endpoint is not connected.must restart the pod can recover,
but when restart the pod container the pod RunContainerError report `Error response from daemon: mkdir /paasdata/docker/pods/d3f5ba19-52c5-11ea-9d2e-744aa4028226/volumes/kubernetes.io~csi/pvc-491214f2-5

[2020-02-19 03:14] jianglingxia commented on #836
@Madhu-1
really thanks

[2020-02-20 02:10] yuchunyun opened #837 "ceph fs subvolumegroup create myfs csi hangs"
# Describe the bug #
command `ceph fs subvolumegroup create myfs csi` will hangs。This causes the creation of the PVC to fail

# Environment details #

- Image/version of Ceph CSI driver
[code]
- helm chart version
- Kubernetes cluster version
`1.17.2`
- Logs
csi-provisioner
[code]
csi-cephfsplugin
[code]
# Steps to reproduce #

Steps to reproduce the behavior:

I manually executed commands `ceph f

[2020-02-20 02:12] yuchunyun commented on #837
@Madhu-1
@pohly
@zmc
@clkao @kshlm
Can anyone help me
thanks

[2020-02-20 02:13] yuchunyun commented on #837
my ceph cluster is healthy
[code]

[2020-02-20 03:11] Madhu-1 commented on #837
cc @joscollin

[2020-02-20 03:36] joscollin commented on #837
@yuchunyun Could you please provide the ceph mgr logs to check?

[2020-02-20 03:47] yuchunyun commented on #837
[code]
Please ignore the time in the log

[2020-02-20 04:14] joscollin commented on #837
@yuchunyun And what is your analysis from those logs? What does it reveal to you?

[2020-02-20 04:18] yuchunyun commented on #837
@joscollin
I can't see an exception from the log。
Only know that mgr has received the request, but where is the result?

[2020-02-20 04:24] yuchunyun commented on #837
@joscollin
the auth for mgr is:
[code]

[2020-02-20 05:40] jianglingxia commented on #836
why plugin restart then the csi driver only remount one volume ?the code bug is :
func (nc *NodeCache) ForAll(pattern string, destObj interface{}, f ForAllFunc) error {
	err := nc.EnsureCacheDirectory(nc.CacheDir)
	if err != nil {
		return errors.Wrap(err, "node-cache: couldn't ensure cache directory exists")
	}
	files, err := ioutil.ReadDir(path.Join(nc.BasePath, nc.CacheDir))
	if err != nil {

[2020-02-20 05:52] yuchunyun commented on #837
@joscollin
I have increased the permissions for mgr, but its log is still the same
[code]

[2020-02-20 06:13] joscollin commented on #837
@yuchunyun Try to find what does the log says about the command `ceph fs subvolumegroup create myfs csi`. Is the subvolumegroup created in the volume?

[2020-02-20 06:16] yuchunyun commented on #837
There is nothing else in the  log. `ceph fs volume ls` or `ceph fs subvolumegroup ls myfs` will now become stuck

[2020-02-20 09:45] joscollin commented on #837
What is the output of `ceph fs status`?

[2020-02-20 09:54] yuchunyun commented on #837
[code]

[2020-02-20 09:58] yuchunyun commented on #837
@joscollin
After I redeployed the ceph cluster, I was able to execute the `ceph fs status  ` command normally, but as soon as I executed `ceph fs subvolumegroup create myfs csi`, I would get stuck executing `ceph fs status` or `ceph fs volume ls`

[2020-02-20 11:33] joscollin commented on #837
@yuchunyun Can you upgrade to the latest ceph 14.2.7 and see if the problem persist?

[2020-02-20 13:20] yuchunyun commented on #837
I've been upgraded, but the problem is still there
[code]
`ceph fs subvolumegroup create myfs csi` stuck

[2020-02-20 17:07] batrick commented on #837
@yuchunyun please increase debugging on the mgr, retry, then post the logs.

[code]

[2020-02-20 20:00] simonpie commented on #798
So, are there any plans to implement this ?

[2020-02-21 04:05] joscollin commented on #837
@batrick I think it is 20/20 by default. Anyway @yuchunyun you could check it `get`

[2020-02-21 05:06] yuchunyun commented on #837
@joscollin  @batrick
I turn on debug and execute the command again
[code]

However, I have good news. After I rebooted all nodes，redeploy ceph clusters and csi using containers, everything was back to normal.
My nodes used k8s1.13 before, but problems occurred after upgrading k8s1.17. After I restarted the nodes, the problem was resolved. I'm not sure if it's the k8s problem，why does it affect cep

[2020-02-21 05:28] joscollin commented on #837
@yuchunyun You had a ceph upgrade, so you needed to restart the daemons. Good to know that the issue is resolved.

[2020-02-21 05:34] yuchunyun commented on #837
@joscollin
thanks.
my ceph cluster is deployed in containers. I didn't understand why the k8s upgrade would affect the new ceph cluster (I didn't use the previous ceph, but redeployed one), so I restarted the physical machine and redeployed the ceph cluster in containers. And I still use ceph v14.2.4

[2020-02-21 18:10] mr-yaky opened #838 "Unable to use mounter with kernel module for cephfs"
Hi all,

I tried to use kernel module option for mounting cephfs to get better read/write performance. I used following `StorageClass`:
[code]

But after provisioning PV and attaching to the pod I can see that it still uses ceph-fuse somehow:

[code]
At the beginning I have started with ceph-fuse but then decided switch to kernel module. So, I did following:
- removed all testing POD and PVC which

[2020-02-22 18:58] mehdy commented on #798
If no one's going to implement it. I'd be glad to do it.

@Madhu-1 Should I start working on it?

[2020-02-22 19:04] clwluvw commented on #798
@mehdy I can help you with it, too if you want :)))

[2020-02-23 03:26] simonpie commented on #798
We can help in testing the solution.

[2020-02-23 04:05] Madhu-1 commented on #798
@mehdy yes please go ahead

[2020-02-23 12:48] ShyamsundarR opened #839 "Interrupted VolumeCreate gRPC to CephFS backed volumes, may cause missing backing subvolumes"
If a CreateVolume call is interrupted, post creating the required CSI journal entries, but prior to creating the backing CephFS subvolume, then a subsequent CreateVolume call will return a valid response with a VolumeID that has it's backing image missing.

This is because the code does not check for subvolume existence (like in the case for RBD) prior to responding that a volume creation was succ

[2020-02-23 12:56] ShyamsundarR commented on #839
For now, checking for subvolume presence in [this](https://github.com/ceph/ceph-csi/blob/8163552b814b3acd2ac2143ffe097a389d0d3220/pkg/cephfs/fsjournal.go#L69-L71) function using the following cephfs CLI should provide the required defense against such invalid CreateVolume successes,

`ceph fs subvolume getpath <vol_name> <subvol_name> [--group_name <subvol_group_name>]`

[2020-02-24 04:46] Madhu-1 commented on #838
@mr-yaky what is the kernel version? If the kernel version is less than 4.17 the kernel mounter will be disabled by default. If you want to use kernel mounter even if the kernel version is less than 4.17 you need to set  `forcecephkernelclient`  in daemonset template https://github.com/ceph/ceph-csi/blob/master/deploy/cephfs/kubernetes/csi-cephfsplugin.yaml#L63. more info at https://github.com/cep

[2020-02-24 06:55] yydzhou opened #841 "supporting specify DFS path in creating dynamic cephfs PVC."
Currently, pv or volume path in DFS (cephfs in this case) is automatically created during the PV and volume creation. However, this design/implementation prevents from creating a volume on an existing/specified path to accessing any existing data.

This feature is actually very useful in real environment.
1. To create a PV to share existing data.
2. To easily save and reuse the data generated/save

[2020-02-24 12:34] mr-yaky commented on #838
Hi @Madhu-1,
Yes, I use CentOS 7 with standard kernel version which less than 4.17, you are right.
Ok, understood. I'll try with this fix in daemonset template.

Thank you.

[2020-02-25 05:03] #487 closed

[2020-02-25 05:07] Madhu-1 commented on #838
closing this one based on the above confirmation.

[2020-02-25 05:07] #838 closed

[2020-02-25 05:12] Madhu-1 commented on #836
the code you posted above is only to cache volume metadata, that too to support legacy volumes, not new volumes.

please update the issue with reproducer steps, we can check what's wrong,

[2020-02-25 05:29] Madhu-1 commented on #837
@yuchunyun as this is nothing to do with ceph-csi, closing this one now. as this is more specific to the ceph cluster, if required we can open one in ceph?

[2020-02-25 05:29] #837 closed

[2020-02-25 05:31] Madhu-1 commented on #824
closing this one as #825 is merged

[2020-02-25 05:31] #824 closed

[2020-02-25 05:38] Madhu-1 commented on #831
am closing this one as not a bug since we are using ceph fs subvolume commands. please feel free to reopen if there is a bug in code

[2020-02-25 05:38] #831 closed

[2020-02-25 05:40] Madhu-1 commented on #803
@shayrybak still are you facing this issue, if yes can you provide provisioner logs. if the commands hang means there is a communication problem between the plugin-container in the provisioner pod and the ceph cluster.

[2020-02-25 05:41] Madhu-1 commented on #798
@mehdy assigned this issue to you.

[2020-02-25 05:48] Madhu-1 commented on #780
with https://github.com/kubernetes-csi/external-provisioner/pull/399 in external-provsioner, kubernetes is passing the PVC name and namespace to the csi driver

[2020-02-25 05:49] Madhu-1 commented on #778
@jianglingxia please add steps to reproduce this issue

[2020-02-25 05:51] jianglingxia commented on #836
the code you posted above is only to cache volume metadata, that too to support legacy volumes, not new volumes.
--> yes,but only remount one volume,i think the code maybe wants to remounted all volume that pod used in the minion,if this when csiplugin restarted,the minion stagepath can auto recover,only need restart pod can resolved the pod used the mountpath,thanks

[2020-02-25 05:57] Madhu-1 commented on #836
metadatastorage is nothing to do with mounting and unmounting the volumes, it was used to store the volume information either in configmap or on node in json file (which may be required to check volume exists) this is also supported only for v1.0.0 images, not for new images, currently we are storing image metadata on rados.

[2020-02-25 06:03] Madhu-1 commented on #841
@yydzhou how this is different from static PV support https://github.com/ceph/ceph-csi/issues/669

for me both are the same, in that case, let me know can we close this one?

[2020-02-25 06:05] jianglingxia commented on #778
1）reboot the minion
[root@paas-controller-172-20-0-2:/home/ubuntu]$ reboot
systemdctrl halt down for system reboot, 0x01
Connection to 172.20.0.2 closed by remote host.
Connection to 172.20.0.2 closed.

2)pod in minion 172.20.0.2 then rescheadul to 172.20.0.4
kubectl get nodes

172.20.0.2   NotReady    <none>   71d   v1.13.6
172.20.0.3   Ready    <none>   71d   v1.13.6
172.20.0.4   Ready    <none>

[2020-02-25 06:10] Madhu-1 commented on #778
Yes, https://github.com/ceph/ceph-csi/pull/282 is buggy and removed in the master branch.

[2020-02-25 06:36] yydzhou commented on #841
Hi @Madhu-1 The static pv works. But it needs more manual work. I can still see a couple of benefits if this is supported within the dynamic manner.
    1. the path prefix needs to be supported in storageclass in this case. The static pv, however, does not has a simply way to enforce user to setup path prefix. User can get full access to the cephfs once they have the info of setup the static pv, w

[2020-02-25 07:14] Madhu-1 commented on #841
cc @joscollin @ShyamsundarR

[2020-02-25 08:55] skoef opened #843 "support webhooks for callbacks to existing backends"
# Describe the feature you'd like to have #

The ceph clusters I'm running are managed by backend systems we've developed in-house. While I'm perfectly fine by ceph-csi plugin creating and deleting images, I do like to be able to keep track of them in my backend and I can imagine so do others. This way my backend can account for them in terms of billing, provisioning, backing up, keeping quota, st

[2020-02-25 09:09] mehdy commented on #798
@Madhu-1 Good. Thanks.

[2020-02-25 11:46] #839 closed

[2020-02-25 11:58] mykaul commented on #449
I think we should move on.

[2020-02-25 12:02] Madhu-1 commented on #449
@nixpanic as discussed we want to support Mimic+ version in ceph-csi, ceph-csi support matrix is here https://github.com/ceph/ceph-csi#ceph-csi-features-and-available-versions

[2020-02-25 12:48] mr-yaky commented on #838
Yes, it works. I just updated to v1.2.2 version because on v1.2.1 it doesn't has the `forcecephkernelclient` option.

[2020-02-25 16:42] shayrybak commented on #803
Hi @Madhu-1 , Yes we weren't able to get through the issue, the provisioner logs are attached in the description above, there were no other logs in the provisioner/rbd plugin that had any other details even after setting the verbosity higher.

for connectivity. I can reach the monitors from the pod. tested from the liveness-prometheus container, as it has shell access.

[2020-02-25 16:52] Madhu-1 commented on #803
You need to make sure no rbd,rados,ceph commands are in hang State in rbd-plugin container in provisioner pod

[2020-02-25 21:09] skoef commented on #843
Come to think of it, structs like `CreateVolumeResponse` carry no relevant RBD related data at all so these CSI responses are completely uninterested to pass over a webhook. I did create a [PoC](https://github.com/ceph/ceph-csi/commit/4c9b9c9b7d64e37c5233bfda6ae6791f5f750f83) that POSTs `rbdVolume` or `volumeOptions` data, for RBD or CephFS respectively, to a webhook.

[2020-02-26 19:06] mykaul commented on #843
I hope it's not going to slow down the PV creation/deletion performance, which is really important for some use cases. I'd imagine there are other ways to get that information. The alternative approach makes more sense to me.

[2020-02-27 10:39] Madhu-1 commented on #843
instead of plumbing this into csi driver how about deploying a proxy between csi-provisioner and csi-plugin. as you will get enough information, the proxy sidecar can do things for you. you just need to  deploy one more contrainer and share the socketfile

[2020-02-27 10:42] skoef commented on #843
The thing is, my backend only cares about Ceph images, not about CSI requests. In the csi-plugin, CSI requests are translated to images and volumes, based on the information in the omap. In order to have some usable data about the Ceph images backing the PVs that CSI cares about, I'd have to do the exact same translation that is already happening in the csi-plugin, so it seems a bit of a waste to

[2020-02-28 08:46] invent-lwj opened #846 "[Bug] discard is no effect for rbd csi"
version: ceph-csi 2.0
Openshift 4.2
Description:
I create ceph rbd storage class with `discard` mount option and `Delete` reclaimPolicy, but when i delete some file from mount path, then run rbd du <RBD_IMAGE>, it doesn't reclaim any little.
This is my storage class:
[code]
Morever i don't found `discard` option on mounted path
[code]

[2020-02-28 09:31] Madhu-1 commented on #846
please check the option on node publish path it's not visible please let us know

[2020-02-29 01:46] invent-lwj commented on #846
I really don't found `discard` option on worker node, my ceph version is 14.2.2. Thanks!
This is worker nodes and pvc type
[code]
This worker node mount option:
[code]
[code]

[2020-02-29 12:49] dillaman commented on #676
This requires k8s CSI external-provisioner PR https://github.com/kubernetes-csi/external-provisioner/pull/399

[2020-02-29 12:51] dillaman commented on #676
We want to support the new Ceph Octopus snapshot-based mirroring, so the storage class's "mirroring" attribute should really be an enum of "disabled" (default), "journal", or "snapshot". The snapshot-based mirroring should be functional with the existing krbd driver. The journal-based mirroring mode requires rbd-nbd, but that is not yet production ready since we have no upgrade path for it.

[2020-02-29 14:00] ShyamsundarR opened #847 "Add periodic logs for CLI/commands that hang during execution, to aid better troubleshooting"
There are times when invoked CLIs do not return in time, or at all. Usually this is due to  incorrectly configured or unreachable MONs, or at times due to sending a command to an unhealthy Ceph cluster.

The logs for such instances, need to be investigated to determine which CLI may have failed, looking at other logs for the gRPC request that have been written.

It would be better if every CLI or

[2020-03-02 06:17] invent-lwj commented on #846
@Madhu-1 any update?

[2020-03-02 08:36] Madhu-1 commented on #846
@invent-lwj sent a patch to fix this issue

[2020-03-02 09:42] innobead opened #849 "Request snapshot support from alpha to beta"
From Kubernetes 1.17, CSI snpahostter has already graduated from alpha to beta. Please help make ceph-csi snapshot support from alpha to beta to align with the K8s CSI maturity that can prompt CSI adoption in other orchestration solutions (ex: mesos, nomad, .., etc) as well.

Current README.
[code]

Ref: https://kubernetes-csi.github.io/docs/snapshot-restore-feature.html
[code]

[2020-03-03 08:33] Madhu-1 opened #851 "Handle internal server error and log the exact error message in vault encryption"
in the current code https://github.com/ceph/ceph-csi/blob/master/pkg/util/vault.go#L288 the error code is not handled properly and also we need to check missing error scenarios in vault.go code

[2020-03-04 06:05] Madhu-1 opened #852 "Refractor codebase"
currently, it's difficult to write a Unit testing for the current code base, if we move all cephfs and rbd and rados function to a new interface and methods it will allow us to mock the things are helping us to write the unit testing for the current codebase

the functions which can be moved to the different interfaces  and to seperate files also example
[code]

[2020-03-04 06:53] humblec commented on #411
@joscollin can you confirm, it is possible to clone a volume from Snapshot is available in cephfs release ?  if yes, which version of cephfs release has it ? Also, do we have the functionality to create a clone a volume from another volume ?

[2020-03-04 06:55] humblec commented on #701
@joscollin can you update whats the current state of this functionality support ? to make it clear, are we able to clone from volume to volume ?

[2020-03-04 08:23] humblec commented on #806
[Release call update]
There is a GA date change or slip of 2 weeks to accommodate couple of important features or bug fixes.  We are also planning to release `v2.0.1` in between.

[2020-03-04 08:34] joscollin commented on #411
@humblec The status of cloning is updated every week in the CSI standup. Follow the [CSI Status doc](https://docs.google.com/document/d/14Iu5yYwdgywRFLyOJmrZivEHttj4pGzV3uF_lWLkBDw/edit)  to know the status.

Nautilus release status: https://ceph.io/releases/v14-2-8-nautilus-released, which has _clone  volume from the Snapshot_.

[2020-03-04 08:36] joscollin commented on #701
No, it is not possible now.

[2020-03-06 14:59] phlogistonjohn commented on #847
I should note that in principle this can apply to either command line based actions or in-process actions via function calls. The trick will be figuring out what kind of layering and granularity you want.

[2020-03-11 13:49] Madhu-1 opened #854 "Migrate from dep to go modules"
Migrate from dep to go modules for  package management

[2020-03-12 05:09] Madhu-1 opened #855 "Release v2.0.1 of Ceph CSI driver"
- [x] **Define release process**
  - Release doc would be a good start
- [x] **Define release deadlines**
  - GA : 16-Mar-2020

- [x] **Define/list roadmap for v2.0.1**
  - Proposed contents for v.2.0.1 release

  - [x] Bug fixes
     https://github.com/ceph/ceph-csi/pull/848
     https://github.com/ceph/ceph-csi/pull/840
     https://github.com/ceph/ceph-csi/pull/835
     https://github.com/ceph/

[2020-03-12 09:48] Madhu-1 commented on #847
will this make sense after migrating to go-ceph bindings?

[2020-03-12 10:01] Madhu-1 commented on #72
PVC name can be passed to CSI driver from external-provisioner https://github.com/kubernetes-csi/external-provisioner/pull/399, this can be easily done I believe, we need to decide to add it to metadata or store the pvcname-backend image mapping in omap.

[2020-03-12 11:48] xuxihao commented on #642
Is the fuse-client process started in the nodeplugin or on the host machine? If it is in a nodeplugin, does it mean that each mount will start a fuse client , and the number of mounts is proportional to the memory costs. Will the fuse-client be killed when oom？

[2020-03-12 13:01] nixpanic opened #856 "Cross-compiling does not work with cgo, breaks deploy.sh pushing different architectures"
# Describe the bug #

The Travis CI configuration runs `deploy.sh` once changes are merged into master. This script builds and pushes new container images to a registry.

When go-ceph is used, cgo is needed to compile the executable(s). Cross-compiling with cgo is not supported, so `deploy.sh` fails to compile arm64 executables.

# Possible Solutions #

a. There might need to be multiple `deploy`

[2020-03-13 04:42] Madhu-1 commented on #403
This is already fixed

[2020-03-13 04:42] #403 closed

[2020-03-13 04:43] #362 closed

[2020-03-13 04:46] Madhu-1 opened #857 "run E2E in multinode kubernetes cluster"
This really helps us in testing RWO, RWX behavior and topology-based provisioning and other features that cannot be tested in single node cluster.

[2020-03-13 04:48] Madhu-1 commented on #857
as a prereq, we need to identify the infra where we can run this

CC @nixpanic

[2020-03-13 06:53] Madhu-1 commented on #559
Adding here for reference.  a comment by @ShyamsundarR on https://github.com/ceph/ceph-csi/pull/760/files#r368081823

The changes to the StorageClass as specified in #559 will not work, as the StorageClass parameters are of type map[string]string. Thus passing a more complex structure in here will not work (thanks to @JohnStrunk for pointing it out).

Instead a single key:value pair is proposed as

[2020-03-13 14:33] #846 closed

[2020-03-13 14:45] nextsux opened #858 "Removed PVs are not deleted from RBD"
RBD images are not deleted from CEPH after PV is deleted.

A clear and concise description of what the bug is.

# Environment details #

- image used: quay.io/cephcsi/cephcsi:v2.0.0
- kubernetes: v1.17.3
- csi-rbdplugin logs:
[code]

# Steps to reproduce #

Steps to reproduce the behavior:

1. Setup details: deploy ceph CSI as described on https://docs.ceph.com/docs/master/rbd/rbd-kubernetes/
2. c

[2020-03-13 14:47] nextsux commented on #858
Link to source code got lost:
https://github.com/ceph/ceph-csi/blob/master/pkg/rbd/rbd_util.go#L239

[2020-03-13 23:52] ShyamsundarR commented on #847
It would be helpful eitherway, BUT as the move to go-ceph bindings is so close, it can be picked up post the same IMO.

[2020-03-14 00:14] whymatter opened #859 "NodeStageVolume fails if xfs_repairs returns error after cluster reboot"
# Describe the bug #

When there are _"valuable metadata changes in a log which needs to be replayed_" pod creation fails. (See log)

The reason this is a bug and not a feature for me is that this happens after a sudden cluster reboot.

# Environment details #

### Kubernetes Version:
[code]

### Image/version of Ceph CSI driver
`quay.io/cephcsi/cephcsi:v2.0.0`

Deployed using rook.io

### Logs
[c

[2020-03-16 04:51] Madhu-1 commented on #858
@nextsux in the above logs I see that there is no issue in ceph-csi when deleting the volume.
can you please tell us that which ceph version you are using?

[2020-03-16 05:58] Madhu-1 commented on #856
This is a blocker for next release-v2.0.1 also, we need to find a way to fix this one

[2020-03-16 07:59] Madhu-1 commented on #856
Adding logs for reference when i tried locally
[code]

[2020-03-16 08:18] nextsux commented on #858
@Madhu-1
[code]

[2020-03-16 08:22] Madhu-1 commented on #858
@nextsux i will look into it. lets see i can reproduce it.

[2020-03-16 15:12] nixpanic opened #863 "RBD image deletion fallback when CephMgr fails to create a task"
# Describe the feature you'd like to have #

Should there be a fallback when deleting an RBD image in the background with CephMgr fails?
If so, are there specific errors that should not have this behaviour?

# What is the value to the end user? (why is it a priority?) #

In case CephMgr is (temporary) not available, deletion would still work without the provisioner having to retry the full operati

[2020-03-16 15:56] dillaman commented on #863
The MGR is (generally) installed as an HA service, so I would hope any issues would be transient. That said, since there already exists a code path to revert to an inline "rbd rm" if the tasks are not supported, I wouldn't be against this proposal.

[2020-03-17 04:23] Madhu-1 commented on #856
removing this as a blocker from v2.0.1 as go-ceph is not backported to v2.0.0 branch

[2020-03-17 07:53] humblec opened #865 "Release v3.0.0 of Ceph CSI driver"
- [x] **Define release process**
  - Release doc would be a good start
- [x] **Define release deadlines**
  - Code Freeze : 18-Jul-2020
  - RC : 23-Jul-2020
  - GA : 29-Jul-2020
- [x] **Define/list roadmap for v3.0.0**
  - Proposed contents for v3.0.0 release
  - The release blockers (issues/PRs) are attached to [the `release-3.0.0` milestone](https://github.com/ceph/ceph-csi/milestone/3)

  - [x]

[2020-03-17 07:55] nixpanic commented on #863
/cc @Madhu-1 @ShyamsundarR ?

[2020-03-17 08:05] humblec commented on #806
[Release call update]
The final decision here is to release `v2.1.0` as planned with bug fixes/enhancements ..etc and defer couple of features ( snap/clone) from this release to `v3.0.0` as we are currently revalidating the design/implementation of those features in depth to support some more use cases which have to be supported in near future.

[2020-03-17 10:44] #854 closed

[2020-03-17 12:29] ShyamsundarR commented on #863
The CO (k8s) attempts retries on deletion failures, this would in turn retry in a typically exponential back-off manner.

Inline image deletion takes time proportional to the size of the image, which is where the MGR task was added/used to do this out of band.

So if the manager task is facing transient errors I would recommend we retry based on the next delete request, than use in-line deletion,

[2020-03-17 13:47] hoytk commented on #806
@Mandu-1 @humblec Does this mean that 2.1.0 will not be able to create/delete RBD snapshots at all?
Per the struck out list above, looks like there will not be any snapshot support...  Obviously need to know to evaluate the impact to my project.

[2020-03-17 15:58] ntolia commented on #806
What is the timeline for v3.0.0? And, given the previous slips, is there a risk that these features might not show up in 3.0 too? I understand this is a complex feature and just trying to get a timeline estimate to plan better on our side.

[2020-03-18 04:24] Madhu-1 commented on #806
LGTM

[2020-03-18 04:25] Madhu-1 commented on #806
as more info about 3.0.0 is here https://github.com/ceph/ceph-csi/issues/865

[2020-03-18 14:32] revog commented on #859
Can confirm this issue. Simple "rbd map" and a "mount -t xfs .." and unmap/unmount afterwards seems to replay the log and fixes the issue.

Currently I'm not really sure after what action (pod recreation etc.) this error occurs.

[2020-03-18 16:26] lwj5 commented on #806
Will CephFS be going beta as planned?

[2020-03-19 04:35] cxhuawei opened #872 "make test failed"
# Describe the bug #

 I pull the code of master branch, when I run 'make test', it failed with err logs

# Environment details #

system: macos

# Steps to reproduce #

Steps to reproduce the behavior:

1、go get -d github.com/ceph/ceph-csi
2、make test

# Actual results #

# github.com/ceph/go-ceph/rados
../../../../pkg/mod/github.com/ceph/go-ceph@v0.2.0/rados/conn.go:5:11: fatal error: 'rados/lib

[2020-03-19 04:47] Madhu-1 commented on #872
@nixpanic can you please update development documentation related to this?

[2020-03-19 07:57] cxhuawei commented on #72
I think it is fine to store it in metadata. What is the pros by storing in omap ?  @Madhu-1

[2020-03-19 08:02] peacocktrain commented on #855
I need pr #840. Is there an image available in this version

[2020-03-19 08:12] nixpanic opened #873 "Travis CI fails because it enables amd64 repository on arm64"
When installing additional addons through `.travis.yml`, the standard repositories as configured by Travis are used. However, there is an issue in the Ubuntu Xenial environment for arm64; it refers to a amd64 repository and fails updating/installing packages.

`.travis.yml` addon installation:
[code]

Execution in Travis CI logs:
[code]

This has been [reported in the Travis Commnity Forum](https:

[2020-03-19 08:17] Madhu-1 commented on #855
@peacocktrain we are about to do a v2.0.1 release today, we are facing some issue in Travis CI.
if you want to right now you can use `v2.0.0-canary` image

[2020-03-19 08:19] peacocktrain commented on #855
thank you

[2020-03-19 08:29] peacocktrain commented on #855
@Madhu-1 but quay.io/cephcsi/cephcsi:v2.0.0-canary is not fount...

[2020-03-19 08:32] Madhu-1 commented on #855
sorry tag is `v2.0-canary`

[2020-03-19 09:00] cxhuawei commented on #795
Is it means replace all klog.Infof with klog.V(x) ?

[2020-03-19 09:03] Madhu-1 commented on #795
Need to check above doc and make sure we are doing logging properly

[2020-03-19 13:20] nixpanic commented on #872
@cxhuawei can you make sure to install the Ceph development headers? Packages are called like `librbd-devel`, `libcephfs-devel` on Fedora. Other Linux distributions may have different names.

[2020-03-19 17:32] Madhu-1 commented on #855
the release is out and notes are available   at https://github.com/ceph/ceph-csi/releases/tag/v2.0.1

[2020-03-19 17:32] #855 closed

[2020-03-19 17:32] Madhu-1 commented on #829
fixed in https://github.com/ceph/ceph-csi/pull/869

[2020-03-19 17:32] #829 closed

[2020-03-19 17:42] ShyamsundarR commented on #72
We also have the use case of [RBD-Mirroring](https://github.com/ceph/ceph-csi/issues/676) and would need a similar manner to do this for CephFS subvolumes.

Currently we are thinking along the lines of naming the image with the required [`pvcname-namespace-<uuid>`](https://github.com/ceph/ceph-csi/pull/853) or similar constructs. Leveraging image metadata, would mean leveraging xattrs for subvolum

[2020-03-19 17:50] #872 closed

[2020-03-19 20:26] whymatter commented on #859
I believe this is not an error in the csi code. The `xfs_repair` command is executed here https://github.com/kubernetes/utils/blob/d1ab8797c55812f4fefe2c7b00a0d04a4740a93c/mount/mount_linux.go#L416.

[2020-03-19 20:27] whymatter commented on #859
https://github.com/kubernetes/utils/issues/141

[2020-03-20 06:00] cxhuawei commented on #795
ok I would like to work on it as my first issue. : )

[2020-03-20 06:10] Madhu-1 commented on #795
assigned this one to you, Thank you :+1:

[2020-03-20 07:09] jianglingxia opened #880 "when used rbd volume the type rbd-nbd better or kernel rbd better?"
# Describe the bug #
the csi driver support the rbd-nbd and kernel rbd，the rbd-nbd mount has the problem: the client mount will be disturbed ( same as fuse deamon) if node plugin is restarted.
expect the problem，have some any other problem? and use rbd-nbd better or kernel rbd better?
thanks
A clear and concise description of what the bug is.

# Environment details #

- Image/version of Ceph CSI d

[2020-03-20 07:12] jianglingxia commented on #880
@humblec   @Madhu-1
thanks

[2020-03-20 07:14] Madhu-1 opened #881 "Add support for CSI metrics kubernetes sidecar is exposing"
currently, in ceph-csi we are exposing the GRPC metrics, now Kubernetes sidecar is providing an option to expose the GRPC metrics from each sidecar container. we should drop the current support of exposing our own metrics  and start supporting the sidecar metrics

[2020-03-20 07:22] jianglingxia commented on #880
the commuity will plan which mount type in the future?

[2020-03-20 07:23] Madhu-1 commented on #880
This is not a ceph-csi specific question I would suggest you connect to ceph mailing list https://ceph.io/irc/

we currently have an issue with NBD when the driver container as it loses all the mounts

in ceph-csi, we have plan to support both krbd and nbd

cc @dillaman

[2020-03-20 07:23] #880 closed

[2020-03-20 07:30] Madhu-1 opened #882 "Remove support for PVC created by v1.0.0 CSI driver"
currently, we have support for the mounting and deleting the PVC created by v1.0.0 CSI driver. we need to drop the support for the same.

we are yet to decide in which release we are deprecating and removing it

[2020-03-20 10:16] #723 closed

[2020-03-20 12:01] #873 closed

[2020-03-22 23:10] Born2Bake opened #884 "csi-snapshotter is failing using deploy sh script ; helm - /run/mount error"
# Describe the bug #
Following examples readme document, deploying csi-rbd-plugin its failing cause of csi-snapshotter is crashed. If using helm, I got /run/mount error.
# Environment details #

- Image/version of Ceph CSI driver: 2.0.1
- helm chart version: v3.0.0
- Kubernetes cluster version: Rancher v1.17
- Logs
plugin-deploy.sh:

`E0322 23:05:46.444030 1 leaderelection.go:330] error retrieving

[2020-03-23 02:52] chenxu1990 commented on #872
Packages are called `librados2-devel` and `librbd1-devel` on CentOS 7 , but I have not found packages on macos : )

[2020-03-23 04:40] Madhu-1 commented on #884
we have not tested with helm v3.0.0, can you please use helm v2.x and try it out>

[2020-03-23 08:13] nixpanic commented on #872
On Sun, Mar 22, 2020 at 07:52:58PM -0700, chenxu wrote:

It will only be possible to build on MacOS if the Ceph client libraries
are available for the OS. I do not have any experience with MacOS, but I
could not find any references that they exist...

If it is possible to run Linux containers on MacOS, it should be
possible to have the build done inside a container. That is planned to
get done thr

[2020-03-23 11:59] Born2Bake commented on #884
It worked well with helm 3; I just needed to use master branch cloned locally instead of using helm pack. Issue: https://github.com/ceph/ceph-csi/blob/v2.0.1/charts/ceph-csi-rbd/templates/nodeplugin-daemonset.yaml#L115

[2020-03-23 12:05] Madhu-1 commented on #884
Correct I got the issue, will fix it soon

[2020-03-24 08:05] nixpanic opened #890 "Add a 'make containerized-test' target to run tests in a container"
# Describe the feature you'd like to have #

Make is possible to run `make containerized-test` on developers systems, so that there is no need to install all the test tools. The tools would be provided in a container that is built the 1st time the tests are run (and updated when needed).

# What is the value to the end user? (why is it a priority?) #

It will be easier for developers to run the te

[2020-03-25 10:24] mehdy commented on #798
@Madhu-1 I've been working on this lately and I found out that it's necessary to detect the `namespace` inside [`genVolFromID`](https://github.com/ceph/ceph-csi/blob/master/pkg/rbd/rbd_util.go#L368). So it makes sense to add the `namespace` to [`CSIIdentifier`](https://github.com/ceph/ceph-csi/blob/master/pkg/util/volid.go#L45) but ceph allows namespace names to be 64 chars long.
I'm not sure it's

[2020-03-25 12:04] simonpie commented on #798
@mehdy Are you planning to allow the namespace to be different for each volume ?  I would have thought that it should be part of the csi plugin configuration.  Fixed for all volume in a a storage class.

[2020-03-25 13:04] mehdy commented on #798
@simonpie No, I want it to be a storageclass configuration as you said. The problem is like this:
A request to delete a volume has only the volume_id attribute and I cannot determine the namespace from its storageclass.

[2020-03-25 14:26] simonpie commented on #798
Understood, thank you for the clarification.  Can it be added in labels ?  And used of course.

[2020-03-27 07:30] gman0 commented on #882
Please do keep a way to mount a CephFS volume by specifying monitor addresses and a root path (in `NodeStageVolume`/`NodePublishVolume`). We're relying on this functionality.

[2020-03-27 16:24] devopsjonas commented on #792
I've started to play around with the simple fix. This involves running ceph csi plugin in systemd as a regular unit.

Example systemd unit:
[code]

Now:
1. I've also added a patch to run cephfs with `systemd-run --scope` - > https://github.com/ceph/ceph-csi/compare/master...devopyio:systemd-run
2. copy the binary
3. mkdir -p /tmp/csi/keys/
4. create a /etc/ceph-csi-config/config.json with mon data

[2020-03-29 20:44] vvavepacket commented on #568
@wilmardo
I'm also encountering the same issue, but this time I am using filestore. Any idea how can I execute the same command using filestore (I do not have real disk devices) but I just used directories

[2020-03-30 06:56] devopsjonas opened #898 "provisioner followers don't report metrics"
# Describe the bug #

non leader cephfs provisioner fails to scrape metrics

![image](https://user-images.githubusercontent.com/42737349/77883618-29b53f80-726c-11ea-8d70-5af67014bf56.png)

# Environment details #

- Image/version of Ceph CSI driver: v2.0.1
- Kubernetes cluster version 1.15
- Logs

Pod's that don't export metrics log:

[code]
# Steps to reproduce #

Steps to reproduce the behavior:

[2020-03-30 07:32] devopsjonas opened #899 "Orphaned pod found, but volume paths are still present on disk"
# Describe the bug #

ceph-csi seems to leave garbage in `/var/lib/kubelet/pods/POD_ID/pvc/PVC_ID/` after pod has been destroyed. This makes kubelet log errors:

[code]

# Environment details #

- Image/version of Ceph CSI driver: v2.0.1
- Kubernetes cluster version: v15
- Logs|

Kubelet logs:
[code]

If I go to that pods pvc directory:
[code]

I can see a file
[code]

The content is:

[code]

Thi

[2020-03-30 08:23] Madhu-1 commented on #898
the above screenshot says its a network issue.. please paste the logs for csi-cephfsplugin container logs and liveness container logs

[2020-03-30 08:47] devopsjonas commented on #898
The issue is with `csi-cephfsplugin-provisioner` not csi-cephfsplugin container

The logs for provisioner follower:
[code]
Manifest:
[code]

The only one who is reporting metrics is the leader, all the followers don't respond to that metrics port.

[2020-03-30 09:06] Madhu-1 commented on #898
i need to see logs from csi-cephfsplugin container instead of csi-provisioner logs.  currently sidecar containers are not exposing any metrics

[2020-03-30 09:09] Madhu-1 commented on #899
please provide CSI logs if you think its a ceph-CSI issue.

[2020-03-30 09:15] devopsjonas commented on #898
This was indeed an networking issue. Sorry for the bother :/

[2020-03-30 09:15] #898 closed

[2020-03-31 04:22] Madhu-1 commented on #792
Are you planning to run cephfs as systemd service on host machine rather than inside containers?

[2020-03-31 05:24] Madhu-1 commented on #882
do you mean CephFS subvolume? we have an option to specify `rootPath` https://github.com/ceph/ceph-csi/blob/master/pkg/cephfs/volumeoptions.go#L344 in static PVC.
Am I missing something? can you please elaborate more

[2020-03-31 06:54] devopsjonas commented on #792
Yes & deploy it with ansible on every host.

Would you be ok with an abilitiy to run this as systemd unit?
For that I would need release binary, add an option to run fuse mount with `systemd-run scope` and some extra changes to allow changing paths for directories.

[2020-03-31 07:01] Madhu-1 commented on #792
AFAIK this won't be possible as this is against the CSI deployment strategy, we need to run ceph-csi as a container, there are many reasons not to run it as a systemd process on nodes.

cc @humblec @ShyamsundarR

[2020-03-31 07:10] devopsjonas commented on #792
Then whats the plan to fix this? IMO this is a huge issue for fuse deamons as killing a pod with the driver kills the fuse daemons too and it will kill all mounts, possibly corrupting application data.

The only option I see is to run it with systemd. This is how other storage drivers have fixed it ( https://github.com/kubernetes-sigs/alibaba-cloud-csi-driver/blob/master/docs/oss-upgrade.md)

More

[2020-03-31 11:35] yuquan-wang opened #903 "export ceph rbd driver field"
# Describe the feature you'd like to have #
I'm developing my own ceph csi plugin based on this project, I want to access those unexported fields defined in driver.go like following

[code]
By the way, i'm also using ebs-driver, which i can use `driver.publishVolume()` for my own logic

If you don't mind, I can contribute a PR for this issue.

# What new functionality do you want? #
access to unex

[2020-03-31 14:47] nixpanic commented on #903
Could you explain why you want your own variation of ceph-csi? We're happy to get more features and other enhancements included in this project. Have you considered contributing your changes?

[2020-03-31 14:51] yuquan-wang commented on #903
Sure, so we have the special usage to let all applications in one node to share a pv, that's the reason we may need variation of ceph-csi and create our own storage class for use.
Not sure if it is common usage or not, if it is, we'd like to contribute.

[2020-03-31 16:34] drweber opened #904 "Can't dynamic create PersistentVolume after PVC created. Operation not permitted"
Hello everyone. I've got issue with CEPH
I have:
- RKE cluster `v2.3.5`:
  3 etcd, 2 controplane, 10 workernodes
    etcd and controlplane have inly Internal NIC
    workernodes have 3 NICs: Internal (internal access only), External (public access), Storage (for CEPH access)
- Kubernetes `1.16.7`
- ceph-csi by [manual](https://docs.ceph.com/docs/master/rbd/rbd-kubernetes/) and [this one](https://g

[2020-03-31 17:40] golpa commented on #725
Just to add a me too.

In our use case we have a small set of utility binaries that we'd like to include in a lot of pods. It would be nice to create a volume with all the binaries once and then be able to mount that PVC across our pods as read only.

We tried alternatives such as storing the binaries as ConfigMaps but as the max size of ConfigMaps is too small most of the binaries can't be stored

[2020-04-01 03:28] Madhu-1 commented on #884
Fixed in #889

[2020-04-01 03:28] #884 closed

[2020-04-01 03:40] Madhu-1 commented on #904
looks like to be a user permission issue, either you might have specified wrong user keyring in secret or the user cap is not enough to perform rados operations. can you try with below user caps
[code]

@nixpanic do you see any other issue?

[2020-04-01 03:45] Madhu-1 commented on #903
If I understood the use-case correctly I think it should be possible with current driver itself, as you can attach a PVC to all applications, whichever comes on the same node will share the PVC.

am I missing something?

[2020-04-01 04:53] yuquan-wang commented on #903
@Madhu-1  thanks for reply, "attach a PVC to all applications" didn't meet our requirement, reason as follow:
1.  PVC has namespace, we can not let all application under different namespace share one PVC
2.  Application may have several instances, then all of them may refer to same pv, that's not what we want in our case, what we want is application share pv in same node, but pv between nodes shou

[2020-04-01 05:20] Madhu-1 commented on #903
@humblec @nixpanic @ShyamsundarR do you have any comments?

[2020-04-01 06:51] flyersa commented on #904
Hi Madhu,

we also tried profile rbd and its not working, its not a permission issue on ceph. We can manually create volumes in the rbd pool and do all listing operations with they keyring provided for kubernetes flawless, also tested inside one of the csi provisioning containers. The interessting thing is i dont even see the requests in the monitor logs when it complains about operation not permi

[2020-04-01 07:32] Madhu-1 commented on #528
This is already fixed, closing this one

[2020-04-01 07:32] #528 closed

[2020-04-01 07:43] Madhu-1 commented on #904
@flyersa can you give a try with admin credentials? I just wanted to check is it a permission issue or the ceph-csi issue. why am I asking because we have E2E runs on each PR I don't see any issue with cephcsi code.

if its an issue please provide csi-rbdplugin container logs we can take a look at it.

[2020-04-01 07:45] Madhu-1 commented on #904
and also provide the cephcsi version you are using

[2020-04-01 08:29] drweber commented on #904
about version
`image: quay.io/cephcsi/cephcsi:canary`

with admin creds works
[code]

but not with
[code]

[code]

[2020-04-01 08:47] drweber commented on #904
the permissions are now exactly 1:1 the same as admin creds on client.kubernetes
and it still not working
[code]
so something wrong with csi defiantly

[2020-04-01 08:56] humblec commented on #903
@yuquan-wang let me try to understand this scenario some more better. Some comments inline.

 When you say the application may have several instances and also you want seperate PVs , Isnt it the use case for deploying an application with statefulset deployment model or so?

[2020-04-01 09:02] Madhu-1 commented on #904
instead of canary can you try release cephcsi version ie 2.0.0 or 2.0.1

[2020-04-01 09:04] Madhu-1 commented on #904
means you are saying pvc creation is working with admin credentials?

 create PV from rancher UI? do you mean create PVC?

[2020-04-01 09:06] humblec commented on #806
Yeah, CephFS provisioning will be be moving to `Beta` with this release.

[2020-04-01 09:13] yuquan-wang commented on #903
@humblec  yes, we are using statefulset for our application,  but that's not enough. I can explain it more detailly.

We have application A want to run in every node to provide some basic service, also we have other applications(we call it B, C and D) may run with A in same node, then A will share pv with B,C,D, no matter what happened(like instance reschedule), in that node, pv requested by B, C,

[2020-04-01 09:19] humblec commented on #611
@wilmardo iic this issue can be closed.  Please feel free to reopen if you think otherwise. :+1:

[2020-04-01 09:20] humblec commented on #603
@Madhu-1 cant this be closed now ?

[2020-04-01 09:20] humblec commented on #610
@wilmardo iic this issue can be closed. Please feel free to reopen if you think otherwise. +1

[2020-04-01 09:20] Madhu-1 commented on #611
@humblec reopening this as we still need to document the configurable parameters in cephfs and rbd helm charts

[2020-04-01 09:21] humblec commented on #612
@wilmardo iic this issue can be closed. Please feel free to reopen if you think otherwise. +1

[2020-04-01 09:22] Madhu-1 commented on #603
Closing as this is fixed

[2020-04-01 09:22] #603 closed

[2020-04-01 09:24] humblec commented on #568
@wilmardo the issue with `fuse` or `nbd` here is a known one and we already have some trackers for it. Considering the same I would like to close this issue.

@vvavepacket I would suggest to open a new issue if you are facing any.

Closing this for now.

[2020-04-01 09:24] #568 closed

[2020-04-01 09:28] humblec commented on #172
@kfox1111 with the latest version this would have fixed as we had some fixes in staging and publishing path also some fixes has come in latest CSI spec in this area which we depend on with latest ( v2.*) ceph-csi release. Closing this issue for now and feel free to reopen if you still face this issue.

[2020-04-01 09:28] #172 closed

[2020-04-01 09:29] humblec commented on #165
Closing this one as this is no longer an issue. Please feel free to reopen if the issue persists.

[2020-04-01 09:29] #165 closed

[2020-04-01 09:30] humblec commented on #143
@Madhu-1 @wilmardo any thoughts here ?

[2020-04-01 09:30] humblec commented on #214
@Madhu-1 iic, we have a roundoff now for both rbd and cephfs volumes whlie provisioning. With that I think this issue can be closed.

[2020-04-01 09:31] humblec commented on #250
@nixpanic @Madhu-1 do we need this any more ?

[2020-04-01 09:53] Madhu-1 commented on #250
Yes we need to run csi-test with cephcsi

[2020-04-01 09:54] humblec commented on #250
as long as we cover the features with `e2e` i miss the point why we need that :)

[2020-04-01 09:55] Madhu-1 commented on #214
closing this one as we have default for rbd and for cephfs `0` is valid

[2020-04-01 09:55] #214 closed

[2020-04-01 09:57] Madhu-1 commented on #250
to make sure we return proper error code and to make sure we are not missing any other valid or invalid cases

[2020-04-01 10:02] Madhu-1 commented on #143
this is one of the good feature to have it

[2020-04-01 10:23] Madhu-1 commented on #70
closing this as this will be covered in https://github.com/ceph/ceph-csi/issues/675

[2020-04-01 10:23] #70 closed

[2020-04-01 12:33] wilmardo commented on #143
Started this in #604 and I am willing to pick this backup. I will make some time coming Friday :)

[2020-04-01 12:37] wilmardo commented on #610
Hmm in my opinion this is still a needed feature. All the reverting and prepping for releases is unneeded since the CI has access to the tag information.

[2020-04-01 12:39] wilmardo commented on #612
@humblec The PR implementing this is still open and waiting on documentation. This is still is a valid open issue :)

[2020-04-01 13:22] nixpanic commented on #903
From what I understand what is written, I think it is possible with (partial) static provisioning? Is the following an options for you (thinking out loud here)?

1. request a PVC
1. once the PVC is Bound, inspect it and detect the PV
1. use the PV for static provisioning a PVC for pods B, C and D

The sharing by itself (partially RWO/RWX and partially ROX) does seem dangerous. The PVC does not gua

[2020-04-01 14:01] yuquan-wang commented on #903
Hi, @nixpanic  the option you described is what we want to do based on ceph-csi, first A request a PVC and bound with PV, then we record the mapping of volumeId and NodeId, when B,C and D request PVC, then we just find right volume to bound to PVC.
We want to achieve above logic, but currently unable to do it because in driver those fields are private, thus we can not make use in our project.

Abo

[2020-04-02 03:04] yuquan-wang commented on #903
@nixpanic
I just discussed security(data consistency) issue with my team mate, we don't think that would be a problem in our case, because we only care one PV is shared in same node.

About the option you described: (partial) static provision, which is actually not practical I think in our case(Because we don't know which node application B will go to, then how could we know which pv should bound

[2020-04-02 06:17] mmgaggle commented on #521
Probably would need something like this KEP to do accounting -

https://github.com/kubernetes/enhancements/pull/1353

Basically if you know a cluster can provide 100k iops and 100TB, then you need to add up the PVs (qty * static limit, or capacity * ratio limit) to make sure you're not oversubscribed.

[2020-04-02 06:50] Madhu-1 commented on #338
as we removed the support for kube1.13 closing this issue

[2020-04-02 06:50] #338 closed

[2020-04-02 06:51] chenxu1990 commented on #780
Has Anyone been working on this feature, or I would like to take it .

[2020-04-02 06:53] Madhu-1 commented on #317
`/lib/modules` is present in cephfs helm charts now, closing for the same reason

[2020-04-02 06:53] #317 closed

[2020-04-02 06:54] Madhu-1 commented on #309
@humblec @nixpanic any comments on moving to ceph org in quay?

[2020-04-02 06:58] Madhu-1 commented on #307
@nixpanic do you think it still helps for cephcsi deployment in rook?

[2020-04-02 07:04] Madhu-1 commented on #495
closing this one as we have doc for cephfs deployment https://github.com/ceph/ceph-csi/blob/master/docs/deploy-cephfs.md, if something is missing reopen this one

[2020-04-02 07:04] #495 closed

[2020-04-02 07:24] Madhu-1 commented on #342
now we have configmaps in provisioner role, am closing this one, please reopen if issue still persists

[2020-04-02 07:24] #342 closed

[2020-04-02 07:25] Madhu-1 commented on #378
closing this one as we support mounting/deleting 1.0.0 pvc

[2020-04-02 07:25] #378 closed

[2020-04-02 07:45] nixpanic commented on #309
Yes, it would be nice to move to quay.io/ceph/ceph-csi. From release 3.0 and onwards, I guess.

[2020-04-02 07:53] chenxu1990 commented on #672
Should the metadata and the image be deleleted separately ？

[2020-04-02 07:57] Madhu-1 commented on #672
Yes you need to delete metadata from rados seperately

[2020-04-02 08:14] chenxu1990 commented on #672
ok I will take the job .

[2020-04-02 08:20] Madhu-1 commented on #532
closing this one as no activity, please reopen with logs

[2020-04-02 08:20] #532 closed

[2020-04-02 08:20] Madhu-1 commented on #564
this is fixed in helm charts now

[2020-04-02 08:20] #564 closed

[2020-04-02 08:21] Madhu-1 commented on #572
closing this as not able to reproduce

[2020-04-02 08:21] #572 closed

[2020-04-02 08:21] Madhu-1 commented on #622
closing this as insufficient logs

[2020-04-02 08:21] #622 closed

[2020-04-02 08:37] Madhu-1 commented on #672
Awesome, @chenxu1990 assigning this to you

[2020-04-02 08:54] nixpanic commented on #307
Yes, if rook still contains its own manifests, there is a benefit. Ideally there is a single source where the manifests are maintained, and rook should consume those.

[2020-04-02 08:58] Madhu-1 commented on #307
rook maintain its own cephcsi manifests because I need to configure a few things in the templates, which is kind of difficult to do if it consumes the manifests from the ceph-csi.

[2020-04-02 17:42] ShyamsundarR commented on #798
There are 3 ways to provide this configuration,

### Via the StorageClass as being discussed above
**Issue:** `DeleteVolume` and `DeleteSnapshot` needs this encoded in some form in the `volume_id`. The `volume_id` also has length restrictions, so some form of numeric namespace to ID encoding would be preferred (as discussed in comments above).

I would suggest we not go this way, as this is not a

[2020-04-02 17:48] dillaman commented on #798
For the use-case provided, I'd vote for option (3). However, I think there is an alternate use-case where k8s tenants map to RBD namespaces. That helps to support isolation between tenants, different defaults can be configured, potentially different Ceph user caps, etc.

[2020-04-03 08:13] jianglingxia opened #911 "use csi rbd driver v2.0.1 but pv and volume can not dynamic create report an operation with the given Volume ID already exists"
# Describe the bug #
the csi rbd driver running like this :
`
csi-rbdplugin-gv7bf                                   3/3     Running   0          3h34m   193.101.0.89      <none>           <none>
csi-rbdplugin-provisioner-6f796969c7-26h78            6/6     Running   0          3h35m   193.101.0.86      <none>           <none>
csi-rbdplugin-provisioner-6f796969c7-5wttl            6/6     Running

[2020-04-03 08:14] humblec opened #912 "Features.md for increasing developer contributions on this repo."
# Describe the feature you'd like to have #

I would like to propose a guide similar to developer guide which describes about the features and its design or architecture. This could help both community developers and users to understand how things work and contribute more.

We will start with something in `v2.1.0` release and take it from there.

Volunteers are always welcome!

What new functional

[2020-04-03 08:16] Madhu-1 commented on #911
please provide csi-rbdplugin container logs from provisioner pod

note:  rbd-nbd is not completely supported now, please use kernel rbd for now

[2020-04-03 08:29] jianglingxia commented on #911
but the krbd need the kernel version high,my kernel version is 3.10

the csi-rbdplugin provisioner is

`I0403 16:53:06.966654       1 utils.go:157] ID: 357 Req-ID: pvc-ff331283-c579-4740-a7b1-f71d4cf3336e GRPC call: /csi.v1.Controller/CreateVolume
I0403 16:53:06.966662       1 utils.go:158] ID: 357 Req-ID: pvc-ff331283-c579-4740-a7b1-f71d4cf3336e GRPC request: {"capacity_range":{"required_bytes":1

[2020-04-03 08:38] Madhu-1 commented on #911
@jianglingxia i need complete csi-rbdplugin logs to analyze it

[2020-04-03 09:11] jianglingxia commented on #911
[Uploading ceph1_deploy_rbd_provisioner.txt…]()

[2020-04-03 09:13] jianglingxia commented on #911
can you see it ? i will later try it really thanks

[2020-04-03 11:28] nixpanic commented on #857
I have started this work and a test job at https://jenkins-ceph-csi.apps.ci.centos.org/job/multi-node-e2e
This is based on the ci/multi-node-e2e branch in https://github.com/nixpanic/ceph-csi

[2020-04-03 11:39] nixpanic commented on #843
I think this makes most sense on the CSI level. That also makes the workflow usable for non Ceph backends. The (Persistent)Volume that is returned on CreateVolume should have all the details that are needed to identify the backend and trigger a webhook somewhere.

The approach Madhu suggested with a proxy is very modular and I think that should suffice. You could consider using the Go packages (wa

[2020-04-03 12:15] yuquan-wang commented on #903
Is there any update on this issue?

[2020-04-03 12:22] Madhu-1 commented on #903
@nixpanic @humblec any thought on exposing the structure?

[2020-04-03 12:55] nixpanic commented on #903
On Fri, Apr 03, 2020 at 05:22:42AM -0700, Madhu Rajanna wrote:

I do not know if we can commit to keeping a stable API for things like
this... Even the API in the `pkg/` directory is not considered stable
for use outside of this project.

Would we want to include such a feature in this project, eventually? Or,
maybe maintain it in a seperate branch? I am concerned that we
unintentionally break the

[2020-04-03 15:18] Johannesfu opened #913 "Unable to attach or mount volumes"
# Describe the bug #
When we restart a pod / redeploy a deployment and the pod starts on another node, we get following error:
Warning	FailedMount	Unable to attach or mount volumes: unmounted volumes=[pvc-data], unattached volumes=[pvc-data default-token-4pgg2]: timed out waiting for the condition

It looks like the mount gets stuck on the nodes respectively the mount gets requested on the node, w

[2020-04-03 16:34] Born2Bake opened #914 "ceph-rbd does not support "Many Nodes Read-Only" access mode"
# Describe the bug #
Hi,
Using ceph-csi-rbd provisioner, I cant use Many Nodes Read-Only rbd volumes. Containers are crashed specifying that they cant attach volume cause its already attached. However, if I create storage class old fashioned way and connect to my ceph cluster, I can create volume and it can be attached to many nodes ro. Old fashion way of rbd storage class: https://pastebin.com/Bu

[2020-04-04 10:18] Johannesfu commented on #913
We found out, what the Problem caused. It's a bug in kubernetes 1.17.
Everybody with the same Problem should look at following websites:
[(https://github.com/rook/rook/issues/4677)]
[https://github.com/kubernetes/kubernetes/issues/79743]

[2020-04-04 20:21] mehdy commented on #798
I personally think if somehow it was possible to do it via `storageclass`es it would the best implementation. I think it's a very similar configuration to `pool` where it's provided via `storageclass`. But I think the 3rd option is also good enough!
So I'd be happy with the 3rd one. Nudge me to proceed when you decided on the solutions.

[2020-04-05 05:38] Madhu-1 commented on #798
We need to get what is the exact requirement here. Is it sharing same cluster with in single kubernetes cluster or sharing it with different kubernetes cluster.

If we want to use the different ceph namespace with in the same kubernetes cluster with different namespace the above option 3 will work but you have to create different clusterid with same monitor info .

We can keep default ceph namespa

[2020-04-06 03:15] Madhu-1 commented on #903
+1 we cannot maintain keep the API's stable.

[2020-04-06 11:01] #526 closed

[2020-04-06 11:37] #913 closed

[2020-04-06 12:58] luhailiang0527 commented on #904
@drweber  i had same problem，i exec kubectl describe pvc ，founded error infomation
Warning  ProvisioningFailed    5s (x6 over 24s)  rbd.csi.ceph.com_csi-rbdplugin-provisioner-5d958fcbb6-q5l47_8c5927eb-6e53-44f4-98fd-35baf42740e8  failed to provision volume with StorageClass "csi-rbd-sc": rpc error: code = Internal desc = failed to get IOContext: failed to get connection: connecting failed: rados:

[2020-04-06 17:17] gman0 commented on #882
@Madhu-1 as far as I understand, removing support for v1 volumes means removing this:

https://github.com/ceph/ceph-csi/blob/58765e27a0f1c92062e5468cf97cbdb2c444ec9e/pkg/cephfs/nodeserver.go#L101-L106

There are cases where populating the [CSI config file](https://github.com/ceph/ceph-csi/blob/58765e27a0f1c92062e5468cf97cbdb2c444ec9e/pkg/util/csiconfig.go#L49) is difficult e.g. when Ceph clusters

[2020-04-06 18:58] lgomesd commented on #846
Is necessary to recreate all the structure? Like de StorageClass and etc?

[2020-04-07 01:06] jianglingxia commented on #911
@Madhu-1   really sorry that my network maybe some error can not attach files

the pvc is pending logs are : failed to provision volume with StorageClass "csi-rbd-sc": rpc error: code = Aborted desc = an operation with the given Volume ID pvc-8cb1df34-c20d-426c-8301-f7a7acc2a71f already exists

the rbd plugin log is:
controllerserver.go:138] ID: 7706 Req-ID: pvc-8cb1df34-c20d-426c-8301-f7a7acc2a71

[2020-04-07 01:49] Madhu-1 commented on #846
Can you please check discard flag is present on mountpoints

[2020-04-07 02:59] Madhu-1 commented on #911
this is nothing to do with leader election. we will through this error when there is an ongoing operation for the same PVC.  maybe some commands are struck inside the csi-rbdplugin container need to identify that first. if you can provide the logs I can take a look at it also please check no pending or struck commands on container,

execute below commands in csi-rbdplugin container
`ps -ef |grep r

[2020-04-07 03:15] jianglingxia commented on #911
execute you provider the commands i below the csi-rbdplugin in deployment pod

and i have two minion  2 deployment in one minion and 1 deployment in another minion

really thanks for you

sh-4.2# ps -ef |grep rados
root      5652     1  0 10:56 ?        00:00:00 rados -m 100.100.100.201,100.100.100.202 --id admin --keyfile=/tmp/csi/keys/keyfile-052893503 -c /etc/ceph/ceph.conf -p rbdpool getomapva

[2020-04-07 03:20] jianglingxia commented on #911
maybe the log can give ours some information

the rbd-plugin logs:

E0407 11:46:59.059338       1 cephcmds.go:186] ID: 7828 Req-ID: pvc-8cb1df34-c20d-426c-8301-f7a7acc2a71f failed getting omap value for key (csi.volume.pvc-8cb1df34-c20d-426c-8301-f7a7acc2a71f) from omap (csi.volumes.default) in pool (rbdpool): (an error (exit status 1) occurred while running rados args: [-m 100.100.100.201,100.100

[2020-04-07 03:54] Madhu-1 commented on #911
are you missing the Monitor port number?

[2020-04-07 04:10] jianglingxia commented on #911
my ceph cluster use the default monitor port 6789, the rados command need the port number?
i readd the port number and recreate the pvc look the result then report you ,thanks for you

before the cephfs command  i not use the port can exec sussess：
EXEC ceph -m 100.100.100.148,100.100.100.154,100.100.100.156 --id admin --keyfile=***stripped*** -c /etc/ceph/ceph.conf fs dump --format=json

[2020-04-07 04:14] Madhu-1 commented on #911
please check are you able to execute rados commands from the csi-rbdplugin container

[2020-04-07 04:41] Madhu-1 commented on #904
Looks like we are hitting this issue if we use any other user than admin

[code]

@nixpanic PTAL

[2020-04-07 04:43] Madhu-1 commented on #904
This is happening with canary image, @drweber @luhailiang0527 please use released ceph-csi version

[2020-04-07 05:39] jianglingxia commented on #911
rados -h command ok,but  exec the command below error,why can not exec the rados command?is there something wrong?
rados lspools report error is:

sh-4.2# rados lspools
unable to get monitor info from DNS SRV with service name: ceph-mon
2020-04-07 14:04:17.272 7ff2ee3bb880 -1 failed for service _ceph-mon._tcp
2020-04-07 14:04:17.273 7ff2ee3bb880 -1 monclient: get_monmap_and_config cannot identify

[2020-04-07 05:43] Madhu-1 commented on #911
please provide monitor and user and secretkey info while executing rados commands

[2020-04-07 06:00] jianglingxia commented on #911
i exec this follow command and rados stunk,can you check it the command error ? or something wrong? really thanks
sh-4.2# cd /tmp/csi/keys/
sh-4.2# ls
keyfile-684370561  keyfile-907711299  keyfile-918822446
sh-4.2# cat keyfile-907711299
AQDun1xeAAAAABAApsnXHz0DPzg+UrLfWOrxHA==sh-4.2# cat keyfile-918822446
AQDun1xeAAAAABAApsnXHz0DPzg+UrLfWOrxHA==sh-4.2# cat keyfile-684370561
AQDun1xeAAAAABAApsnXHz0

[2020-04-07 06:13] Madhu-1 commented on #911
Yes above commands are correct, looks to be a network issue. check firewall setting if you have enabled it

[2020-04-07 06:15] jianglingxia commented on #911
why in my csi-rbdplugin container can not exec the command,i use same command to ceph cluster can fine

you see the firewall is minion or my container ? can you see more information ? really thanks

the ceph cluster is
[root@host-10-62-40-148 ceph]# rados -m 100.100.100.201:6789,100.100.100.202:6789 --id admin --key=AQDun1xeAAAAABAApsnXHz0DPzg+UrLfWOrxHA== -c /etc/ceph/ceph.conf lspools
CinderPool

[2020-04-07 06:25] Madhu-1 commented on #911
check with minion(Node)  i dont see any issue with container

[2020-04-07 06:49] jianglingxia commented on #911
i found my minion can ping the monitor but my rbd-plugin container can not ping monitor
i will remodify it then depoly it,if ok then i will report the result to you, really thanks

[2020-04-07 07:05] humblec commented on #806
[Release call update from 03-Apr-2020]

We have confirmed the release of `2.1.0` on 8-Apr-2020, unless there is a severity blocker issue which break the existing deployments..etc.

6 more important PRs to get in. Most of them are in final stage of review, so we should be able to release on time.

@Madhu-1 please add if I missed any.

[2020-04-07 07:21] jianglingxia commented on #911
-->you note the rbd-nbd function not completely support,compare to krbd the rbd-nbd now not support which function?really thanks

@Madhu-1  i have resolve the network problem then can dynamic create rbd volume and pv
[root@paas-controller-103-11-0-0:/home/ubuntu/jjj/rbd]$ kubectl get pvc -w
NAME        STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE

[2020-04-07 07:24] Madhu-1 commented on #911
all mount points will disappear if the csi-rbdplugin restarts if you are using rbd-nbd

[2020-04-07 07:24] #911 closed

[2020-04-07 07:29] Madhu-1 commented on #806
we are good, we have one release blocker issue https://github.com/ceph/ceph-csi/issues/904

[2020-04-07 07:50] nixpanic commented on #904
This errors comes from [pkg/rbd/rbd_util.go#L179](https://github.com/ceph/ceph-csi/blob/399f0b0/pkg/rbd/rbd_util.go#L179):
[code]
That means the `rados.Conn` connection to the cluster was made, but getting the `rados.IOContext` was not possible due to `Operation not permitted`.

However, the `ret=1` may suggest that there was no error. The [`rbd` command only checks for errors `< 0`](https://githu

[2020-04-07 09:58] nixpanic commented on #904
Hi @drweber, @flyersa and @luhailiang0527 could you try the following testing image?
[`quay.io/nixpanic/cephcsi:testing_issue_904`](https://github.com/nixpanic/ceph-csi/commits/testing/issue/904) has a hacked version of go-ceph and checks for the same error condition as the `rbd` command, so it should behave the same too (succeed with non-admin credentials). I do not have the time to test it now,

[2020-04-07 13:49] phlogistonjohn commented on #904
@nixpanic as a reminder the go-ceph code prints the absolute value of the "errno" in the error, so I'm not as confident that its a bug. But please do file a go-ceph issue if your altered container reveals its a problem with the error handling.

[2020-04-07 14:13] nixpanic commented on #904
@phlogistonjohn the error case in `rbd` is `ret < 0` whereas go-ceph checks on `ret == 0`. In the case of this issue, I think the value is set to `1`, and then `rbd` would succeed, go-ceph fail.

[2020-04-07 14:18] ShyamsundarR commented on #798
Would like to hear from folks following this issue. From the issue description I would state it is the latter, IOW share a ceph cluster/rbd-pool across different kubernetes clusters.

Agree, my thoughts as well.

StorageClass is a cluster wide resource, so I am not sure its access/use is restricted to certain namespaces, so per-tenant StorageClass, **as of now**, seems to be a no-go.

As long as t

[2020-04-07 14:23] phlogistonjohn commented on #904
Oh yes, that's true and we can certainly change that. But skimming some of the ceph sources I don't see an obvious path where this function would return `1` versus the much more likely `-1`.  I'm not saying that its not possible, just suggesting its is more likely to be an access issue given that we format the error with the absolute value of `ret`.

[2020-04-07 14:25] ShyamsundarR opened #920 "Move helm version to 3.x in install-helm.sh"
Helm v3 no longer requires any in cluster components (like tiller) and makes it quite easy to use as a deployment mechanism (no kubernetes components need to be deployed). I suggest that we shift to the same to make the script easier to maintain.

For helm v3 the install command for any chart needs to change like so,

[code]

IOW, no `--name` parameter and also the chart path and name move to the

[2020-04-07 14:27] drweber commented on #904
looks like adding
apiVersion: storage.k8s.io/v1
[code]
fixed issue

[2020-04-07 14:27] Madhu-1 commented on #920
Sure it's nice to have thanks @ShyamsundarR

[2020-04-07 14:59] lgomesd commented on #846
The flag is not present, I had checked it before...
/dev/rbd0 on /nexus-data/blobs/default type ext4 (rw,relatime,stripe=1024,data=ordered)

I just change the image of **csi-rbdplugin-provisioner deployment** to image: **quay.io/cephcsi/cephcsi:v2.0.0**.

After I recreate the StorageClass with the **mountOptions: - discard**

And finally I delete the PersistentVolumeClain and recreate it.

It this

[2020-04-07 16:05] kfox1111 opened #921 "resource usage with forks"
In the csi-rbdplugin container in the provisioner pod, we see large numbers of processes forking off (rados & ceph) during provisioning. This makes it difficult to set resource limits on the pods to grantee availability. We need some mechanism to guarantee only a certain number of children will be running at a time so we can control the resource usage.

[2020-04-08 05:29] luhailiang0527 opened #923 "How can I expand PVC? Please help me"
information:
[root@lu csi]# kubectl get sc,pvc,pv
NAME                                     PROVISIONER        RECLAIMPOLICY   VOLUMEBINDINGMODE   ALLOWVOLUMEEXPANSION   AGE
storageclass.storage.k8s.io/csi-rbd-sc   rbd.csi.ceph.com   Delete          Immediate           true                   20m

NAME                            STATUS   VOLUME                                     CAPACITY   ACCESS M

[2020-04-08 05:38] Madhu-1 commented on #923
do you have controller expand secrets in your storageclass? if no please add it to your storage class and recreate it and create a new PVC and try to resize it

[2020-04-08 07:13] nixpanic commented on #921
When we move to go-ceph for provisioning, the number of execs to external commands (like `rados` and `rbd`) will be minimized if not completely removed. This reduces not only the exec to the specific command, but also the spawning of threads that a Ceph client does when connecting to a Ceph cluster. With go-ceph we will re-use existing connection (for volume management, not I/O), so resource consu

[2020-04-08 07:24] nixpanic commented on #449
There are many things that needed to be done for this Issue. I have created https://github.com/ceph/ceph-csi/projects/3 so that tracking the dependencies is a little easier. Don't hesitate to add more issues/PRs/cards to the project.

[2020-04-08 09:51] chenxu1990 commented on #780
I plan to fill the volumeID filed of response with "PVC name + namespace + kubernetes cluster (id)" so that external-provsioner can get it as VolumeHandle field.  Is there anything wrong with that ？ @Madhu-1

[2020-04-08 13:00] nixpanic commented on #904
Looking into this more, with #919 it is easier to reproduce. The cephcsi:testing_issue_904 image is based on the master branch (`:canary` tag) and has the same problem.

Using the `:v2.0.1` tag is a workaround.

The code under `pkg/util/conn_pool.go` calls `rados.NewConn()` without any arguments. It is probably needed to pass the (optional) user (and optional cluster-id) to solve this problem.

[2020-04-08 14:03] dillaman opened #925 "Create Prometheus exporter to export PV to RBD/CephFS mappings"
# Describe the feature you'd like to have #

The logic of the existing `tracevol.py` tool should be incorporated into a prometheus exporter to facilitate the mapping between PVs and backing RBD image and CephFS subvolumes.

# What is the value to the end user? (why is it a priority?) #

Tools like the RBD and CephFS top should be able to translate the internal RBD/CephFS subvolume names back to k8

[2020-04-08 14:20] dillaman opened #926 "Map node topology to CRUSH map location"
# Describe the feature you'd like to have #

(note: semi-related to #816)

To support read-from-replica hints where a node should be directed to read from a replica within its AZ to reduce cross-AZ data transfer costs, we (1) need a way to map a node to its AZ location within the CRUSH map [1] and (2) pass that node crush location to `rbd map --crush_location='key1=value1,key2=value2'` (and matchi

[2020-04-08 19:47] kfox1111 opened #927 "externally managed configmap"
The charts allow you to customize what configmap to use, but always try to create it. I'd like to use an externally to the chart managed configmap and noticed the conflict when setting the configmap name.

Can we add to values:
[code]

and wrap the configmap in:
[code]

[2020-04-09 08:33] nixpanic commented on #477
@phlogistonjohn these are CephMGR commands that need some interface in go-ceph

[2020-04-09 09:08] rascasoft opened #930 "Unable to manage PVCs with a user different from client.admin"
# Describe the bug #

Following with success every step of the official procedure [1] to configure everything, I'm unable to use a user  different from client.admin to create PVCs on the configured ceph storage.

[1] https://docs.ceph.com/docs/master/rbd/rbd-kubernetes/

# Environment details #

- Image/version of Ceph CSI driver: canary (as from today's latest commit [2])
- No helm chart used
- K

[2020-04-09 09:09] Madhu-1 commented on #930
closing this as duplicate of https://github.com/ceph/ceph-csi/issues/904

[2020-04-09 09:09] #930 closed

[2020-04-09 09:34] rascasoft commented on #930
Thanks, didn't check the related issue, my fault. Just for future reference (and future comers), it was enough to use the 4 yamls from the specific release, v2.0.1:

[code]

and everything worked fine.

Thanks again.

[2020-04-09 09:47] Madhu-1 commented on #930
Yes we have this issue only in canary image (master branch)

[2020-04-09 15:09] nixpanic commented on #863
#858 is a problem that seems to occur, and the image is not deleted. In this case a fallback would have prevented the 'image leak'.

[2020-04-09 15:10] #904 closed

[2020-04-09 15:25] Madhu-1 commented on #904
Yes, even this issue is not present in 2.0.1 or 2.0.0 release

[2020-04-09 15:44] ShyamsundarR commented on #780
The `volumeID` as it is encoded currently, is needed to identify where the volumes backing image is, among other things. This encoding helps identify the backing volume/image using just the `volumeID` (for example in the DeleteVolume or DeleteSnapshot calls).

This also has a length limitation as per the spec, and hence cannot encode arbitrary values into the same. Overloading the `volumeID` would

[2020-04-10 11:02] nixpanic commented on #927
This sounds reasonable to me. Care to send a PR for this?

[2020-04-10 11:10] nixpanic commented on #925
See #72

[2020-04-10 11:16] #858 closed

[2020-04-10 15:31] kfox1111 commented on #927
I ran into one other issue while trying to plumb the helm chart to the configmap autogenerated by rook. The config file name is different in the configmap. I need a way to specify a mapping. I'll add that as well, and then submit a patch.

[2020-04-10 15:38] kfox1111 commented on #927
Looks like rook has this in its deployments/daemonsets:
[code]
So I need a way to specify which key to use from the configmap and add the mapping if specified. Should be easy enough to add.

[2020-04-11 08:44] madddi commented on #798
Joining the discussion because I was working on #931, running into the same problem :slightly_smiling_face:

Our requirements are using on Ceph cluster with multiple Kubernetes clusters.

I'd vote for option 3) for clarity. Yes, possibly duplicating monitor configurations is not optimal. But there are two reasons why this would make sense to me:

1) Regarding multitenancy:

Because of this, it wou

[2020-04-12 09:12] huaizong commented on #824
@ShyamsundarR  @jianglingxia  As PR #282 describe,  mount cache only work if Pod can restart when csi container exit, it may trigger  by health probe check or other similar technology.

If Pod not check mount path, mount cache can not help in thhe scenarios.

** NoGoal **

***Pod should exit and restart*** when csi plugin pod exit and mount point lost. if pod not exit will get error of transport e

[2020-04-12 09:43] huaizong commented on #778
mount-cache will auto remounted path when csi container restart and umount if kubernetes api server  delete pod on the node lately

[2020-04-13 05:46] Madhu-1 commented on #923
closing this as not a issue

[2020-04-13 05:46] #923 closed

[2020-04-13 08:44] chenxu1990 commented on #780
@ShyamsundarR  Thank you for your answer. According to my understanding, external-provisioner
 calls 'CreateVolume' grpc interface then create pv object .  Would you please tell me where ceph-csi can reflect a field of 'spec.csi.volumeAttribute' , I can't find the code but only find the  rbd-provisioner store the 'volumeID' to the field 'VolumeHandle' (https://github.com/kubernetes-csi/external-pr

[2020-04-13 14:32] ShyamsundarR commented on #780
The [`VolumeAttributes`](https://github.com/kubernetes-csi/external-provisioner/blob/3d6bea496c305929b2d9b816ed8cfdfad7e4f5ce/pkg/controller/controller.go#L696) is where the CSI returned [`VolumeContext`](https://github.com/kubernetes-csi/external-provisioner/blob/3d6bea496c305929b2d9b816ed8cfdfad7e4f5ce/pkg/controller/controller.go#L643-L646) is stored.

The [`VolumeContext`](https://github.com/c

[2020-04-13 15:19] ShyamsundarR commented on #882
@gman0 the nodeplugins also mount the CSI config file, and hence contain the required MON addresses to use.

Mentioning the MONs in the StorageClass needs to be done for all StorageClass's in use and further needs to be updated when MONs change. Instead, specifying this once in the CSI config, would enable global updates at a single point. (this is when considering external clusters as well).

Als

[2020-04-13 17:03] humblec commented on #806
[Release call update]

Finally we are good to go!  The release is expected to happen 14-Apr-2020 :+1:  , we are on final push .. thanks !

[2020-04-13 18:16] yanchicago opened #935 "After upgrade, the resize capability is not working for the existing PV/PVC"
# Describe the bug #

A clear and concise description of what the bug is.
After upgrade to ceph-csi 2.0.1, the resize feature only applies to a new PVC not the existing PVC.

# Environment details #

- Image/version of Ceph CSI driver: cephcsi:v2.0.1, csi-resizer:v0.4.0
- helm chart version
- Kubernetes cluster version:  v1.16.4
- Logs

# Steps to reproduce

Steps to reproduce the behavior:

1. Se

[2020-04-14 04:14] Madhu-1 commented on #935
I already created a kubernetes issue for the same https://github.com/kubernetes/kubernetes/issues/88622

[2020-04-14 11:29] #672 closed

[2020-04-14 17:36] gman0 commented on #882
@ShyamsundarR

I understand why it's done like this and I agree with the way it's handled for those use-cases.

In the use-case I mentioned, the source of truth for monitor IPs is OpenStack Manila / Cinder, so the ConfigMap is left empty.

A 3rd party CSI plugin provisions a CephFS volume using the Manila service. When mounting the volume, we're given:
* mon IPs
* root path
* cephx ID and key

Tho

[2020-04-14 18:02] sombrafam commented on #899
I'm having this same problem with Cinder+CSI. I'm trying to create a stateful set, and when the volume is trying to be mounted on the worker, the reconciler.go wants to first unmount the stuck mounts, and therefore it never mounts the volume I'm adding:

[code]

[2020-04-15 07:21] #927 closed

[2020-04-15 13:22] Madhu-1 commented on #806
closing this issue as the release is out https://github.com/ceph/ceph-csi/releases/tag/v2.1.0

[2020-04-15 13:22] #806 closed

[2020-04-15 13:23] humblec commented on #806
Thanks all who helped with this awesome release !! :100:

[2020-04-16 07:46] Madhu-1 commented on #914
closing this as deplicate of https://github.com/ceph/ceph-csi/issues/725

[2020-04-16 07:46] #914 closed

[2020-04-16 07:56] nixpanic commented on #725
#947 is a (work-in-progress) e2e test that creates a PVC with two access-modes: RWO and ROX. After populating the PVC through a single pod, two new pods start and consume the contents.

[2020-04-16 10:00] cristichiru commented on #859
Well, since the assumed order is repair first, mount after, which in the case of XFS does not work well, it is also an issue in the CSI code.
I had the same problems, and it is a pain to manually mount the volume on a host node, using rbd map when running kubernetes.
Because of this reason, we have decided to stay with the default ext4 for new volumes.

[2020-04-16 15:46] yanchicago opened #950 "Support quota management for Ceph Object Gateway ( This is for rook )."
# Describe the feature you'd like to have #

What new functionality do you want?
1. Support quota settings on users and buckets owned by users.  ( CephObjectStoreUser)
Please refer https://docs.ceph.com/docs/master/radosgw/admin/#quota-management
2. Support global quota settings. ( CephObjectStore)

# What is the value to the end user? (why is it a priority?) #

How would the end user gain value f

[2020-04-16 15:51] #950 closed

[2020-04-16 15:51] yanchicago commented on #950
Wrong project. This is for rook.

[2020-04-16 16:14] nixpanic commented on #484
@Madhu-1 please remove this from the v2.1 project and set the right milestone (if any).

[2020-04-17 05:46] Madhu-1 opened #952 "Failed to bring up application pod with RBD storageclass `ro` mountoption"
# Describe the bug #
Failed to deploy a test application when the RBD PVC is created with storage class which has the `ro` mount option
# Environment details #

- Image/version of Ceph CSI driver: **v2.1.0**
- Kubernetes cluster version: **v1.17.0**
- Logs

# Steps to reproduce #
* create RBD storage class with `ro` as the mount option
* create PVC with above storage-class
* Mount PVC to applicati

[2020-04-17 06:03] Madhu-1 opened #953 "cephfs: failed to chmod 777 readonly file system errors in node server"
# Describe the bug #
The application pod is getting write access to the PVC when the PVC is created with the storage class having `ro` mount options

# Environment details #

- Image/version of Ceph CSI driver: **v2.1.0**
- helm chart version
- Kubernetes cluster version : v1.17.0
- Logs

[code]
# Steps to reproduce #

Steps to reproduce the behavior:

1. create a storage class with mount option `

[2020-04-17 07:03] nixpanic commented on #560
To me, the requested functionality sounds very much like a backup & restore procedure, within the same Kubernetes cluster.

[2020-04-17 07:12] nixpanic commented on #451
A single Ceph-CSI provisioner that allocates a PV on RBD or CephFS based on the volume request makes sense to me, it would be much more user-friendly than offering two separate storageclasses for their own functionality.

Using CephFS: `volumeType: filesystem` and `accessModes: <includes RWX>`
Using RBD: `volumeType: block` or `accessModes: <does not include RWX>`

This should likely be a 3rd prov

[2020-04-17 08:26] nixpanic commented on #859
@whymatter can you try with `cephcsi:v2.1.0` and let us know of that resolves the issue for  you?

[2020-04-17 14:28] #461 closed

[2020-04-17 14:31] nixpanic commented on #633
@Madhu-1 this can be closed? We already support different filesystems, I think?

[2020-04-17 14:32] nixpanic commented on #374
Related to #626, although that is a parameter to the StorageClass and the number of inodes is surely a configuration attribute for the PV (as it depends on the size).

Alternatively XFS can be used, it dynamically allocates inodes so there is no practical limit.

[2020-04-17 15:52] rowanj commented on #834
the linked doc is still missing this step, though

[2020-04-19 23:28] whymatter commented on #859
I will give it a try

[2020-04-20 05:41] Madhu-1 opened #959 "cephcsi v2.1.0 helm charts are not release"
cephcsi helm charts for release v2.1.0 is not present in https://github.com/ceph/csi-charts, we have only 2.0.1 as of now.

[2020-04-20 05:41] Madhu-1 commented on #959
CC @humblec

[2020-04-20 06:16] Madhu-1 commented on #671
reopening as we are not able to build arm64 images

[2020-04-20 06:20] Madhu-1 commented on #959
@humblec @nixpanic how about doing a minor release today to get updated missing helm charts?

[2020-04-20 06:54] humblec commented on #865
[Release call update] [planning]

Eventhough snap and clone is the main theme, we will be enhancing `go ceph` adoption and also topology aware provisioning with this release.

[2020-04-20 07:35] humblec commented on #959
Is this something we missed @Madhu-1 at time of `2.1.0` ?

[2020-04-20 07:37] humblec commented on #959
IMO, Instead of doing a minor release just for this, lets do it with maybe with some more fixes..etc with delay.

[2020-04-20 07:40] Madhu-1 commented on #959
This is due to the failed arm64 building during a release, as the deployment got failed when building the arm64 image it exited

[2020-04-20 08:03] Madhu-1 commented on #859
fixed in v2.1.0, if not please feel free to reopen it

[2020-04-20 08:03] #859 closed

[2020-04-20 08:04] Madhu-1 commented on #795
fixed in #885 closing

[2020-04-20 08:04] #795 closed

[2020-04-20 12:56] nixpanic commented on #959
Is it possible to manually push the charts and fix the automated push for the next release? That would be my preference.

[2020-04-20 12:58] Madhu-1 commented on #959
i don't have the access. only @humblec is having. @humblec can you push helm charts for 2.1.0 release?

[2020-04-20 12:58] humblec commented on #959
Sure. .will do.

[2020-04-20 12:59] nixpanic commented on #780
#957 got merged, can this be closed now?

[2020-04-20 13:03] Madhu-1 commented on #780
closing as this is fixed in #957

[2020-04-20 13:03] #780 closed

[2020-04-20 15:52] nixpanic opened #963 "Run CI tests with Kubernetes 1.18.x"
Currently Travis CI does not run with Kubernetes 1.18.x, this should be added to the test matrix.

@humblec maybe we should make sure to add these kind of things the next time there is a rebase of the vendored version?

[2020-04-20 22:21] travisn commented on #671
@Madhu-1 Is this a new issue with v2.1.0? I see arm images for other recent versions. Do you have more background on the issue?

[2020-04-21 03:48] chenxu1990 commented on #560
I do not find any interface about clone or restore pv in csi spec. Do we should implement this function by refactoring the CreateSnapshot inferface ? But how can kubernetes pass the target pool/name parameters to csi? To my understand csi generate these values from volumeID.   @nixpanic

[2020-04-21 04:43] Madhu-1 commented on #560
external-provisioner has to support it first. nothing needs to be done in cephcsi as of now.

[2020-04-21 04:56] Madhu-1 commented on #671
more info at https://github.com/ceph/ceph-csi/issues/856. we cannot build multi arch images in Travis as we need physical machines to build amd64 and arm64 images

[2020-04-21 05:26] #890 closed

[2020-04-21 10:25] nixpanic commented on #560
Until more feature rich clone or snapshot/restore is available, this can be achieved by using a DataVolume to encapsulate a PVC and have [the Containerized-Data-Importer](https://github.com/kubevirt/containerized-data-importer#clone-another-pvc) do the cloning across namespaces.

[2020-04-21 12:17] chandr20 opened #966 "XFS: Superblock has unknown read-only compatible features (0x4) enabled"
# Describe the bug #

A clear and concise description of what the bug is.

# Environment details #

- Image/version of Ceph CSI driver v2.1.0
- helm chart version 1.2.5
- Kubernetes cluster version 1.16.7
- Logs

ern.alert <1> Apr 21 09:28:18 xxxx-2-05-worker-0 kernel: XFS (rbd0): Superblock has unknown read-only compatible features (0x4) enabled.
kern.warning <4> Apr 21 09:28:18 xxxx-2-05-worker-