[2020-12-17 11:48] Madhu-1 commented on #1802
Am not sure about how the CLI command that you have used works, cephcsi need both Nodestage and NodePlublish RPC request to successfully mount a volume to target path

You can only mount and unmount the pre-provisioner image but you cannot resize it nor you can create clones or snapshots from it. https://github.com/ceph/ceph-csi/blob/master/docs/static-pvc.md might help you

[2020-12-17 11:53] Madhu-1 opened #1803 "Test migration of snapshot beta to snapshot v1"
external-snapshotter is moving towards from betav1 to v1 details at https://github.com/kubernetes-csi/external-snapshotter/blob/master/CHANGELOG/CHANGELOG-4.0.md#api-changes. we need to update our sidecar image/doc/e2e etc to test v1 snapshots and also we need to make sure we are able to work with previously created snapshot etc.

[2020-12-17 12:50] f1-outsourcing commented on #1802
ok so I do a create volume request for app-test2, with this command.
`
csc -e unix:///tmp/csiceph.sock controller create-volume --cap MULTI_NODE_MULTI_WRITER,block --lim-bytes 1000000 --req-bytes 1000000 --params 'clusterID=ceph,pool=app,volumeNamePrefix=app-' 'app-test2'`

csiceph plugin outputs this log:

[code]

Then one expects that the PublishVolume would require the same argument 'app-test2'

[2020-12-17 12:51] nixpanic commented on #1424
It would be nice to have some CI jobs that run the `csc` command to do basic CSI operations.

[2020-12-17 13:00] nixpanic commented on #1562
Is this not what is already available by setting the `encryptionPassphrase` in the Secret that is referred from the StorageClass? This was added with commit 166eaf700f8589536bb64709f9c9e0838ebdadd8 and works without a KMS.

[2020-12-17 13:06] Madhu-1 commented on #1562
I don't see any value in implementing this feature with KMS. currently, we are generating a unique Key for each volume encryption. and it's a very secured one compared to use the same passphrase to encrypt multiple volumes.

[2020-12-17 13:35] Madhu-1 commented on #1802
Please pass imageFeatures=layering for createVolume

Yes you are asking to create an rbd image with your own prefix.

What version of cephcsi you are using?

ForceKernelClient is not for RBD it's for cephfs.

the volume ID will be create by the cephcsi driver for the rbd image its creating

This is as per the standard RPC request.

I still cannot understand that if I use the CreateVolume event wit

[2020-12-17 13:51] f1-outsourcing commented on #1802
but where is this volume ID stored?

[2020-12-17 22:47] f1-outsourcing commented on #1802
(using 3.2.0 still) ok so adding the imageFeatures=layering to the createVolume makes it possible for me to stage the volume.

[2020-12-18 04:01] insanemal commented on #1761
@ShyamsundarR I appear to have untangled the issue. But have a new one. I have snapshotcontent objects that don't have snapshots on the filesystem.  I cannot delete these kubernetes objects because they fail to delete the ceph object with

`E1218 04:00:52.375920       1 goroutinemap.go:150] Operation for "delete-snapcontent-5f6e1cb0-c123-4ce7-9fa2-2b1052787f11" failed. No retries permitted until 2

[2020-12-18 06:36] Madhu-1 commented on #1802
sounds good. Closing it's not an issue

[2020-12-18 06:36] #1802 closed

[2020-12-18 06:40] #1784 closed

[2020-12-18 12:03] f1-outsourcing opened #1807 "can't seem to get logging working with the v3.2.0 and master/canary version"
Sorry for asking, but I just do not seem to get this logging working. I have tried multiple combinations of logging arguments but I just do not seem to get any logging to files stderr is fine.

[code]

I am testing with something that generates an error from the plugin like:

[code]

Is there maybe an OS dependency for logging?

[2020-12-18 12:19] Madhu-1 commented on #1807
[code]
cephcsi is built for the Linux platform it should work on Linux without any issue. I have tested this on the fedora system

[2020-12-18 13:05] f1-outsourcing commented on #1807
Pffff you are right, indeed if I use '=' with `-log_file=./log.txt -logtostderr=false`, weird that the other arguments allow to be submitted with space.

[2020-12-18 13:10] Madhu-1 commented on #1705
@discostur I tried it today on my setup being able to create the rbd image with restricted user caps

cephcsi v3.2.0 version used for testing

### Provisioner logs

[code]

### ceph version
[code]

### RBD image list from  ceph cluster
[code]
### User caps
[code]

[2020-12-18 13:13] Madhu-1 commented on #1807
closing this one as not an issue

[2020-12-18 13:13] #1807 closed

[2020-12-19 08:30] #1381 closed

[2020-12-20 14:05] f1-outsourcing commented on #1799
I would implement a test on the existence of a file, and if it exists not overwrite it.

This from the perspective that if someone puts a file, he did this knowingly. If it is not according to specific plugin demands, that is his problem and that probably would be revealed in the logs.

[2020-12-20 15:33] f1-outsourcing opened #1809 "[feature] adding (nodestage, nodepublish) secrets via the command line"
I am not sure if this is going to be helpful to many, I think it would be nice to have during testing.

Currently I have problems submitting secrets via the mesos,marathon gui[3]. I keep getting that the secrets that I am sending are not found[2]. I am using their newly released mvp csi[1] (I have been trying to get info on this from mesosphere, but until now no response.)

I wonder where this als

[2020-12-20 16:00] f1-outsourcing opened #1810 "How to create pre-provisioned volume without using the plugin."
Sorry for asking this undoubtedly simple question. I have looked a bit at the source and I just cannot discover where and how this volumeID is saved with the rbd image.

I would like to create the images via the normal ceph command line. I know the plugin returns the volumeID that I can use in my task definition.

But how can I create an image with `rbd create` and then add this volumeID to my ima

[2020-12-20 19:10] f1-outsourcing commented on #1798
I think this should be reopened and fixed, this looks like some bad/no exception handling. The idea of running containers is to limit resources and not to 'hide bugs'. Who knows, maybe such a bug can be a future exploit.

[code]

This is the log from this mount

[code]

[2020-12-21 05:28] Madhu-1 commented on #1809
I don't think we can implement this feature. The RPC request should carry the secrets as part of the request https://github.com/container-storage-interface/spec/blob/master/spec.md#nodestagevolume.
cephcsi is implemented as per the CSI spec, its CO's responsibility to send the request in the RPC calls.

[2020-12-21 05:30] Madhu-1 commented on #1810
please see https://github.com/ceph/ceph-csi/blob/master/docs/static-pvc.md on how to use the pre-provisioned RBD images, you can need to tweak the volume context as per your requirement.

[2020-12-21 06:13] Madhu-1 commented on #1798
you need to do both staging and the node publish RPC call to map the rbd images to the target path

Let me explain what happens in each RPC call

* Node stage:
  When cephcsi receives an RPC call for NodeStageVolume, it maps the RBD images on the node and the device path of the mapped RBD images will be formatted with the required format (xfs,ext4, etc) and again device path will be mounted to the

[2020-12-21 07:47] Madhu-1 commented on #857
multinode in minikube is no more experimental https://github.com/kubernetes/minikube/releases. we can use minikube to start the multinode kubernetes cluster by default.

[2020-12-21 09:26] f1-outsourcing commented on #1810
I do not have kubernetes. To be honest I think you also have to many examples related to kubernetes. The idea about the container storage interface is, is that it is independent of the CO. I would prefer to see examples not requiring a specific CO.

I am not sure if I understand this yaml correctly, but it looks like it is using the driver rbd.csi.ceph.com.

My definition of pre-provisioned is tha

[2020-12-21 09:37] f1-outsourcing commented on #1809
That is why I suggested "The plugin sets these as a default, and overwrites them when secrets are being parsed via grpc.".

This would even allow the plugin to be used as stand-alone/external, similar to how docker volume drivers are being implemented. I tested rexray a bit, that has credentials stored like this and it is still a default in DCOS (I think). So I do not think such a design is bad no

[2020-12-21 09:38] Madhu-1 commented on #1810
PR's are always welcome to add specific examples for other CO

in your case the driver can be anything, it's the name you will pass it when starting the csi driver.

the doc I linked uses the rbd images created from the rbd CLI command. each CO might handle the RPC request differently, but they will pass the volume context as per the CSI standard. from the CSI side what we care about is the volume

[2020-12-21 10:14] f1-outsourcing commented on #1810
I would more likely remove things related to specific CO's and add command line examples. The CO should document how to use csi.

[2020-12-21 10:41] f1-outsourcing commented on #1810
Can it be you linked incorrect doc? kubectl is not a ceph command and I have no idea what it does. I do not even see the VolumeID anywhere on this page so how can it be passed via gRPC? But we should not be talking about gRPC calls, because this would imply using the driver. The only ceph command I know that creates rbd images is `rbd create`.

Please can you answer question with yes or no:

1.  I

[2020-12-21 11:07] f1-outsourcing commented on #1798
You assume you have always correct client input, which is bad. You already told be before you need to stage and publish that is irrelevant. If I send a valid gRPC publish command, your plugin behaves like this.

I think your publish procedure is not verifying if there is something correctly staged, and just blindly issues some mount command sending an 'empty' source parameter this results in the s

[2020-12-21 16:20] nixpanic commented on #1670
I am hitting this now as well. On Fedora 32 I seem to have downgraded podman to work around this (or something else), but on Fedora 33 this is (probably) not easily possible.

[2020-12-22 14:16] ShyamsundarR commented on #1761
@insanemal So the CephFS snapshots do not exist, or maybe the subvolume itself does not exist on the CephFS volume, would that be a correct assumption?

@Madhu-1 Delete should succeed if the storage objects are no longer present, as per the CSI protocol, right? So if the above is true, can you check if we return success for a DeleteSnapshot in such cases, thanks!

[2020-12-22 15:43] discostur commented on #1705
@Madhu-1 i just did another test with the latest ceph-csi `v3.2.0` but for me it is still only running with the following user caps:

[code]

If i try it with the one you suggested

[code]

i still get the `operation not permitted` error:

[code]

The only thing i know which is different form your setup is our ceph version:
[code]

Could it be that there was a change in the ceph version and that's

[2020-12-23 00:22] insanemal commented on #1761
@ShyamsundarR @Madhu-1
Snapshots do not exist. For at least one of them the subvolume also does not exist.

I haven't had a chance to see if the subvolume is gone for the few left stuck in k8s. I've been chasing other wupuses

[2020-12-23 02:46] rmartinsanta opened #1814 "Cannot create PVCs"
# Describe the bug #
Cannot create PVEs, it keeps trying and times out. Tested with master and release-v3.2

# Environment details #

- Image/version of Ceph CSI driver : release-v3.2
- Kernel version : 5.4.0-58
- Kubernetes cluster version : v1.19.4
- Ceph cluster version : ceph version 14.2.15 (e3076ef75049c0eb73e10aa7a50a0b3a60dbaeea) nautilus (stable)

# Logs #

If the issue is in PVC creation

[2020-12-23 02:50] Madhu-1 commented on #1814
@rmartinsanta can you please check you are able to reach mon ip:port from the csi-rbdplugin container of the provisioner pod?

[2020-12-23 02:53] #1670 closed

[2020-12-23 05:15] Madhu-1 commented on #1761
Looks like it's the same as https://github.com/ceph/ceph-csi/issues/1647

[2020-12-23 06:05] yangyongzhi7 commented on #834
Yes, I am agree with this, I am very confused about this.

[2020-12-23 07:50] Madhu-1 commented on #1795
currently, we are making use of the secretes created by the rook for our E2E. incase of the RBD pvc encryption test case we are adding the encryption key to the same secret. there is a good chance that Rook is reconciling the secretes which it has created. i  would suggest creating new secrets for the cephcsi E2E instead of using the secrets created by the Rook.

[2020-12-23 08:40] yangyongzhi7 commented on #1217
Which version should I use for my production?

[2020-12-23 08:44] Madhu-1 commented on #1217
The latest release is always better if you refer https://github.com/ceph/ceph-csi/releases for the latest releases

[2020-12-23 08:46] yangyongzhi7 commented on #1217
The same error message has been arise, just like this:

[2020-12-23 08:48] Madhu-1 commented on #1217
are you specifying the imageFeature in storageclass?

[2020-12-23 08:52] yangyongzhi7 commented on #1217
No, I haven't added it yet as you said,  let me try.
I will tell you the consequence as soon as I finished it.

[2020-12-23 09:01] yangyongzhi7 commented on #1217
Yes, it really looks like as you said, the pod has been bound with a pv successfully,

[2020-12-23 15:18] Madhu-1 commented on #1647
@yati1998 this issue still exists. PTAL

[2020-12-23 18:55] rmartinsanta commented on #1814
Ping:
![imagen](https://user-images.githubusercontent.com/55482385/103028591-5c206e80-4558-11eb-8767-f91c5c45fbe7.png)

Port check fails:
![imagen](https://user-images.githubusercontent.com/55482385/103028749-a7d31800-4558-11eb-97f9-c599e2897387.png)

Will review the network setup, looks like the container cannot reach Ceph?

[2020-12-23 19:52] karibertils opened #1815 "Support ceph cluster running without cephx"
# Describe the feature you'd like to have #

I want to use ceph-csi on cluster running without cephx due to performance reasons.

# What is the value to the end user? (why is it a priority?) #

Disabling cephx can be helpful to squeeze extra performance when doing massive small IO with ceph. Obviously there are security implications for the cluster, and it should only be done in specific scenarios

[2020-12-24 01:07] rmartinsanta commented on #1814
Fixed a network problem, logs show a different problem now.

csi-provisioner
[code]

** couldn't create key for object pvc-df869d5b-a6ca-41fc-ad20-8d975ebc6b04: object has no meta: object does not implement the Object interfaces **

csi-rbdplugin
[code]

Kubernetes node console shows the following warning
![imagen](https://user-images.githubusercontent.com/55482385/103047718-ab809200-458c-11eb-82d

[2020-12-24 01:10] rmartinsanta commented on #1814
Dmesg:
![imagen](https://user-images.githubusercontent.com/55482385/103047901-3feaf480-458d-11eb-9604-6acbe9fb7cd7.png)

[2020-12-24 05:03] yati1998 commented on #1647
Sure @Madhu-1

[2020-12-24 05:18] Madhu-1 commented on #1814
is your ceph cluster healthy? and also are you able to reach the ceph cluster from all rbdpluign-xxx pod which is running as a daemonset on all the nodes.

[2020-12-24 05:22] Madhu-1 commented on #1814
Looks like same as https://github.com/ceph/ceph-csi/issues/1047. make sure there is no network connectivity issue

[2020-12-24 12:04] crazyworlds opened #1816 "Unable to delete ghost snapshot"
# Describe the bug #

Due to an incorrect configuration, some snapshots not linked to any volume persist and it is impossible to delete

- Image/version of Ceph CSI driver : release-v3.2
- Kernel version : 4.18.0-193.19.1.el8_2.x86_64
- Kubernetes cluster version :  1.19.4
- Ceph cluster version : 14.2.15

We notice some snapshat not bounded to volume.
We try to delete them, but we are unable to d

[2020-12-24 13:22] lfdominguez opened #1817 "PVC stuck on pending state"
# Describe the bug #

I deployed the helm version of ceph-csi, all work ok, but when i need to create a PVC always stuck on pending state, the logs show
```failed to provision volume with StorageClass "csi-rbd-sc": rpc error: code = Aborted desc = an operation with the given Volume ID pvc-60d9b518-1d14-40f2-a1aa-e3af0b92e02e already exists```

# Environment details #

- Image/version of Ceph CSI d

[2020-12-25 11:02] #1290 closed

[2020-12-25 11:02] #745 closed

[2020-12-25 12:01] #463 closed

[2020-12-25 12:01] #1488 closed

[2020-12-30 08:46] deadjoker commented on #1705
same error when I use ceph-csi provide cephfs pvc.
I think it's the caps issue because the pvc was created succcessfully when I use admin key.
Is there a minimum caps for ceph-csi cephfs user?
this is my user caps:
[code]

[2020-12-30 08:55] deadjoker commented on #1181
I use ceph-csi 3.2.0 and k8s 1.2.0 and when I create cephfs pvc, the provisioner logs tells `operation not permitted`.
I use the user caps:
[code]
It succeeds if I use admin keyring.
Does ceph-csi need more permission in version 3.2.0?

[2020-12-30 08:55] Madhu-1 commented on #1705
@deadjoker please refer to  https://github.com/ceph/ceph-csi/blob/master/docs/capabilities.md#cephfs

[2020-12-30 09:03] deadjoker commented on #1705
@Madhu-1 thanks for the replay. I modify the caps according to the docs and I get the same error.
the new caps:
[code]

[2020-12-30 09:06] Madhu-1 commented on #1705
this should be `rw`, except that everything looks good. we use the same caps, everything works for us.

[2020-12-30 09:12] deadjoker commented on #1705
I use '[mds] allow rw' and has no luck as well.
the p and s flag only add caps to set quota and make snapshot.
provisioner log:
[code]

[2020-12-30 09:14] Madhu-1 commented on #1705
can you check csi-cephfsplugin container for now detailed error. and also can you try to use the same user to create cephfs subvolume and subvolumegroup manually in ceph cluster?

[2020-12-30 09:17] Madhu-1 commented on #1705
The above one gives access to the pool, we want to restrict the user for the namespace, Yes the ceph cluster version is the only difference, let me try out and see is there any issue with ceph 1.14.x

[2020-12-30 09:21] deadjoker commented on #1705
The 'k8sfs' user can create subvolume and subvolumegroup.
[code]
The 'csi' subvolumegroup is created when I use admin keyring in ceph-csi.

[2020-12-30 09:24] Madhu-1 commented on #1705
okay, am not sure what is the issue here, can you create a subvolume using k8sfs user in csi subvolumegroup?. can you please open a new issue, can we not discuss the cephfs issue here.

[2020-12-30 10:15] deadjoker opened #1818 "create cephfs pvc with error 'Operation not permitted'"
# Describe the bug #

I deploy ceph-csi in k8s and use cephfs to provide pvc.
PVC created fail when I use a normal ceph user but succeed if I use admin ceph user.

# Environment details #

- Image/version of Ceph CSI driver : v3.2.0
- OS version: Ubuntu 20.04.1
- Kernel version : 5.4.0-58
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : kerne

[2020-12-30 10:16] deadjoker commented on #1705
@Madhu-1 refer to https://github.com/ceph/ceph-csi/issues/1818

[2020-12-31 06:25] lixiaopengxiya opened #1819 "csi-cephfsplugin After the plug-in service is restarted, the client service cannot mount the storage disk"
**Environmental inventory：**
kubernetes kubeadm v1.17
docker: 19.03.4
ceph: 14.2.11
csi: v3.1.2

**Problem phenomenon**
After the CSI cephfsplugin service is restarted, the client has the following problems. You need to restart the client service container to return to normal
[code]

csi-cephfsplugin:
[code]

If you need other service logs, please contact me. Thank you for your help

[2021-01-01 20:03] joed96 opened #1820 "Node RBDPlugin Needs `/run/udev/control`"
# Describe the bug #

Pod stuck in ContainerCreating pending mounting of a PVC Filesystem with the Ceph-CSI RBD Plugin:

[code]

# Environment details #

- Image/version of Ceph CSI driver : Release-v3.2
- Helm chart version : n/a
- Kernel version : Linux pve01 5.4.78-2-pve #1 SMP PVE 5.4.78-2 (Thu, 03 Dec 2020 14:26:17 +0100) x86_64 GNU/Linux
- Mounter used for mounting PVC (for cephfs its `fuse`

[2021-01-04 04:42] #1764 closed

[2021-01-06 08:03] liyin37 opened #1824 "ceph fs cannot use in PV"
# Describe the bug #

A clear and concise description of what the bug is.

# Environment details #

- Image/version of Ceph CSI driver : release-v3.2.0
- Helm chart version :
- Kernel version : 3.10.0-957.21.3.el7.x86_64 +
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :
- Kubernetes cluster version : v1.17.0
- Ceph cluster version : ceph ver

[2021-01-06 08:08] Madhu-1 commented on #1824
@liyin37 minimum required ceph version is 14.2.2 for cephcsi to work, please refer to https://github.com/ceph/ceph-csi#support-matrix for supported ceph version details.

[2021-01-06 11:13] mykaul commented on #1461
@humblec - was anything done here?

[2021-01-06 11:21] Madhu-1 commented on #1461
it's possible to support this as a new feature. reopening for the same reason.

[2021-01-07 09:07] nixpanic commented on #1820
Hi!

Thanks for the details and potential fix.
There is also #1450 that adds a `noudev` option to `rbd map`. Could you test if that PR works for you too? Relying on udev is a little ugly, as the udev version on the host does not need to match the version in the container. This can lead to undefined behaviour and unexpected failures. Removing the udev dependency would make ceph-csi a little less li

[2021-01-07 13:41] joed96 commented on #1820
Hi!  Good call, that would be a better approach.  I will test this out over the weekend.

[2021-01-07 15:34] #1323 closed

[2021-01-08 08:39] liyin37 commented on #1824
@Madhu-1  thanks for your answer,buy the way,I update the ceph version to "ceph version 15.2.8 (bdf3eebcd22d7d0b3dd4d5501bee5bac354d5b55) octopus (stable)
"
then use the default user：admin  can use cephfs ,but I ceph auth new user,it does't works ,the error in pvc is below:
--
  Normal   Provisioning          25s (x7 over 55s)  cephfs.csi.ceph.com_csi-cephfsplugin-provisioner-fc8545f74-2nkcr_4039e

[2021-01-10 02:27] joed96 commented on #1820
Hi @nixpanic,

I've been testing this morning, with mixed results including data loss in one test.  I can't rule out my test cases and will keep exploring on my side, but any guidance on how to troubleshoot would be great.   In this comment I'll summarise my findings so far, with details in subsequent comments.  Any guidance on things to look at more closely (or if you can replicate the test failu

[2021-01-10 02:38] joed96 commented on #1820
In this comment I will show the `volumeMode: Block`.   I expect, and successfully observe, that text written to the block device with `dd` can be retrieved after the test pod has been deleted and recreated.

1. Create and deploy a manifest to create a PVC and a Pod:

[code]
[code]

2. See the the RBD image was created

[code]
[code]

3. Exec into the test pod:

[code]

4. See the block device:

[c

[2021-01-10 02:55] joed96 commented on #1820
In this comment I will show the `volumeMode: Filesystem`. I expect, but **fail to observe**, that an html file written to the filesystem will continue to exist after the pod is deleted and re-created.   Instead, I find that the html file is missing.

This test passed successfully using `ceph-csi:release-v3.2` when exposing `/run/udev` to the `rbd-plugin` container, the environment which was descri

[2021-01-10 02:56] joed96 commented on #1820
Node `csi-rbdplugin.log`:

[code]

[2021-01-10 04:46] joed96 commented on #1820
I realised that I was accidentally looking in the provisioner rbdplugin log as not seeing any issues.  Now looking at the node rbdplugin log (attached in the logs comment), it is a little bit more interesting.

Hypothesis:  Is this potentially a race condition where when `rbd` does not wait for the `udev` events then the `rbd-plugin` may move on the next steps before the `/dev/rbd*` device has bee

[2021-01-10 09:56] joed96 commented on #1820
Update: I am indeed losing data due to the `csi-rbdplugin` running `mkfs` again on the RBD image when re-attaching to a pod.   I've added some more logging to `internal/rbd/nodeserver.go` to see the `mkfs` running:

[code]

I re-ran the `volumeMode: Filesystem` test above.  When deleting the pod and re-creating it, I can see that the RBD image is indeed being reformatted.  This seems to be because

[2021-01-10 09:58] joed96 commented on #1820
Node `csi-rbdplugin` log attached from the test above.  The additional logging lines I've added are marked with "zzzz".

[node-csi-rbdplugin-additional-logging.log](https://github.com/ceph/ceph-csi/files/5792451/node-csi-rbdplugin-additional-logging.log)

[2021-01-10 14:20] liyin37 opened #1828 "cephfs_data can't create pvc in kubernetes"
pvc.yaml file is :
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: csi-cephfs-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: csi-cephfs-sc

the version is:
k8s version : 1.17.0
ceph version：15.2.8 (bdf3eebcd22d7d0b3dd4d5501bee5bac354d5b55) octopus (stable)
ceph-csi version：latest

when I "kubectl apply -f pvc.yaml”，the pv

[2021-01-11 06:12] Yuggupta27 commented on #1828
Hi @liyin37, thanks for reaching out! Can you please provide logs for `csi-provisioner` and `csi-cephfsplugin` containers from the `csi-cephfs-provisioner` pod

[2021-01-11 10:43] idryomov commented on #1820
I won't be able to take a detailed look until next week, but this doesn't seem right.  `/dev/rbd<id>` device node is created by the kernel, not udev.  udev is in charge of creating `/dev/rbd/<poolname>/<imagename>` symlink and potentially a couple of other things, but not the primary device node.  There is probably something else going on here.

[2021-01-11 12:30] joed96 commented on #1820
Hi, thanks for the feedback.  My environment will be a contributing factor in that case: I am running my Kubernetes worker node inside of an LXC container which doesn't benefit from the device node created by the kernel, so I'm using udev to create the `/dev/rbd*` device nodes inside of the LXC container.  This weekend I will explore alternative ways to expose the device nodes to the LXC container

[2021-01-11 13:16] idryomov commented on #1820
Yeah, that is completely unsupported.  udev and containers don't interact well even in "standard" setups and once you throw in namespaces, even the most boring "standard" setup falls apart.  Relying on udev is just too brittle.

This is something we could potentially do right in the `rbd` tool.  When `rbd map` exits, the device node is guaranteed to have been created by the kernel, but, as evidenc

[2021-01-11 15:09] joed96 commented on #1820
Thanks, that's useful.  I'm understanding that udev inside an LXC container is brittle and to be avoided.

I'll need to test it out further this weekend, but I believe I could remove udev from inside the container and have the physical host push the `/dev/rbd*` device node into the K8s worker node LXC container by using udev to run `lxc-device -n <container name> add|del /dev/rbd#`.

I assume, how

[2021-01-11 23:31] idryomov commented on #1820
Yes.  I'm not saying this is the only option, but it seems the most appealing to me.

Fundamentally, `rbd map` and `rbd unmap` affect the host and therefore should have straight access to host's `/dev`.  If they are executed from a container, that container should have appropriate bind mounts, be highly privileged, etc.  There shouldn't be a delay between when the kernel says that the image is map

[2021-01-12 13:09] pkalever commented on #1728
We are waiting on you @dillaman :-)

[2021-01-12 14:26] dillaman commented on #1728
CSI could just add a redo log entry to indicate it's deleting volume -> image-id/image-name between step 1 and 2. I think a lot of the CSI steps have an implicit expectations of a properly functioning CO that leaves several holes where images can leak that could be addressed via a redo/undo log.

[2021-01-13 01:19] joed96 commented on #1820
Hi,

I'd like to start by saying thank you for the great dialogue on this issue, it's quite helpful and I appreciate your insights.

I can appreciate that.  Waiting on an async creation of the device node, which should ordinarily be done synchronously, is a kludge and too many kludges in a code base can lead to brittleness and difficulty of maintaining and enhancing the code.

I certainly won't di

[2021-01-13 11:44] idryomov commented on #1820
This is the only sane option, IMO.  This container has `CAP_SYS_ADMIN` in the initial (i.e. global) user namespace, it has access to `/sys`, it is expected to call into the kernel to create and remove actual block devices (i.e. not just device nodes), etc.  With this sort of privileges, jumping through high hoops to avoid exposing `/dev` is very unlikely to make a difference.

Yes, the default beh

[2021-01-13 12:16] joed96 commented on #1820
Thank you again for the dialogue and your insights.  Although I still have my own homework to do, this answers my issue.   Thanks!

[2021-01-13 12:17] joed96 commented on #1820
Initial issue resolved by #1450.   Follow-up data loss issues in the comments are environmental in nature.   Thanks for the great help!

[2021-01-13 12:17] #1820 closed

[2021-01-15 02:38] liyin37 commented on #1828
@Yuggupta27
csi-rbdplugin-provisioner logs:
.storage.k8s.io/pvc/namespace":"default","imageFeatures":"layering","pool":"kubernetes"},"secrets":"***stripped***","volume_capabilities":[{"AccessType":{"Mount":{"fs_type":"ext4","mount_flags":["discard"]}},"access_mode":{"mode":1}}]}
I0115 01:37:54.407212       1 connection.go:185] GRPC response: {}
I0115 01:37:54.407241       1 connection.go:186] GRPC

[2021-01-15 10:57] nixpanic opened #1835 "Improve CI readability by labelling script steps"
# Describe the feature you'd like to have #

Currently the CI jobs that run in Jenkins for each PR list shell commands for steps that are executed. These commands can be labelled with a short and understandable comment.

See [containerized-tests](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/containerized-tests/) as an example, and click on a job to check the different

[2021-01-17 15:37] lwj5 commented on #1725
just to add, here's the link to the issue. https://github.com/kubernetes/enhancements/issues/625
Is there a possibility of relooking into this in the future when all ceph csi functionality is stable?

[2021-01-18 18:30] discostur commented on #1705
@Madhu-1 i did a huge debug session today and i re-created a new and untouched ceph octopus cluster `v15.2.8`. Sadly, the results are still the same. However, i found out that if i first create one rbd image in a namespace (with admin user) and then limit the user rights, all is working fine - even when i delete the namespace and then re-create it. So the problem only occurs with the first rbd ima

[2021-01-19 06:50] Madhu-1 commented on #1828
@liyin37 looks like some networking issue. can you please check you are able to reach the Mon IP from the csi-cephfsplugin of the csi-cephfs-provisioner pods?

[2021-01-19 09:41] mykaul commented on #925
That's a very important feature for us. @Madhu-1 - who can look at this?

[2021-01-19 09:43] Madhu-1 commented on #925
@mykaul sure. we are targeting this for the next release.

[2021-01-19 09:45] mykaul commented on #925
1. Can we do in ceph-csi some naming convention, since we cannot rename a PVC after creation, it might be useful?
2. Alternatively, can we use rbd metadata to store the name ('rbd image-meta set') ?

[2021-01-19 09:49] Madhu-1 commented on #925
Not sure I get the question of what naming you are referring to here?

Yes, we can do it for RBD, even we can use  rados Omap(for both cephfs and RBD)  to set some key-values for PVC.

[2021-01-19 14:00] mykaul commented on #925
I'm trying to answer the above question, on how to do it properly @ scale - clearly looking at all images makes less sense - and I'm also unsure about all PVs (perhaps in a specific class?). Perhaps by using the metadata we can do some filtering.

As for the naming convention - I was wondering if it makes sense to include the PV name (as suffix?) to the rbd volume name.

[2021-01-19 14:09] Madhu-1 commented on #925
Thanks, @mykaul will check what would be the easy and more convenient way to do this one. example:- One can statically Bind the PVC to an already existing PV(Retained PV) we need to see how to handle that one also.

Currently, we are storing the PV name to RBD image/cephfs subvolume name mapping in the rados omap. This is helpful if we just want to export PV names, RBD image names not PVC names. E

[2021-01-20 04:05] liyin37 commented on #1828
@Madhu-1 mon IP is in  k8s cluster，they are k8s nodes ,the network are reaching
[root@master ~]# kubectl get no -owide
NAME      STATUS   ROLES    AGE     VERSION   INTERNAL-IP      EXTERNAL-IP   OS-IMAGE                KERNEL-VERSION                 CONTAINER-RUNTIME
ceph001   Ready    master   4d23h   v1.17.0   172.31.188.210   <none>        CentOS Linux 8 (Core)   4.18.0-193.28.1.el8_2.x86_64

[2021-01-20 05:11] Madhu-1 commented on #1828
@liyin37 can you check restarting the provisioner pod helps? if not can you exec into the csi-cephfsplugin container of the cephfs provisioner pod and execute `ceph fs ls` and paste the output here?

and also you missed attaching the csi-cephfsplugin container logs from the provisioner pod can you please attach complete logs to check is there any command stuck?

[2021-01-20 06:12] Madhu-1 commented on #1265
@nixpanic anything pending here?

[2021-01-20 06:29] liyin37 commented on #1828
[root@ceph001 /]# ceph fs ls
unable to get monitor info from DNS SRV with service name: ceph-mon
[errno 2] RADOS object not found (error connecting to the cluster)

ceph cluster use cephadm ways to deploy ,it runs in docker

[2021-01-20 06:30] Madhu-1 commented on #1828
you need to pass mon IP and user ID and key in CLI

[2021-01-20 06:33] liyin37 commented on #1828
what do you mean? how to do it?

[2021-01-20 07:46] Madhu-1 commented on #1828
`ceph fs ls --id=xxxx  -m=<monip:port> --key=xxxxx`

You need to pass user id, monitor, and user key

[2021-01-20 08:36] liyin37 commented on #1828
[root@ceph001 /]# ceph fs -ls --id=2632ef44-56ee-11eb-88e0-00163e042f7c -m=172.31.188.208:6789 --key=AQDbIAFg7WToBBAAFF/TwpfZ3AV2nXtro5WaIA==
[errno 13] RADOS permission denied (error connecting to the cluster)

[2021-01-20 09:00] nixpanic commented on #1265
This is all done!

[2021-01-20 09:00] #1265 closed

[2021-01-20 09:03] nixpanic commented on #1722
I expect that this is not happening with the current ceph-csi:v3.2.1 image anymore. All items on https://github.com/ceph/ceph-csi/projects/3 have been addressed, meaning go-ceph is used for CephFS provisioning now, instead of the `ceph` command earlier.

[2021-01-20 09:12] Madhu-1 commented on #1828
The id should be the user name, you can refer to ceph documentation to see how to use these arguments in ceph CLI. if it's working please paste the complete csi-cephfsplugin logs from provisioner pod.

[2021-01-21 05:52] agarwal-mudit commented on #1647
I guess we can't reproduce this bug the reason is,
1. If we use the latest rook-ceph version snapshot retention feature is enabled by default and thus pvc deletion will not fail.
2. If we don't use the latest version then snapshot creation itself will fail with this error:
< fs myfs with error API call not implemented server-side: No handler found for 'fs subvolume snapshot info'>

I guess we can

[2021-01-21 05:54] Madhu-1 commented on #1647
@agarwal-mudit Yes in the Issue description I clearly mention that to reproduce the issue we need to **Install ceph cluster which doesn't have the snapshot-retention feature**

[2021-01-23 09:05] matti commented on #521
Why isn't this a top priority issue? a rogue pod can destroy the ceph cluster

[2021-01-23 09:12] matti commented on #521
(https://github.com/rook/rook/issues/1499#issue-297467894)

[2021-01-24 03:44] dimm0 commented on #578
Unstale

[2021-01-24 10:07] mykaul commented on #521
@matti  - do you have any code for this you'd like to share with the community? That would be most welcome and will certainly help prioritizing this work.

[2021-01-24 12:01] mattb18 opened #1841 "csi-rbdplugin-controller requires watch permissions on secret objects"
# Describe the bug #

csi-rbdplugin-controller appears to require watch permissions on secret objects (I think this is due to the go controller library caching the requets).

I've manually added the watch permission to the **ceph-csi-rbd-provisioner** role and it appears to resolve the issue.

I discovered this using the helm chart but the permissions also appear to be missing from the deploy mani

[2021-01-24 12:59] Madhu-1 commented on #1841
@mattb18 thanks for raising the issue. PR is welcome to fix the issue.

[2021-01-25 08:14] pre commented on #521
Are you requesting example code for demonstrating the problem or the solution?

The example code for demonstrating the problem is very simple. It's enough to unpack a huge gzip file or run `dd`. You just need to run them parallel from different nodes so that these rogue clients overwhelm the Ceph cluster.

TL;DR Any centralized limit for IOPS (eg. 3 IOPS per GB, 100 MB/s per TB) would be needed. T

[2021-01-25 13:13] mykaul commented on #521
The solution. I'm well aware of the issue.

[2021-01-26 15:41] #1841 closed

[2021-01-28 07:42] weiliang-ms commented on #1828
I have the same problem. Have you solved it？

[code]

[2021-01-28 07:58] weiliang-ms commented on #1828
[code]

[2021-01-28 13:51] agarwal-mudit opened #1845 "Snapshot retention is not working for cephFS subvolumes."
If cephFS subvolume has snapshots, it can be deleted because of the snapshot retain feature in Ceph.
This is not working in master branch of Ceph-CSI, if you try to delete a PVC whose underlying subvolume has snapshots then PVC would be deleted but the subvolume (and hence the PV) won't be deleted complaining that the subvolume has snapshots.

This behaviour is only seen in master and not in v3.2.

[2021-01-29 09:12] yati1998 commented on #1699
@Madhu-1  you can assign this to me. I will discuss it with @nixpanic .

[2021-01-29 09:20] yati1998 commented on #1699
Thanks @Madhu-1  for assigning. Will start working on this once I am done with the snapshot issue.

[2021-01-29 09:21] nixpanic commented on #1356
Moving this out of the 3.3 release, as there is no design yet. We will need to know what, and how to safely check for the health of the volumes.

[2021-01-29 09:26] nixpanic commented on #1352
@eachirei metrics like `kubelet_volume_stats_*` are only available if the volume is in use by a Pod. Kubelet gathers these metrics, and can only access the Volume when it is in use/mounted.

Could you let us know if this additional detail helps?

[2021-01-29 09:28] nixpanic commented on #1352
Re-triaging, as the problem is not clear enough. Sometimes it worked, sometimes it didnt. As I've been working on #1831 , I now have a better understanding of how metrics work, the question in https://github.com/ceph/ceph-csi/issues/1352#issuecomment-769687644 is key to make progress.

[2021-01-29 10:10] yati1998 opened #1848 "e2e: A check to validate calculateSHA512sum()"
calculateSHA512sum() is used to return the checksum value
to check the data consistency. There should be a test to validate that
calculateSHA512sum() does return different values for different contents.
If the function always returns success, we will not be able to catch incorrect results.

[2021-02-01 07:42] agarwal-mudit opened #1849 "e2e: add e2e for retain-snapshots feature in cephfs subvolumes"
# Describe the bug #

There is no e2e to test the retain-snapshots feature in cephFS subvolumes.

Add a test case for Bytes Quota case also #1850

[2021-02-01 07:42] agarwal-mudit commented on #1849
@Madhu-1 Please assign it to me.

[2021-02-01 07:44] agarwal-mudit commented on #1849
Right now this can not be added because of two reasons:
1. Ceph version: We use upstream ceph version which doesn't support this feature.
2.  #1845

[2021-02-01 10:27] faust64 commented on #740
Though the issue is not solved yet, the last CSI releases do offer with a workaround (tested with `cephcsi:3.2.1`).

You can use `kubectl get volumeattachment` to retrieve a list of attachments, mapping a PersistentVolume to a Node.
You may `kubectl delete volumeattachment csi-xxxyyyzzz` to release a volume, at which point the Multi-Attach errors should go away, and the replacement node would be a

[2021-02-01 23:05] bnevis-i opened #1852 "internal/util/vault.go passes incorrect type for vaultCAVerify"
# Describe the bug #

The `initConnection()` method in `internal/util/vault.go` stores a boolean value in `vaultConfig["VAULT_SKIP_VERIFY"]` but `github.com/libopenstorage/secrets` expects configuration values to be strings.

# Environment details #

- Image/version of Ceph CSI driver : k8s.gcr.io/sig-storage/csi-provisioner:v2.0.4
- Helm chart version : none
- Kernel version : 5.9.12-200.fc33.x86

[2021-02-02 09:44] agarwal-mudit commented on #1845
No fix needed in ceph-csi, it should automatically be fixed with https://github.com/ceph/go-ceph/pull/452

[2021-02-02 11:24] #1852 closed

[2021-02-04 05:37] liyin37 commented on #1828
@Madhu-1 how to  resovle it ? please help

[2021-02-07 07:12] yyt6200 opened #1857 "cephfs create pvc always pending"
Using rbd can create PVC, but cephfs can't. After testing in toolbox, we get the following error, hoping to get some advice

[code]

[2021-02-08 04:25] Madhu-1 commented on #1857
cephfs.Error: error calling ceph_mount: Connection timed out [Errno 110]

The above is a connection issue, some kubernetes network plugin might work with RBD but not with CephFS.

[2021-02-08 04:49] yyt6200 commented on #1857
@Madhu-1
Thank you very much for your reply. My k8s cluster uses the flannel plugin. Does this plugin support cephfs?

[2021-02-08 06:34] Madhu-1 commented on #1857
https://github.com/rook/rook/issues/4006 might help, as you are using Rook to deploy the ceph cluster. I would suggest opening the issue in Rook as cephcsi is not involved in the above issue. Closing for the same reason

[2021-02-08 06:34] #1857 closed

[2021-02-08 06:41] yyt6200 commented on #1857
OK,Thank you very much

[2021-02-08 07:31] Madhu-1 commented on #1828
@liyin37 Have you tried the above one? is your cluster is reachable

[2021-02-08 07:33] Madhu-1 commented on #1828
@weiliang-ms can you please check if you have a subvolume group created in the filesystem. if no that could be the issue. try to create the subvolume group with the name `csi` and see. If you are not able to create the subvolumegroup manually https://github.com/rook/rook/issues/4006 might help you

[2021-02-09 11:08] Madhu-1 opened #1860 "Failed to Delete Application using cephfs PVC"
Looks like NodeUnpublish is failing when the target path is already umounted

## Steps to reproduce

* Create Cephfs PVC and application
* Manually `umount` the target path from the cephfs-plugin container
* Try to delete the application

Analysis  from the issue where we hit the bug in https://github.com/ceph/ceph-csi/pull/1811
[code]

It took around 4 minutes to umount the targetPath after that

[2021-02-10 05:23] #1845 closed

[2021-02-11 13:55] nixpanic opened #1864 "Add an option to store the encrypted passphrase for encryped RBD images in the image metadata"
# Describe the feature you'd like to have #

In order to support KMSs that do not offer the ability to store our passphrase for unlocking encrypted RBD images, it has been requested to store the encrypted Data-Encryption-Key (DEK) together with the RBD image.

The KMS will be used to encrypt (upon volume creation) and decrypt the DEK. The decrypted DEK will not need to be saved on persistent stora

[2021-02-15 09:15] nixpanic opened #1867 "e2e tests fail with a timeout, ExecWithFullOutput stuck without logging progress"
# Describe the bug #

e2e tests fail with a `panic` due to a timeout of 90 minutes. From the start of the job to the panic, the logs only show activity for a part of the time (< 60 minutes). The remaining of the time, the job was stuck waiting on a response of the Kubernetes API server:

A typical (partial) stack from #1865:
[code]

[2021-02-15 11:03] nixpanic opened #1871 "Keep instances of KMS configurations around, do not refresh them for every operation"
# Describe the feature you'd like to have #

Currently, for each instance of an encrypted RBD Image in the provisioner and node-plugin, a KMS instance (connection details) are read from a configuration file or Kubernetes ConfigMap. It would be more efficient to keep a list of configured KMS's in memory, and only refresh them when needed.

# What is the value to the end user? (why is it a priority?

[2021-02-16 21:35] cjheppell commented on #1543
Is there any update on this?

I discussed seeing flattening happening in #1800 but it was mentioned that none of the operations there would cause flattening.

As it stands right now, if I create a PVC, then snapshot that PVC, then create a clone of the snapshot and try to mount it I'm getting this error from a `kubectl describe` of a pod trying to use that cloned PVC:

[code]

It is eventually abl

[2021-02-16 21:36] cjheppell commented on #1800
I wonder if this ought to be reopened?

I've done a bit more digging and I've seen this flattening happen from the ceph csi-plugin pod itself.

See: https://github.com/ceph/ceph-csi/issues/1543#issuecomment-780132055

[2021-02-16 22:02] cjheppell commented on #1543
Ah, it seems this comment suggests you must have kernel 5.1+ to avoid a full flatten: https://github.com/ceph/ceph-csi/pull/693#issuecomment-640067191

Presumably this is the problem, as minikube is using 4.19?

[2021-02-17 04:05] Madhu-1 commented on #1543
@cjheppell kernel less than 5.1+ does not support mapping of rbd images with deep-flatten image feature for that we need to flatten the image first and map it on the node.

[2021-02-17 09:08] nixpanic opened #1874 "e2e testing occasionally fails to detect deleted PVC/PV objects"
# Describe the bug #

Sometimes the CI jobs error out while waiting for a PVC/PV to be deleted. This happens for CephFS and for RBD based volumes.

CephFS:
[code]

RBD:
[code]

The common logs show that the `PersistentVolumeClaimStatus` object is empty. This should be pretty uncommon, and suggest an incorrect check in the e2e tests.

[2021-02-17 09:09] nixpanic commented on #1874
Occurred at https://github.com/ceph/ceph-csi/pull/1869#issuecomment-780381835

[2021-02-17 09:09] nixpanic commented on #1874
Happened again at https://github.com/ceph/ceph-csi/pull/1873#issuecomment-780359819

[2021-02-17 09:11] cjheppell commented on #1543
Was this a change between v2.1.x and v3?

As described in #1800, when I performed the same actions on v2.1.2 I didn't see this flattening behaviour.

[2021-02-17 09:16] nixpanic opened #1875 "e2e tests fail with "monclient(hunting): authenticate timed out after 300""
# Describe the bug #

Occasionally e2e tests fail with messages similar to:
[code]

It seems `kubectl` is used to call an `rbd` command, which then fails to authenticate to the Ceph cluster.

[2021-02-17 09:17] nixpanic commented on #1875
Happened at https://github.com/ceph/ceph-csi/pull/1869#issuecomment-780415172

[2021-02-17 09:17] nixpanic commented on #1875
An other occurrence at https://github.com/ceph/ceph-csi/pull/1873#issuecomment-780080222

[2021-02-17 09:17] nixpanic commented on #1875
And at https://github.com/ceph/ceph-csi/pull/1675#issuecomment-778749379

[2021-02-17 09:34] Madhu-1 commented on #1543
Yes, this is a change in v3.x as we reworked the rbd snapshot and clone implementation.

[2021-02-17 09:38] cjheppell commented on #1543
Presumably that's what the "Snapshot Alpha is no longer supported" in the v3.0.0 release notes is referring to? https://github.com/ceph/ceph-csi/releases/tag/v3.0.0

I must admit, this is _very_ surprising and completely unexpected behaviour as a user.

It seems that unless I'm on a kernel 5.1+ then cloning from snapshots is fundamentally _not_ performing the copy-on-write behaviour that Ceph clai

[2021-02-17 09:46] Madhu-1 commented on #1543
in kubernetes, both snapshot and pvc are the independent objects. this is a new design (v3.x+) to handle that. rbd clone will be created when a user requests kubernetes snapshots.

yes as the clones are created with the deep-flatten feature if the kernel version is less than 5.1 the nodeplugin tries to flatten the image and then maps it. you also have an option to flatten the image during the snap

[2021-02-17 09:54] cjheppell commented on #1543
Quite right, but given I'm using a Ceph driver to fulfil the operations of k8s concept of snapshot/clone I'd still expect the behaviour to represent that documented in Ceph's own snapshot/clone semantics. It appears this _is_ true for kernels 5.1+ on v3.x.x, and it _was_ true for kernels <5.1 on releases v2.1.x but is _no longer_ the case for kernels <5.1 on v3.x.x releases.

My point is that as a

[2021-02-17 11:43] nixpanic commented on #1875
https://github.com/ceph/ceph-csi/pull/1013#issuecomment-780497604 as well

[2021-02-18 09:36] nixpanic commented on #1874
#1876 is not sufficient, https://github.com/ceph/ceph-csi/pull/1675#issuecomment-781212951 still fails

[2021-02-18 11:46] BrommD opened #1879 "Parameter "volumeNamePrefix:" for CEPHFS StorageClass doe snot work"
# Describe the bug #

The parameter option `volumeNamePrefix:` for CephFS does not work, it creates still volumes with following syntax `/volumes/csi/csi-vol-47451c7b-71d5-11eb-aac5-e6ad37bf8738` on CEPH cluster.

Used config:
[code]
# Environment details #

- Image/version of Ceph CSI driver :
[code]
- Helm chart version :
not used
- Kernel version :
Linux vm-k3os-mst1int 5.4.0-54-generic #60 SMP

[2021-02-18 20:07] BlaineEXE opened #1881 "Confusing "operation with the given volume ID" errors"
# Describe the bug #

Ceph-CSI provisioner containers often output errors like below. To my understanding, this does not constitute a real error, as it only means that another Ceph-CSI process is handling the request. It often confuses Rook users as here https://github.com/rook/rook/issues/7202#issuecomment-780099804. Can these errors be reduced to Info messages?

[code]

[2021-02-19 05:12] humblec commented on #1881
@BlaineEXE I am diplomatic here. In one way its correct that, its informational message and can be logged as Info. In other angle, its a request reiteration from controller in above layer like sidecar and not really a retry from CSI driver layer. So I would like to get general opinion (@ShyamsundarR @nixpanic @Madhu-1 ) here before we make a move.

[2021-02-19 06:37] Yuggupta27 opened #1883 "Enable idempotency for Snapshot create request"
# Describe the bug #

On multiple snapshot creation requests, if a request fails for some reason, a new snapshot ID is generated.
In case the latter request succeeds, the external-snapshotter updates the Ready-to-use as TRUE for the old
snapshotHandle and not for the new one.

[code]
# Environment details #

- Image/version of Ceph CSI driver : canary
- Kernel version :
- Kubernetes cluster versio

[2021-02-19 06:42] hookak opened #1884 "Add ‘subvolumegroup’ field in cephfs storageclass"
CephFS has a directory structure like ’/{volume}/{SVG}/{SV}.
Currently, SVG is fixed as `csi` for all pvc.
e.g., ‘/vol/csi/pvc-1’ , ‘vol/csi/pvc-2’.

I think adding a SVG field in storageclass is necessary.
So the parent directory in which the SV is created could be classified by storageclass.
This makes it easy for multiple MDSs to process metadata in SVG.

I wonder if these features are in the p

[2021-02-19 06:49] humblec commented on #1883
@Yuggupta27 I am yet to look at the logs in detail, however in summary it looks like a bug in external snapshotter sidecar. Isnt it ( or did I miss anything here?) ? if yes, can you please open an issue in https://github.com/kubernetes-csi/external-snapshotter/issues/ ? please let me know if you need help.

[2021-02-19 06:57] Madhu-1 commented on #1884
This is already supported in configmap  https://github.com/ceph/ceph-csi/blob/0d9cb96db1c352e04a029d1ebb4a27eb0cf35a2e/examples/csi-config-map-sample.yaml#L37-L39

[2021-02-19 06:58] Madhu-1 commented on #1883
@humblec  we got confirmation in kubernetes slack channel. this is not a bug in the external snapshotter this is a bug in cephcsi as cephcsi should not return the new snapshotID when it gets the second request with the same name.

[2021-02-19 06:59] Yuggupta27 commented on #1883
@Madhu-1 and I had a discussion with the Kubernetes team in their slack, where they suggested that If CSI driver receives the same snapshot request multiple times, it should create only one snapshot ID and not multiple; to handle idempotency.

[2021-02-19 07:06] Madhu-1 commented on #1883
This is applicable for both cephfs and RBD snapshot operations.

cc @ShyamsundarR

[2021-02-19 07:20] hookak commented on #1884
Thanks a lot! That's exactly what I want.
Close issue.

[2021-02-19 09:48] Yuggupta27 commented on #1646
@Madhu-1 Since the error message is now proper and self-explanatory, can we close this issue?
[code]

[2021-02-19 10:17] Madhu-1 commented on #1646
@Yuggupta27 Thanks for testing it. closing

[2021-02-19 10:17] #1646 closed

[2021-02-19 12:04] ShyamsundarR commented on #1883
Ack! Like the same volume name generates the same volume ID/handle the same snapshot name should generate the same snapshot ID. This is applicable to both providers as well as stated above. Will watch out for the PR, curious to know what we missed, but will look at the PR for the same.

[2021-02-19 12:24] Madhu-1 commented on #1883
@Yuggupta27 if you have logs please attach the complete logs for further analysis.

Looking for a volunteer to take it on priority

[2021-02-19 12:36] Yuggupta27 commented on #1883
Sure Madhu, attached the csi-provisioner and rbd-plugin logs in the issue... Let me know If I can provide any other logs for the same.

[2021-02-19 14:41] nixpanic commented on #1881
I agree that it is a confusing message. However, it usually is caused by an earlier failure that prevented the volume from getting created. We may be able to include more details about the original request, so that users have something they can lookup to troubleshoot a little more.

Unfortunately, I have seen occasions where this error is reported, because the initial `CreateVolume` request never

[2021-02-19 17:04] #1879 closed

[2021-02-19 18:17] BlaineEXE commented on #1881
I think this would help quite a bit if it's possible to include more information about where the root of the issue is. It's difficult when users merely report this error line, because it doesn't actually contain any information relevant to finding the source of the issue. Even just more text explaining that this could be a side-effect of another issue would be good and where (if possible) users sh

[2021-02-20 03:14] zzniwei opened #1886 "why not include snapshot-controller in deployment example"
Hello experts ,
I found there was no snapshot-controller usage mentioned in ceph-csi project, it is a important sidecar of csi interface , so have you
forgotten it ？

brs
Ni Wei

[2021-02-20 03:16] #1886 closed

[2021-02-20 03:19] zzniwei commented on #1886
ok，I found install-snapshot.sh

[2021-02-21 19:06] sgissi commented on #1818
I came across the same issue. User for CephFS is able to create subvolumegroups and subvolumes but it fails on the provisioner. An user will full admin rights works without problems. I couldn't find where the call to RADOS is done to find out which permission is missing or which action causes the problem.

[2021-02-22 05:27] humblec commented on #1818
@deadjoker @sgissi these are the capabilities we require for the user in a ceph cluster for Ceph CSI to perform its actions https://github.com/ceph/ceph-csi/blob/master/docs/capabilities.md  , even after giving these permissions if you still face issues, please revert!

[2021-02-22 05:41] deadjoker commented on #1818
@humblec I followed this docs and still get this error.
See my step 1

[2021-02-22 08:38] humblec commented on #1818
Thanks @deadjoker for confirming the setup . @yati1998 are we missing any capabilities in the doc ?

[2021-02-22 10:24] mlaguilharre opened #1887 "Change cephfs mount options for existing volume"
**# Describe the feature you'd like to have #**
- Ability to override the cephfs mount option in the configMap.

**# What is the value to the end user? (why is it a priority?) #**
- During tuning process, we need to change mount option for existing PV, however this is set during provisioning and can't be changed afterward without copying the existing data to new provisionned volume.

Ex: We want t

[2021-02-22 10:51] humblec commented on #1887
@mlaguilharre ideally the mount options are kind of admin property so the choices are available in storage class . https://github.com/ceph/ceph-csi/blob/master/examples/cephfs/storageclass.yaml#L52 . Are you pointing it out this is not enough ?

[2021-02-22 13:57] mlaguilharre commented on #1887
@humblec Yes we like to modify mount options after volume provisioning, as far I know, Storage Class is used only during provisioning process, therefor it is not enforced for already existing volume. Ideally we could override the cephfs mount options in the configmap.

[2021-02-22 14:46] nixpanic commented on #1887
@mlaguilharre, have you tried to modify the mount options in the PV object?

[2021-02-22 14:51] mlaguilharre commented on #1887
@nixpanic Yes, it is not possible, it is immutable.
 kubectll patch pv pvc-471411d0-4da3-4ee2-9ee5-b9b144839655 -p '{"spec":{"csi":{"volumeAttributes":{"kernelMountOptions": "noatime,nodiratime,noacl"}}}}'
The PersistentVolume "pvc-471411d0-4da3-4ee2-9ee5-b9b144839655" is invalid: spec.persistentvolumesource: Forbidden: is immutable after creation.

[2021-02-22 18:12] sgissi commented on #1887
Just a note: CephFS doesn't handle atime ([or even relatime](https://tracker.ceph.com/issues/43337))

[2021-02-23 08:24] nixpanic commented on #1887
It seems CSI does not expose the `mountOptions` into the Kuberenetes PersistentVolume object. Ceph-CSI works around this by putting them in the (immutable) PersistentVolumeSource `volumeAttributes`.

The clean way of editing mount-options would be to have CSI expose the `mount_flags` from the `VolumeCapability` response (see [CSI spec](https://github.com/container-storage-interface/spec/blob/maste

[2021-02-23 09:09] humblec commented on #1887
@sgissi even after placing it in SC ?

[2021-02-23 09:18] humblec commented on #1887
@mlaguilharre The CSI driver fetching  the config map and adjust according to that for each node stage/publish request looks tedious to me. As mentioned above, ideally this would be handled by the core CSI. afacir, the main reason for placing the mount options in SC was making it admin thing than a user for better security.

[2021-02-23 14:25] agarwal-mudit commented on #1883
I might be wrong but I think this problem should be only with RBD and not with CephFS:

RBD:
We just pass the snapshot name and go-ceph API also does the same it doesn't care about the ID, so ID can change during the second request?

    ` type rbdSnapshot struct {

	// SourceVolumeID is the volume ID of RbdImageName, that is exchanged with CSI drivers

	// RbdImageName is the name of the RBD imag

[2021-02-23 14:26] agarwal-mudit commented on #1883
But if my assumption is correct we should be seeing this issue more frequently.

[2021-02-24 08:22] agarwal-mudit commented on #1883
Please ignore my last comments, shouldn't be the reason for this issue.

[2021-02-25 08:19] discostur commented on #1705
ping @Madhu-1

[2021-02-26 04:38] hookak commented on #1884
Hi, again.
Changing the default SVG is possible by specifying SVG in the configmap. However, in that case, creating SVs in multiple SVGs is still can not be achieved.

Currently, clusterID and cephFS can be specified in storageclass. Likewise, if a user can specify SVG in storageclass, a SV can be created in the cephfs path that the user wants.

What do you think of this approach? I think a featur

[2021-02-27 04:41] ethanbergstrom commented on #834
I forked the repo and made several updates to the deployment YAMLs to remove the dependency of an empty encryption configmap, along with moving everything into its own namespace, and some other general cleanup.

Check it out if you'd like to use those instead, as I found the ones offered in the main repo somewhat messy: https://github.com/ethanbergstrom/ceph-csi/tree/master/deploy/rbd/kubernetes

[2021-02-27 15:02] sgissi commented on #1887
It is not a Ceph CSI limitation, the flag isn't supported by CephFS itself. The inability to change mount options is a valid issue, I'm just pointing out that flags related to "noatime" (noatime, realtime, nodiratime) have no effect on CephFS.

[2021-02-27 17:20] tareqhs opened #1892 "Get rbd snap image name from VolumeSnapshotContent"
# Describe the feature you'd like to have #

The ability to identify which rbd child image (`csi-snap-...`) backs a `VolumeSnapshotContent` resource.

# What is the value to the end user? (why is it a priority?) #

Various custom operations on the RBDs directly, e.g. exporting, sparsifying, ad-hoc stuff ...

# How will we know we have a good solution? (acceptance criteria) #

A field in csi parame

[2021-03-01 05:21] #1193 closed

[2021-03-01 05:22] Madhu-1 commented on #1193
the master branch is renamed as the devel

[2021-03-01 05:44] Madhu-1 commented on #1892
@tareqhs Thanks for opening the issue. the context on the volumesnapshotContent is set by the external-snapshotter, not by the cephcsi driver. can you please open an issue in https://github.com/kubernetes-csi/external-snapshotter/issues to have this feature?

[2021-03-01 05:45] Madhu-1 commented on #1892
https://github.com/kubernetes-csi/external-snapshotter/issues/379 is the one already opened in external-snapshotter.

[2021-03-01 05:47] Madhu-1 commented on #1540
@humblec do we still need this issue or can we close this one?

[2021-03-01 05:54] Madhu-1 commented on #1884
setting the SVG at storageclass is not possible as the storageclass parameters are not sent to the cephcsi In deleteVolume or deleteSnapshot operations. for that the SVG is moved to the configmap. if you want multiple SVG in single cluster you can create configmap like below

[code]

[2021-03-01 06:19] Madhu-1 commented on #1705
@discostur am adding e2e to test rados namespace with limited caps user in https://github.com/ceph/ceph-csi/pull/1888

[2021-03-01 06:22] Madhu-1 commented on #1705
@discostur is created by the cephcsi driver.

[2021-03-01 07:32] humblec commented on #1887
@sgissi if you think there is an issue at CephFS side, please feel free to open an issue here https://tracker.ceph.com/issues

[2021-03-01 08:09] tareksha commented on #1892
Hi @Madhu-1 thanks for info. Seems like the issue goes all the way down to the CSI spec. Is there any workaround that I can do in order to get image names?

[2021-03-01 08:11] Madhu-1 commented on #1892
you can decode the SnapshotHandle. `csi-snap-` and the last part of the SnapshotHandle is your rbd image name.

[2021-03-01 08:25] tareksha commented on #1892
@Madhu-1 thank you!

[2021-03-01 10:27] Madhu-1 commented on #1892
closing this as not an issue. please free to join cephcsi slack or reopen this if you need more help.

[2021-03-01 10:27] #1892 closed

[2021-03-01 12:28] anmolsachan opened #1894 "Requirement of adding Volume ID to the CSI PV spec"
# Describe the feature you'd like to have #

CSI PVs should have another spec that exposes the actual RBD (imageName) or CephFS (subvolumeName) volume name.

The actual requirement is to expose ceph storage (rbd/cephFS) volumeID via the Kube-state-metrics like other Kubernetes storage drivers : https://github.com/kubernetes/kube-state-metrics/blame/ef393104fe8cc3aa7903b443217725e02fbf2622/internal

[2021-03-01 12:34] humblec commented on #1894
@anmolsachan the referenced PV volume handle mapping from Kube is for the `intree` drivers. The CSI spec capability of exposing such attributes are via Volume Attributes in CSI PV struct and we expose that information via `csi.volume attributes.imageName`. Is this a request to enhance CSI spec itself or do you think we miss something in Ceph CSI driver compared to general or other CSI drivers? may

[2021-03-01 12:38] anmolsachan commented on #1894
@humblec This is a requirement to enhance Kubernetes PV CSI spec and then the same shall be implemented in csph-csi.

Just like

[code]
CSI should have

`spec.csi.VolumeID`

[2021-03-01 14:19] Madhu-1 commented on #1894
VolumeHandle in the PV spec is the volumeID generated by the CSI driver.   It's an encoded ID that is required by cephcsi to identify the underlying rbd image in different ceph clusters (as cephcsi supports multiple ceph clusters)

[2021-03-01 14:30] anmolsachan commented on #1894
@Madhu-1  Exactly, But,

The rbd metrics expose the ID/Name of the metrics like

Image: `csi-vol-18624d24-7656-11eb-ac83-0a580a810213`
But CSI volumeHandle: >-
      `0001-0011-openshift-storage-0000000000000001-18624d24-7656-11eb-ac83-0a580a810213. `

Prometheus on run-time cannot convert VolumeHandle to Image ID. That is why we need another spec that exposes the exact volume ID and then that can

[2021-03-01 14:37] Madhu-1 commented on #1894
The VolumeHandle will be the one to identify the backend storage. The volumeHandle `0001-0011-openshift-storage-0000000000000001-18624d24-7656-11eb-ac83-0a580a810213 ` is cephcsi specific because we generate a new volumeID which is required for cephcsi to identify the pool, cluster, rbd image/subvolume, etc. IMO this cannot be a CSI spec/kubernetes change because maybe for many storage providers t

[2021-03-01 14:46] tareksha commented on #1892
@Madhu-1 checked this ..  `volumeHandle` in `VolumeSnapshotContent` contains the GUID of the `csi-vol-` image, exactly the same as `volumeHandle` in `PersistentVolume`. Can't find the GUID of `csi-snap-...`. Is this intentional?

[2021-03-01 14:49] Madhu-1 commented on #1892
@tareqhs yes it intentional it's the same as the snapshothandle which is an encoded one.

for pvc it starts with `csi-vol` for snapshot it starts with `csi-snap` unless you use a custom prefix in storageclass or snapshotclass

[2021-03-01 14:54] sgissi commented on #1887
@humblec Not a problem for me and in any case there is an issue open for relatime that I linked in my previous comment. I just wanted to make sure @mlaguilharre is aware as he mentioned these flags.

To add 2c into the actual issue: it makes sense to be an issue against CSI itself, not Ceph CSI.

[2021-03-01 15:04] mlaguilharre commented on #1887
Understood, I may open a issue with CSI. We are evaluating it. Thanks for the help.

[2021-03-01 16:02] dillaman commented on #1894
Seems to be semi-related to the goals of #925

[2021-03-02 06:48] hookak commented on #1884
You're right. I thought it a little tricky that pointing the same ceph cluster using a different clusterID in configmap. But I didn't know this detail before.

Thanks a lot for your comment. I'm gonna update docs for others.

[2021-03-02 08:54] Madhu-1 opened #1896 "Address TODOs for "rbd: add support for async mirroring""
This issue is opened to track the TODO's which are pending in #1877

Below is the list of TODO's

- [ ]  move getVolumeFromID to controllerserver.go and reuse it wherever it's applicable.
- [ ] create a new Replication controller struct for the replication operations.
- [ ] check do we need to return abort after disabling the mirroring
- [ ] use string instead of int for returning a valid error me

[2021-03-02 10:05] jisnardo opened #1897 "What is the way to use csi-rbd with multiple storageclasses"
# Describe the bug #

What is the way to use csi-rbd with multiple storageclasses (example: two)?

One csi-rbd / two storageclasses?

[code]

Two csi-rbd / two storageclasses?

[code]

[code]
# Environment details #

- Image/version of Ceph CSI driver : **v3.2.1**

[code]

- Helm chart version : **v3.2.1**
- Kernel version : **Ubuntu 18.04.5 LTS / 5.4.0-62-generic**
- Mounter used for mounting PVC

[2021-03-02 10:27] Madhu-1 commented on #1897
@jisnardo a single cephcsi instance can work with multiple ceph clusters. for your use-case you need one rbd instance and 2 rbd storageclass with different cluster ID's

[2021-03-02 10:29] Madhu-1 commented on #1897
If you use multiple rbd instances you need to make sure the Provisioner/Driver same is unique

[2021-03-02 10:52] jisnardo commented on #1897
Hi @Madhu-1, so according to this "for your use-case you need one rbd instance and 2 rbd storageclass with different cluster ID's"

Is this the correct way?

1) create two sc with different **clusterID**.

[code]

2) append to the cm the second clusterID / monitorlist:

[code]

[2021-03-02 11:19] Madhu-1 commented on #1897
Yes, correct. this is the preferred way

[2021-03-02 11:45] Madhu-1 commented on #1705
@discostur I can create pvc inside the rbd namespace with a restricted user with caps mentioned at https://github.com/ceph/ceph-csi/issues/1705#issuecomment-748075784. E2E is passing in https://github.com/ceph/ceph-csi/pull/1888 please check if am missing something or am testing it differently.

[2021-03-02 11:47] Madhu-1 commented on #1705
one last thing I need to test is to create a pvc in the rbd namespace first without creating anything to make sure we don't have any issue in rados omap.

[2021-03-03 06:24] evgkrsk opened #1902 "Address already in use for prometheus-liveness container (tcp/8081) of ceph-csi-cephfs"
# Describe the bug #

We have constantly crashed nodeplugin pods (prometheus-liveness containers) with mostly default values.yml

# Environment details #

- Image/version of Ceph CSI driver : see chart versions below
- Helm chart version : versions 2.1.2 AND 3.2.1 of ceph-csi-cephfs chart
- Kernel version : 4.20.13
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `

[2021-03-03 06:26] Madhu-1 commented on #1902
@evgkrsk you need to check if anyone is already using the 8081 port on the host machine. if yes you need to change the value of the port when you are deploying with a helm chart

[2021-03-03 07:18] evgkrsk commented on #1902
Yep, sorry, false alarm.

Port 8081 is used by other program on host machine, missed out...

[2021-03-03 07:18] #1902 closed, assigned to nobody

[2021-03-03 07:52] jisnardo commented on #1897
Thanks @Madhu-1 !

[2021-03-03 07:52] #1897 closed, assigned to nobody

[2021-03-03 17:02] f1-outsourcing commented on #1809
I just need something like this to test, because these mesosphere people implemented something proprietary.

https://github.com/f1-outsourcing/csiceph/commit/2faac2d4756c1e09ba06ff364c1f038dcce6c7c4

[2021-03-04 06:18] Madhu-1 commented on #881
We already deprecated the grpc metrics in cephcsi, I think now we can remove it. This will also solve the issue of port conflict when cephcsi is used with hostnetworking enabled.

cc @nixpanic

[2021-03-04 09:57] RajuMedpur opened #1905 "CVE-2019-12900 - DOCKER:cephcsi-v2.1.2"
# Describe the bug #
Bug is related to CVE-2019-12900 where BZ2_decompress in decompress.c in bzip2 through 1.0.6 has an out-of-bounds write when there are many selectors.

Is the latest version have the fix for the above ? Pls confirm .

-- edit by @nixpanic: removed unmodified template text

[2021-03-04 10:16] nixpanic commented on #1905
Ceph-CSI does not use bzip2 directly, so this is not likely a problem that can be abused through any of the Ceph-CSI container images.

I do not think Operating System vendors (like CentOS we base our images on) have provided fixes for this 'issue'. See https://gnu.wildebeest.org/blog/mjw/2019/08/02/bzip2-and-the-cve-that-wasnt/ for a description of the problem, including the last paragraph.

If y

[2021-03-04 12:32] hasonhai commented on #1802
I need to convert the pv from k8s in-tree rbd-provisioner to ceph-csi version. Currently I can only convert it to static PV. But with static PV, I cannot resize or delete the rbd image in the pool. Is there any way to generate the volumeHandle ID to make static PV become dynamic PV?

[2021-03-04 14:29] f1-outsourcing opened #1907 "task can not migrate/move to different host"
# Describe the bug #

Looks like your driver does not allow tasks to move across nodes. With this[1] task configuration the tasks starts correctly on on m01.local, but fails on c04.local, logs[2] of the csi driver on c04, this[3] is the log of m01.

[2]
[code]

[3]
[code]

[1]
[code]

[2021-03-04 15:31] nixpanic commented on #1907
The error `rbd: unknown map option 'noudev'` suggests that you do not have a recent Ceph client on the system where the RBD image is mapped. The dependency on the `noudev` option was introduced with #1450.

Can you try again with a container image that is provided by the project?

[2021-03-04 15:45] f1-outsourcing commented on #1907
I can assure you the setup is the same. You should focus on why it wants to create an image, while there is already an image. (I am running indeed everywhere still default (old) el7 kernel. But that is for the current testing not really important.

Do you have something like a chat or phone? I can't seem to get what your plugin is doing. I have the impression it only creates/destroys volumes and v

[2021-03-04 16:13] f1-outsourcing commented on #1907
This works
[@c04 mesos]# rbd map app-f274196b-7c6f-11eb-847c-0050563001a1 -p app --id app.mesos -K ~/mesos.keyring

/dev/rbd0

I will try downgrade the kernel on the m01 to the same version as c04.

Yes yes you are right, I have to wait for weekend to do the reboot then.

[2021-03-04 17:01] f1-outsourcing commented on #1907
I have updated everything now I am getting 'rbd: unrecognised option '--device-type''

[2021-03-04 20:27] f1-outsourcing commented on #1907
Hmmm, after updating two vm's in the testing environment

[code]

If I launch the task again on the m02, I have still a problem publishing

[code]

[2021-03-05 07:46] nixpanic commented on #1907
I don't know why there would be a udev failure reported in the case `--option noudev` is passed:
[code]
Maybe @idryomov has an idea.

[2021-03-05 10:38] f1-outsourcing commented on #1907
I have also no idea, I have updated both exactly the same, but running the nfs plugin also gives mount errors, while from the console the nfs works. I think it has to do with systemd, although these dir trees seem to be the same on both test servers. I am doing now package install verification on both to determine the difference.

[2021-03-05 11:09] f1-outsourcing commented on #1907
Terribly Terribly sorry, I have noticed that the capabilities of the agent on this test server were set. Those prohibit the mounting, after removing them the volume is mounted. I am now able to move this task around nodes.

[2021-03-05 11:25] f1-outsourcing commented on #1907
Why is this udev actually an issue and used? I am able to rbdmap an image on the node without any problems. Is there an option to disable this parameter or is it really necessary? If I can I would like to postpone the reboot.

[2021-03-05 13:26] idryomov commented on #1907
@nixpanic We are still relying on libudev in that case, so some error messages mention udev.

[2021-03-05 13:44] idryomov commented on #1907
@f1-outsourcing AFAICS there is nothing wrong with udev here, it sounds like the issue was a misconfigured environment on your side.  ceph-csi sets this option to avoid some network namespace issues and consequent restrictions on `csi-rbdplugin` pod, you don't need to unset it.

[2021-03-05 13:44] idryomov commented on #1907
Just as a data point, could you elaborate on what capabilities were in effect and what did you do (commands you ran, etc) to fix them?

[2021-03-05 17:10] f1-outsourcing commented on #1907
Adding SYS_ADMIN capability seems to be the default choice for allowing mounting. Now I have to think about if I would like to run the agents with this option, so all tasks can access this capability. Or maybe use some 'external' drivers option so I the SYS_ADMIN capability is not accessible to tasks.

[code]

[2021-03-05 18:55] idryomov commented on #1907
Right, `CAP_SYS_ADMIN` is required for mapping block devices and mounting filesystems.

[2021-03-06 10:41] f1-outsourcing commented on #1907
This guy seems to have a coherent argument for not using the SYS_ADMIN. I am using now the external driver solution. So I do not have to allow SYS_ADMIN in the CO.

Maybe also good argument to adapt the plugin so it can run without a container image ;)

[1]
https://forums.grsecurity.net/viewtopic.php?f=7&t=2522

[2021-03-07 23:34] f1-outsourcing opened #1909 "feature: support mesos slrp csi implementation"
# Describe the feature you'd like to have #
Adding support for mesos slrp csi implementation
http://mesos.apache.org/documentation/latest/csi/

requires ListVolumes and GetCapacity

[2021-03-08 07:49] nixpanic commented on #1909
Would you be willing to assist with writing and maintaining test scripts for Mesos support?

The CI jobs we have are in the [ci/centos branch](https://github.com/ceph/ceph-csi/tree/ci/centos). The main script that is used for k8s is [single-node-k8s.sh](https://github.com/ceph/ceph-csi/blob/ci/centos/single-node-k8s.sh), and we would need a similar one for Mesos. After that, we also need to deploy

[2021-03-09 05:11] yati1998 commented on #1860
@Madhu-1 please reassign this issue to Rakshith as he has already made a PR.

[2021-03-09 07:09] zzswang commented on #1820
@joed96

Did you make it all works? I have almost the same environments with you.

I'm trying to make PVE + LXC + K3S + Ceph work together. but got an error while following this [post on docs.ceph.com](https://docs.ceph.com/en/latest/rbd/rbd-kubernetes/).

It seems the container does not have `/dev/rbdx` mapped successfully.

The error is:

[code]

Detail error:

[code]

Could you share your setup

[2021-03-09 10:58] zzswang commented on #1820
raw block pvc has similar error

[code]

[2021-03-09 12:44] idryomov commented on #1820
@zzswang Do you have host `/dev` exposed to the container?

[2021-03-09 13:07] zzswang commented on #1820
I'm not sure. Not familiar with lxc.

[code]

Does this two lines allow the mount on physical host?

Since there are  `/dev/rdb1 /dev/rdb2 ...` folders were created on the physical host.

[2021-03-09 15:09] joed96 commented on #1820
Hi @zzswang,

I haven't proceeded with this so far as I've been waiting for my real environment before going through the rebuild and testing process.

The configuration you showed above won't expose the host `/dev` to the container.  In principle to do this, you'll need to add an additional `lxc.mount.entry` line to your lxc configuration to mount `/dev` into the container *and* ensure that the co

[2021-03-09 15:41] zzswang commented on #1820
Thank you very much. I would like to take your suggestion to go back with KVM.

Running k8s cluster with ceph in LXC, really is a tough work for now. It has already spent me more than a week.  Google a lot ...

[2021-03-10 05:12] weiliang-ms commented on #1828
@Madhu-1 Thanks for reply.

I performed the following steps:

An exception occurs when I execute the following：

[code]
[ceph-csi/issues#1857](https://github.com/ceph/ceph-csi/issues/1857#issue-802885160) says `The above is a connection issue, some kubernetes network plugin might work with RBD but not with CephFS`

My k8s cluster uses the calico plugin. Does this plugin support cephfs?

I am using

[2021-03-10 12:02] pkalever commented on #1803
Here is the list of scenarios and their respective steps that I have come up with, to validate this issue:

Scenario 1:
---
**Setup:** k8s-1.20 | sidecar v3.x  | controller v3.x (only with v1beta1 API)
* Create few snapshots with {k1.20, sidecar v3.x, controller v3.x} setup
* Try to restore to pvc on the same

Scenario 2:
---
**Setup:** k8s-1.20 | sidecar v3.x  | controller v4.x  (with v1 and v1be

[2021-03-10 12:13] pkalever commented on #1803
@agarwal-mudit @nixpanic @humblec @Yuggupta27

As part of validating scenario 2, while trying to upgrade the controller + crds from v3.0.2 to v4.0.0, the following command hangs for ever:

[code]
to be precise it hangs at the CRD delete

After waiting few minutes (at least 15mins +) I had ctrl^C and and run install which was followed by below error

[code]

I suppose upgrading the controller means

[2021-03-10 12:42] Madhu-1 commented on #1803
Just a thought Instead of deleting and recreating can we just do `kubectl apply`?

[2021-03-10 14:57] reza-rahim opened #1912 "rbd mirror features prevents pod to mount the image"
# Describe the bug #

rbd mirror features prevents pod to mount the rbd image. Pod got stuck in creation.

# Environment details #

- Image/version of Ceph CSI driver :  3.2
- Helm chart version :
- Kernel version : 5.11.3-1.el7.elrepo.x86_64
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :
- Kubernetes cluster version : 1.18
- Ceph cluster v

[2021-03-10 15:13] Madhu-1 commented on #1912
@reza-rahim can you provide the exact CSI Driver version. we have multiple bug fixes of releases v3.2 can you please specify vx.y.z?

[2021-03-10 15:21] reza-rahim commented on #1912
This is I see in the pod definition

 image: quay.io/cephcsi/cephcsi:v3.2.0

Would you please let me know how to get for detail?

[2021-03-10 15:24] Madhu-1 commented on #1912
@reza-rahim I will take a look at it :+1:

[2021-03-10 15:37] reza-rahim commented on #1912
awesome, it would be nice the csi also works "--image-feature exclusive-lock,journaling ". We are planning to do a multi datacenter disaster  recovery POC with k8/rook/ceph  when we have this issue resolved.

[2021-03-10 15:43] Madhu-1 commented on #1912
will be added in https://github.com/ceph/ceph-csi/pull/1325. i just need to rebase the PR and resolve the merge conflicts

[2021-03-11 07:34] pkalever commented on #1803
Makes sense, I will give it a try and let you know, thanks!

[2021-03-11 10:53] pkalever commented on #1803
@Madhu-1
`apply` failed:
[code]

But thanks for the hint, `replace` did the trick:

[code]

Thank you :-)

[2021-03-11 14:00] honza801 commented on #834
please fix the documentation. don't let more users getting annoyed.

https://docs.ceph.com/en/latest/rbd/rbd-kubernetes/?

thanks...

[2021-03-11 18:37] honza801 opened #1915 "MountVolume.MountDevice failed for volume, Invalid argument: RBD image not found"
# Describe the bug #

Pods with ceph-csi pvc stays in ContainerCreating state

# Environment details #

- Image/version of Ceph CSI driver : quay.io/cephcsi/cephcsi:v3.2.1
- Helm chart version : no helm
- Kernel version : 4.19.0-{9-12}-cloud-amd64 Debian
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : no idea
- Kubernetes cluster version : v

[2021-03-12 02:46] Madhu-1 commented on #1915
@honza801 can you provide the rbdplugin-xxx pod logs which is running on the node where the application mount is failing?

[2021-03-12 08:34] honza801 commented on #1915
there is csi-rbdplugin container logs above, posting once more
[code]

[2021-03-12 08:37] Madhu-1 commented on #1915
If the issue is in PVC mounting please attach complete logs of below containers.
csi-rbdplugin/csi-cephfsplugin and driver-registrar container logs from plugin pod from the node where the mount is failing.
if required attach dmesg logs.

@honza801 you need to attach the csi-rbdplugin container logs from rbd-plugin pod not from provisioner pod

[2021-03-12 09:45] pkalever commented on #1803
The validation scenarios mentioned at https://github.com/ceph/ceph-csi/issues/1803#issuecomment-795318176 are working successfully, the command output history is recorded and can be found at [ValidateIssue#1803.txt](https://github.com/ceph/ceph-csi/files/6129023/ValidateIssue.1803.txt)

[2021-03-12 10:11] #1864 closed

[2021-03-12 13:59] nixpanic commented on #1537
The new SecretsMetadataKMS provider that was added for testing #1908 should implement this.

[2021-03-12 13:59] #1537 closed

[2021-03-12 14:49] honza801 commented on #1915
i'm sorry, all containers/pods have similar names, i didn't recognize it earlier.

[code]

now it is little bit cleaner. problem could be
```kernel 4.19.0-12-cloud-amd64 does not support required features```

and
```does not support Ceph manager based rbd commands (minimum ceph version required is v14.2.3)```

results in
```GRPC error: rpc error: code = Internal desc = rbd: ret=-22, Invalid argume

[2021-03-12 14:57] Madhu-1 commented on #1915
Can you delete this pvc and storageclass and create a new one with image feature as layering? https://github.com/ceph/ceph-csi/blob/22ee7c0de5fe49423cfc1396addbb89875b6b73d/examples/rbd/storageclass.yaml#L37 and see you are able to create and mount pvc

[2021-03-12 15:04] honza801 commented on #1915
```imageFeatures: layering```

things got working, thanks a lot
jan

[2021-03-12 15:07] #1915 closed, assigned to nobody

[2021-03-15 06:26] Madhu-1 commented on #1340
@msfrucht this is no dependency with cephcsi here. if you are using v4.x CRD and controller and the snapshotter sidecar things should work with v1 snapshots.

[2021-03-15 07:10] Madhu-1 commented on #1905
nothing can be done at cephcsi. closing it for the same reason.

[2021-03-15 07:10] #1905 closed, assigned to nobody

[2021-03-15 07:14] Madhu-1 commented on #1894
@anmolsachan as @dillaman mentioned this will be covered as a part of #925. am closing this one. Please reach out to us if you need more help.

[2021-03-15 07:14] #1894 closed, assigned to nobody

[2021-03-15 07:16] Madhu-1 commented on #1887
@mlaguilharre as all of your questions are answered and nothing much can be done at cephcsi level am closing this one. Please feel free to reopen if you need help on this one,

[2021-03-15 07:16] #1887 closed

[2021-03-15 07:17] Madhu-1 commented on #1884
closing this one, as its already covered in configmap.

[2021-03-15 07:17] #1884 closed

[2021-03-15 07:30] Madhu-1 commented on #1824
@liyin37 required caps are documented here https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md#cephfs

[2021-03-15 07:35] Madhu-1 commented on #1819
@lixiaopengxiya fuse-client is not supported in cephcsi for now, closing this for the same reason. Please reopen this one if you have used kernel mounter not the fuse.

[2021-03-15 07:35] #1819 closed

[2021-03-15 07:38] Madhu-1 commented on #1817
@lfdominguez this looks to be a network issue. if you are still seeing the issue can you please provide the storageclass.yaml and the `ceph-csi-config` configmap

[2021-03-15 07:40] Madhu-1 commented on #1816
the above looks to be a permission issue.

[2021-03-15 07:44] Madhu-1 commented on #1722
closing this one as we moved to go-ceph for cephfs, please feel free to reopen if you see this again.

[2021-03-15 07:44] #1722 closed

[2021-03-15 07:45] Madhu-1 commented on #1540
Closing this one as it's not possible without a change in CSI spec.

[2021-03-15 07:45] #1540 closed

[2021-03-15 07:49] Madhu-1 commented on #1494
@Yuggupta27 are you working on this one?

[2021-03-15 07:51] Madhu-1 commented on #1438
Busy with other things and removed self-assignment

[2021-03-15 12:49] #1817 closed

[2021-03-15 14:35] Madhu-1 opened #1920 "Add Mudit as new Maintainer of cephcsi"
Am suggesting adding Mudit to the list of Maintainers to cephcsi. Below is the list of contributions from Mudit

List of contribution

* Add E2E for CephFS static PVC
* Add Documentation of CephFS static PVC
* Impore logging if mount fails
* Enhance tracevol.py to work for CephFS PVC
* Add support for namespace in trace.py
* Update volume resize using go-ceph
* Update e2e README for snapshot opera

[2021-03-15 15:11] #1803 closed

[2021-03-15 15:41] nixpanic commented on #1920
:+1: happy to support Mudits promoting :partying_face:

[2021-03-16 07:59] nixpanic opened #1921 "Add support for Amazon KMS, with DEKs in metadata"
# Describe the feature you'd like to have #

We would like to support Amazon KMS for encrypting/decrypting the DEKs for volume encryption. As the costs for storing additional keys in the service get billed extra, storing the DEKs in the metadata of the volumes is more cost efficient.

# What is the value to the end user? (why is it a priority?) #

Users will be able to configure AWS KMS for Ceph-C

[2021-03-16 09:36] #1291 closed

[2021-03-16 10:22] Madhu-1 commented on #1920
will provide write access to Mudit by EOD if I don't see any objections.

[2021-03-16 11:15] humblec commented on #1920
@nixpanic  @Madhu-1 I would also propose to add @Yuggupta27 too into this  list, Looking at the contributions from his side https://github.com/ceph/ceph-csi/commits?author=Yuggupta27 its a measurable one!

[2021-03-16 11:20] Madhu-1 commented on #1920
@humblec as the PR suggests this is for Mudit can you please open a separate issue with a list of PRs and other helpful information.

[2021-03-16 12:32] humblec commented on #1920
yeah, let me open one for Yug too..  :+1:

[2021-03-16 12:32] humblec commented on #1920
Ack on this proposal for @agarwal-mudit :+1:

[2021-03-16 12:40] humblec opened #1922 "Promote Yug Gupta to maintainers list"
I would like to propose  adding @Yuggupta27  to the list of Maintainers to ceph csi.  Yug has been helping on various issues/PRs/Repo activities for some time now with consistency and also with deep technical skills.  Here are some valuable the contributions from Yug.

[code]
cc @nixpanic @ShyamsundarR @agarwal-mudit @Madhu-1

[2021-03-16 12:41] humblec commented on #1920
here it is https://github.com/ceph/ceph-csi/issues/1922

[2021-03-16 21:50] msfrucht commented on #1340
@Madhu-1 Thanks.

I installed the 4.x external-snapshotter and updated the snapshot CRDs.

VolumeSnapshot/v1 objects work just fine with ceph-csi-3.2.1.

[2021-03-17 06:24] Madhu-1 commented on #1920
Provided write access. closing this one.

[2021-03-17 06:24] #1920 closed, assigned to nobody

[2021-03-17 10:28] #1647 closed

[2021-03-18 20:09] joedborg opened #1925 "panic occurred: runtime error: invalid memory address or nil pointer dereference"
# Describe the bug #

CSI container:
[code]
CSI Provisioner:
[code]

# Environment details #

- Image/version of Ceph CSI driver : quay.io/cephcsi/cephcsi:3.2.1
- Kernel version : 5.4.0-54
- Kubernetes cluster version : 1.20

# Steps to reproduce #

Steps to reproduce the behavior:

I've tried to manually deploy ceph and the provisioner. Can confirm the volume mounts are correct, with the csi-prov

[2021-03-19 05:37] Madhu-1 commented on #1925
@joedborg can you please provide the provisioner deployment output?

[2021-03-19 07:45] pkalever opened #1926 "containerized-tests: Failing to pull the image"
# Describe the bug #

The containerized-tests job sometimes failing to pull the image, this is not 100% hit, as it was successful with other concurrently run items

[code]

https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/containerized-tests/detail/containerized-tests/1106/pipeline/48/

[2021-03-19 13:28] joedborg commented on #1925
Hi @Madhu-1 Do you mean output from the pod the deployment creates?  It's already above, if that is the case.

[2021-03-19 16:21] gman0 opened #1928 "cephfs: run with fuse_big_writes by default"
# Describe the feature you'd like to have #

ceph-fuse in ceph-csi image v3.2.1 is linked against libfuse2:

[code]
[code]

By default, the write buffer size in libfuse2 is 2KiB for reasons described here:

https://github.com/libfuse/libfuse/blob/d44bf3a4ac1ce1b56672ac9ae4a5caa3a8ee6844/ChangeLog#L653-L659

`-o big_writes` mount option is used to override this limit. libfuse3 removes `big_writes`,

[2021-03-21 07:31] liyin37 commented on #1824
thanks,when use kubernetes,the secret for cephfs need to use this configrations:
apiVersion: v1
kind: Secret
metadata:
  name: csi-cephfs-secret
  namespace: ceph-csi
stringData:
  userID: cephfs
  userKey: AQBK7VZg/RP8BhAA+O1eSZlLRBzMjc5h9Q2BuA==
  adminID: cephfs
  adminKey: AQBK7VZg/RP8BhAA+O1eSZlLRBzMjc5h9Q2BuA==

[2021-03-21 07:32] #1824 closed

[2021-03-21 08:44] qiankai-Kwai opened #1929 "rbd-nbd process was killed when upgrade csi-rbdplugin pod"
# Describe the bug #
I use rbd-nbd mounter in storageclass parameters, but I found rbd-nbd process was killed when upgrade csi-rbdplugin daemonset. This caused all rbd block devices dit ot mapped to pod, all pods not work normally.

I want to know how to prevent rbd-nbd process killed when upgrace csi-rbdplugin? Thanks a lot.

[2021-03-22 02:50] humblec commented on #1929
unfortunately known limitation on rbd nbd driver  @qiankai-Kwai  https://github.com/ceph/ceph-csi/issues/667

[2021-03-22 05:29] qiankai-Kwai commented on #1929
Any plans to solve this problem in the future?

[2021-03-22 09:15] nixpanic commented on #1926
This seems to happen when there is a rebase of the ceph version in `build.env`. The tests where this occurs moves to Pacific, so the `:test` and `:build` container images need to be rebuild.

[2021-03-22 11:52] stevefan1999-personal commented on #1828
I also have the same problem. I created my Ceph test cluster in Proxmox, then I created a CephFS pool using the web GUI, and I supplied the correct configuration in Ceph CSI, which is also cephfs_data and cephfs_metadata.

It worked well before, and back then I was using Rook and it is working just fine.

It's just all of a sudden the PVC creation got stuck and there doesn't seems to have any oper

[2021-03-22 17:01] stevefan1999-personal commented on #1828
Ok I have found something interesting: whenever I killed the leader for CSI the request is fulfilled immediately after the new leader is elected, so i think there is something wrong with that instead

[2021-03-23 11:16] stevefan1999-personal opened #1933 "Leading provisioer randomly deadlock and fail on PVCs provision"
# Describe the bug #

After some period of time, Ceph CSI provisioner will stuck

# Environment details #

- Image/version of Ceph CSI driver : `quay.io/cephcsi/cephcsi:v3.2.0`
- Helm chart version : Based off Rook
- Kernel version : dependent
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : cephfs/default (most likely cephfs/kernel)
- Kubern

[2021-03-23 12:24] humblec commented on #1933
@stevefan1999-personal it could be kind of a throttling issue or ceph cluster command delayed or hung for sometime. To understand some more on this issue can you please let me know what kind ( cephfs or rbd  OR both ? ) of PVCs were provisioned?

[2021-03-23 12:26] stevefan1999-personal commented on #1933
I provisioned cephfs most of the time, but using rbd had the same effect too

[2021-03-23 12:28] humblec commented on #1933
We have seen an issue with CephFS core where a deadlock cause the cephfs command to hung in a cluster.  If its common issue between cephfs and rbd , it could be something else like throttling requests or slow operations in ceph cluster..etc. The logs captured at time of the issue could help .

[2021-03-23 12:33] stevefan1999-personal commented on #1933
ok, i will reproduce the situtaion and capture the log

[2021-03-24 07:57] stevefan1999-personal commented on #1933
Here it is
[code]
Of all the repeating deletions for reproduction of the issue, only the postgres volume failed to provision.
After killing the leader at the time of the failure, the new leader issued the pending volume immediately:
[code]

[2021-03-24 15:52] nixpanic commented on #1928
By default the Linux kernels `cephfs` module is used, not `ceph-fuse`. I should be relatively simple to add the option by default for users that deploy with `ceph-fuse`.

[2021-03-25 05:53] Yuggupta27 commented on #1229
@Rakshith-R is working on this now.

[2021-03-25 07:30] nixpanic commented on #1933
Might be related to #1881.

[2021-03-25 15:15] #1860 closed

[2021-03-26 06:19] Madhu-1 opened #1936 "[RBD Async DR] Not able to resize/Delete volume when it moved to another cluster"
we have implemented omap regeneration as part of https://github.com/ceph/ceph-csi/pull/1641

During Async mirroring only the RBD images are mirrored to the secondary site, and when the user creates the static PVCs on the failover we need to regenerate the omap data. The volumeHandle in PV spec is an encoded string that contains clusterID and poolID and image UUID, The clusterID and poolID won't re

[2021-03-26 06:19] Madhu-1 commented on #1936
cc @ShyamsundarR

[2021-03-26 07:03] Madhu-1 commented on #1936
Cc @nixpanic @humblec

[2021-03-27 14:49] LNAhri opened #1937 "Getting all the time rpc error: code = Internal desc = invalid feature"
# Describe the bug #

Installed the Ceph-csi stuff completly new based on the Ceph Doku. The ceph Cluster is a fresh installed version based on the management from Proxmox-VE.

# Environment details #

- Image/version of Ceph CSI driver : canary
- Ceph cluster version : 15.2.9
- Kubernetes cluster version :
Kernel version
5.4.0-70-generic
OS Image
Ubuntu 20.04.2 LTS
Container runtime version
conta

[2021-03-27 23:31] f1-outsourcing commented on #1909
I would not mind giving this a try. However is it not that csi was created to arrange independence of the CO platform. So is it maybe better to create tests that are not related to any platform.

I assume that kubernetes at some point will also evolve to require the mentioned capabilities. Those are required for scaling tasks I guess.

I have been asking on the mesos mailing list about interest in

[2021-03-29 09:29] qiankai-Kwai commented on #1929
we will not resolve this limitation?

[2021-03-29 09:51] nixpanic commented on #1937
Hi,

can you make sure you have the `imageFeatures` option in your StorageClass, similar to the example:

https://github.com/ceph/ceph-csi/blob/devel/examples/rbd/storageclass.yaml#L35-L39

[2021-03-29 10:54] Madhu-1 commented on #1929
@qiankai-Kwai we are working on a new design for the rbd-nbd and cephfs fuse clients. we don't have any deadline for this one yet. @pkalever can update more on this one.

[2021-03-29 10:56] humblec commented on #1929
@qiankai-Kwai check on this PR too https://github.com/ceph/ceph-csi/pull/1839/, especially the options like `try-netlink`, `reattach..` params

[2021-03-29 11:01] TheDJVG opened #1939 "Unable to mount or create PVC: invalid value specified for ceph.dir.subvolume"
# Describe the bug #

When I try to mount or create a PVC it fails with:
[code]
It's unclear to me how I got in this situation as the cluster was working fine with existing claims, when I had to move some pods around and I noticed it didn't want to mount them on the new hosts. Creating a new PVC fails too.

# Environment details #

- Image/version of Ceph CSI driver : 3.2.0
- Kernel version : 4.19

[2021-03-29 11:12] pkalever commented on #1929
Yes, PR https://github.com/ceph/ceph-csi/pull/1839 is to showcase the POC model of working with rbd-nbd at ceph-csi

We are currently working on the design to integrate the rbd-nbd support at ceph-csi, you can soon expect an upstream design doc (say in a couple of weeks from now) and we still might take a couple of releases to add the complete support to our ceph-csi code base.

[2021-03-29 11:55] TheDJVG commented on #1939
Looks like I get the same error when I manually try to create a subvolume:
[code]

[2021-03-29 13:13] gman0 opened #1943 "Image builds are not reproducible"
# Describe the bug #

ceph/ceph-csi container images are based on ceph/ceph. This is defined in ENV file in https://github.com/ceph/ceph-csi/blob/v3.2.1/build.env#L16 .

The image tag for ceph/ceph is using the floating version "v15" that changes over time as new point releases are added. This results in unreproducible ceph-csi builds.

# Steps to reproduce #

Steps to reproduce the behavior:

1.

[2021-03-29 13:16] kotreshhr commented on #1939
@TheDJVG Could you upload ceph logs (mgr, monitor, mds logs)?

[2021-03-29 13:33] TheDJVG commented on #1939
@kotreshhr sure thing. I think there's a problem in ceph itself. Currently my account is still pending for the ceph tracker so I cannot open an issue there.

Logs attached.
[mds_debug.log](https://github.com/ceph/ceph-csi/files/6222029/mds_debug.log)
[mgr.log](https://github.com/ceph/ceph-csi/files/6222036/mgr.log)
[mon.log](https://github.com/ceph/ceph-csi/files/6222038/mon.log)

[2021-03-29 17:37] umitgunduz commented on #1937
Hello, we are getting a similar error. The error is as follows.

[code]

[2021-03-29 18:51] hodolomax commented on #1937
Hello, I had same problem like yours. In my csi-rbdplugin deployment, csi images was canary build (quay.io/cephcsi/cephcsi:canary). Then I changed it latest stable version v3.2.1 (quay.io/cephcsi/cephcsi:v3.2.1) (release list here https://quay.io/repository/cephcsi/cephcsi?tag=canary&tab=tags) After that my kubernetes cluster start working correctly with ceph drivers.

example csi-rbdplugin daemon

[2021-03-29 19:27] hodolomax commented on #1937
I saw another problem while using canary image.

Failed to create bus connection: Host is down

After changing csi-driver version than this error was resolved. (https://github.com/ceph/ceph-csi/issues/1937#issuecomment-809626640)

Full error log:
[code]

[2021-03-30 00:19] msfrucht commented on #1340
@Madhu-1

I have another request.

After using IBM Virtualize, IBM Scale, and Openshift Cluster Storage CSI drivers I noticed all of them add a CSIDriver object for easy lookup of which drivers exists. The existing YAMLs and helm charts of ceph-csi do not.

And while the helm charts has them as an option, they are CSIDriver/v1beta1 in 3.2.1 when this object went v1 in 1.18. And only gets created w

[2021-03-30 01:37] TheDJVG commented on #1939
I think I have found why it was failing, it's working now:
[code]
It started working after I applied `setfattr -n ceph.dir.subvolume -v 0 .` for some reason `ceph.dir.subvolume` was set on `/`. It's unclear to my why that happened as I've only used ceph-csi and not mounted the directories manually.

[2021-03-30 05:44] Madhu-1 commented on #1340
@msfrucht https://github.com/ceph/ceph-csi/pull/1945 will add CSIDriver objects for both cephfs and rbd.

[2021-03-30 06:11] Madhu-1 commented on #1636
Normal Pulling 10s (x2 over 25s) kubelet Pulling image "docker.io/ceph/ceph:v14.2.12
Warning Failed 10s (x2 over 25s) kubelet Failed to pull image "docker.io/ceph/ceph:v14.2.12": rpc error: code = Unknown desc = Error response from daemon: toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit
W

[2021-03-30 07:31] Madhu-1 commented on #1939
@TheDJVG Thanks, Am closing this one as it's not an issue from the cephcsi side.

[2021-03-30 07:31] #1939 closed, assigned to nobody

[2021-03-30 07:31] nixpanic commented on #1943
Could you explain why this is a problem? Any container image that builds on top of other layers might be different when building at a later time. There is no guarantee that the lower layers do not change. It is not practical to have a fixed version, as most users will want to get the latest version of the lower layered container image.

If you want reproducible behaviour, you can pass `BASE_IMAGE=

[2021-03-30 09:31] gman0 commented on #1943
This may become a problem when debugging some issue that didn't arise in an "older v3.2.1", but the "newer v3.2.1" suddenly stops working / behaves differently because of e.g. update in the cephfs client toolset. All because the image was rebuilt. Sure I could pass in `BASE_IMAGE`, but then I'd need to keep track of what tag was the original image built with in the first place.

The latest base la

[2021-03-30 21:41] weibeld commented on #1352
Having the same problem with the CephFS driver, there are no `kubelet_volume_*` metrics. The driver seems to use the kernel mounter:

[code]

However, throughout the lifetime of the driver, I also have these logs:

[code]

There are two PVCs being used on this specific node (by the same pod). The logs are recent and the error occurs roughly every 1.5 minutes. However, the PVs are mounted and work

[2021-04-02 23:18] ctrahey commented on #1062
I am seeing this with a similar (but different) error, and I believe I have ruled out networking issues. @Madhu-1 I would love any additional hints to debug...
## Error Observed
Pod hangs in ContainerCreating.
The volume appears to be provisioned successfully. Here are the logs from the leading provisioner pod immediately following the `kubectl apply -f... ` which triggered this (same file had PVC

[2021-04-03 00:26] ctrahey commented on #1062
I see why you are asking if something is hanging... The error message is clearly related to failed lock acquisition, which implies that something which already has a lock is either hanging or failing.

Is there clear documentation on which steps [procure locks](https://github.com/ceph/ceph-csi/blob/22ee7c0de5fe49423cfc1396addbb89875b6b73d/internal/util/idlocker.go#L47)? Or on how to clean up locks

[2021-04-03 00:32] ctrahey commented on #1062
My suspicion is that [this](https://github.com/ceph/ceph-csi/blob/92190dee5d239fb5cf08d80893ecad59273872ff/internal/cephfs/nodeserver.go#L83) is the lock that is failing. But what procured it/left it hanging around before?

[2021-04-05 07:29] Yuggupta27 commented on #1818
Hi @deadjoker ,
As per the steps mentioned by you, the user creation is done as per the node plugin capabilities, and the cephFS Provisioner capabilities seem to be missing. This might be the reason why you are unable to provision a volume via the cephfs-provisioner.
Unlike rbd, cephfs has separate capability requirements for node plugin and provisioner as mentioned [here](https://github.com/ceph/

[2021-04-06 08:33] deadjoker commented on #1818
Hi @Yuggupta27
Here is the secrets in my cluster environment.
[code]
Should I use a new ceph id with capability of
[code]
and create a `csi-cephfs-provisioner-secret` for the provisioner?

[2021-04-06 11:06] Rakshith-R commented on #1636
Multiple ci rook deployment fails at #1229

[2021-04-06 11:09] Yuggupta27 commented on #1795
@Madhu-1 @nixpanic @agarwal-mudit @humblec, Since https://github.com/ceph/ceph-csi/pull/1863 and https://github.com/ceph/ceph-csi/pull/1888 are merged, most probably this CI issue will be prevented. Can we close this issue for now and reopen it if we hit it anytime later?

[2021-04-06 11:12] Madhu-1 commented on #1795
Yes, closing it for now.

[2021-04-06 11:12] #1795 closed

[2021-04-07 02:31] #1229 closed

[2021-04-07 11:46] #1936 closed, assigned to Madhu-1

[2021-04-07 14:26] Yuggupta27 commented on #1779
Since #1958 and #1961 are merged, containerized test centos job is now disabled. We can close this issue now :)

[2021-04-07 14:45] joedborg commented on #1925
https://pastebin.ubuntu.com/p/3bpY5X6WbC/ Here is the output from all of the provisioner components.

[2021-04-07 14:53] #1779 closed

[2021-04-07 14:54] Madhu-1 commented on #1494
@Yuggupta27 what need to be done here? if nothing can be done we can close this issue.

[2021-04-07 14:56] Madhu-1 commented on #1896
Everything is done as part of #1924 , closing this issue

[2021-04-07 14:56] #1896 closed, assigned to Madhu-1

[2021-04-07 16:20] nixpanic commented on #1921
this is done, #1930 has been merged

[2021-04-07 16:21] #1921 closed, assigned to nixpanic

[2021-04-07 23:16] Jiawei0227 commented on #1725
Hello guys. I am the lead of CSI migration feature in Kubernetes. I think as long as you guys are sure that no current customers are still using the in-tree ceph rbd and cephfs volume plugin then it is fine that you do not implement CSI migration.

Our plan moving forward is to remove the in-tree plugins. CSI migration is the feature in k8s that can support a smooth transition from in-tree usage t

[2021-04-07 23:58] Jiawei0227 commented on #1725
Here is a kubernetes issue opened by humble and he seems to be working on it: https://github.com/kubernetes/kubernetes/issues/91246

Can you guys sync up to make sure what is the plan moving forward? Thanks a lot!

[2021-04-08 06:01] Rakshith-R commented on #1925
Hey @joedborg , can u please share ceph csi deployment yaml you've used to deploy the provisioner. Did u change the args supplied to the csi-cephfsplugin?

[2021-04-08 06:14] Rakshith-R commented on #1925
Hey @joedborg , can you please share the deployment yaml file you've used to deploy the provisioner?

[2021-04-08 07:13] nixpanic opened #1963 "Validate e2e testing on Kubernetes 1.21"
# Describe the feature you'd like to have #

Kubernetes 1.21 is currently in Beta and we should start testing with this version too.

Admins in the Jenkins environment can manually start the mini-e2e jobs with a given Kubernetes version, doing some pre-check runs.

Once Kubernetes 1.21 has been released, the version should be added as a regular job. The `.mergify.yml` should then also require the

[2021-04-08 09:00] nixpanic commented on #1963
#1962 has not been complete, the `scripts/skip-doc-change.sh` script does not detect non-doc changes if there is no PR associated with the CI job run. It will be needed to skip the check when `git_since` is the same as the checked out branch.

[2021-04-08 09:13] Rakshith-R commented on #1925
https://github.com/ceph/ceph-csi/blob/62ae17e2634430c0c392c881bbe372d0a46a8ccd/deploy/cephfs/kubernetes/csi-cephfsplugin-provisioner.yaml#L108-L122
@joedborg  Make sure args for provisioner deployment is the same as above.
You will need to deploy [cephfs nodeplugin](https://github.com/ceph/ceph-csi/blob/devel/deploy/cephfs/kubernetes/csi-cephfsplugin.yaml) as well.

[2021-04-08 09:38] Rakshith-R commented on #1925
### Steps to reproduce
Change `- "--controllerserver=true" `  to `- "--nodeserver=true"` in cephfs provisioner deployment args to reproduce the issue
https://github.com/ceph/ceph-csi/blob/62ae17e2634430c0c392c881bbe372d0a46a8ccd/deploy/cephfs/kubernetes/csi-cephfsplugin-provisioner.yaml#L108-L122

---
### Source of issue
https://github.com/ceph/ceph-csi/blob/62ae17e2634430c0c392c881bbe372d0a46a8cc

[2021-04-08 10:18] Madhu-1 commented on #1925
Nodeserver should not be set on the deployment because it has to set/start the controllerserver. you can add the Driver!=nil check and return proper errro message.

[2021-04-08 13:03] joedborg commented on #1925
Thank you @Rakshith-R, that's exactly what the issue was.  I had nodeserver set for both the nodeplugin and the provisioner instances of ceph-csi containers.  Have fixed it in the provisioner instance and it works fine.

[2021-04-08 16:22] rjbrown57 commented on #1096
Any Updates on this?

[2021-04-09 07:10] chenxianpao opened #1967 "cephfs: how to control different ceph users can only access certain directories?"
# Describe the feature you'd like to have #
I found that the dynamically created volume uses the admin credentials(create or mount). If so, how to control different ceph users can only access certain directories? Can we only perform access management on pre-created volumes?

Thank you for your help.

[2021-04-09 08:02] Madhu-1 opened #1968 "update kubernetes dependency to 1.21.0"
as kubernetes 1.21.0 is released https://github.com/kubernetes/kubernetes/releases/tag/v1.21.0 we need to update the below items in our codebase

* Update go.mod
* Use kube 1.20 and 1.21 for E2E testing in centos CI
* Update mergify rules for the same.

[2021-04-09 08:46] nixpanic commented on #1968
See also #1963

[2021-04-09 08:50] nixpanic opened #1969 "e2e testing in CI fails with: Waiting up to 3m0s for all (but 0) nodes to be ready"
There are more regularly jobs failing with the following error:

[code]

It is unclear why this happens. Minikube seems to become unresponsive (or really slow?) and the e2e test (which is a Kubernetes client) can not continue. Logs from Minikube are not available, as the e2e test fails to get details through the Kubernetes API.

[2021-04-09 09:43] nixpanic commented on #1969
https://github.com/ceph/ceph-csi/pull/1966#issuecomment-816478728

[2021-04-09 09:54] nixpanic commented on #1967
You could create static PVs and refer to a Secret that contains the particular Ceph user/key. See https://github.com/ceph/ceph-csi/blob/devel/docs/static-pvc.md#cephfs-static-pvc for examples. Different PVs can have different Secrets (in different Namespaces if you like).

[2021-04-09 09:58] nixpanic commented on #1963
https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.20/detail/mini-e2e_k8s-1.20/639/pipeline is a new manual run with Kubernetes 1.21.

[2021-04-09 10:12] #1925 closed, assigned to Rakshith-R

[2021-04-09 12:50] nixpanic commented on #1963
This failed with some minikube errors during cluster creation. Maybe the new Kubernetes version needs more resources?

[2021-04-09 12:51] nixpanic commented on #1963
https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/k8s-e2e-external-storage/detail/k8s-e2e-external-storage/9/pipeline is an other test, running the k8s-e2e-external-storage job with Kubernetes 1.21.

[2021-04-09 16:17] #1967 closed, assigned to nobody

[2021-04-09 16:24] nixpanic opened #1971 "e2e tests in CI fail with: snapshotter controller creation failed"
# Describe the bug #

On occasion e2e testing fails with
[code]

The deployment is then aborted, before the actual e2e testing is started.

[2021-04-09 16:25] nixpanic commented on #1971
From #1918 :
- https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.20/detail/mini-e2e_k8s-1.20/641/pipeline/
- https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/upgrade-tests-cephfs/detail/upgrade-tests-cephfs/1302/pipeline/

[2021-04-10 12:31] LNAhri commented on #1937
lemme try it :D but thanks for the answers. For a fix that i could work for now was: setting all drivers one version behind. But lemme up it again and lets see if it breaks :D

[2021-04-11 13:33] nixpanic opened #1972 "rebase: update minikube to version 1.19.0"
# Describe the bug #

[Minikube v1.19.0](https://github.com/kubernetes/minikube/releases/tag/v1.19.0) has been released. This can be used in `build.env` so that the tests consume the new version.

Once the updated `build.env` has been merged, #1840 can be rebased with `@mergifyio rebase` (might need admin permiossions?), so that the `losetup` workaround is dropped.

[2021-04-11 17:26] LNAhri commented on #1937
Actually after reInstalling everything from new. This worked. Just added this and the pvc got created

[2021-04-14 03:59] #1470 closed

[2021-04-15 12:40] cl51287 commented on #1819
@Madhu-1 I saw the document that fuse is used as the client by default, and the kernel mode does not support quota. Is there any way to solve this problem?

[2021-04-15 12:43] Madhu-1 commented on #1819
Fuse is default but not production supported still under development in Cephcsi as it is having some issue. Using kernel client should fix the issue. Fuse is having a restart issue where we will get Transport endpoint not connected error. We are working on a new design to support the fuse client.

[2021-04-15 12:57] cl51287 commented on #1819
Thank you for your reply. The inability to use qouta in kernel mode may cause system risks. When is the new design expected to be available?

[2021-04-15 13:01] Madhu-1 commented on #1819
Currently, we don't have the exact date.

[2021-04-16 03:58] zdover23 commented on #834
I'll fix this up over this coming weekend.

In the future, bring changes like this to my attention and I'll make sure that they're documented.

[2021-04-16 05:41] Yuggupta27 commented on #834
Thanks @zdover23!

[2021-04-16 05:56] humblec opened #1986 "Release 3.4.0 ( Planning Doc)"
# Describe the feature you'd like to have #

The idea here is to capture the `wishlist` from  Ceph CSI community which they would like to see in this release. We could capture this in a google doc or in form of comments on the issue. However the format should not be a blocker for capturing this info, thus tracking it for the next release.

[update] Wish list:

https://hackmd.io/8OqCr1mrTMGtBcJ7XNd

[2021-04-16 12:04] #1937 closed, assigned to nobody

[2021-04-17 21:47] f1-outsourcing opened #1987 "Is it possible to specify somewhere fs mount option umask?"
I was wondering if it is possible to supply the umask=0027 mount option somewhere. I am testing a bit with postgres, and it complains about the data having the incorrect permissions. I noticed the csc command line offering mount options

`
csc -e unix:///tmp/mesos-csi-uuh6Ra/endpoint.sock node stage --cap SINGLE_NODE_WRITER,mount,xfs,discard --staging-target-path '/mnt/staging' --vol-context 'clus

[2021-04-18 10:59] f1-outsourcing commented on #1987
I incorrectly assumed that their should be an xfs umask/mode option. Which it has not. It does not have it because you can just chmod the mount and it will maintain these settings on remount.

Further investigating this I found this in the code
[code]

I would like to know what design reasoning is behind this? This deviates from standards. I think this also makes it possible to generate some sort

[2021-04-19 05:00] Madhu-1 opened #1988 "Remove PSP from kubernetes templates"
PSP is deprecated in kubernetes 1.21 and will be removed in kubernetes 1.25 https://kubernetes.io/blog/2021/04/06/podsecuritypolicy-deprecation-past-present-and-future/ . as it's deprecated, we need to take into consideration when to remove the PSP templates from the cephcsi repo.

[2021-04-19 07:08] #1928 closed, assigned to nobody

[2021-04-19 08:26] idryomov commented on #834
https://github.com/ceph/ceph/pull/40905

[2021-04-19 08:32] Madhu-1 commented on #834
Thanks @idryomov For fixing it :)

[2021-04-19 11:15] #1972 closed, assigned to nixpanic

[2021-04-19 12:13] Madhu-1 commented on #1353
As we have 3.3.0 release https://github.com/ceph/ceph-csi/releases/tag/v3.3.0  closing this one

[2021-04-19 12:13] #1353 closed

[2021-04-19 12:13] Madhu-1 commented on #1340
as https://github.com/ceph/ceph-csi/releases/tag/v3.3.0 3.3.0 release is out. Closing this one.

[2021-04-19 12:13] #1340 closed

[2021-04-20 05:58] agarwal-mudit commented on #1849
Already fixed with https://github.com/ceph/ceph-csi/pull/1870

[2021-04-20 05:58] #1849 closed

[2021-04-20 06:02] Yuggupta27 commented on #1619
@yati1998 is working on this issue.

[2021-04-20 06:26] Madhu-1 opened #1994 "Bot authored backport PR's are not getting auto-merge in release branches"
when a PR is backported by the mergify bot and it has one approval and CI is passing, Merigfy should auto-merge the PR.

See not applicable rules at https://github.com/ceph/ceph-csi/pull/1993/checks?check_run_id=2382789769

[2021-04-20 06:30] humblec commented on #1988
@Madhu-1 considering 1.21 will be the base for release 3.4, this could be targetted for next major version. Also we have breathing time on deprecated stuff. @nixpanic wdyt?

[2021-04-20 06:34] humblec commented on #1987
Now any process on the host can just do a dd if=/dev/zero of=/mnt/staging/0001-0004-ceph-9eeba5c-xxxxxx until the volume is full and your task dies and never will start because of the full volume.

@f1-outsourcing we were facing issues with the cephfs mount ( one of them for manilla use cases)  , for example: permission denied on the mount ...etc in absence of it.  one of the option was spawning p

[2021-04-20 06:42] humblec commented on #1971
@nixpanic I havent seen this issue in recent runs especially at release time. Do we need to keep this open ?

[2021-04-20 06:44] humblec commented on #1968
@Madhu-1 @nixpanic `devel` branch update can be done. Just have to confirm do we need to pull this change in `release-3.3` minor versions or we will keep this as next major release item ?

[2021-04-20 06:50] Madhu-1 commented on #1968
To avoid  backport issue I think we can backport it to 3.3 itself.

[2021-04-20 06:56] Rakshith-R commented on #1994
All backported prs are authored by `author=mergify[bot]` not `author=ceph-csi-bot`.
https://github.com/ceph/ceph-csi/pulls?q=is%3Apr+is%3Aclosed+backport+author%3Aapp%2Fmergify
and I don't see mergify providing option for a bot to send backport pr https://docs.mergify.io/actions/backport/.

https://github.com/ceph/ceph-csi/blob/52290333e61bf5e659ab8ff22c412366b42db126/.mergify.yml#L91-L103

changi

[2021-04-20 06:59] Madhu-1 commented on #1994
@Rakshith-R  yes we need to revert back to the author in the condition. @nixpanic  PTAL

[2021-04-20 07:07] humblec commented on #1994
Ideally its good to keep `ceph-csi-bot` as the name, iow, instead of reverting may be make `ceph-csi-bot` conditions correct is preferred.

[2021-04-20 07:27] nixpanic commented on #1968
What is the reason we need to backport this to `release-3.3`? If there are bugfixes from Kubernetes we need to include, we should just vendor in a minor v1.20.x update of the Kubernetes packages.

I would see this as a change for Ceph-CSI v3.4.

[2021-04-20 07:33] humblec commented on #1968
Agreed.. yeah, in general,  the must required PRs in kube are backported to 1.20 branch , so we should be good even if we keep v3.3 branch in parity with `1.20` kube major version .

@Madhu-1 I believe its good to have parity with ceph csi major version to kube major version.

[2021-04-20 07:36] humblec commented on #1926
@pkalever I dont see something to be fixed here. If agreed, can we close this issue ?

[2021-04-20 07:37] humblec commented on #1912
@reza-rahim considering #1325  is merged and already part of the release v3.3, can we close this issue?

[2021-04-20 07:46] gman0 opened #1995 "CVE-2021-20288: update ceph clients to v15.2.11"
The latest ceph-csi images v3.3.0 contain `ceph version 15.2.10 (27917a557cca91e4da407489bbaa64ad4352cc02) octopus (stable)`. Just yesterday there was a security announcement CVE-2021-20288 and it's advised that all Octopus users upgrade to v15.2.11.

https://ceph.io/releases/v15-2-11-octopus-released/

[2021-04-20 07:52] Madhu-1 commented on #1995
the docker image is updated in docker hub

[code]

next cephcsi release 3.3.1 should use 15.2.11 as the base image

[2021-04-20 07:59] cl51287 commented on #783
@Madhu-1  I used csi-resizer v0.1.0 in kubernetes 1.14, and still got an error "provided secret is empty"

[2021-04-20 08:03] nixpanic commented on #1994
It seems an update of Mergify broke this :disappointed:
They now ask for a monthly contribution to use the `ceph-csi-bot` for certain features. As this repository is part of the Ceph organization, and there are **many** users, the costs are quite high.
Ideally we can have both bot accounts on the same `author=` line, so that `ceph-csi-bot` can be used in the future again. If it is needed to duplic

[2021-04-20 08:05] Madhu-1 commented on #783
For 0.1.0 the secrets in storage class is different please check https://github.com/kubernetes-csi/external-resizer/blob/61904896301627bba78a7ef3f37804a83df9e9e4/pkg/resizer/csi_resizer.go#L40-L41

[2021-04-20 08:30] humblec commented on #1994
Ah.. I see :(

We dont need any fancy features :) . btw, I remember some discussions on this in a thread with @leseb few months back.

That would be good :+1:

[2021-04-20 08:36] nixpanic commented on #1963
[mini-e2e-helm_k8s-1.21/1](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e-helm_k8s-1.21/detail/mini-e2e-helm_k8s-1.21/1/pipeline) failed in **STEP: create a PVC and bind it to an app with encrypted RBD volume with VaultKMS**:

[code]

[2021-04-20 09:46] nixpanic commented on #1995
More details at https://docs.ceph.com/en/latest/security/CVE-2021-20288/

This does not seem critical for the components that Ceph-CSI deploys. Warnings can get logged on the Ceph cluster until the Ceph-CSI clients have been updated.

[2021-04-20 11:29] Madhu-1 commented on #1912
Fixed by https://github.com/ceph/ceph-csi/pull/1991. Closing

[2021-04-20 11:29] #1912 closed, assigned to Yuggupta27

[2021-04-20 12:15] Madhu-1 commented on #1725
Migration cannot be supported due to  following reasons

With the new cephcsi design, the volumeHandle is the one unique to identify the backend volume, pool clusterID etc, AFAIK as with migration the  PV CSI volumeHandle is the rbd image/cephfs subvolume name. If we want to support we can support only mount/unmount and not even delete operation.

Below items are not supported if we migrate

* Exp

[2021-04-20 12:19] Madhu-1 commented on #1725
cc @nixpanic @humblec

[2021-04-20 13:38] f1-outsourcing commented on #1987
So make a configuration option you can set this in. Do not set it as a default for everyone that uses the driver. The idea behind csi is you create a driver for storage, not to fix storage. If there is an issue, ceph needs to fix it.

I do not think we should debate the usefulness of linux userid's. Many more knowledgeable people have done this already in the past, resulting in the current design.

[2021-04-20 15:00] reza-rahim commented on #1912
sure @humblec.

[2021-04-21 03:57] humblec commented on #1725
Just to summarize, these migrated volumes comes almost in the same state of `static volumes support` we provide here with CSI driver . Its one form and accepted mostly at times considering the origin of volumes/how its provisioned at very first stage.  In short thats the same case with static volumes today we offer. So, leaving advanced feature support on such volumes is fine .

Even we could thin

[2021-04-21 05:32] humblec commented on #676
Considering we have mirroring support available with release v3.3.0. I am closing this one .Please feel free to reopen if required.

[2021-04-21 06:28] Madhu-1 commented on #676
We may still need this one If someone wants to enable mirroring when creating the PVC. But they need new volume replication after some time to perform failover and failback. Let's keep it open for some time.

[2021-04-21 14:39] humblec opened #2003 "Research if [csi-driver-iscsi](https://github.com/kubernetes-csi/csi-driver-iscsi) works on Windows."
The effort here is to understand csi driver capabliities against Windows worker nodes.

I am capturing the details here for now, later it can be converted to sub tasks/issues:

https://hackmd.io/oYCS4DviSY2_TTMLft7YPA

[2021-04-21 14:43] humblec opened #2004 "Register newly created RBD images with the iSCSI target (using [gwcli](https://docs.ceph.com/en/latest/rbd/iscsi-target-cli/))."
The effort here is divided into below sub parts:

- [ ] Expose RBD images as ISCSI targets
- [ ] Try mount/client access on these volumes
- [ ]  Perform I/Os on these volumes and confirm data path works
- [ ] Try to find code flow for supporting this from RBD driver
- [ ] Register newly created RBD images with the ISCSI targets.

`gwcli` and other requirements are documented at the the [Configurin

[2021-04-21 15:04] mykaul commented on #2004
What's the use case?

[2021-04-21 15:07] humblec commented on #2004
The plan here is to experiment on possibilities of exposing RBD Volumes via ISCSI protocol which helps especially in `Windows clients ` where the access can be granted to RBD volumes from Ceph Cluster via ISCSI.

[2021-04-21 15:10] mykaul commented on #2003
Instead of https://github.com/cloudbase/wnbd ?

[2021-04-21 15:24] humblec commented on #2003
The experiment here aims an alternate way for mapping /mounting RBD devices in Windows compared to `winbd`. This will be purely based on CSI protocol spec.

[2021-04-21 16:27] nixpanic commented on #2003
NBD exporting and consuming is indeed an alternative. Ideally there should be a csi-driver that supports it on both Linux and Windows. Because [csi-driver-iscsi](https://github.com/kubernetes-csi/csi-driver-iscsi) exists, and Ceph can export RBD images over iSCSI already, this might be a relatively simple approach.

[2021-04-22 05:51] Madhu-1 opened #2006 "Failed to push helm charts from Travis CI"
[code]

Helm charts are not getting pushed due to the invalid `helm init` command which is not available in helm v3.x. Failed builds list https://travis-ci.org/github/ceph/ceph-csi/builds

[2021-04-22 06:02] Madhu-1 opened #2008 "ceph-csi release v3.3.1"
This issue is a tracker for the v3.3.1 bugfix release which includes below bug fixes

#Bug Fixes

Build:

* Update ceph to `15.2.11` https://github.com/ceph/ceph-csi/issues/1995
* Fix helm chart push issue

RBD
* Modified logic to check image watchers https://github.com/ceph/ceph-csi/pull/1993
* Return crypt error for the rpc return https://github.com/ceph/ceph-csi/pull/2005

[2021-04-22 06:26] #2006 closed, assigned to Madhu-1

[2021-04-22 06:30] nixpanic commented on #2008
Duplicate of #1986?

[2021-04-22 06:31] nixpanic commented on #2008
Also make sure to add PRs/Issues to the [release-3.3.1 milestone](https://github.com/ceph/ceph-csi/milestone/10).

[2021-04-22 06:32] Madhu-1 commented on #1986
@humblec this should be 3.4.0?

[2021-04-22 06:34] Madhu-1 commented on #2008
3.3.1 is a bug fix release.  as the #1986 covers more items let's make it a 3.4.0 release

[2021-04-22 06:35] Madhu-1 commented on #1986
Renamed as 3.4.0 hope that should be fine.

[2021-04-22 06:39] Madhu-1 commented on #1781
Good to get it in for the 3.4.0 release.

[2021-04-22 08:09] Madhu-1 commented on #2008
As the release is available closing this one https://github.com/ceph/ceph-csi/releases/tag/v3.3.1

[2021-04-22 08:09] #2008 closed, assigned to Madhu-1

[2021-04-22 08:09] Madhu-1 commented on #1995
Fixed in #2009

[2021-04-22 08:09] #1995 closed, assigned to Madhu-1

[2021-04-22 08:19] humblec commented on #2003
As far as my research goes the solution here would be :

1) Run Windows Nodes and make it part of the kube cluster
2) Run `csi-proxy` inside the Windows worker node to facilitate the  CSI actions on the windows node
3) Then deploy `csi-driver-iscsi` as the CSI driver. That should help us to get the ISCSI mounts working, rest would be the experiment on exporting RBD volumes as iscsi shares and maki

[2021-04-22 09:08] nixpanic commented on #2003
Listing limitations is definitely good!

Please make sure to add links to the documentation and other resources where you found the information in your HackMD notes.

[2021-04-22 09:09] humblec commented on #2003
:+1:

Sure @nixpanic , updating the details over there :+1:

[2021-04-22 09:25] obnoxxx commented on #2003
https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/

This is good to mention. The table "Support matrix"  seems to come from this doc.

[2021-04-22 09:33] #1994 closed, assigned to nobody

[2021-04-22 12:37] nixpanic opened #2015 "Enable more tests for the k8s-e2e-external-storage job"
The `ci/centos/k8s-e2e-external-storage` runs the [Kubernetes end-to-end external storage tests](https://github.com/kubernetes/kubernetes/tree/master/test/e2e/storage/external), based on the [different `driver-*.yaml` files](https://github.com/ceph/ceph-csi/tree/devel/scripts/k8s-storage). These driver files describe the capabilities of the provisioner.

Currently many features are not enabled in

[2021-04-22 12:42] nixpanic commented on #250
I'm moving this out of 3.4 in favour of #2015

[2021-04-22 13:29] humblec commented on #2003
It seems that, even though `csi-proxy` surface iscsi interface, csi-driver-iscsi  lack support for its windows version. If thats done, ideally we should be good to get this combo working.

[2021-04-22 14:22] nixpanic commented on #2015
_Edit: This comment has been moved into its own issue: https://github.com/ceph/ceph-csi/issues/2017#issue-865024313_

[2021-04-22 14:33] nixpanic opened #2017 "Update k8s-e2e-external-storage job to use Kubernetes 1.21"
Running the job with Kubernetes 1.21 fails ([k8s-e2e-external-storage/11](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/k8s-e2e-external-storage/detail/k8s-e2e-external-storage/11/pipeline/)):

[code]

Running on Kubernetes 1.20 works fine. We'll need to make sure that we are complaint with Kubernetes 1.21 too.

- [x] The CI job description [k8s-e2e-external-storage.ya

[2021-04-23 10:06] pkalever opened #2018 "rbd-nbd: Journal based mirroring for point-in-time and crash consistent images"
# Describe the feature you'd like to have #

Journal-based RADOS block device mirroring ensures point-in-time consistent replicas of all changes to an image, including reads and writes, block device resizing, snapshots, clones, and flattening.

Journaling-based mirroring records all modifications to an image in the order in which they occur. This ensures that a crash-consistent mirror of an image

[2021-04-23 12:29] aviorma commented on #899
We are suffering from this issue on 3 nodes cluster v1.19
we have deployments that are created dynamically with ceph mount and it leaves garbage on the file system when the deployment got destroyed

[code]

ROOK 1.3.5
CEPH 3.1

What can we do ?

[2021-04-26 04:37] Rakshith-R commented on #899
hey @aviorma , can please provide kublet and  nodeplugin logs?

[2021-04-26 07:22] Rakshith-R commented on #1963
k8s 1.21 e2e runs fails at `STEP: create a PVC and bind it to an app with encrypted RBD volume with VaultKMS` .
e2e run at https://github.com/ceph/ceph-csi/pull/1974#issuecomment-826503590
logs: https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e_k8s-1.21/runs/3/nodes/87/steps/90/log/?start=0
[code]

[2021-04-26 07:34] nixpanic commented on #1963
I have now updated the `vault:latest` container image in the registry that the CI uses. Maybe that adds support for Kubernetes 1.21?

[2021-04-26 10:26] Madhu-1 commented on #1963
can we manually test it out and check what is changed?

[2021-04-26 13:23] Madhu-1 opened #2022 "Add E2E testing to validate the Encryption keys in KMS"
Currently looks like we are not validating the creation and deletion of the Encryption keys in the KMS. we need to add an E2E to verify that the keys get created and deleted properly.

update: we have E2E for PVC not for restore from snapshot or PVC-PVC clone

[2021-04-26 13:56] humblec commented on #2003
[Update]
 Managed to get the windows server running cluster
 Also with good amount of hacks, I could get the csi-proxy windows version..

Just to mention, the subjected/related  projects looks at early stage, so good amount of hacks required to get the experiment going.. :)

[2021-04-26 14:46] aviorma commented on #899
Hi @Rakshith-R

please see logs attached
[kubelet.log](https://github.com/ceph/ceph-csi/files/6378000/kubelet.log)
[csi-cephfsplugin.log](https://github.com/ceph/ceph-csi/files/6378002/csi-cephfsplugin.log)

[2021-04-27 10:47] Madhu-1 opened #2023 "External storage E2E are failing due to the docker limit issue"
External storage E2E are failing due to the docker limit  issue

[code]

[2021-04-27 10:53] Madhu-1 commented on #2022
https://github.com/ceph/ceph-csi/pull/2021 added E2E for snapshots, we need to do the same for PVC-PVC cloned images also.

[2021-04-28 05:50] Madhu-1 opened #2027 "Test encryption on mirrored image in Regional DR fail-over"
we need to test and make the encryption works on the mirrored image in case of Failover in regional DR

[2021-04-28 06:51] Rakshith-R commented on #1963
Adding vault pod logs obtained during manual testing here , I'll run it again adding `VAULT_ADDR`
[code]

**Update: This is the exact same logs for k8s 1.20 also, so does not seem to be the cause of failures.**

[2021-04-28 08:46] Madhu-1 opened #2029 "k8s-e2e-external-storage is failing with docker limit"
External storage testing is failing with the below error message

[code]

[2021-04-28 09:15] kuhar2007 opened #2031 "Creating PVC from rbd snapshots"
# Describe the feature you'd like to have #

We have snapshots in ceph cluster (pool/image@snap1).
Maybe you can add functional when provisioner will clone image from this snapshot, create PV with this image and bound it to PVC.
Commands at ceph cluster:
`rbd clone pool/image@snap1 pool/image-clone`

It will be good, if it will work with encryption.

# What is the value to the end user? (why is it

[2021-04-28 09:17] Yuggupta27 commented on #2031
Hi @kuhar2007 , ceph-csi currently supports the functionality of cloning from snapshots .
 You can find the steps to do so here https://github.com/ceph/ceph-csi/blob/devel/docs/snap-clone.md

[2021-04-28 09:30] kuhar2007 commented on #2031
@Yuggupta27 You didn't understood me, it's documentation how to clone from VolumeSnapshot, but I wrote about cloning from rbd snapshot. It's different things, because we have already snapshots in ceph and we don't need create new Snapshot at k8s, just only create PVC

[2021-04-28 10:22] Rakshith-R commented on #2031
@kuhar2007 Take a look at https://github.com/ceph/ceph-csi/blob/devel/docs/static-pvc.md if that serves your purpose.

Ceph-csi created volumes/snapshots have unique id composed of `versionEncodedHex, clusterIDLength, ci.ClusterID,		poolIDEncodedHex, ci.ObjectUUID` which is stored and used by CSI. Therefore, we cannot directly use image from ceph other than as a static pv with limited functionalit

[2021-04-28 12:32] Madhu-1 opened #2032 "[RBD] Support Regional DR for Encrypted PVC"
Currently, encryption is only supported for the PVC without mirroring., This issue is to track the support for encryption of mirrored PVC.

To complete the Whole DR story (failover and failback) the volume should be usable by the applications on the primary cluster.

The KMS setup is something up to the admins how they want to handle it and how they want to migrate the information from one KMS ins

[2021-04-28 13:49] kuhar2007 commented on #2031
It could be cool if you will support snapshots on the static PVC.

[2021-04-28 14:43] Rakshith-R commented on #2031
The reason we cannot support snapshots is the same as above. We can only support static PVC creation, deletion, mount and unmount.

[2021-04-28 17:32] marklester opened #2033 "Rebind to Persisent Volume for dynamic pvcs"
# Describe the feature you'd like to have #

I would like to be able to do "create if not exists volume" behavior for a pvc that uses dynamic provisioning through a storage class.

[code]
if I apply this to the cluster I would like it bind to the volume with name data if the volume already exists.
If the volume doesn't not exist I would like it to be created

# What is the value to the end user? (

[2021-04-28 22:40] plnordquist-pnnl opened #2034 "RBD Helm Chart upgrade breaks with v3.3.x & attacher.enabled: false"
# Describe the bug #

When upgrading to v3.3.0, Helm fails to patch the CSIDriver custom resource since attachRequired is an immutable field.  I was able to work around this issue by deleting the CSIDriver custom resource and letting Helm re-create the resource when it upgraded the chart.  I was also reviewing the chart and there are still pieces of the chart that reference the provisioner.attache

[2021-04-29 05:42] yati1998 commented on #2034
@plnordquist Can you please share the logs having the upgrade error?

[2021-04-29 06:31] Rakshith-R commented on #2033
hey @marklester , Ceph-CSI driver stores details about volumes/snapshots it creates. When a PVC is deleted, everything related to the PVC is also deleted (except maybe the backend volume depending on the `reclaimPolicy` ). Therefore, it is not feasible for CSI driver to identify and  bind to the volume with just name as you suggested.

In case of Static PVC, all the required details are filled in

[2021-04-29 07:05] kuhar2007 commented on #2031
Current snapshots don't have good usability.
If I create one snapshot I can use it only at one namespace, but if I need restore pvc from one snapshot at different namespaces (10 or more) with encrypted data?
My current steps will be:
1 - Create new clean pvc and pod at each namespaces
2 - Upload needed data to each pvc at each namespaces
3 - Create snapshot from this pvc at each namespaces
4 - And

[2021-04-29 07:11] kuhar2007 commented on #2031
Maybe somebody can tell more easy steps for my aims.

[2021-04-29 08:40] #2029 closed, assigned to nobody

[2021-04-29 08:52] nixpanic commented on #2033
I am not sure how this expected to work, it depends on how Kubernetes handles the request when `volumeName` is set, but no matching PersistenVolume exists.

https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reserving-a-persistentvolume seems to explain a little what can be done now, but it does not mention dynamically creating the PersistentVolume... @marklester do you have an exampl

[2021-04-29 15:42] plnordquist-pnnl commented on #2034
Upgrade logs:

[code]

Values:

[code]

Obviously continuing to keep provisioner.attacher.enabled set to false would not make sense so I would remove that value but it has to be there in 3.2.1 to trigger the issue.

[2021-04-29 20:47] joedborg opened #2039 "Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "CSIDriver" in version "storage.k8s.io/betav1""
# Describe the bug #

A clear and concise description of what the bug is.

# Environment details #

- Helm chart version : v3.5.0
- Kubernetes cluster version : 1.21

# Steps to reproduce #

Steps to reproduce the behavior:

1. Follow helm steps here https://github.com/ceph/ceph-csi/tree/devel/charts/ceph-csi-rbd

# Actual results #

`Error: unable to build kubernetes objects from release manifest

[2021-04-30 05:20] yati1998 commented on #2039
Hey @joedborg can you paste your logs here? I followed the steps, it is working fine for me.

[2021-04-30 18:02] joedborg commented on #2039
Hi @yati1998:

[code]

[2021-05-03 05:34] Madhu-1 commented on #2039
@joedborg i just tried to reproduce it locally but I don't see any issue

[code]

The CSIDriver object is part of the kubernetes  core itself can you please check you have csidriver  object available
[code]

[2021-05-03 05:36] Madhu-1 commented on #1076
We also need to add helm upgrade also which is missing currently.

[2021-05-03 05:39] Madhu-1 commented on #2034
@plnordquist Yes, we should have documented this one, Currently we don't have any documentation of helm options and helm upgrade, I have opened https://github.com/ceph/ceph-csi/issues/1076. Not enabling attacher causes issues related to RWO volume we need to enable attacher by default.

[2021-05-03 09:24] agarwal-mudit commented on #2023
Looks like it is fixed with #2024? @Madhu-1

[2021-05-03 09:26] Madhu-1 commented on #2023
Yes, Fixed. Closing this one. Thanks @agarwal-mudit

[2021-05-03 09:26] #2023 closed, assigned to nobody

[2021-05-03 11:27] Madhu-1 opened #2044 "RBD: Failed to mount cloned PVC when parent PVC and snapshot is deleted"
With kernel v3.10.x failed to mount the PVC when the parent PVC and snapshot is deleted

[code]

steps to reproduce the issue

* Create PVC
* Create Snapshot from PVC
* Delete PVC
* Create Clone from snapshot
* Delete snapshot
* Mount PVC clone to application pod
* Delete PVC clone and application pod

[2021-05-03 11:39] humblec commented on #2044
@Madhu-1 if the kernel does not have `deep-flatten` support, Isnt  'mount' supposed to fail ? or we have some other bug which allowed other operations to proceed like `snapshot creation` , `parent PVC deletion`, `restore` but ONLY fails at "mount" of restored PVC which is not correct?

[2021-05-03 11:42] Madhu-1 commented on #2044
the mount should not fail if the mount fails it's problematic for user applications. cephcsi should handle this problem by flattening the image before mounting.

can you please elaborate on this one?

[2021-05-03 13:15] humblec commented on #2044
[code]
@Madhu-1 even if we do first 4 steps, ie `Create PVC-> Snapshot-> Delete PVC -> Create Clone` Then if we  `Mount`, it should also fail in this situation, Isnt it ?

[2021-05-03 13:31] Madhu-1 commented on #2044
Yes, there are multiple ways to reproduce it. the main problem is that snapshot or parent pvc should be deleted

[2021-05-03 17:46] marklester commented on #2033
I do not. It was just a suggestion based on work flow I was going through.  Ideally I would like if no volumename used the one in the pvc if not create a random pvc. This behavior would only work for pvcs that  were created with a volumename. I would not expect this to work with pvc that was applied without a volumeName.

[2021-05-03 22:16] nextsux opened #2048 "arm64 PVC Pending status"
# Describe the bug #

After creating PVC, it stays in pending state. Standard logs are not really helpful.

# Environment details #

- Image/version of Ceph CSI driver 3.3.0/canary
- Helm chart version : 3.3.0
- Kernel version : 5.10.33-v8
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : rbd
- Kubernetes cluster version : 1.20
- Ceph cluster

[2021-05-04 02:52] devinmatte opened #2049 "rpc error: code = Internal desc = invalid feature when mounting all of a sudden"
# Describe the bug #

When trying to mount pvs, that used to mount, we now get errors

[code]

We have a storageClass

[code]

Here's an example PVC
[code]

[code]

# Environment details #

- Image/version of Ceph CSI driver : `3.2.0`
- Helm chart version : `3.2.0`
- Kernel version : `5.9.11-200.fc33.x86_64`
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` o

[2021-05-04 03:38] devinmatte commented on #2049
Adding `imageFeatures: "layering"` to the PV itself seemed to fix the issue.
[code]

[2021-05-04 03:38] #2049 closed, assigned to nobody

[2021-05-04 03:45] Madhu-1 commented on #2048
@nextsux can you please provide below details

* Storageclass yaml
* configmap which contains monitor details
* ceph mon dump from ceph cluster
* ceph osd lspools from ceph cluster
* Logs from the  csi-rbdplugin container of provisioner pod.

Have you tried this one from the provisioner pod? because as we are not using host networking in provisioned pod  you  might be able to reach from the node b

[2021-05-04 03:59] Madhu-1 commented on #2033
Forgot to update this issue. this is not possible because the PV name is generated by the csi-external provisioner. In the case of dynamic provisioning, the PV name is uniquely created always and gets bind to the PVC. the only way to rebind to the existing PV is static provisioning (which means adding volumeName to the PVC spec). Closing this for now as it's not possible.

[2021-05-04 03:59] #2033 closed, assigned to nobody

[2021-05-04 09:19] nixpanic commented on #2048
@nextsux is this a pure arm64 cluster, meaning both Ceph-CSI and Ceph run on Aarch64? Or is this a mixed architecture, where the Ceph cluster does not run on the same architecture as Ceph-CSI?

[2021-05-04 09:25] nextsux commented on #2048
storageclass:

[code]

[code]

[code]

[code]

Firewall is not an issue for sure. There is no firewalling in this cluster (except kube-router iptable rules):

[code]

[2021-05-04 09:25] nextsux commented on #2048
@nixpanic hmm, you're right, nice catch! Ceph cluster does not run aarch64 YET :thinking:

[2021-05-04 09:26] nextsux commented on #2048
@nixpanic

[code]

[2021-05-04 09:29] nixpanic opened #2051 "Remove unneeded calling of .String() functions when logging"
There are many occurrences where log functions call `.String()` on the `rbdVolume` object. This is not required, as `%s` or `%q` will call an existing `.String()` function automatically.

Code that does:
[code]

can be replaced by the more efficient in case `pOpts` is a pointer (`*rbdVolume`):
[code]

Or, depending if the `pOpts` object is not a pointer (`rbdVolume`):
[code]

[2021-05-04 09:43] Madhu-1 opened #2052 "cephfs upgrade E2E is failing"
Looks like cephfs upgrade testing is failing someone needs to look into it

Log snippet

[code]

https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/upgrade-tests-cephfs/runs/1447/nodes/87/steps/90/log/?start=0

[2021-05-04 09:48] Madhu-1 commented on #2048
i might be wrong but as you are able to execute the ceph commands looks like ceph is responding and also can you please check `ceph -s` status and also can you please try to create an rbd image from the same provisioner pod where you did telnet?

[2021-05-04 09:53] nextsux commented on #2048
I'm not sure how to do it as keys and ceph conf is not present @Madhu-1
[code]

How do I pass correct keys? Should I create them by hand?

You're right, after creating keys and config by hand in container:
[code]

[2021-05-04 09:58] Madhu-1 commented on #2048
@nextsux pass key and monitors in the CLI command, can you try to connect to either v1 and v2 ports 6879 and 3300 ports?

@idryomov @leseb any idea what could be wrong here?

[2021-05-04 10:11] Madhu-1 commented on #2052
May  4 10:44:01.111: INFO: csi-cephfs-demo-pod app  is in Pending phase expected to be in Running  state (600 seconds elapsed)
May  4 10:44:01.111: FAIL: failed to validate CephFS pvc and application binding with error timed out waiting for the condition
[AfterEach] cephfs
  /go/src/github.com/ceph/ceph-csi/vendor/k8s.io/kubernetes/test/e2e/framework/framework.go:175
[1mSTEP[0m: Collecting event

[2021-05-04 10:28] idryomov commented on #2048
@nextsux "rbd ls --debug-ms=30" might give some clues.

[2021-05-04 10:49] idryomov commented on #2048
Might be related to https://www.mail-archive.com/debian-bugs-dist@lists.debian.org/msg1746917.html.

It would help to clarify what architecture the monitors and OSDs are deployed on and what architecture `ceph-csi-ceph-csi-rbd-provisioner-6b7f7cf767-r9rvd` is deployed on (32-bit vs 64-bit and endianness at the very least).

[2021-05-04 11:03] nextsux commented on #2048
@idryomov https://pastebin.com/iXgPkdPZ

monitors&osds: armv7l
k8s workers running ceph: aarch64

Issue you're mentioning MIGHT be related. I'm convinced that upgrading to mons/osds to aarch64 will solve this issue

[2021-05-04 11:06] nextsux commented on #2048
It's important to note that on host where I'm able to communicate using rbd there are some default ceph tools from debian repo:
[code]
(works fine)

but in container there are:
[code]
(having issues)

[2021-05-04 11:13] idryomov commented on #2048
Can you paste `lscpu` output from 10.100.100.111 and from the host the container is running on?

[2021-05-04 11:18] nextsux commented on #2048
10.100.100.111:
[code]

host of container:
[code]

[2021-05-04 11:43] idryomov commented on #2048
I think I see the bug.  Nothing to do with ceph-csi of course.  I'll dig more and open a ceph ticket.

[2021-05-04 13:52] idryomov commented on #2048
https://tracker.ceph.com/issues/50646
https://github.com/ceph/ceph/pull/41143

[2021-05-04 15:49] nixpanic commented on #2048
Thanks @idryomov !

[2021-05-04 15:49] #2048 closed, assigned to nobody

[2021-05-05 07:14] Yuggupta27 opened #2053 "PVC does not come to BOUND state after a velero restore"
# Describe the bug #
When a namespace-based backup is taken using velero, the PVC does not go to the BOUND state after restoring the backup.

# Steps to reproduce #

1. Create a PVC in a unique namespace
[code]

2. Create a velero backup
[code]

3. To mimic a downtime scenario. delete the namespace
4. To restore the initial state, restore the created backup
[code]
5. Verify the k8s objects created

[2021-05-05 07:52] nixpanic commented on #578
Fencing an recovering is proposed to the CSI specification: container-storage-interface/spec#477

Ceph-CSI can implement `ControllerPublish` and `ControllerUnpublish` to do the (un)fencing of nodes and volumes once the change in the spec has been accepted, released and implemented in Kubernetes-CSI.

[2021-05-05 08:24] nextsux commented on #2048
I can confirm that upgrading ceph mon/osd nodes to aarch64 solved this issue. Thank you!

[2021-05-05 08:51] nixpanic commented on #2053
is this only for CephFS volumes, or also for RBD?

[2021-05-05 09:07] Madhu-1 commented on #2053
[code]

Why there is a request again to create snapshot from the subvolume which is already deleted?

[2021-05-05 09:16] Madhu-1 commented on #2053
[code]

[2021-05-05 10:08] nixpanic commented on #2053
Maybe the `deletionPolicy` should be set to `Retain` in the VolumeSnapshotClass?

https://github.com/ceph/ceph-csi/blob/devel/examples/cephfs/snapshotclass.yaml#L31

[2021-05-05 10:45] ShyamsundarR commented on #578
Please note that the proposed spec, afaict, intends to fence based on kubernetes node ID, whereas connections in ceph that can be blocklisted are IP addresses. There possibly needs to be a mapping between the two and hence may require additional CSI metadata to be stored etc. as this is implemented.

[2021-05-05 11:32] Rakshith-R commented on #1963
e2e testing K8s 1.21 is failing only on test cases involving vault.
Tried
- updating github.com/hashicorp/vault/api => same error.
- updating github/libopenstorage/secrets => did not fix it.
- updating both results in version mismatch in another package that both of them import indirectly.
- psp is deprecated in k8s 1.21 => tried with additional rbac rules for configmaps and secrets, did not work

[2021-05-05 12:48] Yuggupta27 commented on #2053
Good catch! DeletePolicy should be set `Retain` to prevent volumesnapshotcontent deletion during backup and restore.
The PVC now comes to BOUND state without any issue.

[2021-05-05 12:51] Yuggupta27 commented on #2053
That new CreateSnapshot request might be the one that happens on a restore operation.
When a namespace is deleted, the PVC, as well as the Snapshot get deleted, but just the volumesnapshotcontent survives(due to Retain deletePolicy).
later on, on a restore operation, the snapshot (which was also backed up) is created back as a part of the restore process, due to which there is a reason for the sec

[2021-05-05 13:48] Madhu-1 commented on #2053
@Yuggupta27 then this can be closed as not an issue?

[2021-05-05 13:50] Yuggupta27 commented on #2053
Sure Madhu, closing it now. Thanks for the help @Madhu-1 @nixpanic :)

[2021-05-05 13:50] #2053 closed, assigned to nobody

[2021-05-06 17:24] nixpanic commented on #2052
might be a duplicate of #1969 ?

[2021-05-07 02:16] Madhu-1 commented on #2052
@nixpanic for this issue looks like kubernetes is running fine and PVC mounting is failing.

[2021-05-07 03:44] Madhu-1 opened #2059 "Possible leaks in cephcsi (question)"
# Possible leaks in cephcsi (question)

## General leak

### CreateVolume/CreateSnapshot

* we create a new UUID entry in the omap and we add a mapping between the new UUID and PV Name and we go ahead and create the volume

What if the csi pod is restarted between the new UUID and PV mapping? will this leave a stale entry?

**Note:** We also need to check restart of csi-provisioner container will

[2021-05-07 03:45] Madhu-1 commented on #2059
@nixpanic @ShyamsundarR @humblec @Yuggupta27 @Rakshith-R @yati1998 Do you guys any other possibilities we need to check?

[2021-05-07 03:46] Madhu-1 commented on #2059
cc @agarwal-mudit

[2021-05-07 04:09] Madhu-1 commented on #2059
There may/may not  be a leak in above cases but we need to verify and make sure there is no leak

[2021-05-07 04:57] Rakshith-R commented on #2051
/assign, I'll work on this.

[2021-05-07 06:55] devopstales commented on #2039
I have the same issue I tried to upgrade from v3.2.1 to v3.3.1 on Kubernetes cluster version : mikrok8s v1.19

[2021-05-07 06:57] Madhu-1 commented on #2039
please check you have CSIDriver Object as mentioned in https://github.com/ceph/ceph-csi/issues/2039#issuecomment-834116773

[2021-05-07 07:36] devopstales commented on #2039
[code]

@Madhu-1  The CSIDriver is in storage.k8s.io/v1 not in storage.k8s.io/betav1 in csidriver-crd.yaml

[code]

[2021-05-07 07:57] #2044 closed, assigned to nobody

[2021-05-07 09:00] nixpanic commented on #1969
After #2058 the jobs seems way more stable. No failures related to the timeout have been reported yet.

[2021-05-07 09:02] nixpanic commented on #1926
We moved to `docker.io/ceph/ceph:v16` as base image, so things are working fine.

[2021-05-07 09:02] #1926 closed, assigned to nobody

[2021-05-07 09:40] nixpanic commented on #1969
This is not completely fixed yet. #2062 hit this problem :disappointed:

https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/k8s-e2e-external-storage-1.20/51/display/redirect

[2021-05-07 10:47] Madhu-1 commented on #2039
@Rakshith-R PTAL when you get some time.

[2021-05-08 23:53] dredwilliams opened #2063 "CVE-2021-20288 - ceph-csi is using insecure global_id reclaim"
# Describe the bug #

Whey trying to deploy ceph-csi to use a recently upgraded ceph cluster, the provisioner (RBD, in my case) cannot connect to the ceph cluster -- logs say "permission denied", but in digging in the ceph logs, it trips on the global_id reclaim issue mentioned in the subject CVE:

https://docs.ceph.com/en/latest/security/CVE-2021-20288/

With the ceph cluster properly secured to

[2021-05-10 04:20] Rakshith-R commented on #2063
Hey @dredwilliams ,Please upgrade to Cephcsi v3.3.1 https://github.com/ceph/ceph-csi/releases/tag/v3.3.1  and check https://github.com/rook/rook/issues/7746#issuecomment-825919401 on how to fix this issue.

[2021-05-10 05:03] humblec commented on #2063
@Rakshith-R minor correction. Its actually fixed in v3.3.2 https://github.com/ceph/ceph-csi/releases/tag/v3.2.2 .  @dredwilliams please upgrade to this version for the fix.

[2021-05-10 05:06] humblec commented on #2063
Yep and if you are on 3.2.x upgrade to Ceph CSI v3.2.2 Release https://github.com/ceph/ceph-csi/releases/tag/v3.2.2

[2021-05-10 06:42] nixpanic commented on #2063
This is a duplicate of #1995

[2021-05-10 06:42] #2063 closed, assigned to nobody

[2021-05-10 08:55] Madhu-1 commented on #2027
dup of https://github.com/ceph/ceph-csi/issues/2032, closing

[2021-05-10 08:55] #2027 closed, assigned to nobody

[2021-05-10 09:16] Rakshith-R commented on #2039
[code]

Results to :
[code]
So the following will work
`{{ if semverCompare ">=1.18.0-beta.1" .Capabilities.KubeVersion.GitVersion }}`

The storage.k8s.io/CSIDriver was moved to GA in `1.18.0-beta.1`
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#changelog-since-v1180-beta1

[2021-05-10 09:52] nixpanic commented on #2003
Do you have these hacks documented? I guess the additional changes should also be reported in the csi-proxy project so that these improvements can benefit others.

It seems there is some support for iSCSI in the csi-proxy project. Did you have a look at that, and got it working too?

[2021-05-10 09:58] nixpanic commented on #1969
In case of a failure, we should probably run a script that gathers:

- status of the minikube VM in libvirt
- dmesg/journal output of the minikube VM
- `top -b -c -n1` from the VM

[2021-05-10 11:19] humblec commented on #2003
Indeed. I have already opened an issue a couple of weeks back in `iscsi-csi` and made  some progress:

https://github.com/kubernetes-csi/csi-driver-iscsi/issues/44
https://github.com/kubernetes-csi/csi-driver-iscsi/pull/45

Yes, I went through the project and related code paths and updated the hackmd with the summary ( please check last week update and todays update ) ie what I think need to be do

[2021-05-11 12:36] nixpanic commented on #1969
New job has started at https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/mini-e2e-helm_k8s-1.20/836/display/redirect . Hopefully the logs give an indication why something goes wrong with minikube.

[2021-05-11 14:02] humblec opened #2071 "Support snapshot restore to a thick provisioned PVC"
# Describe the bug #

If the snapshot is created from a thin provisioned PVC and and if we attempt snapshot restore based on a SC which has "thick provision" set, the snapshot restore operation goes through. The restore PVC move to "BOUND" state and we can attach this PVC to a POD. However this PVC is not "thick provisioned" eventhough restore SC has it set.

ideally below combination should work.

[2021-05-11 14:02] humblec commented on #2071
@nixpanic jfyi

[2021-05-11 14:03] Madhu-1 commented on #2071
@nixpanic Is creating thick clones already supported?

[2021-05-11 14:06] humblec commented on #2071
Few options we could see :

Like `deep cp` , `unsparsify`...etc , but we have to check how to achieve this in ideal way

[2021-05-11 14:07] humblec commented on #2071
To be clear, those are not direct RBD image clone operations..

[2021-05-11 14:08] Madhu-1 commented on #2071
@humblec sorry I didn't get this one

[2021-05-11 15:01] nixpanic commented on #2071
In order to un-thick a thick-provisioned volume, there is `rbd sparsify` that punches holes in the volume. I suggested that an `rbd unsparsify` command is needed to create a thick-clone from a thin-provisioned image. I am not aware that a `rbd unsparsify` or similar command or librbd-API exists.

This most likely depends on a new feature that needs to be implemented in Ceph RBD and go-ceph.

[2021-05-11 15:02] nixpanic commented on #2071
@humblec do you want to prevent cloning of a thin-provisioned volume with a thick-provisioner StorageClass?

[2021-05-11 16:07] nixpanic commented on #1969
Also updating the ceph/ceph:v16 container image in the CI registry to the current v16.2.3 release. Maybe it is better in CPU handling, #2073 suggests that a Ceph process consumes 100% CPU.

[2021-05-11 16:21] nixpanic commented on #1969
There is also a suspicion that kubernetes 1.19 CI jobs are less affected than the 1.20 jobs...

The statistics for 1.19 shows :sun_behind_small_cloud: , where as 1.20 has a :cloud_with_rain:
 - https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/pipelines

[2021-05-11 16:27] obnoxxx commented on #2003
I had this sitting in the editor for a few days and forgot to hit `comment`... I still want to send it even though the issue has moved on a bit, to try and provide clarity what's really the situation here:

As far as I understand it, numbers 1 and 2 of these *should* be the standard ones, and they would be expected to be working, maybe with a few tweaks here and there:

1. Adding windows nodes is

[2021-05-11 22:31] dredwilliams commented on #2063
That took care of it -- thanks for the help!

[2021-05-12 05:33] humblec commented on #2003
............

Exactly @obnoxxx . indeed this need good amount of work! and thats the current state. I updated the hackmd and also discussed in detail  in CSI call.

To elaborate some more on this point:  The current iscsi csi driver indeed lack the windows support. When we say it lack the support,  first of all it has to run inside the windows node, and to support `iscsi` server operations , the c

[2021-05-12 11:09] humblec commented on #2071
@nixpanic  Ideally if the new PVC ( here restore pvc) request comes up without thick provision enabled, it should go through. In short: below combinations is :

[code]

[2021-05-12 11:12] Madhu-1 commented on #2071
cloning with different storageclass is not supported isn't it?

[2021-05-12 11:12] humblec commented on #2071
@Madhu-1 I was mentioning some of the options we have to solve this or options we could explore. :+1:

Yeah, its not supported, so the different SC request could fail anyway.

[2021-05-12 11:16] ibotty opened #2075 "(Re)mounting RBD volume on same node fails with `special device ... does not exist`"
# Describe the bug #

A tekton pipelinerun uses a workspace with a RBD-backed PVC.  The first few pods start just fine (can mount the volume).  Sometimes a third consecutive task (a container starting after previous two) will fail to mount the volume.

The failing pod events are
[code]

Unfortunately it's not reproducable, but happens regularly.

# Environment details #

- Image/version of Ceph CS

[2021-05-12 11:19] humblec commented on #2075
@ibotty are there pod delete requests which attached same PVC in parallel? not sure how tekton works so the ask

[2021-05-12 11:20] Madhu-1 commented on #2075
@ibotty see https://github.com/rook/rook/issues/7787 looks similar there is a race in kubernetes

[2021-05-12 11:22] humblec commented on #2075
Yeah, the pod delete and new stage request race could be the issue here : https://github.com/kubernetes/kubernetes/issues/100182

[2021-05-12 11:30] ibotty commented on #2075
Thank you for the prompt replies!

Reading the issue I am not sure that's the same issue (might have the same reason, of course), because it will not recover.  It will periodically try to mount the volume but fails every time, until the tekton controller kills the pod after a timeout.

@humblec Tekton does not delete the pods.  The previous pods stay in `Completed` state.

[2021-05-12 11:34] ibotty commented on #2075
I want to also note, that I have no failing `rbd: unmap`.

[2021-05-12 11:48] jilju commented on #2071
This issue is valid in this case as well.
Thick SC to create PVC --> Same thick SC to clone

[2021-05-12 11:51] humblec commented on #2071
True.  :+1:

[2021-05-12 11:56] Madhu-1 commented on #2071
Do we have an issue in this case? if yes we need to track it with a different Github issue.

[2021-05-12 12:49] humblec commented on #2071
Opening one.

[2021-05-12 12:52] humblec opened #2077 "Thick PVC clone does not make thick PVC"
# Describe the bug #
When the a thick provisioned PVC is cloned using a thick provisioning enabled storage class of parent PVC, the cloned volume is not thick provisioned. The clone PVC will reach Bound state without thick provisioning.

Also see #2071

[2021-05-12 15:43] nixpanic commented on #2077
@humblec Do you mean that the newly cloned volume needs to be flattened?

[2021-05-12 15:49] nixpanic commented on #2075
Note that `Completed` is also a state where the Pod is not running anymore, and it's volumes should have been unpublished/unstaged (unmounted).

You can check the logs from the `csi-rbdplugin` container in the pod where the mounting is done for the different operations.

[2021-05-12 15:52] nixpanic commented on #2071
Please create a PR with a e2e test case for this. With that, we can better understand the issue and verify a fix.

[2021-05-12 18:28] ibotty commented on #2075
It makes sense that a completed pod and a deleted pod are the same from a csi standpoint.

I attached the logs from the node's csi-rbdplugin.  I am certainly missing a verbose option.

[2021-05-13 09:00] jpsn123 opened #2079 "How about move "subvolumeGroup" param from ConfigMap to StorageClass?"
# Describe the feature you'd like to have #

i need to create subvolumes in different subvolumegroup according to different business needs in same cephfs. but now all volumes in 'csi' group.

# What is the value to the end user? (why is it a priority?) #

Users can create multiple volumegroups in the same cluster through different StorageClass, better management of business data.

# How will we kn

[2021-05-13 09:08] #2079 closed, assigned to nobody

[2021-05-13 09:08] jpsn123 commented on #2079
see the issue #1884

[2021-05-13 09:12] jpsn123 commented on #1884
@hookak
please quick ^_^

[2021-05-13 15:20] allenporter commented on #1937
I have run into this after upgrading from rook-ceph 1.5 to 1.6. I was able to resolve this for some unimportant PVCs by adding the `imageFeatures` to the `StorageClass` and doing a force replace and recreating the PVCs.

However, for some important PVCs that I didn't drop I still see this problem.

Have thoughts on how to resolve this that doesn't involve completely destroying existing PVCs?

[2021-05-13 15:27] allenporter commented on #1937
From https://github.com/ceph/ceph-csi/issues/2049 looks like you can edit the pv itself, though I get
 `spec.persistentvolumesource: Forbidden: spec.persistentvolumesource is immutable after creation` -- will look for a way to force it.

[2021-05-13 16:05] allenporter commented on #1937
OK, forcing an edit/apply just deletes it.

Was there supposed to be an upgrade path here or is it expected to be backwards incompatible?

[2021-05-14 00:16] alamsyahho commented on #1818
@deadjoker Did you manage to get the issue resolved? I ran into exactly a similar error as well and not sure yet how to resolve the issue?

[2021-05-14 02:38] cl51287 commented on #1285
@Madhu-1 Our version is 3.2.1, this problem still exists. This problem must be fixed manually.

[2021-05-14 06:39] deadjoker commented on #1818
@alamsyahho have not resolved this issue yet. I'm using admin account instead

[2021-05-14 07:43] alamsyahho commented on #1818
Understood. Probably i will have to use admin account for csi-cephfs as well then. Thanks for your reply

[2021-05-14 09:42] zhangzhao0827 opened #2080 "create PVC Permission denied"
![11111](https://user-images.githubusercontent.com/41892552/118252808-c02dda00-b4db-11eb-8fa4-cc1bf85d92ac.png)

[2021-05-14 11:14] Yuggupta27 commented on #2080
Hi @zhangzhao0827 , can you please provide csi-cephfsplugin and csi-provisioner container logs from the provisioner pod?

[2021-05-14 16:27] andrew-farries opened #2084 "Support the object-map RBD image feature"
# Describe the feature you'd like to have #

I'd like `ceph-csi` to be able to create RBD images with the [object-map](https://docs.ceph.com/en/latest/rbd/rbd-config-ref/#image-features) feature enabled.

# What is the value to the end user? (why is it a priority?) #

My use case is that I have a K8S cluster used to run end-to-end tests of my application. A typical test run will create and delete

[2021-05-17 01:40] zhangzhao0827 commented on #2080
Hi @Yuggupta27 ,
Here are some of t
[Uploading kube-system_csi-cephfsplugin-provisioner-7f577b4bfc-dmtv9_csi-provisioner.log…]()
he logs. Please look at them. Thanks.

[2021-05-17 01:48] zhangzhao0827 commented on #2080
Hi @Yuggupta27 ,this is one of csi-provisioner's logs
![545](https://user-images.githubusercontent.com/41892552/118421946-c519a600-b6f4-11eb-8f67-a1cecf685990.png)
and this is one of ccsi-cephfsplugin's logs
![654](https://user-images.githubusercontent.com/41892552/118422063-0b6f0500-b6f5-11eb-892c-e1eb9c2b3617.png)

Please take a look at it for me. Thank you.

[2021-05-17 02:42] Yuggupta27 commented on #2080
Hey @zhangzhao0827 , Can you please share the logs of csi-cephfsplugin container from the provisioned pod? Along with that, which ceph-csi release is being used in the setup?

[2021-05-17 03:14] zhangzhao0827 commented on #2080
Hi @Yuggupta27 ,here is the logs of csi-cephfsplugin container from the provisioned pod
[kube-system_csi-cephfsplugin-provisioner-7f577b4bfc-dmtv9_csi-cephfsplugin.log](https://github.com/ceph/ceph-csi/files/6490823/kube-system_csi-cephfsplugin-provisioner-7f577b4bfc-dmtv9_csi-cephfsplugin.log)
and the version of ceph-csi is 3.2.0
![vvv](https://user-images.githubusercontent.com/41892552/118427962

[2021-05-17 04:46] Madhu-1 commented on #2080
@zhangzhao0827 please specify the ceph version you are using and also the user is having the required capabilities as mentioned in https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md#cephfs?

[2021-05-17 05:31] Madhu-1 commented on #2084
Yes only layering is supported as rbd-nbd is not ready yet, we have issues  with rbdplugin container restart.

This is for someone who wants to use this feature with known limitations. Even this is available with rook but not documented because of limitation.

@andrew-farries in cephcsi we do the below operation to delete an image to have better performance of PV deletion at the kubernetes level

[2021-05-17 09:02] zhangzhao0827 commented on #2080
@Yuggupta27 after I upgraded the CEPH version to 13, there was no "permission denied" error, but there was an error of "no handler found for 'FS subvolumegroup create'".Here is the logs of csi-cephfsplugin container from the provisioned pod.
[kube-system_csi-cephfsplugin-provisioner-7f577b4bfc-c6jlg_csi-cephfsplugin.log](https://github.com/ceph/ceph-csi/files/6492613/kube-system_csi-cephfsplugin-p

[2021-05-17 09:07] Madhu-1 commented on #2080
@zhangzhao0827 minimum supported ceph version  is 14.2.2 https://github.com/ceph/ceph-csi#support-matrix

[2021-05-17 10:40] zhangzhao0827 commented on #2080
@Yuggupta27 version has been upgraded to 15, but there are still problems, here is the log, please help check, thank you
[Uploading kube-system_csi-cephfsplugin-provisioner-7f577b4bfc-c6jlg_csi-cephfsplugin.log…]()

[2021-05-17 10:49] Yuggupta27 commented on #2080
Can you please re-share the link, this one seems to be broken.

[2021-05-17 10:51] zhangzhao0827 commented on #2080
@Yuggupta27
[kube-system_csi-cephfsplugin-provisioner-7f577b4bfc-c6jlg_csi-cephfsplugin.log](https://github.com/ceph/ceph-csi/files/6493270/kube-system_csi-cephfsplugin-provisioner-7f577b4bfc-c6jlg_csi-cephfsplugin.log)

[2021-05-18 07:52] Yuggupta27 commented on #2080
@zhangzhao0827, As @Madhu-1 mentioned above, can you please check if the user has the required capabilities?

[2021-05-18 10:33] yati1998 commented on #2022
Hey @Madhu-1 , if no one is working I can work on this issue?

[2021-05-19 14:41] tamil-balasubramani opened #2093 "Unable to mount or timeout with cephfs PVC in 2 containers on same pod on openshift 4"
Hi,

I am trying to mount cephfs pvc in two containers in same pod in openshift 4.5 which is failing to create pod with below errors and endup with `CreateContainerError`. And it works when I use volume in only one container.
[code]
Also the same pod works with other node in cluster and does not work with one particular node.

Could you please advise what could be wrong here ?

PS :  Our ceph clus

[2021-05-19 14:42] Madhu-1 commented on #2093
I guess the container names should be unique in pod spec?

[2021-05-19 14:47] tamil-balasubramani commented on #2093
oh yes, it was typo, I edited few sensitive information while posting here, So I corrected the `yaml`. but in original pod I use different container names.

[2021-05-19 14:55] Madhu-1 commented on #2093
I don't think it's a ceph-csi problem. Maybe you need to check with OCP or CRIO

[2021-05-19 14:58] Rakshith-R opened #2094 "E2E fails with mons, mgr and/or mds in `crashloopbackoff`"
# Describe the bug #

E2E fails with mons, mgr and/or mds in ` crashloopbackoff`.
This is accompanied with #1969 and maybe probable cause for #1875

# Environment details #

- Image/version of Ceph CSI driver :
- Helm chart version :
- Kernel version :
- Mounter used for mounting PVC (for cephfs its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :
- Kubernetes cluster version :
- Ceph clus

[2021-05-20 02:56] cl51287 commented on #1285
@Madhu-1 Is this problem fixed?

[2021-05-20 05:12] Madhu-1 commented on #1285
@cl51287 I haven't come across this problem @nixpanic @humblec any idea?. Do you have a set of steps to reproduce this one?

[2021-05-20 05:40] Rakshith-R commented on #2094
Hit this issue again in #1998
https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.20/detail/mini-e2e_k8s-1.20/907/pipeline/
[e2e-log.txt](https://github.com/ceph/ceph-csi/files/6513181/log.txt)
[e2e-extra-log.txt](https://github.com/ceph/ceph-csi/files/6513183/log.1.txt)

https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e-helm_

[2021-05-20 05:45] humblec commented on #1285
@cl51287 can you give more details about the issue please. Are you also using calico in your setup ? and whats the issue faced at your end ? do you come across the `fsck` errors ? if yes, when exactly it happens ? only when rbdplugin restarts in between? The ceph client connections are established on an IP and it has been tracked for client request and completion ...etc. If the client IP get chang

[2021-05-20 09:13] cl51287 commented on #1285
Our error is the same as yanchicago, as follows:
`May 14 10:27:00 k8s-test-0-114 kubelet: E0514 10:27:00.723771 3657 csi_attacher.go:320] kubernetes.io/csi: attacher.MountDevice failed: rpc error: code = Internal desc = 'fsck' found errors on device /dev/rbd3 but could not correct them: fsck from util-linux 2.32.1
May 14 10:27:00 k8s-test-0-114 kubelet: /dev/rbd3 contains a file system with errors

[2021-05-20 09:21] humblec commented on #1285
This is expected! Any journalling filesystem when it goes through incomplete transactions like this at situation like node shutdown, its expected or bound to happen.

This case is different or purely an illustration of node down scenario. I dont think any thing we can do from CSI side to cover this. More or less, this is working from filesystem point of view as expected/designed. !!

[2021-05-20 09:29] zhangzhao0827 commented on #2080
@Yuggupta27 ，i use the admin user

[2021-05-20 09:30] cl51287 commented on #1285
Yes, if the system goes down, it is expected that fsck needs to be repaired. But whether this can be automatically repaired in the csi, I see that the csi has been repaired in the log, but the repair failed.
Because if this happens in the production environment, business programs will not be automatically restored, and all programs on this machine need to be repaired manually.

[2021-05-20 09:31] zhangzhao0827 commented on #2080
@Yuggupta27 and there is no problem when using admin to mount directly on the Centos.

[2021-05-20 11:55] humblec commented on #1285
At time of mounting kube libraries ( csi triggers the mount though) does/attempt the `fsck` operation, why it didnt go through or failed to repair I am not sure. more or less, it has been attempted in general way by the kube mounters and havent seen instances where `fsck` also fails. It seems that, the situation is severe filesystem corruption as it was not just  node down scenario rather the hard

[2021-05-23 15:13] dany27 commented on #2080
I have the same issue, here is my version of the related softwares:
Ceph version: 15.2.11
csi provisioner deployed with helm chart v3.3.1
K8s: 1.21

I tried admin account also but got the same problem (permission denied), rbd provisioning not work either. :/

[2021-05-24 09:36] Rakshith-R commented on #2094
liveness probe timeout failure seems to have caused this issue.
[code]
Disabling liveness probe for mons, mds and mgr seems to prevent this issue from #2097 ci runs.

[2021-05-24 12:18] Rakshith-R opened #2099 "deploy: re-enable liveness probe for mons,mds & mgr"
# Describe the bug #

Liveness probe for mons,mds and mgr is being disabled in #2097 , since it is blocking prs.
For more details, see #2094.

Liveness probe should ideally be re-enabled when the actual issue is found and addressed.

# Environment details #

- Image/version of Ceph CSI driver : canary
- Helm chart version :
- Kernel version :
- Mounter used for mounting PVC (for cephfs its `fuse`

[2021-05-25 10:41] #1699 closed

[2021-05-25 14:23] #2039 closed, assigned to nobody

[2021-05-25 18:02] #2051 closed, assigned to Rakshith-R

[2021-05-27 04:12] yati1998 opened #2102 "Document Golang Profiling"
We need to add documentation for golang profiling. For more details, checkout this PR: https://github.com/ceph/ceph-csi/pull/1935.

[2021-05-27 11:17] humblec commented on #2003
[Status update and some findings after going through various github issues/code/PR..etc on this topic]  iow, where we are at:

1) Good progress on having first release of `csi-iscsi-driver` which include the Linux part of Node Controller.
Along with other PRs and work, the release is getting close:

Have to address the comments along with few other things https://github.com/kubernetes-csi/csi-driv

[2021-05-27 15:01] humblec commented on #2003
[Quick update]

I could get the windows working finally!

[code]

[2021-05-27 18:32] nin0-0 opened #2104 "RBD provisioning fails with `DeadlineExceeded desc = context deadline exceeded`"
I've gone through https://www.mrajanna.com/troubleshooting-cephcsi/ and can't find the issue. Both pods are running fine (rbdplugin and rbd-provision) and I can contact the ceph cluster (cat /dev/tcp on both ports), and I tried putting dns names and ips of monitors in my config map).

Am running 3.3.1

[code]

any help / direction is appreciated

[2021-05-31 05:12] Madhu-1 commented on #2104
@nin0-0 can you please provide below details
* CephCSI version
* Ceph cluster version
* ceph health
* Logs from the rbdplugin container of provisioner pods
* configmap which contains the mon and clusterId mapping
* Ceph user capabilities

[2021-05-31 07:49] nixpanic opened #2107 "Add optional configuration to SecretsMetadataKMS to read passphrase from Namespace/Secret"
# Describe the feature you'd like to have #

It would be useful to be able to configure the SecretsMetadataKMS with options to fetch the `encryptionPassphrase` from a given Namespace/Secret instead of the standard StorageClass Secret.

# What is the value to the end user? (why is it a priority?) #

The SecretsMetadataKMS service uses the `encryptionPassphrase` from the Secrets that are configured

[2021-05-31 08:33] yati1998 commented on #2107
@nixpanic a small typo in the heading: "passphrase"

[2021-05-31 09:55] alexcpn commented on #1062
In my case, the backend ceph pool was limited in size causing all provisioning to stop. The error logs are not really clear from rook/ceph csi-provisoner side

logs before

[code]
correction
[code]

[2021-05-31 13:07] pkalever commented on #2018
@Madhu-1 @nixpanic could you please assign this to me?

[2021-05-31 13:56] nin0-0 commented on #2104
CephCSI version --> 3.3.1
    Ceph cluster version --> 14.2.16
    ceph health --> HEALTH_OK
    Logs from the rbdplugin container of provisioner pods --> [1.1], [1.2] respectively.
    configmap which contains the mon and clusterId mapping --> [2]
    Ceph user capabilities --> the sa? [3]

[1.1] csi-rbdplugin logs
[code]

[1.2] csi-rbdplugin-provisioner logs
[code]

[2] csi-config-map.yaml
[code

[2021-05-31 14:00] Madhu-1 commented on #2104
the ceph user capabilities https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md#rbd

[2021-05-31 16:38] nin0-0 commented on #2104
I have this one configured:
[code]

[2021-05-31 16:56] nin0-0 commented on #2104
I ran `ceph auth caps client.openshift mon 'profile rbd' osd 'profile rbd' mgr 'allow rw'` to match the exact caps.

[code]

[2021-06-01 04:56] Madhu-1 commented on #2104
Can you try to create a new PVC now and also try restarting the provisioner pods.

[2021-06-01 05:00] Madhu-1 commented on #2104
[code]

the clusterID `17e1b054-7859-4ba7-a61d-e8d614a5d56c` in above provisioner logs is not matching with the clusterID in configmap `4561e790-8a5c-4a98-a79b-c93d3010aaaf`

[2021-06-01 07:37] Rakshith-R opened #2109 "Testing encryption: pvc(unenc)->snapshot->pvc-restore(enc) Fails at mounting stage"
# Describe the bug #

## Using vault based encryption

Case 1:
* Create a PVC without encryption
* Create a snapshot from PVC
* Restore to a new encrypted PVC
* Mount the PVC to application and check the mounting path in rbd plugin pod (mount |grep rbd) [**Fails to mount**]
* Read data from the application pod (kubectl exec)

Failed at mount stage -> encryptionStatus missing

rbd-provisioner logs

[2021-06-01 07:48] Yuggupta27 opened #2110 "Testing: Creation a new clone of an encrypted pvc with a different KMSID"
Testing performed:

**[TEST 1]: Creation of encrypted clone from an SC that has different KMSID from the SC used by the parent**

1. Create a SC with  encryption enabled and encryptionKMSID: "vault-test"
2. Mount the created PVC to a pod, and write some data
3. Fetch ImageMeta and verify that encrypted state is "encypted" and mountType is "crypt".
4. Create a volumesnapshot of the PVC.
5. Create a

[2021-06-01 07:54] Madhu-1 commented on #2110
@nixpanic do we need to allow this operation from a security point of view? if the parent PVC or snapshot `kmsid` is not matching with the request PVC we can fail fast?

[2021-06-01 07:59] nixpanic commented on #2110
When cloning a volume encrypted with one KMS-configuration, the encryption-passphrase is decrypted and stored according to the destination KMS-configuration. This is expected to work, and allows for migration in case a KMS-service needs replacing.

[2021-06-01 08:03] nixpanic commented on #2109
This is not supported. The data of the source PVC needs to be encrypted if the destination PVC is expected to be encrypted. We can not (re)encrypt the data.

When cloning or restoring a snapshot from unencrypted -> encrypted, the provisioner should return a fatal error (no retries by Kubernetes).

[2021-06-01 08:30] Madhu-1 commented on #2109
@nixpanic Technically we can support this feature as no re-encryption is supported here, isn't it?

 Yes for simplicity we can mark this as unsupported.

we need to document the different unsupported combinations with encryption.

[2021-06-01 08:31] Madhu-1 commented on #2110
Closing this one. Thanks, @nixpanic . Thanks @Yuggupta27 for testing it

[2021-06-01 08:31] #2110 closed, assigned to Madhu-1

[2021-06-01 08:39] nin0-0 commented on #2104
Hi,

I pasted the wrong configmap (of the labo cluster), my bad
[code]

[2021-06-01 09:15] Madhu-1 commented on #2104
Can you please run the below command in the rbdplugin container of rbdprovisioner pods?

[code]

[2021-06-01 09:38] humblec commented on #2003
[Status update]

The iscsi experiments are going on heavily to get iscsi csi project in a better shape. Many hiccups due to the fact that, it was never tested in real kube cluster on both codewise or setup wise. Solving one by one and making progress. Will continue experimenting on this as this node part is very important in the workflow of this effort.

[2021-06-01 10:49] YingshuoTao opened #2114 "Mountoptions seems not to be passed correctly while mounting pre-provisioned volumes"
# Describe the bug #
Mountoptions (kernelMountOptions/fuseMountOptions) seemed not to be passed into spec.csi.volumeAttributes.

# Environment details #
- Image/version of Ceph CSI driver : 3.3.1
- Helm chart version : 3.3.1-canary
- Kernel version : 5.3.0-53
- Mounter used for mounting PVC: fuse & kernel
- Kubernetes cluster version : 1.18.2
- Ceph cluster version : 16.2.4

# Steps to reproduce #

[2021-06-01 11:48] Madhu-1 commented on #2114
[code]
adding above code at line 457 https://github.com/ceph/ceph-csi/blob/2e978e42112cc914f3c2c9dbc11229752df2eff6/internal/cephfs/volumeoptions.go#L457 should work.

[2021-06-01 15:18] nin0-0 commented on #2104
yes, this lists the pools of the cluster !

[2021-06-01 15:19] nin0-0 commented on #2104
I'm testing with these:
[code]
[code]

[2021-06-02 05:00] Madhu-1 commented on #1494
Due to no activity Closing this one. Please reopen if anything is required.

[2021-06-02 05:00] #1494 closed

[2021-06-02 05:08] Madhu-1 opened #2117 "Add documentation of Regional/Metro DR"
Add documentation which covers failover and failback in case of Regional/Metro DR

[2021-06-02 05:11] Madhu-1 opened #2118 "Add clusterID and poolID configuration to support failover in Regional DR"
```0001-0009-rook-ceph-0000000000000002-b0285c97-a0ce-11eb-8c66-0242ac110002```

The Above is the volumeID is sent back in the response to the CreateVolume operation and will be added as a volume handle in the PV spec. CO (Kubernetes) uses above as the identifier for further operations on the volume/PVC.

The VolumeID is encoded as below

[code]

When mirroring is enabled the volume which is `csi-

[2021-06-02 05:13] Madhu-1 opened #2119 "RBD Regional DR: Add support for mirror snapshot scheduling"
Mirror-snapshots can also be automatically created on a periodic basis if mirror-snapshot schedules are defined. The mirror snapshot can be scheduled globally, per-pool, or per-image levels. Multiple mirror-snapshot schedules can be defined at any level, but only the most specific snapshot schedules that match an individual mirrored image will run.

To create a mirror-snapshot schedule with rbd, s

[2021-06-02 05:15] Madhu-1 opened #2120 "RBD: convert getImageMirroingStatus from RBD CLI to go-ceph"
https://github.com/ceph/ceph-csi/blob/7cbad9305f71b70040509ed854f1d65c7c624d4f/internal/rbd/mirror.go#L131-L161 Need to re-written using go-ceph

[2021-06-02 05:17] Madhu-1 opened #2121 "RBD Regional DR: Test/Support mirroring of Thick PVC"
As CephCSI supports the creation of Thick PVC. we need to support mirroring same rbd images in Regional DR

[2021-06-02 05:18] Madhu-1 opened #2122 "Update all sidecars to latest releases"
Update all the kubernetes csi sidecars to the latest available releases.

[2021-06-02 05:29] Madhu-1 commented on #1986
all required issues/PR's are added to 3.4.0 milestone https://github.com/ceph/ceph-csi/milestone/9

[2021-06-02 05:51] Madhu-1 commented on #2104
Not sure what is happening. can you please try to create an rbd image from the rbdplugin container?

[2021-06-02 07:20] YingshuoTao commented on #2114
@Madhu-1 Thanks! This should work. But are there any considerations for not passing these parameters? If not maybe a PR would be welcomed?

[2021-06-02 07:23] Madhu-1 commented on #2114
Yes, PR is welcome. We missed parsing those parameters.

[2021-06-02 07:31] YingshuoTao commented on #2114
@Madhu-1 OK, much obliged!

[2021-06-02 07:31] #2114 closed, assigned to nobody

[2021-06-02 07:48] yati1998 commented on #2114
@Madhu-1 as this issue is closed shall I create  new one and make PR there?

[2021-06-02 08:00] mape90 opened #2123 "Locking in NodeUnpublishVolume significantly slows down pod deletion"
Case:
Application with multiple pods that have 20 PVs attached to it running on same node. There maybe only 20 PVs but all pods attach these volumes. (20 pods with 20 PVs on single node, all pods attach all 20 PVs) This Requires 400 mount binds and 20 actual cephfs mounts.

Issue:
Deletion of this application can take +15min because volumes are not unmounted and pods hang in Terminating state. Oth

[2021-06-02 09:04] mape90 commented on #2123
Same issue could happen also for NodePublishVolume, however there seems that kubelet gets throttled by k8s API. This causes that NodePublishVolume are only called 1/sec. Increasing the qps will make the mounting go faster. So there the problem is on kubelet side and not on CSI.

[2021-06-02 10:04] humblec commented on #2123
Thanks for the detailed analysis . At umount/unpublish, we take lock ( https://github.com/ceph/ceph-csi/blob/devel/internal/rbd/nodeserver.go#L576 )  to make sure or check any other ongoing operation exist on the volume. But considering the operation of unmount should not cause any harmful operation to the volume itself , I think we can live without locking. But allow some time, we have to think t

[2021-06-02 10:18] pkalever opened #2124 "Qualify data consistent snapshots and cloning with NBD backend"
# Describe the feature you'd like to have #

rbd-nbd backends support quiesce feature. While taking the snapshots rbd will notify rbd-nbd to call the quiesce hooks, upon receiving the notification the rbd-nbd will freeze the mount points and wait to finish the inflight IO. Once the snapshot is completed, rbd will notify the unquiesce, now rbd-nbd will unfreeze the mount points and allow IO to cont

[2021-06-02 10:19] pkalever commented on #2124
@Madhu-1 @nixpanic please assign this to me.

Also please target this for `release-3.4.0` milestone.

Thanks!

[2021-06-02 11:12] mape90 commented on #2123
Hi,

I checked the code again and fro cephfs the lock is only called with functions NodeStageVolume/NodeUnStageVolume/NodePublishVolume/NodeUnPublishVolume. In RBD there is also NodeExpandVolume.

In kubelet code it is made sure that stage/unstage/publish/unpublish can not be called at same time.
Stage has to happen before Publish other vice there is no source to bind. And kubelet never calls moun

[2021-06-02 12:40] Madhu-1 opened #2128 "Failed to create over sized thick provisioning image"
Currently For thick provisioning cephcsi creates an image and it writes zeros to the images until the image is full. If the ceph cluster gets full 9occupied more than 85%) during this operation the cephcsi client opened to write zeros hangs and all the subsequent requests for the same volume returns with an error when a user deletes the PVC this will leave a stale rbd image in the cluster.

The ab

[2021-06-02 13:45] pkalever commented on #2018
@Madhu-1 Lets track this for `release-3.4.0` :-)

Thanks!

[2021-06-02 14:38] mape90 commented on #2123
I now followed the full execution path of Kubelet for CSI calls. So I found that it already implements the locking/preventing parallel actions on volumes. So there is no need for locking in CSI.

Only UnmountVolume is allowed to be called multiple parallel. However it only is allowed to run with other UnmountVolume calls.

So only fusePidMapMtx.Lock() is needed in unmountVolume as there it is poss

[2021-06-02 14:43] humblec commented on #2123
Thanks @mape90 for the call path! , even I am leaning towards we can get rid of that locking at NodeUnPublish. I will go through and confirm this soon .. :+1:

[2021-06-02 14:48] nixpanic commented on #2128
Note that the 85% is configurable.

This is expected to be addressed with #2115.

Kubernetes will retry. Maybe there is a CSI status return code for 'provisioning in progress'? If that gets returned to Kubernetes, it should also request to abort/delete the volume that is being provisioned. This status notification exists for snapshots, maybe for volumes too?

Ok!

Yes, that is how Kubernetes is de

[2021-06-02 14:53] Madhu-1 commented on #2123
Note this needs to be tested extensively or else we will end up in problems. Even if any bug introduced in the future kubernetes or other CO version that can lead to other problems.

[2021-06-02 15:49] nixpanic commented on #2128
Some more questions that would help in judging to see if we need to (can?) fix this in Ceph-CSI

- Can we have a single sentence for the problem that needs addressing?
- Why is running out of space with thick-provisioning different from running out of space with workloads on thin-provisioned volumes?
- What cases are not addressed with #2125, and what is the plan to address those?
- Are there othe

[2021-06-03 06:44] mape90 commented on #2123
If kubernetes introduces bug that would require locking for CSIs it would mean that each CSI drivers would break as no other implement any kind of locking. So it would not be something that would only hit ceph-csi. However, yes testing is always good.

Here is some pointers for helping you to verify kubelet logic:
kubernetes/pkg/kubelet/volumenanager/reconciler/reconciler.go
- Here you find the lo

[2021-06-03 11:56] humblec commented on #2123
True. Looking into this issue/fix, I went through  the other CSI drivers and yes, no one care about an exclusive access lock here , but interestingly those CSI drivers does not keep a state db like ( `omap`) we have today.  Verifying the code paths some more in depth to make sure we wont introduce regressions on this.

[2021-06-03 12:35] humblec commented on #2124
@pkalever instead of reinventing the wheel, my suggestion here is to make use of standard API which is getting introduced in Kube. That said, we have an upcoming feature for application consistent snapshots which could make use of `container notifier` and its `handler` mechanism which is flexible enough to make use of storage vendors `quiece and unqueice` features. There were enough discussions on

[2021-06-03 12:38] humblec commented on #2003
Finally able to get the mount part working on ISCSI side: :+1:

[code]
The POD runs successfully:

[code]

[2021-06-03 12:54] nixpanic commented on #2124
Removing this from the 3.4.0 planning. There are features planned in Kubernetes (and CSI?) that involve the application and storage layers for a better coordination of quiescing and filesystem freezing.

[2021-06-03 15:34] kfox1111 opened #2130 "global secret access on all nodes"
The rbd driver was given permissions to access every secret in the cluster on every node since I last looked. This can be a major security concern on certain (maybe all) clusters (more details here https://github.com/warm-metal/csi-driver-image/pull/29#issuecomment-850527122) . At minimum, the helm chart needs the option to disable this global access to secrets to help tighten security on clusters

[2021-06-04 05:12] humblec commented on #2130
@kfox1111  Kind of agree to the point that, global access is not good. At the same time, we need the backend operations to go through smoothly in a cluster too. Do you have any proposal/poc PR for tightening this layer? if yes, it would be appreciated if you can drop the PR !

[2021-06-04 15:12] kfox1111 commented on #2130
There are multiple mechanisms that could be used to help mitigate the issue and without knowing the use case it may be hard to pick between them. Is there a description of the use case somewhere?

Some options:
* provisioner snapshots needed secrets at time of provisioning. Deletes the snapshot at time of deletion. This means only the single per cluster instance needs full secret read access. It c

[2021-06-04 23:41] msfrucht commented on #2124
@nixpanic Can you point me to those planned features. Coordinated snapshots across multiple PVC would be really nice for clustered applications that use multiple PVCs in RWO mode like MongoDB.

[2021-06-05 14:21] mnaser commented on #2049
@devinmatte how were you able to edit the PV?

[code]

[2021-06-07 06:12] YingshuoTao opened #2137 "cephfs: question about cephfs directories' permissions"
# Actual results #

After kernel mounting a pre-provisioned cephfs volume, the cephfs directory's permission was modified to 777.

# Expected behavior #

The mounting process should not have side effects on existing directories' privileges.

I noticed that in the snippet [internal/cephfs/nodeserver.go#L184](https://github.com/ceph/ceph-csi/blob/fb7dc13dfef64136e8fb63d237c4bae4686daa4f/internal/cep

[2021-06-07 06:19] Madhu-1 commented on #2137
This is done to provide write access to the applications created with normal users https://github.com/ceph/ceph-csi/pull/423

[2021-06-07 06:29] pkalever commented on #2124
@humblec Rbd-NBD already supports quiescing and this is not something that we are adding today, this is already supported today with ceph-csi too. All one has to do is to provide quiesce option in  `mapOptions: quiesce` at the storage class YAML.

This issue is to highlight its availability and also dev qualify snapshots and clones with rbd-nbd.

That all said, this option is coming from the stora

[2021-06-07 06:48] pkalever opened #2138 "Calling util.NewK8sClient() might lead to panic on non K8s env"
# Describe the bug #

Improve util.NewK8sClient(), currently it is very Kubernetes specific, it breaks the CSI guidelines as this now will panic on non-Kubernetes container orchestrators. There needs to be a check that logs some error and returns an error instead of panic'ing.

[2021-06-07 06:50] Madhu-1 commented on #2138
The plan is to use https://github.com/ceph/ceph-csi/issues/1782 new sidecar for this operation.

[2021-06-07 09:27] Madhu-1 commented on #1705
Closing this one, Due to inactivity

[2021-06-07 09:27] #1705 closed

[2021-06-07 13:11] gman0 opened #2142 "cephfs: efficient read-only snapshots as volumes"
# Describe the feature you'd like to have #

CephFS exposes snapshots as special, read-only directories of a subvolume. cephfs-csi can already provision writable volumes with snapshots as their data source, where snapshot contents are cloned to the newly created volume. Cloning to snapshot to volume is very expensive in CephFS, as the data needs to be fully copied.

I propose creating read-only (s

[2021-06-07 15:05] #2109 closed, assigned to Madhu-1

[2021-06-08 06:23] pkalever commented on #2124
Update:
I had tested snapshots and clones with rbd-nbd mounter both with and without `mapOptions: quiesce`
They are working as expected. We can move this to Qualified. I will send a separate PR to add the doc changes required.

[2021-06-08 06:25] pkalever commented on #2124
@nixpanic @Madhu-1 I had fixed the subject of this issue to avoid confusion. Request to reattach this to the `release-3.4.0` tracker.

Thanks!