[2021-10-20 12:02] Raboo commented on #1818
Weirdly enough this still fails if I give the csi-cephfs-provisioner client same caps as admin, but it works if I use the admin client.
[code]

[2021-10-20 12:52] Madhu-1 commented on #2573
yes correct.

is it something different than https://github.com/ceph/ceph-csi/blob/devel/docs/static-pvc.md#create-rbd-static-pv? we currently don't have any plan to support snapshot/clone etc on user-created images the above is the hack but I haven't tried it.

[2021-10-20 12:58] Rakshith-R commented on #2573
After second look,  we actually fetch the image id from the cluster for that image before deletion here
https://github.com/ceph/ceph-csi/blob/6d3e25f069f6500f0923b3c5ee04c6b601094cf8/internal/rbd/rbd_util.go#L575

So it will effectively delete the pvc, even if imageid in omap is wrong.

Use `reclaimPolicy: Retain` in storageclass instead?

[2021-10-20 13:56] Madhu-1 commented on #2573
see https://github.com/ceph/ceph-csi/blob/6d3e25f069f6500f0923b3c5ee04c6b601094cf8/internal/rbd/rbd_util.go#L350-L352 if the image id is available in omap we don't check it in ceph cluster.

[2021-10-20 14:01] dren-dk commented on #2573
Yes, I specifically want to create a PV for an existing image AND be able to snapshot and clone it, that's why I've been looking into creation of a non-static PV from scratch.

I'm very puzzled as to why the static PV doesn't fully work, because clearly all the information needed to support full functionality is provided in the static PV, if nothing else then it could be cached in omap when the PV

[2021-10-20 14:03] dren-dk commented on #2573
Sure, that's what I already do, but I would prefer DeleteToTrash and a configurable TTL.

[2021-10-20 14:11] Rakshith-R commented on #2573
Yes, I missed that.

But with https://github.com/ceph/ceph-csi/pull/2431

First request will move the image to trash,
Trash remove step will return NotFound error.

Second request will trigger EnsureImageCleanup which will go through trash and find the imageID and it will be deleted.
(If I didn't get anything wrong)

[2021-10-20 14:55] bbatha commented on #2579
This one is about `pvc-6161f88b-4240-4ae1-a667-cbc3d07cdfc8`.

Here is `df -h` output on initial mount of the volume:

[code]

Here is `df -h` output after creating a 1GB file with `head -c 1G   < /dev/urandom > /notebooks/some_data_1G`

[code]

From with in the mounting container:

[code]

So it looks like `df` might be at fault here -- (presumably a `statfs` call)? But as you mentioned its also

[2021-10-21 06:51] nixpanic commented on #2579
That looks like a CephFS behaviour thing to me. After writing a large file, `df` does not account for it (yet?), but verifying the usage with `du` shows the additional consumption.

@kotreshhr, might you be able to explain more details?

[2021-10-21 09:11] humblec commented on #2585
A couple of additional input here,

- [x] The key protect API Server and Client APIs is compatible and can work on HPCS or Key Protect KMS services. So, this feature can be developed for both at the same time with minor changes.
- [ ] The LibOpenstorage api interation looks like bit old (2 years) https://github.com/libopenstorage/secrets/tree/master/ibm , so one thing which we need to take a decis

[2021-10-21 09:36] nixpanic commented on #2585
I do not have a preference over using libopenstorage or the KeyProtect client directly. If Rook uses libopenstorage, I'd got with that too.

The [Amazon KMS](https://github.com/ceph/ceph-csi/blob/devel/internal/kms/aws_metadata.go) provider does not use libopenstorage either.

[2021-10-24 13:23] k0ste commented on #2513
/reopen

[2021-10-25 08:05] jbpratt commented on #2515
Going ahead and closing this out since I don't have time to reproduce it. If someone else can, or I can at a later date, we can re-open this or a new issue :smiley_cat:

[2021-10-25 08:05] #2515 closed, assigned to nobody

[2021-10-25 13:23] pkalever commented on #2237
@Madhu-1 @nixpanic can we close this based on https://github.com/ceph/ceph-csi/pull/2589 ?

[2021-10-25 13:27] Madhu-1 commented on #2237
@pkalever Thanks for keeping track of it. yes makes sense to close this one.

[2021-10-25 13:34] pkalever commented on #2237
Closing this now based on previous discussions above, feel free to reopen if needed. Thanks!

[2021-10-25 13:34] #2237 closed, assigned to pkalever

[2021-10-26 03:34] easonboy opened #2592 "External provisioner is provisioning volume for claim "default/abcd" Warning ProvisioningFailed 20s (x8 over 2m27s) rbd.csi.ceph.com_csi-rbdplugin-provisioner-64598bf8f9-gbsls_efc5a55a-679e-4544-9323-7aa182540118 failed to provision volume with StorageClass "new-sc": rpc error: code = Aborted desc = an operation with the given Volume ID pvc-1973d586-f6ce-43fc-aed9-4812c0f1443a already exists"
1, using ceph-csi driver, tag is v3.4.0, found this error all the time

failed to provision volume with StorageClass "new-sc": rpc error: code = Aborted desc = an operation with the given Volume ID pvc-1973d586-f6ce-43fc-aed9-4812c0f1443a already exists

2，ceph cluster is ok

  cluster:
    id:     43e426d7-c323-48ad-80c7-24c2bdf2f848
    health: HEALTH_OK

  services:
    mon: 3 daemons, quorum m

[2021-10-26 03:48] easonboy commented on #2592
add

[root@master01 kubernetes]# kubectl -n ceph-csi exec -it csi-rbdplugin-54fss -c csi-rbdplugin sh
sh-4.4# ps -ef|grep rbd
root     1970902 1970881  0 03:18 ?        00:00:00 /csi-node-driver-registrar --v=5 --csi-address=/csi/csi.sock --kubelet-registration-path=/var/lib/kubelet/plugins/rbd.csi.ceph.com/csi.sock
root     1970949 1970928  0 03:18 ?        00:00:00 /usr/local/bin/cephcsi --nodei

[2021-10-26 04:51] Madhu-1 commented on #2592
@easonboy can you please check you have network connectivity with the ceph cluster and the rbd-plugin container of the provisioner pod?

[2021-10-26 07:23] yati1998 opened #2595 "Update Static check tool to latest version"
The current version for golangci-lint in ceph-csi is v1.39.0, but we have new changes introduced in the latest releases of golangci-lint causing some static errors.

[code]

[2021-10-26 08:01] humblec opened #2596 "Add documentation about the Migration Task"
Eventhough migration design is pretty much  covered in tracker issue and  in the E2E , it is good to have a documentaton about migration in the docs, this issue track below

- [x] design documentation #2609
- [ ] add documentation with examples

Updates: https://github.com/ceph/ceph-csi/issues/2509

[2021-10-26 10:44] Rakshith-R opened #2597 "Add an internal tool that can be run as a job to trace volumes/snapshot"
On further discussion based on https://github.com/ceph/ceph-csi/issues/1248, it was decided to add an internal tool inside cephcsi image to be run as a kubernetes job to

- output a yaml/json with all required information and information to identify PVC <-> backend-volume mapping  & also identify/deal with stale resources.
- Provide summary or detailed description.
- Provide steps to delete/cleanu

[2021-10-26 10:46] Rakshith-R commented on #1248
This can be closed in favour of #2597.

I'll not be working on this feature request, will be busy with csiaddons reclaimSpace project and metro DR.

[2021-10-26 12:14] wjentner opened #2600 "CSI logs spammed with 'permission denied' and 'device or resource busy'. Pods can no longer mount volumes."
# Describe the bug #

The CSI logs are being spammed with error messages like this:

[code]

Kubelet on the bare-metal workers (debian based) reports errors like this:

[code]
(which is possibly related)

ceph status only shows a warning because two daemons crashed recently (I believe over one week ago). The error also occurs whith HEALTH_OK

[code]

A clear and concise description of what the bug

[2021-10-26 15:49] Yuggupta27 commented on #2015
Currently busy with other features, not working on this atm.

[2021-10-26 16:13] batrick commented on #2579
`df` is showing the space used from the quota information. This relies on "rstats" information within CephFS that is lazily updated. You may have found a bug if this is a persistent problem.

[2021-10-27 02:45] easonboy commented on #2592
Can you provide some specific commands for troubleshooting? Thanks

[2021-10-27 02:48] Madhu-1 commented on #2592
see this help https://rook.io/docs/rook/v1.7/ceph-csi-troubleshooting.html (this is more specific to rook but the idea remains the same for external ceph cluster also

[2021-10-27 05:36] easonboy commented on #2592
I have solved the problem, thanks.

[2021-10-27 05:37] #2592 closed, assigned to nobody

[2021-10-27 12:16] pkalever commented on #2432
@Madhu-1 Given our e2e runs on a single node minikube instance, I don't think we need this now?

[2021-10-27 12:27] Madhu-1 commented on #2432
for now its minikube. the plan is to run with a multinode minikube cluster.

[2021-10-27 12:57] humblec commented on #2585
One other option we have here is exploring KMIP apis for the integration side. exploring those options as well, before we start the implementation here.  We can not do both at the same time or in single phase so have to weigh one against other and go ahead accordingly.

[2021-10-27 13:00] pkalever commented on #2432
@Madhu-1

Yes, I understand this part. I mean to say, this might need some work in our e2e after we have a multinode minikube cluster. And there is nothing to be done with/for existing e2e runs.

There are two things that we can do about this issue:
1. wait until we have mutinode minikube cluster and address this, which is a long-term wait.
2. Close this now as we do not have mutinode minikube clu

[2021-10-27 13:48] laptimus commented on #1563
Hello Madhu

Any update on this issue

regards

[2021-10-27 14:46] Madhu-1 commented on #1563
@jtlayton @batrick @vshankar @kotreshhr  CephFS already supports fscrypt based encryption?

[2021-10-27 14:48] jtlayton commented on #1563
No, it's still a work in progress. We're hoping to have it ready to ship for Quincy release.

[2021-10-28 00:58] laptimus commented on #1563
Thanks @Madhu-1 @jtlayton

[2021-11-01 08:17] #478 closed

[2021-11-01 08:39] nixpanic commented on #2506
@kotreshhr, maybe you can give advise on the required CephFS caps that are needed?

[2021-11-01 08:40] nixpanic commented on #2264
This is definitely not fixed yet :disappointed:

[2021-11-02 12:34] nixpanic opened #2610 "rbd-nbd: failed to validate encrypted pvc with error timed out waiting for the condition"
# Describe the bug #

e2e testing failed with
[code]

# Actual results #

The following errors are repeatedly reported while doing a `NodeStageVolume` call:
[code]

# Expected behavior #

Encrypting the `/dev/nbd0` device should not fail, and `NodeStageVolume` should succeed.

# Logs #

The logs of the failed job are marked for keeping and can be found at [mini-e2e_k8s-1.20/2974](https://jenkins-c

[2021-11-02 20:19] WillNilges commented on #2049
Another possible symptom of this issue is the following error message:
```MountVolume.MountDevice failed for volume "pvc-db741968-dd4f-11e8-8e93-0ace13bdd355" : rpc error: code = InvalidArgument desc = missing required parameter imageFeatures```

Same solution applies. PV must be deleted, modified, and re-created.

[2021-11-02 21:06] #2520 closed, assigned to nobody

[2021-11-02 21:06] #1725 closed

[2021-11-03 07:44] nixpanic opened #2613 "e2e: spurious failure error while getting pvc: `rpc error: code = Unavailable desc = transport is closing`"
[logs](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.20/detail/mini-e2e_k8s-1.20/2995/pipeline) contain an error that is marked as fatal:

[code]

There should be a retry when there is an error mentioning `transport is closing`.

_Originally posted by @nixpanic in https://github.com/ceph/ceph-csi/issues/2611#issuecomment-958712946_

[2021-11-03 08:57] jeremiepradet opened #2614 "cephcsi:v3.4.0-amd64 - failed to write ceph configuration file"
# Describe the bug #

I'm trying to use cephcsi:v3.4.0-amd64 to have Persistent Volumes but I can't creat PVC.
When I try with canary version, I can create PVC and write data in PVC.

Why v3.4.0-amd64 I find error bellow:
[code]

# Environment details #

- Image/version of Ceph CSI driver :  v3.4.0-amd64
- Kubernetes cluster version : v1.20.5
- Ceph cluster version : 15.2.14

# Steps to reproduce

[2021-11-03 09:12] nixpanic commented on #2614
Please verify that you use the `.yaml` deployment files that match the version of the image. There have been changes to allow a ConfigMap to be specified as source for the `/etc/ceph/ceph.conf` file, which are not part of the 3.4 release.

See #2476 for details.

[2021-11-03 09:27] gman0 opened #2616 "Improve detection and recovery of broken ceph-fuse mounts"
# Describe the feature you'd like to have #

Broken FUSE-based mounts is a well known problem in CSI. While we can't guarantee that the fuse cephfs client won't fail (bugs in ceph-fuse or node plugin, OOM, upgrades, ...), we can make it easier for users to recover from this situation.

Currently, cephfs-csi mounts a cephfs volume in `NodeStageVolume` only, and then binds this to a target path in `

[2021-11-03 09:35] humblec commented on #2616
Thanks @gman0 for picking this up.. Indeed this is  one thing which we wanted to solve for some time now. :) , remounting should be safe in this case I believe. The main worry is on the race conditions which could be caused wrt to the volume or mount being moved to another node meanwhile by kube scheduler.

Also we have seen some memory issues while fuse is in place https://github.com/ceph/ceph-cs

[2021-11-03 09:52] pkalever commented on #2616
The ideal solution according to me would be to get the reattach/reconnect working from ceph-fuse like [`rbd-nbd attach`](https://docs.ceph.com/en/latest/man/8/rbd-nbd/). Once we have that support may be add a healer at node-plugin level to repair the mounts.

There seem to be an open tracker for this https://tracker.ceph.com/issues/8369

[2021-11-03 09:54] gman0 commented on #2616
@humblec

`Node{Stage,Unstage}Volume` is already protected by key-based locks:

https://github.com/ceph/ceph-csi/blob/b95f3cdcbc1d3659afd48551e96744fd988db6bd/internal/cephfs/nodeserver.go#L90-L95

We could expand these locks to publish procedures too, no? Although I do remember there were some lock contention issues too, but that's a separate problem.

Yes we saw this too. This mount recovery cov

[2021-11-03 09:56] gman0 commented on #2616
@pkalever thanks, that would indeed be better, but that ticket seems to be really old and not active. In the meantime maybe we can have at least this? I'm not suggesting this proposal would completely fix mount problems, but if a mount does in fact fail, it makes the aftermath easier to clean.

[2021-11-03 10:05] pkalever commented on #2616
Sure! I guess no one knows the current status of that tracker (I just came across it on a random search)

I initially had plans to fix userspace mounters, `rbd for block` and `cephfs for fs` both. I picked `rbd-nbd` first and currently working on it for some time now and I'm happy that we made [great progress](https://github.com/ceph/ceph-csi/projects/13) for `rbd-nbd`. My next target would be to

[2021-11-03 10:06] humblec commented on #2616
@gman0 imo, this is definitely a possible improvement or interim step  till we have reattach working.

[2021-11-03 10:12] gman0 commented on #2616
@pkalever excellent, that sounds really good!

[2021-11-03 10:48] pkalever commented on #2610
Hit this with:
https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e_k8s-1.21/runs/1657/nodes/91/steps/94/log/?start=0

https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e-helm_k8s-1.22/runs/932/nodes/97/steps/100/log/?start=0

https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/

[2021-11-03 12:38] nixpanic commented on #2610
This is really being hit a lot, not constantly, but still very often.

Maybe we should skip the test for now, so that PRs do not need the frequent `/retest ...` anymore?

[2021-11-03 12:42] pkalever commented on #2610
@nixpanic this would be the first thing that I'm going to look at once I'm back from holidays i.e. 08th Nov.
Why are we hitting this frequently? what changed recently? I remember this test was there for a while now.

[2021-11-03 12:48] nixpanic commented on #2610
I do not know why we start to hit this so frequently, not sure what changed. It could be that there is a new Ceph base image with updated rbd-nbd or other components that handle failures differently.

My current suspicion is that there is a problem when `NodeStageVolume` fails to detect the filesystem on the RBD image (kernel logs now in the description of this issue). When `NodeStageVolume` fails

[2021-11-03 12:51] humblec commented on #2610
True, I did see this hit on recent PRs too. not sure what changed recently though. For ex: https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e-helm_k8s-1.22/runs/931/nodes/97/steps/100/log/?start=0

[2021-11-03 12:54] pkalever commented on #2610
Thanks for sharing your understanding @nixpanic, I will take a detailed look later as mentioned. If we are not able to solve this (say by Next weekend?), we will skip this test.

[2021-11-03 13:06] nixpanic commented on #2610
I have probably spotted the issue:

https://github.com/ceph/ceph-csi/blob/b95f3cdcbc1d3659afd48551e96744fd988db6bd/internal/rbd/nodeserver.go#L341-L359

On line 341 a `transaction` is created. This is passed to the deferred `undoStagingTransaction()` function when an error in the `NodeStageVolume` procedure is detected. So far, so good.

However, on line 356 a new `transaction` is returned. This n

[2021-11-03 13:19] pkalever commented on #2610
@nixpanic yes make sense. Thanks!

[2021-11-03 13:20] jeremiepradet commented on #2614
Thank for your reply.
I'm looking your solution.

[2021-11-03 15:32] jeremiepradet commented on #2614
The driver works better why good files version
So I used files in https://github.com/ceph/ceph-csi/tree/v3.4.0/deploy/rbd/kubernetes

Thank for your quick answer.

[2021-11-03 15:32] #2614 closed, assigned to nobody

[2021-11-05 15:08] leon-andria opened #2620 "Using Ceph with k3s installed with k3d"
When I'm installing Ceph on a freshly k3d/k3s setup, I got the following plugins in errors/
![image](https://user-images.githubusercontent.com/1230744/140531692-1832bd66-9dd7-4300-98d6-1b23940053e9.png)
And the error message is below:
`Warning  Failed     20s                kubelet            Error: failed to generate container "11384884d35d441f08068cf5f9b5e9ba91b67d246aa5c030d2528c4a19f40882" spe

[2021-11-08 07:34] Madhu-1 commented on #2610
I1102 11:37:40.637250   36472 cephcmds.go:62] ID: 7 Req-ID: 0001-0024-b4d40a47-9d3e-42ee-99ab-1b5764ee9852-0000000000000001-3d0a566e-3bd1-11ec-bd33-12dafb77c108 command succeeded: rbd [unmap /dev/nbd0 --device-type nbd]
E1102 11:37:40.637440   36472 utils.go:186] ID: 7 Req-ID: 0001-0024-b4d40a47-9d3e-42ee-99ab-1b5764ee9852-0000000000000001-3d0a566e-3bd1-11ec-bd33-12dafb77c108 GRPC error: rpc error

[2021-11-08 07:47] pkalever commented on #2610
We are hitting this even with #2618 as mentioned in PR comments. Not sure why cryptsetup format device is failing, which was not the case before?

[code]

Any behavioural code changes with `LuksFormat` recently?

[2021-11-08 08:10] Madhu-1 commented on #2610
I don't think so. sent https://github.com/ceph/ceph-csi/pull/2621 to log stderror for better logging.

[2021-11-08 09:43] Madhu-1 commented on #2620
looks to be a generic issue can you please check https://github.com/rancher/k3d/issues/206 https://kubernetes-csi.github.io/docs/troubleshooting.html#node-plugin-pod-does-not-start-with-runcontainererror-status?

[2021-11-08 10:40] Madhu-1 commented on #2616
the target making the volume healer framework usable for both rbd and cephfs. I assume that should solve the issue with fuse reattach+healing. @pkalever wdyt?

[2021-11-08 11:04] Madhu-1 commented on #2049
Make sure you change the ReclaimPolicy to Retain before deleting it :+1:

[2021-11-08 11:10] pkalever commented on #2616
Right! However, IMO in order to use the same, at first the core ceph-fuse tool should support reattach/reconnect functionality, which might be the major missing piece here.

[2021-11-10 09:38] humblec commented on #2003
[Update]

Finally after many discussions and experiments, https://github.com/kubernetes-csi/csi-lib-iscsi/pull/29 is merged.  this should give us decent stable platform to continue on the iscsi driver. Will refresh and update the progress here :+1:

[2021-11-10 13:55] yati1998 opened #2632 "Provisioner and Nodeplugin pods fails to come up"
# Describe the bug #

On creating the rook-ceph cluster using the deploy script, the provisioner and nodeplugin pods don't come up.

Steps to reproduce the behavior:
1. Run `./scripts/minikube.sh deploy-rook`
2. check if all the pods are up `kubectl get pods -nrook-ceph`

# Actual results #
[code]
The provisioner and Nodeplugin pods don't come up.

# Expected behavior #

All the pods including the

[2021-11-11 07:34] nixpanic commented on #2632
This is intentional see commit f9c369918c for details.

[2021-11-11 07:36] Madhu-1 commented on #2632
Yes as we are deploying cephcsi as standalone we don't need rook to deploy csi pods.

[2021-11-12 00:46] ikogan commented on #2238
This issue is still relevant, just waiting on work on the kubelet side. If folks thinks we should close the one here, that's fine by me.

[2021-11-12 07:36] #2632 closed, assigned to nobody

[2021-11-15 08:53] humblec opened #2637 "Support Subvolume{Group} pinning in ceph csi"
# Describe the feature you'd like to have #

Subvolumes and subvolume groups can be automatically pinned to ranks according
to policies. This can help distribute load across MDS ranks in predictable and
stable ways.

Pinning is configured by::
`
  $ ceph fs subvolumegroup pin <vol_name> <group_name> <pin_type> <pin_setting>
`
or for subvolumes::
`
  $ ceph fs subvolume pin <vol_name> <group_name>

[2021-11-15 15:33] phlogistonjohn commented on #2637
Hi, @humblec I am assuming you'd prefer to access this via the api rather than cli if possible. Would you like me to file an issue in go-ceph for API calls for these or would you prefer to do it?

[2021-11-15 15:34] humblec commented on #2637
Hi @phlogistonjohn yeah, indeed its good to have the api support and keep away from cli.

Anything works for me , please let me know if you are filing it.

[2021-11-15 15:39] phlogistonjohn commented on #2637
Done. ceph/go-ceph#611  :-)

[2021-11-15 20:05] nabokihms commented on #1881
Hello, folks. We faced the same problem debugging the rbd plugin. Executing the rbd command from the provisioner pod with the given credentials had worked, but we were still seeing the "already exists" error in the CSI provisioner logs.

Frankly, we did not manage to reach the real cause of the issue, because suddenly the provisioner started working normally. I am writing to just bump the thread o

[2021-11-16 08:32] pkalever opened #2641 "rbd: provide a way to supply mounter specific mapOptions from sc"
# Describe the feature you'd like to have #

Use the below schema to supply mounter specific map/unmapOptions to the nodeplugin based on the discussion we all had at https://github.com/ceph/ceph-csi/pull/2636

This should specifically be really helpful with the `tryOthermonters` set to true, i.e with fallback mechanism settings turned ON.

[code]

- By omitting `krbd:` or `nbd:`, the option(s) app

[2021-11-16 10:12] #2610 closed, assigned to pkalever

[2021-11-17 11:39] humblec commented on #2356
[Status update]

I have been looking into this ( obviously based on other priorities ) and have made some progress:

- [x] Defaulting to FSGROUP Change Policy to NONE for CephFS driver is one thing which have done already, which actually make sense for our current model or for volumes which are already provisioned by our dirver so far.
 https://github.com/rook/rook/pull/8459/ considering its part

[2021-11-17 14:07] #2613 closed, assigned to nobody

[2021-11-17 21:06] #2561 closed, assigned to nobody

[2021-11-17 23:18] majacal commented on #2352
any update here?

[2021-11-18 07:00] Madhu-1 commented on #2352
@MatthiasHertel is it a blocker? its just a warning message and can be ignored

[2021-11-19 03:39] Madhu-1 opened #2657 "ci: rbd encryption tests are failing due to vault"
Looks like the e2e tests are broken due to vault issue

[code]

[code]

vault job is not in ready state.

[2021-11-19 05:33] humblec commented on #2596
Reopening this as the example documenation is still in todo

[2021-11-19 05:38] humblec commented on #2585
After some disussions  on this, we are going ahead with key protect API SDK for this inegration atleast in the first phase.

[2021-11-19 06:11] humblec commented on #2321
Considering this release is going to be the base for Rook 1.8 and other product releases, we have to come up with the possible dates for code freeze and release. I have started cleaning up the milestone linked issues, however appreciated if we all can help on the process.

[2021-11-19 07:02] Madhu-1 commented on #2657
@ceph/ceph-csi-contributors until this is fixed CI is broken for now. retest of any PR's won't help. please avoid retesting the  PR's

[2021-11-19 11:33] Madhu-1 commented on #2584
closing as its already supported

[2021-11-19 11:33] #2584 closed, assigned to nobody

[2021-11-22 06:17] Rakshith-R commented on #2352
https://github.com/ceph/csi-charts/pull/4 This should fix the issue

[2021-11-22 06:19] humblec commented on #2321
Cc @ceph/ceph-csi-maintainers  @ceph/ceph-csi-contributors

I would like to propose below dates for this release

Code Freeze:
[code]
Can you share your views ? once we decided we can work towards the same.

[2021-11-22 06:26] Madhu-1 commented on #2321
IMHO these are not realistic dates. below is my proposal

Dec 24- Code Freeze
Dec 30 - GA

[2021-11-22 06:32] Rakshith-R commented on #2321
I agree with madhu's proposed dates.
+ We need atleast 3 servers to be implemented (1 for fencing, 1 for each controller & node space reclaim operation), for both of  which even the spec is not completed yet.
+ There is no design doc for ibm hpcs encryption to begin with yet.

1 week for all of the above is indeed very unrealistic.

[2021-11-22 06:42] humblec commented on #2321
@Rakshith-R Please populate the "tracker issues" and set "milestones"...etc for the  release tracking soon after things are in plan ateast! , so that we can come up with reaslistic dates.. I see HPCS in the milestone but nothing on other feature you pointed out here. Also this issue or the wish list was/is empty till now and it is difficult to plan the release without that.

We can work on the pos

[2021-11-22 08:29] Raboo commented on #1818
I still wasn't able to solve the problem, I simply worked around it using `client.admin` like some other people here.

[2021-11-22 11:28] humblec commented on #2585
The libopenstorage client protect API update PR is in up for review https://github.com/libopenstorage/secrets/pull/58 :+1:

[2021-11-23 05:01] Rakshith-R opened #2671 "rbd: implement spec for identity discovery"
CSI-Addons Nodes and CSI-drivers need to provide a way that makes it
possible to discover supported features. The Identity Service is a
specification that allows the CSI-Addons side-car to provide basic
information about itself and the capabilities the CSI-driver implements.

More details at https://github.com/csi-addons/spec/pull/28

[2021-11-23 05:03] Rakshith-R opened #2672 "rbd: implement spec for CSI-Addons Operation ReclaimSpace"
When executing a ReclaimSpace operation the storage consumption of the
volume is tried to be reduced. The Storage Provider can implement this
by calling functions like fstrim, blkdiscard or similar on the
volume.

More details at https://github.com/csi-addons/spec/pull/30

[code]

[2021-11-23 05:23] humblec opened #2673 "Add performance test suite to the e2e"
# Describe the feature you'd like to have #
Considering there are possibilities of regression introduction in performance side of the driver, it is good to have some bench marking for our E2E..  There are few options available as mentioned below which has been in use. One of the widely used operator is RIPSAW

Ripsaw (https://github.com/cloud-bulldozer/benchmark-operator) is a benchmark operator f

[2021-11-23 06:29] Madhu-1 commented on #2352
This is fixed. Closing this one. @MatthiasHertel please give a try and let us know if its not working as expected

[2021-11-23 06:29] #2352 closed, assigned to Rakshith-R

[2021-11-23 08:54] #2641 closed, assigned to pkalever

[2021-11-23 09:45] Madhu-1 opened #2675 "rbd: removed a workaround to fix rbd snapshot scheduling"
Removed to code workaround introduced in https://github.com/ceph/ceph-csi/pull/2656 to workaround the rbd snapshot scheduling bug.  once the rbd fixes the issue we will remove this in cephcsi

PR needs to be reverted back

- [ ] #2656
- [ ] #2669
- [ ] #2694

[2021-11-23 10:17] majacal commented on #2352
@Madhu-1

thx all is fine - it is working as expected.
issue is solved for me

[2021-11-23 13:13] #2262 closed, assigned to pkalever

[2021-11-23 14:29] humblec commented on #2357
Reopening as the feature PR is under review

[2021-11-23 15:20] humblec opened #2677 "e2e test failure on ROX FS mode PVC test via rbd-nbd mounter"
# Describe the bug #

[code]

[2021-11-23 15:22] humpalu opened #2678 "csi-rbdplugin "supported_features: no such file or directory" error."
# Describe the bug #

I get the following error message from the "csi-rbdplugin" container in all "ceph-csi-rbd-nodeplugin" pods.

[code]

# Environment details #

- Image/version of Ceph CSI driver :  Canary and Git version: b2099eb3b1a46ed326ded1aa5b2601a418726d91
- Helm chart version :  ceph-csi-rbd-3.4.0
- Kernel version :
- Mounter used for mounting PVC (for cephFS its `fuse` or `kernel`. for

[2021-11-23 15:47] Madhu-1 commented on #2678
@pkalever PTAL

[2021-11-23 18:22] humpalu commented on #2678
If my idea is correct, the /sys/bus/rbd/supported_features file should be installed from package.
I checked , none of my worker node has that file.
So the file is installed from package or generated by ceph client?

[2021-11-24 04:06] #2677 closed, assigned to nobody

[2021-11-24 07:41] nixpanic commented on #2678
The `/sys/bus/rbd/supported_features` files should get automatically created when the `rbd` kernel module is loaded. Can you confirm the module is loaded on the worker nodes? If it is not loaded yet, can you manually load it and verify that the file exists and the pod start again?

There might be an issue in the order or detecting the file, and loading the kernel module for some reason. We would n

[2021-11-24 07:48] nixpanic commented on #2673
I think [Ripsaw](https://github.com/cloud-bulldozer/benchmark-operator) is commonly used for storage performance testing, and other Red Hat colleagues use that regularly.

How do you want to include this in the e2e framework, though? I would recommend to run a job like this on weekly basis, against a multi-node deployment. You can create a job and pipeline for that in the `ci/centos` branch.

[2021-11-24 08:08] humblec commented on #2673
Cc @mykaul for his thoughts as he requested this in first place :)

[2021-11-24 08:29] humblec commented on #2673
Yeah.. it looks like out of the options, this is better .

I do agree on above thought @nixpanic , may be nightly is an overhead, considering the load we have on our CI and also while comparing the waittime of e2e tests . Multi node deployment does make more sense for per benchmarks Not sure we will get ( or have the) the resource required for running perf tests. If we can pull that, I think multi

[2021-11-24 09:01] humpalu commented on #2678
I can confirm, the kernel module is loaded on the host system
[code]
[code]

[2021-11-24 16:15] nixpanic commented on #2678
Maybe the `/sys/bus/rbd/supported_features` was added in a more recent kernel version? You seem to be on Linux 4.4.0, which is relatively old.

@pkalever can you update the check for features with some sensible defaults for when the `supported_features` file is missing?

[2021-11-25 05:30] k0ste commented on #2513
reopen

[2021-11-25 07:45] xujianhai666 commented on #2570
@byjos did u finish the problem

[2021-11-25 21:06] #2576 closed, assigned to nobody

[2021-11-26 06:49] pkalever commented on #2204
@nixpanic @Madhu-1 @humblec can we please take a call on this?

[2021-11-26 14:01] kotreshhr commented on #2506
@husseinharake `ceph fs subvolume authorize` command[1] should work for you. It restricts the particular user to particular subvolume.

[1] https://docs.ceph.com/en/latest/cephfs/fs-volumes/

[2021-11-26 15:11] leseb commented on #2295
@alexcern Can you explain again why is `/etc/selinux` the key to enable the correct detection of selinux being enabled? Quickly glancing at https://github.com/util-linux/util-linux/blob/17fc869/libmount/src/context_mount.c#L291 and further, it looks like most the detection depends on this mountpoint to be present `/sys/fs/selinux` in `is_selinux_enabled`. So I'm a bit confused and would like to un

[2021-11-26 15:29] alexcern commented on #2295
Hi @leseb

Looks like `is_selinux_enabled` internally does some access check on `/etc/selinux/config`:

https://github.com/SELinuxProject/selinux/blob/d155b410d4bbc90d28f361b966f0429598da8188/libselinux/src/enabled.c#L19
https://github.com/SELinuxProject/selinux/blob/d155b410d4bbc90d28f361b966f0429598da8188/libselinux/src/init.c#L152
https://github.com/SELinuxProject/selinux/blob/d155b410d4bbc90d2

[2021-11-26 15:39] leseb commented on #2295
Thanks for the prompt response!

[2021-11-26 21:05] #2345 closed, assigned to humblec

[2021-11-27 15:02] husseinharake commented on #2506
Thanks @kotreshhr that is true howeve I need CSI plugin where the limitation mentioned earlier allows users to access any sub-volumes. CSI-cephfs plugin should follow the cephfs permissions: I believe the caps permissions should be something like:

"osd", "allow rw tag cephfs =/path/subvolume1".
so the k8s cluster that has access to this subvolume could access subvolume1 only.

hope that clarify t

[2021-11-28 21:05] #2588 closed, assigned to nobody

[2021-11-28 21:05] #2587 closed, assigned to humblec

[2021-11-28 21:05] #2573 closed, assigned to nobody

[2021-11-30 17:19] marco-venuti opened #2687 "Unable to restrict cephfs-csi access to single filesystem"
# Describe the bug #

I have deployed ceph-csi with helm on a k3s cluster. I can succesfully provision volumes on cephfs using a user with the following capabilities, provided [in the documentation](https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md#create-user-for-cephfs)
[code]
However, I'd like to restrict this user access to the single filesystem hosting the `pvc`s.

I have tried

[2021-11-30 18:25] mkl262 opened #2688 "Cephx - couldn't find entity name"
# Describe the bug #

On a fresh install of RKE cluster, after the installation of the ceph-csi-rbd chart, PVCs that I create using the rbd storage class arent provisiont, and the csi-provisioner throws this error:
[code]
And this error is thrown in the ceph monitor:
[code]

# Environment details #

- Image/version of Ceph CSI driver :
- Helm chart version : 3.4.0
- Kernel version : 4.15.0-162-gen

[2021-12-01 06:31] #2671 closed, assigned to nixpanic

[2021-12-01 08:31] nixpanic commented on #2687
Can you check the logs of the `csi-cephfsplugin` container in the provisioner Pod? Hopefully that shows more details about the operations that were performed, and where the failure occurs.

[2021-12-01 09:38] nixpanic commented on #2688
It seems that `client.admin` is not available for authentication... I do not know how that can happen, as you explained setting that up. Maybe go through the [capabilities documentation](https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md#rbd) again, and check the link to the Ceph authentication too?

[2021-12-01 10:12] marco-venuti commented on #2687
Here it is, but the information seems to be the same
[code]
The logs are the same for both sets of caps specified in my last message.

[2021-12-01 11:53] mkl262 commented on #2688
I have a different cluster that is also set up with the `client.admin` key, and it works perfectly.

[2021-12-01 11:55] Madhu-1 commented on #2688
@mkl262 if you do `ceph auth ls` you should details for `client.admin` if you are not seeing it then the user does not exist. you might need to create a new user and use it for cephcsi.

[2021-12-01 12:20] mkl262 commented on #2688
The user definitely exists, and it works in a different kubernetes cluster:
[code]

[2021-12-01 13:19] kotreshhr commented on #2506
@husseinharake Yeah I get it. The caps required to restrict the user to a subvolume is not sufficient for k8/csi to work as intended. I think the user also does many other things and hence those caps. @nixpanic @Madhu-1 can confirm on that. So I don't think there is a simple fix here.

[2021-12-01 14:12] #2018 closed, assigned to pkalever

[2021-12-02 09:10] HassanHashemi opened #2689 "nodeplugin fails to mount cephfs"
After installing cephfs provisioner using the helm chart, provisioning pvc works find (bound). however when trying to mount to any pod, `node plugin` throws following error:

`
kubectl logs ceph-ceph-csi-cephfs-nodeplugin-mvknw -c csi-cephfsplugin
`
`
ID: 4 Req-ID: 0001-0024-80dd2394-3fc6-11ec-bee9-525400dd3d2f-0000000000000002-50aa31f1-5349-11ec-8ff4-eacdf7
da1b34 failed to change stagingtarget p

[2021-12-02 21:06] #2600 closed, assigned to nobody

[2021-12-02 21:06] #2597 closed, assigned to nobody

[2021-12-02 21:06] #2579 closed, assigned to nixpanic, humblec

[2021-12-02 21:13] bbatha commented on #2579
Not stale please don't close

[2021-12-05 07:00] HassanHashemi commented on #2689
for any one having this issue, you need to have permissions on the `mds` root for the chart to work, I previously had the `rw` permission on a subdirectory.
eg: `/app`
before: `caps: [mds] allow r, allow rw path=/app`
corrected: `caps: [mds] allow rw`

It would have been nice to be able to specify sub directory but it seems to me that there is no field in the chart that sets it.

[2021-12-05 07:00] #2689 closed, assigned to nobody

[2021-12-06 08:59] leseb commented on #2519
How about using an init container to chown the directory first and then run under the `167` UID?

[2021-12-06 11:44] pkalever commented on #667
@humblec how can we move forward with this? do we have a plan?

* Attacher dependency
I guess we discussed this before and this cannot be avoided at the moment.

* CSI leak
As @nixpanic already mentioned, this is not just with the healer, but also with many other things.

cc: @Madhu-1

[2021-12-06 12:45] mykaul commented on #667
@pkalever - do we have some performance comparison numbers between the two implementations?

[2021-12-07 05:19] liuminjian opened #2693 "rbd: cannot take a incremental backup"
# Describe the bug #

i take a few snapshots by creating some volumesnapshot crd.  i want to take a incremental backup in the ceph-csi container, but the snapshot cannot be found. this makes me very confused.
![image](https://user-images.githubusercontent.com/7840869/144970613-6f9cbf45-fcdd-4327-9bf8-213a71c63051.png)

# Environment details #

- Image/version of Ceph CSI driver : v3.4.0-canary
- H

[2021-12-07 07:38] #2513 closed, assigned to nobody

[2021-12-07 07:39] Madhu-1 opened #2695 "add e2e for new image features"
add E2E for the image features added in https://github.com/ceph/ceph-csi/pull/2514

[2021-12-07 07:45] liuminjian commented on #2693
i find the reason. when calling create a snapshot, a snapshot clone will be created and the snapshot will be deleted at the end. but i don't know why.
![image](https://user-images.githubusercontent.com/7840869/144987593-83bb4e45-5d13-4987-a417-f241c38669ca.png)

[2021-12-07 07:46] pkalever commented on #667
@mykaul sorry nope! I will plan to work on this and make sure to link here.

[2021-12-07 07:52] Madhu-1 commented on #2693
its internal implementation we delete the snapshot (moved to trash) once we take the clone. can you take the diff of the rbd image created when you create the Kubernetes volumesnapshot?

[2021-12-07 07:59] Madhu-1 commented on #667
are we still continuing on removing attacher?

Moving the Kubernetes logic to a new sidecar will hide the implementation from the cephcsi.

[2021-12-07 08:12] humblec commented on #667
@pkalever sure,  let me update with the process which I am thinking of.

[2021-12-07 08:15] liuminjian commented on #2693
What does it mean？ I want to add features such as rbd export-diff in the container，so i need the snapshot

[2021-12-07 08:18] Madhu-1 commented on #2693
the snapshots will be deleted after taking the clone and it won't be required for cephcsi for any other operations.

[2021-12-08 13:51] Madhu-1 opened #2698 "update kubernetes dependency to v1.23.0"
kubernetes 1.23.0 is released https://github.com/kubernetes/kubernetes/releases/tag/v1.23.0 this is to track required changes in cephcsi

- [x] go dependency updates
- [x] golang update to 1.17.x
- [x] E2E script update to run tests with kube 1.23.0
- [x] Drop older version of kuberetes from centos ci
- [x] Update mergify rules for kube 1.23

[2021-12-09 12:30] #2695 closed, assigned to Madhu-1

[2021-12-09 15:16] laptimus commented on #1563
@Madhu-1 @jtlayton - What is the bug number for this issue on tracker.ceph.com

thanks

[2021-12-10 07:30] Madhu-1 opened #2707 "install ARCH dependent golang version in dockerfiles"
currently, in https://github.com/ceph/ceph-csi/blob/devel/scripts/Dockerfile.devel#L15 we are installing the amd64 golang which will not work for other arches. this issue is to install a platform-specific golang version

[2021-12-10 07:47] Madhu-1 commented on #1563
https://tracker.ceph.com/issues/46690 is the one, lets get confirmation from Jeff.

[2021-12-10 15:43] Masber opened #2708 "metadata corruption after changing folder permissions"
# Describe the bug #

running `chmod -R 0600 /mnt/my/folder` corrupts all metadata under /mnt/my/folder

# Environment details #

- Image/version of Ceph CSI driver : 3.4.0
- Helm chart version : 3.4.0
- Kernel version : SUSE 4.12.14-197.78
- Mounter used for mounting PVC (for cephFS its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) : fuse and krbd
- Kubernetes cluster version : v1.18.0
-

[2021-12-13 06:48] humblec commented on #667
@pkalever one of the solution we can think of here is , getting the NBD share information on a metafile on the host at time of attach/mount and then consume that while there is a restart of the driver plugin. This way, we dont have to depend on the va objects or other hacks.. Being it on the host FS, it will be persistent across the driver restarts .. This is the same thought shared by Jan in the

[2021-12-13 07:32] #2698 closed, assigned to nobody

[2021-12-13 11:09] kotreshhr commented on #2506
@husseinharake Could you try with the following caps for `client.manuel` (`node`) and let the `provisioner` caps match the default as in https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md#cephfs . I think this should serve your purpose.

[code]

[2021-12-14 08:42] Madhu-1 commented on #2238
@ikogan even am more inclined towards closing this one as nothing can be done at cephcsi for this one.

[2021-12-14 08:42] #2238 closed, assigned to Madhu-1

[2021-12-14 10:10] Rakshith-R opened #2710 "Add grpc logging to csi-addons server"
Currently csidriver default server has very useful format of logging grpc req,

https://github.com/ceph/ceph-csi/blob/b1a3b027415815d4840ec52220a325411a69a9ed/internal/csi-common/server.go#L107-L115

The util functions for this can be found here
https://github.com/ceph/ceph-csi/blob/b1a3b027415815d4840ec52220a325411a69a9ed/internal/csi-common/utils.go#L156-L298

This should be exportable for use w

[2021-12-14 10:42] Madhu-1 commented on #2710
You also need to make sure that you don't log the secrets when logging the complete request.

[2021-12-14 11:42] pascalhobus opened #2712 "Persisten Volume Claim (PVC) stuck in status pending"
# Describe the bug #

Following this [guide](https://docs.ceph.com/en/pacific/rbd/rbd-kubernetes/), the PVC I want to create gets stuck at status `Pending`. with the following detail message `Aborted desc = an operation with the given Volume ID pvc-55b22d71-055e-4f23-9e61-7386e4cde6c5 already exists`. I don't know how to further debug this. One thing which I found out is, that from the **csi-rbdpl

[2021-12-14 11:51] Madhu-1 commented on #2712
@hoba84 can you please paste the configmap output which contains the clusterID and mon mapping? can you also try running commands like `ceph -s` or `rbd ls -p mycluster-hdd` from csi-rbdplugin container of the provisioner pod?

**Note-** you need to pass `monitor, user, key` parameters when executing the above ceph/rbd commands in the rbd-plugin container.

[2021-12-14 12:06] pascalhobus commented on #2712
Hi @Madhu-1, these are the two config maps for `ceph-config` and `ceph-csi-config`:

apiVersion: v1
data:
  ceph.conf: |
    [global]
    auth_cluster_required = cephx
    auth_service_required = cephx
    auth_client_required = cephx
  keyring: ""
kind: ConfigMap
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","data":{"ceph.conf":"[global]

[2021-12-14 12:22] humblec commented on #2321
As discussed marking below dates for 3.5 release.

Code Freeze : 31 -Dec- 2021
GA                : 04-01-2022

[2021-12-14 12:27] Madhu-1 commented on #2712
`rbd ls -p mycluster-hdd -m 10.1.30.1:6789 --user <username> --key ` the command goes like this you need to pass the user and key as per your cluster.

To check network connectivity you can run the below command in the csi-rbdplugin container
[code]

If above command does not return any value like `ceph v027���'e����'^C` it could be network issue.

[2021-12-14 12:41] pascalhobus commented on #2712
Hi @Madhu-1, the above command `rbd ls -p [...]` does not return anything in my case (it gets stuck). Also `cat < /dev/tcp/10.1.30.1/6789` does not return anything. There is no `/dev/tcp*` device listed when I do `ls -la /dev`. As the container comes from ceph-csi, what prerequisites does it need for networking?

The only speciality in my setup is, that the kubernetes nodes have multiple network i

[2021-12-14 13:34] Madhu-1 commented on #2712
@hoba84 we don't put any requirement for networking, the pre-req is that the ceph cluster should be reachable from the csi pods.

[2021-12-15 05:13] #2707 closed, assigned to nobody

[2021-12-15 11:08] humpalu opened #2713 "Helm chart cant transmit the config changes"
# Describe the bug #

The HELM variables not transmitted to the pod

# Environment details #

- Image/version of Ceph CSI driver : Canary and Git version: b2099eb
- Helm chart version : ceph-csi-rbd-3.4.0
- Kernel version :
- Mounter used for mounting PVC (for cephFS its fuse or kernel. for rbd its
krbd or rbd-nbd) : fuse
Kubernetes cluster version : v1.21.2
Ceph cluster version : 14

# Steps to r

[2021-12-15 11:14] Madhu-1 commented on #2713
@tothger can you please exec into the csi cephfsplugin container and paste the /etc/ceph/ceph.conf contents?

[2021-12-15 11:15] Madhu-1 commented on #2713
instead of v2 can you see using 6789 (v1) port helps?

[2021-12-15 13:02] humpalu commented on #2713
@Madhu-1
- It looks the /etc/ceph/ceph.conf contains the default config
[code]

- No, If I change the port to 6789 it still not working
- I still not understand, if I change the /etc/ceph/ceph.conf to the content in the csi cephfsplugin container  above the fuse-mount is working from the container. (ofc with the addition of the admin keyring)

[2021-12-15 13:45] jhrcz-ls opened #2714 "Storageclass template in helm chart (rbd and cephfs) should not have namespace defined"
# Describe the bug #

storageclass chart templates reference namespace in metadata. but storageclass is not namespaced api object.
this does not print any error when used but was found when sorting rendered objects by namespace in our gitops repo.

# Environment details #

found in helm chart template storageclass.yaml in v3.4 even in master.

# Steps to reproduce #

1. render yaml files by helm
2

[2021-12-16 09:28] Madhu-1 opened #2718 "Add check to block smaller size PVC creation from snapshot/clone"
Even though this operation is blocked from the kubernetes csi-external-provisioner. as cephcsi should be independent of CO it is good to validate the size at cephcsi. some details at https://github.com/ceph/ceph-csi/pull/2716#discussion_r770329308

[2021-12-16 09:47] pascalhobus commented on #2712
Hi @Madhu-1, I could solve the problem and indeed it was missing network connectivity inside the provisioner pod. I've resolved that by configuring with help of multus a network interface - now I was able to use the PVC. Maybe the documentation and/or logging could be improved. Thanks again for your valuable hep!

[2021-12-16 09:47] #2712 closed, assigned to nobody

[2021-12-16 10:34] pkalever commented on #667
We already discussed this before making the volume healer.
We get the pv objects from the va list and then extract the secrets from the pv object.
Since we cannot store the secrets in the metafile, this is not a good idea.

[2021-12-17 03:38] #2328 closed, assigned to Madhu-1

[2021-12-18 23:43] ikogan commented on #2238
I think it makes sense to close this if we think that it must be fixed in the kubelet. I was wondering why Ceph doesn't choose to stage a CephFS mount once on a given node rather than mounting it multiple times? That seems a bit more logical given what it is. Wouldn't that also work around this issue?

[2021-12-20 02:54] humblec commented on #2585
Unfortunately the LBS repo maintenance looks to be really slow/not progressing. We will use KP client SDK directly for this integration.

[2021-12-20 04:55] Madhu-1 opened #2719 "cephfs: inconsistent size when we create bigger PVC from a snapshot"
When i create a empty pvc (1Gib) and take a snapshot of it and restore it to a new PVC (5Gib)  everything works fine am able to see the new PVC size is actually 5 Gib

When i create a pvc (1Gib) and write some data take a snapshot of it and restore it to a new PVC (5Gib) new PVC size in backend still remains the same and this is inconsistent with the  request made by the user.

steps to reproduce

[2021-12-20 04:57] Madhu-1 commented on #2719
The issue only exists in canary image.

[2021-12-20 05:00] Madhu-1 opened #2720 "cephfs: inconsistent size when we create bigger PVC from a PVC"
When I create an empty pvc (1Gib) and create new bigger size PVC (5Gib) everything works fine. am able to see the new PVC size is actually 5 Gib

When I create a pvc (1Gib) and write some data and create a new PVC (5Gib) from it.  The new PVC size in the backend still remains the same and this is inconsistent with the request made by the user.

steps to reproduce it

* create PVC and application a

[2021-12-20 05:01] Madhu-1 commented on #2720
The issue only exists in the canary image.

[2021-12-20 05:06] Madhu-1 commented on #2509
@humblec I have added one more todo to `Remove E2E hacks and do valid migration testing with Kubernetes 1.23 as its released`

[2021-12-20 08:14] Madhu-1 opened #2721 "cephfs: inconsistent size when we create PVC from a PVC"
When a PVC clone is created from a PVC with the same size in ceph cluster 15.2.4 the size is not consistent with the PVC size rather the PVC size is of the cluster, not the subvolume

* ceph version
[code]

* create PVC and create a clone from the PVC
[code]

* check the subvolume info output on the ceph cluster
[code]

* df output of the pod using cloned PVC
[code]

Note: - the `df -h` output is

[2021-12-20 08:14] Madhu-1 commented on #2721
the issue only exists in canary image

[2021-12-20 08:19] Madhu-1 opened #2722 "cephfs: inconsistent size when we create PVC from a snapshot"
When a PVC clone is created from a snapshot with the same size in ceph cluster 15.2.4 the size is not consistent with the PVC size rather the PVC size is of the cluster, not the subvolume

* ceph version
[code]
* create a snapshot of a PVC
[code]
* restore the snapshot to a new PVC of the same size
[code]
* check subvolume info output
[code]

* check `df` output
[code]

Note: - the `df -h` output

[2021-12-20 08:47] humblec commented on #667
Not sure what I am missing here. The trigger to check or know there were existing NBD connection is the presence of metadata files, if the metafile is present fetch the NBD device details from it. The secrets are already part of the request like nodestage and its a different field altogether in the request or iow, we dont want to fetch it from the PV at all, can that be done ?  if there are some g

[2021-12-20 11:26] pkalever commented on #667
Who sends the node stage request?
If you missed it, it is the healer!

where does the healer get the secrets from?
From the VA and PV object details

Now, what do you want to store in the meta file and retrieve later?

[2021-12-20 11:30] tobias-urdin commented on #2138
@humblec any progress on that 3.4.1? fix is still unreleased for a couple of months now since only 3.4.0 is released

[2021-12-20 11:33] pkalever commented on #667
Here is the basic design doc:
https://github.com/ceph/ceph-csi/blob/devel/docs/design/proposals/rbd-volume-healer.md#volume-healer

[2021-12-20 13:29] humblec opened #2725 "Reverify all the KMS struct exports and unexport if not needed"
# Describe the bug #

At present all the KMS structs ( SecretKMS,AWSMetadataKMS...etc) where EncryptDEK(), DecryptDEK, ..etc methods are implemented are exposed. However considering all KMS structs reside in the same package (ie kms) we may not need to expose this struct,
This issue track the revalidation and once confirmed all the KMS structs can be unexported.

Ex:

[code]

Additional Ref# https

[2021-12-20 13:33] maydaycc opened #2726 "snapshot：why create a temp image and then create snapshot on the temp image？"
Current design of snapshot：
parent image ->create temp snapshot on parent image -> clone a temp image from temp snapshot -> delete temp snapshot ->create snapshot on temp image

Since increasing the clone depth will reduce the read performance, why not create a snapshot directly on the parent image？

[2021-12-20 15:41] humblec opened #2728 "perform IO on rbd-nbd volume after nodeplugin restart test fails"
# Describe the bug #
[code]

RBD NBD test fails with above error https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e-helm_k8s-1.22/runs/1471/nodes/103/steps/106/log/?start=0

[2021-12-20 15:45] humblec commented on #2728
@pkalever any idea what could cause this?

[2021-12-20 15:48] humblec commented on #2728
One more test run failure with similar message: https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e-helm_k8s-1.23/runs/58/nodes/103/steps/106/log/?start=0

[2021-12-20 15:53] nixpanic commented on #2728
Maybe the same as #2204, or at least similar?

[2021-12-20 15:57] nixpanic commented on #2726
I would expect the reason for this procedure to be documented in https://github.com/ceph/ceph-csi/blob/devel/docs/design/proposals/rbd-snap-clone.md . I don't see it immediately though :disappointed:

[2021-12-20 16:10] humblec commented on #2728
@nixpanic thanks.. I have seen this in other runs too.. looks similar to 2204 , but not able to confirm exactly same though.

[2021-12-21 04:37] Madhu-1 commented on #2566
fixed in #2598

[2021-12-21 04:37] #2566 closed, assigned to Yuggupta27

[2021-12-21 04:48] Madhu-1 commented on #2726
it was done to keep snapshots and clones independent of each other and also to flatten the temporary cloned image, not the actual image which will be mounted by application. flattening rbd images given to users will have an i/o impact. you can configure the depth of the images using https://github.com/ceph/ceph-csi/blob/cf6fdcb796471603cd87382842a652bcd81f98a9/cmd/cephcsi.go#L105-L114 if you want

[2021-12-21 04:49] #2726 closed, assigned to nobody

[2021-12-21 05:50] Madhu-1 opened #2731 "cephfs: failed to create cephfs snapshot/ PVC clone on ceph 15.2.3"
As per readme the should is support from `Octopus (>=v15.2.3)` https://github.com/ceph/ceph-csi#support-matrix but its failed with below error message when I tried to create a snapshot or pvc-clone

* ceph version
[code]
* Failed PVC clone error message

[code]

* Failed to create snapshot of pvc
[code]

[2021-12-21 07:44] humblec commented on #2728
One more : https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e-helm_k8s-1.22/runs/1489/nodes/103/steps/106/log/?start=0

[2021-12-21 08:14] humblec commented on #2731
@Madhu-1 does this command or option exist in this cluster?

[code]

[2021-12-21 08:18] Madhu-1 commented on #2731
@humblec the log clearly says it does not exist. Am not sure what you are exactly looking for. pasting the output from the cluster again for your reference

[code]

[2021-12-21 08:42] Madhu-1 commented on #1254
reopening as it still required with https://github.com/ceph/ceph-csi/pull/2730

[2021-12-21 14:15] #2719 closed, assigned to Madhu-1

[2021-12-21 14:15] #2720 closed, assigned to Madhu-1

[2021-12-21 14:15] #2721 closed, assigned to Madhu-1

[2021-12-21 14:15] #2722 closed, assigned to Madhu-1

[2021-12-22 03:35] Madhu-1 opened #2736 "rbd: no option to cancel the stuck rbd force promote operation"
Problem:-
During the failover operation, the volume replication tries image promote action to make the rbd image as primary if the promote operation fails it calls promote again with force operation. In some cases, the force promote hangs indefinitely and never returns back because we are using the go-ceph API and there is no step to cancel the ongoing operations and the only option to get out of

[2021-12-22 06:53] Rakshith-R opened #2739 "CI passes even when it actually timed out"
# Describe the bug #

CI passes even when it actually timed out
Example:
https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e-helm_k8s-1.23/detail/mini-e2e-helm_k8s-1.23/76/pipeline/99
https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.22/detail/mini-e2e_k8s-1.22/1470/pipeline/93
https://jenkins-ceph-csi.apps.ocp.ci.centos.org/b

[2021-12-22 10:32] husseinharake commented on #2506
Thanks @kotreshhr does that mean users will always be able to create volumes in any sub-volume but will be able to mount (access) the ones in the mentioned path?

[2021-12-22 13:05] Rakshith-R opened #2742 "RBD : Refractor rbdImage and rbd Volume methods"
Originally discussed at https://github.com/ceph/ceph-csi/pull/2633#issuecomment-998485684_

This issue is to continue discussions on which methods should be on rbdImage and rbdVolume structs

[2021-12-22 21:06] #2620 closed, assigned to nobody

[2021-12-23 03:47] #1566 closed

[2021-12-23 03:47] #1438 closed

[2021-12-23 05:40] kotreshhr commented on #2506
Yes, that's right.

[2021-12-23 12:28] #2731 closed, assigned to Madhu-1

[2021-12-23 17:43] #2710 closed, assigned to nobody

[2021-12-25 03:23] zm274310577 opened #2746 "如何挂载一个已有的cephfs目录"
使用ceph-deploy部署的ceph，可以创建pv来挂载cephfs的中已有的某个目录，如：
apiVersion: v1
kind: PersistentVolume
metadata:
  name: cephfs-pv
  labels:
    pv: cephfs-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  cephfs:
    monitors:
      - 192.168.1.10:6789
      - 192.168.1.11:6789
    user: admin
    path: /test/path
    secretRef:
      name: ceph-secret
    readOnly: false
  persistentVol

[2021-12-30 21:06] #1818 closed

[2021-12-31 21:06] #2673 closed, assigned to nobody

[2022-01-03 09:42] fhufenreuter commented on #2687
Hello,

we see the same errors in our Env:

- manual deploy of 3.4.0
- Kernel version: 5.13.19-1-pve
- Kubernetes Version: Major:"1", Minor:"21", GitVersion:"v1.21.6", GitCommit:"d921bc6d1810da51177fbd0ed61dc811c5228097", GitTreeState:"clean", BuildDate:"2021-10-27T17:44:26Z", GoVersion:"go1.16.9"
- Ceph Cluster version: 16.2.6

[2022-01-03 13:34] husseinharake commented on #2506
Is it possible to block users from creating volumes outside the allowed sub-directory (mentioned path)?

[2022-01-03 21:06] #2570 closed, assigned to nobody

[2022-01-04 07:23] nixpanic commented on #2746
Sorry, not a lot of (if any) regular contributors will be able to read your language. Could you please elaborate it a little more, preferably in English? If you are reporting a problem, please include log messages from the start of the operation until the error happens.

[2022-01-04 07:26] nixpanic commented on #2739
It seems that these logs do not exist anymore. @Rakshith-R, could you please alert someone with admin permissions in Jenkins when you notice this again? Admins can mark CI job runs with _keep forever_ , so that the logs do not get cleared out.

[2022-01-04 08:12] Madhu-1 commented on #2506
The ceph auth isolation should be provided at the subvolumegroup level to achieve the multi-tenancy. if we do that we don't need to worry about the static provisioning etc. @kotreshhr what do you think?

the steps should be as follows
## step 1
* create a ceph fs filesystem

## step 2
* create a subvolume group inside the filesystem
* create a user to restrict access to the subvolume group
* creat

[2022-01-04 08:23] Madhu-1 commented on #2687
@marco-venuti @fhufenreuter have you tried manually creating a subvolume/subvolumegroup and rados objects with this restricted user access? you can create a rados object with the below command and check is it working

`rados create test -p <metadata-pool-name> --id=<restricted-user-name> --key=<restricted-user-key>  --namespace=csi`

[2022-01-04 08:26] Madhu-1 commented on #2678
reopening @pkalever PTAL when you get some time.

[2022-01-04 08:27] Madhu-1 commented on #2678
this should be a blocker for the release as it's tagged for 3.5.0? @ceph/ceph-csi-maintainers

[2022-01-04 08:37] humblec commented on #2542
@leseb @nixpanic anything pending on this? this is marked against the 3.5.0 release, so please revisit the state.

[2022-01-04 08:38] humblec commented on #2427
@Madhu-1 this is marked against the 3.5.0 release, so please revisit the state.

[2022-01-04 08:38] humblec commented on #2426
@Madhu-1 this is marked against the 3.5.0 release, so please revisit the state.

[2022-01-04 08:41] humblec commented on #2675
@Madhu-1 iic, this is done, isnt it ?

[2022-01-04 08:43] Madhu-1 commented on #2675
@humblec this is a tracker to remove the workaround in cephcsi. once ceph identifies the issue will remove the workaround.

[2022-01-04 08:43] humblec commented on #2186
@Rakshith-R can you please revisit the state and adjust the milestone tracker accordingly?

[2022-01-04 08:44] humblec commented on #2672
@Rakshith-R anything pending here , specifically from ceph csi repo side? please revisit the state as its marked for 3.5 release.

[2022-01-04 08:46] humblec commented on #2356
I am clearing 3.5 release milestone as this is an ongoing effort and 60% of the effort is cleared already, Rest need some more experiment.

[2022-01-04 08:48] humblec commented on #2585
This has been done and PR is merged, one small update to the internal code base about the env variable name is waiting for confirmation from other related components for consistency. As soon as its available, will clear the milestone or close this issue.

[2022-01-04 08:48] humblec commented on #2675
Thanks!

[2022-01-04 08:49] humblec commented on #1793
@Madhu-1 @Rakshith-R  looks like we have to remove the milestone tracker from this ?

[2022-01-04 08:50] humblec commented on #1619
This is not going to make it in the release 3.5, removing the milestone.

[2022-01-04 08:54] humblec commented on #2015
Removing this from the 3.5 milestone tracker.

[2022-01-04 09:31] humblec commented on #2585
https://github.com/ceph/ceph-csi/pull/2747 should address this.

[2022-01-04 09:53] humblec commented on #2678
Considering this kernel is in use, it looks like we have to consider this as a blocker.
@pkalever can you please take a look at this ? and may be a workaround  ?

[2022-01-04 12:20] Rakshith-R commented on #2672
I think it's done, but I'll let @nixpanic confirm there's nothing left.

[2022-01-04 12:30] marco-venuti commented on #2687
With
[code]
subvolume(group) creation succeds, but it actually succeds even for filesystems other than `KubeVolumes`. Deletion also succeds.

Object creation instead fails on the metadata pool, but succeds on data pool:
[code]

[2022-01-04 12:34] Madhu-1 commented on #2687
cephcsi needs access to create the objects in the cephfs metadata pool (to store some informations in the rados objects) without that PVC creation fails.

[2022-01-04 14:23] marco-venuti commented on #2687
Ok, the following seems to be working indeed
[code]
However, I have not tried letting cephcsi create the subvolumegroup, since that had already been done in my cluster with the `allow rw tag cephfs *=*` privileges. But I tested with `ceph fs --id=kubernetes subvolumegroup create ...` and that still works with these privileges (for all filesystems).

If you think this is a clean and useful solution

[2022-01-05 09:00] humblec commented on #2585
Removing from the release tracker, however keeping this issue open.

[2022-01-05 09:06] humblec commented on #2321
Looks like most of the PRs tracked for 3.5 release has been merged. A couple of them ( ex: fencing) is yet to be merged though.

@ceph/ceph-csi-maintainers are we good to wrap this release may be tomorrow ?

Otherwise we have to postpone it a week more and catch up with rook 1.8.3 . wdyt?

[2022-01-05 15:57] nixpanic commented on #2542
Not all deployment artifacts are available through the API yet. This is not a blocker for 3.5.0.

[2022-01-05 15:59] nixpanic commented on #2672
The functionality is available, and tested manually. There is no automated e2e verification yet, so this issue has not been closed either.

[2022-01-06 05:22] Rakshith-R commented on #2739
Another occurence @nixpanic  @Madhu-1 , can we mark CI job runs with keep forever please?
https://github.com/ceph/ceph-csi/pull/2359

https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e-helm_k8s-1.21/detail/mini-e2e-helm_k8s-1.21/2301/pipeline/99

[2022-01-06 05:42] Madhu-1 commented on #2739
I don't know the exact steps to keep single job logs forever. I will let @nixpanic take care of it.

[2022-01-06 08:28] nixpanic commented on #2739
On Wed, Jan 05, 2022 at 09:43:05PM -0800, Madhu Rajanna wrote:

0. open the failed job
1. login on Jenkins
2. click the [->] button (go to classic) in the upper right corner
3. click th [Keep this build forever] button on the right side

This is done now, thanks!

[2022-01-06 12:28] #2186 closed, assigned to Rakshith-R

[2022-01-06 13:08] nixpanic opened #2751 "e2e: add validation for CSI-Addons ReclaimSpace operations"
The functionality is available, and tested manually. There is no automated e2e verification yet, so this issue has not been closed either.

_Originally posted by @nixpanic in https://github.com/ceph/ceph-csi/issues/2672#issuecomment-1005852894_

[2022-01-06 13:08] #2672 closed, assigned to nixpanic

[2022-01-06 13:11] nixpanic commented on #2678
As this is also a bug in 3.4.0, we do not need to block releasing 3.5.0 for this. A bugfix can get backported to a minor release later.

[2022-01-06 13:12] humblec commented on #2321
As discussed, we will try to wrap this release in a couple of days time. May be early next week .

[2022-01-07 05:10] Madhu-1 commented on #2678
@nixpanic this code is present only in devel branch https://github.com/ceph/ceph-csi/blob/devel/internal/rbd/rbd_util.go#L229-L254 not in 3.4

[2022-01-07 05:36] Madhu-1 commented on #2238
As the stagingPaths are different as per the CSI standard we need to make sure the volume is mounted to the given staging path. if it was a single stagingPath we don't have any problem.

[2022-01-07 12:55] nixpanic commented on #2678
Hmm, in that case it would be good to have a fix in 3.5.0, or some note about a minimal kernel version (for the rbd module).

This was reported against `ceph-csi-rbd-3.4.0`, so I assumed it is included in 3.4.0 as well :man_shrugging:

[2022-01-07 21:06] #2688 closed, assigned to nobody

[2022-01-10 06:12] Madhu-1 commented on #2708
[code]

@Masber i tried above reproducer nothing is failing for me.

[2022-01-10 12:13] Madhu-1 opened #2754 "extra RBD image in E2E test for create a Block mode PVC-PVC clone and bind it to an app"
[code]
Looks like an extra image is getting created for the test case `create a Block mode PVC-PVC clone and bind it to an app`

This was caught on the PR https://github.com/ceph/ceph-csi/pull/2753 which is related to CephFS.

Logs are available at https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e-helm_k8s-1.23/runs/218/nodes/103/steps/106/log/?star

[2022-01-10 14:21] Madhu-1 commented on #2754
hit this again https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e-helm_k8s-1.22/runs/1645/nodes/111/steps/114/log/?start=0

[2022-01-10 16:20] elrondwong commented on #2746
这个issue应该可以解决你的问题 #1119
参照[cephfs-static-pvc](https://github.com/ceph/ceph-csi/blob/devel/docs/static-pvc.md#cephfs-static-pvc)

[2022-01-11 06:30] Madhu-1 commented on #2746
Closing this one. please feel free to open/update the issue with the template in English. and the above static PV is not as per the doc https://github.com/ceph/ceph-csi/blob/devel/docs/static-pvc.md#create-cephfs-static-pv.

[2022-01-11 06:30] #2746 closed, assigned to nobody

[2022-01-11 13:09] gman0 commented on #2616
@pkalever is [1] something you had in mind for the reconnect feature?

[1] https://sourceforge.net/p/fuse/mailman/fuse-devel/thread/CAJfpegvEppXZbX25Nage463biMjWPKthr%3D519PSJ61yZmTavCw%40mail.gmail.com/#msg37401044

[2022-01-12 07:02] humblec commented on #2357
Considering #2359 has merged, this can be closed! :+1:

[2022-01-12 07:02] #2357 closed, assigned to humblec

[2022-01-12 07:03] humblec commented on #2754
@Madhu-1 is this a blocker for 3.5 release ?

[2022-01-12 07:12] Madhu-1 commented on #2754
@humblec I would consider it as a blocker as it's a regression in the devel branch.

[2022-01-12 07:25] Rakshith-R commented on #2327
https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e[…]8s-1.23/runs/218/nodes/103/steps/106/log/?start=0

from #2754

image list:

[code]

stray image: `csi-vol-8afbd20e-721d-11ec-a974-52723c9f3c2f-temp`

[code]

since received error is rbd image not found, no cleanup of tmp clone  is done

The image snap was being flattened due to
[code]

cc @ceph/ceph-

[2022-01-12 08:19] Madhu-1 commented on #2754
As this is a known issue and duplicate of #2327 closing this one.

[2022-01-12 08:19] #2754 closed, assigned to nobody

[2022-01-12 10:44] #1439 closed

[2022-01-12 10:44] #1254 closed

[2022-01-12 15:34] dren-dk opened #2768 "Clone PVC in other namespaces"
# Describe the feature you'd like to have #

As far as I can tell there's no way to clone a PVC from another namespace, this would be quite handy in the situation where I'd like to clone a database from the production to the QA namespace.

It seems there are various non-standard ways of doing this by other CSI drivers, such as setting a list of allowed downstream namespaces in an annotation of the

[2022-01-12 15:36] Madhu-1 commented on #2768
@dren-dk what is the expectation from cephcsi here?

[2022-01-12 15:42] dren-dk commented on #2768
Ideally a pointer to documentation that says I'm mistaken and that there is a perfectly standard way to do what I want and that cephcsi supports it.

Secondarily I'd be happy with a non-standard cephcsi specific way to clone RBD PVCs across namespace boundaries.

[2022-01-12 15:46] Madhu-1 commented on #2768
cephcsi is not blocking any clones across kubernetes namespaces. if there are any non-standard ways of doing it, the same should work for cephcsi also.

AFAIK this is completely related to kubernetes and has nothing to do with cephcsi.

[2022-01-12 15:50] Madhu-1 commented on #2768
You can try the below steps if you want to clone in a different namespace (just one hack of doing it)

* Create a PVC in one namespace
* Create clone is the same namespace
* Edit the PV/PVC reclaim policy and change it to Retain
* Delete the PVC and PVC reference in the PV object.
* Create the PVC in the different namespace and point to the above PV object.

[2022-01-12 15:55] dren-dk commented on #2768
Hmm, yes I guess that would be a useful workaround, though it relies on a lot of sequential steps rather than a static desired state, so it's harder to implement in a gitops workflow.

I'll go and have more of a think about this, thank you for taking the time to respond.

[2022-01-12 15:59] Madhu-1 commented on #2768
Yes, it's hard but that's the one way of doing it. as nothing can be done from cephcsi for this one. please feel to reach out if you have any queries.

[2022-01-12 15:59] #2768 closed, assigned to nobody

[2022-01-12 21:25] bbatha commented on #2579
@nixpanic or @batrick I am still experiencing this issue.

[2022-01-13 18:39] husseinharake opened #2779 "host path `/var/snap/microk8s/common/var/lib/kubelet/plugins` is mapped to container `/var/lib/kubelet` as the `/var/snap/microk8s/common/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-14670fe3-b4c6-4924-8660-dcbcfdc05504/globalmount` staging path directory is not present on the container it will throw the error, if you map the directories to the same path as host path it should work."
host path `/var/snap/microk8s/common/var/lib/kubelet/plugins` is mapped to  container `/var/lib/kubelet` as the `/var/snap/microk8s/common/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-14670fe3-b4c6-4924-8660-dcbcfdc05504/globalmount` staging path directory is not present on the container it will throw the error,  if you map the directories to the same path as host path it should work.

_Origin

[2022-01-13 18:41] husseinharake commented on #2779
Hi @Madhu-1, I have a similar issue but i was unable to follow the solution mentioned.

I can create a volume and it's bound but I get this error when i try to mount the volume in a centos image.  MountVolume.MountDevice failed for volume "pvc-dd12d4dc-346f-4c7a-9126-d464fdfe122f" : rpc error: code = InvalidArgument desc = staging path /cm/local/apps/kubernetes/var/kubelet/plugins/kubernetes.io/cs

[2022-01-14 09:03] husseinharake commented on #2779
I sorted out the problem by modifying the values.yaml, our system uses a shared directory for kubelet:
/cm/local/apps/kubernetes/var/kubelet

By default the CSI stagging path is : kubeletDir: /var/lib/kubelet
so you need to modify the kubeletDir values to:
kubeletDir: /cm/local/apps/kubernetes/var/kubelet

[2022-01-14 10:01] #2779 closed, assigned to nobody

[2022-01-14 21:06] #2693 closed, assigned to nobody

[2022-01-14 22:36] dsyorkd opened #2781 "Unable to provision volume with rbd 'failed to create rbd image: RBD image not found'"
# Describe the bug #
Using the steps defined here -> https://docs.ceph.com/en/latest/rbd/rbd-kubernetes/#configure-ceph-csi-plugins
And here - https://github.com/ceph/ceph-csi/blob/release-v3.5/docs/deploy-rbd.md

PVC is hanging on - ```console failed to provision volume with StorageClass "csi-rbd-sc": rpc error: code = Internal desc = failed to create rbd image: RBD image not found```

# Environm

[2022-01-14 22:37] dsyorkd commented on #2781
# Logs
[csi-provisioner-logs.txt](https://github.com/ceph/ceph-csi/files/7873623/csi-provisioner-logs.txt)
[code]
[csi-rbdplugin-logs.txt](https://github.com/ceph/ceph-csi/files/7873625/csi-rbdplugin-logs.txt)
[code]

[2022-01-15 17:13] tareksha opened #2782 "use rbd internal image-level encryption"
# Describe the feature you'd like to have #

Starting with pacific, ceph can handle image-level encryption internally by the rbd framework:
https://docs.ceph.com/en/pacific/rbd/rbd-encryption/

ceph-go already exposes the necessary APIs:
https://pkg.go.dev/github.com/ceph/go-ceph@v0.13.0/rbd#Image.EncryptionFormat
https://pkg.go.dev/github.com/ceph/go-ceph@v0.13.0/rbd#Image.EncryptionLoad

Current

[2022-01-17 05:07] humblec opened #2786 "Helm charts not updated for release v3.5"
# Describe the bug #

The helm charts on release 3.5 is still with `canary` and not been updated to release v3.5 specific tag, this issue will be tracking the same.

[2022-01-17 05:36] Madhu-1 commented on #2781
@dsyorkd can you please provide csi-rbdplugin containers logs from the provisioner pod?

[2022-01-17 05:38] Madhu-1 commented on #2781
@dsyorkd please also provide the storageclass yaml and as you are using the rados namespace can you please make sure you have the pool with name `rancher-storage` and also the radosnamespace with name `rancher-storage`

[2022-01-17 05:43] Madhu-1 opened #2787 "update Rook to latest release"
currently, we are using the 1.6.2 version of rook https://github.com/ceph/ceph-csi/blob/devel/build.env#L46 we need changes in build.env and rook.sh to update Rook to the latest available release.

[2022-01-17 06:33] dsyorkd commented on #2781
[csi-rbdplugin.log](https://github.com/ceph/ceph-csi/files/7879433/csi-rbdplugin.log)

csi-rbd-sc

[code]

[code]
[code]
[code]

[2022-01-17 07:36] Madhu-1 commented on #2781
[code]

The above will succeed even if the radosnamespace is not present

Below are the commands to check namespace exists and how to create it.

[code]

Once you create the radosnamespace things should work fine.

[2022-01-17 07:47] dsyorkd commented on #2781
@Madhu-1 Thank you, that was it! thank you!

[2022-01-17 07:47] #2781 closed, assigned to nobody

[2022-01-17 09:55] nixpanic commented on #2264
Seems like kubernetes/minikube#11459 is reported too.

[2022-01-17 10:21] fhufenreuter commented on #2687
Following caps also work for us:
[code]
Update of the docs to make this clear would be great.

[2022-01-17 11:20] Madhu-1 commented on #2687
@marco-venuti @fhufenreuter if you can contribute we are happy to review the changes. if not let us know anyone from @ceph/contributors can take this up/

[2022-01-17 11:36] klausenbusk commented on #970
@Madhu-1 I experienced this on our cluster and it seems easy to reproduce:
[code]

It looks like the node can't recover from it (some pods stuck `Terminating` and this error):
[code]

This is with a oldish release of k8s/Rook/ceph-csi (`v1.20.9`/`v1.7.2`/`v3.4.0`).
[code]

[2022-01-17 11:37] Madhu-1 commented on #970
@klausenbusk are you using fuse mounter or the kernel mounter?

[2022-01-17 11:52] klausenbusk commented on #970
The kernel mounter (type would be `fuse.ceph` if FUSE right? and I see no `ceph-fuse` processes):
[code]

[2022-01-17 11:54] Madhu-1 commented on #970
@klausenbusk yes looks like it but can also provide CSI plugin logs and storageclass?

[2022-01-17 12:01] humblec commented on #2786
https://github.com/ceph/csi-charts/blob/master/docs/rbd/ceph-csi-rbd-3.5.0.tgz has the correct tags .

[2022-01-17 12:10] klausenbusk commented on #970
[code]
[csi-cephfsplugin.txt](https://github.com/ceph/ceph-csi/files/7882562/csi-cephfsplugin.txt), [storageclasses.txt](https://github.com/ceph/ceph-csi/files/7881712/storageclasses.txt)

[2022-01-17 14:54] klausenbusk commented on #970
I guess one way of fixing this, is returning `NodeGetVolumeStatsResponse` without `VolumeUsage` but with `VolumeCondition { Abnormal: true }` if the `mount` is "broken".

[2022-01-17 15:40] Madhu-1 commented on #970
Yes, it's possible to use VolumeCondition but someone should identify volume is abnormal and act upon fixing it (which is currently missing). @klausenbusk is it possible to reproduce it in minikube?

[2022-01-17 21:06] #2708 closed, assigned to nobody

[2022-01-18 08:50] Madhu-1 commented on #2321
closing this one as 3.5.0 is already released

[2022-01-18 08:50] #2321 closed, assigned to nobody

[2022-01-19 07:18] yati1998 opened #2792 "Include csi-addons sidecar to ceph-csi deployment."
This issue is to track the implementation of csi-addons in ceph-csi.

[2022-01-19 12:07] pkalever opened #2794 "Implement `VOLUME_CONDITION` capability"
# Describe the feature you'd like to have #

Healer Controller checks if a volume is still mounted and usable. To check whether a volume is usable, the CSI driver shall check if filesystem is corrupted, whether there are bad blocks, etc. in this RPC.

Instead of adding a new RPC, we can leverage the existing NodeGetVolumeStats RPC.

In the NodeGetVolumeStatsRequest, there are volume_id, volume_pat

[2022-01-19 13:24] Madhu-1 opened #2795 "Remove thickprovision deprecated code from devel branch"
As we have already deprecated the thick provisioning in https://github.com/ceph/ceph-csi/pull/2589 and it's already part of 3.5.0 we can plan to remove the support in 3.6.0. This issue is to track the same.

@nixpanic couple of questions
*  Is it a good time to remove this from the devel branch or should we wait?
* What are the operations we need to support for already created images
       Mounti

[2022-01-19 13:42] Madhu-1 commented on #2521
@Rakshith-R this can be closed?

[2022-01-19 13:45] Rakshith-R commented on #2521
Thanks madhu for reminding.

Yes, ceph 16.2.7 was released in December https://github.com/ceph/ceph/releases/tag/v16.2.7,  it contains the fix and in turn cephcsi v3.5.0 will have the fix for this issue.

Closing the issue for the above reason.

[2022-01-19 14:15] Madhu-1 opened #2796 "switch to quay.io to use latest ceph releases"
ceph releases are not up to date in the docker.io but they are up to date in the quay.io, As we are dependent on the base ceph image we should switch to quay.io to use the latest ceph images.

[2022-01-19 14:23] travisn commented on #2796
This affects 3.5? Could we get a 3.5.1 release to include the new base image in time for the upstream rook release tomorrow?

[2022-01-19 14:28] Madhu-1 commented on #2796
[code]
3.5.0 is still using 16.2.5, latest ceph release is 16.2.7 in quay.io https://quay.io/repository/ceph/ceph?tab=tags

[2022-01-19 14:29] Madhu-1 commented on #2796
Yes, we can do it. we need a couple of PR's to use the latest ceph image from the quay.io. @ceph/ceph-csi-maintainers any thoughts?

[2022-01-20 14:28] #2796 closed, assigned to nobody

[2022-01-20 14:48] Madhu-1 opened #2803 "Release 3.5.1 plan"
This issue is to track the 3.5.1 release which includes a couple of enhancements backported to the release-3.5 branch

backported PR's list
- [ ] https://github.com/ceph/ceph-csi/pull/2790
- [ ] https://github.com/ceph/ceph-csi/pull/2802
- [ ] https://github.com/ceph/ceph-csi/issues/2521 includes fix for parallel PVC creation issue.

Planned release date:- 21/01/2021

cc @ceph/ceph-csi-maintainers

[2022-01-20 15:31] humblec commented on #2803
@Madhu-1 is there any important fixes to be made available urgently ? I dont see in above list (only 2 are atm
cephfs: log error message if clone fails (backport #2760) #2790
build: pull ceph base image from quay.io (backport #2798) #2802))

if not, I would suggest to wait and plan it properly instead of hurrying .

[2022-01-20 15:35] humblec commented on #2794
There is already issue exist for this https://github.com/ceph/ceph-csi/issues/1356 .. lets use that.

[2022-01-20 15:39] Madhu-1 commented on #2803
@humblec  the base image is till pointing to old ceph release which is 6 months old, this will help users to switch to new base image. Rook is planning to consume this one for patch release

[2022-01-21 05:08] Madhu-1 commented on #2803
Rook 1.8.3 which is planned for today is waiting for this release, see https://github.com/rook/rook/issues/9619

[2022-01-21 05:13] humblec commented on #2803
I would suggest to plan the release properly with milestone/trackers ..etc instead of just planning it in last hour. ( Unless that much production critical issue exist with current release). Rook 1.8.3 was planned with 3.5.0 release which we have made available..  With planning we can include good number of bug fixes...etc in the same.

[2022-01-21 05:18] Madhu-1 commented on #2803
I don't see why this should be blocked, it's the mistake that is hasn't identified which is the base image for release-3.5. all cephcsi releases should use the latest ceph releases that's the reason for sticking to the major release in dockerfile. For Rook this is a greater problem as all the images are using the latest ceph image sadly cephcsi is the one that is using the old ceph image. at last

[2022-01-21 06:05] Rakshith-R commented on #2521
dockerhub did not have the latest version of ceph, base images are now being pulled from quay.io
And release v3.5.1 should have the fix for this issue.
refer https://github.com/ceph/ceph-csi/issues/2796

[2022-01-21 06:08] Madhu-1 commented on #2521
Thanks for notifying on this one

[2022-01-21 06:14] humblec commented on #2803
As mentioned since start of this thread, I was trying to suggest or sharing my opinion here, it has nothing to do with approving/blocking. IMO, last hour release without any proper planning or when we are not in a situation of some production critical issue solving with it, looks unwanted/correct thing to do. Also, if there were/are some process to be improved , definitely we have to improve and i

[2022-01-21 06:29] pkalever commented on #2803
Honestly speaking, I don't see anything wrong in rolling out 3.5.1, given we will have the ceph latest release bits which might be carrying some bug fixes and enhancements. Ceph-csi is been consumed by other repos which might be looking for the latest fixes, hence keeping our dependency bits up to date is important. We still have 3.5.2 to plan and aim out.

Also, 3.5.1 is a minor release, so let's

[2022-01-21 07:06] rocdove commented on #2592
I have the same problem. Can you describe in detail how to solve it? Thank you very much.

[2022-01-21 08:20] Madhu-1 commented on #2782
cc @nixpanic

[2022-01-21 08:58] Madhu-1 commented on #2713
@tothger i have verified in canary local helm charts its working fine. please use 3.5.0 helm charts as we don't have support for custom ceph.conf in 3.4.0 release

[code]

[2022-01-21 08:58] #2713 closed, assigned to nobody

[2022-01-21 09:00] Madhu-1 commented on #2657
fixed in #2658 closing

[2022-01-21 09:00] #2657 closed, assigned to nobody

[2022-01-21 09:02] Madhu-1 commented on #2585
@humblec what else is pending here?

[2022-01-21 09:57] pkalever commented on #2794
Here is what we can do to validate volume_condition with different volume mode persistent volumes

* FileSystem Volume Mode
1. if mounter is userspace check if its associated process is running, we can make this by reading MetaStashFile
2. if FS is writable, Attempt to write something on the target path

* Block Volume Mode
1. if mounter is userspace check if its associated process is running, we

[2022-01-21 10:37] Madhu-1 commented on #2595
#2808 should update the golangci-lint. currently below linters are disabled. we can reuse this GitHub issue to fix it

[code]

[2022-01-21 14:23] Madhu-1 commented on #2521
closed by https://github.com/ceph/ceph-csi/pull/2798

[2022-01-21 14:23] #2521 closed, assigned to nobody

[2022-01-21 17:33] Madhu-1 commented on #2803
Closing as 3.5.1 release is out.

[2022-01-21 17:33] #2803 closed, assigned to nobody

[2022-01-24 06:11] humblec commented on #2003
One great update here : Finally kubernetes-csi ISCSI driver get its first release https://github.com/kubernetes-csi/csi-driver-iscsi/releases/tag/v0.1.0 :tada:  .. one more step ahead on this effort !

[2022-01-24 06:45] Madhu-1 commented on #2786
closing this one as the charts are available.

[2022-01-24 06:45] #2786 closed, assigned to nobody

[2022-01-24 10:33] nixpanic commented on #2795
This would surely be a good time. We do not plan to improve the feature anyway.

There is some metadata attribute in the RBD-image set. This can be removed in case it exists, but it also does not hurt to keep it. I do not think we need to pass special options for mounting anymore either. The metadata attribute would just be ignored. The CSI-Addons ReclaimSpace operation ignores the attribute as we

[2022-01-25 07:21] Madhu-1 commented on #2795
Does this mean we can remove the current code in nodeplugin to map it as a normal rbd image without `notrim` option?

[2022-01-25 07:34] humblec opened #2816 "Remove "KMS_PROVIDER" registration of "kp-metadata" from IBM key protect implementaiton"
# Describe the bug #

Release 3.5 has placed the registration as "kp-metadata" which has been changed to "ibmkeyprotect" in latest updates, The old key will be deprecated with 3.5.2 and then removed with 3.6 release of ceph csi. This issue track the same.
[code]

Refer https://github.com/ceph/ceph-csi/pull/2812

[2022-01-25 07:44] Madhu-1 commented on #2816
@humblec the old key will be deprecated in the 3.5.1 release and in 3.6 it should be removed?

[2022-01-25 07:52] humblec commented on #2816
you mean deprecated in 3.5.2 and ... ?

[2022-01-25 07:53] Madhu-1 commented on #2816
Yes deprecated it in 3.5.2

[2022-01-25 07:53] humblec commented on #2816
updated it as 3.5.2 deprecation and 3.6 removal.

[2022-01-25 09:53] Madhu-1 opened #2818 "Run cephcsi upgrade with latest ceph-csi release"
Currently, we are running upgrade tests with deprecated cephcsi release (3.3.1), This is fine for the 3.4.0 release but the upgrade tests in the devel branch and 3.5.0 branch should run only with the last latest released version, not the deprecated one.

[2022-01-25 17:12] sbskas opened #2823 "Move topologyConstrainedPools to Beta status"
# Describe the feature you'd like to have #
At this time, topologyContrainedPools has been in alpha stage for 2 years with very low noise.
The feature is not documented but in the helm chart and its status might scares away lots of potential users.

# What is the value to the end user? (why is it a priority?) #
We're implementing a multi-zone cluster on on-premise bare metal. This cluster will be

[2022-01-26 10:14] sbskas commented on #2823
csi-provisionner doesn't seems to need '--feature-gate=Topology=True' anymore.
According to the log :
`csi-provisioner W0126 10:05:23.447685       1 feature_gate.go:237] Setting GA feature gate Topology=true. It will be removed in a future release.`

[2022-01-26 12:12] sbskas opened #2825 "Bugs references in values.yaml are marked as solved upstream"
https://github.com/ceph/ceph-csi/blob/f82260068940aa4d5c5fe45c8f566ec22ca38028/charts/ceph-csi-rbd/values.yaml#L430-L436

According to the two links provided in the config files, both issue have been solved.
Are those values still revelant to be set as there are workarounds for those issues ?

[2022-01-26 14:04] klausenbusk commented on #970
I tested with `minikube` and can't reproduce the issue. We will be updating our current cluster to k8s v1.22.3 or v1.23.3 (from v1.20.9) soon and I will test this scenario afterwards.

Test instructions for `minukube`:
[code]
[deploy.yaml.txt](https://github.com/ceph/ceph-csi/files/7942228/deploy.yaml.txt), [pvc.yaml.txt](https://github.com/ceph/ceph-csi/files/7942232/pvc.yaml.txt)

[2022-01-26 21:06] #2725 closed, assigned to nobody

[2022-01-27 04:18] #2787 closed, assigned to Madhu-1

[2022-01-27 04:31] humblec opened #2826 "Release 3.6.0 tracker issue"
# Describe the feature you'd like to have #

This issue tracks 3.6 release of Ceph CSI driver. Lets gather the features and plan the release.

- **Proposed release date**
- [x] Code Freeze: 30-Mar-2022
- [x] GA               : 04-Apr-2022

- **Features:**

- [x] Detect corrupted FUSE mounts and restore them  : Owner @gman0
- [ ] Cephfs: efficient read-only snapshots as volumes : Owner @gman0
- [x]

[2022-01-27 04:35] humblec commented on #2825
@Rakshith-R or @Madhu-1 I remember some discussion we had on this topic..

[2022-01-27 06:19] Madhu-1 commented on #2826
Am proposing below lits of issues that are important and moved out of a couple of releases

https://github.com/ceph/ceph-csi/issues/2059
https://github.com/ceph/ceph-csi/issues/2190
https://github.com/ceph/ceph-csi/issues/250
https://github.com/ceph/ceph-csi/issues/2015
https://github.com/ceph/ceph-csi/issues/2371
https://github.com/ceph/ceph-csi/issues/1619

[2022-01-27 06:21] humblec commented on #250
/assign @humblec

[2022-01-27 07:13] Madhu-1 commented on #2533
reopening, this is needed for better debugging in CI.

[2022-01-27 07:19] Madhu-1 commented on #2142
@gman0  would you like to track this for the 3.6.0 release?

[2022-01-27 08:49] humblec commented on #2142
I would like to propose this for release 3.6 considering there is a demand for this.. @gman0 please confirm from your end too!

[2022-01-27 09:34] gman0 commented on #2142
@Madhu-1 @humblec thanks for pinging, yes let's do it. I'm finishing last bits in go-ceph missing for RADOS bindings and we're good to go.

[2022-01-27 09:35] humblec commented on #2142
Sure @gman0 and thanks for the patience :)

[2022-01-27 11:21] humblec commented on #2825
Thanks @Rakshith-R

This should be done soon with the above PR in place @sbskas :+1:

[2022-01-27 11:43] pkalever commented on #2794
@Madhu-1 and I had an opportunity to discuss on this and the idea was to just implement this with a simple stat for now. And additionally for userspace mounters check for `ps`

Any more thoughts?

[2022-01-27 16:36] sbskas opened #2828 "Wrong dataPool referenced when creating pv with topologyconstrainedPools"
Using erasure-coded constrainedDataPools as follow:
[code]
And proper tagging of the nodes (topology.kubernetes.io/zone: zone1/2/3), deploying topology contrained pool works ok.
[code]
However, dataPool referenced in PV is set as the default data-pool.
[code]

[2022-01-27 16:38] sbskas commented on #2828
The problem seems to be here:
https://github.com/ceph/ceph-csi/blob/a553157b15e33f73b1c71b63be18f0474e757091/internal/rbd/controllerserver.go#L165-L169

It's doesn't update the volumeContext["dataPool"].

[2022-01-27 17:13] taxilian commented on #2142
I am super excited about this =] Thank you to those who are prioritizing it.

On Thu, Jan 27, 2022 at 2:36 AM Humble Devassy Chirammal <
***@***.***> wrote:

[2022-01-28 06:58] ShaPoHun opened #2829 "Ceph-fs failed to clone the volume"
# Describe the bug #
Ceph-fs failed to clone the volume

A clear and concise description of what the bug is.

[code]

[code]
[code]

[code]

# Environment details #

- Image/version of Ceph CSI driver : v3.4-canary
- Kernel version : 5.15.11 aarch64
- Mounter used for mounting PVC (for cephFS its `fuse` or `kernel`. for rbd its
  `krbd` or `rbd-nbd`) :  unknown
- Kubernetes cluster version : v1.20

[2022-01-28 08:04] Madhu-1 commented on #2829
@ShaPoHun snapshot is tested/supported from `v15.2.4` onwards in cephcsi. can you check to please https://github.com/ceph/ceph-csi#ceph-csi-features-and-available-versions

@kotreshhr any idea about the error message, @ShaPoHun can you also paste the `ceph -s` output?

[2022-01-28 08:18] ShaPoHun commented on #2829
Version support for clone  features requires `>=v15.2.4`?

`ceph -s` output:
[code]

[2022-01-28 11:17] #2795 closed, assigned to Madhu-1

[2022-01-28 21:06] #2728 closed, assigned to pkalever

[2022-01-31 09:29] Madhu-1 opened #2832 "cephfs: snapshot omap leak after deletesnapshot"
omap metadata is not cleaned up when the cephfs snapshot is deleted

affected version:- all cephcsi releases which support cephfs snapshot

## steps to reproduce
* Create cephfs snapshot and delete it

## Logs

[code]
[code]

## omap output after snapshot delete

[code]

[2022-01-31 10:38] Madhu-1 opened #2834 "e2e: add tests to validate omap objects"
Add E2E tests to validate omap data for both create and delete operations as listed below

* CreateVolume
* DeleteVolume
* CreateSnapshot
* DeleteSnapshot

[2022-01-31 10:39] Madhu-1 commented on #2829
Yes, we have tested snapshot and clone only from 15.2.4 in cephcsi CI. can you try with the same or higher versions?

[2022-01-31 10:45] Madhu-1 commented on #2828
@sbskas is it causing any functionality issue? or its just a wrong data is show in PV object?

[2022-01-31 10:52] Madhu-1 opened #2835 "Dont set complete context present in the CreateVolumeRequest in CreateVolumeResponse"
Currently, we are returning/setting the context Sent in the CreateVolumeRequest in the CreateVolumeResponse, We should set only the required context, not the complete context which might contain invalid data.

see below code https://github.com/ceph/ceph-csi/blob/28fef9b3797e41f277d11d9a3bde11e971994503/internal/cephfs/controllerserver.go#L235-L237 https://github.com/ceph/ceph-csi/blob/28fef9b3797e

[2022-01-31 11:12] Madhu-1 opened #2836 "Failed to build cephcsi image"
As we are using ceph:v16 as the base image for the cephcsi images. cephcsi builds are failing now

[code]

[2022-01-31 12:24] sbskas commented on #2828
No functionality is impacted as far as I know. Only recorded information is wrong.
I don't know about rook behaviour in case of wrong data in the pv.

[2022-01-31 12:31] Madhu-1 commented on #2828
no problem with Rook. Rook doesn't do anything with this data, its only for cephcsi

[2022-01-31 13:29] sbskas commented on #2828
So no functionnality impacted as far as I see.
PV datapool is just wrong.
You cannot rely on the information with `kubectl get pv`.
You have to fire a `rbd image info` to get the correct information.

[2022-01-31 14:09] Madhu-1 commented on #2828
Yes, I just wanted to understand is there any functional problem. as your PR is fixing the problem we can take that in.

[2022-01-31 14:13] humblec commented on #2828
Yeah, this need to be fixed. Thanks for catching it @sbskas :+1:

[2022-01-31 22:17] klausenbusk commented on #970
@Madhu-1 it looks like I messed up in my `minikube` testing (I used `storageClassName: ceph-block`). Testing again with `storageClassName: ceph-filesystem` I can reproduce the issue in both `minkube` and our own cluster (`v1.22.1`).

Same procedure as in https://github.com/ceph/ceph-csi/issues/970#issuecomment-1022227639 but with `storageClassName: ceph-filesystem` in `pvc.yaml` and waiting `sessi

[2022-02-01 06:05] humblec commented on #2794
@pkalever isnt this issue duplicate of https://github.com/ceph/ceph-csi/issues/1356 ?

[2022-02-01 06:37] pkalever commented on #2794
Nope, this is a subtask, the issue you pointed out intends to implement this for both controller and node, but this issue is only covers node cap. Thanks!

[2022-02-01 08:51] klausenbusk commented on #970
https://github.com/ceph/ceph-csi/pull/2833 implements `VOLUME_CONDITION`. Still not sure why it fails with `stat /path/to/mount permission denied` as the [`NodeUnpublishVolume` function](https://github.com/ceph/ceph-csi/blob/28fef9b3797e41f277d11d9a3bde11e971994503/internal/rbd/nodeserver.go#L818-L860) doesn't use `stat`.

[2022-02-01 08:54] Madhu-1 commented on #970
NodeUnpublish internally uses the stat https://github.com/ceph/ceph-csi/blob/28fef9b3797e41f277d11d9a3bde11e971994503/vendor/k8s.io/mount-utils/mount_linux.go#L338. I still need to look into this one currently busy with other things.

[2022-02-01 10:27] klausenbusk commented on #970
Thanks for the pointer. I don't quite get how that error would bubble up. According to [the log](https://github.com/ceph/ceph-csi/issues/970#issuecomment-1026267869) it is a internal error (`code = Internal`), so it can only come from:

https://github.com/ceph/ceph-csi/blob/00f88e58a0b08be3d7ea009a0cfde8dca23021bf/internal/rbd/nodeserver.go#L849-L851 or https://github.com/ceph/ceph-csi/blob/00f88e

[2022-02-01 10:54] klausenbusk commented on #970
My bad, looking at the wrong code :/ It must happen here:
https://github.com/ceph/ceph-csi/blob/00f88e58a0b08be3d7ea009a0cfde8dca23021bf/internal/cephfs/nodeserver.go#L294-L304

[2022-02-02 06:24] Madhu-1 commented on #2836
This is fixed now with new ceph builds. Closing this one

[2022-02-02 06:24] #2836 closed, assigned to nobody

[2022-02-02 08:22] humblec commented on #2142
:+1: , @gman0 ++ :)

[2022-02-02 08:26] humblec commented on #2823
Lets try to move this to Beta or supported state , we were tracking this effort  under this https://github.com/ceph/ceph-csi/issues/2199 and most of it has been addressed, this is one of the last pending items...  @sbskas

[2022-02-02 08:31] Madhu-1 opened #2846 "ci: create kubernetes cluster with `none` VM driver"
We are now creating a kubernetes cluster with KVM as VM driver, This will create a virtual machine with minikube.iso and install kubernetes inside the virtual machine. we have disadvantages like
* We might not able to utilize all the resources of the host machine
* We need to depend on the kernel that comes with the minikube virtual machines
   * This is blocking us from testing the features like

[2022-02-02 08:41] pkalever commented on #2846
Glad to hear we finally have a way to run some real NBD IO tests on our CI.

[2022-02-02 13:02] kishore438 opened #2848 "permission denied error even after using correct usernam and key with cephfs"
we are using cephfs csi plugin in kubernetes for pvc provisioning.

I am facing permission denied error even after providing correct usernmame/password.

below are the logs. any leads would be greatly appreciated.

I0202 11:42:30.982150       1 event.go:282] Event(v1.ObjectReference{Kind:"PersistentVolumeClaim", Namespace:"default", Name:"test-pvc-rwx", UID:"1006227d-c084-4634-af01-72a992d5d693",

[2022-02-02 13:08] Madhu-1 commented on #2848
the problem is with pvc creation not with mounting. please make sure the caps are as per the requirement https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md#cephfs

[2022-02-02 13:11] kishore438 commented on #2848
thanks for the response.

we have correct user permissions please check below

ceph:~ # ceph auth get client.csi-cephfs-node
exported keyring for client.csi-cephfs-node
[client.csi-cephfs-node]
key = AQCYT/pheeUIJBAAqfczLvmpp0wisx0+Jp+keg==
caps mds = "allow rw"
caps mgr = "allow rw"
caps mon = "allow r"
caps osd = "allow rw tag cephfs *=*"

[2022-02-02 13:15] Madhu-1 commented on #2848
it should be like below

[code]

[2022-02-02 13:17] kishore438 commented on #2848
those * are being removed when pasting the output here

`exported keyring for client.csi-cephfs-node
[client.csi-cephfs-node]
	key = AQCYT/pheeUIJBAAqfczLvmpp0wisx0+Jp+keg==
	caps mds = "allow rw"
	caps mgr = "allow rw"
	caps mon = "allow r"
	caps osd = "allow rw tag cephfs *=*"
`
please check. we are using exact permissions

[2022-02-02 13:27] Madhu-1 commented on #2848
@kishore438 what is the ceph version you are using?

[2022-02-02 13:28] kishore438 commented on #2848
@Madhu-1
ceph:~ # ceph --version
ceph version 15.2.15-83-gf72054fa653 (f72054fa65354688da034079d54554bf34373d94) octopus (stable)

[2022-02-02 13:30] Madhu-1 commented on #2848
i will see the above user caps has permission to create volume can you try with below caps.
[code]
 this is similar to https://github.com/ceph/ceph-csi/issues/904?

[2022-02-02 13:50] kishore438 commented on #2848
**Created client**
ceph:~ # ceph auth get-or-create client.kubernetes mon 'allow r' osd 'allow rw tag cephfs metadata=*' mgr 'allow rw'
[client.kubernetes]
	key = AQAWiPph0s2DEBAAvtJNf13IbpljRWXuChU5nw==

ceph:~ # ceph auth get client.kubernetes
exported keyring for client.kubernetes
[client.kubernetes]
	key = AQAWiPph0s2DEBAAvtJNf13IbpljRWXuChU5nw==
	caps mgr = "allow rw"
	caps mon = "allow r"
	c

[2022-02-03 05:51] Rakshith-R opened #2850 "e2e: `perform IO on rbd-nbd volume after nodeplugin restart` testcase fails with ` ps: command not found`"
# Describe the bug #

e2e test case `perform IO on rbd-nbd volume after nodeplugin restart` fails because `stdErr occurred: /bin/sh: ps: command not found`

# Environment details #

- Image/version of Ceph CSI driver : canary

# Steps to reproduce #

Steps to reproduce the behavior:
e2e test case `perform IO on rbd-nbd volume after nodeplugin restart` f

# Actual results #
The test case fails

Des

[2022-02-03 05:55] Madhu-1 commented on #2850
cc @pkalever

[2022-02-03 05:57] Madhu-1 commented on #2850
@Rakshith-R Thanks for looking into it. Maybe open a bug in ceph containers to get it installed as we need it and it was present in the previous ceph image?

[2022-02-03 06:23] Madhu-1 commented on #2848
@kishore438 i have tested this one with different ceph version (it should not matter) with below caps

[code]
[code]

This is Rook csi troubleshooting guide see this helps https://github.com/rook/rook/blob/master/Documentation/ceph-csi-troubleshooting.md

what is the cephcsi version you are using?
if you are using the latest (supported) cephcsi hope you have proper mon details in the cephcsi confi

[2022-02-03 06:28] Rakshith-R commented on #2850
Or we can add it to our Build step ?
It is certainly absent from centos stream8
[code]
cc @Madhu-1 @pkalever @ceph/ceph-csi-contributors

[2022-02-03 06:29] pkalever commented on #2850
Isn't this something that we depend on?I think `ps` is part of procps-ng package, can we fix it within container image builds?

[2022-02-03 06:29] Madhu-1 commented on #2850
we can add it but good to check if we can get it added by ceph?

[2022-02-03 06:31] pkalever commented on #2850
@Madhu-1 if we are depending on it, better we add it as we know the purpose? We don't want to get ourselves disappointed if ceph decides to remove it in the future for god sake.

[2022-02-03 06:34] Madhu-1 commented on #2850
am fine. we also need to make sure we also let the downstream build team know that we need this package :+1: this is downstream specific but am asking here so that we don't forget this one.

[2022-02-03 07:17] nixpanic commented on #2850
`ps` is only used for testing, I'll send a PR to use `pstree` instead.

[2022-02-03 07:20] pkalever commented on #2850
`pstree` is part of `psmisc` package, what guarantees that `psmisc` is available all the time?

[2022-02-03 07:22] nixpanic commented on #2850
I don't know, but it is available in the quay.io/ceph/ceph:v16 container-image. It would be better to check the rbd-nbd program without executing non-minimal commands, maybe by `readlink /proc/*/exe | grep rbd-nbd`, but in that case you will not have the arguments in the logs.

[2022-02-03 07:35] pkalever commented on #2850
`rbd-nbd list-mapped` might give some details, but again `ps` is handier. Even at debugging having `ps` is really helpful. Why not have it installed? I had sent a patch for the same sometime before, let's give it a shot.

[2022-02-03 07:37] nixpanic commented on #2826
What is the goal of this release? Can it be described as a topic in the milestone please? At the moment, I have the feeling it can called something like _improved testing and bugfixes_?

If there is a goal for the release, it makes it clearer what features can get included, and what will be moved out to the next release. There are currently 17 open issues/PRs attached to the milestone, and getting

[2022-02-03 07:40] nixpanic commented on #2850
I do not think we should install packages that are only used in CI or for debugging. Especially not in case there are alternative commands available, we should use those instead of increasing the size of the container-image.

[2022-02-03 07:42] pkalever commented on #2850
I'm fine if it is okay for everyone to not have `ps` command. RIP `ps`!

[2022-02-03 07:51] humblec commented on #2826
Sure, let me update with the goal/theme of the release , thanks for the suggestion :+1:

[2022-02-03 10:19] kishore438 commented on #2848
@Madhu-1

I see "access_mode":{"mode":7} in your logs. Does it make any difference?? How can It be updated??

[2022-02-03 10:26] Madhu-1 commented on #2848
that is the PVC type it's RWX PVC. it's not a problem.

[2022-02-03 11:02] kishore438 commented on #2848
if possible, could you share your storageclass.yaml, values.yaml, secret(with removed password) yaml files.
I would like to cross verify.

Is there any way we can troubleshoot from ceph side??
I checked all the below troubleshooting steps and it looks ok to me.
https://github.com/rook/rook/blob/master/Documentation/ceph-csi-troubleshooting.md

is there any tool  or command I can execute with usern

[2022-02-03 11:17] ghost opened #2855 "Helm option to to disable host networking (hostNetwork: false)"
# Describe the feature you'd like to have #

Currently both RBD and CephFS Helm charts have hostNetwork set to true (https://github.com/ceph/ceph-csi/blob/devel/charts/ceph-csi-rbd/templates/nodeplugin-daemonset.yaml#L30) without the option of disabling it.

Would be good to have an option of setting it in Helm values.

# What is the value to the end user? (why is it a priority?) #

As far as I ca

[2022-02-03 11:24] Rakshith-R commented on #2855
@kerossin

Both rbd and cephfs volumes will be blocked when daemonset pods are restarted when they are on pod network.

You read more about this issue here https://github.com/rook/rook/issues/8085#issuecomment-862017608

---

This sounds fine, it is greatly appreciated thanks !

[2022-02-03 13:04] ghost commented on #2855
That explains a lot. Thank you.

Ok, so I'll make a PR for just the ports addition then.

[2022-02-03 13:25] #2850 closed, assigned to nixpanic

[2022-02-03 16:03] nixpanic commented on #2846
Deploying with Rook requires additional disks for OSDs. We can probably create (sparse) images with `dd` and then use `losetup` to create the device nodes. If we're really lucky minikube supports `--extra-disks=...` and `--disk-size=..` :crossed_fingers:

[2022-02-03 22:37] kishore438 commented on #2848
Hi again,

After troubleshooting, We found that permission denied error come only from the pod. If the same command run from the host where minikube is running, the command works.

from host vm:

cephfs-test-stage:/tmp/cephrwx/cephfs/ceph-csi-extras # ceph -m 172.16.0.1:3300,172.16.0.2:3300,172.16.0.3:3300 --id csi-cephfs-node --key AQCYT/pheeUIJBAAqfczLvmpp0wisx0+Jp+keg==  fs ls --format=json

[{

[2022-02-04 00:27] sgissi opened #2858 "[chart] ConfigMap conflict between ceph-csi-rbd and ceph-csi-cephfs"
# Describe the bug #

When deploying both **ceph-csi-rbd** and **ceph-csi-cephfs** in the same namespace, there is a conflict on ConfigMap ceph-config because the resource name is hard coded:
https://github.com/ceph/ceph-csi/blob/de2489ed7d3afb1322c12ad6ec4f5cc57fe38f81/charts/ceph-csi-rbd/templates/ceph-conf.yaml#L4
https://github.com/ceph/ceph-csi/blob/de2489ed7d3afb1322c12ad6ec4f5cc57fe38f81/ch

[2022-02-04 01:15] kishore438 commented on #2848
Finally found the issue.

Ceph is dropping the authentication due to issue with insecure global_id.
I saw the below error in mon debug logs.

"attempt to reclaim global_id 155276 without presenting ticket"

To fix this either we need to update ceph clients  the versions (ex: 15.2.11) or allow insecure connections by enabling "auth_allow_insecure_global_id_reclaim" in ceph(which is not recommended)

[2022-02-04 05:36] humblec commented on #2858
@sgissi does upgrade work from 3.3.1 to 3.4.0 ?

[2022-02-04 14:32] irq0 commented on #1563
Hello!

I looked into how CephFS and FSCrypt could be integrated a bit and believe much of what is already there for RBD could be made to work for CephFS+FSCrypt as well. Biggest exception would be DEK storage.

I'd love to get started on a patch and like to hear if there is already something planned?

What I have in mind for a first version would be:

- Enable FSCrypt always on the volume root le

[2022-02-04 15:26] sgissi commented on #2858
My typo, I was running 3.4.0 already, I edited my text. The ceph-config ConfigMap was introduced on commit https://github.com/ceph/ceph-csi/commit/d22e7a1bdb01da31633147f5c920879d8a590d5e which was released on 3.5.0.

Would a patch introducing "externallyManagedCephConfigMap" and "cephConfigMapName" be acceptable?

[2022-02-04 15:35] humblec commented on #1563
@irq0 That would be awesome :+1: , please give a try, we can also target this feature's first version in release 3.6. :+1:

Do you mean, subvolume or subvolumegroup in this context ?

That looks reasonable.

I would prefer `fscrypt` library than cli though or was exploring on that more than CLI.

Yep.

Also, please feel free to have a design doc along with first POC implementation, that helps.

Pl

[2022-02-04 15:42] #2825 closed, assigned to Rakshith-R

[2022-02-04 20:19] msfrucht opened #2863 "Ceph-csi-rbd snapshot creationtime showing as invalid in kubectl get volumesnapshot commands"
# Describe the bug #

After performing a snapshot of ceph-csi-rbd volumes using ceph-csi 3.5 any "kubectl get volumesnapshot" command shows the creationtime column as "\<invalid\>". The snapshot appears to be successfully taken.

# Environment details #

- Image/version of Ceph CSI driver : ceph-csi-rbd 3.5.1
- Helm chart version : 3.5.1
- Kernel version : 4.18.0-348.7.1.el8_5.x86_64
- Mounter use

[2022-02-07 11:41] Rakshith-R commented on #2190
@Yuggupta27 , I was planning to work on this.
If you did understand the issue and the fix discussed above in the comments, then its fine
else let me know, I can continue and send a pr for this soon.

[2022-02-07 12:31] #2848 closed, assigned to nobody

[2022-02-08 09:34] humblec commented on #2826
@ceph/ceph-csi-contributors any features you want to propose for Release 3.6 ?

[2022-02-08 09:39] humblec commented on #2823
@sbskas would you be able to help us to move this feature to BETA in next/upcoming release ? What that basically means is that, more testing , adding tests if its missing and also updating the documentation ? please let us know .. Really appreciate if we can lift the support to BETA in next release. we welcome contributions.

[2022-02-08 09:40] humblec commented on #2826
Cc @gman0 @irq0

[2022-02-08 15:12] gman0 commented on #2826
@humblec maybe we could do "best effort" on https://github.com/ceph/ceph-csi/issues/2142 as well? I'm two PRs away to finish the work for go-ceph (already pushed and the folks there reviewing diligently) -- seems like go-ceph v0.14.0 will be out right after, so this might be doable.

[2022-02-08 18:27] #2816 closed, assigned to nobody

[2022-02-08 20:37] #2832 closed, assigned to Madhu-1

[2022-02-09 05:00] humblec commented on #2826
Sure @gman0 , That will be a great addition to the project!

Added to the features list :+1:

[2022-02-09 07:02] pkalever commented on #2678
@Madhu-1 @nixpanic

Sorry guys! looks like this went into some spam email box or somehow I ignored on this email thread notification may be based on the title. Anyways I will look into this now.

I see the `/sys/bus/rbd/supported_features` is part of `linux kernel v4.11.0`

[code]

So, What route do we want to take here?
1. The difficulty part is that what should be the minimum sensible values?
`R

[2022-02-09 07:15] Madhu-1 commented on #2678
As we already have check for deep-flatten, I think it makes it hard to have a kernel version check as we need to maintain both upstream and downstream kernel versions. is there any alternative for this one?

If the file is missing can we continue with starting the driver? and consider this check only if someone asks for auto fallback?

This breaks things as we never enforced the kernel version fro

[2022-02-09 07:34] pkalever commented on #2678
The other alternative I can think of is,

1. If kernel version is < 4.11.0 then just assume we have `RBD_FEATURE_LAYERING`  only, if that doesn't hurt much.
2. Have a user facing flag to force bypass this feature checks assuming user checked the rbd features list on his own and is sure about the supportability of various features mentioned in the artifacts.

Need to understand where exactly we are

[2022-02-09 15:57] Madhu-1 commented on #2142
@gman0 as we are targetting this for the 3.6 release ( by end of march), I can help on this one. please let me know if you need any help to take this to completion.

[2022-02-09 16:14] gman0 commented on #2142
@Madhu-1 thanks! The last PR needed for go-ceph got merged today, and the release that contains all the new RADOS bindings, v0.14.0, is planned for next week, on the 15th. Until then I'd like to send a PR for the "reference tracker" component so that we can at least review the code. Afterwards we can start working on the code for controller and node services -- let's see if we can paralelize some

[2022-02-09 16:16] Madhu-1 commented on #2142
@gman0 Thanks for the quick response, sounds good. i think we can parallelize controller and node services (correct me if am wrong). I can help with the node service part.

[2022-02-09 17:30] #2356 closed, assigned to humblec

[2022-02-10 05:18] Madhu-1 commented on #2863
@msfrucht I don't see any errors in the snapshotter logs. can you please check you are using the same version of cs-snapshotter and the snapshot controller in the cluster?

[2022-02-10 05:27] Madhu-1 commented on #2858
@sgissi having configmap name configurable looks good.

[2022-02-10 05:29] Madhu-1 opened #2872 "add upgrade tests for helm charts"
We are testing upgrades from the kubernetes templates not for the helm charts. As we don't have any upgrade testing for the helm charts it is difficult to identify the upgrade problems. This issue is to track the upgrades tests for the helm charts for both cephfs and rbd.

[2022-02-10 05:29] Madhu-1 commented on #2872
one of the upgrade bug https://github.com/ceph/ceph-csi/issues/2858

[2022-02-10 11:44] #2828 closed, assigned to sbskas

[2022-02-10 11:57] Madhu-1 opened #2873 "common pv controller to regenerate omap data for both cephfs and rbd"
Current [PV controller](https://github.com/ceph/ceph-csi/tree/devel/internal/controller) we have in cephcsi which works only for the rbd. we need to make it generic it will work for both cephfs and rbd.

This will be useful when we add the cephfs replication and also it will be useful for updating the metadata of the volumes (how useful will be explained when we open an issue for it)

[2022-02-10 12:03] Madhu-1 commented on #2873
This needs templates changes also.

[2022-02-10 12:12] Madhu-1 commented on #2873
forgot to add we need to take care of backward compatibility for existing deployments.

[2022-02-10 12:46] pkalever opened #2874 "Maintain metadata information with RBD images"
# Describe the feature you'd like to have #

Maintain PV/PVC/NameSpace mapping with backed image within the RBD image metadata

# What is the value to the end user? (why is it a priority?) #

This helps Monitoring solutions without access to Kubernetes clusters to display the details of the PV/PVC/NameSpace in their dashboard.

# How will we know we have a good solution? (acceptance criteria) #

*

[2022-02-10 13:20] pkalever opened #2875 "Maintain metadata information with CephFS subvolume"
# Describe the feature you'd like to have #

Maintain PV/PVC/NameSpace mapping with the CephFS subvolume  metadata

# What is the value to the end user? (why is it a priority?) #

This helps Monitoring solutions without access to Kubernetes clusters to display the details of the PV/PVC/NameSpace in their dashboard.

# How will we know we have a good solution? (acceptance criteria) #

Validate meta

[2022-02-10 19:25] msfrucht commented on #2863
snapshot-controller pod yaml shows:
image: k8s.gcr.io/sig-storage/snapshot-controller:v4.2.0

csi-snapshotter in ceph-csi-rbd-provisioner pods:
 image: k8s.gcr.io/sig-storage/csi-snapshotter:v4.2.0

[2022-02-10 21:07] #2506 closed, assigned to nobody

[2022-02-11 05:22] Madhu-1 commented on #2863
@msfrucht i tested with same version am not seeing anything wrong.

[code]

can you please open an issue with `https://github.com/kubernetes-csi/external-snapshotter` and check anything wrong with snapshotter?

[2022-02-11 05:23] Madhu-1 commented on #2863
also check are there any failures in snapshot-controller pod logs.

[2022-02-11 12:32] #2714 closed, assigned to jhrcz-ls

[2022-02-11 17:12] irq0 commented on #1563
My WIP branch is here: https://github.com/irq0/ceph-csi/commits/wip/fscrypt. Needs k8s config from my dev env repo https://github.com/irq0/dev-ceph-csi-fscrypt-config plus custom kernel and MDS as the feature isn't merged yet.

It is currently more or less a PoC. The main feature, unlocking volumes, is there and stores encrypted DEKs in an xattr.
It shells out to `fscryptctl` quite a bit. I'll pol

[2022-02-11 17:49] msfrucht commented on #2863
Yes, there are failures in the snapshot-controller logs and significant number of pod restarts. We've been having off-and-on brownout issues with network connectivity the past few weeks that last fractions to several seconds at a time in waves.

`W0211 02:45:57.583344       1 reflector.go:441] github.com/kubernetes-csi/external-snapshotter/client/v4/informers/externalversions/factory.go:117: watch

[2022-02-11 17:49] #2863 closed, assigned to Madhu-1

[2022-02-11 21:06] #2596 closed, assigned to humblec

[2022-02-12 15:11] Aste88 opened #2876 "nodeplugin failed to mkdir "/etc/selinux""
# Describe the bug #
Unable to update or deploy from fresh the ceph-ccsi-cephfs plugin because on error failed to mkdir "/etc/selinux": mkdir /etc/selinux: read-only file system

# Environment details #

- Image/version of Ceph CSI driver : default for helm chart 3.5.1
- Helm chart version : 3.5.1
- Kernel version : 5.15.16
- Mounter used for mounting PVC (for cephFS its `fuse` or `kernel`. for rb

[2022-02-14 06:26] humblec commented on #2542
@nixpanic are we planning to complete or target this for Release 3.6 ?

[2022-02-14 12:03] Rakshith-R opened #2879 "RBD: Add support for AWS KMS using AWS STS and per namespace support"
# Describe the feature you'd like to have #

Add support for encryption using AWS STS & KMS.
This should be per tenant/namespace similar to vault-tenant-sa and use the same process as aws-metadata kms for encryption and decryption of DEK using customer masker key.

 Refer : https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/

https://hackmd.io/3tUu1n78RLeFD

[2022-02-14 12:11] nixpanic commented on #2542
There are many pieces under `deploy/` that are not exposed through the API yet. This is a non-urgent issue, it is unlikely to be finished before 3.6.

[2022-02-14 13:12] nixpanic commented on #2876
Hi @Aste88, is that :point_up:  something you would be willing to contribute to the project?

[2022-02-14 13:14] nixpanic commented on #2874
Is there a particular format that some monitoring application expects to be used? If there is a Ceph Dashboards that shows these kind of details already (for other cloud environments?), then Ceph-CSI should probably use the same format.

[2022-02-15 10:27] Madhu-1 commented on #2855
closing this one as we don't need to support disable host networking for now.

[2022-02-15 10:27] #2855 closed, assigned to nobody

[2022-02-15 12:14] Rakshith-R commented on #2327
Ceph tracker : https://tracker.ceph.com/issues/52810

[2022-02-15 12:29] nixpanic commented on #1619
The PR ceph/go-ceph#638 in go-ceph might be useful for this.

[2022-02-15 17:25] NewMountain commented on #1067
For anyone that finds themself here after finding this error running Microk8s and using the 1.8 Rook/Ceph Operator, here's the fix I found. Clear the raw partitions. Uninstall everything related to Rook. Open up the operator.yaml.

[code]

Apply your microk8s-operator.yaml instead of the original operator and use all other steps as before.

[2022-02-16 05:56] humblec commented on #1619
As discussed in the triage call, it would be difficult to get this done for 3.6 , so moving out of the release. We have to followup on the go ceph Log PR mentioned by Niels above and get our thoughts first then try to consume it in the csi. It is also going to be good amount of refactoring in place to get this done.

[2022-02-16 06:01] humblec commented on #2823
as discussed in triage call, we could target this for 3.6 if we have a volunteer, otherwise we will move this out of the 3.6 rleease.

[2022-02-16 06:09] humblec commented on #1563
Thanks a lot @irq0 for the revert and sharing the gist of what you have been experimenting. We got to discuss about this in 3.6 release triage call yesterday and few thoughts on how to proceed further.  It would be good to start with a design doc of this feature and get opinions/suggestions about the approaches from CSI and Ceph Team . It was also told that, we may have to wait for CephFS merge an

[2022-02-16 12:48] #2876 closed, assigned to nobody

[2022-02-16 14:09] klausenbusk commented on #970
I tried changing `util.IsMountPoint(targetPath)` to use `IsNotMountPoint` instead of `IsLikelyNotMountPoint`, but then it fails with:

[code]
Due to `filepath.EvalSymlinks(file)` in the `IsNotMountPoint` function (added in https://github.com/kubernetes/kubernetes/pull/68741):
https://github.com/ceph/ceph-csi/blob/4235178f7c53ee3e6eba8e37cb175623fc0a8cea/vendor/k8s.io/mount-utils/mount.go#L248-L252

[2022-02-16 14:11] Madhu-1 commented on #970
@klausenbusk check error of `IsNotMountPoint` and see if its permission denied error if yes continue to unmount?

[2022-02-16 14:14] Madhu-1 commented on #970
But we need to root cause why we are getting permission denied error?

[2022-02-16 14:16] klausenbusk commented on #970
I will try that.

It is due to the client getting evicted (as stated in https://github.com/ceph/ceph-csi/issues/970#issuecomment-1026690436). The relevant kernel code is [here](https://github.com/torvalds/linux/blob/26291c54e111ff6ba87a164d85d4a4e134b7315c/fs/ceph/mds_client.c#L2809-L2820).

[2022-02-16 16:07] klausenbusk commented on #970
PR opened: https://github.com/ceph/ceph-csi/pull/2884

[2022-02-16 17:58] ansiwen commented on #1619
I think we need to clarify the requirements here.

First of all, just because we are about to introduce some log interface in go-ceph doesn't mean we will produce any logs. 🥲 The main trigger for that work was, that in some cases (like orphan callbacks from ceph) there is nothing we could return an error to, so I thought it would be good to log a warning at least. But as a library go-ceph will _no

[2022-02-16 21:47] ansiwen commented on #1619
https://github.com/golang/go/issues/51223

[2022-02-17 09:10] humblec commented on #2794
SubTasks can be part of Parent Issue Tracker.. Will add to that any way.. Thanks .

[2022-02-17 11:45] lijhnihaoa opened #2887 "CSI plug-in restarts unexpectedly. How to obtain information about previously managed volumes after the restart"
The CSI plug-in restarted unexpectedly, and the volume information created before will be lost. I would like to know how to solve this problem. Or should I look at that part of the code. please let me know, thank you

[2022-02-17 11:47] #2887 closed, assigned to nobody

[2022-02-17 13:11] sbskas commented on #2823
@humblec I volonteer.

[2022-02-17 13:20] Madhu-1 commented on #2687
good to get this documented, keeping it alive

[2022-02-17 18:40] gman0 opened #2889 "e2e: docker.io: ErrImagePull "toomanyrequests""
# Describe the bug #

I can see following errors in e2e CI logs:
[code]

Docker Hub's limits:
* 100 image requests per 6 hours for anonymous usage
* 200 image requests per 6 hours for users with free Docker account

Source: https://www.docker.com/increase-rate-limits

e2e tests deploy Pods with nginx images pulled from docker.io, and ceph-csi's CI (+ maybe other projects that are using it in paral

[2022-02-18 09:39] gman0 commented on #2889
@nixpanic @Madhu-1 @humblec would quay.io be an acceptable substitute? Or something from gcr.io (it has offers `gcr.io/google-containers/alpine-with-bash:1.0` or `gcr.io/google-containers/busybox:latest`, but they are quite outdated... but maybe it's good enough for ceph-csi's `example/*.yaml`)? I found https://quay.io/repository/prometheus/busybox for example. Could we use any of these instead of

[2022-02-18 16:09] discostur opened #2890 "cephfs: Cannot run systemd-run, assuming non-systemd OS"
Hi,

i'm running cephfs via ceph-csi and on some nodes i get the following errror in the ceph-csi-cephfs-nodeplugin container:

[code]

I get this error on some nodes - on others not. Not sure what the error is related to or if it has any impact on provisioning volumes.

So my question is if the error is OK or if anything is going wrong here?

Thanks

# Environment details #

- Helm chart version

[2022-02-18 16:24] discostur opened #2891 "cephfs: an operation with the given Volume ID already exists"
Hi,

yesterday i encountered a weird behaviour in our cephfs deployment. We haven't changed anything on our ceph cluster nor on our ceph-csi deployment / k8s cluster.

Provisioning cephfs pvcs was working for weeks and suddenly it stoped working. Even existing cephfs pvcs couldn't be bound by restarting pods.

[code]

At the moment i'm not able to reproduce it.

First we restarted cephfs pods / k8

[2022-02-18 19:37] irq0 commented on #1563
Will do. Should be ready mid next week.

I'll also want to explore integration possibilities with https://github.com/google/fscrypt some more. google/fscrypt and Ceph-CSI share quite a bit functionality around key management and there is probably some merit to making them compatible somehow. (The PoC code I wrote would require Ceph-CSI key management to unlock; google/fscrypt could allow multiple

[2022-02-21 05:00] Madhu-1 commented on #2889
@gman0 this should not be a problem, these images are pre pulled from the internal registry https://github.com/ceph/ceph-csi/blob/ci/centos/mirror/images.txt#L22. If I am not mistaken never seen this issue in any CI jobs till now.

[2022-02-21 05:02] Madhu-1 commented on #2890
@discostur this should not be a problem, it's coming from the kubernetes package we use for mount operation. this is just an info log.

[2022-02-21 05:11] Madhu-1 commented on #2585
@humblec what else is pending here?

[2022-02-21 05:22] czhfe opened #2892 "cephfs mount failure permission denied"
[code]

[2022-02-21 06:41] humblec commented on #2585
Verification from cloud provider is still going on, based on the feedback I have to adjust the requirement or call it as Done.

[2022-02-21 06:42] humblec commented on #2892
@czhfe can you provide more details about the cluster and plugin versions .etc?

[2022-02-21 07:25] #2858 closed, assigned to nobody

[2022-02-21 12:49] Rakshith-R commented on #2190
https://github.com/ceph/ceph-csi/blob/9c50e255fb4f2a3cad918db2c4e5a9af1696f38a/internal/rbd/controllerserver.go#L588-L595

one more place where we are flattening the image which will be given to user for mapping.
The parent underlying  snapshot image can be flattened instead.

[2022-02-21 17:47] gman0 commented on #2142
Hi all, I have submitted the ref tracker PR in https://github.com/ceph/ceph-csi/pull/2893.

It improves on what the [design doc](https://github.com/ceph/ceph-csi/blob/devel/docs/design/proposals/cephfs-snapshot-shallow-ro-vol.md#reference-counting-for-shallow-volumes) stated in regards to when the tracking needs to happen.

The initial design has following refcounting life-cycle:
* `CreateSnapshot

[2022-02-21 17:50] tavoda opened #2894 "Mounting RBD as block device to POD end with error"
# Describe the bug #
CSI generate long volume handler which leads to error in kubernetes:
Feb 21 18:22:30 kube04 systemd[1]: Failed to generate valid unit name from path '/var/lib/kubelet/plugins/kubernetes.io/csi/volumeDevices/staging/pvc-d222a0af-9908-434a-a79f-4c23323f8acb/0001-0024-ae243d8e-a3b7-4aa8-a291-f4bd1edbb692-0000000000000005-7f9798c9-92fe-11ec-b7b8-468c46dd0c5b', ignoring mount point

[2022-02-22 02:10] czhfe commented on #2892
**Environment**:
* OS version: CentOS 7 X86
* Kernel: 5.4.172
* Ceph version: 16.2.6
* Ceph cephcsi version:v3.4.0
* Ceph csi-node-driver-registrar version: v2.2.0
* Ceph csi-attacher version: v3.2.1
* Ceph csi-resizer version: v1.2.0
* Ceph csi-provisioner version: v2.2.2
* Rook version: v1.7.7
* Kubernetes version: v1.16.15
* Storage backend status: HEALTH_OK

[2022-02-22 13:33] gman0 opened #2899 "e2e: ceph-fuse mounts getting stuck in NodeUnpublishVolume"
# Describe the bug #

I've seen numerous times cephfs-csi CI jobs that use ceph-fuse report this or similar error:

[code]

[Link to the CI run report](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e-helm_k8s-1.21/detail/mini-e2e-helm_k8s-1.21/2871/pipeline/)

[Link to the e2e job](https://github.com/ceph/ceph-csi/blob/f19ca4a473400845704762c92972a917caa8ba3a/e2

[2022-02-22 17:08] discostur commented on #2890
@Madhu-1 ok thanks - will close this ;)

[2022-02-22 17:08] #2890 closed, assigned to nobody

[2022-02-23 14:40] gman0 commented on #2889
For example here https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e-helm_k8s-1.22/detail/mini-e2e-helm_k8s-1.22/2170/pipeline

[2022-02-23 15:08] gman0 commented on #2889
It's always that deployment. I think it might be due to pull policy which is overriden by e2e...

https://github.com/ceph/ceph-csi/blob/ac6bfeb6ef5483ca48ed277d3a788b9644a6700a/e2e/pod.go#L246-L256

https://github.com/ceph/ceph-csi/blob/ac6bfeb6ef5483ca48ed277d3a788b9644a6700a/e2e/deployment.go#L57-L66

[2022-02-23 15:16] gman0 commented on #2891
krbd or rbd-nbd) : cephFS

I believe the question was meant to be whether you're using ceph-fuse or the kernel client?

[2022-02-23 16:17] discostur commented on #2891
@gman0 sorry my fault - default one is used (which should be kernel as far as i know):

our config:
[code]

[2022-02-24 06:09] Rakshith-R opened #2901 "rbd: Support Encrypted PVC clone to different storageclass"
External-provisioner now supports pvc cloning to different storageclass.

https://github.com/kubernetes-csi/external-provisioner/pull/699

This needs some fixes for encryption and validation e2e.

[2022-02-24 06:41] humblec commented on #2901
Yeah and it helps a lot to users/customers.. so good to validate/qualify

[2022-02-24 11:45] Madhu-1 commented on #2889
Yes, it could be. @gman0 can you send a fix to use notpresent pull policy?

[2022-02-24 14:38] lechugaletal opened #2903 "Unable to create RBD volume at newer version"
# Describe the bug #

Unable to create PVCs using a new storageClass. I'm trying to set up an storageClass to connect to a newer-version ceph cluster (v16.2) and i'm struggling with it. The current CSI plugin version can connect without any problem to the RBD of a ceph cluster v13.2 .

# Environment details #
- Docker 18.9.9
- K8S v1.18.15
- CSI-RBD v3.2.1
- Ceph Cluster 1: v13.2.8
- Ceph Cluster

[2022-02-24 15:38] #2889 closed, assigned to nobody

[2022-02-25 15:07] tavoda commented on #2894
I tracked problem down to systemd on host system if you try this:
[code]
It generates name which is 263 characters long and when systemd test for such file it crash with error. I found some fixes in systemd but best fix will be to generate shorter names for CSI produced volume names. Was ever somebody able to mount such volume?

You can emulate same error also on host system with following command

[2022-02-26 14:21] tavoda commented on #2894
Finally resolved it. You need new version of systemd. When you see following in your host log you are fine, this is only information message about mapping:

And for using mount command inside pod you need also privileged security context. Add to your deployment something like:

[code]

[2022-02-26 14:21] #2894 closed, assigned to nobody

[2022-02-27 21:01] #2782 closed, assigned to nobody

[2022-02-28 15:52] Bengrunt opened #2905 "helm: CephFS resizer won't deploy on non vanilla clusters such as OKD"
# Describe the bug #

Using the CSI cephfs helm chart version 3.5.1, and similarly to issue #2039, the `semverCompare` check used to decide whether the CSI CephFS resizer component is deployed won't work for non standard cluster versions. For instance, my OKD cluster runs Kubernetes `v1.22.1-1829+2cb60681522d23-dirty` and this will result in a `False` assumption by Helm, thus preventing installati

[2022-03-01 10:26] Rakshith-R opened #2910 "rbd: mapOptions `crush_location` cannot be used since it uses `:`"
# Describe the bug #

mapOptions `crush_location` cannot be used since it uses `:` which is currently used as
a separator between mounter types.
`
E0301 10:19:13.615111    7348 utils.go:200] ID: 63 Req-ID: 0001-0009-rook-ceph-0000000000000001-fd37c41b-9948-11ec-ad32-0242ac110004 GRPC error: badly formatted map/unmap options: "krbd:read_from_replica=localize,crush_location=zone:zone1;"
`

This chan

[2022-03-01 16:02] nixpanic opened #2913 "Provisioning of NFS exported volumes"
# Describe the feature you'd like to have #

It would be useful to have volumes provisioned that can be exported over NFS. Ceph already has the ability to [manage NFS-Ganesha and export CephFS directories (or subvolumes)](https://docs.ceph.com/en/latest/mgr/nfs/).

# What is the value to the end user? (why is it a priority?) #

This would allow the following use-cases to be addressed:

- clients t

[2022-03-02 22:42] sf98723 commented on #1818
@deadjoker, the ceph capabilities requirements you provided, from the following [link](https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md#cephfs) have to be used in the userID section of the secret, for static provisioning only. The following [example](https://github.com/ceph/ceph-csi/blob/devel/examples/cephfs/secret.yaml) explains the meaning of the userID and adminID sections.

If

[2022-03-03 06:35] sf98723 opened #2915 "CephFS provisioner lack of documentation for dynamic provisioning"
# Describe the bug #

(This issue relies to a possible lack of documentation, so it could be re-qualified later as a feature request depending on the following)

The documentation seems to describe the userID capabilities [here](https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md) for static PVs but not the necessary and minimum Ceph caps that should be reported in the adminID field o

[2022-03-04 12:29] slehlib opened #2918 "rbd-nbd: nbd modprobe failed"
Red Hat Enterprise Linux Server release 7.9 (Maipo)
kubernetes v1.21.1
csi v3.5.1
I execute /root/storage/ceph-csi/examples/cephfs/plugin-deploy.sh to deployer provisioner
NAME                                            READY   STATUS             RESTARTS   AGE
csi-cephfsplugin-ppc4d                          2/3     CrashLoopBackOff   3          87s
csi-cephfsplugin-provisioner-84bb5b599c-gzs7f

[2022-03-04 12:41] pkalever commented on #2918
NBD module is absent in RHEL 7.9. RHEL8.1 or higher has NBD loadable module. You can check this yourself by just running `modprobe nbd` command locally. However, for `rbd-nbd` mounter type, It is recommended to use RHEL8.4 or higher as they got most of the bugs fixed and hence appear to be stable.

If you want to use the default `krbd` mounter, you can safely ignore `modeprobe` error.

[2022-03-04 13:48] slehlib commented on #2918
Thanks for response
can yo say me how ignore modeprob because all pod CrashLoopBackOff

[2022-03-04 22:52] sf98723 commented on #2915
I've worked to restrict the admin capabilities this evening, with the same software configuration.

According to the ceph capabilities docs, I've tried to make it necessary and sufficient with these caps :

`[root@admin test]# ceph auth get client.admink8s`
`[client.admink8s]`
`	key = .........`
`	caps mds = "allow r, allow rw path=/volumes"`
`	caps mgr = "allow rw"`
`	caps mon = "allow r"`
`	caps

[2022-03-04 22:53] sf98723 commented on #2915
[Archive.zip](https://github.com/ceph/ceph-csi/files/8189153/Archive.zip)

(yaml files used for this test)

[2022-03-05 06:57] sf98723 commented on #2915
Another test later, created a new filesystem (dynfs)

It failed, with the following error : I0305 06:52:51.231616       1 controller.go:764] CreateVolume failed, supports topology = false, node selected false => may reschedule = false => state = Finished: rpc error: code = Internal desc = rados: ret=-1, Operation not permitted

Changed the admink8s caps as is :

`[client.admink8s]`
`	key = AQBB4..

[2022-03-07 10:37] Rakshith-R commented on #2918
[code]

this was caused since,  creation of ceph-config is not present as part deployment steps here https://github.com/ceph/ceph-csi/tree/devel/examples#deploying-ceph-csi-services
#2919 adds this info to the doc.

[2022-03-08 04:54] humblec opened #2922 "Enable honorreclaimploicy for the provisioner sidecar"
# Describe the feature you'd like to have #

There is a new feature flag which can be enabled in `external provisioner` for respecting reclaim policy of PVC and to allow/disallow proper lifecycle dependency of PV PVC combo. This request tracks the requirement to enable it in ceph csi. The flag is available but in alpha state atm

[2022-03-08 13:54] gman0 opened #2924 "Storing cephx keyring on node?"
I'd like to discuss if it would be ok to store cephx keyrings on nodeplugin nodes -- the trigger for this is (at least) the discussion here: https://github.com/ceph/ceph-csi/pull/2634#pullrequestreview-894655827.

The argument in favor of storing these on the node is that once a user gets root access, it's trivial to retrieve the cephx key in at least three ways (demo below), so being prudent abou

[2022-03-08 13:54] gman0 commented on #2924
cc @ceph/ceph-csi-maintainers

[2022-03-08 14:18] humblec commented on #2924
Thanks for listing these options @gman0 ! Indeed , if there is root access to the node atleast all of the above helps to retrieve the cephx keys ( may be there are more). In a broader view,  the security aspect also  has to be considered with different admin roles in place like kube cluster admin, storage admin, may be a different admin for ceph cluster management..etc. At current model/scenario,

[2022-03-09 06:07] #2905 closed, assigned to nobody

[2022-03-09 06:39] #2918 closed, assigned to nobody

[2022-03-09 07:10] Madhu-1 commented on #2918
@Rakshith-R if the conf is not present how the deployment pass? i expect deployment to fail without starting csi pods saying `configmap not present to mount` something like that.

[2022-03-09 07:19] Rakshith-R commented on #2918
I think @slehlib  created an empty configmap, writing into a configmap is not allowed, hence the error. I'll let him confirm.

Our conversation on slack is [here](https://rook-io.slack.com/archives/CG3HUV94J/p1646392792642219?thread_ts=1646392792.642219&cid=CG3HUV94J)

[2022-03-09 08:40] gman0 commented on #2924
Yes there's definitely more ways to get the keys. Here I just mentioned those that are trivial and took 1-2min to set up.

That's true, there is some overlap, but unless we use different cephx users for the provisioned volumes, I don't see an immediate way to separate these two roles. Whoever gets hold of the node and has root access, I think we must assume they have access to the keys. Dan has al

[2022-03-09 13:42] tblgit opened #2925 "rbd: wrong dataPoolName restoring a snapshot from and erasure coded volume with topology constraint"
# Describe the bug #

Restoring  a snapshot with a new PVC results with a wrong dataPoolName in case of initial volume linked to a storageClass with topology constraints and erasure coding
The ceph image is created with a wrong datapool

# Environment details #

- Image/version of Ceph CSI driver : v3.5.1
- Helm chart version : ceph-csi-rbd-3
- Kernel version : 5.15.16
- Mounter used for mounting

[2022-03-09 21:01] #2829 closed, assigned to nobody

[2022-03-10 06:05] #2616 closed, assigned to gman0

[2022-03-10 06:21] Madhu-1 commented on #2910
@pkalever can you please take a look at this one? we need to fix this soon.

[2022-03-10 11:21] log1cb0mb opened #2929 "Volume mounts for Pods failing with RBD mirroring enabled"
# Describe the bug #

Two ceph cluster deployed under same stretched kubernetes cluster managed through single rook-ceph operator.  Each ceph cluster is created and confined under respective namespaces.
After RBD mirroring is enabled between ceph clusters,  I am able to create PVCs/PV and even volumeattachments is there but when I spin up a pod trying to use that PVC, scheduling fails with followi

[2022-03-11 04:09] humblec commented on #1356
I am working on this specifically on Controller SIde Volume Health Monitoring.

[2022-03-14 12:06] yati1998 commented on #2015
Thanks, @Rakshith-R for assigning, will work on it.

[2022-03-14 15:21] #2910 closed, assigned to pkalever

[2022-03-14 16:21] msfrucht opened #2935 "Add VolumeSnapshotClass fields to the helm chart for RBD and CephFS"
# Describe the feature you'd like to have #

The helm chart allows setup of the pods and optionally the storageclass and necessary secrets. Adding the volumesnapshotclass would complete the available installation objects for install.

This would help with automated installs by reducing the complexity of adding volumesnapshotclasses via additional scripting on top of the YAML values file for the he

[2022-03-15 08:17] jpsn123 opened #2938 "csi-provisioner will be blocked when exist an error previous operation."
# Describe the bug #

i intentionally created an RWX RBD PVC without block mode, which obviously failed, so deleted the PVC that was still pending, and then create a normal pvc, you will see provisioner can't working with error "an operation with the given Volume ID pvc-XXXXXXXXXXX already exists", however, if delete provisioner pod, waiting it to restart, the normal pvc will be bound successfully

[2022-03-15 10:38] Madhu-1 commented on #2935
volumesnapshotsclass is having the CRD dependency. the installation or upgrade might fail if the CRD is not installed in the first place. we might want to remove the storageclass from the helm itself as an update to the storageclass is not supported (we cannot update/delete/add new parameters to the existing storageclass) its another discussion.

[2022-03-15 10:39] Madhu-1 commented on #2935
cc @ceph/ceph-csi-maintainers

[2022-03-15 11:22] humblec commented on #2938
@jpsn123 can you please share which version of ceph csi is in play here? did you recreate the PVC with same name ? also any difference if you have a delay ( say for few minutes)  between delete the PVC and recreation of the PVC? was it a quick recreation as soon delete was issued?

[2022-03-15 11:27] jpsn123 commented on #2938
@humblec  version:3.5.0,  different name, longest is serval days after deletion.

[2022-03-15 11:45] humblec opened #2940 "Consume Ceph quincy (v17) release with ceph csi release 3.6"
# Describe the feature you'd like to have #

The Ceph release Quincy is supposed to land on end of this month (mar 2022)  and its good to consume it for 3.6 release .

Additional Info: Rook will be consuming the same for 1.9.

[2022-03-16 07:29] #2879 closed, assigned to Rakshith-R

[2022-03-16 10:17] yati1998 commented on #1227
enabling goerr113 from the e2e requires the addition of too many extra lines of code which is not required. To resolve this we need to create a type for all the errors individually. This doesn't seem to be the way to resolve this linter. Hence, disabling this linter, for now, will be a better idea.
Adding link to the PR with more detailed discussion: https://github.com/ceph/ceph-csi/pull/1977

[2022-03-16 16:18] #1227 closed

[2022-03-17 05:07] #2718 closed, assigned to Madhu-1

[2022-03-18 10:27] #2190 closed, assigned to Rakshith-R

[2022-03-19 23:49] jokeyrhyme opened #2952 "installation of CSI Driver via helm chart on 3x Raspberry Pi 4B talos cluster has broken the cluster"
# Describe the bug #

Howdie, thanks for sharing your CephFS work, it seems very promising

I installed CephFS CSI via the helm chart on my cluster today, and it has made every node in the cluster completely non-responsive

I waited 2 hours to see if this would eventually finish it's work and converge on healthy, but that has not happened, so I will have to wipe the cluster and start again

# Envi

[2022-03-19 23:56] jokeyrhyme commented on #2952
I'm not sure what the problem is here, sorry

There is a warning about CephFS here: https://www.talos.dev/docs/v0.14/guides/storage/

Does the CephFS CSIDriver (or just it's installation process) require more CPU and RAM than a Raspberry Pi 4B with 8GB RAM?

I'm also not sure what the solution is here

Is it possible to force specific pods to never be installed on Kubernetes control-plane nodes, e

[2022-03-20 05:37] jokeyrhyme commented on #2952
Okay, as I've wiped my cluster and started to recreate my desired setup, I've run into this situation again without involving the CSIDriver for CephFS, so I don't believe that is actually the cause

This seems to be a talos bug, so I've reported it over there: https://github.com/talos-systems/talos/issues/5147

[2022-03-20 05:37] #2952 closed, assigned to nobody

[2022-03-24 09:06] club326 opened #2960 "storageclass failed to bond pvc"
# Environment
- ceph version:14.2
- Kubernetes cluster version : v1.18.9
- cephcsi:v2.1.0
- csi-node-driver-registrar:v1.3.0
- csi-provisioner:v1.4.0
- csi-snapshotter:v1.2.2
- csi-attacher:v2.1.1
- csi-resizer:v0.5.0

When I tried to create storageclass on ceph, I failed serval times, when I execute

`kubectl logs pod/csi-rbdplugin-provisioner-7c85df56d5-ww5rt -c csi-provisioner`

the logs descri

[2022-03-24 11:54] fengruichao opened #2961 "There are a few questions to ask about ceph and ceph-csi"
Dear ceph, ceph-csi developers Hello:
We had a few issues with the ceph and ceph-csi plugins that we haven't figured out for this design.
Question one:
ceph-csi and why create a snapshot, then make a snapshot of the same snapshot, in ceph-csi and copy the design of the snapshot, delete the design of the snapshot, make a snapshot in the last long volume? Rejected cpeh's definition of my first editi

[2022-03-24 12:01] Rakshith-R commented on #2961
@fengruichao

This discussion contains the explanation
https://github.com/ceph/ceph-csi/discussions/2729

https://github.com/ceph/ceph-csi/issues/1098

These are Ceph RBD limits, more information on this issue

[2022-03-24 12:05] Rakshith-R commented on #2960
@club326

Please update Cephcsi version
https://github.com/ceph/ceph-csi#known-to-work-co-platforms

https://github.com/ceph/ceph-csi/issues/1995
The fix is in v3.2.2 and v3.3.1+
https://lists.ceph.io/hyperkitty/list/ceph-users@ceph.io/thread/K7LDVS7Y5XQV7ILHC5WUWMXVJ5HX4HU3/

[2022-03-24 23:12] sbskas opened #2962 "Make ceph-csi domainLabels usable with Rook"
# Describe the feature you'd like to have #
At the present time, to use topologyContraintedPools, the rbdplugin needs to be given a list of attributes
fo sort the different pools to be used.

Problem is this attributes list must be given on the cmdline.
Rook is unable to customize the attribute cmdline of the ceph-rbdplugin.
To pass this attribute, one has disable the rbd Daemonset managed by rook

[2022-03-25 10:29] club326 commented on #2960
thank you for your reply, and finally, v3.2.2 is OK!

[2022-03-25 10:29] #2960 closed, assigned to nobody

[2022-03-26 14:11] Madhu-1 commented on #2962
cc @ShyamsundarR

[2022-03-26 14:21] Madhu-1 commented on #2962
Today this is not possible but this is possible to code changes in Rook to parse the value from Rook configmap and update the daemonset pod.

of ceph-csi defeating the seamless integration with rook.

Why disable is required. Rook handles the change in configuration or new configuration seamlessly today as well for other configurations also.

Also, one could have different domainLabels list for di

[2022-03-28 05:25] humblec commented on #2962
@sbskas the entries from ceph cluster configmap and making Rook aware of the configuration and acting on  is one thought .

One other thought from my end is that, keeping a seperate configmap ( not as part of cluster configmap)  for topology alone ( may be keeping as a map of k:v of nodes and topology info ) then making use of it in any layer independently . Say Rook can fetch and use it, or even

[2022-03-28 05:36] Rakshith-R commented on #2962
I think we have a specific set of topology labels https://rook.io/docs/rook/latest/ceph-cluster-crd.html#osd-topology
Maybe we can by default pass the labels keys to cephcsi through cmdline args instead of changing the way we pass it.

Anyway, this will be used only when storageclass has topology options https://github.com/ceph/ceph-csi/blob/f6ae6120036a9dbb8903f70f44f4194138abe906/examples/rbd/st

[2022-03-28 10:09] sbskas commented on #2962
https://github.com/rook/rook/blob/656e9466d4cee426c9772026822ac881421dd542/pkg/operator/ceph/csi/template/rbd/csi-rbdplugin.yaml#L59-L73
@Madhu-1  Nothing in the rook csi-rbdplugin template allows to pass the expected parameter.
If you make rook ceph-csi "topology aware", you introduce more coupling between the two projects.
If you change the topology implementation in ceph-csi rbdplugin, you have

[2022-03-28 10:20] Rakshith-R commented on #2962
Rook will reconcile the configMap and the domainlabel values will be wiped.
https://github.com/rook/rook/blob/656e9466d4cee426c9772026822ac881421dd542/pkg/operator/ceph/csi/cluster_config.go#L81

[2022-03-28 10:34] sbskas commented on #2962
@Rakshith-R
My concern for now is the ceph-csi code.
Rook code would be amended in a different issue (a rook one).
Looking a the code, the option could be handled like the RadosNamespace option.

[2022-03-28 11:27] Rakshith-R commented on #2962
Do you expect to use different domain Labels keys with different cluster ids?

I assume not, since the label keys will remain the same, I recommend we code them into Rook rbdplugin daemonset cmdline.
Again this will come into effect only when topology constraints is used in storageclass.

This will need minimal code changes and effort.

(+ I prefer not to over complicate the way rook handle ceph-c

[2022-03-29 09:10] jlyheden opened #2969 "Question: Helm chart versioning"
I have a question about how versioning of the ceph-csi-cephfs Helm chart is handled by the project. It appears that for example the latest ceph-csi-cephfs chart at this time (3.5.1) does not reflect the structure of the Helm chart in the ceph-csi github release (3.5.1).

How can I track the relation from code changes to what resources is being deployed from the helm chart? The inconsistency can be

[2022-03-29 09:23] pkalever opened #2970 "Remove metadata from clones"
# Describe the bug #

This is in continuation with https://github.com/ceph/ceph-csi/pull/2898

During RBD clone operation all the clones will get the metadata from the parent we need to unset/remove the metadata in the below cases

During CreateSnapshot ->Unset the PVC metadata on the rbd image created for the snapshot
During CreateVolume From snapshot -> Unset the snapshot metadata from the rbd i

[2022-03-29 09:50] pkalever opened #2971 "Regenerate metadata if snapshotcontent is reattached in another namespace"
# Describe the feature you'd like to have #
Context: https://github.com/ceph/ceph-csi/pull

snapshotcontent can be detatched and reattached to a new snapshot in a different namespace. We might need to add a new controller  to regenerate the metadata in this case

[2022-03-29 11:11] pkalever opened #2973 "Add CO cluster name to image metadata"
# Describe the feature you'd like to have #

Context: https://github.com/ceph/ceph-csi/pull/2898

Add CO cluster name to image metadata
This will be helpful if there are two or more CO clusters, meaning that the same external Ceph cluster will be provisioning volumes for two or more different CO clusters. Therefore, in addition to the fields, we already included as metadata, we'd need to add one a

[2022-03-29 13:25] nixpanic commented on #2973
It would be simpler to set a unique `volumeNamePrefix:` for the cluster in the StorageClass.

[2022-03-29 15:42] gman0 opened #2974 "cephfs: snapshot journal omap leak"
# Describe the bug #

After removing a CephFS snapshot, the mapping between CO-generated name and snapshot ID that's stored in `csi.snaps.default` RADOS object OMap is leaked.

I suspect the key used to store the mapping (`reqName`) is different from when this mapping is being removed (`sid.FsSnapshotName`):

`journal.ReserveName()`:
https://github.com/ceph/ceph-csi/blob/134603540b9fab59929e446662

[2022-03-29 15:50] Madhu-1 commented on #2974
Dup of https://github.com/ceph/ceph-csi/issues/2832?

[2022-03-29 15:51] humblec commented on #2974
@gman0 https://github.com/ceph/ceph-csi/pull/2844

Already leaked entries has to be cleaned up seperately or its outside the first scope.

[2022-03-29 16:05] gman0 commented on #2974
Thanks I didn't know it was already reported and fixed. Nevertheless, if you take a look DeleteSnapshot, it still uses FsSnapshotName instead of ReqName and so if the issue was fixed, it is back again. I'm not sure why that is.

https://github.com/ceph/ceph-csi/blob/devel/internal/cephfs/controllerserver.go#L877

[2022-03-29 16:22] Madhu-1 commented on #2974
it got slipped in https://github.com/ceph/ceph-csi/pull/2882, #2975 should address it. Thanks for catching it :+1:

[2022-03-30 04:40] #2925 closed, assigned to nobody

[2022-03-30 14:20] Rakshith-R commented on #2327
moving out of 3.6, depends on Ceph fix

[2022-03-30 14:22] Madhu-1 commented on #2736
Moving it out for 3.6 as a fix for this is not available in ceph yet.

[2022-03-30 14:23] Rakshith-R commented on #2901
Different storageclass PVC cloning  definitely fails if it is encrypted.

The fix will take time and we still have time till next external-provisioner release(which supports this feature).
Moving it out of 3.6 release, maybe we can backport fix to a minor 3.6 minor release

[2022-03-31 06:45] humblec commented on #2826
[update]
we will close the items by 01-Apr-2022 and planning to release on 04-Apr-2022

[2022-03-31 10:40] Madhu-1 commented on #2973
Yes it works but IMO setting based on ENV/input is better for below reason

* Metadata can be updated for the existing images (which helps in upgraded clusters)
* We don't need to worry about setting volumeNamePrefix in all storageclasses
* Setting metadata helps in the case of DR also as the image will move from one OCP cluster to another OCP cluster
* Ceph will support exporting image metadata a

[2022-03-31 13:19] chhsiao1981 opened #2982 "dynamic pv with deterministic path (based on namespace-pvc)"
# Describe the feature you'd like to have #

It would be great if we can have the option to have deterministic path in dynamic pv.

# What is the value to the end user? (why is it a priority?) #

There are some scenarios (ex. sts) which may delete the corresponding pvc/pv if the pod is deleted,
but would like to have the same context (storage) if the pod is recovered.
This is especially usefully w

[2022-03-31 13:46] #2974 closed, assigned to nobody

[2022-03-31 21:01] #2892 closed, assigned to nobody

[2022-04-01 05:34] humblec commented on #1793
@Rakshith-R shall we remove this form the milestone tracker?

[2022-04-01 05:34] humblec commented on #2059
@Madhu-1 shall we remove this form the milestone tracker?

[2022-04-01 05:35] humblec commented on #2736
removed from the milestone tracker.

[2022-04-01 05:37] humblec commented on #2142
@gman0 this is attached to release 3.6 tracker atm.. Planning to do code freeze soon and release 3.6 on monday.. Could you please revisit this issue ?

[2022-04-01 05:37] humblec commented on #2015
@yati1998 shall we remove this from the release 3.6 tracker ?

[2022-04-01 05:37] humblec commented on #2678
@pkalever this has been attached to release 3.6 tracker, could you please summarize the state and do the needful by adjusting the tracker ?

[2022-04-01 05:39] humblec commented on #2003
There going to be another iscsi release with 1.24 kube with more fixes..etc. With that in place, we will be able to continue on this effort, meanwhile I am removing this from the 3.6 tracker.

[2022-04-01 05:42] yati1998 commented on #2015
yes.

[2022-04-01 05:51] humblec commented on #1563
Considering we have to wait for the dependency support in place and also some discussions on the design has to be concluded, removing this from the release 3.6 tracker.  Thanks for the great attempt to take it forward.. we will continue the effort and will try to get this in release 3.7..

[2022-04-01 05:59] humblec commented on #2371
@Yuggupta27 considering we havent made progress here, I am removing this from release 3.6 tracker and tracking for release 3.7.

[2022-04-01 06:58] gman0 commented on #2142
@humblec yup, let's push it for the next release. I'm almost finished actually, just need to write e2e tests.

[2022-04-01 08:11] gman0 commented on #2826
I've moved https://github.com/ceph/ceph-csi/issues/2142 for the next release.

[2022-04-01 11:09] humblec commented on #2823
@sbskas as mentioned in the release issue, we are planning to release 3.6 early next week..

As per your validation of this feature , is it good to qualify as Beta ? or we need more time to declare it as "beta" . please share your thought, accordingly we can reach consensus  on support state

[2022-04-01 11:10] humblec commented on #2874
@pkalever this issue is on 3.6 release tracker , could you please revisit and adjust the milestone tracker accordingly?

[2022-04-01 11:13] pkalever commented on #2678
@humblec I was waiting on the response to my above comment :-(
Yes this can be moved out of the release for now.

[2022-04-01 11:15] pkalever commented on #2874
It is on 3.6 as desired. I don't think any changes are needed.

[2022-04-01 11:19] humblec commented on #2678
Thanks.. lets discuss this in our stand up or some forum and take it further.. for now, moving out of this release.

[2022-04-01 11:34] humblec commented on #2874
Shall we close this then @pkalever

[2022-04-01 11:42] pkalever commented on #2874
Once https://github.com/ceph/ceph-csi/pull/2898 is merged it will auto close

[2022-04-01 12:01] humblec commented on #2874
ah... there was also doc PR reference..  so got confused.. lets leave it to bot then

[2022-04-01 13:21] Rakshith-R commented on #1793
I had just moved it from 3.5 to 3.6, am not working on this issue.

[2022-04-02 21:01] #2903 closed, assigned to nobody

[2022-04-02 21:01] #2891 closed, assigned to nobody

[2022-04-04 11:42] humblec commented on #1793
moving from v3.6 release.

[2022-04-04 11:46] humblec commented on #2199
Topology was the main feature which we were looking into promoting to Beta.. It has made good progress, however we may have to keep it in alpha in release 3.6 . I am moving this issue to next release tracker for now.

[2022-04-04 14:26] sbskas commented on #2823
@humblec we tested all the case we met on test platform.
We fixed the obvious problem encountered (#2828 and #2925).
According to me, the feature is ready to go to beta.
I would have like something like #2962 for easier integration with rook however, I'll live with it.

[2022-04-04 14:35] sbskas commented on #2962
We do not expect to have more than cluster running on our side, but, that's the initial plan.
However, rook is supporting several cluster, ceph-csi is also supporting multiple clusters.
domainLabels support only one list of labels which should be compatible with all deployed clusters.

[2022-04-04 15:05] humblec commented on #2823
Thanks @sbskas for all the effort and conclusion on where we stand.

I am fine to call this Beta, however let me get atleast an ack from  @ceph/ceph-csi-maintainers

[2022-04-05 05:29] humblec opened #2988 "Make use of CSI spec 1.6 release"
CSI spec 1.6 has been released, this issue is a place holder for getting it consumed here by the CSI driver.

https://github.com/container-storage-interface/spec/releases/tag/v1.6.0

[2022-04-05 05:31] humblec commented on #2823
@Madhu-1 @nixpanic can you share your thought about moving this feature to Beta in this release (3.6) ?

[2022-04-05 05:36] Madhu-1 commented on #2823
IMO As we are at end of the release, Let's not hurry we can wait for #2962. based on that we can move to beta? if we are still in alpha we have a good chance to do some breaking changes if really needed.

Even if the feature is alpha we can work on the integration part.

[2022-04-05 07:36] Madhu-1 commented on #2383
@Rakshith-R this is not required anymore?

[2022-04-05 07:38] Rakshith-R commented on #2383
Yes this is no longer required.

[2022-04-05 07:38] #2383 closed, assigned to nobody

[2022-04-05 12:49] sbskas commented on #2962
There is 3 paths from here:
1. Do nothing and take care of this thing in the rook code with the shortcomings I mentionned previously.
   To date, the code for handling such case in rook remains to be written.
2. Try to figure out the domainLabel list from the topologyconstrainedpools given in the storageclass.
    This would have the great advantage to be self-sufficient (no extra code needed) and

[2022-04-05 19:36] mhbahmani commented on #1817
I have the same problem. Used rook to set up ceph.
`ceph-csi-config`:
[code]

`rook-ceph` (storageclass):
[code]

All the ceph related pods are up and running. but each pvc with ceph storage class, stucks on pending state.

[code]

[2022-04-06 03:49] Madhu-1 commented on #1817
@lfdominguez Please check  Rook trouble shooting guide https://rook.io/docs/rook/v1.8/ceph-csi-troubleshooting.html

[2022-04-06 08:21] humblec commented on #2826
Considering we have 3.6.0 out, I am closing this issue

https://github.com/ceph/ceph-csi/releases/tag/v3.6.0

Thanks all for your contributions to 3.6 !!  :+1:

[2022-04-06 08:21] #2826 closed, assigned to nobody

[2022-04-06 08:24] humblec opened #2997 "Release 3.7.0 Tracker"
## Milestone:

### Proposed

Code Freeze:  17-Aug-2022

GA : 19- Aug -2022

## Features:

- [x] #3282
- [x] #2142
- [x] #2912
- [x] #2823

## Enhancement:

## Bugs:

## Rebase:

## Breaking Changes:

[2022-04-06 08:25] humblec commented on #2142
Thats great.. I am sure its gonna make it in 3.7 ! :+1:

[2022-04-06 10:40] humblec commented on #2585
As I havent heard any issues so far on this, I am closing this one.. will reopen if required..

[2022-04-06 10:40] #2585 closed, assigned to nobody

[2022-04-06 15:02] Madhu-1 opened #2999 "Add E2E testing for nsenter"
This issue is to track the changes required for adding E2E for nsenter

[2022-04-06 22:33] phuongatemc opened #3000 "Failed to mount a PVC ROX with VolumeSnapshot as source"
# Environment details #

- Image/version of Ceph CSI driver :
    quay.io/cephcsi/cephcsi:v3.1-canary,
- Helm chart version :
- Kernel version : Multiple version from 1.18 to 1.21
- Mounter used for mounting PVC (for cephFS its `fuse` or `kernel`. for rbd its `krbd` or `rbd-nbd`) :
- Kubernetes cluster version :
- Ceph cluster version :

# Steps to reproduce #

- Create RBD FileSystem PVC1 (ReadWr

[2022-04-07 04:36] humblec commented on #3000
@phuongatemc  `quay.io/cephcsi/cephcsi:v3.1-canary` is way old and an unsupported version.. Please use latest CSI version 3.6 or 3.5 and give a try.

[2022-04-07 06:08] pkalever commented on #2678
@nixpanic do you have any thoughts on the above opinions, please? which route do you like the most?

[2022-04-07 07:03] nixpanic commented on #2982
Namespaces and PVCs are types that are rather Kubernetes specific. It is not something that CSI-drivers can rely on being available. With #2874 we are adding metadata to the RBD-image. Is that something that could work for you too, if CephFS supports that?

[2022-04-07 07:07] #2940 closed, assigned to humblec

[2022-04-07 16:16] phuongatemc commented on #3000
We also hit the same problem on our OpenShift cluster which has the following image version.  It's sha version so I'm not sure if it mapped to which CSI version.

registry.redhat.io/ocs4/cephcsi-rhel8@sha256:08c647d11a8dbb51f920d0c16ff7d81b08f39c72cd2c01ad40077a2ebc1d1fa2

[2022-04-07 22:17] phuongatemc commented on #3000
We still hit the same issue after upgrade to CSI 3.6

Container ID: docker://766a04a02b819585b15e0e024041f1ed5d0b099b1a2ce4cc50978f3608d8e558
Image: quay.io/cephcsi/cephcsi:v3.6-canary
Image ID: docker-pullable://quay.io/cephcsi/cephcsi@sha256:f56eee41a0da87ef550b9adba4016cc4c9777e69fc2b255a6cee761192b6ac27

vmdmtest@irv-esx-85-20:~$ kubectl describe pod dk-k8s-7-2022-04-07-14-14-25-dk-k8s-7-dk-k8

[2022-04-08 05:13] Madhu-1 commented on #3000
@phuongatemc you can try below steps and see if its failing again

* Create ReadWriteOnce PVC
* Create pod and write some data
* Delete the pod
* Create snapshot
* Create ReadOnlyMany PVC
* Create pod with ReadOnlyMany PVC

[2022-04-08 15:43] #2874 closed, assigned to pkalever

[2022-04-10 09:37] zkl94 opened #3006 "csi-rbdplugin fsck on rbd filesystem stuck"
# Describe the bug #

After k8s cluster reboot, csi-rbdplugin fsck on some of the /dev/rbdX are blocking and PVCs cannot be mounted.

This happens on all nodes of the cluster and I am providing logs on one of the nodes.

# Environment details #

- Image/version of Ceph CSI driver : quay.io/cephcsi/cephcsi:v3.5.1
- Helm chart version : n/a
- Kernel version : 5.4.0-91-generic
- Mounter used for moun

[2022-04-11 04:59] Madhu-1 opened #3009 "Provide option to disable setting metadata on rbd images"
As we added support to set the metadata on the rbd images created for the PVC and volume snapshot in https://github.com/ceph/ceph-csi/pull/2898 by default metadata is set on all the images. As we have seen we are hitting https://github.com/ceph/ceph-csi/issues/2327 a lot of times with #2898. with this, we start to leave a lot of stale images. Currently, we rely on https://github.com/ceph/ceph-csi/

[2022-04-11 13:49] phuongatemc commented on #3000
@Madhu-1
  Yes, those were the steps we used and still hit that error.

[2022-04-11 14:10] Madhu-1 commented on #3000
@phuongatemc deleting pod is important before taking the snapshot. I have tested it it's working fine for me.

[2022-04-11 15:48] phuongatemc commented on #3000
Sorry, I missed that step of deleting the pod.  We cannot delete the pod because that is our policy to avoid changing anything in customer's namespace.  Is there any way to get around that?

[2022-04-11 23:50] #3006 closed, assigned to nobody

[2022-04-12 07:17] Madhu-1 opened #3018 "Remove unwanted RBAC from the repo"
We are having some unwanted RBAC access for both cephfs and rbd. we need to track it down and remove the unwanted access from the templates.

[2022-04-12 14:42] nixpanic commented on #2969
Releases are tagged, the v3.5.1 release is at https://github.com/ceph/ceph-csi/releases/tag/v3.5.1 . You should be able to download the source from that page, browse it at https://github.com/ceph/ceph-csi/tree/v3.5.1 or checkout the v3.5.1 tag with a git client.

Recently v3.6.0 was released, and that should have pushed a new Helm chart as well.

[2022-04-12 15:39] christianhuth commented on #2915
@sf98723 did you manage to make this work?

[2022-04-12 19:27] chhsiao1981 commented on #2982
hi @nixpanic ～

Thank you so much for the comments～
maintaining metadata seems to be another good alternative solution～

I'll try the newly released 3.6.0 first and check out the feature first 😄

[2022-04-14 09:50] Madhu-1 opened #3032 "Prevent unauthorised volume mode conversion for RBD PVC/snapshots"
This is a tracker to Prevent unauthorized volume mode conversion for RBD PVC from the filesystem to block and from block to filesystem. Kubernetes [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/3141-prevent-volume-mode-conversion#changes-to-external-provisioner) for this one

[2022-04-14 21:01] #2922 closed, assigned to nobody

[2022-04-15 13:28] ShyamsundarR commented on #2962
Revisiting history, I am not sure why the `domainLabels` were added as a CLI option and not part of the configMap [1]:
  - I tried reasoning this again based on this being CO specific (i.e k8s specific) and maybe that was the reason to not add it!
  - Further attempted reasoning if we would have the said ConfigMap in time to populate CSIDriver with the required topology information, it does seem s

[2022-04-15 19:21] msfrucht commented on #3000
As I recall Ceph-CSI for RBD did not support ReadWriteMany access mode. Did this change?

[2022-04-16 21:01] #2924 closed, assigned to nobody

[2022-04-18 03:25] #2988 closed, assigned to humblec

[2022-04-18 07:43] Madhu-1 commented on #2929
Keeping it open as PR is not merged yet.

[2022-04-18 09:50] Madhu-1 commented on #3000
Not sure let me check is it possible or not.

[2022-04-18 15:33] msfrucht commented on #3000
Ceph-csi-rbd refuses to create volume mode Filesystem PVCs with access mode ReadWriteMany.

`  Warning  ProvisioningFailed    <invalid> (x7 over <invalid>)  rbd.csi.ceph.com_ceph-csi-rbd-provisioner-7b9c67bc46-nzvpn_bff77b5c-572c-4d49-a004-d1c9645ecd0a  failed to provision volume with StorageClass "cirrus-csi-rbd-sc": rpc error: code = InvalidArgument desc = multi node access modes are only suppor

[2022-04-20 05:45] Madhu-1 opened #3048 "Release 3.6.1 plan"
This issue is to track the 3.6.1 release which includes a couple of enhancements backported to the release-3.6 branch

backported PR's list
- [x] https://github.com/ceph/ceph-csi/pull/3046
- [ ] https://github.com/ceph/ceph-csi/pull/3033
- [ ] https://github.com/ceph/ceph-csi/pull/2993
- [x] https://github.com/ceph/ceph-csi/pull/3042
- [x] https://github.com/ceph/ceph-csi/pull/3035
- [x] https://g

[2022-04-22 08:12] Madhu-1 commented on #3048
Moving #3033 and #2993 out of the release.

[2022-04-22 08:19] humblec commented on #3048
@Madhu-1 its good to include #2993 its pretty much in merge queue

[2022-04-22 08:21] Madhu-1 commented on #3048
Sure, Thanks Humble. Earlier CI was not passing  on this one.

[2022-04-22 08:59] sbskas commented on #2962
Ok, new section in configmap that will be then.
Should something like that be suitable ?
[code]

[2022-04-22 09:13] Madhu-1 commented on #3048
@humblec https://github.com/ceph/ceph-csi/pull/2993#issuecomment-1106223019 #2993 PR is having merge conflict, needs manual rebase (which is not done as requested yesterday) , as its not critical fix IMO we can consider this for 3.6.2

[2022-04-22 13:47] Madhu-1 commented on #3048
Closing this one as 3.6.1 release is out https://github.com/ceph/ceph-csi/releases/tag/v3.6.1

[2022-04-22 13:47] #3048 closed, assigned to nobody

[2022-04-22 21:01] #2938 closed, assigned to nobody

[2022-04-22 21:01] #2935 closed, assigned to nobody

[2022-04-23 21:01] #2509 closed, assigned to humblec

[2022-04-26 15:12] ShyamsundarR commented on #2962
Why add the `clusterID` here, these are node labels that would be read and reflected as Ceph-CSI node labels, so they are common across any Ceph cluster. Unless I am missing something, the `clusterID` is not required in this section.

[2022-05-03 05:00] jpmartin2 opened #3076 "csi-rbdplugin not picking up mapOptions properly"
# Describe the bug #

I have a volume which is failing to mount, I believe because I have network encryption enabled on the cluster and the rbdplugin is not properly passing mapOptions through to the rbd command (to set `ms_mode=secure`).

# Environment details #

- Image/version of Ceph CSI driver : 3.6.1
- Helm chart version : N/A (ceph cluster setup with rook v1.9.2)
- Kernel version : 5.16.0 (

[2022-05-04 04:07] humblec commented on #3076
Cc @pkalever

[2022-05-04 11:40] Madhu-1 opened #3082 "Add E2E test cases for rbd map options."
Currently, we dont have any validation in the E2E for the rbd/nbd map options. if there is a bug in the code where rbd/nbd options are discarded why might end up mapping without requested options. This issue is to add validation for the rbd/nbd map options. the validation is suggested here https://github.com/ceph/ceph-csi/pull/3080#issuecomment-1117124717

Steps to validate
* Create SC with mapOpt

[2022-05-04 11:43] Madhu-1 opened #3083 "Cephfs: Add validation for fuseMountOptions and kernelMountOptions"
This is a tracker to add the E2E validation for the kernelMountOptions and fuseMountOptions for the cephfs. after mount the cephfs subvolumes we should verify that the required options exists at the mount points.

Steps to validate
* Create SC with fuseMountOptions/kernelMountOptions
* Create the PVC
* Mount PVC to application
* exec into the cephfsplugin pod and verify the options.

[2022-05-04 13:07] Cytrian commented on #3076
I just had a similar error when setting up a K8s on a newer Flatcar server, because that one now uses
the cgroupv2 layout.
So, https://github.com/ceph/ceph-csi/blob/1bd6297ecbdf11f1ebe6a4b20f8963b4bcebe13b/internal/util/pidlimit.go#L39 is not correct, since there is no directory `/sys/fs/cgroup/pids` any more.
It's now `/sys/fs/cgroup + *.scope + /pids.max`

[2022-05-04 14:41] Madhu-1 commented on #3076
@Cytrian would you like to send a PR to fix this one?

[2022-05-04 14:49] Madhu-1 opened #3085 "setting pids.max failed with cgroups v2"
I just had a similar error when setting up a K8s on a newer Flatcar server, because that one now uses
the cgroupv2 layout.
So, https://github.com/ceph/ceph-csi/blob/1bd6297ecbdf11f1ebe6a4b20f8963b4bcebe13b/internal/util/pidlimit.go#L39 is not correct, since there is no directory `/sys/fs/cgroup/pids` any more.
It's now `/sys/fs/cgroup + *.scope + /pids.max`

_Originally posted by @Cytrian in https

[2022-05-04 14:51] Madhu-1 commented on #3085
new path is `/sys/fs/cgroup/ + *.scope + /pids.max` as per https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/managing_monitoring_and_updating_the_kernel/using-cgroups-v2-to-control-distribution-of-cpu-time-for-applications_managing-monitoring-and-updating-the-kernel

[2022-05-04 15:36] Madhu-1 opened #3086 "update dependency to kubernetes 1.24"
[Kubernetes 1.24](https://github.com/kubernetes/kubernetes/releases/tag/v1.24.0) is released below is a list of updates we need to do

- [x] Update dependency (go.mod)
- [x] centos/ci changes to run 1.24 and remove 1.21
- [x] Mergify changes
- [ ] ~~Readme update of support metrix.~~
- [x] Minikube update if required

[2022-05-05 01:37] jpmartin2 commented on #3076
Ah so based on the PR for the mount issue I can see a workaround for now is to explicitly set the mounter parameter. Was able to get up and running with that for now!

[2022-05-05 01:39] Madhu-1 commented on #3076
Yes that will be the workaround for now 👍

[2022-05-05 14:05] lbogdan commented on #3076
This isn't as simple as just changing the path; it should first detect whether we're using cgroups v1 or v2 (e.g. like here: https://github.com/containers/common/blob/a2ec40df56de42ebce03c1198495a79c2873b06e/pkg/cgroups/cgroups_supported.go#L28-L39 ), and use the correct path.

[2022-05-05 21:01] #2971 closed, assigned to nobody

[2022-05-05 21:01] #2970 closed, assigned to nobody

[2022-05-06 05:45] Madhu-1 commented on #3086
Kubernetes 1.24.0 installation is failing with minikube and it is fixed in https://github.com/kubernetes/minikube/pull/13988 we need to wait for the new minikube release

[2022-05-07 20:38] #3085 closed, assigned to nobody

[2022-05-09 07:19] pkalever opened #3103 "Cleanup bug in createVolumeFromSnapshot() and CreateSnapshot()"
# Describe the bug #

1. In createVolumeFromSnapshot(), if the unsetAllMetadata or copyEncryptionConfig or expand fails we need to remove the clone.
2. Same in CreateSnapshot() too

See:
https://github.com/ceph/ceph-csi/pull/3005#discussion_r867690813
https://github.com/ceph/ceph-csi/pull/3005#discussion_r867691871

[2022-05-09 20:00] #3076 closed, assigned to nobody

[2022-05-11 10:35] pkalever opened #3111 "Fix omap Leaks"
# Describe the bug #
We had found 2 OMAP leaks in the e2e testing, PR https://github.com/ceph/ceph-csi/pull/3041 tries to work around it for now. This request is to investigate further to root cause and fix the actual problem.

[2022-05-11 11:36] baryluk commented on #578
Hi,

is there any recent design or implementation work on this feature? We have some non-replicated single node DBs instances (for various reasons), and while very unlikely, we are worried node becoming disconnected from kubernetes, but not from Ceph, and still keep running pods using RBD, then master to decide to schedule the pod again on other node, and possibly corrupting the file system or DB.

[2022-05-11 21:01] #2199 closed, assigned to humblec

[2022-05-12 07:39] nixpanic commented on #578
Exclusive locking should be usable already.

rook/rook#1507 is one of the issues that has more discussion on enhancing fail-over for certain scenarios. By using [CSI-Addons `NetworkFence`](https://github.com/csi-addons/kubernetes-csi-addons/blob/main/docs/networkfence.md), it will become possible to (automatically) `ceph osd blocklist` a failed node, and have the workload Pods start somewhere else

[2022-05-12 18:47] #2834 closed, assigned to pkalever

[2022-05-13 14:02] sbskas commented on #2962
clusterId prefix allow to have different domainLabels order with different clusters.

If all clusters could rely on the same domainLabels order, there is no reason to use different priorities for the domainLabels.

However, I don't know if this is true for every cluster managed by the ceph-csi.

I can't think of a use case, which does not mean it doesn't exists.

Anyway, with or without clusterId

[2022-05-15 09:11] Mutantt opened #3113 "Attach error"
Hi
When I apply a pod with a pvc, I see  pvc is made and bound, but attacher can't attach the volume to the pod.the error is :

MountVolume.MountDevice failed for volume "pvc-179594a4-6757-4e44-915f-0f43da75c742" : rpc error: code = Internal desc = rbd: map failed with error failed to get stat for {{ .kubeletDir }}/plugins/{{ .driverName }}/net stat {{ .kubeletDir }}/plugins/{{ .driverName }}/net:

[2022-05-15 15:10] #2678 closed, assigned to pkalever

[2022-05-15 21:01] #2961 closed, assigned to nobody

[2022-05-16 04:46] Madhu-1 commented on #3113
@Mutantt If you are not using the multus network or some pod network please remove `netNamespaceFilePath` from your value.yaml (if you are using helm) or from `ceph-csi-config` configmap.

[2022-05-16 07:18] Mutantt commented on #3113
@Madhu-1 It's working now,thank you for your help

[2022-05-16 07:18] #3113 closed, assigned to nobody

[2022-05-17 11:41] Madhu-1 opened #3124 "Enable striping for rbd image"
Hi,

we use rook in kubernetes clusters at Microsoft Azure.

Because ceph is able to stripe data over several disks (which increases data throughput a lot) it would be great if rook also would be able to use striping.

At first, it would be sufficient in my opinion if default ceph parameters are used.

For more info:
• https://stackoverflow.com/a/28698595
• http://programmability.us/mantle/blog3-s

[2022-05-19 13:11] drummerglen commented on #1818
Hi guys,

I encountered this problem too, but I have been resolved.
The key point was the adminID and adminKey in Secret file must be admin (client.admin in ceph cluster).
Once I re-apply the Secret yaml file, csi-cephfs-sc works!!!

I found the doc in [ceph-csi](https://github.com/ceph/ceph-csi/tree/v3.4.0)/[docs](https://github.com/ceph/ceph-csi/tree/v3.4.0/docs)/capabilities.md
Seems there is s

[2022-05-19 15:13] Raboo commented on #1818
@drummerglen It's not resolved. So your "solution"/"resolved" is what exactly what everyone else did to work around the problem and nothing new. It's even written in the original post

It's not a solution/resolution to run as admin/superuser/god-mode, it's just a temporary work-around.
Privilege separation is there for a reason, mainly to reduce the risk of malicious abuse or errors made by code o

[2022-05-20 21:01] #2982 closed, assigned to nobody

[2022-05-20 21:01] #2969 closed, assigned to nobody

[2022-05-20 21:01] #2915 closed, assigned to nobody

[2022-05-23 15:00] drummerglen commented on #1818
@Raboo Oops, sorry I didn't read every comment. May I ask if any version has resolved this issue?

[2022-05-24 10:03] Raboo commented on #1818
@drummerglen no I don't think so. It seems very hard to figure out why this is happening and probably doesn't affect the majority of the users.

[2022-05-24 10:55] drummerglen commented on #1818
@Raboo My ceph cluster was deployed by cephadm running on docker. I have no idea if it is the problem.

[2022-05-25 05:29] Madhu-1 commented on #3111
@Yuggupta27 PTAL

[2022-05-26 05:15] Rakshith-R opened #3135 "rbd: k8s 1.24 changes wrt to sa secrets may affect vault tenant sa encryption."
From [k8s 1.24 release notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md#no-really-you-must-read-this-before-you-upgrade-1)
---

We may have to implement another extra step to use this instead

I'll update the issue after testing with k8s 1.24

[2022-05-26 06:04] Madhu-1 commented on #3103
@yati1998 PTAL

[2022-05-26 06:14] humblec opened #3137 "Revisit unwanted permissions ( RBAC) allocated for CSI driver and sidecar PODs"
# Describe the bug #

We have been flexible and opened some extra permissions for the PODs while running in the cluster.. Its also a security issue which we have to address by restricting only required permissions for the driver PODs and sidecar PODs.

Making it more secure has some efforts beyond RBAC like revisiting the mounts and capabiliies...etc

This track the enhancements in detail for this

[2022-05-26 06:27] Madhu-1 commented on #3137
@humblec isnt duplicate of https://github.com/ceph/ceph-csi/issues/3018?

[2022-05-26 06:41] humblec commented on #3137
it can be part of it, added that to the descrition ..  that said, the mounts/capabilities.. etc are also has to be revisited..

[2022-05-26 21:01] #3000 closed, assigned to nobody

[2022-05-27 04:29] Madhu-1 opened #3140 "Cephfs: Log clone failure details"
At cephcsi, we are not logging the details of failure when a clone is in the failed state. Cephfs recently added more [details](https://docs.ceph.com/en/quincy/cephfs/fs-volumes/) about clone failures. This issue is to track the changes required to log failure details if clone fails

[code]
[code]

The reason for a clone failure is shown as below:
[code]

Sample output of a failed clone operation:

[2022-05-30 06:10] Rakshith-R commented on #2901
This issue is fixed in https://github.com/ceph/ceph-csi/pull/3066.

[2022-05-30 06:10] #2901 closed, assigned to Rakshith-R

[2022-06-01 05:21] Madhu-1 opened #3147 "cephfs: failed to create pvc from snapshot"
* During the Snapshot creation operation we return the parent PVC size in the snapshot and create a response, Whenever a PVC is requested to create from the snapshot we have a check-in external snapshotter to make sure the user is not requesting to create a small size PVC than the snapshot -> We have a problem here, even though the snapshot size is smaller we are expecting the user to create the r

[2022-06-01 05:22] Madhu-1 commented on #3147
Thanks to @gman0 for helping to find this one.

[2022-06-01 15:31] gman0 opened #3153 "cephfs: GetCephFSNetNamespaceFilePath fails if config.json is missing"
# Describe the bug #

`GetCephFSNetNamespaceFilePath` fails if `config.json` (supplied by `ceph-csi-config` ConfigMap) is missing. Specifically, the code shown below expects the config to be there:

https://github.com/ceph/ceph-csi/blob/2655d2edca323c94d25bd64b44306d7997921fe0/internal/cephfs/nodeserver.go#L129-L134

https://github.com/ceph/ceph-csi/blob/2655d2edca323c94d25bd64b44306d7997921fe0/in

[2022-06-01 15:35] Madhu-1 commented on #3153
it should be per ceph cluster as different ceph clusters might be running in different networks (multus). i will take a look at it.

[2022-06-02 05:41] Madhu-1 commented on #3153
@gman0 this is only affected for the pre-provisioned cephfs volumes (a special case that doesn't have clusterID in volume context) not for the static or dynamic provisioned volume. #3154 should fix it. can you please check

[2022-06-02 17:36] Madhu-1 commented on #2238
@gman0 can you please check do we have this problem for shallow cephfs pvc? Just making sure we are good.

[2022-06-02 17:41] gman0 commented on #2238
@Madhu-1 sure, I'll give it a go tomorrow.

[2022-06-03 07:25] #3153 closed, assigned to Madhu-1

[2022-06-06 05:51] Madhu-1 commented on #2238
I tested this one with shallow support PR i don't see any issue. good to get some confirmation on this one.

[2022-06-06 10:34] gman0 commented on #2238
@Madhu-1

[code]

[code]

* ceph version 16.2.9 (4c3647a322c0ff5a1dd2344e039859dcbd28c830) pacific (stable)
* k8s 1.23.4

Deleting both Pods seems to work fine, and I couldn't find the error message from the original post in kubelet logs.

[2022-06-06 10:35] Madhu-1 commented on #2238
@gman0 Thanks for confirming :rocket:

[2022-06-06 12:35] Madhu-1 commented on #2901
@Rakshith-R cloning across pools(different SC) is verified?

[2022-06-07 05:01] Rakshith-R commented on #2901
no, Its not verified yet.

[2022-06-07 05:02] Rakshith-R opened #3165 "[Tracker] Verify cloning/restoring across different SC"
_Originally posted by @Madhu-1 in https://github.com/ceph/ceph-csi/issues/2901#issuecomment-1147399925_

[2022-06-07 05:05] Madhu-1 commented on #3165
Verify clone/Restore to a different SC than the parent PVC SC for the below cases

# Cephfs
* Cloning across filesystem (less priority) as in most of  the system the filesystem remains same
* Cloning across subvolume groups

# RBD
* Cloning across pools
* Cloning across rados namespaces.

[2022-06-07 11:26] Madhu-1 opened #3166 "[cephfs] stale subvolumes in the CI run"
Looks like we got a bug? logs at https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.23/detail/mini-e2e_k8s-1.23/1899/pipeline

_Originally posted by @Madhu-1 in https://github.com/ceph/ceph-csi/issues/3148#issuecomment-1148537147_

[2022-06-07 12:56] iceman91176 opened #3167 "Helm option to to enable host networking for provisioner (hostNetwork: true)"
# Describe the feature you'd like to have #

Currently the ceph-csi-rbd-provisioner is running on a pod-network which is problematic if the CEPH-Network is not reachable from the pod-network, but only from the host-network. While this might not be an issue with solutions like rook, it is a problem in our deployment (historically our podNetwork is IPv4 only, while Ceph is IPv6, and migrating to a D

[2022-06-07 13:02] Madhu-1 commented on #3167
@iceman91176 PR's are welcome if you want to  add support for it.

[2022-06-08 16:24] #2973 closed, assigned to pkalever

[2022-06-09 04:39] Madhu-1 opened #3169 "Release 3.6.2 plan"
This issue is to track the 3.6.2 release which includes bugfixes backported to the release-3.6 branch

backported PR's list

- [ ] https://github.com/ceph/ceph-csi/pull/3065
- [ ] https://github.com/ceph/ceph-csi/pull/3067
- [ ] https://github.com/ceph/ceph-csi/pull/3087
- [ ] https://github.com/ceph/ceph-csi/pull/3089
- [ ] https://github.com/ceph/ceph-csi/pull/3099
- [ ] https://github.com/ceph/

[2022-06-09 06:25] nixpanic commented on #3169
All listed PRs are merged already, are there any backports outstanding?

I also would not call it "enhancements", minor updates only receive bugfixes, not new features.

[2022-06-09 06:27] Madhu-1 commented on #3169
Nothing is pending we can do a release today also if everyone is fine.

It's a typo it's bug fixes only.

[2022-06-09 06:43] Madhu-1 opened #3171 "Add script to update sidecar/cephcsi version in all required files."
Based on the version specified in the build.env we need a script to update all the required files. this helps to reduce the burden. we don't need to worry about missing updates in some places. Currently, it's difficult to track which files need updates when a version is updated.

[2022-06-09 12:53] Madhu-1 commented on #3169
Closing as cephcsi 3.6.2 is available.

[2022-06-09 12:53] #3169 closed, assigned to nobody

[2022-06-09 18:59] #3124 closed, assigned to Madhu-1

[2022-06-10 03:51] humblec opened #3175 "Storagecapacity tracking feature support for Ceph CSI driver"
# Describe the feature you'd like to have #

In kubernetes v1.24 the CSIStoageCapacity feature has been moved to GA. This allows us to work on a stable API to support capacity tracking aware scheduling with Ceph CSI drivers. Even for NAS storage this could help ( for ex high-speed network for data transfer inside a single data center) or regulatory reasons (data must only be stored and processed i

[2022-06-13 10:24] Rakshith-R opened #3176 "rbd: rbd-nbd is not used as mounter in k8s 1.24"
https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e-helm_k8s-1.24/detail/mini-e2e-helm_k8s-1.24/18/pipeline/
https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e_k8s-1.24/detail/mini-e2e_k8s-1.24/19/pipeline

@pkalever , rbd nbd tests are failing
[code]

_Originally posted by @Rakshith-R in https://github.com/ceph/ceph-csi/issues/3174#

[2022-06-14 05:21] Madhu-1 opened #3181 "Use struct Logging"
Use struct logging which is present in klog v2, Refer  https://kubernetes.io/blog/2022/05/25/contextual-logging/ for more details.
This helps in debugging.

[2022-06-14 05:32] Rakshith-R opened #3182 "nfs: Add nodeserver for nfs node operation within cephcsi"
# Describe the feature you'd like to have #

Create a new nfsplugin nodeserver with cephcsi

# What is the value to the end user? (why is it a priority?) #

This will help support the following :
- pod networking
- filesystem encryption?
- probably moving nfs server ip to configmap
- we'll also be reusing a lot of code from within cephcsi for this

# How will we know we have a good solution? (acce

[2022-06-14 05:35] Madhu-1 commented on #3182
Am fine having it in cephcsi we already have a controller plugin for NFS.

[2022-06-14 05:39] yati1998 commented on #3182
+1 to @Madhu-1

[2022-06-14 06:44] Madhu-1 commented on #3147
Looks like we might not get size details in `ceph fs subvolume snapshot info` and it's already buggy. am removing the extra check for size in cephfs PVC restore.

[2022-06-14 08:44] Rakshith-R commented on #3147
removing the check sounds good to me, as disucssed in standup call we had

[2022-06-15 05:25] Madhu-1 opened #3184 "update external-provisioner to 3.2.0"
We have a new 3.2.0 release of external-provisioner, release notes https://github.com/kubernetes-csi/external-provisioner/releases/tag/v3.2.0. we need to update the template and see do we need to enable any feature gates for new features/fixes.

[2022-06-15 09:52] pkalever opened #3187 "CI: Hit OMAP leak"
# Describe the bug #

[code]
[Download log.txt](https://github.com/ceph/ceph-csi/files/8908108/log.txt)

https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/organizations/jenkins/mini-e2e-helm_k8s-1.23/detail/mini-e2e-helm_k8s-1.23/2112/pipeline
https://jenkins-ceph-csi.apps.ocp.ci.centos.org/blue/rest/organizations/jenkins/pipelines/mini-e2e-helm_k8s-1.23/runs/2112/nodes/99/log/?start=0

Origina

[2022-06-15 13:38] pkalever opened #3188 "Suggest CSI spec for ControllerGetVolumeRequest{}"
# Describe the feature you'd like to have #

https://github.com/container-storage-interface/spec/blob/master/spec.md#controllergetvolume
ControllerGetVolumeRequest{} only carries volume_id, for example without a secret we cannot access the ceph cluster, CSI spec might need a tweak

[2022-06-15 13:43] pkalever commented on #3188
Will open one in https://github.com/container-storage-interface/spec, closing this for now.

[2022-06-15 13:43] #3188 closed, assigned to nobody

[2022-06-16 05:57] humblec commented on #2736
@Madhu-1 shall we move this from 3.7 too ?

[2022-06-16 06:00] humblec commented on #2015
@yati1998 is this something we are making progress ? if yes, please feel free to link , I was looking into this partially and PRs like #3156 were a start, however I am doubtful that the pending tests will be able to bring up soon on at 3.7 which is planned at end of this month. Unless there is something which you are already working on, I would like to propose to move this out of 3.7.

[2022-06-16 06:02] humblec commented on #3182
@Rakshith-R can you please revisit this issue wrt release 3.7 planned at end of this month? and adjust the milestone tracker?

[2022-06-16 06:07] humblec commented on #2637
go-ceph v0.16.0 ( the recent release ) whcih is the base for 3.7 dont have this functionality. so , moving the milestone to 3.8 https://github.com/ceph/ceph-csi/milestone/15

[2022-06-16 06:11] humblec opened #3190 "Make use of latest Sidecars, Rook, Go-Ceph and kube 1.24 release ... for v3.7 of CSI driver"
# Describe the bug #

Tracker issue to make sure we are with updated sidecars and kube dependencies

#3184
#3170
#3189
#3185
#3101
#3186
#3130

[2022-06-16 06:15] yati1998 commented on #2015
Yes, I am working on this by side, but facing issues to run tests locally. Will try to get something for 3.7, but still not sure. I will link once I have something. Hope that's fine.

[2022-06-16 06:16] humblec commented on #2003
v1.0.0 of iscsi csi-driver is yet to be available https://github.com/kubernetes-csi/csi-driver-iscsi/ . keeping this issue tracker for 3.8

[2022-06-16 06:18] humblec commented on #2015
Sure, please adjust the tracker accordingly, we have a week more atleast.

[2022-06-16 09:44] #2142 closed, assigned to gman0

[2022-06-16 15:46] BlaineEXE commented on #3182
It's unclear what are the shortcomings of the existing NFS driver. I think it would be useful to have a problem statement and not only a statement of benefit. We want to make sure this work is (1) good work to do, and (2) something we should be prioritizing.

[2022-06-17 11:38] #3135 closed, assigned to Rakshith-R

[2022-06-19 21:01] #2962 closed, assigned to nobody

[2022-06-20 09:41] gregory112 opened #3192 "Verifying that mount options work (mount options not in mtab)"
# Describe the bug #

I am trying to add additional mount options to ceph-csi cephfs mount. The background: the environment in which Ceph and Nomad are running is quite unreliable (slow network and disk I/O) so mounts often fail. I am still troubleshooting many different issues one by one in order to increase reliability as there are a lot of cases when the volume just hangs (unable to be accessed

[2022-06-21 07:36] nixpanic commented on #3140
The go-ceph change has been merged and part of the latest release. This can now be taken up.

[2022-06-21 11:35] pkalever opened #3200 "improve nodeGetVolumeStats for VOLUME_CONDITION Cap"
# Describe the feature you'd like to have #

Original discussion is available at https://github.com/ceph/ceph-csi/pull/2833#discussion_r798356559

**File system volumes**
We should detect the accessMode from the mounts ReadOnly/ReadWrite. When trying to read from mounts, if the mounts turn into read-only because of IO errors, we will get wrong information, but that is a corner case that we will ha

[2022-06-22 05:42] humblec commented on #3171
Agree.. let me try to push something which can help here.. taking this issue

[2022-06-22 05:43] Madhu-1 commented on #3171
Thanks @humblec

[2022-06-22 06:41] nixpanic commented on #3171
Maybe dependabot can be configured to check for updated container images, somehow?

[2022-06-22 08:00] cl51287 commented on #1819
@Madhu-1 I found that 3.6.0 already supports fuse remounting, has this problem been solved? In addition, does rbd-nbd also support this feature?

[2022-06-22 08:10] Madhu-1 commented on #1819
Yes, we added support for nbd already. cc @pkalever

[2022-06-23 03:40] pkalever commented on #3176
Looks like the NodeStageVolume is failing:
[code]